{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "canonicalName": "Cloud Dataplex",
  "ownerDomain": "google.com",
  "title": "Cloud Dataplex API",
  "kind": "discovery#restDescription",
  "endpoints": [
    {
      "endpointUrl": "https://dataplex.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://dataplex.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataplex.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://dataplex.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://dataplex.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://dataplex.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://dataplex.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataplex.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://dataplex.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.europe-central2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north1",
      "endpointUrl": "https://dataplex.europe-north1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://dataplex.europe-north2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataplex.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataplex.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://dataplex.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://dataplex.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://dataplex.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://dataplex.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataplex.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataplex.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://dataplex.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataplex.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://dataplex.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataplex.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://dataplex.northamerica-south1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://dataplex.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://dataplex.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataplex.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://dataplex.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://dataplex.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://dataplex.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://dataplex.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataplex.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.us-west8.rep.googleapis.com/"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataplex.eu.rep.googleapis.com/"
    }
  ],
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    }
  },
  "ownerName": "Google",
  "revision": "20260227",
  "description": "A unified, intelligent governance solution for data and AI assets.",
  "baseUrl": "https://dataplex.googleapis.com/",
  "version": "v1",
  "name": "dataplex",
  "fullyEncodeReservedExpansion": true,
  "id": "dataplex:v1",
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "rootUrl": "https://dataplex.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "GoogleCloudDataplexV1ListSessionsResponse": {
      "description": "List sessions response.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "sessions": {
          "description": "Sessions under a given environment.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Session"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1ListSessionsResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanEventDataProfileResult": {
      "type": "object",
      "properties": {
        "rowCount": {
          "description": "The count of rows processed in the data scan job.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDataplexV1DataScanEventDataProfileResult",
      "description": "Data profile result for data scan job."
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatus": {
      "properties": {
        "stats": {
          "description": "Data Stats of the asset reported by discovery.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "IN_PROGRESS",
            "PAUSED",
            "DISABLED"
          ],
          "type": "string",
          "description": "The current status of the discovery feature.",
          "enumDescriptions": [
            "State is unspecified.",
            "Discovery for the asset is scheduled.",
            "Discovery for the asset is running.",
            "Discovery for the asset is currently paused (e.g. due to a lack of available resources). It will be automatically resumed.",
            "Discovery for the asset is disabled."
          ]
        },
        "lastRunDuration": {
          "description": "The duration of the last discovery run.",
          "format": "google-duration",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Additional information about the current state."
        },
        "lastRunTime": {
          "type": "string",
          "description": "The start time of the last discovery run.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Last update time of the status.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatus",
      "description": "Status of discovery for an asset."
    },
    "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility": {
      "id": "GoogleCloudDataplexV1EntityCompatibilityStatusCompatibility",
      "description": "Provides compatibility information for a specific metadata store.",
      "properties": {
        "reason": {
          "description": "Output only. Provides additional detail if the entity is incompatible with the metadata store.",
          "readOnly": true,
          "type": "string"
        },
        "compatible": {
          "description": "Output only. Whether the entity is compatible and can be represented in the metadata store.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost."
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudDataplexV1TaskSparkTaskConfig": {
      "type": "object",
      "description": "User-specified config for running a Spark task.",
      "id": "GoogleCloudDataplexV1TaskSparkTaskConfig",
      "properties": {
        "infrastructureSpec": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec",
          "description": "Optional. Infrastructure specification for the execution."
        },
        "archiveUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array"
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "items": {
            "type": "string"
          }
        },
        "pythonScriptFile": {
          "type": "string",
          "description": "The Gcloud Storage URI of the main Python file to use as the driver. Must be a .py file. The execution args are passed in as a sequence of named process arguments (--key=value)."
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris. The execution args are passed in as a sequence of named process arguments (--key=value)."
        },
        "mainJarFileUri": {
          "description": "The Cloud Storage URI of the jar file that contains the main class. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "sqlScriptFile": {
          "type": "string",
          "description": "A reference to a query file. This should be the Cloud Storage URI of the query file. The execution args are used to declare a set of script variables (set key=\"value\";)."
        },
        "sqlScript": {
          "type": "string",
          "description": "The query text. The execution args are used to declare a set of script variables (set key=\"value\";)."
        }
      }
    },
    "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions": {
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "typeInferenceDisabled": {
          "description": "Optional. Whether to disable the inference of data types for JSON data. If true, all columns are registered as their primitive types (strings, number, or boolean).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Describes JSON data format.",
      "id": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1TaskTriggerSpec": {
      "id": "GoogleCloudDataplexV1TaskTriggerSpec",
      "type": "object",
      "properties": {
        "maxRetries": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of retry attempts before aborting. Set to zero to never attempt to retry a failed task."
        },
        "startTime": {
          "type": "string",
          "description": "Optional. The first run of the task will be after this time. If not specified, the task will run shortly after being submitted if ON_DEMAND and based on the schedule if RECURRING.",
          "format": "google-datetime"
        },
        "disabled": {
          "description": "Optional. Prevent the task from executing. This does not cancel already running tasks. It is intended to temporarily disable RECURRING tasks.",
          "type": "boolean"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running tasks periodically. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *. This field is required for RECURRING tasks.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified trigger type.",
            "The task runs one-time shortly after Task Creation.",
            "The task is scheduled to run periodically."
          ],
          "description": "Required. Immutable. Trigger type of the user-specified Task.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "RECURRING"
          ],
          "type": "string"
        }
      },
      "description": "Task scheduling and trigger settings."
    },
    "GoogleCloudDataplexV1MetadataFeedScope": {
      "type": "object",
      "properties": {
        "entryGroups": {
          "description": "Optional. The entry groups whose entries you want to listen to. Must be in the format: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organizationLevel": {
          "description": "Optional. Whether the metadata feed is at the organization-level. If true, all changes happened to the entries in the same organization as the feed are published. If false, you must specify a list of projects or a list of entry groups whose entries you want to listen to.The default is false.",
          "type": "boolean"
        },
        "projects": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The projects whose entries you want to listen to. Must be in the same organization as the feed. Must be in the format: projects/{project_id_or_number}.",
          "type": "array"
        }
      },
      "description": "Scope defines the scope of the metadata feed. Scopes are exclusive. Only one of the scopes can be specified.",
      "id": "GoogleCloudDataplexV1MetadataFeedScope"
    },
    "GoogleCloudDataplexV1DataAttributeBinding": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the DataAttributeBinding was created."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Etags must be used when calling the DeleteDataAttributeBinding and the UpdateDataAttributeBinding method."
        },
        "paths": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBindingPath"
          },
          "type": "array",
          "description": "Optional. The list of paths for items within the associated resource (eg. columns and partitions within a table) along with attribute bindings."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the DataAttributeBinding."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "attributes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of attributes to be associated with the resource, provided in the form: projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}"
        },
        "resource": {
          "description": "Optional. Immutable. The resource name of the resource that is associated to attributes. Presently, only entity resource is supported in the form: projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/entities/{entity_id} Must belong in the same project and region as the attribute binding, and there can only exist one active binding for a resource.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the DataAttributeBinding was last updated."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the DataAttributeBinding. This ID will be different if the DataAttributeBinding is deleted and re-created with the same name."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the DataAttributeBinding.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the Data Attribute Binding, of the form: projects/{project_number}/locations/{location}/dataAttributeBindings/{data_attribute_binding_id}",
          "readOnly": true
        }
      },
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudDataplexV1DataAttributeBinding",
      "description": "DataAttributeBinding represents binding of attributes to resources. Eg: Bind 'CustomerInfo' entity with 'PII' attribute."
    },
    "GoogleCloudDataplexV1DataDocumentationResultSchema": {
      "properties": {
        "fields": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultField"
          },
          "readOnly": true,
          "description": "Output only. The list of columns.",
          "type": "array"
        }
      },
      "description": "Schema of the table with generated metadata of columns.",
      "id": "GoogleCloudDataplexV1DataDocumentationResultSchema",
      "type": "object"
    },
    "GoogleCloudDataplexV1StorageAccess": {
      "description": "Describes the access mechanism of the data within its storage location.",
      "type": "object",
      "properties": {
        "read": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "type": "string",
          "description": "Output only. Describes the read access mechanism of the data. Not user settable."
        }
      },
      "id": "GoogleCloudDataplexV1StorageAccess"
    },
    "GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope": {
      "description": "The scope of the export job.",
      "properties": {
        "aspectTypes": {
          "description": "The aspect types that are in scope for the export job, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/aspectTypes/{aspect_type_id}. Only aspects that belong to the specified aspect types are affected by the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "organizationLevel": {
          "description": "Whether the metadata export job is an organization-level export job. If true, the job exports the entries from the same organization and VPC Service Controls perimeter as the job. The project that the job belongs to determines the VPC Service Controls perimeter. If you set the job scope to be at the organization level, then don't provide a list of projects or entry groups. If false, you must specify a list of projects or a list of entry groups whose entries you want to export.The default is false.",
          "type": "boolean"
        },
        "entryTypes": {
          "description": "The entry types that are in scope for the export job, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/entryTypes/{entry_type_id}. Only entries that belong to the specified entry types are affected by the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entryGroups": {
          "description": "The entry groups whose metadata you want to export, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}. Only the entries in the specified entry groups are exported.The entry groups must be in the same location and the same VPC Service Controls perimeter as the job.If you set the job scope to be a list of entry groups, then set the organization-level export flag to false and don't provide a list of projects.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "projects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The projects whose metadata you want to export, in the format projects/{project_id_or_number}. Only the entries from the specified projects are exported.The projects must be in the same organization and VPC Service Controls perimeter as the job.If you set the job scope to be a list of projects, then set the organization-level export flag to false and don't provide a list of entry groups."
        }
      },
      "id": "GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope",
      "type": "object"
    },
    "GoogleCloudDataplexV1TriggerOneTime": {
      "description": "The scan runs once using create API.",
      "id": "GoogleCloudDataplexV1TriggerOneTime",
      "properties": {
        "ttlAfterScanCompletion": {
          "description": "Optional. Time to live for OneTime scans. default value is 24 hours, minimum value is 0 seconds, and maximum value is 365 days. The time is calculated from the data scan job completion time. If value is set as 0 seconds, the scan will be immediately deleted upon job completion, regardless of whether the job succeeded or failed.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1ListEnvironmentsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "environments": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Environment"
          },
          "type": "array",
          "description": "Environments under the given parent lake."
        }
      },
      "id": "GoogleCloudDataplexV1ListEnvironmentsResponse",
      "description": "List environments response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsJobEndTrigger": {
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsJobEndTrigger",
      "properties": {},
      "type": "object",
      "description": "This trigger is triggered whenever a scan job run ends, regardless of the result."
    },
    "GoogleCloudDataplexV1EntryLink": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Identifier. The relative resource name of the Entry Link, of the form: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entryLinks/{entry_link_id}"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the Entry Link was last updated."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Entry Link was created."
        },
        "aspects": {
          "description": "Optional. The aspects that are attached to the entry link. The format of the aspect key has to be the following: {project_id_or_number}.{location_id}.{aspect_type_id} Currently, only a single aspect of a Dataplex-owned Aspect Type is allowed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1Aspect"
          }
        },
        "entryLinkType": {
          "type": "string",
          "description": "Required. Immutable. Relative resource name of the Entry Link Type used to create this Entry Link. For example: Entry link between synonym terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/synonym Entry link between related terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/related Entry link between glossary terms and data assets: projects/dataplex-types/locations/global/entryLinkTypes/definition"
        },
        "entryReferences": {
          "type": "array",
          "description": "Required. Immutable. Specifies the Entries referenced in the Entry Link. There should be exactly two entry references.",
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryLinkEntryReference"
          }
        }
      },
      "id": "GoogleCloudDataplexV1EntryLink",
      "description": "EntryLink represents a link between two Entries.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions": {
      "type": "object",
      "description": "Describe JSON data format.",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean).",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue",
      "type": "object",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Count of the corresponding value in the scanned data."
        },
        "value": {
          "type": "string",
          "description": "Output only. String value of a top N non-null value.",
          "readOnly": true
        },
        "ratio": {
          "format": "double",
          "type": "number",
          "description": "Output only. Ratio of the corresponding value in the field against the total number of rows in the scanned data.",
          "readOnly": true
        }
      },
      "description": "Top N non-null values in the scanned data."
    },
    "GoogleCloudDataplexV1ListJobsResponse": {
      "type": "object",
      "description": "List jobs response.",
      "id": "GoogleCloudDataplexV1ListJobsResponse",
      "properties": {
        "jobs": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Job"
          },
          "description": "Jobs under a given task.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDataplexV1MetadataJob": {
      "properties": {
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-generated, globally unique ID for the metadata job. If the metadata job is deleted and then re-created with the same name, this ID is different.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The name of the resource that the configuration is applied to, in the format projects/{project_number}/locations/{location_id}/metadataJobs/{metadata_job_id}.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "importSpec": {
          "$ref": "GoogleCloudDataplexV1MetadataJobImportJobSpec",
          "description": "Import job specification."
        },
        "exportResult": {
          "readOnly": true,
          "description": "Output only. Export job result.",
          "$ref": "GoogleCloudDataplexV1MetadataJobExportJobResult"
        },
        "status": {
          "description": "Output only. Metadata job status.",
          "$ref": "GoogleCloudDataplexV1MetadataJobStatus",
          "readOnly": true
        },
        "exportSpec": {
          "description": "Export job specification.",
          "$ref": "GoogleCloudDataplexV1MetadataJobExportJobSpec"
        },
        "type": {
          "description": "Required. Metadata job type.",
          "enumDescriptions": [
            "Unspecified.",
            "Import job.",
            "Export job."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the metadata job was created."
        },
        "importResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1MetadataJobImportJobResult",
          "description": "Output only. Import job result."
        },
        "updateTime": {
          "description": "Output only. The time when the metadata job was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A metadata job resource.",
      "type": "object",
      "id": "GoogleCloudDataplexV1MetadataJob"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsScoreThresholdTrigger": {
      "properties": {
        "scoreThreshold": {
          "type": "number",
          "description": "Optional. The score range is in 0,100.",
          "format": "float"
        }
      },
      "description": "This trigger is triggered when the DQ score in the job result is less than a specified input score.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsScoreThresholdTrigger"
    },
    "GoogleCloudDataplexV1TriggerSchedule": {
      "id": "GoogleCloudDataplexV1TriggerSchedule",
      "properties": {
        "cron": {
          "description": "Required. Cron (https://en.wikipedia.org/wiki/Cron) schedule for running scans periodically.To explicitly set a timezone in the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database (wikipedia (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List)). For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.This field is required for Schedule scans.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The scan is scheduled to run periodically."
    },
    "GoogleCloudDataplexV1ScannedData": {
      "properties": {
        "incrementalField": {
          "description": "The range denoted by values of an incremental field",
          "$ref": "GoogleCloudDataplexV1ScannedDataIncrementalField"
        }
      },
      "description": "The data scanned during processing (e.g. in incremental DataScan)",
      "id": "GoogleCloudDataplexV1ScannedData",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListLakesResponse": {
      "properties": {
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "lakes": {
          "description": "Lakes under the given parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Lake"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "List lakes response.",
      "type": "object",
      "id": "GoogleCloudDataplexV1ListLakesResponse"
    },
    "GoogleCloudDataplexV1GovernanceEvent": {
      "description": "Payload associated with Governance related log events.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "An unspecified event type.",
            "Resource IAM policy update event.",
            "BigQuery table create event.",
            "BigQuery table update event.",
            "BigQuery table delete event.",
            "BigQuery connection create event.",
            "BigQuery connection update event.",
            "BigQuery connection delete event.",
            "BigQuery taxonomy created.",
            "BigQuery policy tag created.",
            "BigQuery policy tag deleted.",
            "BigQuery set iam policy for policy tag.",
            "Access policy update event.",
            "Number of resources matched with particular Query.",
            "Rule processing exceeds the allowed limit.",
            "Rule processing errors.",
            "Governance rule processing Event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "RESOURCE_IAM_POLICY_UPDATE",
            "BIGQUERY_TABLE_CREATE",
            "BIGQUERY_TABLE_UPDATE",
            "BIGQUERY_TABLE_DELETE",
            "BIGQUERY_CONNECTION_CREATE",
            "BIGQUERY_CONNECTION_UPDATE",
            "BIGQUERY_CONNECTION_DELETE",
            "BIGQUERY_TAXONOMY_CREATE",
            "BIGQUERY_POLICY_TAG_CREATE",
            "BIGQUERY_POLICY_TAG_DELETE",
            "BIGQUERY_POLICY_TAG_SET_IAM_POLICY",
            "ACCESS_POLICY_UPDATE",
            "GOVERNANCE_RULE_MATCHED_RESOURCES",
            "GOVERNANCE_RULE_SEARCH_LIMIT_EXCEEDS",
            "GOVERNANCE_RULE_ERRORS",
            "GOVERNANCE_RULE_PROCESSING"
          ],
          "type": "string",
          "description": "The type of the event."
        },
        "entity": {
          "$ref": "GoogleCloudDataplexV1GovernanceEventEntity",
          "description": "Entity resource information if the log event is associated with a specific entity."
        }
      },
      "id": "GoogleCloudDataplexV1GovernanceEvent"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork": {
      "description": "Cloud VPC Network used to run the infrastructure.",
      "properties": {
        "networkTags": {
          "type": "array",
          "description": "Optional. List of network tags to apply to the job.",
          "items": {
            "type": "string"
          }
        },
        "network": {
          "description": "Optional. The Cloud VPC network in which the job is run. By default, the Cloud VPC network named Default within the project is used.",
          "type": "string"
        },
        "subNetwork": {
          "type": "string",
          "description": "Optional. The Cloud VPC sub-network in which the job is run."
        }
      },
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
      "type": "object"
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "description": "Action details for resource references in assets that cannot be located.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataTaxonomiesResponse": {
      "id": "GoogleCloudDataplexV1ListDataTaxonomiesResponse",
      "properties": {
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "dataTaxonomies": {
          "description": "DataTaxonomies under the given parent location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataTaxonomy"
          }
        }
      },
      "description": "List DataTaxonomies response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProductAccessGroup": {
      "type": "object",
      "properties": {
        "principal": {
          "$ref": "GoogleCloudDataplexV1DataProductPrincipal",
          "description": "Required. The principal entity associated with this access group."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the access group."
        },
        "id": {
          "description": "Required. Unique identifier of the access group within the data product. User defined. Eg. \"analyst\", \"developer\", etc.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. User friendly display name of the access group. Eg. \"Analyst\", \"Developer\", etc."
        }
      },
      "id": "GoogleCloudDataplexV1DataProductAccessGroup",
      "description": "Custom user defined access groups at the data product level. These are used for granting different levels of access (IAM roles) on the individual data product's data assets."
    },
    "GoogleCloudDataplexV1DataQualityRuleSetExpectation": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. Expected values for the column value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Evaluates whether each column value is contained by a specified set.",
      "id": "GoogleCloudDataplexV1DataQualityRuleSetExpectation"
    },
    "GoogleCloudDataplexV1AssetResourceStatus": {
      "description": "Status of the resource referenced by an asset.",
      "id": "GoogleCloudDataplexV1AssetResourceStatus",
      "properties": {
        "managedAccessIdentity": {
          "description": "Output only. Service account associated with the BigQuery Connection.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Resource does not have any errors.",
            "Resource has errors."
          ],
          "description": "The current state of the managed resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "ERROR"
          ]
        },
        "message": {
          "type": "string",
          "description": "Additional information about the current state."
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1EnvironmentInfrastructureSpecComputeResources": {
      "type": "object",
      "description": "Compute resources associated with the analyze interactive workloads.",
      "id": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecComputeResources",
      "properties": {
        "maxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Max configurable nodes. If max_node_count > node_count, then auto-scaling is enabled."
        },
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Total number of nodes in the sessions created for this environment."
        },
        "diskSizeGb": {
          "format": "int32",
          "description": "Optional. Size in GB of the disk. Default is 100 GB.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileSpecSelectedFields": {
      "description": "The specification for fields to include or exclude in data profile scan.",
      "id": "GoogleCloudDataplexV1DataProfileSpecSelectedFields",
      "type": "object",
      "properties": {
        "fieldNames": {
          "description": "Optional. Expected input is a list of fully qualified names of fields as in the schema.Only top-level field names for nested fields are supported. For instance, if 'x' is of nested field type, listing 'x' is supported but 'x.y.z' is not supported. Here 'y' and 'y.z' are nested fields of 'x'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDataplexV1Zone": {
      "type": "object",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the zone. This ID will be different if the zone is deleted and re-created with the same name."
        },
        "discoverySpec": {
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpec",
          "description": "Optional. Specification of the discovery feature applied to data in this zone."
        },
        "name": {
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the zone was created.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "RAW",
            "CURATED"
          ],
          "description": "Required. Immutable. The type of the zone.",
          "enumDescriptions": [
            "Zone type not specified.",
            "A zone that contains data that needs further processing before it is considered generally ready for consumption and analytics workloads.",
            "A zone that contains data that is considered to be ready for broader consumption and analytics workloads. Curated structured data stored in Cloud Storage must conform to certain file formats (parquet, avro and orc) and organized in a hive-compatible directory layout."
          ],
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the zone was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "assetStatus": {
          "readOnly": true,
          "description": "Output only. Aggregated status of the underlying assets of the zone.",
          "$ref": "GoogleCloudDataplexV1AssetStatus"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User defined labels for the zone."
        },
        "resourceSpec": {
          "description": "Required. Specification of the resources that are referenced by the assets within this zone.",
          "$ref": "GoogleCloudDataplexV1ZoneResourceSpec"
        },
        "description": {
          "description": "Optional. Description of the zone.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. Current state of the zone."
        }
      },
      "id": "GoogleCloudDataplexV1Zone",
      "description": "A zone represents a logical group of related assets within a lake. A zone can be used to map to organizational structure or represent stages of data readiness from raw to curated. It provides managing behavior that is shared or inherited by all contained assets."
    },
    "GoogleCloudDataplexV1AssetResourceSpec": {
      "description": "Identifies the cloud resource that is referenced by this asset.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STORAGE_BUCKET",
            "BIGQUERY_DATASET"
          ],
          "enumDescriptions": [
            "Type not specified.",
            "Cloud Storage bucket.",
            "BigQuery dataset."
          ],
          "description": "Required. Immutable. Type of resource.",
          "type": "string"
        },
        "readAccessMode": {
          "description": "Optional. Determines how read permissions are handled for each asset and their associated tables. Only available to storage buckets assets.",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ]
        },
        "name": {
          "description": "Immutable. Relative name of the cloud resource that contains the data that is being managed within a lake. For example: projects/{project_number}/buckets/{bucket_id} projects/{project_number}/datasets/{dataset_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1AssetResourceSpec"
    },
    "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult": {
      "type": "object",
      "description": "The result of post scan actions of DataQualityScan job.",
      "id": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult",
      "properties": {
        "bigqueryExportResult": {
          "$ref": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult",
          "readOnly": true,
          "description": "Output only. The result of BigQuery export post scan action."
        }
      }
    },
    "GoogleCloudDataplexV1ListDataProductsResponse": {
      "description": "Response message for listing data products.",
      "id": "GoogleCloudDataplexV1ListDataProductsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that the service couldn't reach."
        },
        "dataProducts": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProduct"
          },
          "type": "array",
          "description": "The data products for the requested filter criteria."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is empty, then there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetStatus": {
      "type": "object",
      "description": "Aggregated status of the underlying assets of a lake or zone.",
      "id": "GoogleCloudDataplexV1AssetStatus",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Last update time of the status.",
          "format": "google-datetime"
        },
        "securityPolicyApplyingAssets": {
          "description": "Number of assets that are in process of updating the security policy on attached resources.",
          "format": "int32",
          "type": "integer"
        },
        "activeAssets": {
          "description": "Number of active assets.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDataplexV1DataDiscoveryResultScanStatistics": {
      "properties": {
        "scannedFileCount": {
          "format": "int32",
          "description": "The number of files scanned.",
          "type": "integer"
        },
        "filesetsDeleted": {
          "format": "int32",
          "description": "The number of filesets deleted.",
          "type": "integer"
        },
        "filesetsCreated": {
          "format": "int32",
          "type": "integer",
          "description": "The number of filesets created."
        },
        "filesExcluded": {
          "description": "The number of files excluded.",
          "type": "integer",
          "format": "int32"
        },
        "tablesDeleted": {
          "description": "The number of tables deleted.",
          "type": "integer",
          "format": "int32"
        },
        "tablesCreated": {
          "description": "The number of tables created.",
          "format": "int32",
          "type": "integer"
        },
        "tablesUpdated": {
          "format": "int32",
          "description": "The number of tables updated.",
          "type": "integer"
        },
        "dataProcessedBytes": {
          "description": "The data processed in bytes.",
          "format": "int64",
          "type": "string"
        },
        "filesetsUpdated": {
          "description": "The number of filesets updated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDataplexV1DataDiscoveryResultScanStatistics",
      "type": "object",
      "description": "Describes result statistics of a data scan discovery job."
    },
    "GoogleCloudDataplexV1Asset": {
      "description": "An asset represents a cloud resource that is being managed within a lake as a member of a zone.",
      "properties": {
        "resourceStatus": {
          "$ref": "GoogleCloudDataplexV1AssetResourceStatus",
          "readOnly": true,
          "description": "Output only. Status of the resource referenced by this asset."
        },
        "discoveryStatus": {
          "readOnly": true,
          "description": "Output only. Status of the discovery feature applied to data referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatus"
        },
        "updateTime": {
          "description": "Output only. The time when the asset was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "discoverySpec": {
          "description": "Optional. Specification of the discovery feature applied to data referenced by this asset. When this spec is left unset, the asset will use the spec set on the parent zone.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpec"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the asset. This ID will be different if the asset is deleted and re-created with the same name.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "description": "Output only. Current state of the asset.",
          "type": "string"
        },
        "resourceSpec": {
          "description": "Required. Specification of the resource that is referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetResourceSpec"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the asset."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the asset was created.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "securityStatus": {
          "$ref": "GoogleCloudDataplexV1AssetSecurityStatus",
          "description": "Output only. Status of the security policy applied to resource referenced by this asset.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User defined labels for the asset.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDataplexV1Asset",
      "type": "object"
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "properties": {
        "csvOptions": {
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions",
          "description": "Optional. Configuration for CSV data."
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
        },
        "enabled": {
          "description": "Optional. Whether discovery is enabled.",
          "type": "boolean"
        },
        "schedule": {
          "type": "string",
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes.To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *."
        },
        "excludePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includePatterns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActions": {
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActions",
      "type": "object",
      "properties": {
        "bigqueryExport": {
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport",
          "description": "Optional. If set, results will be exported to the provided BigQuery table."
        },
        "notificationReport": {
          "description": "Optional. If set, results will be sent to the provided notification receipts upon triggers.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsNotificationReport"
        }
      },
      "description": "The configuration of post scan actions of DataQualityScan."
    },
    "GoogleCloudDataplexV1EntryTypeAspectInfo": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Required aspect type for the entry type."
        }
      },
      "id": "GoogleCloudDataplexV1EntryTypeAspectInfo",
      "type": "object"
    },
    "GoogleCloudDataplexV1EntrySourceAncestor": {
      "description": "Information about individual items in the hierarchy that is associated with the data resource.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. The type of the ancestor resource."
        },
        "name": {
          "description": "Optional. The name of the ancestor resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1EntrySourceAncestor"
    },
    "GoogleCloudDataplexV1EntryGroup": {
      "type": "object",
      "properties": {
        "transferStatus": {
          "enumDescriptions": [
            "The default value. It is set for resources that were not subject for migration from Data Catalog service.",
            "Indicates that a resource was migrated from Data Catalog service but it hasn't been transferred yet. In particular the resource cannot be updated from Dataplex API.",
            "Indicates that a resource was transferred from Data Catalog service. The resource can only be updated from Dataplex API."
          ],
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "TRANSFER_STATUS_MIGRATED",
            "TRANSFER_STATUS_TRANSFERRED"
          ],
          "description": "Output only. Denotes the transfer status of the Entry Group. It is unspecified for Entry Group created from Dataplex API.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels for the EntryGroup."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the EntryGroup. If you delete and recreate the EntryGroup with the same name, this ID will be different.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the EntryGroup."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the EntryGroup, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}."
        },
        "createTime": {
          "description": "Output only. The time when the EntryGroup was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "This checksum is computed by the service, and might be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the EntryGroup was last updated.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1EntryGroup",
      "description": "An Entry Group represents a logical grouping of one or more Entries."
    },
    "GoogleCloudDataplexV1AspectType": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the AspectType was last updated.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the AspectType.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the AspectType.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "The service computes this checksum. The client may send it on update and delete requests to ensure it has an up-to-date value before proceeding.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the AspectType was created.",
          "type": "string"
        },
        "transferStatus": {
          "enumDescriptions": [
            "The default value. It is set for resources that were not subject for migration from Data Catalog service.",
            "Indicates that a resource was migrated from Data Catalog service but it hasn't been transferred yet. In particular the resource cannot be updated from Dataplex API.",
            "Indicates that a resource was transferred from Data Catalog service. The resource can only be updated from Dataplex API."
          ],
          "type": "string",
          "description": "Output only. Denotes the transfer status of the Aspect Type. It is unspecified for Aspect Types created from Dataplex API.",
          "readOnly": true,
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "TRANSFER_STATUS_MIGRATED",
            "TRANSFER_STATUS_TRANSFERRED"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the AspectType, of the form: projects/{project_number}/locations/{location_id}/aspectTypes/{aspect_type_id}.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the AspectType. If you delete and recreate the AspectType with the same name, then this ID will be different."
        },
        "dataClassification": {
          "description": "Optional. Immutable. Stores data classification of the aspect.",
          "enum": [
            "DATA_CLASSIFICATION_UNSPECIFIED",
            "METADATA_AND_DATA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Denotes that the aspect contains only metadata.",
            "Metadata and data classification."
          ]
        },
        "authorization": {
          "description": "Immutable. Defines the Authorization for this type.",
          "$ref": "GoogleCloudDataplexV1AspectTypeAuthorization"
        },
        "metadataTemplate": {
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate",
          "description": "Required. MetadataTemplate of the aspect."
        }
      },
      "description": "AspectType is a template for creating Aspects, and represents the JSON-schema for a given Entry, for example, BigQuery Table Schema.",
      "type": "object",
      "id": "GoogleCloudDataplexV1AspectType"
    },
    "GoogleCloudDataplexV1DataDiscoverySpecBigQueryPublishingConfig": {
      "description": "Describes BigQuery publishing configurations.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. The location of the BigQuery dataset to publish BigLake external or non-BigLake external tables to. 1. If the Cloud Storage bucket is located in a multi-region bucket, then BigQuery dataset can be in the same multi-region bucket or any single region that is included in the same multi-region bucket. The datascan can be created in any single region that is included in the same multi-region bucket 2. If the Cloud Storage bucket is located in a dual-region bucket, then BigQuery dataset can be located in regions that are included in the dual-region bucket, or in a multi-region that includes the dual-region. The datascan can be created in any single region that is included in the same dual-region bucket. 3. If the Cloud Storage bucket is located in a single region, then BigQuery dataset can be in the same single region or any multi-region bucket that includes the same single region. The datascan will be created in the same single region as the bucket. 4. If the BigQuery dataset is in single region, it must be in the same single region as the datascan.For supported values, refer to https://cloud.google.com/bigquery/docs/locations#supported_locations.",
          "type": "string"
        },
        "project": {
          "description": "Optional. The project of the BigQuery dataset to publish BigLake external or non-BigLake external tables to. If not specified, the project of the Cloud Storage bucket will be used. The format is \"projects/{project_id_or_number}\".",
          "type": "string"
        },
        "connection": {
          "description": "Optional. The BigQuery connection used to create BigLake tables. Must be in the form projects/{project_id}/locations/{location_id}/connections/{connection_id}",
          "type": "string"
        },
        "tableType": {
          "description": "Optional. Determines whether to publish discovered tables as BigLake external tables or non-BigLake external tables.",
          "enumDescriptions": [
            "Table type unspecified.",
            "Default. Discovered tables are published as BigQuery external tables whose data is accessed using the credentials of the user querying the table.",
            "Discovered tables are published as BigLake external tables whose data is accessed using the credentials of the associated BigQuery connection."
          ],
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "EXTERNAL",
            "BIGLAKE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataDiscoverySpecBigQueryPublishingConfig"
    },
    "GoogleCloudDataplexV1GlossaryCategory": {
      "id": "GoogleCloudDataplexV1GlossaryCategory",
      "description": "A GlossaryCategory represents a collection of GlossaryCategories and GlossaryTerms within a Glossary that are related to each other.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The user-mutable description of the GlossaryCategory."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User-defined labels for the GlossaryCategory."
        },
        "parent": {
          "description": "Required. The immediate parent of the GlossaryCategory in the resource-hierarchy. It can either be a Glossary or a GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} OR projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name of the GlossaryCategory. This is user-mutable. This will be same as the GlossaryCategoryId, if not specified.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the GlossaryCategory was created."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated unique id for the GlossaryCategory. This ID will be different if the GlossaryCategory is deleted and re-created with the same name."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the GlossaryCategory was last updated."
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions": {
      "description": "Describe CSV and similar semi-structured data formats.",
      "properties": {
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "type": "integer",
          "format": "int32"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter being used to separate values. This defaults to ','."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions"
    },
    "GoogleCloudDataplexV1SearchEntriesResultSnippets": {
      "id": "GoogleCloudDataplexV1SearchEntriesResultSnippets",
      "properties": {
        "dataplexEntry": {
          "$ref": "GoogleCloudDataplexV1Entry",
          "description": "Entry",
          "deprecated": true
        }
      },
      "deprecated": true,
      "type": "object",
      "description": "Snippets for the entry, contains HTML-style highlighting for matched tokens, will be used in UI."
    },
    "GoogleCloudDataplexV1GovernanceEventEntity": {
      "properties": {
        "entity": {
          "type": "string",
          "description": "The Entity resource the log event is associated with. Format: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}"
        },
        "entityType": {
          "type": "string",
          "description": "Type of entity.",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "enumDescriptions": [
            "An unspecified Entity type.",
            "Table entity type.",
            "Fileset entity type."
          ]
        }
      },
      "id": "GoogleCloudDataplexV1GovernanceEventEntity",
      "description": "Information about Entity resource that the log event is associated with.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Action": {
      "properties": {
        "invalidDataOrganization": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
          "description": "Details for issues related to invalid data arrangement."
        },
        "category": {
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ],
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "description": "The category of issue associated with the action."
        },
        "invalidDataPartition": {
          "description": "Details for issues related to invalid or unsupported data partition structure.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition"
        },
        "unauthorizedResource": {
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource",
          "description": "Details for issues related to lack of permissions to access data resources."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the action, of the form: projects/{project}/locations/{location}/lakes/{lake}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/assets/{asset}/actions/{action}."
        },
        "issue": {
          "description": "Detailed description of the issue requiring action.",
          "type": "string"
        },
        "asset": {
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "type": "string",
          "readOnly": true
        },
        "failedSecurityPolicyApply": {
          "description": "Details for issues related to applying security policy.",
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
        },
        "dataLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs://bucket/table1/year=2020/month=Jan/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com/projects/project-id/datasets/dataset-id)."
        },
        "missingData": {
          "$ref": "GoogleCloudDataplexV1ActionMissingData",
          "description": "Details for issues related to absence of data within managed resources."
        },
        "lake": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "type": "string",
          "readOnly": true
        },
        "invalidDataFormat": {
          "description": "Details for issues related to invalid or unsupported data formats.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat"
        },
        "missingResource": {
          "description": "Details for issues related to absence of a managed resource.",
          "$ref": "GoogleCloudDataplexV1ActionMissingResource"
        },
        "incompatibleDataSchema": {
          "description": "Details for issues related to incompatible schemas detected within data.",
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema"
        },
        "detectTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that the issue was detected."
        },
        "zone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}."
        }
      },
      "description": "Action represents an issue requiring administrator action for resolution.",
      "type": "object",
      "id": "GoogleCloudDataplexV1Action"
    },
    "GoogleCloudDataplexV1ListMetadataJobsResponse": {
      "type": "object",
      "properties": {
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that the service couldn't reach."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. If there are no more results in the list, the value is empty."
        },
        "metadataJobs": {
          "description": "Metadata jobs under the specified parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1MetadataJob"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1ListMetadataJobsResponse",
      "description": "List metadata jobs response."
    },
    "GoogleCloudDataplexV1CancelMetadataJobRequest": {
      "description": "Cancel metadata job request.",
      "id": "GoogleCloudDataplexV1CancelMetadataJobRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDataplexV1EntryLinkEvent": {
      "id": "GoogleCloudDataplexV1EntryLinkEvent",
      "type": "object",
      "description": "Payload associated with Entry related log events.",
      "properties": {
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "resource": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "eventType": {
          "enumDescriptions": [
            "An unspecified event type.",
            "EntryLink create event.",
            "EntryLink delete event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ENTRY_LINK_CREATE",
            "ENTRY_LINK_DELETE"
          ],
          "description": "The type of the event.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation": {
      "description": "Evaluates whether each column value is null.",
      "id": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1ListDataScanJobsResponse": {
      "description": "List DataScanJobs response.",
      "properties": {
        "dataScanJobs": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScanJob"
          },
          "description": "DataScanJobs (BASIC view only) under a given dataScan.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ListDataScanJobsResponse",
      "type": "object"
    },
    "GoogleCloudDataplexV1CancelJobRequest": {
      "properties": {},
      "description": "Cancel task jobs.",
      "id": "GoogleCloudDataplexV1CancelJobRequest",
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleCloudDataplexV1ListContentResponse": {
      "id": "GoogleCloudDataplexV1ListContentResponse",
      "description": "List content response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "content": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Content"
          },
          "type": "array",
          "description": "Content under the given parent lake."
        }
      }
    },
    "GoogleCloudDataplexV1Partition": {
      "description": "Represents partition metadata contained within entity instances.",
      "id": "GoogleCloudDataplexV1Partition",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. Immutable. The location of the entity data within the partition, for example, gs://bucket/path/to/entity/key1=value1/key2=value2. Or projects//datasets//tables/"
        },
        "values": {
          "type": "array",
          "description": "Required. Immutable. The set of values representing the partition, which correspond to the partition schema defined in the parent entity.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. Partition values used in the HTTP URL must be double encoded. For example, url_encode(url_encode(value)) can be used to encode \"US:CA/CA#Sunnyvale so that the request URL ends with \"/partitions/US%253ACA/CA%2523Sunnyvale\". The name field in the response retains the encoded format.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "deprecated": true,
          "description": "Optional. The etag for this partition.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified.",
          "type": "string"
        }
      },
      "description": "Describes JSON data format.",
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions"
    },
    "GoogleCloudDataplexV1ContentNotebook": {
      "description": "Configuration for Notebook content.",
      "properties": {
        "kernelType": {
          "enumDescriptions": [
            "Kernel Type unspecified.",
            "Python 3 Kernel."
          ],
          "type": "string",
          "enum": [
            "KERNEL_TYPE_UNSPECIFIED",
            "PYTHON3"
          ],
          "description": "Required. Kernel Type of the notebook."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ContentNotebook"
    },
    "GoogleCloudDataplexV1Aspect": {
      "description": "An aspect is a single piece of metadata describing an entry.",
      "type": "object",
      "id": "GoogleCloudDataplexV1Aspect",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the Aspect was last updated."
        },
        "aspectSource": {
          "description": "Optional. Information related to the source system of the aspect.",
          "$ref": "GoogleCloudDataplexV1AspectSource"
        },
        "path": {
          "description": "Output only. The path in the entry under which the aspect is attached.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the Aspect was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "data": {
          "type": "object",
          "description": "Required. The content of the aspect, according to its aspect type schema. The maximum size of the field is 120KB (encoded as UTF-8).",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "aspectType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the type used to create this Aspect."
        }
      }
    },
    "GoogleCloudDataplexV1MetadataFeed": {
      "type": "object",
      "description": "MetadataFeed contains information related to the metadata feed.",
      "properties": {
        "scope": {
          "description": "Required. The scope of the metadata feed. Only the in scope changes are published.",
          "$ref": "GoogleCloudDataplexV1MetadataFeedScope"
        },
        "updateTime": {
          "description": "Output only. The time when the feed was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "pubsubTopic": {
          "description": "Optional. The pubsub topic that you want the metadata feed messages to publish to. Please grant Dataplex service account the permission to publish messages to the topic. The service account is: service-{PROJECT_NUMBER}@gcp-sa-dataplex.iam.gserviceaccount.com.",
          "type": "string"
        },
        "filters": {
          "$ref": "GoogleCloudDataplexV1MetadataFeedFilters",
          "description": "Optional. The filters of the metadata feed. Only the changes that match the filters are published."
        },
        "createTime": {
          "description": "Output only. The time when the feed was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uid": {
          "type": "string",
          "description": "Output only. A system-generated, globally unique ID for the metadata job. If the metadata job is deleted and then re-created with the same name, this ID is different.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the metadata feed, in the format projects/{project_id_or_number}/locations/{location_id}/metadataFeeds/{metadata_feed_id}.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1MetadataFeed"
    },
    "GoogleCloudDataplexV1RunDataScanResponse": {
      "id": "GoogleCloudDataplexV1RunDataScanResponse",
      "type": "object",
      "description": "Run DataScan Response.",
      "properties": {
        "job": {
          "$ref": "GoogleCloudDataplexV1DataScanJob",
          "description": "DataScanJob created by RunDataScan request."
        }
      }
    },
    "GoogleCloudDataplexV1DataDiscoveryResultBigQueryPublishing": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Output only. The location of the BigQuery publishing dataset.",
          "readOnly": true
        },
        "dataset": {
[...]
