{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudDataplexV1AspectTypeAuthorization": {
      "description": "Authorization for an AspectType.",
      "properties": {
        "alternateUsePermission": {
          "description": "Immutable. The IAM permission grantable on the EntryGroup to allow access to instantiate Aspects of Dataplex Universal Catalog owned AspectTypes, only settable for Dataplex Universal Catalog owned Types.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1AspectTypeAuthorization"
    },
    "GoogleCloudDataplexV1ListZonesResponse": {
      "type": "object",
      "description": "List zones response.",
      "id": "GoogleCloudDataplexV1ListZonesResponse",
      "properties": {
        "zones": {
          "description": "Zones under the given parent lake.",
          "items": {
            "$ref": "GoogleCloudDataplexV1Zone"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpec": {
      "type": "object",
      "properties": {
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions"
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions"
        },
        "excludePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enabled": {
          "description": "Required. Whether discovery is enabled.",
          "type": "boolean"
        },
        "includePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes.To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.",
          "type": "string"
        }
      },
      "description": "Settings to manage the metadata discovery and publishing in a zone.",
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpec"
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "type": "object",
      "description": "Action details for incompatible schemas detected by discovery.",
      "properties": {
        "sampledDataLocations": {
          "items": {
            "type": "string"
          },
          "description": "The list of data locations sampled and used for format/schema inference.",
          "type": "array"
        },
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "schemaChange": {
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "type": "string",
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ]
        },
        "table": {
          "description": "The name of the table containing invalid data.",
          "type": "string"
        },
        "existingSchema": {
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema"
    },
    "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult": {
      "description": "The result of BigQuery export post scan action.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult",
      "properties": {
        "message": {
          "description": "Output only. Additional information about the BigQuery exporting.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "readOnly": true,
          "description": "Output only. Execution state for the BigQuery exporting.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult": {
      "description": "The result of post scan actions of DataQualityScan job.",
      "id": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult",
      "type": "object",
      "properties": {
        "bigqueryExportResult": {
          "readOnly": true,
          "description": "Output only. The result of BigQuery export post scan action.",
          "$ref": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataAttributesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachableLocations": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "dataAttributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttribute"
          },
          "description": "DataAttributes under the given parent DataTaxonomy."
        }
      },
      "id": "GoogleCloudDataplexV1ListDataAttributesResponse",
      "description": "List DataAttributes response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListPartitionsResponse": {
      "description": "List metadata partitions response.",
      "properties": {
        "partitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Partition"
          },
          "description": "Partitions under the specified parent entity."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ListPartitionsResponse"
    },
    "GoogleCloudDataplexV1AssetResourceSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetResourceSpec",
      "description": "Identifies the cloud resource that is referenced by this asset.",
      "properties": {
        "readAccessMode": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "description": "Optional. Determines how read permissions are handled for each asset and their associated tables. Only available to storage buckets assets.",
          "type": "string"
        },
        "type": {
          "description": "Required. Immutable. Type of resource.",
          "enumDescriptions": [
            "Type not specified.",
            "Cloud Storage bucket.",
            "BigQuery dataset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STORAGE_BUCKET",
            "BIGQUERY_DATASET"
          ],
          "type": "string"
        },
        "name": {
          "description": "Immutable. Relative name of the cloud resource that contains the data that is being managed within a lake. For example: projects/{project_number}/buckets/{bucket_id} projects/{project_number}/datasets/{dataset_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpec": {
      "properties": {
        "batch": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources",
          "description": "Compute resources needed for a Task when using Dataproc Serverless."
        },
        "vpcNetwork": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
          "description": "Vpc network."
        },
        "containerImage": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime",
          "description": "Container Image Runtime Configuration."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpec",
      "description": "Configuration for the underlying infrastructure used to run workloads."
    },
    "GoogleCloudDataplexV1DataProfileResultProfile": {
      "properties": {
        "fields": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProfileResultProfileField"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of fields with structural and profile information for each field."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfile",
      "description": "Contains name, type, mode and field type specific profile information."
    },
    "GoogleCloudDataplexV1RunDataScanResponse": {
      "id": "GoogleCloudDataplexV1RunDataScanResponse",
      "type": "object",
      "properties": {
        "job": {
          "description": "DataScanJob created by RunDataScan request.",
          "$ref": "GoogleCloudDataplexV1DataScanJob"
        }
      },
      "description": "Run DataScan Response."
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport": {
      "type": "object",
      "properties": {
        "resultsTable": {
          "description": "Optional. The BigQuery table to export DataQualityScan results to. Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID or projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport",
      "description": "The configuration of BigQuery export post scan action."
    },
    "GoogleCloudDataplexV1OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of a long-running operation.",
      "id": "GoogleCloudDataplexV1OperationMetadata"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo": {
      "properties": {
        "minLength": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Minimum length of non-null values in the scanned data.",
          "type": "string"
        },
        "maxLength": {
          "readOnly": true,
          "description": "Output only. Maximum length of non-null values in the scanned data.",
          "type": "string",
          "format": "int64"
        },
        "averageLength": {
          "type": "number",
          "description": "Output only. Average length of non-null values in the scanned data.",
          "readOnly": true,
          "format": "double"
        }
      },
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoStringFieldInfo",
      "type": "object",
      "description": "The profile information for a string type field."
    },
    "GoogleCloudDataplexV1ActionInvalidDataPartition": {
      "type": "object",
      "properties": {
        "expectedStructure": {
          "enumDescriptions": [
            "PartitionStructure unspecified.",
            "Consistent hive-style partition definition (both raw and curated zone).",
            "Hive style partition definition (curated zone only)."
          ],
          "type": "string",
          "description": "The issue type of InvalidDataPartition.",
          "enum": [
            "PARTITION_STRUCTURE_UNSPECIFIED",
            "CONSISTENT_KEYS",
            "HIVE_STYLE_KEYS"
          ]
        }
      },
      "id": "GoogleCloudDataplexV1ActionInvalidDataPartition",
      "description": "Action details for invalid or unsupported partitions detected by discovery."
    },
    "GoogleRpcStatus": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1GovernanceEvent": {
      "properties": {
        "entity": {
          "description": "Entity resource information if the log event is associated with a specific entity.",
          "$ref": "GoogleCloudDataplexV1GovernanceEventEntity"
        },
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "RESOURCE_IAM_POLICY_UPDATE",
            "BIGQUERY_TABLE_CREATE",
            "BIGQUERY_TABLE_UPDATE",
            "BIGQUERY_TABLE_DELETE",
            "BIGQUERY_CONNECTION_CREATE",
            "BIGQUERY_CONNECTION_UPDATE",
            "BIGQUERY_CONNECTION_DELETE",
            "BIGQUERY_TAXONOMY_CREATE",
            "BIGQUERY_POLICY_TAG_CREATE",
            "BIGQUERY_POLICY_TAG_DELETE",
            "BIGQUERY_POLICY_TAG_SET_IAM_POLICY",
            "ACCESS_POLICY_UPDATE",
            "GOVERNANCE_RULE_MATCHED_RESOURCES",
            "GOVERNANCE_RULE_SEARCH_LIMIT_EXCEEDS",
            "GOVERNANCE_RULE_ERRORS",
            "GOVERNANCE_RULE_PROCESSING"
          ],
          "description": "The type of the event.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified event type.",
            "Resource IAM policy update event.",
            "BigQuery table create event.",
            "BigQuery table update event.",
            "BigQuery table delete event.",
            "BigQuery connection create event.",
            "BigQuery connection update event.",
            "BigQuery connection delete event.",
            "BigQuery taxonomy created.",
            "BigQuery policy tag created.",
            "BigQuery policy tag deleted.",
            "BigQuery set iam policy for policy tag.",
            "Access policy update event.",
            "Number of resources matched with particular Query.",
            "Rule processing exceeds the allowed limit.",
            "Rule processing errors.",
            "Governance rule processing Event."
          ]
        }
      },
      "description": "Payload associated with Governance related log events.",
      "id": "GoogleCloudDataplexV1GovernanceEvent",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanExecutionStatus": {
      "description": "Status of the data scan execution.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataScanExecutionStatus",
      "properties": {
        "latestJobEndTime": {
          "description": "Optional. The time when the latest DataScanJob ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "latestJobCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when the DataScanJob execution was created."
        },
        "latestJobStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The time when the latest DataScanJob started."
        }
      }
    },
    "GoogleCloudDataplexV1EntryTypeAuthorization": {
      "description": "Authorization for an Entry Type.",
      "id": "GoogleCloudDataplexV1EntryTypeAuthorization",
      "type": "object",
      "properties": {
        "alternateUsePermission": {
          "description": "Immutable. The IAM permission grantable on the Entry Group to allow access to instantiate Entries of Dataplex Universal Catalog owned Entry Types, only settable for Dataplex Universal Catalog owned Types.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResult": {
      "id": "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResult",
      "properties": {
        "type": {
          "type": "string",
          "description": "Indicates the data type of the result. For more information, see BigQuery data types (https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types)."
        },
        "name": {
          "description": "Specifies the name of the result. Available if provided with an explicit alias using [AS] alias.",
          "type": "string"
        },
        "value": {
          "description": "Represents the value of the result as a string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains a single result from the debug query."
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "type": "object",
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "properties": {
        "service": {
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}",
          "type": "string"
        }
      },
      "description": "Settings to manage association of Dataproc Metastore with a lake."
    },
    "GoogleCloudDataplexV1Trigger": {
      "properties": {
        "schedule": {
          "$ref": "GoogleCloudDataplexV1TriggerSchedule",
          "description": "The scan is scheduled to run periodically."
        },
        "oneTime": {
          "description": "The scan runs once, and does not create an associated ScanJob child resource.",
          "$ref": "GoogleCloudDataplexV1TriggerOneTime"
        },
        "onDemand": {
          "description": "The scan runs once via RunDataScan API.",
          "$ref": "GoogleCloudDataplexV1TriggerOnDemand"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1Trigger",
      "description": "DataScan scheduling and trigger settings."
    },
    "GoogleCloudDataplexV1DataDocumentationSpec": {
      "type": "object",
      "description": "DataDocumentation scan related spec.",
      "properties": {
        "generationScopes": {
          "description": "Optional. Specifies which components of the data documentation to generate. Any component that is required to generate the specified components will also be generated. If no generation scope is specified, all available documentation components will be generated.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "GENERATION_SCOPE_UNSPECIFIED",
              "ALL",
              "TABLE_AND_COLUMN_DESCRIPTIONS",
              "SQL_QUERIES"
            ],
            "enumDescriptions": [
              "Unspecified generation scope. If no generation scope is specified, all available documentation components will be generated.",
              "All the possible results will be generated.",
              "Table and column descriptions will be generated.",
              "SQL queries will be generated."
            ]
          }
        },
        "catalogPublishingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to publish result to Dataplex Catalog."
        }
      },
      "id": "GoogleCloudDataplexV1DataDocumentationSpec"
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions": {
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions",
      "description": "Describe CSV and similar semi-structured data formats.",
      "properties": {
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "format": "int32",
          "type": "integer"
        },
        "disableTypeInference": {
          "type": "boolean",
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings."
        }
      }
    },
    "GoogleCloudDataplexV1ListDataProductsResponse": {
      "description": "Response message for listing data products.",
      "id": "GoogleCloudDataplexV1ListDataProductsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that the service couldn't reach.",
          "items": {
            "type": "string"
          }
        },
        "dataProducts": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProduct"
          },
          "type": "array",
          "description": "The data products for the requested filter criteria."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is empty, then there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleDebugQuery": {
      "id": "GoogleCloudDataplexV1DataQualityRuleDebugQuery",
      "description": "Specifies a SQL statement that is evaluated to return up to 10 scalar values that are used to debug rules. If the rule fails, the values can help diagnose the cause of the failure.The SQL statement must use GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax), and must not contain any semicolons.You can use the data reference parameter ${data()} to reference the source table with all of its precondition filters applied. Examples of precondition filters include row filters, incremental data filters, and sampling. For more information, see Data reference parameter (https://cloud.google.com/dataplex/docs/auto-data-quality-overview#data-reference-parameter).You can also name results with an explicit alias using [AS] alias. For more information, see BigQuery explicit aliases (https://docs.cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#explicit_alias_syntax).Example: SELECT MIN(col1) AS min_col1, MAX(col1) AS max_col1 FROM ${data()}",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Specifies the description of the debug query. The maximum length is 1,024 characters."
        },
        "sqlStatement": {
          "description": "Required. Specifies the SQL statement to be executed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneResourceSpec": {
      "description": "Settings for resources attached as assets within a zone.",
      "id": "GoogleCloudDataplexV1ZoneResourceSpec",
      "type": "object",
      "properties": {
        "locationType": {
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "SINGLE_REGION",
            "MULTI_REGION"
          ],
          "type": "string",
          "description": "Required. Immutable. The location type of the resources that are allowed to be attached to the assets within this zone.",
          "enumDescriptions": [
            "Unspecified location type.",
            "Resources that are associated with a single region.",
            "Resources that are associated with a multi-region location."
          ]
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo": {
      "properties": {
        "max": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Maximum of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "average": {
          "format": "double",
          "type": "number",
          "readOnly": true,
          "description": "Output only. Average of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "min": {
          "description": "Output only. Minimum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "standardDeviation": {
          "readOnly": true,
          "format": "double",
          "type": "number",
          "description": "Output only. Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "quartiles": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Output only. A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "The profile information for a double type field.",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1GovernanceEventEntity": {
      "description": "Information about Entity resource that the log event is associated with.",
      "properties": {
        "entity": {
          "type": "string",
          "description": "The Entity resource the log event is associated with. Format: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}"
        },
        "entityType": {
          "type": "string",
          "description": "Type of entity.",
          "enumDescriptions": [
            "An unspecified Entity type.",
            "Table entity type.",
            "Fileset entity type."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1GovernanceEventEntity"
    },
    "GoogleCloudDataplexV1TriggerOneTime": {
      "properties": {
        "ttlAfterScanCompletion": {
          "description": "Optional. Time to live for OneTime scans. default value is 24 hours, minimum value is 0 seconds, and maximum value is 365 days. The time is calculated from the data scan job completion time. If value is set as 0 seconds, the scan will be immediately deleted upon job completion, regardless of whether the job succeeded or failed.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1TriggerOneTime",
      "type": "object",
      "description": "The scan runs once using create API."
    },
    "GoogleCloudDataplexV1EnvironmentSessionSpec": {
      "description": "Configuration for sessions created for this environment.",
      "id": "GoogleCloudDataplexV1EnvironmentSessionSpec",
      "type": "object",
      "properties": {
        "maxIdleDuration": {
          "description": "Optional. The idle time configuration of the session. The session will be auto-terminated at the end of this period.",
          "format": "google-duration",
          "type": "string"
        },
        "enableFastStartup": {
          "description": "Optional. If True, this causes sessions to be pre-created and available for faster startup to enable interactive exploration use-cases. This defaults to False to avoid additional billed charges. These can only be set to True for the environment with name set to \"default\", and with default configuration.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDataplexV1DataProduct": {
      "id": "GoogleCloudDataplexV1DataProduct",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which the data product was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "assetCount": {
          "type": "integer",
          "description": "Output only. Number of data assets associated with this data product.",
          "format": "int32",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the data product was last updated."
        },
        "icon": {
          "description": "Optional. Base64 encoded image representing the data product. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
          "type": "string",
          "format": "byte"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the data product.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated unique ID for the data product. This ID will be different if the data product is deleted and re-created with the same name.",
          "readOnly": true
        },
        "ownerEmails": {
          "description": "Required. Emails of the data product owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. User-friendly display name of the data product.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the data product. Format: projects/{project_id_or_number}/locations/{location_id}/dataProducts/{data_product_id}.",
          "type": "string"
        },
        "accessGroups": {
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataProductAccessGroup"
          },
          "type": "object",
          "description": "Optional. Data product access groups by access group id as key. If data product is used only for packaging data assets, then access groups may be empty. However, if a data product is used for sharing data assets, then at least one access group must be specified.Example: { \"analyst\": { \"id\": \"analyst\", \"displayName\": \"Analyst\", \"description\": \"Access group for analysts\", \"principal\": { \"googleGroup\": \"analysts@example.com\" } } } "
        },
        "labels": {
          "description": "Optional. User-defined labels for the data product.Example: { \"environment\": \"production\", \"billing\": \"marketing-department\" } ",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A data product is a curated collection of data assets, packaged to address specific use cases. It's a way to manage and share data in a more organized, product-like manner.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ScannedDataIncrementalField": {
      "description": "A data range denoted by a pair of start/end values of a field.",
      "id": "GoogleCloudDataplexV1ScannedDataIncrementalField",
      "properties": {
        "field": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The field that contains values which monotonically increases over time (e.g. a timestamp column)."
        },
        "start": {
          "type": "string",
          "description": "Output only. Value that marks the start of the range.",
          "readOnly": true
        },
        "end": {
          "description": "Output only. Value that marks the end of the range.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DiscoveryEventTableDetails": {
      "description": "Details about the published table.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "An unspecified table type.",
            "External table type.",
            "BigLake table type.",
            "Object table type for unstructured data."
          ],
          "description": "The type of the table resource.",
          "type": "string",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "EXTERNAL_TABLE",
            "BIGLAKE_TABLE",
            "OBJECT_TABLE"
          ]
        },
        "table": {
          "type": "string",
          "description": "The fully-qualified resource name of the table resource."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventTableDetails"
    },
    "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult": {
      "properties": {
        "message": {
          "readOnly": true,
          "description": "Output only. Additional information about the BigQuery exporting.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "description": "Output only. Execution state for the BigQuery exporting.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult",
      "description": "The result of BigQuery export post scan action."
    },
    "GoogleCloudDataplexV1AspectTypeMetadataTemplateConstraints": {
      "type": "object",
      "description": "Definition of the constraints of a field.",
      "id": "GoogleCloudDataplexV1AspectTypeMetadataTemplateConstraints",
      "properties": {
        "required": {
          "type": "boolean",
          "description": "Optional. Marks this field as optional or required."
        }
      }
    },
    "GoogleCloudDataplexV1ListMetadataJobsResponse": {
      "description": "List metadata jobs response.",
      "properties": {
        "metadataJobs": {
          "type": "array",
          "description": "Metadata jobs under the specified parent location.",
          "items": {
            "$ref": "GoogleCloudDataplexV1MetadataJob"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. If there are no more results in the list, the value is empty.",
          "type": "string"
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that the service couldn't reach."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1ListMetadataJobsResponse"
    },
    "GoogleCloudDataplexV1SessionEvent": {
      "id": "GoogleCloudDataplexV1SessionEvent",
      "properties": {
        "fastStartupEnabled": {
          "description": "If the session is associated with an environment with fast startup enabled, and was created before being assigned to a user.",
          "type": "boolean"
        },
        "userId": {
          "type": "string",
          "description": "The information about the user that created the session. It will be the email address of the user."
        },
        "query": {
          "description": "The execution details of the query.",
          "$ref": "GoogleCloudDataplexV1SessionEventQueryDetail"
        },
        "type": {
          "description": "The type of the event.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "START",
            "STOP",
            "QUERY",
            "CREATE"
          ],
          "enumDescriptions": [
            "An unspecified event type.",
            "Event when the session is assigned to a user.",
            "Event for stop of a session.",
            "Query events in the session.",
            "Event for creation of a cluster. It is not yet assigned to a user. This comes before START in the sequence"
          ]
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "unassignedDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The idle duration of a warm pooled session before it is assigned to user."
        },
        "sessionId": {
          "description": "Unique identifier for the session.",
          "type": "string"
        },
        "eventSucceeded": {
          "description": "The status of the event.",
          "type": "boolean"
        }
      },
      "description": "These messages contain information about sessions within an environment. The monitored resource is 'Environment'.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Lake": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the lake."
        },
        "metastoreStatus": {
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus",
          "description": "Output only. Metastore status of the lake.",
          "readOnly": true
        },
        "metastore": {
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association.",
          "$ref": "GoogleCloudDataplexV1LakeMetastore"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the lake was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the lake."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}."
        },
        "assetStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetStatus",
          "description": "Output only. Aggregated status of the underlying assets of the lake."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the lake."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the lake was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1Lake",
      "type": "object",
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata."
    },
    "GoogleCloudDataplexV1Action": {
      "type": "object",
      "properties": {
        "invalidDataOrganization": {
          "description": "Details for issues related to invalid data arrangement.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization"
        },
        "unauthorizedResource": {
          "description": "Details for issues related to lack of permissions to access data resources.",
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource"
        },
        "lake": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "type": "string"
        },
        "invalidDataPartition": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition",
          "description": "Details for issues related to invalid or unsupported data partition structure."
        },
        "incompatibleDataSchema": {
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
          "description": "Details for issues related to incompatible schemas detected within data."
        },
        "detectTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time that the issue was detected."
        },
        "name": {
          "description": "Output only. The relative resource name of the action, of the form: projects/{project}/locations/{location}/lakes/{lake}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/assets/{asset}/actions/{action}.",
          "type": "string",
          "readOnly": true
        },
        "missingResource": {
          "description": "Details for issues related to absence of a managed resource.",
          "$ref": "GoogleCloudDataplexV1ActionMissingResource"
        },
        "dataLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs://bucket/table1/year=2020/month=Jan/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com/projects/project-id/datasets/dataset-id)."
        },
        "category": {
          "description": "The category of issue associated with the action.",
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ]
        },
        "failedSecurityPolicyApply": {
          "description": "Details for issues related to applying security policy.",
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
        },
        "zone": {
          "type": "string",
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}.",
          "readOnly": true
        },
        "missingData": {
          "description": "Details for issues related to absence of data within managed resources.",
          "$ref": "GoogleCloudDataplexV1ActionMissingData"
        },
        "issue": {
          "type": "string",
          "description": "Detailed description of the issue requiring action."
        },
        "invalidDataFormat": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat",
          "description": "Details for issues related to invalid or unsupported data formats."
        },
        "asset": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}."
        }
      },
      "description": "Action represents an issue requiring administrator action for resolution.",
      "id": "GoogleCloudDataplexV1Action"
    },
    "GoogleCloudDataplexV1Aspect": {
      "id": "GoogleCloudDataplexV1Aspect",
      "description": "An aspect is a single piece of metadata describing an entry.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the Aspect was last updated.",
          "type": "string"
        },
        "data": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Required. The content of the aspect, according to its aspect type schema. The maximum size of the field is 120KB (encoded as UTF-8)."
        },
        "aspectType": {
          "type": "string",
          "description": "Output only. The resource name of the type used to create this Aspect.",
          "readOnly": true
        },
        "aspectSource": {
          "description": "Optional. Information related to the source system of the aspect.",
          "$ref": "GoogleCloudDataplexV1AspectSource"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the Aspect was created.",
          "type": "string",
          "readOnly": true
        },
        "path": {
          "description": "Output only. The path in the entry under which the aspect is attached.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityAppliedConfigs": {
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityAppliedConfigs",
      "properties": {
        "samplingPercent": {
          "description": "The percentage of the records selected from the dataset for DataScan. Value ranges between 0.0 and 100.0. Value 0.0 or 100.0 imply that sampling was not applied.",
          "format": "float",
          "type": "number"
        },
        "rowFilterApplied": {
          "description": "Boolean indicating whether a row filter was applied in the DataScan job.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Applied configs for data quality type data scan job."
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatus": {
      "description": "Status of discovery for an asset.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Additional information about the current state."
        },
        "lastRunTime": {
          "format": "google-datetime",
          "description": "The start time of the last discovery run.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastRunDuration": {
          "description": "The duration of the last discovery run.",
          "format": "google-duration",
          "type": "string"
        },
        "stats": {
          "description": "Data Stats of the asset reported by discovery.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
        },
        "state": {
          "type": "string",
          "description": "The current status of the discovery feature.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "IN_PROGRESS",
            "PAUSED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "State is unspecified.",
            "Discovery for the asset is scheduled.",
            "Discovery for the asset is running.",
            "Discovery for the asset is currently paused (e.g. due to a lack of available resources). It will be automatically resumed.",
            "Discovery for the asset is disabled."
          ]
        }
      },
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatus",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork": {
      "description": "Cloud VPC Network used to run the infrastructure.",
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork",
      "properties": {
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of network tags to apply to the job."
        },
        "network": {
          "description": "Optional. The Cloud VPC network in which the job is run. By default, the Cloud VPC network named Default within the project is used.",
          "type": "string"
        },
        "subNetwork": {
          "description": "Optional. The Cloud VPC sub-network in which the job is run.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1Entity": {
      "type": "object",
      "description": "Represents tables and fileset metadata contained within a zone.",
      "properties": {
        "displayName": {
          "description": "Optional. Display name must be shorter than or equal to 256 characters.",
          "type": "string"
        },
        "id": {
          "description": "Required. A user-provided entity ID. It is mutable, and will be used as the published table name. Specifying a new ID in an update entity request will override the existing value. The ID must contain only letters (a-z, A-Z), numbers (0-9), and underscores, and consist of 256 or fewer characters.",
          "type": "string"
        },
        "format": {
          "description": "Required. Identifies the storage format of the entity data. It does not apply to entities with data stored in BigQuery.",
          "$ref": "GoogleCloudDataplexV1StorageFormat"
        },
        "createTime": {
          "description": "Output only. The time when the entity was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User friendly longer description text. Must be shorter than or equal to 1024 characters."
        },
        "system": {
          "type": "string",
          "enum": [
            "STORAGE_SYSTEM_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ],
          "enumDescriptions": [
            "Storage system unspecified.",
            "The entity data is contained within a Cloud Storage bucket.",
            "The entity data is contained within a BigQuery dataset."
          ],
          "description": "Required. Immutable. Identifies the storage system of the entity data."
        },
        "dataPathPattern": {
          "type": "string",
          "description": "Optional. The set of items within the data path constituting the data in the entity, represented as a glob path. Example: gs://bucket/path/to/data/**/*.csv."
        },
        "type": {
          "enumDescriptions": [
            "Type unspecified.",
            "Structured and semi-structured data.",
            "Unstructured data."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "type": "string",
          "description": "Required. Immutable. The type of entity."
        },
        "catalogEntry": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the associated Data Catalog entry."
        },
        "access": {
          "$ref": "GoogleCloudDataplexV1StorageAccess",
          "readOnly": true,
          "description": "Output only. Identifies the access mechanism to the entity. Not user settable."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the entity, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{id}.",
          "type": "string"
        },
        "dataPath": {
          "description": "Required. Immutable. The storage path of the entity data. For Cloud Storage data, this is the fully-qualified path to the entity, such as gs://bucket/path/to/data. For BigQuery data, this is the name of the table resource, such as projects/project_id/datasets/dataset_id/tables/table_id.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated unique ID for the Entity. This ID will be different if the Entity is deleted and re-created with the same name.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag associated with the entity, which can be retrieved with a GetEntity request. Required for update and delete requests."
        },
        "asset": {
          "description": "Required. Immutable. The ID of the asset associated with the storage location containing the entity data. The entity must be with in the same zone with the asset.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the entity was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "compatibility": {
          "description": "Output only. Metadata stores that the entity is compatible with.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1EntityCompatibilityStatus"
        },
        "schema": {
          "description": "Required. The description of the data structure and layout. The schema is not included in list responses. It is only included in SCHEMA and FULL entity views of a GetEntity response.",
          "$ref": "GoogleCloudDataplexV1Schema"
        }
      },
      "id": "GoogleCloudDataplexV1Entity"
    },
    "GoogleCloudDataplexV1AspectType": {
      "description": "AspectType is a template for creating Aspects, and represents the JSON-schema for a given Entry, for example, BigQuery Table Schema.",
      "id": "GoogleCloudDataplexV1AspectType",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels for the AspectType.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the AspectType was created.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "The service computes this checksum. The client may send it on update and delete requests to ensure it has an up-to-date value before proceeding.",
          "type": "string"
        },
        "transferStatus": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "TRANSFER_STATUS_MIGRATED",
            "TRANSFER_STATUS_TRANSFERRED"
          ],
          "description": "Output only. Denotes the transfer status of the Aspect Type. It is unspecified for Aspect Types created from Dataplex API.",
          "enumDescriptions": [
            "The default value. It is set for resources that were not subject for migration from Data Catalog service.",
            "Indicates that a resource was migrated from Data Catalog service but it hasn't been transferred yet. In particular the resource cannot be updated from Dataplex API.",
            "Indicates that a resource was transferred from Data Catalog service. The resource can only be updated from Dataplex API."
          ]
        },
        "authorization": {
          "$ref": "GoogleCloudDataplexV1AspectTypeAuthorization",
          "description": "Immutable. Defines the Authorization for this type."
        },
        "dataClassification": {
          "description": "Optional. Immutable. Stores data classification of the aspect.",
          "enumDescriptions": [
            "Denotes that the aspect contains only metadata.",
            "Metadata and data classification."
          ],
          "type": "string",
          "enum": [
            "DATA_CLASSIFICATION_UNSPECIFIED",
            "METADATA_AND_DATA"
          ]
        },
        "metadataTemplate": {
          "description": "Required. MetadataTemplate of the aspect.",
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the AspectType, of the form: projects/{project_number}/locations/{location_id}/aspectTypes/{aspect_type_id}.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the AspectType.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the AspectType. If you delete and recreate the AspectType with the same name, then this ID will be different."
        },
        "updateTime": {
          "description": "Output only. The time when the AspectType was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified.",
          "type": "string"
        }
      },
      "description": "Describes JSON data format.",
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions"
    },
    "GoogleCloudDataplexV1DataDocumentationResultTableResult": {
      "description": "Generated metadata about the table.",
      "id": "GoogleCloudDataplexV1DataDocumentationResultTableResult",
      "type": "object",
      "properties": {
        "queries": {
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultQuery"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Sample SQL queries for the table."
        },
        "name": {
          "description": "Output only. The service-qualified full resource name of the cloud resource. Ex: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "readOnly": true,
          "type": "string"
        },
        "overview": {
          "description": "Output only. Generated description of the table.",
          "readOnly": true,
          "type": "string"
        },
        "schema": {
          "readOnly": true,
          "description": "Output only. Schema of the table with generated metadata of the columns in the schema.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchema"
        }
      }
    },
    "GoogleCloudDataplexV1EntryType": {
      "id": "GoogleCloudDataplexV1EntryType",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the EntryType was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "authorization": {
          "$ref": "GoogleCloudDataplexV1EntryTypeAuthorization",
          "description": "Immutable. Authorization defined for this type."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the EntryType. This ID will be different if the EntryType is deleted and re-created with the same name.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the EntryType, of the form: projects/{project_number}/locations/{location_id}/entryTypes/{entry_type_id}."
        },
        "requiredAspects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryTypeAspectInfo"
          },
          "description": "AspectInfo for the entry type."
        },
        "system": {
          "type": "string",
          "description": "Optional. The system that Entries of this type belongs to. Examples include CloudSQL, MariaDB etc"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "platform": {
          "description": "Optional. The platform that Entries of this type belongs to.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the EntryType.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the EntryType was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the EntryType.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. This checksum is computed by the service, and might be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "typeAliases": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Indicates the classes this Entry Type belongs to, for example, TABLE, DATABASE, MODEL.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Entry Type is a template for creating Entries."
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "description": "Associates members, or principals, with a role."
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "type": "object",
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "description": "Execution related settings, like retry and service_account.",
      "properties": {
        "args": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument."
        },
        "project": {
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the ExecutionSpec.service_account must belong to this project.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption, of the form: projects/{project_number}/locations/{location_id}/keyRings/{key-ring-name}/cryptoKeys/{key-name}.",
          "type": "string"
        },
        "maxJobExecutionLifetime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The maximum duration after which the job execution is expired."
        }
      }
    },
    "GoogleCloudDataplexV1MetadataJobStatus": {
      "description": "Metadata job status.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Message relating to the progression of a metadata job.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "The job is queued.",
            "The job is running.",
            "The job is being canceled.",
            "The job is canceled.",
            "The job succeeded.",
            "The job failed.",
            "The job completed with some errors."
          ],
          "description": "Output only. State of the metadata job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "CANCELING",
            "CANCELED",
            "SUCCEEDED",
            "FAILED",
            "SUCCEEDED_WITH_ERRORS"
          ],
          "readOnly": true
        },
        "completionPercent": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Progress tracking."
        },
        "updateTime": {
          "description": "Output only. The time when the status was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1MetadataJobStatus"
    },
    "GoogleCloudDataplexV1ListLakesResponse": {
      "id": "GoogleCloudDataplexV1ListLakesResponse",
      "type": "object",
      "description": "List lakes response.",
      "properties": {
        "unreachableLocations": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "lakes": {
          "items": {
            "$ref": "GoogleCloudDataplexV1Lake"
          },
          "type": "array",
          "description": "Lakes under the given parent location."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActions": {
      "type": "object",
      "properties": {
        "bigqueryExport": {
          "description": "Optional. If set, results will be exported to the provided BigQuery table.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport"
        },
        "notificationReport": {
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsNotificationReport",
          "description": "Optional. If set, results will be sent to the provided notification receipts upon triggers."
        }
      },
      "description": "The configuration of post scan actions of DataQualityScan.",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActions"
    },
    "GoogleCloudDataplexV1DataAssetAccessGroupConfig": {
      "type": "object",
      "id": "GoogleCloudDataplexV1DataAssetAccessGroupConfig",
      "properties": {
        "iamRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. IAM roles granted on the resource to this access group. Role name follows https://cloud.google.com/iam/docs/reference/rest/v1/roles.Example: [ \"roles/bigquery.dataViewer\" ]"
        }
      },
      "description": "Configuration for access group inherited from the parent data product."
    },
    "GoogleCloudDataplexV1EnvironmentInfrastructureSpecOsImageRuntime": {
      "description": "Software Runtime Configuration to run Analyze.",
      "type": "object",
      "properties": {
        "javaLibraries": {
          "type": "array",
          "description": "Optional. List of Java jars to be included in the runtime environment. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar",
          "items": {
            "type": "string"
          }
        },
        "imageVersion": {
          "description": "Required. Dataplex Universal Catalog Image version.",
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Spark properties to provide configuration for use in sessions created for this environment. The properties to set on daemon config files. Property keys are specified in prefix:property format. The prefix must be \"spark\"."
        },
        "pythonPackages": {
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1EnvironmentInfrastructureSpecOsImageRuntime"
    },
    "GoogleCloudDataplexV1DataDocumentationResultSchema": {
      "properties": {
        "fields": {
          "type": "array",
          "description": "Output only. The list of columns.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultField"
          }
        }
      },
      "type": "object",
      "description": "Schema of the table with generated metadata of columns.",
      "id": "GoogleCloudDataplexV1DataDocumentationResultSchema"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsRecipients": {
      "properties": {
        "emails": {
          "description": "Optional. The email recipients who will receive the DataQualityScan results report.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsRecipients",
      "type": "object",
      "description": "The individuals or groups who are designated to receive notifications upon triggers."
    },
    "GoogleCloudDataplexV1Schema": {
      "type": "object",
      "id": "GoogleCloudDataplexV1Schema",
      "properties": {
        "userManaged": {
          "description": "Required. Set to true if user-managed or false if managed by Dataplex Universal Catalog. The default is false (managed by Dataplex Universal Catalog). Set to falseto enable Dataplex Universal Catalog discovery to update the schema. including new data discovery, schema inference, and schema evolution. Users retain the ability to input and edit the schema. Dataplex Universal Catalog treats schema input by the user as though produced by a previous Dataplex Universal Catalog discovery operation, and it will evolve the schema and take action based on that treatment. Set to true to fully manage the entity schema. This setting guarantees that Dataplex Universal Catalog will not change schema fields.",
          "type": "boolean"
        },
        "partitionStyle": {
          "enumDescriptions": [
            "PartitionStyle unspecified",
            "Partitions are hive-compatible. Examples: gs://bucket/path/to/table/dt=2019-10-31/lang=en, gs://bucket/path/to/table/dt=2019-10-31/lang=en/late."
          ],
          "description": "Optional. The structure of paths containing partition data within the entity.",
          "enum": [
            "PARTITION_STYLE_UNSPECIFIED",
            "HIVE_COMPATIBLE"
          ],
          "type": "string"
        },
        "partitionFields": {
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaPartitionField"
          },
          "type": "array",
          "description": "Optional. The sequence of fields describing the partition structure in entities. If this field is empty, there are no partitions within the data."
        },
        "fields": {
          "description": "Optional. The sequence of fields describing data in table entities. Note: BigQuery SchemaFields are immutable.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1SchemaSchemaField"
          }
        }
      },
      "description": "Schema information describing the structure and layout of the data."
    },
    "GoogleCloudDataplexV1DataAccessSpec": {
      "id": "GoogleCloudDataplexV1DataAccessSpec",
      "type": "object",
      "description": "DataAccessSpec holds the access control configuration to be enforced on data stored within resources (eg: rows, columns in BigQuery Tables). When associated with data, the data is only accessible to principals explicitly granted access through the DataAccessSpec. Principals with access to the containing resource are not implicitly granted access.",
      "properties": {
        "readers": {
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on data stored within resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1EntryLink": {
      "type": "object",
      "description": "EntryLink represents a link between two Entries.",
      "properties": {
        "aspects": {
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1Aspect"
          },
          "description": "Optional. The aspects that are attached to the entry link. The format of the aspect key has to be the following: {project_id_or_number}.{location_id}.{aspect_type_id} Currently, only a single aspect of a Dataplex-owned Aspect Type is allowed.",
          "type": "object"
        },
        "entryLinkType": {
          "description": "Required. Immutable. Relative resource name of the Entry Link Type used to create this Entry Link. For example: Entry link between synonym terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/synonym Entry link between related terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/related Entry link between glossary terms and data assets: projects/dataplex-types/locations/global/entryLinkTypes/definition",
          "type": "string"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. The relative resource name of the Entry Link, of the form: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entryLinks/{entry_link_id}",
          "type": "string",
          "readOnly": true
        },
        "entryReferences": {
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryLinkEntryReference"
          },
          "type": "array",
          "description": "Required. Immutable. Specifies the Entries referenced in the Entry Link. There should be exactly two entry references."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the Entry Link was created.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Entry Link was last updated."
        }
      },
      "id": "GoogleCloudDataplexV1EntryLink"
    },
    "GoogleCloudDataplexV1MetadataFeedFilters": {
      "type": "object",
      "id": "GoogleCloudDataplexV1MetadataFeedFilters",
      "properties": {
        "aspectTypes": {
          "description": "Optional. The aspect types that you want to listen to. Depending on how the aspect is attached to the entry, in the format: projects/{project_id_or_number}/locations/{location}/aspectTypes/{aspect_type_id}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "changeTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified change type. Defaults to UNSPECIFIED.",
              "The change is a create event.",
              "The change is an update event.",
              "The change is a delete event."
            ],
            "type": "string",
            "enum": [
              "CHANGE_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE"
            ]
          },
          "type": "array",
          "description": "Optional. The type of change that you want to listen to. If not specified, all changes are published."
        },
        "entryTypes": {
          "description": "Optional. The entry types that you want to listen to, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/entryTypes/{entry_type_id}. Only entries that belong to the specified entry types are published.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Filters defines the type of changes that you want to listen to. You can have multiple entry type filters and multiple aspect type filters. All of the entry type filters are OR'ed together. All of the aspect type filters are OR'ed together. All of the entry type filters and aspect type filters are AND'ed together."
    },
    "GoogleCloudDataplexV1StorageAccess": {
      "properties": {
        "read": {
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "description": "Output only. Describes the read access mechanism of the data. Not user settable.",
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Describes the access mechanism of the data within its storage location.",
      "type": "object",
      "id": "GoogleCloudDataplexV1StorageAccess"
    },
    "GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs": {
      "description": "Applied configs for data profile type data scan job.",
      "properties": {
        "columnFilterApplied": {
          "type": "boolean",
          "description": "Boolean indicating whether a column filter was applied in the DataScan job."
        },
        "samplingPercent": {
          "format": "float",
          "description": "The percentage of the records selected from the dataset for DataScan. Value ranges between 0.0 and 100.0. Value 0.0 or 100.0 imply that sampling was not applied.",
          "type": "number"
        },
        "rowFilterApplied": {
          "type": "boolean",
          "description": "Boolean indicating whether a row filter was applied in the DataScan job."
        }
      },
      "type": "object",
      "id": "GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs"
    },
    "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation",
      "type": "object",
      "description": "Evaluates whether the provided expression is true.The SQL expression needs to use GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax) and should produce a scalar boolean result.Example: MIN(col1) >= 0",
      "properties": {
        "sqlExpression": {
          "type": "string",
          "description": "Optional. The SQL expression."
        }
      }
    },
    "GoogleCloudDataplexV1EntryGroup": {
      "id": "GoogleCloudDataplexV1EntryGroup",
      "description": "An Entry Group represents a logical grouping of one or more Entries.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "transferStatus": {
          "type": "string",
          "enumDescriptions": [
            "The default value. It is set for resources that were not subject for migration from Data Catalog service.",
            "Indicates that a resource was migrated from Data Catalog service but it hasn't been transferred yet. In particular the resource cannot be updated from Dataplex API.",
            "Indicates that a resource was transferred from Data Catalog service. The resource can only be updated from Dataplex API."
          ],
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "TRANSFER_STATUS_MIGRATED",
            "TRANSFER_STATUS_TRANSFERRED"
          ],
          "description": "Output only. Denotes the transfer status of the Entry Group. It is unspecified for Entry Group created from Dataplex API.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the EntryGroup, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the EntryGroup was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the service, and might be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "labels": {
          "description": "Optional. User-defined labels for the EntryGroup.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated globally unique ID for the EntryGroup. If you delete and recreate the EntryGroup with the same name, this ID will be different.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the EntryGroup.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the EntryGroup was last updated.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1DiscoveryEventPartitionDetails": {
      "properties": {
        "partition": {
          "type": "string",
          "description": "The name to the partition resource. The name is the fully-qualified resource name."
        },
        "sampledDataLocations": {
          "type": "array",
          "description": "The locations of the data items (e.g., a Cloud Storage objects) sampled for metadata inference.",
          "items": {
            "type": "string"
          }
        },
        "entity": {
          "description": "The name to the containing entity resource. The name is the fully-qualified resource name.",
          "type": "string"
        },
        "type": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ],
          "type": "string",
          "description": "The type of the containing entity resource."
        }
      },
      "id": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails",
      "description": "Details about the partition.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue": {
      "type": "object",
      "description": "Top N non-null values in the scanned data.",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue",
      "properties": {
        "ratio": {
          "readOnly": true,
          "format": "double",
          "description": "Output only. Ratio of the corresponding value in the field against the total number of rows in the scanned data.",
          "type": "number"
        },
        "count": {
          "description": "Output only. Count of the corresponding value in the scanned data.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. String value of a top N non-null value."
        }
      }
    },
    "GoogleCloudDataplexV1DataTaxonomy": {
      "id": "GoogleCloudDataplexV1DataTaxonomy",
      "type": "object",
      "description": "DataTaxonomy represents a set of hierarchical DataAttributes resources, grouped with a common theme Eg: 'SensitiveDataTaxonomy' can have attributes to manage PII data. It is defined at project level.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the DataTaxonomy, of the form: projects/{project_number}/locations/{location_id}/dataTaxonomies/{data_taxonomy_id}.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the dataTaxonomy. This ID will be different if the DataTaxonomy is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the DataTaxonomy was last updated."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the DataTaxonomy."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "classCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of classes in the DataTaxonomy."
        },
        "attributeCount": {
          "description": "Output only. The number of attributes in the DataTaxonomy.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the DataTaxonomy was created."
        },
        "description": {
          "description": "Optional. Description of the DataTaxonomy.",
          "type": "string"
        }
      },
[...]
