{
  "baseUrl": "https://datamanager.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/data-manager",
  "revision": "20260420",
  "name": "datamanager",
  "discoveryVersion": "v1",
  "title": "Data Manager API",
  "resources": {
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "userLists": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent account which owns this collection of user lists. Format: accountTypes/{account_type}/accounts/{account}",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLists` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of user lists to return. The service may return fewer than this value. If unspecified, at most 50 user lists will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `display_name = \"list 1\"`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` - `:` (has) Supported fields: - `id` - `display_name` - `description` - `membership_status` - `integration_code` - `access_reason` - `ingested_user_list_info.upload_key_types`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists UserLists. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+parent}/userLists",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUserListsResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists"
                },
                "patch": {
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "request": {
                    "$ref": "UserList"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "UserList"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "UserList"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the UserList to retrieve. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.get"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the user list to delete. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "id": "datamanager.accountTypes.accounts.userLists.delete",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}"
                },
                "create": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "UserList"
                  },
                  "path": "v1/{+parent}/userLists",
                  "request": {
                    "$ref": "UserList"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent account where this user list will be created. Format: accountTypes/{account_type}/accounts/{account}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                }
              }
            },
            "insights": {
              "methods": {
                "retrieve": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RetrieveInsightsResponse"
                  },
                  "path": "v1/{+parent}/insights:retrieve",
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent account that owns the user list. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Retrieves marketing data insights for a given user list. This feature is only available to data partners. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/insights:retrieve",
                  "id": "datamanager.accountTypes.accounts.insights.retrieve"
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "get": {
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the user list direct license.",
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves a user list direct license. This feature is only available to data partners.",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "location": "path",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a user list direct license. This feature is only available to data partners.",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the user list direct license.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a user list direct license. This feature is only available to data partners.",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch"
                },
                "list": {
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of licenses to return per page. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all user list direct licenses owned by the parent account. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list"
                }
              }
            },
            "userListGlobalLicenses": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the user list global license.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves a user list global license. This feature is only available to data partners.",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "path": "v1/{+name}",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}"
                },
                "create": {
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a user list global license. This feature is only available to data partners.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "path": "v1/{+parent}/userListGlobalLicenses"
                },
                "patch": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the user list global license.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a user list global license. This feature is only available to data partners.",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserListGlobalLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all user list global licenses owned by the parent account. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list"
                }
              },
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The global license whose customer info are being queried. Should be in the format `accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}/userListGlobalLicenses/{USER_LIST_GLOBAL_LICENSE_ID}`. To list all global license customer info under an account, replace the user list global license id with a '-' (for example, `accountTypes/DATA_PARTNER/accounts/123/userListGlobalLicenses/-`)",
                          "location": "path",
                          "required": true,
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all customer info for a user list global license. This feature is only available to data partners.",
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ],
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      },
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list",
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos"
                    }
                  }
                }
              }
            },
            "partnerLinks": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "PartnerLink"
                  },
                  "path": "v1/{+parent}/partnerLinks",
                  "request": {
                    "$ref": "PartnerLink"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of partner links. Format: accountTypes/{account_type}/accounts/{account}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create"
                },
                "search": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Account to search for partner links. If no `filter` is specified, all partner links where this account is either the `owning_account` or `partner_account` are returned. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `SearchPartnerLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchPartnerLinks` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of partner links to return. The service may return fewer than this value. If unspecified, at most 10 partner links will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `partner_link_id = 123456789`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` Supported fields: - `partner_link_id` - `owning_account.account_type` - `owning_account.account_id` - `partner_account.account_type` - `partner_account.account_id` Example: `owning_account.account_type = \"GOOGLE_ADS\" AND partner_account.account_id = 987654321`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Searches for all partner links to and from a given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "path": "v1/{+parent}/partnerLinks:search",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the partner link to delete. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete"
                }
              }
            }
          }
        }
      }
    },
    "events": {
      "methods": {
        "ingest": {
          "parameters": {},
          "parameterOrder": [],
          "description": "Uploads a list of Event resources from the provided Destination.",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "request": {
            "$ref": "IngestEventsRequest"
          },
          "path": "v1/events:ingest",
          "httpMethod": "POST",
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "id": "datamanager.events.ingest",
          "flatPath": "v1/events:ingest"
        }
      }
    },
    "audienceMembers": {
      "methods": {
        "ingest": {
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameters": {},
          "parameterOrder": [],
          "description": "Uploads a list of AudienceMember resources to the provided Destination.",
          "request": {
            "$ref": "IngestAudienceMembersRequest"
          },
          "path": "v1/audienceMembers:ingest",
          "httpMethod": "POST",
          "response": {
            "$ref": "IngestAudienceMembersResponse"
          },
          "id": "datamanager.audienceMembers.ingest",
          "flatPath": "v1/audienceMembers:ingest"
        },
        "remove": {
          "id": "datamanager.audienceMembers.remove",
          "flatPath": "v1/audienceMembers:remove",
          "request": {
            "$ref": "RemoveAudienceMembersRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameters": {},
          "parameterOrder": [],
          "description": "Removes a list of AudienceMember resources from the provided Destination.",
          "httpMethod": "POST",
          "response": {
            "$ref": "RemoveAudienceMembersResponse"
          },
          "path": "v1/audienceMembers:remove"
        }
      }
    },
    "requestStatus": {
      "methods": {
        "retrieve": {
          "path": "v1/requestStatus:retrieve",
          "httpMethod": "GET",
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "parameters": {
            "requestId": {
              "description": "Required. Required. The request ID of the Data Manager API request.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "description": "Gets the status of a request given request id.",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "flatPath": "v1/requestStatus:retrieve",
          "id": "datamanager.requestStatus.retrieve"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "RemoveAudienceMembersStatus": {
      "id": "RemoveAudienceMembersStatus",
      "description": "The status of the remove audience members request.",
      "type": "object",
      "properties": {
        "pairDataRemovalStatus": {
          "description": "The status of the pair data removal from the destination.",
          "$ref": "RemovePairDataStatus"
        },
        "ppidDataRemovalStatus": {
          "description": "The status of the ppid data removal from the destination.",
          "$ref": "RemovePpidDataStatus"
        },
        "mobileDataRemovalStatus": {
          "description": "The status of the mobile data removal from the destination.",
          "$ref": "RemoveMobileDataStatus"
        },
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        }
      }
    },
    "GcpWrappedKeyInfo": {
      "id": "GcpWrappedKeyInfo",
      "description": "Information about the Google Cloud Platform wrapped key.",
      "type": "object",
      "properties": {
        "kekUri": {
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`",
          "type": "string"
        },
        "keyType": {
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data.",
          "type": "string"
        },
        "wipProvider": {
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK.",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        }
      }
    },
    "ErrorInfo": {
      "properties": {
        "errorCounts": {
          "items": {
            "$ref": "ErrorCount"
          },
          "description": "A list of errors and counts per error reason. May not be populated in all cases.",
          "type": "array"
        }
      },
      "id": "ErrorInfo",
      "description": "Error counts for each type of error.",
      "type": "object"
    },
    "PpidData": {
      "properties": {
        "ppids": {
          "description": "Required. The list of publisher provided identifiers for a user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Publisher provided identifiers data holding the ppids. At least one ppid is required. This feature is only available to data partners.",
      "type": "object",
      "id": "PpidData"
    },
    "RemoveUserDataStatus": {
      "description": "The status of the user data removal from the destination.",
      "type": "object",
      "id": "RemoveUserDataStatus",
      "properties": {
        "userIdentifierCount": {
          "format": "int64",
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      }
    },
    "ContactIdInfo": {
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
      "type": "object",
      "id": "ContactIdInfo",
      "properties": {
        "dataSourceType": {
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "description": "Optional. Immutable. Source of the upload data",
          "type": "string"
        },
        "matchRatePercentage": {
          "format": "int32",
          "description": "Output only. Match rate for customer match user lists.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "PartnerAudienceInfo": {
      "properties": {
        "partnerAudienceSource": {
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ],
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "description": "Required. Immutable. The source of the partner audience.",
          "type": "string"
        },
        "commercePartner": {
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`.",
          "type": "string"
        }
      },
      "description": "Additional information for partner audiences. This feature is only available to data partners.",
      "type": "object",
      "id": "PartnerAudienceInfo"
    },
    "ProductAccount": {
      "description": "Represents a specific account.",
      "type": "object",
      "id": "ProductAccount",
      "properties": {
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "accountType": {
          "description": "Optional. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "product": {
          "type": "string",
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "description": "Deprecated. Use `account_type` instead.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "deprecated": true
        }
      }
    },
    "AwsWrappedKeyInfo": {
      "properties": {
        "roleArn": {
          "description": "Required. The Amazon Resource Name of the IAM Role to assume for KMS decryption access. Should be in the format of `arn:{partition}:iam::{account_id}:role/{role_name}`",
          "type": "string"
        },
        "kekUri": {
          "description": "Required. The URI of the AWS KMS key used to decrypt the DEK. Should be in the format of `arn:{partition}:kms:{region}:{account_id}:key/{key_id}` or `aws-kms://arn:{partition}:kms:{region}:{account_id}:key/{key_id}`",
          "type": "string"
        },
        "keyType": {
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data.",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        }
      },
      "id": "AwsWrappedKeyInfo",
      "description": "A data encryption key wrapped by an AWS KMS key.",
      "type": "object"
    },
    "MarketingDataInsight": {
      "properties": {
        "attributes": {
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          },
          "description": "Insights for values of a given dimension.",
          "type": "array"
        },
        "dimension": {
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ],
          "description": "The dimension to which the insight belongs.",
          "type": "string"
        }
      },
      "id": "MarketingDataInsight",
      "description": "Insights for marketing data. This feature is only available to data partners.",
      "type": "object"
    },
    "WarningInfo": {
      "description": "Warning counts for each type of warning.",
      "type": "object",
      "id": "WarningInfo",
      "properties": {
        "warningCounts": {
          "description": "A list of warnings and counts per warning reason.",
          "type": "array",
          "items": {
            "$ref": "WarningCount"
          }
        }
      }
    },
    "IngestPpidDataStatus": {
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestPpidDataStatus",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "format": "int64",
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      }
    },
    "IngestEventsStatus": {
      "description": "The status of the events ingestion to the destination.",
      "type": "object",
      "id": "IngestEventsStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      }
    },
    "UserIdData": {
      "properties": {
        "userId": {
          "description": "Required. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        }
      },
      "description": "User id data holding the user id.",
      "type": "object",
      "id": "UserIdData"
    },
    "IngestAudienceMembersStatus": {
      "id": "IngestAudienceMembersStatus",
      "description": "The status of the ingest audience members request.",
      "type": "object",
      "properties": {
        "userDataIngestionStatus": {
          "description": "The status of the user data ingestion to the destination.",
          "$ref": "IngestUserDataStatus"
        },
        "userIdDataIngestionStatus": {
          "description": "The status of the user id data ingestion to the destination.",
          "$ref": "IngestUserIdDataStatus"
        },
        "mobileDataIngestionStatus": {
          "description": "The status of the mobile data ingestion to the destination.",
          "$ref": "IngestMobileDataStatus"
        },
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        },
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        }
      }
    },
    "Event": {
      "properties": {
        "eventTimestamp": {
          "format": "google-datetime",
          "description": "Required. The time the event occurred.",
          "type": "string"
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        },
        "experimentalFields": {
          "items": {
            "$ref": "ExperimentalField"
          },
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API.",
          "type": "array"
        },
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "eventSource": {
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from other sources."
          ],
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "OTHER"
          ]
        },
        "eventName": {
          "description": "Optional. The name of the event. Required for GA4 events.",
          "type": "string"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "lastUpdatedTimestamp": {
          "format": "google-datetime",
          "description": "Optional. The last time the event was updated.",
          "type": "string"
        },
        "currency": {
          "description": "Optional. The currency code associated with all monetary values within this event.",
          "type": "string"
        },
        "additionalEventParameters": {
          "items": {
            "$ref": "EventParameter"
          },
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "clientId": {
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream.",
          "type": "string"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "type": "array"
        },
        "transactionId": {
          "description": "Optional. The unique identifier for this event. Required for conversions using multiple data sources.",
          "type": "string"
        },
        "userData": {
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with.",
          "$ref": "UserData"
        },
        "userProperties": {
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened.",
          "$ref": "UserProperties"
        },
        "adIdentifiers": {
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
          "$ref": "AdIdentifiers"
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with the event, for value-based conversions.",
          "type": "number",
          "format": "double"
        },
        "customVariables": {
          "items": {
            "$ref": "CustomVariable"
          },
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity).",
          "type": "array"
        }
      },
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "type": "object",
      "id": "Event"
    },
    "UserListLicenseMetrics": {
      "description": "Metrics related to a user list license.",
      "type": "object",
      "id": "UserListLicenseMetrics",
      "properties": {
        "revenueUsdMicros": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The revenue for the user list license in USD micros.",
          "type": "string"
        },
        "impressionCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of impressions for the user list license.",
          "type": "string"
        },
        "clickCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of clicks for the user list license.",
          "type": "string"
        },
        "endDate": {
          "format": "int64",
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string",
          "readOnly": true
        },
        "startDate": {
          "format": "int64",
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IngestUserIdDataStatus": {
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestUserIdDataStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "userIdCount": {
          "format": "int64",
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      }
    },
    "SizeInfo": {
      "description": "Estimated number of members in this user list in different target networks.",
      "type": "object",
      "id": "SizeInfo",
      "properties": {
        "displayNetworkMembersCount": {
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "type": "string",
          "readOnly": true
        },
        "searchNetworkMembersCount": {
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PairData": {
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners.",
      "type": "object",
      "id": "PairData",
      "properties": {
        "pairIds": {
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RetrieveInsightsResponse": {
      "id": "RetrieveInsightsResponse",
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights",
      "type": "object",
      "properties": {
        "marketingDataInsights": {
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "description": "Contains the insights for the marketing data.",
          "type": "array"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "type": "object",
      "properties": {
        "regionCodes": {
          "description": "List of ISO 3166-1 alpha-2 region codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UserListLicensePricing": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Start time of the pricing.",
          "type": "string",
          "readOnly": true
        },
        "pricingActive": {
          "readOnly": true,
          "description": "Output only. Whether this pricing is active.",
          "type": "boolean"
        },
        "endTime": {
          "description": "Optional. End time of the pricing.",
          "type": "string",
          "format": "google-datetime"
        },
        "buyerApprovalState": {
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ]
        },
        "maxCostMicros": {
          "format": "int64",
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "type": "string"
        },
        "pricingId": {
          "readOnly": true,
          "description": "Output only. The ID of this pricing.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "costMicros": {
          "format": "int64",
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "type": "string"
        },
        "costType": {
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ],
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ]
        }
      },
      "id": "UserListLicensePricing",
      "description": "A user list license pricing.",
      "type": "object"
    },
    "IngestUserDataStatus": {
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "id": "IngestUserDataStatus",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "uploadMatchRateRange": {
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "description": "The match rate range of the upload.",
          "type": "string"
        }
      }
    },
    "UserProperties": {
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details.",
      "type": "object",
      "id": "UserProperties",
      "properties": {
        "customerValueBucket": {
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ],
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Optional. The advertiser-assessed value of the customer.",
          "type": "string"
        },
        "customerType": {
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ],
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ],
          "description": "Optional. Type of the customer associated with the event.",
          "type": "string"
        },
        "additionalUserProperties": {
          "items": {
            "$ref": "UserProperty"
          },
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "type": "array"
        }
      }
    },
    "CartData": {
      "id": "CartData",
      "description": "The cart data associated with the event.",
      "type": "object",
      "properties": {
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the items.",
          "type": "string"
        },
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded.",
          "type": "string"
        },
        "merchantFeedLabel": {
          "description": "Optional. The Merchant Center feed label associated with the feed of the items.",
          "type": "string"
        },
        "transactionDiscount": {
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "type": "number",
          "format": "double"
        },
        "items": {
          "items": {
            "$ref": "Item"
          },
          "description": "Optional. The list of items associated with the event.",
          "type": "array"
        }
      }
    },
    "Destination": {
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "type": "object",
      "id": "Destination",
      "properties": {
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        },
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID.",
          "type": "string"
        }
      }
    },
    "UserIdentifier": {
      "properties": {
        "emailAddress": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "address": {
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once.",
          "$ref": "AddressInfo"
        },
        "phoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        }
      },
      "description": "A single identifier for the user.",
      "type": "object",
      "id": "UserIdentifier"
    },
    "Item": {
      "id": "Item",
      "description": "Represents an item in the cart associated with the event.",
      "type": "object",
      "properties": {
        "itemId": {
          "description": "Optional. A unique identifier to reference the item.",
          "type": "string"
        },
        "merchantProductId": {
          "description": "Optional. The product ID within the Merchant Center account.",
          "type": "string"
        },
        "quantity": {
          "format": "int64",
          "description": "Optional. The number of this item associated with the event.",
          "type": "string"
        },
        "additionalItemParameters": {
          "items": {
            "$ref": "ItemParameter"
          },
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "unitPrice": {
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "TermsOfService": {
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ],
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ],
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list.",
          "type": "string"
        }
      },
      "id": "TermsOfService",
      "description": "The terms of service that the user has accepted/rejected.",
      "type": "object"
    },
    "RequestStatusPerDestination": {
      "properties": {
        "destination": {
          "description": "A destination within a DM API request.",
          "$ref": "Destination"
        },
        "errorInfo": {
          "description": "An error info error containing the error reason and error counts related to the upload.",
          "$ref": "ErrorInfo"
        },
        "audienceMembersIngestionStatus": {
          "description": "The status of the ingest audience members request.",
          "$ref": "IngestAudienceMembersStatus"
        },
        "eventsIngestionStatus": {
          "description": "The status of the ingest events request.",
          "$ref": "IngestEventsStatus"
        },
        "requestStatus": {
          "description": "The request status of the destination.",
          "type": "string",
          "enumDescriptions": [
            "The request status is unknown.",
            "The request succeeded.",
            "The request is processing.",
            "The request failed.",
            "The request partially succeeded."
          ],
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ]
        },
        "warningInfo": {
          "description": "A warning info containing the warning reason and warning counts related to the upload.",
          "$ref": "WarningInfo"
        },
        "audienceMembersRemovalStatus": {
          "description": "The status of the remove audience members request.",
          "$ref": "RemoveAudienceMembersStatus"
        }
      },
      "id": "RequestStatusPerDestination",
      "description": "A request status per destination.",
      "type": "object"
    },
    "RemovePpidDataStatus": {
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "format": "int64",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      },
      "id": "RemovePpidDataStatus",
      "description": "The status of the ppid data removal from the destination.",
      "type": "object"
    },
    "WarningCount": {
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The count of records that have a warning.",
          "type": "string"
        },
        "reason": {
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt th UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ],
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "description": "The warning reason.",
          "type": "string"
        }
      },
      "description": "The warning count for a given warning reason.",
      "type": "object",
      "id": "WarningCount"
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest.",
      "type": "object",
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userListGlobalLicenseCustomerInfos": {
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          },
          "description": "The customer information for the given license in the request.",
          "type": "array"
        }
      }
    },
    "PseudonymousIdInfo": {
      "id": "PseudonymousIdInfo",
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "syncStatus": {
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ],
          "description": "Output only. Sync status of the user list.",
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "billableRecordCount": {
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UserListDirectLicense": {
      "description": "A user list direct license. This feature is only available to data partners.",
      "type": "object",
      "id": "UserListDirectLicense",
      "properties": {
        "clientAccountId": {
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "clientAccountDisplayName": {
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "type": "string",
          "readOnly": true
        },
        "historicalPricings": {
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "type": "array"
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "clientAccountType": {
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "status": {
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RemoveAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the RemoveAudienceMembersRequest.",
      "type": "object",
      "id": "RemoveAudienceMembersResponse"
    },
    "CustomVariable": {
      "properties": {
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array"
        }
      },
      "id": "CustomVariable",
      "description": "Custom variable for ads conversions.",
      "type": "object"
    },
    "UserList": {
      "properties": {
        "accountAccessStatus": {
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ],
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "integrationCode": {
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems.",
          "type": "string"
        },
        "targetNetworkInfo": {
          "description": "Optional. Eligibility information for different target networks.",
          "$ref": "TargetNetworkInfo"
        },
        "description": {
          "description": "Optional. A description of the user list.",
          "type": "string"
        },
        "membershipDuration": {
          "format": "google-duration",
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error.",
          "type": "string"
        },
        "membershipStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ],
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "description": "Optional. Membership status of this user list.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the user list.",
          "type": "string"
        },
        "accessReason": {
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "description": "Output only. The reason this account has been granted access to the list.",
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The unique ID of the user list.",
          "type": "string",
          "format": "int64"
        },
        "ingestedUserListInfo": {
          "description": "Optional. Represents a user list that is populated by user ingested data.",
          "$ref": "IngestedUserListInfo"
        },
        "sizeInfo": {
          "$ref": "SizeInfo",
          "description": "Output only. Estimated number of members in this user list in different target networks.",
          "readOnly": true
        },
        "readOnly": {
          "readOnly": true,
          "description": "Output only. An option that indicates if a user may edit a list.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
          "type": "string"
        },
        "closingReason": {
          "description": "Output only. The reason why this user list membership status is closed.",
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ]
        }
      },
      "id": "UserList",
      "description": "A user list resource.",
      "type": "object"
    },
    "Consent": {
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "type": "object",
      "id": "Consent",
      "properties": {
        "adUserData": {
          "description": "Optional. Represents if the user consents to ad user data.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adPersonalization": {
          "description": "Optional. Represents if the user consents to ad personalization.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        }
      }
    },
    "IngestAudienceMembersResponse": {
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the IngestAudienceMembersRequest.",
      "type": "object",
      "id": "IngestAudienceMembersResponse"
    },
    "ItemParameter": {
      "properties": {
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        },
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        }
      },
      "id": "ItemParameter",
      "description": "A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
      "type": "object"
    },
    "UserListGlobalLicenseCustomerInfo": {
      "properties": {
        "licenseType": {
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed.",
          "type": "string",
          "readOnly": true
        },
        "clientAccountType": {
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
[...]
