{
  "revision": "20260227",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Cloud Dataproc API",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "rootUrl": "https://dataproc.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://dataproc.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
  "mtlsRootUrl": "https://dataproc.mtls.googleapis.com/",
  "canonicalName": "Dataproc",
  "id": "dataproc:v1",
  "schemas": {
    "AccessSparkApplicationStageAttemptResponse": {
      "id": "AccessSparkApplicationStageAttemptResponse",
      "properties": {
        "stageData": {
          "$ref": "StageData",
          "readOnly": true,
          "description": "Output only. Data corresponding to a stage."
        }
      },
      "description": "Stage Attempt for a Stage of a Spark Application",
      "type": "object"
    },
    "TaskMetrics": {
      "properties": {
        "shuffleReadMetrics": {
          "$ref": "ShuffleReadMetrics"
        },
        "shuffleWriteMetrics": {
          "$ref": "ShuffleWriteMetrics"
        },
        "executorDeserializeTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "outputMetrics": {
          "$ref": "OutputMetrics"
        },
        "memoryBytesSpilled": {
          "format": "int64",
          "type": "string"
        },
        "jvmGcTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "diskBytesSpilled": {
          "format": "int64",
          "type": "string"
        },
        "resultSerializationTimeMillis": {
          "format": "int64",
          "type": "string"
        },
        "resultSize": {
          "type": "string",
          "format": "int64"
        },
        "executorDeserializeCpuTimeNanos": {
          "format": "int64",
          "type": "string"
        },
        "executorRunTimeMillis": {
          "format": "int64",
          "type": "string"
        },
        "executorCpuTimeNanos": {
          "format": "int64",
          "type": "string"
        },
        "peakExecutionMemoryBytes": {
          "type": "string",
          "format": "int64"
        },
        "inputMetrics": {
          "$ref": "InputMetrics"
        }
      },
      "description": "Executor Task Metrics",
      "type": "object",
      "id": "TaskMetrics"
    },
    "UsageMetrics": {
      "id": "UsageMetrics",
      "description": "Usage metrics represent approximate total resources consumed by a workload.",
      "properties": {
        "acceleratorType": {
          "description": "Optional. DEPRECATED Accelerator type being used, if any",
          "type": "string"
        },
        "milliAcceleratorSeconds": {
          "type": "string",
          "description": "Optional. DEPRECATED Accelerator usage in (milliAccelerator x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "format": "int64"
        },
        "shuffleStorageGbSeconds": {
          "description": "Optional. Shuffle storage usage in (GB x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "format": "int64",
          "type": "string"
        },
        "milliDcuSeconds": {
          "description": "Optional. DCU (Dataproc Compute Units) usage in (milliDCU x seconds) (see Dataproc Serverless pricing (https://cloud.google.com/dataproc-serverless/pricing)).",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "description": "Optional. The timestamp of the usage metrics.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WriteSparkApplicationContextResponse": {
      "description": "Response returned as an acknowledgement of receipt of data.",
      "type": "object",
      "id": "WriteSparkApplicationContextResponse",
      "properties": {}
    },
    "ListWorkflowTemplatesResponse": {
      "description": "A response to a request to list workflow templates in a project.",
      "type": "object",
      "id": "ListWorkflowTemplatesResponse",
      "properties": {
        "unreachable": {
          "description": "Output only. List of workflow templates that could not be included in the response. Attempting to get one of these resources may indicate why it was not included in the list response.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "templates": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "WorkflowTemplate"
          },
          "description": "Output only. WorkflowTemplates list."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListWorkflowTemplatesRequest."
        }
      }
    },
    "PigJob": {
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN.",
      "type": "object",
      "properties": {
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains the Pig queries.",
          "type": "string"
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "scriptVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value]).",
          "type": "object"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code."
        }
      },
      "id": "PigJob"
    },
    "StageAttemptTasksSummary": {
      "type": "object",
      "properties": {
        "stageAttemptId": {
          "format": "int32",
          "type": "integer"
        },
        "numFailedTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numTasks": {
          "format": "int32",
          "type": "integer"
        },
        "applicationId": {
          "type": "string"
        },
        "numPendingTasks": {
          "type": "integer",
          "format": "int32"
        },
        "stageId": {
          "format": "int64",
          "type": "string"
        },
        "numKilledTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numSuccessTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numRunningTasks": {
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Data related to tasks summary for a Spark Stage Attempt",
      "id": "StageAttemptTasksSummary"
    },
    "SearchSessionSparkApplicationStageAttemptsResponse": {
      "type": "object",
      "description": "A list of Stage Attempts for a Stage of a Spark Application.",
      "id": "SearchSessionSparkApplicationStageAttemptsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStageAttemptsRequest."
        },
        "sparkApplicationStageAttempts": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "StageData"
          },
          "description": "Output only. Data corresponding to a stage attempts"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "SummarizeSparkApplicationStageAttemptTasksResponse": {
      "description": "Summary of tasks for a Spark Application stage attempt.",
      "properties": {
        "stageAttemptTasksSummary": {
          "description": "Summary of tasks for a Spark Application Stage Attempt",
          "$ref": "StageAttemptTasksSummary"
        }
      },
      "type": "object",
      "id": "SummarizeSparkApplicationStageAttemptTasksResponse"
    },
    "Session": {
      "properties": {
        "stateHistory": {
          "items": {
            "$ref": "SessionStateHistory"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Historical state information for the session."
        },
        "name": {
          "description": "Identifier. The resource name of the session.",
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. Session state details, such as the failure description if the state is FAILED.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the session was created.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to associate with the session. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session."
        },
        "state": {
          "description": "Output only. A state of the session.",
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created prior to running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "readOnly": true
        },
        "uuid": {
          "description": "Output only. A session UUID (Unique Universal Identifier). The service generates this value when it creates the session.",
          "type": "string",
          "readOnly": true
        },
        "user": {
          "description": "Optional. The email address of the user who owns the session.",
          "type": "string"
        },
        "environmentConfig": {
          "description": "Optional. Environment configuration for the session execution.",
          "$ref": "EnvironmentConfig"
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address of the user who created the session."
        },
        "sparkConnectSession": {
          "description": "Optional. Spark connect session config.",
          "$ref": "SparkConnectConfig"
        },
        "jupyterSession": {
          "description": "Optional. Jupyter session config.",
          "$ref": "JupyterConfig"
        },
        "sessionTemplate": {
          "description": "Optional. The session template used by the session.Only resource names, including project ID and location, are valid.Example: * https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/sessionTemplates/[template_id] * projects/[project_id]/locations/[dataproc_region]/sessionTemplates/[template_id]The template must be in the same project and Dataproc region as the session.",
          "type": "string"
        },
        "runtimeInfo": {
          "description": "Output only. Runtime information about session execution.",
          "$ref": "RuntimeInfo",
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The time when the session entered the current state.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "runtimeConfig": {
          "$ref": "RuntimeConfig",
          "description": "Optional. Runtime configuration for the session execution."
        }
      },
      "description": "A representation of a session.",
      "id": "Session",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "description": "Request message for GetIamPolicy method.",
      "id": "GetIamPolicyRequest"
    },
    "TrinoJob": {
      "id": "TrinoJob",
      "type": "object",
      "properties": {
        "queryFileUri": {
          "description": "The HCFS URI of the script that contains SQL queries.",
          "type": "string"
        },
        "continueOnFailure": {
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries.",
          "type": "boolean"
        },
        "outputFormat": {
          "description": "Optional. The format in which query output will be displayed. See the Trino documentation for supported output formats",
          "type": "string"
        },
        "properties": {
          "description": "Optional. A mapping of property names to values. Used to set Trino session properties (https://trino.io/docs/current/sql/set-session.html) Equivalent to using the --session flag in the Trino CLI",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "clientTags": {
          "type": "array",
          "description": "Optional. Trino client tags to attach to this query",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A Dataproc job for running Trino (https://trino.io/) queries. IMPORTANT: The Dataproc Trino Optional Component (https://cloud.google.com/dataproc/docs/concepts/components/trino) must be enabled when the cluster is created to submit a Trino job to the cluster."
    },
    "InstanceGroupConfig": {
      "type": "object",
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group.",
      "properties": {
        "imageUri": {
          "type": "string",
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default."
        },
        "startupConfig": {
          "$ref": "StartupConfig",
          "description": "Optional. Configuration to handle the startup of instances during cluster create and update process."
        },
        "instanceReferences": {
          "description": "Output only. List of references to Compute Engine instances.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "InstanceReference"
          }
        },
        "preemptibility": {
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "type": "string",
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible (https://cloud.google.com/compute/docs/instances/preemptible).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups.",
            "Instances are Spot VMs (https://cloud.google.com/compute/docs/instances/spot).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups. Spot VMs are the latest version of preemptible VMs (https://cloud.google.com/compute/docs/instances/preemptible), and provide additional features."
          ],
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE",
            "SPOT"
          ]
        },
        "isPreemptible": {
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "readOnly": true,
          "type": "boolean"
        },
        "minNumInstances": {
          "description": "Optional. The minimum number of primary worker instances to create. If min_num_instances is set, cluster creation will succeed if the number of primary workers created is at least equal to the min_num_instances number.Example: Cluster creation request with num_instances = 5 and min_num_instances = 3: If 4 VMs are created and 1 instance fails, the failed VM is deleted. The cluster is resized to 4 instances and placed in a RUNNING state. If 2 instances are created and 3 instances fail, the cluster in placed in an ERROR state. The failed VMs are not deleted.",
          "type": "integer",
          "format": "int32"
        },
        "instanceFlexibilityPolicy": {
          "description": "Optional. Instance flexibility Policy allowing a mixture of VM shapes and provisioning models.",
          "$ref": "InstanceFlexibilityPolicy"
        },
        "managedGroupConfig": {
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups.",
          "readOnly": true,
          "$ref": "ManagedGroupConfig"
        },
        "accelerators": {
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        },
        "numInstances": {
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1.",
          "type": "integer",
          "format": "int32"
        },
        "instanceNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group.",
          "readOnly": true
        },
        "machineTypeUri": {
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2.",
          "type": "string"
        },
        "diskConfig": {
          "$ref": "DiskConfig",
          "description": "Optional. Disk option config settings."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -> Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        }
      },
      "id": "InstanceGroupConfig"
    },
    "PySparkBatch": {
      "id": "PySparkBatch",
      "type": "object",
      "description": "A configuration for running an Apache PySpark (https://spark.apache.org/docs/latest/api/python/getting_started/quickstart.html) batch workload.",
      "properties": {
        "pythonFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS file URIs of Python files to pass to the PySpark framework. Supported file types: .py, .egg, and .zip."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission."
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array"
        },
        "mainPythonFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main Python file to use as the Spark driver. Must be a .py file."
        }
      }
    },
    "AccessSessionSparkApplicationSqlSparkPlanGraphResponse": {
      "type": "object",
      "id": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse",
      "description": "SparkPlanGraph for a Spark Application execution limited to maximum 10000 clusters.",
      "properties": {
        "sparkPlanGraph": {
          "$ref": "SparkPlanGraph",
          "description": "SparkPlanGraph for a Spark Application execution."
        }
      }
    },
    "NativeBuildInfoUiData": {
      "id": "NativeBuildInfoUiData",
      "type": "object",
      "properties": {
        "buildInfo": {
          "description": "Optional. Build related details.",
          "type": "array",
          "items": {
            "$ref": "BuildInfo"
          }
        },
        "buildClass": {
          "description": "Optional. Build class of Native.",
          "type": "string"
        }
      }
    },
    "SearchSessionSparkApplicationStagesResponse": {
      "description": "A list of stages associated with a Spark Application.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStages."
        },
        "sparkApplicationStages": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "StageData"
          },
          "description": "Output only. Data corresponding to a stage."
        }
      },
      "id": "SearchSessionSparkApplicationStagesResponse",
      "type": "object"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "description": "Encryption settings for the cluster.",
      "properties": {
        "gcePdKmsKeyName": {
          "description": "Optional. The Cloud KMS key resource name to use for persistent disk encryption for all instances in the cluster. See Use CMEK with cluster data (https://cloud.google.com//dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_cluster_data) for more information.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key resource name to use for cluster persistent disk and job argument encryption. See Use CMEK with cluster data (https://cloud.google.com//dataproc/docs/concepts/configuring-clusters/customer-managed-encryption#use_cmek_with_cluster_data) for more information.When this key resource name is provided, the following job arguments of the following job types submitted to the cluster are encrypted using CMEK: FlinkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/FlinkJob) HadoopJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/HadoopJob) SparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkJob) SparkRJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkRJob) PySparkJob args (https://cloud.google.com/dataproc/docs/reference/rest/v1/PySparkJob) SparkSqlJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/SparkSqlJob) scriptVariables and queryList.queries HiveJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/HiveJob) scriptVariables and queryList.queries PigJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PigJob) scriptVariables and queryList.queries PrestoJob (https://cloud.google.com/dataproc/docs/reference/rest/v1/PrestoJob) scriptVariables and queryList.queries",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchSparkApplicationJobsResponse": {
      "description": "A list of Jobs associated with a Spark Application.",
      "properties": {
        "sparkApplicationJobs": {
          "description": "Output only. Data corresponding to a spark job.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "JobData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationJobsRequest.",
          "type": "string"
        }
      },
      "id": "SearchSparkApplicationJobsResponse",
      "type": "object"
    },
    "Quantiles": {
      "properties": {
        "percentile25": {
          "type": "string",
          "format": "int64"
        },
        "sum": {
          "type": "string",
          "format": "int64"
        },
        "percentile50": {
          "type": "string",
          "format": "int64"
        },
        "count": {
          "type": "string",
          "format": "int64"
        },
        "percentile75": {
          "type": "string",
          "format": "int64"
        },
        "maximum": {
          "type": "string",
          "format": "int64"
        },
        "minimum": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Quantile metrics data related to Tasks. Units can be seconds, bytes, milliseconds, etc depending on the message type.",
      "id": "Quantiles",
      "type": "object"
    },
    "LoggingConfig": {
      "type": "object",
      "properties": {
        "driverLogLevels": {
          "type": "object",
          "description": "The per-package log levels for the driver. This can include \"root\" package name to configure rootLogger. Examples: - 'com.google = FATAL' - 'root = INFO' - 'org.apache = DEBUG'",
          "additionalProperties": {
            "enumDescriptions": [
              "Level is unspecified. Use default level for log4j.",
              "Use ALL level for log4j.",
              "Use TRACE level for log4j.",
              "Use DEBUG level for log4j.",
              "Use INFO level for log4j.",
              "Use WARN level for log4j.",
              "Use ERROR level for log4j.",
              "Use FATAL level for log4j.",
              "Turn off log4j."
            ],
            "enum": [
              "LEVEL_UNSPECIFIED",
              "ALL",
              "TRACE",
              "DEBUG",
              "INFO",
              "WARN",
              "ERROR",
              "FATAL",
              "OFF"
            ],
            "type": "string"
          }
        }
      },
      "description": "The runtime logging config of the job.",
      "id": "LoggingConfig"
    },
    "ClusterConfig": {
      "id": "ClusterConfig",
      "properties": {
        "clusterTier": {
          "enum": [
            "CLUSTER_TIER_UNSPECIFIED",
            "CLUSTER_TIER_STANDARD",
            "CLUSTER_TIER_PREMIUM"
          ],
          "description": "Optional. The cluster tier.",
          "enumDescriptions": [
            "Not set. Works the same as CLUSTER_TIER_STANDARD.",
            "Standard Dataproc cluster.",
            "Premium Dataproc cluster."
          ],
          "type": "string"
        },
        "configBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "lifecycleConfig": {
          "description": "Optional. Lifecycle setting for the cluster.",
          "$ref": "LifecycleConfig"
        },
        "metastoreConfig": {
          "$ref": "MetastoreConfig",
          "description": "Optional. Metastore configuration."
        },
        "gceClusterConfig": {
          "$ref": "GceClusterConfig",
          "description": "Optional. The shared Compute Engine config settings for all instances in a cluster."
        },
        "autoscalingConfig": {
          "description": "Optional. Autoscaling config for the policy associated with the cluster. Cluster does not autoscale if this field is unset.",
          "$ref": "AutoscalingConfig"
        },
        "softwareConfig": {
          "description": "Optional. The config settings for cluster software.",
          "$ref": "SoftwareConfig"
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for the cluster.",
          "$ref": "EncryptionConfig"
        },
        "securityConfig": {
          "$ref": "SecurityConfig",
          "description": "Optional. Security settings for the cluster."
        },
        "auxiliaryNodeGroups": {
          "type": "array",
          "items": {
            "$ref": "AuxiliaryNodeGroup"
          },
          "description": "Optional. The node group settings."
        },
        "masterConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's master instance."
        },
        "diagnosticBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to collect checkpoint diagnostic data (https://cloud.google.com/dataproc/docs/support/diagnose-clusters#checkpoint_diagnostic_data). If you do not specify a diagnostic bucket, Cloud Dataproc will use the Dataproc temp bucket to collect the checkpoint diagnostic data. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "gkeClusterConfig": {
          "description": "Optional. BETA. The Kubernetes Engine config for Dataproc clusters deployed to The Kubernetes Engine config for Dataproc clusters deployed to Kubernetes. These config settings are mutually exclusive with Compute Engine-based options, such as gce_cluster_config, master_config, worker_config, secondary_worker_config, and autoscaling_config.",
          "$ref": "GkeClusterConfig",
          "deprecated": true
        },
        "endpointConfig": {
          "description": "Optional. Port/endpoint configuration for this cluster",
          "$ref": "EndpointConfig"
        },
        "initializationActions": {
          "type": "array",
          "items": {
            "$ref": "NodeInitializationAction"
          },
          "description": "Optional. Commands to execute on each node after config is completed. By default, executables are run on master and all worker nodes. You can test a node's role metadata to run an executable on a master or worker node, as shown below using curl (you can also use wget): ROLE=$(curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/attributes/dataproc-role) if [[ \"${ROLE}\" == 'Master' ]]; then ... master specific actions ... else ... worker specific actions ... fi "
        },
        "workerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for the cluster's worker instances."
        },
        "clusterType": {
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "STANDARD",
            "SINGLE_NODE",
            "ZERO_SCALE"
          ],
          "description": "Optional. The type of the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Standard dataproc cluster with a minimum of two primary workers.",
            "https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/single-node-clusters",
            "Clusters that can use only secondary workers and be scaled down to zero secondary worker nodes."
          ]
        },
        "secondaryWorkerConfig": {
          "$ref": "InstanceGroupConfig",
          "description": "Optional. The Compute Engine config settings for a cluster's secondary worker instances"
        },
        "tempBucket": {
          "type": "string",
          "description": "Optional. A Cloud Storage bucket used to store ephemeral cluster and jobs data, such as Spark and MapReduce history files. If you do not specify a temp bucket, Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's temp bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket. The default bucket has a TTL of 90 days, but you can use any TTL (or none) if you specify a bucket (see Dataproc staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket."
        },
        "dataprocMetricConfig": {
          "description": "Optional. The config for Dataproc metrics.",
          "$ref": "DataprocMetricConfig"
        }
      },
      "type": "object",
      "description": "The cluster config."
    },
    "StageShuffleWriteMetrics": {
      "id": "StageShuffleWriteMetrics",
      "type": "object",
      "properties": {
        "writeTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "format": "int64",
          "type": "string"
        },
        "bytesWritten": {
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Shuffle data written for the stage."
    },
    "YarnApplication": {
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "properties": {
        "progress": {
          "type": "number",
          "format": "float",
          "description": "Required. The numerical progress of the application, from 1 to 100."
        },
        "trackingUrl": {
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The application name."
        },
        "vcoreSeconds": {
          "description": "Optional. The cumulative CPU time consumed by the application for a job, measured in vcore-seconds.",
          "format": "int64",
          "type": "string"
        },
        "memoryMbSeconds": {
          "description": "Optional. The cumulative memory usage of the application for a job, measured in mb-seconds.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "description": "Required. The application state.",
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ],
          "type": "string"
        }
      },
      "id": "YarnApplication",
      "type": "object"
    },
    "ListAutoscalingPoliciesResponse": {
      "properties": {
        "policies": {
          "description": "Output only. Autoscaling policies list.",
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. This token is included in the response if there are more results to fetch.",
          "readOnly": true
        }
      },
      "id": "ListAutoscalingPoliciesResponse",
      "type": "object",
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "AccessSessionSparkApplicationStageRddOperationGraphResponse": {
      "type": "object",
      "properties": {
        "rddOperationGraph": {
          "$ref": "RddOperationGraph",
          "description": "RDD operation graph for a Spark Application Stage."
        }
      },
      "id": "AccessSessionSparkApplicationStageRddOperationGraphResponse",
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters."
    },
    "ProvisioningModelMix": {
      "properties": {
        "standardCapacityBase": {
          "type": "integer",
          "description": "Optional. The base capacity that will always use Standard VMs to avoid risk of more preemption than the minimum capacity you need. Dataproc will create only standard VMs until it reaches standard_capacity_base, then it will start using standard_capacity_percent_above_base to mix Spot with Standard VMs. eg. If 15 instances are requested and standard_capacity_base is 5, Dataproc will create 5 standard VMs and then start mixing spot and standard VMs for remaining 10 instances.",
          "format": "int32"
        },
        "standardCapacityPercentAboveBase": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The percentage of target capacity that should use Standard VM. The remaining percentage will use Spot VMs. The percentage applies only to the capacity above standard_capacity_base. eg. If 15 instances are requested and standard_capacity_base is 5 and standard_capacity_percent_above_base is 30, Dataproc will create 5 standard VMs and then start mixing spot and standard VMs for remaining 10 instances. The mix will be 30% standard and 70% spot."
        }
      },
      "id": "ProvisioningModelMix",
      "type": "object",
      "description": "Defines how Dataproc should create VMs with a mixture of provisioning models."
    },
    "EndpointConfig": {
      "id": "EndpointConfig",
      "description": "Endpoint config for this cluster",
      "type": "object",
      "properties": {
        "enableHttpPortAccess": {
          "description": "Optional. If true, enable http access to specific ports on the cluster from external sources. Defaults to false.",
          "type": "boolean"
        },
        "httpPorts": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The map of port descriptions to URLs. Will only be populated if enable_http_port_access is true.",
          "readOnly": true,
          "type": "object"
        }
      }
    },
    "DiskConfig": {
      "description": "Specifies the config of boot disk and attached disk options for a group of VM instances.",
      "properties": {
        "bootDiskProvisionedIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. This field is supported only if boot_disk_type is hyperdisk-balanced."
        },
        "bootDiskProvisionedThroughput": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput mb per second that the disk can handle. Values must be greater than or equal to 1. This field is supported only if boot_disk_type is hyperdisk-balanced."
        },
        "bootDiskSizeGb": {
          "format": "int32",
          "description": "Optional. Size in GB of the boot disk (default is 500GB).",
          "type": "integer"
        },
        "bootDiskType": {
          "type": "string",
          "description": "Optional. Type of the boot disk (default is \"pd-standard\"). Valid values: \"pd-balanced\" (Persistent Disk Balanced Solid State Drive), \"pd-ssd\" (Persistent Disk Solid State Drive), or \"pd-standard\" (Persistent Disk Hard Disk Drive). See Disk types (https://cloud.google.com/compute/docs/disks#disk-types)."
        },
        "attachedDiskConfigs": {
          "description": "Optional. A list of attached disk configs for a group of VM instances.",
          "type": "array",
          "items": {
            "$ref": "AttachedDiskConfig"
          }
        },
        "numLocalSsds": {
          "description": "Optional. Number of attached SSDs, from 0 to 8 (default is 0). If SSDs are not attached, the boot disk is used to store runtime logs and HDFS (https://hadoop.apache.org/docs/r1.2.1/hdfs_user_guide.html) data. If one or more SSDs are attached, this runtime bulk data is spread across them, and the boot disk contains only basic config and installed binaries.Note: Local SSD options may vary by machine type and number of vCPUs selected.",
          "format": "int32",
          "type": "integer"
        },
        "localSsdInterface": {
          "description": "Optional. Interface type of local SSDs (default is \"scsi\"). Valid values: \"scsi\" (Small Computer System Interface), \"nvme\" (Non-Volatile Memory Express). See local SSD performance (https://cloud.google.com/compute/docs/disks/local-ssd#performance).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskConfig"
    },
    "SearchSparkApplicationStageAttemptsResponse": {
      "type": "object",
      "id": "SearchSparkApplicationStageAttemptsResponse",
      "description": "A list of Stage Attempts for a Stage of a Spark Application.",
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListSparkApplicationStageAttemptsRequest.",
          "type": "string"
        },
        "sparkApplicationStageAttempts": {
          "description": "Output only. Data corresponding to a stage attempts",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StageData"
          }
        }
      }
    },
    "ShuffleReadMetrics": {
      "properties": {
        "shufflePushReadMetrics": {
          "$ref": "ShufflePushReadMetrics"
        },
        "localBlocksFetched": {
          "type": "string",
          "format": "int64"
        },
        "remoteBytesReadToDisk": {
          "format": "int64",
          "type": "string"
        },
        "localBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "fetchWaitTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "remoteReqsDuration": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteBlocksFetched": {
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Shuffle data read by the task.",
      "id": "ShuffleReadMetrics",
      "type": "object"
    },
    "HadoopJob": {
      "description": "A Dataproc job for running Apache Hadoop MapReduce (https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapReduceTutorial.html) jobs on Apache Hadoop YARN (https://hadoop.apache.org/docs/r2.7.1/hadoop-yarn/hadoop-yarn-site/YARN.html).",
      "type": "object",
      "properties": {
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted in the working directory of Hadoop drivers and tasks. Supported file types: .jar, .tar, .tar.gz, .tgz, or .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file containing the class must be in the default CLASSPATH or specified in jar_file_uris."
        },
        "jarFileUris": {
          "description": "Optional. Jar file URIs to add to the CLASSPATHs of the Hadoop driver and tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as -libjars or -Dfoo=bar, that can be set as job properties, since a collision might occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Hadoop. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site and classes in user code.",
          "type": "object"
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file containing the main class. Examples: 'gs://foo-bucket/analytics-binaries/extract-useful-metrics-mr.jar' 'hdfs:/tmp/test-samples/custom-wordcount.jar' 'file:///home/usr/lib/hadoop-mapreduce/hadoop-mapreduce-examples.jar'",
          "type": "string"
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "fileUris": {
          "type": "array",
          "description": "Optional. HCFS (Hadoop Compatible Filesystem) URIs of files to be copied to the working directory of Hadoop drivers and distributed tasks. Useful for naively parallel tasks.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "HadoopJob"
    },
    "ShuffleWriteQuantileMetrics": {
      "type": "object",
      "id": "ShuffleWriteQuantileMetrics",
      "properties": {
        "writeTimeNanos": {
          "$ref": "Quantiles"
        },
        "writeBytes": {
          "$ref": "Quantiles"
        },
        "writeRecords": {
          "$ref": "Quantiles"
        }
      }
    },
    "ExecutorPeakMetricsDistributions": {
      "type": "object",
      "id": "ExecutorPeakMetricsDistributions",
      "properties": {
        "quantiles": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "type": "array"
        },
        "executorMetrics": {
          "type": "array",
          "items": {
            "$ref": "ExecutorMetrics"
          }
        }
      }
    },
    "BatchOperationMetadata": {
      "id": "BatchOperationMetadata",
      "properties": {
        "warnings": {
          "description": "Warnings encountered during operation execution.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with the operation."
        },
        "batch": {
          "description": "Name of the batch for the operation.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Short description of the operation."
        },
        "operationType": {
          "description": "The operation type.",
          "enumDescriptions": [
            "Batch operation type is unknown.",
            "Batch operation type."
          ],
          "type": "string",
          "enum": [
            "BATCH_OPERATION_TYPE_UNSPECIFIED",
            "BATCH"
          ]
        },
        "batchUuid": {
          "description": "Batch UUID for the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "doneTime": {
          "format": "google-datetime",
          "description": "The time when the operation finished.",
          "type": "string"
        }
      },
      "description": "Metadata describing the Batch operation.",
      "type": "object"
    },
    "Job": {
      "type": "object",
      "description": "A Dataproc job resource.",
      "id": "Job",
      "properties": {
        "yarnApplications": {
          "readOnly": true,
          "description": "Output only. The collection of YARN applications spun up by this job.Beta Feature: This report is available for testing purposes only. It might be changed before final release.",
          "items": {
            "$ref": "YarnApplication"
          },
          "type": "array"
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "trinoJob": {
          "description": "Optional. Job is a Trino job.",
          "$ref": "TrinoJob"
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "pysparkJob": {
          "$ref": "PySparkJob",
          "description": "Optional. Job is a PySpark job."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels to associate with this job. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values can be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sparkRJob": {
          "description": "Optional. Job is a SparkR job.",
          "$ref": "SparkRJob"
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "flinkJob": {
          "description": "Optional. Job is a Flink job.",
          "$ref": "FlinkJob"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The job status. Additional application-specific status information might be contained in the type_job and yarn_applications fields.",
          "$ref": "JobStatus"
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "done": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the job is completed. If the value is false, the job is still in progress. If true, the job is completed, and status.state field will indicate if it was successful, failed, or cancelled."
        },
        "driverOutputResourceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A URI pointing to the location of the stdout of the job's driver program."
        },
        "driverControlFilesUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If present, the location of miscellaneous control files which can be used as part of job setup and handling. If not present, control files might be placed in the same location as driver_output_uri."
        },
        "driverSchedulingConfig": {
          "description": "Optional. Driver scheduling configuration.",
          "$ref": "DriverSchedulingConfig"
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "statusHistory": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "JobStatus"
          },
          "description": "Output only. The previous job status."
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "placement": {
          "description": "Required. Job information, including how, when, and where to run the job.",
          "$ref": "JobPlacement"
        },
        "jobUuid": {
          "description": "Output only. A UUID that uniquely identifies a job within the project over time. This is in contrast to a user-settable reference.job_id that might be reused over time.",
          "readOnly": true,
          "type": "string"
        },
        "reference": {
          "description": "Optional. The fully qualified reference to the job, which can be used to obtain the equivalent REST path of the job resource. If this property is not specified when a job is created, the server generates a job_id.",
          "$ref": "JobReference"
        },
        "prestoJob": {
          "description": "Optional. Job is a Presto job.",
          "$ref": "PrestoJob"
        }
      }
    },
    "InstantiateWorkflowTemplateRequest": {
      "id": "InstantiateWorkflowTemplateRequest",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters."
        },
        "requestId": {
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template."
        }
      },
      "description": "A request to instantiate a workflow template."
    },
    "ManagedGroupConfig": {
      "properties": {
        "instanceTemplateName": {
          "description": "Output only. The name of the Instance Template used for the Managed Instance Group.",
          "type": "string",
          "readOnly": true
        },
        "instanceGroupManagerUri": {
          "type": "string",
          "description": "Output only. The partial URI to the instance group manager for this group. E.g. projects/my-project/regions/us-central1/instanceGroupManagers/my-igm.",
          "readOnly": true
        },
        "instanceGroupManagerName": {
          "description": "Output only. The name of the Instance Group Manager for this group.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ManagedGroupConfig",
      "description": "Specifies the resources used to actively manage an instance group.",
      "type": "object"
    },
    "DiagnoseClusterRequest": {
      "id": "DiagnoseClusterRequest",
      "description": "A request to collect cluster diagnostic information.",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies a list of jobs on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}"
        },
        "yarnApplicationId": {
          "description": "Optional. DEPRECATED Specifies the yarn application on which diagnosis is to be performed.",
          "type": "string",
          "deprecated": true
        },
        "diagnosisInterval": {
          "$ref": "Interval",
          "description": "Optional. Time interval in which diagnosis should be carried out on the cluster."
        },
        "tarballGcsDir": {
          "type": "string",
          "description": "Optional. (Optional) The output Cloud Storage directory for the diagnostic tarball. If not specified, a task-specific directory in the cluster's staging bucket will be used."
        },
        "yarnApplicationIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies a list of yarn applications on which diagnosis is to be performed."
        },
        "tarballAccess": {
          "type": "string",
          "description": "Optional. (Optional) The access type to the diagnostic tarball. If not specified, falls back to default access of the bucket",
          "enumDescriptions": [
            "Tarball Access unspecified. Falls back to default access of the bucket",
            "Google Cloud Support group has read access to the diagnostic tarball",
            "Google Cloud Dataproc Diagnose service account has read access to the diagnostic tarball"
          ],
          "enum": [
            "TARBALL_ACCESS_UNSPECIFIED",
            "GOOGLE_CLOUD_SUPPORT",
            "GOOGLE_DATAPROC_DIAGNOSE"
          ]
        },
        "job": {
          "description": "Optional. DEPRECATED Specifies the job on which diagnosis is to be performed. Format: projects/{project}/regions/{region}/jobs/{job}",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResizeNodeGroupRequest": {
      "type": "object",
      "id": "ResizeNodeGroupRequest",
      "properties": {
        "size": {
          "description": "Required. The number of running instances for the node group to maintain. The group adds or removes instances to maintain the number of instances specified by this parameter.",
          "format": "int32",
          "type": "integer"
        },
        "gracefulDecommissionTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/scaling-clusters#graceful_decommissioning) allows the removal of nodes from the Compute Engine node group without interrupting jobs in progress. This timeout specifies how long to wait for jobs in progress to finish before forcefully removing nodes (and potentially interrupting jobs). Default timeout is 0 (for forceful decommission), and the maximum allowed timeout is 1 day. (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).Only supported on Dataproc image versions 1.2 and higher."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two ResizeNodeGroupRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.ResizeNodeGroupRequests) with the same ID, the second request is ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "parentOperationId": {
          "description": "Optional. operation id of the parent operation sending the resize request",
          "type": "string"
        }
      },
      "description": "A request to resize a node group."
    },
    "ManagedCluster": {
      "id": "ManagedCluster",
      "properties": {
        "config": {
          "description": "Required. The cluster configuration.",
          "$ref": "ClusterConfig"
        },
        "clusterName": {
          "description": "Required. The cluster name prefix. A unique cluster name will be formed by appending a random suffix.The name must contain only lower-case letters (a-z), numbers (0-9), and hyphens (-). Must begin with a letter. Cannot begin or end with hyphen. Must consist of between 2 and 35 characters.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels to associate with this cluster.Label keys must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given cluster.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Cluster that is managed by the workflow.",
      "type": "object"
    },
    "SparkRJob": {
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure SparkR. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "fileUris": {
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainRFileUri": {
          "type": "string",
          "description": "Required. The HCFS URI of the main R file to use as the driver. Must be a .R file."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SparkRJob",
      "type": "object",
      "description": "A Dataproc job for running Apache SparkR (https://spark.apache.org/docs/latest/sparkr.html) applications on YARN."
    },
    "ExecutionConfig": {
      "description": "Execution configuration for a workload.",
      "id": "ExecutionConfig",
      "type": "object",
      "properties": {
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration after which the workload will be terminated, specified as the JSON representation for Duration (https://protobuf.dev/programming-guides/proto3/#json). When the workload exceeds this duration, it will be unconditionally terminated without waiting for ongoing work to finish. If ttl is not specified for a batch workload, the workload will be allowed to run until it exits naturally (or run forever without exiting). If ttl is not specified for an interactive session, it defaults to 24 hours. If ttl is not specified for a batch that uses 2.1+ runtime version, it defaults to 4 hours. Minimum value is 10 minutes; maximum value is 14 days. If both ttl and idle_ttl are specified (for an interactive session), the conditions are treated as OR conditions: the workload will be terminated when it has been idle for idle_ttl or when ttl has been exceeded, whichever occurs first."
        },
        "idleTtl": {
          "description": "Optional. Applies to sessions only. The duration to keep the session alive while it's idling. Exceeding this threshold causes the session to terminate. This field cannot be set on a batch workload. Minimum value is 10 minutes; maximum value is 14 days (see JSON representation of Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)). Defaults to 1 hour if not set. If both ttl and idle_ttl are specified for an interactive session, the conditions are treated as OR conditions: the workload will be terminated when it has been idle for idle_ttl or when ttl has been exceeded, whichever occurs first.",
          "type": "string",
          "format": "google-duration"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption.",
          "type": "string"
        },
        "subnetworkUri": {
          "type": "string",
          "description": "Optional. Subnetwork URI to connect workload to."
        },
        "networkUri": {
          "description": "Optional. Network URI to connect workload to.",
          "type": "string"
        },
        "stagingBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage workload dependencies, config files, and store workload output and other ephemeral data, such as Spark history files. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location according to the region where your workload is running, and then create and manage project-level, per-location staging and temporary buckets. This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. Service account that used to execute workload."
        },
        "authenticationConfig": {
          "$ref": "AuthenticationConfig",
          "description": "Optional. Authentication configuration used to set the default identity for the workload execution. The config specifies the type of identity (service account or user) that will be used by workloads to access resources on the project(s)."
        },
        "networkTags": {
          "description": "Optional. Tags used for network traffic control.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RepairClusterRequest": {
      "properties": {
        "cluster": {
          "$ref": "ClusterToRepair",
          "description": "Optional. Cluster to be repaired"
        },
        "dataprocSuperUser": {
          "description": "Optional. Whether the request is submitted by Dataproc super user. If true, IAM will check 'dataproc.clusters.repair' permission instead of 'dataproc.clusters.update' permission. This is to give Dataproc superuser the ability to repair clusters without granting the overly broad update permission.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two RepairClusterRequests with the same ID, the second request is ignored, and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        },
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "parentOperationId": {
          "type": "string",
          "description": "Optional. operation id of the parent operation sending the repair request"
        },
        "gracefulDecommissionTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Timeout for graceful YARN decommissioning. Graceful decommissioning facilitates the removal of cluster nodes without interrupting jobs in progress. The timeout specifies the amount of time to wait for jobs finish before forcefully removing nodes. The default timeout is 0 for forceful decommissioning, and the maximum timeout period is 1 day. (see JSON Mapping—Duration (https://developers.google.com/protocol-buffers/docs/proto3#json)).graceful_decommission_timeout is supported in Dataproc image versions 1.2+."
        },
        "nodePools": {
          "description": "Optional. Node pools and corresponding repair action to be taken. All node pools should be unique in this request. i.e. Multiple entries for the same node pool id are not allowed.",
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "RepairClusterRequest",
      "description": "A request to repair a cluster."
    },
    "StopClusterRequest": {
      "description": "A request to stop a cluster.",
      "properties": {
        "clusterUuid": {
          "type": "string",
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist."
        },
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        }
      },
      "id": "StopClusterRequest",
      "type": "object"
    },
    "SqlPlanMetric": {
      "type": "object",
      "description": "Metrics related to SQL execution.",
      "id": "SqlPlanMetric",
      "properties": {
        "metricType": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "accumulatorId": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SparkConnectSessionInfo": {
      "id": "SparkConnectSessionInfo",
      "description": "Represents session-level information for Spark Connect",
      "properties": {
        "finishTimestamp": {
          "description": "Timestamp when the session finished.",
          "format": "int64",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "User ID of the user who started the session."
        },
        "startTimestamp": {
          "format": "int64",
          "description": "Timestamp when the session started.",
          "type": "string"
        },
        "totalExecution": {
          "format": "int64",
          "description": "Optional. Total number of executions in the session.",
          "type": "string"
        },
        "sessionId": {
          "description": "Required. Session ID of the session.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PoolData": {
      "id": "PoolData",
      "type": "object",
      "description": "Pool Data",
      "properties": {
        "name": {
          "type": "string"
        },
        "stageIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "BasicYarnAutoscalingConfig": {
      "description": "Basic autoscaling configurations for YARN.",
      "type": "object",
      "properties": {
        "gracefulDecommissionTimeout": {
          "format": "google-duration",
          "description": "Required. Timeout for YARN graceful decommissioning of Node Managers. Specifies the duration to wait for jobs to complete before forcefully removing workers (and potentially interrupting jobs). Only applicable to downscaling operations.Bounds: 0s, 1d.",
          "type": "string"
        },
        "scaleUpMinWorkerFraction": {
          "description": "Optional. Minimum scale-up threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2-worker scale-up for the cluster to scale. A threshold of 0 means the autoscaler will scale up on any recommended change.Bounds: 0.0, 1.0. Default: 0.0.",
          "type": "number",
          "format": "double"
        },
        "scaleDownFactor": {
          "format": "double",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to remove workers. A scale-down factor of 1 will result in scaling down so that there is no available memory remaining after the update (more aggressive scaling). A scale-down factor of 0 disables removing workers, which can be beneficial for autoscaling a single job. See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0.",
          "type": "number"
        },
        "scaleDownMinWorkerFraction": {
          "type": "number",
          "format": "double",
          "description": "Optional. Minimum scale-down threshold as a fraction of total cluster size before scaling occurs. For example, in a 20-worker cluster, a threshold of 0.1 means the autoscaler must recommend at least a 2 worker scale-down for the cluster to scale. A threshold of 0 means the autoscaler will scale down on any recommended change.Bounds: 0.0, 1.0. Default: 0.0."
        },
        "scaleUpFactor": {
          "type": "number",
          "format": "double",
          "description": "Required. Fraction of average YARN pending memory in the last cooldown period for which to add workers. A scale-up factor of 1.0 will result in scaling up so that there is no pending memory remaining after the update (more aggressive scaling). A scale-up factor closer to 0 will result in a smaller magnitude of scaling up (less aggressive scaling). See How autoscaling works (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling#how_autoscaling_works) for more information.Bounds: 0.0, 1.0."
        }
      },
      "id": "BasicYarnAutoscalingConfig"
    },
    "JobScheduling": {
      "description": "Job scheduling options.",
      "properties": {
        "maxFailuresTotal": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum total number of times a driver can be restarted as a result of the driver exiting with a non-zero code. After the maximum number is reached, the job will be reported as failed.Maximum value is 240.Note: Currently, this restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template)."
        },
        "maxFailuresPerHour": {
          "type": "integer",
          "description": "Optional. Maximum number of times per hour a driver can be restarted as a result of driver exiting with non-zero code before job is reported failed.A job might be reported as thrashing if the driver exits with a non-zero code four times within a 10-minute window.Maximum value is 10.Note: This restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template).",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "JobScheduling"
    },
    "SparkRuntimeInfo": {
      "type": "object",
      "properties": {
        "scalaVersion": {
          "type": "string"
        },
        "javaHome": {
          "type": "string"
        },
        "javaVersion": {
          "type": "string"
        }
      },
      "id": "SparkRuntimeInfo"
    },
    "AutoscalingConfig": {
      "properties": {
        "policyUri": {
          "type": "string",
          "description": "Optional. The autoscaling policy used by the cluster.Only resource names including projectid and location (region) are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id] projects/[project_id]/locations/[dataproc_region]/autoscalingPolicies/[policy_id]Note that the policy must be in the same project and Dataproc region."
        }
      },
      "type": "object",
      "id": "AutoscalingConfig",
      "description": "Autoscaling Policy config associated with the cluster."
    },
    "GceClusterConfig": {
      "description": "Common config settings for resources of Compute Engine cluster instances, applicable to all instances in the cluster.",
      "id": "GceClusterConfig",
      "type": "object",
      "properties": {
        "subnetworkUri": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network_uri.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/regions/[region]/subnetworks/sub0 projects/[project_id]/regions/[region]/subnetworks/sub0 sub0",
          "type": "string"
        },
        "confidentialInstanceConfig": {
          "$ref": "ConfidentialInstanceConfig",
          "description": "Optional. Confidential Instance Config for clusters using Confidential VMs (https://cloud.google.com/compute/confidential-vm/docs)."
        },
        "reservationAffinity": {
          "description": "Optional. Reservation Affinity for consuming Zonal reservation.",
          "$ref": "ReservationAffinity"
        },
        "internalIpOnly": {
          "description": "Optional. This setting applies to subnetwork-enabled networks. It is set to true by default in clusters created with image versions 2.2.x.When set to true: All cluster VMs have internal IP addresses. Google Private Access (https://cloud.google.com/vpc/docs/private-google-access) must be enabled to access Dataproc and other Google Cloud APIs. Off-cluster dependencies must be configured to be accessible without external IP addresses.When set to false: Cluster VMs are not restricted to internal IP addresses. Ephemeral external IP addresses are assigned to each cluster VM.",
          "type": "boolean"
        },
        "networkUri": {
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork_uri. If neither network_uri nor subnetwork_uri is specified, the \"default\" network of the project is used, if it exists. Cannot be a \"Custom Subnet Network\" (see Using Subnetworks (https://cloud.google.com/compute/docs/subnetworks) for more information).A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/global/networks/default projects/[project_id]/global/networks/default default",
          "type": "string"
        },
        "privateIpv6GoogleAccess": {
          "enumDescriptions": [
            "If unspecified, Compute Engine default behavior will apply, which is the same as INHERIT_FROM_SUBNETWORK.",
            "Private access to and from Google Services configuration inherited from the subnetwork configuration. This is the default Compute Engine behavior.",
            "Enables outbound private IPv6 access to Google Services from the Dataproc cluster.",
            "Enables bidirectional private IPv6 access between Google Services and the Dataproc cluster."
          ],
          "description": "Optional. The type of IPv6 access for a cluster.",
          "type": "string",
          "enum": [
            "PRIVATE_IPV6_GOOGLE_ACCESS_UNSPECIFIED",
            "INHERIT_FROM_SUBNETWORK",
            "OUTBOUND",
            "BIDIRECTIONAL"
          ]
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The Compute Engine metadata entries to add to all instances (see Project and instance metadata (https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata))."
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded Instance Config for clusters using Compute Engine Shielded VMs (https://cloud.google.com/security/shielded-cloud/shielded-vm).",
          "$ref": "ShieldedInstanceConfig"
        },
        "zoneUri": {
          "type": "string",
          "description": "Optional. The Compute Engine zone where the Dataproc cluster will be located. If omitted, the service will pick a zone in the cluster's Compute Engine region. On a get request, zone will always be present.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] [zone]"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The Dataproc service account (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/service-accounts#service_accounts_in_dataproc) (also see VM Data Plane identity (https://cloud.google.com/dataproc/docs/concepts/iam/dataproc-principals#vm_service_account_data_plane_identity)) used by Dataproc cluster VM instances to access Google Cloud Platform services.If not specified, the Compute Engine default service account (https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used."
        },
        "serviceAccountScopes": {
          "description": "Optional. The URIs of service account scopes to be included in Compute Engine instances. The following base set of scopes is always included: https://www.googleapis.com/auth/cloud.useraccounts.readonly https://www.googleapis.com/auth/devstorage.read_write https://www.googleapis.com/auth/logging.writeIf no scopes are specified, the following defaults are also provided: https://www.googleapis.com/auth/bigquery https://www.googleapis.com/auth/bigtable.admin.table https://www.googleapis.com/auth/bigtable.data https://www.googleapis.com/auth/devstorage.full_control",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Resource manager tags (https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing) to add to all instances (see Use secure tags in Dataproc (https://cloud.google.com/dataproc/docs/guides/use-secure-tags)).",
          "type": "object"
        },
        "nodeGroupAffinity": {
          "description": "Optional. Node Group Affinity for sole-tenant clusters.",
          "$ref": "NodeGroupAffinity"
        },
        "autoZoneExcludeZoneUris": {
          "description": "Optional. An optional list of Compute Engine zones where the Dataproc cluster will not be located when Auto Zone is enabled. Only one of zone_uri or auto_zone_exclude_zone_uris can be set. If both are omitted, the service will pick a zone in the cluster Compute Engine region. If auto_zone_exclude_zone_uris is set and there is more than one non-excluded zone, the service will pick one of the non-excluded zones. Otherwise, cluster creation will fail with INVALID_ARGUMENT error.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone] projects/[project_id]/zones/[zone] [zone]",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "The Compute Engine network tags to add to all instances (see Tagging instances (https://cloud.google.com/vpc/docs/add-remove-network-tags)).",
          "type": "array"
        }
      }
    },
    "SparkSqlJob": {
      "description": "A Dataproc job for running Apache Spark SQL (https://spark.apache.org/sql/) queries.",
      "properties": {
        "jarFileUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of jar files to be added to the Spark CLASSPATH."
        },
        "loggingConfig": {
          "$ref": "LoggingConfig",
          "description": "Optional. The runtime log config for job execution."
        },
        "properties": {
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Spark SQL's SparkConf. Properties that conflict with values set by the Dataproc API might be overwritten.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scriptVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Mapping of query variable names to values (equivalent to the Spark SQL command: SET name=\"value\";)."
        },
        "queryList": {
          "description": "A list of queries.",
          "$ref": "QueryList"
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains SQL queries."
        }
      },
      "type": "object",
      "id": "SparkSqlJob"
    },
    "AccessSparkApplicationEnvironmentInfoResponse": {
      "properties": {
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo",
          "description": "Details about the Environment that the application is running in."
        }
      },
      "id": "AccessSparkApplicationEnvironmentInfoResponse",
      "description": "Environment details of a Saprk Application.",
      "type": "object"
    },
    "GkeNodeConfig": {
      "type": "object",
      "id": "GkeNodeConfig",
      "description": "Parameters that describe cluster nodes.",
      "properties": {
        "preemptible": {
          "type": "boolean",
          "description": "Optional. Whether the nodes are created as legacy preemptible VM instances (https://cloud.google.com/compute/docs/instances/preemptible). Also see Spot VMs, preemptible VM instances without a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role)."
        },
        "localSsdCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of local SSD disks to attach to the node, which is limited by the maximum number of disks allowable per zone (see Adding Local SSDs (https://cloud.google.com/compute/docs/disks/local-ssd))."
        },
        "machineType": {
          "description": "Optional. The name of a Compute Engine machine type (https://cloud.google.com/compute/docs/machine-types).",
          "type": "string"
        },
        "spot": {
          "type": "boolean",
          "description": "Optional. Whether the nodes are created as Spot VM instances (https://cloud.google.com/compute/docs/instances/spot). Spot VMs are the latest update to legacy preemptible VMs. Spot VMs do not have a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role)."
        },
        "minCpuPlatform": {
          "description": "Optional. Minimum CPU platform (https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) to be used by this instance. The instance may be scheduled on the specified or a newer CPU platform. Specify the friendly names of CPU platforms, such as \"Intel Haswell\"` or Intel Sandy Bridge\".",
          "type": "string"
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": "Optional. The Customer Managed Encryption Key (CMEK) (https://cloud.google.com/kubernetes-engine/docs/how-to/using-cmek) used to encrypt the boot disk attached to each node in the node pool. Specify the key using the following format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}"
        },
        "accelerators": {
          "type": "array",
          "description": "Optional. A list of hardware accelerators (https://cloud.google.com/compute/docs/gpus) to attach to each node.",
          "items": {
            "$ref": "GkeNodePoolAcceleratorConfig"
          }
        }
      }
    },
    "SqlExecutionUiData": {
      "id": "SqlExecutionUiData",
      "type": "object",
      "description": "SQL Execution Data",
      "properties": {
        "stages": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "description": {
          "type": "string"
        },
        "jobs": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "JOB_EXECUTION_STATUS_UNSPECIFIED",
              "JOB_EXECUTION_STATUS_RUNNING",
              "JOB_EXECUTION_STATUS_SUCCEEDED",
              "JOB_EXECUTION_STATUS_FAILED",
              "JOB_EXECUTION_STATUS_UNKNOWN"
            ]
          }
        },
        "metricValues": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "physicalPlanDescription": {
          "type": "string"
        },
        "details": {
          "type": "string"
        },
        "rootExecutionId": {
          "type": "string",
          "format": "int64"
        },
        "metrics": {
          "items": {
            "$ref": "SqlPlanMetric"
          },
          "type": "array"
        },
        "modifiedConfigs": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "completionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "executionId": {
          "type": "string",
          "format": "int64"
        },
        "submissionTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "errorMessage": {
          "type": "string"
        },
        "metricValuesIsNull": {
          "type": "boolean"
        }
      }
    },
    "StageShufflePushReadMetrics": {
      "id": "StageShufflePushReadMetrics",
      "type": "object",
      "properties": {
        "localMergedBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "mergedFetchFallbackCount": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedReqsDuration": {
          "type": "string",
          "format": "int64"
        },
        "corruptMergedBlockChunks": {
          "format": "int64",
          "type": "string"
        },
        "localMergedChunksFetched": {
          "format": "int64",
          "type": "string"
        },
        "localMergedBytesRead": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SearchSparkApplicationExecutorStageSummaryResponse": {
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationExecutorsListRequest.",
          "type": "string"
        },
        "sparkApplicationStageExecutors": {
          "description": "Details about executors used by the application stage.",
          "type": "array",
          "items": {
            "$ref": "ExecutorStageSummary"
          }
        }
      },
      "description": "List of Executors associated with a Spark Application Stage.",
      "id": "SearchSparkApplicationExecutorStageSummaryResponse",
      "type": "object"
    },
    "StagesSummary": {
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "numActiveStages": {
          "format": "int32",
          "type": "integer"
        },
        "numCompletedStages": {
          "type": "integer",
          "format": "int32"
        },
        "numSkippedStages": {
          "type": "integer",
[...]
