{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "title": "Data Labeling API",
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "version_module": true,
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "datalabeling:v1beta1",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "name": "datalabeling",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://datalabeling.googleapis.com/",
  "rootUrl": "https://datalabeling.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "evaluations": {
          "methods": {
            "search": {
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\"",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\""
                }
              },
              "path": "v1beta1/{+parent}/evaluations:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              },
              "id": "datalabeling.projects.evaluations.search",
              "description": "Searches evaluations within a project."
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.operations.get",
              "path": "v1beta1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1beta1/{+name}/operations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.operations.list"
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "id": "datalabeling.projects.operations.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1beta1/{+name}"
            },
            "cancel": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}:cancel",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "id": "datalabeling.projects.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        },
        "datasets": {
          "resources": {
            "dataItems": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter is not supported at this moment."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/dataItems",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "id": "datalabeling.projects.datasets.dataItems.list",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "datalabeling.projects.datasets.dataItems.get"
                }
              }
            },
            "video": {
              "methods": {
                "label": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
                    }
                  },
                  "path": "v1beta1/{+parent}/video:label",
                  "id": "datalabeling.projects.datasets.video.label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  },
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            },
            "image": {
              "methods": {
                "label": {
                  "description": " Starts a labeling task for image. The type of image labeling task is configured by feature in the request.",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label",
                  "id": "datalabeling.projects.datasets.image.label",
                  "httpMethod": "POST",
                  "path": "v1beta1/{+parent}/image:label"
                }
              }
            },
            "annotatedDatasets": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  },
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "description": "Lists annotated datasets for a dataset. Pagination is supported."
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes an annotated dataset by resource name.",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}"
                    }
                  },
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete"
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an annotated dataset by resource name.",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  }
                }
              },
              "resources": {
                "dataItems": {
                  "methods": {
                    "get": {
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/dataItems",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter is not supported at this moment.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "format": "int32"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      },
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists examples in an annotated dataset. Pagination is supported.",
                      "path": "v1beta1/{+parent}/examples",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Example resource parent.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty.",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      },
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}"
                    }
                  }
                },
                "feedbackThreads": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "httpMethod": "GET",
                      "description": " Get a FeedbackThread object.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get"
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\""
                        }
                      },
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      },
                      "description": "List FeedbackThreads with pagination.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads"
                    },
                    "delete": {
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "Delete a FeedbackThread.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'."
                        }
                      }
                    }
                  },
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "get": {
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "description": "Get a FeedbackMessage object.",
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$"
                            }
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "List FeedbackMessages with pagination.",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "parameters": {
                            "parent": {
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\"",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty.",
                              "location": "query"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                              "type": "integer"
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "create": {
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "description": "Create a FeedbackMessage object.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "description": "Delete a FeedbackMessage.",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete",
                          "path": "v1beta1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "text": {
              "methods": {
                "label": {
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalabeling.projects.datasets.text.label",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/text:label",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label"
                }
              }
            },
            "evaluations": {
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\"",
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$"
                        }
                      },
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  },
                  "id": "datalabeling.projects.datasets.evaluations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": " Gets an evaluation by resource name (to search, use projects.evaluations.search).",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'",
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "delete": {
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.datasets.delete",
              "description": "Deletes a dataset by resource name.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "type": "string"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets dataset by resource name.",
              "id": "datalabeling.projects.datasets.get"
            },
            "exportData": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "datalabeling.projects.datasets.exportData",
              "parameters": {
                "name": {
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Exports data and annotations from dataset.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "path": "v1beta1/{+name}:exportData",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1beta1/{+parent}/datasets",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter on dataset is not supported at this moment.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Lists datasets under a project. Pagination is supported.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "id": "datalabeling.projects.datasets.list"
            },
            "importData": {
              "path": "v1beta1/{+name}:importData",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData",
              "id": "datalabeling.projects.datasets.importData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa."
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "id": "datalabeling.projects.datasets.create",
              "description": " Creates dataset. If success return a Dataset resource.",
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              },
              "path": "v1beta1/{+parent}/datasets",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "instructions": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "datalabeling.projects.instructions.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an instruction object by resource name.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}"
            },
            "get": {
              "description": "Gets an instruction by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.instructions.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              },
              "httpMethod": "GET"
            },
            "create": {
              "path": "v1beta1/{+parent}/instructions",
              "description": "Creates an instruction for how data should be labeled.",
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "datalabeling.projects.instructions.create"
            },
            "list": {
              "description": "Lists instructions for a project. Pagination is supported.",
              "path": "v1beta1/{+parent}/instructions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "id": "datalabeling.projects.instructions.list",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter is not supported at this moment."
                },
                "parent": {
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "annotationSpecSets": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}"
                }
              },
              "httpMethod": "GET",
              "id": "datalabeling.projects.annotationSpecSets.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "path": "v1beta1/{+name}",
              "description": "Gets an annotation spec set by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}"
            },
            "delete": {
              "description": "Deletes an annotation spec set by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`."
                }
              },
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "path": "v1beta1/{+name}"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.annotationSpecSets.list",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. Filter is not supported at this moment.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "description": "Lists annotation spec sets for a project. Pagination is supported.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}",
                  "required": true
                }
              },
              "id": "datalabeling.projects.annotationSpecSets.create",
              "description": "Creates an annotation spec set by providing a set of labels."
            }
          }
        },
        "evaluationJobs": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Stops and deletes an evaluation job.",
              "id": "datalabeling.projects.evaluationJobs.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "path": "v1beta1/{+name}"
            },
            "resume": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:resume",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.",
              "id": "datalabeling.projects.evaluationJobs.resume",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume",
              "httpMethod": "POST"
            },
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              },
              "id": "datalabeling.projects.evaluationJobs.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\"",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\""
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.evaluationJobs.create",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              },
              "path": "v1beta1/{+parent}/evaluationJobs",
              "description": " Creates an evaluation job.",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "parameterOrder": [
                "parent"
              ]
            },
            "pause": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+name}:pause",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause",
              "id": "datalabeling.projects.evaluationJobs.pause",
              "parameterOrder": [
                "name"
              ],
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "id": "datalabeling.projects.evaluationJobs.patch",
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an evaluation job by resource name.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\"",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.evaluationJobs.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "canonicalName": "Data Labeling",
  "basePath": "",
  "version": "v1beta1",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudDatalabelingV1beta1VideoPayload": {
      "properties": {
        "frameRate": {
          "format": "float",
          "description": "FPS of the video.",
          "type": "number"
        },
        "mimeType": {
          "type": "string",
          "description": "Video format."
        },
        "videoThumbnails": {
          "type": "array",
          "description": "The list of video thumbnails.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1VideoThumbnail"
          }
        },
        "signedUri": {
          "type": "string",
          "description": "Signed uri of the video file in the service bucket."
        },
        "videoUri": {
          "type": "string",
          "description": "Video uri from the user bucket."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1VideoPayload",
      "type": "object",
      "description": "Container of information of a video."
    },
    "GoogleCloudDatalabelingV1beta1OutputConfig": {
      "id": "GoogleCloudDatalabelingV1beta1OutputConfig",
      "type": "object",
      "description": "The configuration of output data.",
      "properties": {
        "gcsFolderDestination": {
          "$ref": "GoogleCloudDatalabelingV1beta1GcsFolderDestination",
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDatalabelingV1beta1GcsDestination",
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
      "description": "Configuration for how human labeling task should be done.",
      "properties": {
        "contributorEmails": {
          "items": {
            "type": "string"
          },
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "type": "array"
        },
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string"
        },
        "labelGroup": {
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`.",
          "type": "string"
        },
        "annotatedDatasetDisplayName": {
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .",
          "type": "string"
        },
        "userEmailAddress": {
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "Required. Instruction resource name."
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification."
        },
        "questionDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse": {
      "description": "Results for listing evaluation jobs.",
      "properties": {
        "evaluationJobs": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
          },
          "type": "array",
          "description": "The list of evaluation jobs to return."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Timestamp when generate report request was created.",
          "format": "google-datetime"
        },
        "dataset": {
          "description": "The name of the dataset for which the analysis report is generated. Format: \"projects/*/datasets/*\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata",
      "description": "Metadata of an GenerateAnalysisReport operation."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse": {
      "id": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse",
      "type": "object",
      "description": "Results of listing annotation spec set under a project.",
      "properties": {
        "annotationSpecSets": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
          },
          "description": "The list of annotation spec sets.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1Row": {
      "description": "A row in the confusion matrix. Each entry in this row has the same ground truth label.",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "The annotation spec of the ground truth label for this row."
        },
        "entries": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry"
          },
          "type": "array",
          "description": "A list of the confusion matrix entries. One entry for each possible predicted label."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1Row",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1SequentialSegment": {
      "description": "Start and end position in a sequence (e.g. text segment).",
      "type": "object",
      "properties": {
        "start": {
          "type": "integer",
          "format": "int32",
          "description": "Start position (inclusive)."
        },
        "end": {
          "description": "End position (exclusive).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1SequentialSegment"
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrix": {
      "description": "Confusion matrix of the model running the classification. Only applicable when the metrics entry aggregates multiple labels. Not applicable when the entry is for a single label.",
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrix",
      "properties": {
        "row": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Row"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata": {
      "type": "object",
      "description": "Metadata on AnnotatedDataset.",
      "id": "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata",
      "properties": {
        "textEntityExtractionConfig": {
          "description": "Configuration for text entity extraction task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig"
        },
        "polylineConfig": {
          "description": "Configuration for image polyline task.",
          "$ref": "GoogleCloudDatalabelingV1beta1PolylineConfig"
        },
        "videoClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationConfig",
          "description": "Configuration for video classification task."
        },
        "eventConfig": {
          "description": "Configuration for video event labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1EventConfig"
        },
        "textClassificationConfig": {
          "description": "Configuration for text classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig"
        },
        "humanAnnotationConfig": {
          "description": "HumanAnnotationConfig used when requesting the human labeling task for this AnnotatedDataset.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "objectTrackingConfig": {
          "description": "Configuration for video object tracking task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig"
        },
        "objectDetectionConfig": {
          "description": "Configuration for video object detection task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionConfig"
        },
        "segmentationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1SegmentationConfig",
          "description": "Configuration for image segmentation task."
        },
        "boundingPolyConfig": {
          "description": "Configuration for image bounding box and bounding poly task.",
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig"
        },
        "imageClassificationConfig": {
          "description": "Configuration for image classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse": {
      "type": "object",
      "properties": {
        "feedbackThreads": {
          "description": "The list of feedback threads to return.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        }
      },
      "description": "Results for listing FeedbackThreads.",
      "id": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
    },
    "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata": {
      "type": "object",
      "description": "Metadata describing the feedback from the labeling task requester.",
      "id": "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata",
      "properties": {}
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata": {
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageSegmentationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata": {
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata",
      "type": "object",
      "description": "Details of a LabelVideoObjectDetection operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1EvaluationConfig": {
      "type": "object",
      "properties": {
        "boundingBoxEvaluationOptions": {
          "description": "Only specify this field if the related model performs image object detection (`IMAGE_BOUNDING_BOX_ANNOTATION`). Describes how to evaluate bounding boxes.",
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
      "description": "Configuration details used for calculating evaluation metrics and creating an Evaluation."
    },
    "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination": {
      "id": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination",
      "description": "Export folder destination of the data.",
      "type": "object",
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1Polyline": {
      "type": "object",
      "description": "A line with multiple line segments.",
      "properties": {
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Vertex"
          },
          "description": "The polyline vertices."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1Polyline"
    },
    "GoogleCloudDatalabelingV1p2alpha1OutputConfig": {
      "properties": {
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsDestination"
        },
        "gcsFolderDestination": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination",
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
        }
      },
      "type": "object",
      "description": "The configuration of output data.",
      "id": "GoogleCloudDatalabelingV1p2alpha1OutputConfig"
    },
    "GoogleCloudDatalabelingV1beta1VideoThumbnail": {
      "description": "Container of information of a video thumbnail.",
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "A byte string of the video frame.",
          "format": "byte",
          "type": "string"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the video, corresponding to the video frame where the thumbnail has been extracted from."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1VideoThumbnail"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoClassificationOperationMetadata",
      "type": "object",
      "description": "Details of a LabelVideoClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationResponse",
      "type": "object",
      "description": "Response used for ImportData longrunning operation.",
      "properties": {
        "importCount": {
          "description": "Output only. Number of examples imported successfully.",
          "type": "integer",
          "format": "int32"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Total number of examples requested to import"
        },
        "dataset": {
          "description": "Ouptut only. The name of imported dataset.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse": {
      "type": "object",
      "description": "Response used for ExportDataset longrunning operation.",
      "id": "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1OutputConfig",
          "description": "Output only. output_config in the ExportData request."
        },
        "exportCount": {
          "type": "integer",
          "description": "Output only. Number of examples exported successfully.",
          "format": "int32"
        },
        "totalCount": {
          "type": "integer",
          "description": "Output only. Total number of examples requested to export",
          "format": "int32"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "labelStats": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1LabelStats",
          "description": "Output only. Statistic infos of labels in the exported dataset."
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig": {
      "description": "Configuration for how human labeling task should be done.",
      "id": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
      "properties": {
        "labelGroup": {
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`.",
          "type": "string"
        },
[...]
