{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "revision": "20260406",
  "canonicalName": "Cloud Dataplex",
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "version_module": true,
  "description": "A unified, intelligent governance solution for data and AI assets.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dataplex.readonly": {
          "description": "See your Google Cloud Dataplex data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/dataplex.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Dataplex data and see the email address for your Google Account"
        }
      }
    }
  },
  "servicePath": "",
  "id": "dataplex:v1",
  "title": "Cloud Dataplex API",
  "batchPath": "batch",
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudDataplexV1DataSource": {
      "description": "The data source for DataScan.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataSource",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Immutable. The service-qualified full resource name of the cloud resource for a DataScan job to scan against. The field could either be: Cloud Storage bucket for DataDiscoveryScan Format: //storage.googleapis.com/projects/PROJECT_ID/buckets/BUCKET_ID or BigQuery table of type \"TABLE\" for DataProfileScan/DataQualityScan/DataDocumentationScan Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID or BigQuery dataset for DataDocumentationScan only Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID"
        },
        "entity": {
          "description": "Immutable. The Dataplex Universal Catalog entity that represents the data source (e.g. BigQuery table) for DataScan, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigCsvOptions": {
      "id": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigCsvOptions",
      "properties": {
        "quote": {
          "description": "Optional. The character used to quote column values. Accepts \" (double quotation mark) or ' (single quotation mark). If unspecified, defaults to \" (double quotation mark).",
          "type": "string"
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter that is used to separate values. The default is , (comma)."
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "headerRows": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows."
        },
        "typeInferenceDisabled": {
          "type": "boolean",
          "description": "Optional. Whether to disable the inference of data types for CSV data. If true, all columns are registered as strings."
        }
      },
      "description": "Describes CSV and similar semi-structured data formats.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataScanJobsResponse": {
      "id": "GoogleCloudDataplexV1ListDataScanJobsResponse",
      "properties": {
        "dataScanJobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataScanJob"
          },
          "description": "DataScanJobs (BASIC view only) under a given dataScan."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "List DataScanJobs response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DiscoveryEventActionDetails": {
      "type": "object",
      "description": "Details about the action.",
      "id": "GoogleCloudDataplexV1DiscoveryEventActionDetails",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of action. Eg. IncompatibleDataSchema, InvalidDataFormat"
        },
        "issue": {
          "description": "The human readable issue associated with the action.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListZonesResponse": {
      "type": "object",
      "description": "List zones response.",
      "id": "GoogleCloudDataplexV1ListZonesResponse",
      "properties": {
        "zones": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Zone"
          },
          "description": "Zones under the given parent lake."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataScan": {
      "type": "object",
      "description": "Represents a user-visible job which provides the insights for the related data source.For example: Data quality: generates queries based on the rules and runs against the data to get data quality check results. For more information, see Auto data quality overview (https://cloud.google.com/dataplex/docs/auto-data-quality-overview). Data profile: analyzes the data in tables and generates insights about the structure, content and relationships (such as null percent, cardinality, min/max/mean, etc). For more information, see About data profiling (https://cloud.google.com/dataplex/docs/data-profiling-overview). Data discovery: scans data in Cloud Storage buckets to extract and then catalog metadata. For more information, see Discover and catalog Cloud Storage data (https://cloud.google.com/bigquery/docs/automatic-discovery). Data documentation: analyzes the table or dataset metadata and generates insights. For tables, insights include descriptions and sample SQL queries. For datasets, insights include descriptions, schema relationships and sample SQL queries. For more information, see Generate data insights in BigQuery (https://cloud.google.com/bigquery/docs/data-insights).",
      "id": "GoogleCloudDataplexV1DataScan",
      "properties": {
        "dataProfileSpec": {
          "description": "Settings for a data profile scan.",
          "$ref": "GoogleCloudDataplexV1DataProfileSpec"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The relative resource name of the scan, of the form: projects/{project}/locations/{location_id}/dataScans/{datascan_id}, where project refers to a project_id or project_number and location_id refers to a Google Cloud region.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the scan was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name. Must be between 1-256 characters."
        },
        "executionSpec": {
          "description": "Optional. DataScan execution settings.If not specified, the fields in it will use their default values.",
          "$ref": "GoogleCloudDataplexV1DataScanExecutionSpec"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the scan. This ID will be different if the scan is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the scan was last updated.",
          "readOnly": true
        },
        "dataProfileResult": {
          "readOnly": true,
          "description": "Output only. The result of a data profile scan.",
          "$ref": "GoogleCloudDataplexV1DataProfileResult"
        },
        "labels": {
          "description": "Optional. User-defined labels for the scan.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataDocumentationSpec": {
          "description": "Settings for a data documentation scan.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationSpec"
        },
        "data": {
          "description": "Required. The data source for DataScan.",
          "$ref": "GoogleCloudDataplexV1DataSource"
        },
        "dataQualitySpec": {
          "description": "Settings for a data quality scan.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpec"
        },
        "dataDiscoveryResult": {
          "description": "Output only. The result of a data discovery scan.",
          "$ref": "GoogleCloudDataplexV1DataDiscoveryResult",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the scan. Must be between 1-1024 characters.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "description": "Output only. Current state of the DataScan.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "executionIdentity": {
          "description": "Optional. Immutable. The identity to run the datascan. If not specified, defaults to the Dataplex Service Agent.",
          "$ref": "GoogleCloudDataplexV1ExecutionIdentity"
        },
        "type": {
          "type": "string",
          "enum": [
            "DATA_SCAN_TYPE_UNSPECIFIED",
            "DATA_QUALITY",
            "DATA_PROFILE",
            "DATA_DISCOVERY",
            "DATA_DOCUMENTATION"
          ],
          "enumDescriptions": [
            "The data scan type is unspecified.",
            "Data quality scan.",
            "Data profile scan.",
            "Data discovery scan.",
            "Data documentation scan."
          ],
          "readOnly": true,
          "description": "Output only. The type of DataScan."
        },
        "executionStatus": {
          "readOnly": true,
          "description": "Output only. Status of the data scan execution.",
          "$ref": "GoogleCloudDataplexV1DataScanExecutionStatus"
        },
        "dataQualityResult": {
          "description": "Output only. The result of a data quality scan.",
          "$ref": "GoogleCloudDataplexV1DataQualityResult",
          "readOnly": true
        },
        "dataDocumentationResult": {
          "description": "Output only. The result of a data documentation scan.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationResult",
          "readOnly": true
        },
        "dataDiscoverySpec": {
          "description": "Settings for a data discovery scan.",
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpec"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanExecutionStatus": {
      "id": "GoogleCloudDataplexV1DataScanExecutionStatus",
      "properties": {
        "latestJobEndTime": {
          "description": "Optional. The time when the latest DataScanJob ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "latestJobCreateTime": {
          "description": "Optional. The time when the DataScanJob execution was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "latestJobStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when the latest DataScanJob started."
        }
      },
      "description": "Status of the data scan execution.",
      "type": "object"
    },
    "GoogleCloudDataplexV1Glossary": {
      "type": "object",
      "description": "A Glossary represents a collection of GlossaryCategories and GlossaryTerms defined by the user. Glossary is a top level resource and is the Google Cloud parent resource of all the GlossaryCategories and GlossaryTerms within it.",
      "id": "GoogleCloudDataplexV1Glossary",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the Glossary."
        },
        "termCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of GlossaryTerms in the Glossary.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. The user-mutable description of the Glossary."
        },
        "etag": {
          "description": "Optional. Needed for resource freshness validation. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the Glossary. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}"
        },
        "createTime": {
          "description": "Output only. The time at which the Glossary was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User friendly display name of the Glossary. This is user-mutable. This will be same as the GlossaryId, if not specified.",
          "type": "string"
        },
        "categoryCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of GlossaryCategories in the Glossary."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System generated unique id for the Glossary. This ID will be different if the Glossary is deleted and re-created with the same name.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the Glossary was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1GlossaryCategory": {
      "id": "GoogleCloudDataplexV1GlossaryCategory",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name of the GlossaryCategory. This is user-mutable. This will be same as the GlossaryCategoryId, if not specified."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the GlossaryCategory was created.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System generated unique id for the GlossaryCategory. This ID will be different if the GlossaryCategory is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time at which the GlossaryCategory was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "parent": {
          "description": "Required. The immediate parent of the GlossaryCategory in the resource-hierarchy. It can either be a Glossary or a GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} OR projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "type": "string"
        },
        "description": {
          "description": "Optional. The user-mutable description of the GlossaryCategory.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the GlossaryCategory."
        }
      },
      "type": "object",
      "description": "A GlossaryCategory represents a collection of GlossaryCategories and GlossaryTerms within a Glossary that are related to each other."
    },
    "GoogleCloudDataplexV1TaskTriggerSpec": {
      "id": "GoogleCloudDataplexV1TaskTriggerSpec",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Prevent the task from executing. This does not cancel already running tasks. It is intended to temporarily disable RECURRING tasks."
        },
        "schedule": {
          "type": "string",
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running tasks periodically. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *. This field is required for RECURRING tasks."
        },
        "startTime": {
          "description": "Optional. The first run of the task will be after this time. If not specified, the task will run shortly after being submitted if ON_DEMAND and based on the schedule if RECURRING.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxRetries": {
          "description": "Optional. Number of retry attempts before aborting. Set to zero to never attempt to retry a failed task.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "RECURRING"
          ],
          "description": "Required. Immutable. Trigger type of the user-specified Task.",
          "enumDescriptions": [
            "Unspecified trigger type.",
            "The task runs one-time shortly after Task Creation.",
            "The task is scheduled to run periodically."
          ]
        }
      },
      "type": "object",
      "description": "Task scheduling and trigger settings."
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime": {
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecContainerImageRuntime",
      "properties": {
        "pythonPackages": {
          "description": "Optional. A list of python packages to be installed. Valid formats include Cloud Storage URI to a PIP installable library. For example, gs://bucket-name/my/path/to/lib.tar.gz",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Optional. Override to common configuration of open source components installed on the Dataproc cluster. The properties to set on daemon config files. Property keys are specified in prefix:property format, for example core:hadoop.tmp.dir. For more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "image": {
          "type": "string",
          "description": "Optional. Container image to use."
        },
        "javaJars": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Java JARS to add to the classpath. Valid input includes Cloud Storage URIs to Jar binaries. For example, gs://bucket-name/my/path/to/file.jar"
        }
      },
      "type": "object",
      "description": "Container Image Runtime Configuration used with Batch execution."
    },
    "GoogleCloudDataplexV1DataDiscoverySpec": {
      "id": "GoogleCloudDataplexV1DataDiscoverySpec",
      "properties": {
        "bigqueryPublishingConfig": {
          "description": "Optional. Configuration for metadata publishing.",
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpecBigQueryPublishingConfig"
        },
        "storageConfig": {
          "description": "Cloud Storage related configurations.",
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfig"
        }
      },
      "description": "Spec for a data discovery scan.",
      "type": "object"
    },
    "GoogleCloudDataplexV1RunDataScanResponse": {
      "description": "Run DataScan Response.",
      "type": "object",
      "id": "GoogleCloudDataplexV1RunDataScanResponse",
      "properties": {
        "job": {
          "description": "DataScanJob created by RunDataScan request.",
          "$ref": "GoogleCloudDataplexV1DataScanJob"
        }
      }
    },
    "GoogleCloudDataplexV1ActionInvalidDataPartition": {
      "id": "GoogleCloudDataplexV1ActionInvalidDataPartition",
      "properties": {
        "expectedStructure": {
          "description": "The issue type of InvalidDataPartition.",
          "type": "string",
          "enum": [
            "PARTITION_STRUCTURE_UNSPECIFIED",
            "CONSISTENT_KEYS",
            "HIVE_STYLE_KEYS"
          ],
          "enumDescriptions": [
            "PartitionStructure unspecified.",
            "Consistent hive-style partition definition (both raw and curated zone).",
            "Hive style partition definition (curated zone only)."
          ]
        }
      },
      "description": "Action details for invalid or unsupported partitions detected by discovery.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions",
      "properties": {
        "headerRows": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows."
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "delimiter": {
          "description": "Optional. The delimiter being used to separate values. This defaults to ','.",
          "type": "string"
        }
      },
      "description": "Describe CSV and similar semi-structured data formats.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataAccessSpec": {
      "type": "object",
      "description": "DataAccessSpec holds the access control configuration to be enforced on data stored within resources (eg: rows, columns in BigQuery Tables). When associated with data, the data is only accessible to principals explicitly granted access through the DataAccessSpec. Principals with access to the containing resource are not implicitly granted access.",
      "id": "GoogleCloudDataplexV1DataAccessSpec",
      "properties": {
        "readers": {
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on data stored within resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "disableTypeInference": {
          "type": "boolean",
          "description": "Optional. Whether to disable the inference of data type for Json data. If true, all columns will be registered as their primitive types (strings, number or boolean)."
        }
      },
      "type": "object",
      "description": "Describe JSON data format."
    },
    "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult": {
      "id": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "description": "Output only. Execution state for the BigQuery exporting."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the BigQuery exporting."
        }
      },
      "description": "The result of BigQuery export post scan action.",
      "type": "object"
    },
    "GoogleCloudDataplexV1TaskSparkTaskConfig": {
      "id": "GoogleCloudDataplexV1TaskSparkTaskConfig",
      "properties": {
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris. The execution args are passed in as a sequence of named process arguments (--key=value)."
        },
        "archiveUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip."
        },
        "pythonScriptFile": {
          "description": "The Gcloud Storage URI of the main Python file to use as the driver. Must be a .py file. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "mainJarFileUri": {
          "type": "string",
          "description": "The Cloud Storage URI of the jar file that contains the main class. The execution args are passed in as a sequence of named process arguments (--key=value)."
        },
        "sqlScriptFile": {
          "type": "string",
          "description": "A reference to a query file. This should be the Cloud Storage URI of the query file. The execution args are used to declare a set of script variables (set key=\"value\";)."
        },
        "sqlScript": {
          "type": "string",
          "description": "The query text. The execution args are used to declare a set of script variables (set key=\"value\";)."
        },
        "fileUris": {
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "infrastructureSpec": {
          "description": "Optional. Infrastructure specification for the execution.",
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec"
        }
      },
      "type": "object",
      "description": "User-specified config for running a Spark task."
    },
    "GoogleCloudDataplexV1MetadataJobExportJobSpec": {
      "description": "Job specification for a metadata export job.",
      "type": "object",
      "id": "GoogleCloudDataplexV1MetadataJobExportJobSpec",
      "properties": {
        "scope": {
          "description": "Required. The scope of the export job.",
          "$ref": "GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope"
        },
        "outputPath": {
          "type": "string",
          "description": "Required. The root path of the Cloud Storage bucket to export the metadata to, in the format gs://{bucket}/. You can optionally specify a custom prefix after the bucket name, in the format gs://{bucket}/{prefix}/. The maximum length of the custom prefix is 128 characters. Dataplex Universal Catalog constructs the object path for the exported files by using the bucket name and prefix that you provide, followed by a system-generated path.The bucket must be in the same VPC Service Controls perimeter as the job."
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleRuleSource": {
      "id": "GoogleCloudDataplexV1DataQualityRuleRuleSource",
      "properties": {
        "rulePathElements": {
          "readOnly": true,
          "description": "Output only. Rule path elements represent information about the individual items in the relationship path between the scan resource and rule origin in that order.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleRuleSourceRulePathElement"
          }
        }
      },
      "description": "Represents the rule source information from Catalog.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActions": {
      "type": "object",
      "description": "The configuration of post scan actions of DataQualityScan.",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActions",
      "properties": {
        "bigqueryExport": {
          "description": "Optional. If set, results will be exported to the provided BigQuery table.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport"
        },
        "notificationReport": {
          "description": "Optional. If set, results will be sent to the provided notification receipts upon triggers.",
          "$ref": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsNotificationReport"
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions": {
      "description": "Describe CSV and similar semi-structured data formats.",
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions",
      "properties": {
        "headerRows": {
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows.",
          "type": "integer",
          "format": "int32"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. The default is UTF-8."
        },
        "disableTypeInference": {
          "description": "Optional. Whether to disable the inference of data type for CSV data. If true, all columns will be registered as strings.",
          "type": "boolean"
        },
        "delimiter": {
          "type": "string",
          "description": "Optional. The delimiter being used to separate values. This defaults to ','."
        }
      }
    },
    "GoogleCloudDataplexV1MetadataJobExportJobResult": {
      "description": "Summary results from a metadata export job. The results are a snapshot of the metadata at the time when the job was created. The exported entries are saved to a Cloud Storage bucket.",
      "type": "object",
      "id": "GoogleCloudDataplexV1MetadataJobExportJobResult",
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The error message if the metadata export job failed.",
          "type": "string"
        },
        "exportedEntries": {
          "readOnly": true,
          "description": "Output only. The number of entries that were exported.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult": {
      "description": "The result of post scan actions of DataQualityScan job.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResult",
      "properties": {
        "bigqueryExportResult": {
          "readOnly": true,
          "description": "Output only. The result of BigQuery export post scan action.",
          "$ref": "GoogleCloudDataplexV1DataQualityResultPostScanActionsResultBigQueryExportResult"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanExecutionSpec": {
      "description": "DataScan execution settings.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataScanExecutionSpec",
      "properties": {
        "trigger": {
          "description": "Optional. Spec related to how often and when a scan should be triggered.If not specified, the default is OnDemand, which means the scan will not run until the user calls RunDataScan API.",
          "$ref": "GoogleCloudDataplexV1Trigger"
        },
        "field": {
          "description": "Immutable. The unnested field (of type Date or Timestamp) that contains values which monotonically increase over time.If not specified, a data scan will run for all data in the table.",
          "type": "string"
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileSpecPostScanActions": {
      "id": "GoogleCloudDataplexV1DataProfileSpecPostScanActions",
      "properties": {
        "bigqueryExport": {
          "description": "Optional. If set, results will be exported to the provided BigQuery table.",
          "$ref": "GoogleCloudDataplexV1DataProfileSpecPostScanActionsBigQueryExport"
        }
      },
      "type": "object",
      "description": "The configuration of post scan actions of DataProfileScan job."
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatusStats": {
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatusStats",
      "properties": {
        "dataItems": {
          "description": "The count of data items within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "filesets": {
          "description": "The count of fileset entities within the referenced resource.",
          "type": "string",
          "format": "int64"
        },
        "dataSize": {
          "type": "string",
          "format": "int64",
          "description": "The number of stored data bytes within the referenced resource."
        },
        "tables": {
          "description": "The count of table entities within the referenced resource.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The aggregated data statistics for the asset reported by discovery.",
      "type": "object"
    },
    "GoogleCloudDataplexV1RunDataScanRequest": {
      "description": "Run DataScan Request",
      "type": "object",
      "id": "GoogleCloudDataplexV1RunDataScanRequest",
      "properties": {}
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "description": "Settings to manage association of Dataproc Metastore with a lake.",
      "type": "object",
      "id": "GoogleCloudDataplexV1LakeMetastore",
      "properties": {
        "service": {
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRule": {
      "description": "A rule captures data quality intent about a data source.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRule",
      "properties": {
        "nonNullExpectation": {
          "description": "Row-level rule which evaluates whether each column value is null.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation"
        },
        "regexExpectation": {
          "description": "Row-level rule which evaluates whether each column value matches a specified regex.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRegexExpectation"
        },
        "dimension": {
          "description": "Optional. The dimension a rule belongs to. Results are also aggregated at the dimension level. Custom dimension name is supported with all uppercase letters and maximum length of 30 characters.",
          "type": "string"
        },
        "threshold": {
          "type": "number",
          "format": "double",
          "description": "Optional. The minimum ratio of passing_rows / total_rows required to pass this rule, with a range of 0.0, 1.0.0 indicates default value (i.e. 1.0).This field is only valid for row-level type rules."
        },
        "attributes": {
          "description": "Optional. Map of attribute name and value linked to the rule. The rules to evaluate can be filtered based on attributes provided here and a filter expression provided in the DataQualitySpec.filter field.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "debugQueries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleDebugQuery"
          },
          "description": "Optional. Specifies the debug queries for this rule. Currently, only one query is supported, but this may be expanded in the future."
        },
        "ruleSource": {
          "description": "Output only. Contains information about the source of the rule and its relationship with the BigQuery table, where applicable.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRuleSource",
          "readOnly": true
        },
        "rangeExpectation": {
          "description": "Row-level rule which evaluates whether each column value lies between a specified range.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation"
        },
        "name": {
          "description": "Optional. A mutable name for the rule. The name must contain only letters (a-z, A-Z), numbers (0-9), or hyphens (-). The maximum length is 63 characters. Must start with a letter. Must end with a number or a letter.",
          "type": "string"
        },
        "uniquenessExpectation": {
          "description": "Row-level rule which evaluates whether each column value is unique.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleUniquenessExpectation"
        },
        "rowConditionExpectation": {
          "description": "Row-level rule which evaluates whether each row in a table passes the specified condition.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleRowConditionExpectation"
        },
        "ignoreNull": {
          "description": "Optional. Rows with null values will automatically fail a rule, unless ignore_null is true. In that case, such null rows are trivially considered passing.This field is only valid for the following type of rules: RangeExpectation RegexExpectation SetExpectation UniquenessExpectation",
          "type": "boolean"
        },
        "statisticRangeExpectation": {
          "description": "Aggregate rule which evaluates whether the column aggregate statistic lies between a specified range.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleStatisticRangeExpectation"
        },
        "suspended": {
          "type": "boolean",
          "description": "Optional. Whether the Rule is active or suspended. Default is false."
        },
        "tableConditionExpectation": {
          "description": "Aggregate rule which evaluates whether the provided expression is true for a table.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleTableConditionExpectation"
        },
        "templateReference": {
          "description": "Aggregate rule which references a rule template and provides the parameters to be substituted in the template. If any rows are returned, this rule fails.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleTemplateReference"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the rule. The maximum length is 1,024 characters."
        },
        "setExpectation": {
          "description": "Row-level rule which evaluates whether each column value is contained by a specified set.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleSetExpectation"
        },
        "sqlAssertion": {
          "description": "Aggregate rule which evaluates the number of rows returned for the provided statement. If any rows are returned, this rule fails.",
          "$ref": "GoogleCloudDataplexV1DataQualityRuleSqlAssertion"
        },
        "column": {
          "description": "Optional. The unnested column which this rule is evaluated against.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataProductsResponse": {
      "id": "GoogleCloudDataplexV1ListDataProductsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that the service couldn't reach."
        },
        "dataProducts": {
          "description": "The data products for the requested filter criteria.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProduct"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is empty, then there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for listing data products.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProductPrincipal": {
      "type": "object",
      "description": "Represents the principal entity associated with an access group, as per https://cloud.google.com/iam/docs/principals-overview.",
      "id": "GoogleCloudDataplexV1DataProductPrincipal",
      "properties": {
        "googleGroup": {
          "description": "Optional. Email of the Google Group, as per https://cloud.google.com/iam/docs/principals-overview#google-group.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListEntryGroupsResponse": {
      "id": "GoogleCloudDataplexV1ListEntryGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "entryGroups": {
          "description": "Entry groups under the given parent location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryGroup"
          }
        },
        "unreachableLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that the service couldn't reach."
        }
      },
      "description": "List entry groups response.",
      "type": "object"
    },
    "GoogleCloudDataplexV1LookupEntryLinksResponse": {
      "id": "GoogleCloudDataplexV1LookupEntryLinksResponse",
      "properties": {
        "entryLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryLink"
          },
          "description": "List of entry links that reference the specified entry."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for LookupEntryLinks.",
      "type": "object"
    },
    "GoogleCloudDataplexV1JobEvent": {
      "type": "object",
      "description": "The payload associated with Job logs that contains events describing jobs that have run within a Lake.",
      "id": "GoogleCloudDataplexV1JobEvent",
      "properties": {
        "executionTrigger": {
          "enumDescriptions": [
            "The job execution trigger is unspecified.",
            "The job was triggered by Dataplex Universal Catalog based on trigger spec from task definition.",
            "The job was triggered by the explicit call of Task API."
          ],
          "description": "Job execution trigger.",
          "type": "string",
          "enum": [
            "EXECUTION_TRIGGER_UNSPECIFIED",
            "TASK_CONFIG",
            "RUN_REQUEST"
          ]
        },
        "jobId": {
          "type": "string",
          "description": "The unique id identifying the job."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the job started running."
        },
        "endTime": {
          "description": "The time when the job ended running.",
          "type": "string",
          "format": "google-datetime"
        },
        "service": {
          "enumDescriptions": [
            "Unspecified service.",
            "Cloud Dataproc."
          ],
          "description": "The service used to execute the job.",
          "type": "string",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "DATAPROC"
          ]
        },
        "type": {
          "enumDescriptions": [
            "Unspecified job type.",
            "Spark jobs.",
            "Notebook jobs."
          ],
          "description": "The type of the job.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPARK",
            "NOTEBOOK"
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "ABORTED"
          ],
          "description": "The job state on completion.",
          "enumDescriptions": [
            "Unspecified job state.",
            "Job successfully completed.",
            "Job was unsuccessful.",
            "Job was cancelled by the user.",
            "Job was cancelled or aborted via the service executing the job."
          ]
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "retries": {
          "type": "integer",
          "format": "int32",
          "description": "The number of retries."
        },
        "serviceJob": {
          "type": "string",
          "description": "The reference to the job within the service."
        }
      }
    },
    "GoogleCloudDataplexV1DiscoveryEventEntityDetails": {
      "description": "Details about the entity.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventEntityDetails",
      "properties": {
        "entity": {
          "type": "string",
          "description": "The name of the entity resource. The name is the fully-qualified resource name."
        },
        "type": {
          "enumDescriptions": [
            "An unspecified event type.",
            "Entities representing structured data.",
            "Entities representing unstructured data."
          ],
          "description": "The type of the entity resource.",
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1TaskExecutionSpec": {
      "id": "GoogleCloudDataplexV1TaskExecutionSpec",
      "properties": {
        "serviceAccount": {
          "description": "Required. Service account to use to execute a task. If not provided, the default Compute service account for the project is used.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. The Cloud KMS key to use for encryption, of the form: projects/{project_number}/locations/{location_id}/keyRings/{key-ring-name}/cryptoKeys/{key-name}.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Optional. The project in which jobs are run. By default, the project containing the Lake is used. If a project is provided, the ExecutionSpec.service_account must belong to this project."
        },
        "maxJobExecutionLifetime": {
          "description": "Optional. The maximum duration after which the job execution is expired.",
          "type": "string",
          "format": "google-duration"
        },
        "args": {
          "description": "Optional. The arguments to pass to the task. The args can use placeholders of the format ${placeholder} as part of key/value string. These will be interpolated before passing the args to the driver. Currently supported placeholders: - ${task_id} - ${job_time} To pass positional args, set the key as TASK_ARGS. The value should be a comma-separated string of all the positional arguments. To use a delimiter other than comma, refer to https://cloud.google.com/sdk/gcloud/reference/topic/escaping. In case of other keys being present in the args, then TASK_ARGS will be passed as the last argument.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Execution related settings, like retry and service_account.",
      "type": "object"
    },
    "GoogleCloudDataplexV1RunTaskRequest": {
      "id": "GoogleCloudDataplexV1RunTaskRequest",
      "properties": {
        "args": {
          "description": "Optional. Execution spec arguments. If the map is left empty, the task will run with existing execution spec args from task definition. If the map contains an entry with a new key, the same will be added to existing set of args. If the map contains an entry with an existing arg key in task definition, the task will run with new arg value for that entry. Clearing an existing arg will require arg value to be explicitly set to a hyphen \"-\". The arg value cannot be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "description": "Optional. User-defined labels for the task. If the map is left empty, the task will run with existing labels from task definition. If the map contains an entry with a new key, the same will be added to existing set of labels. If the map contains an entry with an existing label key in task definition, the task will run with new label value for that entry. Clearing an existing label will require label value to be explicitly set to a hyphen \"-\". The label value cannot be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDataplexV1DataQualityRuleRangeExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleRangeExpectation",
      "properties": {
        "strictMinEnabled": {
          "type": "boolean",
          "description": "Optional. Whether each value needs to be strictly greater than ('>') the minimum, or if equality is allowed.Only relevant if a min_value has been defined. Default = false."
        },
        "strictMaxEnabled": {
          "type": "boolean",
          "description": "Optional. Whether each value needs to be strictly lesser than ('<') the maximum, or if equality is allowed.Only relevant if a max_value has been defined. Default = false."
        },
        "maxValue": {
          "description": "Optional. The maximum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided.",
          "type": "string"
        },
        "minValue": {
          "description": "Optional. The minimum column value allowed for a row to pass this validation. At least one of min_value and max_value need to be provided.",
          "type": "string"
        }
      },
      "description": "Evaluates whether each column value lies between a specified range.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult": {
      "description": "The result of BigQuery export post scan action.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultPostScanActionsResultBigQueryExportResult",
      "properties": {
        "message": {
          "description": "Output only. Additional information about the BigQuery exporting.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The exporting state is unspecified.",
            "The exporting completed successfully.",
            "The exporting is no longer running due to an error.",
            "The exporting is skipped due to no valid scan result to export (usually caused by scan failed)."
          ],
          "description": "Output only. Execution state for the BigQuery exporting.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1DataDocumentationResult": {
      "description": "The output of a DataDocumentation scan.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataDocumentationResult",
      "properties": {
        "datasetResult": {
          "readOnly": true,
          "description": "Output only. Insights for a Dataset resource.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultDatasetResult"
        },
        "tableResult": {
          "readOnly": true,
          "description": "Output only. Insights for a Table resource.",
          "$ref": "GoogleCloudDataplexV1DataDocumentationResultTableResult"
        }
      }
    },
    "GoogleCloudDataplexV1EntryLink": {
      "id": "GoogleCloudDataplexV1EntryLink",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the Entry Link was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "aspects": {
          "description": "Optional. The aspects that are attached to the entry link. The format of the aspect key has to be the following: {project_id_or_number}.{location_id}.{aspect_type_id} Currently, only a single aspect of a Dataplex-owned Aspect Type is allowed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1Aspect"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Identifier. The relative resource name of the Entry Link, of the form: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entryLinks/{entry_link_id}"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Entry Link was created.",
          "readOnly": true
        },
        "entryLinkType": {
          "description": "Required. Immutable. Relative resource name of the Entry Link Type used to create this Entry Link. For example: Entry link between synonym terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/synonym Entry link between related terms in a glossary: projects/dataplex-types/locations/global/entryLinkTypes/related Entry link between glossary terms and data assets: projects/dataplex-types/locations/global/entryLinkTypes/definition",
          "type": "string"
        },
        "entryReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryLinkEntryReference"
          },
          "description": "Required. Immutable. Specifies the Entries referenced in the Entry Link. There should be exactly two entry references."
        }
      },
      "description": "EntryLink represents a link between two Entries.",
      "type": "object"
    },
    "GoogleCloudDataplexV1CancelMetadataJobRequest": {
      "id": "GoogleCloudDataplexV1CancelMetadataJobRequest",
      "properties": {},
      "type": "object",
      "description": "Cancel metadata job request."
    },
    "GoogleCloudDataplexV1DataProfileResultProfile": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfile",
      "properties": {
        "fields": {
          "description": "Output only. List of fields with structural and profile information for each field.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataProfileResultProfileField"
          },
          "readOnly": true
        }
      },
      "description": "Contains name, type, mode and field type specific profile information.",
      "type": "object"
    },
    "GoogleCloudDataplexV1AspectTypeAuthorization": {
      "description": "Authorization for an AspectType.",
      "type": "object",
      "id": "GoogleCloudDataplexV1AspectTypeAuthorization",
      "properties": {
        "alternateUsePermission": {
          "description": "Immutable. The IAM permission grantable on the EntryGroup to allow access to instantiate Aspects of Dataplex Universal Catalog owned AspectTypes, only settable for Dataplex Universal Catalog owned Types.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1AspectType": {
      "type": "object",
      "description": "AspectType is a template for creating Aspects, and represents the JSON-schema for a given Entry, for example, BigQuery Table Schema.",
      "id": "GoogleCloudDataplexV1AspectType",
      "properties": {
        "dataClassification": {
          "description": "Optional. Immutable. Stores data classification of the aspect.",
          "type": "string",
          "enum": [
            "DATA_CLASSIFICATION_UNSPECIFIED",
            "METADATA_AND_DATA"
          ],
          "enumDescriptions": [
            "Denotes that the aspect contains only metadata.",
            "Metadata and data classification."
          ]
        },
        "description": {
          "description": "Optional. Description of the AspectType.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The service computes this checksum. The client may send it on update and delete requests to ensure it has an up-to-date value before proceeding."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name."
        },
        "authorization": {
          "description": "Immutable. Defines the Authorization for this type.",
          "$ref": "GoogleCloudDataplexV1AspectTypeAuthorization"
        },
        "name": {
          "description": "Output only. The relative resource name of the AspectType, of the form: projects/{project_number}/locations/{location_id}/aspectTypes/{aspect_type_id}.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the AspectType was created.",
          "readOnly": true
        },
        "transferStatus": {
          "type": "string",
          "enum": [
            "TRANSFER_STATUS_UNSPECIFIED",
            "TRANSFER_STATUS_MIGRATED",
            "TRANSFER_STATUS_TRANSFERRED"
          ],
          "description": "Output only. Denotes the transfer status of the Aspect Type. It is unspecified for Aspect Types created from Dataplex API.",
          "enumDescriptions": [
            "The default value. It is set for resources that were not subject for migration from Data Catalog service.",
            "Indicates that a resource was migrated from Data Catalog service but it hasn't been transferred yet. In particular the resource cannot be updated from Dataplex API.",
            "Indicates that a resource was transferred from Data Catalog service. The resource can only be updated from Dataplex API."
          ],
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the AspectType. If you delete and recreate the AspectType with the same name, then this ID will be different."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the AspectType was last updated."
        },
        "metadataTemplate": {
          "description": "Required. MetadataTemplate of the aspect.",
          "$ref": "GoogleCloudDataplexV1AspectTypeMetadataTemplate"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the AspectType."
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoverySpec": {
      "description": "Settings to manage the metadata discovery and publishing for an asset.",
      "type": "object",
      "id": "GoogleCloudDataplexV1AssetDiscoverySpec",
      "properties": {
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecJsonOptions"
        },
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpecCsvOptions"
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes.To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether discovery is enabled."
        },
        "includePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        },
        "excludePatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names."
        }
      }
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatus": {
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatus",
      "properties": {
        "stats": {
          "description": "Data Stats of the asset reported by discovery.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "lastRunDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration of the last discovery run."
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Discovery for the asset is scheduled.",
            "Discovery for the asset is running.",
            "Discovery for the asset is currently paused (e.g. due to a lack of available resources). It will be automatically resumed.",
            "Discovery for the asset is disabled."
          ],
          "description": "The current status of the discovery feature.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "IN_PROGRESS",
            "PAUSED",
            "DISABLED"
          ]
        },
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastRunTime": {
          "description": "The start time of the last discovery run.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Status of discovery for an asset.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ImportItem": {
      "id": "GoogleCloudDataplexV1ImportItem",
      "properties": {
        "entry": {
          "description": "Information about an entry and its attached aspects.",
          "$ref": "GoogleCloudDataplexV1Entry"
        },
        "updateMask": {
          "description": "The fields to update, in paths that are relative to the Entry resource. Separate each field with a comma.In FULL entry sync mode, Dataplex Universal Catalog includes the paths of all of the fields for an entry that can be modified, including aspects. This means that Dataplex Universal Catalog replaces the existing entry with the entry in the metadata import file. All modifiable fields are updated, regardless of the fields that are listed in the update mask, and regardless of whether a field is present in the entry object.The update_mask field is ignored when an entry is created or re-created.In an aspect-only metadata job (when entry sync mode is NONE), set this value to aspects.Dataplex Universal Catalog also determines which entries and aspects to modify by comparing the values and timestamps that you provide in the metadata import file with the values and timestamps that exist in your project. For more information, see Comparison logic (https://cloud.google.com/dataplex/docs/import-metadata#data-modification-logic).",
          "type": "string",
          "format": "google-fieldmask"
        },
        "aspectKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The aspects to modify. Supports the following syntaxes: {aspect_type_reference}: matches aspects that belong to the specified aspect type and are attached directly to the entry. {aspect_type_reference}@{path}: matches aspects that belong to the specified aspect type and path. {aspect_type_reference}@* : matches aspects of the given type for all paths. *@path : matches aspects of all types on the given path.Replace {aspect_type_reference} with a reference to the aspect type, in the format {project_id_or_number}.{location_id}.{aspect_type_id}.In FULL entry sync mode, if you leave this field empty, it is treated as specifying exactly those aspects that are present within the specified entry. Dataplex Universal Catalog implicitly adds the keys for all of the required aspects of an entry."
        },
        "entryLink": {
          "description": "Information about the entry link. User should provide either one of the entry or entry_link. While providing entry_link, user should not provide update_mask and aspect_keys.",
          "$ref": "GoogleCloudDataplexV1EntryLink"
        }
      },
      "type": "object",
      "description": "An object that describes the values that you want to set for an entry and its attached aspects when you import metadata. Used when you run a metadata import job. See CreateMetadataJob.You provide a collection of import items in a metadata import file. For more information about how to create a metadata import file, see Metadata import file (https://cloud.google.com/dataplex/docs/import-metadata#metadata-import-file)."
    },
    "GoogleCloudDataplexV1EntryLinkEvent": {
      "id": "GoogleCloudDataplexV1EntryLinkEvent",
      "properties": {
        "message": {
          "type": "string",
          "description": "The log message."
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ENTRY_LINK_CREATE",
            "ENTRY_LINK_DELETE"
          ],
          "description": "The type of the event.",
          "enumDescriptions": [
            "An unspecified event type.",
            "EntryLink create event.",
            "EntryLink delete event."
          ]
        },
        "resource": {
          "type": "string",
          "description": "Name of the resource."
        }
      },
      "type": "object",
      "description": "Payload associated with Entry related log events."
    },
    "GoogleCloudDataplexV1TriggerOnDemand": {
      "id": "GoogleCloudDataplexV1TriggerOnDemand",
      "properties": {},
      "type": "object",
      "description": "The scan runs once via RunDataScan API."
    },
    "GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope": {
      "type": "object",
      "description": "The scope of the export job.",
      "id": "GoogleCloudDataplexV1MetadataJobExportJobSpecExportJobScope",
      "properties": {
        "projects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The projects whose metadata you want to export, in the format projects/{project_id_or_number}. Only the entries from the specified projects are exported.The projects must be in the same organization and VPC Service Controls perimeter as the job.If you set the job scope to be a list of projects, then set the organization-level export flag to false and don't provide a list of entry groups."
        },
        "entryTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The entry types that are in scope for the export job, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/entryTypes/{entry_type_id}. Only entries that belong to the specified entry types are affected by the job."
        },
        "entryGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The entry groups whose metadata you want to export, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}. Only the entries in the specified entry groups are exported.The entry groups must be in the same location and the same VPC Service Controls perimeter as the job.If you set the job scope to be a list of entry groups, then set the organization-level export flag to false and don't provide a list of projects."
        },
        "organizationLevel": {
          "type": "boolean",
          "description": "Whether the metadata export job is an organization-level export job. If true, the job exports the entries from the same organization and VPC Service Controls perimeter as the job. The project that the job belongs to determines the VPC Service Controls perimeter. If you set the job scope to be at the organization level, then don't provide a list of projects or entry groups. If false, you must specify a list of projects or a list of entry groups whose entries you want to export.The default is false."
        },
        "aspectTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The aspect types that are in scope for the export job, specified as relative resource names in the format projects/{project_id_or_number}/locations/{location}/aspectTypes/{aspect_type_id}. Only aspects that belong to the specified aspect types are affected by the job."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\""
        }
      },
      "description": "Request message for SetIamPolicy method.",
      "type": "object"
    },
    "GoogleCloudDataplexV1ListDataAssetsResponse": {
      "id": "GoogleCloudDataplexV1ListDataAssetsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is empty, then there are no subsequent pages."
        },
        "dataAssets": {
          "description": "The data assets for the requested filter criteria.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAsset"
          }
        }
      },
      "type": "object",
      "description": "Response message for listing data assets."
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "type": "object",
      "description": "Describes JSON data format.",
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "properties": {
        "encoding": {
          "type": "string",
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified."
        }
      }
    },
    "GoogleCloudDataplexV1SchemaPartitionField": {
      "description": "Represents a key field within the entity's partition structure. You could have up to 20 partition fields, but only the first 10 partitions have the filtering ability due to performance consideration. Note: Partition fields are immutable.",
      "type": "object",
      "id": "GoogleCloudDataplexV1SchemaPartitionField",
      "properties": {
        "name": {
          "description": "Required. Partition field name must consist of letters, numbers, and underscores only, with a maximum of length of 256 characters, and must begin with a letter or underscore..",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "SchemaType unspecified.",
            "Boolean field.",
            "Single byte numeric field.",
            "16-bit numeric field.",
            "32-bit numeric field.",
            "64-bit numeric field.",
            "Floating point numeric field.",
            "Double precision numeric field.",
            "Real value numeric field.",
            "Sequence of characters field.",
            "Sequence of bytes field.",
            "Date and time field.",
            "Date field.",
            "Time field.",
            "Structured field. Nested fields that define the structure of the map. If all nested fields are nullable, this field represents a union.",
            "Null field that does not have values."
          ],
          "description": "Required. Immutable. The type of field.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BOOLEAN",
            "BYTE",
            "INT16",
            "INT32",
            "INT64",
            "FLOAT",
            "DOUBLE",
            "DECIMAL",
            "STRING",
            "BINARY",
            "TIMESTAMP",
            "DATE",
            "TIME",
            "RECORD",
            "NULL"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleDebugQuery": {
      "type": "object",
      "description": "Specifies a SQL statement that is evaluated to return up to 10 scalar values that are used to debug rules. If the rule fails, the values can help diagnose the cause of the failure.The SQL statement must use GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax), and must not contain any semicolons.You can use the data reference parameter ${data()} to reference the source table with all of its precondition filters applied. Examples of precondition filters include row filters, incremental data filters, and sampling. For more information, see Data reference parameter (https://cloud.google.com/dataplex/docs/auto-data-quality-overview#data-reference-parameter).You can also name results with an explicit alias using [AS] alias. For more information, see BigQuery explicit aliases (https://docs.cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#explicit_alias_syntax).Example: SELECT MIN(col1) AS min_col1, MAX(col1) AS max_col1 FROM ${data()}",
      "id": "GoogleCloudDataplexV1DataQualityRuleDebugQuery",
      "properties": {
        "description": {
          "description": "Optional. Specifies the description of the debug query. The maximum length is 1,024 characters.",
          "type": "string"
        },
        "sqlStatement": {
          "type": "string",
          "description": "Required. Specifies the SQL statement to be executed."
        }
      }
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport": {
      "description": "The configuration of BigQuery export post scan action.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport",
      "properties": {
        "resultsTable": {
          "description": "Optional. The BigQuery table to export DataQualityScan results to. Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID or projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1GlossaryTerm": {
      "description": "GlossaryTerms are the core of Glossary. A GlossaryTerm holds a rich text description that can be attached to Entries or specific columns to enrich them.",
      "type": "object",
      "id": "GoogleCloudDataplexV1GlossaryTerm",
      "properties": {
        "description": {
          "description": "Optional. The user-mutable description of the GlossaryTerm.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the GlossaryTerm."
        },
        "parent": {
          "description": "Required. The immediate parent of the GlossaryTerm in the resource-hierarchy. It can either be a Glossary or a GlossaryCategory. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id} OR projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/categories/{category_id}",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated unique id for the GlossaryTerm. This ID will be different if the GlossaryTerm is deleted and re-created with the same name."
        },
        "updateTime": {
          "description": "Output only. The time at which the GlossaryTerm was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the GlossaryTerm. Format: projects/{project_id_or_number}/locations/{location_id}/glossaries/{glossary_id}/terms/{term_id}",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the GlossaryTerm was created."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly display name of the GlossaryTerm. This is user-mutable. This will be same as the GlossaryTermId, if not specified."
        }
      }
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources": {
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecBatchComputeResources",
      "properties": {
        "executorsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Total number of job executors. Executor Count should be between 2 and 100. Default=2"
        },
        "maxExecutorsCount": {
          "description": "Optional. Max configurable executors. If max_executors_count > executors_count, then auto-scaling is enabled. Max Executor Count should be between 2 and 1000. Default=1000",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Batch compute resources associated with the task."
    },
    "GoogleCloudDataplexV1DiscoveryEventTableDetails": {
      "description": "Details about the published table.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DiscoveryEventTableDetails",
      "properties": {
        "table": {
          "description": "The fully-qualified resource name of the table resource.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "An unspecified table type.",
            "External table type.",
            "BigLake table type.",
            "Object table type for unstructured data."
          ],
          "description": "The type of the table resource.",
          "type": "string",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "EXTERNAL_TABLE",
            "BIGLAKE_TABLE",
            "OBJECT_TABLE"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResultSet": {
      "id": "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResultSet",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResult"
          },
          "description": "Output only. Contains all results. Up to 10 results can be returned.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains all results from a debug query."
    },
    "GoogleCloudDataplexV1DataQualityRuleTemplateParameterDescription": {
      "description": "Description of the input parameter. It can include the type(s) supported by the parameter and intended usage. It is for information purposes only and does not affect the behavior of the rule template.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataQualityRuleTemplateParameterDescription",
      "properties": {
        "defaultValue": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The default value for the parameter if no value is provided."
        },
        "description": {
          "description": "Output only. Description of the input parameter. It can include the type(s) supported by the parameter and intended usage. It is for information purposes only and does not affect the behavior of the rule template.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1DataQualityRuleSetExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleSetExpectation",
      "properties": {
        "values": {
          "description": "Optional. Expected values for the column value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Evaluates whether each column value is contained by a specified set.",
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "id": "GoogleIamV1AuditConfig",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions": {
      "id": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        },
        "typeInferenceDisabled": {
          "type": "boolean",
          "description": "Optional. Whether to disable the inference of data types for JSON data. If true, all columns are registered as their primitive types (strings, number, or boolean)."
        }
      },
      "type": "object",
      "description": "Describes JSON data format."
    },
    "GoogleCloudDataplexV1DataQualityScanRuleResult": {
      "type": "object",
      "description": "Information about the result of a data quality rule for data quality scan. The monitored resource is 'DataScan'.",
      "id": "GoogleCloudDataplexV1DataQualityScanRuleResult",
      "properties": {
        "ruleType": {
          "enumDescriptions": [
            "An unspecified rule type.",
            "See DataQualityRule.NonNullExpectation.",
            "See DataQualityRule.RangeExpectation.",
            "See DataQualityRule.RegexExpectation.",
            "See DataQualityRule.RowConditionExpectation.",
            "See DataQualityRule.SetExpectation.",
            "See DataQualityRule.StatisticRangeExpectation.",
            "See DataQualityRule.TableConditionExpectation.",
            "See DataQualityRule.UniquenessExpectation.",
            "See DataQualityRule.SqlAssertion.",
            "See DataQualityRule.TemplateReference."
          ],
          "description": "The type of the data quality rule.",
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "NON_NULL_EXPECTATION",
            "RANGE_EXPECTATION",
            "REGEX_EXPECTATION",
            "ROW_CONDITION_EXPECTATION",
            "SET_EXPECTATION",
            "STATISTIC_RANGE_EXPECTATION",
            "TABLE_CONDITION_EXPECTATION",
            "UNIQUENESS_EXPECTATION",
            "SQL_ASSERTION",
            "TEMPLATE_REFERENCE"
          ]
        },
        "dataSource": {
          "type": "string",
          "description": "The data source of the data scan (e.g. BigQuery table name)."
        },
        "column": {
          "type": "string",
          "description": "The column which this rule is evaluated against."
        },
        "jobId": {
          "type": "string",
          "description": "Identifier of the specific data scan job this log entry is for."
        },
        "result": {
          "description": "The result of the data quality rule.",
          "type": "string",
          "enum": [
            "RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "An unspecified result.",
            "The data quality rule passed.",
            "The data quality rule failed."
          ]
        },
        "evalutionType": {
          "description": "The evaluation type of the data quality rule.",
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "PER_ROW",
            "AGGREGATE"
          ],
          "enumDescriptions": [
            "An unspecified evaluation type.",
            "The rule evaluation is done at per row level.",
            "The rule evaluation is done for an aggregate of rows."
          ]
        },
        "nullRowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows with null values in the specified column."
        },
        "assertionRowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows returned by the SQL statement in a SQL assertion rule. This field is only valid for SQL assertion rules."
        },
        "ruleDimension": {
          "description": "The dimension of the data quality rule.",
          "type": "string"
        },
        "evaluatedRowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows evaluated against the data quality rule. This field is only valid for rules of PER_ROW evaluation type."
        },
        "thresholdPercent": {
          "type": "number",
          "format": "double",
          "description": "The passing threshold (0.0, 100.0) of the data quality rule."
        },
        "passedRowCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows which passed a rule evaluation. This field is only valid for rules of PER_ROW evaluation type."
        },
        "ruleName": {
          "type": "string",
          "description": "The name of the data quality rule."
        }
      }
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsRecipients": {
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsRecipients",
      "properties": {
        "emails": {
          "description": "Optional. The email recipients who will receive the DataQualityScan results report.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The individuals or groups who are designated to receive notifications upon triggers.",
      "type": "object"
    },
    "GoogleCloudDataplexV1CancelJobRequest": {
      "id": "GoogleCloudDataplexV1CancelJobRequest",
      "properties": {},
      "description": "Cancel task jobs.",
      "type": "object"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoIntegerFieldInfo",
      "properties": {
        "standardDeviation": {
          "description": "Output only. Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "quartiles": {
          "description": "Output only. A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of approximate quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true
        },
        "min": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Minimum of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "average": {
          "description": "Output only. Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "max": {
          "readOnly": true,
          "description": "Output only. Maximum of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The profile information for an integer type field."
    },
    "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply": {
      "id": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply",
      "properties": {
        "asset": {
          "type": "string",
          "description": "Resource name of one of the assets with failing security policy application. Populated for a lake or zone resource only."
        }
      },
      "type": "object",
      "description": "Failed to apply security policy to the managed resource(s) under a lake, zone or an asset. For a lake or zone resource, one or more underlying assets has a failure applying security policy to the associated managed resource."
    },
    "GoogleCloudDataplexV1GovernanceEventEntity": {
      "description": "Information about Entity resource that the log event is associated with.",
      "type": "object",
      "id": "GoogleCloudDataplexV1GovernanceEventEntity",
      "properties": {
        "entityType": {
          "enumDescriptions": [
            "An unspecified Entity type.",
            "Table entity type.",
            "Fileset entity type."
          ],
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ],
          "description": "Type of entity."
        },
        "entity": {
          "description": "The Entity resource the log event is associated with. Format: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo": {
      "description": "The profile information for a double type field.",
      "type": "object",
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoDoubleFieldInfo",
      "properties": {
        "standardDeviation": {
          "type": "number",
          "format": "double",
          "description": "Output only. Standard deviation of non-null values in the scanned data. NaN, if the field has a NaN.",
          "readOnly": true
        },
        "quartiles": {
          "description": "Output only. A quartile divides the number of data points into four parts, or quarters, of more-or-less equal size. Three main quartiles used are: The first quartile (Q1) splits off the lowest 25% of data from the highest 75%. It is also known as the lower or 25th empirical quartile, as 25% of the data is below this point. The second quartile (Q2) is the median of a data set. So, 50% of the data lies below this point. The third quartile (Q3) splits off the highest 25% of data from the lowest 75%. It is known as the upper or 75th empirical quartile, as 75% of the data lies below this point. Here, the quartiles is provided as an ordered list of quartile values for the scanned data, occurring in order Q1, median, Q3.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "readOnly": true
        },
        "max": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Maximum of non-null values in the scanned data. NaN, if the field has a NaN."
        },
        "average": {
          "description": "Output only. Average of non-null values in the scanned data. NaN, if the field has a NaN.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "min": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Minimum of non-null values in the scanned data. NaN, if the field has a NaN."
        }
      }
    },
    "GoogleIamV1Binding": {
[...]
