{
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/dataflow",
  "name": "dataflow",
  "id": "dataflow:v1b3",
  "basePath": "",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "batchPath": "batch",
  "protocol": "rest",
  "version": "v1b3",
  "discoveryVersion": "v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "AutoscalingSettings": {
      "type": "object",
      "id": "AutoscalingSettings",
      "description": "Settings for WorkerPool autoscaling.",
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "The algorithm to use for autoscaling.",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ]
        },
        "maxNumWorkers": {
          "type": "integer",
          "description": "The maximum number of workers to cap scaling at.",
          "format": "int32"
        }
      }
    },
    "SourceSplitResponse": {
      "properties": {
        "bundles": {
          "items": {
            "$ref": "DerivedSource"
          },
          "type": "array",
          "description": "If outcome is SPLITTING_HAPPENED, then this is a list of bundles into which the source was split. Otherwise this field is ignored. This list can be empty, which means the source represents an empty input."
        },
        "shards": {
          "type": "array",
          "description": "DEPRECATED in favor of bundles.",
          "deprecated": true,
          "items": {
            "$ref": "SourceSplitShard"
          }
        },
        "outcome": {
          "type": "string",
          "description": "Indicates whether splitting happened and produced a list of bundles. If this is USE_CURRENT_SOURCE_AS_IS, the current source should be processed \"as is\" without splitting. \"bundles\" is ignored in this case. If this is SPLITTING_HAPPENED, then \"bundles\" contains a list of bundles into which the source was split.",
          "enum": [
            "SOURCE_SPLIT_OUTCOME_UNKNOWN",
            "SOURCE_SPLIT_OUTCOME_USE_CURRENT",
            "SOURCE_SPLIT_OUTCOME_SPLITTING_HAPPENED"
          ],
          "enumDescriptions": [
            "The source split outcome is unknown, or unspecified.",
            "The current source should be processed \"as is\" without splitting.",
            "Splitting produced a list of bundles."
          ]
        }
      },
      "type": "object",
      "id": "SourceSplitResponse",
      "description": "The response to a SourceSplitRequest."
    },
    "JobMessage": {
      "type": "object",
      "id": "JobMessage",
      "description": "A particular message pertaining to a Dataflow job.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Deprecated."
        },
        "messageText": {
          "type": "string",
          "description": "The text of the message."
        },
        "time": {
          "description": "The timestamp of the message.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageImportance": {
          "enumDescriptions": [
            "The message importance isn't specified, or is unknown.",
            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
          ],
          "type": "string",
          "description": "Importance level of the message.",
          "enum": [
            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
            "JOB_MESSAGE_DEBUG",
            "JOB_MESSAGE_DETAILED",
            "JOB_MESSAGE_BASIC",
            "JOB_MESSAGE_WARNING",
            "JOB_MESSAGE_ERROR"
          ]
        }
      }
    },
    "Point": {
      "id": "Point",
      "description": "A point in the timeseries.",
      "type": "object",
      "properties": {
        "time": {
          "description": "The timestamp of the point.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value of the point."
        }
      }
    },
    "KeyRangeDataDiskAssignment": {
      "type": "object",
      "id": "KeyRangeDataDiskAssignment",
      "description": "Data disk assignment information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "properties": {
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "dataDisk": {
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\".",
          "type": "string"
        },
        "start": {
          "description": "The start (inclusive) of the key range.",
          "type": "string"
        }
      }
    },
    "WorkerMessageResponse": {
      "properties": {
        "workerHealthReportResponse": {
          "description": "The service's response to a worker's health report.",
          "$ref": "WorkerHealthReportResponse"
        },
        "workerMetricsResponse": {
          "description": "Service's response to reporting worker metrics (currently empty).",
          "$ref": "ResourceUtilizationReportResponse"
        },
        "streamingScalingReportResponse": {
          "description": "Service's streaming scaling response for workers.",
          "$ref": "StreamingScalingReportResponse"
        },
        "workerShutdownNoticeResponse": {
          "description": "Service's response to shutdown notice (currently empty).",
          "$ref": "WorkerShutdownNoticeResponse"
        },
        "workerThreadScalingReportResponse": {
          "description": "Service's thread scaling recommendation for workers.",
          "$ref": "WorkerThreadScalingReportResponse"
        }
      },
      "type": "object",
      "id": "WorkerMessageResponse",
      "description": "A worker_message response allows the server to pass information to the sender."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "RuntimeMetadata": {
      "properties": {
        "sdkInfo": {
          "description": "SDK Info for the template.",
          "$ref": "SDKInfo"
        },
        "parameters": {
          "description": "The parameters for the template.",
          "type": "array",
          "items": {
            "$ref": "ParameterMetadata"
          }
        }
      },
      "type": "object",
      "id": "RuntimeMetadata",
      "description": "RuntimeMetadata describing a runtime environment."
    },
    "AutoscalingEvent": {
      "id": "AutoscalingEvent",
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "type": "object",
      "properties": {
        "targetNumWorkers": {
          "description": "The target number of workers the worker pool wants to resize to use.",
          "type": "string",
          "format": "int64"
        },
        "time": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this event was emitted to indicate a new target or current num_workers value."
        },
        "eventType": {
          "type": "string",
          "description": "The type of autoscaling event to report.",
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ]
        },
        "description": {
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "workerPool": {
          "type": "string",
          "description": "A short and friendly name for the worker pool this event refers to."
        },
        "currentNumWorkers": {
          "description": "The current number of workers the job has.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "StragglerSummary": {
      "properties": {
        "totalStragglerCount": {
          "description": "The total count of stragglers.",
          "type": "string",
          "format": "int64"
        },
        "stragglerCauseCount": {
          "type": "object",
          "description": "Aggregated counts of straggler causes, keyed by the string representation of the StragglerCause enum.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "recentStragglers": {
          "type": "array",
          "description": "The most recent stragglers.",
          "items": {
            "$ref": "Straggler"
          }
        }
      },
      "id": "StragglerSummary",
      "description": "Summarized straggler identification details.",
      "type": "object"
    },
    "LaunchTemplateParameters": {
      "type": "object",
      "id": "LaunchTemplateParameters",
      "description": "Parameters to provide to the template being launched. Note that the [metadata in the pipeline code] (https://cloud.google.com/dataflow/docs/guides/templates/creating-templates#metadata) determines which runtime parameters are valid.",
      "properties": {
        "parameters": {
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "transformNameMapping": {
          "type": "object",
          "description": "Only applicable when updating a pipeline. Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. The name must match the regular expression `[a-z]([-a-z0-9]{0,1022}[a-z0-9])?`",
          "type": "string"
        },
        "update": {
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state.",
          "type": "boolean"
        }
      }
    },
    "PipelineDescription": {
      "type": "object",
      "id": "PipelineDescription",
      "description": "A descriptive representation of submitted pipeline as well as the executed form. This data is provided by the Dataflow service for ease of visualizing the pipeline and interpreting Dataflow provided metrics.",
      "properties": {
        "originalPipelineTransform": {
          "items": {
            "$ref": "TransformSummary"
          },
          "type": "array",
          "description": "Description of each transform in the pipeline and collections between them."
        },
        "displayData": {
          "items": {
            "$ref": "DisplayData"
          },
          "type": "array",
          "description": "Pipeline level display data."
        },
        "stepNamesHash": {
          "type": "string",
          "description": "A hash value of the submitted pipeline portable graph step names if exists."
        },
        "executionPipelineStage": {
          "type": "array",
          "description": "Description of each stage of execution of the pipeline.",
          "items": {
            "$ref": "ExecutionStageSummary"
          }
        }
      }
    },
    "ConcatPosition": {
      "properties": {
        "index": {
          "description": "Index of the inner source.",
          "type": "integer",
          "format": "int32"
        },
        "position": {
          "description": "Position within the inner source.",
          "$ref": "Position"
        }
      },
      "id": "ConcatPosition",
      "description": "A position that encapsulates an inner position and an index for the inner position. A ConcatPosition can be used by a reader of a source that encapsulates a set of other sources.",
      "type": "object"
    },
    "Linear": {
      "properties": {
        "width": {
          "type": "number",
          "description": "Distance between bucket boundaries. Must be greater than 0.",
          "format": "double"
        },
        "start": {
          "format": "double",
          "type": "number",
          "description": "Lower bound of the first bucket."
        },
        "numberOfBuckets": {
          "type": "integer",
          "description": "Must be greater than 0.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Linear",
      "description": "Linear buckets with the following boundaries for indices in 0 to n-1. - i in [0, n-1]: [start + (i)*width, start + (i+1)*width)"
    },
    "SendDebugCaptureRequest": {
      "id": "SendDebugCaptureRequest",
      "description": "Request to send encoded debug information. Next ID: 8",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "The encoded debug information."
        },
        "dataFormat": {
          "description": "Format for the data field above (id=5).",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "RAW",
            "JSON",
            "ZLIB",
            "BROTLI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Format unspecified, parsing is determined based upon page type and legacy encoding. (go/protodosdonts#do-include-an-unspecified-value-in-an-enum)",
            "Raw HTML string.",
            "JSON-encoded string.",
            "Websafe encoded zlib-compressed string.",
            "Websafe encoded brotli-compressed string."
          ]
        },
        "componentId": {
          "description": "The internal component id for which debug information is sent.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id."
        },
        "workerId": {
          "type": "string",
          "description": "The worker id, i.e., VM hostname."
        }
      }
    },
    "WorkerSettings": {
      "properties": {
        "shuffleServicePath": {
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\".",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "workerId": {
          "type": "string",
          "description": "The ID of the worker running this pipeline."
        },
        "reportingEnabled": {
          "description": "Whether to send work progress updates to the service.",
          "type": "boolean"
        },
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        }
      },
      "id": "WorkerSettings",
      "description": "Provides data to pass through to the worker harness.",
      "type": "object"
    },
    "TopologyConfig": {
      "type": "object",
      "id": "TopologyConfig",
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "properties": {
        "userStageToComputationNameMap": {
          "type": "object",
          "description": "Maps user stage names to stable computation names.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "persistentStateVersion": {
          "type": "integer",
          "description": "Version number for persistent state.",
          "format": "int32"
        },
        "computations": {
          "items": {
            "$ref": "ComputationTopology"
          },
          "type": "array",
          "description": "The computations associated with a streaming Dataflow job."
        },
        "dataDiskAssignments": {
          "description": "The disks assigned to a streaming Dataflow job.",
          "type": "array",
          "items": {
            "$ref": "DataDiskAssignment"
          }
        },
        "forwardingKeyBits": {
          "format": "int32",
          "type": "integer",
          "description": "The size (in bits) of keys that will be assigned to source messages."
        }
      }
    },
    "SideInputInfo": {
      "properties": {
        "tag": {
          "description": "The id of the tag the user code will access this side input by; this should correspond to the tag of some MultiOutputInfo.",
          "type": "string"
        },
        "kind": {
          "type": "object",
          "description": "How to interpret the source element(s) as a side input value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "The source(s) to read element(s) from to get the value of this side input. If more than one source, then the elements are taken from the sources, in the specified order if order matters. At least one source is required."
        }
      },
      "type": "object",
      "id": "SideInputInfo",
      "description": "Information about a side input of a DoFn or an input of a SeqDoFn."
    },
    "MetricValue": {
      "id": "MetricValue",
      "description": "The value of a metric along with its name and labels.",
      "type": "object",
      "properties": {
        "metricLabels": {
          "type": "object",
          "description": "Optional. Set of metric labels for this metric.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "valueGauge64": {
          "description": "Non-cumulative int64 value of this metric.",
          "$ref": "DataflowGaugeValue"
        },
        "valueHistogram": {
          "description": "Histogram value of this metric.",
          "$ref": "DataflowHistogramValue"
        },
        "metric": {
          "description": "Base name for this metric.",
          "type": "string"
        },
        "valueInt64": {
          "format": "int64",
          "description": "Integer value of this metric.",
          "type": "string"
        }
      }
    },
    "IntegerMean": {
      "id": "IntegerMean",
      "description": "A representation of an integer mean metric contribution.",
      "type": "object",
      "properties": {
        "sum": {
          "description": "The sum of all values being aggregated.",
          "$ref": "SplitInt64"
        },
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        }
      }
    },
    "RuntimeUpdatableParams": {
      "type": "object",
      "id": "RuntimeUpdatableParams",
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation.",
      "properties": {
        "maxNumWorkers": {
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs.",
          "type": "integer",
          "format": "int32"
        },
        "acceptableBacklogDuration": {
          "deprecated": true,
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold duration in seconds for autoscaling. Value must be non-negative."
        },
        "latencyTier": {
          "type": "string",
          "description": "Optional. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\"."
        },
        "workerUtilizationHint": {
          "format": "double",
          "type": "number",
          "description": "Target worker utilization, compared against the aggregate utilization of the worker pool by autoscaler, to determine upscaling and downscaling when absent other constraints such as backlog. For more information, see [Update an existing pipeline](https://cloud.google.com/dataflow/docs/guides/updating-a-pipeline)."
        },
        "autoscalingTier": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "type": "string"
        },
        "minNumWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs."
        }
      }
    },
    "StreamingStageLocation": {
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StreamingStageLocation",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication."
    },
    "DataSamplingReport": {
      "type": "object",
      "id": "DataSamplingReport",
      "description": "Contains per-worker telemetry about the data sampling feature.",
      "properties": {
        "pcollectionsSampledCount": {
          "type": "string",
          "description": "Optional. Delta of number of PCollections sampled from previous report.",
          "format": "int64"
        },
        "bytesWrittenDelta": {
          "type": "string",
          "description": "Optional. Delta of bytes written to file from previous report.",
          "format": "int64"
        },
        "elementsSampledBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of bytes sampled from previous report."
        },
        "elementsSampledCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Delta of number of elements sampled from previous report."
        },
        "persistenceErrorsCount": {
          "description": "Optional. Delta of errors counts from persisting the samples from previous report.",
          "type": "string",
          "format": "int64"
        },
        "exceptionsSampledCount": {
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report.",
          "type": "string",
          "format": "int64"
        },
        "translationErrorsCount": {
          "format": "int64",
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report.",
          "type": "string"
        }
      }
    },
    "FlattenInstruction": {
      "properties": {
        "inputs": {
          "type": "array",
          "description": "Describes the inputs to the flatten instruction.",
          "items": {
            "$ref": "InstructionInput"
          }
        }
      },
      "id": "FlattenInstruction",
      "description": "An instruction that copies its inputs (zero or more) to its (single) output.",
      "type": "object"
    },
    "SeqMapTaskOutputInfo": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "The id of the TupleTag the user code will tag the output value by."
        },
        "sink": {
          "description": "The sink to write the output value to.",
          "$ref": "Sink"
        }
      },
      "type": "object",
      "id": "SeqMapTaskOutputInfo",
      "description": "Information about an output of a SeqMapTask."
    },
    "KeyRangeLocation": {
      "id": "KeyRangeLocation",
      "description": "Location information for a specific key-range of a sharded computation. Currently we only support UTF-8 character splits to simplify encoding into JSON.",
      "type": "object",
      "properties": {
        "start": {
          "type": "string",
          "description": "The start (inclusive) of the key range."
        },
        "deliveryEndpoint": {
          "type": "string",
          "description": "The physical location of this range assignment to be used for streaming computation cross-worker message delivery."
        },
        "deprecatedPersistentDirectory": {
          "type": "string",
          "description": "DEPRECATED. The location of the persistent state for this range, as a persistent directory in the worker local filesystem.",
          "deprecated": true
        },
        "end": {
          "type": "string",
          "description": "The end (exclusive) of the key range."
        },
        "dataDisk": {
          "type": "string",
          "description": "The name of the data disk where data for this range is stored. This name is local to the Google Cloud Platform project and uniquely identifies the disk within that project, for example \"myproject-1014-104817-4c2-harness-0-disk-1\"."
        }
      }
    },
    "WorkerHealthReport": {
      "properties": {
        "vmIsHealthy": {
          "description": "Whether the VM is currently healthy.",
          "type": "boolean"
        },
        "vmStartupTime": {
          "description": "The time the VM was booted.",
          "type": "string",
          "format": "google-datetime"
        },
        "vmIsBroken": {
          "type": "boolean",
          "description": "Whether the VM is in a permanently broken state. Broken VMs should be abandoned or deleted ASAP to avoid assigning or completing any work."
        },
        "msg": {
          "description": "Message describing any unusual health reports.",
          "type": "string"
        },
        "vmBrokenCode": {
          "type": "string",
          "description": "Code to describe a specific reason, if known, that a VM has reported broken state."
        },
        "reportInterval": {
          "description": "The interval at which the worker is sending health reports. The default value of 0 should be interpreted as the field is not being explicitly set by the worker.",
          "type": "string",
          "format": "google-duration"
        },
        "pods": {
          "type": "array",
          "description": "The pods running on the worker. See: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_pod This field is used by the worker to send the status of the indvidual containers running on each worker.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "id": "WorkerHealthReport",
      "description": "WorkerHealthReport contains information about the health of a worker. The VM should be identified by the labels attached to the WorkerMessage that this health ping belongs to."
    },
    "CounterMetadata": {
      "type": "object",
      "id": "CounterMetadata",
      "description": "CounterMetadata includes all static non-name non-value counter attributes.",
      "properties": {
        "otherUnits": {
          "type": "string",
          "description": "A string referring to the unit type."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of the counter semantics."
        },
        "standardUnits": {
          "type": "string",
          "description": "System defined Units, see above enum.",
          "enum": [
            "BYTES",
            "BYTES_PER_SEC",
            "MILLISECONDS",
            "MICROSECONDS",
            "NANOSECONDS",
            "TIMESTAMP_MSEC",
            "TIMESTAMP_USEC",
            "TIMESTAMP_NSEC"
          ],
          "enumDescriptions": [
            "Counter returns a value in bytes.",
            "Counter returns a value in bytes per second.",
            "Counter returns a value in milliseconds.",
            "Counter returns a value in microseconds.",
            "Counter returns a value in nanoseconds.",
            "Counter returns a timestamp in milliseconds.",
            "Counter returns a timestamp in microseconds.",
            "Counter returns a timestamp in nanoseconds."
          ]
        },
        "kind": {
          "description": "Counter aggregation kind.",
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ]
        }
      }
    },
    "GPUUtilization": {
      "type": "object",
      "id": "GPUUtilization",
      "description": "Utilization details about the GPU.",
      "properties": {
        "rate": {
          "type": "number",
          "description": "Required. GPU utilization rate of any kernel over the last sample period in the range of [0, 1].",
          "format": "double"
        }
      }
    },
    "SendWorkerMessagesResponse": {
      "properties": {
        "workerMessageResponses": {
          "items": {
            "$ref": "WorkerMessageResponse"
          },
          "type": "array",
          "description": "The servers response to the worker messages."
        }
      },
      "type": "object",
      "id": "SendWorkerMessagesResponse",
      "description": "The response to the worker messages."
    },
    "LaunchFlexTemplateResponse": {
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "type": "object",
      "id": "LaunchFlexTemplateResponse",
      "description": "Response to the request to launch a job from Flex Template."
    },
    "ComponentTransform": {
      "properties": {
        "name": {
          "description": "Dataflow service generated name for this source.",
          "type": "string"
        },
        "originalTransform": {
          "type": "string",
          "description": "User name for the original user transform with which this transform is most closely associated."
        },
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComponentTransform",
      "description": "Description of a transform executed as part of an execution stage."
    },
    "ApproximateSplitRequest": {
      "properties": {
        "fractionConsumed": {
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input).",
          "type": "number",
          "format": "double"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        },
        "fractionOfRemainder": {
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "ApproximateSplitRequest",
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem."
    },
    "WorkItem": {
      "id": "WorkItem",
      "description": "WorkItem represents basic information about a WorkItem to be executed in the cloud.",
      "type": "object",
      "properties": {
        "reportStatusInterval": {
          "format": "google-duration",
          "description": "Recommended reporting interval.",
          "type": "string"
        },
        "streamingSetupTask": {
          "description": "Additional information for StreamingSetupTask WorkItems.",
          "$ref": "StreamingSetupTask"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "Identifies this WorkItem."
        },
        "streamingConfigTask": {
          "description": "Additional information for StreamingConfigTask WorkItems.",
          "$ref": "StreamingConfigTask"
        },
        "leaseExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the lease on this Work will expire."
        },
        "initialReportIndex": {
          "type": "string",
          "description": "The initial index to use when reporting the status of the WorkItem.",
          "format": "int64"
        },
        "projectId": {
          "type": "string",
          "description": "Identifies the cloud project this WorkItem belongs to."
        },
        "shellTask": {
          "description": "Additional information for ShellTask WorkItems.",
          "$ref": "ShellTask"
        },
        "seqMapTask": {
          "description": "Additional information for SeqMapTask WorkItems.",
          "$ref": "SeqMapTask"
        },
        "streamingComputationTask": {
          "description": "Additional information for StreamingComputationTask WorkItems.",
          "$ref": "StreamingComputationTask"
        },
        "configuration": {
          "description": "Work item-specific configuration as an opaque blob.",
          "type": "string"
        },
        "mapTask": {
          "description": "Additional information for MapTask WorkItems.",
          "$ref": "MapTask"
        },
        "sourceOperationTask": {
          "description": "Additional information for source operation WorkItems.",
          "$ref": "SourceOperationRequest"
        },
        "packages": {
          "description": "Any required packages that need to be fetched in order to execute this WorkItem.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        },
        "jobId": {
          "type": "string",
          "description": "Identifies the workflow job this WorkItem belongs to."
        }
      }
    },
    "StreamingApplianceSnapshotConfig": {
      "id": "StreamingApplianceSnapshotConfig",
      "description": "Streaming appliance snapshot configuration.",
      "type": "object",
      "properties": {
        "importStateEndpoint": {
          "type": "string",
          "description": "Indicates which endpoint is used to import appliance state."
        },
        "snapshotId": {
          "description": "If set, indicates the snapshot id for the snapshot being performed.",
          "type": "string"
        }
      }
    },
    "Position": {
      "type": "object",
      "id": "Position",
      "description": "Position defines a position within a collection of data. The value can be either the end position, a key (used with ordered collections), a byte offset, or a record index.",
      "properties": {
        "concatPosition": {
          "description": "CloudPosition is a concat position.",
          "$ref": "ConcatPosition"
        },
        "byteOffset": {
          "format": "int64",
          "description": "Position is a byte offset.",
          "type": "string"
        },
        "recordIndex": {
          "format": "int64",
          "type": "string",
          "description": "Position is a record index."
        },
        "shufflePosition": {
          "description": "CloudPosition is a base64 encoded BatchShufflePosition (with FIXED sharding).",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Position is a string key, ordered lexicographically."
        },
        "end": {
          "type": "boolean",
          "description": "Position is past all other positions. Also useful for the end position of an unbounded range."
        }
      }
    },
    "LaunchFlexTemplateRequest": {
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job form Flex Template.",
          "$ref": "LaunchFlexTemplateParameter"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "LaunchFlexTemplateRequest",
      "description": "A request to launch a Cloud Dataflow job from a FlexTemplate."
    },
    "Straggler": {
      "properties": {
        "batchStraggler": {
          "description": "Batch straggler identification and debugging information.",
          "$ref": "StragglerInfo"
        },
        "streamingStraggler": {
          "description": "Streaming straggler identification and debugging information.",
          "$ref": "StreamingStragglerInfo"
        }
      },
      "id": "Straggler",
      "description": "Information for a straggler.",
      "type": "object"
    },
    "DataDiskAssignment": {
      "properties": {
        "vmInstance": {
          "type": "string",
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\"."
        },
        "dataDisks": {
          "type": "array",
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DataDiskAssignment",
      "description": "Data disk assignment for a given VM instance.",
      "type": "object"
    },
    "DataflowGaugeValue": {
      "id": "DataflowGaugeValue",
      "description": "The gauge value of a metric.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the gauge.",
          "format": "int64"
        },
        "measuredTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the gauge was recorded."
        }
      }
    },
    "ComponentSource": {
      "properties": {
        "userName": {
          "description": "Human-readable name for this transform; may be user or system generated.",
          "type": "string"
        },
        "originalTransformOrCollection": {
          "description": "User name for the original user transform or collection with which this source is most closely associated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Dataflow service generated name for this source."
        }
      },
      "id": "ComponentSource",
      "description": "Description of an interstitial value between transforms in an execution stage.",
      "type": "object"
    },
    "StringList": {
      "type": "object",
      "id": "StringList",
      "description": "A metric value representing a list of strings.",
      "properties": {
        "elements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Elements of the list."
        }
      }
    },
    "CPUTime": {
      "id": "CPUTime",
      "description": "Modeled after information exposed by /proc/stat.",
      "type": "object",
      "properties": {
        "rate": {
          "type": "number",
          "description": "Average CPU utilization rate (% non-idle cpu / second) since previous sample.",
          "format": "double"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Timestamp of the measurement.",
          "type": "string"
        },
        "totalMs": {
          "format": "uint64",
          "description": "Total active CPU time across all cores (ie., non-idle) in milliseconds since start-up.",
          "type": "string"
        }
      }
    },
    "SendDebugCaptureResponse": {
      "id": "SendDebugCaptureResponse",
      "description": "Response to a send capture request. nothing",
      "type": "object",
      "properties": {}
    },
    "MetricShortId": {
      "id": "MetricShortId",
      "description": "The metric short id is returned to the user alongside an offset into ReportWorkItemStatusRequest",
      "type": "object",
      "properties": {
        "metricIndex": {
          "description": "The index of the corresponding metric in the ReportWorkItemStatusRequest. Required.",
          "type": "integer",
          "format": "int32"
        },
        "shortId": {
          "format": "int64",
          "type": "string",
          "description": "The service-generated short identifier for the metric."
        }
      }
    },
    "StageSummary": {
      "properties": {
        "state": {
          "type": "string",
          "description": "State of this stage.",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ]
        },
        "stageId": {
          "description": "ID of this stage",
          "type": "string"
        },
        "progress": {
          "description": "Progress for this stage. Only applicable to Batch jobs.",
          "$ref": "ProgressTimeseries"
        },
        "stragglerSummary": {
          "description": "Straggler summary for this stage.",
          "$ref": "StragglerSummary"
        },
        "startTime": {
          "type": "string",
          "description": "Start time of this stage.",
          "format": "google-datetime"
        },
        "metrics": {
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "Metrics for this stage.",
          "type": "array"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of this stage. If the work item is completed, this is the actual end time of the stage. Otherwise, it is the predicted end time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StageSummary",
      "description": "Information about a particular execution stage of a job."
    },
    "WorkerMessage": {
      "id": "WorkerMessage",
      "description": "WorkerMessage provides information to the backend about a worker.",
      "type": "object",
      "properties": {
        "workerHealthReport": {
          "description": "The health of a worker.",
          "$ref": "WorkerHealthReport"
        },
        "workerShutdownNotice": {
          "description": "Shutdown notice by workers.",
          "$ref": "WorkerShutdownNotice"
        },
        "time": {
          "type": "string",
          "description": "The timestamp of the worker_message.",
          "format": "google-datetime"
        },
        "dataSamplingReport": {
          "description": "Optional. Contains metrics related to go/dataflow-data-sampling-telemetry.",
          "$ref": "DataSamplingReport"
        },
        "perWorkerMetrics": {
          "description": "System defined metrics for this worker.",
          "$ref": "PerWorkerMetrics"
        },
        "labels": {
          "type": "object",
          "description": "Labels are used to group WorkerMessages. For example, a worker_message about a particular container might have the labels: { \"JOB_ID\": \"2015-04-22\", \"WORKER_ID\": \"wordcount-vm-2015…\" \"CONTAINER_TYPE\": \"worker\", \"CONTAINER_ID\": \"ac1234def\"} Label tags typically correspond to Label enum values. However, for ease of development other strings can be used as tags. LABEL_UNSPECIFIED should not be used here.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "streamingScalingReport": {
          "description": "Contains per-user worker telemetry used in streaming autoscaling.",
          "$ref": "StreamingScalingReport"
        },
        "workerThreadScalingReport": {
          "description": "Thread scaling information reported by workers.",
          "$ref": "WorkerThreadScalingReport"
        },
        "workerMetrics": {
          "description": "Resource metrics reported by workers.",
          "$ref": "ResourceUtilizationReport"
        },
        "workerLifecycleEvent": {
          "description": "Record of worker lifecycle events.",
          "$ref": "WorkerLifecycleEvent"
        },
        "workerMessageCode": {
          "description": "A worker message code.",
          "$ref": "WorkerMessageCode"
        }
      }
    },
    "WorkerHealthReportResponse": {
      "id": "WorkerHealthReportResponse",
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping.",
      "type": "object",
      "properties": {
        "reportInterval": {
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "PubSubIODetails": {
      "type": "object",
      "id": "PubSubIODetails",
      "description": "Metadata for a Pub/Sub connector used by the job.",
      "properties": {
        "topic": {
          "description": "Topic accessed in the connection.",
          "type": "string"
        },
        "subscription": {
          "type": "string",
          "description": "Subscription used in the connection."
        }
      }
    },
    "DynamicSourceSplit": {
      "properties": {
        "primary": {
          "description": "Primary part (continued to be processed by worker). Specified relative to the previously-current source. Becomes current.",
          "$ref": "DerivedSource"
        },
        "residual": {
          "description": "Residual part (returned to the pool of work). Specified relative to the previously-current source.",
          "$ref": "DerivedSource"
        }
      },
      "type": "object",
      "id": "DynamicSourceSplit",
      "description": "When a task splits using WorkItemStatus.dynamic_source_split, this message describes the two parts of the split relative to the description of the current task's input."
    },
    "HotKeyInfo": {
      "type": "object",
      "id": "HotKeyInfo",
      "description": "Information about a hot key.",
      "properties": {
        "keyTruncated": {
          "type": "boolean",
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is >5MB."
        },
        "hotKeyAge": {
          "description": "The age of the hot key measured from when it was first detected.",
          "type": "string",
          "format": "google-duration"
        },
        "key": {
          "type": "string",
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\"."
        }
      }
    },
    "Sdk": {
      "id": "Sdk",
      "description": "A structured representation of an SDK.",
      "type": "object",
      "properties": {
        "sdkId": {
          "type": "string",
          "description": "The SDK harness id."
        },
        "stacks": {
          "type": "array",
          "description": "The stacktraces for the processes running on the SDK harness.",
          "items": {
            "$ref": "Stack"
          }
        }
      }
    },
    "FileIODetails": {
      "properties": {
        "filePattern": {
          "description": "File Pattern used to access files by the connector.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FileIODetails",
      "description": "Metadata for a File connector used by the job."
    },
    "SpannerIODetails": {
      "type": "object",
      "id": "SpannerIODetails",
      "description": "Metadata for a Spanner connector used by the job.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "InstanceId accessed in the connection."
        },
        "databaseId": {
          "type": "string",
          "description": "DatabaseId accessed in the connection."
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        }
      }
    },
    "StreamingStragglerInfo": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of this straggler."
        },
        "systemWatermarkLag": {
          "type": "string",
          "description": "The system watermark lag at the time of the straggler detection.",
          "format": "google-duration"
        },
        "endTime": {
          "type": "string",
          "description": "End time of this straggler.",
          "format": "google-datetime"
        },
        "workerName": {
          "type": "string",
          "description": "Name of the worker where the straggler was detected."
        },
        "dataWatermarkLag": {
          "description": "The event-time watermark lag at the time of the straggler detection.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "StreamingStragglerInfo",
      "description": "Information useful for streaming straggler identification and debugging.",
      "type": "object"
    },
    "StageExecutionDetails": {
      "type": "object",
      "id": "StageExecutionDetails",
      "description": "Information about the workers and work items within a stage.",
      "properties": {
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        },
        "workers": {
          "description": "Workers that have done work on the stage.",
          "type": "array",
          "items": {
            "$ref": "WorkerDetails"
          }
        }
      }
    },
    "GetWorkerStacktracesResponse": {
      "type": "object",
      "id": "GetWorkerStacktracesResponse",
      "description": "Response to get worker stacktraces from debug capture.",
      "properties": {
        "sdks": {
          "items": {
            "$ref": "Sdk"
          },
          "type": "array",
          "description": "Repeated as unified worker may have multiple SDK processes."
        }
      }
    },
    "WorkItemStatus": {
      "id": "WorkItemStatus",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "type": "object",
      "properties": {
        "requestedLeaseDuration": {
          "format": "google-duration",
          "description": "Amount of time the worker requests for its lease.",
          "type": "string"
        },
        "metricUpdates": {
          "deprecated": true,
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "DEPRECATED in favor of counter_updates.",
          "type": "array"
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number",
          "format": "double"
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "errors": {
          "type": "array",
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          }
        },
        "sourceFork": {
          "deprecated": true,
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "$ref": "SourceFork"
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "progress": {
          "deprecated": true,
          "description": "DEPRECATED in favor of reported_progress.",
          "$ref": "ApproximateProgress"
        },
        "reportIndex": {
          "type": "string",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service.",
          "format": "int64"
        },
        "reportedProgress": {
          "description": "The worker's progress through this WorkItem.",
          "$ref": "ApproximateReportedProgress"
        },
        "counterUpdates": {
          "type": "array",
          "description": "Worker output counters for this WorkItem.",
          "items": {
            "$ref": "CounterUpdate"
          }
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "workItemId": {
          "description": "Identifies the WorkItem.",
          "type": "string"
        }
      }
    },
    "PerStepNamespaceMetrics": {
      "type": "object",
      "id": "PerStepNamespaceMetrics",
      "description": "Metrics for a particular unfused step and namespace. A metric is uniquely identified by the `metrics_namespace`, `original_step`, `metric name` and `metric_labels`.",
      "properties": {
        "metricsNamespace": {
          "type": "string",
          "description": "The namespace of these metrics on the worker."
        },
        "originalStep": {
          "type": "string",
          "description": "The original system name of the unfused step that these metrics are reported from."
        },
        "metricValues": {
          "items": {
            "$ref": "MetricValue"
          },
          "description": "Optional. Metrics that are recorded for this namespace and unfused step.",
          "type": "array"
        }
      }
    },
    "HotKeyDetection": {
      "type": "object",
      "id": "HotKeyDetection",
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "properties": {
        "hotKeyAge": {
          "description": "The age of the hot key measured from when it was first detected.",
          "type": "string",
          "format": "google-duration"
        },
        "systemName": {
          "description": "System-defined name of the step containing this hot key. Unique across the workflow.",
          "type": "string"
        },
        "userStepName": {
          "description": "User-provided name of the step that contains this hot key.",
          "type": "string"
        }
      }
    },
    "IntegerGauge": {
      "type": "object",
      "id": "IntegerGauge",
      "description": "A metric value representing temporal values of a variable.",
      "properties": {
        "value": {
          "description": "The value of the variable represented by this gauge.",
          "$ref": "SplitInt64"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The time at which this value was measured. Measured as msecs from epoch.",
          "type": "string"
        }
      }
    },
    "StreamingSetupTask": {
      "id": "StreamingSetupTask",
      "description": "A task which initializes part of a streaming Dataflow job.",
      "type": "object",
      "properties": {
        "streamingComputationTopology": {
          "description": "The global topology of the streaming Dataflow job.",
          "$ref": "TopologyConfig"
        },
        "drain": {
          "description": "The user has requested drain.",
          "type": "boolean"
        },
        "receiveWorkPort": {
          "format": "int32",
          "description": "The TCP port on which the worker should listen for messages from other streaming computation workers.",
          "type": "integer"
        },
        "workerHarnessPort": {
          "type": "integer",
          "description": "The TCP port used by the worker to communicate with the Dataflow worker harness.",
          "format": "int32"
        },
        "snapshotConfig": {
          "description": "Configures streaming appliance snapshot.",
          "$ref": "StreamingApplianceSnapshotConfig"
        }
      }
    },
    "LaunchFlexTemplateParameter": {
      "id": "LaunchFlexTemplateParameter",
      "description": "Launch FlexTemplate Parameter.",
      "type": "object",
      "properties": {
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. For update job request, job name should be same as the existing running job.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "The parameters for FlexTemplate. Ex. {\"num_workers\":\"5\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "containerSpec": {
          "description": "Spec about the container image to launch.",
          "$ref": "ContainerSpec"
        },
        "environment": {
          "description": "The runtime environment for the FlexTemplate job",
          "$ref": "FlexTemplateRuntimeEnvironment"
        },
        "containerSpecGcsPath": {
          "type": "string",
          "description": "Cloud Storage path to a file with json serialized ContainerSpec as content."
        },
        "launchOptions": {
          "description": "Launch options for this flex template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "transformNameMappings": {
          "description": "Use this to pass transform_name_mappings for streaming update jobs. Ex:{\"oldTransformName\":\"newTransformName\",...}'",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Sink": {
      "properties": {
        "spec": {
          "description": "The sink to write to, plus its parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "codec": {
          "type": "object",
          "description": "The codec to use to encode data written to the sink.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "Sink",
      "description": "A sink that records can be encoded and written to."
    },
    "SdkHarnessContainerImage": {
      "id": "SdkHarnessContainerImage",
      "description": "Defines an SDK harness container for executing Dataflow pipelines.",
      "type": "object",
      "properties": {
        "containerImage": {
          "type": "string",
          "description": "A docker container image that resides in Google Container Registry."
        },
        "capabilities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)"
        },
        "environmentId": {
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness.",
          "type": "string"
        },
        "useSingleCorePerContainer": {
          "type": "boolean",
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed."
        }
      }
    },
    "GetWorkerStacktracesRequest": {
      "properties": {
        "workerId": {
          "description": "The worker for which to get stacktraces. The returned stacktraces will be for the SDK harness running on this worker.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end time for the stacktrace query. The returned stacktraces will be a recent stack trace at or shortly before this time.",
          "format": "google-datetime"
        }
      },
      "id": "GetWorkerStacktracesRequest",
      "description": "Request to get worker stacktraces from debug capture.",
      "type": "object"
    },
    "SourceSplitRequest": {
      "properties": {
        "source": {
          "description": "Specification of the source to be split.",
          "$ref": "Source"
        },
        "options": {
          "description": "Hints for tuning the splitting process.",
          "$ref": "SourceSplitOptions"
        }
      },
      "type": "object",
      "id": "SourceSplitRequest",
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it."
    },
    "SplitInt64": {
      "id": "SplitInt64",
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON.",
      "type": "object",
      "properties": {
        "lowBits": {
          "format": "uint32",
          "type": "integer",
          "description": "The low order bits: n & 0xffffffff."
        },
        "highBits": {
          "description": "The high order bits, including the sign: n >> 32.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StreamLocation": {
      "properties": {
        "customSourceLocation": {
          "description": "The stream is a custom source.",
          "$ref": "CustomSourceLocation"
        },
        "pubsubLocation": {
          "description": "The stream is a pubsub stream.",
          "$ref": "PubsubLocation"
        },
        "streamingStageLocation": {
          "description": "The stream is part of another computation within the current streaming Dataflow job.",
          "$ref": "StreamingStageLocation"
        },
        "sideInputLocation": {
          "description": "The stream is a streaming side input.",
          "$ref": "StreamingSideInputLocation"
        }
      },
      "id": "StreamLocation",
      "description": "Describes a stream of data, either as input to be processed or as output of a streaming Dataflow job.",
      "type": "object"
    },
    "Snapshot": {
      "id": "Snapshot",
      "description": "Represents a snapshot of a job.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of this snapshot."
        },
        "diskSizeBytes": {
          "type": "string",
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "User specified description of the snapshot. Maybe empty."
        },
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "region": {
          "type": "string",
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\"."
        },
        "ttl": {
          "type": "string",
          "description": "The time after which this snapshot will be automatically deleted.",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "description": "State of the snapshot.",
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ]
        },
        "creationTime": {
          "type": "string",
          "description": "The time this snapshot was created.",
          "format": "google-datetime"
        },
        "sourceJobId": {
          "description": "The job this snapshot was created from.",
          "type": "string"
        },
        "pubsubMetadata": {
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "type": "array",
          "description": "Pub/Sub snapshot metadata."
        }
      }
    },
    "ApproximateProgress": {
      "properties": {
        "percentComplete": {
          "description": "Obsolete.",
          "type": "number",
          "deprecated": true,
          "format": "float"
        },
        "remainingTime": {
          "type": "string",
          "description": "Obsolete.",
          "deprecated": true,
          "format": "google-duration"
        },
        "position": {
          "description": "Obsolete.",
          "$ref": "Position",
          "deprecated": true
        }
      },
      "id": "ApproximateProgress",
      "description": "Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.",
      "type": "object"
    },
    "StreamingComputationRanges": {
      "properties": {
        "rangeAssignments": {
          "description": "Data disk assignments for ranges from this computation.",
          "type": "array",
          "items": {
            "$ref": "KeyRangeDataDiskAssignment"
          }
        },
        "computationId": {
          "description": "The ID of the computation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StreamingComputationRanges",
      "description": "Describes full or partial data disk assignment information of the computation ranges."
    },
    "IntegerList": {
      "type": "object",
      "id": "IntegerList",
      "description": "A metric value representing a list of integers.",
      "properties": {
        "elements": {
          "type": "array",
          "description": "Elements of the list.",
          "items": {
            "$ref": "SplitInt64"
          }
        }
      }
    },
    "ApproximateReportedProgress": {
      "properties": {
        "consumedParallelism": {
          "description": "Total amount of parallelism in the portion of input of this task that has already been consumed and is no longer active. In the first two examples above (see remaining_parallelism), the value should be 29 or 2 respectively. The sum of remaining_parallelism and consumed_parallelism should equal the total amount of parallelism in this work item. If specified, must be finite.",
          "$ref": "ReportedParallelism"
        },
        "fractionConsumed": {
          "format": "double",
          "type": "number",
          "description": "Completion as fraction of the input consumed, from 0.0 (beginning, nothing consumed), to 1.0 (end of the input, entire input consumed)."
        },
        "remainingParallelism": {
          "description": "Total amount of parallelism in the input of this task that remains, (i.e. can be delegated to this task and any new tasks via dynamic splitting). Always at least 1 for non-finished work items and 0 for finished. \"Amount of parallelism\" refers to how many non-empty parts of the input can be read in parallel. This does not necessarily equal number of records. An input that can be read in parallel down to the individual records is called \"perfectly splittable\". An example of non-perfectly parallelizable input is a block-compressed file format where a block of records has to be read as a whole, but different blocks can be read in parallel. Examples: * If we are processing record #30 (starting at 1) out of 50 in a perfectly splittable 50-record input, this value should be 21 (20 remaining + 1 current). * If we are reading through block 3 in a block-compressed file consisting of 5 blocks, this value should be 3 (since blocks 4 and 5 can be processed in parallel by new tasks via dynamic splitting and the current task remains processing block 3). * If we are reading through the last block in a block-compressed file, or reading or processing the last record in a perfectly splittable input, this value should be 1, because apart from the current task, no additional remainder can be split off.",
          "$ref": "ReportedParallelism"
        },
        "position": {
          "description": "A Position within the work to represent a progress.",
          "$ref": "Position"
        }
      },
      "id": "ApproximateReportedProgress",
      "description": "A progress measurement of a WorkItem by a worker.",
      "type": "object"
    },
    "CreateJobFromTemplateRequest": {
      "type": "object",
      "id": "CreateJobFromTemplateRequest",
      "description": "A request to create a Cloud Dataflow job from a template.",
      "properties": {
        "jobName": {
          "type": "string",
          "description": "Required. The job name to use for the created job."
        },
        "gcsPath": {
          "description": "Required. A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        },
        "parameters": {
          "type": "object",
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "RuntimeEnvironment"
        }
      }
    },
    "LaunchTemplateResponse": {
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      },
      "id": "LaunchTemplateResponse",
      "description": "Response to the request to launch a template.",
      "type": "object"
    },
    "ParameterMetadata": {
      "type": "object",
      "id": "ParameterMetadata",
      "description": "Metadata for a specific parameter.",
      "properties": {
        "helpText": {
          "type": "string",
          "description": "Required. The help text to display for the parameter."
        },
        "enumOptions": {
          "description": "Optional. The options shown when ENUM ParameterType is specified.",
          "type": "array",
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          }
        },
        "regexes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Regexes that the parameter must match.",
          "type": "array"
        },
        "customMetadata": {
          "type": "object",
          "description": "Optional. Additional metadata for describing this parameter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hiddenUi": {
          "type": "boolean",
          "description": "Optional. Whether the parameter should be hidden in the UI."
        },
        "isOptional": {
          "description": "Optional. Whether the parameter is optional. Defaults to false.",
          "type": "boolean"
        },
        "groupName": {
          "type": "string",
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "defaultValue": {
          "description": "Optional. The default values will pre-populate the parameter with the given value from the proto. If default_value is left empty, the parameter will be populated with a default of the relevant type, e.g. false for a boolean.",
          "type": "string"
        },
        "paramType": {
          "type": "string",
          "description": "Optional. The type of the parameter. Used for selecting input picker.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table.",
            "The parameter specifies a JavaScript UDF in Cloud Storage.",
            "The parameter specifies a Service Account email.",
            "The parameter specifies a Machine Type.",
            "The parameter specifies a KMS Key name.",
            "The parameter specifies a Worker Region.",
            "The parameter specifies a Worker Zone.",
            "The parameter specifies a boolean input.",
            "The parameter specifies an enum input.",
            "The parameter specifies a number input.",
            "Deprecated. Please use KAFKA_READ_TOPIC instead.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be either a Google Managed Kafka topic or a non-managed Kafka topic.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be an existing Google Managed Kafka topic, the name for a new Google Managed Kafka topic, or an existing non-managed Kafka topic."
          ],
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE",
            "JAVASCRIPT_UDF_FILE",
            "SERVICE_ACCOUNT",
            "MACHINE_TYPE",
            "KMS_KEY_NAME",
            "WORKER_REGION",
            "WORKER_ZONE",
            "BOOLEAN",
            "ENUM",
            "NUMBER",
            "KAFKA_TOPIC",
            "KAFKA_READ_TOPIC",
            "KAFKA_WRITE_TOPIC"
          ]
        },
        "parentTriggerValues": {
          "type": "array",
          "description": "Optional. The value(s) of the 'parent_name' parameter which will trigger this parameter to be shown. If left empty, ANY non-empty value in parent_name will trigger this parameter to be shown. Only considered when this parameter is conditional (when 'parent_name' has been provided).",
          "items": {
            "type": "string"
          }
        },
        "parentName": {
          "type": "string",
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field."
        }
      }
    },
    "ServiceResources": {
      "type": "object",
      "id": "ServiceResources",
      "description": "Resources used by the Dataflow Service to run the job.",
      "properties": {
        "zones": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of Cloud Zones being used by the Dataflow Service for this job. Example: us-central1-c"
        }
      }
    },
    "Stack": {
      "type": "object",
      "id": "Stack",
      "description": "A structuredstacktrace for a process running on the worker.",
      "properties": {
        "stackContent": {
          "description": "The raw stack trace.",
          "type": "string"
        },
        "threadState": {
          "type": "string",
          "description": "The state of the thread. For example, \"WAITING\"."
        },
        "threadName": {
          "type": "string",
          "description": "Thread name. For example, \"CommitThread-0,10,main\""
        },
        "threadCount": {
          "description": "With java thread dumps we may get collapsed stacks e.g., N threads in stack \"\". Instead of having to copy over the same stack trace N times, this int field captures this.",
          "type": "integer",
          "format": "int32"
        },
        "timestamp": {
          "type": "string",
          "description": "Timestamp at which the stack was captured.",
          "format": "google-datetime"
        }
      }
    },
    "FlexTemplateRuntimeEnvironment": {
      "id": "FlexTemplateRuntimeEnvironment",
      "description": "The environment values to be set at runtime for flex template.",
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "workerRegion": {
          "type": "string",
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region."
        },
        "additionalUserLabels": {
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "streamingMode": {
          "type": "string",
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ]
        },
        "subnetwork": {
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL.",
          "type": "string"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "stagingLocation": {
          "type": "string",
          "description": "The Cloud Storage path for staging local files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "saveHeapDumpsToGcsPath": {
          "description": "Cloud Storage bucket (directory) to upload heap dumps to. Enabling this field implies that `dump_heap_on_oom` is set to true.",
          "type": "string"
        },
        "sdkContainerImage": {
          "description": "Docker registry location of container image to use for the 'worker harness. Default is the container for the version of the SDK. Note this field is only valid for portable pipelines.",
          "type": "string"
        },
        "numWorkers": {
          "type": "integer",
          "description": "The initial number of Google Compute Engine instances for the job.",
          "format": "int32"
        },
        "dumpHeapOnOom": {
          "description": "If true, when processing time is spent almost entirely on garbage collection (GC), saves a heap dump before ending the thread or process. If false, ends the thread or process without saving a heap dump. Does not save a heap dump when the Java Virtual Machine (JVM) has an out of memory error during processing. The location of the heap file is either echoed back to the user, or the user is given the opportunity to download the heap file.",
          "type": "boolean"
        },
        "tempLocation": {
          "type": "string",
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "serviceAccountEmail": {
          "description": "The email address of the service account to run the job as.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "maxWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000."
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "description": "Additional experiment flags for the job.",
          "type": "array"
        },
        "enableStreamingEngine": {
          "description": "Whether to enable Streaming Engine for the job.",
          "type": "boolean"
        },
        "additionalPipelineOptions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional pipeline option flags for the job.",
          "type": "array"
        },
        "flexrsGoal": {
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ],
          "type": "string",
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ]
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "autoscalingAlgorithm": {
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "description": "The algorithm to use for autoscaling",
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "type": "string"
        },
        "launcherMachineType": {
          "type": "string",
          "description": "The machine type to use for launching the job. If not set, Dataflow will select a default machine type."
        },
        "enableLauncherVmSerialPortLogging": {
          "type": "boolean",
          "description": "If true serial port logging will be enabled for the launcher VM."
        },
        "diskSizeGb": {
          "type": "integer",
          "description": "Worker disk size, in gigabytes.",
          "format": "int32"
        }
      }
    },
    "Base2Exponent": {
      "id": "Base2Exponent",
      "description": "Exponential buckets where the growth factor between buckets is `2**(2**-scale)`. e.g. for `scale=1` growth factor is `2**(2**(-1))=sqrt(2)`. `n` buckets will have the following boundaries. - 0th: [0, gf) - i in [1, n-1]: [gf^(i), gf^(i+1))",
      "type": "object",
      "properties": {
        "numberOfBuckets": {
          "type": "integer",
          "description": "Must be greater than 0.",
          "format": "int32"
        },
        "scale": {
          "description": "Must be between -3 and 3. This forces the growth factor of the bucket boundaries to be between `2^(1/8)` and `256`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
[...]
