{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "baseUrl": "https://datapipelines.googleapis.com/",
  "version": "v1",
  "rootUrl": "https://datapipelines.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://datapipelines.mtls.googleapis.com/",
  "name": "datapipelines",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "pipelines": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Updates a pipeline. If successful, the updated Pipeline is returned. Returns `NOT_FOUND` if the pipeline doesn't exist. If UpdatePipeline does not return successfully, you can retry the UpdatePipeline request until you receive a successful response.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), and periods (.). For more information, see [Identifying projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects). * `LOCATION_ID` is the canonical ID for the pipeline's location. The list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`. Note that the Data Pipelines service is not available in all regions. It depends on Cloud Scheduler, an App Engine application, so it's only available in [App Engine regions](https://cloud.google.com/about/locations#region). * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected project and location.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The list of fields to be updated.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "id": "datapipelines.projects.locations.pipelines.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a pipeline. If a scheduler job is attached to the pipeline, it will be deleted.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "id": "datapipelines.projects.locations.pipelines.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Looks up a single pipeline. Returns a \"NOT_FOUND\" error if no such pipeline exists. Returns a \"FORBIDDEN\" error if the caller doesn't have permission to access it.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}",
                  "id": "datapipelines.projects.locations.pipelines.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "run": {
                  "description": "Creates a job for the specified pipeline directly. You can use this method when the internal scheduler is not configured and you want to trigger the job directly or through an external system. Returns a \"NOT_FOUND\" error if the pipeline doesn't exist. Returns a \"FORBIDDEN\" error if the user doesn't have permission to access the pipeline or run jobs for the pipeline.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "required": true,
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1RunPipelineRequest"
                  },
                  "path": "v1/{+name}:run",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1RunPipelineResponse"
                  },
                  "id": "datapipelines.projects.locations.pipelines.run",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}:run"
                },
                "stop": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                      "required": true,
                      "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1StopPipelineRequest"
                  },
                  "description": "Freezes pipeline execution permanently. If there's a corresponding scheduler entry, it's deleted, and the pipeline state is changed to \"ARCHIVED\". However, pipeline metadata is retained.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datapipelines.projects.locations.pipelines.stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}:stop",
                  "path": "v1/{+name}:stop",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a pipeline. For a batch pipeline, you can pass scheduler information. Data Pipelines uses the scheduler information to create an internal scheduler that runs jobs periodically. If the internal scheduler is not configured, you can use RunPipeline to run jobs.",
                  "request": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1Pipeline"
                  },
                  "path": "v1/{+parent}/pipelines",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines",
                  "id": "datapipelines.projects.locations.pipelines.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListPipelines` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPipelines` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The location name. For example: `projects/PROJECT_ID/locations/LOCATION_ID`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of entities to return. The service may return fewer than this value, even if there are additional pages. If unspecified, the max limit is yet to be determined by the backend implementation."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "An expression for filtering the results of the request. If unspecified, all pipelines will be returned. Multiple filters can be applied and must be comma separated. Fields eligible for filtering are: + `type`: The type of the pipeline (streaming or batch). Allowed values are `ALL`, `BATCH`, and `STREAMING`. + `status`: The activity status of the pipeline. Allowed values are `ALL`, `ACTIVE`, `ARCHIVED`, and `PAUSED`. For example, to limit results to active batch processing pipelines: type:BATCH,status:ACTIVE"
                    }
                  },
                  "description": "Lists pipelines. Returns a \"FORBIDDEN\" error if the caller doesn't have permission to access it.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datapipelines.projects.locations.pipelines.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines",
                  "path": "v1/{+parent}/pipelines",
                  "response": {
                    "$ref": "GoogleCloudDatapipelinesV1ListPipelinesResponse"
                  }
                }
              },
              "resources": {
                "jobs": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListJobs` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/pipelines/[^/]+$",
                          "required": true,
                          "description": "Required. The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of entities to return. The service may return fewer than this value, even if there are additional pages. If unspecified, the max limit will be determined by the backend implementation.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists jobs for a given pipeline. Throws a \"FORBIDDEN\" error if the caller doesn't have permission to access it.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pipelines/{pipelinesId}/jobs",
                      "id": "datapipelines.projects.locations.pipelines.jobs.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatapipelinesV1ListJobsResponse"
                      },
                      "path": "v1/{+parent}/jobs"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudDatapipelinesV1RunPipelineResponse": {
      "description": "Response message for RunPipeline",
      "id": "GoogleCloudDatapipelinesV1RunPipelineResponse",
      "type": "object",
      "properties": {
        "job": {
          "description": "Job that was created as part of RunPipeline operation.",
          "$ref": "GoogleCloudDatapipelinesV1Job"
        }
      }
    },
    "GoogleCloudDatapipelinesV1ScheduleSpec": {
      "description": "Details of the schedule the pipeline runs on.",
      "id": "GoogleCloudDatapipelinesV1ScheduleSpec",
      "type": "object",
      "properties": {
        "schedule": {
          "description": "Unix-cron format of the schedule. This information is retrieved from the linked Cloud Scheduler.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Timezone ID. This matches the timezone IDs used by the Cloud Scheduler API. If empty, UTC time is assumed."
        },
        "nextJobTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the next Scheduler job is going to run."
        }
      }
    },
    "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter": {
      "type": "object",
      "properties": {
        "launchOptions": {
          "description": "Launch options for this Flex Template job. This is a common set of options across languages and templates. This should not be used to pass job parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "environment": {
          "description": "The runtime environment for the Flex Template job.",
          "$ref": "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job. For an update job request, the job name should be the same as the existing running job.",
          "type": "string"
        },
        "update": {
          "description": "Set this to true if you are sending a request to update a running streaming job. When set, the job name should be the same as the running job.",
          "type": "boolean"
        },
        "containerSpecGcsPath": {
          "type": "string",
          "description": "Cloud Storage path to a file with a JSON-serialized ContainerSpec as content."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The parameters for the Flex Template. Example: `{\"num_workers\":\"5\"}`"
        },
        "transformNameMappings": {
          "type": "object",
          "description": "Use this to pass transform name mappings for streaming update jobs. Example: `{\"oldTransformName\":\"newTransformName\",...}`",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter",
      "description": "Launch Flex Template parameter."
    },
    "GoogleCloudDatapipelinesV1Workload": {
      "type": "object",
      "properties": {
        "dataflowLaunchTemplateRequest": {
          "description": "Template information and additional parameters needed to launch a Dataflow job using the standard launch API.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchTemplateRequest"
        },
        "dataflowFlexTemplateRequest": {
          "description": "Template information and additional parameters needed to launch a Dataflow job using the flex launch API.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest"
        }
      },
      "description": "Workload details for creating the pipeline jobs.",
      "id": "GoogleCloudDatapipelinesV1Workload"
    },
    "GoogleCloudDatapipelinesV1RuntimeEnvironment": {
      "id": "GoogleCloudDatapipelinesV1RuntimeEnvironment",
      "description": "The environment values to set at runtime.",
      "type": "object",
      "properties": {
        "tempLocation": {
          "type": "string",
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`."
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "additionalExperiments": {
          "description": "Additional experiment flags for the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Whether to enable Streaming Engine for the job."
        },
        "numWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The initial number of Compute Engine instances for the job."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "bypassTempDirValidation": {
          "description": "Whether to bypass the safety checks for the job's temporary directory. Use with caution.",
          "type": "boolean"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. The key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "workerZone": {
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "maxWorkers": {
          "description": "The maximum number of Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "additionalUserLabels": {
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of key/value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatapipelinesV1LaunchTemplateParameters": {
      "description": "Parameters to provide to the template being launched.",
      "id": "GoogleCloudDatapipelinesV1LaunchTemplateParameters",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "description": "The runtime parameters to pass to the job.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "transformNameMapping": {
          "type": "object",
          "description": "Map of transform name prefixes of the job to be replaced to the corresponding name prefixes of the new job. Only applicable when updating a pipeline.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "The runtime environment for the job.",
          "$ref": "GoogleCloudDatapipelinesV1RuntimeEnvironment"
        },
        "jobName": {
          "description": "Required. The job name to use for the created job.",
          "type": "string"
        },
        "update": {
          "type": "boolean",
          "description": "If set, replace the existing pipeline with the name specified by jobName with this pipeline, preserving state."
        }
      }
    },
    "GoogleCloudDatapipelinesV1ListPipelinesResponse": {
      "type": "object",
      "properties": {
        "pipelines": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Pipeline"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller. Results are always in descending order of pipeline creation date."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatapipelinesV1ListPipelinesResponse",
      "description": "Response message for ListPipelines."
    },
    "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest": {
      "type": "object",
      "properties": {
        "launchParameter": {
          "description": "Required. Parameter to launch a job from a Flex Template.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchFlexTemplateParameter"
        },
        "location": {
          "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. For example, `us-central1`, `us-west1`.",
          "type": "string"
        },
        "validateOnly": {
          "description": "If true, the request is validated but not actually executed. Defaults to false.",
          "type": "boolean"
        },
        "projectId": {
          "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
          "type": "string"
        }
      },
      "description": "A request to launch a Dataflow job from a Flex Template.",
      "id": "GoogleCloudDatapipelinesV1LaunchFlexTemplateRequest"
    },
    "GoogleCloudDatapipelinesV1SdkVersion": {
      "description": "The version of the SDK used to run the job.",
      "id": "GoogleCloudDatapipelinesV1SdkVersion",
      "type": "object",
      "properties": {
        "sdkSupportStatus": {
          "type": "string",
          "enumDescriptions": [
            "Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "description": "The support status for this SDK version.",
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ]
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the SDK used to run the job."
        }
      }
    },
    "GoogleCloudDatapipelinesV1RunPipelineRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDatapipelinesV1RunPipelineRequest",
      "description": "Request message for RunPipeline"
    },
    "GoogleCloudDatapipelinesV1DataflowJobDetails": {
      "description": "Pipeline job details specific to the Dataflow API. This is encapsulated here to allow for more executors to store their specific details separately.",
      "id": "GoogleCloudDatapipelinesV1DataflowJobDetails",
      "type": "object",
      "properties": {
        "sdkVersion": {
          "readOnly": true,
          "$ref": "GoogleCloudDatapipelinesV1SdkVersion",
          "description": "Output only. The SDK version used to run the job."
        },
        "resourceInfo": {
          "type": "object",
          "description": "Cached version of all the metrics of interest for the job. This value gets stored here when the job is terminated. As long as the job is running, this field is populated from the Dataflow API.",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          }
        },
        "currentWorkers": {
          "description": "Output only. The current number of workers used to run the jobs. Only set to a value if the job is still running.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatapipelinesV1LaunchTemplateRequest": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The ID of the Cloud Platform project that the job belongs to."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is validated but not actually executed. Defaults to false."
        },
        "location": {
          "type": "string",
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request."
        },
        "gcsPath": {
          "description": "A Cloud Storage path to the template from which to create the job. Must be a valid Cloud Storage URL, beginning with 'gs://'.",
          "type": "string"
        },
        "launchParameters": {
          "description": "The parameters of the template to launch. This should be part of the body of the POST request.",
          "$ref": "GoogleCloudDatapipelinesV1LaunchTemplateParameters"
        }
      },
      "description": "A request to launch a template.",
      "id": "GoogleCloudDatapipelinesV1LaunchTemplateRequest"
    },
    "GoogleCloudDatapipelinesV1Pipeline": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the pipeline. It can contain only letters ([A-Za-z]), numbers ([0-9]), hyphens (-), and underscores (_)."
        },
        "pipelineSources": {
          "type": "object",
          "description": "Immutable. The sources of the pipeline (for example, Dataplex). The keys and values are set by the corresponding sources during pipeline creation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Required. The state of the pipeline. When the pipeline is created, the state is set to 'PIPELINE_STATE_ACTIVE' by default. State changes can be requested by setting the state to stopping, paused, or resuming. State cannot be changed through UpdatePipeline requests.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_RESUMING",
            "STATE_ACTIVE",
            "STATE_STOPPING",
            "STATE_ARCHIVED",
            "STATE_PAUSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The pipeline state isn't specified.",
            "The pipeline is getting started or resumed. When finished, the pipeline state will be 'PIPELINE_STATE_ACTIVE'.",
            "The pipeline is actively running.",
            "The pipeline is in the process of stopping. When finished, the pipeline state will be 'PIPELINE_STATE_ARCHIVED'.",
            "The pipeline has been stopped. This is a terminal state and cannot be undone.",
            "The pipeline is paused. This is a non-terminal state. When the pipeline is paused, it will hold processing jobs, but can be resumed later. For a batch pipeline, this means pausing the scheduler job. For a streaming pipeline, creating a job snapshot to resume from will give the same effect."
          ]
        },
        "workload": {
          "description": "Workload information for creating new jobs.",
          "$ref": "GoogleCloudDatapipelinesV1Workload"
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The timestamp when the pipeline was last modified. Set by the Data Pipelines service."
        },
        "schedulerServiceAccountEmail": {
          "type": "string",
          "description": "Optional. A service account email to be used with the Cloud Scheduler job. If not specified, the default compute engine service account will be used."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Immutable. The timestamp when the pipeline was initially created. Set by the Data Pipelines service."
        },
        "scheduleInfo": {
          "description": "Internal scheduling information for a pipeline. If this information is provided, periodic jobs will be created per the schedule. If not, users are responsible for creating jobs externally.",
          "$ref": "GoogleCloudDatapipelinesV1ScheduleSpec"
        },
        "name": {
          "type": "string",
          "description": "The pipeline name. For example: `projects/PROJECT_ID/locations/LOCATION_ID/pipelines/PIPELINE_ID`. * `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]), hyphens (-), colons (:), and periods (.). For more information, see [Identifying projects](https://cloud.google.com/resource-manager/docs/creating-managing-projects#identifying_projects). * `LOCATION_ID` is the canonical ID for the pipeline's location. The list of available locations can be obtained by calling `google.cloud.location.Locations.ListLocations`. Note that the Data Pipelines service is not available in all regions. It depends on Cloud Scheduler, an App Engine application, so it's only available in [App Engine regions](https://cloud.google.com/about/locations#region). * `PIPELINE_ID` is the ID of the pipeline. Must be unique for the selected project and location."
        },
        "jobCount": {
          "description": "Output only. Number of jobs.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The pipeline type isn't specified.",
            "A batch pipeline. It runs jobs on a specific schedule, and each job will automatically terminate once execution is finished.",
            "A streaming pipeline. The underlying job is continuously running until it is manually terminated by the user. This type of pipeline doesn't have a schedule to run on, and the linked job gets created when the pipeline is created."
          ],
          "description": "Required. The type of the pipeline. This field affects the scheduling of the pipeline and the type of metrics to show for the pipeline.",
          "enum": [
            "PIPELINE_TYPE_UNSPECIFIED",
            "PIPELINE_TYPE_BATCH",
            "PIPELINE_TYPE_STREAMING"
          ]
        }
      },
      "id": "GoogleCloudDatapipelinesV1Pipeline",
      "description": "The main pipeline entity and all the necessary metadata for launching and managing linked jobs."
    },
    "GoogleCloudDatapipelinesV1StopPipelineRequest": {
      "id": "GoogleCloudDatapipelinesV1StopPipelineRequest",
      "description": "Request message for StopPipeline.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatapipelinesV1ListJobsResponse": {
      "type": "object",
      "properties": {
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatapipelinesV1Job"
          },
          "description": "Results that were accessible to the caller. Results are always in descending order of job creation date."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatapipelinesV1ListJobsResponse",
      "description": "Response message for ListJobs"
    },
    "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment": {
      "type": "object",
      "properties": {
        "workerRegion": {
          "description": "The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, defaults to the control plane region.",
          "type": "string"
        },
        "network": {
          "description": "Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\".",
          "type": "string"
        },
        "additionalUserLabels": {
          "type": "object",
          "description": "Additional user labels to be specified for the job. Keys and values must follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions). An object containing a list of key/value pairs. Example: `{ \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "The email address of the service account to run the job as."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/"
        },
        "workerZone": {
          "type": "string",
          "description": "The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence."
        },
        "subnetwork": {
          "type": "string",
          "description": "Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "maxWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000."
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Whether to enable Streaming Engine for the job."
        },
        "flexrsGoal": {
          "description": "Set FlexRS goal for the job. https://cloud.google.com/dataflow/docs/guides/flexrs",
          "enum": [
            "FLEXRS_UNSPECIFIED",
            "FLEXRS_SPEED_OPTIMIZED",
            "FLEXRS_COST_OPTIMIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "Optimize for lower execution time.",
            "Optimize for lower cost."
          ]
        },
        "numWorkers": {
          "format": "int32",
          "type": "integer",
          "description": "The initial number of Compute Engine instances for the job."
        },
        "machineType": {
          "description": "The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "tempLocation": {
          "description": "The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "ipConfiguration": {
          "description": "Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ]
        },
        "zone": {
          "type": "string",
          "description": "The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "additionalExperiments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional experiment flags for the job."
        }
      },
      "description": "The environment values to be set at runtime for a Flex Template.",
      "id": "GoogleCloudDatapipelinesV1FlexTemplateRuntimeEnvironment"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatapipelinesV1Job": {
      "description": "Definition of the job information maintained by the pipeline. Fields in this entity are retrieved from the executor API (e.g. Dataflow API).",
      "id": "GoogleCloudDatapipelinesV1Job",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time of job creation."
        },
        "dataflowJobDetails": {
          "description": "All the details that are specific to a Dataflow job.",
          "$ref": "GoogleCloudDatapipelinesV1DataflowJobDetails"
        },
        "id": {
          "description": "Output only. The internal ID for the job.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Status capturing any error code or message related to job creation or execution.",
          "$ref": "GoogleRpcStatus"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time of job termination. This is absent if the job is still running."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The job state isn't specified.",
            "The job is waiting to start execution.",
            "The job is executing.",
            "The job has finished execution successfully.",
            "The job has finished execution with a failure.",
            "The job has been terminated upon user request."
          ],
          "description": "The current state of the job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_PENDING",
            "STATE_RUNNING",
            "STATE_DONE",
            "STATE_FAILED",
            "STATE_CANCELLED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The fully qualified resource name for the job."
        }
      }
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus"
    }
  },
  "canonicalName": "Datapipelines",
  "basePath": "",
  "id": "datapipelines:v1",
  "protocol": "rest",
  "revision": "20260503",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/dataflow/docs/guides/data-pipelines",
  "fullyEncodeReservedExpansion": true,
  "title": "Data pipelines API",
  "kind": "discovery#restDescription",
  "description": "Data Pipelines provides an interface for creating, updating, and managing recurring Data Analytics jobs."
}