{
  "canonicalName": "Dataflow",
  "revision": "20260503",
  "documentationLink": "https://cloud.google.com/dataflow",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "Manages Google Cloud Dataflow projects on Google Cloud Platform.",
  "fullyEncodeReservedExpansion": true,
  "version": "v1b3",
  "id": "dataflow:v1b3",
  "basePath": "",
  "title": "Dataflow API",
  "mtlsRootUrl": "https://dataflow.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://dataflow.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "dataflow",
  "resources": {
    "projects": {
      "methods": {
        "deleteSnapshots": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "description": "Deletes a snapshot.",
          "path": "v1b3/projects/{projectId}/snapshots",
          "response": {
            "$ref": "DeleteSnapshotResponse"
          },
          "flatPath": "v1b3/projects/{projectId}/snapshots",
          "id": "dataflow.projects.deleteSnapshots",
          "parameters": {
            "location": {
              "description": "The location that contains this snapshot.",
              "location": "query",
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "required": true,
              "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
              "location": "path"
            },
            "snapshotId": {
              "type": "string",
              "description": "The ID of the snapshot.",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "projectId"
          ]
        },
        "workerMessages": {
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "SendWorkerMessagesRequest"
          },
          "id": "dataflow.projects.workerMessages",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "The project to send the WorkerMessages to.",
              "location": "path"
            }
          },
          "path": "v1b3/projects/{projectId}/WorkerMessages",
          "response": {
            "$ref": "SendWorkerMessagesResponse"
          },
          "flatPath": "v1b3/projects/{projectId}/WorkerMessages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "description": "Send a worker_message to the service."
        }
      },
      "resources": {
        "jobs": {
          "resources": {
            "debug": {
              "methods": {
                "getConfig": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Get encoded debug configuration for component. Not cacheable.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "response": {
                    "$ref": "GetDebugConfigResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig",
                  "id": "dataflow.projects.jobs.debug.getConfig",
                  "parameters": {
                    "projectId": {
                      "description": "The project id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobId": {
                      "description": "The job id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "request": {
                    "$ref": "GetDebugConfigRequest"
                  }
                },
                "sendCapture": {
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "response": {
                    "$ref": "SendDebugCaptureResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Send encoded debug capture data for component.",
                  "request": {
                    "$ref": "SendDebugCaptureRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "id": "dataflow.projects.jobs.debug.sendCapture",
                  "parameters": {
                    "projectId": {
                      "description": "The project id.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job id.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "workItems": {
              "methods": {
                "reportStatus": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "request": {
                    "$ref": "ReportWorkItemStatusRequest"
                  },
                  "id": "dataflow.projects.jobs.workItems.reportStatus",
                  "parameters": {
                    "projectId": {
                      "description": "The project which owns the WorkItem's job.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job which the WorkItem is part of.",
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "response": {
                    "$ref": "ReportWorkItemStatusResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Reports the status of dataflow WorkItems leased by a worker."
                },
                "lease": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Leases a dataflow WorkItem to run.",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "response": {
                    "$ref": "LeaseWorkItemResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease",
                  "id": "dataflow.projects.jobs.workItems.lease",
                  "parameters": {
                    "projectId": {
                      "description": "Identifies the project this worker belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "jobId": {
                      "description": "Identifies the workflow job this worker belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "request": {
                    "$ref": "LeaseWorkItemRequest"
                  }
                }
              }
            },
            "messages": {
              "methods": {
                "list": {
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "A project id.",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "location": {
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                      "location": "query"
                    },
                    "minimumImportance": {
                      "description": "Filter to only get messages with importance >= level",
                      "enumDescriptions": [
                        "The message importance isn't specified, or is unknown.",
                        "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                        "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                        "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                      ],
                      "type": "string",
                      "enum": [
                        "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                        "JOB_MESSAGE_DEBUG",
                        "JOB_MESSAGE_DETAILED",
                        "JOB_MESSAGE_BASIC",
                        "JOB_MESSAGE_WARNING",
                        "JOB_MESSAGE_ERROR"
                      ],
                      "location": "query"
                    },
                    "jobId": {
                      "description": "The job to get messages about.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "endTime": {
                      "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string"
                    }
                  },
                  "id": "dataflow.projects.jobs.messages.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "path": "v1b3/projects/{projectId}/jobs/{jobId}/messages",
                  "response": {
                    "$ref": "ListJobMessagesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
              "path": "v1b3/projects/{projectId}/jobs",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "id": "dataflow.projects.jobs.list",
              "parameters": {
                "view": {
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "deprecated": true,
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ],
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query"
                },
                "location": {
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The project which owns the jobs.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "The kind of filter to use.",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Optional. The job name.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ]
            },
            "getMetrics": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "response": {
                "$ref": "JobMetrics"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}/metrics",
              "id": "dataflow.projects.jobs.getMetrics",
              "parameters": {
                "jobId": {
                  "description": "The job to get metrics for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "startTime": {
                  "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime"
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "A project id.",
                  "location": "path"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "jobId"
              ]
            },
            "get": {
              "parameters": {
                "jobId": {
                  "type": "string",
                  "required": true,
                  "description": "The job ID.",
                  "location": "path"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "The level of information requested in response.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ]
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                }
              },
              "id": "dataflow.projects.jobs.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "response": {
                "$ref": "Job"
              }
            },
            "create": {
              "flatPath": "v1b3/projects/{projectId}/jobs",
              "path": "v1b3/projects/{projectId}/jobs",
              "response": {
                "$ref": "Job"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId"
              ],
              "request": {
                "$ref": "Job"
              },
              "parameters": {
                "view": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "description": "The level of information requested in response.",
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ]
                },
                "replaceJobId": {
                  "description": "Deprecated. This field is now in the Job message.",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "dataflow.projects.jobs.create"
            },
            "update": {
              "path": "v1b3/projects/{projectId}/jobs/{jobId}",
              "response": {
                "$ref": "Job"
              },
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`.",
              "request": {
                "$ref": "Job"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "id": "dataflow.projects.jobs.update",
              "parameters": {
                "jobId": {
                  "description": "The job ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                },
                "projectId": {
                  "description": "The ID of the Cloud Platform project that the job belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                  "location": "query"
                }
              }
            },
            "aggregated": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "List the jobs of a project across all regions. **Note:** This method doesn't support filtering the list of jobs by name.",
              "flatPath": "v1b3/projects/{projectId}/jobs:aggregated",
              "path": "v1b3/projects/{projectId}/jobs:aggregated",
              "response": {
                "$ref": "ListJobsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "The kind of filter to use.",
                  "enumDescriptions": [
                    "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                    "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                    "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                    "Filters the jobs that are running ordered on the creation timestamp."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ALL",
                    "TERMINATED",
                    "ACTIVE"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Optional. The job name.",
                  "location": "query"
                },
                "view": {
                  "type": "string",
                  "enum": [
                    "JOB_VIEW_UNKNOWN",
                    "JOB_VIEW_SUMMARY",
                    "JOB_VIEW_ALL",
                    "JOB_VIEW_DESCRIPTION"
                  ],
                  "location": "query",
                  "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                  "deprecated": true,
                  "enumDescriptions": [
                    "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                    "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                    "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                    "Request summary info and limited job description data for steps, labels and environment."
                  ]
                },
                "pageToken": {
                  "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                  "location": "query",
                  "type": "string"
                },
                "location": {
                  "type": "string",
                  "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                  "location": "query"
                },
                "projectId": {
                  "description": "The project which owns the jobs.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                  "location": "query"
                }
              },
              "id": "dataflow.projects.jobs.aggregated",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ]
            },
            "snapshot": {
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "The project which owns the job to be snapshotted.",
                  "location": "path"
                },
                "jobId": {
                  "description": "The job to be snapshotted.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "dataflow.projects.jobs.snapshot",
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId",
                "jobId"
              ],
              "request": {
                "$ref": "SnapshotJobRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Snapshot the state of a streaming job.",
              "flatPath": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "path": "v1b3/projects/{projectId}/jobs/{jobId}:snapshot",
              "response": {
                "$ref": "Snapshot"
              }
            }
          }
        },
        "snapshots": {
          "methods": {
            "list": {
              "parameters": {
                "jobId": {
                  "type": "string",
                  "description": "If specified, list snapshots created from this job.",
                  "location": "query"
                },
                "location": {
                  "description": "The location to list snapshots in.",
                  "location": "query",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "The project ID to list snapshots for.",
                  "location": "path"
                }
              },
              "id": "dataflow.projects.snapshots.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Lists snapshots.",
              "flatPath": "v1b3/projects/{projectId}/snapshots",
              "path": "v1b3/projects/{projectId}/snapshots",
              "response": {
                "$ref": "ListSnapshotsResponse"
              }
            },
            "get": {
              "flatPath": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "path": "v1b3/projects/{projectId}/snapshots/{snapshotId}",
              "response": {
                "$ref": "Snapshot"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "description": "Gets information about a snapshot.",
              "httpMethod": "GET",
              "parameterOrder": [
                "projectId",
                "snapshotId"
              ],
              "parameters": {
                "snapshotId": {
                  "description": "The ID of the snapshot.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                  "location": "path"
                },
                "location": {
                  "type": "string",
                  "description": "The location that contains this snapshot.",
                  "location": "query"
                }
              },
              "id": "dataflow.projects.snapshots.get"
            }
          }
        },
        "locations": {
          "resources": {
            "templates": {
              "methods": {
                "create": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Creates a Cloud Dataflow job from a template. Do not enter confidential information when you supply string values using the API. To create a job, we recommend using `projects.locations.templates.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.create` is not recommended, because your job will always start in `us-central1`.",
                  "request": {
                    "$ref": "CreateJobFromTemplateRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.templates.create",
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path"
                    }
                  }
                },
                "launch": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:launch",
                  "response": {
                    "$ref": "LaunchTemplateResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Launches a template. To launch a template, we recommend using `projects.locations.templates.launch` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.launch` is not recommended, because jobs launched from the template will always start in `us-central1`.",
                  "request": {
                    "$ref": "LaunchTemplateParameters"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, the request is validated but not actually executed. Defaults to false.",
                      "location": "query"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path"
                    },
                    "dynamicTemplate.stagingLocation": {
                      "type": "string",
                      "description": "Cloud Storage path for staging dependencies. Must be a valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "gcsPath": {
                      "description": "A Cloud Storage path to the template to use to create the job. Must be valid Cloud Storage URL, beginning with `gs://`.",
                      "location": "query",
                      "type": "string"
                    },
                    "dynamicTemplate.gcsPath": {
                      "type": "string",
                      "description": "Path to the dynamic template specification file on Cloud Storage. The file must be a JSON serialized `DynamicTemplateFileSpec` object.",
                      "location": "query"
                    }
                  },
                  "id": "dataflow.projects.locations.templates.launch"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Get the template associated with a template. To get the template, we recommend using `projects.locations.templates.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.templates.get` is not recommended, because only templates that are running in `us-central1` are retrieved.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "path": "v1b3/projects/{projectId}/locations/{location}/templates:get",
                  "response": {
                    "$ref": "GetTemplateResponse"
                  },
                  "parameters": {
                    "gcsPath": {
                      "type": "string",
                      "description": "Required. A Cloud Storage path to the template from which to create the job. Must be valid Cloud Storage URL, beginning with 'gs://'.",
                      "location": "query"
                    },
                    "view": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "METADATA_ONLY"
                      ],
                      "description": "The view to retrieve. Defaults to METADATA_ONLY.",
                      "enumDescriptions": [
                        "Template view that retrieves only the metadata associated with the template."
                      ]
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "Required. The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.locations.templates.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ]
                }
              }
            },
            "snapshots": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "id": "dataflow.projects.locations.snapshots.get",
                  "parameters": {
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "snapshotId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the snapshot.",
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Gets information about a snapshot."
                },
                "delete": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "response": {
                    "$ref": "DeleteSnapshotResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots/{snapshotId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Deletes a snapshot.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "snapshotId"
                  ],
                  "id": "dataflow.projects.locations.snapshots.delete",
                  "parameters": {
                    "location": {
                      "description": "The location that contains this snapshot.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the snapshot belongs to.",
                      "location": "path"
                    },
                    "snapshotId": {
                      "description": "The ID of the snapshot.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "description": "The location to list snapshots in.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "The project ID to list snapshots for.",
                      "location": "path"
                    },
                    "jobId": {
                      "description": "If specified, list snapshots created from this job.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dataflow.projects.locations.snapshots.list",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "path": "v1b3/projects/{projectId}/locations/{location}/snapshots",
                  "response": {
                    "$ref": "ListSnapshotsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Lists snapshots."
                }
              }
            },
            "jobs": {
              "resources": {
                "workItems": {
                  "methods": {
                    "reportStatus": {
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "response": {
                        "$ref": "ReportWorkItemStatusResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Reports the status of dataflow WorkItems leased by a worker.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "request": {
                        "$ref": "ReportWorkItemStatusRequest"
                      },
                      "id": "dataflow.projects.locations.jobs.workItems.reportStatus",
                      "parameters": {
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "The project which owns the WorkItem's job.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "required": true,
                          "type": "string",
                          "description": "The job which the WorkItem is part of.",
                          "location": "path"
                        }
                      }
                    },
                    "lease": {
                      "request": {
                        "$ref": "LeaseWorkItemRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the WorkItem's job.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "description": "Identifies the project this worker belongs to.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "description": "Identifies the workflow job this worker belongs to.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "dataflow.projects.locations.jobs.workItems.lease",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease",
                      "response": {
                        "$ref": "LeaseWorkItemResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Leases a dataflow WorkItem to run."
                    }
                  }
                },
                "snapshots": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Lists snapshots.",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/snapshots",
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "parameters": {
                        "location": {
                          "type": "string",
                          "required": true,
                          "description": "The location to list snapshots in.",
                          "location": "path"
                        },
                        "projectId": {
                          "description": "The project ID to list snapshots for.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "jobId": {
                          "description": "If specified, list snapshots created from this job.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "dataflow.projects.locations.jobs.snapshots.list",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ]
                    }
                  }
                },
                "debug": {
                  "methods": {
                    "getConfig": {
                      "id": "dataflow.projects.locations.jobs.debug.getConfig",
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "description": "The job id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GetDebugConfigRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Get encoded debug configuration for component. Not cacheable.",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig",
                      "response": {
                        "$ref": "GetDebugConfigResponse"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig"
                    },
                    "getWorkerStacktraces": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "request": {
                        "$ref": "GetWorkerStacktracesRequest"
                      },
                      "parameters": {
                        "projectId": {
                          "description": "The project id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "description": "The job for which to get stacktraces.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "dataflow.projects.locations.jobs.debug.getWorkerStacktraces",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getWorkerStacktraces",
                      "response": {
                        "$ref": "GetWorkerStacktracesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Get worker stacktraces from debug capture."
                    },
                    "sendCapture": {
                      "request": {
                        "$ref": "SendDebugCaptureRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "The project id.",
                          "location": "path"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "description": "The job id.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dataflow.projects.locations.jobs.debug.sendCapture",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture",
                      "response": {
                        "$ref": "SendDebugCaptureResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Send encoded debug capture data for component."
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query"
                        },
                        "startTime": {
                          "description": "If specified, return only messages with timestamps >= start_time. The default is the job creation time (i.e. beginning of messages).",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "location": {
                          "type": "string",
                          "required": true,
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path"
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "A project id.",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "If specified, determines the maximum number of messages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query"
                        },
                        "endTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "Return only messages with timestamps < end_time. The default is now (i.e. return up to the latest messages available).",
                          "location": "query"
                        },
                        "jobId": {
                          "description": "The job to get messages about.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "minimumImportance": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "JOB_MESSAGE_IMPORTANCE_UNKNOWN",
                            "JOB_MESSAGE_DEBUG",
                            "JOB_MESSAGE_DETAILED",
                            "JOB_MESSAGE_BASIC",
                            "JOB_MESSAGE_WARNING",
                            "JOB_MESSAGE_ERROR"
                          ],
                          "description": "Filter to only get messages with importance >= level",
                          "enumDescriptions": [
                            "The message importance isn't specified, or is unknown.",
                            "The message is at the 'debug' level: typically only useful for software engineers working on the code the job is running. Typically, Dataflow pipeline runners do not display log messages at this level by default.",
                            "The message is at the 'detailed' level: somewhat verbose, but potentially useful to users. Typically, Dataflow pipeline runners do not display log messages at this level by default. These messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'basic' level: useful for keeping track of the execution of a Dataflow pipeline. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'warning' level: indicating a condition pertaining to a job which may require human intervention. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI.",
                            "The message is at the 'error' level: indicating a condition preventing a job from succeeding. Typically, Dataflow pipeline runners display log messages at this level by default, and these messages are displayed by default in the Dataflow monitoring UI."
                          ]
                        }
                      },
                      "id": "dataflow.projects.locations.jobs.messages.list",
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages",
                      "response": {
                        "$ref": "ListJobMessagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.messages.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.messages.list` is not recommended, as you can only request the status of jobs that are running in `us-central1`."
                    }
                  }
                },
                "stages": {
                  "methods": {
                    "getExecutionDetails": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectId",
                        "location",
                        "jobId",
                        "stageId"
                      ],
                      "id": "dataflow.projects.locations.jobs.stages.getExecutionDetails",
                      "parameters": {
                        "pageToken": {
                          "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "startTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "Lower time bound of work items to include, by start time.",
                          "location": "query"
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "A project id.",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "If specified, determines the maximum number of work items to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "location": {
                          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "jobId": {
                          "description": "The job to get execution details for.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "stageId": {
                          "type": "string",
                          "required": true,
                          "description": "The stage for which to fetch information.",
                          "location": "path"
                        },
                        "endTime": {
                          "type": "string",
                          "format": "google-datetime",
                          "description": "Upper time bound of work items to include, by start time.",
                          "location": "query"
                        }
                      },
                      "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "response": {
                        "$ref": "StageExecutionDetails"
                      },
                      "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/stages/{stageId}/executionDetails",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/compute"
                      ],
                      "description": "Request detailed information about the execution status of a stage of the job. EXPERIMENTAL. This API is subject to change or removal without notice."
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "id": "dataflow.projects.locations.jobs.create",
                  "parameters": {
                    "view": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "projectId": {
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    },
                    "replaceJobId": {
                      "description": "Deprecated. This field is now in the Job message.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Creates a Dataflow job. To create a job, we recommend using `projects.locations.jobs.create` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.create` is not recommended, as your job will always start in `us-central1`. Do not enter confidential information when you supply string values using the API.",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs"
                },
                "get": {
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job ID.",
                      "location": "path"
                    },
                    "view": {
                      "description": "The level of information requested in response.",
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ]
                    },
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Gets the state of the specified Cloud Dataflow job. To get the state of a job, we recommend using `projects.locations.jobs.get` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.get` is not recommended, as you can only get the state of jobs that are running in `us-central1`.",
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "update": {
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "id": "dataflow.projects.locations.jobs.update",
                  "parameters": {
                    "jobId": {
                      "description": "The job ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the Cloud Platform project that the job belongs to.",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The list of fields to update relative to Job. If empty, only RequestedJobState will be considered for update. If the FieldMask is not empty and RequestedJobState is none/empty, The fields specified in the update mask will be the only ones considered for update. If both RequestedJobState and update_mask are specified, an error will be returned as we cannot update both state and mask.",
                      "location": "query"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Updates the state of an existing Cloud Dataflow job. To update the state of an existing job, we recommend using `projects.locations.jobs.update` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.update` is not recommended, as you can only update the state of jobs that are running in `us-central1`."
                },
                "snapshot": {
                  "request": {
                    "$ref": "SnapshotJobRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "id": "dataflow.projects.locations.jobs.snapshot",
                  "parameters": {
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job to be snapshotted.",
                      "location": "path"
                    },
                    "location": {
                      "description": "The location that contains this job.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "The project which owns the job to be snapshotted.",
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "response": {
                    "$ref": "Snapshot"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}:snapshot",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Snapshot the state of a streaming job."
                },
                "getExecutionDetails": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "id": "dataflow.projects.locations.jobs.getExecutionDetails",
                  "parameters": {
                    "pageToken": {
                      "description": "If supplied, this should be the value of next_page_token returned by an earlier call. This will cause the next page of results to be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "A project id.",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "If specified, determines the maximum number of stages to return. If unspecified, the service may choose an appropriate default, or may return an arbitrarily large number of results.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "jobId": {
                      "required": true,
                      "type": "string",
                      "description": "The job to get execution details for.",
                      "location": "path"
                    }
                  },
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "response": {
                    "$ref": "JobExecutionDetails"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/executionDetails",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Request detailed information about the execution status of the job. EXPERIMENTAL. This API is subject to change or removal without notice."
                },
                "list": {
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "List the jobs of a project. To list the jobs of a project in a region, we recommend using `projects.locations.jobs.list` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). To list the all jobs across all regions, use `projects.jobs.aggregated`. Using `projects.jobs.list` is not recommended, because you can only get the list of jobs that are running in `us-central1`. `projects.locations.jobs.list` and `projects.jobs.list` support filtering the list of jobs by name. Filtering by name isn't supported by `projects.jobs.aggregated`.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location"
                  ],
                  "id": "dataflow.projects.locations.jobs.list",
                  "parameters": {
                    "name": {
                      "description": "Optional. The job name.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The kind of filter to use.",
                      "enumDescriptions": [
                        "The filter isn't specified, or is unknown. This returns all jobs ordered on descending `JobUuid`.",
                        "Returns all running jobs first ordered on creation timestamp, then returns all terminated jobs ordered on the termination timestamp.",
                        "Filters the jobs that have a terminated state, ordered on the termination timestamp. Example terminated states: `JOB_STATE_STOPPED`, `JOB_STATE_UPDATED`, `JOB_STATE_DRAINED`, etc.",
                        "Filters the jobs that are running ordered on the creation timestamp."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "UNKNOWN",
                        "ALL",
                        "TERMINATED",
                        "ACTIVE"
                      ]
                    },
                    "view": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "JOB_VIEW_UNKNOWN",
                        "JOB_VIEW_SUMMARY",
                        "JOB_VIEW_ALL",
                        "JOB_VIEW_DESCRIPTION"
                      ],
                      "description": "Deprecated. ListJobs always returns summaries now. Use GetJob for other JobViews.",
                      "deprecated": true,
                      "enumDescriptions": [
                        "The job view to return isn't specified, or is unknown. Responses will contain at least the `JOB_VIEW_SUMMARY` information, and may contain additional information.",
                        "Request summary information only: Project ID, Job ID, job name, job type, job status, start/end time, and Cloud SDK version details.",
                        "Request all information available for this job. When the job is in `JOB_STATE_PENDING`, the job has been created but is not yet running, and not all job information is available. For complete job information, wait until the job in is `JOB_STATE_RUNNING`. For more information, see [JobState](https://cloud.google.com/dataflow/docs/reference/rest/v1b3/projects.jobs#jobstate).",
                        "Request summary info and limited job description data for steps, labels and environment."
                      ]
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Set this to the 'next_page_token' field of a previous response to request additional results in a long list.",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "The project which owns the jobs.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "If there are many jobs, limit response to at most this many. The actual number of jobs returned will be the lesser of max_responses and an unspecified server-defined limit.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "location": {
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains this job.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "getMetrics": {
                  "flatPath": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "path": "v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics",
                  "response": {
                    "$ref": "JobMetrics"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "description": "Request the job status. To request the status of a job, we recommend using `projects.locations.jobs.getMetrics` with a [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints). Using `projects.jobs.getMetrics` is not recommended, as you can only request the status of jobs that are running in `us-central1`.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "projectId",
                    "location",
                    "jobId"
                  ],
                  "parameters": {
                    "projectId": {
                      "type": "string",
                      "required": true,
                      "description": "A project id.",
                      "location": "path"
                    },
                    "location": {
                      "type": "string",
                      "required": true,
                      "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
                      "location": "path"
                    },
                    "jobId": {
                      "type": "string",
                      "required": true,
                      "description": "The job to get metrics for.",
                      "location": "path"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Return only metric data that has changed since this time. Default is to return all information about all metrics for the job.",
                      "location": "query"
                    }
                  },
                  "id": "dataflow.projects.locations.jobs.getMetrics"
                }
              }
            },
            "flexTemplates": {
              "methods": {
                "launch": {
                  "parameters": {
                    "location": {
                      "description": "Required. The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) to which to direct the request. E.g., us-central1, us-west1.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
[...]
