{
  "batchPath": "batch",
  "title": "Datastream API",
  "discoveryVersion": "v1",
  "version": "v1",
  "description": "",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://datastream.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://datastream.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://datastream.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://datastream.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://datastream.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://datastream.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://datastream.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://datastream.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://datastream.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://datastream.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datastream.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://datastream.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datastream.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    }
  ],
  "name": "datastream",
  "rootUrl": "https://datastream.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/datastream/",
  "baseUrl": "https://datastream.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "canonicalName": "Datastream",
  "ownerName": "Google",
  "schemas": {
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "SalesforceObject": {
      "id": "SalesforceObject",
      "type": "object",
      "properties": {
        "objectName": {
          "description": "The object name.",
          "type": "string"
        },
        "fields": {
          "description": "Salesforce fields. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "items": {
            "$ref": "SalesforceField"
          },
          "type": "array"
        }
      },
      "description": "Salesforce object."
    },
    "SqlServerSchema": {
      "id": "SqlServerSchema",
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "description": "The schema name."
        },
        "tables": {
          "description": "Tables in the schema.",
          "items": {
            "$ref": "SqlServerTable"
          },
          "type": "array"
        }
      },
      "description": "SQLServer schema."
    },
    "PostgresqlRdbms": {
      "description": "PostgreSQL database structure.",
      "id": "PostgresqlRdbms",
      "type": "object",
      "properties": {
        "postgresqlSchemas": {
          "type": "array",
          "description": "PostgreSQL schemas in the database server.",
          "items": {
            "$ref": "PostgresqlSchema"
          }
        }
      }
    },
    "BigQueryClustering": {
      "description": "BigQuery clustering configuration.",
      "id": "BigQueryClustering",
      "type": "object",
      "properties": {
        "columns": {
          "type": "array",
          "description": "Required. Column names to set as clustering columns.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MysqlTable": {
      "description": "MySQL table.",
      "id": "MysqlTable",
      "type": "object",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "mysqlColumns": {
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "MysqlColumn"
          },
          "type": "array"
        }
      }
    },
    "SpannerSchema": {
      "description": "Spanner schema.",
      "id": "SpannerSchema",
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        },
        "tables": {
          "type": "array",
          "description": "Optional. Spanner tables in the schema.",
          "items": {
            "$ref": "SpannerTable"
          }
        }
      }
    },
    "SqlServerObjectIdentifier": {
      "description": "SQLServer data source object identifier.",
      "id": "SqlServerObjectIdentifier",
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Required. The schema name."
        },
        "table": {
          "type": "string",
          "description": "Required. The table name."
        }
      }
    },
    "PostgresqlObjectIdentifier": {
      "id": "PostgresqlObjectIdentifier",
      "type": "object",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Required. The table name."
        }
      },
      "description": "PostgreSQL data source object identifier."
    },
    "ServerVerification": {
      "id": "ServerVerification",
      "type": "object",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "Required. Input only. PEM-encoded server root CA certificate."
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        }
      },
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity. ca_certificate must be set if user selects this option."
    },
    "SqlServerTable": {
      "description": "SQLServer table.",
      "id": "SqlServerTable",
      "type": "object",
      "properties": {
        "columns": {
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "SqlServerColumn"
          },
          "type": "array"
        },
        "table": {
          "type": "string",
          "description": "The table name."
        }
      }
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "id": "LocalizedMessage",
      "type": "object",
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        }
      }
    },
    "SalesforceObjectIdentifier": {
      "id": "SalesforceObjectIdentifier",
      "type": "object",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      },
      "description": "Salesforce data source object identifier."
    },
    "OracleColumn": {
      "description": "Oracle Column.",
      "id": "OracleColumn",
      "type": "object",
      "properties": {
        "scale": {
          "description": "Column scale.",
          "format": "int32",
          "type": "integer"
        },
        "dataType": {
          "description": "The Oracle data type.",
          "type": "string"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "precision": {
          "type": "integer",
          "description": "Column precision.",
          "format": "int32"
        },
        "encoding": {
          "type": "string",
          "description": "Column encoding."
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "format": "int32",
          "type": "integer"
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "column": {
          "type": "string",
          "description": "The column name."
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        }
      }
    },
    "EventFilter": {
      "description": "Represents a filter for included data on a stream object.",
      "id": "EventFilter",
      "type": "object",
      "properties": {
        "sqlWhereClause": {
          "description": "An SQL-query Where clause selecting which data should be included, not including the \"WHERE\" keyword. e.g., `t.key1 = 'value1' AND t.key2 = 'value2'`",
          "type": "string"
        }
      }
    },
    "SqlServerLsnPosition": {
      "id": "SqlServerLsnPosition",
      "type": "object",
      "properties": {
        "lsn": {
          "description": "Required. Log sequence number (LSN) from where Logs will be read",
          "type": "string"
        }
      },
      "description": "SQL Server LSN position"
    },
    "StartBackfillJobResponse": {
      "description": "Response for manually initiating a backfill job for a specific stream object.",
      "id": "StartBackfillJobResponse",
      "type": "object",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource a backfill job was started for."
        }
      }
    },
    "DiscoverConnectionProfileRequest": {
      "id": "DiscoverConnectionProfileRequest",
      "type": "object",
      "properties": {
        "hierarchyDepth": {
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved.",
          "format": "int32",
          "type": "integer"
        },
        "sqlServerRdbms": {
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata.",
          "$ref": "SqlServerRdbms"
        },
        "oracleRdbms": {
          "$ref": "OracleRdbms",
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata."
        },
        "fullHierarchy": {
          "type": "boolean",
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE)."
        },
        "spannerDatabase": {
          "$ref": "SpannerDatabase",
          "description": "Optional. Spanner database to enrich with child data objects and metadata."
        },
        "connectionProfile": {
          "$ref": "ConnectionProfile",
          "description": "Optional. An ad-hoc connection profile configuration."
        },
        "salesforceOrg": {
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata.",
          "$ref": "SalesforceOrg"
        },
        "postgresqlRdbms": {
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "PostgresqlRdbms"
        },
        "mongodbCluster": {
          "$ref": "MongodbCluster",
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata."
        },
        "connectionProfileName": {
          "type": "string",
          "description": "Optional. A reference to an existing connection profile."
        },
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata."
        }
      },
      "description": "Request message for 'discover' ConnectionProfile request."
    },
    "MysqlSslConfig": {
      "description": "MySQL SSL configuration information.",
      "id": "MysqlSslConfig",
      "type": "object",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "clientKey": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory."
        },
        "clientKeySet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true
        },
        "caCertificate": {
          "type": "string",
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "clientCertificateSet": {
          "readOnly": true,
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "type": "boolean"
        },
        "caCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field is set."
        }
      }
    },
    "FieldViolation": {
      "description": "A message type used to describe a single bad request field.",
      "id": "FieldViolation",
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message."
        },
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        },
        "reason": {
          "type": "string",
          "description": "The reason of the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        }
      }
    },
    "SourceHierarchyDatasets": {
      "description": "Destination datasets are created so that hierarchy of the destination data objects matches the source hierarchy.",
      "id": "SourceHierarchyDatasets",
      "type": "object",
      "properties": {
        "datasetTemplate": {
          "$ref": "DatasetTemplate",
          "description": "The dataset template to use for dynamic dataset creation."
        },
        "projectId": {
          "type": "string",
          "description": "Optional. The project id of the BigQuery dataset. If not specified, the project will be inferred from the stream resource."
        }
      }
    },
    "SqlServerSslConfig": {
      "description": "SQL Server SSL configuration information.",
      "id": "SqlServerSslConfig",
      "type": "object",
      "properties": {
        "encryptionNotEnforced": {
          "description": "If set, Datastream will not enforce encryption. If the DB server mandates encryption, then connection will be encrypted but server identity will not be authenticated.",
          "$ref": "EncryptionNotEnforced"
        },
        "encryptionAndServerValidation": {
          "description": "If set, Datastream will enforce encryption and authenticate server identity.",
          "$ref": "EncryptionAndServerValidation"
        },
        "basicEncryption": {
          "description": "If set, Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
          "$ref": "BasicEncryption"
        }
      }
    },
    "JsonFileFormat": {
      "id": "JsonFileFormat",
      "type": "object",
      "properties": {
        "schemaFileFormat": {
          "type": "string",
          "description": "The schema file format along JSON data files.",
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ]
        },
        "compression": {
          "description": "Compression of the loaded JSON file.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ]
        }
      },
      "description": "JSON file format configuration."
    },
    "BadRequest": {
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request.",
      "id": "BadRequest",
      "type": "object",
      "properties": {
        "fieldViolations": {
          "type": "array",
          "description": "Describes all violations in a client request.",
          "items": {
            "$ref": "FieldViolation"
          }
        }
      }
    },
    "SqlServerRdbms": {
      "id": "SqlServerRdbms",
      "type": "object",
      "properties": {
        "schemas": {
          "description": "SQLServer schemas in the database server.",
          "items": {
            "$ref": "SqlServerSchema"
          },
          "type": "array"
        }
      },
      "description": "SQLServer database structure."
    },
    "Gtid": {
      "id": "Gtid",
      "type": "object",
      "properties": {},
      "description": "Use GTID based replication."
    },
    "FetchStaticIpsResponse": {
      "description": "Response message for a 'FetchStaticIps' response.",
      "id": "FetchStaticIpsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "staticIps": {
          "description": "list of static ips by account",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "BackfillNoneStrategy": {
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects.",
      "id": "BackfillNoneStrategy",
      "type": "object",
      "properties": {}
    },
    "Route": {
      "id": "Route",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime"
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "type": "string",
          "readOnly": true
        },
        "destinationPort": {
          "type": "integer",
          "description": "Destination port for connection",
          "format": "int32"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection."
    },
    "MongodbObjectIdentifier": {
      "description": "MongoDB data source object identifier.",
      "id": "MongodbObjectIdentifier",
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "Required. The database name."
        },
        "collection": {
          "type": "string",
          "description": "Required. The collection name."
        }
      }
    },
    "PostgresqlSchema": {
      "id": "PostgresqlSchema",
      "type": "object",
      "properties": {
        "postgresqlTables": {
          "description": "Tables in the schema.",
          "items": {
            "$ref": "PostgresqlTable"
          },
          "type": "array"
        },
        "schema": {
          "description": "The schema name.",
          "type": "string"
        }
      },
      "description": "PostgreSQL schema."
    },
    "ForwardSshTunnelConnectivity": {
      "description": "Forward SSH Tunnel connectivity.",
      "id": "ForwardSshTunnelConnectivity",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SSH tunnel."
        },
        "password": {
          "type": "string",
          "description": "Input only. SSH password."
        },
        "port": {
          "description": "Port for the SSH tunnel, default value is 22.",
          "format": "int32",
          "type": "integer"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        }
      }
    },
    "ListStreamsResponse": {
      "id": "ListStreamsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "streams": {
          "type": "array",
          "description": "List of streams",
          "items": {
            "$ref": "Stream"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for listing streams."
    },
    "SpannerColumn": {
      "id": "SpannerColumn",
      "type": "object",
      "properties": {
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        },
        "column": {
          "description": "Required. The column name.",
          "type": "string"
        },
        "isPrimaryKey": {
          "type": "boolean",
          "description": "Optional. Whether or not the column is a primary key."
        },
        "ordinalPosition": {
          "description": "Optional. The ordinal position of the column in the table.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Spanner column."
    },
    "BackfillAllStrategy": {
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
      "id": "BackfillAllStrategy",
      "type": "object",
      "properties": {
        "mysqlExcludedObjects": {
          "$ref": "MysqlRdbms",
          "description": "MySQL data source objects to avoid backfilling."
        },
        "mongodbExcludedObjects": {
          "$ref": "MongodbCluster",
          "description": "MongoDB data source objects to avoid backfilling"
        },
        "spannerExcludedObjects": {
          "description": "Spanner data source objects to avoid backfilling.",
          "$ref": "SpannerDatabase"
        },
        "oracleExcludedObjects": {
          "$ref": "OracleRdbms",
          "description": "Oracle data source objects to avoid backfilling."
        },
        "salesforceExcludedObjects": {
          "$ref": "SalesforceOrg",
          "description": "Salesforce data source objects to avoid backfilling"
        },
        "postgresqlExcludedObjects": {
          "description": "PostgreSQL data source objects to avoid backfilling.",
          "$ref": "PostgresqlRdbms"
        },
        "sqlServerExcludedObjects": {
          "description": "SQLServer data source objects to avoid backfilling",
          "$ref": "SqlServerRdbms"
        }
      }
    },
    "EncryptionNotEnforced": {
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility.",
      "id": "EncryptionNotEnforced",
      "type": "object",
      "properties": {}
    },
    "BasicEncryption": {
      "id": "BasicEncryption",
      "type": "object",
      "properties": {},
      "description": "Message to represent the option where Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default."
    },
    "OracleScnPosition": {
      "id": "OracleScnPosition",
      "type": "object",
      "properties": {
        "scn": {
          "description": "Required. SCN number from where Logs will be read",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Oracle SCN position"
    },
    "OracleRdbms": {
      "description": "Oracle database structure.",
      "id": "OracleRdbms",
      "type": "object",
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "items": {
            "$ref": "OracleSchema"
          },
          "type": "array"
        }
      }
    },
    "MongodbCluster": {
      "id": "MongodbCluster",
      "type": "object",
      "properties": {
        "databases": {
          "type": "array",
          "description": "MongoDB databases in the cluster.",
          "items": {
            "$ref": "MongodbDatabase"
          }
        }
      },
      "description": "MongoDB Cluster structure."
    },
    "BigQueryDestinationConfig": {
      "id": "BigQueryDestinationConfig",
      "type": "object",
      "properties": {
        "singleTargetDataset": {
          "description": "Single destination dataset.",
          "$ref": "SingleTargetDataset"
        },
        "dataFreshness": {
          "description": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost.",
          "format": "google-duration",
          "type": "string"
        },
        "appendOnly": {
          "$ref": "AppendOnly",
          "description": "Append only mode"
        },
        "blmtConfig": {
          "$ref": "BlmtConfig",
          "description": "Optional. Big Lake Managed Tables (BLMT) configuration."
        },
        "merge": {
          "$ref": "Merge",
          "description": "The standard mode"
        },
        "sourceHierarchyDatasets": {
          "$ref": "SourceHierarchyDatasets",
          "description": "Source hierarchy datasets."
        }
      },
      "description": "BigQuery destination configuration"
    },
    "SpannerObjectIdentifier": {
      "description": "Spanner data source object identifier.",
      "id": "SpannerObjectIdentifier",
      "type": "object",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "type": "string",
          "description": "Optional. The schema name."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "validationResult": {
          "readOnly": true,
          "$ref": "ValidationResult",
          "description": "Output only. Results of executed validations if there are any."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "Link": {
      "description": "Describes a URL link.",
      "id": "Link",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      }
    },
    "SalesforceProfile": {
      "id": "SalesforceProfile",
      "type": "object",
      "properties": {
        "userCredentials": {
          "description": "User-password authentication.",
          "$ref": "UserCredentials"
        },
        "domain": {
          "description": "Required. Domain endpoint for the Salesforce connection.",
          "type": "string"
        },
        "oauth2ClientCredentials": {
          "description": "Connected app authentication.",
          "$ref": "Oauth2ClientCredentials"
        }
      },
      "description": "Profile for connecting to a Salesforce source."
    },
    "SqlServerProfile": {
      "description": "Profile for connecting to a SQLServer source.",
      "id": "SqlServerProfile",
      "type": "object",
      "properties": {
        "sslConfig": {
          "$ref": "SqlServerSslConfig",
          "description": "Optional. SSL configuration for the SQLServer connection."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SQLServer connection."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SQLServer connection."
        },
        "password": {
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Required. Database for the SQLServer connection."
        },
        "port": {
          "description": "Port for the SQLServer connection, default value is 1433.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListRoutesResponse": {
      "description": "Route list response.",
      "id": "ListRoutesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "routes": {
          "type": "array",
          "description": "List of Routes.",
          "items": {
            "$ref": "Route"
          }
        }
      }
    },
    "Error": {
      "description": "Represent a user-facing Error.",
      "id": "Error",
      "type": "object",
      "properties": {
        "reason": {
          "description": "A title that explains the reason for the error.",
          "type": "string"
        },
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A message containing more information about the error that occurred."
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional information about the error."
        },
        "errorTime": {
          "description": "The time when the error occurred.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "PrivateConnection": {
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "id": "PrivateConnection",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "description": "Output only. The state of the Private Connection.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "pscInterfaceConfig": {
          "description": "PSC Interface Config.",
          "$ref": "PscInterfaceConfig"
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "error": {
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "readOnly": true,
          "$ref": "Error"
        },
        "vpcPeeringConfig": {
          "description": "VPC Peering Config.",
          "$ref": "VpcPeeringConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime"
        }
      }
    },
    "OracleProfile": {
      "id": "OracleProfile",
      "type": "object",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the Oracle connection."
        },
        "port": {
          "type": "integer",
          "description": "Port for the Oracle connection, default value is 1521.",
          "format": "int32"
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        },
        "databaseService": {
          "type": "string",
          "description": "Required. Database for the Oracle connection."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the Oracle connection."
        },
        "password": {
          "description": "Optional. Password for the Oracle connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "connectionAttributes": {
          "description": "Connection string attributes",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "oracleAsmConfig": {
          "description": "Optional. Configuration for Oracle ASM connection.",
          "$ref": "OracleAsmConfig"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      },
      "description": "Profile for connecting to an Oracle source."
    },
    "UserCredentials": {
      "id": "UserCredentials",
      "type": "object",
      "properties": {
        "password": {
          "description": "Optional. Password for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "secretManagerStoredSecurityToken": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's security token. Mutually exclusive with the `security_token` field.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the Salesforce connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce connection's password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "securityToken": {
          "description": "Optional. Security token for the Salesforce connection. Mutually exclusive with the `secret_manager_stored_security_token` field.",
          "type": "string"
        }
      },
      "description": "Username-password credentials."
    },
    "BlmtConfig": {
      "description": "The configuration for BLMT.",
      "id": "BlmtConfig",
      "type": "object",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. The Cloud Storage bucket name."
        },
        "tableFormat": {
          "description": "Required. The table format.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ],
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ]
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "connectionName": {
          "type": "string",
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`"
        },
        "fileFormat": {
          "type": "string",
          "description": "Required. The file format.",
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ]
        }
      }
    },
    "Help": {
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit.",
      "id": "Help",
      "type": "object",
      "properties": {
        "links": {
          "description": "URL(s) pointing to additional information on handling the current error.",
          "items": {
            "$ref": "Link"
          },
          "type": "array"
        }
      }
    },
    "StandardConnectionFormat": {
      "id": "StandardConnectionFormat",
      "type": "object",
      "properties": {
        "directConnection": {
          "description": "Optional. Deprecated: Use the `additional_options` map to specify the `directConnection` parameter instead. For example: `additional_options = {\"directConnection\": \"true\"}`. Specifies whether the client connects directly to the host[:port] in the connection URI.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "description": "Standard connection format."
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "type": "object",
      "properties": {
        "postgresqlProfile": {
          "description": "Profile for connecting to a PostgreSQL source.",
          "$ref": "PostgresqlProfile"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "privateConnectivity": {
          "$ref": "PrivateConnectivity",
          "description": "Private connectivity."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels."
        },
        "sqlServerProfile": {
          "description": "Profile for connecting to a SQLServer source.",
          "$ref": "SqlServerProfile"
        },
        "oracleProfile": {
          "$ref": "OracleProfile",
          "description": "Profile for connecting to an Oracle source."
        },
        "salesforceProfile": {
          "description": "Profile for connecting to a Salesforce source.",
          "$ref": "SalesforceProfile"
        },
        "gcsProfile": {
          "$ref": "GcsProfile",
          "description": "Profile for connecting to a Cloud Storage destination."
        },
        "mongodbProfile": {
          "$ref": "MongodbProfile",
          "description": "Profile for connecting to a MongoDB source."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "format": "google-datetime"
        },
        "bigqueryProfile": {
          "$ref": "BigQueryProfile",
          "description": "Profile for connecting to a BigQuery destination."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "spannerProfile": {
          "$ref": "SpannerProfile",
          "description": "Profile for connecting to a Spanner source."
        },
        "mysqlProfile": {
          "$ref": "MysqlProfile",
          "description": "Profile for connecting to a MySQL source."
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        }
      },
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream."
    },
    "BigQueryPartitioning": {
      "id": "BigQueryPartitioning",
      "type": "object",
      "properties": {
        "ingestionTimePartition": {
          "$ref": "IngestionTimePartition",
          "description": "Ingestion time partitioning."
        },
        "integerRangePartition": {
          "description": "Integer range partitioning.",
          "$ref": "IntegerRangePartition"
        },
        "timeUnitPartition": {
          "$ref": "TimeUnitPartition",
          "description": "Time unit column partitioning."
        },
        "requirePartitionFilter": {
          "type": "boolean",
          "description": "Optional. If true, queries over the table require a partition filter."
        }
      },
      "description": "BigQuery partitioning configuration."
    },
    "ListStreamObjectsResponse": {
      "id": "ListStreamObjectsResponse",
      "type": "object",
      "properties": {
        "streamObjects": {
          "type": "array",
          "description": "List of stream objects.",
          "items": {
            "$ref": "StreamObject"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page."
        }
      },
      "description": "Response containing the objects for a stream."
    },
    "EncryptionAndServerValidation": {
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option.",
      "id": "EncryptionAndServerValidation",
      "type": "object",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate."
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate.",
          "type": "string"
        }
      }
    },
    "SqlServerChangeTables": {
      "description": "Configuration to use Change Tables CDC read method.",
      "id": "SqlServerChangeTables",
      "type": "object",
      "properties": {}
    },
    "StopBackfillJobResponse": {
      "id": "StopBackfillJobResponse",
      "type": "object",
      "properties": {
        "object": {
          "description": "The stream object resource the backfill job was stopped for.",
          "$ref": "StreamObject"
        }
      },
      "description": "Response for manually stop a backfill job for a specific stream object."
    },
    "MongodbSourceConfig": {
      "description": "Configuration for syncing data from a MongoDB source.",
      "id": "MongodbSourceConfig",
      "type": "object",
      "properties": {
        "jsonMode": {
          "enumDescriptions": [
            "Unspecified JSON mode.",
            "Strict JSON mode.",
            "Canonical JSON mode."
          ],
          "enum": [
            "MONGODB_JSON_MODE_UNSPECIFIED",
            "STRICT",
            "CANONICAL"
          ],
          "description": "Optional. MongoDB JSON mode to use for the stream.",
          "type": "string"
        },
        "excludeObjects": {
          "$ref": "MongodbCluster",
          "description": "The MongoDB collections to exclude from the stream."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Optional. Maximum number of concurrent backfill tasks. The number should be non-negative and less than or equal to 50. If not set (or set to 0), the system's default value is used",
          "format": "int32",
          "type": "integer"
        },
        "includeObjects": {
          "$ref": "MongodbCluster",
          "description": "The MongoDB collections to include in the stream."
        }
      }
    },
    "CdcStrategy": {
      "id": "CdcStrategy",
      "type": "object",
      "properties": {
        "nextAvailableStartPosition": {
          "description": "Optional. Resume replication from the next available position in the source.",
          "$ref": "NextAvailableStartPosition"
        },
        "mostRecentStartPosition": {
          "$ref": "MostRecentStartPosition",
          "description": "Optional. Start replicating from the most recent position in the source."
        },
        "specificStartPosition": {
          "$ref": "SpecificStartPosition",
          "description": "Optional. Start replicating from a specific position in the source."
        }
      },
      "description": "The strategy that the stream uses for CDC replication."
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "type": "object",
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "mysqlTables": {
          "type": "array",
          "description": "Tables in the database.",
          "items": {
            "$ref": "MysqlTable"
          }
        }
      },
      "description": "MySQL database."
    },
    "MostRecentStartPosition": {
      "id": "MostRecentStartPosition",
      "type": "object",
      "properties": {},
      "description": "CDC strategy to start replicating from the most recent position in the source."
    },
    "PscInterfaceConfig": {
      "id": "PscInterfaceConfig",
      "type": "object",
      "properties": {
        "networkAttachment": {
          "description": "Required. Fully qualified name of the Network Attachment that Datastream will connect to. Format: `projects/{project}/regions/{region}/networkAttachments/{name}`",
          "type": "string"
        }
      },
      "description": "The PSC Interface configuration is used to create PSC Interface between Datastream and the consumer's PSC."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Validation": {
      "id": "Validation",
      "type": "object",
      "properties": {
        "code": {
          "description": "A custom code identifying this validation.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED",
            "WARNING"
          ],
          "description": "Output only. Validation execution status.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed.",
            "Validation executed with warnings."
          ]
        },
        "description": {
          "description": "A short description of the validation.",
          "type": "string"
        },
        "message": {
          "type": "array",
          "description": "Messages reflecting the validation results.",
          "items": {
            "$ref": "ValidationMessage"
          }
        }
      },
      "description": "A validation to perform on a stream."
    },
    "IntegerRangePartition": {
      "description": "Integer range partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#integer_range",
      "id": "IntegerRangePartition",
      "type": "object",
      "properties": {
        "interval": {
          "description": "Required. The interval of each range within the partition.",
          "format": "int64",
          "type": "string"
        },
        "start": {
          "description": "Required. The starting value for range partitioning (inclusive).",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "description": "Required. The partitioning column.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "Required. The ending value for range partitioning (exclusive).",
          "format": "int64"
        }
      }
    },
    "PostgresqlProfile": {
      "id": "PostgresqlProfile",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. Username for the PostgreSQL connection."
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "sslConfig": {
          "$ref": "PostgresqlSslConfig",
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)"
        },
        "port": {
          "description": "Port for the PostgreSQL connection, default value is 5432.",
          "format": "int32",
          "type": "integer"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the PostgreSQL connection."
        },
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Required. Database for the PostgreSQL connection."
        }
      },
      "description": "Profile for connecting to a PostgreSQL source."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request."
        }
      },
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
    },
    "ListConnectionProfilesResponse": {
      "description": "Response message for listing connection profiles.",
      "id": "ListConnectionProfilesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "items": {
            "$ref": "ConnectionProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "OracleObjectIdentifier": {
      "id": "OracleObjectIdentifier",
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table name."
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      },
      "description": "Oracle data source object identifier."
    },
    "LookupStreamObjectRequest": {
      "description": "Request for looking up a specific stream object by its source object identifier.",
      "id": "LookupStreamObjectRequest",
      "type": "object",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Required. The source object identifier which maps to the stream object.",
          "$ref": "SourceObjectIdentifier"
        }
      }
    },
    "ObjectFilter": {
      "description": "Object filter to apply the rules to.",
      "id": "ObjectFilter",
      "type": "object",
      "properties": {
        "sourceObjectIdentifier": {
          "$ref": "SourceObjectIdentifier",
          "description": "Specific source object identifier."
        }
      }
    },
    "MongodbDatabase": {
      "id": "MongodbDatabase",
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "The database name."
        },
        "collections": {
          "type": "array",
          "description": "Collections in the database.",
          "items": {
            "$ref": "MongodbCollection"
          }
        }
      },
      "description": "MongoDB Database."
    },
    "OracleAsmLogFileAccess": {
      "id": "OracleAsmLogFileAccess",
      "type": "object",
      "properties": {},
      "description": "Configuration to use Oracle ASM to access the log files."
    },
    "RetryInfo": {
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "id": "RetryInfo",
      "type": "object",
      "properties": {
        "retryDelay": {
          "type": "string",
          "description": "Clients should wait at least this long between retrying the same request.",
          "format": "google-duration"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "StreamObject": {
      "description": "A specific stream object (e.g a specific DB table).",
      "id": "StreamObject",
      "type": "object",
      "properties": {
        "backfillJob": {
          "description": "The latest backfill job that was initiated for the stream object.",
          "$ref": "BackfillJob"
        },
        "customizationRules": {
          "description": "Output only. The customization rules for the object. These rules are derived from the parent Stream's `rule_sets` and represent the intended configuration for the object.",
          "items": {
            "$ref": "CustomizationRule"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The object resource's name.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Active errors on the object.",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "sourceObject": {
          "$ref": "SourceObjectIdentifier",
          "description": "The object identifier in the data source."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation time of the object.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last update time of the object.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DestinationConfig": {
      "description": "The configuration of the stream destination.",
      "id": "DestinationConfig",
      "type": "object",
      "properties": {
        "destinationConnectionProfile": {
          "type": "string",
          "description": "Required. Destination connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`"
        },
        "gcsDestinationConfig": {
          "$ref": "GcsDestinationConfig",
          "description": "A configuration for how data should be loaded to Cloud Storage."
        },
        "bigqueryDestinationConfig": {
          "$ref": "BigQueryDestinationConfig",
          "description": "BigQuery destination configuration."
        }
      }
    },
    "SpannerSourceConfig": {
      "description": "Configuration for syncing data from a Spanner source.",
      "id": "SpannerSourceConfig",
      "type": "object",
      "properties": {
        "backfillDataBoostEnabled": {
          "description": "Optional. Whether to use Data Boost for Spanner backfills. Defaults to false if not set.",
          "type": "boolean"
        },
        "maxConcurrentBackfillTasks": {
          "type": "integer",
          "description": "Optional. Maximum number of concurrent backfill tasks.",
          "format": "int32"
        },
        "excludeObjects": {
          "$ref": "SpannerDatabase",
          "description": "Optional. The Spanner objects to avoid retrieving. If some objects are both included and excluded, an error will be thrown."
        },
        "spannerRpcPriority": {
          "enumDescriptions": [
            "Unspecified RPC priority.",
            "Low RPC priority.",
            "Medium RPC priority.",
            "High RPC priority."
          ],
          "enum": [
            "SPANNER_RPC_PRIORITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "description": "Optional. The RPC priority to use for the stream."
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "description": "Optional. Maximum number of concurrent CDC tasks.",
          "format": "int32"
        },
        "fgacRole": {
          "type": "string",
          "description": "Optional. The FGAC role to use for the stream."
        },
        "includeObjects": {
          "$ref": "SpannerDatabase",
          "description": "Optional. The Spanner objects to retrieve from the data source. If some objects are both included and excluded, an error will be thrown."
        },
        "changeStreamName": {
          "description": "Required. Immutable. The change stream name to use for the stream.",
          "type": "string"
        }
      }
    },
    "GcsProfile": {
      "description": "Profile for connecting to a Cloud Storage destination.",
      "id": "GcsProfile",
      "type": "object",
      "properties": {
        "rootPath": {
          "type": "string",
          "description": "Optional. The root path inside the Cloud Storage bucket."
        },
        "bucket": {
          "type": "string",
          "description": "Required. The Cloud Storage bucket name."
        }
      }
    },
    "ValidationResult": {
      "id": "ValidationResult",
      "type": "object",
      "properties": {
        "validations": {
          "type": "array",
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "items": {
            "$ref": "Validation"
          }
        }
      },
      "description": "Contains the current validation results."
    },
    "SourceConfig": {
      "description": "The configuration of the stream source.",
      "id": "SourceConfig",
      "type": "object",
      "properties": {
        "mongodbSourceConfig": {
          "$ref": "MongodbSourceConfig",
          "description": "MongoDB data source configuration."
        },
        "sourceConnectionProfile": {
          "type": "string",
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`"
        },
        "spannerSourceConfig": {
          "$ref": "SpannerSourceConfig",
          "description": "Spanner data source configuration."
        },
        "sqlServerSourceConfig": {
          "description": "SQLServer data source configuration.",
          "$ref": "SqlServerSourceConfig"
        },
        "mysqlSourceConfig": {
          "$ref": "MysqlSourceConfig",
          "description": "MySQL data source configuration."
        },
        "postgresqlSourceConfig": {
          "$ref": "PostgresqlSourceConfig",
          "description": "PostgreSQL data source configuration."
        },
        "oracleSourceConfig": {
          "description": "Oracle data source configuration.",
          "$ref": "OracleSourceConfig"
        },
        "salesforceSourceConfig": {
          "description": "Salesforce data source configuration.",
          "$ref": "SalesforceSourceConfig"
        }
      }
    },
    "SqlServerSourceConfig": {
      "description": "Configuration for syncing data from a SQLServer source.",
      "id": "SqlServerSourceConfig",
      "type": "object",
      "properties": {
        "includeObjects": {
          "$ref": "SqlServerRdbms",
          "description": "The SQLServer objects to include in the stream."
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "description": "Max concurrent CDC tasks.",
          "format": "int32"
        },
        "changeTables": {
          "$ref": "SqlServerChangeTables",
          "description": "CDC reader reads from change tables."
        },
        "transactionLogs": {
          "description": "CDC reader reads from transaction logs.",
          "$ref": "SqlServerTransactionLogs"
        },
        "excludeObjects": {
          "description": "The SQLServer objects to exclude from the stream.",
          "$ref": "SqlServerRdbms"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Max concurrent backfill tasks.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "MysqlColumn": {
      "id": "MysqlColumn",
      "type": "object",
      "properties": {
        "scale": {
          "type": "integer",
          "description": "Column scale.",
          "format": "int32"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "collation": {
          "type": "string",
          "description": "Column collation."
        },
        "dataType": {
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html",
          "type": "string"
        },
        "ordinalPosition": {
          "type": "integer",
          "description": "The ordinal position of the column in the table.",
          "format": "int32"
        },
        "precision": {
          "description": "Column precision.",
          "format": "int32",
          "type": "integer"
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "nullable": {
          "type": "boolean",
          "description": "Whether or not the column can accept a null value."
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        }
      },
      "description": "MySQL Column."
    },
    "NextAvailableStartPosition": {
      "id": "NextAvailableStartPosition",
      "type": "object",
      "properties": {},
      "description": "CDC strategy to resume replication from the next available position in the source."
    },
    "MysqlRdbms": {
      "id": "MysqlRdbms",
      "type": "object",
      "properties": {
        "mysqlDatabases": {
          "type": "array",
          "description": "Mysql databases on the server",
          "items": {
            "$ref": "MysqlDatabase"
          }
        }
      },
      "description": "MySQL database structure"
    },
    "PostgresqlSslConfig": {
      "description": "PostgreSQL SSL configuration information.",
      "id": "PostgresqlSslConfig",
      "type": "object",
      "properties": {
        "serverVerification": {
          "$ref": "ServerVerification",
          "description": " If this field is set, the communication will be encrypted with TLS encryption and the server identity will be authenticated."
        },
        "serverAndClientVerification": {
          "$ref": "ServerAndClientVerification",
          "description": "If this field is set, the communication will be encrypted with TLS encryption and both the server identity and the client identity will be authenticated."
        }
      }
    },
    "Stream": {
      "id": "Stream",
      "type": "object",
      "properties": {
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Required. Source connection profile configuration."
        },
        "backfillAll": {
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded.",
          "$ref": "BackfillAllStrategy"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update time of the stream.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created but has not yet started streaming data.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "type": "string",
          "description": "The state of the stream."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backfillNone": {
          "description": "Do not automatically backfill any objects.",
          "$ref": "BackfillNoneStrategy"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The stream's name.",
          "type": "string"
        },
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "lastRecoveryTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the stream was recovered, the time of the last recovery. Note: This field is currently experimental.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The creation time of the stream.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Errors on the Stream.",
          "items": {
            "$ref": "Error"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "ruleSets": {
          "description": "Optional. Rule sets to apply to the stream.",
          "items": {
            "$ref": "RuleSet"
          },
          "type": "array"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        }
      },
      "description": "A resource representing streaming data from a source to a destination."
    },
    "GcsDestinationConfig": {
      "id": "GcsDestinationConfig",
      "type": "object",
      "properties": {
        "fileRotationMb": {
          "description": "The maximum file size to be saved in the bucket.",
          "format": "int32",
          "type": "integer"
        },
        "avroFileFormat": {
          "$ref": "AvroFileFormat",
          "description": "AVRO file format configuration."
        },
        "fileRotationInterval": {
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed.",
          "format": "google-duration",
          "type": "string"
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        },
        "path": {
          "type": "string",
          "description": "Path inside the Cloud Storage bucket to write data to."
        }
      },
      "description": "Google Cloud Storage destination configuration"
    },
    "SingleTargetDataset": {
      "id": "SingleTargetDataset",
      "type": "object",
      "properties": {
        "datasetId": {
          "description": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference.",
          "type": "string"
        }
      },
      "description": "A single target dataset to which all data will be streamed."
    },
    "MongodbSslConfig": {
      "id": "MongodbSslConfig",
      "type": "object",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory."
        },
        "clientKey": {
          "type": "string",
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory."
        },
        "clientKeySet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the client_key field is set."
        },
        "secretManagerStoredClientKey": {
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "clientCertificateSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true
        },
        "caCertificateSet": {
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "readOnly": true
        }
      },
      "description": "MongoDB SSL configuration information."
    },
    "StopBackfillJobRequest": {
      "id": "StopBackfillJobRequest",
      "type": "object",
      "properties": {},
      "description": "Request for manually stopping a running backfill job for a specific stream object."
    },
    "MysqlProfile": {
      "id": "MysqlProfile",
      "type": "object",
      "properties": {
        "username": {
          "description": "Required. Username for the MySQL connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "type": "string",
          "description": "Optional. A reference to a Secret Manager resource name storing the MySQL connection password. Mutually exclusive with the `password` field."
        },
        "sslConfig": {
          "description": "SSL configuration for the MySQL connection.",
          "$ref": "MysqlSslConfig"
        },
        "port": {
          "type": "integer",
          "description": "Port for the MySQL connection, default value is 3306.",
          "format": "int32"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the MySQL connection."
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. Password for the MySQL connection. Mutually exclusive with the `secret_manager_stored_password` field."
        }
      },
      "description": "Profile for connecting to a MySQL source."
    },
    "OracleSourceConfig": {
      "description": "Configuration for syncing data from an Oracle source.",
      "id": "OracleSourceConfig",
      "type": "object",
      "properties": {
        "includeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to include in the stream."
        },
        "binaryLogParser": {
          "$ref": "BinaryLogParser",
          "description": "Use Binary Log Parser."
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32"
        },
        "excludeObjects": {
          "$ref": "OracleRdbms",
          "description": "The Oracle objects to exclude from the stream."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "streamLargeObjects": {
          "$ref": "StreamLargeObjects",
          "description": "Stream large object values."
        },
        "logMiner": {
          "description": "Use LogMiner.",
          "$ref": "LogMiner"
        },
        "dropLargeObjects": {
          "$ref": "DropLargeObjects",
          "description": "Drop large object values."
        }
      }
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "description": "List of private connectivity configurations.",
          "items": {
            "$ref": "PrivateConnection"
          },
          "type": "array"
        }
      },
      "description": "Response containing a list of private connection configurations."
    },
    "SalesforceSourceConfig": {
      "id": "SalesforceSourceConfig",
      "type": "object",
      "properties": {
        "includeObjects": {
          "description": "The Salesforce objects to retrieve from the source.",
          "$ref": "SalesforceOrg"
        },
        "pollingInterval": {
          "type": "string",
          "description": "Required. Salesforce objects polling interval. The interval at which new changes will be polled for each object. The duration must be from `5 minutes` to `24 hours`, inclusive.",
          "format": "google-duration"
        },
        "excludeObjects": {
          "description": "The Salesforce objects to exclude from the stream.",
          "$ref": "SalesforceOrg"
        }
      },
      "description": "Configuration for syncing data from a Salesforce source."
    },
    "SpecificStartPosition": {
      "id": "SpecificStartPosition",
      "type": "object",
      "properties": {
        "mysqlLogPosition": {
          "$ref": "MysqlLogPosition",
          "description": "MySQL specific log position to start replicating from."
        },
        "mongodbChangeStreamPosition": {
          "$ref": "MongodbChangeStreamPosition",
          "description": "MongoDB change stream position to start replicating from."
        },
        "oracleScnPosition": {
          "description": "Oracle SCN to start replicating from.",
          "$ref": "OracleScnPosition"
        },
        "sqlServerLsnPosition": {
[...]
