{
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Datastream",
  "basePath": "",
  "revision": "20260426",
  "batchPath": "batch",
  "description": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version_module": true,
  "servicePath": "",
  "version": "v1alpha1",
  "schemas": {
    "OracleObjectIdentifier": {
      "id": "OracleObjectIdentifier",
      "description": "Oracle data source object identifier.",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Required. The table name."
        }
      },
      "type": "object"
    },
    "PrivateConnectivity": {
      "properties": {
        "privateConnectionName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "PrivateConnectivity",
      "description": "Private Connectivity"
    },
    "ListStreamsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "streams": {
          "description": "List of streams",
          "type": "array",
          "items": {
            "$ref": "Stream"
          }
        }
      },
      "type": "object",
      "id": "ListStreamsResponse"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "DebugInfo": {
      "id": "DebugInfo",
      "description": "Describes additional debugging info.",
      "type": "object",
      "properties": {
        "stackEntries": {
          "description": "The stack trace entries indicating where the error occurred.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "detail": {
          "type": "string",
          "description": "Additional debugging information provided by the server."
        }
      }
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "description": "Forward SSH Tunnel connectivity.",
      "type": "object",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the SSH tunnel."
        },
        "password": {
          "type": "string",
          "description": "Input only. SSH password."
        },
        "username": {
          "type": "string",
          "description": "Required. Username for the SSH tunnel."
        },
        "port": {
          "type": "integer",
          "description": "Port for the SSH tunnel, default value is 22.",
          "format": "int32"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        }
      }
    },
    "MysqlDatabase": {
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "Database name."
        },
        "mysqlTables": {
          "items": {
            "$ref": "MysqlTable"
          },
          "type": "array",
          "description": "Tables in the database."
        }
      },
      "type": "object",
      "id": "MysqlDatabase",
      "description": "MySQL database."
    },
    "BackfillJob": {
      "id": "BackfillJob",
      "description": "Represents a backfill job on a specific stream object.",
      "type": "object",
      "properties": {
        "lastStartTime": {
          "description": "Output only. Backfill job's start time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "description": "Backfill job state."
        },
        "trigger": {
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "description": "Backfill job's triggering reason."
        },
        "lastEndTime": {
          "description": "Output only. Backfill job's end time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "errors": {
          "description": "Output only. Errors which caused the backfill job to fail.",
          "readOnly": true,
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        }
      }
    },
    "MysqlSslConfig": {
      "type": "object",
      "properties": {
        "caCertificateSet": {
          "description": "Output only. Indicates whether the ca_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificateSet": {
          "description": "Output only. Indicates whether the client_certificate field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificate": {
          "description": "Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "MysqlSslConfig",
      "description": "MySQL SSL configuration information."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "validationResult": {
          "$ref": "ValidationResult",
          "description": "Output only. Results of executed validations if there are any.",
          "readOnly": true
        }
      }
    },
    "VpcPeeringConfig": {
      "type": "object",
      "properties": {
        "subnet": {
          "description": "Required. A free subnet for peering. (CIDR of /29)",
          "type": "string"
        },
        "vpcName": {
          "type": "string",
          "description": "Required. fully qualified name of the VPC Datastream will peer to."
        }
      },
      "id": "VpcPeeringConfig",
      "description": "The VPC Peering configuration is used to create VPC peering between Datastream and the consumer's VPC."
    },
    "DiscoverConnectionProfileResponse": {
      "properties": {
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "Enriched MySQL RDBMS object."
        },
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        }
      },
      "type": "object",
      "id": "DiscoverConnectionProfileResponse"
    },
    "BackfillNoneStrategy": {
      "type": "object",
      "properties": {},
      "id": "BackfillNoneStrategy",
      "description": "Backfill strategy to disable automatic backfill for the Stream's objects."
    },
    "ListConnectionProfilesResponse": {
      "type": "object",
      "properties": {
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListConnectionProfilesResponse"
    },
    "MysqlProfile": {
      "properties": {
        "port": {
          "type": "integer",
          "description": "Port for the MySQL connection, default value is 3306.",
          "format": "int32"
        },
        "username": {
          "description": "Required. Username for the MySQL connection.",
          "type": "string"
        },
        "hostname": {
          "type": "string",
          "description": "Required. Hostname for the MySQL connection."
        },
        "password": {
          "description": "Required. Input only. Password for the MySQL connection.",
          "type": "string"
        },
        "sslConfig": {
          "$ref": "MysqlSslConfig",
          "description": "SSL configuration for the MySQL connection."
        }
      },
      "type": "object",
      "id": "MysqlProfile",
      "description": "MySQL database profile."
    },
    "SourceObjectIdentifier": {
      "properties": {
        "mysqlIdentifier": {
          "$ref": "MysqlObjectIdentifier",
          "description": "Mysql data source object identifier."
        },
        "oracleIdentifier": {
          "$ref": "OracleObjectIdentifier",
          "description": "Oracle data source object identifier."
        }
      },
      "type": "object",
      "id": "SourceObjectIdentifier",
      "description": "Represents an identifier of an object in the data source."
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "properties": {
        "reason": {
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        },
        "metadata": {
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "OracleProfile": {
      "type": "object",
      "properties": {
        "port": {
          "description": "Port for the Oracle connection, default value is 1521.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "Required. Username for the Oracle connection.",
          "type": "string"
        },
        "connectionAttributes": {
          "description": "Connection string attributes",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle connection.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Required. Password for the Oracle connection."
        },
        "databaseService": {
          "description": "Required. Database for the Oracle connection.",
          "type": "string"
        }
      },
      "id": "OracleProfile",
      "description": "Oracle database profile."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "type": "object"
    },
    "GcsProfile": {
      "id": "GcsProfile",
      "description": "Cloud Storage bucket profile.",
      "type": "object",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "Required. The full project and resource path for Cloud Storage bucket including the name."
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        }
      }
    },
    "MysqlColumn": {
      "properties": {
        "dataType": {
          "type": "string",
          "description": "The MySQL data type. Full data types list can be found here: https://dev.mysql.com/doc/refman/8.0/en/data-types.html"
        },
        "collation": {
          "description": "Column collation.",
          "type": "string"
        },
        "length": {
          "type": "integer",
          "description": "Column length.",
          "format": "int32"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "format": "int32",
          "type": "integer"
        },
        "columnName": {
          "type": "string",
          "description": "Column name."
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "MysqlColumn",
      "description": "MySQL Column."
    },
    "PreconditionFailureViolation": {
      "id": "PreconditionFailureViolation",
      "description": "A message type used to describe a single precondition failure.",
      "properties": {
        "subject": {
          "type": "string",
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
        },
        "description": {
          "type": "string",
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\"."
        },
        "type": {
          "type": "string",
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
        }
      },
      "type": "object"
    },
    "RequestInfo": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        },
        "servingData": {
          "type": "string",
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging."
        }
      },
      "id": "RequestInfo",
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback."
    },
    "RetryInfo": {
      "id": "RetryInfo",
      "description": "Describes when the clients can retry a failed request. Clients could ignore the recommendation here or retry when this information is missing from error responses. It's always recommended that clients should use exponential backoff when retrying. Clients should wait until `retry_delay` amount of time has passed since receiving the error response before retrying. If retrying requests also fail, clients should use an exponential backoff scheme to gradually increase the delay between retries based on `retry_delay`, until either a maximum number of retries have been reached or a maximum retry delay cap has been reached.",
      "type": "object",
      "properties": {
        "retryDelay": {
          "description": "Clients should wait at least this long between retrying the same request.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "FetchErrorsRequest": {
      "id": "FetchErrorsRequest",
      "description": "Request message for 'FetchErrors' request.",
      "properties": {},
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "OracleRdbms": {
      "properties": {
        "oracleSchemas": {
          "items": {
            "$ref": "OracleSchema"
          },
          "type": "array",
          "description": "Oracle schemas/databases in the database server."
        }
      },
      "type": "object",
      "id": "OracleRdbms",
      "description": "Oracle database structure."
    },
    "QuotaFailureViolation": {
      "properties": {
        "quotaId": {
          "type": "string",
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\"."
        },
        "quotaDimensions": {
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "quotaValue": {
          "type": "string",
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity.",
          "format": "int64"
        },
        "apiService": {
          "type": "string",
          "description": "The API Service from which the `QuotaFailure.Violation` originates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\"."
        },
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "quotaMetric": {
          "type": "string",
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\"."
        },
        "subject": {
          "type": "string",
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\"."
        },
        "futureQuotaValue": {
          "type": "string",
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "QuotaFailureViolation",
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded."
    },
    "StaticServiceIpConnectivity": {
      "properties": {},
      "type": "object",
      "id": "StaticServiceIpConnectivity",
      "description": "Static IP address connectivity."
    },
    "DropLargeObjects": {
      "properties": {},
      "type": "object",
      "id": "DropLargeObjects",
      "description": "Configuration to drop large object values."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "Help": {
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "URL(s) pointing to additional information on handling the current error."
        }
      },
      "type": "object",
      "id": "Help",
      "description": "Provides links to documentation or for performing an out of band action. For example, if a quota check failed with an error indicating the calling project hasn't enabled the accessed service, this can contain a URL pointing directly to the right place in the developer console to flip the bit."
    },
    "ResourceInfo": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED."
        },
        "resourceType": {
          "type": "string",
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\"."
        },
        "description": {
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project.",
          "type": "string"
        },
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceInfo",
      "description": "Describes the resource that is being accessed."
    },
    "LocalizedMessage": {
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object",
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        }
      }
    },
    "ValidationResult": {
      "type": "object",
      "properties": {
        "validations": {
          "description": "A list of validations (includes both executed as well as not executed validations).",
          "items": {
            "$ref": "Validation"
          },
          "type": "array"
        }
      },
      "id": "ValidationResult",
      "description": "Contains the current validation results."
    },
    "ListRoutesResponse": {
      "id": "ListRoutesResponse",
      "description": "route list response",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "routes": {
          "type": "array",
          "items": {
            "$ref": "Route"
          },
          "description": "List of Routes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "DestinationConfig": {
      "id": "DestinationConfig",
      "description": "The configuration of the stream destination.",
      "properties": {
        "gcsDestinationConfig": {
          "$ref": "GcsDestinationConfig",
          "description": "GCS destination configuration."
        },
        "destinationConnectionProfileName": {
          "type": "string",
          "description": "Required. Destination connection profile identifier."
        }
      },
      "type": "object"
    },
    "JsonFileFormat": {
      "properties": {
        "schemaFileFormat": {
          "type": "string",
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ],
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ],
          "description": "The schema file format along JSON data files."
        },
        "compression": {
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ],
          "type": "string",
          "description": "Compression of the loaded JSON file.",
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ]
        }
      },
      "type": "object",
      "id": "JsonFileFormat",
      "description": "JSON file format configuration."
    },
    "MysqlSourceConfig": {
      "type": "object",
      "properties": {
        "allowlist": {
          "$ref": "MysqlRdbms",
          "description": "MySQL objects to retrieve from the source."
        },
        "rejectlist": {
          "$ref": "MysqlRdbms",
          "description": "MySQL objects to exclude from the stream."
        }
      },
      "id": "MysqlSourceConfig",
      "description": "MySQL source configuration"
    },
    "StopBackfillJobResponse": {
      "type": "object",
      "properties": {
        "object": {
          "description": "The stream object resource the backfill job was stopped for.",
          "$ref": "StreamObject"
        }
      },
      "id": "StopBackfillJobResponse",
      "description": "Response for manually stop a backfill job for a specific stream object."
    },
    "Link": {
      "id": "Link",
      "description": "Describes a URL link.",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiscoverConnectionProfileRequest": {
      "type": "object",
      "properties": {
        "mysqlRdbms": {
          "$ref": "MysqlRdbms",
          "description": "MySQL RDBMS to enrich with child data objects and metadata."
        },
        "recursive": {
          "type": "boolean",
          "description": "Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE)."
        },
        "recursionDepth": {
          "description": "The number of hierarchy levels below the current level to be retrieved.",
          "format": "int32",
          "type": "integer"
        },
        "connectionProfile": {
          "description": "An ad-hoc ConnectionProfile configuration.",
          "$ref": "ConnectionProfile"
        },
        "oracleRdbms": {
          "description": "Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "connectionProfileName": {
          "description": "A reference to an existing ConnectionProfile.",
          "type": "string"
        }
      },
      "id": "DiscoverConnectionProfileRequest",
      "description": "Request message for 'discover' ConnectionProfile request."
    },
    "FetchStaticIpsResponse": {
      "id": "FetchStaticIpsResponse",
      "description": "Response message for a 'FetchStaticIps' response.",
      "type": "object",
      "properties": {
        "staticIps": {
          "description": "list of static ips by account",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "FetchErrorsResponse": {
      "id": "FetchErrorsResponse",
      "description": "Response message for a 'FetchErrors' response.",
      "properties": {
        "errors": {
          "description": "The list of errors on the Stream.",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StreamObject": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. Active errors on the object.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation time of the object.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The object's name.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last update time of the object.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "backfillJob": {
          "$ref": "BackfillJob",
          "description": "The latest backfill job that was initiated for the stream object."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "sourceObject": {
          "description": "The object identifier in the data source.",
          "$ref": "SourceObjectIdentifier"
        }
      },
      "type": "object",
      "id": "StreamObject",
      "description": "A specific stream object (e.g a specific DB table)."
    },
    "GcsDestinationConfig": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path inside the Cloud Storage bucket to write data to."
        },
        "gcsFileFormat": {
          "enum": [
            "GCS_FILE_FORMAT_UNSPECIFIED",
            "AVRO"
          ],
          "enumDescriptions": [
            "Unspecified Cloud Storage file format.",
            "Avro file format"
          ],
          "description": "File format that data should be written in. Deprecated field (b/169501737) - use file_format instead.",
          "type": "string",
          "deprecated": true
        },
        "fileRotationInterval": {
          "type": "string",
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created.",
          "format": "google-duration"
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        },
        "fileRotationMb": {
          "description": "The maximum file size to be saved in the bucket.",
          "format": "int32",
          "type": "integer"
        },
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        }
      },
      "id": "GcsDestinationConfig",
      "description": "Google Cloud Storage destination configuration"
    },
    "AvroFileFormat": {
      "id": "AvroFileFormat",
      "description": "AVRO file format configuration.",
      "type": "object",
      "properties": {}
    },
    "ConnectionProfile": {
      "id": "ConnectionProfile",
      "type": "object",
      "properties": {
        "oracleProfile": {
          "$ref": "OracleProfile",
          "description": "Oracle ConnectionProfile configuration."
        },
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels."
        },
        "mysqlProfile": {
          "$ref": "MysqlProfile",
          "description": "MySQL ConnectionProfile configuration."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource's name.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "noConnectivity": {
          "$ref": "NoConnectivitySettings",
          "description": "No connectivity option chosen."
        },
        "gcsProfile": {
          "$ref": "GcsProfile",
          "description": "Cloud Storage ConnectionProfile configuration."
        },
        "staticServiceIpConnectivity": {
          "$ref": "StaticServiceIpConnectivity",
          "description": "Static Service IP connectivity."
        }
      }
    },
    "PrivateConnection": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource's name.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "vpcPeeringConfig": {
          "$ref": "VpcPeeringConfig",
          "description": "VPC Peering Config"
        },
        "state": {
          "enumDescriptions": [
            "",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ],
          "description": "Output only. The state of the Private Connection.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels."
        },
        "error": {
          "description": "Output only. In case of error, the details of the error in a user-friendly format.",
          "readOnly": true,
          "$ref": "Error"
        }
      },
      "id": "PrivateConnection",
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network."
    },
    "OracleTable": {
      "type": "object",
      "properties": {
        "tableName": {
          "description": "Table name.",
          "type": "string"
        },
        "oracleColumns": {
          "description": "Oracle columns in the schema. When unspecified as part of inclue/exclude lists, includes/excludes everything.",
          "items": {
            "$ref": "OracleColumn"
          },
          "type": "array"
        }
      },
      "id": "OracleTable",
      "description": "Oracle table."
    },
    "QuotaFailure": {
      "properties": {
        "violations": {
          "items": {
            "$ref": "QuotaFailureViolation"
          },
          "type": "array",
          "description": "Describes all quota violations."
        }
      },
      "type": "object",
      "id": "QuotaFailure",
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure."
    },
    "BackfillAllStrategy": {
      "type": "object",
      "properties": {
        "oracleExcludedObjects": {
          "$ref": "OracleRdbms",
          "description": "Oracle data source objects to avoid backfilling."
        },
        "mysqlExcludedObjects": {
          "$ref": "MysqlRdbms",
          "description": "MySQL data source objects to avoid backfilling."
        }
      },
      "id": "BackfillAllStrategy",
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded."
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "type": "object",
      "properties": {
        "privateConnections": {
          "description": "List of private connectivity configurations.",
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "MysqlRdbms": {
      "id": "MysqlRdbms",
      "description": "MySQL database structure",
      "type": "object",
      "properties": {
        "mysqlDatabases": {
          "items": {
            "$ref": "MysqlDatabase"
          },
          "type": "array",
          "description": "Mysql databases on the server"
        }
      }
    },
    "Route": {
      "id": "Route",
      "description": "The Route resource is the child of the PrivateConnection resource. It used to define a route for a PrivateConnection setup.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels."
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Stream": {
      "properties": {
        "destinationConfig": {
          "description": "Required. Destination connection profile configuration.",
          "$ref": "DestinationConfig"
        },
        "labels": {
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Required. Source connection profile configuration."
        },
        "errors": {
          "description": "Output only. Errors on the Stream.",
          "readOnly": true,
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "customerManagedEncryptionKey": {
          "description": "Immutable. A reference to a KMS encryption key. If provided, it will be used to encrypt the data. If left blank, data will be encrypted using an internal Stream-specific encryption key provisioned through KMS.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation time of the stream.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The stream's name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update time of the stream.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "PAUSED",
            "MAINTENANCE",
            "FAILED",
            "FAILED_PERMANENTLY",
            "STARTING",
            "DRAINING"
          ],
          "enumDescriptions": [
            "Unspecified stream state.",
            "The stream has been created.",
            "The stream is running.",
            "The stream is paused.",
            "The stream is in maintenance mode. Updates are rejected on the resource in this state.",
            "The stream is experiencing an error that is preventing data from being streamed.",
            "The stream has experienced a terminal failure.",
            "The stream is starting, but not yet running.",
            "The Stream is no longer reading new events, but still writing events in the buffer."
          ],
          "description": "The state of the stream."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name."
        },
        "backfillNone": {
          "$ref": "BackfillNoneStrategy",
          "description": "Do not automatically backfill any objects."
        },
        "backfillAll": {
          "description": "Automatically backfill objects included in the stream source configuration. Specific objects can be excluded.",
          "$ref": "BackfillAllStrategy"
        }
      },
      "type": "object",
      "id": "Stream"
    },
    "PreconditionFailure": {
      "id": "PreconditionFailure",
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "type": "array",
          "description": "Describes all precondition violations."
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "SourceConfig": {
      "properties": {
        "mysqlSourceConfig": {
          "$ref": "MysqlSourceConfig",
          "description": "MySQL data source configuration"
        },
        "sourceConnectionProfileName": {
          "type": "string",
          "description": "Required. Source connection profile identifier."
        },
        "oracleSourceConfig": {
          "$ref": "OracleSourceConfig",
          "description": "Oracle data source configuration"
        }
      },
      "type": "object",
      "id": "SourceConfig",
      "description": "The configuration of the stream source."
    },
    "ValidationMessage": {
      "id": "ValidationMessage",
      "description": "Represent user-facing validation result message.",
      "properties": {
        "message": {
          "description": "The result of the validation.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional metadata related to the result."
        },
        "level": {
          "type": "string",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ],
          "description": "Message severity level (warning or error)."
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StartBackfillJobResponse": {
      "type": "object",
      "properties": {
        "object": {
          "$ref": "StreamObject",
          "description": "The stream object resource a backfill job was started for."
        }
      },
      "id": "StartBackfillJobResponse",
      "description": "Response for manually initiating a backfill job for a specific stream object."
    },
    "MysqlObjectIdentifier": {
      "type": "object",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        }
      },
      "id": "MysqlObjectIdentifier",
      "description": "Mysql data source object identifier."
    },
    "OracleSourceConfig": {
      "id": "OracleSourceConfig",
      "description": "Oracle data source configuration",
      "type": "object",
      "properties": {
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "DropLargeObjects"
        },
        "allowlist": {
          "$ref": "OracleRdbms",
          "description": "Oracle objects to include in the stream."
        },
        "rejectlist": {
          "$ref": "OracleRdbms",
          "description": "Oracle objects to exclude from the stream."
        }
      }
    },
    "OracleColumn": {
      "id": "OracleColumn",
      "description": "Oracle Column.",
      "type": "object",
      "properties": {
        "columnName": {
          "description": "Column name.",
          "type": "string"
        },
        "precision": {
          "type": "integer",
          "description": "Column precision.",
          "format": "int32"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "type": "integer",
          "description": "The ordinal position of the column in the table.",
          "format": "int32"
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "dataType": {
          "description": "The Oracle data type.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "Column encoding."
        },
        "length": {
          "description": "Column length.",
          "format": "int32",
          "type": "integer"
        },
        "scale": {
          "type": "integer",
          "description": "Column scale.",
          "format": "int32"
        }
      }
    },
    "MysqlTable": {
      "id": "MysqlTable",
      "description": "MySQL table.",
      "properties": {
        "tableName": {
          "type": "string",
          "description": "Table name."
        },
        "mysqlColumns": {
          "type": "array",
          "items": {
            "$ref": "MysqlColumn"
          },
          "description": "MySQL columns in the database. When unspecified as part of include/exclude lists, includes/excludes everything."
        }
      },
      "type": "object"
    },
    "Validation": {
      "properties": {
        "description": {
          "description": "A short description of the validation.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "A custom code identifying this validation."
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "Validation did not execute.",
            "Validation failed.",
            "Validation passed."
          ],
          "description": "Validation execution status.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_EXECUTED",
            "FAILED",
            "PASSED"
          ]
        },
        "message": {
          "items": {
            "$ref": "ValidationMessage"
          },
          "type": "array",
          "description": "Messages reflecting the validation results."
        }
      },
      "type": "object",
      "id": "Validation"
    },
    "ListStreamObjectsResponse": {
      "id": "ListStreamObjectsResponse",
      "description": "Response containing the objects for a stream.",
      "type": "object",
      "properties": {
        "streamObjects": {
          "description": "List of stream objects.",
          "items": {
            "$ref": "StreamObject"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      }
    },
    "BadRequest": {
      "properties": {
        "fieldViolations": {
          "items": {
            "$ref": "FieldViolation"
          },
          "type": "array",
          "description": "Describes all violations in a client request."
        }
      },
      "type": "object",
      "id": "BadRequest",
      "description": "Describes violations in a client request. This error type focuses on the syntactic aspects of the request."
    },
    "FieldViolation": {
      "id": "FieldViolation",
      "description": "A message type used to describe a single bad request field.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason of the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE."
        },
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "field": {
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message.",
          "type": "string"
        },
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        }
      }
    },
    "NoConnectivitySettings": {
      "type": "object",
      "properties": {},
      "id": "NoConnectivitySettings",
      "description": "No connectivity settings."
    },
    "OracleSchema": {
      "id": "OracleSchema",
      "description": "Oracle schema.",
      "properties": {
        "oracleTables": {
          "type": "array",
          "items": {
            "$ref": "OracleTable"
          },
          "description": "Tables in the schema."
        },
        "schemaName": {
          "description": "Schema name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Error": {
      "id": "Error",
      "description": "Represent a user-facing Error.",
      "properties": {
        "errorUuid": {
          "description": "A unique identifier for this specific error, allowing it to be traced throughout the system in logs and API responses.",
          "type": "string"
        },
        "errorTime": {
          "description": "The time when the error occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional information about the error."
        },
        "message": {
          "description": "A message containing more information about the error that occurred.",
          "type": "string"
        },
        "reason": {
          "description": "A title that explains the reason for the error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "baseUrl": "https://datastream.googleapis.com/",
  "mtlsRootUrl": "https://datastream.mtls.googleapis.com/",
  "name": "datastream",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1alpha1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                }
              },
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datastream.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "fetchStaticIps": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datastream.projects.locations.fetchStaticIps",
              "description": "The FetchStaticIps API call exposes the static IP addresses used by Datastream.",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}:fetchStaticIps",
              "deprecated": true,
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListStaticIps` call. will likely not be specified."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of Ips to return, will likely not be specified.",
                  "format": "int32"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name resource of the Response type. Must be in the format `projects/*/locations/*`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "FetchStaticIpsResponse"
              },
              "path": "v1alpha1/{+name}:fetchStaticIps",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "datastream.projects.locations.get",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datastream.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1alpha1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "streams": {
              "methods": {
                "list": {
                  "parameters": {
                    "orderBy": {
                      "description": "Order by fields for the result.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Page token received from a previous `ListStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreams` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent that owns the collection of streams.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter request."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of streams to return. If unspecified, at most 50 streams will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListStreamsResponse"
                  },
                  "path": "v1alpha1/{+parent}/streams",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datastream.projects.locations.streams.list",
                  "description": "Use this method to list streams in a project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "deprecated": true,
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the stream resource to get."
                    }
                  },
                  "response": {
                    "$ref": "Stream"
                  },
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datastream.projects.locations.streams.get",
                  "description": "Use this method to get details about a stream.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "deprecated": true,
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}"
                },
                "delete": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "deprecated": true,
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.streams.delete",
                  "description": "Use this method to delete a stream.",
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the stream resource to delete.",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the stream with the changes, without actually updating it. The default is false.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "Output only. The stream's name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the stream resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Execute the update without validating it."
                    }
                  },
                  "request": {
                    "$ref": "Stream"
                  },
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.streams.patch",
                  "description": "Use this method to update the configuration of a stream.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}",
                  "httpMethod": "PATCH",
                  "deprecated": true
                },
                "fetchErrors": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "stream": {
                      "description": "Name of the Stream resource for which to fetch any errors.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "FetchErrorsRequest"
                  },
                  "path": "v1alpha1/{+stream}:fetchErrors",
                  "parameterOrder": [
                    "stream"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.streams.fetchErrors",
                  "description": "Use this method to fetch any errors associated with a stream.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}:fetchErrors",
                  "httpMethod": "POST",
                  "deprecated": true
                },
                "create": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams",
                  "httpMethod": "POST",
                  "deprecated": true,
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datastream.projects.locations.streams.create",
                  "description": "Use this method to create a stream.",
                  "request": {
                    "$ref": "Stream"
                  },
                  "path": "v1alpha1/{+parent}/streams",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "streamId": {
                      "description": "Required. The stream identifier.",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Create the stream without validating it."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent that owns the collection of streams.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. Only validate the stream, but do not create any resources. The default is false.",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                }
              },
              "resources": {
                "objects": {
                  "methods": {
                    "startBackfillJob": {
                      "id": "datastream.projects.locations.streams.objects.startBackfillJob",
                      "description": "Starts backfill job for the specified stream object.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "deprecated": true,
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:startBackfillJob",
                      "response": {
                        "$ref": "StartBackfillJobResponse"
                      },
                      "parameters": {
                        "object": {
                          "description": "Required. The name of the stream object resource to start a backfill job for.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1alpha1/{+object}:startBackfillJob",
                      "parameterOrder": [
                        "object"
                      ]
                    },
                    "list": {
                      "id": "datastream.projects.locations.streams.objects.list",
                      "description": "Use this method to list the objects of a specific stream.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "deprecated": true,
                      "httpMethod": "GET",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent stream that owns the collection of objects.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Maximum number of objects to return. Default is 50. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token received from a previous `ListStreamObjectsRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStreamObjectsRequest` must match the call that provided the page token."
                        }
                      },
                      "response": {
                        "$ref": "ListStreamObjectsResponse"
                      },
                      "path": "v1alpha1/{+parent}/objects",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "id": "datastream.projects.locations.streams.objects.get",
                      "description": "Use this method to get details about a stream object.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "deprecated": true,
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}",
                      "response": {
                        "$ref": "StreamObject"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the stream object resource to get.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$"
                        }
                      },
                      "path": "v1alpha1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "stopBackfillJob": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datastream.projects.locations.streams.objects.stopBackfillJob",
                      "description": "Stops the backfill job for the specified stream object.",
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/streams/{streamsId}/objects/{objectsId}:stopBackfillJob",
                      "deprecated": true,
                      "httpMethod": "POST",
                      "parameters": {
                        "object": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/streams/[^/]+/objects/[^/]+$",
                          "description": "Required. The name of the stream object resource to stop the backfill job for.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "StopBackfillJobResponse"
                      },
                      "path": "v1alpha1/{+object}:stopBackfillJob",
                      "parameterOrder": [
                        "object"
                      ]
                    }
                  },
                  "deprecated": true
                }
              }
            },
            "privateConnections": {
              "resources": {
                "routes": {
                  "methods": {
                    "create": {
                      "id": "datastream.projects.locations.privateConnections.routes.create",
                      "description": "Use this method to create a route for a private connectivity in a project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "deprecated": true,
                      "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/privateConnections/{privateConnectionsId}/routes",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "routeId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The Route identifier."
                        },
                        "requestId": {
[...]
