{
  "description": "",
  "revision": "20260309",
  "discoveryVersion": "v1",
  "title": "Data Lineage API",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://datalineage.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://datalineage.googleapis.com/",
  "rootUrl": "https://datalineage.googleapis.com/",
  "version": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "endpointUrl": "https://datalineage.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://datalineage.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://datalineage.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://datalineage.europe-north3.rep.googleapis.com/",
      "location": "europe-north3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://datalineage.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://datalineage.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://datalineage.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://datalineage.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://datalineage.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://datalineage.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://datalineage.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://datalineage.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "schemas": {
    "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse",
      "description": "Response message for ProcessOpenLineageRunEvent.",
      "properties": {
        "run": {
          "type": "string",
          "description": "Created run name. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`."
        },
        "process": {
          "type": "string",
          "description": "Created process name. Format: `projects/{project}/locations/{location}/processes/{process}`."
        },
        "lineageEvents": {
          "description": "Created lineage event names. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion",
      "description": "Defines how Lineage should be ingested for a given resource.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule"
          },
          "description": "Optional. List of rules for Data Lineage ingestion.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinks": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinks",
      "description": "Links associated with a specific process.",
      "type": "object",
      "properties": {
        "process": {
          "description": "The process name in the format of `projects/{project}/locations/{location}/processes/{process}`.",
          "type": "string"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo"
          },
          "description": "An array containing link details objects of the links provided in the original request. A single process can result in creating multiple links. If any of the links you provide in the request are created by the same process, they all are included in this array."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response.",
          "type": "string"
        },
        "links": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Link"
          },
          "description": "The list of links for a given asset. Can be empty if the asset has no relations of requested type (source or target).",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksResponse",
      "description": "Response message for SearchLinks."
    },
    "GoogleCloudDatacatalogLineageV1ListRunsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages."
        },
        "runs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Run"
          },
          "description": "The runs from the specified project and location."
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1ListRunsResponse",
      "description": "Response message for ListRuns."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector": {
      "properties": {
        "integration": {
          "type": "string",
          "enum": [
            "INTEGRATION_UNSPECIFIED",
            "DATAPROC"
          ],
          "description": "Required. Integration to which the rule applies. This field can be used to specify the integration against which the ingestion rule should be applied.",
          "enumDescriptions": [
            "Integration is Unspecified",
            "Dataproc"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector",
      "description": "Integration selector of the rule. The rule is only applied to the Integration selected by the selector."
    },
    "GoogleCloudDatacatalogLineageV1OperationMetadata": {
      "id": "GoogleCloudDatacatalogLineageV1OperationMetadata",
      "description": "Metadata describing the operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp of the operation submission to the server.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current operation state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "The operation is no longer running and did not succeed."
          ]
        },
        "endTime": {
          "description": "Output only. The timestamp of the operation termination, regardless of its success. This field is unset if the operation is still ongoing.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "operationType": {
          "enumDescriptions": [
            "Unused.",
            "The resource deletion operation.",
            "The resource creation operation."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DELETE",
            "CREATE"
          ],
          "description": "Output only. The type of the operation being performed.",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "Output only. The [relative name] (https://cloud.google.com//apis/design/resource_names#relative_resource_name) of the resource being operated on.",
          "readOnly": true
        },
        "resourceUuid": {
          "description": "Output only. The UUID of the resource being operated on.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse": {
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse",
      "description": "Response message for BatchSearchLinkProcesses.",
      "properties": {
        "processLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinks"
          },
          "description": "An array of processes associated with the specified links."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1Link": {
      "id": "GoogleCloudDatacatalogLineageV1Link",
      "description": "Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are created when LineageEvents record data transformation between related assets.",
      "type": "object",
      "properties": {
        "source": {
          "description": "The pointer to the entity that is the **source** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the last event establishing this link.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The name of the link. Format: `projects/{project}/locations/{location}/links/{link}`.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the first event establishing this link."
        },
        "target": {
          "description": "The pointer to the entity that is the **target** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest": {
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest",
      "description": "Request message for BatchSearchLinkProcesses.",
      "type": "object",
      "properties": {
        "links": {
          "items": {
            "type": "string"
          },
          "description": "Required. An array of links to check for their associated LineageProcesses. The maximum number of items in this array is 100. If the request contains more than 100 links, it returns the `INVALID_ARGUMENT` error. Format: `projects/{project}/locations/{location}/links/{link}`.",
          "type": "array"
        },
        "pageToken": {
          "type": "string",
          "description": "The page token received from a previous `BatchSearchLinkProcesses` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request."
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of processes to return in a single page of the response. A page may contain fewer results than this value.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse": {
      "properties": {
        "lineageEvents": {
          "type": "array",
          "description": "Lineage events from the specified project and location.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
          }
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse",
      "description": "Response message for ListLineageEvents."
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksRequest": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksRequest",
      "description": "Request message for SearchLinks.",
      "properties": {
        "pageToken": {
          "description": "Optional. The page token received from a previous `SearchLinksRequest` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of links to return in a single page of the response. A page may contain fewer links than this value. If unspecified, at most 10 links are returned. Maximum value is 100; values greater than 100 are reduced to 100.",
          "type": "integer"
        },
        "source": {
          "description": "Optional. Send asset information in the **source** field to retrieve all links that lead from the specified asset to downstream assets.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "target": {
          "description": "Optional. Send asset information in the **target** field to retrieve all links that lead from upstream assets to the specified asset.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1ListProcessesResponse": {
      "properties": {
        "processes": {
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Process"
          },
          "description": "The processes from the specified project and location.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1ListProcessesResponse",
      "description": "Response message for ListProcesses."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule",
      "description": "Ingestion rule for Data Lineage ingestion.",
      "type": "object",
      "properties": {
        "integrationSelector": {
          "description": "Required. Integration selector of the rule. The rule is only applied to the Integration selected by the selector.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector"
        },
        "lineageEnablement": {
          "description": "Required. Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children. If unspecified, the ingestion will be enabled only if it was configured in the resource's parent.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatacatalogLineageV1Process": {
      "id": "GoogleCloudDatacatalogLineageV1Process",
      "description": "A process is the definition of a data transformation operation.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 200 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Optional. The attributes of the process. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the process). Up to 100 attributes are allowed."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
        },
        "origin": {
          "description": "Optional. The origin of this process and its runs and lineage events.",
          "$ref": "GoogleCloudDatacatalogLineageV1Origin"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1Origin": {
      "type": "object",
      "properties": {
        "name": {
          "description": "If the source_type isn't CUSTOM, the value of this field should be a Google Cloud resource name of the system, which reports lineage. The project and location parts of the resource name must match the project and location of the lineage resource being created. Examples: - `{source_type: COMPOSER, name: \"projects/foo/locations/us/environments/bar\"}` - `{source_type: BIGQUERY, name: \"projects/foo/locations/eu\"}` - `{source_type: CUSTOM, name: \"myCustomIntegration\"}`",
          "type": "string"
        },
        "sourceType": {
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CUSTOM",
            "BIGQUERY",
            "DATA_FUSION",
            "COMPOSER",
            "LOOKER_STUDIO",
            "DATAPROC",
            "VERTEX_AI"
          ],
          "description": "Type of the source. Use of a source_type other than `CUSTOM` for process creation or updating is highly discouraged. It might be restricted in the future without notice. There will be increase in cost if you use any of the source types other than `CUSTOM`.",
          "enumDescriptions": [
            "Source is Unspecified",
            "A custom source",
            "BigQuery",
            "Data Fusion",
            "Composer",
            "Looker Studio",
            "Dataproc",
            "Vertex AI"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1Origin",
      "description": "Origin of a process."
    },
    "GoogleCloudDatacatalogLineageV1LineageEvent": {
      "id": "GoogleCloudDatacatalogLineageV1LineageEvent",
      "description": "A lineage event represents an operation on assets. Within the operation, the data flows from the source to the target defined in the links field.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the lineage event. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`. Can be specified or auto-assigned. {lineage_event} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. The beginning of the transformation which resulted in this lineage event. For streaming scenarios, it should be the beginning of the period from which the lineage is being reported.",
          "type": "string"
        },
        "links": {
          "type": "array",
          "description": "Optional. List of source-target pairs. Can't contain more than 100 tuples.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EventLink"
          }
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. The end of the transformation which resulted in this lineage event. For streaming scenarios, it should be the end of the period from which the lineage is being reported.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement",
      "description": "Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. If true, ingestion of lineage should be enabled. If false, it should be disabled. If unspecified, the system default value is used."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinkInfo": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo",
      "description": "Link details.",
      "type": "object",
      "properties": {
        "link": {
          "description": "The name of the link in the format of `projects/{project}/locations/{location}/links/{link}`.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the last event establishing this link-process tuple.",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "The start of the first event establishing this link-process tuple.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1Config": {
      "properties": {
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a config from overwriting each other. It is required that systems make use of the `etag` in the read-modify-write cycle to perform config updates in order to avoid race conditions: An `etag` is returned in the response to `GetConfig`, and systems are expected to put that etag in the request to `UpdateConfig` to ensure that their change will be applied to the same version of the config. If an `etag` is not provided in the call to `UpdateConfig`, then the existing config, if any, will be overwritten.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`"
        },
        "ingestion": {
          "description": "Optional. Ingestion rule for Data Lineage ingestion.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1Config",
      "description": "Configuration for Data Lineage. Defines different configuration options for Lineage customers to control behaviour of lineage systems."
    },
    "GoogleCloudDatacatalogLineageV1EntityReference": {
      "id": "GoogleCloudDatacatalogLineageV1EntityReference",
      "description": "The soft reference to everything you can attach a lineage event to.",
      "type": "object",
      "properties": {
        "fullyQualifiedName": {
          "type": "string",
          "description": "Required. [Fully Qualified Name (FQN)](https://cloud.google.com/dataplex/docs/fully-qualified-names) of the entity."
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudDatacatalogLineageV1EventLink": {
      "properties": {
        "source": {
          "description": "Required. Reference to the source entity",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "target": {
          "description": "Required. Reference to the target entity",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatacatalogLineageV1EventLink",
      "description": "A lineage between source and target entities."
    },
    "GoogleCloudDatacatalogLineageV1Run": {
      "id": "GoogleCloudDatacatalogLineageV1Run",
      "description": "A lineage run represents an execution of a process that creates lineage events.",
      "properties": {
        "displayName": {
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 1024 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The timestamp of the end of the run."
        },
        "name": {
          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "STARTED",
            "COMPLETED",
            "FAILED",
            "ABORTED"
          ],
          "description": "Required. The state of the run.",
          "enumDescriptions": [
            "The state is unknown. The true state may be any of the below or a different state that is not supported here explicitly.",
            "The run is still executing.",
            "The run completed.",
            "The run failed.",
            "The run aborted."
          ]
        },
        "attributes": {
          "description": "Optional. The attributes of the run. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the run). Up to 100 attributes are allowed.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "startTime": {
          "type": "string",
          "description": "Required. The timestamp of the start of the run.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/data-catalog",
  "version_module": true,
  "id": "datalineage:v1",
  "name": "datalineage",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "searchLinks": {
              "id": "datalineage.projects.locations.searchLinks",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve a list of links connected to a specific asset. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. You can retrieve links in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "httpMethod": "POST",
              "path": "v1/{+parent}:searchLinks",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The project and location you want search in.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLinks"
            },
            "processOpenLineageRunEvent": {
              "id": "datalineage.projects.locations.processOpenLineageRunEvent",
              "httpMethod": "POST",
              "request": {
                "type": "object",
                "additionalProperties": {
                  "type": "any",
                  "description": "Properties of the object."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates new lineage events together with their parents: process and run. Updates the process and run if they already exist. Mapped from Open Lineage specification: https://github.com/OpenLineage/OpenLineage/blob/main/spec/OpenLineage.json.",
              "path": "v1/{+parent}:processOpenLineageRunEvent",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The name of the project and its location that should own the process, run, and lineage event.",
                  "required": true
                },
                "requestId": {
                  "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:processOpenLineageRunEvent",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchSearchLinkProcesses": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The project and location where you want to search.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:batchSearchLinkProcesses",
              "id": "datalineage.projects.locations.batchSearchLinkProcesses",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve information about LineageProcesses associated with specific links. LineageProcesses are transformation pipelines that result in data flowing from **source** to **target** assets. Links between assets represent this operation. If you have specific link names, you can use this method to verify which LineageProcesses contribute to creating those links. See the SearchLinks method for more information on how to retrieve link name. You can retrieve the LineageProcess information in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "httpMethod": "POST",
              "path": "v1/{+parent}:batchSearchLinkProcesses",
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse"
              }
            }
          },
          "resources": {
            "processes": {
              "methods": {
                "get": {
                  "id": "datalineage.projects.locations.processes.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of the specified process.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the process to get.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the process to delete.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "type": "string"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true and the process is not found, the request succeeds but the server doesn't perform any actions."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the process with the specified name.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalineage.projects.locations.processes.delete"
                },
                "create": {
                  "path": "v1/{+parent}/processes",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new process.",
                  "id": "datalineage.projects.locations.processes.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the project and its location that should own the process.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "type": "string",
                      "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The list of fields to update. Currently not used. The whole message is updated."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                    },
                    "allowMissing": {
                      "description": "If set to true and the process is not found, the request inserts it.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a process.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "id": "datalineage.projects.locations.processes.patch"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List processes in the given project and location. List order is descending by insertion time.",
                  "path": "v1/{+parent}/processes",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1ListProcessesResponse"
                  },
                  "id": "datalineage.projects.locations.processes.list",
                  "parameters": {
                    "pageToken": {
                      "description": "The page token received from a previous `ListProcesses` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of processes to return. The service may return fewer than this value. If unspecified, at most 50 processes are returned. The maximum value is 100; values greater than 100 are cut to 100."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the project and its location that owns this collection of processes.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "runs": {
                  "methods": {
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "allowMissing": {
                          "type": "boolean",
                          "location": "query",
                          "description": "If set to true and the run is not found, the request creates it."
                        },
                        "name": {
                          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "The list of fields to update. Currently not used. The whole message is updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a run.",
                      "id": "datalineage.projects.locations.processes.runs.patch"
                    },
                    "list": {
                      "id": "datalineage.projects.locations.processes.runs.list",
                      "path": "v1/{+parent}/runs",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1ListRunsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists runs in the given project and location. List order is descending by `start_time`.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "description": "Required. The name of process that owns this collection of runs.",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The page token received from a previous `ListRuns` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of runs to return. The service may return fewer than this value. If unspecified, at most 50 runs are returned. The maximum value is 100; values greater than 100 are cut to 100."
                        }
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the details of the specified run.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "id": "datalineage.projects.locations.processes.runs.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the run to get.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the run to delete.",
                          "required": true,
                          "location": "path"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "location": "query",
                          "description": "If set to true and the run is not found, the request succeeds but the server doesn't perform any actions."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "datalineage.projects.locations.processes.runs.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the run with the specified name.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "create": {
                      "path": "v1/{+parent}/runs",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new run.",
                      "httpMethod": "POST",
                      "id": "datalineage.projects.locations.processes.runs.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The name of the process that should own the run.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                        }
                      }
                    }
                  },
                  "resources": {
                    "lineageEvents": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a specified lineage event.",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.get",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "description": "Required. The name of the lineage event to get.",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the lineage event to delete.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "allowMissing": {
                              "description": "If set to true and the lineage event is not found, the request succeeds but the server doesn't perform any actions.",
                              "type": "boolean",
                              "location": "query"
                            }
                          },
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes the lineage event with the specified name.",
                          "httpMethod": "DELETE",
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.delete"
                        },
                        "list": {
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of lineage events to return. The service may return fewer events than this value. If unspecified, at most 50 events are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "The page token received from a previous `ListLineageEvents` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "description": "Required. The name of the run that owns the collection of lineage events to get.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists lineage events in the given project and location. The list order is not defined.",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/lineageEvents",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse"
                          }
                        },
                        "create": {
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.create",
                          "path": "v1/{+parent}/lineageEvents",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "request": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a new lineage event.",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The name of the run that should own the lineage event.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "type": "string"
                            },
                            "requestId": {
                              "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "config": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get the Config for a given resource.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.projects.locations.config.get",
                  "parameters": {
                    "name": {
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update the Config for a given resource.",
                  "httpMethod": "PATCH",
                  "id": "datalineage.projects.locations.config.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalineage.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "delete": {
                  "id": "datalineage.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "id": "datalineage.projects.locations.operations.cancel"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "datalineage.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$",
                      "type": "string",
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get the Config for a given resource.",
                  "id": "datalineage.organizations.locations.config.get"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update the Config for a given resource.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.organizations.locations.config.patch"
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/config$",
                      "type": "string",
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datalineage.folders.locations.config.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get the Config for a given resource.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  }
                },
                "patch": {
                  "id": "datalineage.folders.locations.config.patch",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update the Config for a given resource.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/locations/[^/]+/config$",
                      "type": "string",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Datalineage"
}