{
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "version_module": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "evaluations": {
          "methods": {
            "search": {
              "path": "v1beta1/{+parent}/evaluations:search",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\"",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\"",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              },
              "description": "Searches evaluations within a project.",
              "id": "datalabeling.projects.evaluations.search",
              "httpMethod": "GET"
            }
          }
        },
        "instructions": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              },
              "id": "datalabeling.projects.instructions.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter is not supported at this moment.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer"
                }
              },
              "path": "v1beta1/{+parent}/instructions",
              "description": "Lists instructions for a project. Pagination is supported."
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "description": "Creates an instruction for how data should be labeled.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1beta1/{+parent}/instructions",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "httpMethod": "POST",
              "id": "datalabeling.projects.instructions.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "parameters": {
                "name": {
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes an instruction object by resource name.",
              "id": "datalabeling.projects.instructions.delete"
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              },
              "description": "Gets an instruction by resource name.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.instructions.get",
              "parameters": {
                "name": {
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation's parent resource."
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The standard list page size."
                }
              },
              "id": "datalabeling.projects.operations.list",
              "path": "v1beta1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "delete": {
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "datalabeling.projects.operations.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE"
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.operations.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET"
            },
            "cancel": {
              "path": "v1beta1/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "datalabeling.projects.operations.cancel",
              "httpMethod": "GET",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              }
            }
          }
        },
        "datasets": {
          "methods": {
            "list": {
              "path": "v1beta1/{+parent}/datasets",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. Filter on dataset is not supported at this moment.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists datasets under a project. Pagination is supported.",
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "id": "datalabeling.projects.datasets.list",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.datasets.delete",
              "description": "Deletes a dataset by resource name."
            },
            "get": {
              "httpMethod": "GET",
              "id": "datalabeling.projects.datasets.get",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "path": "v1beta1/{+name}",
              "description": "Gets dataset by resource name.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}"
            },
            "exportData": {
              "parameters": {
                "name": {
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Exports data and annotations from dataset.",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "path": "v1beta1/{+name}:exportData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "id": "datalabeling.projects.datasets.exportData"
            },
            "importData": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData",
              "httpMethod": "POST",
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.",
              "id": "datalabeling.projects.datasets.importData",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              },
              "path": "v1beta1/{+name}:importData"
            },
            "create": {
              "path": "v1beta1/{+parent}/datasets",
              "description": " Creates dataset. If success return a Dataset resource.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.datasets.create",
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              }
            }
          },
          "resources": {
            "evaluations": {
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\"",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "description": " Gets an evaluation by resource name (to search, use projects.evaluations.search).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datalabeling.projects.datasets.evaluations.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  }
                }
              }
            },
            "dataItems": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                      "type": "string"
                    }
                  },
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "id": "datalabeling.projects.datasets.dataItems.get",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "id": "datalabeling.projects.datasets.dataItems.list",
                  "path": "v1beta1/{+parent}/dataItems",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter is not supported at this moment."
                    },
                    "parent": {
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                    }
                  }
                }
              }
            },
            "text": {
              "methods": {
                "label": {
                  "path": "v1beta1/{+parent}/text:label",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request.",
                  "httpMethod": "POST",
                  "id": "datalabeling.projects.datasets.text.label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
                    }
                  }
                }
              }
            },
            "video": {
              "methods": {
                "label": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "id": "datalabeling.projects.datasets.video.label",
                  "path": "v1beta1/{+parent}/video:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  }
                }
              }
            },
            "image": {
              "methods": {
                "label": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label",
                  "path": "v1beta1/{+parent}/image:label",
                  "id": "datalabeling.projects.datasets.image.label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": " Starts a labeling task for image. The type of image labeling task is configured by feature in the request."
                }
              }
            },
            "annotatedDatasets": {
              "methods": {
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  },
                  "path": "v1beta1/{+name}",
                  "description": "Gets an annotated dataset by resource name.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes an annotated dataset by resource name.",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$"
                    }
                  },
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter is not supported at this moment."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists annotated datasets for a dataset. Pagination is supported.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets"
                }
              },
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "description": "Lists examples in an annotated dataset. Pagination is supported.",
                      "path": "v1beta1/{+parent}/examples",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Example resource parent.",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}",
                      "httpMethod": "GET",
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "parameters": {
                        "filter": {
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      }
                    }
                  }
                },
                "feedbackThreads": {
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "list": {
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "parameters": {
                            "pageSize": {
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\"",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          },
                          "description": "List FeedbackMessages with pagination.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET"
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Create a FeedbackMessage object.",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "httpMethod": "POST"
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Get a FeedbackMessage object.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'."
                            }
                          },
                          "path": "v1beta1/{+name}",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "httpMethod": "GET",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          }
                        },
                        "delete": {
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Delete a FeedbackMessage.",
                          "path": "v1beta1/{+name}",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Delete a FeedbackThread.",
                      "httpMethod": "DELETE",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": " Get a FeedbackThread object.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      },
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}"
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List FeedbackThreads with pagination.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\"",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      }
                    }
                  }
                },
                "dataItems": {
                  "methods": {
                    "list": {
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter is not supported at this moment.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/dataItems",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get"
                    }
                  }
                }
              }
            }
          }
        },
        "annotationSpecSets": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes an annotation spec set by resource name.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "location": "path",
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`."
                }
              },
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "description": "Creates an annotation spec set by providing a set of labels.",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              },
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.annotationSpecSets.create",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}",
                  "required": true
                }
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Filter is not supported at this moment.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}",
                  "required": true
                }
              },
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "id": "datalabeling.projects.annotationSpecSets.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists annotation spec sets for a project. Pagination is supported."
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.annotationSpecSets.get",
              "path": "v1beta1/{+name}",
              "description": "Gets an annotation spec set by resource name.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              }
            }
          }
        },
        "evaluationJobs": {
          "methods": {
            "resume": {
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume",
              "path": "v1beta1/{+name}:resume",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.evaluationJobs.resume",
              "parameters": {
                "name": {
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "httpMethod": "POST",
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op."
            },
            "get": {
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "description": "Gets an evaluation job by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "id": "datalabeling.projects.evaluationJobs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true
                }
              }
            },
            "delete": {
              "id": "datalabeling.projects.evaluationJobs.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "description": "Stops and deletes an evaluation job.",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "patch": {
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "id": "datalabeling.projects.evaluationJobs.patch",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\""
                },
                "updateMask": {
                  "type": "string",
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "pause": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "required": true
                }
              },
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op.",
              "id": "datalabeling.projects.evaluationJobs.pause",
              "path": "v1beta1/{+name}:pause",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause",
              "httpMethod": "POST"
            },
            "create": {
              "path": "v1beta1/{+parent}/evaluationJobs",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              },
              "description": " Creates an evaluation job.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "datalabeling.projects.evaluationJobs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\"",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.evaluationJobs.list"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "id": "datalabeling:v1beta1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "name": "datalabeling",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudDatalabelingV1beta1CreateInstructionRequest": {
      "properties": {
        "instruction": {
          "$ref": "GoogleCloudDatalabelingV1beta1Instruction",
          "description": "Required. Instruction of how to perform the labeling task."
        }
      },
      "description": "Request message for CreateInstruction.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
    },
    "GoogleCloudDatalabelingV1beta1TimeSegment": {
      "id": "GoogleCloudDatalabelingV1beta1TimeSegment",
      "description": "A time period inside of an example that has a time dimension (e.g. video).",
      "type": "object",
      "properties": {
        "endTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "End of the time segment (exclusive), represented as the duration since the example start."
        },
        "startTimeOffset": {
          "description": "Start of the time segment (inclusive), represented as the duration since the example start.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationMetadata",
      "description": "Metadata of an ExportData operation.",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp when export dataset request was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata",
      "description": "Details of a LabelVideoClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1InputConfig": {
      "properties": {
        "annotationType": {
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "description": "Optional. The type of annotation to be performed on this data. You must specify this field if you are using this InputConfig in an EvaluationJob.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ]
        },
        "textMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextMetadata",
          "description": "Required for text import, as language code must be specified."
        },
        "classificationMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1ClassificationMetadata",
          "description": "Optional. Metadata about annotations for the input. You must specify this field if you are using this InputConfig in an EvaluationJob for a model version that performs classification."
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "IMAGE",
            "VIDEO",
            "TEXT",
            "GENERAL_DATA"
          ],
          "description": "Required. Data type must be specifed when user tries to import data.",
          "enumDescriptions": [
            "Data type is unspecified.",
            "Allowed for continuous evaluation.",
            "Video data type.",
            "Allowed for continuous evaluation.",
            "Allowed for continuous evaluation."
          ],
          "type": "string"
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDatalabelingV1beta1BigQuerySource",
          "description": "Source located in BigQuery. You must specify this field if you are using this InputConfig in an EvaluationJob."
        },
        "gcsSource": {
          "description": "Source located in Cloud Storage.",
          "$ref": "GoogleCloudDatalabelingV1beta1GcsSource"
        }
      },
      "description": "The configuration of input data, including data type, location, etc.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1InputConfig"
    },
    "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata": {
      "type": "object",
      "description": "Metadata on AnnotatedDataset.",
      "properties": {
        "polylineConfig": {
          "description": "Configuration for image polyline task.",
          "$ref": "GoogleCloudDatalabelingV1beta1PolylineConfig"
        },
        "textEntityExtractionConfig": {
          "description": "Configuration for text entity extraction task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig"
        },
        "imageClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
          "description": "Configuration for image classification task."
        },
        "eventConfig": {
          "description": "Configuration for video event labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1EventConfig"
        },
        "segmentationConfig": {
          "description": "Configuration for image segmentation task.",
          "$ref": "GoogleCloudDatalabelingV1beta1SegmentationConfig"
        },
        "objectDetectionConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionConfig",
          "description": "Configuration for video object detection task."
        },
        "objectTrackingConfig": {
          "description": "Configuration for video object tracking task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig"
        },
        "videoClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationConfig",
          "description": "Configuration for video classification task."
        },
        "humanAnnotationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "HumanAnnotationConfig used when requesting the human labeling task for this AnnotatedDataset."
        },
        "boundingPolyConfig": {
          "description": "Configuration for image bounding box and bounding poly task.",
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig"
        },
        "textClassificationConfig": {
          "description": "Configuration for text classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJobConfig": {
      "description": "Configures specific details of how a continuous evaluation job works. Provide this configuration when you create an EvaluationJob.",
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobConfig",
      "type": "object",
      "properties": {
        "evaluationJobAlertConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig",
          "description": "Optional. Configuration details for evaluation job alerts. Specify this field if you want to receive email alerts if the evaluation job finds that your predictions have low mean average precision during a run."
        },
        "evaluationConfig": {
          "description": "Required. Details for calculating evaluation metrics and creating Evaulations. If your model version performs image object detection, you must specify the `boundingBoxEvaluationOptions` field within this configuration. Otherwise, provide an empty object for this configuration.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig"
        },
        "imageClassificationConfig": {
          "description": "Specify this field if your model version performs image classification or general classification. `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet. `allowMultiLabel` in this configuration must match `classificationMetadata.isMultiLabel` in input_config.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig"
        },
        "humanAnnotationConfig": {
          "description": "Optional. Details for human annotation of your data. If you set labelMissingGroundTruth to `true` for this evaluation job, then you must specify this field. If you plan to provide your own ground truth labels, then omit this field. Note that you must create an Instruction resource before you can specify this field. Provide the name of the instruction resource in the `instruction` field within this configuration.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "exampleSamplePercentage": {
          "format": "double",
          "type": "number",
          "description": "Required. Fraction of predictions to sample and save to BigQuery during each evaluation interval. For example, 0.1 means 10% of predictions served by your model version get saved to BigQuery."
        },
        "bigqueryImportKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. Prediction keys that tell Data Labeling Service where to find the data for evaluation in your BigQuery table. When the service samples prediction input and output from your model version and saves it to BigQuery, the data gets stored as JSON strings in the BigQuery table. These keys tell Data Labeling Service how to parse the JSON. You can provide the following entries in this field: * `data_json_key`: the data key for prediction input. You must provide either this key or `reference_json_key`. * `reference_json_key`: the data reference key for prediction input. You must provide either this key or `data_json_key`. * `label_json_key`: the label key for prediction output. Required. * `label_score_json_key`: the score key for prediction output. Required. * `bounding_box_json_key`: the bounding box key for prediction output. Required if your model version perform image object detection. Learn [how to configure prediction keys](/ml-engine/docs/continuous-evaluation/create-job#prediction-keys)."
        },
        "exampleCount": {
          "type": "integer",
          "description": "Required. The maximum number of predictions to sample and save to BigQuery during each evaluation interval. This limit overrides `example_sample_percentage`: even if the service has not sampled enough predictions to fulfill `example_sample_perecentage` during an interval, it stops sampling predictions when it meets this limit.",
          "format": "int32"
        },
        "textClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
          "description": "Specify this field if your model version performs text classification. `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet. `allowMultiLabel` in this configuration must match `classificationMetadata.isMultiLabel` in input_config."
        },
        "inputConfig": {
          "description": "Rquired. Details for the sampled prediction input. Within this configuration, there are requirements for several fields: * `dataType` must be one of `IMAGE`, `TEXT`, or `GENERAL_DATA`. * `annotationType` must be one of `IMAGE_CLASSIFICATION_ANNOTATION`, `TEXT_CLASSIFICATION_ANNOTATION`, `GENERAL_CLASSIFICATION_ANNOTATION`, or `IMAGE_BOUNDING_BOX_ANNOTATION` (image object detection). * If your machine learning model performs classification, you must specify `classificationMetadata.isMultiLabel`. * You must specify `bigquerySource` (not `gcsSource`).",
          "$ref": "GoogleCloudDatalabelingV1beta1InputConfig"
        },
        "boundingPolyConfig": {
          "description": "Specify this field if your model version performs image object detection (bounding box detection). `annotationSpecSet` in this configuration must match EvaluationJob.annotationSpecSet.",
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ImportDataOperationMetadata": {
      "type": "object",
      "description": "Metadata of an ImportData operation.",
      "id": "GoogleCloudDatalabelingV1beta1ImportDataOperationMetadata",
      "properties": {
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when import dataset request was created."
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata",
      "description": "Metadata of a LabelImageClassification operation."
    },
    "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination": {
      "description": "Export folder destination of the data.",
      "properties": {
        "outputFolderUri": {
          "description": "Required. Cloud Storage directory to export data to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination"
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata",
      "type": "object",
      "description": "Details of a LabelVideoObjectDetection operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1LabelTextRequest": {
      "type": "object",
      "properties": {
        "textClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
          "description": "Configuration for text classification task. One of text_classification_config and text_entity_extraction_config is required."
        },
        "textEntityExtractionConfig": {
          "description": "Configuration for entity extraction task. One of text_classification_config and text_entity_extraction_config is required.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig"
        },
        "feature": {
          "description": "Required. The type of text labeling task.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "TEXT_CLASSIFICATION",
            "TEXT_ENTITY_EXTRACTION"
          ],
          "enumDescriptions": [
            "",
            "Label text content to one of more labels.",
            "Label entities and their span in text."
          ],
          "type": "string"
        },
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Required. Basic human annotation config."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelTextRequest",
      "description": "Request message for LabelText."
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata": {
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1TextPayload": {
      "properties": {
        "textContent": {
          "description": "Text content.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1TextPayload",
      "description": "Container of information about a piece of text."
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpec": {
      "description": "Container of information related to one possible annotation that can be used in a labeling task. For example, an image classification task where images are labeled as `dog` or `cat` must reference an AnnotationSpec for `dog` and an AnnotationSpec for `cat`.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the AnnotationSpec. Maximum of 64 characters."
        },
        "description": {
          "description": "Optional. User-provided description of the annotation specification. The description can be up to 10,000 characters long.",
          "type": "string"
        },
        "index": {
          "description": "Output only. This is the integer index of the AnnotationSpec. The index for the whole AnnotationSpecSet is sequential starting from 0. For example, an AnnotationSpecSet with classes `dog` and `cat`, might contain one AnnotationSpec with `{ display_name: \"dog\", index: 0 }` and one AnnotationSpec with `{ display_name: \"cat\", index: 1 }`. This is especially useful for model training as it encodes the string labels into numeric values.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
    },
    "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame": {
      "description": "Video frame level annotation for object detection and tracking.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "The time offset of this frame relative to the beginning of the video.",
          "format": "google-duration"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPoly"
        },
        "normalizedBoundingPoly": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1GcsFolderDestination": {
      "id": "GoogleCloudDatalabelingV1beta1GcsFolderDestination",
      "type": "object",
      "description": "Export folder destination of the data.",
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig": {
      "description": "Config for text entity extraction human labeling task.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig",
      "properties": {
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation": {
      "id": "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation",
      "description": "Text entity extraction annotation.",
      "properties": {
        "annotationSpec": {
          "description": "Label of the text entities.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "sequentialSegment": {
          "description": "Position of the entity.",
          "$ref": "GoogleCloudDatalabelingV1beta1SequentialSegment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1GcsSource": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The format of the source file. Only \"text/csv\" is supported.",
          "type": "string"
        },
        "inputUri": {
          "type": "string",
          "description": "Required. The input URI of source file. This must be a Cloud Storage path (`gs://...`)."
        }
      },
      "description": "Source of the Cloud Storage file to be imported.",
      "id": "GoogleCloudDatalabelingV1beta1GcsSource"
    },
    "GoogleCloudDatalabelingV1p1alpha1GcsDestination": {
      "id": "GoogleCloudDatalabelingV1p1alpha1GcsDestination",
      "type": "object",
      "description": "Export destination of the data.Only gcs path is allowed in output_uri.",
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Required. The output uri of destination file."
        },
        "mimeType": {
[...]
