{
  "canonicalName": "Data Catalog",
  "version": "v1",
  "mtlsRootUrl": "https://datacatalog.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://datacatalog.googleapis.com/",
  "title": "Google Cloud Data Catalog API",
  "schemas": {
    "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "properties": {},
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
      "type": "object",
      "description": "Marks a CSV-encoded data source."
    },
    "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec": {
      "id": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec",
      "type": "object",
      "description": "Detail description of the source information of a Vertex Feature Online Store.",
      "properties": {
        "storageType": {
          "enumDescriptions": [
            "Should not be used.",
            "Underlsying storgae is Bigtable.",
            "Underlying is optimized online server (Lightning)."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of underlying storage for the FeatureOnlineStore.",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "BIGTABLE",
            "OPTIMIZED"
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1OrganizationConfig": {
      "properties": {
        "config": {
          "description": "Map of organizations and project resource names and their configuration. The format for the map keys is `organizations/{organizationId}` or `projects/{projectId}`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1MigrationConfig"
          }
        }
      },
      "description": "The configuration related to the migration from Data Catalog to Dataplex Universal Catalog that has been applied to an organization and any projects under it. It is the response message for RetrieveConfig.",
      "id": "GoogleCloudDatacatalogV1OrganizationConfig",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SearchCatalogResult": {
      "id": "GoogleCloudDatacatalogV1SearchCatalogResult",
      "type": "object",
      "description": "Result in the response to a search request. Each result captures details of one entry that matches the search.",
      "properties": {
        "linkedResource": {
          "description": "The full name of the Google Cloud resource the entry belongs to. For more information, see [Full Resource Name] (/apis/design/resource_names#full_resource_name). Example: `//bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID`",
          "type": "string"
        },
        "modifyTime": {
          "description": "The last modification timestamp of the entry in the source system.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents."
        },
        "relativeResourceName": {
          "description": "The relative name of the resource in URL format. Examples: * `projects/{PROJECT_ID}/locations/{LOCATION_ID}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}` * `projects/{PROJECT_ID}/tagTemplates/{TAG_TEMPLATE_ID}`",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the result.",
          "type": "string"
        },
        "integratedSystem": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "description": "Output only. The source system that Data Catalog automatically integrates with, such as BigQuery, Cloud Pub/Sub, or Dataproc Metastore.",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "type": "string"
        },
        "userSpecifiedSystem": {
          "description": "Custom source system that you can manually integrate Data Catalog with.",
          "type": "string"
        },
        "fullyQualifiedName": {
          "type": "string",
          "description": "Fully qualified name (FQN) of the resource. FQNs take two forms: * For non-regionalized resources: `{SYSTEM}:{PROJECT}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` * For regionalized resources: `{SYSTEM}:{PROJECT}.{LOCATION_ID}.{PATH_TO_RESOURCE_SEPARATED_WITH_DOTS}` Example for a DPMS table: `dataproc_metastore:PROJECT_ID.LOCATION_ID.INSTANCE_ID.DATABASE_ID.TABLE_ID`"
        },
        "searchResultType": {
          "description": "Type of the search result. You can use this field to determine which get method to call to fetch the full resource.",
          "enum": [
            "SEARCH_RESULT_TYPE_UNSPECIFIED",
            "ENTRY",
            "TAG_TEMPLATE",
            "ENTRY_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown type.",
            "An Entry.",
            "A TagTemplate.",
            "An EntryGroup."
          ]
        },
        "searchResultSubtype": {
          "type": "string",
          "description": "Sub-type of the search result. A dot-delimited full type of the resource. The same type you specify in the `type` search predicate. Examples: `entry.table`, `entry.dataStream`, `tagTemplate`."
        }
      }
    },
    "GoogleCloudDatacatalogV1ReconcileTagsMetadata": {
      "id": "GoogleCloudDatacatalogV1ReconcileTagsMetadata",
      "type": "object",
      "description": "Long-running operation metadata message returned by the ReconcileTags.",
      "properties": {
        "state": {
          "description": "State of the reconciliation operation.",
          "enum": [
            "RECONCILIATION_STATE_UNSPECIFIED",
            "RECONCILIATION_QUEUED",
            "RECONCILIATION_IN_PROGRESS",
            "RECONCILIATION_DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The reconciliation has been queued and awaits for execution.",
            "The reconciliation is in progress.",
            "The reconciliation has been finished."
          ]
        },
        "errors": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object",
          "description": "Maps the name of each tagged column (or empty string for a sole entry) to tagging operation status."
        }
      }
    },
    "GoogleCloudDatacatalogV1GraphSpec": {
      "properties": {
        "nodeTables": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          },
          "description": "Required. Node tables of the graph."
        },
        "name": {
          "type": "string",
          "description": "Output only. Fully qualified graph name. e.g. `named_catalog.MyGraph`",
          "readOnly": true
        },
        "edgeTables": {
          "description": "Optional. Edge tables of the graph.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTable"
          }
        }
      },
      "description": "Specification that applies to a graph.",
      "id": "GoogleCloudDatacatalogV1GraphSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexSpec": {
      "properties": {
        "compressionFormat": {
          "description": "Compression format of the data, e.g., zip, gzip etc.",
          "type": "string"
        },
        "asset": {
          "description": "Fully qualified resource name of an asset in Dataplex Universal Catalog, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached.",
          "type": "string"
        },
        "projectId": {
          "description": "Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the corresponding Dataplex Universal Catalog lake / zone / asset.",
          "type": "string"
        },
        "dataFormat": {
          "description": "Format of the data.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchema"
        }
      },
      "description": "Common Dataplex Universal Catalog fields.",
      "id": "GoogleCloudDatacatalogV1DataplexSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportEntriesResponse": {
      "description": "Response message for long-running operation returned by the ImportEntries.",
      "id": "GoogleCloudDatacatalogV1ImportEntriesResponse",
      "type": "object",
      "properties": {
        "upsertedEntriesCount": {
          "description": "Cumulative number of entries created and entries updated as a result of import operation.",
          "format": "int64",
          "type": "string"
        },
        "deletedEntriesCount": {
          "description": "Number of entries deleted as a result of import operation.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1Entry": {
      "description": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag.",
      "id": "GoogleCloudDatacatalogV1Entry",
      "type": "object",
      "properties": {
        "userSpecifiedSystem": {
          "type": "string",
          "description": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
        },
        "personalDetails": {
          "$ref": "GoogleCloudDatacatalogV1PersonalDetails",
          "description": "Output only. Additional information related to the entry. Private to the current user.",
          "readOnly": true
        },
        "schema": {
          "$ref": "GoogleCloudDatacatalogV1Schema",
          "description": "Schema of the entry. An entry might not have any schema attached to it."
        },
        "userSpecifiedType": {
          "type": "string",
          "description": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long."
        },
        "sourceSystemTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "description": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp."
        },
        "bigqueryDateShardedSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
          "description": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
          "readOnly": true
        },
        "fullyQualifiedName": {
          "description": "[Fully Qualified Name (FQN)](https://cloud.google.com//data-catalog/docs/fully-qualified-names) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation, and read-only later. Can be used for search and lookup of the entries. ",
          "type": "string"
        },
        "bigqueryTableSpec": {
          "$ref": "GoogleCloudDatacatalogV1BigQueryTableSpec",
          "description": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type.",
          "readOnly": true
        },
        "dataSourceConnectionSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataSourceConnectionSpec",
          "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unknown type.",
            "The entry type that has a GoogleSQL schema, including logical views.",
            "The type of models. For more information, see [Supported models in BigQuery ML](/bigquery/docs/bqml-introduction#supported_models).",
            "An entry type for streaming entries. For example, a Pub/Sub topic.",
            "An entry type for a set of files or objects. For example, a Cloud Storage fileset.",
            "A group of servers that work together. For example, a Kafka cluster.",
            "A database.",
            "Connection to a data source. For example, a BigQuery connection.",
            "Routine, for example, a BigQuery routine.",
            "A Dataplex Universal Catalog lake.",
            "A Dataplex Universal Catalog zone.",
            "A service, for example, a Dataproc Metastore service.",
            "Schema within a relational database.",
            "A Dashboard, for example from Looker.",
            "A Looker Explore. For more information, see [Looker Explore API] (https://developers.looker.com/api/explorer/4.0/methods/LookmlModel/lookml_model_explore).",
            "A Looker Look. For more information, see [Looker Look API] (https://developers.looker.com/api/explorer/4.0/methods/Look).",
            "Feature Online Store resource in Vertex AI Feature Store.",
            "Feature View resource in Vertex AI Feature Store.",
            "Feature Group resource in Vertex AI Feature Store.",
            "An entry type for a graph."
          ],
          "description": "The type of the entry. For details, see [`EntryType`](#entrytype).",
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET",
            "CLUSTER",
            "DATABASE",
            "DATA_SOURCE_CONNECTION",
            "ROUTINE",
            "LAKE",
            "ZONE",
            "SERVICE",
            "DATABASE_SCHEMA",
            "DASHBOARD",
            "EXPLORE",
            "LOOK",
            "FEATURE_ONLINE_STORE",
            "FEATURE_VIEW",
            "FEATURE_GROUP",
            "GRAPH"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string."
        },
        "integratedSystem": {
          "type": "string",
          "description": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore.",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "readOnly": true
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1GcsFilesetSpec"
        },
        "filesetSpec": {
          "description": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1FilesetSpec"
        },
        "graphSpec": {
          "description": "Spec for graph.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpec"
        },
        "cloudBigtableSystemSpec": {
          "description": "Specification that applies to Cloud Bigtable system. Only settable when `integrated_system` is equal to `CLOUD_BIGTABLE`",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec"
        },
        "featureOnlineStoreSpec": {
          "$ref": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec",
          "description": "FeatureonlineStore spec for Vertex AI Feature Store."
        },
        "modelSpec": {
          "description": "Model specification.",
          "$ref": "GoogleCloudDatacatalogV1ModelSpec"
        },
        "dataSource": {
          "description": "Output only. Physical location of the entry.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1DataSource"
        },
        "serviceSpec": {
          "$ref": "GoogleCloudDatacatalogV1ServiceSpec",
          "description": "Specification that applies to a Service resource."
        },
        "datasetSpec": {
          "$ref": "GoogleCloudDatacatalogV1DatasetSpec",
          "description": "Specification that applies to a dataset."
        },
        "description": {
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name.",
          "readOnly": true
        },
        "routineSpec": {
          "description": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type.",
          "$ref": "GoogleCloudDatacatalogV1RoutineSpec"
        },
        "usageSignal": {
          "description": "Resource usage statistics.",
          "$ref": "GoogleCloudDatacatalogV1UsageSignal"
        },
        "spannerTableSpec": {
          "description": "Specification of a Spanner table.",
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpec"
        },
        "businessContext": {
          "description": "Business Context of the entry. Not supported for BigQuery datasets",
          "$ref": "GoogleCloudDatacatalogV1BusinessContext"
        },
        "databaseTableSpec": {
          "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpec"
        },
        "linkedResource": {
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "sqlDatabaseSystemSpec": {
          "$ref": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
          "description": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`"
        },
        "labels": {
          "description": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lookerSystemSpec": {
          "description": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`",
          "$ref": "GoogleCloudDatacatalogV1LookerSystemSpec"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1Tag": {
      "id": "GoogleCloudDatacatalogV1Tag",
      "type": "object",
      "description": "Tags contain custom metadata and are attached to Data Catalog resources. Tags conform with the specification of their tag template. See [Data Catalog IAM](https://cloud.google.com/data-catalog/docs/concepts/iam) for information on the permissions needed to create or view tags.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the tag in URL format where tag ID is a system-generated identifier. Note: The tag itself might not be stored in the location specified in its name.",
          "type": "string"
        },
        "template": {
          "type": "string",
          "description": "Required. The resource name of the tag template this tag uses. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE_ID}` This field cannot be modified after creation."
        },
        "templateDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the tag template.",
          "readOnly": true
        },
        "column": {
          "type": "string",
          "description": "Resources like entry can have schemas associated with them. This scope allows you to attach tags to an individual column based on that schema. To attach a tag to a nested column, separate column names with a dot (`.`). Example: `column.nested_column`."
        },
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagField"
          },
          "description": "Required. Maps the ID of a tag field to its value and additional information about that field. Tag template defines valid field IDs. A tag must have at least 1 field and at most 500 fields.",
          "type": "object"
        },
        "dataplexTransferStatus": {
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "description": "Output only. Denotes the transfer status of the Tag Template.",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumType": {
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumType",
      "type": "object",
      "properties": {
        "allowedValues": {
          "description": "The set of allowed values for this enum. This set must not be empty and can include up to 100 allowed values. The display names of the values in this set must not be empty and must be case-insensitively unique within this set. The order of items in this set is preserved. This field can be used to create, remove, and reorder enum values. To rename enum values, use the `RenameTagTemplateFieldEnumValue` method.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1TagTemplateField": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the tag template field in URL format. Example: `projects/{PROJECT_ID}/locations/{LOCATION}/tagTemplates/{TAG_TEMPLATE}/fields/{FIELD}` Note: The tag template field itself might not be stored in the location specified in its name. The name must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_), and must start with a letter or underscore. The maximum length is 64 characters.",
          "type": "string"
        },
        "type": {
          "$ref": "GoogleCloudDatacatalogV1FieldType",
          "description": "Required. The type of value this tag field can contain."
        },
        "description": {
          "description": "The description for this field. Defaults to an empty string.",
          "type": "string"
        },
        "order": {
          "type": "integer",
          "description": "The order of this field with respect to other fields in this tag template. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order and field orders within a tag don't have to be sequential.",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this field. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters."
        },
        "isRequired": {
          "description": "If true, this field is required. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDatacatalogV1TagTemplateField",
      "type": "object",
      "description": "The template for an individual field within a tag template."
    },
    "GoogleCloudDatacatalogV1ImportEntriesMetadata": {
      "id": "GoogleCloudDatacatalogV1ImportEntriesMetadata",
      "type": "object",
      "description": "Metadata message for long-running operation returned by the ImportEntries.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The dump with entries has been queued for import.",
            "The import of entries is in progress.",
            "The import of entries has been finished.",
            "The import of entries has been abandoned in favor of a newer request."
          ],
          "description": "State of the import operation.",
          "enum": [
            "IMPORT_STATE_UNSPECIFIED",
            "IMPORT_QUEUED",
            "IMPORT_IN_PROGRESS",
            "IMPORT_DONE",
            "IMPORT_OBSOLETE"
          ]
        },
        "errors": {
          "description": "Partial errors that are encountered during the ImportEntries operation. There is no guarantee that all the encountered errors are reported. However, if no errors are reported, it means that no errors were encountered.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1UnstarEntryResponse": {
      "description": "Response message for UnstarEntry. Empty for now",
      "id": "GoogleCloudDatacatalogV1UnstarEntryResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatacatalogV1EntryGroup": {
      "description": "Entry group metadata. An `EntryGroup` resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "id": "GoogleCloudDatacatalogV1EntryGroup",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the entry group in URL format. Note: The entry group itself and its child resources might not be stored in the location specified in its name.",
          "type": "string"
        },
        "dataCatalogTimestamps": {
          "description": "Output only. Timestamps of the entry group. Default value is empty.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "description": {
          "type": "string",
          "description": "Entry group description. Can consist of several sentences or paragraphs that describe the entry group contents. Default value is an empty string."
        },
        "transferredToDataplex": {
          "type": "boolean",
          "description": "Optional. When set to [true], it means DataCatalog EntryGroup was transferred to Dataplex Universal Catalog. It makes EntryGroup and its Entries to be read-only in DataCatalog. However, new Tags on EntryGroup and its Entries can be created. After setting the flag to [true] it cannot be unset."
        }
      }
    },
    "GoogleCloudDatacatalogV1ModelSpec": {
      "id": "GoogleCloudDatacatalogV1ModelSpec",
      "type": "object",
      "description": "Specification that applies to a model. Valid only for entries with the `MODEL` type.",
      "properties": {
        "vertexModelSpec": {
          "$ref": "GoogleCloudDatacatalogV1VertexModelSpec",
          "description": "Specification for vertex model resources."
        }
      }
    },
    "GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "description": "Input or output argument of a function or stored procedure.",
      "id": "GoogleCloudDatacatalogV1RoutineSpecArgument",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the argument. A return argument of a function might not have a name."
        },
        "mode": {
          "description": "Specifies whether the argument is input or output.",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ]
        },
        "type": {
          "description": "Type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1Schema": {
      "description": "Represents a schema, for example, a BigQuery, GoogleSQL, or Avro schema.",
      "id": "GoogleCloudDatacatalogV1Schema",
      "type": "object",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          },
          "description": "The unified GoogleSQL-like schema of columns. The overall maximum number of columns and nested columns is 10,000. The maximum nested depth is 15 levels."
        }
      }
    },
    "GoogleCloudDatacatalogV1TagField": {
      "description": "Contains the value and additional information on a field within a Tag.",
      "id": "GoogleCloudDatacatalogV1TagField",
      "type": "object",
      "properties": {
        "richtextValue": {
          "type": "string",
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB."
        },
        "displayName": {
          "description": "Output only. The display name of this field.",
          "readOnly": true,
          "type": "string"
        },
        "enumValue": {
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue",
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum."
        },
        "doubleValue": {
          "type": "number",
          "description": "The value of a tag field with a double type.",
          "format": "double"
        },
        "stringValue": {
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters.",
          "type": "string"
        },
        "order": {
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "boolValue": {
          "description": "The value of a tag field with a boolean type.",
          "type": "boolean"
        },
        "timestampValue": {
          "description": "The value of a tag field with a timestamp type.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ServiceSpec": {
      "properties": {
        "cloudBigtableInstanceSpec": {
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec",
          "description": "Specification that applies to Instance entries of `CLOUD_BIGTABLE` system."
        }
      },
      "id": "GoogleCloudDatacatalogV1ServiceSpec",
      "type": "object",
      "description": "Specification that applies to a Service resource. Valid only for entries with the `SERVICE` type."
    },
    "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec": {
      "properties": {
        "linkedResource": {
          "type": "string",
          "description": "A link back to the parent resource, in this case Instance."
        },
        "displayName": {
          "description": "Name of the cluster.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the resource. For a cluster this would be \"CLUSTER\"."
        },
        "location": {
          "type": "string",
          "description": "Location of the cluster, typically a Cloud zone."
        }
      },
      "id": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec",
      "type": "object",
      "description": "Spec that applies to clusters of an Instance of Cloud Bigtable."
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "properties": {
        "latestShardResource": {
          "description": "Output only. BigQuery resource name of the latest shard.",
          "readOnly": true,
          "type": "string"
        },
        "tablePrefix": {
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`.",
          "readOnly": true,
          "type": "string"
        },
        "dataset": {
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`.",
          "readOnly": true,
          "type": "string"
        },
        "shardCount": {
          "type": "string",
          "description": "Output only. Total number of shards.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
      "type": "object",
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding)."
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest": {
      "properties": {
        "newTagTemplateFieldId": {
          "type": "string",
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`."
        }
      },
      "description": "Request message for RenameTagTemplateField.",
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ExportTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1ExportTaxonomiesResponse",
      "type": "object",
      "description": "Response message for ExportTaxonomies.",
      "properties": {
        "taxonomies": {
          "description": "List of taxonomies and policy tags as nested protocol buffers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequestScope": {
      "properties": {
        "starredOnly": {
          "type": "boolean",
          "description": "Optional. If `true`, search only among starred entries. By default, all results are returned, starred or not."
        },
        "includeGcpPublicDatasets": {
          "type": "boolean",
          "description": "If `true`, include Google Cloud public datasets in search results. By default, they are excluded. See [Google Cloud Public Datasets](/public-datasets) for more information."
        },
        "restrictedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of locations to search within. If empty, all locations are searched. Returns an error if any location in the list isn't one of the [Supported regions](https://cloud.google.com/data-catalog/docs/concepts/regions#supported_regions). If a location is unreachable, its name is returned in the `SearchCatalogResponse.unreachable` field. To get additional information on the error, repeat the search request and set the location name as the value of this parameter."
        },
        "includePublicTagTemplates": {
          "description": "Optional. This field is deprecated. The search mechanism for public and private tag templates is the same.",
          "deprecated": true,
          "type": "boolean"
        },
        "includeProjectIds": {
          "description": "The list of project IDs to search within. For more information on the distinction between project names, IDs, and numbers, see [Projects](/docs/overview/#projects).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeOrgIds": {
          "description": "The list of organization IDs to search within. To find your organization ID, follow the steps from [Creating and managing organizations] (/resource-manager/docs/creating-managing-organization).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The criteria that select the subspace used for query matching.",
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequestScope",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexExternalTable": {
      "properties": {
        "system": {
          "description": "Service in which the external table is registered.",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ]
        },
        "googleCloudResource": {
          "type": "string",
          "description": "Google Cloud resource name of the external table."
        },
        "dataCatalogEntry": {
          "description": "Name of the Data Catalog entry representing the external table.",
          "type": "string"
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the external table.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexExternalTable",
      "type": "object",
      "description": "External table registered by Dataplex Universal Catalog. Dataplex Universal Catalog publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog."
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema": {
      "properties": {},
      "description": "Marks a Parquet-encoded data source.",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec": {
      "description": "Column info specific to Looker System.",
      "id": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec",
      "type": "object",
      "properties": {
        "type": {
          "description": "Looker specific column type of this column.",
          "enum": [
            "LOOKER_COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "DIMENSION_GROUP",
            "FILTER",
            "MEASURE",
            "PARAMETER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Dimension.",
            "Dimension group - parent for Dimension.",
            "Filter.",
            "Measure.",
            "Parameter."
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1FieldType": {
      "properties": {
        "primitiveType": {
          "type": "string",
          "enumDescriptions": [
            "The default invalid value for a type.",
            "A double precision number.",
            "An UTF-8 string.",
            "A boolean value.",
            "A timestamp.",
            "A Richtext description."
          ],
          "description": "Primitive types, such as string, boolean, etc.",
          "enum": [
            "PRIMITIVE_TYPE_UNSPECIFIED",
            "DOUBLE",
            "STRING",
            "BOOL",
            "TIMESTAMP",
            "RICHTEXT"
          ]
        },
        "enumType": {
          "description": "An enum type.",
          "$ref": "GoogleCloudDatacatalogV1FieldTypeEnumType"
        }
      },
      "id": "GoogleCloudDatacatalogV1FieldType",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ContactsPerson": {
      "description": "A contact person for the entry.",
      "id": "GoogleCloudDatacatalogV1ContactsPerson",
      "type": "object",
      "properties": {
        "designation": {
          "description": "Designation of the person, for example, Data Steward.",
          "type": "string"
        },
        "email": {
          "description": "Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1GcsFileSpec": {
      "properties": {
        "sizeBytes": {
          "description": "Output only. File size in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "filePath": {
          "description": "Required. Full file path. Example: `gs://bucket_name/a/b.txt`.",
          "type": "string"
        },
        "gcsTimestamps": {
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "description": "Output only. Creation, modification, and expiration timestamps of a Cloud Storage file.",
          "readOnly": true
        }
      },
      "description": "Specification of a single file in Cloud Storage.",
      "id": "GoogleCloudDatacatalogV1GcsFileSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1MigrationConfig": {
      "id": "GoogleCloudDatacatalogV1MigrationConfig",
      "type": "object",
      "description": "The configuration related to the migration to Dataplex Universal Catalog applied to an organization or project. It is the response message for SetConfig and RetrieveEffectiveConfig.",
      "properties": {
        "tagTemplateMigration": {
          "description": "Opt-in status for the migration of Tag Templates to Dataplex Universal Catalog.",
          "enum": [
            "TAG_TEMPLATE_MIGRATION_UNSPECIFIED",
            "TAG_TEMPLATE_MIGRATION_ENABLED",
            "TAG_TEMPLATE_MIGRATION_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is not performed. For projects that are under an organization, the project inherits the organization's configuration when you set the project-level configuration to unspecified (`TAG_TEMPLATE_MIGRATION_UNSPECIFIED`). This means that when migration is enabled at the organization level, and the project-level configuration is unspecified, the project is migrated. To explicitly opt-in or opt-out individual projects, set the project-level configuration to enabled (`TAG_TEMPLATE_MIGRATION_ENABLED`) or disabled (`TAG_TEMPLATE_MIGRATION_DISABLED`).",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is enabled.",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is disabled."
          ]
        },
        "templateMigrationEnabledTime": {
          "type": "string",
          "description": "The time when the Tag Template migration was enabled. If the Tag Template migration is not enabled, this field is not set.",
          "format": "google-datetime"
        },
        "catalogUiExperience": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The default UI is Dataplex Universal Catalog.",
            "The UI is Dataplex Universal Catalog.",
            "The UI is Data Catalog."
          ],
          "description": "Opt-in status for the UI switch to Dataplex Universal Catalog.",
          "enum": [
            "CATALOG_UI_EXPERIENCE_UNSPECIFIED",
            "CATALOG_UI_EXPERIENCE_ENABLED",
            "CATALOG_UI_EXPERIENCE_DISABLED"
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1GcsFilesetSpec": {
      "id": "GoogleCloudDatacatalogV1GcsFilesetSpec",
      "type": "object",
      "description": "Describes a Cloud Storage fileset entry.",
      "properties": {
        "sampleGcsFileSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GcsFileSpec"
          },
          "description": "Output only. Sample files contained in this fileset, not all files contained in this fileset are represented here.",
          "readOnly": true
        },
        "filePatterns": {
          "description": "Required. Patterns to identify a set of files in Google Cloud Storage. For more information, see [Wildcard Names] (https://cloud.google.com/storage/docs/wildcards). Note: Currently, bucket wildcards are not supported. Examples of valid `file_patterns`: * `gs://bucket_name/dir/*`: matches all files in `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in `bucket_name/dir` and all subdirectories * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt` You can combine wildcards to match complex sets of files, for example: `gs://bucket_name/[a-m]??.j*g`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse",
      "type": "object",
      "description": "Long-running operation response message returned by ReconcileTags.",
      "properties": {
        "createdTagsCount": {
          "description": "Number of tags created in the request.",
          "format": "int64",
          "type": "string"
        },
        "updatedTagsCount": {
          "description": "Number of tags updated in the request.",
          "format": "int64",
          "type": "string"
        },
        "deletedTagsCount": {
          "description": "Number of tags deleted in the request.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1TaggedEntry": {
      "id": "GoogleCloudDatacatalogV1TaggedEntry",
      "type": "object",
      "description": "Wrapper containing Entry and information about Tags that should and should not be attached to it.",
      "properties": {
        "absentTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Optional. Tags that should be deleted from the Data Catalog. Caller should populate template name and column only."
        },
        "v1Entry": {
          "$ref": "GoogleCloudDatacatalogV1Entry",
          "description": "Non-encrypted Data Catalog v1 Entry."
        },
        "presentTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Optional. Tags that should be ingested into the Data Catalog. Caller should populate template name, column and fields."
        }
      }
    },
    "GoogleCloudDatacatalogV1DataplexTableSpec": {
      "properties": {
        "externalTables": {
          "description": "List of external tables registered by Dataplex Universal Catalog in other systems based on the same underlying data. External tables allow to query this data in those systems.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1DataplexExternalTable"
          }
        },
        "dataplexSpec": {
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec",
          "description": "Common Dataplex Universal Catalog fields."
        },
        "userManaged": {
          "description": "Indicates if the table schema is managed by the user or not.",
          "type": "boolean"
        }
      },
      "description": "Entry specification for a Dataplex Universal Catalog table.",
      "id": "GoogleCloudDatacatalogV1DataplexTableSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey": {
      "properties": {
        "columns": {
          "description": "Output only. Column names of the primary key.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Specification of a Spanner primary key.",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "properties": {
        "viewType": {
          "description": "Type of this view.",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "STANDARD_VIEW",
            "MATERIALIZED_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown view type.",
            "Standard view.",
            "Materialized view."
          ]
        },
        "baseTable": {
          "type": "string",
          "description": "Name of a singular table this view reflects one to one."
        },
        "sqlQuery": {
          "description": "SQL query used to generate this view.",
          "type": "string"
        }
      },
      "description": "Specification that applies to database view.",
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "id": "GoogleCloudDatacatalogV1Contacts",
      "type": "object",
      "description": "Contact people for the entry.",
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          },
          "description": "The list of contact people for the entry."
        }
      }
    },
    "GoogleCloudDatacatalogV1Taxonomy": {
      "description": "A taxonomy is a collection of hierarchical policy tags that classify data along a common axis. For example, a \"data sensitivity\" taxonomy might contain the following policy tags: ``` + PII + Account number + Age + SSN + Zipcode + Financials + Revenue ``` A \"data origin\" taxonomy might contain the following policy tags: ``` + User data + Employee data + Partner data + Public data ```",
      "id": "GoogleCloudDatacatalogV1Taxonomy",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. User-defined name of this taxonomy. The name can't start or end with spaces, must contain only Unicode letters, numbers, underscores, dashes, and spaces, and be at most 200 bytes long when encoded in UTF-8. The taxonomy display name must be unique within an organization.",
          "type": "string"
        },
        "taxonomyTimestamps": {
          "description": "Output only. Creation and modification timestamps of this taxonomy.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this taxonomy in URL format. Note: Policy tag manager generates unique taxonomy IDs."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of this taxonomy. If not set, defaults to empty. The description must contain only Unicode characters, tabs, newlines, carriage returns, and page breaks, and be at most 2000 bytes long when encoded in UTF-8."
        },
        "policyTagCount": {
          "type": "integer",
          "description": "Output only. Number of policy tags in this taxonomy.",
          "readOnly": true,
          "format": "int32"
        },
        "activatedPolicyTypes": {
          "type": "array",
          "items": {
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ]
          },
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list."
        },
        "service": {
          "description": "Output only. Identity of the service which owns the Taxonomy. This field is only populated when the taxonomy is created by a Google Cloud service. Currently only 'DATAPLEX' is supported.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1TaxonomyService"
        }
      }
    },
    "GoogleCloudDatacatalogV1SerializedTaxonomy": {
      "id": "GoogleCloudDatacatalogV1SerializedTaxonomy",
      "type": "object",
      "description": "A nested protocol buffer that represents a taxonomy and the hierarchy of its policy tags. Used for taxonomy replacement, import, and export.",
      "properties": {
        "policyTags": {
          "description": "Top level policy tags associated with the taxonomy, if any.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the serialized taxonomy. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the taxonomy. At most 200 bytes when encoded in UTF-8."
        },
        "activatedPolicyTypes": {
          "type": "array",
          "items": {
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ]
          },
          "description": "A list of policy types that are activated per taxonomy."
        }
      }
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty",
      "type": "object",
      "description": "A property declaration.",
      "properties": {
        "name": {
          "description": "Required. Property name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Property data type."
        }
      }
    },
    "GoogleCloudDatacatalogV1RoutineSpec": {
      "properties": {
        "routineArguments": {
          "description": "Arguments of the routine.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1RoutineSpecArgument"
          }
        },
        "language": {
          "type": "string",
          "description": "The language the routine is written in. The exact value depends on the source system. For BigQuery routines, possible values are: * `SQL` * `JAVASCRIPT`"
        },
        "bigqueryRoutineSpec": {
          "description": "Fields specific for BigQuery routines.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryRoutineSpec"
        },
        "routineType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Non-builtin permanent scalar function.",
            "Stored procedure."
          ],
          "description": "The type of the routine.",
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "SCALAR_FUNCTION",
            "PROCEDURE"
          ]
        },
        "returnType": {
          "description": "Return type of the argument. The exact value depends on the source system and the language.",
          "type": "string"
        },
        "definitionBody": {
          "type": "string",
          "description": "The body of the routine."
        }
      },
      "description": "Specification that applies to a routine. Valid only for entries with the `ROUTINE` type.",
      "id": "GoogleCloudDatacatalogV1RoutineSpec",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "properties": {
        "dataplexFileset": {
          "description": "Fields specific to a Dataplex Universal Catalog fileset and present only in the Dataplex Universal Catalog fileset entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1FilesetSpec",
      "type": "object",
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type."
    },
    "GoogleCloudDatacatalogV1ListTagsResponse": {
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Tag details."
        },
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more items in results.",
          "type": "string"
        }
      },
      "description": "Response message for ListTags.",
      "id": "GoogleCloudDatacatalogV1ListTagsResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "type": "object",
      "description": "Table view specification.",
      "properties": {
        "viewQuery": {
          "type": "string",
          "description": "Output only. The query that defines the table view.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDatacatalogV1UnstarEntryRequest": {
      "properties": {},
      "description": "Request message for UnstarEntry.",
      "id": "GoogleCloudDatacatalogV1UnstarEntryRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema": {
      "description": "Schema in protocol buffer format.",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
      "type": "object",
      "properties": {
        "text": {
          "description": "Protocol buffer source of the schema.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ListTaxonomiesResponse": {
      "id": "GoogleCloudDatacatalogV1ListTaxonomiesResponse",
      "type": "object",
      "description": "Response message for ListTaxonomies.",
      "properties": {
        "taxonomies": {
          "description": "Taxonomies that the project contains.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Taxonomy"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token of the next results page. Empty if there are no more results in the list."
        }
      }
    },
    "GoogleCloudDatacatalogV1ListEntryGroupsResponse": {
      "description": "Response message for ListEntryGroups.",
      "id": "GoogleCloudDatacatalogV1ListEntryGroupsResponse",
      "type": "object",
      "properties": {
        "entryGroups": {
          "description": "Entry group details.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1EntryGroup"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to specify in the next call to retrieve the next page of results. Empty if there are no more items.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchema": {
      "properties": {
        "protobuf": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaProtobufSchema",
          "description": "Schema in protocol buffer format."
        },
        "thrift": {
          "description": "Schema in Thrift format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema"
        },
        "orc": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
          "description": "Marks an ORC-encoded data source."
        },
        "parquet": {
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
          "description": "Marks a Parquet-encoded data source."
        },
        "csv": {
          "description": "Marks a CSV-encoded data source.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema"
        },
        "avro": {
          "description": "Schema in Avro JSON format.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema"
        }
      },
      "id": "GoogleCloudDatacatalogV1PhysicalSchema",
      "type": "object",
      "description": "Native schema used by a resource represented as an entry. Used by query engines for deserializing and parsing source data."
    },
    "GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "properties": {
        "importedLibraries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Paths of the imported libraries."
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
      "type": "object",
      "description": "Fields specific for BigQuery routines."
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "type": "object",
      "description": "An enum value.",
      "properties": {
        "displayName": {
          "description": "The display name of the enum value.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec",
      "type": "object",
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ],
          "description": "Type of this table.",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ]
        },
        "databaseViewSpec": {
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
          "description": "Spec what applies to tables that are actually views. Not set for \"real\" tables."
        },
        "dataplexTable": {
          "description": "Output only. Fields specific to a Dataplex Universal Catalog table and present only in the Dataplex Universal Catalog table entries.",
          "readOnly": true,
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec"
        }
      }
    },
    "GoogleCloudDatacatalogV1UsageStats": {
      "properties": {
        "totalCompletions": {
          "type": "number",
          "description": "The number of successful uses of the underlying entry.",
          "format": "float"
        },
        "totalFailures": {
          "type": "number",
          "description": "The number of failed attempts to use the underlying entry.",
          "format": "float"
        },
        "totalCancellations": {
          "description": "The number of cancelled attempts to use the underlying entry.",
          "format": "float",
          "type": "number"
        },
        "totalExecutionTimeForCompletionsMillis": {
          "description": "Total time spent only on successful uses, in milliseconds.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Detailed statistics on the entry's usage. Usage statistics have the following limitations: - Only BigQuery tables have them. - They only include BigQuery query jobs. - They might be underestimated because wildcard table references are not yet counted. For more information, see [Querying multiple tables using a wildcard table] (https://cloud.google.com/bigquery/docs/querying-wildcard-tables)",
      "id": "GoogleCloudDatacatalogV1UsageStats",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagTemplate": {
      "id": "GoogleCloudDatacatalogV1TagTemplate",
      "type": "object",
      "description": "A tag template defines a tag that can have one or more typed fields. The template is used to create tags that are attached to Google Cloud resources. [Tag template roles] (https://cloud.google.com/iam/docs/roles-permissions/datacatalog) provide permissions to create, edit, and use the template. For example, see the [TagTemplate User] (https://cloud.google.com/data-catalog/docs/how-to/template-user) role that includes a permission to use the tag template to tag resources.",
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1TagTemplateField"
          },
          "type": "object",
          "description": "Required. Map of tag template field IDs to the settings for the field. This map is an exhaustive list of the allowed fields. The map must contain at least one field and at most 500 fields. The keys to this map are tag template field IDs. The IDs have the following limitations: * Can contain uppercase and lowercase letters, numbers (0-9) and underscores (_). * Must be at least 1 character and at most 64 characters long. * Must start with a letter or underscore."
        },
        "dataplexTransferStatus": {
          "enumDescriptions": [
            "Default value. TagTemplate and its tags are only visible and editable in Data Catalog.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Data Catalog, read-only in Dataplex Universal Catalog. Deprecated: Individual TagTemplate migration is deprecated in favor of organization or project wide TagTemplate migration opt-in.",
            "TagTemplate and its tags are auto-copied to Dataplex Universal Catalog service. Visible in both services. Editable in Dataplex Universal Catalog, read-only in Data Catalog."
          ],
          "type": "string",
          "description": "Optional. Transfer status of the TagTemplate",
          "enum": [
            "DATAPLEX_TRANSFER_STATUS_UNSPECIFIED",
            "MIGRATED",
            "TRANSFERRED"
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this template. Defaults to an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters."
        },
        "isPubliclyReadable": {
          "description": "Indicates whether tags created with this template are public. Public tags do not require tag template access to appear in ListTags API response. Additionally, you can search for a public tag by value with a simple search query in addition to using a ``tag:`` predicate.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the tag template in URL format. Note: The tag template itself and its child resources might not be stored in the location specified in its name."
        }
      }
    },
    "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "properties": {
        "database": {
          "description": "Database name.",
          "type": "string"
        },
        "instanceId": {
          "description": "Cloud SQL instance ID in the format of `project:location:instance`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ],
          "description": "Type of the Cloud SQL database.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ]
        }
      },
      "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
      "id": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "properties": {
        "parentModelId": {
          "type": "string",
          "description": "ID of the parent Model. Empty if it does not exist."
        },
        "parentModelDisplayName": {
          "description": "Name of the parent Model. Empty if it does not exist.",
          "type": "string"
        },
        "parentViewId": {
          "description": "ID of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentViewDisplayName": {
          "description": "Name of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentInstanceDisplayName": {
          "description": "Name of the parent Looker Instance. Empty if it does not exist.",
          "type": "string"
        },
        "parentInstanceId": {
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`",
          "type": "string"
        }
      },
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportEntriesRequest": {
      "properties": {
        "gcsBucketPath": {
          "type": "string",
          "description": "Path to a Cloud Storage bucket that contains a dump ready for ingestion."
        },
        "jobId": {
          "type": "string",
          "description": "Optional. (Optional) Dataplex Universal Catalog task job id, if specified will be used as part of ImportEntries LRO ID"
        }
      },
      "id": "GoogleCloudDatacatalogV1ImportEntriesRequest",
      "type": "object",
      "description": "Request message for ImportEntries method."
    },
    "GoogleCloudDatacatalogV1CrossRegionalSource": {
      "description": "Cross-regional source used to import an existing taxonomy into a different region.",
      "id": "GoogleCloudDatacatalogV1CrossRegionalSource",
      "type": "object",
      "properties": {
        "taxonomy": {
          "type": "string",
          "description": "Required. The resource name of the source taxonomy to import."
        }
      }
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey": {
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKey",
      "type": "object",
      "description": "Specification of a Spanner foreign key.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The constraint_name of the foreign key, for example, FK_CustomerOrder.",
          "readOnly": true
        },
        "entry": {
          "type": "string",
          "description": "Output only. The table name this foreign key referenced to. Format: `projects/{PROJECT_ID}/locations/{LOCATION}/entryGroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`",
          "readOnly": true
        },
        "columnMappings": {
          "description": "Output only. The ordered list of column mappings for this foreign key.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest": {
      "id": "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest",
      "type": "object",
      "description": "Request message for ModifyEntryOverview.",
      "properties": {
        "entryOverview": {
          "$ref": "GoogleCloudDatacatalogV1EntryOverview",
          "description": "Required. The new value for the Entry Overview."
        }
      }
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "type": "object",
      "description": "Schema in Thrift format.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Thrift IDL source of the schema."
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "properties": {
        "tableSourceType": {
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The table source type.",
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ]
        },
        "tableSpec": {
          "$ref": "GoogleCloudDatacatalogV1TableSpec",
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`."
        },
        "viewSpec": {
          "$ref": "GoogleCloudDatacatalogV1ViewSpec",
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`."
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec",
      "type": "object",
      "description": "Describes a BigQuery table."
    },
    "GoogleCloudDatacatalogV1CommonUsageStats": {
      "id": "GoogleCloudDatacatalogV1CommonUsageStats",
      "type": "object",
      "description": "Common statistics on the entry's usage. They can be set on any system.",
      "properties": {
        "viewCount": {
          "type": "string",
          "description": "View count in source system.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDatacatalogV1BusinessContext": {
      "properties": {
        "contacts": {
          "$ref": "GoogleCloudDatacatalogV1Contacts",
          "description": "Contact people for the entry."
        },
        "entryOverview": {
          "description": "Entry overview fields for rich text descriptions of entries.",
          "$ref": "GoogleCloudDatacatalogV1EntryOverview"
        }
      },
      "description": "Business Context of the entry.",
      "id": "GoogleCloudDatacatalogV1BusinessContext",
      "type": "object"
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec": {
      "id": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
      "type": "object",
      "description": "Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)",
      "properties": {
        "instanceHost": {
          "type": "string",
          "description": "Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance."
        },
        "databaseVersion": {
          "description": "Version of the database engine.",
          "type": "string"
        },
        "sqlEngine": {
          "type": "string",
          "description": "SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance."
        }
      }
    },
    "GoogleCloudDatacatalogV1CloudBigtableSystemSpec": {
      "description": "Specification that applies to all entries that are part of `CLOUD_BIGTABLE` system (user_specified_type)",
      "id": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec",
      "type": "object",
      "properties": {
        "instanceDisplayName": {
          "description": "Display name of the Instance. This is user specified and different from the resource name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1VertexModelSourceInfo": {
      "id": "GoogleCloudDatacatalogV1VertexModelSourceInfo",
      "type": "object",
      "description": "Detail description of the source information of a Vertex model.",
      "properties": {
        "copy": {
          "type": "boolean",
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original."
        },
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline.",
            "The Model is saved or tuned from Marketplace."
          ],
          "description": "Type of the model source.",
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING",
            "MARKETPLACE"
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1UsageSignal": {
      "id": "GoogleCloudDatacatalogV1UsageSignal",
      "type": "object",
      "description": "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day.",
      "properties": {
        "favoriteCount": {
          "type": "string",
          "description": "Favorite count in the source system.",
          "format": "int64"
        },
        "commonUsageWithinTimeRange": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1CommonUsageStats"
          },
          "description": "Common usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\", \"Lifetime\"}`.",
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "description": "The end timestamp of the duration of usage statistics.",
          "format": "google-datetime"
        },
        "usageWithinTimeRange": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1UsageStats"
          },
          "type": "object",
          "description": "Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\"}`.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDatacatalogV1InlineSource": {
      "id": "GoogleCloudDatacatalogV1InlineSource",
      "type": "object",
      "description": "Inline source containing taxonomies to import.",
      "properties": {
        "taxonomies": {
          "description": "Required. Taxonomies to import.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference": {
      "properties": {
        "edgeTableColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The referencing columns in the edge table. The size of `edge_table_columns` must be equal to the size of `node_table_columns`."
        },
        "nodeTableColumns": {
          "description": "Required. The referenced columns of the source node table.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodeAlias": {
          "description": "Required. The reference to the source/destination node of the edge. This name must be a valid `alias` of a node element in the same graph. Example, `Person` node can be a source node name of an edge element `Person_to_Address`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
      "type": "object",
      "description": "A reference to a source or destination node in a graph edge."
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the enum value. Must not be an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters."
        }
      },
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest": {
      "properties": {
        "newEnumValueDisplayName": {
          "type": "string",
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`."
        }
      },
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest",
      "type": "object",
      "description": "Request message for RenameTagTemplateFieldEnumValue."
    },
    "GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "id": "GoogleCloudDatacatalogV1VertexDatasetSpec",
      "type": "object",
      "description": "Specification for vertex dataset resources.",
      "properties": {
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Structured data dataset.",
            "Image dataset which supports ImageClassification, ImageObjectDetection and ImageSegmentation problems.",
            "Document dataset which supports TextClassification, TextExtraction and TextSentiment problems.",
[...]
