{
  "servicePath": "",
  "baseUrl": "https://datalabeling.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://datalabeling.googleapis.com/",
  "name": "datalabeling",
  "revision": "20260210",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "protocol": "rest",
  "version": "v1beta1",
  "schemas": {
    "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions": {
      "type": "object",
      "description": "Options regarding evaluation between bounding boxes.",
      "properties": {
        "iouThreshold": {
          "format": "float",
          "description": "Minimum [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) required for 2 bounding boxes to be considered a match. This must be a number between 0 and 1.",
          "type": "number"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions"
    },
    "GoogleCloudDatalabelingV1beta1FeedbackThread": {
      "properties": {
        "feedbackThreadMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThreadMetadata",
          "description": "Metadata regarding the feedback thread."
        },
        "name": {
          "description": "Name of the feedback thread. Format: 'project/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'",
          "type": "string"
        }
      },
      "description": "A feedback thread of a certain labeling task on a certain annotated dataset.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1FeedbackThread"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelTextEntityExtractionOperationMetadata": {
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelTextEntityExtractionOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata",
      "description": "Details of a LabelTextClassification operation metadata.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Example": {
      "type": "object",
      "description": "An Example is a piece of data and its annotation. For example, an image with label \"house\".",
      "id": "GoogleCloudDatalabelingV1beta1Example",
      "properties": {
        "videoPayload": {
          "description": "The video payload, a container of the video uri.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoPayload"
        },
        "annotations": {
          "type": "array",
          "description": "Output only. Annotations for the piece of data in Example. One piece of data can have multiple annotations.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Annotation"
          }
        },
        "textPayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextPayload",
          "description": "The text payload, a container of the text content."
        },
        "imagePayload": {
          "description": "The image payload, a container of the image bytes/uri.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePayload"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the example, in format of: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ImageClassificationConfig": {
      "id": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
      "description": "Config for image classification human labeling task.",
      "properties": {
        "allowMultiLabel": {
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one image.",
          "type": "boolean"
        },
        "answerAggregationType": {
          "enum": [
            "STRING_AGGREGATION_TYPE_UNSPECIFIED",
            "MAJORITY_VOTE",
            "UNANIMOUS_VOTE",
            "NO_AGGREGATION"
          ],
          "enumDescriptions": [
            "",
            "Majority vote to aggregate answers.",
            "Unanimous answers will be adopted.",
            "Preserve all answers by crowd compute."
          ],
          "type": "string",
          "description": "Optional. The type of how to aggregate answers."
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation": {
      "id": "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation",
      "description": "A polyline for the image annotation.",
      "type": "object",
      "properties": {
        "polyline": {
          "$ref": "GoogleCloudDatalabelingV1beta1Polyline"
        },
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of this polyline."
        },
        "normalizedPolyline": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedPolyline"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest": {
      "description": "Request message for CreateAnnotationSpecSet.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest",
      "properties": {
        "annotationSpecSet": {
          "description": "Required. Annotation spec set to create. Annotation specs must be included. Only one annotation spec will be accepted for annotation specs with same display_name.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationResponse": {
      "description": "Response used for ImportData longrunning operation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1ImportDataOperationResponse",
      "properties": {
        "importCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of examples imported successfully."
        },
        "totalCount": {
          "description": "Output only. Total number of examples requested to import",
          "format": "int32",
          "type": "integer"
        },
        "dataset": {
          "type": "string",
          "description": "Ouptut only. The name of imported dataset."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry": {
      "type": "object",
      "properties": {
        "itemCount": {
          "description": "Number of items predicted to have this label. (The ground truth label for these items is the `Row.annotationSpec` of this entry's parent.)",
          "type": "integer",
          "format": "int32"
        },
        "annotationSpec": {
          "description": "The annotation spec of a predicted label.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "description": "Metadata of a LabelImageClassification operation.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata": {
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageBoundingBoxOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Row": {
      "id": "GoogleCloudDatalabelingV1beta1Row",
      "description": "A row in the confusion matrix. Each entry in this row has the same ground truth label.",
      "properties": {
        "entries": {
          "description": "A list of the confusion matrix entries. One entry for each possible predicted label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry"
          }
        },
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "The annotation spec of the ground truth label for this row."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata": {
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Attempt": {
      "properties": {
        "attemptTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Details of errors that occurred."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1Attempt",
      "type": "object",
      "description": "Records a failed evaluation job run."
    },
    "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "description": "Details of a LabelTextClassification operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest": {
      "description": "Request message of SearchExampleComparisons.",
      "id": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest",
      "properties": {
        "pageToken": {
          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search rquest. If you don't specify this field, the API call requests the first page of the search.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1GcsFolderDestination": {
      "description": "Export folder destination of the data.",
      "properties": {
        "outputFolderUri": {
          "description": "Required. Cloud Storage directory to export data to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1GcsFolderDestination"
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1Vertex": {
      "id": "GoogleCloudDatalabelingV1beta1Vertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "properties": {
        "y": {
          "format": "int32",
          "type": "integer",
          "description": "Y coordinate."
        },
        "x": {
          "description": "X coordinate.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJob": {
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJob",
      "description": "Defines an evaluation job that runs periodically to generate Evaluations. [Creating an evaluation job](/ml-engine/docs/continuous-evaluation/create-job) is the starting point for using continuous evaluation.",
      "type": "object",
      "properties": {
        "labelMissingGroundTruth": {
          "description": "Required. Whether you want Data Labeling Service to provide ground truth labels for prediction input. If you want the service to assign human labelers to annotate your data, set this to `true`. If you want to provide your own ground truth labels in the evaluation job's BigQuery table, set this to `false`.",
          "type": "boolean"
        },
        "attempts": {
          "description": "Output only. Every time the evaluation job runs and an error occurs, the failed attempt is appended to this array.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Attempt"
          }
        },
        "description": {
          "description": "Required. Description of the job. The description can be up to 25,000 characters long.",
          "type": "string"
        },
        "name": {
          "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\"",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "The job is scheduled to run at the configured interval. You can pause or delete the job. When the job is in this state, it samples prediction input and output from your model version into your BigQuery table as predictions occur.",
            "The job is currently running. When the job runs, Data Labeling Service does several things: 1. If you have configured your job to use Data Labeling Service for ground truth labeling, the service creates a Dataset and a labeling task for all data sampled since the last time the job ran. Human labelers provide ground truth labels for your data. Human labeling may take hours, or even days, depending on how much data has been sampled. The job remains in the `RUNNING` state during this time, and it can even be running multiple times in parallel if it gets triggered again (for example 24 hours later) before the earlier run has completed. When human labelers have finished labeling the data, the next step occurs. If you have configured your job to provide your own ground truth labels, Data Labeling Service still creates a Dataset for newly sampled data, but it expects that you have already added ground truth labels to the BigQuery table by this time. The next step occurs immediately. 2. Data Labeling Service creates an Evaluation by comparing your model version's predictions with the ground truth labels. If the job remains in this state for a long time, it continues to sample prediction data into your BigQuery table and will run again at the next interval, even if it causes the job to run multiple times in parallel.",
            "The job is not sampling prediction input and output into your BigQuery table and it will not run according to its schedule. You can resume the job.",
            "The job has this state right before it is deleted."
          ],
          "description": "Output only. Describes the current state of the job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "RUNNING",
            "PAUSED",
            "STOPPED"
          ]
        },
        "modelVersion": {
          "type": "string",
          "description": "Required. The [AI Platform Prediction model version](/ml-engine/docs/prediction-overview) to be evaluated. Prediction input and output is sampled from this model version. When creating an evaluation job, specify the model version in the following format: \"projects/{project_id}/models/{model_name}/versions/{version_name}\" There can only be one evaluation job per model version."
        },
        "evaluationJobConfig": {
          "description": "Required. Configuration details for the evaluation job.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJobConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when this evaluation job was created.",
          "type": "string"
        },
        "schedule": {
          "description": "Required. Describes the interval at which the job runs. This interval must be at least 1 day, and it is rounded to the nearest day. For example, if you specify a 50-hour interval, the job runs every 2 days. You can provide the schedule in [crontab format](/scheduler/docs/configuring/cron-job-schedules) or in an [English-like format](/appengine/docs/standard/python/config/cronref#schedule_format). Regardless of what you specify, the job will run at 10:00 AM UTC. Only the interval from this schedule is used, not the specific time of day.",
          "type": "string"
        },
        "annotationSpecSet": {
          "description": "Required. Name of the AnnotationSpecSet describing all the labels that your machine learning model outputs. You must create this resource before you create an evaluation job and provide its name in the following format: \"projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1LabelStats": {
      "properties": {
        "exampleCount": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Statistics about annotation specs.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelStats"
    },
    "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationResponse": {
      "properties": {
        "outputConfig": {
          "description": "Output only. output_config in the ExportData request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1OutputConfig"
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "exportCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of examples exported successfully."
        },
        "totalCount": {
          "description": "Output only. Total number of examples requested to export",
          "format": "int32",
          "type": "integer"
        },
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelStats"
        },
        "dataset": {
          "type": "string",
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\""
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationResponse",
      "description": "Response used for ExportDataset longrunning operation."
    },
    "GoogleCloudDatalabelingV1beta1ClassificationMetadata": {
      "description": "Metadata for classification annotations.",
      "properties": {
        "isMultiLabel": {
          "type": "boolean",
          "description": "Whether the classification task is multi-label or not."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ClassificationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrix": {
      "description": "Confusion matrix of the model running the classification. Only applicable when the metrics entry aggregates multiple labels. Not applicable when the entry is for a single label.",
      "properties": {
        "row": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Row"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrix"
    },
    "GoogleCloudDatalabelingV1beta1ExportDataRequest": {
      "type": "object",
      "description": "Request message for ExportData API.",
      "properties": {
        "annotatedDataset": {
          "description": "Required. Annotated dataset resource name. DataItem in Dataset and their annotations in specified annotated dataset will be exported. It's in format of projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
          "type": "string"
        },
        "outputConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1OutputConfig",
          "description": "Required. Specify the output destination."
        },
        "userEmailAddress": {
          "type": "string",
          "description": "Email of the user who started the export task and should be notified by email. If empty no notification will be sent."
        },
        "filter": {
          "description": "Optional. Filter is not supported at this moment.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
    },
    "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        },
        "feedbackThreads": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
          },
          "description": "The list of feedback threads to return."
        }
      },
      "type": "object",
      "description": "Results for listing FeedbackThreads.",
      "id": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when export dataset request was created."
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        }
      },
      "type": "object",
      "description": "Metadata of an ExportData operation."
    },
    "GoogleCloudDatalabelingV1beta1PdfInstruction": {
      "properties": {
        "gcsFileUri": {
          "description": "PDF file for the instruction. Only gcs path is allowed.",
          "type": "string"
        }
      },
      "description": "Instruction from a PDF file.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1PdfInstruction"
    },
    "GoogleCloudDatalabelingV1beta1FeedbackMessage": {
      "id": "GoogleCloudDatalabelingV1beta1FeedbackMessage",
      "properties": {
        "name": {
          "description": "Name of the feedback message in a feedback thread. Format: 'project/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessage/{feedback_message_id}'",
          "type": "string"
        },
        "body": {
          "description": "String content of the feedback. Maximum of 10000 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Create time."
        },
        "requesterFeedbackMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata"
        },
        "operatorFeedbackMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata"
        },
        "image": {
          "description": "The image storing this feedback if the feedback is an image representing operator's comments.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "A feedback message inside a feedback thread.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation": {
      "properties": {
        "objectTrackingFrames": {
          "description": "The list of frames where this object track appears.",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingFrame"
          },
          "type": "array"
        },
        "timeSegment": {
          "$ref": "GoogleCloudDatalabelingV1beta1TimeSegment",
          "description": "The time segment of the video to which object tracking applies."
        },
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of the object tracked in this annotation."
        }
      },
      "type": "object",
      "description": "Video object tracking annotation.",
      "id": "GoogleCloudDatalabelingV1beta1VideoObjectTrackingAnnotation"
    },
    "GoogleCloudDatalabelingV1alpha1LabelOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelOperationMetadata",
      "properties": {
        "imageBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata",
          "description": "Details of label image bounding box operation."
        },
        "imagePolylineDetails": {
          "description": "Details of label image polyline operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata"
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when labeling request was created."
        },
        "imageSegmentationDetails": {
          "description": "Details of label image segmentation operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata"
        },
        "imageBoundingPolyDetails": {
          "description": "Details of label image bounding poly operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata"
        },
        "dataset": {
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "textEntityExtractionDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata",
          "description": "Details of label text entity extraction operation."
        },
        "progressPercent": {
          "description": "Output only. Progress of label operation. Range: [0, 100].",
          "format": "int32",
          "type": "integer"
        },
        "imageClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata",
          "description": "Details of label image classification operation."
        },
        "textClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata",
          "description": "Details of label text classification operation."
        },
        "videoObjectDetectionDetails": {
          "description": "Details of label video object detection operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata"
        },
        "imageOrientedBoundingBoxDetails": {
          "description": "Details of label image oriented bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata"
        },
        "videoClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata",
          "description": "Details of label video classification operation."
        },
        "videoObjectTrackingDetails": {
          "description": "Details of label video object tracking operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata"
        }
      },
      "type": "object",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23"
    },
    "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry",
      "properties": {
        "precision": {
          "description": "Precision value.",
          "type": "number",
          "format": "float"
        },
        "recallAt5": {
          "format": "float",
          "type": "number",
          "description": "Recall value for entries with label that has highest 5 scores."
        },
        "confidenceThreshold": {
          "description": "Threshold used for this entry. For classification tasks, this is a classification threshold: a predicted label is categorized as positive or negative (in the context of this point on the PR curve) based on whether the label's score meets this threshold. For image object detection (bounding box) tasks, this is the [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) threshold for the context of this point on the PR curve.",
          "type": "number",
          "format": "float"
        },
        "recallAt1": {
          "type": "number",
          "format": "float",
          "description": "Recall value for entries with label that has highest score."
        },
        "precisionAt5": {
          "description": "Precision value for entries with label that has highest 5 scores.",
          "type": "number",
          "format": "float"
        },
        "f1ScoreAt1": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall_at1 and precision_at1."
        },
        "recall": {
          "description": "Recall value.",
          "type": "number",
          "format": "float"
        },
        "precisionAt1": {
          "description": "Precision value for entries with label that has highest score.",
          "type": "number",
          "format": "float"
        },
        "f1Score": {
          "description": "Harmonic mean of recall and precision.",
          "format": "float",
          "type": "number"
        },
        "f1ScoreAt5": {
          "description": "The harmonic mean of recall_at5 and precision_at5.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1ImportDataOperationMetadata",
      "type": "object",
      "properties": {
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when import dataset request was created."
        }
      },
      "description": "Metadata of an ImportData operation."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageOrientedBoundingBoxOperationMetadata",
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of LabelImagePolyline operation metadata."
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse": {
      "description": "Results for listing evaluation jobs.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results.",
          "type": "string"
        },
        "evaluationJobs": {
          "description": "The list of evaluation jobs to return.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
    },
    "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata",
      "description": "Metadata describing the feedback from the labeling task requester.",
      "properties": {}
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectTrackingOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoObjectTracking operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectTrackingOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1InputConfig": {
      "properties": {
        "annotationType": {
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "description": "Optional. The type of annotation to be performed on this data. You must specify this field if you are using this InputConfig in an EvaluationJob.",
          "type": "string"
        },
        "textMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextMetadata",
          "description": "Required for text import, as language code must be specified."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDatalabelingV1beta1BigQuerySource",
          "description": "Source located in BigQuery. You must specify this field if you are using this InputConfig in an EvaluationJob."
        },
        "classificationMetadata": {
          "description": "Optional. Metadata about annotations for the input. You must specify this field if you are using this InputConfig in an EvaluationJob for a model version that performs classification.",
          "$ref": "GoogleCloudDatalabelingV1beta1ClassificationMetadata"
        },
        "gcsSource": {
          "$ref": "GoogleCloudDatalabelingV1beta1GcsSource",
          "description": "Source located in Cloud Storage."
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Data type is unspecified.",
            "Allowed for continuous evaluation.",
            "Video data type.",
            "Allowed for continuous evaluation.",
            "Allowed for continuous evaluation."
          ],
          "description": "Required. Data type must be specifed when user tries to import data.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "IMAGE",
            "VIDEO",
            "TEXT",
            "GENERAL_DATA"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1InputConfig",
      "description": "The configuration of input data, including data type, location, etc."
    },
    "GoogleCloudDatalabelingV1beta1TextClassificationAnnotation": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1TextClassificationAnnotation",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of the text."
        }
      },
      "description": "Text classification annotation."
    },
    "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig": {
      "properties": {
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification."
        },
        "replicaCount": {
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5.",
          "type": "integer",
          "format": "int32"
        },
        "labelGroup": {
          "type": "string",
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`."
        },
        "contributorEmails": {
          "items": {
            "type": "string"
          },
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "type": "array"
        },
        "userEmailAddress": {
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.",
          "type": "string"
        },
        "annotatedDatasetDisplayName": {
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "Required. Instruction resource name."
        },
        "questionDuration": {
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
      "description": "Configuration for how human labeling task should be done."
    },
    "GoogleCloudDatalabelingV1p2alpha1OutputConfig": {
      "properties": {
        "gcsFolderDestination": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination",
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs."
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsDestination",
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1OutputConfig",
      "type": "object",
      "description": "The configuration of output data."
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelTextEntityExtractionOperationMetadata": {
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelTextEntityExtractionOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelImageClassificationOperationMetadata",
      "description": "Metadata of a LabelImageClassification operation.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1ExportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1beta1ExportDataOperationResponse",
      "description": "Response used for ExportDataset longrunning operation.",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Total number of examples requested to export"
        },
        "exportCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of examples exported successfully."
        },
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelStats"
        },
        "outputConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1OutputConfig",
          "description": "Output only. output_config in the ExportData request."
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ExportDataOperationMetadata": {
      "properties": {
        "dataset": {
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when export dataset request was created."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ExportDataOperationMetadata",
      "description": "Metadata of an ExportData operation."
    },
    "GoogleCloudDatalabelingV1beta1PolylineConfig": {
      "id": "GoogleCloudDatalabelingV1beta1PolylineConfig",
      "description": "Config for image polyline human labeling task.",
      "type": "object",
      "properties": {
        "instructionMessage": {
          "type": "string",
          "description": "Optional. Instruction message showed on contributors UI."
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoClassification operation metadata.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1DataItem": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Name of the data item, in format of: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}"
        },
        "textPayload": {
          "description": "The text payload, a container of text content.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextPayload"
        },
        "imagePayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePayload",
          "description": "The image payload, a container of the image bytes/uri."
        },
        "videoPayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoPayload",
          "description": "The video payload, a container of the video uri."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1DataItem",
      "description": "DataItem is a piece of data, without annotation. For example, an image."
    },
    "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationMetadata": {
      "description": "Metadata of an ExportData operation.",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when export dataset request was created."
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1ExportDataOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Evaluation": {
      "description": "Describes an evaluation between a machine learning model's predictions and ground truth labels. Created when an EvaluationJob runs successfully.",
      "id": "GoogleCloudDatalabelingV1beta1Evaluation",
      "properties": {
        "evaluationMetrics": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationMetrics",
          "description": "Output only. Metrics comparing predictions to ground truth labels."
        },
        "annotationType": {
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "type": "string",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "description": "Output only. Type of task that the model version being evaluated performs, as defined in the evaluationJobConfig.inputConfig.annotationType field of the evaluation job that created this evaluation."
        },
        "config": {
          "description": "Output only. Options used in the evaluation job that created this evaluation.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig"
        },
        "evaluationJobRunTime": {
          "type": "string",
          "description": "Output only. Timestamp for when the evaluation job that created this evaluation ran.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Resource name of an evaluation. The name has the following format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}'",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp for when this evaluation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "evaluatedItemCount": {
          "format": "int64",
          "description": "Output only. The number of items in the ground truth dataset that were used for this evaluation. Only populated when the evaulation is for certain AnnotationTypes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata": {
      "properties": {
        "createTime": {
          "description": "Timestamp when create instruction request was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        }
      },
      "type": "object",
      "description": "Metadata of a CreateInstruction operation.",
      "id": "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata"
    },
    "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination": {
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      },
      "type": "object",
      "description": "Export folder destination of the data.",
      "id": "GoogleCloudDatalabelingV1p1alpha1GcsFolderDestination"
    },
    "GoogleCloudDatalabelingV1beta1LabelTextRequest": {
      "type": "object",
      "description": "Request message for LabelText.",
      "properties": {
        "textEntityExtractionConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig",
          "description": "Configuration for entity extraction task. One of text_classification_config and text_entity_extraction_config is required."
        },
        "feature": {
          "description": "Required. The type of text labeling task.",
          "enumDescriptions": [
            "",
            "Label text content to one of more labels.",
            "Label entities and their span in text."
          ],
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "TEXT_CLASSIFICATION",
            "TEXT_ENTITY_EXTRACTION"
          ]
        },
        "textClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
          "description": "Configuration for text classification task. One of text_classification_config and text_entity_extraction_config is required."
        },
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Required. Basic human annotation config."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
    },
    "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination": {
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination",
      "description": "Export folder destination of the data."
    },
    "GoogleCloudDatalabelingV1p2alpha1CreateInstructionMetadata": {
      "description": "Metadata of a CreateInstruction operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Timestamp when create instruction request was created.",
          "type": "string"
        },
        "partialFailures": {
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "instruction": {
          "type": "string",
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1CreateInstructionMetadata"
    },
    "GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation": {
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of the segment specified by time_segment."
        },
        "timeSegment": {
          "$ref": "GoogleCloudDatalabelingV1beta1TimeSegment",
          "description": "The time segment of the video to which the annotation applies."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1VideoClassificationAnnotation",
      "type": "object",
      "description": "Video classification annotation."
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoRequest": {
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoRequest",
      "type": "object",
      "description": " Request message for LabelVideo.",
      "properties": {
        "objectDetectionConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionConfig",
          "description": "Configuration for video object detection task. One of video_classification_config, object_detection_config, object_tracking_config and event_config is required."
        },
        "eventConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1EventConfig",
          "description": "Configuration for video event task. One of video_classification_config, object_detection_config, object_tracking_config and event_config is required."
        },
        "basicConfig": {
          "description": "Required. Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "objectTrackingConfig": {
          "description": "Configuration for video object tracking task. One of video_classification_config, object_detection_config, object_tracking_config and event_config is required.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig"
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "CLASSIFICATION",
            "OBJECT_DETECTION",
            "OBJECT_TRACKING",
            "EVENT"
          ],
          "enumDescriptions": [
            "",
            "Label whole video or video segment with one or more labels.",
            "Label objects with bounding box on image frames extracted from the video.",
            "Label and track objects in video.",
            "Label the range of video for the specified events."
          ],
          "type": "string",
          "description": "Required. The type of video labeling task."
        },
        "videoClassificationConfig": {
          "description": "Configuration for video classification task. One of video_classification_config, object_detection_config, object_tracking_config and event_config is required.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationConfig"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDatalabelingV1beta1PrCurve": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1PrCurve",
      "properties": {
        "confidenceMetricsEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ConfidenceMetricsEntry"
          },
          "description": "Entries that make up the precision-recall graph. Each entry is a \"point\" on the graph drawn for a different `confidence_threshold`."
        },
        "meanAveragePrecision": {
          "format": "float",
          "description": "Mean average prcision of this curve.",
          "type": "number"
        },
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "The annotation spec of the label for which the precision-recall curve calculated. If this field is empty, that means the precision-recall curve is an aggregate curve for all labels."
        },
        "areaUnderCurve": {
          "format": "float",
          "type": "number",
          "description": "Area under the precision-recall curve. Not to be confused with area under a receiver operating characteristic (ROC) curve."
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1p1alpha1ExportDataOperationResponse",
      "properties": {
        "labelStats": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1LabelStats",
          "description": "Output only. Statistic infos of labels in the exported dataset."
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "totalCount": {
          "description": "Output only. Total number of examples requested to export",
          "type": "integer",
          "format": "int32"
        },
        "outputConfig": {
          "description": "Output only. output_config in the ExportData request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1OutputConfig"
        },
        "exportCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of examples exported successfully."
        }
      },
      "type": "object",
      "description": "Response used for ExportDataset longrunning operation."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDatalabelingV1beta1OutputConfig": {
      "id": "GoogleCloudDatalabelingV1beta1OutputConfig",
      "properties": {
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1beta1GcsFolderDestination"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDatalabelingV1beta1GcsDestination",
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
        }
      },
      "description": "The configuration of output data.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata": {
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata",
      "description": "Details of a LabelTextEntityExtraction operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationResponse": {
      "properties": {
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "exportCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of examples exported successfully."
        },
        "outputConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1OutputConfig",
          "description": "Output only. output_config in the ExportData request."
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "totalCount": {
          "type": "integer",
          "description": "Output only. Total number of examples requested to export",
          "format": "int32"
        },
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelStats"
        }
      },
      "description": "Response used for ExportDataset longrunning operation.",
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationResponse",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "description": "Metadata of a LabelImageClassification operation."
    },
    "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig": {
      "type": "object",
      "properties": {
        "replicaCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Replication of questions. Each question will be sent to up to this number of contributors to label. Aggregated answers will be returned. Default is set to 1. For image related labeling, valid values are 1, 3, 5."
        },
        "annotatedDatasetDisplayName": {
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters .",
          "type": "string"
        },
        "contributorEmails": {
          "type": "array",
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "items": {
            "type": "string"
          }
        },
        "labelGroup": {
          "type": "string",
          "description": "Optional. A human-readable label used to logically group labeling tasks. This string must match the regular expression `[a-zA-Z\\\\d_-]{0,128}`."
        },
        "instruction": {
          "description": "Required. Instruction resource name.",
          "type": "string"
        },
        "questionDuration": {
          "type": "string",
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "format": "google-duration"
        },
        "userEmailAddress": {
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification.",
          "type": "string"
        },
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string"
        }
      },
      "description": "Configuration for how human labeling task should be done.",
      "id": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
    },
    "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig": {
      "description": "Config for text entity extraction human labeling task.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig",
      "properties": {
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata": {
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata": {
      "description": "Details of a LabelVideoEvent operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse": {
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
          },
          "description": "The list of evaluations matching the search.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        }
      },
      "description": "Results of searching evaluations.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
    },
    "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata",
      "properties": {
        "textEntityExtractionConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig",
          "description": "Configuration for text entity extraction task."
        },
        "polylineConfig": {
          "description": "Configuration for image polyline task.",
          "$ref": "GoogleCloudDatalabelingV1beta1PolylineConfig"
        },
        "boundingPolyConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
          "description": "Configuration for image bounding box and bounding poly task."
        },
        "objectTrackingConfig": {
          "description": "Configuration for video object tracking task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig"
        },
        "textClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
          "description": "Configuration for text classification task."
        },
        "objectDetectionConfig": {
          "description": "Configuration for video object detection task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionConfig"
        },
        "videoClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationConfig",
          "description": "Configuration for video classification task."
        },
        "segmentationConfig": {
          "description": "Configuration for image segmentation task.",
          "$ref": "GoogleCloudDatalabelingV1beta1SegmentationConfig"
        },
        "eventConfig": {
          "description": "Configuration for video event labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1EventConfig"
        },
        "humanAnnotationConfig": {
          "description": "HumanAnnotationConfig used when requesting the human labeling task for this AnnotatedDataset.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "imageClassificationConfig": {
          "description": "Configuration for image classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig"
        }
      },
      "description": "Metadata on AnnotatedDataset.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly": {
      "properties": {
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1NormalizedVertex"
          },
          "type": "array",
          "description": "The bounding polygon normalized vertices."
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1NormalizedBoundingPoly",
      "description": "Normalized bounding polygon."
    },
    "GoogleCloudDatalabelingV1beta1NormalizedVertex": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1NormalizedVertex",
      "properties": {
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "format": "float",
          "description": "Y coordinate.",
          "type": "number"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudDatalabelingV1beta1Polyline": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1Polyline",
      "description": "A line with multiple line segments.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Vertex"
          },
          "description": "The polyline vertices.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1FeedbackThreadMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1FeedbackThreadMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "When the thread is created",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "",
            "Feedback thread is created with no reply;",
            "Feedback thread is replied at least once;"
          ],
          "type": "string",
          "enum": [
            "FEEDBACK_THREAD_STATUS_UNSPECIFIED",
            "NEW",
            "REPLIED"
          ]
        },
        "thumbnail": {
          "type": "string",
          "description": "An image thumbnail of this thread.",
          "format": "byte"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the thread is last updated."
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoObjectDetection operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig": {
      "description": "Config for video object tracking human labeling task.",
      "properties": {
        "overlapLength": {
          "description": "The overlap length between different video clips. Users can configure is field in seconds, if not set, default value is 0.3s.",
          "type": "integer",
          "format": "int32"
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        },
        "clipLength": {
          "description": "Videos will be cut to smaller clips to make it easier for labelers to work on. Users can configure is field in seconds, if not set, default value is 20s.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig"
    },
    "GoogleCloudDatalabelingV1beta1EvaluationConfig": {
      "description": "Configuration details used for calculating evaluation metrics and creating an Evaluation.",
      "id": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
      "type": "object",
      "properties": {
        "boundingBoxEvaluationOptions": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
          "description": "Only specify this field if the related model performs image object detection (`IMAGE_BOUNDING_BOX_ANNOTATION`). Describes how to evaluate bounding boxes."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1LabelOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1LabelOperationMetadata",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23",
      "properties": {
        "textEntityExtractionDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata",
          "description": "Details of label text entity extraction operation."
        },
        "imageSegmentationDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata",
          "description": "Details of label image segmentation operation."
        },
        "videoEventDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoEventOperationMetadata",
          "description": "Details of label video event operation."
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\""
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Progress of label operation. Range: [0, 100]."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when labeling request was created."
        },
        "videoObjectDetectionDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata",
          "description": "Details of label video object detection operation."
        },
        "imageClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata",
          "description": "Details of label image classification operation."
        },
        "textClassificationDetails": {
          "description": "Details of label text classification operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata"
        },
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "videoClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata",
          "description": "Details of label video classification operation."
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "imageBoundingPolyDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata",
          "description": "Details of label image bounding poly operation."
        },
        "videoObjectTrackingDetails": {
          "description": "Details of label video object tracking operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata"
        },
        "imagePolylineDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata",
          "description": "Details of label image polyline operation."
        },
        "imageBoundingBoxDetails": {
          "description": "Details of label image bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata"
        },
        "imageOrientedBoundingBoxDetails": {
          "description": "Details of label image oriented bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata": {
      "properties": {},
      "id": "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata",
      "type": "object",
      "description": "Metadata describing the feedback from the operator."
    },
    "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p1alpha1GenerateAnalysisReportOperationMetadata",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "The name of the dataset for which the analysis report is generated. Format: \"projects/*/datasets/*\""
        },
        "createTime": {
          "description": "Timestamp when generate report request was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata of an GenerateAnalysisReport operation."
    },
    "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation": {
      "id": "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation",
      "properties": {
        "annotationColors": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
          },
          "description": "The mapping between rgb color and annotation spec. The key is the rgb color represented in format of rgb(0, 0, 0). The value is the AnnotationSpec.",
          "type": "object"
        },
        "imageBytes": {
          "description": "A byte string of a full image's color map.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Image format."
        }
      },
      "description": "Image segmentation annotation.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1TextClassificationConfig": {
      "id": "GoogleCloudDatalabelingV1beta1TextClassificationConfig",
      "description": "Config for text classification human labeling task.",
      "type": "object",
      "properties": {
        "annotationSpecSet": {
          "type": "string",
          "description": "Required. Annotation spec set resource name."
        },
        "allowMultiLabel": {
          "type": "boolean",
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels for one text segment."
        },
        "sentimentConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1SentimentConfig",
          "description": "Optional. Configs for sentiment selection. We deprecate sentiment analysis in data labeling side as it is incompatible with uCAIP.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ImagePayload": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImagePayload",
      "properties": {
        "signedUri": {
          "type": "string",
          "description": "Signed uri of the image file in the service bucket."
        },
        "mimeType": {
          "type": "string",
          "description": "Image format."
        },
        "imageThumbnail": {
          "type": "string",
          "format": "byte",
          "description": "A byte string of a thumbnail image."
        },
        "imageUri": {
          "type": "string",
          "description": "Image uri from the user bucket."
        }
      },
      "description": "Container of information about an image."
    },
    "GoogleCloudDatalabelingV1beta1AnnotationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotationMetadata",
      "type": "object",
      "description": "Additional information associated with the annotation.",
      "properties": {
        "operatorMetadata": {
          "description": "Metadata related to human labeling.",
          "$ref": "GoogleCloudDatalabelingV1beta1OperatorMetadata"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig": {
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. An email address to send alerts to."
        },
        "minAcceptableMeanAveragePrecision": {
          "format": "double",
          "type": "number",
          "description": "Required. A number between 0 and 1 that describes a minimum mean average precision threshold. When the evaluation job runs, if it calculates that your model version's predictions from the recent interval have meanAveragePrecision below this threshold, then it sends an alert to your specified email."
        }
      },
      "description": "Provides details for how an evaluation job sends email alerts based on the results of a run.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ImportDataOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1ImportDataOperationMetadata",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when import dataset request was created.",
          "type": "string"
        }
      },
      "description": "Metadata of an ImportData operation."
    },
    "GoogleCloudDatalabelingV1beta1EventConfig": {
      "properties": {
        "annotationSpecSets": {
          "description": "Required. The list of annotation spec set resource name. Similar to video classification, we support selecting event from multiple AnnotationSpecSet at the same time.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clipLength": {
          "description": "Videos will be cut to smaller clips to make it easier for labelers to work on. Users can configure is field in seconds, if not set, default value is 60s.",
          "type": "integer",
          "format": "int32"
        },
        "overlapLength": {
          "description": "The overlap length between different video clips. Users can configure is field in seconds, if not set, default value is 1s.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1EventConfig",
      "description": "Config for video event human labeling task.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "description": "Metadata of a LabelImageClassification operation."
    },
[...]
