{
  "ownerName": "Google",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "rootUrl": "https://datamanager.googleapis.com/",
  "name": "datamanager",
  "documentationLink": "https://developers.google.com/data-manager",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Data Manager",
  "title": "Data Manager API",
  "batchPath": "batch",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "resources": {
    "audienceMembers": {
      "methods": {
        "ingest": {
          "request": {
            "$ref": "IngestAudienceMembersRequest"
          },
          "id": "datamanager.audienceMembers.ingest",
          "flatPath": "v1/audienceMembers:ingest",
          "httpMethod": "POST",
          "description": "Uploads a list of AudienceMember resources to the provided Destination.",
          "path": "v1/audienceMembers:ingest",
          "parameterOrder": [],
          "response": {
            "$ref": "IngestAudienceMembersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameters": {}
        },
        "remove": {
          "httpMethod": "POST",
          "description": "Removes a list of AudienceMember resources from the provided Destination.",
          "path": "v1/audienceMembers:remove",
          "request": {
            "$ref": "RemoveAudienceMembersRequest"
          },
          "id": "datamanager.audienceMembers.remove",
          "flatPath": "v1/audienceMembers:remove",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "RemoveAudienceMembersResponse"
          }
        }
      }
    },
    "requestStatus": {
      "methods": {
        "retrieve": {
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Required. Required. The request ID of the Data Manager API request."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "path": "v1/requestStatus:retrieve",
          "httpMethod": "GET",
          "description": "Gets the status of a request given request id.",
          "flatPath": "v1/requestStatus:retrieve",
          "id": "datamanager.requestStatus.retrieve"
        }
      }
    },
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "userLists": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListUserListsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of user lists to return. The service may return fewer than this value. If unspecified, at most 50 user lists will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListUserLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLists` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent account which owns this collection of user lists. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `display_name = \"list 1\"`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` - `:` (has) Supported fields: - `id` - `display_name` - `description` - `membership_status` - `integration_code` - `access_reason` - `ingested_user_list_info.upload_key_types`",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "path": "v1/{+parent}/userLists",
                  "httpMethod": "GET",
                  "description": "Lists UserLists. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UserList"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "UserList"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the user list to delete. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UserList"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the UserList to retrieve. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "UserList"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent account where this user list will be created. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "UserList"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "httpMethod": "POST",
                  "description": "Creates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+parent}/userLists"
                }
              }
            },
            "insights": {
              "methods": {
                "retrieve": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent account that owns the user list. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "RetrieveInsightsResponse"
                  },
                  "path": "v1/{+parent}/insights:retrieve",
                  "httpMethod": "POST",
                  "description": "Retrieves marketing data insights for a given user list. This feature is only available to data partners. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/insights:retrieve",
                  "id": "datamanager.accountTypes.accounts.insights.retrieve"
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the user list direct license.",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates a user list direct license. This feature is only available to data partners.",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of licenses to return per page. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists all user list direct licenses owned by the parent account. This feature is only available to data partners.",
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses"
                },
                "create": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "httpMethod": "POST",
                  "description": "Creates a user list direct license. This feature is only available to data partners.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the user list direct license.",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "httpMethod": "GET",
                  "description": "Retrieves a user list direct license. This feature is only available to data partners.",
                  "path": "v1/{+name}"
                }
              }
            },
            "partnerLinks": {
              "methods": {
                "search": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of partner links to return. The service may return fewer than this value. If unspecified, at most 10 partner links will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `SearchPartnerLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchPartnerLinks` must match the call that provided the page token."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Account to search for partner links. If no `filter` is specified, all partner links where this account is either the `owning_account` or `partner_account` are returned. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `partner_link_id = 123456789`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` Supported fields: - `partner_link_id` - `owning_account.account_type` - `owning_account.account_id` - `partner_account.account_type` - `partner_account.account_id` Example: `owning_account.account_type = \"GOOGLE_ADS\" AND partner_account.account_id = 987654321`",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Searches for all partner links to and from a given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "path": "v1/{+parent}/partnerLinks:search",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search"
                },
                "create": {
                  "path": "v1/{+parent}/partnerLinks",
                  "httpMethod": "POST",
                  "description": "Creates a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create",
                  "request": {
                    "$ref": "PartnerLink"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of partner links. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "PartnerLink"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the partner link to delete. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`"
                }
              }
            },
            "userListGlobalLicenses": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all user list global licenses owned by the parent account. This feature is only available to data partners.",
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserListGlobalLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates a user list global license. This feature is only available to data partners.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the user list global license.",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used."
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "httpMethod": "POST",
                  "description": "Creates a user list global license. This feature is only available to data partners.",
                  "path": "v1/{+parent}/userListGlobalLicenses"
                },
                "get": {
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "httpMethod": "GET",
                  "description": "Retrieves a user list global license. This feature is only available to data partners.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the user list global license.",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                }
              },
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The global license whose customer info are being queried. Should be in the format `accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}/userListGlobalLicenses/{USER_LIST_GLOBAL_LICENSE_ID}`. To list all global license customer info under an account, replace the user list global license id with a '-' (for example, `accountTypes/DATA_PARTNER/accounts/123/userListGlobalLicenses/-`)",
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "filter": {
                          "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ],
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos",
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list",
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "httpMethod": "GET",
                      "description": "Lists all customer info for a user list global license. This feature is only available to data partners."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "events": {
      "methods": {
        "ingest": {
          "id": "datamanager.events.ingest",
          "flatPath": "v1/events:ingest",
          "request": {
            "$ref": "IngestEventsRequest"
          },
          "httpMethod": "POST",
          "description": "Uploads a list of Event resources from the provided Destination.",
          "path": "v1/events:ingest",
          "parameterOrder": [],
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ]
        }
      }
    }
  },
  "basePath": "",
  "id": "datamanager:v1",
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "schemas": {
    "Event": {
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Optional. The name of the event. Required for GA4 events.",
          "type": "string"
        },
        "additionalEventParameters": {
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array",
          "items": {
            "$ref": "EventParameter"
          }
        },
        "userProperties": {
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened.",
          "$ref": "UserProperties"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream."
        },
        "eventTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time the event occurred."
        },
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "userId": {
          "type": "string",
          "description": "Optional. A unique identifier for a user, as defined by the advertiser."
        },
        "transactionId": {
          "type": "string",
          "description": "Optional. The unique identifier for this event. Required for conversions using multiple data sources."
        },
        "customVariables": {
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity).",
          "type": "array",
          "items": {
            "$ref": "CustomVariable"
          }
        },
        "adIdentifiers": {
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
          "$ref": "AdIdentifiers"
        },
        "experimentalFields": {
          "type": "array",
          "items": {
            "$ref": "ExperimentalField"
          },
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API."
        },
        "eventSource": {
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from other sources."
          ]
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with the event, for value-based conversions.",
          "type": "number",
          "format": "double"
        },
        "destinationReferences": {
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastUpdatedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The last time the event was updated."
        },
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "userData": {
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with.",
          "$ref": "UserData"
        },
        "currency": {
          "type": "string",
          "description": "Optional. The currency code associated with all monetary values within this event."
        }
      },
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "id": "Event"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "UserIdentifier": {
      "type": "object",
      "properties": {
        "address": {
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once.",
          "$ref": "AddressInfo"
        },
        "emailAddress": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard)."
        }
      },
      "description": "A single identifier for the user.",
      "id": "UserIdentifier"
    },
    "ExperimentalField": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "Optional. The name of the field to use."
        },
        "value": {
          "type": "string",
          "description": "Optional. The value the field to set."
        }
      },
      "description": "Experimental field representing unofficial fields.",
      "id": "ExperimentalField"
    },
    "AdIdentifiers": {
      "type": "object",
      "properties": {
        "gclid": {
          "type": "string",
          "description": "Optional. The Google click ID (gclid) associated with this event."
        },
        "wbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14."
        },
        "gbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14."
        },
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        },
        "sessionAttributes": {
          "type": "string",
          "description": "Optional. Session attributes for event attribution and modeling."
        }
      },
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "id": "AdIdentifiers"
    },
    "RetrieveInsightsResponse": {
      "id": "RetrieveInsightsResponse",
      "type": "object",
      "properties": {
        "marketingDataInsights": {
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "description": "Contains the insights for the marketing data."
        }
      },
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "PartnerLink": {
      "description": "A partner link between an owning account and a partner account.",
      "type": "object",
      "properties": {
        "partnerLinkId": {
          "type": "string",
          "description": "Output only. The partner link ID.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}"
        },
        "owningAccount": {
          "description": "Required. The owning account granting access to the partner account.",
          "$ref": "ProductAccount"
        },
        "partnerAccount": {
          "description": "Required. The partner account granted access by the owning account.",
          "$ref": "ProductAccount"
        }
      },
      "id": "PartnerLink"
    },
    "ListUserListDirectLicensesResponse": {
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "type": "object",
      "properties": {
        "userListDirectLicenses": {
          "description": "The licenses for the given user list in the request.",
          "type": "array",
          "items": {
            "$ref": "UserListDirectLicense"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserListDirectLicensesResponse"
    },
    "IngestEventsRequest": {
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "type": "object",
      "properties": {
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event.",
          "$ref": "Consent"
        },
        "events": {
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        },
        "destinations": {
          "description": "Required. The list of destinations to send the events to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        }
      },
      "id": "IngestEventsRequest"
    },
    "RemoveAudienceMembersStatus": {
      "type": "object",
      "properties": {
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "pairDataRemovalStatus": {
          "description": "The status of the pair data removal from the destination.",
          "$ref": "RemovePairDataStatus"
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        },
        "ppidDataRemovalStatus": {
          "description": "The status of the ppid data removal from the destination.",
          "$ref": "RemovePpidDataStatus"
        },
        "mobileDataRemovalStatus": {
          "description": "The status of the mobile data removal from the destination.",
          "$ref": "RemoveMobileDataStatus"
        }
      },
      "description": "The status of the remove audience members request.",
      "id": "RemoveAudienceMembersStatus"
    },
    "UserListGlobalLicense": {
      "id": "UserListGlobalLicense",
      "description": "A user list global license. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license."
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        },
        "licenseType": {
          "description": "Immutable. Product type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ]
        },
        "status": {
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string",
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          }
        }
      }
    },
    "AwsWrappedKeyInfo": {
      "description": "A data encryption key wrapped by an AWS KMS key.",
      "type": "object",
      "properties": {
        "kekUri": {
          "description": "Required. The URI of the AWS KMS key used to decrypt the DEK. Should be in the format of `arn:{partition}:kms:{region}:{account_id}:key/{key_id}` or `aws-kms://arn:{partition}:kms:{region}:{account_id}:key/{key_id}`",
          "type": "string"
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        },
        "roleArn": {
          "type": "string",
          "description": "Required. The Amazon Resource Name of the IAM Role to assume for KMS decryption access. Should be in the format of `arn:{partition}:iam::{account_id}:role/{role_name}`"
        },
        "keyType": {
          "type": "string",
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ]
        }
      },
      "id": "AwsWrappedKeyInfo"
    },
    "PseudonymousIdInfo": {
      "type": "object",
      "properties": {
        "syncStatus": {
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ],
          "description": "Output only. Sync status of the user list.",
          "readOnly": true,
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "type": "string"
        },
        "billableRecordCount": {
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched).",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
      "id": "PseudonymousIdInfo"
    },
    "RetrieveRequestStatusResponse": {
      "id": "RetrieveRequestStatusResponse",
      "description": "Response from the RetrieveRequestStatusRequest.",
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request.",
          "type": "array",
          "items": {
            "$ref": "RequestStatusPerDestination"
          }
        }
      }
    },
    "ContactIdInfo": {
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string",
          "description": "Optional. Immutable. Source of the upload data",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "matchRatePercentage": {
          "description": "Output only. Match rate for customer match user lists.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ContactIdInfo"
    },
    "WarningCount": {
      "description": "The warning count for a given warning reason.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of records that have a warning."
        },
        "reason": {
          "type": "string",
          "description": "The warning reason.",
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt th UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ]
        }
      },
      "id": "WarningCount"
    },
    "IngestMobileDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "mobileIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of mobile ids sent in the upload request for the destination. Includes all mobile ids in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "description": "The status of the mobile data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestMobileDataStatus"
    },
    "UserListDirectLicense": {
      "id": "UserListDirectLicense",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "clientAccountType": {
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ]
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "clientAccountDisplayName": {
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ]
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "clientAccountId": {
          "description": "Immutable. ID of client customer which the user list is being licensed to.",
          "type": "string",
          "format": "int64"
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "userListId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed."
        }
      },
      "description": "A user list direct license. This feature is only available to data partners."
    },
    "IngestUserDataStatus": {
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "uploadMatchRateRange": {
          "type": "string",
          "description": "The match rate range of the upload.",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ]
        },
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "IngestUserDataStatus"
    },
    "WarningInfo": {
      "description": "Warning counts for each type of warning.",
      "type": "object",
      "properties": {
        "warningCounts": {
          "type": "array",
          "items": {
            "$ref": "WarningCount"
          },
          "description": "A list of warnings and counts per warning reason."
        }
      },
      "id": "WarningInfo"
    },
    "RequestStatusPerDestination": {
      "type": "object",
      "properties": {
        "audienceMembersIngestionStatus": {
          "description": "The status of the ingest audience members request.",
          "$ref": "IngestAudienceMembersStatus"
        },
        "eventsIngestionStatus": {
          "description": "The status of the ingest events request.",
          "$ref": "IngestEventsStatus"
        },
        "errorInfo": {
          "description": "An error info error containing the error reason and error counts related to the upload.",
          "$ref": "ErrorInfo"
        },
        "requestStatus": {
          "description": "The request status of the destination.",
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The request status is unknown.",
            "The request succeeded.",
            "The request is processing.",
            "The request failed.",
            "The request partially succeeded."
          ]
        },
        "warningInfo": {
          "description": "A warning info containing the warning reason and warning counts related to the upload.",
          "$ref": "WarningInfo"
        },
        "audienceMembersRemovalStatus": {
          "description": "The status of the remove audience members request.",
          "$ref": "RemoveAudienceMembersStatus"
        },
        "destination": {
          "description": "A destination within a DM API request.",
          "$ref": "Destination"
        }
      },
      "description": "A request status per destination.",
      "id": "RequestStatusPerDestination"
    },
    "Baseline": {
      "id": "Baseline",
      "description": "Baseline criteria against which insights are compared.",
      "type": "object",
      "properties": {
        "baselineLocation": {
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions.",
          "$ref": "Location"
        },
        "locationAutoDetectionEnabled": {
          "description": "If set to true, the service will try to automatically detect the baseline location for insights.",
          "type": "boolean"
        }
      }
    },
    "SearchPartnerLinksResponse": {
      "type": "object",
      "properties": {
        "partnerLinks": {
          "type": "array",
          "items": {
            "$ref": "PartnerLink"
          },
          "description": "The partner links for the given account."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response from the SearchPartnerLinksRequest.",
      "id": "SearchPartnerLinksResponse"
    },
    "PairIdInfo": {
      "type": "object",
      "properties": {
        "advertiserIdentifierCount": {
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "type": "string",
          "format": "int64"
        },
        "matchRatePercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive."
        },
        "cleanRoomIdentifier": {
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers.",
          "type": "string"
        },
        "publisherId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms."
        },
        "publisherName": {
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience.",
          "type": "string"
        }
      },
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
      "id": "PairIdInfo"
    },
    "IngestPpidDataStatus": {
      "id": "IngestPpidDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion."
    },
    "Destination": {
      "type": "object",
      "properties": {
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        },
        "productDestinationId": {
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        }
      },
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "id": "Destination"
    },
    "RemoveAudienceMembersRequest": {
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "encoding": {
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "type": "string"
        },
        "destinations": {
          "description": "Required. The list of destinations to remove the users from.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "audienceMembers": {
          "description": "Required. The list of users to remove.",
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          }
        }
      },
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "id": "RemoveAudienceMembersRequest"
    },
    "RetrieveInsightsRequest": {
      "type": "object",
      "properties": {
        "baseline": {
          "description": "Required. Baseline for the insights requested.",
          "$ref": "Baseline"
        },
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        }
      },
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsRequest"
    },
    "Location": {
      "id": "Location",
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "type": "object",
      "properties": {
        "regionCodes": {
          "description": "List of ISO 3166-1 alpha-2 region codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UserList": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the user list.",
          "readOnly": true
        },
        "targetNetworkInfo": {
          "description": "Optional. Eligibility information for different target networks.",
          "$ref": "TargetNetworkInfo"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the user list."
        },
        "sizeInfo": {
          "description": "Output only. Estimated number of members in this user list in different target networks.",
          "readOnly": true,
          "$ref": "SizeInfo"
        },
        "accountAccessStatus": {
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ],
          "type": "string",
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "accessReason": {
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "description": "Output only. The reason this account has been granted access to the list.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ]
        },
        "integrationCode": {
          "type": "string",
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems."
        },
        "ingestedUserListInfo": {
          "description": "Optional. Represents a user list that is populated by user ingested data.",
          "$ref": "IngestedUserListInfo"
        },
        "displayName": {
          "description": "Required. The display name of the user list.",
          "type": "string"
        },
        "membershipDuration": {
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error.",
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
          "type": "string"
        },
        "membershipStatus": {
          "type": "string",
          "description": "Optional. Membership status of this user list.",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ]
        },
        "readOnly": {
          "type": "boolean",
          "description": "Output only. An option that indicates if a user may edit a list.",
          "readOnly": true
        },
        "closingReason": {
          "description": "Output only. The reason why this user list membership status is closed.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "type": "string",
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ]
        }
      },
      "description": "A user list resource.",
      "id": "UserList"
    },
    "ProductAccount": {
      "id": "ProductAccount",
      "description": "Represents a specific account.",
      "type": "object",
      "properties": {
        "product": {
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "description": "Deprecated. Use `account_type` instead.",
          "deprecated": true,
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "type": "string"
        },
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "accountType": {
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link."
          ],
          "type": "string",
          "description": "Optional. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        }
      }
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license.",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "readOnly": true
        },
        "clientAccountDisplayName": {
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "readOnly": true,
          "type": "string"
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "pricing": {
          "description": "Output only. UserListDirectLicense pricing.",
          "readOnly": true,
          "$ref": "UserListLicensePricing"
        },
        "name": {
          "description": "Identifier. The resource name of the user list global license customer.",
          "type": "string"
        },
        "clientAccountType": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ]
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call.",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "userListId": {
          "description": "Output only. ID of the user list being licensed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "licenseType": {
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "readOnly": true,
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "clientAccountId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "readOnly": true
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed.",
          "readOnly": true
        }
      }
    },
    "RemoveUserIdDataStatus": {
      "id": "RemoveUserIdDataStatus",
      "description": "The status of the user id data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "userIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of user ids sent in the removal request. Includes all user ids in the request, regardless of whether they were successfully removed or not."
        }
      }
    },
    "EncryptionInfo": {
      "description": "Encryption information for the data being ingested.",
      "type": "object",
      "properties": {
        "gcpWrappedKeyInfo": {
          "description": "Google Cloud Platform wrapped key information.",
          "$ref": "GcpWrappedKeyInfo"
        },
        "awsWrappedKeyInfo": {
          "description": "Amazon Web Services wrapped key information.",
          "$ref": "AwsWrappedKeyInfo"
        }
      },
      "id": "EncryptionInfo"
    },
    "IngestAudienceMembersResponse": {
      "id": "IngestAudienceMembersResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the IngestAudienceMembersRequest."
    },
    "UserData": {
      "description": "Data that identifies the user. At least one identifier is required.",
      "type": "object",
      "properties": {
        "userIdentifiers": {
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          },
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event."
        }
      },
      "id": "UserData"
    },
    "UserProperties": {
      "id": "UserProperties",
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details.",
      "type": "object",
      "properties": {
        "customerValueBucket": {
          "description": "Optional. The advertiser-assessed value of the customer.",
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ]
        },
        "additionalUserProperties": {
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "type": "array",
          "items": {
            "$ref": "UserProperty"
          }
        },
        "customerType": {
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ],
          "description": "Optional. Type of the customer associated with the event.",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ],
          "type": "string"
        }
      }
    },
    "IngestAudienceMembersStatus": {
      "id": "IngestAudienceMembersStatus",
      "description": "The status of the ingest audience members request.",
      "type": "object",
      "properties": {
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        },
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        },
        "mobileDataIngestionStatus": {
          "description": "The status of the mobile data ingestion to the destination.",
          "$ref": "IngestMobileDataStatus"
        },
        "userIdDataIngestionStatus": {
          "description": "The status of the user id data ingestion to the destination.",
          "$ref": "IngestUserIdDataStatus"
        },
        "userDataIngestionStatus": {
          "description": "The status of the user data ingestion to the destination.",
          "$ref": "IngestUserDataStatus"
        }
      }
    },
    "PairData": {
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "pairIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
[...]
