{
  "protocol": "rest",
  "id": "datamanager:v1",
  "name": "datamanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        }
      }
    }
  },
  "version_module": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "schemas": {
    "ListUserListDirectLicensesResponse": {
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "id": "ListUserListDirectLicensesResponse",
      "type": "object",
      "properties": {
        "userListDirectLicenses": {
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListDirectLicense"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "TermsOfService": {
      "description": "The terms of service that the user has accepted/rejected.",
      "id": "TermsOfService",
      "type": "object",
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "type": "string",
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ],
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list.",
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ]
        }
      }
    },
    "IngestedUserListInfo": {
      "id": "IngestedUserListInfo",
      "type": "object",
      "properties": {
        "pairIdInfo": {
          "$ref": "PairIdInfo",
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners."
        },
        "pseudonymousIdInfo": {
          "$ref": "PseudonymousIdInfo",
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`."
        },
        "partnerAudienceInfo": {
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners.",
          "$ref": "PartnerAudienceInfo"
        },
        "uploadKeyTypes": {
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID"
            ],
            "type": "string",
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ]
          },
          "description": "Required. Immutable. Upload key types of this user list.",
          "type": "array"
        },
        "contactIdInfo": {
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
          "$ref": "ContactIdInfo"
        },
        "mobileIdInfo": {
          "$ref": "MobileIdInfo",
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`."
        },
        "userIdInfo": {
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`.",
          "$ref": "UserIdInfo"
        }
      },
      "description": "Represents a user list that is populated by user provided data."
    },
    "ErrorInfo": {
      "description": "Error counts for each type of error.",
      "id": "ErrorInfo",
      "type": "object",
      "properties": {
        "errorCounts": {
          "type": "array",
          "items": {
            "$ref": "ErrorCount"
          },
          "description": "A list of errors and counts per error reason. May not be populated in all cases."
        }
      }
    },
    "ProductAccount": {
      "id": "ProductAccount",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The ID of the account. For example, your Google Ads account ID."
        },
        "accountType": {
          "type": "string",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Optional. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link."
          ]
        },
        "product": {
          "description": "Deprecated. Use `account_type` instead.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "deprecated": true
        }
      },
      "description": "Represents a specific account."
    },
    "WarningInfo": {
      "description": "Warning counts for each type of warning.",
      "id": "WarningInfo",
      "type": "object",
      "properties": {
        "warningCounts": {
          "items": {
            "$ref": "WarningCount"
          },
          "description": "A list of warnings and counts per warning reason.",
          "type": "array"
        }
      }
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "type": "object",
      "properties": {
        "userListId": {
          "description": "Output only. ID of the user list being licensed.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "userListDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed."
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call.",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "pricing": {
          "readOnly": true,
          "$ref": "UserListLicensePricing",
          "description": "Output only. UserListDirectLicense pricing."
        },
        "clientAccountType": {
          "type": "string",
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "readOnly": true,
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "historicalPricings": {
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license.",
          "type": "array"
        },
        "licenseType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "clientAccountDisplayName": {
          "type": "string",
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license customer."
        },
        "clientAccountId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "type": "string"
        }
      },
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license."
    },
    "IngestAudienceMembersResponse": {
      "id": "IngestAudienceMembersResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the IngestAudienceMembersRequest."
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "type": "object",
      "properties": {
        "gcpWrappedKeyInfo": {
          "description": "Google Cloud Platform wrapped key information.",
          "$ref": "GcpWrappedKeyInfo"
        },
        "awsWrappedKeyInfo": {
          "description": "Amazon Web Services wrapped key information.",
          "$ref": "AwsWrappedKeyInfo"
        }
      },
      "description": "Encryption information for the data being ingested."
    },
    "RemoveUserDataStatus": {
      "description": "The status of the user data removal from the destination.",
      "id": "RemoveUserDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        },
        "userIdentifierCount": {
          "format": "int64",
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not.",
          "type": "string"
        }
      }
    },
    "UserData": {
      "id": "UserData",
      "type": "object",
      "properties": {
        "userIdentifiers": {
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "items": {
            "$ref": "UserIdentifier"
          },
          "type": "array"
        }
      },
      "description": "Data that identifies the user. At least one identifier is required."
    },
    "SizeInfo": {
      "id": "SizeInfo",
      "type": "object",
      "properties": {
        "searchNetworkMembersCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns."
        },
        "displayNetworkMembersCount": {
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Estimated number of members in this user list in different target networks."
    },
    "EventParameter": {
      "id": "EventParameter",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        },
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        }
      },
      "description": "Event parameter for GA4 events."
    },
    "IngestEventsResponse": {
      "description": "Response from the IngestEventsRequest.",
      "id": "IngestEventsResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      }
    },
    "RemovePpidDataStatus": {
      "description": "The status of the ppid data removal from the destination.",
      "id": "RemovePpidDataStatus",
      "type": "object",
      "properties": {
        "ppidCount": {
          "type": "string",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      }
    },
    "UserList": {
      "description": "A user list resource.",
      "id": "UserList",
      "type": "object",
      "properties": {
        "accessReason": {
          "readOnly": true,
          "description": "Output only. The reason this account has been granted access to the list.",
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "type": "string",
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ]
        },
        "membershipStatus": {
          "type": "string",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "description": "Optional. Membership status of this user list.",
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ]
        },
        "readOnly": {
          "type": "boolean",
          "description": "Output only. An option that indicates if a user may edit a list.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the user list."
        },
        "closingReason": {
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ],
          "description": "Output only. The reason why this user list membership status is closed.",
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "readOnly": true,
          "type": "string"
        },
        "integrationCode": {
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems.",
          "type": "string"
        },
        "membershipDuration": {
          "type": "string",
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error.",
          "format": "google-duration"
        },
        "sizeInfo": {
          "readOnly": true,
          "$ref": "SizeInfo",
          "description": "Output only. Estimated number of members in this user list in different target networks."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the user list."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the user list."
        },
        "targetNetworkInfo": {
          "description": "Optional. Eligibility information for different target networks.",
          "$ref": "TargetNetworkInfo"
        },
        "ingestedUserListInfo": {
          "$ref": "IngestedUserListInfo",
          "description": "Optional. Represents a user list that is populated by user ingested data."
        },
        "accountAccessStatus": {
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ],
          "type": "string",
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        }
      }
    },
    "RetrieveInsightsRequest": {
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsRequest",
      "type": "object",
      "properties": {
        "baseline": {
          "description": "Required. Baseline for the insights requested.",
          "$ref": "Baseline"
        },
        "userListId": {
          "type": "string",
          "description": "Required. The user list ID for which insights are requested."
        }
      }
    },
    "IngestPpidDataStatus": {
      "id": "IngestPpidDataStatus",
      "type": "object",
      "properties": {
        "ppidCount": {
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion."
    },
    "UserListLicenseMetrics": {
      "description": "Metrics related to a user list license.",
      "id": "UserListLicenseMetrics",
      "type": "object",
      "properties": {
        "clickCount": {
          "description": "Output only. The number of clicks for the user list license.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "impressionCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The number of impressions for the user list license.",
          "type": "string"
        },
        "revenueUsdMicros": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The revenue for the user list license in USD micros.",
          "type": "string"
        },
        "startDate": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response."
        }
      }
    },
    "PartnerAudienceInfo": {
      "id": "PartnerAudienceInfo",
      "type": "object",
      "properties": {
        "commercePartner": {
          "type": "string",
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`."
        },
        "partnerAudienceSource": {
          "type": "string",
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "description": "Required. Immutable. The source of the partner audience.",
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ]
        }
      },
      "description": "Additional information for partner audiences. This feature is only available to data partners."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "UserListDirectLicense": {
      "description": "A user list direct license. This feature is only available to data partners.",
      "id": "UserListDirectLicense",
      "type": "object",
      "properties": {
        "clientAccountType": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ]
        },
        "historicalPricings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only."
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "type": "string"
        },
        "status": {
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list direct license."
        },
        "clientAccountId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to."
        },
        "userListId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed."
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        }
      }
    },
    "RemoveAudienceMembersRequest": {
      "id": "RemoveAudienceMembersRequest",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to remove the users from.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "audienceMembers": {
          "items": {
            "$ref": "AudienceMember"
          },
          "description": "Required. The list of users to remove.",
          "type": "array"
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        }
      },
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse."
    },
    "ItemParameter": {
      "id": "ItemParameter",
      "type": "object",
      "properties": {
        "parameterName": {
          "type": "string",
          "description": "Required. The name of the parameter to use."
        },
        "value": {
          "type": "string",
          "description": "Required. The string representation of the value of the parameter to set."
        }
      },
      "description": "A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields."
    },
    "IngestUserIdDataStatus": {
      "id": "IngestUserIdDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "userIdCount": {
          "format": "int64",
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        }
      },
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion."
    },
    "IngestUserDataStatus": {
      "id": "IngestUserDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "userIdentifierCount": {
          "format": "int64",
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "uploadMatchRateRange": {
          "description": "The match rate range of the upload.",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "type": "string",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ]
        }
      },
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion."
    },
    "Destination": {
      "id": "Destination",
      "type": "object",
      "properties": {
        "linkedAccount": {
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`.",
          "$ref": "ProductAccount"
        },
        "reference": {
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest.",
          "type": "string"
        },
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "operatingAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The account to send the data to or remove the data from."
        },
        "productDestinationId": {
          "type": "string",
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID."
        }
      },
      "description": "The Google product you're sending data to. For example, a Google Ads account."
    },
    "MarketingDataInsight": {
      "id": "MarketingDataInsight",
      "type": "object",
      "properties": {
        "dimension": {
          "description": "The dimension to which the insight belongs.",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "type": "string",
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ]
        },
        "attributes": {
          "type": "array",
          "description": "Insights for values of a given dimension.",
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          }
        }
      },
      "description": "Insights for marketing data. This feature is only available to data partners."
    },
    "WarningCount": {
      "description": "The warning count for a given warning reason.",
      "id": "WarningCount",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The count of records that have a warning.",
          "format": "int64",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "description": "The warning reason.",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt th UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ]
        }
      }
    },
    "GcpWrappedKeyInfo": {
      "description": "Information about the Google Cloud Platform wrapped key.",
      "id": "GcpWrappedKeyInfo",
      "type": "object",
      "properties": {
        "kekUri": {
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`",
          "type": "string"
        },
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        },
        "keyType": {
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "wipProvider": {
          "type": "string",
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK."
        }
      }
    },
    "PairIdInfo": {
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
      "id": "PairIdInfo",
      "type": "object",
      "properties": {
        "advertiserIdentifierCount": {
          "type": "string",
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "format": "int64"
        },
        "publisherId": {
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms.",
          "format": "int64",
          "type": "string"
        },
        "cleanRoomIdentifier": {
          "type": "string",
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers."
        },
        "publisherName": {
          "type": "string",
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience."
        },
        "matchRatePercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive."
        }
      }
    },
    "IngestMobileDataStatus": {
      "description": "The status of the mobile data ingestion to the destination containing stats related to the ingestion.",
      "id": "IngestMobileDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "mobileIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of mobile ids sent in the upload request for the destination. Includes all mobile ids in the request, regardless of whether they were successfully ingested or not."
        }
      }
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "properties": {
        "eventTimestamp": {
          "description": "Required. The time the event occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "experimentalFields": {
          "type": "array",
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API.",
          "items": {
            "$ref": "ExperimentalField"
          }
        },
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "customVariables": {
          "type": "array",
          "items": {
            "$ref": "CustomVariable"
          },
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity)."
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "adIdentifiers": {
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
          "$ref": "AdIdentifiers"
        },
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        },
        "userProperties": {
          "$ref": "UserProperties",
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened."
        },
        "transactionId": {
          "description": "Optional. The unique identifier for this event. Required for conversions using multiple data sources.",
          "type": "string"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "type": "array"
        },
        "eventSource": {
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from other sources."
          ],
          "type": "string",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "OTHER"
          ]
        },
        "eventName": {
          "type": "string",
          "description": "Optional. The name of the event. Required for GA4 events."
        },
        "additionalEventParameters": {
          "items": {
            "$ref": "EventParameter"
          },
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "userData": {
          "$ref": "UserData",
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with."
        },
        "currency": {
          "type": "string",
          "description": "Optional. The currency code associated with all monetary values within this event."
        },
        "lastUpdatedTimestamp": {
          "description": "Optional. The last time the event was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "conversionValue": {
          "type": "number",
          "description": "Optional. The conversion value associated with the event, for value-based conversions.",
          "format": "double"
        },
        "clientId": {
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream.",
          "type": "string"
        }
      },
      "description": "An event representing a user interaction with an advertiser's website or app."
    },
    "MobileIdInfo": {
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
      "id": "MobileIdInfo",
      "type": "object",
      "properties": {
        "keySpace": {
          "type": "string",
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "description": "Required. Immutable. The key space of mobile IDs.",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ]
        },
        "dataSourceType": {
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "description": "Optional. Immutable. Source of the upload data.",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ]
        },
        "appId": {
          "type": "string",
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected."
        }
      }
    },
    "RetrieveInsightsResponse": {
      "id": "RetrieveInsightsResponse",
      "type": "object",
      "properties": {
        "marketingDataInsights": {
          "type": "array",
          "description": "Contains the insights for the marketing data.",
          "items": {
            "$ref": "MarketingDataInsight"
          }
        }
      },
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "CartData": {
      "id": "CartData",
      "type": "object",
      "properties": {
        "merchantFeedLanguageCode": {
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded.",
          "type": "string"
        },
        "items": {
          "description": "Optional. The list of items associated with the event.",
          "items": {
            "$ref": "Item"
          },
          "type": "array"
        },
        "merchantId": {
          "type": "string",
          "description": "Optional. The Merchant Center ID associated with the items."
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "Optional. The Merchant Center feed label associated with the feed of the items."
        },
        "transactionDiscount": {
          "type": "number",
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "format": "double"
        }
      },
      "description": "The cart data associated with the event."
    },
    "IngestAudienceMembersRequest": {
      "id": "IngestAudienceMembersRequest",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to send the audience members to.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "termsOfService": {
          "description": "Optional. The terms of service that the user has accepted/rejected.",
          "$ref": "TermsOfService"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "audienceMembers": {
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          },
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request."
        },
        "encoding": {
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        }
      },
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse."
    },
    "RetrieveRequestStatusResponse": {
      "id": "RetrieveRequestStatusResponse",
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "items": {
            "$ref": "RequestStatusPerDestination"
          },
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request.",
          "type": "array"
        }
      },
      "description": "Response from the RetrieveRequestStatusRequest."
    },
    "MobileData": {
      "description": "Mobile IDs for the audience. At least one mobile ID is required.",
      "id": "MobileData",
      "type": "object",
      "properties": {
        "mobileIds": {
          "description": "Required. The list of mobile device IDs (advertising ID/IDFA). At most 10 `mobileIds` can be provided in a single AudienceMember.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AdIdentifiers": {
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "id": "AdIdentifiers",
      "type": "object",
      "properties": {
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        },
        "gbraid": {
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "gclid": {
          "type": "string",
          "description": "Optional. The Google click ID (gclid) associated with this event."
        },
        "wbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14."
        },
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        }
      }
    },
    "UserProperty": {
      "description": "A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
      "id": "UserProperty",
      "type": "object",
      "properties": {
        "propertyName": {
          "type": "string",
          "description": "Required. The name of the user property to use."
        },
        "value": {
          "description": "Required. The string representation of the value of the user property to use.",
          "type": "string"
        }
      }
    },
    "MarketingDataInsightsAttribute": {
      "id": "MarketingDataInsightsAttribute",
      "type": "object",
      "properties": {
        "ageRange": {
          "description": "Age range of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ],
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ]
        },
        "userInterestId": {
          "type": "string",
          "description": "The user interest ID.",
          "format": "int64"
        },
        "lift": {
          "format": "float",
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1].",
          "type": "number"
        },
        "gender": {
          "type": "string",
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ],
          "description": "Gender of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ]
        }
      },
      "description": "Insights for a collection of related attributes of the same dimension."
    },
    "ContactIdInfo": {
      "id": "ContactIdInfo",
      "type": "object",
      "properties": {
        "matchRatePercentage": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Match rate for customer match user lists.",
          "type": "integer"
        },
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        }
      },
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`."
    },
    "IngestEventsRequest": {
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "id": "IngestEventsRequest",
      "type": "object",
      "properties": {
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "destinations": {
          "description": "Required. The list of destinations to send the events to.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request."
        },
        "encoding": {
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        }
      }
    },
    "IngestAudienceMembersStatus": {
      "description": "The status of the ingest audience members request.",
      "id": "IngestAudienceMembersStatus",
      "type": "object",
      "properties": {
        "userDataIngestionStatus": {
          "description": "The status of the user data ingestion to the destination.",
          "$ref": "IngestUserDataStatus"
        },
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        },
        "mobileDataIngestionStatus": {
          "$ref": "IngestMobileDataStatus",
          "description": "The status of the mobile data ingestion to the destination."
        },
        "userIdDataIngestionStatus": {
          "$ref": "IngestUserIdDataStatus",
          "description": "The status of the user id data ingestion to the destination."
        },
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        }
      }
    },
    "IngestPairDataStatus": {
      "id": "IngestPairDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string"
        },
        "pairIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion."
    },
    "DeviceInfo": {
      "description": "Information about the device being used (if any) when the event happened.",
      "id": "DeviceInfo",
      "type": "object",
      "properties": {
        "userAgent": {
          "type": "string",
          "description": "Optional. The user-agent string of the device for the given context."
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The IP address of the device for the given context. **Note:** Google Ads does not support IP address matching for end users in the European Economic Area (EEA), United Kingdom (UK), or Switzerland (CH). Add logic to conditionally exclude sharing IP addresses from users from these regions and ensure that you provide users with clear and comprehensive information about the data you collect on your sites, apps, and other properties and get consent where required by law or any applicable Google policies. See the [About offline conversion imports](https://support.google.com/google-ads/answer/2998031) page for more details."
        }
      }
    },
    "CustomVariable": {
      "id": "CustomVariable",
      "type": "object",
      "properties": {
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array"
        }
      },
      "description": "Custom variable for ads conversions."
    },
    "ErrorCount": {
      "id": "ErrorCount",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The count of records that failed to upload for a given reason."
        },
        "reason": {
          "type": "string",
          "enum": [
            "PROCESSING_ERROR_REASON_UNSPECIFIED",
            "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE",
            "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "PROCESSING_ERROR_REASON_EVENT_TOO_OLD",
            "PROCESSING_ERROR_REASON_DENIED_CONSENT",
            "PROCESSING_ERROR_REASON_NO_CONSENT",
            "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT",
            "PROCESSING_ERROR_REASON_DUPLICATE_GCLID",
            "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID",
            "PROCESSING_ERROR_REASON_INVALID_GBRAID",
            "PROCESSING_ERROR_REASON_INVALID_GCLID",
            "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID",
            "PROCESSING_ERROR_REASON_INVALID_WBRAID",
            "PROCESSING_ERROR_REASON_INTERNAL_ERROR",
            "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED",
            "PROCESSING_ERROR_REASON_INVALID_EVENT",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INVALID_FORMAT",
            "PROCESSING_ERROR_REASON_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_INVALID_WIP",
            "PROCESSING_ERROR_REASON_INVALID_KEK",
            "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER"
          ],
          "description": "The error reason of the failed records.",
          "enumDescriptions": [
            "The processing error reason is unknown.",
            "The custom variable is invalid.",
            "The status of the custom variable is not enabled.",
            "The conversion is older than max supported age.",
            "The ad user data is denied, either by the user or in the advertiser default settings.",
            "Advertiser did not give 3P consent for the Ads core platform services.",
            "The overall consent (determined from row level consent, request level consent, and account settings) could not be determined for this user",
            "A conversion with the same GCLID and conversion time already exists in the system.",
            "A conversion with the same order id and conversion action combination was already uploaded.",
            "The gbraid could not be decoded.",
            "The google click ID could not be decoded.",
            "Merchant id contains non-digit characters.",
            "The wbraid could not be decoded.",
            "Internal error.",
            "Enhanced conversions terms are not signed in the destination account.",
            "The event is invalid.",
            "The matched transactions are less than the minimum threshold.",
            "The transactions are less than the minimum threshold.",
            "The event has format error.",
            "The event has a decryption error.",
            "The DEK failed to be decrypted.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The system did not have the permissions needed to access the KEK.",
            "The system failed to authenticate with AWS.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "The user attempted to ingest events with an ad identifier that isn't from the operating account's ads."
          ]
        }
      },
      "description": "The error count for a given error reason."
    },
    "RemoveAudienceMembersStatus": {
      "id": "RemoveAudienceMembersStatus",
      "type": "object",
      "properties": {
        "mobileDataRemovalStatus": {
          "$ref": "RemoveMobileDataStatus",
          "description": "The status of the mobile data removal from the destination."
        },
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        },
        "pairDataRemovalStatus": {
          "description": "The status of the pair data removal from the destination.",
          "$ref": "RemovePairDataStatus"
        },
        "ppidDataRemovalStatus": {
          "description": "The status of the ppid data removal from the destination.",
          "$ref": "RemovePpidDataStatus"
        }
      },
      "description": "The status of the remove audience members request."
    },
    "UserIdData": {
      "id": "UserIdData",
      "type": "object",
      "properties": {
        "userId": {
          "description": "Required. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        }
      },
      "description": "User id data holding the user id."
    },
    "RemovePairDataStatus": {
      "description": "The status of the pair data removal from the destination.",
      "id": "RemovePairDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "pairIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not."
        }
      }
    },
    "AddressInfo": {
      "description": "Address information for the user.",
      "id": "AddressInfo",
      "type": "object",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "Required. Family (last) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256."
        },
        "postalCode": {
          "type": "string",
          "description": "Required. The postal code of the user's address."
        },
        "givenName": {
          "description": "Required. Given (first) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. The 2-letter region code in ISO-3166-1 alpha-2 of the user's address.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "UserProperties": {
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details.",
      "id": "UserProperties",
      "type": "object",
      "properties": {
        "additionalUserProperties": {
          "type": "array",
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "items": {
            "$ref": "UserProperty"
          }
        },
        "customerType": {
          "description": "Optional. Type of the customer associated with the event.",
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ],
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ]
        },
        "customerValueBucket": {
          "description": "Optional. The advertiser-assessed value of the customer.",
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ],
          "type": "string",
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      }
    },
    "IngestEventsStatus": {
      "description": "The status of the events ingestion to the destination.",
      "id": "IngestEventsStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        }
      }
    },
    "UserListLicensePricing": {
      "id": "UserListLicensePricing",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "costType": {
          "type": "string",
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ]
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Start time of the pricing.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. End time of the pricing."
        },
        "pricingActive": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this pricing is active."
        },
        "pricingId": {
          "description": "Output only. The ID of this pricing.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "buyerApprovalState": {
          "readOnly": true,
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ]
        },
        "costMicros": {
          "format": "int64",
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "type": "string"
        },
        "maxCostMicros": {
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A user list license pricing."
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "type": "object",
      "properties": {
        "userListGlobalLicenseCustomerInfos": {
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          },
          "description": "The customer information for the given license in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest."
    },
    "AwsWrappedKeyInfo": {
      "id": "AwsWrappedKeyInfo",
      "type": "object",
      "properties": {
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        },
        "keyType": {
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "roleArn": {
          "type": "string",
          "description": "Required. The Amazon Resource Name of the IAM Role to assume for KMS decryption access. Should be in the format of `arn:{partition}:iam::{account_id}:role/{role_name}`"
        },
        "kekUri": {
          "description": "Required. The URI of the AWS KMS key used to decrypt the DEK. Should be in the format of `arn:{partition}:kms:{region}:{account_id}:key/{key_id}` or `aws-kms://arn:{partition}:kms:{region}:{account_id}:key/{key_id}`",
          "type": "string"
        }
      },
      "description": "A data encryption key wrapped by an AWS KMS key."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of ISO 3166-1 alpha-2 region codes."
        }
      },
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions."
    },
    "ListUserListGlobalLicensesResponse": {
      "description": "Response from the ListUserListGlobalLicensesRequest.",
      "id": "ListUserListGlobalLicensesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userListGlobalLicenses": {
          "type": "array",
          "items": {
            "$ref": "UserListGlobalLicense"
          },
          "description": "The licenses for the given user list in the request."
        }
      }
    },
    "PseudonymousIdInfo": {
      "id": "PseudonymousIdInfo",
      "type": "object",
      "properties": {
        "syncStatus": {
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Sync status of the user list.",
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ]
        },
        "billableRecordCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched)."
        }
      },
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`."
    },
    "Consent": {
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "id": "Consent",
      "type": "object",
      "properties": {
        "adUserData": {
          "description": "Optional. Represents if the user consents to ad user data.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adPersonalization": {
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        }
      }
    },
    "UserIdentifier": {
      "id": "UserIdentifier",
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Hashed email address using SHA-256 hash function after normalization."
        },
        "phoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        },
        "address": {
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once.",
          "$ref": "AddressInfo"
        }
      },
      "description": "A single identifier for the user."
    },
    "RemoveAudienceMembersResponse": {
      "description": "Response from the RemoveAudienceMembersRequest.",
      "id": "RemoveAudienceMembersResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      }
    },
    "SearchPartnerLinksResponse": {
      "id": "SearchPartnerLinksResponse",
      "type": "object",
      "properties": {
        "partnerLinks": {
          "type": "array",
          "description": "The partner links for the given account.",
          "items": {
            "$ref": "PartnerLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response from the SearchPartnerLinksRequest."
    },
    "ListUserListsResponse": {
      "id": "ListUserListsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userLists": {
          "items": {
            "$ref": "UserList"
          },
          "description": "The user lists from the specified account.",
          "type": "array"
        }
      },
      "description": "Response message for ListUserLists."
    },
    "RemoveMobileDataStatus": {
      "id": "RemoveMobileDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
        },
        "mobileIdCount": {
          "type": "string",
          "description": "The total count of mobile Ids sent in the removal request. Includes all mobile ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      },
      "description": "The status of the mobile data removal from the destination."
    },
    "RemoveUserIdDataStatus": {
      "description": "The status of the user id data removal from the destination.",
      "id": "RemoveUserIdDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        },
        "userIdCount": {
          "type": "string",
          "description": "The total count of user ids sent in the removal request. Includes all user ids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      }
    },
    "Item": {
      "description": "Represents an item in the cart associated with the event.",
      "id": "Item",
      "type": "object",
      "properties": {
        "merchantProductId": {
          "type": "string",
          "description": "Optional. The product ID within the Merchant Center account."
        },
        "unitPrice": {
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts.",
          "format": "double",
          "type": "number"
        },
        "additionalItemParameters": {
          "type": "array",
          "items": {
            "$ref": "ItemParameter"
          },
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields."
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of this item associated with the event."
        },
        "itemId": {
          "type": "string",
          "description": "Optional. A unique identifier to reference the item."
        }
      }
    },
    "ExperimentalField": {
      "description": "Experimental field representing unofficial fields.",
      "id": "ExperimentalField",
      "type": "object",
      "properties": {
        "field": {
          "description": "Optional. The name of the field to use.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value the field to set.",
          "type": "string"
        }
      }
    },
    "TargetNetworkInfo": {
      "description": "Eligibility information for different target networks.",
      "id": "TargetNetworkInfo",
      "type": "object",
      "properties": {
        "eligibleForDisplay": {
          "type": "boolean",
          "description": "Output only. Indicates this user list is eligible for Google Display Network.",
          "readOnly": true
        },
        "eligibleForSearch": {
          "type": "boolean",
          "description": "Optional. Indicates if this user list is eligible for Google Search Network."
        }
      }
    },
    "PpidData": {
      "description": "Publisher provided identifiers data holding the ppids. At least one ppid is required. This feature is only available to data partners.",
      "id": "PpidData",
      "type": "object",
      "properties": {
        "ppids": {
          "description": "Required. The list of publisher provided identifiers for a user.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UserIdInfo": {
      "id": "UserIdInfo",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data.",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        }
      },
      "description": "Additional information when `USER_ID` is one of the `upload_key_types`."
    },
    "Baseline": {
      "id": "Baseline",
      "type": "object",
      "properties": {
        "locationAutoDetectionEnabled": {
          "type": "boolean",
          "description": "If set to true, the service will try to automatically detect the baseline location for insights."
        },
        "baselineLocation": {
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions.",
          "$ref": "Location"
        }
      },
      "description": "Baseline criteria against which insights are compared."
    },
    "UserListGlobalLicense": {
      "description": "A user list global license. This feature is only available to data partners.",
      "id": "UserListGlobalLicense",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the user list global license.",
          "type": "string"
        },
        "userListDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only."
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "format": "int64",
          "type": "string"
        },
        "licenseType": {
          "description": "Immutable. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "status": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ]
        },
        "pricing": {
          "$ref": "UserListLicensePricing",
          "description": "Optional. UserListGlobalLicense pricing."
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "type": "array"
        }
      }
    },
    "PairData": {
      "id": "PairData",
      "type": "object",
      "properties": {
        "pairIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "type": "array"
        }
      },
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners."
    },
    "RequestStatusPerDestination": {
      "description": "A request status per destination.",
      "id": "RequestStatusPerDestination",
      "type": "object",
      "properties": {
        "requestStatus": {
          "description": "The request status of the destination.",
          "enumDescriptions": [
            "The request status is unknown.",
            "The request succeeded.",
            "The request is processing.",
            "The request failed.",
            "The request partially succeeded."
          ],
          "type": "string",
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ]
        },
        "audienceMembersIngestionStatus": {
          "description": "The status of the ingest audience members request.",
          "$ref": "IngestAudienceMembersStatus"
        },
        "destination": {
          "$ref": "Destination",
          "description": "A destination within a DM API request."
        },
        "errorInfo": {
          "description": "An error info error containing the error reason and error counts related to the upload.",
          "$ref": "ErrorInfo"
        },
        "warningInfo": {
          "description": "A warning info containing the warning reason and warning counts related to the upload.",
          "$ref": "WarningInfo"
        },
        "eventsIngestionStatus": {
          "description": "The status of the ingest events request.",
          "$ref": "IngestEventsStatus"
        },
        "audienceMembersRemovalStatus": {
          "description": "The status of the remove audience members request.",
          "$ref": "RemoveAudienceMembersStatus"
        }
      }
    },
    "PartnerLink": {
      "id": "PartnerLink",
      "type": "object",
      "properties": {
        "partnerAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The partner account granted access by the owning account."
        },
        "name": {
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
          "type": "string"
        },
        "owningAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The owning account granting access to the partner account."
        },
        "partnerLinkId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The partner link ID."
        }
      },
      "description": "A partner link between an owning account and a partner account."
    },
    "AudienceMember": {
      "description": "The audience member to be operated on.",
      "id": "AudienceMember",
      "type": "object",
      "properties": {
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Defines which Destination to send the audience member to.",
          "type": "array"
        },
        "consent": {
          "description": "Optional. The consent setting for the user.",
          "$ref": "Consent"
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "pairData": {
          "$ref": "PairData",
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners."
        },
        "ppidData": {
          "$ref": "PpidData",
[...]
