{
  "baseUrl": "https://datamanager.googleapis.com/",
  "canonicalName": "Data Manager",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        },
        "https://www.googleapis.com/auth/datamanager.partnerlink": {
          "description": "View, create, or delete your partner links in Google Ads, Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Analytics"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "title": "Data Manager API",
  "basePath": "",
  "batchPath": "batch",
  "rootUrl": "https://datamanager.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "UserListLicenseMetrics": {
      "id": "UserListLicenseMetrics",
      "description": "Metrics related to a user list license.",
      "type": "object",
      "properties": {
        "revenueUsdMicros": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The revenue for the user list license in USD micros."
        },
        "impressionCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of impressions for the user list license.",
          "readOnly": true
        },
        "clickCount": {
          "readOnly": true,
          "description": "Output only. The number of clicks for the user list license.",
          "type": "string",
          "format": "int64"
        },
        "endDate": {
          "readOnly": true,
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string",
          "format": "int64"
        },
        "startDate": {
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "Consent": {
      "id": "Consent",
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "type": "object",
      "properties": {
        "adUserData": {
          "description": "Optional. Represents if the user consents to ad user data.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adPersonalization": {
          "type": "string",
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        }
      }
    },
    "WarningInfo": {
      "type": "object",
      "properties": {
        "warningCounts": {
          "type": "array",
          "description": "A list of warnings and counts per warning reason.",
          "items": {
            "$ref": "WarningCount"
          }
        }
      },
      "description": "Warning counts for each type of warning.",
      "id": "WarningInfo"
    },
    "RetrieveInsightsResponse": {
      "id": "RetrieveInsightsResponse",
      "type": "object",
      "properties": {
        "marketingDataInsights": {
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "description": "Contains the insights for the marketing data.",
          "type": "array"
        }
      },
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights"
    },
    "UserListDirectLicense": {
      "id": "UserListDirectLicense",
      "type": "object",
      "properties": {
        "clientAccountId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to."
        },
        "historicalPricings": {
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Pricing history of this user list license. This field is read-only."
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "userListDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "type": "string"
        },
        "clientAccountType": {
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "clientAccountDisplayName": {
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "type": "string",
          "readOnly": true
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        }
      },
      "description": "A user list direct license. This feature is only available to data partners."
    },
    "CartData": {
      "id": "CartData",
      "description": "The cart data associated with the event.",
      "type": "object",
      "properties": {
        "transactionDiscount": {
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "type": "number",
          "format": "double"
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the items.",
          "type": "string"
        },
        "merchantFeedLanguageCode": {
          "type": "string",
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded."
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "Optional. The Merchant Center feed label associated with the feed of the items."
        },
        "items": {
          "description": "Optional. The list of items associated with the event.",
          "type": "array",
          "items": {
            "$ref": "Item"
          }
        }
      }
    },
    "IngestEventsResponse": {
      "description": "Response from the IngestEventsRequest.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "id": "IngestEventsResponse"
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "description": "Error counts for each type of error.",
      "type": "object",
      "properties": {
        "errorCounts": {
          "items": {
            "$ref": "ErrorCount"
          },
          "description": "A list of errors and counts per error reason. May not be populated in all cases.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "description": "Encryption information for the data being ingested.",
      "type": "object",
      "properties": {
        "gcpWrappedKeyInfo": {
          "description": "Google Cloud Platform wrapped key information.",
          "$ref": "GcpWrappedKeyInfo"
        },
        "awsWrappedKeyInfo": {
          "description": "Amazon Web Services wrapped key information.",
          "$ref": "AwsWrappedKeyInfo"
        }
      }
    },
    "EventParameter": {
      "id": "EventParameter",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        },
        "parameterName": {
          "description": "Required. The name of the parameter to use.",
          "type": "string"
        }
      },
      "description": "Event parameter for GA4 events."
    },
    "ProductAccount": {
      "description": "Represents a specific account.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Required. The ID of the account. For example, your Google Ads account ID.",
          "type": "string"
        },
        "accountType": {
          "type": "string",
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Optional. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link."
          ]
        },
        "product": {
          "type": "string",
          "description": "Deprecated. Use `account_type` instead.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ],
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "deprecated": true
        }
      },
      "id": "ProductAccount"
    },
    "RemoveAudienceMembersRequest": {
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "type": "object",
      "properties": {
        "destinations": {
          "type": "array",
          "description": "Required. The list of destinations to remove the users from.",
          "items": {
            "$ref": "Destination"
          }
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "audienceMembers": {
          "items": {
            "$ref": "AudienceMember"
          },
          "type": "array",
          "description": "Required. The list of users to remove."
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "RemoveAudienceMembersRequest"
    },
    "UserIdInfo": {
      "id": "UserIdInfo",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "description": "Optional. Immutable. Source of the upload data.",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ]
        }
      },
      "description": "Additional information when `USER_ID` is one of the `upload_key_types`."
    },
    "RetrieveRequestStatusResponse": {
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "items": {
            "$ref": "RequestStatusPerDestination"
          },
          "type": "array",
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request."
        }
      },
      "description": "Response from the RetrieveRequestStatusRequest.",
      "id": "RetrieveRequestStatusResponse"
    },
    "IngestUserDataStatus": {
      "id": "IngestUserDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "uploadMatchRateRange": {
          "type": "string",
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ],
          "description": "The match rate range of the upload.",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ]
        }
      },
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion."
    },
    "IngestedUserListInfo": {
      "type": "object",
      "properties": {
        "uploadKeyTypes": {
          "type": "array",
          "description": "Required. Immutable. Upload key types of this user list.",
          "items": {
            "type": "string",
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID"
            ]
          }
        },
        "mobileIdInfo": {
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
          "$ref": "MobileIdInfo"
        },
        "userIdInfo": {
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`.",
          "$ref": "UserIdInfo"
        },
        "partnerAudienceInfo": {
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners.",
          "$ref": "PartnerAudienceInfo"
        },
        "pairIdInfo": {
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
          "$ref": "PairIdInfo"
        },
        "pseudonymousIdInfo": {
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
          "$ref": "PseudonymousIdInfo"
        },
        "contactIdInfo": {
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
          "$ref": "ContactIdInfo"
        }
      },
      "description": "Represents a user list that is populated by user provided data.",
      "id": "IngestedUserListInfo"
    },
    "RemoveAudienceMembersResponse": {
      "description": "Response from the RemoveAudienceMembersRequest.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      },
      "id": "RemoveAudienceMembersResponse"
    },
    "IngestEventsRequest": {
      "type": "object",
      "properties": {
        "destinations": {
          "type": "array",
          "description": "Required. The list of destinations to send the events to.",
          "items": {
            "$ref": "Destination"
          }
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event.",
          "$ref": "Consent"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "events": {
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        },
        "encoding": {
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        }
      },
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "id": "IngestEventsRequest"
    },
    "IngestPairDataStatus": {
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "pairIdCount": {
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "IngestPairDataStatus"
    },
    "ErrorCount": {
      "id": "ErrorCount",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The count of records that failed to upload for a given reason.",
          "type": "string",
          "format": "int64"
        },
        "reason": {
          "type": "string",
          "description": "The error reason of the failed records.",
          "enumDescriptions": [
            "The processing error reason is unknown.",
            "The custom variable is invalid.",
            "The status of the custom variable is not enabled.",
            "The conversion is older than max supported age.",
            "The ad user data is denied, either by the user or in the advertiser default settings.",
            "Advertiser did not give 3P consent for the Ads core platform services.",
            "The overall consent (determined from row level consent, request level consent, and account settings) could not be determined for this user",
            "A conversion with the same GCLID and conversion time already exists in the system.",
            "A conversion with the same order id and conversion action combination was already uploaded.",
            "The gbraid could not be decoded.",
            "The google click ID could not be decoded.",
            "Merchant id contains non-digit characters.",
            "The wbraid could not be decoded.",
            "Internal error.",
            "Enhanced conversions terms are not signed in the destination account.",
            "The event is invalid.",
            "The matched transactions are less than the minimum threshold.",
            "The transactions are less than the minimum threshold.",
            "The event has format error.",
            "The event has a decryption error.",
            "The DEK failed to be decrypted.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The system did not have the permissions needed to access the KEK.",
            "The system failed to authenticate with AWS.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "The user attempted to ingest events with an ad identifier that isn't from the operating account's ads.",
            "One-per-click conversion actions cannot be used with BRAIDs."
          ],
          "enum": [
            "PROCESSING_ERROR_REASON_UNSPECIFIED",
            "PROCESSING_ERROR_REASON_INVALID_CUSTOM_VARIABLE",
            "PROCESSING_ERROR_REASON_CUSTOM_VARIABLE_NOT_ENABLED",
            "PROCESSING_ERROR_REASON_EVENT_TOO_OLD",
            "PROCESSING_ERROR_REASON_DENIED_CONSENT",
            "PROCESSING_ERROR_REASON_NO_CONSENT",
            "PROCESSING_ERROR_REASON_UNKNOWN_CONSENT",
            "PROCESSING_ERROR_REASON_DUPLICATE_GCLID",
            "PROCESSING_ERROR_REASON_DUPLICATE_TRANSACTION_ID",
            "PROCESSING_ERROR_REASON_INVALID_GBRAID",
            "PROCESSING_ERROR_REASON_INVALID_GCLID",
            "PROCESSING_ERROR_REASON_INVALID_MERCHANT_ID",
            "PROCESSING_ERROR_REASON_INVALID_WBRAID",
            "PROCESSING_ERROR_REASON_INTERNAL_ERROR",
            "PROCESSING_ERROR_REASON_DESTINATION_ACCOUNT_ENHANCED_CONVERSIONS_TERMS_NOT_SIGNED",
            "PROCESSING_ERROR_REASON_INVALID_EVENT",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_MATCHED_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INSUFFICIENT_TRANSACTIONS",
            "PROCESSING_ERROR_REASON_INVALID_FORMAT",
            "PROCESSING_ERROR_REASON_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_ERROR_REASON_INVALID_WIP",
            "PROCESSING_ERROR_REASON_INVALID_KEK",
            "PROCESSING_ERROR_REASON_WIP_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_ERROR_REASON_AWS_AUTH_FAILED",
            "PROCESSING_ERROR_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_ERROR_OPERATING_ACCOUNT_MISMATCH_FOR_AD_IDENTIFIER",
            "PROCESSING_ERROR_REASON_ONE_PER_CLICK_CONVERSION_ACTION_NOT_PERMITTED_WITH_BRAID"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        }
      },
      "description": "The error count for a given error reason."
    },
    "PairData": {
      "id": "PairData",
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "pairIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember."
        }
      }
    },
    "CustomVariable": {
      "description": "Custom variable for ads conversions.",
      "type": "object",
      "properties": {
        "variable": {
          "type": "string",
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored."
        },
        "value": {
          "type": "string",
          "description": "Optional. The value to store for the custom variable."
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "type": "array"
        }
      },
      "id": "CustomVariable"
    },
    "MobileData": {
      "description": "Mobile IDs for the audience. At least one mobile ID is required.",
      "type": "object",
      "properties": {
        "mobileIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of mobile device IDs (advertising ID/IDFA). At most 10 `mobileIds` can be provided in a single AudienceMember.",
          "type": "array"
        }
      },
      "id": "MobileData"
    },
    "IngestAudienceMembersStatus": {
      "id": "IngestAudienceMembersStatus",
      "type": "object",
      "properties": {
        "userDataIngestionStatus": {
          "description": "The status of the user data ingestion to the destination.",
          "$ref": "IngestUserDataStatus"
        },
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        },
        "mobileDataIngestionStatus": {
          "description": "The status of the mobile data ingestion to the destination.",
          "$ref": "IngestMobileDataStatus"
        },
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        },
        "userIdDataIngestionStatus": {
          "description": "The status of the user id data ingestion to the destination.",
          "$ref": "IngestUserIdDataStatus"
        }
      },
      "description": "The status of the ingest audience members request."
    },
    "MarketingDataInsightsAttribute": {
      "id": "MarketingDataInsightsAttribute",
      "description": "Insights for a collection of related attributes of the same dimension.",
      "type": "object",
      "properties": {
        "lift": {
          "type": "number",
          "format": "float",
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1]."
        },
        "gender": {
          "description": "Gender of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ],
          "type": "string",
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ]
        },
        "ageRange": {
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ],
          "description": "Age range of the audience for which the lift is provided.",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ]
        },
        "userInterestId": {
          "type": "string",
          "format": "int64",
          "description": "The user interest ID."
        }
      }
    },
    "UserList": {
      "id": "UserList",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the user list."
        },
        "accessReason": {
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ],
          "description": "Output only. The reason this account has been granted access to the list.",
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The display name of the user list.",
          "type": "string"
        },
        "membershipDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error."
        },
        "sizeInfo": {
          "readOnly": true,
          "description": "Output only. Estimated number of members in this user list in different target networks.",
          "$ref": "SizeInfo"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}"
        },
        "ingestedUserListInfo": {
          "description": "Optional. Represents a user list that is populated by user ingested data.",
          "$ref": "IngestedUserListInfo"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Output only. An option that indicates if a user may edit a list.",
          "readOnly": true
        },
        "closingReason": {
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ],
          "description": "Output only. The reason why this user list membership status is closed.",
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "type": "string",
          "readOnly": true
        },
        "integrationCode": {
          "type": "string",
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems."
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the user list."
        },
        "membershipStatus": {
          "type": "string",
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "description": "Optional. Membership status of this user list.",
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ]
        },
        "targetNetworkInfo": {
          "description": "Optional. Eligibility information for different target networks.",
          "$ref": "TargetNetworkInfo"
        },
        "accountAccessStatus": {
          "type": "string",
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ]
        }
      },
      "description": "A user list resource."
    },
    "IngestMobileDataStatus": {
      "description": "The status of the mobile data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "mobileIdCount": {
          "description": "The total count of mobile ids sent in the upload request for the destination. Includes all mobile ids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "IngestMobileDataStatus"
    },
    "RemoveMobileDataStatus": {
      "id": "RemoveMobileDataStatus",
      "description": "The status of the mobile data removal from the destination.",
      "type": "object",
      "properties": {
        "mobileIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of mobile Ids sent in the removal request. Includes all mobile ids in the request, regardless of whether they were successfully removed or not."
        },
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "MarketingDataInsight": {
      "id": "MarketingDataInsight",
      "type": "object",
      "properties": {
        "dimension": {
          "description": "The dimension to which the insight belongs.",
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "An Affinity UserInterest.",
            "An In-Market UserInterest.",
            "An age range.",
            "A gender."
          ],
          "type": "string",
          "enum": [
            "AUDIENCE_INSIGHTS_DIMENSION_UNSPECIFIED",
            "AUDIENCE_INSIGHTS_DIMENSION_UNKNOWN",
            "AFFINITY_USER_INTEREST",
            "IN_MARKET_USER_INTEREST",
            "AGE_RANGE",
            "GENDER"
          ]
        },
        "attributes": {
          "description": "Insights for values of a given dimension.",
          "type": "array",
          "items": {
            "$ref": "MarketingDataInsightsAttribute"
          }
        }
      },
      "description": "Insights for marketing data. This feature is only available to data partners."
    },
    "PartnerLink": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}"
        },
        "owningAccount": {
          "description": "Required. The owning account granting access to the partner account.",
          "$ref": "ProductAccount"
        },
        "partnerLinkId": {
          "type": "string",
          "description": "Output only. The partner link ID.",
          "readOnly": true
        },
        "partnerAccount": {
          "description": "Required. The partner account granted access by the owning account.",
          "$ref": "ProductAccount"
        }
      },
      "description": "A partner link between an owning account and a partner account.",
      "id": "PartnerLink"
    },
    "RemoveUserIdDataStatus": {
      "id": "RemoveUserIdDataStatus",
      "description": "The status of the user id data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "userIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of user ids sent in the removal request. Includes all user ids in the request, regardless of whether they were successfully removed or not."
        }
      }
    },
    "PartnerAudienceInfo": {
      "description": "Additional information for partner audiences. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "partnerAudienceSource": {
          "type": "string",
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ],
          "description": "Required. Immutable. The source of the partner audience.",
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ]
        },
        "commercePartner": {
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`.",
          "type": "string"
        }
      },
      "id": "PartnerAudienceInfo"
    },
    "Event": {
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "type": "object",
      "properties": {
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "additionalEventParameters": {
          "items": {
            "$ref": "EventParameter"
          },
          "type": "array",
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields."
        },
        "eventSource": {
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from other sources."
          ],
          "type": "string",
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "OTHER"
          ]
        },
        "eventName": {
          "description": "Optional. The name of the event. Required for GA4 events.",
          "type": "string"
        },
        "eventTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time the event occurred."
        },
        "customVariables": {
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity).",
          "type": "array",
          "items": {
            "$ref": "CustomVariable"
          }
        },
        "clientId": {
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream.",
          "type": "string"
        },
        "userData": {
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with.",
          "$ref": "UserData"
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "type": "array"
        },
        "currency": {
          "type": "string",
          "description": "Optional. The currency code associated with all monetary values within this event."
        },
        "conversionValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. The conversion value associated with the event, for value-based conversions."
        },
        "transactionId": {
          "description": "Optional. The unique identifier for this event. Required for conversions using multiple data sources.",
          "type": "string"
        },
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        },
        "adIdentifiers": {
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
          "$ref": "AdIdentifiers"
        },
        "userProperties": {
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened.",
          "$ref": "UserProperties"
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "lastUpdatedTimestamp": {
          "description": "Optional. The last time the event was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "experimentalFields": {
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API.",
          "type": "array",
          "items": {
            "$ref": "ExperimentalField"
          }
        },
        "userId": {
          "type": "string",
          "description": "Optional. A unique identifier for a user, as defined by the advertiser."
        }
      },
      "id": "Event"
    },
    "GcpWrappedKeyInfo": {
      "id": "GcpWrappedKeyInfo",
      "description": "Information about the Google Cloud Platform wrapped key.",
      "type": "object",
      "properties": {
        "kekUri": {
          "type": "string",
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`"
        },
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        },
        "wipProvider": {
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK.",
          "type": "string"
        },
        "keyType": {
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        }
      }
    },
    "PseudonymousIdInfo": {
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "syncStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Sync status of the user list.",
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ],
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ]
        },
        "billableRecordCount": {
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched).",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "PseudonymousIdInfo"
    },
    "AwsWrappedKeyInfo": {
      "id": "AwsWrappedKeyInfo",
      "description": "A data encryption key wrapped by an AWS KMS key.",
      "type": "object",
      "properties": {
        "keyType": {
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "type": "string",
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ]
        },
        "roleArn": {
          "type": "string",
          "description": "Required. The Amazon Resource Name of the IAM Role to assume for KMS decryption access. Should be in the format of `arn:{partition}:iam::{account_id}:role/{role_name}`"
        },
        "kekUri": {
          "description": "Required. The URI of the AWS KMS key used to decrypt the DEK. Should be in the format of `arn:{partition}:kms:{region}:{account_id}:key/{key_id}` or `aws-kms://arn:{partition}:kms:{region}:{account_id}:key/{key_id}`",
          "type": "string"
        },
        "encryptedDek": {
          "type": "string",
          "description": "Required. The base64 encoded encrypted data encryption key."
        }
      }
    },
    "UserProperty": {
      "description": "A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string representation of the value of the user property to use."
        },
        "propertyName": {
          "type": "string",
          "description": "Required. The name of the user property to use."
        }
      },
      "id": "UserProperty"
    },
    "IngestEventsStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the events ingestion to the destination.",
      "id": "IngestEventsStatus"
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "type": "object",
      "properties": {
        "licenseType": {
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "type": "string",
          "readOnly": true
        },
        "clientAccountId": {
          "readOnly": true,
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "type": "string",
          "format": "int64"
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          }
        },
        "metrics": {
          "readOnly": true,
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call.",
          "$ref": "UserListLicenseMetrics"
        },
        "userListId": {
          "description": "Output only. ID of the user list being licensed.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "readOnly": true,
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license customer."
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed.",
          "type": "string",
          "readOnly": true
        },
        "clientAccountType": {
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ],
          "type": "string",
          "readOnly": true
        },
        "pricing": {
          "readOnly": true,
          "description": "Output only. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "type": "string"
        }
      },
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license."
    },
    "AudienceMember": {
      "id": "AudienceMember",
      "description": "The audience member to be operated on.",
      "type": "object",
      "properties": {
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Defines which Destination to send the audience member to."
        },
        "pairData": {
          "description": "[Publisher Advertiser Identity Reconciliation (PAIR) IDs](//support.google.com/admanager/answer/15067908). This feature is only available to data partners.",
          "$ref": "PairData"
        },
        "mobileData": {
          "description": "Data identifying the user's mobile devices.",
          "$ref": "MobileData"
        },
        "consent": {
          "description": "Optional. The consent setting for the user.",
          "$ref": "Consent"
        },
        "ppidData": {
          "description": "Data related to publisher provided identifiers. This feature is only available to data partners.",
          "$ref": "PpidData"
        },
        "userData": {
          "description": "User-provided data that identifies the user.",
          "$ref": "UserData"
        },
        "userIdData": {
          "description": "Data related to unique identifiers for a user, as defined by the advertiser.",
          "$ref": "UserIdData"
        }
      }
    },
    "RemovePpidDataStatus": {
      "id": "RemovePpidDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the ppid data removal from the destination."
    },
    "ListUserListGlobalLicensesResponse": {
      "description": "Response from the ListUserListGlobalLicensesRequest.",
      "type": "object",
      "properties": {
        "userListGlobalLicenses": {
          "type": "array",
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListGlobalLicense"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserListGlobalLicensesResponse"
    },
    "DeviceInfo": {
      "id": "DeviceInfo",
      "description": "Information about the device being used (if any) when the event happened.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Optional. The IP address of the device for the given context. **Note:** Google Ads does not support IP address matching for end users in the European Economic Area (EEA), United Kingdom (UK), or Switzerland (CH). Add logic to conditionally exclude sharing IP addresses from users from these regions and ensure that you provide users with clear and comprehensive information about the data you collect on your sites, apps, and other properties and get consent where required by law or any applicable Google policies. See the [About offline conversion imports](https://support.google.com/google-ads/answer/2998031) page for more details.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "Optional. The user-agent string of the device for the given context."
        }
      }
    },
    "ContactIdInfo": {
      "type": "object",
      "properties": {
        "matchRatePercentage": {
          "description": "Output only. Match rate for customer match user lists.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "dataSourceType": {
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "description": "Optional. Immutable. Source of the upload data",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ]
        }
      },
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
      "id": "ContactIdInfo"
    },
    "ListUserListsResponse": {
      "description": "Response message for ListUserLists.",
      "type": "object",
      "properties": {
        "userLists": {
          "type": "array",
          "description": "The user lists from the specified account.",
          "items": {
            "$ref": "UserList"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserListsResponse"
    },
    "MobileIdInfo": {
      "id": "MobileIdInfo",
      "type": "object",
      "properties": {
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data.",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ]
        },
        "keySpace": {
          "description": "Required. Immutable. The key space of mobile IDs.",
          "enumDescriptions": [
            "Not specified.",
            "The iOS keyspace.",
            "The Android keyspace."
          ],
          "type": "string",
          "enum": [
            "KEY_SPACE_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ]
        },
        "appId": {
          "type": "string",
          "description": "Required. Immutable. A string that uniquely identifies a mobile application from which the data was collected."
        }
      },
      "description": "Additional information when `MOBILE_ID` is one of the `upload_key_types`."
    },
    "RemoveAudienceMembersStatus": {
      "description": "The status of the remove audience members request.",
      "type": "object",
      "properties": {
        "userDataRemovalStatus": {
          "description": "The status of the user data removal from the destination.",
          "$ref": "RemoveUserDataStatus"
        },
        "mobileDataRemovalStatus": {
          "description": "The status of the mobile data removal from the destination.",
          "$ref": "RemoveMobileDataStatus"
        },
        "userIdDataRemovalStatus": {
          "description": "The status of the user id data removal from the destination.",
          "$ref": "RemoveUserIdDataStatus"
        },
        "pairDataRemovalStatus": {
          "description": "The status of the pair data removal from the destination.",
          "$ref": "RemovePairDataStatus"
        },
        "ppidDataRemovalStatus": {
          "description": "The status of the ppid data removal from the destination.",
          "$ref": "RemovePpidDataStatus"
        }
      },
      "id": "RemoveAudienceMembersStatus"
    },
    "RetrieveInsightsRequest": {
      "type": "object",
      "properties": {
        "baseline": {
          "description": "Required. Baseline for the insights requested.",
          "$ref": "Baseline"
        },
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        }
      },
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsRequest"
    },
    "Baseline": {
      "type": "object",
      "properties": {
        "baselineLocation": {
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions.",
          "$ref": "Location"
        },
        "locationAutoDetectionEnabled": {
          "description": "If set to true, the service will try to automatically detect the baseline location for insights.",
          "type": "boolean"
        }
      },
      "description": "Baseline criteria against which insights are compared.",
      "id": "Baseline"
    },
    "SearchPartnerLinksResponse": {
      "description": "Response from the SearchPartnerLinksRequest.",
      "type": "object",
      "properties": {
        "partnerLinks": {
          "items": {
            "$ref": "PartnerLink"
          },
          "type": "array",
          "description": "The partner links for the given account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "SearchPartnerLinksResponse"
    },
    "UserProperties": {
      "type": "object",
      "properties": {
        "customerType": {
          "type": "string",
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ],
          "description": "Optional. Type of the customer associated with the event.",
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ]
        },
        "customerValueBucket": {
          "description": "Optional. The advertiser-assessed value of the customer.",
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ],
          "type": "string",
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "additionalUserProperties": {
          "type": "array",
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "items": {
            "$ref": "UserProperty"
          }
        }
      },
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details.",
      "id": "UserProperties"
    },
    "UserIdentifier": {
      "description": "A single identifier for the user.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        },
        "address": {
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once.",
          "$ref": "AddressInfo"
        }
      },
      "id": "UserIdentifier"
    },
    "IngestAudienceMembersResponse": {
      "description": "Response from the IngestAudienceMembersRequest.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "id": "IngestAudienceMembersResponse"
    },
    "ExperimentalField": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "Optional. The name of the field to use."
        },
        "value": {
          "type": "string",
          "description": "Optional. The value the field to set."
        }
      },
      "description": "Experimental field representing unofficial fields.",
      "id": "ExperimentalField"
    },
    "RemoveUserDataStatus": {
      "id": "RemoveUserDataStatus",
      "description": "The status of the user data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PairIdInfo": {
      "id": "PairIdInfo",
      "type": "object",
      "properties": {
        "advertiserIdentifierCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list."
        },
        "publisherId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms."
        },
        "matchRatePercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive."
        },
        "cleanRoomIdentifier": {
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers.",
          "type": "string"
        },
        "publisherName": {
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience.",
          "type": "string"
        }
      },
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners."
    },
    "TargetNetworkInfo": {
      "id": "TargetNetworkInfo",
      "description": "Eligibility information for different target networks.",
      "type": "object",
      "properties": {
        "eligibleForDisplay": {
          "description": "Output only. Indicates this user list is eligible for Google Display Network.",
          "type": "boolean",
          "readOnly": true
        },
        "eligibleForSearch": {
          "description": "Optional. Indicates if this user list is eligible for Google Search Network.",
          "type": "boolean"
        }
      }
    },
    "ItemParameter": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        },
        "parameterName": {
          "type": "string",
          "description": "Required. The name of the parameter to use."
        }
      },
      "description": "A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
      "id": "ItemParameter"
    },
    "UserListGlobalLicense": {
      "id": "UserListGlobalLicense",
      "description": "A user list global license. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "licenseType": {
          "type": "string",
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "description": "Immutable. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ]
        },
        "historicalPricings": {
          "type": "array",
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the user list global license.",
          "type": "string"
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call",
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "userListId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of the user list being licensed."
        },
        "status": {
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        }
      }
    },
    "Item": {
      "description": "Represents an item in the cart associated with the event.",
      "type": "object",
      "properties": {
        "unitPrice": {
          "type": "number",
          "format": "double",
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts."
        },
        "merchantProductId": {
          "type": "string",
          "description": "Optional. The product ID within the Merchant Center account."
        },
        "itemId": {
          "type": "string",
          "description": "Optional. A unique identifier to reference the item."
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of this item associated with the event."
        },
        "additionalItemParameters": {
          "items": {
            "$ref": "ItemParameter"
          },
          "type": "array",
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields."
        }
      },
      "id": "Item"
    },
    "PpidData": {
      "id": "PpidData",
      "type": "object",
      "properties": {
        "ppids": {
          "description": "Required. The list of publisher provided identifiers for a user.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Publisher provided identifiers data holding the ppids. At least one ppid is required. This feature is only available to data partners."
    },
    "IngestAudienceMembersRequest": {
      "id": "IngestAudienceMembersRequest",
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse.",
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The list of destinations to send the audience members to.",
          "type": "array",
          "items": {
            "$ref": "Destination"
          }
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "audienceMembers": {
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request.",
          "type": "array",
          "items": {
            "$ref": "AudienceMember"
          }
        },
        "encoding": {
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ]
        },
        "termsOfService": {
          "description": "Optional. The terms of service that the user has accepted/rejected.",
          "$ref": "TermsOfService"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "UserData": {
      "id": "UserData",
      "type": "object",
      "properties": {
        "userIdentifiers": {
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          }
        }
      },
      "description": "Data that identifies the user. At least one identifier is required."
    },
    "UserIdData": {
      "description": "User id data holding the user id.",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. A unique identifier for a user, as defined by the advertiser."
        }
      },
      "id": "UserIdData"
    },
    "AdIdentifiers": {
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "type": "object",
      "properties": {
        "wbraid": {
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14.",
          "type": "string"
        },
        "gclid": {
          "description": "Optional. The Google click ID (gclid) associated with this event.",
          "type": "string"
        },
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        },
        "sessionAttributes": {
          "type": "string",
          "description": "Optional. Session attributes for event attribution and modeling."
        },
        "gbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14."
        }
      },
      "id": "AdIdentifiers"
    },
    "UserListLicensePricing": {
      "type": "object",
      "properties": {
        "buyerApprovalState": {
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ],
          "type": "string",
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "readOnly": true
        },
        "currencyCode": {
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "costMicros": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`."
        },
        "endTime": {
          "description": "Optional. End time of the pricing.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Start time of the pricing.",
          "readOnly": true
        },
        "pricingActive": {
          "description": "Output only. Whether this pricing is active.",
          "type": "boolean",
          "readOnly": true
        },
        "costType": {
          "type": "string",
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ]
        },
        "pricingId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of this pricing.",
          "readOnly": true
        },
        "maxCostMicros": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap."
        }
      },
      "description": "A user list license pricing.",
      "id": "UserListLicensePricing"
    },
    "SizeInfo": {
      "id": "SizeInfo",
      "type": "object",
      "properties": {
        "searchNetworkMembersCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns."
        },
        "displayNetworkMembersCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network."
        }
      },
      "description": "Estimated number of members in this user list in different target networks."
    },
    "IngestUserIdDataStatus": {
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "userIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not."
        }
      },
      "id": "IngestUserIdDataStatus"
    },
    "RemovePairDataStatus": {
      "id": "RemovePairDataStatus",
      "description": "The status of the pair data removal from the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
        },
        "pairIdCount": {
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RequestStatusPerDestination": {
      "description": "A request status per destination.",
      "type": "object",
      "properties": {
        "errorInfo": {
          "description": "An error info error containing the error reason and error counts related to the upload.",
          "$ref": "ErrorInfo"
        },
        "eventsIngestionStatus": {
          "description": "The status of the ingest events request.",
          "$ref": "IngestEventsStatus"
        },
        "destination": {
          "description": "A destination within a DM API request.",
          "$ref": "Destination"
        },
        "requestStatus": {
          "type": "string",
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ],
          "description": "The request status of the destination.",
          "enumDescriptions": [
            "The request status is unknown.",
            "The request succeeded.",
            "The request is processing.",
            "The request failed.",
            "The request partially succeeded."
          ]
        },
        "warningInfo": {
          "description": "A warning info containing the warning reason and warning counts related to the upload.",
          "$ref": "WarningInfo"
        },
        "audienceMembersIngestionStatus": {
          "description": "The status of the ingest audience members request.",
          "$ref": "IngestAudienceMembersStatus"
        },
        "audienceMembersRemovalStatus": {
          "description": "The status of the remove audience members request.",
          "$ref": "RemoveAudienceMembersStatus"
        }
      },
      "id": "RequestStatusPerDestination"
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "type": "object",
      "properties": {
        "userListGlobalLicenseCustomerInfos": {
          "type": "array",
          "description": "The customer information for the given license in the request.",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest.",
      "id": "ListUserListGlobalLicenseCustomerInfosResponse"
    },
    "WarningCount": {
      "description": "The warning count for a given warning reason.",
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ],
          "description": "The warning reason.",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt th UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ]
        },
        "recordCount": {
          "description": "The count of records that have a warning.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "WarningCount"
    },
    "ListUserListDirectLicensesResponse": {
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "type": "object",
      "properties": {
        "userListDirectLicenses": {
          "items": {
            "$ref": "UserListDirectLicense"
          },
          "type": "array",
          "description": "The licenses for the given user list in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserListDirectLicensesResponse"
    },
    "AddressInfo": {
      "description": "Address information for the user.",
      "type": "object",
      "properties": {
        "familyName": {
          "description": "Required. Family (last) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The 2-letter region code in ISO-3166-1 alpha-2 of the user's address."
        },
        "postalCode": {
          "description": "Required. The postal code of the user's address.",
          "type": "string"
        },
        "givenName": {
          "description": "Required. Given (first) name of the user, all lowercase, with no punctuation, no leading or trailing whitespace, and hashed as SHA-256.",
          "type": "string"
        }
      },
      "id": "AddressInfo"
    },
    "Location": {
      "id": "Location",
      "description": "The baseline location of the request. Baseline location is on OR-list of ISO 3166-1 alpha-2 region codes of the requested regions.",
      "type": "object",
      "properties": {
        "regionCodes": {
          "type": "array",
          "description": "List of ISO 3166-1 alpha-2 region codes.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IngestPpidDataStatus": {
      "id": "IngestPpidDataStatus",
      "description": "The status of the ppid data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        },
        "ppidCount": {
          "description": "The total count of ppids sent in the upload request for the destination. Includes all ppids in the request, regardless of whether they were successfully ingested or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TermsOfService": {
      "id": "TermsOfService",
      "type": "object",
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "type": "string",
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ],
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list.",
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ]
        }
      },
      "description": "The terms of service that the user has accepted/rejected."
    },
    "Destination": {
      "id": "Destination",
      "type": "object",
      "properties": {
        "loginAccount": {
[...]
