{
  "servicePath": "",
  "protocol": "rest",
  "id": "dataplex:v1",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dataplex/docs",
  "basePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dataplex.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "A unified, intelligent governance solution for data and AI assets.",
  "title": "Cloud Dataplex API",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/dataplex.readonly": {
          "description": "See your Google Cloud Dataplex data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/dataplex.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Dataplex data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Cloud Dataplex",
  "ownerName": "Google",
  "version": "v1",
  "mtlsRootUrl": "https://dataplex.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudDataplexV1DataDocumentationResultDatasetResult": {
      "id": "GoogleCloudDataplexV1DataDocumentationResultDatasetResult",
      "description": "Insights for a dataset resource.",
      "type": "object",
      "properties": {
        "overview": {
          "description": "Output only. Generated Dataset description.",
          "type": "string",
          "readOnly": true
        },
        "tableResults": {
          "readOnly": true,
          "description": "Output only. Generated table and column descriptions for each table in the dataset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultTableResult"
          }
        },
        "queries": {
          "description": "Output only. Sample SQL queries for the dataset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultQuery"
          },
          "readOnly": true
        },
        "schemaRelationships": {
          "readOnly": true,
          "description": "Output only. Relationships suggesting how tables in the dataset are related to each other, based on their schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultSchemaRelationship"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs": {
      "description": "Applied configs for data profile type data scan job.",
      "type": "object",
      "properties": {
        "rowFilterApplied": {
          "description": "Boolean indicating whether a row filter was applied in the DataScan job.",
          "type": "boolean"
        },
        "samplingPercent": {
          "description": "The percentage of the records selected from the dataset for DataScan. Value ranges between 0.0 and 100.0. Value 0.0 or 100.0 imply that sampling was not applied.",
          "type": "number",
          "format": "float"
        },
        "columnFilterApplied": {
          "description": "Boolean indicating whether a column filter was applied in the DataScan job.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDataplexV1DataScanEventDataProfileAppliedConfigs"
    },
    "GoogleCloudDataplexV1ZoneResourceSpec": {
      "id": "GoogleCloudDataplexV1ZoneResourceSpec",
      "description": "Settings for resources attached as assets within a zone.",
      "type": "object",
      "properties": {
        "locationType": {
          "enumDescriptions": [
            "Unspecified location type.",
            "Resources that are associated with a single region.",
            "Resources that are associated with a multi-region location."
          ],
          "enum": [
            "LOCATION_TYPE_UNSPECIFIED",
            "SINGLE_REGION",
            "MULTI_REGION"
          ],
          "description": "Required. Immutable. The location type of the resources that are allowed to be attached to the assets within this zone.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataProductAccessGroup": {
      "description": "Custom user defined access groups at the data product level. These are used for granting different levels of access (IAM roles) on the individual data product's data assets.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. User friendly display name of the access group. Eg. \"Analyst\", \"Developer\", etc.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the access group.",
          "type": "string"
        },
        "principal": {
          "description": "Required. The principal entity associated with this access group.",
          "$ref": "GoogleCloudDataplexV1DataProductPrincipal"
        },
        "id": {
          "description": "Required. Unique identifier of the access group within the data product. User defined. Eg. \"analyst\", \"developer\", etc.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataProductAccessGroup"
    },
    "GoogleCloudDataplexV1AssetResourceSpec": {
      "id": "GoogleCloudDataplexV1AssetResourceSpec",
      "description": "Identifies the cloud resource that is referenced by this asset.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type not specified.",
            "Cloud Storage bucket.",
            "BigQuery dataset."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STORAGE_BUCKET",
            "BIGQUERY_DATASET"
          ],
          "description": "Required. Immutable. Type of resource.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Relative name of the cloud resource that contains the data that is being managed within a lake. For example: projects/{project_number}/buckets/{bucket_id} projects/{project_number}/datasets/{dataset_id}",
          "type": "string"
        },
        "readAccessMode": {
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "description": "Optional. Determines how read permissions are handled for each asset and their associated tables. Only available to storage buckets assets.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1ListDataAttributesResponse": {
      "id": "GoogleCloudDataplexV1ListDataAttributesResponse",
      "description": "List DataAttributes response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "dataAttributes": {
          "description": "DataAttributes under the given parent DataTaxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttribute"
          }
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataDocumentationResultField": {
      "id": "GoogleCloudDataplexV1DataDocumentationResultField",
      "description": "Column of a table with generated metadata and nested fields.",
      "type": "object",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Generated description for columns and fields.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the column.",
          "type": "string"
        },
        "fields": {
          "readOnly": true,
          "description": "Output only. Nested fields.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataDocumentationResultField"
          }
        }
      }
    },
    "GoogleCloudDataplexV1RunDataScanRequest": {
      "description": "Run DataScan Request",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDataplexV1RunDataScanRequest"
    },
    "GoogleCloudDataplexV1StorageFormatCsvOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatCsvOptions",
      "description": "Describes CSV and similar semi-structured data formats.",
      "type": "object",
      "properties": {
        "headerRows": {
          "format": "int32",
          "description": "Optional. The number of rows to interpret as header rows that should be skipped when reading data rows. Defaults to 0.",
          "type": "integer"
        },
        "delimiter": {
          "description": "Optional. The delimiter used to separate values. Defaults to ','.",
          "type": "string"
        },
        "quote": {
          "description": "Optional. The character used to quote column values. Accepts '\"' (double quotation mark) or ''' (single quotation mark). Defaults to '\"' (double quotation mark) if unspecified.",
          "type": "string"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\", and \"ISO-8859-1\". Defaults to UTF-8 if unspecified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1LakeMetastore": {
      "description": "Settings to manage association of Dataproc Metastore with a lake.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Optional. A relative reference to the Dataproc Metastore (https://cloud.google.com/dataproc-metastore/docs) service associated with the lake: projects/{project_id}/locations/{location_id}/services/{service_id}",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1LakeMetastore"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for TestIamPermissions method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "GoogleCloudDataplexV1AssetDiscoveryStatus": {
      "description": "Status of discovery for an asset.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Last update time of the status.",
          "type": "string"
        },
        "stats": {
          "description": "Data Stats of the asset reported by discovery.",
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatusStats"
        },
        "lastRunDuration": {
          "description": "The duration of the last discovery run.",
          "type": "string",
          "format": "google-duration"
        },
        "lastRunTime": {
          "format": "google-datetime",
          "description": "The start time of the last discovery run.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Discovery for the asset is scheduled.",
            "Discovery for the asset is running.",
            "Discovery for the asset is currently paused (e.g. due to a lack of available resources). It will be automatically resumed.",
            "Discovery for the asset is disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SCHEDULED",
            "IN_PROGRESS",
            "PAUSED",
            "DISABLED"
          ],
          "description": "The current status of the discovery feature.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1AssetDiscoveryStatus"
    },
    "GoogleCloudDataplexV1DiscoveryEvent": {
      "id": "GoogleCloudDataplexV1DiscoveryEvent",
      "description": "The payload associated with Discovery data processing.",
      "type": "object",
      "properties": {
        "zoneId": {
          "description": "The id of the associated zone.",
          "type": "string"
        },
        "datascanId": {
          "description": "The id of the associated datascan for standalone discovery.",
          "type": "string"
        },
        "entity": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventEntityDetails",
          "description": "Details about the entity associated with the event."
        },
        "action": {
          "$ref": "GoogleCloudDataplexV1DiscoveryEventActionDetails",
          "description": "Details about the action associated with the event."
        },
        "table": {
          "description": "Details about the BigQuery table publishing associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventTableDetails"
        },
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "config": {
          "description": "Details about discovery configuration in effect.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
        },
        "lakeId": {
          "description": "The id of the associated lake.",
          "type": "string"
        },
        "assetId": {
          "description": "The id of the associated asset.",
          "type": "string"
        },
        "type": {
          "description": "The type of the event being logged.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified event type.",
            "An event representing discovery configuration in effect.",
            "An event representing a metadata entity being created.",
            "An event representing a metadata entity being updated.",
            "An event representing a metadata entity being deleted.",
            "An event representing a partition being created.",
            "An event representing a partition being updated.",
            "An event representing a partition being deleted.",
            "An event representing a table being published.",
            "An event representing a table being updated.",
            "An event representing a table being skipped in publishing.",
            "An event representing a table being deleted."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "CONFIG",
            "ENTITY_CREATED",
            "ENTITY_UPDATED",
            "ENTITY_DELETED",
            "PARTITION_CREATED",
            "PARTITION_UPDATED",
            "PARTITION_DELETED",
            "TABLE_PUBLISHED",
            "TABLE_UPDATED",
            "TABLE_IGNORED",
            "TABLE_DELETED"
          ]
        },
        "partition": {
          "description": "Details about the partition associated with the event.",
          "$ref": "GoogleCloudDataplexV1DiscoveryEventPartitionDetails"
        },
        "dataLocation": {
          "description": "The data location associated with the event.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ResourceAccessSpec": {
      "description": "ResourceAccessSpec holds the access control configuration to be enforced on the resources, for example, Cloud Storage bucket, BigQuery dataset, BigQuery table.",
      "type": "object",
      "properties": {
        "readers": {
          "description": "Optional. The format of strings follows the pattern followed by IAM in the bindings. user:{email}, serviceAccount:{email} group:{email}. The set of principals to be granted reader role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "writers": {
          "description": "Optional. The set of principals to be granted writer role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "owners": {
          "description": "Optional. The set of principals to be granted owner role on the resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDataplexV1ResourceAccessSpec"
    },
    "GoogleCloudDataplexV1Action": {
      "description": "Action represents an issue requiring administrator action for resolution.",
      "type": "object",
      "properties": {
        "missingResource": {
          "$ref": "GoogleCloudDataplexV1ActionMissingResource",
          "description": "Details for issues related to absence of a managed resource."
        },
        "detectTime": {
          "description": "The time that the issue was detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The relative resource name of the action, of the form: projects/{project}/locations/{location}/lakes/{lake}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/actions/{action} projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/assets/{asset}/actions/{action}.",
          "type": "string",
          "readOnly": true
        },
        "invalidDataPartition": {
          "description": "Details for issues related to invalid or unsupported data partition structure.",
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataPartition"
        },
        "failedSecurityPolicyApply": {
          "description": "Details for issues related to applying security policy.",
          "$ref": "GoogleCloudDataplexV1ActionFailedSecurityPolicyApply"
        },
        "lake": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "type": "string",
          "readOnly": true
        },
        "dataLocations": {
          "description": "The list of data locations associated with this action. Cloud Storage locations are represented as URI paths(E.g. gs://bucket/table1/year=2020/month=Jan/). BigQuery locations refer to resource names(E.g. bigquery.googleapis.com/projects/project-id/datasets/dataset-id).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "incompatibleDataSchema": {
          "description": "Details for issues related to incompatible schemas detected within data.",
          "$ref": "GoogleCloudDataplexV1ActionIncompatibleDataSchema"
        },
        "invalidDataOrganization": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataOrganization",
          "description": "Details for issues related to invalid data arrangement."
        },
        "asset": {
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "type": "string",
          "readOnly": true
        },
        "invalidDataFormat": {
          "$ref": "GoogleCloudDataplexV1ActionInvalidDataFormat",
          "description": "Details for issues related to invalid or unsupported data formats."
        },
        "missingData": {
          "$ref": "GoogleCloudDataplexV1ActionMissingData",
          "description": "Details for issues related to absence of data within managed resources."
        },
        "category": {
          "description": "The category of issue associated with the action.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified category.",
            "Resource management related issues.",
            "Security policy related issues.",
            "Data and discovery related issues."
          ],
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "RESOURCE_MANAGEMENT",
            "SECURITY_POLICY",
            "DATA_DISCOVERY"
          ]
        },
        "issue": {
          "description": "Detailed description of the issue requiring action.",
          "type": "string"
        },
        "unauthorizedResource": {
          "description": "Details for issues related to lack of permissions to access data resources.",
          "$ref": "GoogleCloudDataplexV1ActionUnauthorizedResource"
        },
        "zone": {
          "description": "Output only. The relative resource name of the zone, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1Action"
    },
    "GoogleCloudDataplexV1DataAttributeBinding": {
      "description": "DataAttributeBinding represents binding of attributes to resources. Eg: Bind 'CustomerInfo' entity with 'PII' attribute.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Etags must be used when calling the DeleteDataAttributeBinding and the UpdateDataAttributeBinding method.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the DataAttributeBinding was last updated.",
          "type": "string"
        },
        "resource": {
          "description": "Optional. Immutable. The resource name of the resource that is associated to attributes. Presently, only entity resource is supported in the form: projects/{project}/locations/{location}/lakes/{lake}/zones/{zone}/entities/{entity_id} Must belong in the same project and region as the attribute binding, and there can only exist one active binding for a resource.",
          "type": "string"
        },
        "paths": {
          "description": "Optional. The list of paths for items within the associated resource (eg. columns and partitions within a table) along with attribute bindings.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBindingPath"
          }
        },
        "description": {
          "description": "Optional. Description of the DataAttributeBinding.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the DataAttributeBinding. This ID will be different if the DataAttributeBinding is deleted and re-created with the same name.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The relative resource name of the Data Attribute Binding, of the form: projects/{project_number}/locations/{location}/dataAttributeBindings/{data_attribute_binding_id}",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. User-defined labels for the DataAttributeBinding.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "attributes": {
          "description": "Optional. List of attributes to be associated with the resource, provided in the form: projects/{project}/locations/{location}/dataTaxonomies/{dataTaxonomy}/attributes/{data_attribute_id}",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the DataAttributeBinding was created.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataAttributeBinding"
    },
    "GoogleCloudDataplexV1StorageAccess": {
      "id": "GoogleCloudDataplexV1StorageAccess",
      "description": "Describes the access mechanism of the data within its storage location.",
      "type": "object",
      "properties": {
        "read": {
          "readOnly": true,
          "enumDescriptions": [
            "Access mode unspecified.",
            "Default. Data is accessed directly using storage APIs.",
            "Data is accessed through a managed interface using BigQuery APIs."
          ],
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "DIRECT",
            "MANAGED"
          ],
          "type": "string",
          "description": "Output only. Describes the read access mechanism of the data. Not user settable."
        }
      }
    },
    "GoogleCloudDataplexV1DiscoveryEventConfigDetails": {
      "description": "Details about configuration events.",
      "type": "object",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A list of discovery configuration parameters in effect. The keys are the field paths within DiscoverySpec. Eg. includePatterns, excludePatterns, csvOptions.disableTypeInference, etc.",
          "type": "object"
        }
      },
      "id": "GoogleCloudDataplexV1DiscoveryEventConfigDetails"
    },
    "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResult": {
      "description": "Contains a single result from the debug query.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Represents the value of the result as a string.",
          "type": "string"
        },
        "name": {
          "description": "Specifies the name of the result. Available if provided with an explicit alias using [AS] alias.",
          "type": "string"
        },
        "type": {
          "description": "Indicates the data type of the result. For more information, see BigQuery data types (https://cloud.google.com/bigquery/docs/reference/standard-sql/data-types).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRuleResultDebugQueryResult"
    },
    "GoogleCloudDataplexV1Entry": {
      "id": "GoogleCloudDataplexV1Entry",
      "description": "An entry is a representation of a data resource that can be described by various metadata.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The relative resource name of the entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}.",
          "type": "string"
        },
        "parentEntry": {
          "description": "Optional. Immutable. The resource name of the parent entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}/entries/{entry_id}.",
          "type": "string"
        },
        "aspects": {
          "description": "Optional. The aspects that are attached to the entry. Depending on how the aspect is attached to the entry, the format of the aspect key can be one of the following: If the aspect is attached directly to the entry: {project_id_or_number}.{location_id}.{aspect_type_id} If the aspect is attached to an entry's path: {project_id_or_number}.{location_id}.{aspect_type_id}@{path}",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1Aspect"
          }
        },
        "fullyQualifiedName": {
          "description": "Optional. A name for the entry that can be referenced by an external system. For more information, see Fully qualified names (https://cloud.google.com/data-catalog/docs/fully-qualified-names). The maximum size of the field is 4000 characters.",
          "type": "string"
        },
        "entrySource": {
          "$ref": "GoogleCloudDataplexV1EntrySource",
          "description": "Optional. Information related to the source system of the data resource that is represented by the entry."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the entry was last updated in Dataplex Universal Catalog.",
          "type": "string",
          "readOnly": true
        },
        "entryType": {
          "description": "Required. Immutable. The relative resource name of the entry type that was used to create this entry, in the format projects/{project_id_or_number}/locations/{location_id}/entryTypes/{entry_type_id}.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the entry was created in Dataplex Universal Catalog.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork": {
      "description": "Cloud VPC Network used to run the infrastructure.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Optional. The Cloud VPC network in which the job is run. By default, the Cloud VPC network named Default within the project is used.",
          "type": "string"
        },
        "networkTags": {
          "description": "Optional. List of network tags to apply to the job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subNetwork": {
          "description": "Optional. The Cloud VPC sub-network in which the job is run.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1TaskInfrastructureSpecVpcNetwork"
    },
    "GoogleCloudDataplexV1Lake": {
      "id": "GoogleCloudDataplexV1Lake",
      "description": "A lake is a centralized repository for managing enterprise data across the organization distributed across many cloud projects, and stored in a variety of storage services such as Google Cloud Storage and BigQuery. The resources attached to a lake are referred to as managed resources. Data within these managed resources can be structured or unstructured. A lake provides data admins with tools to organize, secure and manage their data at scale, and provides data scientists and data engineers an integrated experience to easily search, discover, analyze and transform data and associated metadata.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the lake. This ID will be different if the lake is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "metastore": {
          "description": "Optional. Settings to manage lake and Dataproc Metastore service instance association.",
          "$ref": "GoogleCloudDataplexV1LakeMetastore"
        },
        "assetStatus": {
          "readOnly": true,
          "description": "Output only. Aggregated status of the underlying assets of the lake.",
          "$ref": "GoogleCloudDataplexV1AssetStatus"
        },
        "name": {
          "description": "Output only. The relative resource name of the lake, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. User-defined labels for the lake.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the lake was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the lake was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "Output only. Service account associated with this lake. This service account must be authorized to access or operate on resources managed by the lake.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. Current state of the lake."
        },
        "metastoreStatus": {
          "description": "Output only. Metastore status of the lake.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1LakeMetastoreStatus"
        },
        "description": {
          "description": "Optional. Description of the lake.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1GovernanceEventEntity": {
      "id": "GoogleCloudDataplexV1GovernanceEventEntity",
      "description": "Information about Entity resource that the log event is associated with.",
      "type": "object",
      "properties": {
        "entity": {
          "description": "The Entity resource the log event is associated with. Format: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/entities/{entity_id}",
          "type": "string"
        },
        "entityType": {
          "description": "Type of entity.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified Entity type.",
            "Table entity type.",
            "Fileset entity type."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "TABLE",
            "FILESET"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1TaskSparkTaskConfig": {
      "description": "User-specified config for running a Spark task.",
      "type": "object",
      "properties": {
        "infrastructureSpec": {
          "$ref": "GoogleCloudDataplexV1TaskInfrastructureSpec",
          "description": "Optional. Infrastructure specification for the execution."
        },
        "archiveUris": {
          "description": "Optional. Cloud Storage URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainJarFileUri": {
          "description": "The Cloud Storage URI of the jar file that contains the main class. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "pythonScriptFile": {
          "description": "The Gcloud Storage URI of the main Python file to use as the driver. Must be a .py file. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "sqlScriptFile": {
          "description": "A reference to a query file. This should be the Cloud Storage URI of the query file. The execution args are used to declare a set of script variables (set key=\"value\";).",
          "type": "string"
        },
        "fileUris": {
          "description": "Optional. Cloud Storage URIs of files to be placed in the working directory of each executor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mainClass": {
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in jar_file_uris. The execution args are passed in as a sequence of named process arguments (--key=value).",
          "type": "string"
        },
        "sqlScript": {
          "description": "The query text. The execution args are used to declare a set of script variables (set key=\"value\";).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1TaskSparkTaskConfig"
    },
    "GoogleCloudDataplexV1DataScanEventPostScanActionsResult": {
      "id": "GoogleCloudDataplexV1DataScanEventPostScanActionsResult",
      "description": "Post scan actions result for data scan job.",
      "type": "object",
      "properties": {
        "bigqueryExportResult": {
          "$ref": "GoogleCloudDataplexV1DataScanEventPostScanActionsResultBigQueryExportResult",
          "description": "The result of BigQuery export post scan action."
        }
      }
    },
    "GoogleCloudDataplexV1MetadataFeedScope": {
      "description": "Scope defines the scope of the metadata feed. Scopes are exclusive. Only one of the scopes can be specified.",
      "type": "object",
      "properties": {
        "entryGroups": {
          "description": "Optional. The entry groups whose entries you want to listen to. Must be in the format: projects/{project_id_or_number}/locations/{location_id}/entryGroups/{entry_group_id}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organizationLevel": {
          "description": "Optional. Whether the metadata feed is at the organization-level. If true, all changes happened to the entries in the same organization as the feed are published. If false, you must specify a list of projects or a list of entry groups whose entries you want to listen to.The default is false.",
          "type": "boolean"
        },
        "projects": {
          "description": "Optional. The projects whose entries you want to listen to. Must be in the same organization as the feed. Must be in the format: projects/{project_id_or_number}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDataplexV1MetadataFeedScope"
    },
    "GoogleCloudDataplexV1LakeMetastoreStatus": {
      "id": "GoogleCloudDataplexV1LakeMetastoreStatus",
      "description": "Status of Lake and Dataproc Metastore service instance association.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "A Metastore service instance is not associated with the lake.",
            "A Metastore service instance is attached to the lake.",
            "Attach/detach is in progress.",
            "Attach/detach could not be done due to errors."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NONE",
            "READY",
            "UPDATING",
            "ERROR"
          ],
          "description": "Current state of association.",
          "type": "string"
        },
        "message": {
          "description": "Additional information about the current status.",
          "type": "string"
        },
        "endpoint": {
          "description": "The URI of the endpoint used to access the Metastore service.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last update time of the metastore status of the lake.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1MetadataFeed": {
      "id": "GoogleCloudDataplexV1MetadataFeed",
      "description": "MetadataFeed contains information related to the metadata feed.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the metadata feed, in the format projects/{project_id_or_number}/locations/{location_id}/metadataFeeds/{metadata_feed_id}.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels.",
          "type": "object"
        },
        "uid": {
          "description": "Output only. A system-generated, globally unique ID for the metadata job. If the metadata job is deleted and then re-created with the same name, this ID is different.",
          "type": "string",
          "readOnly": true
        },
        "pubsubTopic": {
          "description": "Optional. The pubsub topic that you want the metadata feed messages to publish to. Please grant Dataplex service account the permission to publish messages to the topic. The service account is: service-{PROJECT_NUMBER}@gcp-sa-dataplex.iam.gserviceaccount.com.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the feed was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "scope": {
          "description": "Required. The scope of the metadata feed. Only the in scope changes are published.",
          "$ref": "GoogleCloudDataplexV1MetadataFeedScope"
        },
        "filters": {
          "description": "Optional. The filters of the metadata feed. Only the changes that match the filters are published.",
          "$ref": "GoogleCloudDataplexV1MetadataFeedFilters"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the feed was created.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDataplexV1DataAssetAccessGroupConfig": {
      "id": "GoogleCloudDataplexV1DataAssetAccessGroupConfig",
      "description": "Configuration for access group inherited from the parent data product.",
      "type": "object",
      "properties": {
        "iamRoles": {
          "description": "Optional. IAM roles granted on the resource to this access group. Role name follows https://cloud.google.com/iam/docs/reference/rest/v1/roles.Example: [ \"roles/bigquery.dataViewer\" ]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDataplexV1DataProfileResultProfileField": {
      "id": "GoogleCloudDataplexV1DataProfileResultProfileField",
      "description": "A field within a table.",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. The data type retrieved from the schema of the data source. For instance, for a BigQuery native table, it is the BigQuery Table Schema (https://cloud.google.com/bigquery/docs/reference/rest/v2/tables#tablefieldschema). For a Dataplex Universal Catalog Entity, it is the Entity Schema (https://cloud.google.com/dataplex/docs/reference/rpc/google.cloud.dataplex.v1#type_3).",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the field.",
          "type": "string"
        },
        "mode": {
          "description": "Output only. The mode of the field. Possible values include: REQUIRED, if it is a required field. NULLABLE, if it is an optional field. REPEATED, if it is a repeated field.",
          "type": "string",
          "readOnly": true
        },
        "profile": {
          "description": "Output only. Profile information for the corresponding field.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfo"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityAppliedConfigs": {
      "description": "Applied configs for data quality type data scan job.",
      "type": "object",
      "properties": {
        "rowFilterApplied": {
          "description": "Boolean indicating whether a row filter was applied in the DataScan job.",
          "type": "boolean"
        },
        "samplingPercent": {
          "format": "float",
          "description": "The percentage of the records selected from the dataset for DataScan. Value ranges between 0.0 and 100.0. Value 0.0 or 100.0 imply that sampling was not applied.",
          "type": "number"
        }
      },
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityAppliedConfigs"
    },
    "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation": {
      "id": "GoogleCloudDataplexV1DataQualityRuleNonNullExpectation",
      "description": "Evaluates whether each column value is null.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1DataAsset": {
      "description": "Represents a data asset resource that can be packaged and shared via a data product.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the data asset was created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the data asset. Format: projects/{project_id_or_number}/locations/{location_id}/dataProducts/{data_product_id}/dataAssets/{data_asset_id}",
          "type": "string"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the data asset.Example: { \"environment\": \"production\", \"billing\": \"marketing-department\" } ",
          "type": "object"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the data asset. This ID will be different if the data asset is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the data asset was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "resource": {
          "description": "Required. Immutable. Full resource name of the cloud resource represented by the data asset. This must follow https://cloud.google.com/iam/docs/full-resource-names. Example: //bigquery.googleapis.com/projects/my_project_123/datasets/dataset_456/tables/table_789 Only BigQuery tables and datasets are currently supported. Data asset creator must have getIamPolicy and setIamPolicy permissions on the resource. Data asset creator must also have resource specific get permission, for instance, bigquery.tables.get for BigQuery tables.",
          "type": "string"
        },
        "accessGroupConfigs": {
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataAssetAccessGroupConfig"
          },
          "description": "Optional. Access groups configurations for this data asset.The key is DataProduct.AccessGroup.id and the value is AccessGroupConfig.Example: { \"analyst\": { \"iamRoles\": [\"roles/bigquery.dataViewer\"] } } Currently, at most one IAM role is allowed per access group. For providing multiple predefined IAM roles, wrap them in a custom IAM role as per https://cloud.google.com/iam/docs/creating-custom-roles.",
          "type": "object"
        }
      },
      "id": "GoogleCloudDataplexV1DataAsset"
    },
    "GoogleCloudDataplexV1StorageFormatJsonOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatJsonOptions",
      "description": "Describes JSON data format.",
      "type": "object",
      "properties": {
        "encoding": {
          "description": "Optional. The character encoding of the data. Accepts \"US-ASCII\", \"UTF-8\" and \"ISO-8859-1\". Defaults to UTF-8 if not specified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions": {
      "id": "GoogleCloudDataplexV1DataDiscoverySpecStorageConfigJsonOptions",
      "description": "Describes JSON data format.",
      "type": "object",
      "properties": {
        "typeInferenceDisabled": {
          "description": "Optional. Whether to disable the inference of data types for JSON data. If true, all columns are registered as their primitive types (strings, number, or boolean).",
          "type": "boolean"
        },
        "encoding": {
          "description": "Optional. The character encoding of the data. The default is UTF-8.",
          "type": "string"
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ZoneDiscoverySpec": {
      "id": "GoogleCloudDataplexV1ZoneDiscoverySpec",
      "description": "Settings to manage the metadata discovery and publishing in a zone.",
      "type": "object",
      "properties": {
        "csvOptions": {
          "description": "Optional. Configuration for CSV data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecCsvOptions"
        },
        "jsonOptions": {
          "description": "Optional. Configuration for Json data.",
          "$ref": "GoogleCloudDataplexV1ZoneDiscoverySpecJsonOptions"
        },
        "excludePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to exclude during discovery. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includePatterns": {
          "description": "Optional. The list of patterns to apply for selecting data to include during discovery if only a subset of the data should considered. For Cloud Storage bucket assets, these are interpreted as glob patterns used to match object names. For BigQuery dataset assets, these are interpreted as patterns to match table names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schedule": {
          "description": "Optional. Cron schedule (https://en.wikipedia.org/wiki/Cron) for running discovery periodically. Successive discovery runs must be scheduled at least 60 minutes apart. The default value is to run discovery every 60 minutes.To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, CRON_TZ=America/New_York 1 * * * *, or TZ=America/New_York 1 * * * *.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Whether discovery is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanEventDataQualityResult": {
      "id": "GoogleCloudDataplexV1DataScanEventDataQualityResult",
      "description": "Data quality result for data scan job.",
      "type": "object",
      "properties": {
        "dimensionPassed": {
          "description": "The result of each dimension for data quality result. The key of the map is the name of the dimension. The value is the bool value depicting whether the dimension result was pass or not.",
          "type": "object",
          "additionalProperties": {
            "type": "boolean"
          }
        },
        "dimensionScore": {
          "description": "The score of each dimension for data quality result. The key of the map is the name of the dimension. The value is the data quality score for the dimension.The score ranges between 0, 100 (up to two decimal points).",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "float"
          }
        },
        "columnScore": {
          "additionalProperties": {
            "type": "number",
            "format": "float"
          },
          "description": "The score of each column scanned in the data scan job. The key of the map is the name of the column. The value is the data quality score for the column.The score ranges between 0, 100 (up to two decimal points).",
          "type": "object"
        },
        "rowCount": {
          "description": "The count of rows processed in the data scan job.",
          "type": "string",
          "format": "int64"
        },
        "passed": {
          "description": "Whether the data quality result was pass or not.",
          "type": "boolean"
        },
        "score": {
          "description": "The table-level data quality score for the data scan job.The data quality score ranges between 0, 100 (up to two decimal points).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDataplexV1DataProductPrincipal": {
      "id": "GoogleCloudDataplexV1DataProductPrincipal",
      "description": "Represents the principal entity associated with an access group, as per https://cloud.google.com/iam/docs/principals-overview.",
      "type": "object",
      "properties": {
        "googleGroup": {
          "description": "Optional. Email of the Google Group, as per https://cloud.google.com/iam/docs/principals-overview#google-group.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ListDataAttributeBindingsResponse": {
      "id": "GoogleCloudDataplexV1ListDataAttributeBindingsResponse",
      "description": "List DataAttributeBindings response.",
      "type": "object",
      "properties": {
        "dataAttributeBindings": {
          "description": "DataAttributeBindings under the given parent Location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1DataAttributeBinding"
          }
        },
        "unreachableLocations": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataScanEventDataProfileResult": {
      "id": "GoogleCloudDataplexV1DataScanEventDataProfileResult",
      "description": "Data profile result for data scan job.",
      "type": "object",
      "properties": {
        "rowCount": {
          "format": "int64",
          "description": "The count of rows processed in the data scan job.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1AspectSource": {
      "description": "Information related to the source system of the aspect.",
      "type": "object",
      "properties": {
        "dataVersion": {
          "description": "The version of the data format used to produce this data. This field is used to indicated when the underlying data format changes (e.g., schema modifications, changes to the source URL format definition, etc).",
          "type": "string"
        },
        "createTime": {
          "description": "The time the aspect was created in the source system.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time the aspect was last updated in the source system.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1AspectSource"
    },
    "GoogleCloudDataplexV1ActionMissingResource": {
      "id": "GoogleCloudDataplexV1ActionMissingResource",
      "description": "Action details for resource references in assets that cannot be located.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDataplexV1Task": {
      "description": "A task represents a user-visible job.",
      "type": "object",
      "properties": {
        "notebook": {
          "$ref": "GoogleCloudDataplexV1TaskNotebookTaskConfig",
          "description": "Config related to running scheduled Notebooks."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the task was last updated.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the task.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ]
        },
        "executionStatus": {
          "$ref": "GoogleCloudDataplexV1TaskExecutionStatus",
          "readOnly": true,
          "description": "Output only. Status of the latest task executions."
        },
        "description": {
          "description": "Optional. Description of the task.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The relative resource name of the task, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/ tasks/{task_id}.",
          "type": "string",
          "readOnly": true
        },
        "executionSpec": {
          "$ref": "GoogleCloudDataplexV1TaskExecutionSpec",
          "description": "Required. Spec related to how a task is executed."
        },
        "spark": {
          "$ref": "GoogleCloudDataplexV1TaskSparkTaskConfig",
          "description": "Config related to running custom Spark tasks."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the task. This ID will be different if the task is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the task.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the task was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "triggerSpec": {
          "description": "Required. Spec related to how often and when a task should be triggered.",
          "$ref": "GoogleCloudDataplexV1TaskTriggerSpec"
        }
      },
      "id": "GoogleCloudDataplexV1Task"
    },
    "GoogleCloudDataplexV1DataQualityRuleDebugQuery": {
      "description": "Specifies a SQL statement that is evaluated to return up to 10 scalar values that are used to debug rules. If the rule fails, the values can help diagnose the cause of the failure.The SQL statement must use GoogleSQL syntax (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax), and must not contain any semicolons.You can use the data reference parameter ${data()} to reference the source table with all of its precondition filters applied. Examples of precondition filters include row filters, incremental data filters, and sampling. For more information, see Data reference parameter (https://cloud.google.com/dataplex/docs/auto-data-quality-overview#data-reference-parameter).You can also name results with an explicit alias using [AS] alias. For more information, see BigQuery explicit aliases (https://docs.cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#explicit_alias_syntax).Example: SELECT MIN(col1) AS min_col1, MAX(col1) AS max_col1 FROM ${data()}",
      "type": "object",
      "properties": {
        "sqlStatement": {
          "description": "Required. Specifies the SQL statement to be executed.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Specifies the description of the debug query. The maximum length is 1,024 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityRuleDebugQuery"
    },
    "GoogleCloudDataplexV1EntryLinkEvent": {
      "id": "GoogleCloudDataplexV1EntryLinkEvent",
      "description": "Payload associated with Entry related log events.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The log message.",
          "type": "string"
        },
        "resource": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "eventType": {
          "description": "The type of the event.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified event type.",
            "EntryLink create event.",
            "EntryLink delete event."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ENTRY_LINK_CREATE",
            "ENTRY_LINK_DELETE"
          ]
        }
      }
    },
    "GoogleCloudDataplexV1EntrySourceAncestor": {
      "description": "Information about individual items in the hierarchy that is associated with the data resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. The name of the ancestor resource.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of the ancestor resource.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1EntrySourceAncestor"
    },
    "GoogleCloudDataplexV1DataDocumentationResultQuery": {
      "id": "GoogleCloudDataplexV1DataDocumentationResultQuery",
      "description": "A sample SQL query in data documentation.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. The description for the query.",
          "type": "string",
          "readOnly": true
        },
        "sql": {
          "description": "Output only. The SQL query string which can be executed.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport": {
      "description": "The configuration of BigQuery export post scan action.",
      "type": "object",
      "properties": {
        "resultsTable": {
          "description": "Optional. The BigQuery table to export DataQualityScan results to. Format: //bigquery.googleapis.com/projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID or projects/PROJECT_ID/datasets/DATASET_ID/tables/TABLE_ID",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataQualitySpecPostScanActionsBigQueryExport"
    },
    "GoogleCloudDataplexV1DataQualityResultAnomalyDetectionGeneratedAssets": {
      "description": "The assets generated by Anomaly Detection Data Scan.",
      "type": "object",
      "properties": {
        "volumeIntermediateTable": {
          "description": "Output only. The intermediate table for volume anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID",
          "type": "string",
          "readOnly": true
        },
        "resultTable": {
          "description": "Output only. The result table for anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID If the result table is set at AnomalyDetectionAssets, the result table here would be the same as the one set in the AnomalyDetectionAssets.result_table.",
          "type": "string",
          "readOnly": true
        },
        "freshnessIntermediateTable": {
          "readOnly": true,
          "description": "Output only. The intermediate table for freshness anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID",
          "type": "string"
        },
        "dataIntermediateTable": {
          "description": "Output only. The intermediate table for data anomaly detection. Format: PROJECT_ID.DATASET_ID.TABLE_ID",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1DataQualityResultAnomalyDetectionGeneratedAssets"
    },
    "GoogleCloudDataplexV1Asset": {
      "description": "An asset represents a cloud resource that is being managed within a lake as a member of a zone.",
      "type": "object",
      "properties": {
        "securityStatus": {
          "readOnly": true,
          "description": "Output only. Status of the security policy applied to resource referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetSecurityStatus"
        },
        "name": {
          "description": "Output only. The relative resource name of the asset, of the form: projects/{project_number}/locations/{location_id}/lakes/{lake_id}/zones/{zone_id}/assets/{asset_id}.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the asset.",
          "type": "string"
        },
        "discoveryStatus": {
          "description": "Output only. Status of the discovery feature applied to data referenced by this asset.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1AssetDiscoveryStatus"
        },
        "updateTime": {
          "description": "Output only. The time when the asset was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Current state of the asset.",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "Resource is active, i.e., ready to use.",
            "Resource is under creation.",
            "Resource is under deletion.",
            "Resource is active but has unresolved actions."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "ACTION_REQUIRED"
          ],
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the asset was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceSpec": {
          "$ref": "GoogleCloudDataplexV1AssetResourceSpec",
          "description": "Required. Specification of the resource that is referenced by this asset."
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the asset. This ID will be different if the asset is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User defined labels for the asset.",
          "type": "object"
        },
        "resourceStatus": {
          "readOnly": true,
          "description": "Output only. Status of the resource referenced by this asset.",
          "$ref": "GoogleCloudDataplexV1AssetResourceStatus"
        },
        "discoverySpec": {
          "$ref": "GoogleCloudDataplexV1AssetDiscoverySpec",
          "description": "Optional. Specification of the discovery feature applied to data referenced by this asset. When this spec is left unset, the asset will use the spec set on the parent zone."
        }
      },
      "id": "GoogleCloudDataplexV1Asset"
    },
    "GoogleCloudDataplexV1DataProduct": {
      "id": "GoogleCloudDataplexV1DataProduct",
      "description": "A data product is a curated collection of data assets, packaged to address specific use cases. It's a way to manage and share data in a more organized, product-like manner.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "ownerEmails": {
          "description": "Required. Emails of the data product owners.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the data product was last updated.",
          "type": "string",
          "readOnly": true
        },
        "icon": {
          "format": "byte",
          "description": "Optional. Base64 encoded image representing the data product. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the data product.",
          "type": "string"
        },
        "assetCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of data assets associated with this data product.",
          "type": "integer"
        },
        "uid": {
          "description": "Output only. System generated unique ID for the data product. This ID will be different if the data product is deleted and re-created with the same name.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. User-friendly display name of the data product.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the data product. Format: projects/{project_id_or_number}/locations/{location_id}/dataProducts/{data_product_id}.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. User-defined labels for the data product.Example: { \"environment\": \"production\", \"billing\": \"marketing-department\" } ",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "accessGroups": {
          "description": "Optional. Data product access groups by access group id as key. If data product is used only for packaging data assets, then access groups may be empty. However, if a data product is used for sharing data assets, then at least one access group must be specified.Example: { \"analyst\": { \"id\": \"analyst\", \"displayName\": \"Analyst\", \"description\": \"Access group for analysts\", \"principal\": { \"googleGroup\": \"analysts@example.com\" } } } ",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDataplexV1DataProductAccessGroup"
          }
        },
        "createTime": {
          "description": "Output only. The time at which the data product was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDataplexV1EntryType": {
      "description": "Entry Type is a template for creating Entries.",
      "type": "object",
      "properties": {
        "system": {
          "description": "Optional. The system that Entries of this type belongs to. Examples include CloudSQL, MariaDB etc",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the EntryType.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the EntryType was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "authorization": {
          "description": "Immutable. Authorization defined for this type.",
          "$ref": "GoogleCloudDataplexV1EntryTypeAuthorization"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the EntryType, of the form: projects/{project_number}/locations/{location_id}/entryTypes/{entry_type_id}.",
          "type": "string"
        },
        "typeAliases": {
          "description": "Optional. Indicates the classes this Entry Type belongs to, for example, TABLE, DATABASE, MODEL.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Optional. This checksum is computed by the service, and might be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "platform": {
          "description": "Optional. The platform that Entries of this type belongs to.",
          "type": "string"
        },
        "requiredAspects": {
          "description": "AspectInfo for the entry type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1EntryTypeAspectInfo"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the EntryType was created.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System generated globally unique ID for the EntryType. This ID will be different if the EntryType is deleted and re-created with the same name.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly display name.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined labels for the EntryType.",
          "type": "object"
        }
      },
      "id": "GoogleCloudDataplexV1EntryType"
    },
    "GoogleCloudDataplexV1MetadataJobStatus": {
      "description": "Metadata job status.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Output only. Message relating to the progression of a metadata job.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the metadata job.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "The job is queued.",
            "The job is running.",
            "The job is being canceled.",
            "The job is canceled.",
            "The job succeeded.",
            "The job failed.",
            "The job completed with some errors."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "CANCELING",
            "CANCELED",
            "SUCCEEDED",
            "FAILED",
            "SUCCEEDED_WITH_ERRORS"
          ]
        },
        "completionPercent": {
          "format": "int32",
          "description": "Output only. Progress tracking.",
          "type": "integer",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the status was updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDataplexV1MetadataJobStatus"
    },
    "GoogleCloudDataplexV1DataScanJob": {
      "description": "A DataScanJob represents an instance of DataScan execution.",
      "type": "object",
      "properties": {
        "message": {
          "readOnly": true,
          "description": "Output only. Additional information about the current state.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the DataScanJob ended.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the parent DataScan.",
          "readOnly": true,
          "enumDescriptions": [
            "The data scan type is unspecified.",
            "Data quality scan.",
            "Data profile scan.",
            "Data discovery scan.",
            "Data documentation scan."
          ],
          "enum": [
            "DATA_SCAN_TYPE_UNSPECIFIED",
            "DATA_QUALITY",
            "DATA_PROFILE",
            "DATA_DISCOVERY",
            "DATA_DOCUMENTATION"
          ],
          "type": "string"
        },
        "dataDiscoveryResult": {
          "$ref": "GoogleCloudDataplexV1DataDiscoveryResult",
          "description": "Output only. The result of a data discovery scan.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Execution state for the DataScanJob.",
          "readOnly": true,
          "enumDescriptions": [
            "The DataScanJob state is unspecified.",
            "The DataScanJob is running.",
            "The DataScanJob is canceling.",
            "The DataScanJob cancellation was successful.",
            "The DataScanJob completed successfully.",
            "The DataScanJob is no longer running due to an error.",
            "The DataScanJob has been created but not started to run yet."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED",
            "PENDING"
          ],
          "type": "string"
        },
        "dataProfileResult": {
          "$ref": "GoogleCloudDataplexV1DataProfileResult",
          "readOnly": true,
          "description": "Output only. The result of a data profile scan."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The relative resource name of the DataScanJob, of the form: projects/{project}/locations/{location_id}/dataScans/{datascan_id}/jobs/{job_id}, where project refers to a project_id or project_number and location_id refers to a Google Cloud region.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the DataScanJob was started.",
          "type": "string"
        },
        "dataQualityResult": {
          "readOnly": true,
          "description": "Output only. The result of a data quality scan.",
          "$ref": "GoogleCloudDataplexV1DataQualityResult"
        },
        "dataQualitySpec": {
          "$ref": "GoogleCloudDataplexV1DataQualitySpec",
          "description": "Output only. Settings for a data quality scan.",
          "readOnly": true
        },
        "dataDocumentationSpec": {
          "$ref": "GoogleCloudDataplexV1DataDocumentationSpec",
          "readOnly": true,
          "description": "Output only. Settings for a data documentation scan."
        },
        "dataProfileSpec": {
          "description": "Output only. Settings for a data profile scan.",
          "readOnly": true,
          "$ref": "GoogleCloudDataplexV1DataProfileSpec"
        },
        "dataDocumentationResult": {
          "$ref": "GoogleCloudDataplexV1DataDocumentationResult",
          "readOnly": true,
          "description": "Output only. The result of a data documentation scan."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the DataScanJob was created.",
          "type": "string",
          "readOnly": true
        },
        "dataDiscoverySpec": {
          "readOnly": true,
          "description": "Output only. Settings for a data discovery scan.",
          "$ref": "GoogleCloudDataplexV1DataDiscoverySpec"
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the DataScanJob.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDataplexV1DataScanJob"
    },
    "GoogleCloudDataplexV1AssetResourceStatus": {
      "description": "Status of the resource referenced by an asset.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Last update time of the status.",
          "type": "string",
          "format": "google-datetime"
        },
        "managedAccessIdentity": {
          "description": "Output only. Service account associated with the BigQuery Connection.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Additional information about the current state.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Resource does not have any errors.",
            "Resource has errors."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "ERROR"
          ],
          "description": "The current state of the managed resource.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1AssetResourceStatus"
    },
    "GoogleCloudDataplexV1AspectTypeAuthorization": {
      "id": "GoogleCloudDataplexV1AspectTypeAuthorization",
      "description": "Authorization for an AspectType.",
      "type": "object",
      "properties": {
        "alternateUsePermission": {
          "description": "Immutable. The IAM permission grantable on the EntryGroup to allow access to instantiate Aspects of Dataplex Universal Catalog owned AspectTypes, only settable for Dataplex Universal Catalog owned Types.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DiscoveryEventActionDetails": {
      "description": "Details about the action.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of action. Eg. IncompatibleDataSchema, InvalidDataFormat",
          "type": "string"
        },
        "issue": {
          "description": "The human readable issue associated with the action.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DiscoveryEventActionDetails"
    },
    "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue": {
      "description": "Top N non-null values in the scanned data.",
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "description": "Output only. String value of a top N non-null value.",
          "type": "string"
        },
        "ratio": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. Ratio of the corresponding value in the field against the total number of rows in the scanned data.",
          "type": "number"
        },
        "count": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Count of the corresponding value in the scanned data.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDataplexV1DataProfileResultProfileFieldProfileInfoTopNValue"
    },
    "GoogleCloudDataplexV1StorageFormatIcebergOptions": {
      "id": "GoogleCloudDataplexV1StorageFormatIcebergOptions",
      "description": "Describes Iceberg data format.",
      "type": "object",
      "properties": {
        "metadataLocation": {
          "description": "Optional. The location of where the iceberg metadata is present, must be within the table path",
          "type": "string"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "type": "string"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for TestIamPermissions method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudDataplexV1ActionInvalidDataPartition": {
      "description": "Action details for invalid or unsupported partitions detected by discovery.",
      "type": "object",
      "properties": {
        "expectedStructure": {
          "description": "The issue type of InvalidDataPartition.",
          "type": "string",
          "enumDescriptions": [
            "PartitionStructure unspecified.",
            "Consistent hive-style partition definition (both raw and curated zone).",
            "Hive style partition definition (curated zone only)."
          ],
          "enum": [
            "PARTITION_STRUCTURE_UNSPECIFIED",
            "CONSISTENT_KEYS",
            "HIVE_STYLE_KEYS"
          ]
        }
      },
      "id": "GoogleCloudDataplexV1ActionInvalidDataPartition"
    },
    "GoogleCloudDataplexV1ListPartitionsResponse": {
      "id": "GoogleCloudDataplexV1ListPartitionsResponse",
      "description": "List metadata partitions response.",
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Partitions under the specified parent entity.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDataplexV1Partition"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no remaining results in the list.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1ActionIncompatibleDataSchema": {
      "id": "GoogleCloudDataplexV1ActionIncompatibleDataSchema",
      "description": "Action details for incompatible schemas detected by discovery.",
      "type": "object",
      "properties": {
        "table": {
          "description": "The name of the table containing invalid data.",
          "type": "string"
        },
        "newSchema": {
          "description": "The new and incompatible schema within the table. The schema is provided as a JSON formatted structured listing columns and data types.",
          "type": "string"
        },
        "existingSchema": {
          "description": "The existing and expected schema of the table. The schema is provided as a JSON formatted structure listing columns and data types.",
          "type": "string"
        },
        "sampledDataLocations": {
          "description": "The list of data locations sampled and used for format/schema inference.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "schemaChange": {
          "enumDescriptions": [
            "Schema change unspecified.",
            "Newly discovered schema is incompatible with existing schema.",
            "Newly discovered schema has changed from existing schema for data in a curated zone."
          ],
          "enum": [
            "SCHEMA_CHANGE_UNSPECIFIED",
            "INCOMPATIBLE",
            "MODIFIED"
          ],
          "description": "Whether the action relates to a schema that is incompatible or modified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDataplexV1DataTaxonomy": {
      "description": "DataTaxonomy represents a set of hierarchical DataAttributes resources, grouped with a common theme Eg: 'SensitiveDataTaxonomy' can have attributes to manage PII data. It is defined at project level.",
      "deprecated": true,
      "id": "GoogleCloudDataplexV1DataTaxonomy",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the DataTaxonomy.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the DataTaxonomy was last updated.",
[...]
