{
  "id": "dataproc:v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Dataproc API",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Dataproc",
  "baseUrl": "https://dataproc.googleapis.com/",
  "rootUrl": "https://dataproc.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dataproc": {
          "description": "See, edit, configure, and delete your Google Cloud Dataproc data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/dataproc.read-only": {
          "description": "See your Google Cloud Dataproc data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "autoscalingPolicies": {
              "methods": {
                "getIamPolicy": {
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "id": "dataproc.projects.locations.autoscalingPolicies.getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:getIamPolicy"
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "dataproc.projects.locations.autoscalingPolicies.create",
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.create, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.create, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates new autoscaling policy.",
                  "path": "v1/{+parent}/autoscalingPolicies",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies",
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  }
                },
                "setIamPolicy": {
                  "path": "v1/{+resource}:setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "dataproc.projects.locations.autoscalingPolicies.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy.Can return NOT_FOUND, INVALID_ARGUMENT, and PERMISSION_DENIED errors.",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListAutoscalingPoliciesResponse"
                  },
                  "path": "v1/{+parent}/autoscalingPolicies",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of results to return in each response. Must be less than or equal to 1000. Defaults to 100.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The \"resource name\" of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.autoscalingPolicies.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists autoscaling policies in the project.",
                  "httpMethod": "GET",
                  "id": "dataproc.projects.locations.autoscalingPolicies.list"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "dataproc.projects.locations.autoscalingPolicies.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.delete, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an autoscaling policy. It is an error to delete an autoscaling policy that is in use by one or more clusters.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "testIamPermissions": {
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "dataproc.projects.locations.autoscalingPolicies.testIamPermissions",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  }
                },
                "update": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates (replaces) autoscaling policy.Disabled check for update_mask, because all updates will be full replacements.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "Output only. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}"
                    }
                  },
                  "request": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "id": "dataproc.projects.locations.autoscalingPolicies.update",
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}"
                },
                "get": {
                  "response": {
                    "$ref": "AutoscalingPolicy"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autoscalingPolicies/{autoscalingPoliciesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autoscalingPolicies/[^/]+$",
                      "description": "Required. The \"resource name\" of the autoscaling policy, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/regions/{region}/autoscalingPolicies/{policy_id} For projects.locations.autoscalingPolicies.get, the resource name of the policy has the following format: projects/{project_id}/locations/{location}/autoscalingPolicies/{policy_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves autoscaling policy.",
                  "httpMethod": "GET",
                  "id": "dataproc.projects.locations.autoscalingPolicies.get"
                }
              }
            },
            "sessions": {
              "resources": {
                "sparkApplications": {
                  "methods": {
                    "accessStageAttempt": {
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessStageAttempt",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a spark stage attempt for a Spark Application.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "stageAttemptId": {
                          "location": "query",
                          "description": "Required. Stage Attempt ID",
                          "type": "integer",
                          "format": "int32"
                        },
                        "stageId": {
                          "format": "int64",
                          "type": "string",
                          "description": "Required. Stage ID",
                          "location": "query"
                        },
                        "summaryMetricsMask": {
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}:accessStageAttempt",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessStageAttempt",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationStageAttemptResponse"
                      }
                    },
                    "searchExecutors": {
                      "path": "v1/{+name}:searchExecutors",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchExecutors",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationExecutorsResponse"
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchExecutors",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to executors for a Spark Application.",
                      "parameters": {
                        "executorStatus": {
                          "description": "Optional. Filter to select whether active/ dead or all executors should be selected.",
                          "type": "string",
                          "enum": [
                            "EXECUTOR_STATUS_UNSPECIFIED",
                            "EXECUTOR_STATUS_ACTIVE",
                            "EXECUTOR_STATUS_DEAD"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ],
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Maximum number of executors to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationExecutors call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "summarizeStageAttemptTasks": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain summary of Tasks for a Spark Application Stage Attempt",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "stageAttemptId": {
                          "location": "query",
                          "description": "Required. Stage Attempt ID",
                          "type": "integer",
                          "format": "int32"
                        },
                        "stageId": {
                          "format": "int64",
                          "type": "string",
                          "description": "Required. Stage ID",
                          "location": "query"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeStageAttemptTasks",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationStageAttemptTasksResponse"
                      },
                      "path": "v1/{+name}:summarizeStageAttemptTasks",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeStageAttemptTasks"
                    },
                    "searchSqlQueries": {
                      "response": {
                        "$ref": "SearchSessionSparkApplicationSqlQueriesResponse"
                      },
                      "path": "v1/{+name}:searchSqlQueries",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchSqlQueries",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "details": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. Lists/ hides details of Spark plan nodes. True is set to list and false to hide."
                        },
                        "planDescription": {
                          "type": "boolean",
                          "description": "Optional. Enables/ disables physical plan description on demand",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of queries to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationSqlQueries call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "operationIds": {
                          "type": "string",
                          "description": "Optional. List of Spark Connect operation IDs to filter by if provided.",
                          "location": "query",
                          "repeated": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to SQL Queries for a Spark Application.",
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchSqlQueries"
                    },
                    "accessEnvironmentInfo": {
                      "parameters": {
                        "parent": {
                          "location": "query",
                          "description": "Required. Parent (Session) resource reference.",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain environment details for a Spark Application",
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessEnvironmentInfo",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationEnvironmentInfoResponse"
                      },
                      "path": "v1/{+name}:accessEnvironmentInfo",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessEnvironmentInfo"
                    },
                    "search": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Obtain high level information and list of Spark Applications corresponding to a batch",
                      "parameters": {
                        "maxTime": {
                          "description": "Optional. Latest start timestamp to list.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of applications to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplications call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "minEndTime": {
                          "format": "google-datetime",
                          "type": "string",
                          "description": "Optional. Earliest end timestamp to list.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "maxEndTime": {
                          "description": "Optional. Latest end timestamp to list.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "applicationStatus": {
                          "description": "Optional. Search only applications in the chosen state.",
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ],
                          "type": "string",
                          "enum": [
                            "APPLICATION_STATUS_UNSPECIFIED",
                            "APPLICATION_STATUS_RUNNING",
                            "APPLICATION_STATUS_COMPLETED"
                          ]
                        },
                        "minTime": {
                          "description": "Optional. Earliest start timestamp to list.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.search",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationsResponse"
                      },
                      "path": "v1/{+parent}/sparkApplications:search",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications:search"
                    },
                    "searchStageAttemptTasks": {
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStageAttemptTasksResponse"
                      },
                      "path": "v1/{+name}:searchStageAttemptTasks",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStageAttemptTasks",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Maximum number of tasks to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStageAttemptTasks call. Provide this token to retrieve the subsequent page."
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "sortRuntime": {
                          "location": "query",
                          "description": "Optional. Sort the tasks by runtime.",
                          "type": "boolean"
                        },
                        "stageId": {
                          "format": "int64",
                          "type": "string",
                          "description": "Optional. Stage ID",
                          "location": "query"
                        },
                        "taskStatus": {
                          "type": "string",
                          "enum": [
                            "TASK_STATUS_UNSPECIFIED",
                            "TASK_STATUS_RUNNING",
                            "TASK_STATUS_SUCCESS",
                            "TASK_STATUS_FAILED",
                            "TASK_STATUS_KILLED",
                            "TASK_STATUS_PENDING"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "description": "Optional. List only tasks in the state."
                        },
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "stageAttemptId": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Stage Attempt ID",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to tasks for a spark stage attempt for a Spark Application.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStageAttemptTasks"
                    },
                    "searchJobs": {
                      "response": {
                        "$ref": "SearchSessionSparkApplicationJobsResponse"
                      },
                      "path": "v1/{+name}:searchJobs",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchJobs",
                      "parameters": {
                        "jobStatus": {
                          "type": "string",
                          "enum": [
                            "JOB_EXECUTION_STATUS_UNSPECIFIED",
                            "JOB_EXECUTION_STATUS_RUNNING",
                            "JOB_EXECUTION_STATUS_SUCCEEDED",
                            "JOB_EXECUTION_STATUS_FAILED",
                            "JOB_EXECUTION_STATUS_UNKNOWN"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "description": "Optional. List only jobs in the specific state."
                        },
                        "jobIds": {
                          "type": "string",
                          "format": "int64",
                          "location": "query",
                          "repeated": true,
                          "description": "Optional. List of Job IDs to filter by if provided."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of jobs to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationJobs call. Provide this token to retrieve the subsequent page.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain list of spark jobs corresponding to a Spark Application.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchJobs"
                    },
                    "summarizeExecutors": {
                      "path": "v1/{+name}:summarizeExecutors",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeExecutors",
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationExecutorsResponse"
                      },
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeExecutors",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain summary of Executor Summary for a Spark Application",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ]
                    },
                    "searchStageAttempts": {
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStageAttemptsResponse"
                      },
                      "path": "v1/{+name}:searchStageAttempts",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStageAttempts",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Maximum number of stage attempts (paging based on stage_attempt_id) to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStageAttempts call. Provide this token to retrieve the subsequent page.",
                          "type": "string"
                        },
                        "stageId": {
                          "type": "string",
                          "format": "int64",
                          "location": "query",
                          "description": "Required. Stage ID for which attempts are to be fetched"
                        },
                        "summaryMetricsMask": {
                          "location": "query",
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a spark stage attempts for a Spark Application.",
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStageAttempts"
                    },
                    "accessJob": {
                      "response": {
                        "$ref": "AccessSessionSparkApplicationJobResponse"
                      },
                      "path": "v1/{+name}:accessJob",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessJob",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a spark job for a Spark Application.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "jobId": {
                          "description": "Required. Job ID to fetch data for.",
                          "location": "query",
                          "format": "int64",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessJob",
                      "httpMethod": "GET"
                    },
                    "summarizeStages": {
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationStagesResponse"
                      },
                      "path": "v1/{+name}:summarizeStages",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeStages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain summary of Stages for a Spark Application",
                      "parameters": {
                        "stageIds": {
                          "description": "Optional. List of Stage IDs to filter by if provided.",
                          "type": "string",
                          "format": "int64",
                          "location": "query",
                          "repeated": true
                        },
                        "name": {
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Parent (Session) resource reference."
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeStages",
                      "httpMethod": "GET"
                    },
                    "access": {
                      "path": "v1/{+name}:access",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:access",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationResponse"
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.access",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain high level information corresponding to a single Spark Application.",
                      "parameters": {
                        "parent": {
                          "location": "query",
                          "description": "Required. Parent (Session) resource reference.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        }
                      }
                    },
                    "searchExecutorStageSummary": {
                      "response": {
                        "$ref": "SearchSessionSparkApplicationExecutorStageSummaryResponse"
                      },
                      "path": "v1/{+name}:searchExecutorStageSummary",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchExecutorStageSummary",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain executor summary with respect to a spark stage attempt.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        },
                        "stageAttemptId": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Required. Stage Attempt ID",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of executors to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationExecutorStageSummary call. Provide this token to retrieve the subsequent page.",
                          "type": "string"
                        },
                        "stageId": {
                          "location": "query",
                          "description": "Required. Stage ID",
                          "type": "string",
                          "format": "int64"
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchExecutorStageSummary",
                      "httpMethod": "GET"
                    },
                    "write": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Write wrapper objects from dataplane to spanner",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the spark application to write data about in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "dataproc.projects.locations.sessions.sparkApplications.write",
                      "request": {
                        "$ref": "WriteSessionSparkApplicationContextRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "WriteSessionSparkApplicationContextResponse"
                      },
                      "path": "v1/{+name}:write",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:write"
                    },
                    "searchStages": {
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.searchStages",
                      "parameters": {
                        "summaryMetricsMask": {
                          "description": "Optional. The list of summary metrics fields to include. Empty list will default to skip all summary metrics fields. Example, if the response should include TaskQuantileMetrics, the request should have task_quantile_metrics in summary_metrics_mask field",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "stageStatus": {
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                          ],
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "STAGE_STATUS_UNSPECIFIED",
                            "STAGE_STATUS_ACTIVE",
                            "STAGE_STATUS_COMPLETE",
                            "STAGE_STATUS_FAILED",
                            "STAGE_STATUS_PENDING",
                            "STAGE_STATUS_SKIPPED"
                          ],
                          "description": "Optional. List only stages in the given state."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Maximum number of stages (paging based on stage_id) to return in each response. The service may return fewer than this. The default page size is 10; the maximum page size is 100.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from a previous SearchSessionSparkApplicationStages call. Provide this token to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "stageIds": {
                          "description": "Optional. List of Stage IDs to filter by if provided.",
                          "location": "query",
                          "repeated": true,
                          "format": "int64",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to stages for a Spark Application.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "path": "v1/{+name}:searchStages",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:searchStages",
                      "response": {
                        "$ref": "SearchSessionSparkApplicationStagesResponse"
                      }
                    },
                    "accessSqlQuery": {
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessSqlQuery",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "details": {
                          "type": "boolean",
                          "description": "Optional. Lists/ hides details of Spark plan nodes. True is set to list and false to hide.",
                          "location": "query"
                        },
                        "executionId": {
                          "location": "query",
                          "description": "Required. Execution ID",
                          "type": "string",
                          "format": "int64"
                        },
                        "planDescription": {
                          "location": "query",
                          "description": "Optional. Enables/ disables physical plan description on demand",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\""
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain data corresponding to a particular SQL Query for a Spark Application.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "path": "v1/{+name}:accessSqlQuery",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessSqlQuery",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationSqlQueryResponse"
                      }
                    },
                    "accessSqlPlan": {
                      "path": "v1/{+name}:accessSqlPlan",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessSqlPlan",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse"
                      },
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessSqlPlan",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "parent": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Parent (Session) resource reference."
                        },
                        "executionId": {
                          "location": "query",
                          "description": "Required. Execution ID",
                          "type": "string",
                          "format": "int64"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain Spark Plan Graph for a Spark Application SQL execution. Limits the number of clusters returned as part of the graph to 10000."
                    },
                    "accessStageRddGraph": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        },
                        "stageId": {
                          "format": "int64",
                          "type": "string",
                          "description": "Required. Stage ID",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain RDD operation graph for a Spark Application Stage. Limits the number of clusters returned as part of the graph to 10000.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.accessStageRddGraph",
                      "response": {
                        "$ref": "AccessSessionSparkApplicationStageRddOperationGraphResponse"
                      },
                      "path": "v1/{+name}:accessStageRddGraph",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:accessStageRddGraph"
                    },
                    "summarizeJobs": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent (Session) resource reference.",
                          "location": "query"
                        },
                        "jobIds": {
                          "description": "Optional. List of Job IDs to filter by if provided.",
                          "location": "query",
                          "repeated": true,
                          "format": "int64",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The fully qualified name of the session to retrieve in the format \"projects/PROJECT_ID/locations/DATAPROC_REGION/sessions/SESSION_ID/sparkApplications/APPLICATION_ID\"",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+/sparkApplications/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dataproc",
                        "https://www.googleapis.com/auth/dataproc.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Obtain summary of Jobs for a Spark Application",
                      "httpMethod": "GET",
                      "id": "dataproc.projects.locations.sessions.sparkApplications.summarizeJobs",
                      "response": {
                        "$ref": "SummarizeSessionSparkApplicationJobsResponse"
                      },
                      "path": "v1/{+name}:summarizeJobs",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}/sparkApplications/{sparkApplicationsId}:summarizeJobs"
                    }
                  }
                }
              },
              "methods": {
                "terminate": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:terminate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}:terminate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "description": "Required. The name of the session resource to terminate."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Terminates the interactive session.",
                  "httpMethod": "POST",
                  "id": "dataproc.projects.locations.sessions.terminate",
                  "request": {
                    "$ref": "TerminateSessionRequest"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the interactive session resource. If the session is not in terminal state, it is terminated, and then deleted.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "description": "Required. The name of the session resource to delete.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique ID used to identify the request. If the service receives two DeleteSessionRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.DeleteSessionRequest)s with the same ID, the second request is ignored.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.locations.sessions.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "dataproc.projects.locations.sessions.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sessions/[^/]+$",
                      "description": "Required. The name of the session to retrieve."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the resource representation for an interactive session.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions/{sessionsId}",
                  "response": {
                    "$ref": "Session"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/sessions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an interactive session asynchronously.",
                  "parameters": {
                    "sessionId": {
                      "description": "Required. The ID to use for the session, which becomes the final component of the session's resource name.This value must be 4-63 characters. Valid characters are /a-z-/.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique ID used to identify the request. If the service receives two CreateSessionRequests (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.CreateSessionRequest)s with the same ID, the second request is ignored, and the first Session is created and stored in the backend.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource where this session will be created.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "dataproc.projects.locations.sessions.create",
                  "request": {
                    "$ref": "Session"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. A filter for the sessions to return in the response.A filter is a logical expression constraining the values of various fields in each session resource. Filters are case sensitive, and may contain multiple clauses combined with logical operators (AND, OR). Supported fields are session_id, session_uuid, state, create_time, and labels.Example: state = ACTIVE and create_time < \"2023-01-01T00:00:00Z\" is a filter for sessions in an ACTIVE state that were created before 2023-01-01. state = ACTIVE and labels.environment=production is a filter for sessions in an ACTIVE state that have a production environment label.See https://google.aip.dev/assets/misc/ebnf-filtering.txt for a detailed description of the filter syntax and a list of supported comparators.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of sessions.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of sessions to return in each response. The service may return fewer than this value."
                    },
                    "pageToken": {
                      "description": "Optional. A page token received from a previous ListSessions call. Provide this token to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists interactive sessions.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "httpMethod": "GET",
                  "id": "dataproc.projects.locations.sessions.list",
                  "response": {
                    "$ref": "ListSessionsResponse"
                  },
                  "path": "v1/{+parent}/sessions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sessions"
                }
              }
            },
            "workflowTemplates": {
              "methods": {
                "instantiate": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "InstantiateWorkflowTemplateRequest"
                  },
                  "id": "dataproc.projects.locations.workflowTemplates.instantiate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Instantiates a template and begins execution.The returned Operation can be used to track execution of workflow by polling operations.get. The Operation will complete when entire workflow is finished.The running workflow can be aborted via operations.cancel. This will cause any inflight jobs to be cancelled and workflow-owned clusters to be deleted.The Operation.metadata will be WorkflowMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#workflowmetadata). Also see Using WorkflowMetadata (https://cloud.google.com/dataproc/docs/concepts/workflows/debugging#using_workflowmetadata).On successful completion, Operation.response will be Empty.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+name}:instantiate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:instantiate",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "getIamPolicy": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "id": "dataproc.projects.locations.workflowTemplates.getIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/workflowTemplates",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates",
                  "response": {
                    "$ref": "ListWorkflowTemplatesResponse"
                  },
                  "httpMethod": "GET",
                  "id": "dataproc.projects.locations.workflowTemplates.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates,list, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.list, the resource name of the location has the following format: projects/{project_id}/locations/{location}"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of results to return in each response.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. The page token, returned by a previous call, to request the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists workflows that match the specified filter in the request.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ]
                },
                "testIamPermissions": {
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See Resource names (https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a NOT_FOUND error.Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "id": "dataproc.projects.locations.workflowTemplates.testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}:testIamPermissions"
                },
                "instantiateInline": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Instantiates a template and begins execution.This method is equivalent to executing the sequence CreateWorkflowTemplate, InstantiateWorkflowTemplate, DeleteWorkflowTemplate.The returned Operation can be used to track execution of workflow by polling operations.get. The Operation will complete when entire workflow is finished.The running workflow can be aborted via operations.cancel. This will cause any inflight jobs to be cancelled and workflow-owned clusters to be deleted.The Operation.metadata will be WorkflowMetadata (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#workflowmetadata). Also see Using WorkflowMetadata (https://cloud.google.com/dataproc/docs/concepts/workflows/debugging#using_workflowmetadata).On successful completion, Operation.response will be Empty.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the region or location, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates,instantiateinline, the resource name of the region has the following format: projects/{project_id}/regions/{region} For projects.locations.workflowTemplates.instantiateinline, the resource name of the location has the following format: projects/{project_id}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
                    }
                  },
                  "id": "dataproc.projects.locations.workflowTemplates.instantiateInline",
                  "request": {
                    "$ref": "WorkflowTemplate"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/workflowTemplates:instantiateInline",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates:instantiateInline"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.delete, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.instantiate, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The version of workflow template to delete. If specified, will only delete the template if the current server version matches specified version."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a workflow template. It does not cancel in-progress workflows.",
                  "httpMethod": "DELETE",
                  "id": "dataproc.projects.locations.workflowTemplates.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dataproc",
                    "https://www.googleapis.com/auth/dataproc.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves the latest workflow template.Can retrieve previously instantiated template by specifying optional version parameter.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflowTemplates/[^/]+$",
                      "description": "Required. The resource name of the workflow template, as described in https://cloud.google.com/apis/design/resource_names. For projects.regions.workflowTemplates.get, the resource name of the template has the following format: projects/{project_id}/regions/{region}/workflowTemplates/{template_id} For projects.locations.workflowTemplates.get, the resource name of the template has the following format: projects/{project_id}/locations/{location}/workflowTemplates/{template_id}"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The version of workflow template to retrieve. Only previously instantiated versions can be retrieved.If unspecified, retrieves the current version."
                    }
                  },
                  "id": "dataproc.projects.locations.workflowTemplates.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}"
                },
                "update": {
                  "response": {
                    "$ref": "WorkflowTemplate"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflowTemplates/{workflowTemplatesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
[...]
