{
  "basePath": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/data-manager",
  "protocol": "rest",
  "resources": {
    "audienceMembers": {
      "methods": {
        "remove": {
          "id": "datamanager.audienceMembers.remove",
          "parameters": {},
          "response": {
            "$ref": "RemoveAudienceMembersResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/audienceMembers:remove",
          "path": "v1/audienceMembers:remove",
          "parameterOrder": [],
          "description": "Removes a list of AudienceMember resources from the provided Destination.",
          "request": {
            "$ref": "RemoveAudienceMembersRequest"
          }
        },
        "ingest": {
          "request": {
            "$ref": "IngestAudienceMembersRequest"
          },
          "path": "v1/audienceMembers:ingest",
          "parameterOrder": [],
          "description": "Uploads a list of AudienceMember resources to the provided Destination.",
          "id": "datamanager.audienceMembers.ingest",
          "parameters": {},
          "response": {
            "$ref": "IngestAudienceMembersResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "flatPath": "v1/audienceMembers:ingest"
        }
      }
    },
    "events": {
      "methods": {
        "ingest": {
          "id": "datamanager.events.ingest",
          "parameters": {},
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/events:ingest",
          "path": "v1/events:ingest",
          "parameterOrder": [],
          "description": "Uploads a list of Event resources from the provided Destination.",
          "request": {
            "$ref": "IngestEventsRequest"
          }
        }
      }
    },
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "userListGlobalLicenses": {
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos",
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The global license whose customer info are being queried. Should be in the format `accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}/userListGlobalLicenses/{USER_LIST_GLOBAL_LICENSE_ID}`. To list all global license customer info under an account, replace the user list global license id with a '-' (for example, `accountTypes/DATA_PARTNER/accounts/123/userListGlobalLicenses/-`)",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      },
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list",
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all customer info for a user list global license. This feature is only available to data partners."
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a user list global license. This feature is only available to data partners.",
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name of the user list global license."
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch"
                },
                "list": {
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all user list global licenses owned by the parent account. This feature is only available to data partners.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserListGlobalLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "type": "string",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a user list global license. This feature is only available to data partners.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get",
                  "parameters": {
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the user list global license."
                    }
                  },
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves a user list global license. This feature is only available to data partners."
                }
              }
            },
            "partnerLinks": {
              "methods": {
                "search": {
                  "path": "v1/{+parent}/partnerLinks:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Searches for all partner links to and from a given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `partner_link_id = 123456789`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` Supported fields: - `partner_link_id` - `owning_account.account_type` - `owning_account.account_id` - `partner_account.account_type` - `partner_account.account_id` Example: `owning_account.account_type = \"GOOGLE_ADS\" AND partner_account.account_id = 987654321`",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Account to search for partner links. If no `filter` is specified, all partner links where this account is either the `owning_account` or `partner_account` are returned. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of partner links to return. The service may return fewer than this value. If unspecified, at most 10 partner links will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `SearchPartnerLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchPartnerLinks` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search"
                },
                "create": {
                  "path": "v1/{+parent}/partnerLinks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "request": {
                    "$ref": "PartnerLink"
                  },
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of partner links. Format: accountTypes/{account_type}/accounts/{account}"
                    }
                  },
                  "response": {
                    "$ref": "PartnerLink"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager",
                    "https://www.googleapis.com/auth/datamanager.partnerlink"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the partner link to delete. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}",
                      "type": "string",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a user list direct license. This feature is only available to data partners.",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the user list direct license.",
                      "type": "string",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}"
                },
                "list": {
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all user list direct licenses owned by the parent account. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of licenses to return per page. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the user list direct license.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieves a user list direct license. This feature is only available to data partners."
                },
                "create": {
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a user list direct license. This feature is only available to data partners.",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create"
                }
              }
            },
            "userLists": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the user list to delete. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.delete"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the UserList to retrieve. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "UserList"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "UserList"
                  },
                  "request": {
                    "$ref": "UserList"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                },
                "create": {
                  "request": {
                    "$ref": "UserList"
                  },
                  "path": "v1/{+parent}/userLists",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent account where this user list will be created. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "UserList"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent account which owns this collection of user lists. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `display_name = \"list 1\"`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` - `:` (has) Supported fields: - `id` - `display_name` - `description` - `membership_status` - `integration_code` - `access_reason` - `ingested_user_list_info.upload_key_types`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLists` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of user lists to return. The service may return fewer than this value. If unspecified, at most 50 user lists will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListUserListsResponse"
                  },
                  "path": "v1/{+parent}/userLists",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists UserLists. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                }
              }
            },
            "insights": {
              "methods": {
                "retrieve": {
                  "path": "v1/{+parent}/insights:retrieve",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Retrieves marketing data insights for a given user list. This feature is only available to data partners. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "id": "datamanager.accountTypes.accounts.insights.retrieve",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent account that owns the user list. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "RetrieveInsightsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/insights:retrieve"
                }
              }
            }
          }
        }
      }
    },
    "requestStatus": {
      "methods": {
        "retrieve": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "flatPath": "v1/requestStatus:retrieve",
          "id": "datamanager.requestStatus.retrieve",
          "parameters": {
            "requestId": {
              "description": "Required. Required. The request ID of the Data Manager API request.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "path": "v1/requestStatus:retrieve",
          "parameterOrder": [],
          "description": "Gets the status of a request given request id."
        }
      }
    }
  },
  "baseUrl": "https://datamanager.googleapis.com/",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "revision": "20260507",
  "rootUrl": "https://datamanager.googleapis.com/",
  "id": "datamanager:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "PpidData": {
      "type": "object",
      "properties": {
        "ppids": {
          "type": "array",
          "description": "Required. The list of publisher provided identifiers for a user.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Publisher provided identifiers data holding the ppids. At least one ppid is required. This feature is only available to data partners.",
      "id": "PpidData"
    },
    "SizeInfo": {
      "type": "object",
      "properties": {
        "searchNetworkMembersCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "format": "int64"
        },
        "gmailMembersCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Estimated number of members in this user list on Gmail.",
          "format": "int64"
        },
        "displayNetworkMembersCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "format": "int64"
        },
        "youtubeMembersCount": {
          "type": "string",
          "description": "Output only. Estimated number of members in this user list on YouTube.",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "Estimated number of members in this user list in different target networks.",
      "id": "SizeInfo"
    },
    "PairIdInfo": {
      "id": "PairIdInfo",
      "description": "Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
      "type": "object",
      "properties": {
        "matchRatePercentage": {
          "description": "Required. This field denotes the percentage of membership match of this user list with the corresponding publisher's first party data. Must be between 0 and 100 inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "cleanRoomIdentifier": {
          "description": "Required. Immutable. Identifies a unique advertiser to publisher relationship with one clean room provider or across multiple clean room providers.",
          "type": "string"
        },
        "publisherId": {
          "type": "string",
          "description": "Required. Immutable. Identifies the publisher that the Publisher Advertiser Identity Reconciliation user list is reconciled with. This field is provided by the cleanroom provider and is only unique in the scope of that cleanroom. This cannot be used as a global identifier across multiple cleanrooms.",
          "format": "int64"
        },
        "publisherName": {
          "description": "Required. Descriptive name of the publisher to be displayed in the UI for a better targeting experience.",
          "type": "string"
        },
        "advertiserIdentifierCount": {
          "type": "string",
          "description": "Optional. The count of the advertiser's first party data records that have been uploaded to a clean room provider. This does not signify the size of a PAIR user list.",
          "format": "int64"
        }
      }
    },
    "MarketingDataInsightsAttribute": {
      "description": "Insights for a collection of related attributes of the same dimension.",
      "type": "object",
      "properties": {
        "userInterestId": {
          "type": "string",
          "description": "The user interest ID.",
          "format": "int64"
        },
        "ageRange": {
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Between 18 and 24 years old.",
            "Between 25 and 34 years old.",
            "Between 35 and 44 years old.",
            "Between 45 and 54 years old.",
            "Between 55 and 64 years old.",
            "65 years old and beyond."
          ],
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "AGE_RANGE_UNKNOWN",
            "AGE_RANGE_18_24",
            "AGE_RANGE_25_34",
            "AGE_RANGE_35_44",
            "AGE_RANGE_45_54",
            "AGE_RANGE_55_64",
            "AGE_RANGE_65_UP"
          ],
          "description": "Age range of the audience for which the lift is provided.",
          "type": "string"
        },
        "lift": {
          "description": "Measure of lift that the audience has for the attribute value as compared to the baseline. Range [0-1].",
          "format": "float",
          "type": "number"
        },
        "gender": {
          "description": "Gender of the audience for which the lift is provided.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Unknown.",
            "Male.",
            "Female."
          ],
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_UNKNOWN",
            "GENDER_MALE",
            "GENDER_FEMALE"
          ]
        }
      },
      "id": "MarketingDataInsightsAttribute"
    },
    "UserListGlobalLicense": {
      "type": "object",
      "properties": {
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "format": "int64",
          "type": "string"
        },
        "userListDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "type": "string"
        },
        "historicalPricings": {
          "readOnly": true,
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "type": "array"
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call",
          "$ref": "UserListLicenseMetrics",
          "readOnly": true
        },
        "licenseType": {
          "type": "string",
          "description": "Immutable. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license."
        },
        "status": {
          "type": "string",
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ]
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        }
      },
      "description": "A user list global license. This feature is only available to data partners.",
      "id": "UserListGlobalLicense"
    },
    "UserListLicenseMetrics": {
      "id": "UserListLicenseMetrics",
      "type": "object",
      "properties": {
        "impressionCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of impressions for the user list license.",
          "format": "int64"
        },
        "revenueUsdMicros": {
          "description": "Output only. The revenue for the user list license in USD micros.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "endDate": {
          "readOnly": true,
          "description": "Output only. The end date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `start_date` is used in the filter, `end_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "format": "int64",
          "type": "string"
        },
        "clickCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of clicks for the user list license.",
          "format": "int64"
        },
        "startDate": {
          "readOnly": true,
          "description": "Output only. The start date (inclusive) of the metrics in the format YYYYMMDD. For example, 20260102 represents January 2, 2026. If `end_date` is used in the filter, `start_date` is also required. If neither `start_date` nor `end_date` are included in the filter, the UserListLicenseMetrics fields will not be populated in the response.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Metrics related to a user list license."
    },
    "RetrieveInsightsResponse": {
      "id": "RetrieveInsightsResponse",
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights",
      "type": "object",
      "properties": {
        "marketingDataInsights": {
          "description": "Contains the insights for the marketing data.",
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "type": "array"
        }
      }
    },
    "ListUserListGlobalLicenseCustomerInfosResponse": {
      "id": "ListUserListGlobalLicenseCustomerInfosResponse",
      "description": "Response from the ListUserListGlobalLicensesCustomerInfoRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userListGlobalLicenseCustomerInfos": {
          "description": "The customer information for the given license in the request.",
          "items": {
            "$ref": "UserListGlobalLicenseCustomerInfo"
          },
          "type": "array"
        }
      }
    },
    "PartnerAudienceInfo": {
      "id": "PartnerAudienceInfo",
      "type": "object",
      "properties": {
        "commercePartner": {
          "description": "Optional. The commerce partner name. Only allowed if `partner_audience_source` is `COMMERCE_AUDIENCE`.",
          "type": "string"
        },
        "partnerAudienceSource": {
          "description": "Required. Immutable. The source of the partner audience.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Partner Audience source is commerce audience.",
            "Partner Audience source is linear TV audience.",
            "Partner Audience source is agency/provider audience."
          ],
          "enum": [
            "PARTNER_AUDIENCE_SOURCE_UNSPECIFIED",
            "COMMERCE_AUDIENCE",
            "LINEAR_TV_AUDIENCE",
            "AGENCY_PROVIDER_AUDIENCE"
          ]
        }
      },
      "description": "Additional information for partner audiences. This feature is only available to data partners."
    },
    "RequestStatusPerDestination": {
      "id": "RequestStatusPerDestination",
      "description": "A request status per destination.",
      "type": "object",
      "properties": {
        "destination": {
          "description": "A destination within a DM API request.",
          "$ref": "Destination"
        },
        "requestStatus": {
          "enumDescriptions": [
            "The request status is unknown.",
            "Processing succeeded for all records without any errors. However, there may be warnings in the `warning_info` field.",
            "The request is processing.",
            "Processing failed for all records. Check the `error_info` field for error details, and check the `warning_info` field for warning details.",
            "Processing completed successfully without errors for some records, but failed with errors for other records. Check the `error_info` field for error details, and check the `warning_info` field for warning details."
          ],
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ],
          "description": "The request status of the destination.",
          "type": "string"
        },
        "warningInfo": {
          "$ref": "WarningInfo",
          "description": "A warning info containing the warning reason and warning counts related to the upload. This field isn't populated while the request has `request_status` of `PROCESSING`."
        },
        "audienceMembersRemovalStatus": {
          "description": "The status of the remove audience members request.",
          "$ref": "RemoveAudienceMembersStatus"
        },
        "eventsIngestionStatus": {
          "$ref": "IngestEventsStatus",
          "description": "The status of the ingest events request."
        },
        "errorInfo": {
          "$ref": "ErrorInfo",
          "description": "An error info error containing the error reason and error counts related to the upload. Only populated if the `request_status` is `FAILED` or `PARTIAL_SUCCESS`. This field isn't populated while the request has `request_status` of `PROCESSING`."
        },
        "audienceMembersIngestionStatus": {
          "$ref": "IngestAudienceMembersStatus",
          "description": "The status of the ingest audience members request."
        }
      }
    },
    "TermsOfService": {
      "id": "TermsOfService",
      "type": "object",
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ],
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ]
        }
      },
      "description": "The terms of service that the user has accepted/rejected."
    },
    "AdIdentifiers": {
      "id": "AdIdentifiers",
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "type": "object",
      "properties": {
        "gclid": {
          "type": "string",
          "description": "Optional. The Google click ID (gclid) associated with this event."
        },
        "gbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14."
        },
        "landingPageDeviceInfo": {
          "$ref": "DeviceInfo",
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad."
        },
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "Optional. The mobile identifier for advertisers. This would be IDFA on iOS, AdID on Android, or other platforms’ identifiers for advertisers.",
          "type": "string"
        },
        "wbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14."
        }
      }
    },
    "EventLocation": {
      "description": "The location where the event occurred.",
      "type": "object",
      "properties": {
        "continentCode": {
          "description": "Optional. The continent code in UN M49 format where the event occurred.",
          "type": "string"
        },
        "city": {
          "description": "Optional. The name of the city where the event occurred.",
          "type": "string"
        },
        "subdivisionCode": {
          "type": "string",
          "description": "Optional. The ISO 3166-2 subdivision code where the event occurred."
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. The 2-letter CLDR region code of the user's address."
        },
        "subcontinentCode": {
          "description": "Optional. The subcontinent code in UN M49 format where the event occurred.",
          "type": "string"
        },
        "storeId": {
          "type": "string",
          "description": "Optional. Required for Store Sales. The identifier to represent a physical store where the event happened."
        }
      },
      "id": "EventLocation"
    },
    "WarningInfo": {
      "type": "object",
      "properties": {
        "warningCounts": {
          "description": "A list of warnings and counts per warning reason.",
          "items": {
            "$ref": "WarningCount"
          },
          "type": "array"
        }
      },
      "description": "Warning counts for each type of warning.",
      "id": "WarningInfo"
    },
    "WarningCount": {
      "id": "WarningCount",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The count of records that have a warning.",
          "format": "int64",
          "type": "string"
        },
        "reason": {
          "description": "The warning reason.",
          "type": "string",
          "enumDescriptions": [
            "The processing warning reason is unknown.",
            "The system did not have the permissions needed to access the KEK.",
            "The DEK failed to be decrypted.",
            "The event has a decryption error.",
            "The WIP could not be used because it was rejected by its attestation condition.",
            "The WIP is formatted incorrectly or the WIP does not exist.",
            "The KEK cannot decrypt data because it is the wrong KEK, or it does not exist.",
            "Failed to decrypt the UserIdentifier data using the DEK.",
            "Internal error.",
            "The system failed to authenticate with AWS."
          ],
          "enum": [
            "PROCESSING_WARNING_REASON_UNSPECIFIED",
            "PROCESSING_WARNING_REASON_KEK_PERMISSION_DENIED",
            "PROCESSING_WARNING_REASON_DEK_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_WIP_AUTH_FAILED",
            "PROCESSING_WARNING_REASON_INVALID_WIP",
            "PROCESSING_WARNING_REASON_INVALID_KEK",
            "PROCESSING_WARNING_REASON_USER_IDENTIFIER_DECRYPTION_ERROR",
            "PROCESSING_WARNING_REASON_INTERNAL_ERROR",
            "PROCESSING_WARNING_REASON_AWS_AUTH_FAILED"
          ]
        }
      },
      "description": "The warning count for a given warning reason."
    },
    "EventParameter": {
      "id": "EventParameter",
      "description": "Event parameter for GA4 events.",
      "type": "object",
      "properties": {
        "parameterName": {
          "type": "string",
          "description": "Required. The name of the parameter to use."
        },
        "value": {
          "description": "Required. The string representation of the value of the parameter to set.",
          "type": "string"
        }
      }
    },
    "IngestAudienceMembersStatus": {
      "id": "IngestAudienceMembersStatus",
      "type": "object",
      "properties": {
        "userDataIngestionStatus": {
          "$ref": "IngestUserDataStatus",
          "description": "The status of the user data ingestion to the destination."
        },
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        },
        "userIdDataIngestionStatus": {
          "description": "The status of the user id data ingestion to the destination.",
          "$ref": "IngestUserIdDataStatus"
        },
        "mobileDataIngestionStatus": {
          "description": "The status of the mobile data ingestion to the destination.",
          "$ref": "IngestMobileDataStatus"
        },
        "pairDataIngestionStatus": {
          "$ref": "IngestPairDataStatus",
          "description": "The status of the pair data ingestion to the destination."
        }
      },
      "description": "The status of the ingest audience members request."
    },
    "RemovePpidDataStatus": {
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        },
        "ppidCount": {
          "type": "string",
          "description": "The total count of ppids sent in the removal request. Includes all ppids in the request, regardless of whether they were successfully removed or not.",
          "format": "int64"
        }
      },
      "description": "The status of the ppid data removal from the destination.",
      "id": "RemovePpidDataStatus"
    },
    "Baseline": {
      "id": "Baseline",
      "type": "object",
      "properties": {
        "baselineLocation": {
          "$ref": "Location",
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions."
        },
        "locationAutoDetectionEnabled": {
          "description": "If set to true, the service will try to automatically detect the baseline location for insights.",
          "type": "boolean"
        }
      },
      "description": "Baseline criteria against which insights are compared."
    },
    "IngestUserIdDataStatus": {
      "description": "The status of the user id data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "userIdCount": {
          "type": "string",
          "description": "The total count of user ids sent in the upload request for the destination. Includes all user ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        },
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "IngestUserIdDataStatus"
    },
    "IngestEventsStatus": {
      "id": "IngestEventsStatus",
      "description": "The status of the events ingestion to the destination.",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of events sent in the upload request. Includes all events in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "RetrieveInsightsRequest": {
      "type": "object",
      "properties": {
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        },
        "baseline": {
          "$ref": "Baseline",
          "description": "Required. Baseline for the insights requested."
        }
      },
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "id": "RetrieveInsightsRequest"
    },
    "IngestAudienceMembersRequest": {
      "type": "object",
      "properties": {
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
        },
        "encoding": {
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ],
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored."
        },
        "consent": {
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each AudienceMember.",
          "$ref": "Consent"
        },
        "termsOfService": {
          "description": "Optional. The terms of service that the user has accepted/rejected.",
          "$ref": "TermsOfService"
        },
        "audienceMembers": {
          "description": "Required. The list of users to send to the specified destinations. At most 10000 AudienceMember resources can be sent in a single request.",
          "items": {
            "$ref": "AudienceMember"
          },
          "type": "array"
        },
        "destinations": {
          "description": "Required. The list of destinations to send the audience members to.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        }
      },
      "description": "Request to upload audience members to the provided destinations. Returns an IngestAudienceMembersResponse.",
      "id": "IngestAudienceMembersRequest"
    },
    "ListUserListsResponse": {
      "id": "ListUserListsResponse",
      "type": "object",
      "properties": {
        "userLists": {
          "description": "The user lists from the specified account.",
          "items": {
            "$ref": "UserList"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListUserLists."
    },
    "UserData": {
      "type": "object",
      "properties": {
        "userIdentifiers": {
          "type": "array",
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "items": {
            "$ref": "UserIdentifier"
          }
        }
      },
      "description": "Data that identifies the user. At least one identifier is required.",
      "id": "UserData"
    },
    "IngestUserDataStatus": {
      "id": "IngestUserDataStatus",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "userIdentifierCount": {
          "description": "The total count of user identifiers sent in the upload request for the destination. Includes all user identifiers in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "uploadMatchRateRange": {
          "description": "The match rate range of the upload.",
          "type": "string",
          "enumDescriptions": [
            "The match rate range is unknown.",
            "The match rate range is not eligible.",
            "The match rate range is less than 20% (in the interval `[0, 20)`).",
            "The match rate range is between 20% and 30% (in the interval `[20, 31)`).",
            "The match rate range is between 31% and 40% (in the interval `[31, 41)`).",
            "The match rate range is between 41% and 50% (in the interval `[41, 51)`).",
            "The match rate range is between 51% and 60% (in the interval `[51, 61)`.",
            "The match rate range is between 61% and 70% (in the interval `[61, 71)`).",
            "The match rate range is between 71% and 80% (in the interval `[71, 81)`).",
            "The match rate range is between 81% and 90% (in the interval `[81, 91)`).",
            "The match rate range is between 91% and 100% (in the interval `[91, 100]`)."
          ],
          "enum": [
            "MATCH_RATE_RANGE_UNKNOWN",
            "MATCH_RATE_RANGE_NOT_ELIGIBLE",
            "MATCH_RATE_RANGE_LESS_THAN_20",
            "MATCH_RATE_RANGE_20_TO_30",
            "MATCH_RATE_RANGE_31_TO_40",
            "MATCH_RATE_RANGE_41_TO_50",
            "MATCH_RATE_RANGE_51_TO_60",
            "MATCH_RATE_RANGE_61_TO_70",
            "MATCH_RATE_RANGE_71_TO_80",
            "MATCH_RATE_RANGE_81_TO_90",
            "MATCH_RATE_RANGE_91_TO_100"
          ]
        }
      },
      "description": "The status of the user data ingestion to the destination containing stats related to the ingestion."
    },
    "PairData": {
      "type": "object",
      "properties": {
        "pairIds": {
          "type": "array",
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners.",
      "id": "PairData"
    },
    "UserIdentifier": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "AddressInfo",
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once."
        },
        "emailAddress": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard)."
        }
      },
      "description": "A single identifier for the user.",
      "id": "UserIdentifier"
    },
    "PartnerLink": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the partner link. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}"
        },
        "owningAccount": {
          "$ref": "ProductAccount",
          "description": "Required. The owning account granting access to the partner account."
        },
        "partnerLinkId": {
          "type": "string",
          "description": "Output only. The partner link ID.",
          "readOnly": true
        },
        "partnerAccount": {
          "description": "Required. The partner account granted access by the owning account.",
          "$ref": "ProductAccount"
        }
      },
      "description": "A partner link between an owning account and a partner account.",
      "id": "PartnerLink"
    },
    "ProductAccount": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Required. The ID of the account. For example, your Google Ads account ID."
        },
        "accountType": {
          "description": "Optional. The type of the account. For example, `GOOGLE_ADS`. Either `account_type` or the deprecated `product` is required. If both are set, the values must match.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner.",
            "Google Analytics.",
            "Google Ad Manager audience link."
          ],
          "enum": [
            "ACCOUNT_TYPE_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER",
            "GOOGLE_ANALYTICS_PROPERTY",
            "GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ]
        },
        "product": {
          "deprecated": true,
          "enum": [
            "PRODUCT_UNSPECIFIED",
            "GOOGLE_ADS",
            "DISPLAY_VIDEO_PARTNER",
            "DISPLAY_VIDEO_ADVERTISER",
            "DATA_PARTNER"
          ],
          "type": "string",
          "description": "Deprecated. Use `account_type` instead.",
          "enumDescriptions": [
            "Unspecified product. Should never be used.",
            "Google Ads.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Data Partner."
          ]
        }
      },
      "description": "Represents a specific account.",
      "id": "ProductAccount"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "CartData": {
      "id": "CartData",
      "type": "object",
      "properties": {
        "merchantFeedLanguageCode": {
          "type": "string",
          "description": "Optional. The language code in ISO 639-1 associated with the Merchant Center feed of the items.where your items are uploaded."
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "Optional. The Merchant Center feed label associated with the feed of the items."
        },
        "couponCodes": {
          "type": "array",
          "description": "Optional. The list of coupon codes that were applied to the cart. Cart-level and item-level coupon codes are independent. If the event is for a Google Analytics destination, only provide a single coupon code. Google Analytics ignores additional coupon codes.",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "description": "Optional. The list of items associated with the event.",
          "items": {
            "$ref": "Item"
          },
          "type": "array"
        },
        "merchantId": {
          "description": "Optional. The Merchant Center ID associated with the items.",
          "type": "string"
        },
        "transactionDiscount": {
          "type": "number",
          "description": "Optional. The sum of all discounts associated with the transaction.",
          "format": "double"
        }
      },
      "description": "The cart data associated with the event."
    },
    "SearchPartnerLinksResponse": {
      "description": "Response from the SearchPartnerLinksRequest.",
      "type": "object",
      "properties": {
        "partnerLinks": {
          "description": "The partner links for the given account.",
          "items": {
            "$ref": "PartnerLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "SearchPartnerLinksResponse"
    },
    "IngestedUserListInfo": {
      "id": "IngestedUserListInfo",
      "description": "Represents a user list that is populated by user provided data.",
      "type": "object",
      "properties": {
        "contactIdInfo": {
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
          "$ref": "ContactIdInfo"
        },
        "pairIdInfo": {
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners.",
          "$ref": "PairIdInfo"
        },
        "mobileIdInfo": {
          "$ref": "MobileIdInfo",
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`."
        },
        "pseudonymousIdInfo": {
          "$ref": "PseudonymousIdInfo",
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`."
        },
        "userIdInfo": {
          "$ref": "UserIdInfo",
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`."
        },
        "partnerAudienceInfo": {
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners.",
          "$ref": "PartnerAudienceInfo"
        },
        "uploadKeyTypes": {
          "type": "array",
          "description": "Required. Immutable. Upload key types of this user list.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID"
            ],
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ]
          }
        }
      }
    },
    "IngestAudienceMembersResponse": {
      "id": "IngestAudienceMembersResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "The auto-generated ID of the request."
        }
      },
      "description": "Response from the IngestAudienceMembersRequest."
    },
    "Destination": {
      "id": "Destination",
      "description": "The Google product you're sending data to. For example, a Google Ads account.",
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "description": "Optional. ID for this `Destination` resource, unique within the request. Use to reference this `Destination` in the IngestEventsRequest and IngestAudienceMembersRequest."
        },
        "linkedAccount": {
          "$ref": "ProductAccount",
          "description": "Optional. An account that the calling user's `login_account` has access to, through an established account link. For example, a data partner's `login_account` might have access to a client's `linked_account`. The partner might use this field to send data from the `linked_account` to another `operating_account`."
        },
        "productDestinationId": {
          "type": "string",
          "description": "Required. The object within the product account to ingest into. For example, a Google Ads audience ID, a Display & Video 360 audience ID or a Google Ads conversion action ID."
        },
        "loginAccount": {
          "description": "Optional. The account used to make this API call. To add or remove data from the `operating_account`, this `login_account` must have write access to the `operating_account`. For example, a manager account of the `operating_account`, or an account with an established link to the `operating_account`.",
          "$ref": "ProductAccount"
        },
        "operatingAccount": {
          "description": "Required. The account to send the data to or remove the data from.",
          "$ref": "ProductAccount"
        }
      }
    },
    "PseudonymousIdInfo": {
      "id": "PseudonymousIdInfo",
      "description": "Additional information when `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
      "type": "object",
      "properties": {
        "syncStatus": {
          "type": "string",
          "description": "Output only. Sync status of the user list.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The user list has been created as a placeholder. List contents and/or metadata are still being synced. The user list is not ready for use.",
            "The user list is ready for use. Contents and cookies have been synced correctly.",
            "An error has occurred syncing user list contents and/or metadata. The user list cannot be used."
          ],
          "enum": [
            "SYNC_STATUS_UNSPECIFIED",
            "CREATED",
            "READY_FOR_USE",
            "FAILED"
          ]
        },
        "billableRecordCount": {
          "description": "Optional. Immutable. The number of billable records (e.g. uploaded or matched).",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Consent": {
      "id": "Consent",
      "type": "object",
      "properties": {
        "adUserData": {
          "type": "string",
          "description": "Optional. Represents if the user consents to ad user data.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adPersonalization": {
          "type": "string",
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        }
      },
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user."
    },
    "IngestPairDataStatus": {
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion.",
      "type": "object",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        },
        "pairIdCount": {
          "type": "string",
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64"
        }
      },
      "id": "IngestPairDataStatus"
    },
    "UserIdData": {
      "description": "User id data holding the user id.",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. A unique identifier for a user, as defined by the advertiser."
        }
      },
      "id": "UserIdData"
    },
    "RemoveAudienceMembersRequest": {
      "type": "object",
      "properties": {
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "audienceMembers": {
          "type": "array",
          "description": "Required. The list of users to remove.",
          "items": {
            "$ref": "AudienceMember"
          }
        },
        "destinations": {
          "description": "Required. The list of destinations to remove the users from.",
          "items": {
            "$ref": "Destination"
          },
          "type": "array"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        }
      },
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "id": "RemoveAudienceMembersRequest"
    },
    "ItemCustomVariable": {
      "id": "ItemCustomVariable",
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "variable": {
          "type": "string",
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored."
        },
        "destinationReferences": {
          "type": "array",
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Item-level custom variable for ads conversions."
    },
    "RetrieveRequestStatusResponse": {
      "id": "RetrieveRequestStatusResponse",
      "type": "object",
      "properties": {
        "requestStatusPerDestination": {
          "description": "A list of request statuses per destination. The order of the statuses matches the order of the destinations in the original request.",
          "items": {
            "$ref": "RequestStatusPerDestination"
          },
          "type": "array"
        }
      },
      "description": "Response from the RetrieveRequestStatusRequest."
    },
    "IngestEventsRequest": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request.",
          "items": {
            "$ref": "Event"
          }
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
        },
        "encoding": {
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
        },
        "destinations": {
          "type": "array",
          "description": "Required. The list of destinations to send the events to.",
          "items": {
            "$ref": "Destination"
          }
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        }
      },
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "id": "IngestEventsRequest"
    },
    "CustomVariable": {
      "id": "CustomVariable",
      "description": "Custom variable for ads conversions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. The value to store for the custom variable.",
          "type": "string"
        },
        "destinationReferences": {
          "type": "array",
          "description": "Optional. Reference string used to determine which of the Event.destination_references the custom variable should be sent to. If empty, the Event.destination_references will be used.",
          "items": {
            "type": "string"
          }
        },
        "variable": {
          "description": "Optional. The name of the custom variable to set. If the variable is not found for the given destination, it will be ignored.",
          "type": "string"
        }
      }
    },
    "UserProperties": {
      "id": "UserProperties",
      "type": "object",
      "properties": {
        "customerType": {
          "enumDescriptions": [
            "Unspecified CustomerType. Should never be used.",
            "The customer is new to the advertiser.",
            "The customer is returning to the advertiser.",
            "The customer has re-engaged with the advertiser."
          ],
          "enum": [
            "CUSTOMER_TYPE_UNSPECIFIED",
            "NEW",
            "RETURNING",
            "REENGAGED"
          ],
          "type": "string",
          "description": "Optional. Type of the customer associated with the event."
        },
        "customerValueBucket": {
          "enumDescriptions": [
            "Unspecified CustomerValueBucket. Should never be used.",
            "The customer is low value.",
            "The customer is medium value.",
            "The customer is high value."
          ],
          "enum": [
            "CUSTOMER_VALUE_BUCKET_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Optional. The advertiser-assessed value of the customer.",
          "type": "string"
        },
        "additionalUserProperties": {
          "description": "Optional. A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
          "items": {
            "$ref": "UserProperty"
          },
          "type": "array"
        }
      },
      "description": "Advertiser-assessed information about the user at the time that the event happened. See https://support.google.com/google-ads/answer/14007601 for more details."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AwsWrappedKeyInfo": {
      "description": "A data encryption key wrapped by an AWS KMS key.",
      "type": "object",
      "properties": {
        "keyType": {
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
[...]
