{
  "protocol": "rest",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "id": "datalineage:v1",
  "mtlsRootUrl": "https://datalineage.mtls.googleapis.com/",
  "revision": "20260410",
  "title": "Data Lineage API",
  "kind": "discovery#restDescription",
  "baseUrl": "https://datalineage.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/data-catalog",
  "discoveryVersion": "v1",
  "rootUrl": "https://datalineage.googleapis.com/",
  "version": "v1",
  "servicePath": "",
  "canonicalName": "Datalineage",
  "description": "",
  "basePath": "",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Get the Config for a given resource.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "id": "datalineage.organizations.locations.config.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalineage.organizations.locations.config.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "description": "Update the Config for a given resource.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "searchLinks": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve a list of links connected to a specific asset. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. You can retrieve links in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLinks",
              "id": "datalineage.projects.locations.searchLinks",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksRequest"
              },
              "path": "v1/{+parent}:searchLinks",
              "parameters": {
                "parent": {
                  "description": "Required. The project and location you want search in.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "processOpenLineageRunEvent": {
              "description": "Creates new lineage events together with their parents: process and run. Updates the process and run if they already exist. Mapped from Open Lineage specification: https://github.com/OpenLineage/OpenLineage/blob/main/spec/OpenLineage.json.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:processOpenLineageRunEvent",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:processOpenLineageRunEvent",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project and its location that should own the process, run, and lineage event."
                },
                "requestId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                }
              },
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalineage.projects.locations.processOpenLineageRunEvent",
              "request": {
                "type": "object",
                "additionalProperties": {
                  "type": "any",
                  "description": "Properties of the object."
                }
              }
            },
            "batchSearchLinkProcesses": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:batchSearchLinkProcesses",
              "description": "Retrieve information about LineageProcesses associated with specific links. LineageProcesses are transformation pipelines that result in data flowing from **source** to **target** assets. Links between assets represent this operation. If you have specific link names, you can use this method to verify which LineageProcesses contribute to creating those links. See the SearchLinks method for more information on how to retrieve link name. You can retrieve the LineageProcess information in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The project and location where you want to search.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:batchSearchLinkProcesses",
              "id": "datalineage.projects.locations.batchSearchLinkProcesses",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest"
              }
            }
          },
          "resources": {
            "processes": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "description": "Gets the details of the specified process.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the process to get.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "datalineage.projects.locations.processes.get"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "description": "Deletes the process with the specified name.",
                  "id": "datalineage.projects.locations.processes.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the process to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true and the process is not found, the request succeeds but the server doesn't perform any actions.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "path": "v1/{+parent}/processes",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the project and its location that should own the process.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "datalineage.projects.locations.processes.create",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "description": "Creates a new process.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "patch": {
                  "id": "datalineage.projects.locations.processes.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update. Currently not used. The whole message is updated.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true and the process is not found, the request inserts it.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "description": "Updates a process."
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "description": "List processes in the given project and location. List order is descending by insertion time.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of processes to return. The service may return fewer than this value. If unspecified, at most 50 processes are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the project and its location that owns this collection of processes."
                    },
                    "pageToken": {
                      "description": "Optional. The page token received from a previous `ListProcesses` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1ListProcessesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/processes",
                  "id": "datalineage.projects.locations.processes.list"
                }
              },
              "resources": {
                "runs": {
                  "resources": {
                    "lineageEvents": {
                      "methods": {
                        "create": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "description": "Creates a new lineage event.",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "requestId": {
                              "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the run that should own the lineage event."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/lineageEvents",
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.create",
                          "request": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists lineage events in the given project and location. The list order is not defined.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.list",
                          "path": "v1/{+parent}/lineageEvents",
                          "parameters": {
                            "parent": {
                              "description": "Required. The name of the run that owns the collection of lineage events to get.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. The page token received from a previous `ListLineageEvents` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token."
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of lineage events to return. The service may return fewer events than this value. If unspecified, at most 50 events are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                              "format": "int32"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "description": "Gets details of a specified lineage event.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the lineage event to get.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.get"
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The name of the lineage event to delete."
                            },
                            "allowMissing": {
                              "type": "boolean",
                              "location": "query",
                              "description": "Optional. If set to true and the lineage event is not found, the request succeeds but the server doesn't perform any actions."
                            }
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.delete",
                          "description": "Deletes the lineage event with the specified name.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE"
                        }
                      }
                    }
                  },
                  "methods": {
                    "create": {
                      "id": "datalineage.projects.locations.processes.runs.create",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the process that should own the run."
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/runs",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "description": "Creates a new run."
                    },
                    "get": {
                      "description": "Gets the details of the specified run.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the run to get.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "datalineage.projects.locations.processes.runs.get"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the run to delete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "type": "string"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set to true and the run is not found, the request succeeds but the server doesn't perform any actions."
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "id": "datalineage.projects.locations.processes.runs.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "description": "Deletes the run with the specified name.",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "allowMissing": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set to true and the run is not found, the request creates it."
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The list of fields to update. Currently not used. The whole message is updated.",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "id": "datalineage.projects.locations.processes.runs.patch",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "description": "Updates a run.",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "description": "Lists runs in the given project and location. List order is descending by `start_time`.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/runs",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1ListRunsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of process that owns this collection of runs."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The page token received from a previous `ListRuns` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. The maximum number of runs to return. The service may return fewer than this value. If unspecified, at most 50 runs are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "id": "datalineage.projects.locations.processes.runs.list"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "datalineage.projects.locations.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}/operations"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "datalineage.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "datalineage.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "id": "datalineage.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "config": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "datalineage.projects.locations.config.get",
                  "description": "Get the Config for a given resource.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "patch": {
                  "description": "Update the Config for a given resource.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "type": "string",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`"
                    }
                  },
                  "id": "datalineage.projects.locations.config.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  }
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "get": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "description": "Get the Config for a given resource.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/config$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "datalineage.folders.locations.config.get"
                },
                "patch": {
                  "description": "Update the Config for a given resource.",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/config$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalineage.folders.locations.config.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "datalineage",
  "schemas": {
    "GoogleCloudDatacatalogLineageV1EventLink": {
      "description": "A lineage between source and target entities.",
      "properties": {
        "target": {
          "description": "Required. Reference to the target entity",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "source": {
          "description": "Required. Reference to the source entity",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1EventLink",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleLongrunningOperation",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1ListProcessesResponse": {
      "id": "GoogleCloudDatacatalogLineageV1ListProcessesResponse",
      "type": "object",
      "description": "Response message for ListProcesses.",
      "properties": {
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "processes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Process"
          },
          "description": "The processes from the specified project and location."
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinks": {
      "description": "Links associated with a specific process.",
      "properties": {
        "process": {
          "description": "The process name in the format of `projects/{project}/locations/{location}/processes/{process}`.",
          "type": "string"
        },
        "links": {
          "description": "An array containing link details objects of the links provided in the original request. A single process can result in creating multiple links. If any of the links you provide in the request are created by the same process, they all are included in this array.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo"
          }
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinks",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule": {
      "description": "Ingestion rule for Data Lineage ingestion.",
      "properties": {
        "lineageEnablement": {
          "description": "Required. Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children. If unspecified, the ingestion will be enabled only if it was configured in the resource's parent.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement"
        },
        "integrationSelector": {
          "description": "Required. Integration selector of the rule. The rule is only applied to the Integration selected by the selector.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector"
        }
      },
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1Link": {
      "description": "Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are created when LineageEvents record data transformation between related assets.",
      "properties": {
        "target": {
          "description": "The pointer to the entity that is the **target** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "startTime": {
          "description": "The start of the first event establishing this link.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The end of the last event establishing this link.",
          "format": "google-datetime",
          "type": "string"
        },
        "source": {
          "description": "The pointer to the entity that is the **source** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The name of the link. Format: `projects/{project}/locations/{location}/links/{link}`."
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1Link",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1Run": {
      "id": "GoogleCloudDatacatalogLineageV1Run",
      "type": "object",
      "description": "A lineage run represents an execution of a process that creates lineage events.",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp of the start of the run.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Required. The state of the run.",
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. The true state may be any of the below or a different state that is not supported here explicitly.",
            "The run is still executing.",
            "The run completed.",
            "The run failed.",
            "The run aborted."
          ],
          "enum": [
            "UNKNOWN",
            "STARTED",
            "COMPLETED",
            "FAILED",
            "ABORTED"
          ]
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The timestamp of the end of the run.",
          "format": "google-datetime"
        },
        "attributes": {
          "type": "object",
          "description": "Optional. The attributes of the run. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the run). Up to 100 attributes are allowed.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "name": {
          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 1024 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse": {
      "description": "Response message for ListLineageEvents.",
      "properties": {
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "lineageEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
          },
          "description": "Lineage events from the specified project and location."
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion",
      "type": "object",
      "description": "Defines how Lineage should be ingested for a given resource.",
      "properties": {
        "rules": {
          "description": "Optional. List of rules for Data Lineage ingestion.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule"
          }
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse",
      "type": "object",
      "description": "Response message for ProcessOpenLineageRunEvent.",
      "properties": {
        "run": {
          "description": "Created run name. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`.",
          "type": "string"
        },
        "lineageEvents": {
          "description": "Created lineage event names. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "process": {
          "description": "Created process name. Format: `projects/{project}/locations/{location}/processes/{process}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest": {
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest",
      "type": "object",
      "description": "Request message for BatchSearchLinkProcesses.",
      "properties": {
        "pageToken": {
          "description": "The page token received from a previous `BatchSearchLinkProcesses` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request.",
          "type": "string"
        },
        "links": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. An array of links to check for their associated LineageProcesses. The maximum number of items in this array is 100. If the request contains more than 100 links, it returns the `INVALID_ARGUMENT` error. Format: `projects/{project}/locations/{location}/links/{link}`."
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of processes to return in a single page of the response. A page may contain fewer results than this value.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1Process": {
      "description": "A process is the definition of a data transformation operation.",
      "properties": {
        "attributes": {
          "type": "object",
          "description": "Optional. The attributes of the process. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the process). Up to 100 attributes are allowed.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "displayName": {
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 200 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
          "type": "string"
        },
        "origin": {
          "description": "Optional. The origin of this process and its runs and lineage events.",
          "$ref": "GoogleCloudDatacatalogLineageV1Origin"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1Process",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1EntityReference": {
      "description": "The soft reference to everything you can attach a lineage event to.",
      "properties": {
        "fullyQualifiedName": {
          "description": "Required. [Fully Qualified Name (FQN)](https://cloud.google.com/dataplex/docs/fully-qualified-names) of the entity.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1EntityReference",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement",
      "type": "object",
      "description": "Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children.",
      "properties": {
        "enabled": {
          "description": "Optional. If true, ingestion of lineage should be enabled. If false, it should be disabled. If unspecified, the system default value is used.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksResponse": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksResponse",
      "type": "object",
      "description": "Response message for SearchLinks.",
      "properties": {
        "links": {
          "description": "The list of links for a given asset. Can be empty if the asset has no relations of requested type (source or target).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Link"
          }
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ListRunsResponse": {
      "description": "Response message for ListRuns.",
      "properties": {
        "runs": {
          "description": "The runs from the specified project and location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Run"
          }
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1ListRunsResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1LineageEvent": {
      "id": "GoogleCloudDatacatalogLineageV1LineageEvent",
      "type": "object",
      "description": "A lineage event represents an operation on assets. Within the operation, the data flows from the source to the target defined in the links field.",
      "properties": {
        "startTime": {
          "description": "Required. The beginning of the transformation which resulted in this lineage event. For streaming scenarios, it should be the beginning of the period from which the lineage is being reported.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The end of the transformation which resulted in this lineage event. For streaming scenarios, it should be the end of the period from which the lineage is being reported.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The resource name of the lineage event. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`. Can be specified or auto-assigned. {lineage_event} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
          "type": "string"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EventLink"
          },
          "description": "Optional. List of source-target pairs. Can't contain more than 100 tuples."
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1Config": {
      "description": "Configuration for Data Lineage. Defines different configuration options for Lineage customers to control behaviour of lineage systems.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
          "type": "string"
        },
        "ingestion": {
          "description": "Optional. Ingestion rule for Data Lineage ingestion.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a config from overwriting each other. It is required that systems make use of the `etag` in the read-modify-write cycle to perform config updates in order to avoid race conditions: An `etag` is returned in the response to `GetConfig`, and systems are expected to put that etag in the request to `UpdateConfig` to ensure that their change will be applied to the same version of the config. If an `etag` is not provided in the call to `UpdateConfig`, then the existing config, if any, will be overwritten.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1Config",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector": {
      "description": "Integration selector of the rule. The rule is only applied to the Integration selected by the selector.",
      "properties": {
        "integration": {
          "description": "Required. Integration to which the rule applies. This field can be used to specify the integration against which the ingestion rule should be applied.",
          "enumDescriptions": [
            "Integration is Unspecified",
            "Dataproc",
            "Looker Core"
          ],
          "enum": [
            "INTEGRATION_UNSPECIFIED",
            "DATAPROC",
            "LOOKER_CORE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse": {
      "description": "Response message for BatchSearchLinkProcesses.",
      "properties": {
        "processLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinks"
          },
          "description": "An array of processes associated with the specified links."
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse",
      "type": "object"
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksRequest": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksRequest",
      "type": "object",
      "description": "Request message for SearchLinks.",
      "properties": {
        "source": {
          "description": "Optional. Send asset information in the **source** field to retrieve all links that lead from the specified asset to downstream assets.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "pageToken": {
          "description": "Optional. The page token received from a previous `SearchLinksRequest` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request.",
          "type": "string"
        },
        "target": {
          "description": "Optional. Send asset information in the **target** field to retrieve all links that lead from upstream assets to the specified asset.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of links to return in a single page of the response. A page may contain fewer links than this value. If unspecified, at most 10 links are returned. Maximum value is 100; values greater than 100 are reduced to 100.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1Origin": {
      "id": "GoogleCloudDatacatalogLineageV1Origin",
      "type": "object",
      "description": "Origin of a process.",
      "properties": {
        "sourceType": {
          "description": "Type of the source. Use of a source_type other than `CUSTOM` for process creation or updating is highly discouraged. It might be restricted in the future without notice. There will be increase in cost if you use any of the source types other than `CUSTOM`.",
          "enumDescriptions": [
            "Source is Unspecified",
            "A custom source",
            "BigQuery",
            "Data Fusion",
            "Composer",
            "Looker Studio",
            "Dataproc",
            "Vertex AI",
            "Dataflow",
            "Looker Core"
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CUSTOM",
            "BIGQUERY",
            "DATA_FUSION",
            "COMPOSER",
            "LOOKER_STUDIO",
            "DATAPROC",
            "VERTEX_AI",
            "DATAFLOW",
            "LOOKER_CORE"
          ],
          "type": "string"
        },
        "name": {
          "description": "If the source_type isn't CUSTOM, the value of this field should be a Google Cloud resource name of the system, which reports lineage. The project and location parts of the resource name must match the project and location of the lineage resource being created. Examples: - `{source_type: COMPOSER, name: \"projects/foo/locations/us/environments/bar\"}` - `{source_type: BIGQUERY, name: \"projects/foo/locations/eu\"}` - `{source_type: CUSTOM, name: \"myCustomIntegration\"}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinkInfo": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo",
      "type": "object",
      "description": "Link details.",
      "properties": {
        "link": {
          "description": "The name of the link in the format of `projects/{project}/locations/{location}/links/{link}`.",
          "type": "string"
        },
        "endTime": {
          "description": "The end of the last event establishing this link-process tuple.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start of the first event establishing this link-process tuple.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1OperationMetadata": {
      "description": "Metadata describing the operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of the operation termination, regardless of its success. This field is unset if the operation is still ongoing.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The current operation state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "The operation is no longer running and did not succeed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "resourceUuid": {
          "description": "Output only. The UUID of the resource being operated on.",
          "readOnly": true,
          "type": "string"
        },
        "operationType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DELETE",
            "CREATE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unused.",
            "The resource deletion operation.",
            "The resource creation operation."
          ],
          "description": "Output only. The type of the operation being performed."
        },
        "resource": {
          "description": "Output only. The [relative name] (https://cloud.google.com//apis/design/resource_names#relative_resource_name) of the resource being operated on.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp of the operation submission to the server.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogLineageV1OperationMetadata",
      "type": "object"
    }
  },
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://datalineage.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://datalineage.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://datalineage.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-north3.rep.googleapis.com/",
      "location": "europe-north3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://datalineage.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://datalineage.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://datalineage.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://datalineage.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://datalineage.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://datalineage.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://datalineage.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    },
    {
      "endpointUrl": "https://datalineage.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  }
}