{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "canonicalName": "Dataflow",
  "title": "Dataflow API",
  "kind": "discovery#restDescription",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "rootUrl": "https://dataflow.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        }
      }
    }
  },
  "protocol": "rest",
  "baseUrl": "https://dataflow.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://dataflow.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://dataflow.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://dataflow.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://dataflow.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://dataflow.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://dataflow.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://dataflow.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://dataflow.europe-west6.rep.googleapis.com/",
      "location": "europe-west6",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://dataflow.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://dataflow.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://dataflow.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://dataflow.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://dataflow.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataflow.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataflow.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "schemas": {
    "ExecutionStageState": {
      "description": "A message describing the state of a particular execution stage.",
      "properties": {
        "executionStageState": {
          "type": "string",
          "enumDescriptions": [
            "The job's run state isn't specified.",
            "`JOB_STATE_STOPPED` indicates that the job has not yet started to run.",
            "`JOB_STATE_RUNNING` indicates that the job is currently running.",
            "`JOB_STATE_DONE` indicates that the job has successfully completed. This is a terminal job state. This state may be set by the Cloud Dataflow service, as a transition from `JOB_STATE_RUNNING`. It may also be set via a Cloud Dataflow `UpdateJob` call, if the job has not yet reached a terminal state.",
            "`JOB_STATE_FAILED` indicates that the job has failed. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_CANCELLED` indicates that the job has been explicitly cancelled. This is a terminal job state. This state may only be set via a Cloud Dataflow `UpdateJob` call, and only if the job has not yet reached another terminal state.",
            "`JOB_STATE_UPDATED` indicates that the job was successfully updated, meaning that this job was stopped and another job was started, inheriting state from this one. This is a terminal job state. This state may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_RUNNING`.",
            "`JOB_STATE_DRAINING` indicates that the job is in the process of draining. A draining job has stopped pulling from its input sources and is processing any data that remains in-flight. This state may be set via a Cloud Dataflow `UpdateJob` call, but only as a transition from `JOB_STATE_RUNNING`. Jobs that are draining may only transition to `JOB_STATE_DRAINED`, `JOB_STATE_CANCELLED`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_DRAINED` indicates that the job has been drained. A drained job terminated by stopping pulling from its input sources and processing any data that remained in-flight when draining was requested. This state is a terminal state, may only be set by the Cloud Dataflow service, and only as a transition from `JOB_STATE_DRAINING`.",
            "`JOB_STATE_PENDING` indicates that the job has been created but is not yet running. Jobs that are pending may only transition to `JOB_STATE_RUNNING`, or `JOB_STATE_FAILED`.",
            "`JOB_STATE_CANCELLING` indicates that the job has been explicitly cancelled and is in the process of stopping. Jobs that are cancelling may only transition to `JOB_STATE_CANCELLED` or `JOB_STATE_FAILED`.",
            "`JOB_STATE_QUEUED` indicates that the job has been created but is being delayed until launch. Jobs that are queued may only transition to `JOB_STATE_PENDING` or `JOB_STATE_CANCELLED`.",
            "`JOB_STATE_RESOURCE_CLEANING_UP` indicates that the batch job's associated resources are currently being cleaned up after a successful run. Currently, this is an opt-in feature, please reach out to Cloud support team if you are interested.",
            "`JOB_STATE_PAUSING` is not implemented yet.",
            "`JOB_STATE_PAUSED` is not implemented yet."
          ],
          "enum": [
            "JOB_STATE_UNKNOWN",
            "JOB_STATE_STOPPED",
            "JOB_STATE_RUNNING",
            "JOB_STATE_DONE",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_UPDATED",
            "JOB_STATE_DRAINING",
            "JOB_STATE_DRAINED",
            "JOB_STATE_PENDING",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_QUEUED",
            "JOB_STATE_RESOURCE_CLEANING_UP",
            "JOB_STATE_PAUSING",
            "JOB_STATE_PAUSED"
          ],
          "description": "Executions stage states allow the same set of values as JobState."
        },
        "currentStateTime": {
          "description": "The time at which the stage transitioned to this state.",
          "type": "string",
          "format": "google-datetime"
        },
        "executionStageName": {
          "type": "string",
          "description": "The name of the execution stage."
        }
      },
      "type": "object",
      "id": "ExecutionStageState"
    },
    "CounterStructuredName": {
      "type": "object",
      "id": "CounterStructuredName",
      "description": "Identifies a counter within a per-job namespace. Counters whose structured names are the same get merged into a single value for the job.",
      "properties": {
        "inputIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Index of an input collection that's being read from/written to as a side input. The index identifies a step's side inputs starting by 1 (e.g. the first side input has input_index 1, the third has input_index 3). Side inputs are identified by a pair of (original_step_name, input_index). This field helps uniquely identify them."
        },
        "originalStepName": {
          "description": "System generated name of the original step in the user's graph, before optimization.",
          "type": "string"
        },
        "name": {
          "description": "Counter name. Not necessarily globally-unique, but unique within the context of the other fields. Required.",
          "type": "string"
        },
        "originNamespace": {
          "description": "A string containing a more specific namespace of the counter's origin.",
          "type": "string"
        },
        "componentStepName": {
          "description": "Name of the optimized step being executed by the workers.",
          "type": "string"
        },
        "executionStepName": {
          "description": "Name of the stage. An execution step contains multiple component steps.",
          "type": "string"
        },
        "origin": {
          "type": "string",
          "enumDescriptions": [
            "Counter was created by the Dataflow system.",
            "Counter was created by the user."
          ],
          "enum": [
            "SYSTEM",
            "USER"
          ],
          "description": "One of the standard Origins defined above."
        },
        "portion": {
          "description": "Portion of this counter, either key or value.",
          "enum": [
            "ALL",
            "KEY",
            "VALUE"
          ],
          "enumDescriptions": [
            "Counter portion has not been set.",
            "Counter reports a key.",
            "Counter reports a value."
          ],
          "type": "string"
        },
        "originalRequestingStepName": {
          "description": "The step name requesting an operation, such as GBK. I.e. the ParDo causing a read/write from shuffle to occur, or a read from side inputs.",
          "type": "string"
        },
        "workerId": {
          "type": "string",
          "description": "ID of a particular worker."
        }
      }
    },
    "PerWorkerMetrics": {
      "id": "PerWorkerMetrics",
      "type": "object",
      "description": "Per worker metrics.",
      "properties": {
        "perStepNamespaceMetrics": {
          "description": "Optional. Metrics for a particular unfused step and namespace.",
          "items": {
            "$ref": "PerStepNamespaceMetrics"
          },
          "type": "array"
        }
      }
    },
    "DataSamplingReport": {
      "type": "object",
      "id": "DataSamplingReport",
      "description": "Contains per-worker telemetry about the data sampling feature.",
      "properties": {
        "bytesWrittenDelta": {
          "description": "Optional. Delta of bytes written to file from previous report.",
          "type": "string",
          "format": "int64"
        },
        "elementsSampledBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of bytes sampled from previous report."
        },
        "elementsSampledCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of number of elements sampled from previous report."
        },
        "pcollectionsSampledCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of number of PCollections sampled from previous report."
        },
        "translationErrorsCount": {
          "description": "Optional. Delta of errors counts from retrieving, or translating the samples from previous report.",
          "type": "string",
          "format": "int64"
        },
        "persistenceErrorsCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Delta of errors counts from persisting the samples from previous report."
        },
        "exceptionsSampledCount": {
          "description": "Optional. Delta of number of samples taken from user code exceptions from previous report.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Histogram": {
      "description": "Histogram of value counts for a distribution. Buckets have an inclusive lower bound and exclusive upper bound and use \"1,2,5 bucketing\": The first bucket range is from [0,1) and all subsequent bucket boundaries are powers of ten multiplied by 1, 2, or 5. Thus, bucket boundaries are 0, 1, 2, 5, 10, 20, 50, 100, 200, 500, 1000, ... Negative values are not supported.",
      "properties": {
        "bucketCounts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Counts of values in each bucket. For efficiency, prefix and trailing buckets with count = 0 are elided. Buckets can store the full range of values of an unsigned long, with ULLONG_MAX falling into the 59th bucket with range [1e19, 2e19)."
        },
        "firstBucketOffset": {
          "description": "Starting index of first stored bucket. The non-inclusive upper-bound of the ith bucket is given by: pow(10,(i-first_bucket_offset)/3) * (1,2,5)[(i-first_bucket_offset)%3]",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Histogram"
    },
    "TaskRunnerSettings": {
      "id": "TaskRunnerSettings",
      "type": "object",
      "description": "Taskrunner configuration settings.",
      "properties": {
        "logUploadLocation": {
          "type": "string",
          "description": "Indicates where to put logs. If this is not specified, the logs will not be uploaded. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "taskGroup": {
          "type": "string",
          "description": "The UNIX group ID on the worker VM to use for tasks launched by taskrunner; e.g. \"wheel\"."
        },
        "languageHint": {
          "type": "string",
          "description": "The suggested backend language."
        },
        "workflowFileName": {
          "description": "The file to store the workflow in.",
          "type": "string"
        },
        "taskUser": {
          "description": "The UNIX user ID on the worker VM to use for tasks launched by taskrunner; e.g. \"root\".",
          "type": "string"
        },
        "oauthScopes": {
          "description": "The OAuth2 scopes to be requested by the taskrunner in order to access the Cloud Dataflow API.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logDir": {
          "type": "string",
          "description": "The directory on the VM to store logs."
        },
        "logToSerialconsole": {
          "description": "Whether to send taskrunner log info to Google Compute Engine VM serial console.",
          "type": "boolean"
        },
        "streamingWorkerMainClass": {
          "description": "The streaming worker main class name.",
          "type": "string"
        },
        "continueOnException": {
          "type": "boolean",
          "description": "Whether to continue taskrunner if an exception is hit."
        },
        "baseUrl": {
          "type": "string",
          "description": "The base URL for the taskrunner to use when accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "vmId": {
          "type": "string",
          "description": "The ID string of the VM."
        },
        "parallelWorkerSettings": {
          "description": "The settings to pass to the parallel worker harness.",
          "$ref": "WorkerSettings"
        },
        "baseTaskDir": {
          "description": "The location on the worker for task-specific subdirectories.",
          "type": "string"
        },
        "tempStoragePrefix": {
          "description": "The prefix of the resources the taskrunner should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}",
          "type": "string"
        },
        "harnessCommand": {
          "type": "string",
          "description": "The command to launch the worker harness."
        },
        "dataflowApiVersion": {
          "type": "string",
          "description": "The API version of endpoint, e.g. \"v1b3\""
        },
        "commandlinesFileName": {
          "type": "string",
          "description": "The file to store preprocessing commands in."
        },
        "alsologtostderr": {
          "description": "Whether to also send taskrunner log info to stderr.",
          "type": "boolean"
        }
      }
    },
    "LaunchTemplateResponse": {
      "type": "object",
      "id": "LaunchTemplateResponse",
      "description": "Response to the request to launch a template.",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "WorkerMessageCode": {
      "description": "A message code is used to report status and error messages to the service. The message codes are intended to be machine readable. The service will take care of translating these into user understandable messages if necessary. Example use cases: 1. Worker processes reporting successful startup. 2. Worker processes reporting specific errors (e.g. package staging failure).",
      "properties": {
        "code": {
          "description": "The code is a string intended for consumption by a machine that identifies the type of message being sent. Examples: 1. \"HARNESS_STARTED\" might be used to indicate the worker harness has started. 2. \"GCS_DOWNLOAD_ERROR\" might be used to indicate an error downloading a Cloud Storage file as part of the boot process of one of the worker containers. This is a string and not an enum to make it easy to add new codes without waiting for an API change.",
          "type": "string"
        },
        "parameters": {
          "description": "Parameters contains specific information about the code. This is a struct to allow parameters of different types. Examples: 1. For a \"HARNESS_STARTED\" message parameters might provide the name of the worker and additional data like timing information. 2. For a \"GCS_DOWNLOAD_ERROR\" parameters might contain fields listing the Cloud Storage objects being downloaded and fields containing errors. In general complex data structures should be avoided. If a worker needs to send a specific and complicated data structure then please consider defining a new proto and adding it to the data oneof in WorkerMessageResponse. Conventions: Parameters should only be used for information that isn't typically passed as a label. hostname and other worker identifiers should almost always be passed as labels since they will be included on most messages.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "WorkerMessageCode",
      "type": "object"
    },
    "SourceFork": {
      "id": "SourceFork",
      "type": "object",
      "description": "DEPRECATED in favor of DynamicSourceSplit.",
      "properties": {
        "residual": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primary": {
          "description": "DEPRECATED",
          "$ref": "SourceSplitShard"
        },
        "primarySource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        },
        "residualSource": {
          "description": "DEPRECATED",
          "$ref": "DerivedSource"
        }
      }
    },
    "Disk": {
      "type": "object",
      "id": "Disk",
      "description": "Describes the data disk used by a workflow job.",
      "properties": {
        "diskType": {
          "description": "Disk storage type, as defined by Google Compute Engine. This must be a disk type appropriate to the project and zone in which the workers will run. If unknown or unspecified, the service will attempt to choose a reasonable default. For example, the standard persistent disk type is a resource name typically ending in \"pd-standard\". If SSD persistent disks are available, the resource name typically ends with \"pd-ssd\". The actual valid values are defined the Google Compute Engine API, not by the Cloud Dataflow API; consult the Google Compute Engine documentation for more information about determining the set of available disk types for a particular project and zone. Google Compute Engine Disk types are local to a particular project in a particular zone, and so the resource name will typically look something like this: compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard",
          "type": "string"
        },
        "mountPoint": {
          "type": "string",
          "description": "Directory in a VM where disk is mounted."
        },
        "sizeGb": {
          "description": "Size of disk in GB. If zero or unspecified, the service will attempt to choose a reasonable default.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "SourceSplitRequest": {
      "description": "Represents the operation to split a high-level Source specification into bundles (parts for parallel processing). At a high level, splitting of a source into bundles happens as follows: SourceSplitRequest is applied to the source. If it returns SOURCE_SPLIT_OUTCOME_USE_CURRENT, no further splitting happens and the source is used \"as is\". Otherwise, splitting is applied recursively to each produced DerivedSource. As an optimization, for any Source, if its does_not_need_splitting is true, the framework assumes that splitting this source would return SOURCE_SPLIT_OUTCOME_USE_CURRENT, and doesn't initiate a SourceSplitRequest. This applies both to the initial source being split and to bundles produced from it.",
      "properties": {
        "source": {
          "description": "Specification of the source to be split.",
          "$ref": "Source"
        },
        "options": {
          "description": "Hints for tuning the splitting process.",
          "$ref": "SourceSplitOptions"
        }
      },
      "id": "SourceSplitRequest",
      "type": "object"
    },
    "ListJobMessagesResponse": {
      "id": "ListJobMessagesResponse",
      "type": "object",
      "description": "Response to a request to list job messages.",
      "properties": {
        "jobMessages": {
          "description": "Messages in ascending timestamp order.",
          "items": {
            "$ref": "JobMessage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to obtain the next page of results if there are more."
        },
        "autoscalingEvents": {
          "type": "array",
          "description": "Autoscaling events in ascending timestamp order.",
          "items": {
            "$ref": "AutoscalingEvent"
          }
        }
      }
    },
    "ReportWorkItemStatusResponse": {
      "description": "Response from a request to report the status of WorkItems.",
      "properties": {
        "workItemServiceStates": {
          "description": "A set of messages indicating the service-side state for each WorkItem whose status was reported, in the same order as the WorkItemStatus messages in the ReportWorkItemStatusRequest which resulting in this response.",
          "items": {
            "$ref": "WorkItemServiceState"
          },
          "type": "array"
        },
        "unifiedWorkerResponse": {
          "description": "Untranslated bag-of-bytes WorkProgressUpdateResponse for UnifiedWorker.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "ReportWorkItemStatusResponse",
      "type": "object"
    },
    "ApproximateSplitRequest": {
      "description": "A suggestion by the service to the worker to dynamically split the WorkItem.",
      "properties": {
        "fractionConsumed": {
          "type": "number",
          "format": "double",
          "description": "A fraction at which to split the work item, from 0.0 (beginning of the input) to 1.0 (end of the input)."
        },
        "fractionOfRemainder": {
          "description": "The fraction of the remainder of work to split the work item at, from 0.0 (split at the current position) to 1.0 (end of the input).",
          "type": "number",
          "format": "double"
        },
        "position": {
          "description": "A Position at which to split the work item.",
          "$ref": "Position"
        }
      },
      "id": "ApproximateSplitRequest",
      "type": "object"
    },
    "ReadInstruction": {
      "description": "An instruction that reads records. Takes no inputs, produces one output.",
      "properties": {
        "source": {
          "description": "The source to read from.",
          "$ref": "Source"
        }
      },
      "id": "ReadInstruction",
      "type": "object"
    },
    "RuntimeEnvironment": {
      "description": "The environment values to set at runtime.",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to use for the job. Defaults to the value from the template if not specified.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The email address of the service account to run the job as."
        },
        "ipConfiguration": {
          "description": "Optional. Configuration for VM IPs.",
          "enum": [
            "WORKER_IP_UNSPECIFIED",
            "WORKER_IP_PUBLIC",
            "WORKER_IP_PRIVATE"
          ],
          "enumDescriptions": [
            "The configuration is unknown, or unspecified.",
            "Workers should have public IP addresses.",
            "Workers should have private IP addresses."
          ],
          "type": "string"
        },
        "workerZone": {
          "description": "Optional. The Compute Engine zone (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1-a\". Mutually exclusive with worker_region. If neither worker_region nor worker_zone is specified, a zone in the control plane's region is chosen based on available capacity. If both `worker_zone` and `zone` are set, `worker_zone` takes precedence.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. Network to which VMs will be assigned. If empty or unspecified, the service will use the network \"default\"."
        },
        "kmsKeyName": {
          "description": "Optional. Name for the Cloud KMS key for the job. Key format is: projects//locations//keyRings//cryptoKeys/",
          "type": "string"
        },
        "workerRegion": {
          "description": "Required. The Compute Engine region (https://cloud.google.com/compute/docs/regions-zones/regions-zones) in which worker processing should occur, e.g. \"us-west1\". Mutually exclusive with worker_zone. If neither worker_region nor worker_zone is specified, default to the control plane's region.",
          "type": "string"
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional experiment flags for the job, specified with the `--experiments` option.",
          "type": "array"
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. Subnetwork to which VMs will be assigned, if desired. You can specify a subnetwork using either a complete URL or an abbreviated path. Expected to be of the form \"https://www.googleapis.com/compute/v1/projects/HOST_PROJECT_ID/regions/REGION/subnetworks/SUBNETWORK\" or \"regions/REGION/subnetworks/SUBNETWORK\". If the subnetwork is located in a Shared VPC network, you must use the complete URL."
        },
        "streamingMode": {
          "enum": [
            "STREAMING_MODE_UNSPECIFIED",
            "STREAMING_MODE_EXACTLY_ONCE",
            "STREAMING_MODE_AT_LEAST_ONCE"
          ],
          "description": "Optional. Specifies the Streaming Engine message processing guarantees. Reduces cost and latency but might result in duplicate messages committed to storage. Designed to run simple mapping streaming ETL jobs at the lowest cost. For example, Change Data Capture (CDC) to BigQuery is a canonical use case. For more information, see [Set the pipeline streaming mode](https://cloud.google.com/dataflow/docs/guides/streaming-modes).",
          "type": "string",
          "enumDescriptions": [
            "Run in the default mode.",
            "In this mode, message deduplication is performed against persistent state to make sure each message is processed and committed to storage exactly once.",
            "Message deduplication is not performed. Messages might be processed multiple times, and the results are applied multiple times. Note: Setting this value also enables Streaming Engine and Streaming Engine resource-based billing."
          ]
        },
        "additionalUserLabels": {
          "description": "Optional. Additional user labels to be specified for the job. Keys and values should follow the restrictions specified in the [labeling restrictions](https://cloud.google.com/compute/docs/labeling-resources#restrictions) page. An object containing a list of \"key\": value pairs. Example: { \"name\": \"wrench\", \"mass\": \"1kg\", \"count\": \"3\" }.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "enableStreamingEngine": {
          "type": "boolean",
          "description": "Optional. Whether to enable Streaming Engine for the job."
        },
        "numWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The initial number of Google Compute Engine instances for the job. The default value is 11."
        },
        "additionalPipelineOptions": {
          "description": "Optional. Additional pipeline option flags for the job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "diskSizeGb": {
          "description": "Optional. The disk size, in gigabytes, to use on each remote Compute Engine worker instance.",
          "type": "integer",
          "format": "int32"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The Compute Engine [availability zone](https://cloud.google.com/compute/docs/regions-zones/regions-zones) for launching worker instances to run your pipeline. In the future, worker_zone will take precedence."
        },
        "tempLocation": {
          "description": "Required. The Cloud Storage path to use for temporary files. Must be a valid Cloud Storage URL, beginning with `gs://`.",
          "type": "string"
        },
        "bypassTempDirValidation": {
          "type": "boolean",
          "description": "Optional. Whether to bypass the safety checks for the job's temporary directory. Use with caution."
        },
        "maxWorkers": {
          "description": "Optional. The maximum number of Google Compute Engine instances to be made available to your pipeline during execution, from 1 to 1000. The default value is 1.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "RuntimeEnvironment"
    },
    "PubsubSnapshotMetadata": {
      "id": "PubsubSnapshotMetadata",
      "type": "object",
      "description": "Represents a Pubsub snapshot.",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The name of the Pubsub topic."
        },
        "snapshotName": {
          "description": "The name of the Pubsub snapshot.",
          "type": "string"
        },
        "expireTime": {
          "description": "The expire time of the Pubsub snapshot.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RuntimeUpdatableParams": {
      "type": "object",
      "id": "RuntimeUpdatableParams",
      "description": "Additional job parameters that can only be updated during runtime using the projects.jobs.update method. These fields have no effect when specified during job creation.",
      "properties": {
        "minNumWorkers": {
          "description": "The minimum number of workers to scale down to. This field is currently only supported for Streaming Engine jobs.",
          "type": "integer",
          "format": "int32"
        },
        "maxNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of workers to cap autoscaling at. This field is currently only supported for Streaming Engine jobs."
        },
        "autoscalingTier": {
          "type": "string",
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "deprecated": true
        },
        "acceptableBacklogDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Deprecated: Use `latency_tier` instead. The backlog threshold duration in seconds for autoscaling. Value must be non-negative.",
          "deprecated": true
        },
        "latencyTier": {
          "description": "Optional. The backlog threshold tier for autoscaling. Value must be one of \"low-latency\", \"medium-latency\", or \"high-latency\".",
          "type": "string"
        },
        "workerUtilizationHint": {
          "type": "number",
          "format": "double",
          "description": "Target worker utilization, compared against the aggregate utilization of the worker pool by autoscaler, to determine upscaling and downscaling when absent other constraints such as backlog. For more information, see [Update an existing pipeline](https://cloud.google.com/dataflow/docs/guides/updating-a-pipeline)."
        }
      }
    },
    "SdkVersion": {
      "type": "object",
      "id": "SdkVersion",
      "description": "The version of the SDK used to run the job.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the SDK used to run the job."
        },
        "versionDisplayName": {
          "description": "A readable string describing the version of the SDK.",
          "type": "string"
        },
        "sdkSupportStatus": {
          "type": "string",
          "enumDescriptions": [
            "Cloud Dataflow is unaware of this version.",
            "This is a known version of an SDK, and is supported.",
            "A newer version of the SDK family exists, and an update is recommended.",
            "This version of the SDK is deprecated and will eventually be unsupported.",
            "Support for this SDK version has ended and it should no longer be used."
          ],
          "enum": [
            "UNKNOWN",
            "SUPPORTED",
            "STALE",
            "DEPRECATED",
            "UNSUPPORTED"
          ],
          "description": "The support status for this SDK version."
        },
        "bugs": {
          "items": {
            "$ref": "SdkBug"
          },
          "description": "Output only. Known bugs found in this SDK version.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "SdkBug": {
      "id": "SdkBug",
      "type": "object",
      "description": "A bug found in the Dataflow SDK.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown issue with this SDK.",
            "Catch-all for SDK bugs that don't fit in the below categories.",
            "Using this version of the SDK may result in degraded performance.",
            "Using this version of the SDK may cause data loss."
          ],
          "description": "Output only. Describes the impact of this SDK bug.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "GENERAL",
            "PERFORMANCE",
            "DATALOSS"
          ]
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOTICE",
            "WARNING",
            "SEVERE"
          ],
          "description": "Output only. How severe the SDK bug is.",
          "readOnly": true,
          "enumDescriptions": [
            "A bug of unknown severity.",
            "A minor bug that that may reduce reliability or performance for some jobs. Impact will be minimal or non-existent for most jobs.",
            "A bug that has some likelihood of causing performance degradation, data loss, or job failures.",
            "A bug with extremely significant impact. Jobs may fail erroneously, performance may be severely degraded, and data loss may be very likely."
          ],
          "type": "string"
        },
        "uri": {
          "description": "Output only. Link to more information on the bug.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WorkerDetails": {
      "description": "Information about a worker",
      "properties": {
        "workerName": {
          "description": "Name of this worker",
          "type": "string"
        },
        "workItems": {
          "description": "Work items processed by this worker, sorted by time.",
          "items": {
            "$ref": "WorkItemDetails"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "WorkerDetails"
    },
    "JobMetrics": {
      "id": "JobMetrics",
      "type": "object",
      "description": "JobMetrics contains a collection of metrics describing the detailed progress of a Dataflow job. Metrics correspond to user-defined and system-defined metrics in the job. For more information, see [Dataflow job metrics] (https://cloud.google.com/dataflow/docs/guides/using-monitoring-intf). This resource captures only the most recent values of each metric; time-series data can be queried for them (under the same metric names) from Cloud Monitoring.",
      "properties": {
        "metricTime": {
          "description": "Timestamp as of which metric values are current.",
          "type": "string",
          "format": "google-datetime"
        },
        "metrics": {
          "description": "All metrics for this job.",
          "items": {
            "$ref": "MetricUpdate"
          },
          "type": "array"
        }
      }
    },
    "SourceGetMetadataResponse": {
      "type": "object",
      "id": "SourceGetMetadataResponse",
      "description": "The result of a SourceGetMetadataOperation.",
      "properties": {
        "metadata": {
          "description": "The computed metadata.",
          "$ref": "SourceMetadata"
        }
      }
    },
    "SplitInt64": {
      "description": "A representation of an int64, n, that is immune to precision loss when encoded in JSON.",
      "properties": {
        "lowBits": {
          "type": "integer",
          "format": "uint32",
          "description": "The low order bits: n & 0xffffffff."
        },
        "highBits": {
          "description": "The high order bits, including the sign: n >> 32.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "SplitInt64"
    },
    "CounterStructuredNameAndMetadata": {
      "id": "CounterStructuredNameAndMetadata",
      "type": "object",
      "description": "A single message which encapsulates structured name and metadata for a given counter.",
      "properties": {
        "name": {
          "description": "Structured name of the counter.",
          "$ref": "CounterStructuredName"
        },
        "metadata": {
          "description": "Metadata associated with a counter",
          "$ref": "CounterMetadata"
        }
      }
    },
    "Snapshot": {
      "id": "Snapshot",
      "type": "object",
      "description": "Represents a snapshot of a job.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Snapshot intent to create has been persisted, snapshotting of state has not yet started.",
            "Snapshotting is being performed.",
            "Snapshot has been created and is ready to be used.",
            "Snapshot failed to be created.",
            "Snapshot has been deleted."
          ],
          "enum": [
            "UNKNOWN_SNAPSHOT_STATE",
            "PENDING",
            "RUNNING",
            "READY",
            "FAILED",
            "DELETED"
          ],
          "description": "State of the snapshot."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of this snapshot."
        },
        "creationTime": {
          "description": "The time this snapshot was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "region": {
          "type": "string",
          "description": "Cloud region where this snapshot lives in, e.g., \"us-central1\"."
        },
        "pubsubMetadata": {
          "description": "Pub/Sub snapshot metadata.",
          "items": {
            "$ref": "PubsubSnapshotMetadata"
          },
          "type": "array"
        },
        "projectId": {
          "type": "string",
          "description": "The project this snapshot belongs to."
        },
        "description": {
          "description": "User specified description of the snapshot. Maybe empty.",
          "type": "string"
        },
        "sourceJobId": {
          "type": "string",
          "description": "The job this snapshot was created from."
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "The time after which this snapshot will be automatically deleted."
        },
        "diskSizeBytes": {
          "description": "The disk byte size of the snapshot. Only available for snapshots in READY state.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ParameterMetadata": {
      "id": "ParameterMetadata",
      "type": "object",
      "description": "Metadata for a specific parameter.",
      "properties": {
        "enumOptions": {
          "description": "Optional. The options shown when ENUM ParameterType is specified.",
          "items": {
            "$ref": "ParameterMetadataEnumOption"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the parameter."
        },
        "regexes": {
          "description": "Optional. Regexes that the parameter must match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. The default values will pre-populate the parameter with the given value from the proto. If default_value is left empty, the parameter will be populated with a default of the relevant type, e.g. false for a boolean."
        },
        "customMetadata": {
          "description": "Optional. Additional metadata for describing this parameter.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "hiddenUi": {
          "type": "boolean",
          "description": "Optional. Whether the parameter should be hidden in the UI."
        },
        "label": {
          "description": "Required. The label to display for the parameter.",
          "type": "string"
        },
        "paramType": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "DEFAULT",
            "TEXT",
            "GCS_READ_BUCKET",
            "GCS_WRITE_BUCKET",
            "GCS_READ_FILE",
            "GCS_WRITE_FILE",
            "GCS_READ_FOLDER",
            "GCS_WRITE_FOLDER",
            "PUBSUB_TOPIC",
            "PUBSUB_SUBSCRIPTION",
            "BIGQUERY_TABLE",
            "JAVASCRIPT_UDF_FILE",
            "SERVICE_ACCOUNT",
            "MACHINE_TYPE",
            "KMS_KEY_NAME",
            "WORKER_REGION",
            "WORKER_ZONE",
            "BOOLEAN",
            "ENUM",
            "NUMBER",
            "KAFKA_TOPIC",
            "KAFKA_READ_TOPIC",
            "KAFKA_WRITE_TOPIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default input type.",
            "The parameter specifies generic text input.",
            "The parameter specifies a Cloud Storage Bucket to read from.",
            "The parameter specifies a Cloud Storage Bucket to write to.",
            "The parameter specifies a Cloud Storage file path to read from.",
            "The parameter specifies a Cloud Storage file path to write to.",
            "The parameter specifies a Cloud Storage folder path to read from.",
            "The parameter specifies a Cloud Storage folder to write to.",
            "The parameter specifies a Pub/Sub Topic.",
            "The parameter specifies a Pub/Sub Subscription.",
            "The parameter specifies a BigQuery table.",
            "The parameter specifies a JavaScript UDF in Cloud Storage.",
            "The parameter specifies a Service Account email.",
            "The parameter specifies a Machine Type.",
            "The parameter specifies a KMS Key name.",
            "The parameter specifies a Worker Region.",
            "The parameter specifies a Worker Zone.",
            "The parameter specifies a boolean input.",
            "The parameter specifies an enum input.",
            "The parameter specifies a number input.",
            "Deprecated. Please use KAFKA_READ_TOPIC instead.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be either a Google Managed Kafka topic or a non-managed Kafka topic.",
            "The parameter specifies the fully-qualified name of an Apache Kafka topic. This can be an existing Google Managed Kafka topic, the name for a new Google Managed Kafka topic, or an existing non-managed Kafka topic."
          ],
          "description": "Optional. The type of the parameter. Used for selecting input picker."
        },
        "helpText": {
          "description": "Required. The help text to display for the parameter.",
          "type": "string"
        },
        "parentName": {
          "description": "Optional. Specifies the name of the parent parameter. Used in conjunction with 'parent_trigger_values' to make this parameter conditional (will only be rendered conditionally). Should be mappable to a ParameterMetadata.name field.",
          "type": "string"
        },
        "groupName": {
          "description": "Optional. Specifies a group name for this parameter to be rendered under. Group header text will be rendered exactly as specified in this field. Only considered when parent_name is NOT provided.",
          "type": "string"
        },
        "isOptional": {
          "description": "Optional. Whether the parameter is optional. Defaults to false.",
          "type": "boolean"
        },
        "parentTriggerValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The value(s) of the 'parent_name' parameter which will trigger this parameter to be shown. If left empty, ANY non-empty value in parent_name will trigger this parameter to be shown. Only considered when this parameter is conditional (when 'parent_name' has been provided)."
        }
      }
    },
    "IntegerMean": {
      "type": "object",
      "id": "IntegerMean",
      "description": "A representation of an integer mean metric contribution.",
      "properties": {
        "count": {
          "description": "The number of values being aggregated.",
          "$ref": "SplitInt64"
        },
        "sum": {
          "description": "The sum of all values being aggregated.",
          "$ref": "SplitInt64"
        }
      }
    },
    "PerStepNamespaceMetrics": {
      "type": "object",
      "id": "PerStepNamespaceMetrics",
      "description": "Metrics for a particular unfused step and namespace. A metric is uniquely identified by the `metrics_namespace`, `original_step`, `metric name` and `metric_labels`.",
      "properties": {
        "metricValues": {
          "type": "array",
          "description": "Optional. Metrics that are recorded for this namespace and unfused step.",
          "items": {
            "$ref": "MetricValue"
          }
        },
        "metricsNamespace": {
          "description": "The namespace of these metrics on the worker.",
          "type": "string"
        },
        "originalStep": {
          "type": "string",
          "description": "The original system name of the unfused step that these metrics are reported from."
        }
      }
    },
    "PubsubLocation": {
      "description": "Identifies a pubsub location to use for transferring data into or out of a streaming Dataflow job.",
      "properties": {
        "dynamicDestinations": {
          "type": "boolean",
          "description": "If true, then this location represents dynamic topics."
        },
        "idLabel": {
          "description": "If set, contains a pubsub label from which to extract record ids. If left empty, record deduplication will be strictly best effort.",
          "type": "string"
        },
        "trackingSubscription": {
          "description": "If set, specifies the pubsub subscription that will be used for tracking custom time timestamps for watermark estimation.",
          "type": "string"
        },
        "topic": {
          "type": "string",
          "description": "A pubsub topic, in the form of \"pubsub.googleapis.com/topics//\""
        },
        "subscription": {
          "description": "A pubsub subscription, in the form of \"pubsub.googleapis.com/subscriptions//\"",
          "type": "string"
        },
        "dropLateData": {
          "description": "Indicates whether the pipeline allows late-arriving data.",
          "type": "boolean"
        },
        "timestampLabel": {
          "type": "string",
          "description": "If set, contains a pubsub label from which to extract record timestamps. If left empty, record timestamps will be generated upon arrival."
        },
        "withAttributes": {
          "type": "boolean",
          "description": "If true, then the client has requested to get pubsub attributes."
        }
      },
      "id": "PubsubLocation",
      "type": "object"
    },
    "AutoscalingSettings": {
      "type": "object",
      "id": "AutoscalingSettings",
      "description": "Settings for WorkerPool autoscaling.",
      "properties": {
        "algorithm": {
          "type": "string",
          "enumDescriptions": [
            "The algorithm is unknown, or unspecified.",
            "Disable autoscaling.",
            "Increase worker count over time to reduce job execution time."
          ],
          "enum": [
            "AUTOSCALING_ALGORITHM_UNKNOWN",
            "AUTOSCALING_ALGORITHM_NONE",
            "AUTOSCALING_ALGORITHM_BASIC"
          ],
          "description": "The algorithm to use for autoscaling."
        },
        "maxNumWorkers": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of workers to cap scaling at."
        }
      }
    },
    "DataflowGaugeValue": {
      "description": "The gauge value of a metric.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The value of the gauge."
        },
        "measuredTime": {
          "description": "The timestamp when the gauge was recorded.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "DataflowGaugeValue"
    },
    "WorkerLifecycleEvent": {
      "id": "WorkerLifecycleEvent",
      "type": "object",
      "description": "A report of an event in a worker's lifecycle. The proto contains one event, because the worker is expected to asynchronously send each message immediately after the event. Due to this asynchrony, messages may arrive out of order (or missing), and it is up to the consumer to interpret. The timestamp of the event is in the enclosing WorkerMessage proto.",
      "properties": {
        "containerStartTime": {
          "description": "The start time of this container. All events will report this so that events can be grouped together across container/VM restarts.",
          "type": "string",
          "format": "google-datetime"
        },
        "metadata": {
          "description": "Other stats that can accompany an event. E.g. { \"downloaded_bytes\" : \"123456\" }",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "event": {
          "description": "The event being reported.",
          "enum": [
            "UNKNOWN_EVENT",
            "OS_START",
            "CONTAINER_START",
            "NETWORK_UP",
            "STAGING_FILES_DOWNLOAD_START",
            "STAGING_FILES_DOWNLOAD_FINISH",
            "SDK_INSTALL_START",
            "SDK_INSTALL_FINISH"
          ],
          "enumDescriptions": [
            "Invalid event.",
            "The time the VM started.",
            "Our container code starts running. Multiple containers could be distinguished with WorkerMessage.labels if desired.",
            "The worker has a functional external network connection.",
            "Started downloading staging files.",
            "Finished downloading all staging files.",
            "For applicable SDKs, started installation of SDK and worker packages.",
            "Finished installing SDK."
          ],
          "type": "string"
        }
      }
    },
    "BigTableIODetails": {
      "description": "Metadata for a Cloud Bigtable connector used by the job.",
      "properties": {
        "instanceId": {
          "description": "InstanceId accessed in the connection.",
          "type": "string"
        },
        "tableId": {
          "description": "TableId accessed in the connection.",
          "type": "string"
        },
        "projectId": {
          "description": "ProjectId accessed in the connection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BigTableIODetails"
    },
    "StreamingComputationTask": {
      "description": "A task which describes what action should be performed for the specified streaming computation ranges.",
      "properties": {
        "taskType": {
          "enumDescriptions": [
            "The streaming computation task is unknown, or unspecified.",
            "Stop processing specified streaming computation range(s).",
            "Start processing specified streaming computation range(s)."
          ],
          "type": "string",
          "description": "A type of streaming computation task.",
          "enum": [
            "STREAMING_COMPUTATION_TASK_UNKNOWN",
            "STREAMING_COMPUTATION_TASK_STOP",
            "STREAMING_COMPUTATION_TASK_START"
          ]
        },
        "dataDisks": {
          "type": "array",
          "items": {
            "$ref": "MountedDataDisk"
          },
          "description": "Describes the set of data disks this task should apply to."
        },
        "computationRanges": {
          "type": "array",
          "items": {
            "$ref": "StreamingComputationRanges"
          },
          "description": "Contains ranges of a streaming computation this task should apply to."
        }
      },
      "type": "object",
      "id": "StreamingComputationTask"
    },
    "MetricUpdate": {
      "type": "object",
      "id": "MetricUpdate",
      "description": "Describes the state of a metric.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Metric aggregation kind. The possible metric aggregation kinds are \"Sum\", \"Max\", \"Min\", \"Mean\", \"Set\", \"And\", \"Or\", and \"Distribution\". The specified aggregation kind is case-insensitive. If omitted, this is not an aggregated value but instead a single metric sample value."
        },
        "meanCount": {
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the count of the aggregated values and is used in combination with mean_sum above to obtain the actual mean aggregate value. The only possible value type is Long.",
          "type": "any"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp associated with the metric value. Optional when workers are reporting work progress; it will be filled in responses from the metrics API."
        },
        "cumulative": {
          "description": "True if this metric is reported as the total cumulative aggregate value accumulated since the worker started working on this WorkItem. By default this is false, indicating that this metric is reported as a delta that is not associated with any WorkItem.",
          "type": "boolean"
        },
        "internal": {
          "type": "any",
          "description": "Worker-computed aggregate value for internal use by the Dataflow service."
        },
        "meanSum": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Mean\" aggregation kind. This holds the sum of the aggregated values and is used in combination with mean_count below to obtain the actual mean aggregate value. The only possible value types are Long and Double."
        },
        "boundedTrie": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode. Introduced this field to avoid breaking older SDKs when Dataflow service starts to populate the `bounded_trie` field."
        },
        "scalar": {
          "type": "any",
          "description": "Worker-computed aggregate value for aggregation kinds \"Sum\", \"Max\", \"Min\", \"And\", and \"Or\". The possible value types are Long, Double, and Boolean."
        },
        "gauge": {
          "description": "A struct value describing properties of a Gauge. Metrics of gauge type show the value of a metric across time, and is aggregated based on the newest value.",
          "type": "any"
        },
        "set": {
          "type": "any",
          "description": "Worker-computed aggregate value for the \"Set\" aggregation kind. The only possible value type is a list of Values whose type can be Long, Double, String, or BoundedTrie according to the metric's type. All Values in the list must be of the same type."
        },
        "name": {
          "description": "Name of the metric.",
          "$ref": "MetricStructuredName"
        },
        "trie": {
          "description": "Worker-computed aggregate value for the \"Trie\" aggregation kind. The only possible value type is a BoundedTrieNode.",
          "type": "any"
        },
        "distribution": {
          "description": "A struct value describing properties of a distribution of numeric values.",
          "type": "any"
        }
      }
    },
    "TopologyConfig": {
      "description": "Global topology of the streaming Dataflow job, including all computations and their sharded locations.",
      "properties": {
        "userStageToComputationNameMap": {
          "type": "object",
          "description": "Maps user stage names to stable computation names.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataDiskAssignments": {
          "type": "array",
          "items": {
            "$ref": "DataDiskAssignment"
          },
          "description": "The disks assigned to a streaming Dataflow job."
        },
        "computations": {
          "type": "array",
          "items": {
            "$ref": "ComputationTopology"
          },
          "description": "The computations associated with a streaming Dataflow job."
        },
        "forwardingKeyBits": {
          "type": "integer",
          "format": "int32",
          "description": "The size (in bits) of keys that will be assigned to source messages."
        },
        "persistentStateVersion": {
          "description": "Version number for persistent state.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TopologyConfig",
      "type": "object"
    },
    "SdkHarnessContainerImage": {
      "description": "Defines an SDK harness container for executing Dataflow pipelines.",
      "properties": {
        "environmentId": {
          "type": "string",
          "description": "Environment ID for the Beam runner API proto Environment that corresponds to the current SDK Harness."
        },
        "capabilities": {
          "items": {
            "type": "string"
          },
          "description": "The set of capabilities enumerated in the above Environment proto. See also [beam_runner_api.proto](https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto)",
          "type": "array"
        },
        "containerImage": {
          "description": "A docker container image that resides in Google Container Registry.",
          "type": "string"
        },
        "useSingleCorePerContainer": {
          "description": "If true, recommends the Dataflow service to use only one core per SDK container instance with this image. If false (or unset) recommends using more than one core per SDK container instance with this image for efficiency. Note that Dataflow service may choose to override this property if needed.",
          "type": "boolean"
        }
      },
      "id": "SdkHarnessContainerImage",
      "type": "object"
    },
    "HotKeyDetection": {
      "type": "object",
      "id": "HotKeyDetection",
      "description": "Proto describing a hot key detected on a given WorkItem.",
      "properties": {
        "systemName": {
          "type": "string",
          "description": "System-defined name of the step containing this hot key. Unique across the workflow."
        },
        "userStepName": {
          "type": "string",
          "description": "User-provided name of the step that contains this hot key."
        },
        "hotKeyAge": {
          "type": "string",
          "format": "google-duration",
          "description": "The age of the hot key measured from when it was first detected."
        }
      }
    },
    "WorkItemDetails": {
      "id": "WorkItemDetails",
      "type": "object",
      "description": "Information about an individual work item execution.",
      "properties": {
        "startTime": {
          "description": "Start time of this work item attempt.",
          "type": "string",
          "format": "google-datetime"
        },
        "taskId": {
          "type": "string",
          "description": "Name of this work item."
        },
        "state": {
          "enumDescriptions": [
            "The component state is unknown or unspecified.",
            "The component is not yet running.",
            "The component is currently running.",
            "The component succeeded.",
            "The component failed.",
            "Execution of the component was cancelled."
          ],
          "type": "string",
          "description": "State of this work item.",
          "enum": [
            "EXECUTION_STATE_UNKNOWN",
            "EXECUTION_STATE_NOT_STARTED",
            "EXECUTION_STATE_RUNNING",
            "EXECUTION_STATE_SUCCEEDED",
            "EXECUTION_STATE_FAILED",
            "EXECUTION_STATE_CANCELLED"
          ]
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "Metrics for this work item."
        },
        "attemptId": {
          "type": "string",
          "description": "Attempt ID of this work item"
        },
        "progress": {
          "description": "Progress of this work item.",
          "$ref": "ProgressTimeseries"
        },
        "stragglerInfo": {
          "description": "Information about straggler detections for this work item.",
          "$ref": "StragglerInfo"
        },
        "endTime": {
          "description": "End time of this work item attempt. If the work item is completed, this is the actual end time of the work item. Otherwise, it is the predicted end time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "StreamingStageLocation": {
      "id": "StreamingStageLocation",
      "type": "object",
      "description": "Identifies the location of a streaming computation stage, for stage-to-stage communication.",
      "properties": {
        "streamId": {
          "description": "Identifies the particular stream within the streaming Dataflow job.",
          "type": "string"
        }
      }
    },
    "StreamingConfigTask": {
      "type": "object",
      "id": "StreamingConfigTask",
      "description": "A task that carries configuration information for streaming computations.",
      "properties": {
        "getDataStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for get data streams from the harness to windmill."
        },
        "operationalLimits": {
          "description": "Operational limits for the streaming job. Can be used by the worker to validate outputs sent to the backend.",
          "$ref": "StreamingOperationalLimits"
        },
        "userStepToStateFamilyNameMap": {
          "description": "Map from user step names to state families.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "userWorkerRunnerV1Settings": {
          "description": "Binary encoded proto to control runtime behavior of the java runner v1 user worker.",
          "type": "string",
          "format": "byte"
        },
        "streamingComputationConfigs": {
          "description": "Set of computation configuration information.",
          "items": {
            "$ref": "StreamingComputationConfig"
          },
          "type": "array"
        },
        "windmillServiceEndpoint": {
          "description": "If present, the worker must use this endpoint to communicate with Windmill Service dispatchers, otherwise the worker must continue to use whatever endpoint it had been using.",
          "type": "string"
        },
        "maxWorkItemCommitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Maximum size for work item commit supported windmill storage layer."
        },
        "commitStreamChunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Chunk size for commit streams from the harness to windmill."
        },
        "streamingEngineStateTagEncodingVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The state tag encoding format version for streaming engine jobs."
        },
        "userWorkerRunnerV2Settings": {
          "description": "Binary encoded proto to control runtime behavior of the runner v2 user worker.",
          "type": "string",
          "format": "byte"
        },
        "windmillServicePort": {
          "type": "string",
          "format": "int64",
          "description": "If present, the worker must use this port to communicate with Windmill Service dispatchers. Only applicable when windmill_service_endpoint is specified."
        }
      }
    },
    "FailedLocation": {
      "id": "FailedLocation",
      "type": "object",
      "description": "Indicates which [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) failed to respond to a request for data.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that failed to respond."
        }
      }
    },
    "StreamingOperationalLimits": {
      "id": "StreamingOperationalLimits",
      "type": "object",
      "description": "Operational limits imposed on streaming jobs by the backend.",
      "properties": {
        "maxBagElementBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for an element in bag state."
        },
        "maxProductionOutputBytes": {
          "description": "The maximum size for a single output element.",
          "type": "string",
          "format": "int64"
        },
        "maxKeyBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size allowed for a key."
        },
        "maxTagBytes": {
          "description": "The maximum size for a state tag.",
          "type": "string",
          "format": "int64"
        },
        "maxSourceStateBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a source state update."
        },
        "maxSortedListElementBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for an element in sorted list state."
        },
        "maxValueBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for a value state field."
        },
        "maxGlobalDataBytes": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size for an element in global data."
        }
      }
    },
    "NameAndKind": {
      "id": "NameAndKind",
      "type": "object",
      "description": "Basic metadata about a counter.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the counter."
        },
        "kind": {
          "enum": [
            "INVALID",
            "SUM",
            "MAX",
            "MIN",
            "MEAN",
            "OR",
            "AND",
            "SET",
            "DISTRIBUTION",
            "LATEST_VALUE"
          ],
          "description": "Counter aggregation kind.",
          "type": "string",
          "enumDescriptions": [
            "Counter aggregation kind was not set.",
            "Aggregated value is the sum of all contributed values.",
            "Aggregated value is the max of all contributed values.",
            "Aggregated value is the min of all contributed values.",
            "Aggregated value is the mean of all contributed values.",
            "Aggregated value represents the logical 'or' of all contributed values.",
            "Aggregated value represents the logical 'and' of all contributed values.",
            "Aggregated value is a set of unique contributed values.",
            "Aggregated value captures statistics about a distribution.",
            "Aggregated value tracks the latest value of a variable."
          ]
        }
      }
    },
    "WorkerShutdownNoticeResponse": {
      "type": "object",
      "id": "WorkerShutdownNoticeResponse",
      "description": "Service-side response to WorkerMessage issuing shutdown notice.",
      "properties": {}
    },
    "GetWorkerStacktracesRequest": {
      "type": "object",
      "id": "GetWorkerStacktracesRequest",
      "description": "Request to get worker stacktraces from debug capture.",
      "properties": {
        "workerId": {
          "description": "The worker for which to get stacktraces. The returned stacktraces will be for the SDK harness running on this worker.",
          "type": "string"
        },
        "endTime": {
          "description": "The end time for the stacktrace query. The returned stacktraces will be a recent stack trace at or shortly before this time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "MapTask": {
      "description": "MapTask consists of an ordered set of instructions, each of which describes one particular low-level operation for the worker to perform in order to accomplish the MapTask's WorkItem. Each instruction must appear in the list before any instructions which depends on its output.",
      "properties": {
        "stageName": {
          "description": "System-defined name of the stage containing this MapTask. Unique across the workflow.",
          "type": "string"
        },
        "counterPrefix": {
          "type": "string",
          "description": "Counter prefix that can be used to prefix counters. Not currently used in Dataflow."
        },
        "instructions": {
          "type": "array",
          "description": "The instructions in the MapTask.",
          "items": {
            "$ref": "ParallelInstruction"
          }
        },
        "systemName": {
          "description": "System-defined name of this MapTask. Unique across the workflow.",
          "type": "string"
        }
      },
      "id": "MapTask",
      "type": "object"
    },
    "HotKeyInfo": {
      "description": "Information about a hot key.",
      "properties": {
        "keyTruncated": {
          "type": "boolean",
          "description": "If true, then the above key is truncated and cannot be deserialized. This occurs if the key above is populated and the key size is >5MB."
        },
        "hotKeyAge": {
          "type": "string",
          "format": "google-duration",
          "description": "The age of the hot key measured from when it was first detected."
        },
        "key": {
          "type": "string",
          "description": "A detected hot key that is causing limited parallelism. This field will be populated only if the following flag is set to true: \"--enable_hot_key_logging\"."
        }
      },
      "id": "HotKeyInfo",
      "type": "object"
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "type": "object",
      "description": "List of snapshots.",
      "properties": {
        "snapshots": {
          "type": "array",
          "items": {
            "$ref": "Snapshot"
          },
          "description": "Returned snapshots."
        }
      }
    },
    "DataDiskAssignment": {
      "description": "Data disk assignment for a given VM instance.",
      "properties": {
        "vmInstance": {
          "description": "VM instance name the data disks mounted to, for example \"myproject-1014-104817-4c2-harness-0\".",
          "type": "string"
        },
        "dataDisks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Mounted data disks. The order is important a data disk's 0-based index in this list defines which persistent directory the disk is mounted to, for example the list of { \"myproject-1014-104817-4c2-harness-0-disk-0\" }, { \"myproject-1014-104817-4c2-harness-0-disk-1\" }."
        }
      },
      "type": "object",
      "id": "DataDiskAssignment"
    },
    "GetDebugConfigRequest": {
      "description": "Request to get updated debug configuration for component.",
      "properties": {
        "workerId": {
          "description": "The worker id, i.e., VM hostname.",
          "type": "string"
        },
        "componentId": {
          "type": "string",
          "description": "The internal component id for which debug configuration is requested."
        },
        "location": {
          "description": "The [regional endpoint] (https://cloud.google.com/dataflow/docs/concepts/regional-endpoints) that contains the job specified by job_id.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GetDebugConfigRequest"
    },
    "WorkerSettings": {
      "description": "Provides data to pass through to the worker harness.",
      "properties": {
        "baseUrl": {
          "type": "string",
          "description": "The base URL for accessing Google Cloud APIs. When workers access Google Cloud APIs, they logically do so via relative URLs. If this field is specified, it supplies the base URL to use for resolving these relative URLs. The normative algorithm used is defined by RFC 1808, \"Relative Uniform Resource Locators\". If not specified, the default value is \"http://www.googleapis.com/\""
        },
        "reportingEnabled": {
          "type": "boolean",
          "description": "Whether to send work progress updates to the service."
        },
        "workerId": {
          "description": "The ID of the worker running this pipeline.",
          "type": "string"
        },
        "shuffleServicePath": {
          "type": "string",
          "description": "The Shuffle service path relative to the root URL, for example, \"shuffle/v1beta1\"."
        },
        "tempStoragePrefix": {
          "type": "string",
          "description": "The prefix of the resources the system should use for temporary storage. The supported resource type is: Google Cloud Storage: storage.googleapis.com/{bucket}/{object} bucket.storage.googleapis.com/{object}"
        },
        "servicePath": {
          "type": "string",
          "description": "The Cloud Dataflow service path relative to the root URL, for example, \"dataflow/v1b3/projects\"."
        }
      },
      "id": "WorkerSettings",
      "type": "object"
    },
    "DisplayData": {
      "type": "object",
      "id": "DisplayData",
      "description": "Data provided with a pipeline or transform to provide descriptive info.",
      "properties": {
        "label": {
          "type": "string",
          "description": "An optional label to display in a dax UI for the element."
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Contains value if the data is of int64 type."
        },
        "javaClassValue": {
          "type": "string",
          "description": "Contains value if the data is of java class type."
        },
        "floatValue": {
          "description": "Contains value if the data is of float type.",
          "type": "number",
          "format": "float"
        },
        "key": {
          "type": "string",
          "description": "The key identifying the display data. This is intended to be used as a label for the display data when viewed in a dax monitoring system."
        },
        "namespace": {
          "description": "The namespace for the key. This is usually a class name or programming language namespace (i.e. python module) which defines the display data. This allows a dax monitoring system to specially handle the data and perform custom rendering.",
          "type": "string"
        },
        "strValue": {
          "description": "Contains value if the data is of string type.",
          "type": "string"
        },
        "timestampValue": {
          "description": "Contains value if the data is of timestamp type.",
          "type": "string",
          "format": "google-datetime"
        },
        "shortStrValue": {
          "type": "string",
          "description": "A possible additional shorter value to display. For example a java_class_name_value of com.mypackage.MyDoFn will be stored with MyDoFn as the short_str_value and com.mypackage.MyDoFn as the java_class_name value. short_str_value can be displayed and java_class_name_value will be displayed as a tooltip."
        },
        "durationValue": {
          "type": "string",
          "format": "google-duration",
          "description": "Contains value if the data is of duration type."
        },
        "boolValue": {
          "description": "Contains value if the data is of a boolean type.",
          "type": "boolean"
        },
        "url": {
          "description": "An optional full URL.",
          "type": "string"
        }
      }
    },
    "WorkItemStatus": {
      "id": "WorkItemStatus",
      "type": "object",
      "description": "Conveys a worker's progress through the work described by a WorkItem.",
      "properties": {
        "workItemId": {
          "type": "string",
          "description": "Identifies the WorkItem."
        },
        "completed": {
          "description": "True if the WorkItem was completed (successfully or unsuccessfully).",
          "type": "boolean"
        },
        "metricUpdates": {
          "type": "array",
          "items": {
            "$ref": "MetricUpdate"
          },
          "description": "DEPRECATED in favor of counter_updates.",
          "deprecated": true
        },
        "reportedProgress": {
          "description": "The worker's progress through this WorkItem.",
          "$ref": "ApproximateReportedProgress"
        },
        "progress": {
          "description": "DEPRECATED in favor of reported_progress.",
          "deprecated": true,
          "$ref": "ApproximateProgress"
        },
        "dynamicSourceSplit": {
          "description": "See documentation of stop_position.",
          "$ref": "DynamicSourceSplit"
        },
        "sourceOperationResponse": {
          "description": "If the work item represented a SourceOperationRequest, and the work is completed, contains the result of the operation.",
          "$ref": "SourceOperationResponse"
        },
        "stopPosition": {
          "description": "A worker may split an active map task in two parts, \"primary\" and \"residual\", continuing to process the primary part and returning the residual part into the pool of available work. This event is called a \"dynamic split\" and is critical to the dynamic work rebalancing feature. The two obtained sub-tasks are called \"parts\" of the split. The parts, if concatenated, must represent the same input as would be read by the current task if the split did not happen. The exact way in which the original task is decomposed into the two parts is specified either as a position demarcating them (stop_position), or explicitly as two DerivedSources, if this task consumes a user-defined source type (dynamic_source_split). The \"current\" task is adjusted as a result of the split: after a task with range [A, B) sends a stop_position update at C, its range is considered to be [A, C), e.g.: * Progress should be interpreted relative to the new range, e.g. \"75% completed\" means \"75% of [A, C) completed\" * The worker should interpret proposed_stop_position relative to the new range, e.g. \"split at 68%\" should be interpreted as \"split at 68% of [A, C)\". * If the worker chooses to split again using stop_position, only stop_positions in [A, C) will be accepted. * Etc. dynamic_source_split has similar semantics: e.g., if a task with source S splits using dynamic_source_split into {P, R} (where P and R must be together equivalent to S), then subsequent progress and proposed_stop_position should be interpreted relative to P, and in a potential subsequent dynamic_source_split into {P', R'}, P' and R' must be together equivalent to P, etc.",
          "$ref": "Position"
        },
        "sourceFork": {
          "$ref": "SourceFork",
          "description": "DEPRECATED in favor of dynamic_source_split.",
          "deprecated": true
        },
        "counterUpdates": {
          "items": {
            "$ref": "CounterUpdate"
          },
          "description": "Worker output counters for this WorkItem.",
          "type": "array"
        },
        "reportIndex": {
          "type": "string",
          "format": "int64",
          "description": "The report index. When a WorkItem is leased, the lease will contain an initial report index. When a WorkItem's status is reported to the system, the report should be sent with that report index, and the response will contain the index the worker should use for the next report. Reports received with unexpected index values will be rejected by the service. In order to preserve idempotency, the worker should not alter the contents of a report, even if the worker must submit the same report multiple times before getting back a response. The worker should not submit a subsequent report until the response for the previous report had been received from the service."
        },
        "requestedLeaseDuration": {
          "description": "Amount of time the worker requests for its lease.",
          "type": "string",
          "format": "google-duration"
        },
        "totalThrottlerWaitTimeSeconds": {
          "description": "Total time the worker spent being throttled by external systems.",
          "type": "number",
          "format": "double"
        },
        "errors": {
          "description": "Specifies errors which occurred during processing. If errors are provided, and completed = true, then the WorkItem is considered to have failed.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        }
      }
    },
    "SourceOperationRequest": {
      "description": "A work item that represents the different operations that can be performed on a user-defined Source specification.",
      "properties": {
        "name": {
          "description": "User-provided name of the Read instruction for this source.",
          "type": "string"
        },
        "originalName": {
          "type": "string",
          "description": "System-defined name for the Read instruction for this source in the original workflow graph."
        },
        "systemName": {
          "description": "System-defined name of the Read instruction for this source. Unique across the workflow.",
          "type": "string"
        },
        "getMetadata": {
          "description": "Information about a request to get metadata about a source.",
          "$ref": "SourceGetMetadataRequest"
        },
        "split": {
          "description": "Information about a request to split a source.",
          "$ref": "SourceSplitRequest"
        },
        "stageName": {
          "description": "System-defined name of the stage containing the source operation. Unique across the workflow.",
          "type": "string"
        }
      },
      "id": "SourceOperationRequest",
      "type": "object"
    },
    "InstructionInput": {
      "type": "object",
      "id": "InstructionInput",
      "description": "An input of an instruction, as a reference to an output of a producer instruction.",
      "properties": {
        "producerInstructionIndex": {
          "description": "The index (origin zero) of the parallel instruction that produces the output to be consumed by this input. This index is relative to the list of instructions in this input's instruction's containing MapTask.",
          "type": "integer",
          "format": "int32"
        },
        "outputNum": {
          "description": "The output index (origin zero) within the producer.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeleteSnapshotResponse": {
      "description": "Response from deleting a snapshot.",
      "properties": {},
      "id": "DeleteSnapshotResponse",
      "type": "object"
    },
    "AutoscalingEvent": {
      "description": "A structured message reporting an autoscaling decision made by the Dataflow service.",
      "properties": {
        "currentNumWorkers": {
          "type": "string",
          "format": "int64",
          "description": "The current number of workers the job has."
        },
        "targetNumWorkers": {
          "type": "string",
          "format": "int64",
          "description": "The target number of workers the worker pool wants to resize to use."
        },
        "description": {
          "description": "A message describing why the system decided to adjust the current number of workers, why it failed, or why the system decided to not make any changes to the number of workers.",
          "$ref": "StructuredMessage"
        },
        "eventType": {
          "enum": [
            "TYPE_UNKNOWN",
            "TARGET_NUM_WORKERS_CHANGED",
            "CURRENT_NUM_WORKERS_CHANGED",
            "ACTUATION_FAILURE",
            "NO_CHANGE"
          ],
          "description": "The type of autoscaling event to report.",
          "type": "string",
          "enumDescriptions": [
            "Default type for the enum. Value should never be returned.",
            "The TARGET_NUM_WORKERS_CHANGED type should be used when the target worker pool size has changed at the start of an actuation. An event should always be specified as TARGET_NUM_WORKERS_CHANGED if it reflects a change in the target_num_workers.",
            "The CURRENT_NUM_WORKERS_CHANGED type should be used when actual worker pool size has been changed, but the target_num_workers has not changed.",
            "The ACTUATION_FAILURE type should be used when we want to report an error to the user indicating why the current number of workers in the pool could not be changed. Displayed in the current status and history widgets.",
            "Used when we want to report to the user a reason why we are not currently adjusting the number of workers. Should specify both target_num_workers, current_num_workers and a decision_message."
          ]
        },
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this event was emitted to indicate a new target or current num_workers value."
        },
        "workerPool": {
          "type": "string",
          "description": "A short and friendly name for the worker pool this event refers to."
        }
      },
      "id": "AutoscalingEvent",
      "type": "object"
    },
    "WorkerHealthReportResponse": {
      "description": "WorkerHealthReportResponse contains information returned to the worker in response to a health ping.",
      "properties": {
        "reportInterval": {
          "description": "A positive value indicates the worker should change its reporting interval to the specified value. The default value of zero means no change in report rate is requested by the server.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "WorkerHealthReportResponse"
    },
    "LaunchFlexTemplateResponse": {
      "id": "LaunchFlexTemplateResponse",
      "type": "object",
      "description": "Response to the request to launch a job from Flex Template.",
      "properties": {
        "job": {
          "description": "The job that was launched, if the request was not a dry run and the job was successfully launched.",
          "$ref": "Job"
        }
      }
    },
    "StageExecutionDetails": {
      "description": "Information about the workers and work items within a stage.",
      "properties": {
        "workers": {
          "type": "array",
          "items": {
            "$ref": "WorkerDetails"
          },
          "description": "Workers that have done work on the stage."
        },
        "nextPageToken": {
          "description": "If present, this response does not contain all requested tasks. To obtain the next page of results, repeat the request with page_token set to this value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StageExecutionDetails"
    },
    "Step": {
      "id": "Step",
      "type": "object",
      "description": "Defines a particular step within a Cloud Dataflow job. A job consists of multiple steps, each of which performs some specific operation as part of the overall job. Data is typically passed from one step to another as part of the job. **Note:** The properties of this object are not stable and might change. Here's an example of a sequence of steps which together implement a Map-Reduce job: * Read a collection of data from some source, parsing the collection's elements. * Validate the elements. * Apply a user-defined function to map each element to some value and extract an element-specific key value. * Group elements with the same key into a single element with that key, transforming a multiply-keyed collection into a uniquely-keyed collection. * Write the elements out to some data sink. Note that the Cloud Dataflow service may be used to run many different types of jobs, not just Map-Reduce.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of step in the Cloud Dataflow job."
        },
        "properties": {
          "type": "object",
[...]
