{
  "mtlsRootUrl": "https://datalineage.mtls.googleapis.com/",
  "id": "datalineage:v1",
  "discoveryVersion": "v1",
  "name": "datalineage",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "processOpenLineageRunEvent": {
              "httpMethod": "POST",
              "description": "Creates new lineage events together with their parents: process and run. Updates the process and run if they already exist. Mapped from Open Lineage specification: https://github.com/OpenLineage/OpenLineage/blob/main/spec/OpenLineage.json.",
              "parameters": {
                "requestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project and its location that should own the process, run, and lineage event.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:processOpenLineageRunEvent",
              "path": "v1/{+parent}:processOpenLineageRunEvent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "datalineage.projects.locations.processOpenLineageRunEvent",
              "request": {
                "type": "object",
                "additionalProperties": {
                  "description": "Properties of the object.",
                  "type": "any"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse"
              }
            },
            "searchLineageStreaming": {
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse"
              },
              "id": "datalineage.projects.locations.searchLineageStreaming",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLineageStreaming",
              "path": "v1/{+parent}:searchLineageStreaming",
              "description": "Retrieves a streaming response of lineage links connected to the requested assets by performing a breadth-first search in the given direction. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. This method retrieves links from all valid locations provided in the request. This method supports Column-Level Lineage (CLL) along with wildcard support to retrieve all CLL for an Entity FQN. Following permissions are required to retrieve links: * `datalineage.events.get` permission for the project where the link is stored for entity-level lineage. * `datalineage.events.getFields` permission for the project where the link is stored for column-level lineage. This method also returns processes that created the links if explicitly requested by setting [max_process_per_link](google.cloud.datacatalog.lineage.v1.SearchLineageStreamingRequest.limits.max_process_per_link) is non-zero and full process details are requested via `links.processes.process` in the [FieldMask](https://developers.google.com/workspace/docs/api/how-tos/field-masks#read_with_a_field_mask). Permission required to retrieve processes: * `datalineage.processes.get` permission for the project where the process is stored.",
              "parameters": {
                "parent": {
                  "description": "Required. The project and location to initiate the search from.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "searchLinks": {
              "httpMethod": "POST",
              "description": "Retrieve a list of links connected to a specific asset. Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are stored in the same project as the Lineage Events that create them. You can retrieve links in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "parameters": {
                "parent": {
                  "description": "Required. The project and location you want search in.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchLinks",
              "path": "v1/{+parent}:searchLinks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "datalineage.projects.locations.searchLinks",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksRequest"
              },
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1SearchLinksResponse"
              }
            },
            "batchSearchLinkProcesses": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "datalineage.projects.locations.batchSearchLinkProcesses",
              "request": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest"
              },
              "response": {
                "$ref": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse"
              },
              "httpMethod": "POST",
              "description": "Retrieve information about LineageProcesses associated with specific links. LineageProcesses are transformation pipelines that result in data flowing from **source** to **target** assets. Links between assets represent this operation. If you have specific link names, you can use this method to verify which LineageProcesses contribute to creating those links. See the SearchLinks method for more information on how to retrieve link name. You can retrieve the LineageProcess information in every project where you have the `datalineage.events.get` permission. The project provided in the URL is used for Billing and Quota.",
              "parameters": {
                "parent": {
                  "description": "Required. The project and location where you want to search.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:batchSearchLinkProcesses",
              "path": "v1/{+parent}:batchSearchLinkProcesses"
            }
          },
          "resources": {
            "config": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.projects.locations.config.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "required": true
                    }
                  },
                  "description": "Get the Config for a given resource.",
                  "httpMethod": "GET"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/config",
                  "path": "v1/{+name}",
                  "description": "Update the Config for a given resource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/config$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.projects.locations.config.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "processes": {
              "methods": {
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "path": "v1/{+parent}/processes",
                  "description": "Creates a new process.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the project and its location that should own the process.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "id": "datalineage.projects.locations.processes.create",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/processes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the project and its location that owns this collection of processes.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of processes to return. The service may return fewer than this value. If unspecified, at most 50 processes are returned. The maximum value is 100; values greater than 100 are cut to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The page token received from a previous `ListProcesses` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token."
                    }
                  },
                  "description": "List processes in the given project and location. List order is descending by insertion time.",
                  "id": "datalineage.projects.locations.processes.list",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1ListProcessesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the details of the specified process.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the process to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datalineage.projects.locations.processes.get",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates a process.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update. Currently not used. The whole message is updated."
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true and the process is not found, the request inserts it."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided."
                    }
                  },
                  "id": "datalineage.projects.locations.processes.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageV1Process"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}",
                  "path": "v1/{+name}",
                  "description": "Deletes the process with the specified name.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the process to delete.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true and the process is not found, the request succeeds but the server doesn't perform any actions."
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalineage.projects.locations.processes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "runs": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the run to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Gets the details of the specified run.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "datalineage.projects.locations.processes.runs.get",
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "id": "datalineage.projects.locations.processes.runs.patch",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "path": "v1/{+name}",
                      "description": "Updates a run.",
                      "parameters": {
                        "allowMissing": {
                          "description": "Optional. If set to true and the run is not found, the request creates it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "required": true,
                          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The list of fields to update. Currently not used. The whole message is updated.",
                          "format": "google-fieldmask"
                        }
                      },
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}",
                      "path": "v1/{+name}",
                      "description": "Deletes the run with the specified name.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the run to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                          "required": true
                        },
                        "allowMissing": {
                          "description": "Optional. If set to true and the run is not found, the request succeeds but the server doesn't perform any actions.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "datalineage.projects.locations.processes.runs.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "id": "datalineage.projects.locations.processes.runs.create",
                      "request": {
                        "$ref": "GoogleCloudDatacatalogLineageV1Run"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "path": "v1/{+parent}/runs",
                      "description": "Creates a new run.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the process that should own the run.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatacatalogLineageV1ListRunsResponse"
                      },
                      "id": "datalineage.projects.locations.processes.runs.list",
                      "description": "Lists runs in the given project and location. List order is descending by `start_time`.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of process that owns this collection of runs.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of runs to return. The service may return fewer than this value. If unspecified, at most 50 runs are returned. The maximum value is 100; values greater than 100 are cut to 100."
                        },
                        "pageToken": {
                          "description": "Optional. The page token received from a previous `ListRuns` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs",
                      "path": "v1/{+parent}/runs"
                    }
                  },
                  "resources": {
                    "lineageEvents": {
                      "methods": {
                        "list": {
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.list",
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/lineageEvents",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "description": "Required. The name of the run that owns the collection of lineage events to get.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. The maximum number of lineage events to return. The service may return fewer events than this value. If unspecified, at most 50 events are returned. The maximum value is 100; values greater than 100 are cut to 100.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The page token received from a previous `ListLineageEvents` call. Specify it to get the next page. When paginating, all other parameters specified in this call must match the parameters of the call that provided the page token."
                            }
                          },
                          "description": "Lists lineage events in the given project and location. The list order is not defined."
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "description": "Deletes the lineage event with the specified name.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the lineage event to delete.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$"
                            },
                            "allowMissing": {
                              "description": "Optional. If set to true and the lineage event is not found, the request succeeds but the server doesn't perform any actions.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.delete",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "create": {
                          "path": "v1/{+parent}/lineageEvents",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "description": "Required. The name of the run that should own the lineage event.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "requestId": {
                              "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is idempotent only if a `request_id` is provided.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "description": "Creates a new lineage event.",
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.create",
                          "request": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
                          },
                          "id": "datalineage.projects.locations.processes.runs.lineageEvents.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processes/{processesId}/runs/{runsId}/lineageEvents/{lineageEventsId}",
                          "path": "v1/{+name}",
                          "description": "Gets details of a specified lineage event.",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the lineage event to get.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processes/[^/]+/runs/[^/]+/lineageEvents/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datalineage.projects.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "datalineage.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST"
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "datalineage.projects.locations.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "datalineage.projects.locations.operations.delete"
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.folders.locations.config.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "description": "Update the Config for a given resource.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/config$",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "path": "v1/{+name}"
                },
                "get": {
                  "flatPath": "v1/folders/{foldersId}/locations/{locationsId}/config",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Get the Config for a given resource.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^folders/[^/]+/locations/[^/]+/config$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "datalineage.folders.locations.config.get",
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "config": {
              "methods": {
                "patch": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Update the Config for a given resource.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$",
                      "required": true
                    }
                  },
                  "id": "datalineage.organizations.locations.config.patch",
                  "request": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1Config"
                  },
                  "id": "datalineage.organizations.locations.config.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. REQUIRED: The resource name of the config to be fetched. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/config$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Get the Config for a given resource.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/config"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "canonicalName": "Datalineage",
  "baseUrl": "https://datalineage.googleapis.com/",
  "rootUrl": "https://datalineage.googleapis.com/",
  "batchPath": "batch",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "version": "v1",
  "title": "Data Lineage API",
  "revision": "20260506",
  "documentationLink": "https://cloud.google.com/data-catalog",
  "basePath": "",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://datalineage.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-east2.rep.googleapis.com/",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://datalineage.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-south1.rep.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://datalineage.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://datalineage.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://datalineage.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-north3.rep.googleapis.com/",
      "location": "europe-north3",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://datalineage.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://datalineage.europe-west15.rep.googleapis.com/",
      "location": "europe-west15",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://datalineage.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://datalineage.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://datalineage.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1"
    },
    {
      "endpointUrl": "https://datalineage.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.southamerica-west1.rep.googleapis.com/",
      "location": "southamerica-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-central2.rep.googleapis.com/",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east1.rep.googleapis.com/",
      "location": "us-east1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://datalineage.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west2.rep.googleapis.com/",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://datalineage.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://datalineage.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://datalineage.eu.rep.googleapis.com/",
      "location": "eu"
    }
  ],
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingResponse",
      "type": "object",
      "properties": {
        "links": {
          "description": "Output only. The lineage links that match the search criteria. Can be empty if no links match.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLink"
          },
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. If non-empty, the result set might be incomplete. Currently, only locations are supported. Format: `projects/[PROJECT_NUMBER]/locations/[LOCATION]` Example: projects/123456789/locations/us-east1",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for SearchLineageStreaming."
    },
    "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse": {
      "id": "GoogleCloudDatacatalogLineageV1ListLineageEventsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "lineageEvents": {
          "type": "array",
          "description": "Lineage events from the specified project and location.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageEvent"
          }
        }
      },
      "description": "Response message for ListLineageEvents."
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits": {
      "description": "Limits for the search results.",
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits",
      "type": "object",
      "properties": {
        "maxProcessPerLink": {
          "description": "Optional. The maximum number of processes to return per link. The default value is 0 and the maximum value is 100. If this value is non-zero, the response will contain process names for the links. To retrieve full process details in the response, include `links.processes.process` in the [FieldMask](https://developers.google.com/workspace/docs/api/how-tos/field-masks#read_with_a_field_mask).",
          "format": "int32",
          "type": "integer"
        },
        "maxResults": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of links to return in the response. The default value is 1_000 and the maximum value is 10_000."
        },
        "maxDepth": {
          "type": "integer",
          "description": "Optional. The maximum depth of the search. The default value is 5 and maximum value is 100.",
          "format": "int32"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinkInfo": {
      "description": "Link details.",
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo",
      "type": "object",
      "properties": {
        "link": {
          "description": "The name of the link in the format of `projects/{project}/locations/{location}/links/{link}`.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start of the first event establishing this link-process tuple.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the last event establishing this link-process tuple.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion",
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Optional. List of rules for Data Lineage ingestion.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule"
          }
        }
      },
      "description": "Defines how Lineage should be ingested for a given resource."
    },
    "GoogleCloudDatacatalogLineageV1DependencyInfo": {
      "id": "GoogleCloudDatacatalogLineageV1DependencyInfo",
      "type": "object",
      "properties": {
        "dependencyType": {
          "type": "string",
          "enumDescriptions": [
            "Dependency type unspecified.",
            "Exact data copy without any change.",
            "Other types of dependencies like filtering or grouping."
          ],
          "enum": [
            "DEPENDENCY_TYPE_UNSPECIFIED",
            "EXACT_COPY",
            "OTHER"
          ],
          "description": "Required. Type of dependency."
        }
      },
      "description": "Dependency info describes how one entity depends on another."
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria",
      "type": "object",
      "properties": {
        "entities": {
          "description": "Optional. The entities to initiate the search from. Entities can be specified by FQN only, or by FQN and field. To search by FQN and all available fields for that FQN, use the wildcard `*` as the field value.",
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference"
        }
      },
      "description": "Criteria for the root of the search."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1Config": {
      "description": "Configuration for Data Lineage. Defines different configuration options for Lineage customers to control behaviour of lineage systems.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1Config",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the config. Format: `organizations/{organization_id}/locations/global/config` `folders/{folder_id}/locations/global/config` `projects/{project_id}/locations/global/config` `projects/{project_number}/locations/global/config`",
          "type": "string"
        },
        "ingestion": {
          "description": "Optional. Ingestion rule for Data Lineage ingestion.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestion"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a config from overwriting each other. It is required that systems make use of the `etag` in the read-modify-write cycle to perform config updates in order to avoid race conditions: An `etag` is returned in the response to `GetConfig`, and systems are expected to put that etag in the request to `UpdateConfig` to ensure that their change will be applied to the same version of the config. If an `etag` is not provided in the call to `UpdateConfig`, then the existing config, if any, will be overwritten.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1ListRunsResponse": {
      "description": "Response message for ListRuns.",
      "id": "GoogleCloudDatacatalogLineageV1ListRunsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the next call to get the next page. If this field is omitted, there are no subsequent pages."
        },
        "runs": {
          "type": "array",
          "description": "The runs from the specified project and location.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Run"
          }
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDatacatalogLineageV1Link": {
      "description": "Links represent the data flow between **source** (upstream) and **target** (downstream) assets in transformation pipelines. Links are created when LineageEvents record data transformation between related assets.",
      "id": "GoogleCloudDatacatalogLineageV1Link",
      "type": "object",
      "properties": {
        "dependencyInfo": {
          "type": "array",
          "description": "Optional. The dependency info of the link (applies only to column level links).",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LinkDependencyInfo"
          }
        },
        "target": {
          "description": "The pointer to the entity that is the **target** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "name": {
          "description": "Output only. Immutable. The name of the link. Format: `projects/{project}/locations/{location}/links/{link}`.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the first event establishing this link."
        },
        "source": {
          "description": "The pointer to the entity that is the **source** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "endTime": {
          "description": "The end of the last event establishing this link.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse": {
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesResponse",
      "type": "object",
      "properties": {
        "processLinks": {
          "type": "array",
          "description": "An array of processes associated with the specified links.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinks"
          }
        },
        "nextPageToken": {
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response.",
          "type": "string"
        }
      },
      "description": "Response message for BatchSearchLinkProcesses."
    },
    "GoogleCloudDatacatalogLineageV1Run": {
      "description": "A lineage run represents an execution of a process that creates lineage events.",
      "id": "GoogleCloudDatacatalogLineageV1Run",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Optional. The attributes of the run. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the run). Up to 100 attributes are allowed.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The timestamp of the end of the run.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 200 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`"
        },
        "startTime": {
          "type": "string",
          "description": "Required. The timestamp of the start of the run.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Required. The state of the run.",
          "enum": [
            "UNKNOWN",
            "STARTED",
            "COMPLETED",
            "FAILED",
            "ABORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. The true state may be any of the below or a different state that is not supported here explicitly.",
            "The run is still executing.",
            "The run completed.",
            "The run failed.",
            "The run aborted."
          ]
        },
        "name": {
          "description": "Immutable. The resource name of the run. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`. Can be specified or auto-assigned. {run} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`",
          "type": "string"
        }
      }
    },
    "GoogleTypeInterval": {
      "id": "GoogleTypeInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement": {
      "description": "Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. If true, ingestion of lineage should be enabled. If false, it should be disabled. If unspecified, the system default value is used.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1Origin": {
      "description": "Origin of a process.",
      "id": "GoogleCloudDatacatalogLineageV1Origin",
      "type": "object",
      "properties": {
        "sourceType": {
          "description": "Type of the source. Use of a source_type other than `CUSTOM` for process creation or updating is highly discouraged. It might be restricted in the future without notice. There will be increase in cost if you use any of the source types other than `CUSTOM`.",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CUSTOM",
            "BIGQUERY",
            "DATA_FUSION",
            "COMPOSER",
            "LOOKER_STUDIO",
            "DATAPROC",
            "VERTEX_AI",
            "DATAFLOW",
            "LOOKER_CORE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Source is Unspecified",
            "A custom source",
            "BigQuery",
            "Data Fusion",
            "Composer",
            "Looker Studio",
            "Dataproc",
            "Vertex AI",
            "Dataflow",
            "Looker Core"
          ]
        },
        "name": {
          "type": "string",
          "description": "If the source_type isn't CUSTOM, the value of this field should be a Google Cloud resource name of the system, which reports lineage. The project and location parts of the resource name must match the project and location of the lineage resource being created. Examples: - `{source_type: COMPOSER, name: \"projects/foo/locations/us/environments/bar\"}` - `{source_type: BIGQUERY, name: \"projects/foo/locations/eu\"}` - `{source_type: CUSTOM, name: \"myCustomIntegration\"}`"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksResponse": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksResponse",
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "description": "The list of links for a given asset. Can be empty if the asset has no relations of requested type (source or target).",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1Link"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to specify as `page_token` in the subsequent call to get the next page. Omitted if there are no more pages in the response."
        }
      },
      "description": "Response message for SearchLinks."
    },
    "GoogleCloudDatacatalogLineageV1LineageLink": {
      "id": "GoogleCloudDatacatalogLineageV1LineageLink",
      "type": "object",
      "properties": {
        "dependencyInfo": {
          "type": "array",
          "description": "Describes how the target entity is dependent on the source entity.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLinkDependencyInfo"
          }
        },
        "target": {
          "description": "The entity that is the **target** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "processes": {
          "type": "array",
          "description": "Processes metadata associated with the link.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess"
          }
        },
        "depth": {
          "type": "integer",
          "description": "Depth of the current link in the graph starting from 1.",
          "format": "int32"
        },
        "location": {
          "type": "string",
          "description": "The location where the LineageEvent that created the link is stored."
        },
        "source": {
          "description": "The entity that is the **source** of this link.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        }
      },
      "description": "Lineage link between two entities."
    },
    "GoogleCloudDatacatalogLineageV1MultipleEntityReference": {
      "id": "GoogleCloudDatacatalogLineageV1MultipleEntityReference",
      "type": "object",
      "properties": {
        "entities": {
          "description": "Optional. The list of entities to search for links. The maximum number of entities is 20.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
          },
          "type": "array"
        }
      },
      "description": "Multiple entity reference for SearchLinksRequest."
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters",
      "type": "object",
      "properties": {
        "dependencyTypes": {
          "description": "Optional. Types of dependencies between entities to retrieve. If unspecified, all dependency types are returned.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Dependency type unspecified.",
              "Exact data copy without any change.",
              "Other types of dependencies like filtering or grouping."
            ],
            "enum": [
              "DEPENDENCY_TYPE_UNSPECIFIED",
              "EXACT_COPY",
              "OTHER"
            ]
          },
          "type": "array"
        },
        "entitySet": {
          "type": "string",
          "enumDescriptions": [
            "The entity set is unspecified. Returns all the data.",
            "Returns entities with only FQN specified. For example, entities with the `field` field set are not returned."
          ],
          "enum": [
            "ENTITY_SET_UNSPECIFIED",
            "ENTITIES"
          ],
          "description": "Optional. Entity set restriction. If unspecified, the method returns all entities."
        },
        "timeRange": {
          "description": "Optional. Time interval to search for lineage. If unspecified, all lineage is returned. Currently, at most one of `start_time` and `end_time` can be set.",
          "$ref": "GoogleTypeInterval"
        }
      },
      "description": "Filters for the search."
    },
    "GoogleCloudDatacatalogLineageV1OperationMetadata": {
      "id": "GoogleCloudDatacatalogLineageV1OperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp of the operation termination, regardless of its success. This field is unset if the operation is still ongoing.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created but is not yet started.",
            "The operation is underway.",
            "The operation completed successfully.",
            "The operation is no longer running and did not succeed."
          ],
          "description": "Output only. The current operation state."
        },
        "resourceUuid": {
          "description": "Output only. The UUID of the resource being operated on.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [relative name] (https://cloud.google.com//apis/design/resource_names#relative_resource_name) of the resource being operated on."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of the operation submission to the server.",
          "format": "google-datetime"
        },
        "operationType": {
          "description": "Output only. The type of the operation being performed.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "DELETE",
            "CREATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The resource deletion operation.",
            "The resource creation operation."
          ]
        }
      },
      "description": "Metadata describing the operation."
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDatacatalogLineageV1Process": {
      "id": "GoogleCloudDatacatalogLineageV1Process",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. A human-readable name you can set to display in a user interface. Must be not longer than 200 characters and only contain UTF-8 letters or numbers, spaces or characters like `_-:&.`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the lineage process. Format: `projects/{project}/locations/{location}/processes/{process}`. Can be specified or auto-assigned. {process} must be not longer than 200 characters and only contain characters in a set: `a-zA-Z0-9_-:.`"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Optional. The attributes of the process. Should only be used for the purpose of non-semantic management (classifying, describing or labeling the process). Up to 100 attributes are allowed."
        },
        "origin": {
          "description": "Optional. The origin of this process and its runs and lineage events.",
          "$ref": "GoogleCloudDatacatalogLineageV1Origin"
        }
      },
      "description": "A process is the definition of a data transformation operation."
    },
    "GoogleCloudDatacatalogLineageV1EntityReference": {
      "description": "The soft reference to everything you can attach a lineage event to.",
      "id": "GoogleCloudDatacatalogLineageV1EntityReference",
      "type": "object",
      "properties": {
        "fullyQualifiedName": {
          "description": "Required. [Fully Qualified Name (FQN)](https://cloud.google.com/dataplex/docs/fully-qualified-names) of the entity.",
          "type": "string"
        },
        "field": {
          "description": "Optional. Field path within the entity. Each nesting level should be a separate value in the repeated field. The order matters. Must be empty for asset level lineage For example to address \"salary.net\" subfield where \"salary\" is a column and \"net\" is a proto field two values in the `field` should be reported, the first is \"salary\" and the second is \"net\". Each field length is limited to 500 characters. Maximum supported nesting level is 20.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest": {
      "description": "Request message for SearchLineageStreaming.",
      "id": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequest",
      "type": "object",
      "properties": {
        "direction": {
          "enum": [
            "SEARCH_DIRECTION_UNSPECIFIED",
            "DOWNSTREAM",
            "UPSTREAM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Direction is unspecified.",
            "Retrieve links that lead from the specified asset to downstream assets.",
            "Retrieve links that lead from upstream assets to the specified asset."
          ],
          "description": "Required. Direction of the search."
        },
        "locations": {
          "description": "Required. The locations to search in.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "limits": {
          "description": "Optional. Limits for the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchLimits"
        },
        "rootCriteria": {
          "description": "Required. Criteria for the root of the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestRootCriteria"
        },
        "filters": {
          "description": "Optional. Filters for the search.",
          "$ref": "GoogleCloudDatacatalogLineageV1SearchLineageStreamingRequestSearchFilters"
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess": {
      "id": "GoogleCloudDatacatalogLineageV1LineageLinkLineageProcess",
      "type": "object",
      "properties": {
        "process": {
          "description": "Process that created the link.",
          "$ref": "GoogleCloudDatacatalogLineageV1Process"
        }
      },
      "description": "Process metadata for the link."
    },
    "GoogleCloudDatacatalogLineageV1ProcessLinks": {
      "description": "Links associated with a specific process.",
      "id": "GoogleCloudDatacatalogLineageV1ProcessLinks",
      "type": "object",
      "properties": {
        "process": {
          "type": "string",
          "description": "The process name in the format of `projects/{project}/locations/{location}/processes/{process}`."
        },
        "links": {
          "description": "An array containing link details objects of the links provided in the original request. A single process can result in creating multiple links. If any of the links you provide in the request are created by the same process, they all are included in this array.",
          "items": {
            "$ref": "GoogleCloudDatacatalogLineageV1ProcessLinkInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector": {
      "description": "Integration selector of the rule. The rule is only applied to the Integration selected by the selector.",
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector",
      "type": "object",
      "properties": {
        "integration": {
          "description": "Required. Integration to which the rule applies. This field can be used to specify the integration against which the ingestion rule should be applied.",
          "enum": [
            "INTEGRATION_UNSPECIFIED",
            "DATAPROC",
            "LOOKER_CORE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Integration is Unspecified",
            "Dataproc",
            "Looker Core"
          ]
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest": {
      "description": "Request message for BatchSearchLinkProcesses.",
      "id": "GoogleCloudDatacatalogLineageV1BatchSearchLinkProcessesRequest",
      "type": "object",
      "properties": {
        "links": {
          "description": "Required. An array of links to check for their associated LineageProcesses. The maximum number of items in this array is 100. If the request contains more than 100 links, it returns the `INVALID_ARGUMENT` error. Format: `projects/{project}/locations/{location}/links/{link}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pageSize": {
          "description": "Optional. The maximum number of processes to return in a single page of the response. A page may contain fewer results than this value.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "The page token received from a previous `BatchSearchLinkProcesses` call. Use it to get the next page. When requesting subsequent pages of a response, remember that all parameters must match the values you provided in the original request."
        }
      }
    },
    "GoogleCloudDatacatalogLineageV1EventLink": {
      "id": "GoogleCloudDatacatalogLineageV1EventLink",
      "type": "object",
      "properties": {
        "target": {
          "description": "Required. Reference to the target entity",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "dependencyInfo": {
          "description": "Optional. Describes how the target depends on the source.",
          "$ref": "GoogleCloudDatacatalogLineageV1DependencyInfo"
        },
        "source": {
          "description": "Required. Reference to the source entity",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        }
      },
      "description": "A lineage between source and target entities."
    },
    "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule": {
      "id": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRule",
      "type": "object",
      "properties": {
        "integrationSelector": {
          "description": "Required. Integration selector of the rule. The rule is only applied to the Integration selected by the selector.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleIntegrationSelector"
        },
        "lineageEnablement": {
          "description": "Required. Lineage enablement configuration. Defines configurations for the ingestion of lineage for the resource and its children. If unspecified, the ingestion will be enabled only if it was configured in the resource's parent.",
          "$ref": "GoogleCloudDatacatalogLineageConfigmanagementV1ConfigIngestionIngestionRuleLineageEnablement"
        }
      },
      "description": "Ingestion rule for Data Lineage ingestion."
    },
    "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse": {
      "id": "GoogleCloudDatacatalogLineageV1ProcessOpenLineageRunEventResponse",
      "type": "object",
      "properties": {
        "process": {
          "type": "string",
          "description": "Created process name. Format: `projects/{project}/locations/{location}/processes/{process}`."
        },
        "run": {
          "description": "Created run name. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}`.",
          "type": "string"
        },
        "lineageEvents": {
          "description": "Created lineage event names. Format: `projects/{project}/locations/{location}/processes/{process}/runs/{run}/lineageEvents/{lineage_event}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for ProcessOpenLineageRunEvent."
    },
    "GoogleCloudDatacatalogLineageV1SearchLinksRequest": {
      "id": "GoogleCloudDatacatalogLineageV1SearchLinksRequest",
      "type": "object",
      "properties": {
        "targets": {
          "description": "Optional. Send a list of asset information in the **targets** field to retrieve all links that lead from upstream assets to the specified assets. This field is similar to the `target` target field but allows providing multiple entities. All entities within the `MultipleEntityReference` must have the same `fully_qualified_name`.",
          "$ref": "GoogleCloudDatacatalogLineageV1MultipleEntityReference"
        },
        "source": {
          "description": "Optional. Send asset information in the **source** field to retrieve all links that lead from the specified asset to downstream assets.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "target": {
          "description": "Optional. Send asset information in the **target** field to retrieve all links that lead from upstream assets to the specified asset.",
          "$ref": "GoogleCloudDatacatalogLineageV1EntityReference"
        },
        "sources": {
          "description": "Optional. Send a list of asset information in the **sources** field to retrieve all links that lead from the specified assets to downstream assets. This field is similar to the `source` source field but allows providing multiple entities. All entities within the `MultipleEntityReference` must have the same `fully_qualified_name`.",
[...]
