{
  "baseUrl": "https://datalabeling.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "name": "datalabeling",
  "version": "v1beta1",
  "resources": {
    "projects": {
      "resources": {
        "annotationSpecSets": {
          "methods": {
            "delete": {
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an annotation spec set by resource name.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`."
                }
              },
              "httpMethod": "DELETE",
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "description": "Creates an annotation spec set by providing a set of labels.",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              },
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.annotationSpecSets.create"
            },
            "get": {
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "id": "datalabeling.projects.annotationSpecSets.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an annotation spec set by resource name.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "required": true
                }
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "Optional. Filter is not supported at this moment.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty."
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "description": "Lists annotation spec sets for a project. Pagination is supported.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "id": "datalabeling.projects.annotationSpecSets.list"
            }
          }
        },
        "evaluationJobs": {
          "methods": {
            "pause": {
              "path": "v1beta1/{+name}:pause",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "datalabeling.projects.evaluationJobs.pause",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\""
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty.",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\"",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "id": "datalabeling.projects.evaluationJobs.list",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1beta1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\""
                }
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "id": "datalabeling.projects.evaluationJobs.patch",
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": " Creates an evaluation job.",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              },
              "httpMethod": "POST",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.evaluationJobs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "resume": {
              "id": "datalabeling.projects.evaluationJobs.resume",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:resume",
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an evaluation job by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\""
                }
              },
              "id": "datalabeling.projects.evaluationJobs.get"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Stops and deletes an evaluation job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.evaluationJobs.delete",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              }
            }
          }
        },
        "instructions": {
          "methods": {
            "create": {
              "description": "Creates an instruction for how data should be labeled.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1beta1/{+parent}/instructions",
              "id": "datalabeling.projects.instructions.create",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists instructions for a project. Pagination is supported.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.instructions.list",
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Optional. Filter is not supported at this moment.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v1beta1/{+parent}/instructions"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$"
                }
              },
              "description": "Gets an instruction by resource name.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.instructions.get",
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}"
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.instructions.delete",
              "description": "Deletes an instruction object by resource name.",
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}"
                }
              }
            }
          }
        },
        "datasets": {
          "methods": {
            "exportData": {
              "id": "datalabeling.projects.datasets.exportData",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "location": "path",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:exportData",
              "description": "Exports data and annotations from dataset.",
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "datalabeling.projects.datasets.get",
              "description": "Gets dataset by resource name.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "required": true,
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "importData": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "datalabeling.projects.datasets.importData",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData",
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1beta1/{+name}:importData",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/datasets",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. Filter on dataset is not supported at this moment.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty."
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "description": "Lists datasets under a project. Pagination is supported.",
              "id": "datalabeling.projects.datasets.list"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "location": "path",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
                }
              },
              "id": "datalabeling.projects.datasets.delete",
              "description": "Deletes a dataset by resource name.",
              "path": "v1beta1/{+name}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": " Creates dataset. If success return a Dataset resource.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "id": "datalabeling.projects.datasets.create",
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "path": "v1beta1/{+parent}/datasets"
            }
          },
          "resources": {
            "image": {
              "methods": {
                "label": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": " Starts a labeling task for image. The type of image labeling task is configured by feature in the request.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label",
                  "path": "v1beta1/{+parent}/image:label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "id": "datalabeling.projects.datasets.image.label",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "evaluations": {
              "methods": {
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": " Gets an evaluation by resource name (to search, use projects.evaluations.search).",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.evaluations.get",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  },
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\"",
                          "location": "path"
                        }
                      },
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID."
                    }
                  }
                }
              }
            },
            "text": {
              "methods": {
                "label": {
                  "httpMethod": "POST",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label",
                  "id": "datalabeling.projects.datasets.text.label",
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/text:label",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            },
            "dataItems": {
              "methods": {
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "id": "datalabeling.projects.datasets.dataItems.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  },
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "location": "query"
                    }
                  },
                  "id": "datalabeling.projects.datasets.dataItems.list",
                  "path": "v1beta1/{+parent}/dataItems",
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "annotatedDatasets": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "description": "Gets an annotated dataset by resource name.",
                  "httpMethod": "GET",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter is not supported at this moment.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets",
                  "description": "Lists annotated datasets for a dataset. Pagination is supported."
                },
                "delete": {
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "location": "path"
                    }
                  },
                  "description": "Deletes an annotated dataset by resource name.",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete"
                }
              },
              "resources": {
                "dataItems": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$"
                        }
                      },
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/dataItems",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filter is not supported at this moment.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems",
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported."
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "get": {
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}",
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Example resource parent."
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty."
                        }
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "description": "Lists examples in an annotated dataset. Pagination is supported.",
                      "path": "v1beta1/{+parent}/examples"
                    }
                  }
                },
                "feedbackThreads": {
                  "methods": {
                    "delete": {
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1beta1/{+name}",
                      "description": "Delete a FeedbackThread."
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\"",
                          "required": true
                        }
                      },
                      "description": "List FeedbackThreads with pagination.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "description": " Get a FeedbackThread object.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'."
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "get": {
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'."
                            }
                          },
                          "description": "Get a FeedbackMessage object.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          }
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'."
                            }
                          },
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "path": "v1beta1/{+name}",
                          "description": "Delete a FeedbackMessage.",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete"
                        },
                        "create": {
                          "httpMethod": "POST",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "type": "string"
                            }
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "description": "Create a FeedbackMessage object.",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "List FeedbackMessages with pagination.",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "type": "string",
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\""
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty."
                            }
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "video": {
              "methods": {
                "label": {
                  "path": "v1beta1/{+parent}/video:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "datalabeling.projects.datasets.video.label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  },
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        },
        "evaluations": {
          "methods": {
            "search": {
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "parameterOrder": [
                "parent"
              ],
              "description": "Searches evaluations within a project.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.evaluations.search",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\"",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search."
                }
              },
              "path": "v1beta1/{+parent}/evaluations:search"
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "GET",
              "id": "datalabeling.projects.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:cancel"
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource."
                }
              },
              "id": "datalabeling.projects.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "id": "datalabeling.projects.operations.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.operations.list",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/operations",
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1beta1/{+name}/operations"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "revision": "20260210",
  "canonicalName": "Data Labeling",
  "rootUrl": "https://datalabeling.googleapis.com/",
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "id": "datalabeling:v1beta1",
  "version_module": true,
  "mtlsRootUrl": "https://datalabeling.mtls.googleapis.com/",
  "title": "Data Labeling API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDatalabelingV1beta1CreateInstructionMetadata": {
      "description": "Metadata of a CreateInstruction operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Timestamp when create instruction request was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}"
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1CreateInstructionMetadata"
    },
    "GoogleCloudDatalabelingV1p1alpha1GcsDestination": {
      "id": "GoogleCloudDatalabelingV1p1alpha1GcsDestination",
      "properties": {
        "outputUri": {
          "description": "Required. The output uri of destination file.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported."
        }
      },
      "description": "Export destination of the data.Only gcs path is allowed in output_uri.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata": {
      "type": "object",
      "properties": {
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when import dataset request was created.",
          "type": "string"
        },
        "dataset": {
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\"",
          "type": "string"
        }
      },
      "description": "Metadata of an ImportData operation.",
      "id": "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelImageBoundingBox operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata"
    },
    "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata": {
      "properties": {
        "partialFailures": {
          "type": "array",
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "instruction": {
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when create instruction request was created."
        }
      },
      "id": "GoogleCloudDatalabelingV1alpha1CreateInstructionMetadata",
      "type": "object",
      "description": "Metadata of a CreateInstruction operation."
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata",
      "description": "Details of LabelImagePolyline operation metadata.",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1Vertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1Vertex",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "type": "integer",
          "format": "int32"
        },
        "y": {
          "format": "int32",
          "description": "Y coordinate.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata": {
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1OutputConfig": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1OutputConfig",
      "properties": {
        "gcsDestination": {
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsDestination"
        },
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination"
        }
      },
      "description": "The configuration of output data."
    },
    "GoogleCloudDatalabelingV1beta1EventConfig": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1EventConfig",
      "properties": {
        "annotationSpecSets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of annotation spec set resource name. Similar to video classification, we support selecting event from multiple AnnotationSpecSet at the same time."
        },
        "overlapLength": {
          "description": "The overlap length between different video clips. Users can configure is field in seconds, if not set, default value is 1s.",
          "type": "integer",
          "format": "int32"
        },
        "clipLength": {
          "description": "Videos will be cut to smaller clips to make it easier for labelers to work on. Users can configure is field in seconds, if not set, default value is 60s.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Config for video event human labeling task."
    },
    "GoogleCloudDatalabelingV1beta1CreateInstructionRequest": {
      "description": "Request message for CreateInstruction.",
      "id": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest",
      "properties": {
        "instruction": {
          "description": "Required. Instruction of how to perform the labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Row": {
      "id": "GoogleCloudDatalabelingV1beta1Row",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry"
          },
          "type": "array",
          "description": "A list of the confusion matrix entries. One entry for each possible predicted label."
        },
        "annotationSpec": {
          "description": "The annotation spec of the ground truth label for this row.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        }
      },
      "description": "A row in the confusion matrix. Each entry in this row has the same ground truth label."
    },
    "GoogleCloudDatalabelingV1beta1NormalizedPolyline": {
      "id": "GoogleCloudDatalabelingV1beta1NormalizedPolyline",
      "type": "object",
      "properties": {
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1NormalizedVertex"
          },
          "description": "The normalized polyline vertices.",
          "type": "array"
        }
      },
      "description": "Normalized polyline."
    },
    "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Metadata of a LabelImageClassification operation.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata": {
      "type": "object",
      "properties": {},
      "description": "Metadata describing the feedback from the labeling task requester.",
      "id": "GoogleCloudDatalabelingV1beta1RequesterFeedbackMetadata"
    },
    "GoogleCloudDatalabelingV1beta1SentimentConfig": {
      "type": "object",
      "properties": {
        "enableLabelSentimentSelection": {
          "description": "If set to true, contributors will have the option to select sentiment of the label they selected, to mark it as negative or positive label. Default is false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1SentimentConfig",
      "description": "Config for setting up sentiments."
    },
    "GoogleCloudDatalabelingV1beta1ExportDataRequest": {
      "id": "GoogleCloudDatalabelingV1beta1ExportDataRequest",
      "description": "Request message for ExportData API.",
      "type": "object",
      "properties": {
        "userEmailAddress": {
          "type": "string",
          "description": "Email of the user who started the export task and should be notified by email. If empty no notification will be sent."
        },
        "annotatedDataset": {
          "description": "Required. Annotated dataset resource name. DataItem in Dataset and their annotations in specified annotated dataset will be exported. It's in format of projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
          "type": "string"
        },
        "outputConfig": {
          "description": "Required. Specify the output destination.",
          "$ref": "GoogleCloudDatalabelingV1beta1OutputConfig"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter is not supported at this moment."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry": {
      "type": "object",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "The annotation spec of a predicted label."
        },
        "itemCount": {
          "format": "int32",
          "description": "Number of items predicted to have this label. (The ground truth label for these items is the `Row.annotationSpec` of this entry's parent.)",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry"
    },
    "GoogleCloudDatalabelingV1beta1VideoThumbnail": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1VideoThumbnail",
      "description": "Container of information of a video thumbnail.",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the video, corresponding to the video frame where the thumbnail has been extracted from."
        },
        "thumbnail": {
          "type": "string",
          "format": "byte",
          "description": "A byte string of the video frame."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1EvaluationConfig": {
      "description": "Configuration details used for calculating evaluation metrics and creating an Evaluation.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
      "properties": {
        "boundingBoxEvaluationOptions": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
          "description": "Only specify this field if the related model performs image object detection (`IMAGE_BOUNDING_BOX_ANNOTATION`). Describes how to evaluate bounding boxes."
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1CreateInstructionMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Timestamp when create instruction request was created.",
          "format": "google-datetime"
        },
        "instruction": {
          "type": "string",
          "description": "The name of the created Instruction. projects/{project_id}/instructions/{instruction_id}"
        },
        "partialFailures": {
          "type": "array",
          "description": "Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Metadata of a CreateInstruction operation.",
      "id": "GoogleCloudDatalabelingV1p1alpha1CreateInstructionMetadata"
    },
    "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata": {
      "description": "Metadata of an ExportData operation.",
      "id": "GoogleCloudDatalabelingV1alpha1ExportDataOperationMetadata",
      "properties": {
        "partialFailures": {
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be exported. \"projects/*/datasets/*\""
        },
        "createTime": {
          "description": "Output only. Timestamp when export dataset request was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata": {
      "type": "object",
      "description": "Metadata of a LabelImageClassification operation.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig": {
      "type": "object",
      "description": "Annotation spec set with the setting of allowing multi labels or not.",
      "properties": {
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        },
        "allowMultiLabel": {
          "type": "boolean",
          "description": "Optional. If allow_multi_label is true, contributors are able to choose multiple labels from one annotation spec set."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1AnnotationSpecSetConfig"
    },
    "GoogleCloudDatalabelingV1beta1Evaluation": {
      "description": "Describes an evaluation between a machine learning model's predictions and ground truth labels. Created when an EvaluationJob runs successfully.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1Evaluation",
      "properties": {
        "evaluatedItemCount": {
          "description": "Output only. The number of items in the ground truth dataset that were used for this evaluation. Only populated when the evaulation is for certain AnnotationTypes.",
          "format": "int64",
          "type": "string"
        },
        "evaluationMetrics": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationMetrics",
          "description": "Output only. Metrics comparing predictions to ground truth labels."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an evaluation. The name has the following format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}'"
        },
        "annotationType": {
          "type": "string",
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "description": "Output only. Type of task that the model version being evaluated performs, as defined in the evaluationJobConfig.inputConfig.annotationType field of the evaluation job that created this evaluation.",
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp for when this evaluation was created.",
          "type": "string"
        },
        "evaluationJobRunTime": {
          "description": "Output only. Timestamp for when the evaluation job that created this evaluation ran.",
          "type": "string",
          "format": "google-datetime"
        },
        "config": {
          "description": "Output only. Options used in the evaluation job that created this evaluation.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions": {
      "description": "Options regarding evaluation between bounding boxes.",
      "id": "GoogleCloudDatalabelingV1beta1BoundingBoxEvaluationOptions",
      "type": "object",
      "properties": {
        "iouThreshold": {
          "description": "Minimum [intersection-over-union (IOU)](/vision/automl/object-detection/docs/evaluate#intersection-over-union) required for 2 bounding boxes to be considered a match. This must be a number between 0 and 1.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1AnnotatedDatasetMetadata",
      "properties": {
        "eventConfig": {
          "description": "Configuration for video event labeling task.",
          "$ref": "GoogleCloudDatalabelingV1beta1EventConfig"
        },
        "videoClassificationConfig": {
          "description": "Configuration for video classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1VideoClassificationConfig"
        },
        "segmentationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1SegmentationConfig",
          "description": "Configuration for image segmentation task."
        },
        "objectDetectionConfig": {
          "description": "Configuration for video object detection task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectDetectionConfig"
        },
        "textEntityExtractionConfig": {
          "description": "Configuration for text entity extraction task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextEntityExtractionConfig"
        },
        "boundingPolyConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1BoundingPolyConfig",
          "description": "Configuration for image bounding box and bounding poly task."
        },
        "imageClassificationConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImageClassificationConfig",
          "description": "Configuration for image classification task."
        },
        "polylineConfig": {
          "description": "Configuration for image polyline task.",
          "$ref": "GoogleCloudDatalabelingV1beta1PolylineConfig"
        },
        "objectTrackingConfig": {
          "description": "Configuration for video object tracking task.",
          "$ref": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig"
        },
        "humanAnnotationConfig": {
          "description": "HumanAnnotationConfig used when requesting the human labeling task for this AnnotatedDataset.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        },
        "textClassificationConfig": {
          "description": "Configuration for text classification task.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextClassificationConfig"
        }
      },
      "description": "Metadata on AnnotatedDataset.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectTrackingOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoObjectTracking operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectTrackingOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig": {
      "type": "object",
      "description": "Configuration for how human labeling task should be done.",
      "id": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
      "properties": {
        "instruction": {
          "type": "string",
          "description": "Required. Instruction resource name."
        },
        "replicaCount": {
          "type": "integer",
[...]
