{
  "canonicalName": "Data Manager",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version": "v1",
  "documentationLink": "https://developers.google.com/data-manager",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "rootUrl": "https://datamanager.googleapis.com/",
  "servicePath": "",
  "name": "datamanager",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "id": "datamanager:v1",
  "batchPath": "batch",
  "revision": "20260401",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "audienceMembers": {
      "methods": {
        "ingest": {
          "flatPath": "v1/audienceMembers:ingest",
          "description": "Uploads a list of AudienceMember resources to the provided Destination.",
          "id": "datamanager.audienceMembers.ingest",
          "response": {
            "$ref": "IngestAudienceMembersResponse"
          },
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ],
          "parameterOrder": [],
          "path": "v1/audienceMembers:ingest",
          "request": {
            "$ref": "IngestAudienceMembersRequest"
          }
        },
        "remove": {
          "id": "datamanager.audienceMembers.remove",
          "response": {
            "$ref": "RemoveAudienceMembersResponse"
          },
          "flatPath": "v1/audienceMembers:remove",
          "description": "Removes a list of AudienceMember resources from the provided Destination.",
          "parameterOrder": [],
          "path": "v1/audienceMembers:remove",
          "request": {
            "$ref": "RemoveAudienceMembersRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ]
        }
      }
    },
    "events": {
      "methods": {
        "ingest": {
          "response": {
            "$ref": "IngestEventsResponse"
          },
          "id": "datamanager.events.ingest",
          "flatPath": "v1/events:ingest",
          "description": "Uploads a list of Event resources from the provided Destination.",
          "path": "v1/events:ingest",
          "request": {
            "$ref": "IngestEventsRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ]
        }
      }
    },
    "accountTypes": {
      "resources": {
        "accounts": {
          "resources": {
            "partnerLinks": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/partnerLinks",
                  "request": {
                    "$ref": "PartnerLink"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of partner links. Format: accountTypes/{account_type}/accounts/{account}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.partnerLinks.create",
                  "response": {
                    "$ref": "PartnerLink"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks",
                  "description": "Creates a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`"
                },
                "search": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks:search",
                  "description": "Searches for all partner links to and from a given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.search",
                  "response": {
                    "$ref": "SearchPartnerLinksResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to search for partner links. If no `filter` is specified, all partner links where this account is either the `owning_account` or `partner_account` are returned. Format: `accountTypes/{account_type}/accounts/{account}`"
                    },
                    "pageSize": {
                      "description": "The maximum number of partner links to return. The service may return fewer than this value. If unspecified, at most 10 partner links will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `SearchPartnerLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchPartnerLinks` must match the call that provided the page token."
                    },
                    "filter": {
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `partner_link_id = 123456789`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` Supported fields: - `partner_link_id` - `owning_account.account_type` - `owning_account.account_id` - `partner_account.account_type` - `partner_account.account_id` Example: `owning_account.account_type = \"GOOGLE_ADS\" AND partner_account.account_id = 987654321`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/partnerLinks:search"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/partnerLinks/[^/]+$",
                      "description": "Required. The resource name of the partner link to delete. Format: accountTypes/{account_type}/accounts/{account}/partnerLinks/{partner_link}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/partnerLinks/{partnerLinksId}",
                  "description": "Deletes a partner link for the given account. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}`",
                  "id": "datamanager.accountTypes.accounts.partnerLinks.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "userListDirectLicenses": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.create",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "description": "Creates a user list direct license. This feature is only available to data partners."
                },
                "get": {
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.get",
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "description": "Retrieves a user list direct license. This feature is only available to data partners.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the user list direct license.",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "UserListDirectLicense"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListDirectLicenses/[^/]+$",
                      "description": "Identifier. The resource name of the user list direct license.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "UserListDirectLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.patch",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses/{userListDirectLicensesId}",
                  "description": "Updates a user list direct license. This feature is only available to data partners."
                },
                "list": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListDirectLicenses",
                  "description": "Lists all user list direct licenses owned by the parent account. This feature is only available to data partners.",
                  "response": {
                    "$ref": "ListUserListDirectLicensesResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userListDirectLicenses.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of licenses to return per page. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+parent}/userListDirectLicenses",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "userLists": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/userLists",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of user lists to return. The service may return fewer than this value. If unspecified, at most 50 user lists will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListUserLists` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLists` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A [filter string](https://google.aip.dev/160). All fields need to be on the left hand side of each condition (for example: `display_name = \"list 1\"`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. Supported operations: - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` - `:` (has) Supported fields: - `id` - `display_name` - `description` - `membership_status` - `integration_code` - `access_reason` - `ingested_user_list_info.upload_key_types`",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The parent account which owns this collection of user lists. Format: accountTypes/{account_type}/accounts/{account}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "response": {
                    "$ref": "ListUserListsResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.list",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "description": "Lists UserLists. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                },
                "delete": {
                  "id": "datamanager.accountTypes.accounts.userLists.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "description": "Deletes a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the user list to delete. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "patch": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "description": "Updates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "response": {
                    "$ref": "UserList"
                  },
                  "id": "datamanager.accountTypes.accounts.userLists.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update."
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "UserList"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the UserList to retrieve. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userLists/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "id": "datamanager.accountTypes.accounts.userLists.get",
                  "response": {
                    "$ref": "UserList"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists/{userListsId}",
                  "description": "Gets a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The parent account where this user list will be created. Format: accountTypes/{account_type}/accounts/{account}"
                    },
                    "validateOnly": {
                      "description": "Optional. If true, the request is validated but not executed.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/userLists",
                  "request": {
                    "$ref": "UserList"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userLists",
                  "description": "Creates a UserList. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "id": "datamanager.accountTypes.accounts.userLists.create",
                  "response": {
                    "$ref": "UserList"
                  }
                }
              }
            },
            "insights": {
              "methods": {
                "retrieve": {
                  "response": {
                    "$ref": "RetrieveInsightsResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.insights.retrieve",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/insights:retrieve",
                  "description": "Retrieves marketing data insights for a given user list. This feature is only available to data partners. Authorization Headers: This method supports the following optional headers to define how the API authorizes access for the request: * `login-account`: (Optional) The resource name of the account where the Google Account of the credentials is a user. If not set, defaults to the account of the request. Format: `accountTypes/{loginAccountType}/accounts/{loginAccountId}` * `linked-account`: (Optional) The resource name of the account with an established product link to the `login-account`. Format: `accountTypes/{linkedAccountType}/accounts/{linkedAccountId}`",
                  "path": "v1/{+parent}/insights:retrieve",
                  "request": {
                    "$ref": "RetrieveInsightsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The parent account that owns the user list. Format: `accountTypes/{account_type}/accounts/{account}`",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                }
              }
            },
            "userListGlobalLicenses": {
              "resources": {
                "userListGlobalLicenseCustomerInfos": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The global license whose customer info are being queried. Should be in the format `accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}/userListGlobalLicenses/{USER_LIST_GLOBAL_LICENSE_ID}`. To list all global license customer info under an account, replace the user list global license id with a '-' (for example, `accountTypes/DATA_PARTNER/accounts/123/userListGlobalLicenses/-`)",
                          "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$"
                        },
                        "filter": {
                          "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListUserListDirectLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/datamanager"
                      ],
                      "path": "v1/{+parent}/userListGlobalLicenseCustomerInfos",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}/userListGlobalLicenseCustomerInfos",
                      "description": "Lists all customer info for a user list global license. This feature is only available to data partners.",
                      "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.userListGlobalLicenseCustomerInfos.list",
                      "response": {
                        "$ref": "ListUserListGlobalLicenseCustomerInfosResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "description": "Updates a user list global license. This feature is only available to data partners.",
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.patch",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of fields to update. The special character `*` is not supported and an `INVALID_UPDATE_MASK` error will be thrown if used."
                    },
                    "name": {
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "description": "Identifier. The resource name of the user list global license.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The account whose licenses are being queried. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A [filter string](https://google.aip.dev/160) to apply to the list request. All fields need to be on the left hand side of each condition (for example: `user_list_id = 123`). Fields must be specified using either all [camel case](https://en.wikipedia.org/wiki/Camel_case) or all [snake case](https://en.wikipedia.org/wiki/Snake_case). Don't use a combination of camel case and snake case. **Supported Operations:** - `AND` - `=` - `!=` - `>` - `>=` - `<` - `<=` **Unsupported Fields:** - `name` (use get method instead) - `historical_pricings` and all its subfields - `pricing.start_time` - `pricing.end_time`"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of licenses to return. The service may return fewer than this value. If unspecified, at most 50 licenses will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListUserListGlobalLicense` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserListDirectLicense` must match the call that provided the page token."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "description": "Lists all user list global licenses owned by the parent account. This feature is only available to data partners.",
                  "response": {
                    "$ref": "ListUserListGlobalLicensesResponse"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.list"
                },
                "create": {
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.create",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses",
                  "description": "Creates a user list global license. This feature is only available to data partners.",
                  "path": "v1/{+parent}/userListGlobalLicenses",
                  "request": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account that owns the user list being licensed. Should be in the format accountTypes/{ACCOUNT_TYPE}/accounts/{ACCOUNT_ID}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accountTypes/[^/]+/accounts/[^/]+/userListGlobalLicenses/[^/]+$",
                      "description": "Required. The resource name of the user list global license."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/datamanager"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accountTypes/{accountTypesId}/accounts/{accountsId}/userListGlobalLicenses/{userListGlobalLicensesId}",
                  "description": "Retrieves a user list global license. This feature is only available to data partners.",
                  "response": {
                    "$ref": "UserListGlobalLicense"
                  },
                  "id": "datamanager.accountTypes.accounts.userListGlobalLicenses.get"
                }
              }
            }
          }
        }
      }
    },
    "requestStatus": {
      "methods": {
        "retrieve": {
          "id": "datamanager.requestStatus.retrieve",
          "response": {
            "$ref": "RetrieveRequestStatusResponse"
          },
          "flatPath": "v1/requestStatus:retrieve",
          "description": "Gets the status of a request given request id.",
          "path": "v1/requestStatus:retrieve",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "requestId": {
              "description": "Required. Required. The request ID of the Data Manager API request.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/datamanager"
          ]
        }
      }
    }
  },
  "baseUrl": "https://datamanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datamanager": {
          "description": "See, edit, create, import, or delete your customer data in Google Ads, Google Marketing Platform (Campaign Manager 360, Search Ads 360, Display & Video 360), and Google Analytics"
        }
      }
    }
  },
  "description": "A unified ingestion API for data partners, agencies and advertisers to connect first-party data across Google advertising products.",
  "title": "Data Manager API",
  "mtlsRootUrl": "https://datamanager.mtls.googleapis.com/",
  "version_module": true,
  "basePath": "",
  "schemas": {
    "Item": {
      "type": "object",
      "id": "Item",
      "properties": {
        "additionalItemParameters": {
          "items": {
            "$ref": "ItemParameter"
          },
          "description": "Optional. A bucket of any [event parameters related to an item](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "type": "array"
        },
        "merchantProductId": {
          "description": "Optional. The product ID within the Merchant Center account.",
          "type": "string"
        },
        "unitPrice": {
          "format": "double",
          "type": "number",
          "description": "Optional. The unit price excluding tax, shipping, and any transaction level discounts."
        },
        "quantity": {
          "description": "Optional. The number of this item associated with the event.",
          "format": "int64",
          "type": "string"
        },
        "itemId": {
          "description": "Optional. A unique identifier to reference the item.",
          "type": "string"
        }
      },
      "description": "Represents an item in the cart associated with the event."
    },
    "Baseline": {
      "id": "Baseline",
      "properties": {
        "locationAutoDetectionEnabled": {
          "description": "If set to true, the service will try to automatically detect the baseline location for insights.",
          "type": "boolean"
        },
        "baselineLocation": {
          "$ref": "Location",
          "description": "The baseline location of the request. Baseline location is an OR-list of the requested regions."
        }
      },
      "description": "Baseline criteria against which insights are compared.",
      "type": "object"
    },
    "ExperimentalField": {
      "type": "object",
      "description": "Experimental field representing unofficial fields.",
      "id": "ExperimentalField",
      "properties": {
        "field": {
          "type": "string",
          "description": "Optional. The name of the field to use."
        },
        "value": {
          "type": "string",
          "description": "Optional. The value the field to set."
        }
      }
    },
    "RetrieveInsightsRequest": {
      "id": "RetrieveInsightsRequest",
      "properties": {
        "userListId": {
          "description": "Required. The user list ID for which insights are requested.",
          "type": "string"
        },
        "baseline": {
          "$ref": "Baseline",
          "description": "Required. Baseline for the insights requested."
        }
      },
      "description": "Request message for DM API MarketingDataInsightsService.RetrieveInsights",
      "type": "object"
    },
    "PairData": {
      "type": "object",
      "id": "PairData",
      "properties": {
        "pairIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. Cleanroom-provided PII data, hashed with SHA256, and encrypted with an EC commutative cipher using publisher key for the [PAIR]((//support.google.com/admanager/answer/15067908)) user list. At most 10 `pairIds` can be provided in a single AudienceMember.",
          "type": "array"
        }
      },
      "description": "[PAIR](//support.google.com/admanager/answer/15067908) IDs for the audience. At least one PAIR ID is required. This feature is only available to data partners."
    },
    "IngestedUserListInfo": {
      "id": "IngestedUserListInfo",
      "properties": {
        "userIdInfo": {
          "description": "Optional. Additional information when `USER_ID` is one of the `upload_key_types`.",
          "$ref": "UserIdInfo"
        },
        "pairIdInfo": {
          "$ref": "PairIdInfo",
          "description": "Optional. Additional information when `PAIR_ID` is one of the `upload_key_types`. This feature is only available to data partners."
        },
        "pseudonymousIdInfo": {
          "description": "Optional. Additional information for `PSEUDONYMOUS_ID` is one of the `upload_key_types`.",
          "$ref": "PseudonymousIdInfo"
        },
        "partnerAudienceInfo": {
          "description": "Optional. Additional information for partner audiences. This feature is only available to data partners.",
          "$ref": "PartnerAudienceInfo"
        },
        "uploadKeyTypes": {
          "items": {
            "type": "string",
            "enum": [
              "UPLOAD_KEY_TYPE_UNSPECIFIED",
              "CONTACT_ID",
              "MOBILE_ID",
              "USER_ID",
              "PAIR_ID",
              "PSEUDONYMOUS_ID"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Customer info such as email address, phone number or physical address.",
              "Mobile advertising ids.",
              "Third party provided user ids.",
              "Publisher advertiser identity reconciliation ids.",
              "Data Management Platform IDs: - Google User ID - Partner Provided ID - Publisher Provided ID - iOS IDFA - Android advertising ID - Roku ID - Amazon Fire TV ID - Xbox or Microsoft ID"
            ]
          },
          "description": "Required. Immutable. Upload key types of this user list.",
          "type": "array"
        },
        "contactIdInfo": {
          "description": "Optional. Additional information when `CONTACT_ID` is one of the `upload_key_types`.",
          "$ref": "ContactIdInfo"
        },
        "mobileIdInfo": {
          "description": "Optional. Additional information when `MOBILE_ID` is one of the `upload_key_types`.",
          "$ref": "MobileIdInfo"
        }
      },
      "description": "Represents a user list that is populated by user provided data.",
      "type": "object"
    },
    "RemoveUserDataStatus": {
      "type": "object",
      "id": "RemoveUserDataStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not."
        },
        "userIdentifierCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of user identifiers sent in the removal request. Includes all user identifiers in the request, regardless of whether they were successfully removed or not."
        }
      },
      "description": "The status of the user data removal from the destination."
    },
    "UserData": {
      "description": "Data that identifies the user. At least one identifier is required.",
      "id": "UserData",
      "properties": {
        "userIdentifiers": {
          "type": "array",
          "description": "Required. The identifiers for the user. It's possible to provide multiple instances of the same type of data (for example, multiple email addresses). To increase the likelihood of a match, provide as many identifiers as possible. At most 10 `userIdentifiers` can be provided in a single AudienceMember or Event.",
          "items": {
            "$ref": "UserIdentifier"
          }
        }
      },
      "type": "object"
    },
    "GcpWrappedKeyInfo": {
      "description": "Information about the Google Cloud Platform wrapped key.",
      "id": "GcpWrappedKeyInfo",
      "properties": {
        "wipProvider": {
          "type": "string",
          "description": "Required. The [Workload Identity](//cloud.google.com/iam/docs/workload-identity-federation) pool provider required to use KEK."
        },
        "encryptedDek": {
          "description": "Required. The base64 encoded encrypted data encryption key.",
          "type": "string"
        },
        "kekUri": {
          "type": "string",
          "description": "Required. Google Cloud Platform [Cloud Key Management Service resource ID](//cloud.google.com/kms/docs/getting-resource-ids). Should be in the format of `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}` or `gcp-kms://projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{key}`"
        },
        "keyType": {
          "enum": [
            "KEY_TYPE_UNSPECIFIED",
            "XCHACHA20_POLY1305"
          ],
          "description": "Required. The type of algorithm used to encrypt the data.",
          "enumDescriptions": [
            "Unspecified key type. Should never be used.",
            "Algorithm XChaCha20-Poly1305"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemoveUserIdDataStatus": {
      "description": "The status of the user id data removal from the destination.",
      "id": "RemoveUserIdDataStatus",
      "properties": {
        "userIdCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of user ids sent in the removal request. Includes all user ids in the request, regardless of whether they were successfully removed or not."
        },
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserListDirectLicense": {
      "type": "object",
      "description": "A user list direct license. This feature is only available to data partners.",
      "id": "UserListDirectLicense",
      "properties": {
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        },
        "clientAccountType": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "description": "Immutable. Account type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ]
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to. This field is read-only.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Optional. Status of UserListDirectLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ]
        },
        "historicalPricings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license. This field is read-only."
        },
        "userListDisplayName": {
          "description": "Output only. Name of the user list being licensed. This field is read-only.",
          "readOnly": true,
          "type": "string"
        },
        "clientAccountId": {
          "type": "string",
          "format": "int64",
          "description": "Immutable. ID of client customer which the user list is being licensed to."
        },
        "name": {
          "description": "Identifier. The resource name of the user list direct license.",
          "type": "string"
        },
        "pricing": {
          "description": "Optional. UserListDirectLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListDirectLicenses call",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        }
      }
    },
    "IngestAudienceMembersResponse": {
      "id": "IngestAudienceMembersResponse",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "description": "Response from the IngestAudienceMembersRequest.",
      "type": "object"
    },
    "RemoveAudienceMembersResponse": {
      "description": "Response from the RemoveAudienceMembersRequest.",
      "id": "RemoveAudienceMembersResponse",
      "properties": {
        "requestId": {
          "description": "The auto-generated ID of the request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserProperty": {
      "type": "object",
      "description": "A bucket of any additional [user properties](https://developers.google.com/analytics/devguides/collection/protocol/ga4/user-properties) for the user associated with this event.",
      "id": "UserProperty",
      "properties": {
        "value": {
          "description": "Required. The string representation of the value of the user property to use.",
          "type": "string"
        },
        "propertyName": {
          "type": "string",
          "description": "Required. The name of the user property to use."
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "RequestStatusPerDestination": {
      "type": "object",
      "id": "RequestStatusPerDestination",
      "properties": {
        "warningInfo": {
          "description": "A warning info containing the warning reason and warning counts related to the upload.",
          "$ref": "WarningInfo"
        },
        "eventsIngestionStatus": {
          "$ref": "IngestEventsStatus",
          "description": "The status of the ingest events request."
        },
        "audienceMembersIngestionStatus": {
          "$ref": "IngestAudienceMembersStatus",
          "description": "The status of the ingest audience members request."
        },
        "requestStatus": {
          "type": "string",
          "description": "The request status of the destination.",
          "enumDescriptions": [
            "The request status is unknown.",
            "The request succeeded.",
            "The request is processing.",
            "The request failed.",
            "The request partially succeeded."
          ],
          "enum": [
            "REQUEST_STATUS_UNKNOWN",
            "SUCCESS",
            "PROCESSING",
            "FAILED",
            "PARTIAL_SUCCESS"
          ]
        },
        "audienceMembersRemovalStatus": {
          "$ref": "RemoveAudienceMembersStatus",
          "description": "The status of the remove audience members request."
        },
        "destination": {
          "description": "A destination within a DM API request.",
          "$ref": "Destination"
        },
        "errorInfo": {
          "description": "An error info error containing the error reason and error counts related to the upload.",
          "$ref": "ErrorInfo"
        }
      },
      "description": "A request status per destination."
    },
    "Event": {
      "type": "object",
      "description": "An event representing a user interaction with an advertiser's website or app.",
      "id": "Event",
      "properties": {
        "eventName": {
          "type": "string",
          "description": "Optional. The name of the event. Required for GA4 events."
        },
        "destinationReferences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Reference string used to determine the destination. If empty, the event will be sent to all destinations in the request.",
          "type": "array"
        },
        "additionalEventParameters": {
          "type": "array",
          "description": "Optional. A bucket of any [event parameters](https://developers.google.com/analytics/devguides/collection/protocol/ga4/reference/events) to be included within the event that were not already specified using other structured fields.",
          "items": {
            "$ref": "EventParameter"
          }
        },
        "currency": {
          "description": "Optional. The currency code associated with all monetary values within this event.",
          "type": "string"
        },
        "consent": {
          "description": "Optional. Information about whether the associated user has provided different types of consent.",
          "$ref": "Consent"
        },
        "eventDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) when the event happened.",
          "$ref": "DeviceInfo"
        },
        "userProperties": {
          "description": "Optional. Advertiser-assessed information about the user at the time that the event happened.",
          "$ref": "UserProperties"
        },
        "eventSource": {
          "type": "string",
          "description": "Optional. Signal for where the event happened (web, app, in-store, etc.).",
          "enumDescriptions": [
            "Unspecified EventSource. Should never be used.",
            "The event was generated from a web browser.",
            "The event was generated from an app.",
            "The event was generated from an in-store transaction.",
            "The event was generated from a phone call.",
            "The event was generated from other sources."
          ],
          "enum": [
            "EVENT_SOURCE_UNSPECIFIED",
            "WEB",
            "APP",
            "IN_STORE",
            "PHONE",
            "OTHER"
          ]
        },
        "experimentalFields": {
          "type": "array",
          "description": "Optional. A list of key/value pairs for experimental fields that may eventually be promoted to be part of the API.",
          "items": {
            "$ref": "ExperimentalField"
          }
        },
        "transactionId": {
          "description": "Optional. The unique identifier for this event. Required for conversions using multiple data sources.",
          "type": "string"
        },
        "customVariables": {
          "items": {
            "$ref": "CustomVariable"
          },
          "description": "Optional. Additional key/value pair information to send to the conversion containers (conversion action or FL activity).",
          "type": "array"
        },
        "adIdentifiers": {
          "$ref": "AdIdentifiers",
          "description": "Optional. Identifiers and other information used to match the conversion event with other online activity (such as ad clicks)."
        },
        "conversionValue": {
          "type": "number",
          "format": "double",
          "description": "Optional. The conversion value associated with the event, for value-based conversions."
        },
        "cartData": {
          "description": "Optional. Information about the transaction and items associated with the event.",
          "$ref": "CartData"
        },
        "lastUpdatedTimestamp": {
          "description": "Optional. The last time the event was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "userId": {
          "description": "Optional. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. A unique identifier for the user instance of a web client for this GA4 web stream.",
          "type": "string"
        },
        "eventTimestamp": {
          "description": "Required. The time the event occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "userData": {
          "description": "Optional. Pieces of user provided data, representing the user the event is associated with.",
          "$ref": "UserData"
        }
      }
    },
    "UserIdentifier": {
      "description": "A single identifier for the user.",
      "id": "UserIdentifier",
      "properties": {
        "address": {
          "$ref": "AddressInfo",
          "description": "The known components of a user's address. Holds a grouping of identifiers that are matched all at once."
        },
        "emailAddress": {
          "type": "string",
          "description": "Hashed email address using SHA-256 hash function after normalization."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard)."
        }
      },
      "type": "object"
    },
    "UserList": {
      "description": "A user list resource.",
      "id": "UserList",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A description of the user list."
        },
        "membershipDuration": {
          "description": "Optional. The duration a user remains in the user list. Valid durations are exact multiples of 24 hours (86400 seconds). Providing a value that is not an exact multiple of 24 hours will result in an INVALID_ARGUMENT error.",
          "format": "google-duration",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the user list.",
          "type": "string"
        },
        "targetNetworkInfo": {
          "description": "Optional. Eligibility information for different target networks.",
          "$ref": "TargetNetworkInfo"
        },
        "integrationCode": {
          "type": "string",
          "description": "Optional. An ID from external system. It is used by user list sellers to correlate IDs on their systems."
        },
        "closingReason": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The user list was closed because it has not been used in targeting recently. See https://support.google.com/google-ads/answer/2472738 for details."
          ],
          "description": "Output only. The reason why this user list membership status is closed.",
          "readOnly": true,
          "enum": [
            "CLOSING_REASON_UNSPECIFIED",
            "UNUSED"
          ]
        },
        "accountAccessStatus": {
          "enum": [
            "ACCESS_STATUS_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Optional. Indicates if this share is still enabled. When a user list is shared with the account this field is set to `ENABLED`. Later the user list owner can decide to revoke the share and make it `DISABLED`.",
          "enumDescriptions": [
            "Not specified.",
            "The access is enabled.",
            "The access is disabled."
          ],
          "type": "string"
        },
        "readOnly": {
          "type": "boolean",
          "description": "Output only. An option that indicates if a user may edit a list.",
          "readOnly": true
        },
        "sizeInfo": {
          "readOnly": true,
          "$ref": "SizeInfo",
          "description": "Output only. Estimated number of members in this user list in different target networks."
        },
        "ingestedUserListInfo": {
          "description": "Optional. Represents a user list that is populated by user ingested data.",
          "$ref": "IngestedUserListInfo"
        },
        "id": {
          "description": "Output only. The unique ID of the user list.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "membershipStatus": {
          "enum": [
            "MEMBERSHIP_STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "description": "Optional. Membership status of this user list.",
          "enumDescriptions": [
            "Not specified.",
            "Open status - User list is accruing members and can be targeted to.",
            "Closed status - No new members being added."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the user list. Format: accountTypes/{account_type}/accounts/{account}/userLists/{user_list}",
          "type": "string"
        },
        "accessReason": {
          "description": "Output only. The reason this account has been granted access to the list.",
          "readOnly": true,
          "enum": [
            "ACCESS_REASON_UNSPECIFIED",
            "OWNED",
            "SHARED",
            "LICENSED",
            "SUBSCRIBED",
            "AFFILIATED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The resource is owned by the user.",
            "The resource is shared to the user.",
            "The resource is licensed to the user.",
            "The user subscribed to the resource.",
            "The resource is accessible to the user."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListUserListDirectLicensesResponse": {
      "id": "ListUserListDirectLicensesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userListDirectLicenses": {
          "description": "The licenses for the given user list in the request.",
          "items": {
            "$ref": "UserListDirectLicense"
          },
          "type": "array"
        }
      },
      "description": "Response from the ListUserListDirectLicensesRequest.",
      "type": "object"
    },
    "AdIdentifiers": {
      "type": "object",
      "description": "Identifiers and other information used to match the conversion event with other online activity (such as ad clicks).",
      "id": "AdIdentifiers",
      "properties": {
        "landingPageDeviceInfo": {
          "description": "Optional. Information gathered about the device being used (if any) at the time of landing onto the advertiser’s site after interacting with the ad.",
          "$ref": "DeviceInfo"
        },
        "gclid": {
          "description": "Optional. The Google click ID (gclid) associated with this event.",
          "type": "string"
        },
        "gbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with app events and originating from iOS devices starting with iOS14."
        },
        "wbraid": {
          "type": "string",
          "description": "Optional. The click identifier for clicks associated with web events and originating from iOS devices starting with iOS14."
        },
        "sessionAttributes": {
          "description": "Optional. Session attributes for event attribution and modeling.",
          "type": "string"
        }
      }
    },
    "RemoveMobileDataStatus": {
      "type": "object",
      "description": "The status of the mobile data removal from the destination.",
      "id": "RemoveMobileDataStatus",
      "properties": {
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        },
        "mobileIdCount": {
          "description": "The total count of mobile Ids sent in the removal request. Includes all mobile ids in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UserListGlobalLicense": {
      "description": "A user list global license. This feature is only available to data partners.",
      "id": "UserListGlobalLicense",
      "properties": {
        "licenseType": {
          "type": "string",
          "description": "Immutable. Product type of client customer which the user list is being licensed to.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license."
        },
        "userListDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user list being licensed. This field is read-only."
        },
        "pricing": {
          "description": "Optional. UserListGlobalLicense pricing.",
          "$ref": "UserListLicensePricing"
        },
        "metrics": {
          "readOnly": true,
          "$ref": "UserListLicenseMetrics",
          "description": "Output only. Metrics related to this license This field is read-only and only populated if the start and end dates are set in the ListUserListGlobalLicenses call"
        },
        "historicalPricings": {
          "description": "Output only. Pricing history of this user list license. This field is read-only.",
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "type": "array"
        },
        "userListId": {
          "description": "Immutable. ID of the user list being licensed.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Optional. Status of UserListGlobalLicense - ENABLED or DISABLED.",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ]
        }
      },
      "type": "object"
    },
    "ContactIdInfo": {
      "type": "object",
      "id": "ContactIdInfo",
      "properties": {
        "dataSourceType": {
          "description": "Optional. Immutable. Source of the upload data",
          "enumDescriptions": [
            "Not specified.",
            "The uploaded data is first-party data.",
            "The uploaded data is from a third-party credit bureau.",
            "The uploaded data is from a third-party voter file.",
            "The uploaded data is third party partner data."
          ],
          "enum": [
            "DATA_SOURCE_TYPE_UNSPECIFIED",
            "DATA_SOURCE_TYPE_FIRST_PARTY",
            "DATA_SOURCE_TYPE_THIRD_PARTY_CREDIT_BUREAU",
            "DATA_SOURCE_TYPE_THIRD_PARTY_VOTER_FILE",
            "DATA_SOURCE_TYPE_THIRD_PARTY_PARTNER_DATA"
          ],
          "type": "string"
        },
        "matchRatePercentage": {
          "readOnly": true,
          "description": "Output only. Match rate for customer match user lists.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Additional information when `CONTACT_ID` is one of the `upload_key_types`."
    },
    "Consent": {
      "type": "object",
      "description": "[Digital Markets Act (DMA)](//digital-markets-act.ec.europa.eu/index_en) consent settings for the user.",
      "id": "Consent",
      "properties": {
        "adUserData": {
          "type": "string",
          "description": "Optional. Represents if the user consents to ad user data.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ]
        },
        "adPersonalization": {
          "description": "Optional. Represents if the user consents to ad personalization.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "CONSENT_STATUS_UNSPECIFIED",
            "CONSENT_GRANTED",
            "CONSENT_DENIED"
          ],
          "type": "string"
        }
      }
    },
    "IngestEventsRequest": {
      "description": "Request to upload audience members to the provided destinations. Returns an IngestEventsResponse.",
      "id": "IngestEventsRequest",
      "properties": {
        "encryptionInfo": {
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored.",
          "$ref": "EncryptionInfo"
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "description": "Required. The list of destinations to send the events to.",
          "type": "array"
        },
        "consent": {
          "$ref": "Consent",
          "description": "Optional. Request-level consent to apply to all users in the request. User-level consent overrides request-level consent, and can be specified in each Event."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results."
        },
        "encoding": {
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. For hashed user identifiers, this is the encoding type of the hashed string. For encrypted hashed user identifiers, this is the encoding type of the outer encrypted string, but not necessarily the inner hashed string, meaning the inner hashed string could be encoded in a different way than the outer encrypted string. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        },
        "events": {
          "type": "array",
          "description": "Required. The list of events to send to the specified destinations. At most 2000 Event resources can be sent in a single request.",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "type": "object"
    },
    "SearchPartnerLinksResponse": {
      "id": "SearchPartnerLinksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "partnerLinks": {
          "type": "array",
          "items": {
            "$ref": "PartnerLink"
          },
          "description": "The partner links for the given account."
        }
      },
      "description": "Response from the SearchPartnerLinksRequest.",
      "type": "object"
    },
    "UserListLicensePricing": {
      "type": "object",
      "id": "UserListLicensePricing",
      "properties": {
        "buyerApprovalState": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "User list client has not yet accepted the pricing terms set by the user list owner.",
            "User list client has accepted the pricing terms set by the user list owner.",
            "User list client has rejected the pricing terms set by the user list owner."
          ],
          "type": "string",
          "description": "Output only. The buyer approval state of this pricing. This field is read-only.",
          "readOnly": true,
          "enum": [
            "USER_LIST_PRICING_BUYER_APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "APPROVED",
            "REJECTED"
          ]
        },
        "pricingId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The ID of this pricing.",
          "readOnly": true
        },
        "pricingActive": {
          "description": "Output only. Whether this pricing is active.",
          "readOnly": true,
          "type": "boolean"
        },
        "maxCostMicros": {
          "description": "Optional. The maximum CPM a commerce audience can be charged when the MEDIA_SHARE cost type is used. The value is in micro units (10^-6) and in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`. This is only relevant when cost_type is MEDIA_SHARE. When cost_type is not MEDIA_SHARE, and this field is set, a MAX_COST_NOT_ALLOWED error will be returned. If not set or set to`0`, there is no cap.",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Optional. The currency in which cost and max_cost is specified. Must be a three-letter currency code defined in ISO 4217."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Start time of the pricing.",
          "readOnly": true
        },
        "costType": {
          "enum": [
            "USER_LIST_PRICING_COST_TYPE_UNSPECIFIED",
            "CPC",
            "CPM",
            "MEDIA_SHARE"
          ],
          "description": "Immutable. The cost type of this pricing. Can be set only in the `create` operation. Can't be updated for an existing license.",
          "enumDescriptions": [
            "Unspecified.",
            "Cost per click.",
            "Cost per mille (thousand impressions).",
            "Media share."
          ],
          "type": "string"
        },
        "costMicros": {
          "description": "Optional. The cost associated with the model, in micro units (10^-6), in the currency specified by the currency_code field. For example, 2000000 means $2 if `currency_code` is `USD`.",
          "type": "string",
          "format": "int64"
        },
        "endTime": {
          "description": "Optional. End time of the pricing.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "A user list license pricing."
    },
    "SizeInfo": {
      "id": "SizeInfo",
      "properties": {
        "searchNetworkMembersCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Estimated number of members in this user list in the google.com domain. These are the members available for targeting in Search campaigns.",
          "readOnly": true
        },
        "displayNetworkMembersCount": {
          "description": "Output only. Estimated number of members in this user list, on the Google Display Network.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Estimated number of members in this user list in different target networks.",
      "type": "object"
    },
    "RemovePairDataStatus": {
      "id": "RemovePairDataStatus",
      "properties": {
        "pairIdCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of pair ids sent in the removal request. Includes all pair ids in the request, regardless of whether they were successfully removed or not."
        },
        "recordCount": {
          "description": "The total count of audience members sent in the removal request. Includes all audience members in the request, regardless of whether they were successfully removed or not.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The status of the pair data removal from the destination.",
      "type": "object"
    },
    "UserListGlobalLicenseCustomerInfo": {
      "id": "UserListGlobalLicenseCustomerInfo",
      "properties": {
        "historicalPricings": {
          "readOnly": true,
          "items": {
            "$ref": "UserListLicensePricing"
          },
          "description": "Output only. Pricing history of this user list license.",
          "type": "array"
        },
        "userListId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. ID of the user list being licensed."
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Active status - user list is still being licensed.",
            "Inactive status - user list is no longer being licensed."
          ],
          "readOnly": true,
          "enum": [
            "USER_LIST_LICENSE_STATUS_UNSPECIFIED",
            "USER_LIST_LICENSE_STATUS_ENABLED",
            "USER_LIST_LICENSE_STATUS_DISABLED"
          ],
          "description": "Output only. Status of UserListDirectLicense - ENABLED or DISABLED."
        },
        "clientAccountType": {
          "description": "Output only. Product type of client customer which the user list is being licensed to.",
          "readOnly": true,
          "enum": [
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_UNKNOWN",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_ADS",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_PARTNER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_DISPLAY_VIDEO_ADVERTISER",
            "USER_LIST_LICENSE_CLIENT_ACCOUNT_TYPE_GOOGLE_AD_MANAGER_AUDIENCE_LINK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Google Ads customer.",
            "Display & Video 360 partner.",
            "Display & Video 360 advertiser.",
            "Google Ad Manager audience link."
          ]
        },
        "clientAccountDisplayName": {
          "readOnly": true,
          "description": "Output only. Name of client customer which the user list is being licensed to.",
          "type": "string"
        },
        "userListDisplayName": {
          "type": "string",
          "description": "Output only. Name of the user list being licensed.",
          "readOnly": true
        },
        "clientAccountId": {
          "readOnly": true,
          "description": "Output only. ID of client customer which the user list is being licensed to.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user list global license customer."
        },
        "pricing": {
          "description": "Output only. UserListDirectLicense pricing.",
          "readOnly": true,
          "$ref": "UserListLicensePricing"
        },
        "metrics": {
          "description": "Output only. Metrics related to this license This field is only populated if the start and end dates are set in the ListUserListGlobalLicenseCustomerInfos call.",
          "readOnly": true,
          "$ref": "UserListLicenseMetrics"
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "Reseller license.",
            "DataMart Sell Side license.",
            "DataMart Buy Side license."
          ],
          "readOnly": true,
          "enum": [
            "USER_LIST_GLOBAL_LICENSE_TYPE_UNSPECIFIED",
            "USER_LIST_GLOBAL_LICENSE_TYPE_RESELLER",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_SELL_SIDE",
            "USER_LIST_GLOBAL_LICENSE_TYPE_DATA_MART_BUY_SIDE"
          ],
          "description": "Output only. Product type of client customer which the user list is being licensed to."
        }
      },
      "description": "Information about a customer of a user list global license. This will automatically be created by the system when a customer purchases a global license.",
      "type": "object"
    },
    "UserIdData": {
      "type": "object",
      "id": "UserIdData",
      "properties": {
        "userId": {
          "description": "Required. A unique identifier for a user, as defined by the advertiser.",
          "type": "string"
        }
      },
      "description": "User id data holding the user id."
    },
    "ListUserListsResponse": {
      "description": "Response message for ListUserLists.",
      "id": "ListUserListsResponse",
      "properties": {
        "userLists": {
          "items": {
            "$ref": "UserList"
          },
          "description": "The user lists from the specified account.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "TargetNetworkInfo": {
      "type": "object",
      "id": "TargetNetworkInfo",
      "properties": {
        "eligibleForSearch": {
          "description": "Optional. Indicates if this user list is eligible for Google Search Network.",
          "type": "boolean"
        },
        "eligibleForDisplay": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates this user list is eligible for Google Display Network."
        }
      },
      "description": "Eligibility information for different target networks."
    },
    "EncryptionInfo": {
      "description": "Encryption information for the data being ingested.",
      "id": "EncryptionInfo",
      "properties": {
        "awsWrappedKeyInfo": {
          "$ref": "AwsWrappedKeyInfo",
          "description": "Amazon Web Services wrapped key information."
        },
        "gcpWrappedKeyInfo": {
          "$ref": "GcpWrappedKeyInfo",
          "description": "Google Cloud Platform wrapped key information."
        }
      },
      "type": "object"
    },
    "IngestAudienceMembersStatus": {
      "description": "The status of the ingest audience members request.",
      "id": "IngestAudienceMembersStatus",
      "properties": {
        "userDataIngestionStatus": {
          "$ref": "IngestUserDataStatus",
          "description": "The status of the user data ingestion to the destination."
        },
        "ppidDataIngestionStatus": {
          "description": "The status of the ppid data ingestion to the destination.",
          "$ref": "IngestPpidDataStatus"
        },
        "mobileDataIngestionStatus": {
          "$ref": "IngestMobileDataStatus",
          "description": "The status of the mobile data ingestion to the destination."
        },
        "userIdDataIngestionStatus": {
          "$ref": "IngestUserIdDataStatus",
          "description": "The status of the user id data ingestion to the destination."
        },
        "pairDataIngestionStatus": {
          "description": "The status of the pair data ingestion to the destination.",
          "$ref": "IngestPairDataStatus"
        }
      },
      "type": "object"
    },
    "TermsOfService": {
      "description": "The terms of service that the user has accepted/rejected.",
      "id": "TermsOfService",
      "properties": {
        "customerMatchTermsOfServiceStatus": {
          "enum": [
            "TERMS_OF_SERVICE_STATUS_UNSPECIFIED",
            "ACCEPTED",
            "REJECTED"
          ],
          "description": "Optional. The Customer Match terms of service: https://support.google.com/adspolicy/answer/6299717. This must be accepted when ingesting UserData or MobileData. This field is not required for Partner Match User list.",
          "enumDescriptions": [
            "Not specified.",
            "Status indicating the caller has chosen to accept the terms of service.",
            "Status indicating the caller has chosen to reject the terms of service."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "RetrieveInsightsResponse": {
      "id": "RetrieveInsightsResponse",
      "properties": {
        "marketingDataInsights": {
          "items": {
            "$ref": "MarketingDataInsight"
          },
          "description": "Contains the insights for the marketing data.",
          "type": "array"
        }
      },
      "description": "Response message for DM API MarketingDataInsightsService.RetrieveInsights",
      "type": "object"
    },
    "RemoveAudienceMembersRequest": {
      "type": "object",
      "description": "Request to remove users from an audience in the provided destinations. Returns a RemoveAudienceMembersResponse.",
      "id": "RemoveAudienceMembersRequest",
      "properties": {
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Optional. Encryption information for UserData uploads. If not set, it's assumed that uploaded identifying information is hashed but not encrypted. For non `UserData` uploads, this field is ignored."
        },
        "audienceMembers": {
          "description": "Required. The list of users to remove.",
          "items": {
            "$ref": "AudienceMember"
          },
          "type": "array"
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "description": "Required. The list of destinations to remove the users from.",
          "type": "array"
        },
        "validateOnly": {
          "description": "Optional. For testing purposes. If `true`, the request is validated but not executed. Only errors are returned, not results.",
          "type": "boolean"
        },
        "encoding": {
          "type": "string",
          "description": "Optional. Required for UserData uploads. The encoding type of the user identifiers. Applies to only the outer encoding for encrypted user identifiers. For non `UserData` uploads, this field is ignored.",
          "enumDescriptions": [
            "Unspecified Encoding type. Should never be used.",
            "Hex encoding.",
            "Base 64 encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "HEX",
            "BASE64"
          ]
        }
      }
    },
    "ErrorInfo": {
      "id": "ErrorInfo",
      "properties": {
        "errorCounts": {
          "description": "A list of errors and counts per error reason. May not be populated in all cases.",
          "items": {
            "$ref": "ErrorCount"
          },
          "type": "array"
        }
      },
      "description": "Error counts for each type of error.",
      "type": "object"
    },
    "IngestPairDataStatus": {
      "type": "object",
      "id": "IngestPairDataStatus",
      "properties": {
        "recordCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of audience members sent in the upload request for the destination. Includes all audience members in the request, regardless of whether they were successfully ingested or not."
        },
        "pairIdCount": {
          "description": "The total count of pair ids sent in the upload request for the destination. Includes all pair ids in the request, regardless of whether they were successfully ingested or not.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The status of the pair data ingestion to the destination containing stats related to the ingestion."
    },
    "UserListLicenseMetrics": {
      "type": "object",
      "description": "Metrics related to a user list license.",
      "id": "UserListLicenseMetrics",
      "properties": {
        "clickCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of clicks for the user list license.",
          "readOnly": true
        },
        "revenueUsdMicros": {
          "description": "Output only. The revenue for the user list license in USD micros.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "startDate": {
          "readOnly": true,
[...]
