{
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "version": "v1",
  "servicePath": "",
  "endpoints": [
    {
      "location": "europe-west3",
      "endpointUrl": "https://dataproc.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-central1.rep.googleapis.com/",
      "location": "us-central1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://dataproc.us-central2.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-east4.rep.googleapis.com/",
      "location": "us-east4"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://dataproc.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-south1.rep.googleapis.com/",
      "location": "us-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://dataproc.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.us-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://dataproc.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://dataproc.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://dataproc.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://dataproc.me-central2.rep.googleapis.com/"
    }
  ],
  "baseUrl": "https://dataproc.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "name": "dataproc",
  "canonicalName": "Dataproc",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260227",
  "documentationLink": "https://cloud.google.com/dataproc/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "schemas": {
    "ParameterValidation": {
      "properties": {
        "regex": {
          "description": "Validation based on regular expressions.",
          "$ref": "RegexValidation"
        },
        "values": {
          "description": "Validation based on a list of allowed values.",
          "$ref": "ValueValidation"
        }
      },
      "type": "object",
      "description": "Configuration for parameter validation.",
      "id": "ParameterValidation"
    },
    "AccumulableInfo": {
      "id": "AccumulableInfo",
      "type": "object",
      "properties": {
        "accumullableInfoId": {
          "format": "int64",
          "type": "string"
        },
        "update": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "NodePool": {
      "properties": {
        "id": {
          "description": "Required. A unique id of the node pool. Primary and Secondary workers can be specified using special reserved ids PRIMARY_WORKER_POOL and SECONDARY_WORKER_POOL respectively. Aux node pools can be referenced using corresponding pool id.",
          "type": "string"
        },
        "repairAction": {
          "type": "string",
          "description": "Required. Repair action to take on specified resources of the node pool.",
          "enum": [
            "REPAIR_ACTION_UNSPECIFIED",
            "DELETE"
          ],
          "enumDescriptions": [
            "No action will be taken by default.",
            "delete the specified list of nodes."
          ]
        },
        "instanceNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Name of instances to be repaired. These instances must belong to specified node pool."
        }
      },
      "type": "object",
      "description": "indicating a list of workers of same type",
      "id": "NodePool"
    },
    "AccessSessionSparkApplicationStageAttemptResponse": {
      "type": "object",
      "description": "Stage Attempt for a Stage of a Spark Application",
      "id": "AccessSessionSparkApplicationStageAttemptResponse",
      "properties": {
        "stageData": {
          "$ref": "StageData",
          "description": "Output only. Data corresponding to a stage.",
          "readOnly": true
        }
      }
    },
    "SourceProgress": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "inputRowsPerSecond": {
          "format": "double",
          "type": "number"
        },
        "processedRowsPerSecond": {
          "type": "number",
          "format": "double"
        },
        "latestOffset": {
          "type": "string"
        },
        "endOffset": {
          "type": "string"
        },
        "numInputRows": {
          "type": "string",
          "format": "int64"
        },
        "startOffset": {
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SourceProgress"
    },
    "ListAutoscalingPoliciesResponse": {
      "properties": {
        "policies": {
          "type": "array",
          "description": "Output only. Autoscaling policies list.",
          "items": {
            "$ref": "AutoscalingPolicy"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This token is included in the response if there are more results to fetch."
        }
      },
      "id": "ListAutoscalingPoliciesResponse",
      "type": "object",
      "description": "A response to a request to list autoscaling policies in a project."
    },
    "StreamingQueryProgress": {
      "properties": {
        "durationMillis": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "runId": {
          "type": "string"
        },
        "observedMetrics": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "stateOperators": {
          "type": "array",
          "items": {
            "$ref": "StateOperatorProgress"
          }
        },
        "batchId": {
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "sink": {
          "$ref": "SinkProgress"
        },
        "streamingQueryProgressId": {
          "type": "string"
        },
        "batchDuration": {
          "format": "int64",
          "type": "string"
        },
        "eventTime": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "SourceProgress"
          }
        }
      },
      "type": "object",
      "id": "StreamingQueryProgress"
    },
    "Session": {
      "description": "A representation of a session.",
      "properties": {
        "stateHistory": {
          "readOnly": true,
          "items": {
            "$ref": "SessionStateHistory"
          },
          "description": "Output only. Historical state information for the session.",
          "type": "array"
        },
        "environmentConfig": {
          "$ref": "EnvironmentConfig",
          "description": "Optional. Environment configuration for the session execution."
        },
        "sessionTemplate": {
          "type": "string",
          "description": "Optional. The session template used by the session.Only resource names, including project ID and location, are valid.Example: * https://www.googleapis.com/compute/v1/projects/[project_id]/locations/[dataproc_region]/sessionTemplates/[template_id] * projects/[project_id]/locations/[dataproc_region]/sessionTemplates/[template_id]The template must be in the same project and Dataproc region as the session."
        },
        "jupyterSession": {
          "$ref": "JupyterConfig",
          "description": "Optional. Jupyter session config."
        },
        "user": {
          "description": "Optional. The email address of the user who owns the session.",
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The email address of the user who created the session.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the session.",
          "type": "string"
        },
        "runtimeInfo": {
          "readOnly": true,
          "$ref": "RuntimeInfo",
          "description": "Output only. Runtime information about session execution."
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time when the session entered the current state.",
          "format": "google-datetime",
          "readOnly": true
        },
        "runtimeConfig": {
          "description": "Optional. Runtime configuration for the session execution.",
          "$ref": "RuntimeConfig"
        },
        "state": {
          "type": "string",
          "description": "Output only. A state of the session.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The session state is unknown.",
            "The session is created prior to running.",
            "The session is running.",
            "The session is terminating.",
            "The session is terminated successfully.",
            "The session is no longer running due to an error."
          ]
        },
        "sparkConnectSession": {
          "$ref": "SparkConnectConfig",
          "description": "Optional. Spark connect session config."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the session was created."
        },
        "uuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A session UUID (Unique Universal Identifier). The service generates this value when it creates the session."
        },
        "labels": {
          "description": "Optional. The labels to associate with the session. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a session.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Session state details, such as the failure description if the state is FAILED."
        }
      },
      "type": "object",
      "id": "Session"
    },
    "GkeNodePoolConfig": {
      "description": "The configuration of a GKE node pool used by a Dataproc-on-GKE cluster (https://cloud.google.com/dataproc/docs/concepts/jobs/dataproc-gke#create-a-dataproc-on-gke-cluster).",
      "id": "GkeNodePoolConfig",
      "properties": {
        "locations": {
          "type": "array",
          "description": "Optional. The list of Compute Engine zones (https://cloud.google.com/compute/docs/zones#available) where node pool nodes associated with a Dataproc on GKE virtual cluster will be located.Note: All node pools associated with a virtual cluster must be located in the same region as the virtual cluster, and they must be located in the same zone within that region.If a location is not specified during node pool creation, Dataproc on GKE will choose the zone.",
          "items": {
            "type": "string"
          }
        },
        "autoscaling": {
          "$ref": "GkeNodePoolAutoscalingConfig",
          "description": "Optional. The autoscaler configuration for this node pool. The autoscaler is enabled only when a valid configuration is present."
        },
        "config": {
          "$ref": "GkeNodeConfig",
          "description": "Optional. The node pool configuration."
        }
      },
      "type": "object"
    },
    "PoolData": {
      "description": "Pool Data",
      "type": "object",
      "id": "PoolData",
      "properties": {
        "name": {
          "type": "string"
        },
        "stageIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SearchSparkApplicationJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationJobsRequest.",
          "type": "string"
        },
        "sparkApplicationJobs": {
          "readOnly": true,
          "items": {
            "$ref": "JobData"
          },
          "description": "Output only. Data corresponding to a spark job.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of Jobs associated with a Spark Application.",
      "id": "SearchSparkApplicationJobsResponse"
    },
    "WriteSessionSparkApplicationContextRequest": {
      "properties": {
        "sparkWrapperObjects": {
          "items": {
            "$ref": "SparkWrapperObject"
          },
          "type": "array",
          "description": "Required. The batch of spark application context objects sent for ingestion."
        },
        "parent": {
          "description": "Required. Parent (Batch) resource reference.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WriteSessionSparkApplicationContextRequest",
      "description": "Write Spark Application data to internal storage systems"
    },
    "ShufflePushReadMetrics": {
      "properties": {
        "corruptMergedBlockChunks": {
          "type": "string",
          "format": "int64"
        },
        "remoteMergedChunksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "localMergedChunksFetched": {
          "type": "string",
          "format": "int64"
        },
        "mergedFetchFallbackCount": {
          "format": "int64",
          "type": "string"
        },
        "localMergedBytesRead": {
          "type": "string",
          "format": "int64"
        },
        "localMergedBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteMergedReqsDuration": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ShufflePushReadMetrics"
    },
    "RepositoryConfig": {
      "id": "RepositoryConfig",
      "description": "Configuration for dependency repositories",
      "type": "object",
      "properties": {
        "pypiRepositoryConfig": {
          "description": "Optional. Configuration for PyPi repository.",
          "$ref": "PyPiRepositoryConfig"
        }
      }
    },
    "RddPartitionInfo": {
      "description": "Information about RDD partitions.",
      "id": "RddPartitionInfo",
      "properties": {
        "diskUsed": {
          "format": "int64",
          "type": "string"
        },
        "blockName": {
          "type": "string"
        },
        "memoryUsed": {
          "type": "string",
          "format": "int64"
        },
        "executors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storageLevel": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Cluster": {
      "properties": {
        "virtualClusterConfig": {
          "description": "Optional. The virtual cluster config is used when creating a Dataproc cluster that does not directly control the underlying compute resources, for example, when creating a Dataproc-on-GKE cluster (https://cloud.google.com/dataproc/docs/guides/dpgke/dataproc-gke-overview). Dataproc may set default values, and values may change when clusters are updated. Exactly one of config or virtual_cluster_config must be specified.",
          "$ref": "VirtualClusterConfig"
        },
        "status": {
          "$ref": "ClusterStatus",
          "description": "Output only. Cluster status.",
          "readOnly": true
        },
        "config": {
          "$ref": "ClusterConfig",
          "description": "Optional. The cluster config for a cluster of Compute Engine Instances. Note that Dataproc may set default values, and values may change when clusters are updated.Exactly one of ClusterConfig or VirtualClusterConfig must be specified."
        },
        "projectId": {
          "description": "Required. The Google Cloud Platform project ID that the cluster belongs to.",
          "type": "string"
        },
        "statusHistory": {
          "items": {
            "$ref": "ClusterStatus"
          },
          "type": "array",
          "description": "Output only. The previous cluster status.",
          "readOnly": true
        },
        "clusterUuid": {
          "readOnly": true,
          "description": "Output only. A cluster UUID (Unique Universal Identifier). Dataproc generates this value when it creates the cluster.",
          "type": "string"
        },
        "clusterName": {
          "description": "Required. The cluster name, which must be unique within a project. The name must start with a lowercase letter, and can contain up to 51 lowercase letters, numbers, and hyphens. It cannot end with a hyphen. The name of a deleted cluster can be reused.",
          "type": "string"
        },
        "metrics": {
          "readOnly": true,
          "$ref": "ClusterMetrics",
          "description": "Output only. Contains cluster daemon metrics such as HDFS and YARN stats.Beta Feature: This report is available for testing purposes only. It may be changed before final release."
        },
        "labels": {
          "description": "Optional. The labels to associate with this cluster. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "Describes the identifying information, config, and status of a Dataproc cluster",
      "id": "Cluster"
    },
    "SparkBatch": {
      "type": "object",
      "description": "A configuration for running an Apache Spark (https://spark.apache.org/) batch workload.",
      "properties": {
        "archiveUris": {
          "type": "array",
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          }
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor.",
          "type": "array"
        },
        "args": {
          "description": "Optional. The arguments to pass to the driver. Do not include arguments that can be set as batch properties, such as --conf, since a collision can occur that causes an incorrect batch submission.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jarFileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of jar files to add to the classpath of the Spark driver and tasks."
        },
        "mainClass": {
          "type": "string",
          "description": "Optional. The name of the driver main class. The jar file that contains the class must be in the classpath or specified in jar_file_uris."
        },
        "mainJarFileUri": {
          "type": "string",
          "description": "Optional. The HCFS URI of the jar file that contains the main class."
        }
      },
      "id": "SparkBatch"
    },
    "Batch": {
      "description": "A representation of a batch workload in the service.",
      "id": "Batch",
      "type": "object",
      "properties": {
        "sparkBatch": {
          "$ref": "SparkBatch",
          "description": "Optional. Spark batch config."
        },
        "createTime": {
          "description": "Output only. The time when the batch was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "description": "Output only. The resource name of the operation associated with this batch.",
          "type": "string",
          "readOnly": true
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Batch state details, such as a failure description if the state is FAILED."
        },
        "runtimeInfo": {
          "readOnly": true,
          "description": "Output only. Runtime information about batch execution.",
          "$ref": "RuntimeInfo"
        },
        "stateHistory": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Historical state information for the batch.",
          "items": {
            "$ref": "StateHistory"
          }
        },
        "sparkSqlBatch": {
          "$ref": "SparkSqlBatch",
          "description": "Optional. SparkSql batch config."
        },
        "runtimeConfig": {
          "description": "Optional. Runtime configuration for the batch execution.",
          "$ref": "RuntimeConfig"
        },
        "environmentConfig": {
          "description": "Optional. Environment configuration for the batch execution.",
          "$ref": "EnvironmentConfig"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the batch."
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address of the user who created the batch."
        },
        "stateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the batch entered a current state.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this batch. Label keys must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). Label values may be empty, but, if present, must contain 1 to 63 characters, and must conform to RFC 1035 (https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a batch."
        },
        "pysparkBatch": {
          "$ref": "PySparkBatch",
          "description": "Optional. PySpark batch config."
        },
        "sparkRBatch": {
          "description": "Optional. SparkR batch config.",
          "$ref": "SparkRBatch"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the batch.",
          "enumDescriptions": [
            "The batch state is unknown.",
            "The batch is created before running.",
            "The batch is running.",
            "The batch is cancelling.",
            "The batch cancellation was successful.",
            "The batch completed successfully.",
            "The batch is no longer running due to an error."
          ]
        },
        "uuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A batch UUID (Unique Universal Identifier). The service generates this value when it creates the batch."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "JobMetadata": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "JobStatus",
          "description": "Output only. Most recent job status.",
          "readOnly": true
        },
        "operationType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Operation type."
        },
        "jobId": {
          "readOnly": true,
          "description": "Output only. The job id.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Job submission time.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "JobMetadata",
      "description": "Job Operation metadata."
    },
    "StageMetrics": {
      "id": "StageMetrics",
      "description": "Stage Level Aggregated Metrics",
      "properties": {
        "resultSerializationTimeMillis": {
          "format": "int64",
          "type": "string"
        },
        "jvmGcTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "executorDeserializeCpuTimeNanos": {
          "format": "int64",
          "type": "string"
        },
        "executorRunTimeMillis": {
          "format": "int64",
          "type": "string"
        },
        "executorDeserializeTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "stageShuffleReadMetrics": {
          "$ref": "StageShuffleReadMetrics"
        },
        "stageInputMetrics": {
          "$ref": "StageInputMetrics"
        },
        "peakExecutionMemoryBytes": {
          "format": "int64",
          "type": "string"
        },
        "stageShuffleWriteMetrics": {
          "$ref": "StageShuffleWriteMetrics"
        },
        "resultSize": {
          "type": "string",
          "format": "int64"
        },
        "executorCpuTimeNanos": {
          "format": "int64",
          "type": "string"
        },
        "diskBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "memoryBytesSpilled": {
          "type": "string",
          "format": "int64"
        },
        "stageOutputMetrics": {
          "$ref": "StageOutputMetrics"
        }
      },
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "description": "Request message for GetIamPolicy method.",
      "type": "object",
      "id": "GetIamPolicyRequest",
      "properties": {
        "options": {
          "description": "OPTIONAL: A GetPolicyOptions object for specifying options to GetIamPolicy.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "SearchSparkApplicationStageAttemptTasksResponse": {
      "id": "SearchSparkApplicationStageAttemptTasksResponse",
      "type": "object",
      "properties": {
        "sparkApplicationStageAttemptTasks": {
          "description": "Output only. Data corresponding to tasks created by spark.",
          "type": "array",
          "items": {
            "$ref": "TaskData"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListSparkApplicationStageAttemptTasksRequest.",
          "type": "string"
        }
      },
      "description": "List of tasks for a stage of a Spark Application"
    },
    "SearchSessionSparkApplicationStageAttemptTasksResponse": {
      "id": "SearchSessionSparkApplicationStageAttemptTasksResponse",
      "type": "object",
      "properties": {
        "sparkApplicationStageAttemptTasks": {
          "type": "array",
          "description": "Output only. Data corresponding to tasks created by spark.",
          "readOnly": true,
          "items": {
            "$ref": "TaskData"
          }
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStageAttemptTasksRequest.",
          "type": "string"
        }
      },
      "description": "List of tasks for a stage of a Spark Application"
    },
    "SearchSessionSparkApplicationStageAttemptsResponse": {
      "type": "object",
      "id": "SearchSessionSparkApplicationStageAttemptsResponse",
      "description": "A list of Stage Attempts for a Stage of a Spark Application.",
      "properties": {
        "sparkApplicationStageAttempts": {
          "description": "Output only. Data corresponding to a stage attempts",
          "items": {
            "$ref": "StageData"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationStageAttemptsRequest.",
          "type": "string"
        }
      }
    },
    "VirtualClusterConfig": {
      "description": "The Dataproc cluster config for a cluster that does not directly control the underlying compute resources, such as a Dataproc-on-GKE cluster (https://cloud.google.com/dataproc/docs/guides/dpgke/dataproc-gke-overview).",
      "id": "VirtualClusterConfig",
      "properties": {
        "stagingBucket": {
          "description": "Optional. A Cloud Storage bucket used to stage job dependencies, config files, and job driver console output. If you do not specify a staging bucket, Cloud Dataproc will determine a Cloud Storage location (US, ASIA, or EU) for your cluster's staging bucket according to the Compute Engine zone where your cluster is deployed, and then create and manage this project-level, per-location bucket (see Dataproc staging and temp buckets (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/staging-bucket)). This field requires a Cloud Storage bucket name, not a gs://... URI to a Cloud Storage bucket.",
          "type": "string"
        },
        "auxiliaryServicesConfig": {
          "description": "Optional. Configuration of auxiliary services used by this cluster.",
          "$ref": "AuxiliaryServicesConfig"
        },
        "kubernetesClusterConfig": {
          "description": "Required. The configuration for running the Dataproc cluster on Kubernetes.",
          "$ref": "KubernetesClusterConfig"
        }
      },
      "type": "object"
    },
    "OrderedJob": {
      "description": "A job executed by the workflow.",
      "type": "object",
      "id": "OrderedJob",
      "properties": {
        "sparkRJob": {
          "$ref": "SparkRJob",
          "description": "Optional. Job is a SparkR job."
        },
        "scheduling": {
          "$ref": "JobScheduling",
          "description": "Optional. Job scheduling configuration."
        },
        "sparkSqlJob": {
          "description": "Optional. Job is a SparkSql job.",
          "$ref": "SparkSqlJob"
        },
        "stepId": {
          "type": "string",
          "description": "Required. The step id. The id must be unique among all jobs within the template.The step id is used as prefix for job id, as job goog-dataproc-workflow-step-id label, and in prerequisiteStepIds field from other steps.The id must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). Cannot begin or end with underscore or hyphen. Must consist of between 3 and 50 characters."
        },
        "pigJob": {
          "$ref": "PigJob",
          "description": "Optional. Job is a Pig job."
        },
        "hiveJob": {
          "description": "Optional. Job is a Hive job.",
          "$ref": "HiveJob"
        },
        "prestoJob": {
          "$ref": "PrestoJob",
          "description": "Optional. Job is a Presto job."
        },
        "prerequisiteStepIds": {
          "description": "Optional. The optional list of prerequisite job step_ids. If not specified, the job will start at the beginning of workflow.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sparkJob": {
          "$ref": "SparkJob",
          "description": "Optional. Job is a Spark job."
        },
        "trinoJob": {
          "description": "Optional. Job is a Trino job.",
          "$ref": "TrinoJob"
        },
        "flinkJob": {
          "$ref": "FlinkJob",
          "description": "Optional. Job is a Flink job."
        },
        "labels": {
          "description": "Optional. The labels to associate with this job.Label keys must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}{0,62}Label values must be between 1 and 63 characters long, and must conform to the following regular expression: \\p{Ll}\\p{Lo}\\p{N}_-{0,63}No more than 32 labels can be associated with a given job.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hadoopJob": {
          "description": "Optional. Job is a Hadoop job.",
          "$ref": "HadoopJob"
        },
        "pysparkJob": {
          "description": "Optional. Job is a PySpark job.",
          "$ref": "PySparkJob"
        }
      }
    },
    "JobScheduling": {
      "description": "Job scheduling options.",
      "type": "object",
      "id": "JobScheduling",
      "properties": {
        "maxFailuresPerHour": {
          "description": "Optional. Maximum number of times per hour a driver can be restarted as a result of driver exiting with non-zero code before job is reported failed.A job might be reported as thrashing if the driver exits with a non-zero code four times within a 10-minute window.Maximum value is 10.Note: This restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template).",
          "format": "int32",
          "type": "integer"
        },
        "maxFailuresTotal": {
          "type": "integer",
          "description": "Optional. Maximum total number of times a driver can be restarted as a result of the driver exiting with a non-zero code. After the maximum number is reached, the job will be reported as failed.Maximum value is 240.Note: Currently, this restartable job option is not supported in Dataproc workflow templates (https://cloud.google.com/dataproc/docs/concepts/workflows/using-workflows#adding_jobs_to_a_template).",
          "format": "int32"
        }
      }
    },
    "SearchSparkApplicationExecutorsResponse": {
      "properties": {
        "sparkApplicationExecutors": {
          "items": {
            "$ref": "ExecutorSummary"
          },
          "description": "Details about executors used by the application.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationExecutorsListRequest."
        }
      },
      "description": "List of Executors associated with a Spark Application.",
      "id": "SearchSparkApplicationExecutorsResponse",
      "type": "object"
    },
    "AccessSessionSparkApplicationStageRddOperationGraphResponse": {
      "properties": {
        "rddOperationGraph": {
          "$ref": "RddOperationGraph",
          "description": "RDD operation graph for a Spark Application Stage."
        }
      },
      "type": "object",
      "description": "RDD operation graph for a Spark Application Stage limited to maximum 10000 clusters.",
      "id": "AccessSessionSparkApplicationStageRddOperationGraphResponse"
    },
    "JobStatus": {
      "description": "Dataproc job status.",
      "id": "JobStatus",
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Optional. Output only. Job state details, such as an error description if the state is ERROR.",
          "readOnly": true
        },
        "substate": {
          "enum": [
            "UNSPECIFIED",
            "SUBMITTED",
            "QUEUED",
            "STALE_STATUS"
          ],
          "description": "Output only. Additional state information, which includes status reported by the agent.",
          "type": "string",
          "enumDescriptions": [
            "The job substate is unknown.",
            "The Job is submitted to the agent.Applies to RUNNING state.",
            "The Job has been received and is awaiting execution (it might be waiting for a condition to be met). See the \"details\" field for the reason for the delay.Applies to RUNNING state.",
            "The agent-reported status is out of date, which can be caused by a loss of communication between the agent and Dataproc. If the agent does not send a timely update, the job will fail.Applies to RUNNING state."
          ],
          "readOnly": true
        },
        "stateStartTime": {
          "description": "Output only. The time when this state was entered.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The job state is unknown.",
            "The job is pending; it has been submitted, but is not yet running.",
            "Job has been received by the service and completed initial setup; it will soon be submitted to the cluster.",
            "The job is running on the cluster.",
            "A CancelJob request has been received, but is pending.",
            "Transient in-flight resources have been canceled, and the request to cancel the running job has been issued to the cluster.",
            "The job cancellation was successful.",
            "The job has completed successfully.",
            "The job has completed, but encountered an error.",
            "Job attempt has failed. The detail field contains failure details for this attempt.Applies to restartable jobs only."
          ],
          "description": "Output only. A state message specifying the overall job state.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SETUP_DONE",
            "RUNNING",
            "CANCEL_PENDING",
            "CANCEL_STARTED",
            "CANCELLED",
            "DONE",
            "ERROR",
            "ATTEMPT_FAILURE"
          ]
        }
      }
    },
    "ValueInfo": {
      "id": "ValueInfo",
      "properties": {
        "overriddenValue": {
          "description": "Optional. Value which was replaced by the corresponding component.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Property value."
        },
        "annotation": {
          "type": "string",
          "description": "Annotation, comment or explanation why the property was set."
        }
      },
      "description": "Annotatated property value.",
      "type": "object"
    },
    "InstantiateWorkflowTemplateRequest": {
      "id": "InstantiateWorkflowTemplateRequest",
      "properties": {
        "requestId": {
          "description": "Optional. A tag that prevents multiple concurrent workflow instances with the same tag from running. This mitigates risk of concurrent instances started due to retries.It is recommended to always set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The tag must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The version of workflow template to instantiate. If specified, the workflow will be instantiated only if the current version of the workflow template has the supplied version.This option cannot be used to instantiate a previous version of workflow template."
        },
        "parameters": {
          "type": "object",
          "description": "Optional. Map from parameter names to values that should be used for those parameters. Values may not exceed 1000 characters.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A request to instantiate a workflow template.",
      "type": "object"
    },
    "NativeBuildInfoUiData": {
      "properties": {
        "buildInfo": {
          "items": {
            "$ref": "BuildInfo"
          },
          "description": "Optional. Build related details.",
          "type": "array"
        },
        "buildClass": {
          "description": "Optional. Build class of Native.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NativeBuildInfoUiData"
    },
    "SparkJob": {
      "id": "SparkJob",
      "description": "A Dataproc job for running Apache Spark (https://spark.apache.org/) applications on YARN.",
      "type": "object",
      "properties": {
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "mainClass": {
          "type": "string",
          "description": "The name of the driver's main class. The jar file that contains the class must be in the default CLASSPATH or specified in SparkJob.jar_file_uris."
        },
        "fileUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. HCFS URIs of files to be placed in the working directory of each executor. Useful for naively parallel tasks."
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of property names to values, used to configure Spark. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/spark/conf/spark-defaults.conf and classes in user code."
        },
        "args": {
          "type": "array",
          "description": "Optional. The arguments to pass to the driver. Do not include arguments, such as --conf, that can be set as job properties, since a collision may occur that causes an incorrect job submission.",
          "items": {
            "type": "string"
          }
        },
        "mainJarFileUri": {
          "description": "The HCFS URI of the jar file that contains the main class.",
          "type": "string"
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATHs of the Spark driver and tasks.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "archiveUris": {
          "description": "Optional. HCFS URIs of archives to be extracted into the working directory of each executor. Supported file types: .jar, .tar, .tar.gz, .tgz, and .zip.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "StopClusterRequest": {
      "type": "object",
      "id": "StopClusterRequest",
      "description": "A request to stop a cluster.",
      "properties": {
        "clusterUuid": {
          "description": "Optional. Specifying the cluster_uuid means the RPC will fail (with error NOT_FOUND) if a cluster with the specified UUID does not exist.",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A unique ID used to identify the request. If the server receives two StopClusterRequest (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.StopClusterRequest)s with the same id, then the second request will be ignored and the first google.longrunning.Operation created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters."
        }
      }
    },
    "ListSessionTemplatesResponse": {
      "type": "object",
      "description": "A list of session templates.",
      "properties": {
        "sessionTemplates": {
          "items": {
            "$ref": "SessionTemplate"
          },
          "type": "array",
          "description": "Output only. Session template list",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListSessionTemplatesResponse"
    },
    "AnalyzeOperationMetadata": {
      "id": "AnalyzeOperationMetadata",
      "description": "Metadata describing the Analyze operation.",
      "type": "object",
      "properties": {
        "analyzedWorkloadName": {
          "readOnly": true,
          "description": "Output only. name of the workload being analyzed.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Short description of the operation.",
          "type": "string"
        },
        "analyzedWorkloadType": {
          "description": "Output only. Type of the workload being analyzed.",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "BATCH"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Undefined option",
            "Serverless batch job"
          ]
        },
        "labels": {
          "description": "Output only. Labels associated with the operation.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the operation was created."
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the operation finished.",
          "readOnly": true
        },
        "analyzedWorkloadUuid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. unique identifier of the workload typically generated by control plane. E.g. batch uuid."
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Warnings encountered during operation execution.",
          "type": "array"
        }
      }
    },
    "RddOperationNode": {
      "description": "A node in the RDD operation graph. Corresponds to a single RDD.",
      "type": "object",
      "id": "RddOperationNode",
      "properties": {
        "outputDeterministicLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DETERMINISTIC_LEVEL_UNSPECIFIED",
            "DETERMINISTIC_LEVEL_DETERMINATE",
            "DETERMINISTIC_LEVEL_UNORDERED",
            "DETERMINISTIC_LEVEL_INDETERMINATE"
          ],
          "type": "string"
        },
        "cached": {
          "type": "boolean"
        },
        "barrier": {
          "type": "boolean"
        },
        "nodeId": {
          "type": "integer",
          "format": "int32"
        },
        "callsite": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy.Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected.Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset.The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "GetPolicyOptions"
    },
    "CancelJobRequest": {
      "description": "A request to cancel a job.",
      "id": "CancelJobRequest",
      "properties": {},
      "type": "object"
    },
    "SearchSparkApplicationStagesResponse": {
      "description": "A list of stages associated with a Spark Application.",
      "id": "SearchSparkApplicationStagesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationStages.",
          "type": "string"
        },
        "sparkApplicationStages": {
          "description": "Output only. Data corresponding to a stage.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "StageData"
          }
        }
      }
    },
    "GkeClusterConfig": {
      "id": "GkeClusterConfig",
      "description": "The cluster's GKE config.",
      "properties": {
        "namespacedGkeDeploymentTarget": {
          "deprecated": true,
          "$ref": "NamespacedGkeDeploymentTarget",
          "description": "Optional. Deprecated. Use gkeClusterTarget. Used only for the deprecated beta. A target for the deployment."
        },
        "nodePoolTarget": {
          "description": "Optional. GKE node pools where workloads will be scheduled. At least one node pool must be assigned the DEFAULT GkeNodePoolTarget.Role. If a GkeNodePoolTarget is not specified, Dataproc constructs a DEFAULT GkeNodePoolTarget. Each role can be given to only one GkeNodePoolTarget. All node pools must have the same location settings.",
          "type": "array",
          "items": {
            "$ref": "GkeNodePoolTarget"
          }
        },
        "gkeClusterTarget": {
          "description": "Optional. A target GKE cluster to deploy to. It must be in the same project and region as the Dataproc cluster (the GKE cluster can be zonal or regional). Format: 'projects/{project}/locations/{location}/clusters/{cluster_id}'",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SummarizeSessionSparkApplicationExecutorsResponse": {
      "description": "Consolidated summary of executors for a Spark Application.",
      "id": "SummarizeSessionSparkApplicationExecutorsResponse",
      "properties": {
        "applicationId": {
          "description": "Spark Application Id",
          "type": "string"
        },
        "activeExecutorSummary": {
          "description": "Consolidated summary for active executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "totalExecutorSummary": {
          "description": "Overall consolidated summary for all executors.",
          "$ref": "ConsolidatedExecutorSummary"
        },
        "deadExecutorSummary": {
          "$ref": "ConsolidatedExecutorSummary",
          "description": "Consolidated summary for dead executors."
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "AccessSparkApplicationEnvironmentInfoResponse": {
      "properties": {
        "applicationEnvironmentInfo": {
          "$ref": "ApplicationEnvironmentInfo",
          "description": "Details about the Environment that the application is running in."
        }
      },
      "id": "AccessSparkApplicationEnvironmentInfoResponse",
      "type": "object",
      "description": "Environment details of a Saprk Application."
    },
    "TemplateParameter": {
      "id": "TemplateParameter",
      "type": "object",
      "description": "A configurable parameter that replaces one or more fields in the template. Parameterizable fields: - Labels - File uris - Job properties - Job arguments - Script variables - Main class (in HadoopJob and SparkJob) - Zone (in ClusterSelector)",
      "properties": {
        "name": {
          "description": "Required. Parameter name. The parameter name is used as the key, and paired with the parameter value, which are passed to the template when the template is instantiated. The name must contain only capital letters (A-Z), numbers (0-9), and underscores (_), and must not start with a number. The maximum length is 40 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Brief description of the parameter. Must not exceed 1024 characters."
        },
        "fields": {
          "description": "Required. Paths to all fields that the parameter replaces. A field is allowed to appear in at most one parameter's list of field paths.A field path is similar in syntax to a google.protobuf.FieldMask. For example, a field path that references the zone field of a workflow template's cluster selector would be specified as placement.clusterSelector.zone.Also, field paths can reference fields using the following syntax: Values in maps can be referenced by key: labels'key' placement.clusterSelector.clusterLabels'key' placement.managedCluster.labels'key' placement.clusterSelector.clusterLabels'key' jobs'step-id'.labels'key' Jobs in the jobs list can be referenced by step-id: jobs'step-id'.hadoopJob.mainJarFileUri jobs'step-id'.hiveJob.queryFileUri jobs'step-id'.pySparkJob.mainPythonFileUri jobs'step-id'.hadoopJob.jarFileUris0 jobs'step-id'.hadoopJob.archiveUris0 jobs'step-id'.hadoopJob.fileUris0 jobs'step-id'.pySparkJob.pythonFileUris0 Items in repeated fields can be referenced by a zero-based index: jobs'step-id'.sparkJob.args0 Other examples: jobs'step-id'.hadoopJob.properties'key' jobs'step-id'.hadoopJob.args0 jobs'step-id'.hiveJob.scriptVariables'key' jobs'step-id'.hadoopJob.mainJarFileUri placement.clusterSelector.zoneIt may not be possible to parameterize maps and repeated fields in their entirety since only individual map values and individual items in repeated fields can be referenced. For example, the following field paths are invalid: placement.clusterSelector.clusterLabels jobs'step-id'.sparkJob.args",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "validation": {
          "description": "Optional. Validation rules to be applied to this parameter's value.",
          "$ref": "ParameterValidation"
        }
      }
    },
    "ReservationAffinity": {
      "properties": {
        "consumeReservationType": {
          "enumDescriptions": [
            "",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "description": "Optional. Type of reservation to consume"
        },
        "values": {
          "description": "Optional. Corresponds to the label values of reservation resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of reservation resource."
        }
      },
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "id": "ReservationAffinity",
      "type": "object"
    },
    "WriteSparkApplicationContextRequest": {
      "description": "Write Spark Application data to internal storage systems",
      "type": "object",
      "id": "WriteSparkApplicationContextRequest",
      "properties": {
        "sparkWrapperObjects": {
          "type": "array",
          "items": {
            "$ref": "SparkWrapperObject"
          }
        },
        "parent": {
          "description": "Required. Parent (Batch) resource reference.",
          "type": "string"
        }
      }
    },
    "AccessSparkApplicationJobResponse": {
      "id": "AccessSparkApplicationJobResponse",
      "type": "object",
      "description": "Details of a particular job associated with Spark Application",
      "properties": {
        "jobData": {
          "$ref": "JobData",
          "readOnly": true,
          "description": "Output only. Data corresponding to a spark job."
        }
      }
    },
    "ExecutorMetrics": {
      "type": "object",
      "properties": {
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "ExecutorMetrics"
    },
    "SearchSparkApplicationsResponse": {
      "description": "A list of summary of Spark Applications",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSparkApplicationsRequest."
        },
        "sparkApplications": {
          "type": "array",
          "description": "Output only. High level information corresponding to an application.",
          "readOnly": true,
          "items": {
            "$ref": "SparkApplication"
          }
        }
      },
      "id": "SearchSparkApplicationsResponse"
    },
    "AccessSessionSparkApplicationJobResponse": {
      "type": "object",
      "description": "Details of a particular job associated with Spark Application",
      "properties": {
        "jobData": {
          "$ref": "JobData",
          "readOnly": true,
          "description": "Output only. Data corresponding to a spark job."
        }
      },
      "id": "AccessSessionSparkApplicationJobResponse"
    },
    "SparkConnectSessionInfo": {
      "description": "Represents session-level information for Spark Connect",
      "id": "SparkConnectSessionInfo",
      "properties": {
        "userId": {
          "type": "string",
          "description": "User ID of the user who started the session."
        },
        "totalExecution": {
          "description": "Optional. Total number of executions in the session.",
          "type": "string",
          "format": "int64"
        },
        "startTimestamp": {
          "description": "Timestamp when the session started.",
          "type": "string",
          "format": "int64"
        },
        "finishTimestamp": {
          "description": "Timestamp when the session finished.",
          "type": "string",
          "format": "int64"
        },
        "sessionId": {
          "description": "Required. Session ID of the session.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "type": "object",
      "description": "Specifies the type and number of accelerator cards attached to the instances of an instance. See GPUs on Compute Engine (https://cloud.google.com/compute/docs/gpus/).",
      "properties": {
        "acceleratorTypeUri": {
          "type": "string",
          "description": "Full URL, partial URI, or short name of the accelerator type resource to expose to this instance. See Compute Engine AcceleratorTypes (https://cloud.google.com/compute/docs/reference/v1/acceleratorTypes).Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/acceleratorTypes/nvidia-tesla-t4 projects/[project_id]/zones/[zone]/acceleratorTypes/nvidia-tesla-t4 nvidia-tesla-t4Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the accelerator type resource, for example, nvidia-tesla-t4."
        },
        "acceleratorCount": {
          "description": "The number of the accelerator cards of this type exposed to this instance.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "StageShuffleWriteMetrics": {
      "type": "object",
      "description": "Shuffle data written for the stage.",
      "properties": {
        "bytesWritten": {
          "format": "int64",
          "type": "string"
        },
        "writeTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "StageShuffleWriteMetrics"
    },
    "ClusterOperationStatus": {
      "id": "ClusterOperationStatus",
      "type": "object",
      "description": "The status of the operation.",
      "properties": {
        "details": {
          "readOnly": true,
          "description": "Output only. A message containing any operation metadata details.",
          "type": "string"
        },
        "innerState": {
          "readOnly": true,
          "description": "Output only. A message containing the detailed operation state.",
          "type": "string"
        },
        "stateStartTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this state was entered."
        },
        "state": {
          "description": "Output only. A message containing the operation state.",
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The operation has been created.",
            "The operation is running.",
            "The operation is done; either cancelled or completed."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true
        }
      }
    },
    "SparkConnectConfig": {
      "description": "Spark connect configuration for an interactive session.",
      "properties": {},
      "type": "object",
      "id": "SparkConnectConfig"
    },
    "AccessSparkApplicationSqlQueryResponse": {
      "description": "Details of a query for a Spark Application",
      "properties": {
        "executionData": {
          "description": "SQL Execution Data",
          "$ref": "SqlExecutionUiData"
        }
      },
      "type": "object",
      "id": "AccessSparkApplicationSqlQueryResponse"
    },
    "RddOperationCluster": {
      "id": "RddOperationCluster",
      "type": "object",
      "description": "A grouping of nodes representing higher level constructs (stage, job etc.).",
      "properties": {
        "name": {
          "type": "string"
        },
        "rddClusterId": {
          "type": "string"
        },
        "childNodes": {
          "items": {
            "$ref": "RddOperationNode"
          },
          "type": "array"
        },
        "childClusters": {
          "type": "array",
          "items": {
            "$ref": "RddOperationCluster"
          }
        }
      }
    },
    "ShuffleReadQuantileMetrics": {
      "type": "object",
      "id": "ShuffleReadQuantileMetrics",
      "properties": {
        "remoteBlocksFetched": {
          "$ref": "Quantiles"
        },
        "totalBlocksFetched": {
          "$ref": "Quantiles"
        },
        "remoteBytesReadToDisk": {
          "$ref": "Quantiles"
        },
        "localBlocksFetched": {
          "$ref": "Quantiles"
        },
        "readRecords": {
          "$ref": "Quantiles"
        },
        "remoteBytesRead": {
          "$ref": "Quantiles"
        },
        "shufflePushReadMetrics": {
          "$ref": "ShufflePushReadQuantileMetrics"
        },
        "fetchWaitTimeMillis": {
          "$ref": "Quantiles"
        },
        "remoteReqsDuration": {
          "$ref": "Quantiles"
        },
        "readBytes": {
          "$ref": "Quantiles"
        }
      }
    },
    "SecurityConfig": {
      "id": "SecurityConfig",
      "type": "object",
      "properties": {
        "kerberosConfig": {
          "description": "Optional. Kerberos related configuration.",
          "$ref": "KerberosConfig"
        },
        "identityConfig": {
          "description": "Optional. Identity related configuration, including service account based secure multi-tenancy user mappings.",
          "$ref": "IdentityConfig"
        }
      },
      "description": "Security related configuration, including encryption, Kerberos, etc."
    },
    "StageShuffleReadMetrics": {
      "description": "Shuffle data read for the stage.",
      "properties": {
        "remoteBytesReadToDisk": {
          "type": "string",
          "format": "int64"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        },
        "fetchWaitTimeMillis": {
          "type": "string",
          "format": "int64"
        },
        "remoteBlocksFetched": {
          "format": "int64",
          "type": "string"
        },
        "remoteBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "remoteReqsDuration": {
          "format": "int64",
          "type": "string"
        },
        "localBlocksFetched": {
          "type": "string",
          "format": "int64"
        },
        "localBytesRead": {
          "format": "int64",
          "type": "string"
        },
        "bytesRead": {
          "format": "int64",
          "type": "string"
        },
        "stageShufflePushReadMetrics": {
          "$ref": "StageShufflePushReadMetrics"
        }
      },
      "type": "object",
      "id": "StageShuffleReadMetrics"
    },
    "StageAttemptTasksSummary": {
      "type": "object",
      "id": "StageAttemptTasksSummary",
      "description": "Data related to tasks summary for a Spark Stage Attempt",
      "properties": {
        "numSuccessTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numRunningTasks": {
          "format": "int32",
          "type": "integer"
        },
        "numTasks": {
          "format": "int32",
          "type": "integer"
        },
        "stageId": {
          "format": "int64",
          "type": "string"
        },
        "stageAttemptId": {
          "type": "integer",
          "format": "int32"
        },
        "numPendingTasks": {
          "type": "integer",
          "format": "int32"
        },
        "applicationId": {
          "type": "string"
        },
        "numFailedTasks": {
          "type": "integer",
          "format": "int32"
        },
        "numKilledTasks": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AccessSparkApplicationStageAttemptResponse": {
      "id": "AccessSparkApplicationStageAttemptResponse",
      "properties": {
        "stageData": {
          "readOnly": true,
          "$ref": "StageData",
          "description": "Output only. Data corresponding to a stage."
        }
      },
      "description": "Stage Attempt for a Stage of a Spark Application",
      "type": "object"
    },
    "YarnApplication": {
      "properties": {
        "memoryMbSeconds": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The cumulative memory usage of the application for a job, measured in mb-seconds."
        },
        "progress": {
          "description": "Required. The numerical progress of the application, from 1 to 100.",
          "format": "float",
          "type": "number"
        },
        "vcoreSeconds": {
          "type": "string",
          "description": "Optional. The cumulative CPU time consumed by the application for a job, measured in vcore-seconds.",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "NEW_SAVING",
            "SUBMITTED",
            "ACCEPTED",
            "RUNNING",
            "FINISHED",
            "FAILED",
            "KILLED"
          ],
          "enumDescriptions": [
            "Status is unspecified.",
            "Status is NEW.",
            "Status is NEW_SAVING.",
            "Status is SUBMITTED.",
            "Status is ACCEPTED.",
            "Status is RUNNING.",
            "Status is FINISHED.",
            "Status is FAILED.",
            "Status is KILLED."
          ],
          "description": "Required. The application state."
        },
        "trackingUrl": {
          "type": "string",
          "description": "Optional. The HTTP URL of the ApplicationMaster, HistoryServer, or TimelineServer that provides application-specific information. The URL uses the internal hostname, and requires a proxy server for resolution and, possibly, access."
        },
        "name": {
          "type": "string",
          "description": "Required. The application name."
        }
      },
      "type": "object",
      "description": "A YARN application created by a job. Application information is a subset of org.apache.hadoop.yarn.proto.YarnProtos.ApplicationReportProto.Beta Feature: This report is available for testing purposes only. It may be changed before final release.",
      "id": "YarnApplication"
    },
    "PigJob": {
      "type": "object",
      "id": "PigJob",
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of property names to values, used to configure Pig. Properties that conflict with values set by the Dataproc API might be overwritten. Can include properties set in /etc/hadoop/conf/*-site.xml, /etc/pig/conf/pig.properties, and classes in user code."
        },
        "queryList": {
          "$ref": "QueryList",
          "description": "A list of queries."
        },
        "scriptVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Mapping of query variable names to values (equivalent to the Pig command: name=[value])."
        },
        "loggingConfig": {
          "description": "Optional. The runtime log config for job execution.",
          "$ref": "LoggingConfig"
        },
        "continueOnFailure": {
          "type": "boolean",
          "description": "Optional. Whether to continue executing queries if a query fails. The default value is false. Setting to true can be useful when executing independent parallel queries."
        },
        "jarFileUris": {
          "description": "Optional. HCFS URIs of jar files to add to the CLASSPATH of the Pig Client and Hadoop MapReduce (MR) tasks. Can contain Pig UDFs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "queryFileUri": {
          "type": "string",
          "description": "The HCFS URI of the script that contains the Pig queries."
        }
      },
      "description": "A Dataproc job for running Apache Pig (https://pig.apache.org/) queries on YARN."
    },
    "JobsSummary": {
      "description": "Data related to Jobs page summary",
      "type": "object",
      "properties": {
        "attempts": {
          "items": {
            "$ref": "ApplicationAttemptInfo"
          },
          "description": "Attempts info",
          "type": "array"
        },
        "completedJobs": {
          "format": "int32",
          "type": "integer",
          "description": "Number of completed jobs"
        },
        "applicationId": {
          "type": "string",
          "description": "Spark Application Id"
        },
        "schedulingMode": {
          "description": "Spark Scheduling mode",
          "type": "string"
        },
        "activeJobs": {
          "description": "Number of active jobs",
          "type": "integer",
          "format": "int32"
        },
        "failedJobs": {
          "description": "Number of failed jobs",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "JobsSummary"
    },
    "ListJobsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of jobs with kms_key-encrypted parameters that could not be decrypted. A response to a jobs.get request may indicate the reason for the decryption failure for a specific job."
        },
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "Output only. Jobs list.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Optional. This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent ListJobsRequest.",
          "type": "string"
        }
      },
      "description": "A list of jobs in a project.",
      "type": "object",
      "id": "ListJobsResponse"
    },
    "InputMetrics": {
      "properties": {
        "bytesRead": {
          "format": "int64",
          "type": "string"
        },
        "recordsRead": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "InputMetrics",
      "description": "Metrics about the input data read by the task."
    },
    "Interval": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval.If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval.If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive).The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "ShuffleWriteMetrics": {
      "type": "object",
      "id": "ShuffleWriteMetrics",
      "properties": {
        "writeTimeNanos": {
          "type": "string",
          "format": "int64"
        },
        "bytesWritten": {
          "type": "string",
          "format": "int64"
        },
        "recordsWritten": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Shuffle data written by task."
    },
    "AnalyzeBatchRequest": {
      "description": "A request to analyze a batch workload.",
      "id": "AnalyzeBatchRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A unique ID used to identify the request. If the service receives two AnalyzeBatchRequest (http://cloud/dataproc/docs/reference/rpc/google.cloud.dataproc.v1#google.cloud.dataproc.v1.AnalyzeBatchRequest)s with the same request_id, the second request is ignored and the Operation that corresponds to the first request created and stored in the backend is returned.Recommendation: Set this value to a UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier).The value must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 40 characters.",
          "type": "string"
        },
        "requestorId": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. The requestor ID is used to identify if the request comes from a GCA investigation or the old Ask Gemini Experience. "
        }
      }
    },
    "BuildInfo": {
      "id": "BuildInfo",
      "description": "Native Build Info",
      "properties": {
        "buildKey": {
          "type": "string",
          "description": "Optional. Build key."
        },
        "buildValue": {
          "description": "Optional. Build value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthenticationConfig": {
      "description": "Authentication configuration for a workload is used to set the default identity for the workload execution. The config specifies the type of identity (service account or user) that will be used by workloads to access resources on the project(s).",
      "properties": {
        "userWorkloadAuthenticationType": {
          "type": "string",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SERVICE_ACCOUNT",
            "END_USER_CREDENTIALS"
          ],
          "enumDescriptions": [
            "If AuthenticationType is unspecified then END_USER_CREDENTIALS is used for 3.0 and newer runtimes, and SERVICE_ACCOUNT is used for older runtimes.",
            "Use service account credentials for authenticating to other services.",
            "Use OAuth credentials associated with the workload creator/user for authenticating to other services."
          ],
          "description": "Optional. Authentication type for the user workload running in containers."
        }
      },
      "type": "object",
      "id": "AuthenticationConfig"
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object"
    },
    "KubernetesSoftwareConfig": {
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The properties to set on daemon config files.Property keys are specified in prefix:property format, for example spark:spark.kubernetes.container.image. The following are supported prefixes and their mappings: spark: spark-defaults.confFor more information, see Cluster properties (https://cloud.google.com/dataproc/docs/concepts/cluster-properties).",
          "type": "object"
        },
        "componentVersion": {
          "description": "The components that should be installed in this Dataproc cluster. The key must be a string from the KubernetesComponent enumeration. The value is the version of the software to be installed. At least one entry must be specified.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The software configuration for this Dataproc cluster running on Kubernetes.",
      "id": "KubernetesSoftwareConfig"
    },
    "GkeNodeConfig": {
      "type": "object",
      "id": "GkeNodeConfig",
      "properties": {
        "accelerators": {
          "description": "Optional. A list of hardware accelerators (https://cloud.google.com/compute/docs/gpus) to attach to each node.",
          "type": "array",
          "items": {
            "$ref": "GkeNodePoolAcceleratorConfig"
          }
        },
        "bootDiskKmsKey": {
          "type": "string",
          "description": "Optional. The Customer Managed Encryption Key (CMEK) (https://cloud.google.com/kubernetes-engine/docs/how-to/using-cmek) used to encrypt the boot disk attached to each node in the node pool. Specify the key using the following format: projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}"
        },
        "localSsdCount": {
          "description": "Optional. The number of local SSD disks to attach to the node, which is limited by the maximum number of disks allowable per zone (see Adding Local SSDs (https://cloud.google.com/compute/docs/disks/local-ssd)).",
          "type": "integer",
          "format": "int32"
        },
        "preemptible": {
          "type": "boolean",
          "description": "Optional. Whether the nodes are created as legacy preemptible VM instances (https://cloud.google.com/compute/docs/instances/preemptible). Also see Spot VMs, preemptible VM instances without a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role)."
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The name of a Compute Engine machine type (https://cloud.google.com/compute/docs/machine-types)."
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Minimum CPU platform (https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) to be used by this instance. The instance may be scheduled on the specified or a newer CPU platform. Specify the friendly names of CPU platforms, such as \"Intel Haswell\"` or Intel Sandy Bridge\"."
        },
        "spot": {
          "type": "boolean",
          "description": "Optional. Whether the nodes are created as Spot VM instances (https://cloud.google.com/compute/docs/instances/spot). Spot VMs are the latest update to legacy preemptible VMs. Spot VMs do not have a maximum lifetime. Legacy and Spot preemptible nodes cannot be used in a node pool with the CONTROLLER role or in the DEFAULT node pool if the CONTROLLER role is not assigned (the DEFAULT node pool will assume the CONTROLLER role)."
        }
      },
      "description": "Parameters that describe cluster nodes."
    },
    "SearchSessionSparkApplicationExecutorStageSummaryResponse": {
      "id": "SearchSessionSparkApplicationExecutorStageSummaryResponse",
      "description": "List of Executors associated with a Spark Application Stage.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This token is included in the response if there are more results to fetch. To fetch additional results, provide this value as the page_token in a subsequent SearchSessionSparkApplicationExecutorStageSummaryRequest.",
          "type": "string"
        },
        "sparkApplicationStageExecutors": {
          "type": "array",
          "description": "Details about executors used by the application stage.",
          "items": {
            "$ref": "ExecutorStageSummary"
          }
        }
      }
    },
    "AccessSessionSparkApplicationSqlSparkPlanGraphResponse": {
      "description": "SparkPlanGraph for a Spark Application execution limited to maximum 10000 clusters.",
      "properties": {
        "sparkPlanGraph": {
          "description": "SparkPlanGraph for a Spark Application execution.",
          "$ref": "SparkPlanGraph"
        }
      },
      "type": "object",
      "id": "AccessSessionSparkApplicationSqlSparkPlanGraphResponse"
    },
    "StreamBlockData": {
      "description": "Stream Block Data.",
      "id": "StreamBlockData",
      "properties": {
        "executorId": {
          "type": "string"
        },
        "useDisk": {
          "type": "boolean"
        },
        "storageLevel": {
          "type": "string"
        },
        "deserialized": {
          "type": "boolean"
        },
        "memSize": {
          "format": "int64",
          "type": "string"
        },
        "diskSize": {
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "useMemory": {
          "type": "boolean"
        },
        "hostPort": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstanceGroupConfig": {
      "description": "The config settings for Compute Engine resources in an instance group, such as a master or worker group.",
      "id": "InstanceGroupConfig",
      "properties": {
        "imageUri": {
          "description": "Optional. The Compute Engine image resource used for cluster instances.The URI can represent an image or image family.Image examples: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/[image-id] projects/[project_id]/global/images/[image-id] image-idImage family examples. Dataproc will use the most recent image from the family: https://www.googleapis.com/compute/v1/projects/[project_id]/global/images/family/[custom-image-family-name] projects/[project_id]/global/images/family/[custom-image-family-name]If the URI is unspecified, it will be inferred from SoftwareConfig.image_version or the system default.",
          "type": "string"
        },
        "preemptibility": {
          "type": "string",
          "description": "Optional. Specifies the preemptibility of the instance group.The default value for master and worker groups is NON_PREEMPTIBLE. This default cannot be changed.The default value for secondary instances is PREEMPTIBLE.",
          "enumDescriptions": [
            "Preemptibility is unspecified, the system will choose the appropriate setting for each instance group.",
            "Instances are non-preemptible.This option is allowed for all instance groups and is the only valid value for Master and Worker instance groups.",
            "Instances are preemptible (https://cloud.google.com/compute/docs/instances/preemptible).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups.",
            "Instances are Spot VMs (https://cloud.google.com/compute/docs/instances/spot).This option is allowed only for secondary worker (https://cloud.google.com/dataproc/docs/concepts/compute/secondary-vms) groups. Spot VMs are the latest version of preemptible VMs (https://cloud.google.com/compute/docs/instances/preemptible), and provide additional features."
          ],
          "enum": [
            "PREEMPTIBILITY_UNSPECIFIED",
            "NON_PREEMPTIBLE",
            "PREEMPTIBLE",
            "SPOT"
          ]
        },
        "accelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "Optional. The Compute Engine accelerator configuration for these instances.",
          "type": "array"
        },
        "managedGroupConfig": {
          "readOnly": true,
          "$ref": "ManagedGroupConfig",
          "description": "Output only. The config for Compute Engine Instance Group Manager that manages this group. This is only used for preemptible instance groups."
        },
        "isPreemptible": {
          "type": "boolean",
          "description": "Output only. Specifies that this instance group contains preemptible instances.",
          "readOnly": true
        },
        "machineTypeUri": {
          "description": "Optional. The Compute Engine machine type used for cluster instances.A full URL, partial URI, or short name are valid. Examples: https://www.googleapis.com/compute/v1/projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 projects/[project_id]/zones/[zone]/machineTypes/n1-standard-2 n1-standard-2Auto Zone Exception: If you are using the Dataproc Auto Zone Placement (https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/auto-zone#using_auto_zone_placement) feature, you must use the short name of the machine type resource, for example, n1-standard-2.",
          "type": "string"
        },
        "minCpuPlatform": {
          "type": "string",
          "description": "Optional. Specifies the minimum cpu platform for the Instance Group. See Dataproc -> Minimum CPU Platform (https://cloud.google.com/dataproc/docs/concepts/compute/dataproc-min-cpu)."
        },
        "instanceNames": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of instance names. Dataproc derives the names from cluster_name, num_instances, and the instance group."
        },
        "instanceFlexibilityPolicy": {
          "description": "Optional. Instance flexibility Policy allowing a mixture of VM shapes and provisioning models.",
          "$ref": "InstanceFlexibilityPolicy"
        },
        "instanceReferences": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of references to Compute Engine instances.",
          "items": {
            "$ref": "InstanceReference"
          }
        },
        "numInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of VM instances in the instance group. For HA cluster master_config groups, must be set to 3. For standard cluster master_config groups, must be set to 1."
        },
        "startupConfig": {
          "description": "Optional. Configuration to handle the startup of instances during cluster create and update process.",
          "$ref": "StartupConfig"
        },
        "minNumInstances": {
          "description": "Optional. The minimum number of primary worker instances to create. If min_num_instances is set, cluster creation will succeed if the number of primary workers created is at least equal to the min_num_instances number.Example: Cluster creation request with num_instances = 5 and min_num_instances = 3: If 4 VMs are created and 1 instance fails, the failed VM is deleted. The cluster is resized to 4 instances and placed in a RUNNING state. If 2 instances are created and 3 instances fail, the cluster in placed in an ERROR state. The failed VMs are not deleted.",
          "type": "integer",
          "format": "int32"
        },
        "diskConfig": {
          "description": "Optional. Disk option config settings.",
          "$ref": "DiskConfig"
        }
      },
      "type": "object"
    },
    "Metric": {
      "description": "A Dataproc custom metric.",
      "type": "object",
      "properties": {
        "metricSource": {
          "type": "string",
          "enumDescriptions": [
            "Required unspecified metric source.",
            "Monitoring agent metrics. If this source is enabled, Dataproc enables the monitoring agent in Compute Engine, and collects monitoring agent metrics, which are published with an agent.googleapis.com prefix.",
            "HDFS metric source.",
            "Spark metric source.",
            "YARN metric source.",
            "Spark History Server metric source.",
            "Hiveserver2 metric source.",
            "hivemetastore metric source",
            "flink metric source"
          ],
          "enum": [
            "METRIC_SOURCE_UNSPECIFIED",
[...]
