{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "id": "datacatalog:v1",
  "version_module": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudDatacatalogV1ImportTaxonomiesRequest": {
      "properties": {
        "inlineSource": {
          "description": "Inline source taxonomy to import.",
          "$ref": "GoogleCloudDatacatalogV1InlineSource"
        },
        "crossRegionalSource": {
          "description": "Cross-regional source taxonomy to import.",
          "$ref": "GoogleCloudDatacatalogV1CrossRegionalSource"
        }
      },
      "id": "GoogleCloudDatacatalogV1ImportTaxonomiesRequest",
      "description": "Request message for ImportTaxonomies.",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Binding": {
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "GoogleCloudDatacatalogV1StarEntryResponse": {
      "id": "GoogleCloudDatacatalogV1StarEntryResponse",
      "description": "Response message for StarEntry. Empty for now",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ServiceSpec": {
      "id": "GoogleCloudDatacatalogV1ServiceSpec",
      "description": "Specification that applies to a Service resource. Valid only for entries with the `SERVICE` type.",
      "properties": {
        "cloudBigtableInstanceSpec": {
          "description": "Specification that applies to Instance entries of `CLOUD_BIGTABLE` system.",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Entry": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1Entry",
      "description": "Entry metadata. A Data Catalog entry represents another resource in Google Cloud Platform (such as a BigQuery dataset or a Pub/Sub topic) or outside of it. You can use the `linked_resource` field in the entry resource to refer to the original resource ID of the source system. An entry resource contains resource details, for example, its schema. Additionally, you can attach flexible metadata to an entry in the form of a Tag.",
      "properties": {
        "schema": {
          "description": "Schema of the entry. An entry might not have any schema attached to it.",
          "$ref": "GoogleCloudDatacatalogV1Schema"
        },
        "databaseTableSpec": {
          "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` or `EXPLORE` type.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpec"
        },
        "gcsFilesetSpec": {
          "description": "Specification that applies to a Cloud Storage fileset. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1GcsFilesetSpec"
        },
        "graphSpec": {
          "description": "Spec for graph.",
          "$ref": "GoogleCloudDatacatalogV1GraphSpec"
        },
        "sqlDatabaseSystemSpec": {
          "description": "Specification that applies to a relational database system. Only settable when `user_specified_system` is equal to `SQL_DATABASE`",
          "$ref": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec"
        },
        "datasetSpec": {
          "description": "Specification that applies to a dataset.",
          "$ref": "GoogleCloudDatacatalogV1DatasetSpec"
        },
        "userSpecifiedType": {
          "description": "Custom entry type that doesn't match any of the values allowed for input and listed in the `EntryType` enum. When creating an entry, first check the type values in the enum. If there are no appropriate types for the new entry, provide a custom value, for example, `my_special_type`. The `user_specified_type` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "linkedResource": {
          "description": "The resource this metadata entry refers to. For Google Cloud Platform resources, `linked_resource` is the [Full Resource Name] (https://cloud.google.com/apis/design/resource_names#full_resource_name). For example, the `linked_resource` for a table resource from BigQuery is: `//bigquery.googleapis.com/projects/{PROJECT_ID}/datasets/{DATASET_ID}/tables/{TABLE_ID}` Output only when the entry is one of the types in the `EntryType` enum. For entries with a `user_specified_type`, this field is optional and defaults to an empty string. The resource string must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), periods (.), colons (:), slashes (/), dashes (-), and hashes (#). The maximum size is 200 bytes when encoded in UTF-8.",
          "type": "string"
        },
        "featureOnlineStoreSpec": {
          "description": "FeatureonlineStore spec for Vertex AI Feature Store.",
          "$ref": "GoogleCloudDatacatalogV1FeatureOnlineStoreSpec"
        },
        "modelSpec": {
          "description": "Model specification.",
          "$ref": "GoogleCloudDatacatalogV1ModelSpec"
        },
        "bigqueryTableSpec": {
          "readOnly": true,
          "description": "Output only. Specification that applies to a BigQuery table. Valid only for entries with the `TABLE` type.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryTableSpec"
        },
        "displayName": {
          "description": "Display name of an entry. The maximum size is 500 bytes when encoded in UTF-8. Default value is an empty string.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of an entry in URL format. Note: The entry itself and its child resources might not be stored in the location specified in its name."
        },
        "routineSpec": {
          "description": "Specification that applies to a user-defined function or procedure. Valid only for entries with the `ROUTINE` type.",
          "$ref": "GoogleCloudDatacatalogV1RoutineSpec"
        },
        "lookerSystemSpec": {
          "description": "Specification that applies to Looker sysstem. Only settable when `user_specified_system` is equal to `LOOKER`",
          "$ref": "GoogleCloudDatacatalogV1LookerSystemSpec"
        },
        "filesetSpec": {
          "description": "Specification that applies to a fileset resource. Valid only for entries with the `FILESET` type.",
          "$ref": "GoogleCloudDatacatalogV1FilesetSpec"
        },
        "userSpecifiedSystem": {
          "description": "Indicates the entry's source system that Data Catalog doesn't automatically integrate with. The `user_specified_system` string has the following limitations: * Is case insensitive. * Must begin with a letter or underscore. * Can only contain letters, numbers, and underscores. * Must be at least 1 character and at most 64 characters long.",
          "type": "string"
        },
        "type": {
          "description": "The type of the entry. For details, see [`EntryType`](#entrytype).",
          "enum": [
            "ENTRY_TYPE_UNSPECIFIED",
            "TABLE",
            "MODEL",
            "DATA_STREAM",
            "FILESET",
            "CLUSTER",
            "DATABASE",
            "DATA_SOURCE_CONNECTION",
            "ROUTINE",
            "LAKE",
            "ZONE",
            "SERVICE",
            "DATABASE_SCHEMA",
            "DASHBOARD",
            "EXPLORE",
            "LOOK",
            "FEATURE_ONLINE_STORE",
            "FEATURE_VIEW",
            "FEATURE_GROUP",
            "GRAPH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown type.",
            "The entry type that has a GoogleSQL schema, including logical views.",
            "The type of models. For more information, see [Supported models in BigQuery ML](/bigquery/docs/bqml-introduction#supported_models).",
            "An entry type for streaming entries. For example, a Pub/Sub topic.",
            "An entry type for a set of files or objects. For example, a Cloud Storage fileset.",
            "A group of servers that work together. For example, a Kafka cluster.",
            "A database.",
            "Connection to a data source. For example, a BigQuery connection.",
            "Routine, for example, a BigQuery routine.",
            "A Dataplex Universal Catalog lake.",
            "A Dataplex Universal Catalog zone.",
            "A service, for example, a Dataproc Metastore service.",
            "Schema within a relational database.",
            "A Dashboard, for example from Looker.",
            "A Looker Explore. For more information, see [Looker Explore API] (https://developers.looker.com/api/explorer/4.0/methods/LookmlModel/lookml_model_explore).",
            "A Looker Look. For more information, see [Looker Look API] (https://developers.looker.com/api/explorer/4.0/methods/Look).",
            "Feature Online Store resource in Vertex AI Feature Store.",
            "Feature View resource in Vertex AI Feature Store.",
            "Feature Group resource in Vertex AI Feature Store.",
            "An entry type for a graph."
          ]
        },
        "dataSourceConnectionSpec": {
          "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type.",
          "$ref": "GoogleCloudDatacatalogV1DataSourceConnectionSpec"
        },
        "fullyQualifiedName": {
          "type": "string",
          "description": "[Fully Qualified Name (FQN)](https://cloud.google.com//data-catalog/docs/fully-qualified-names) of the resource. Set automatically for entries representing resources from synced systems. Settable only during creation, and read-only later. Can be used for search and lookup of the entries. "
        },
        "businessContext": {
          "description": "Business Context of the entry. Not supported for BigQuery datasets",
          "$ref": "GoogleCloudDatacatalogV1BusinessContext"
        },
        "dataSource": {
          "readOnly": true,
          "description": "Output only. Physical location of the entry.",
          "$ref": "GoogleCloudDatacatalogV1DataSource"
        },
        "personalDetails": {
          "description": "Output only. Additional information related to the entry. Private to the current user.",
          "$ref": "GoogleCloudDatacatalogV1PersonalDetails",
          "readOnly": true
        },
        "bigqueryDateShardedSpec": {
          "readOnly": true,
          "description": "Output only. Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
          "$ref": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec"
        },
        "usageSignal": {
          "description": "Resource usage statistics.",
          "$ref": "GoogleCloudDatacatalogV1UsageSignal"
        },
        "labels": {
          "type": "object",
          "description": "Cloud labels attached to the entry. In Data Catalog, you can create and modify labels attached only to custom entries. Synced entries have unmodifiable labels that come from the source system.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "integratedSystem": {
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "description": "Output only. Indicates the entry's source system that Data Catalog integrates with, such as BigQuery, Pub/Sub, or Dataproc Metastore.",
          "type": "string"
        },
        "serviceSpec": {
          "description": "Specification that applies to a Service resource.",
          "$ref": "GoogleCloudDatacatalogV1ServiceSpec"
        },
        "cloudBigtableSystemSpec": {
          "description": "Specification that applies to Cloud Bigtable system. Only settable when `integrated_system` is equal to `CLOUD_BIGTABLE`",
          "$ref": "GoogleCloudDatacatalogV1CloudBigtableSystemSpec"
        },
        "sourceSystemTimestamps": {
          "description": "Timestamps from the underlying resource, not from the Data Catalog entry. Output only when the entry has a system listed in the `IntegratedSystem` enum. For entries with `user_specified_system`, this field is optional and defaults to an empty timestamp.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps"
        },
        "spannerTableSpec": {
          "description": "Specification of a Spanner table.",
          "$ref": "GoogleCloudDatacatalogV1SpannerTableSpec"
        },
        "description": {
          "description": "Entry description that can consist of several sentences or paragraphs that describe entry contents. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). The maximum size is 2000 bytes when encoded in UTF-8. Default value is an empty string.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1BigQueryConnectionSpec": {
      "id": "GoogleCloudDatacatalogV1BigQueryConnectionSpec",
      "description": "Specification for the BigQuery connection.",
      "properties": {
        "connectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Cloud SQL connection."
          ],
          "description": "The type of the BigQuery connection.",
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "CLOUD_SQL"
          ]
        },
        "cloudSql": {
          "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
          "$ref": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec"
        },
        "hasCredential": {
          "type": "boolean",
          "description": "True if there are credentials attached to the BigQuery connection; false otherwise."
        }
      },
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerForeignKeyForeignKeyColumnMapping",
      "description": "Column mapping for a Spanner foreign key.",
      "properties": {
        "column": {
          "type": "string",
          "description": "Output only. The column in the current table that is part of the foreign key.",
          "readOnly": true
        },
        "referenceColumn": {
          "description": "Output only. The column in the referenced table that is part of the foreign key.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1CommonUsageStats": {
      "type": "object",
      "properties": {
        "viewCount": {
          "type": "string",
          "format": "int64",
          "description": "View count in source system."
        }
      },
      "id": "GoogleCloudDatacatalogV1CommonUsageStats",
      "description": "Common statistics on the entry's usage. They can be set on any system."
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey": {
      "id": "GoogleCloudDatacatalogV1SpannerTableSpecSpannerPrimaryKey",
      "description": "Specification of a Spanner primary key.",
      "properties": {
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Column names of the primary key."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpec": {
      "properties": {
        "databaseViewSpec": {
          "description": "Spec what applies to tables that are actually views. Not set for \"real\" tables.",
          "$ref": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default unknown table type.",
            "Native table.",
            "External table."
          ],
          "description": "Type of this table.",
          "enum": [
            "TABLE_TYPE_UNSPECIFIED",
            "NATIVE",
            "EXTERNAL"
          ]
        },
        "dataplexTable": {
          "readOnly": true,
          "description": "Output only. Fields specific to a Dataplex Universal Catalog table and present only in the Dataplex Universal Catalog table entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexTableSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpec",
      "description": "Specification that applies to a table resource. Valid only for entries with the `TABLE` type.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema": {
      "properties": {},
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaOrcSchema",
      "description": "Marks an ORC-encoded data source.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SearchCatalogRequestScope": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1SearchCatalogRequestScope",
      "description": "The criteria that select the subspace used for query matching.",
      "properties": {
        "includeGcpPublicDatasets": {
          "type": "boolean",
          "description": "If `true`, include Google Cloud public datasets in search results. By default, they are excluded. See [Google Cloud Public Datasets](/public-datasets) for more information."
        },
        "includePublicTagTemplates": {
          "type": "boolean",
          "description": "Optional. This field is deprecated. The search mechanism for public and private tag templates is the same.",
          "deprecated": true
        },
        "restrictedLocations": {
          "description": "Optional. The list of locations to search within. If empty, all locations are searched. Returns an error if any location in the list isn't one of the [Supported regions](https://cloud.google.com/data-catalog/docs/concepts/regions#supported_regions). If a location is unreachable, its name is returned in the `SearchCatalogResponse.unreachable` field. To get additional information on the error, repeat the search request and set the location name as the value of this parameter.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeOrgIds": {
          "description": "The list of organization IDs to search within. To find your organization ID, follow the steps from [Creating and managing organizations] (/resource-manager/docs/creating-managing-organization).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "includeProjectIds": {
          "description": "The list of project IDs to search within. For more information on the distinction between project names, IDs, and numbers, see [Projects](/docs/overview/#projects).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "starredOnly": {
          "description": "Optional. If `true`, search only among starred entries. By default, all results are returned, starred or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogV1DataplexTableSpec": {
      "type": "object",
      "properties": {
        "externalTables": {
          "description": "List of external tables registered by Dataplex Universal Catalog in other systems based on the same underlying data. External tables allow to query this data in those systems.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1DataplexExternalTable"
          }
        },
        "userManaged": {
          "type": "boolean",
          "description": "Indicates if the table schema is managed by the user or not."
        },
        "dataplexSpec": {
          "description": "Common Dataplex Universal Catalog fields.",
          "$ref": "GoogleCloudDatacatalogV1DataplexSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexTableSpec",
      "description": "Entry specification for a Dataplex Universal Catalog table."
    },
    "GetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "GoogleCloudDatacatalogV1DatasetSpec": {
      "id": "GoogleCloudDatacatalogV1DatasetSpec",
      "description": "Specification that applies to a dataset. Valid only for entries with the `DATASET` type.",
      "properties": {
        "vertexDatasetSpec": {
          "description": "Vertex AI Dataset specific fields",
          "$ref": "GoogleCloudDatacatalogV1VertexDatasetSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ViewSpec": {
      "id": "GoogleCloudDatacatalogV1ViewSpec",
      "description": "Table view specification.",
      "properties": {
        "viewQuery": {
          "type": "string",
          "description": "Output only. The query that defines the table view.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue": {
      "properties": {
        "displayName": {
          "description": "Required. The display name of the enum value. Must not be an empty string. The name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), and can't start or end with spaces. The maximum length is 200 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1FieldTypeEnumTypeEnumValue",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TagFieldEnumValue": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the enum value."
        }
      },
      "id": "GoogleCloudDatacatalogV1TagFieldEnumValue",
      "description": "An enum value.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference": {
      "properties": {
        "nodeAlias": {
          "description": "Required. The reference to the source/destination node of the edge. This name must be a valid `alias` of a node element in the same graph. Example, `Person` node can be a source node name of an edge element `Person_to_Address`.",
          "type": "string"
        },
        "edgeTableColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The referencing columns in the edge table. The size of `edge_table_columns` must be equal to the size of `node_table_columns`."
        },
        "nodeTableColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The referenced columns of the source node table."
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableGraphNodeReference",
      "description": "A reference to a source or destination node in a graph edge.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportEntriesResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ImportEntriesResponse",
      "description": "Response message for long-running operation returned by the ImportEntries.",
      "properties": {
        "upsertedEntriesCount": {
          "description": "Cumulative number of entries created and entries updated as a result of import operation.",
          "type": "string",
          "format": "int64"
        },
        "deletedEntriesCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of entries deleted as a result of import operation."
        }
      }
    },
    "GoogleCloudDatacatalogV1ListTagsResponse": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Tag details."
        },
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more items in results.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1ListTagsResponse",
      "description": "Response message for ListTags."
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. Property data type."
        },
        "name": {
          "type": "string",
          "description": "Required. Property name."
        }
      },
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty",
      "description": "A property declaration."
    },
    "GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "GoogleCloudDatacatalogV1VertexDatasetSpec": {
      "properties": {
        "dataItemCount": {
          "description": "The number of DataItems in this Dataset. Only apply for non-structured Dataset.",
          "type": "string",
          "format": "int64"
        },
        "dataType": {
          "description": "Type of the dataset.",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "TABLE",
            "IMAGE",
            "TEXT",
            "VIDEO",
            "CONVERSATION",
            "TIME_SERIES",
            "DOCUMENT",
            "TEXT_TO_SPEECH",
            "TRANSLATION",
            "STORE_VISION",
            "ENTERPRISE_KNOWLEDGE_GRAPH",
            "TEXT_PROMPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "Structured data dataset.",
            "Image dataset which supports ImageClassification, ImageObjectDetection and ImageSegmentation problems.",
            "Document dataset which supports TextClassification, TextExtraction and TextSentiment problems.",
            "Video dataset which supports VideoClassification, VideoObjectTracking and VideoActionRecognition problems.",
            "Conversation dataset which supports conversation problems.",
            "TimeSeries dataset.",
            "Document dataset which supports DocumentAnnotation problems.",
            "TextToSpeech dataset which supports TextToSpeech problems.",
            "Translation dataset which supports Translation problems.",
            "Store Vision dataset which is used for HITL integration.",
            "Enterprise Knowledge Graph dataset which is used for HITL labeling integration.",
            "Text prompt dataset which supports Large Language Models."
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1VertexDatasetSpec",
      "description": "Specification for vertex dataset resources.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ImportTaxonomiesResponse": {
      "type": "object",
      "properties": {
        "taxonomies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Taxonomy"
          },
          "description": "Imported taxonomies."
        }
      },
      "id": "GoogleCloudDatacatalogV1ImportTaxonomiesResponse",
      "description": "Response message for ImportTaxonomies."
    },
    "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties": {
      "id": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableLabelAndProperties",
      "description": "The label and its properties. Each label is associated with a set of properties.",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1GraphSpecGraphElementTableProperty"
          },
          "description": "Optional. The properties associated with the label."
        },
        "label": {
          "type": "string",
          "description": "Required. The name of the label."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Taxonomy": {
      "id": "GoogleCloudDatacatalogV1Taxonomy",
      "description": "A taxonomy is a collection of hierarchical policy tags that classify data along a common axis. For example, a \"data sensitivity\" taxonomy might contain the following policy tags: ``` + PII + Account number + Age + SSN + Zipcode + Financials + Revenue ``` A \"data origin\" taxonomy might contain the following policy tags: ``` + User data + Employee data + Partner data + Public data ```",
      "properties": {
        "policyTagCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of policy tags in this taxonomy.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of this taxonomy. If not set, defaults to empty. The description must contain only Unicode characters, tabs, newlines, carriage returns, and page breaks, and be at most 2000 bytes long when encoded in UTF-8."
        },
        "activatedPolicyTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ],
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ]
          },
          "description": "Optional. A list of policy types that are activated for this taxonomy. If not set, defaults to an empty list."
        },
        "displayName": {
          "description": "Required. User-defined name of this taxonomy. The name can't start or end with spaces, must contain only Unicode letters, numbers, underscores, dashes, and spaces, and be at most 200 bytes long when encoded in UTF-8. The taxonomy display name must be unique within an organization.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this taxonomy in URL format. Note: Policy tag manager generates unique taxonomy IDs."
        },
        "service": {
          "readOnly": true,
          "description": "Output only. Identity of the service which owns the Taxonomy. This field is only populated when the taxonomy is created by a Google Cloud service. Currently only 'DATAPLEX' is supported.",
          "$ref": "GoogleCloudDatacatalogV1TaxonomyService"
        },
        "taxonomyTimestamps": {
          "description": "Output only. Creation and modification timestamps of this taxonomy.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec": {
      "properties": {
        "type": {
          "description": "Type of the Cloud SQL database.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "POSTGRES",
            "MYSQL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "Cloud SQL for PostgreSQL.",
            "Cloud SQL for MySQL."
          ]
        },
        "instanceId": {
          "type": "string",
          "description": "Cloud SQL instance ID in the format of `project:location:instance`."
        },
        "database": {
          "description": "Database name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1CloudSqlBigQueryConnectionSpec",
      "description": "Specification for the BigQuery connection to a Cloud SQL instance.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType": {
      "id": "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType",
      "description": "Represents the type of a field element.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of a field element. See ColumnSchema.type."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1FilesetSpec": {
      "type": "object",
      "properties": {
        "dataplexFileset": {
          "description": "Fields specific to a Dataplex Universal Catalog fileset and present only in the Dataplex Universal Catalog fileset entries.",
          "$ref": "GoogleCloudDatacatalogV1DataplexFilesetSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1FilesetSpec",
      "description": "Specification that applies to a fileset. Valid only for entries with the 'FILESET' type."
    },
    "GoogleCloudDatacatalogV1MigrationConfig": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1MigrationConfig",
      "description": "The configuration related to the migration to Dataplex Universal Catalog applied to an organization or project. It is the response message for SetConfig and RetrieveEffectiveConfig.",
      "properties": {
        "catalogUiExperience": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The default UI is Dataplex Universal Catalog.",
            "The UI is Dataplex Universal Catalog.",
            "The UI is Data Catalog."
          ],
          "description": "Opt-in status for the UI switch to Dataplex Universal Catalog.",
          "enum": [
            "CATALOG_UI_EXPERIENCE_UNSPECIFIED",
            "CATALOG_UI_EXPERIENCE_ENABLED",
            "CATALOG_UI_EXPERIENCE_DISABLED"
          ]
        },
        "templateMigrationEnabledTime": {
          "description": "The time when the Tag Template migration was enabled. If the Tag Template migration is not enabled, this field is not set.",
          "type": "string",
          "format": "google-datetime"
        },
        "tagTemplateMigration": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is not performed. For projects that are under an organization, the project inherits the organization's configuration when you set the project-level configuration to unspecified (`TAG_TEMPLATE_MIGRATION_UNSPECIFIED`). This means that when migration is enabled at the organization level, and the project-level configuration is unspecified, the project is migrated. To explicitly opt-in or opt-out individual projects, set the project-level configuration to enabled (`TAG_TEMPLATE_MIGRATION_ENABLED`) or disabled (`TAG_TEMPLATE_MIGRATION_DISABLED`).",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is enabled.",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is disabled."
          ],
          "description": "Opt-in status for the migration of Tag Templates to Dataplex Universal Catalog.",
          "enum": [
            "TAG_TEMPLATE_MIGRATION_UNSPECIFIED",
            "TAG_TEMPLATE_MIGRATION_ENABLED",
            "TAG_TEMPLATE_MIGRATION_DISABLED"
          ]
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1TaxonomyService": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1TaxonomyService",
      "description": "The source system of the Taxonomy.",
      "properties": {
        "name": {
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Dataplex Universal Catalog.",
            "Other"
          ],
          "description": "The Google Cloud service name.",
          "enum": [
            "MANAGING_SYSTEM_UNSPECIFIED",
            "MANAGING_SYSTEM_DATAPLEX",
            "MANAGING_SYSTEM_OTHER"
          ]
        },
        "identity": {
          "type": "string",
          "description": "The service agent for the service."
        }
      }
    },
    "GoogleCloudDatacatalogV1OrganizationConfig": {
      "id": "GoogleCloudDatacatalogV1OrganizationConfig",
      "description": "The configuration related to the migration from Data Catalog to Dataplex Universal Catalog that has been applied to an organization and any projects under it. It is the response message for RetrieveConfig.",
      "properties": {
        "config": {
          "type": "object",
          "description": "Map of organizations and project resource names and their configuration. The format for the map keys is `organizations/{organizationId}` or `projects/{projectId}`.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1MigrationConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SerializedPolicyTag": {
      "id": "GoogleCloudDatacatalogV1SerializedPolicyTag",
      "description": "A nested protocol buffer that represents a policy tag and all its descendants.",
      "properties": {
        "policyTag": {
          "description": "Resource name of the policy tag. This field is ignored when calling `ImportTaxonomies`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the policy tag. At most 200 bytes when encoded in UTF-8."
        },
        "description": {
          "description": "Description of the serialized policy tag. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description.",
          "type": "string"
        },
        "childPolicyTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          },
          "description": "Children of the policy tag, if any."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1StorageProperties": {
      "type": "object",
      "properties": {
        "fileType": {
          "type": "string",
          "description": "File type in MIME format, for example, `text/plain`."
        },
        "filePattern": {
          "description": "Patterns to identify a set of files for this fileset. Examples of a valid `file_pattern`: * `gs://bucket_name/dir/*`: matches all files in the `bucket_name/dir` directory * `gs://bucket_name/dir/**`: matches all files in the `bucket_name/dir` and all subdirectories recursively * `gs://bucket_name/file*`: matches files prefixed by `file` in `bucket_name` * `gs://bucket_name/??.txt`: matches files with two characters followed by `.txt` in `bucket_name` * `gs://bucket_name/[aeiou].txt`: matches files that contain a single vowel character followed by `.txt` in `bucket_name` * `gs://bucket_name/[a-m].txt`: matches files that contain `a`, `b`, ... or `m` followed by `.txt` in `bucket_name` * `gs://bucket_name/a/*/b`: matches all files in `bucket_name` that match the `a/*/b` pattern, such as `a/c/b`, `a/d/b` * `gs://another_bucket/a.txt`: matches `gs://another_bucket/a.txt`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1StorageProperties",
      "description": "Details the properties of the underlying storage."
    },
    "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec": {
      "id": "GoogleCloudDatacatalogV1CloudBigtableInstanceSpecCloudBigtableClusterSpec",
      "description": "Spec that applies to clusters of an Instance of Cloud Bigtable.",
      "properties": {
        "displayName": {
          "description": "Name of the cluster.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the cluster, typically a Cloud zone."
        },
        "type": {
          "type": "string",
          "description": "Type of the resource. For a cluster this would be \"CLUSTER\"."
        },
        "linkedResource": {
          "type": "string",
          "description": "A link back to the parent resource, in this case Instance."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1SerializedTaxonomy": {
      "properties": {
        "policyTags": {
          "description": "Top level policy tags associated with the taxonomy, if any.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedPolicyTag"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the serialized taxonomy. At most 2000 bytes when encoded in UTF-8. If not set, defaults to an empty description."
        },
        "activatedPolicyTypes": {
          "description": "A list of policy types that are activated per taxonomy.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified policy type.",
              "Fine-grained access control policy that enables access control on tagged sub-resources."
            ],
            "enum": [
              "POLICY_TYPE_UNSPECIFIED",
              "FINE_GRAINED_ACCESS_CONTROL"
            ]
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the taxonomy. At most 200 bytes when encoded in UTF-8."
        }
      },
      "id": "GoogleCloudDatacatalogV1SerializedTaxonomy",
      "description": "A nested protocol buffer that represents a taxonomy and the hierarchy of its policy tags. Used for taxonomy replacement, import, and export.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ListPolicyTagsResponse": {
      "type": "object",
      "properties": {
        "policyTags": {
          "description": "The policy tags that belong to the taxonomy.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1PolicyTag"
          }
        },
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatacatalogV1ListPolicyTagsResponse",
      "description": "Response message for ListPolicyTags."
    },
    "GoogleCloudDatacatalogV1EntryOverview": {
      "id": "GoogleCloudDatacatalogV1EntryOverview",
      "description": "Entry overview fields for rich text descriptions of entries.",
      "properties": {
        "overview": {
          "description": "Entry overview with support for rich text. The overview must only contain Unicode characters, and should be formatted using HTML. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReconcileTagsResponse": {
      "properties": {
        "createdTagsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of tags created in the request."
        },
        "updatedTagsCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of tags updated in the request."
        },
        "deletedTagsCount": {
          "description": "Number of tags deleted in the request.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDatacatalogV1ReconcileTagsResponse",
      "description": "Long-running operation response message returned by ReconcileTags.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Thrift IDL source of the schema."
        }
      },
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaThriftSchema",
      "description": "Schema in Thrift format.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1LookerSystemSpec": {
      "type": "object",
      "properties": {
        "parentViewId": {
          "description": "ID of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentInstanceId": {
          "description": "ID of the parent Looker Instance. Empty if it does not exist. Example value: `someinstance.looker.com`",
          "type": "string"
        },
        "parentModelDisplayName": {
          "type": "string",
          "description": "Name of the parent Model. Empty if it does not exist."
        },
        "parentViewDisplayName": {
          "description": "Name of the parent View. Empty if it does not exist.",
          "type": "string"
        },
        "parentInstanceDisplayName": {
          "description": "Name of the parent Looker Instance. Empty if it does not exist.",
          "type": "string"
        },
        "parentModelId": {
          "type": "string",
          "description": "ID of the parent Model. Empty if it does not exist."
        }
      },
      "id": "GoogleCloudDatacatalogV1LookerSystemSpec",
      "description": "Specification that applies to entries that are part `LOOKER` system (user_specified_type)"
    },
    "GoogleCloudDatacatalogV1BigQueryDateShardedSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1BigQueryDateShardedSpec",
      "description": "Specification for a group of BigQuery tables with the `[prefix]YYYYMMDD` name pattern. For more information, see [Introduction to partitioned tables] (https://cloud.google.com/bigquery/docs/partitioned-tables#partitioning_versus_sharding).",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The Data Catalog resource name of the dataset entry the current table belongs to. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`.",
          "readOnly": true
        },
        "latestShardResource": {
          "description": "Output only. BigQuery resource name of the latest shard.",
          "readOnly": true,
          "type": "string"
        },
        "tablePrefix": {
          "readOnly": true,
          "description": "Output only. The table name prefix of the shards. The name of any given shard is `[table_prefix]YYYYMMDD`. For example, for the `MyTable20180101` shard, the `table_prefix` is `MyTable`.",
          "type": "string"
        },
        "shardCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total number of shards."
        }
      }
    },
    "GoogleCloudDatacatalogV1DataSource": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DataSource",
      "description": "Physical location of an entry.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Full name of a resource as defined by the service. For example: `//bigquery.googleapis.com/projects/{PROJECT_ID}/locations/{LOCATION}/datasets/{DATASET_ID}/tables/{TABLE_ID}`"
        },
        "service": {
          "description": "Service that physically stores the data.",
          "enum": [
            "SERVICE_UNSPECIFIED",
            "CLOUD_STORAGE",
            "BIGQUERY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unknown service.",
            "Google Cloud Storage service.",
            "BigQuery service."
          ]
        },
        "sourceEntry": {
          "type": "string",
          "description": "Output only. Data Catalog entry name, if applicable.",
          "readOnly": true
        },
        "storageProperties": {
          "description": "Detailed properties of the underlying storage.",
          "$ref": "GoogleCloudDatacatalogV1StorageProperties"
        }
      }
    },
    "GoogleCloudDatacatalogV1TagField": {
      "id": "GoogleCloudDatacatalogV1TagField",
      "description": "Contains the value and additional information on a field within a Tag.",
      "properties": {
        "enumValue": {
          "description": "The value of a tag field with an enum type. This value must be one of the allowed values listed in this enum.",
          "$ref": "GoogleCloudDatacatalogV1TagFieldEnumValue"
        },
        "order": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The order of this field with respect to other fields in this tag. Can be set by Tag. For example, a higher value can indicate a more important field. The value can be negative. Multiple fields can have the same order, and field orders within a tag don't have to be sequential."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "The value of a tag field with a double type."
        },
        "boolValue": {
          "description": "The value of a tag field with a boolean type.",
          "type": "boolean"
        },
        "richtextValue": {
          "description": "The value of a tag field with a rich text type. The maximum length is 10 MiB as this value holds HTML descriptions including encoded images. The maximum length of the text without images is 100 KiB.",
          "type": "string"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "The value of a tag field with a timestamp type."
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of this field.",
          "readOnly": true
        },
        "stringValue": {
          "description": "The value of a tag field with a string type. The maximum length is 2000 UTF-8 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1GcsFileSpec": {
      "type": "object",
      "properties": {
        "sizeBytes": {
          "description": "Output only. File size in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "filePath": {
          "description": "Required. Full file path. Example: `gs://bucket_name/a/b.txt`.",
          "type": "string"
        },
        "gcsTimestamps": {
          "description": "Output only. Creation, modification, and expiration timestamps of a Cloud Storage file.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDatacatalogV1GcsFileSpec",
      "description": "Specification of a single file in Cloud Storage."
    },
    "GoogleCloudDatacatalogV1SystemTimestamps": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Creation timestamp of the resource within the given system.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the last modification of the resource or its metadata within a given system. Note: Depending on the source system, not every modification updates this timestamp. For example, BigQuery timestamps every metadata modification but not data or permission changes."
        },
        "expireTime": {
          "description": "Output only. Expiration timestamp of the resource within the given system. Currently only applicable to BigQuery resources.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDatacatalogV1SystemTimestamps",
      "description": "Timestamps associated with this resource in a particular system."
    },
    "GoogleCloudDatacatalogV1ColumnSchema": {
      "id": "GoogleCloudDatacatalogV1ColumnSchema",
      "description": "A column within a schema. Columns can be nested inside other columns.",
      "properties": {
        "type": {
          "description": "Required. Type of the column. Must be a UTF-8 string with the maximum size of 128 bytes.",
          "type": "string"
        },
        "column": {
          "type": "string",
          "description": "Required. Name of the column. Must be a UTF-8 string without dots (.). The maximum size is 64 bytes."
        },
        "description": {
          "description": "Optional. Description of the column. Default value is an empty string. The description must be a UTF-8 string with the maximum size of 2000 bytes.",
          "type": "string"
        },
        "defaultValue": {
          "description": "Optional. Default value for the column.",
          "type": "string"
        },
        "ordinalPosition": {
          "description": "Optional. Ordinal position",
          "type": "integer",
          "format": "int32"
        },
        "gcRule": {
          "type": "string",
          "description": "Optional. Garbage collection policy for the column or column family. Applies to systems like Cloud Bigtable."
        },
        "lookerColumnSpec": {
          "description": "Looker specific column info of this column.",
          "$ref": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec"
        },
        "highestIndexingType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Column not a part of an index.",
            "Column Part of non unique index.",
            "Column part of unique index.",
            "Column part of the primary key."
          ],
          "description": "Optional. Most important inclusion of this column.",
          "enum": [
            "INDEXING_TYPE_UNSPECIFIED",
            "INDEXING_TYPE_NONE",
            "INDEXING_TYPE_NON_UNIQUE",
            "INDEXING_TYPE_UNIQUE",
            "INDEXING_TYPE_PRIMARY_KEY"
          ]
        },
        "subcolumns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ColumnSchema"
          },
          "description": "Optional. Schema of sub-columns. A column can have zero or more sub-columns."
        },
        "rangeElementType": {
          "description": "Optional. The subtype of the RANGE, if the type of this field is RANGE. If the type is RANGE, this field is required. Possible values for the field element type of a RANGE include: * DATE * DATETIME * TIMESTAMP",
          "$ref": "GoogleCloudDatacatalogV1ColumnSchemaFieldElementType"
        },
        "mode": {
          "type": "string",
          "description": "Optional. A column's mode indicates whether values in this column are required, nullable, or repeated. Only `NULLABLE`, `REQUIRED`, and `REPEATED` values are supported. Default mode is `NULLABLE`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataplexSpec": {
      "id": "GoogleCloudDatacatalogV1DataplexSpec",
      "description": "Common Dataplex Universal Catalog fields.",
      "properties": {
        "asset": {
          "description": "Fully qualified resource name of an asset in Dataplex Universal Catalog, to which the underlying data source (Cloud Storage bucket or BigQuery dataset) of the entity is attached.",
          "type": "string"
        },
        "dataFormat": {
          "description": "Format of the data.",
          "$ref": "GoogleCloudDatacatalogV1PhysicalSchema"
        },
        "projectId": {
          "description": "Project ID of the underlying Cloud Storage or BigQuery data. Note that this may not be the same project as the corresponding Dataplex Universal Catalog lake / zone / asset.",
          "type": "string"
        },
        "compressionFormat": {
          "type": "string",
          "description": "Compression format of the data, e.g., zip, gzip etc."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1CrossRegionalSource": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1CrossRegionalSource",
      "description": "Cross-regional source used to import an existing taxonomy into a different region.",
      "properties": {
        "taxonomy": {
          "description": "Required. The resource name of the source taxonomy to import.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1BusinessContext": {
      "id": "GoogleCloudDatacatalogV1BusinessContext",
      "description": "Business Context of the entry.",
      "properties": {
        "contacts": {
          "description": "Contact people for the entry.",
          "$ref": "GoogleCloudDatacatalogV1Contacts"
        },
        "entryOverview": {
          "description": "Entry overview fields for rich text descriptions of entries.",
          "$ref": "GoogleCloudDatacatalogV1EntryOverview"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1RoutineSpecArgument": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1RoutineSpecArgument",
      "description": "Input or output argument of a function or stored procedure.",
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "The argument is input-only.",
            "The argument is output-only.",
            "The argument is both an input and an output."
          ],
          "description": "Specifies whether the argument is input or output.",
          "enum": [
            "MODE_UNSPECIFIED",
            "IN",
            "OUT",
            "INOUT"
          ]
        },
        "name": {
          "description": "The name of the argument. A return argument of a function might not have a name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the argument. The exact value depends on the source system and the language."
        }
      }
    },
    "GoogleCloudDatacatalogV1DataplexExternalTable": {
      "properties": {
        "googleCloudResource": {
          "type": "string",
          "description": "Google Cloud resource name of the external table."
        },
        "dataCatalogEntry": {
          "type": "string",
          "description": "Name of the Data Catalog entry representing the external table."
        },
        "fullyQualifiedName": {
          "description": "Fully qualified name (FQN) of the external table.",
          "type": "string"
        },
        "system": {
          "type": "string",
          "enumDescriptions": [
            "Default unknown system.",
            "BigQuery.",
            "Cloud Pub/Sub.",
            "Dataproc Metastore.",
            "Dataplex Universal Catalog.",
            "Cloud Spanner",
            "Cloud Bigtable",
            "Cloud Sql",
            "Looker",
            "Vertex AI"
          ],
          "description": "Service in which the external table is registered.",
          "enum": [
            "INTEGRATED_SYSTEM_UNSPECIFIED",
            "BIGQUERY",
            "CLOUD_PUBSUB",
            "DATAPROC_METASTORE",
            "DATAPLEX",
            "CLOUD_SPANNER",
            "CLOUD_BIGTABLE",
            "CLOUD_SQL",
            "LOOKER",
            "VERTEX_AI"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1DataplexExternalTable",
      "description": "External table registered by Dataplex Universal Catalog. Dataplex Universal Catalog publishes data discovered from an asset into multiple other systems (BigQuery, DPMS) in form of tables. We call them \"external tables\". External tables are also synced into the Data Catalog. This message contains pointers to those external tables (fully qualified name, resource name et cetera) within the Data Catalog.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DataSourceConnectionSpec": {
      "type": "object",
      "properties": {
        "bigqueryConnectionSpec": {
          "description": "Output only. Fields specific to BigQuery connections.",
          "$ref": "GoogleCloudDatacatalogV1BigQueryConnectionSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1DataSourceConnectionSpec",
      "description": "Specification that applies to a data source connection. Valid only for entries with the `DATA_SOURCE_CONNECTION` type. Only one of internal specs can be set at the time, and cannot be changed later."
    },
    "GoogleCloudDatacatalogV1ModifyEntryContactsRequest": {
      "type": "object",
      "properties": {
        "contacts": {
          "description": "Required. The new value for the Contacts.",
          "$ref": "GoogleCloudDatacatalogV1Contacts"
        }
      },
      "id": "GoogleCloudDatacatalogV1ModifyEntryContactsRequest",
      "description": "Request message for ModifyEntryContacts."
    },
    "GoogleCloudDatacatalogV1SetConfigRequest": {
      "type": "object",
      "properties": {
        "tagTemplateMigration": {
          "description": "Opt-in status for the migration of Tag Templates to Dataplex Universal Catalog.",
          "enum": [
            "TAG_TEMPLATE_MIGRATION_UNSPECIFIED",
            "TAG_TEMPLATE_MIGRATION_ENABLED",
            "TAG_TEMPLATE_MIGRATION_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is not performed. For projects that are under an organization, the project inherits the organization's configuration when you set the project-level configuration to unspecified (`TAG_TEMPLATE_MIGRATION_UNSPECIFIED`). This means that when migration is enabled at the organization level, and the project-level configuration is unspecified, the project is migrated. To explicitly opt-in or opt-out individual projects, set the project-level configuration to enabled (`TAG_TEMPLATE_MIGRATION_ENABLED`) or disabled (`TAG_TEMPLATE_MIGRATION_DISABLED`).",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is enabled.",
            "Migration of Tag Templates from Data Catalog to Dataplex Universal Catalog is disabled."
          ]
        },
        "catalogUiExperience": {
          "type": "string",
          "enumDescriptions": [
            "Default value. The default UI is Dataplex Universal Catalog.",
            "The UI is Dataplex Universal Catalog.",
            "The UI is Data Catalog."
          ],
          "description": "Opt-in status for the UI switch to Dataplex Universal Catalog.",
          "enum": [
            "CATALOG_UI_EXPERIENCE_UNSPECIFIED",
            "CATALOG_UI_EXPERIENCE_ENABLED",
            "CATALOG_UI_EXPERIENCE_DISABLED"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1SetConfigRequest",
      "description": "Request message for SetConfig."
    },
    "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Dimension.",
            "Dimension group - parent for Dimension.",
            "Filter.",
            "Measure.",
            "Parameter."
          ],
          "description": "Looker specific column type of this column.",
          "enum": [
            "LOOKER_COLUMN_TYPE_UNSPECIFIED",
            "DIMENSION",
            "DIMENSION_GROUP",
            "FILTER",
            "MEASURE",
            "PARAMETER"
          ]
        }
      },
      "id": "GoogleCloudDatacatalogV1ColumnSchemaLookerColumnSpec",
      "description": "Column info specific to Looker System.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest": {
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldRequest",
      "description": "Request message for RenameTagTemplateField.",
      "properties": {
        "newTagTemplateFieldId": {
          "description": "Required. The new ID of this tag template field. For example, `my_new_field`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1BigQueryTableSpec": {
      "type": "object",
      "properties": {
        "tableSourceType": {
          "readOnly": true,
          "enum": [
            "TABLE_SOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_VIEW",
            "BIGQUERY_TABLE",
            "BIGQUERY_MATERIALIZED_VIEW"
          ],
          "enumDescriptions": [
            "Default unknown type.",
            "Table view.",
            "BigQuery native table.",
            "BigQuery materialized view."
          ],
          "description": "Output only. The table source type.",
          "type": "string"
        },
        "viewSpec": {
          "description": "Table view specification. Populated only if the `table_source_type` is `BIGQUERY_VIEW`.",
          "$ref": "GoogleCloudDatacatalogV1ViewSpec"
        },
        "tableSpec": {
          "description": "Specification of a BigQuery table. Populated only if the `table_source_type` is `BIGQUERY_TABLE`.",
          "$ref": "GoogleCloudDatacatalogV1TableSpec"
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryTableSpec",
      "description": "Describes a BigQuery table."
    },
    "GoogleCloudDatacatalogV1InlineSource": {
      "properties": {
        "taxonomies": {
          "description": "Required. Taxonomies to import.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1InlineSource",
      "description": "Inline source containing taxonomies to import.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1TableSpec": {
      "id": "GoogleCloudDatacatalogV1TableSpec",
      "description": "Normal BigQuery table specification.",
      "properties": {
        "groupedEntry": {
          "type": "string",
          "description": "Output only. If the table is date-sharded, that is, it matches the `[prefix]YYYYMMDD` name pattern, this field is the Data Catalog resource name of the date-sharded grouped entry. For example: `projects/{PROJECT_ID}/locations/{LOCATION}/entrygroups/{ENTRY_GROUP_ID}/entries/{ENTRY_ID}`. Otherwise, `grouped_entry` is empty.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1Contacts": {
      "id": "GoogleCloudDatacatalogV1Contacts",
      "description": "Contact people for the entry.",
      "properties": {
        "people": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1ContactsPerson"
          },
          "description": "The list of contact people for the entry."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaCsvSchema",
      "description": "Marks a CSV-encoded data source.",
      "properties": {}
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDatacatalogV1ListEntryGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to specify in the next call to retrieve the next page of results. Empty if there are no more items.",
          "type": "string"
        },
        "entryGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1EntryGroup"
          },
          "description": "Entry group details."
        }
      },
      "id": "GoogleCloudDatacatalogV1ListEntryGroupsResponse",
      "description": "Response message for ListEntryGroups.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1DatabaseTableSpecDatabaseViewSpec",
      "description": "Specification that applies to database view.",
      "properties": {
        "sqlQuery": {
          "description": "SQL query used to generate this view.",
          "type": "string"
        },
        "viewType": {
          "type": "string",
          "enumDescriptions": [
            "Default unknown view type.",
            "Standard view.",
            "Materialized view."
          ],
          "description": "Type of this view.",
          "enum": [
            "VIEW_TYPE_UNSPECIFIED",
            "STANDARD_VIEW",
            "MATERIALIZED_VIEW"
          ]
        },
        "baseTable": {
          "type": "string",
          "description": "Name of a singular table this view reflects one to one."
        }
      }
    },
    "GoogleCloudDatacatalogV1ListEntriesResponse": {
      "id": "GoogleCloudDatacatalogV1ListEntriesResponse",
      "description": "Response message for ListEntries.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Entry"
          },
          "description": "Entry details."
        },
        "nextPageToken": {
          "description": "Pagination token of the next results page. Empty if there are no more items in results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ExportTaxonomiesResponse": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ExportTaxonomiesResponse",
      "description": "Response message for ExportTaxonomies.",
      "properties": {
        "taxonomies": {
          "description": "List of taxonomies and policy tags as nested protocol buffers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1SerializedTaxonomy"
          }
        }
      }
    },
    "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1RenameTagTemplateFieldEnumValueRequest",
      "description": "Request message for RenameTagTemplateFieldEnumValue.",
      "properties": {
        "newEnumValueDisplayName": {
          "description": "Required. The new display name of the enum value. For example, `my_new_enum_value`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ContactsPerson": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ContactsPerson",
      "description": "A contact person for the entry.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email of the person in the format of `john.doe@xyz`, ``, or `John Doe`."
        },
        "designation": {
          "description": "Designation of the person, for example, Data Steward.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDatacatalogV1ImportEntriesRequest": {
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Optional. (Optional) Dataplex Universal Catalog task job id, if specified will be used as part of ImportEntries LRO ID"
        },
        "gcsBucketPath": {
          "type": "string",
          "description": "Path to a Cloud Storage bucket that contains a dump ready for ingestion."
        }
      },
      "id": "GoogleCloudDatacatalogV1ImportEntriesRequest",
      "description": "Request message for ImportEntries method.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "JSON source of the Avro schema."
        }
      },
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaAvroSchema",
      "description": "Schema in Avro JSON format."
    },
    "GoogleCloudDatacatalogV1UnstarEntryRequest": {
      "properties": {},
      "id": "GoogleCloudDatacatalogV1UnstarEntryRequest",
      "description": "Request message for UnstarEntry.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1UsageSignal": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1UsageSignal",
      "description": "The set of all usage signals that Data Catalog stores. Note: Usually, these signals are updated daily. In rare cases, an update may fail but will be performed again on the next day.",
      "properties": {
        "commonUsageWithinTimeRange": {
          "type": "object",
          "description": "Common usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\", \"Lifetime\"}`.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1CommonUsageStats"
          }
        },
        "updateTime": {
          "description": "The end timestamp of the duration of usage statistics.",
          "type": "string",
          "format": "google-datetime"
        },
        "usageWithinTimeRange": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. BigQuery usage statistics over each of the predefined time ranges. Supported time ranges are `{\"24H\", \"7D\", \"30D\"}`.",
          "additionalProperties": {
            "$ref": "GoogleCloudDatacatalogV1UsageStats"
          }
        },
        "favoriteCount": {
          "description": "Favorite count in the source system.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDatacatalogV1TaggedEntry": {
      "type": "object",
      "properties": {
        "absentTags": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          },
          "description": "Optional. Tags that should be deleted from the Data Catalog. Caller should populate template name and column only."
        },
        "v1Entry": {
          "description": "Non-encrypted Data Catalog v1 Entry.",
          "$ref": "GoogleCloudDatacatalogV1Entry"
        },
        "presentTags": {
          "description": "Optional. Tags that should be ingested into the Data Catalog. Caller should populate template name, column and fields.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatacatalogV1Tag"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1TaggedEntry",
      "description": "Wrapper containing Entry and information about Tags that should and should not be attached to it."
    },
    "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec": {
      "id": "GoogleCloudDatacatalogV1SqlDatabaseSystemSpec",
      "description": "Specification that applies to entries that are part `SQL_DATABASE` system (user_specified_type)",
      "properties": {
        "sqlEngine": {
          "type": "string",
          "description": "SQL Database Engine. enum SqlEngine { UNDEFINED = 0; MY_SQL = 1; POSTGRE_SQL = 2; SQL_SERVER = 3; } Engine of the enclosing database instance."
        },
        "instanceHost": {
          "type": "string",
          "description": "Host of the SQL database enum InstanceHost { UNDEFINED = 0; SELF_HOSTED = 1; CLOUD_SQL = 2; AMAZON_RDS = 3; AZURE_SQL = 4; } Host of the enclousing database instance."
        },
        "databaseVersion": {
          "type": "string",
          "description": "Version of the database engine."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema": {
      "id": "GoogleCloudDatacatalogV1PhysicalSchemaParquetSchema",
      "description": "Marks a Parquet-encoded data source.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDatacatalogV1ReconcileTagsMetadata": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1ReconcileTagsMetadata",
      "description": "Long-running operation metadata message returned by the ReconcileTags.",
      "properties": {
        "errors": {
          "description": "Maps the name of each tagged column (or empty string for a sole entry) to tagging operation status.",
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The reconciliation has been queued and awaits for execution.",
            "The reconciliation is in progress.",
            "The reconciliation has been finished."
          ],
          "description": "State of the reconciliation operation.",
          "enum": [
            "RECONCILIATION_STATE_UNSPECIFIED",
            "RECONCILIATION_QUEUED",
            "RECONCILIATION_IN_PROGRESS",
            "RECONCILIATION_DONE"
          ]
        }
      }
    },
    "GoogleCloudDatacatalogV1EntryGroup": {
      "properties": {
        "dataCatalogTimestamps": {
          "description": "Output only. Timestamps of the entry group. Default value is empty.",
          "$ref": "GoogleCloudDatacatalogV1SystemTimestamps",
          "readOnly": true
        },
        "transferredToDataplex": {
          "description": "Optional. When set to [true], it means DataCatalog EntryGroup was transferred to Dataplex Universal Catalog. It makes EntryGroup and its Entries to be read-only in DataCatalog. However, new Tags on EntryGroup and its Entries can be created. After setting the flag to [true] it cannot be unset.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Entry group description. Can consist of several sentences or paragraphs that describe the entry group contents. Default value is an empty string."
        },
        "displayName": {
          "description": "A short name to identify the entry group, for example, \"analytics data - jan 2011\". Default value is an empty string.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the entry group in URL format. Note: The entry group itself and its child resources might not be stored in the location specified in its name."
        }
      },
      "id": "GoogleCloudDatacatalogV1EntryGroup",
      "description": "Entry group metadata. An `EntryGroup` resource represents a logical grouping of zero or more Data Catalog Entry resources.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1BigQueryRoutineSpec": {
      "properties": {
        "importedLibraries": {
          "description": "Paths of the imported libraries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDatacatalogV1BigQueryRoutineSpec",
      "description": "Fields specific for BigQuery routines.",
      "type": "object"
    },
    "GoogleCloudDatacatalogV1VertexModelSourceInfo": {
      "type": "object",
      "id": "GoogleCloudDatacatalogV1VertexModelSourceInfo",
      "description": "Detail description of the source information of a Vertex model.",
      "properties": {
        "sourceType": {
          "description": "Type of the model source.",
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING",
            "MARKETPLACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline.",
            "The Model is saved or tuned from Marketplace."
          ]
        },
        "copy": {
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest": {
      "id": "GoogleCloudDatacatalogV1ModifyEntryOverviewRequest",
      "description": "Request message for ModifyEntryOverview.",
      "properties": {
[...]
