{
  "baseUrl": "https://datalabeling.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://datalabeling.googleapis.com/",
  "name": "datalabeling",
  "resources": {
    "projects": {
      "resources": {
        "instructions": {
          "methods": {
            "get": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "type": "string",
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              },
              "id": "datalabeling.projects.instructions.get",
              "httpMethod": "GET",
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an instruction by resource name.",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "parameters": {
                "name": {
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.instructions.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an instruction object by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "description": "Creates an instruction for how data should be labeled.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Instruction resource parent, format: projects/{project_id}"
                }
              },
              "path": "v1beta1/{+parent}/instructions",
              "id": "datalabeling.projects.instructions.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "description": "Lists instructions for a project. Pagination is supported.",
              "id": "datalabeling.projects.instructions.list",
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter is not supported at this moment.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/instructions",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              }
            }
          }
        },
        "datasets": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta1/{+parent}/datasets",
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "httpMethod": "POST",
              "description": " Creates dataset. If success return a Dataset resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "datalabeling.projects.datasets.create",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets dataset by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.datasets.get",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              }
            },
            "exportData": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1beta1/{+name}:exportData",
              "id": "datalabeling.projects.datasets.exportData",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "description": "Exports data and annotations from dataset.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "required": true,
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "importData": {
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData",
              "path": "v1beta1/{+name}:importData",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              },
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "datalabeling.projects.datasets.importData"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a dataset by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.datasets.delete"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.datasets.list",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional. Filter on dataset is not supported at this moment.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists datasets under a project. Pagination is supported.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "path": "v1beta1/{+parent}/datasets"
            }
          },
          "resources": {
            "video": {
              "methods": {
                "label": {
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datalabeling.projects.datasets.video.label",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label",
                  "path": "v1beta1/{+parent}/video:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  }
                }
              }
            },
            "image": {
              "methods": {
                "label": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalabeling.projects.datasets.image.label",
                  "path": "v1beta1/{+parent}/image:label",
                  "description": " Starts a labeling task for image. The type of image labeling task is configured by feature in the request.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    }
                  }
                }
              }
            },
            "evaluations": {
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\""
                        }
                      },
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search",
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "description": " Gets an evaluation by resource name (to search, use projects.evaluations.search).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.evaluations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  }
                }
              }
            },
            "text": {
              "methods": {
                "label": {
                  "path": "v1beta1/{+parent}/text:label",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalabeling.projects.datasets.text.label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label",
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  }
                }
              }
            },
            "dataItems": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.dataItems.list",
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter is not supported at this moment.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+parent}/dataItems",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "datalabeling.projects.datasets.dataItems.get",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  }
                }
              }
            },
            "annotatedDatasets": {
              "resources": {
                "feedbackThreads": {
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "delete": {
                          "path": "v1beta1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "httpMethod": "DELETE",
                          "description": "Delete a FeedbackMessage.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "type": "string",
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "description": "List FeedbackMessages with pagination.",
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty."
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\"",
                              "type": "string",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$"
                            },
                            "pageSize": {
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list"
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "type": "string",
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "httpMethod": "POST",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "description": "Create a FeedbackMessage object.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "get": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta1/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$"
                            }
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get",
                          "description": "Get a FeedbackMessage object.",
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}"
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "required": true
                        }
                      },
                      "description": "Delete a FeedbackThread.",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "type": "string"
                        }
                      },
                      "description": " Get a FeedbackThread object.",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      }
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\"",
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "description": "List FeedbackThreads with pagination.",
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      }
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$",
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "location": "query"
                        }
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}",
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists examples in an annotated dataset. Pagination is supported.",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\""
                        },
                        "parent": {
                          "description": "Required. Example resource parent.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                        }
                      },
                      "path": "v1beta1/{+parent}/examples"
                    }
                  }
                },
                "dataItems": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter is not supported at this moment.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "type": "integer"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      },
                      "path": "v1beta1/{+parent}/dataItems",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$",
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}"
                        }
                      },
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets",
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter is not supported at this moment."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "description": "Lists annotated datasets for a dataset. Pagination is supported.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$"
                    }
                  },
                  "description": "Gets an annotated dataset by resource name.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an annotated dataset by resource name.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete",
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            }
          }
        },
        "evaluations": {
          "methods": {
            "search": {
              "description": "Searches evaluations within a project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "path": "v1beta1/{+parent}/evaluations:search",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\""
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\""
                }
              },
              "id": "datalabeling.projects.evaluations.search",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              }
            }
          }
        },
        "evaluationJobs": {
          "methods": {
            "create": {
              "path": "v1beta1/{+parent}/evaluationJobs",
              "id": "datalabeling.projects.evaluationJobs.create",
              "description": " Creates an evaluation job.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\""
                }
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              }
            },
            "resume": {
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.",
              "httpMethod": "POST",
              "id": "datalabeling.projects.evaluationJobs.resume",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "path": "v1beta1/{+name}:resume"
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "id": "datalabeling.projects.evaluationJobs.patch",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\"",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "path": "v1beta1/{+name}"
            },
            "pause": {
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+name}:pause",
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op.",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "datalabeling.projects.evaluationJobs.pause"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\""
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Stops and deletes an evaluation job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.evaluationJobs.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}"
            },
            "list": {
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "httpMethod": "GET",
              "id": "datalabeling.projects.evaluationJobs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/evaluationJobs",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\""
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\"",
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "datalabeling.projects.evaluationJobs.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "description": "Gets an evaluation job by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "annotationSpecSets": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.annotationSpecSets.create",
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              },
              "description": "Creates an annotation spec set by providing a set of labels.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.annotationSpecSets.get",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "path": "v1beta1/{+name}",
              "description": "Gets an annotation spec set by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an annotation spec set by resource name.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "datalabeling.projects.annotationSpecSets.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter is not supported at this moment."
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "description": "Lists annotation spec sets for a project. Pagination is supported."
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "id": "datalabeling.projects.operations.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}"
            },
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "id": "datalabeling.projects.operations.cancel"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}/operations",
              "id": "datalabeling.projects.operations.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v1beta1/projects/{projectsId}/operations",
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "datalabeling.projects.operations.delete",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Data Labeling",
  "title": "Data Labeling API",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "schemas": {
    "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation": {
      "id": "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation",
      "description": "Text entity extraction annotation.",
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of the text entities."
        },
        "sequentialSegment": {
          "$ref": "GoogleCloudDatalabelingV1beta1SequentialSegment",
          "description": "Position of the entity."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1LabelOperationMetadata": {
      "properties": {
        "imageBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingBoxOperationMetadata",
          "description": "Details of label image bounding box operation."
        },
        "imagePolylineDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImagePolylineOperationMetadata",
          "description": "Details of label image polyline operation."
        },
        "imageSegmentationDetails": {
          "description": "Details of label image segmentation operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageSegmentationOperationMetadata"
        },
        "textClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata",
          "description": "Details of label text classification operation."
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoEventOperationMetadata"
        },
        "imageClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageClassificationOperationMetadata",
          "description": "Details of label image classification operation."
        },
        "imageBoundingPolyDetails": {
          "description": "Details of label image bounding poly operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageBoundingPolyOperationMetadata"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when labeling request was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "videoObjectDetectionDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata",
          "description": "Details of label video object detection operation."
        },
        "videoObjectTrackingDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectTrackingOperationMetadata",
          "description": "Details of label video object tracking operation."
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "progressPercent": {
          "type": "integer",
          "description": "Output only. Progress of label operation. Range: [0, 100].",
          "format": "int32"
        },
        "videoClassificationDetails": {
          "description": "Details of label video classification operation.",
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelVideoClassificationOperationMetadata"
        },
        "textEntityExtractionDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelTextEntityExtractionOperationMetadata",
          "description": "Details of label text entity extraction operation."
        },
        "dataset": {
          "type": "string",
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\""
        },
        "imageOrientedBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1alpha1LabelImageOrientedBoundingBoxOperationMetadata",
          "description": "Details of label image oriented bounding box operation."
        }
      },
      "id": "GoogleCloudDatalabelingV1alpha1LabelOperationMetadata",
      "type": "object",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23"
    },
    "GoogleCloudDatalabelingV1beta1NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1NormalizedVertex",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelOperationMetadata",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23",
      "type": "object",
      "properties": {
        "videoClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelVideoClassificationOperationMetadata",
          "description": "Details of label video classification operation."
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata"
        },
        "partialFailures": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "dataset": {
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when labeling request was created.",
          "type": "string"
        },
        "imageSegmentationDetails": {
          "description": "Details of label image segmentation operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageSegmentationOperationMetadata"
        },
        "videoObjectDetectionDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata",
          "description": "Details of label video object detection operation."
        },
        "progressPercent": {
          "format": "int32",
          "description": "Output only. Progress of label operation. Range: [0, 100].",
          "type": "integer"
        },
        "imageBoundingBoxDetails": {
          "description": "Details of label image bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingBoxOperationMetadata"
        },
        "imageOrientedBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageOrientedBoundingBoxOperationMetadata",
          "description": "Details of label image oriented bounding box operation."
        },
        "textEntityExtractionDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelTextEntityExtractionOperationMetadata",
          "description": "Details of label text entity extraction operation."
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "imageClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageClassificationOperationMetadata",
          "description": "Details of label image classification operation."
        },
        "textClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelTextClassificationOperationMetadata",
          "description": "Details of label text classification operation."
        },
        "videoObjectTrackingDetails": {
          "description": "Details of label video object tracking operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectTrackingOperationMetadata"
        },
        "imagePolylineDetails": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata",
          "description": "Details of label image polyline operation."
        },
        "imageBoundingPolyDetails": {
          "description": "Details of label image bounding poly operation.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelImageSegmentation operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest": {
      "properties": {
        "annotationSpecSet": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet",
          "description": "Required. Annotation spec set to create. Annotation specs must be included. Only one annotation spec will be accepted for annotation specs with same display_name."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest",
      "description": "Request message for CreateAnnotationSpecSet.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Evaluation": {
      "type": "object",
      "description": "Describes an evaluation between a machine learning model's predictions and ground truth labels. Created when an EvaluationJob runs successfully.",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationConfig",
          "description": "Output only. Options used in the evaluation job that created this evaluation."
        },
        "createTime": {
          "description": "Output only. Timestamp for when this evaluation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "evaluatedItemCount": {
          "type": "string",
          "description": "Output only. The number of items in the ground truth dataset that were used for this evaluation. Only populated when the evaulation is for certain AnnotationTypes.",
          "format": "int64"
        },
        "evaluationMetrics": {
          "description": "Output only. Metrics comparing predictions to ground truth labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1EvaluationMetrics"
        },
        "evaluationJobRunTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp for when the evaluation job that created this evaluation ran."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of an evaluation. The name has the following format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}'"
        },
        "annotationType": {
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ],
          "description": "Output only. Type of task that the model version being evaluated performs, as defined in the evaluationJobConfig.inputConfig.annotationType field of the evaluation job that created this evaluation.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ]
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1Evaluation"
    },
    "GoogleCloudDatalabelingV1beta1LabelOperationMetadata": {
      "properties": {
        "textClassificationDetails": {
          "description": "Details of label text classification operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelTextClassificationOperationMetadata"
        },
        "videoClassificationDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoClassificationOperationMetadata",
          "description": "Details of label video classification operation."
        },
        "imagePolylineDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata",
          "description": "Details of label image polyline operation."
        },
        "videoEventDetails": {
          "description": "Details of label video event operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoEventOperationMetadata"
        },
        "imageSegmentationDetails": {
          "description": "Details of label image segmentation operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageSegmentationOperationMetadata"
        },
        "dataset": {
          "description": "Output only. The name of dataset to be labeled. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "progressPercent": {
          "description": "Output only. Progress of label operation. Range: [0, 100].",
          "type": "integer",
          "format": "int32"
        },
        "videoObjectDetectionDetails": {
          "description": "Details of label video object detection operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoObjectDetectionOperationMetadata"
        },
        "imageBoundingBoxDetails": {
          "description": "Details of label image bounding box operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageBoundingBoxOperationMetadata"
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details."
        },
        "textEntityExtractionDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelTextEntityExtractionOperationMetadata",
          "description": "Details of label text entity extraction operation."
        },
        "createTime": {
          "description": "Output only. Timestamp when labeling request was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "annotatedDataset": {
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\".",
          "type": "string"
        },
        "imageOrientedBoundingBoxDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata",
          "description": "Details of label image oriented bounding box operation."
        },
        "videoObjectTrackingDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata",
          "description": "Details of label video object tracking operation."
        },
        "imageClassificationDetails": {
          "description": "Details of label image classification operation.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageClassificationOperationMetadata"
        },
        "imageBoundingPolyDetails": {
          "$ref": "GoogleCloudDatalabelingV1beta1LabelImageBoundingPolyOperationMetadata",
          "description": "Details of label image bounding poly operation."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelOperationMetadata",
      "type": "object",
      "description": "Metadata of a labeling operation, such as LabelImage or LabelVideo. Next tag: 23"
    },
    "GoogleCloudDatalabelingV1p2alpha1OutputConfig": {
      "id": "GoogleCloudDatalabelingV1p2alpha1OutputConfig",
      "description": "The configuration of output data.",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsDestination",
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
        },
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1ExampleComparison": {
      "id": "GoogleCloudDatalabelingV1beta1ExampleComparison",
      "type": "object",
      "properties": {
        "groundTruthExample": {
          "$ref": "GoogleCloudDatalabelingV1beta1Example",
          "description": "The ground truth output for the input."
        },
        "modelCreatedExamples": {
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Example"
          },
          "type": "array",
          "description": "Predictions by the model for the input."
        }
      },
      "description": "Example comparisons comparing ground truth output and predictions for a specific input."
    },
    "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelTextClassification operation metadata.",
      "type": "object",
      "id": "GoogleCloudDatalabelingV1alpha1LabelTextClassificationOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata": {
      "type": "object",
      "description": "Details of a LabelVideoObjectTracking operation metadata.",
      "id": "GoogleCloudDatalabelingV1beta1LabelVideoObjectTrackingOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectDetectionOperationMetadata",
      "type": "object",
      "description": "Details of a LabelVideoObjectDetection operation metadata."
    },
    "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata": {
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Output only. The name of imported dataset. \"projects/*/datasets/*\""
        },
        "partialFailures": {
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. Status details field will contain standard GCP error details.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. Timestamp when import dataset request was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata of an ImportData operation.",
      "id": "GoogleCloudDatalabelingV1alpha1ImportDataOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImagePolylineOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "description": "Details of LabelImagePolyline operation metadata."
    },
    "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation": {
      "properties": {
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of this polyline."
        },
        "normalizedPolyline": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedPolyline"
        },
        "polyline": {
          "$ref": "GoogleCloudDatalabelingV1beta1Polyline"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation",
      "description": "A polyline for the image annotation.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig": {
      "type": "object",
      "description": "Configuration for how human labeling task should be done.",
      "id": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig",
      "properties": {
        "annotatedDatasetDisplayName": {
          "type": "string",
          "description": "Required. A human-readable name for AnnotatedDataset defined by users. Maximum of 64 characters ."
        },
        "instruction": {
          "type": "string",
          "description": "Required. Instruction resource name."
        },
        "languageCode": {
          "description": "Optional. The Language of this question, as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Default value is en-US. Only need to set this when task is language related. For example, French text classification.",
          "type": "string"
        },
        "contributorEmails": {
          "type": "array",
          "description": "Optional. If you want your own labeling contributors to manage and work on this labeling request, you can set these contributors here. We will give them access to the question types in crowdcompute. Note that these emails must be registered in crowdcompute worker UI: https://crowd-compute.appspot.com/",
          "items": {
            "type": "string"
          }
        },
        "annotatedDatasetDescription": {
          "description": "Optional. A human-readable description for AnnotatedDataset. The description can be up to 10000 characters long.",
          "type": "string"
        },
        "userEmailAddress": {
          "description": "Email of the user who started the labeling task and should be notified by email. If empty no notification will be sent.",
          "type": "string"
        },
        "questionDuration": {
          "description": "Optional. Maximum duration for contributors to answer a question. Maximum is 3600 seconds. Default is 3600 seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "replicaCount": {
          "format": "int32",
          "type": "integer",
[...]
