{
  "name": "datastream",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/datastream/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "datastream:v1",
  "canonicalName": "Datastream",
  "version": "v1",
  "basePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260321",
  "schemas": {
    "OracleRdbms": {
      "id": "OracleRdbms",
      "type": "object",
      "description": "Oracle database structure.",
      "properties": {
        "oracleSchemas": {
          "description": "Oracle schemas/databases in the database server.",
          "items": {
            "$ref": "OracleSchema"
          },
          "type": "array"
        }
      }
    },
    "MongodbProfile": {
      "description": "Profile for connecting to a MongoDB source.",
      "properties": {
        "password": {
          "description": "Optional. Password for the MongoDB connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the MongoDB connection.",
          "$ref": "MongodbSslConfig"
        },
        "additionalOptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Specifies additional options for the MongoDB connection. The options should be sent as key-value pairs, for example: `additional_options = {\"serverSelectionTimeoutMS\": \"10000\", \"directConnection\": \"true\"}`. Keys are case-sensitive and should match the official MongoDB connection string options: https://www.mongodb.com/docs/manual/reference/connection-string-options/ The server will not modify the values provided by the user.",
          "type": "object"
        },
        "hostAddresses": {
          "items": {
            "$ref": "HostAddress"
          },
          "type": "array",
          "description": "Required. List of host addresses for a MongoDB cluster. For SRV connection format, this list must contain exactly one DNS host without a port. For Standard connection format, this list must contain all the required hosts in the cluster with their respective ports."
        },
        "standardConnectionFormat": {
          "description": "Standard connection format.",
          "$ref": "StandardConnectionFormat"
        },
        "replicaSet": {
          "description": "Optional. Name of the replica set. Only needed for self hosted replica set type MongoDB cluster. For SRV connection format, this field must be empty. For Standard connection format, this field must be specified.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the MongoDB connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "srvConnectionFormat": {
          "description": "Srv connection format.",
          "$ref": "SrvConnectionFormat"
        }
      },
      "id": "MongodbProfile",
      "type": "object"
    },
    "SourceHierarchyDatasets": {
      "id": "SourceHierarchyDatasets",
      "type": "object",
      "description": "Destination datasets are created so that hierarchy of the destination data objects matches the source hierarchy.",
      "properties": {
        "datasetTemplate": {
          "description": "The dataset template to use for dynamic dataset creation.",
          "$ref": "DatasetTemplate"
        },
        "projectId": {
          "description": "Optional. The project id of the BigQuery dataset. If not specified, the project will be inferred from the stream resource.",
          "type": "string"
        }
      }
    },
    "BackfillAllStrategy": {
      "id": "BackfillAllStrategy",
      "type": "object",
      "description": "Backfill strategy to automatically backfill the Stream's objects. Specific objects can be excluded.",
      "properties": {
        "postgresqlExcludedObjects": {
          "description": "PostgreSQL data source objects to avoid backfilling.",
          "$ref": "PostgresqlRdbms"
        },
        "sqlServerExcludedObjects": {
          "description": "SQLServer data source objects to avoid backfilling",
          "$ref": "SqlServerRdbms"
        },
        "mongodbExcludedObjects": {
          "description": "MongoDB data source objects to avoid backfilling",
          "$ref": "MongodbCluster"
        },
        "mysqlExcludedObjects": {
          "description": "MySQL data source objects to avoid backfilling.",
          "$ref": "MysqlRdbms"
        },
        "salesforceExcludedObjects": {
          "description": "Salesforce data source objects to avoid backfilling",
          "$ref": "SalesforceOrg"
        },
        "spannerExcludedObjects": {
          "description": "Spanner data source objects to avoid backfilling.",
          "$ref": "SpannerDatabase"
        },
        "oracleExcludedObjects": {
          "description": "Oracle data source objects to avoid backfilling.",
          "$ref": "OracleRdbms"
        }
      }
    },
    "OracleProfile": {
      "id": "OracleProfile",
      "type": "object",
      "description": "Profile for connecting to an Oracle source.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the Oracle connection.",
          "type": "string"
        },
        "port": {
          "description": "Port for the Oracle connection, default value is 1521.",
          "type": "integer",
          "format": "int32"
        },
        "password": {
          "description": "Optional. Password for the Oracle connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "oracleAsmConfig": {
          "description": "Optional. Configuration for Oracle ASM connection.",
          "$ref": "OracleAsmConfig"
        },
        "databaseService": {
          "description": "Required. Database for the Oracle connection.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the Oracle connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "connectionAttributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Connection string attributes",
          "type": "object"
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        }
      }
    },
    "SqlServerLsnPosition": {
      "id": "SqlServerLsnPosition",
      "type": "object",
      "description": "SQL Server LSN position",
      "properties": {
        "lsn": {
          "description": "Required. Log sequence number (LSN) from where Logs will be read",
          "type": "string"
        }
      }
    },
    "Gtid": {
      "id": "Gtid",
      "type": "object",
      "description": "Use GTID based replication.",
      "properties": {}
    },
    "MysqlObjectIdentifier": {
      "description": "Mysql data source object identifier.",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        }
      },
      "id": "MysqlObjectIdentifier",
      "type": "object"
    },
    "MongodbObjectIdentifier": {
      "id": "MongodbObjectIdentifier",
      "type": "object",
      "description": "MongoDB data source object identifier.",
      "properties": {
        "database": {
          "description": "Required. The database name.",
          "type": "string"
        },
        "collection": {
          "description": "Required. The collection name.",
          "type": "string"
        }
      }
    },
    "ErrorInfo": {
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }",
      "properties": {
        "reason": {
          "description": "The reason of the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        },
        "domain": {
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\".",
          "type": "string"
        },
        "metadata": {
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ErrorInfo",
      "type": "object"
    },
    "SpannerProfile": {
      "description": "Profile for connecting to a Spanner source.",
      "properties": {
        "database": {
          "description": "Required. Immutable. Cloud Spanner database resource. This field is immutable. Must be in the format: projects/{project}/instances/{instance}/databases/{database_id}.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The Spanner endpoint to connect to. Defaults to the global endpoint (https://spanner.googleapis.com). Must be in the format: https://spanner.{region}.rep.googleapis.com.",
          "type": "string"
        }
      },
      "id": "SpannerProfile",
      "type": "object"
    },
    "SpannerSchema": {
      "description": "Spanner schema.",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "tables": {
          "type": "array",
          "items": {
            "$ref": "SpannerTable"
          },
          "description": "Optional. Spanner tables in the schema."
        }
      },
      "id": "SpannerSchema",
      "type": "object"
    },
    "OracleAsmLogFileAccess": {
      "description": "Configuration to use Oracle ASM to access the log files.",
      "properties": {},
      "id": "OracleAsmLogFileAccess",
      "type": "object"
    },
    "BigQueryDestinationConfig": {
      "id": "BigQueryDestinationConfig",
      "type": "object",
      "description": "BigQuery destination configuration",
      "properties": {
        "sourceHierarchyDatasets": {
          "description": "Source hierarchy datasets.",
          "$ref": "SourceHierarchyDatasets"
        },
        "singleTargetDataset": {
          "description": "Single destination dataset.",
          "$ref": "SingleTargetDataset"
        },
        "merge": {
          "description": "The standard mode",
          "$ref": "Merge"
        },
        "blmtConfig": {
          "description": "Optional. Big Lake Managed Tables (BLMT) configuration.",
          "$ref": "BlmtConfig"
        },
        "dataFreshness": {
          "description": "The guaranteed data freshness (in seconds) when querying tables created by the stream. Editing this field will only affect new tables created in the future, but existing tables will not be impacted. Lower values mean that queries will return fresher data, but may result in higher cost.",
          "type": "string",
          "format": "google-duration"
        },
        "appendOnly": {
          "description": "Append only mode",
          "$ref": "AppendOnly"
        }
      }
    },
    "BinaryLogPosition": {
      "description": "Use Binary log position based replication.",
      "properties": {},
      "id": "BinaryLogPosition",
      "type": "object"
    },
    "SrvConnectionFormat": {
      "description": "Srv connection format.",
      "properties": {},
      "id": "SrvConnectionFormat",
      "type": "object"
    },
    "RunStreamRequest": {
      "description": "Request message for running a stream.",
      "properties": {
        "cdcStrategy": {
          "description": "Optional. The CDC strategy of the stream. If not set, the system's default value will be used.",
          "$ref": "CdcStrategy"
        },
        "force": {
          "description": "Optional. Update the stream without validating it.",
          "type": "boolean"
        }
      },
      "id": "RunStreamRequest",
      "type": "object"
    },
    "ValidationMessage": {
      "description": "Represent user-facing validation result message.",
      "properties": {
        "level": {
          "description": "Message severity level (warning or error).",
          "enum": [
            "LEVEL_UNSPECIFIED",
            "WARNING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified level.",
            "Potentially cause issues with the Stream.",
            "Definitely cause issues with the Stream."
          ]
        },
        "metadata": {
          "type": "object",
          "description": "Additional metadata related to the result.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "The result of the validation.",
          "type": "string"
        },
        "code": {
          "description": "A custom code identifying this specific message.",
          "type": "string"
        }
      },
      "id": "ValidationMessage",
      "type": "object"
    },
    "ForwardSshTunnelConnectivity": {
      "id": "ForwardSshTunnelConnectivity",
      "type": "object",
      "description": "Forward SSH Tunnel connectivity.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the SSH tunnel.",
          "type": "string"
        },
        "privateKey": {
          "description": "Input only. SSH private key.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for the SSH tunnel, default value is 22."
        },
        "password": {
          "description": "Input only. SSH password.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the SSH tunnel.",
          "type": "string"
        }
      }
    },
    "CustomizationRule": {
      "description": "A customization rule to apply to a set of objects.",
      "properties": {
        "bigqueryPartitioning": {
          "description": "BigQuery partitioning rule.",
          "$ref": "BigQueryPartitioning"
        },
        "bigqueryClustering": {
          "description": "BigQuery clustering rule.",
          "$ref": "BigQueryClustering"
        }
      },
      "id": "CustomizationRule",
      "type": "object"
    },
    "IngestionTimePartition": {
      "id": "IngestionTimePartition",
      "type": "object",
      "description": "Ingestion time partitioning. see https://cloud.google.com/bigquery/docs/partitioned-tables#ingestion_time",
      "properties": {
        "partitioningTimeGranularity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified partitioing interval.",
            "Hourly partitioning.",
            "Daily partitioning.",
            "Monthly partitioning.",
            "Yearly partitioning."
          ],
          "description": "Optional. Partition granularity",
          "enum": [
            "PARTITIONING_TIME_GRANULARITY_UNSPECIFIED",
            "PARTITIONING_TIME_GRANULARITY_HOUR",
            "PARTITIONING_TIME_GRANULARITY_DAY",
            "PARTITIONING_TIME_GRANULARITY_MONTH",
            "PARTITIONING_TIME_GRANULARITY_YEAR"
          ]
        }
      }
    },
    "ResourceInfo": {
      "description": "Describes the resource that is being accessed.",
      "properties": {
        "owner": {
          "description": "The owner of the resource (optional). For example, \"user:\" or \"project:\".",
          "type": "string"
        },
        "description": {
          "description": "Describes what error is encountered when accessing this resource. For example, updating a cloud project may require the `writer` permission on the developer console project.",
          "type": "string"
        },
        "resourceType": {
          "description": "A name for the type of resource being accessed, e.g. \"sql table\", \"cloud storage bucket\", \"file\", \"Google calendar\"; or the type URL of the resource: e.g. \"type.googleapis.com/google.pubsub.v1.Topic\".",
          "type": "string"
        },
        "resourceName": {
          "description": "The name of the resource being accessed. For example, a shared calendar name: \"example.com_4fghdhgsrgh@group.calendar.google.com\", if the current error is google.rpc.Code.PERMISSION_DENIED.",
          "type": "string"
        }
      },
      "id": "ResourceInfo",
      "type": "object"
    },
    "SalesforceObject": {
      "id": "SalesforceObject",
      "type": "object",
      "description": "Salesforce object.",
      "properties": {
        "fields": {
          "description": "Salesforce fields. When unspecified as part of include objects, includes everything, when unspecified as part of exclude objects, excludes nothing.",
          "type": "array",
          "items": {
            "$ref": "SalesforceField"
          }
        },
        "objectName": {
          "description": "The object name.",
          "type": "string"
        }
      }
    },
    "OracleObjectIdentifier": {
      "id": "OracleObjectIdentifier",
      "type": "object",
      "description": "Oracle data source object identifier.",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        }
      }
    },
    "SpannerDatabase": {
      "description": "Spanner database structure.",
      "properties": {
        "schemas": {
          "items": {
            "$ref": "SpannerSchema"
          },
          "type": "array",
          "description": "Optional. Spanner schemas in the database."
        }
      },
      "id": "SpannerDatabase",
      "type": "object"
    },
    "AppendOnly": {
      "id": "AppendOnly",
      "type": "object",
      "description": "AppendOnly mode defines that all changes to a table will be written to the destination table.",
      "properties": {}
    },
    "ListStreamsResponse": {
      "description": "Response message for listing streams.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "streams": {
          "description": "List of streams",
          "type": "array",
          "items": {
            "$ref": "Stream"
          }
        }
      },
      "id": "ListStreamsResponse",
      "type": "object"
    },
    "SalesforceProfile": {
      "id": "SalesforceProfile",
      "type": "object",
      "description": "Profile for connecting to a Salesforce source.",
      "properties": {
        "userCredentials": {
          "description": "User-password authentication.",
          "$ref": "UserCredentials"
        },
        "oauth2ClientCredentials": {
          "description": "Connected app authentication.",
          "$ref": "Oauth2ClientCredentials"
        },
        "domain": {
          "description": "Required. Domain endpoint for the Salesforce connection.",
          "type": "string"
        }
      }
    },
    "PreconditionFailure": {
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "properties": {
        "violations": {
          "type": "array",
          "items": {
            "$ref": "PreconditionFailureViolation"
          },
          "description": "Describes all precondition violations."
        }
      },
      "id": "PreconditionFailure",
      "type": "object"
    },
    "QuotaFailureViolation": {
      "id": "QuotaFailureViolation",
      "type": "object",
      "description": "A message type used to describe a single quota violation. For example, a daily quota or a custom quota that was exceeded.",
      "properties": {
        "description": {
          "description": "A description of how the quota check failed. Clients can use this description to find more about the quota configuration in the service's public documentation, or find the relevant quota limit to adjust through developer console. For example: \"Service disabled\" or \"Daily Limit for read operations exceeded\".",
          "type": "string"
        },
        "apiService": {
          "description": "The API Service from which the `QuotaFailure.Violation` orginates. In some cases, Quota issues originate from an API Service other than the one that was called. In other words, a dependency of the called API Service could be the cause of the `QuotaFailure`, and this field would have the dependency API service name. For example, if the called API is Kubernetes Engine API (container.googleapis.com), and a quota violation occurs in the Kubernetes Engine API itself, this field would be \"container.googleapis.com\". On the other hand, if the quota violation occurs when the Kubernetes Engine API creates VMs in the Compute Engine API (compute.googleapis.com), this field would be \"compute.googleapis.com\".",
          "type": "string"
        },
        "quotaId": {
          "description": "The id of the violated quota. Also know as \"limit name\", this is the unique identifier of a quota in the context of an API service. For example, \"CPUS-PER-VM-FAMILY-per-project-region\".",
          "type": "string"
        },
        "quotaDimensions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The dimensions of the violated quota. Every non-global quota is enforced on a set of dimensions. While quota metric defines what to count, the dimensions specify for what aspects the counter should be increased. For example, the quota \"CPUs per region per VM family\" enforces a limit on the metric \"compute.googleapis.com/cpus_per_vm_family\" on dimensions \"region\" and \"vm_family\". And if the violation occurred in region \"us-central1\" and for VM family \"n1\", the quota_dimensions would be, { \"region\": \"us-central1\", \"vm_family\": \"n1\", } When a quota is enforced globally, the quota_dimensions would always be empty."
        },
        "quotaMetric": {
          "description": "The metric of the violated quota. A quota metric is a named counter to measure usage, such as API requests or CPUs. When an activity occurs in a service, such as Virtual Machine allocation, one or more quota metrics may be affected. For example, \"compute.googleapis.com/cpus_per_vm_family\", \"storage.googleapis.com/internet_egress_bandwidth\".",
          "type": "string"
        },
        "futureQuotaValue": {
          "type": "string",
          "format": "int64",
          "description": "The new quota value being rolled out at the time of the violation. At the completion of the rollout, this value will be enforced in place of quota_value. If no rollout is in progress at the time of the violation, this field is not set. For example, if at the time of the violation a rollout is in progress changing the number of CPUs quota from 10 to 20, 20 would be the value of this field."
        },
        "subject": {
          "description": "The subject on which the quota check failed. For example, \"clientip:\" or \"project:\".",
          "type": "string"
        },
        "quotaValue": {
          "type": "string",
          "format": "int64",
          "description": "The enforced quota value at the time of the `QuotaFailure`. For example, if the enforced quota value at the time of the `QuotaFailure` on the number of CPUs is \"10\", then the value of this field would reflect this quantity."
        }
      }
    },
    "StreamLargeObjects": {
      "id": "StreamLargeObjects",
      "type": "object",
      "description": "Configuration to stream large object values.",
      "properties": {}
    },
    "SqlServerSourceConfig": {
      "description": "Configuration for syncing data from a SQLServer source.",
      "properties": {
        "includeObjects": {
          "description": "The SQLServer objects to include in the stream.",
          "$ref": "SqlServerRdbms"
        },
        "excludeObjects": {
          "description": "The SQLServer objects to exclude from the stream.",
          "$ref": "SqlServerRdbms"
        },
        "changeTables": {
          "description": "CDC reader reads from change tables.",
          "$ref": "SqlServerChangeTables"
        },
        "maxConcurrentCdcTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Max concurrent CDC tasks."
        },
        "maxConcurrentBackfillTasks": {
          "description": "Max concurrent backfill tasks.",
          "type": "integer",
          "format": "int32"
        },
        "transactionLogs": {
          "description": "CDC reader reads from transaction logs.",
          "$ref": "SqlServerTransactionLogs"
        }
      },
      "id": "SqlServerSourceConfig",
      "type": "object"
    },
    "PostgresqlSourceConfig": {
      "id": "PostgresqlSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from a PostgreSQL source.",
      "properties": {
        "replicationSlot": {
          "description": "Required. Immutable. The name of the logical replication slot that's configured with the pgoutput plugin.",
          "type": "string"
        },
        "publication": {
          "description": "Required. The name of the publication that includes the set of all tables that are defined in the stream's include_objects.",
          "type": "string"
        },
        "maxConcurrentBackfillTasks": {
          "description": "Maximum number of concurrent backfill tasks. The number should be non negative. If not set (or set to 0), the system's default value will be used.",
          "type": "integer",
          "format": "int32"
        },
        "includeObjects": {
          "description": "The PostgreSQL objects to include in the stream.",
          "$ref": "PostgresqlRdbms"
        },
        "excludeObjects": {
          "description": "The PostgreSQL objects to exclude from the stream.",
          "$ref": "PostgresqlRdbms"
        }
      }
    },
    "StandardConnectionFormat": {
      "description": "Standard connection format.",
      "properties": {
        "directConnection": {
          "description": "Optional. Deprecated: Use the `additional_options` map to specify the `directConnection` parameter instead. For example: `additional_options = {\"directConnection\": \"true\"}`. Specifies whether the client connects directly to the host[:port] in the connection URI.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "StandardConnectionFormat",
      "type": "object"
    },
    "FieldViolation": {
      "id": "FieldViolation",
      "type": "object",
      "description": "A message type used to describe a single bad request field.",
      "properties": {
        "localizedMessage": {
          "description": "Provides a localized error message for field-level errors that is safe to return to the API consumer.",
          "$ref": "LocalizedMessage"
        },
        "field": {
          "description": "A path that leads to a field in the request body. The value will be a sequence of dot-separated identifiers that identify a protocol buffer field. Consider the following: message CreateContactRequest { message EmailAddress { enum Type { TYPE_UNSPECIFIED = 0; HOME = 1; WORK = 2; } optional string email = 1; repeated EmailType type = 2; } string full_name = 1; repeated EmailAddress email_addresses = 2; } In this example, in proto `field` could take one of the following values: * `full_name` for a violation in the `full_name` value * `email_addresses[0].email` for a violation in the `email` field of the first `email_addresses` message * `email_addresses[2].type[1]` for a violation in the second `type` value in the third `email_addresses` message. In JSON, the same values are represented as: * `fullName` for a violation in the `fullName` value * `emailAddresses[0].email` for a violation in the `email` field of the first `emailAddresses` message * `emailAddresses[2].type[1]` for a violation in the second `type` value in the third `emailAddresses` message.",
          "type": "string"
        },
        "description": {
          "description": "A description of why the request element is bad.",
          "type": "string"
        },
        "reason": {
          "description": "The reason of the field-level error. This is a constant value that identifies the proximate cause of the field-level error. It should uniquely identify the type of the FieldViolation within the scope of the google.rpc.ErrorInfo.domain. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        }
      }
    },
    "DebugInfo": {
      "description": "Describes additional debugging info.",
      "properties": {
        "stackEntries": {
          "description": "The stack trace entries indicating where the error occurred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detail": {
          "description": "Additional debugging information provided by the server.",
          "type": "string"
        }
      },
      "id": "DebugInfo",
      "type": "object"
    },
    "PrivateConnection": {
      "id": "PrivateConnection",
      "type": "object",
      "description": "The PrivateConnection resource is used to establish private connectivity between Datastream and a customer's network.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the Private Connection.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "FAILED",
            "DELETING",
            "FAILED_TO_DELETE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The private connection is in creation state - creating resources.",
            "The private connection has been created with all of its resources.",
            "The private connection creation has failed.",
            "The private connection is being deleted.",
            "Delete request has failed, resource is in invalid state."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource's name."
        },
        "pscInterfaceConfig": {
          "description": "PSC Interface Config.",
          "$ref": "PscInterfaceConfig"
        },
        "vpcPeeringConfig": {
          "description": "VPC Peering Config.",
          "$ref": "VpcPeeringConfig"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The update time of the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels.",
          "type": "object"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "error": {
          "readOnly": true,
          "$ref": "Error",
          "description": "Output only. In case of error, the details of the error in a user-friendly format."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        }
      }
    },
    "BackfillJob": {
      "description": "Represents a backfill job on a specific stream object.",
      "properties": {
        "lastStartTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Backfill job's start time."
        },
        "trigger": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Object backfill job was triggered automatically according to the stream's backfill strategy.",
            "Object backfill job was triggered manually using the dedicated API."
          ],
          "description": "Backfill job's triggering reason.",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Backfill job was never started for the stream object (stream has backfill strategy defined as manual or object was explicitly excluded from automatic backfill).",
            "Backfill job will start pending available resources.",
            "Backfill job is running.",
            "Backfill job stopped (next job run will start from beginning).",
            "Backfill job failed (due to an error).",
            "Backfill completed successfully.",
            "Backfill job failed since the table structure is currently unsupported for backfill."
          ],
          "type": "string",
          "description": "Output only. Backfill job state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "PENDING",
            "ACTIVE",
            "STOPPED",
            "FAILED",
            "COMPLETED",
            "UNSUPPORTED"
          ]
        },
        "lastEndTime": {
          "description": "Output only. Backfill job's end time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Errors which caused the backfill job to fail."
        }
      },
      "id": "BackfillJob",
      "type": "object"
    },
    "MysqlDatabase": {
      "id": "MysqlDatabase",
      "type": "object",
      "description": "MySQL database.",
      "properties": {
        "mysqlTables": {
          "description": "Tables in the database.",
          "items": {
            "$ref": "MysqlTable"
          },
          "type": "array"
        },
        "database": {
          "description": "The database name.",
          "type": "string"
        }
      }
    },
    "SalesforceField": {
      "description": "Salesforce field.",
      "properties": {
        "dataType": {
          "description": "The data type.",
          "type": "string"
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        },
        "nillable": {
          "description": "Indicates whether the field can accept nil values.",
          "type": "boolean"
        }
      },
      "id": "SalesforceField",
      "type": "object"
    },
    "MongodbDatabase": {
      "description": "MongoDB Database.",
      "properties": {
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "collections": {
          "type": "array",
          "items": {
            "$ref": "MongodbCollection"
          },
          "description": "Collections in the database."
        }
      },
      "id": "MongodbDatabase",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "SqlServerRdbms": {
      "description": "SQLServer database structure.",
      "properties": {
        "schemas": {
          "items": {
            "$ref": "SqlServerSchema"
          },
          "type": "array",
          "description": "SQLServer schemas in the database server."
        }
      },
      "id": "SqlServerRdbms",
      "type": "object"
    },
    "ListConnectionProfilesResponse": {
      "description": "Response message for listing connection profiles.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "connectionProfiles": {
          "description": "List of connection profiles.",
          "type": "array",
          "items": {
            "$ref": "ConnectionProfile"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConnectionProfilesResponse",
      "type": "object"
    },
    "Merge": {
      "description": "Merge mode defines that all changes to a table will be merged at the destination table.",
      "properties": {},
      "id": "Merge",
      "type": "object"
    },
    "SourceObjectIdentifier": {
      "id": "SourceObjectIdentifier",
      "type": "object",
      "description": "Represents an identifier of an object in the data source.",
      "properties": {
        "postgresqlIdentifier": {
          "description": "PostgreSQL data source object identifier.",
          "$ref": "PostgresqlObjectIdentifier"
        },
        "oracleIdentifier": {
          "description": "Oracle data source object identifier.",
          "$ref": "OracleObjectIdentifier"
        },
        "spannerIdentifier": {
          "description": "Spanner data source object identifier.",
          "$ref": "SpannerObjectIdentifier"
        },
        "sqlServerIdentifier": {
          "description": "SQLServer data source object identifier.",
          "$ref": "SqlServerObjectIdentifier"
        },
        "mysqlIdentifier": {
          "description": "Mysql data source object identifier.",
          "$ref": "MysqlObjectIdentifier"
        },
        "salesforceIdentifier": {
          "description": "Salesforce data source object identifier.",
          "$ref": "SalesforceObjectIdentifier"
        },
        "mongodbIdentifier": {
          "description": "MongoDB data source object identifier.",
          "$ref": "MongodbObjectIdentifier"
        }
      }
    },
    "SalesforceObjectIdentifier": {
      "id": "SalesforceObjectIdentifier",
      "type": "object",
      "description": "Salesforce data source object identifier.",
      "properties": {
        "objectName": {
          "description": "Required. The object name.",
          "type": "string"
        }
      }
    },
    "SpannerTable": {
      "description": "Spanner table.",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "columns": {
          "items": {
            "$ref": "SpannerColumn"
          },
          "type": "array",
          "description": "Optional. Spanner columns in the table."
        }
      },
      "id": "SpannerTable",
      "type": "object"
    },
    "SqlServerObjectIdentifier": {
      "description": "SQLServer data source object identifier.",
      "properties": {
        "schema": {
          "description": "Required. The schema name.",
          "type": "string"
        },
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        }
      },
      "id": "SqlServerObjectIdentifier",
      "type": "object"
    },
    "MongodbChangeStreamPosition": {
      "id": "MongodbChangeStreamPosition",
      "type": "object",
      "description": "MongoDB change stream position",
      "properties": {
        "startTime": {
          "description": "Required. The timestamp to start change stream from.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      }
    },
    "PreconditionFailureViolation": {
      "id": "PreconditionFailureViolation",
      "type": "object",
      "description": "A message type used to describe a single precondition failure.",
      "properties": {
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        },
        "type": {
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
          "type": "string"
        }
      }
    },
    "EncryptionAndServerValidation": {
      "id": "EncryptionAndServerValidation",
      "type": "object",
      "description": "Message to represent the option where Datastream will enforce encryption and authenticate server identity. ca_certificate must be set if user selects this option.",
      "properties": {
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. This field is used for bypassing the hostname validation while verifying server certificate. This is required for scenarios where the host name that datastream connects to is different from the certificate's subject. This specifically happens for private connectivity. It could also happen when the customer provides a public IP in connection profile but the same is not present in the server certificate.",
          "type": "string"
        }
      }
    },
    "SpannerColumn": {
      "id": "SpannerColumn",
      "type": "object",
      "description": "Spanner column.",
      "properties": {
        "column": {
          "description": "Required. The column name.",
          "type": "string"
        },
        "dataType": {
          "description": "Optional. Spanner data type.",
          "type": "string"
        },
        "isPrimaryKey": {
          "description": "Optional. Whether or not the column is a primary key.",
          "type": "boolean"
        },
        "ordinalPosition": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The ordinal position of the column in the table."
        }
      }
    },
    "PostgresqlProfile": {
      "description": "Profile for connecting to a PostgreSQL source.",
      "properties": {
        "hostname": {
          "description": "Required. Hostname for the PostgreSQL connection.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the PostgreSQL connection.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the PostgreSQL connection. In case PostgresqlSslConfig is not set, the connection will use the default SSL mode, which is `prefer` (i.e. this mode will only use encryption if enabled from database side, otherwise will use unencrypted communication)",
          "$ref": "PostgresqlSslConfig"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port for the PostgreSQL connection, default value is 5432."
        },
        "password": {
          "description": "Optional. Password for the PostgreSQL connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username for the PostgreSQL connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the PostgreSQL connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        }
      },
      "id": "PostgresqlProfile",
      "type": "object"
    },
    "Oauth2ClientCredentials": {
      "description": "OAuth2 Client Credentials.",
      "properties": {
        "clientId": {
          "description": "Required. Client ID for Salesforce OAuth2 Client Credentials.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret for Salesforce OAuth2 Client Credentials. Mutually exclusive with the `secret_manager_stored_client_secret` field.",
          "type": "string"
        },
        "secretManagerStoredClientSecret": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Salesforce OAuth2 client_secret. Mutually exclusive with the `client_secret` field.",
          "type": "string"
        }
      },
      "id": "Oauth2ClientCredentials",
      "type": "object"
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        }
      },
      "id": "LocalizedMessage",
      "type": "object"
    },
    "SingleTargetDataset": {
      "id": "SingleTargetDataset",
      "type": "object",
      "description": "A single target dataset to which all data will be streamed.",
      "properties": {
        "datasetId": {
          "description": "The dataset ID of the target dataset. DatasetIds allowed characters: https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets#datasetreference.",
          "type": "string"
        }
      }
    },
    "Route": {
      "description": "The route resource is the child of the private connection resource, used for defining a route for a private connection.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The update time of the resource."
        },
        "labels": {
          "type": "object",
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "destinationAddress": {
          "description": "Required. Destination address for connection",
          "type": "string"
        },
        "destinationPort": {
          "description": "Destination port for connection",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource's name."
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time of the resource."
        }
      },
      "id": "Route",
      "type": "object"
    },
    "OracleSchema": {
      "description": "Oracle schema.",
      "properties": {
        "oracleTables": {
          "description": "Tables in the schema.",
          "items": {
            "$ref": "OracleTable"
          },
          "type": "array"
        },
        "schema": {
          "description": "The schema name.",
          "type": "string"
        }
      },
      "id": "OracleSchema",
      "type": "object"
    },
    "MysqlTable": {
      "description": "MySQL table.",
      "properties": {
        "mysqlColumns": {
          "type": "array",
          "items": {
            "$ref": "MysqlColumn"
          },
          "description": "MySQL columns in the database. When unspecified as part of include/exclude objects, includes/excludes everything."
        },
        "table": {
          "description": "The table name.",
          "type": "string"
        }
      },
      "id": "MysqlTable",
      "type": "object"
    },
    "OracleSourceConfig": {
      "id": "OracleSourceConfig",
      "type": "object",
      "description": "Configuration for syncing data from an Oracle source.",
      "properties": {
        "maxConcurrentCdcTasks": {
          "description": "Maximum number of concurrent CDC tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "maxConcurrentBackfillTasks": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of concurrent backfill tasks. The number should be non-negative. If not set (or set to 0), the system's default value is used."
        },
        "binaryLogParser": {
          "description": "Use Binary Log Parser.",
          "$ref": "BinaryLogParser"
        },
        "includeObjects": {
          "description": "The Oracle objects to include in the stream.",
          "$ref": "OracleRdbms"
        },
        "excludeObjects": {
          "description": "The Oracle objects to exclude from the stream.",
          "$ref": "OracleRdbms"
        },
        "streamLargeObjects": {
          "description": "Stream large object values.",
          "$ref": "StreamLargeObjects"
        },
        "dropLargeObjects": {
          "description": "Drop large object values.",
          "$ref": "DropLargeObjects"
        },
        "logMiner": {
          "description": "Use LogMiner.",
          "$ref": "LogMiner"
        }
      }
    },
    "DiscoverConnectionProfileResponse": {
      "id": "DiscoverConnectionProfileResponse",
      "type": "object",
      "description": "Response from a discover request.",
      "properties": {
        "spannerDatabase": {
          "description": "Enriched Spanner database.",
          "$ref": "SpannerDatabase"
        },
        "sqlServerRdbms": {
          "description": "Enriched SQLServer RDBMS object.",
          "$ref": "SqlServerRdbms"
        },
        "salesforceOrg": {
          "description": "Enriched Salesforce organization.",
          "$ref": "SalesforceOrg"
        },
        "oracleRdbms": {
          "description": "Enriched Oracle RDBMS object.",
          "$ref": "OracleRdbms"
        },
        "postgresqlRdbms": {
          "description": "Enriched PostgreSQL RDBMS object.",
          "$ref": "PostgresqlRdbms"
        },
        "mysqlRdbms": {
          "description": "Enriched MySQL RDBMS object.",
          "$ref": "MysqlRdbms"
        },
        "mongodbCluster": {
          "description": "Enriched MongoDB cluster.",
          "$ref": "MongodbCluster"
        }
      }
    },
    "AvroFileFormat": {
      "description": "AVRO file format configuration.",
      "properties": {},
      "id": "AvroFileFormat",
      "type": "object"
    },
    "PostgresqlSslConfig": {
      "id": "PostgresqlSslConfig",
      "type": "object",
      "description": "PostgreSQL SSL configuration information.",
      "properties": {
        "serverVerification": {
          "description": " If this field is set, the communication will be encrypted with TLS encryption and the server identity will be authenticated.",
          "$ref": "ServerVerification"
        },
        "serverAndClientVerification": {
          "description": "If this field is set, the communication will be encrypted with TLS encryption and both the server identity and the client identity will be authenticated.",
          "$ref": "ServerAndClientVerification"
        }
      }
    },
    "MongodbSslConfig": {
      "description": "MongoDB SSL configuration information.",
      "properties": {
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate that will be used by the replica to authenticate against the source database server. If this field is used then the 'client_key' and the 'ca_certificate' fields are mandatory.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Optional. Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "secretManagerStoredClientKey": {
          "description": "Optional. Input only. A reference to a Secret Manager resource name storing the PEM-encoded private key associated with the Client Certificate. If this field is used then the 'client_certificate' and the 'ca_certificate' fields are mandatory. Mutually exclusive with the `client_key` field.",
          "type": "string"
        },
        "caCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field is set."
        },
        "clientKeySet": {
          "description": "Output only. Indicates whether the client_key field is set.",
          "readOnly": true,
          "type": "boolean"
        },
        "clientCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the client_certificate field is set."
        }
      },
      "id": "MongodbSslConfig",
      "type": "object"
    },
    "ServerAndClientVerification": {
      "description": "Message represents the option where Datastream will enforce the encryption and authenticate the server identity as well as the client identity. ca_certificate, client_certificate and client_key must be set if user selects this option.",
      "properties": {
        "clientKey": {
          "description": "Optional. Input only. PEM-encoded private key associated with the client certificate. This value will be used during the SSL/TLS handshake, allowing the PostgreSQL server to authenticate the client's identity, i.e. identity of the Datastream.",
          "type": "string"
        },
        "serverCertificateHostname": {
          "description": "Optional. The hostname mentioned in the Subject or SAN extension of the server certificate. If this field is not provided, the hostname in the server certificate is not validated.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "Required. Input only. PEM-encoded certificate used by the source database to authenticate the client identity (i.e., the Datastream's identity). This certificate is signed by either a root certificate trusted by the server or one or more intermediate certificates (which is stored with the leaf certificate) to link the this certificate to the trusted root certificate.",
          "type": "string"
        },
        "caCertificate": {
          "description": "Required. Input only. PEM-encoded server root CA certificate.",
          "type": "string"
        }
      },
      "id": "ServerAndClientVerification",
      "type": "object"
    },
    "SpannerObjectIdentifier": {
      "description": "Spanner data source object identifier.",
      "properties": {
        "table": {
          "description": "Required. The table name.",
          "type": "string"
        },
        "schema": {
          "description": "Optional. The schema name.",
          "type": "string"
        }
      },
      "id": "SpannerObjectIdentifier",
      "type": "object"
    },
    "PostgresqlColumn": {
      "id": "PostgresqlColumn",
      "type": "object",
      "description": "PostgreSQL Column.",
      "properties": {
        "ordinalPosition": {
          "type": "integer",
          "format": "int32",
          "description": "The ordinal position of the column in the table."
        },
        "column": {
          "description": "The column name.",
          "type": "string"
        },
        "precision": {
          "type": "integer",
          "format": "int32",
          "description": "Column precision."
        },
        "scale": {
          "type": "integer",
          "format": "int32",
          "description": "Column scale."
        },
        "nullable": {
          "description": "Whether or not the column can accept a null value.",
          "type": "boolean"
        },
        "dataType": {
          "description": "The PostgreSQL data type.",
          "type": "string"
        },
        "primaryKey": {
          "description": "Whether or not the column represents a primary key.",
          "type": "boolean"
        },
        "length": {
          "description": "Column length.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PostgresqlSchema": {
      "id": "PostgresqlSchema",
      "type": "object",
      "description": "PostgreSQL schema.",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "postgresqlTables": {
          "type": "array",
          "items": {
            "$ref": "PostgresqlTable"
          },
          "description": "Tables in the schema."
        }
      }
    },
    "CdcStrategy": {
      "description": "The strategy that the stream uses for CDC replication.",
      "properties": {
        "mostRecentStartPosition": {
          "description": "Optional. Start replicating from the most recent position in the source.",
          "$ref": "MostRecentStartPosition"
        },
        "nextAvailableStartPosition": {
          "description": "Optional. Resume replication from the next available position in the source.",
          "$ref": "NextAvailableStartPosition"
        },
        "specificStartPosition": {
          "description": "Optional. Start replicating from a specific position in the source.",
          "$ref": "SpecificStartPosition"
        }
      },
      "id": "CdcStrategy",
      "type": "object"
    },
    "DiscoverConnectionProfileRequest": {
      "id": "DiscoverConnectionProfileRequest",
      "type": "object",
      "description": "Request message for 'discover' ConnectionProfile request.",
      "properties": {
        "hierarchyDepth": {
          "description": "Optional. The number of hierarchy levels below the current level to be retrieved.",
          "type": "integer",
          "format": "int32"
        },
        "postgresqlRdbms": {
          "description": "Optional. PostgreSQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "PostgresqlRdbms"
        },
        "mysqlRdbms": {
          "description": "Optional. MySQL RDBMS to enrich with child data objects and metadata.",
          "$ref": "MysqlRdbms"
        },
        "connectionProfileName": {
          "description": "Optional. A reference to an existing connection profile.",
          "type": "string"
        },
        "oracleRdbms": {
          "description": "Optional. Oracle RDBMS to enrich with child data objects and metadata.",
          "$ref": "OracleRdbms"
        },
        "sqlServerRdbms": {
          "description": "Optional. SQLServer RDBMS to enrich with child data objects and metadata.",
          "$ref": "SqlServerRdbms"
        },
        "salesforceOrg": {
          "description": "Optional. Salesforce organization to enrich with child data objects and metadata.",
          "$ref": "SalesforceOrg"
        },
        "spannerDatabase": {
          "description": "Optional. Spanner database to enrich with child data objects and metadata.",
          "$ref": "SpannerDatabase"
        },
        "connectionProfile": {
          "description": "Optional. An ad-hoc connection profile configuration.",
          "$ref": "ConnectionProfile"
        },
        "mongodbCluster": {
          "description": "Optional. MongoDB cluster to enrich with child data objects and metadata.",
          "$ref": "MongodbCluster"
        },
        "fullHierarchy": {
          "description": "Optional. Whether to retrieve the full hierarchy of data objects (TRUE) or only the current level (FALSE).",
          "type": "boolean"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "BigQueryClustering": {
      "description": "BigQuery clustering configuration.",
      "properties": {
        "columns": {
          "description": "Required. Column names to set as clustering columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BigQueryClustering",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "ListPrivateConnectionsResponse": {
      "id": "ListPrivateConnectionsResponse",
      "type": "object",
      "description": "Response containing a list of private connection configurations.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "privateConnections": {
          "description": "List of private connectivity configurations.",
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LogFileDirectories": {
      "id": "LogFileDirectories",
      "type": "object",
      "description": "Configuration to specify the Oracle directories to access the log files.",
      "properties": {
        "onlineLogDirectory": {
          "description": "Required. Oracle directory for online logs.",
          "type": "string"
        },
        "archivedLogDirectory": {
          "description": "Required. Oracle directory for archived logs.",
          "type": "string"
        }
      }
    },
    "GcsProfile": {
      "description": "Profile for connecting to a Cloud Storage destination.",
      "properties": {
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "rootPath": {
          "description": "Optional. The root path inside the Cloud Storage bucket.",
          "type": "string"
        }
      },
      "id": "GcsProfile",
      "type": "object"
    },
    "SqlServerProfile": {
      "description": "Profile for connecting to a SQLServer source.",
      "properties": {
        "username": {
          "description": "Required. Username for the SQLServer connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the SQLServer connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the SQLServer connection.",
          "type": "string"
        },
        "database": {
          "description": "Required. Database for the SQLServer connection.",
          "type": "string"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration for the SQLServer connection.",
          "$ref": "SqlServerSslConfig"
        },
        "port": {
          "description": "Port for the SQLServer connection, default value is 1433.",
          "type": "integer",
          "format": "int32"
        },
        "password": {
          "description": "Optional. Password for the SQLServer connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        }
      },
      "id": "SqlServerProfile",
      "type": "object"
    },
    "LogMiner": {
      "description": "Configuration to use LogMiner CDC method.",
      "properties": {},
      "id": "LogMiner",
      "type": "object"
    },
    "SqlServerTransactionLogs": {
      "id": "SqlServerTransactionLogs",
      "type": "object",
      "description": "Configuration to use Transaction Logs CDC read method.",
      "properties": {}
    },
    "SqlServerChangeTables": {
      "id": "SqlServerChangeTables",
      "type": "object",
      "description": "Configuration to use Change Tables CDC read method.",
      "properties": {}
    },
    "PostgresqlTable": {
      "id": "PostgresqlTable",
      "type": "object",
      "description": "PostgreSQL table.",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "postgresqlColumns": {
          "description": "PostgreSQL columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "type": "array",
          "items": {
            "$ref": "PostgresqlColumn"
          }
        }
      }
    },
    "RequestInfo": {
      "description": "Contains metadata about the request that clients can attach when filing a bug or providing other forms of feedback.",
      "properties": {
        "requestId": {
          "description": "An opaque string that should only be interpreted by the service generating it. For example, it can be used to identify requests in the service's logs.",
          "type": "string"
        },
        "servingData": {
          "description": "Any data that was used to serve this request. For example, an encrypted stack trace that can be sent back to the service provider for debugging.",
          "type": "string"
        }
      },
      "id": "RequestInfo",
      "type": "object"
    },
    "JsonFileFormat": {
      "description": "JSON file format configuration.",
      "properties": {
        "compression": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified json file compression.",
            "Do not compress JSON file.",
            "Gzip compression."
          ],
          "description": "Compression of the loaded JSON file.",
          "enum": [
            "JSON_COMPRESSION_UNSPECIFIED",
            "NO_COMPRESSION",
            "GZIP"
          ]
        },
        "schemaFileFormat": {
          "description": "The schema file format along JSON data files.",
          "enum": [
            "SCHEMA_FILE_FORMAT_UNSPECIFIED",
            "NO_SCHEMA_FILE",
            "AVRO_SCHEMA_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified schema file format.",
            "Do not attach schema file.",
            "Avro schema format."
          ]
        }
      },
      "id": "JsonFileFormat",
      "type": "object"
    },
    "ListStreamObjectsResponse": {
      "description": "Response containing the objects for a stream.",
      "properties": {
        "streamObjects": {
          "description": "List of stream objects.",
          "items": {
            "$ref": "StreamObject"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page.",
          "type": "string"
        }
      },
      "id": "ListStreamObjectsResponse",
      "type": "object"
    },
    "OracleAsmConfig": {
      "id": "OracleAsmConfig",
      "type": "object",
      "description": "Configuration for Oracle Automatic Storage Management (ASM) connection.",
      "properties": {
        "asmService": {
          "description": "Required. ASM service name for the Oracle ASM connection.",
          "type": "string"
        },
        "connectionAttributes": {
          "description": "Optional. Connection string attributes",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "oracleSslConfig": {
          "description": "Optional. SSL configuration for the Oracle connection.",
          "$ref": "OracleSslConfig"
        },
        "username": {
          "description": "Required. Username for the Oracle ASM connection.",
          "type": "string"
        },
        "secretManagerStoredPassword": {
          "description": "Optional. A reference to a Secret Manager resource name storing the Oracle ASM connection password. Mutually exclusive with the `password` field.",
          "type": "string"
        },
        "port": {
          "description": "Required. Port for the Oracle ASM connection.",
          "type": "integer",
          "format": "int32"
        },
        "password": {
          "description": "Optional. Password for the Oracle ASM connection. Mutually exclusive with the `secret_manager_stored_password` field.",
          "type": "string"
        },
        "hostname": {
          "description": "Required. Hostname for the Oracle ASM connection.",
          "type": "string"
        }
      }
    },
    "SqlServerTable": {
      "description": "SQLServer table.",
      "properties": {
        "table": {
          "description": "The table name.",
          "type": "string"
        },
        "columns": {
          "description": "SQLServer columns in the schema. When unspecified as part of include/exclude objects, includes/excludes everything.",
          "items": {
            "$ref": "SqlServerColumn"
          },
          "type": "array"
        }
      },
      "id": "SqlServerTable",
      "type": "object"
    },
    "SourceConfig": {
      "description": "The configuration of the stream source.",
      "properties": {
        "mysqlSourceConfig": {
          "description": "MySQL data source configuration.",
          "$ref": "MysqlSourceConfig"
        },
        "sqlServerSourceConfig": {
          "description": "SQLServer data source configuration.",
          "$ref": "SqlServerSourceConfig"
        },
        "sourceConnectionProfile": {
          "description": "Required. Source connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "salesforceSourceConfig": {
          "description": "Salesforce data source configuration.",
          "$ref": "SalesforceSourceConfig"
        },
        "mongodbSourceConfig": {
          "description": "MongoDB data source configuration.",
          "$ref": "MongodbSourceConfig"
        },
        "oracleSourceConfig": {
          "description": "Oracle data source configuration.",
          "$ref": "OracleSourceConfig"
        },
        "spannerSourceConfig": {
          "description": "Spanner data source configuration.",
          "$ref": "SpannerSourceConfig"
        },
        "postgresqlSourceConfig": {
          "description": "PostgreSQL data source configuration.",
          "$ref": "PostgresqlSourceConfig"
        }
      },
      "id": "SourceConfig",
      "type": "object"
    },
    "EncryptionNotEnforced": {
      "id": "EncryptionNotEnforced",
      "type": "object",
      "description": "Message to represent the option where encryption is not enforced. An empty message right now to allow future extensibility.",
      "properties": {}
    },
    "HostAddress": {
      "description": "A HostAddress represents a transport end point, which is the combination of an IP address or hostname and a port number.",
      "properties": {
        "port": {
          "description": "Optional. Port for the connection.",
          "type": "integer",
          "format": "int32"
        },
        "hostname": {
          "description": "Required. Hostname for the connection.",
          "type": "string"
        }
      },
      "id": "HostAddress",
      "type": "object"
    },
    "DestinationConfig": {
      "id": "DestinationConfig",
      "type": "object",
      "description": "The configuration of the stream destination.",
      "properties": {
        "bigqueryDestinationConfig": {
          "description": "BigQuery destination configuration.",
          "$ref": "BigQueryDestinationConfig"
        },
        "destinationConnectionProfile": {
          "description": "Required. Destination connection profile resource. Format: `projects/{project}/locations/{location}/connectionProfiles/{name}`",
          "type": "string"
        },
        "gcsDestinationConfig": {
          "description": "A configuration for how data should be loaded to Cloud Storage.",
          "$ref": "GcsDestinationConfig"
        }
      }
    },
    "MongodbCollection": {
      "description": "MongoDB Collection.",
      "properties": {
        "collection": {
          "description": "The collection name.",
          "type": "string"
        },
        "fields": {
          "description": "Fields in the collection.",
          "type": "array",
          "items": {
            "$ref": "MongodbField"
          }
        }
      },
      "id": "MongodbCollection",
      "type": "object"
    },
    "ObjectFilter": {
      "id": "ObjectFilter",
      "type": "object",
      "description": "Object filter to apply the rules to.",
      "properties": {
        "sourceObjectIdentifier": {
          "description": "Specific source object identifier.",
          "$ref": "SourceObjectIdentifier"
        }
      }
    },
    "SqlServerSchema": {
      "description": "SQLServer schema.",
      "properties": {
        "schema": {
          "description": "The schema name.",
          "type": "string"
        },
        "tables": {
          "description": "Tables in the schema.",
          "items": {
            "$ref": "SqlServerTable"
          },
          "type": "array"
        }
      },
      "id": "SqlServerSchema",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "NextAvailableStartPosition": {
      "id": "NextAvailableStartPosition",
      "type": "object",
      "description": "CDC strategy to resume replication from the next available position in the source.",
      "properties": {}
    },
    "QuotaFailure": {
      "id": "QuotaFailure",
      "type": "object",
      "description": "Describes how a quota check failed. For example if a daily limit was exceeded for the calling project, a service could respond with a QuotaFailure detail containing the project id and the description of the quota limit that was exceeded. If the calling project hasn't enabled the service in the developer console, then a service could respond with the project id and set `service_disabled` to true. Also see RetryInfo and Help types for other details about handling a quota failure.",
      "properties": {
        "violations": {
          "items": {
            "$ref": "QuotaFailureViolation"
          },
          "type": "array",
          "description": "Describes all quota violations."
        }
      }
    },
    "GcsDestinationConfig": {
      "description": "Google Cloud Storage destination configuration",
      "properties": {
        "avroFileFormat": {
          "description": "AVRO file format configuration.",
          "$ref": "AvroFileFormat"
        },
        "jsonFileFormat": {
          "description": "JSON file format configuration.",
          "$ref": "JsonFileFormat"
        },
        "fileRotationMb": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum file size to be saved in the bucket."
        },
        "fileRotationInterval": {
          "description": "The maximum duration for which new events are added before a file is closed and a new file is created. Values within the range of 15-60 seconds are allowed.",
          "type": "string",
          "format": "google-duration"
        },
        "path": {
          "description": "Path inside the Cloud Storage bucket to write data to.",
          "type": "string"
        }
      },
      "id": "GcsDestinationConfig",
      "type": "object"
    },
    "SpecificStartPosition": {
      "description": "CDC strategy to start replicating from a specific position in the source.",
      "properties": {
        "mysqlGtidPosition": {
          "description": "MySQL GTID set to start replicating from.",
          "$ref": "MysqlGtidPosition"
        },
        "oracleScnPosition": {
          "description": "Oracle SCN to start replicating from.",
          "$ref": "OracleScnPosition"
        },
        "sqlServerLsnPosition": {
          "description": "SqlServer LSN to start replicating from.",
          "$ref": "SqlServerLsnPosition"
        },
        "mysqlLogPosition": {
          "description": "MySQL specific log position to start replicating from.",
          "$ref": "MysqlLogPosition"
        },
        "mongodbChangeStreamPosition": {
          "description": "MongoDB change stream position to start replicating from.",
          "$ref": "MongodbChangeStreamPosition"
        }
      },
      "id": "SpecificStartPosition",
      "type": "object"
    },
    "SqlServerSslConfig": {
      "description": "SQL Server SSL configuration information.",
      "properties": {
        "basicEncryption": {
          "description": "If set, Datastream will enforce encryption without authenticating server identity. Server certificates will be trusted by default.",
          "$ref": "BasicEncryption"
        },
        "encryptionNotEnforced": {
          "description": "If set, Datastream will not enforce encryption. If the DB server mandates encryption, then connection will be encrypted but server identity will not be authenticated.",
          "$ref": "EncryptionNotEnforced"
        },
        "encryptionAndServerValidation": {
          "description": "If set, Datastream will enforce encryption and authenticate server identity.",
          "$ref": "EncryptionAndServerValidation"
        }
      },
      "id": "SqlServerSslConfig",
      "type": "object"
    },
    "BlmtConfig": {
      "id": "BlmtConfig",
      "type": "object",
      "description": "The configuration for BLMT.",
      "properties": {
        "tableFormat": {
          "description": "Required. The table format.",
          "enum": [
            "TABLE_FORMAT_UNSPECIFIED",
            "ICEBERG"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Iceberg table format."
          ]
        },
        "bucket": {
          "description": "Required. The Cloud Storage bucket name.",
          "type": "string"
        },
        "rootPath": {
          "description": "The root path inside the Cloud Storage bucket.",
          "type": "string"
        },
        "connectionName": {
          "description": "Required. The bigquery connection. Format: `{project}.{location}.{name}`",
          "type": "string"
        },
        "fileFormat": {
          "description": "Required. The file format.",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "PARQUET"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Parquet file format."
          ]
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "validationResult": {
          "description": "Output only. Results of executed validations if there are any.",
          "readOnly": true,
          "$ref": "ValidationResult"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "ValidationResult": {
      "id": "ValidationResult",
      "type": "object",
      "description": "Contains the current validation results.",
      "properties": {
        "validations": {
          "type": "array",
          "items": {
            "$ref": "Validation"
          },
          "description": "A list of validations (includes both executed as well as not executed validations)."
        }
      }
    },
    "OracleScnPosition": {
      "description": "Oracle SCN position",
      "properties": {
        "scn": {
          "type": "string",
          "format": "int64",
          "description": "Required. SCN number from where Logs will be read"
        }
      },
      "id": "OracleScnPosition",
      "type": "object"
    },
    "StaticServiceIpConnectivity": {
      "id": "StaticServiceIpConnectivity",
      "type": "object",
      "description": "Static IP address connectivity. Used when the source database is configured to allow incoming connections from the Datastream public IP addresses for the region specified in the connection profile.",
      "properties": {}
    },
    "OracleSslConfig": {
      "id": "OracleSslConfig",
      "type": "object",
      "description": "Oracle SSL configuration information.",
      "properties": {
        "caCertificateSet": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the ca_certificate field has been set for this Connection-Profile."
        },
        "caCertificate": {
          "description": "Input only. PEM-encoded certificate of the CA that signed the source database server's certificate.",
          "type": "string"
        },
        "serverCertificateDistinguishedName": {
          "description": "Optional. The distinguished name (DN) mentioned in the server certificate. This corresponds to SSL_SERVER_CERT_DN sqlnet parameter. Refer https://docs.oracle.com/en/database/oracle/oracle-database/19/netrf/local-naming-parameters-in-tns-ora-file.html#GUID-70AB0695-A9AA-4A94-B141-4C605236EEB7 If this field is not provided, the DN matching is not enforced.",
          "type": "string"
        }
      }
    },
    "ConnectionProfile": {
      "description": "A set of reusable connection configurations to be used as a source or destination for a stream.",
      "properties": {
        "salesforceProfile": {
          "description": "Profile for connecting to a Salesforce source.",
          "$ref": "SalesforceProfile"
        },
        "staticServiceIpConnectivity": {
          "description": "Static Service IP connectivity.",
          "$ref": "StaticServiceIpConnectivity"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "spannerProfile": {
          "description": "Profile for connecting to a Spanner source.",
          "$ref": "SpannerProfile"
        },
        "gcsProfile": {
          "description": "Profile for connecting to a Cloud Storage destination.",
          "$ref": "GcsProfile"
        },
        "labels": {
          "type": "object",
          "description": "Labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "sqlServerProfile": {
          "description": "Profile for connecting to a SQLServer source.",
          "$ref": "SqlServerProfile"
        },
        "name": {
          "description": "Output only. Identifier. The resource's name.",
          "readOnly": true,
          "type": "string"
        },
        "oracleProfile": {
          "description": "Profile for connecting to an Oracle source.",
          "$ref": "OracleProfile"
        },
        "mysqlProfile": {
          "description": "Profile for connecting to a MySQL source.",
          "$ref": "MysqlProfile"
        },
        "postgresqlProfile": {
          "description": "Profile for connecting to a PostgreSQL source.",
          "$ref": "PostgresqlProfile"
        },
        "mongodbProfile": {
          "description": "Profile for connecting to a MongoDB source.",
          "$ref": "MongodbProfile"
        },
        "displayName": {
          "description": "Required. Display name.",
          "type": "string"
        },
        "forwardSshConnectivity": {
          "description": "Forward SSH tunnel connectivity.",
          "$ref": "ForwardSshTunnelConnectivity"
        },
        "createTime": {
          "description": "Output only. The create time of the resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The update time of the resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "privateConnectivity": {
          "description": "Private connectivity.",
          "$ref": "PrivateConnectivity"
        },
        "bigqueryProfile": {
          "description": "Profile for connecting to a BigQuery destination.",
          "$ref": "BigQueryProfile"
        }
      },
      "id": "ConnectionProfile",
      "type": "object"
    },
    "StopBackfillJobRequest": {
      "description": "Request for manually stopping a running backfill job for a specific stream object.",
      "properties": {},
      "id": "StopBackfillJobRequest",
      "type": "object"
    },
    "MysqlGtidPosition": {
      "id": "MysqlGtidPosition",
      "type": "object",
      "description": "MySQL GTID position",
      "properties": {
        "gtidSet": {
          "description": "Required. The gtid set to start replication from.",
          "type": "string"
        }
      }
    },
    "MysqlColumn": {
      "id": "MysqlColumn",
      "type": "object",
      "description": "MySQL Column.",
      "properties": {
        "precision": {
          "type": "integer",
          "format": "int32",
          "description": "Column precision."
        },
        "ordinalPosition": {
          "description": "The ordinal position of the column in the table.",
          "type": "integer",
          "format": "int32"
        },
        "primaryKey": {
[...]
