{
  "description": "Connect third-party source code management to Google",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://developerconnect.mtls.googleapis.com/",
  "baseUrl": "https://developerconnect.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://developerconnect.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://developerconnect.asia-east2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://developerconnect.europe-west4.rep.googleapis.com/"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://developerconnect.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://developerconnect.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://developerconnect.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://developerconnect.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    }
  ],
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version": "v1",
  "name": "developerconnect",
  "canonicalName": "Developer Connect",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "schemas": {
    "ListGitRepositoryLinksResponse": {
      "id": "ListGitRepositoryLinksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "gitRepositoryLinks": {
          "description": "The list of GitRepositoryLinks",
          "type": "array",
          "items": {
            "$ref": "GitRepositoryLink"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing GitRepositoryLinks"
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "Connection": {
      "description": "Message describing Connection object",
      "properties": {
        "githubConfig": {
          "$ref": "GitHubConfig",
          "description": "Configuration for connections to github.com."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Update timestamp",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "httpConfig": {
          "description": "Optional. Configuration for connections to an HTTP service provider.",
          "$ref": "GenericHTTPEndpointConfig"
        },
        "bitbucketDataCenterConfig": {
          "description": "Configuration for connections to an instance of Bitbucket Data Center.",
          "$ref": "BitbucketDataCenterConfig"
        },
        "cryptoKeyConfig": {
          "description": "Optional. The crypto key configuration. This field is used by the Customer-Managed Encryption Keys (CMEK) feature.",
          "$ref": "CryptoKeyConfig"
        },
        "bitbucketCloudConfig": {
          "$ref": "BitbucketCloudConfig",
          "description": "Configuration for connections to an instance of Bitbucket Clouds."
        },
        "gitlabConfig": {
          "description": "Configuration for connections to gitlab.com.",
          "$ref": "GitLabConfig"
        },
        "gitlabEnterpriseConfig": {
          "description": "Configuration for connections to an instance of GitLab Enterprise.",
          "$ref": "GitLabEnterpriseConfig"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Delete timestamp",
          "readOnly": true
        },
        "disabled": {
          "description": "Optional. If disabled is set to true, functionality is disabled for this connection. Repository based API methods and webhooks processing for repositories in this connection will be disabled.",
          "type": "boolean"
        },
        "secureSourceManagerInstanceConfig": {
          "$ref": "SecureSourceManagerInstanceConfig",
          "description": "Configuration for connections to an instance of Secure Source Manager."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Create timestamp"
        },
        "installationState": {
          "$ref": "InstallationState",
          "readOnly": true,
          "description": "Output only. Installation state of the Connection."
        },
        "githubEnterpriseConfig": {
          "$ref": "GitHubEnterpriseConfig",
          "description": "Configuration for connections to an instance of GitHub Enterprise."
        },
        "name": {
          "description": "Identifier. The resource name of the connection, in the format `projects/{project}/locations/{location}/connections/{connection_id}`.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gitProxyConfig": {
          "$ref": "GitProxyConfig",
          "description": "Optional. Configuration for the git proxy feature. Enabling the git proxy allows clients to perform git operations on the repositories linked in the connection. [Learn more](https://docs.cloud.google.com/developer-connect/docs/configure-git-proxy)."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for the Connection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Connection"
    },
    "LinkableGitRepository": {
      "description": "LinkableGitRepository represents a git repository that can be linked to a connection.",
      "properties": {
        "cloneUri": {
          "description": "The clone uri of the repository.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LinkableGitRepository"
    },
    "CustomOAuthConfig": {
      "properties": {
        "pkceDisabled": {
          "description": "Optional. Disable PKCE for this OAuth config. PKCE is enabled by default.",
          "type": "boolean"
        },
        "scmProvider": {
          "description": "Required. The type of the SCM provider.",
          "enum": [
            "SCM_PROVIDER_UNKNOWN",
            "GITHUB_ENTERPRISE",
            "GITLAB_ENTERPRISE",
            "BITBUCKET_DATA_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The SCM is not specified or BYO Account Connector is not an SCM.",
            "BYO Account Connector is an instance of GitHub Enterprise.",
            "BYO Account Connector is an instance of GitLab Enterprise.",
            "BYO Account Connector is an instance of Bitbucket Data Center."
          ]
        },
        "clientId": {
          "description": "Required. The client ID of the OAuth application.",
          "type": "string"
        },
        "scopes": {
          "description": "Required. The scopes to be requested during OAuth.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serverVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. SCM server version installed at the host URI."
        },
        "hostUri": {
          "description": "Required. The host URI of the OAuth application.",
          "type": "string"
        },
        "authUri": {
          "description": "Required. Immutable. The OAuth2 authorization server URL.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to a private service.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Required. Input only. The client secret of the OAuth application. It will be provided as plain text, but encrypted and stored in developer connect. As INPUT_ONLY field, it will not be included in the output.",
          "type": "string"
        },
        "tokenUri": {
          "description": "Required. Immutable. The OAuth2 token request URL.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to connect to a private service."
        }
      },
      "description": "Message for a customized OAuth config.",
      "id": "CustomOAuthConfig",
      "type": "object"
    },
    "FetchGitRefsResponse": {
      "id": "FetchGitRefsResponse",
      "type": "object",
      "properties": {
        "refNames": {
          "description": "Name of the refs fetched.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response for fetching git refs."
    },
    "ServiceDirectoryConfig": {
      "type": "object",
      "id": "ServiceDirectoryConfig",
      "description": "ServiceDirectoryConfig represents Service Directory configuration for a connection.",
      "properties": {
        "service": {
          "description": "Required. The Service Directory service name. Format: projects/{project}/locations/{location}/namespaces/{namespace}/services/{service}.",
          "type": "string"
        }
      }
    },
    "InstallationState": {
      "id": "InstallationState",
      "type": "object",
      "properties": {
        "stage": {
          "enum": [
            "STAGE_UNSPECIFIED",
            "PENDING_CREATE_APP",
            "PENDING_USER_OAUTH",
            "PENDING_INSTALL_APP",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "No stage specified.",
            "Only for GitHub Enterprise. An App creation has been requested. The user needs to confirm the creation in their GitHub enterprise host.",
            "User needs to authorize the GitHub (or Enterprise) App via OAuth.",
            "User needs to follow the link to install the GitHub (or Enterprise) App.",
            "Installation process has been completed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current step of the installation process."
        },
        "actionUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Link to follow for next action. Empty string if the installation is already complete."
        },
        "message": {
          "description": "Output only. Message of what the user should do next to continue the installation. Empty string if the installation is already complete.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Describes stage and necessary actions to be taken by the user to complete the installation. Used for GitHub and GitHub Enterprise based connections."
    },
    "OAuthCredential": {
      "type": "object",
      "id": "OAuthCredential",
      "description": "Represents an OAuth token of the account that authorized the Connection, and associated metadata.",
      "properties": {
        "oauthTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the OAuth token that authorizes the connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "readOnly": true,
          "description": "Output only. The username associated with this token.",
          "type": "string"
        }
      }
    },
    "GoogleArtifactAnalysis": {
      "type": "object",
      "id": "GoogleArtifactAnalysis",
      "description": "Google Artifact Analysis configurations.",
      "properties": {
        "projectId": {
          "description": "Required. The project id of the project where the provenance is stored.",
          "type": "string"
        }
      }
    },
    "GenericHTTPEndpointConfig": {
      "description": "Defines the configuration for connections to an HTTP service provider.",
      "properties": {
        "bearerTokenAuthentication": {
          "description": "Optional. Bearer token authentication with a token.",
          "$ref": "BearerTokenAuthentication"
        },
        "hostUri": {
          "description": "Required. Immutable. The service provider's https endpoint.",
          "type": "string"
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a HTTP service provider. This should only be set if the Http service provider is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the HTTP service provider will be made over the public internet."
        },
        "sslCaCertificate": {
          "description": "Optional. The SSL certificate to use for requests to the HTTP service provider.",
          "type": "string"
        },
        "basicAuthentication": {
          "description": "Optional. Basic authentication with username and password.",
          "$ref": "BasicAuthentication"
        }
      },
      "type": "object",
      "id": "GenericHTTPEndpointConfig"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "AppHubWorkload": {
      "description": "AppHubWorkload represents the App Hub Workload.",
      "properties": {
        "criticality": {
          "type": "string",
          "description": "Output only. The criticality of the App Hub Workload.",
          "readOnly": true
        },
        "workload": {
          "readOnly": true,
          "description": "Required. Output only. Immutable. The name of the App Hub Workload. Format: `projects/{project}/locations/{location}/applications/{application}/workloads/{workload}`.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Output only. The environment of the App Hub Workload.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AppHubWorkload"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ProcessBitbucketDataCenterWebhookRequest": {
      "id": "ProcessBitbucketDataCenterWebhookRequest",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "description": "RPC request object accepted by the ProcessBitbucketDataCenterWebhook RPC method."
    },
    "FinishOAuthResponse": {
      "properties": {
        "exchangeError": {
          "$ref": "ExchangeError",
          "description": "The error resulted from exchanging OAuth tokens from the service provider."
        }
      },
      "description": "Message for responding to finishing an OAuth flow.",
      "id": "FinishOAuthResponse",
      "type": "object"
    },
    "ProcessGitLabWebhookRequest": {
      "type": "object",
      "id": "ProcessGitLabWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitLabWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "ListDeploymentEventsResponse": {
      "properties": {
        "deploymentEvents": {
          "type": "array",
          "items": {
            "$ref": "DeploymentEvent"
          },
          "description": "The list of DeploymentEvents."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response to listing DeploymentEvents.",
      "id": "ListDeploymentEventsResponse",
      "type": "object"
    },
    "ProcessGitHubEnterpriseWebhookRequest": {
      "type": "object",
      "id": "ProcessGitHubEnterpriseWebhookRequest",
      "description": "RPC request object accepted by the ProcessGitHubEnterpriseWebhook RPC method.",
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      }
    },
    "AppHubService": {
      "id": "AppHubService",
      "type": "object",
      "properties": {
        "apphubService": {
          "description": "Required. Output only. Immutable. The name of the App Hub Service. Format: `projects/{project}/locations/{location}/applications/{application}/services/{service}`.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The environment of the App Hub Service."
        },
        "criticality": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The criticality of the App Hub Service."
        }
      },
      "description": "AppHubService represents the App Hub Service."
    },
    "GitRepositoryLink": {
      "type": "object",
      "id": "GitRepositoryLink",
      "description": "Message describing the GitRepositoryLink object",
      "properties": {
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Set to true when the connection is being set up or updated in the background.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for the GitRepositoryLink.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. Resource name of the repository, in the format `projects/*/locations/*/connections/*/gitRepositoryLinks/*`.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Allows clients to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "webhookId": {
          "description": "Output only. External ID of the webhook created for the repository.",
          "readOnly": true,
          "type": "string"
        },
        "cloneUri": {
          "description": "Required. Git Clone URI.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Create timestamp"
        },
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update timestamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Delete timestamp"
        },
        "gitProxyUri": {
          "readOnly": true,
          "description": "Output only. URI to access the linked repository through the Git Proxy. This field is only populated if the git proxy is enabled for the connection.",
          "type": "string"
        }
      }
    },
    "ArtifactConfig": {
      "type": "object",
      "id": "ArtifactConfig",
      "description": "The artifact config of the artifact that is deployed.",
      "properties": {
        "uri": {
          "description": "Required. Immutable. The URI of the artifact that is deployed. e.g. `us-docker.pkg.dev/my-project/my-repo/image`. The URI does not include the tag / digest because it captures a lineage of artifacts.",
          "type": "string"
        },
        "googleArtifactAnalysis": {
          "description": "Optional. Set if the artifact metadata is stored in Artifact analysis.",
          "$ref": "GoogleArtifactAnalysis"
        },
        "googleArtifactRegistry": {
          "description": "Optional. Set if the artifact is stored in Artifact registry.",
          "$ref": "GoogleArtifactRegistry"
        }
      }
    },
    "FetchReadTokenResponse": {
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        }
      },
      "description": "Message for responding to get read token.",
      "id": "FetchReadTokenResponse",
      "type": "object"
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "User represents a user connected to the service providers through a AccountConnector.",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the user was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Developer Connect automatically converts user identity to some human readable description, e.g., email address.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of the user, in the format `projects/*/locations/*/accountConnectors/*/users/*`.",
          "type": "string"
        },
        "lastTokenRequestTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the token was last requested.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "BasicAuthentication": {
      "description": "Basic authentication with username and password.",
      "properties": {
        "passwordSecretVersion": {
          "description": "The password SecretManager secret version to authenticate as.",
          "type": "string"
        },
        "username": {
          "description": "Required. The username to authenticate as.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BasicAuthentication"
    },
    "InsightsConfig": {
      "properties": {
        "labels": {
          "description": "Optional. Set of labels associated with an InsightsConfig.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. User specified annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of InsightsConfig does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true
        },
        "artifactConfigs": {
          "type": "array",
          "items": {
            "$ref": "ArtifactConfig"
          },
          "description": "Optional. The artifact configurations of the artifacts that are deployed."
        },
        "runtimeConfigs": {
          "type": "array",
          "items": {
            "$ref": "RuntimeConfig"
          },
          "readOnly": true,
          "description": "Output only. The runtime configurations where the application is deployed."
        },
        "appHubApplication": {
          "description": "Optional. The name of the App Hub Application. Format: projects/{project}/locations/{location}/applications/{application}",
          "type": "string"
        },
        "projects": {
          "description": "Optional. The projects to track with the InsightsConfig.",
          "$ref": "Projects"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create timestamp.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "No state specified.",
            "The InsightsConfig is pending application discovery/runtime discovery.",
            "The initial discovery process is complete.",
            "The InsightsConfig is in an error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE",
            "ERROR"
          ],
          "description": "Optional. Output only. The state of the InsightsConfig."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Any errors that occurred while setting up the InsightsConfig. Each error will be in the format: `field_name: error_message`, e.g. GetAppHubApplication: Permission denied while getting App Hub application. Please grant permissions to the P4SA.",
          "readOnly": true
        }
      },
      "description": "The InsightsConfig resource is the core configuration object to capture events from your Software Development Lifecycle. It acts as the central hub for managing how Developer Connect understands your application, its runtime environments, and the artifacts deployed within them.",
      "id": "InsightsConfig",
      "type": "object"
    },
    "GitProxyConfig": {
      "description": "The git proxy configuration.",
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git proxy to be used for performing git operations on the repositories linked in the connection.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "readOnly": true,
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-c-h-{shortRegion}.developerconnect.dev` Populated only when enabled is set to true. This endpoint is used by other Google services that integrate with Developer Connect.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GitProxyConfig"
    },
    "GKEWorkload": {
      "description": "GKEWorkload represents the Google Kubernetes Engine runtime.",
      "properties": {
        "cluster": {
          "description": "Required. Immutable. The name of the GKE cluster. Format: `projects/{project}/locations/{location}/clusters/{cluster}`.",
          "type": "string"
        },
        "deployment": {
          "type": "string",
          "description": "Output only. The name of the GKE deployment. Format: `projects/{project}/locations/{location}/clusters/{cluster}/namespaces/{namespace}/deployments/{deployment}`.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GKEWorkload"
    },
    "ProviderOAuthConfig": {
      "type": "object",
      "id": "ProviderOAuthConfig",
      "description": "ProviderOAuthConfig is the OAuth config for a provider.",
      "properties": {
        "scopes": {
          "description": "Required. User selected scopes to apply to the Oauth config In the event of changing scopes, user records under AccountConnector will be deleted and users will re-auth again.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "systemProviderId": {
          "type": "string",
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider."
          ],
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE"
          ],
          "description": "Optional. Immutable. Developer Connect provided OAuth."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "FetchReadWriteTokenResponse": {
      "description": "Message for responding to get read/write token.",
      "properties": {
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring.",
          "type": "string",
          "format": "google-datetime"
        },
        "gitUsername": {
          "description": "The git_username to specify when making a git clone with the token. For example, for GitHub GitRepositoryLinks, this would be \"x-access-token\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchReadWriteTokenResponse"
    },
    "ProcessGitLabEnterpriseWebhookRequest": {
      "properties": {
        "body": {
          "$ref": "HttpBody",
          "description": "Required. HTTP request body."
        }
      },
      "description": "RPC request object accepted by the ProcessGitLabEnterpriseWebhook RPC method.",
      "id": "ProcessGitLabEnterpriseWebhookRequest",
      "type": "object"
    },
    "GitLabEnterpriseConfig": {
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        },
        "serviceDirectoryConfig": {
          "$ref": "ServiceDirectoryConfig",
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitLab Enterprise instance. This should only be set if the GitLab Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitLab Enterprise server will be made over the public internet."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "serverVersion": {
          "readOnly": true,
          "description": "Output only. Version of the GitLab Enterprise server running on the `host_uri`.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL Certificate Authority certificate to use for requests to GitLab Enterprise instance.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        },
        "hostUri": {
          "description": "Required. The URI of the GitLab Enterprise host this connection is for.",
          "type": "string"
        }
      },
      "description": "Configuration for connections to an instance of GitLab Enterprise.",
      "id": "GitLabEnterpriseConfig",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "FetchGitHubInstallationsResponse": {
      "id": "FetchGitHubInstallationsResponse",
      "type": "object",
      "properties": {
        "installations": {
          "description": "List of installations available to the OAuth user (for github.com) or all the installations (for GitHub enterprise).",
          "type": "array",
          "items": {
            "$ref": "Installation"
          }
        }
      },
      "description": "Response of fetching github installations."
    },
    "GitHubConfig": {
      "properties": {
        "installationUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubConfig."
        },
        "authorizerCredential": {
          "$ref": "OAuthCredential",
          "description": "Optional. OAuth credential of the account that authorized the GitHub App. It is recommended to use a robot account instead of a human user account. The OAuth token must be tied to the GitHub App of this config."
        },
        "appInstallationId": {
          "description": "Optional. GitHub App installation id.",
          "type": "string",
          "format": "int64"
        },
        "githubApp": {
          "enum": [
            "GIT_HUB_APP_UNSPECIFIED",
            "DEVELOPER_CONNECT",
            "FIREBASE",
            "GEMINI_CODE_ASSIST",
            "DATAFORM"
          ],
          "type": "string",
          "enumDescriptions": [
            "GitHub App not specified.",
            "The Developer Connect GitHub Application.",
            "The Firebase GitHub Application.",
            "The Gemini Code Assist Application.",
            "The Dataform GitHub Application."
          ],
          "description": "Required. Immutable. The GitHub Application that was installed to the GitHub user or organization."
        }
      },
      "description": "Configuration for connections to github.com.",
      "id": "GitHubConfig",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "users": {
          "description": "The list of Users",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing Users"
    },
    "Installation": {
      "type": "object",
      "id": "Installation",
      "description": "Represents an installation of the GitHub App.",
      "properties": {
        "id": {
          "description": "ID of the installation in GitHub.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Either \"user\" or \"organization\".",
          "type": "string"
        },
        "name": {
          "description": "Name of the GitHub user or organization that owns this installation.",
          "type": "string"
        }
      }
    },
    "Projects": {
      "id": "Projects",
      "type": "object",
      "properties": {
        "projectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The project IDs. Format: {project}"
        }
      },
      "description": "Projects represents the projects to track with the InsightsConfig."
    },
    "SecureSourceManagerInstanceConfig": {
      "properties": {
        "instance": {
          "description": "Required. Immutable. Secure Source Manager instance resource, formatted as `projects/*/locations/*/instances/*`",
          "type": "string"
        }
      },
      "description": "Configuration for connections to Secure Source Manager instance",
      "id": "SecureSourceManagerInstanceConfig",
      "type": "object"
    },
    "BearerTokenAuthentication": {
      "id": "BearerTokenAuthentication",
      "type": "object",
      "properties": {
        "tokenSecretVersion": {
          "description": "Optional. The token SecretManager secret version to authenticate as.",
          "type": "string"
        }
      },
      "description": "Bearer token authentication with a token."
    },
    "CryptoKeyConfig": {
      "id": "CryptoKeyConfig",
      "type": "object",
      "properties": {
        "keyReference": {
          "description": "Required. The name of the key which is used to encrypt/decrypt customer data. For key in Cloud KMS, the key should be in the format of `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        }
      },
      "description": "The crypto key configuration. This field is used by the Customer-managed encryption keys (CMEK) feature."
    },
    "FetchReadWriteTokenRequest": {
      "description": "Message for fetching SCM read/write token.",
      "properties": {},
      "type": "object",
      "id": "FetchReadWriteTokenRequest"
    },
    "GitLabConfig": {
      "description": "Configuration for connections to gitlab.com.",
      "properties": {
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `read_api` scope access and a minimum role of `reporter`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret of a GitLab project, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. A GitLab personal access token with the minimum `api` scope access and a minimum role of `maintainer`. The GitLab Projects visible to this Personal Access Token will control which Projects Developer Connect has access to."
        }
      },
      "type": "object",
      "id": "GitLabConfig"
    },
    "FetchAccessTokenResponse": {
      "properties": {
        "exchangeError": {
          "description": "The error resulted from exchanging OAuth tokens from the service provider.",
          "$ref": "ExchangeError"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Expiration timestamp. Can be empty if unknown or non-expiring."
        },
        "token": {
          "description": "The token content.",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes of the access token.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for responding to getting an OAuth access token.",
      "id": "FetchAccessTokenResponse",
      "type": "object"
    },
    "BitbucketDataCenterConfig": {
      "id": "BitbucketDataCenterConfig",
      "type": "object",
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An http access token with the minimum `Repository admin` scope access. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
        },
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a Bitbucket Data Center instance. This should only be set if the Bitbucket Data Center is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the Bitbucket Data Center will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate webhooks.",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. Version of the Bitbucket Data Center server running on the `host_uri`.",
          "readOnly": true,
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate authority to trust when making requests to Bitbucket Data Center.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An http access token with the minimum `Repository read` access. It's recommended to use a system account to generate the credentials."
        },
        "hostUri": {
          "description": "Required. The URI of the Bitbucket Data Center host this connection is for.",
          "type": "string"
        }
      },
      "description": "Configuration for connections to an instance of Bitbucket Data Center."
    },
    "ProxyConfig": {
      "properties": {
        "enabled": {
          "description": "Optional. Setting this to true allows the git and http proxies to perform actions on behalf of the user configured under the account connector.",
          "type": "boolean"
        },
        "httpProxyBaseUri": {
          "readOnly": true,
          "description": "Output only. The base URI for the HTTP proxy endpoint. Has the format `https://{generatedID}-a-h-{shortRegion}.developerconnect.dev` Populated only when `enabled` is set to `true`. This endpoint is used by other Google services that integrate with Developer Connect.",
          "type": "string"
        }
      },
      "description": "The proxy configuration.",
      "id": "ProxyConfig",
      "type": "object"
    },
    "GoogleArtifactRegistry": {
      "description": "Google Artifact Registry configurations.",
      "properties": {
        "projectId": {
          "description": "Required. The host project of Artifact Registry.",
          "type": "string"
        },
        "artifactRegistryPackage": {
          "description": "Required. Immutable. The name of the artifact registry package.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleArtifactRegistry"
    },
    "UserCredential": {
      "type": "object",
      "id": "UserCredential",
      "description": "Represents a personal access token that authorized the Connection, and associated metadata.",
      "properties": {
        "userTokenSecretVersion": {
          "description": "Required. A SecretManager resource containing the user token that authorizes the Developer Connect connection. Format: `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "username": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The username associated with this token."
        }
      }
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "StartOAuthResponse": {
      "description": "Message for responding to starting an OAuth flow.",
      "properties": {
        "authUri": {
          "description": "The authorization server URL to the OAuth flow of the service provider.",
          "type": "string"
        },
        "codeChallenge": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.1",
          "type": "string"
        },
        "codeChallengeMethod": {
          "description": "Please refer to https://datatracker.ietf.org/doc/html/rfc7636#section-4.2",
          "type": "string"
        },
        "clientId": {
          "description": "The client ID to the OAuth App of the service provider.",
          "type": "string"
        },
        "systemProviderId": {
          "type": "string",
          "enumDescriptions": [
            "No system provider specified.",
            "GitHub provider. Scopes can be found at https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes",
            "GitLab provider. Scopes can be found at https://docs.gitlab.com/user/profile/personal_access_tokens/#personal-access-token-scopes",
            "Google provider. Recommended scopes: \"https://www.googleapis.com/auth/drive.readonly\", \"https://www.googleapis.com/auth/documents.readonly\"",
            "Sentry provider. Scopes can be found at https://docs.sentry.io/api/permissions/",
            "Rovo provider. Must select the \"rovo\" scope.",
            "New Relic provider. No scopes are allowed.",
            "Datastax provider. No scopes are allowed.",
            "Dynatrace provider."
          ],
          "enum": [
            "SYSTEM_PROVIDER_UNSPECIFIED",
            "GITHUB",
            "GITLAB",
            "GOOGLE",
            "SENTRY",
            "ROVO",
            "NEW_RELIC",
            "DATASTAX",
            "DYNATRACE"
          ],
          "description": "The ID of the system provider."
        },
        "scopes": {
          "description": "The list of scopes requested by the application.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ticket": {
          "description": "The ticket to be used for post processing the callback from the service provider.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StartOAuthResponse"
    },
    "FetchLinkableGitRepositoriesResponse": {
      "type": "object",
      "id": "FetchLinkableGitRepositoriesResponse",
      "description": "Response message for FetchLinkableGitRepositories.",
      "properties": {
        "linkableGitRepositories": {
          "description": "The git repositories that can be linked to the connection.",
          "type": "array",
          "items": {
            "$ref": "LinkableGitRepository"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ProcessBitbucketCloudWebhookRequest": {
      "properties": {
        "body": {
          "description": "Required. HTTP request body.",
          "$ref": "HttpBody"
        }
      },
      "description": "RPC request object accepted by the ProcessBitbucketCloudWebhook RPC method.",
      "id": "ProcessBitbucketCloudWebhookRequest",
      "type": "object"
    },
    "GoogleCloudRun": {
      "properties": {
        "serviceUri": {
          "description": "Required. Immutable. The name of the Cloud Run service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        }
      },
      "description": "GoogleCloudRun represents the Cloud Run runtime.",
      "id": "GoogleCloudRun",
      "type": "object"
    },
    "ExchangeError": {
      "id": "ExchangeError",
      "type": "object",
      "properties": {
        "code": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error",
          "type": "string"
        },
        "description": {
          "description": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2 - error_description",
          "type": "string"
        }
      },
      "description": "Message for representing an error from exchanging OAuth tokens."
    },
    "FetchAccessTokenRequest": {
      "properties": {},
      "description": "Message for fetching an OAuth access token.",
      "id": "FetchAccessTokenRequest",
      "type": "object"
    },
    "DeploymentEvent": {
      "id": "DeploymentEvent",
      "type": "object",
      "properties": {
        "runtimeConfig": {
          "readOnly": true,
          "description": "Output only. The runtime configurations where the DeploymentEvent happened.",
          "$ref": "RuntimeConfig"
        },
        "deployTime": {
          "readOnly": true,
          "description": "Output only. The time at which the DeploymentEvent was deployed. This would be the min of all ArtifactDeployment deploy_times.",
          "type": "string",
          "format": "google-datetime"
        },
        "artifactDeployments": {
          "description": "Output only. The artifact deployments of the DeploymentEvent. Each artifact deployment contains the artifact uri and the runtime configuration uri. For GKE, this would be all the containers images that are deployed in the pod.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ArtifactDeployment"
          }
        },
        "name": {
          "description": "Identifier. The name of the DeploymentEvent. This name is provided by Developer Connect insights. Format: projects/{project}/locations/{location}/insightsConfigs/{insights_config}/deploymentEvents/{uuid}",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The update time of the DeploymentEvent."
        },
        "state": {
          "description": "Output only. The state of the DeploymentEvent.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No state specified.",
            "The deployment is active in the runtime.",
            "The deployment is not in the runtime."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_INACTIVE"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time of the DeploymentEvent.",
          "readOnly": true
        },
        "undeployTime": {
          "description": "Output only. The time at which the DeploymentEvent was undeployed, all artifacts are considered undeployed once this time is set. This would be the max of all ArtifactDeployment undeploy_times. If any ArtifactDeployment is still active (i.e. does not have an undeploy_time), this field will be empty.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "runtimeDeploymentUri": {
          "description": "Output only. The runtime assigned URI of the DeploymentEvent. For GKE, this is the fully qualified replica set uri. e.g. container.googleapis.com/projects/{project}/locations/{location}/clusters/{cluster}/k8s/namespaces/{namespace}/apps/replicasets/{replica-set-id} For Cloud Run, this is the revision name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The DeploymentEvent resource represents the deployment of the artifact within the InsightsConfig resource."
    },
    "ListInsightsConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "insightsConfigs": {
          "type": "array",
          "items": {
            "$ref": "InsightsConfig"
          },
          "description": "The list of InsightsConfigs."
        }
      },
      "description": "Request for response to listing InsightsConfigs.",
      "id": "ListInsightsConfigsResponse",
      "type": "object"
    },
    "AccountConnector": {
      "id": "AccountConnector",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "proxyConfig": {
          "description": "Optional. Configuration for the http and git proxy features.",
          "$ref": "ProxyConfig"
        },
        "providerOauthConfig": {
          "description": "Optional. Provider OAuth config.",
          "$ref": "ProviderOAuthConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the accountConnector was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the accountConnector was updated."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "oauthStartUri": {
          "type": "string",
          "description": "Output only. Start OAuth flow by clicking on this URL.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the accountConnector, in the format `projects/{project}/locations/{location}/accountConnectors/{account_connector_id}`.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Allows users to store small amounts of arbitrary data.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customOauthConfig": {
          "description": "Custom OAuth config.",
          "$ref": "CustomOAuthConfig"
        },
        "uid": {
          "type": "string",
          "description": "Output only. A system-assigned unique identifier for the Account Connector.",
          "readOnly": true
        }
      },
      "description": "AccountConnector encapsulates what a platform administrator needs to configure for users to connect to the service providers, which includes, among other fields, the OAuth client ID, client secret, and authorization and token endpoints."
    },
    "BitbucketCloudConfig": {
      "description": "Configuration for connections to an instance of Bitbucket Cloud.",
      "properties": {
        "authorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the minimum `repository`, `pullrequest` and `webhook` scope access. It can either be a workspace, project or repository access token. This is needed to create webhooks. It's recommended to use a system account to generate these credentials."
        },
        "workspace": {
          "description": "Required. The Bitbucket Cloud Workspace ID to be connected to Google Cloud Platform.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Required. Immutable. SecretManager resource containing the webhook secret used to verify webhook events, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location). This is used to validate and create webhooks.",
          "type": "string"
        },
        "readAuthorizerCredential": {
          "$ref": "UserCredential",
          "description": "Required. An access token with the minimum `repository` access. It can either be a workspace, project or repository access token. It's recommended to use a system account to generate the credentials."
        }
      },
      "type": "object",
      "id": "BitbucketCloudConfig"
    },
    "UserRepository": {
      "properties": {
        "gitProxyUri": {
          "description": "Output only. The Git proxy URL for this repo. For example: https://us-west1-git.developerconnect.dev/a/my-proj/my-ac/myuser/myrepo.git. Populated only when `proxy_config.enabled` is set to `true` in the Account Connector. This URL is used by other Google services that integrate with Developer Connect.",
          "readOnly": true,
          "type": "string"
        },
        "cloneUri": {
          "readOnly": true,
          "description": "Output only. The git clone URL of the repo. For example: https://github.com/myuser/myrepo.git",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The user friendly repo name (e.g., myuser/myrepo)",
          "type": "string"
        }
      },
      "description": "A user repository that can be linked to the account connector. Consists of the repo name and the git proxy URL to forward requests to this repo.",
      "id": "UserRepository",
      "type": "object"
    },
    "ArtifactDeployment": {
      "id": "ArtifactDeployment",
      "type": "object",
      "properties": {
        "deployTime": {
          "readOnly": true,
          "description": "Output only. The time at which the deployment was deployed.",
          "type": "string",
          "format": "google-datetime"
        },
        "containerStatusSummary": {
          "type": "string",
          "description": "Output only. The summary of container status of the artifact deployment. Format as `ContainerStatusState-Reason : restartCount` e.g. \"Waiting-ImagePullBackOff : 3\"",
          "readOnly": true
        },
        "artifactReference": {
          "description": "Output only. The artifact that is deployed.",
          "readOnly": true,
          "type": "string"
        },
        "undeployTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the deployment was undeployed, all artifacts are considered undeployed once this time is set."
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique identifier of `ArtifactDeployment`.",
          "readOnly": true
        },
        "sourceCommitUris": {
          "description": "Output only. The source commits at which this artifact was built. Extracted from provenance.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "artifactAlias": {
          "readOnly": true,
          "description": "Output only. The artifact alias in the deployment spec, with Tag/SHA. e.g. us-docker.pkg.dev/my-project/my-repo/image:1.0.0",
          "type": "string"
        }
      },
      "description": "The ArtifactDeployment resource represents the deployment of the artifact within the InsightsConfig resource."
    },
    "GitHubEnterpriseConfig": {
      "properties": {
        "serviceDirectoryConfig": {
          "description": "Optional. Configuration for using Service Directory to privately connect to a GitHub Enterprise server. This should only be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, calls to the GitHub Enterprise server will be made over the public internet.",
          "$ref": "ServiceDirectoryConfig"
        },
        "appId": {
          "description": "Optional. ID of the GitHub App created from the manifest.",
          "type": "string",
          "format": "int64"
        },
        "installationUri": {
          "readOnly": true,
          "description": "Output only. The URI to navigate to in order to manage the installation associated with this GitHubEnterpriseConfig.",
          "type": "string"
        },
        "sslCaCertificate": {
          "description": "Optional. SSL certificate to use for requests to GitHub Enterprise.",
          "type": "string"
        },
        "appInstallationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. ID of the installation of the GitHub App."
        },
        "hostUri": {
          "description": "Required. The URI of the GitHub Enterprise host this connection is for.",
          "type": "string"
        },
        "webhookSecretSecretVersion": {
          "description": "Optional. SecretManager resource containing the webhook secret of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "serverVersion": {
          "description": "Output only. GitHub Enterprise version installed at the host_uri.",
          "readOnly": true,
          "type": "string"
        },
        "privateKeySecretVersion": {
          "description": "Optional. SecretManager resource containing the private key of the GitHub App, formatted as `projects/*/secrets/*/versions/*` or `projects/*/locations/*/secrets/*/versions/*` (if regional secrets are supported in that location).",
          "type": "string"
        },
        "organization": {
          "description": "Optional. Immutable. GitHub Enterprise organization in which the GitHub App is created.",
          "type": "string"
        },
        "appSlug": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL-friendly name of the GitHub App."
        }
      },
      "description": "Configuration for connections to an instance of GitHub Enterprise.",
      "id": "GitHubEnterpriseConfig",
      "type": "object"
    },
    "ListAccountConnectorsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountConnectors": {
          "description": "The list of AccountConnectors",
          "type": "array",
          "items": {
            "$ref": "AccountConnector"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing AccountConnectors",
      "id": "ListAccountConnectorsResponse",
      "type": "object"
    },
    "HttpBody": {
      "id": "HttpBody",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The HTTP request/response body as raw binary."
        }
      },
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "ListConnectionsResponse": {
      "id": "ListConnectionsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "connections": {
          "description": "The list of Connection",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        }
      },
      "description": "Message for response to listing Connections"
    },
    "FetchReadTokenRequest": {
      "description": "Message for fetching SCM read token.",
      "properties": {},
      "type": "object",
      "id": "FetchReadTokenRequest"
    },
    "RuntimeConfig": {
      "type": "object",
      "id": "RuntimeConfig",
      "description": "RuntimeConfig represents the runtimes where the application is deployed.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "No state specified.",
            "The runtime configuration has been linked to the InsightsConfig.",
            "The runtime configuration has been unlinked to the InsightsConfig."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "LINKED",
            "UNLINKED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the Runtime."
        },
        "uri": {
          "description": "Required. Immutable. The URI of the runtime configuration. For GKE, this is the cluster name. For Cloud Run, this is the service name.",
          "type": "string"
        },
        "appHubService": {
          "description": "Output only. App Hub Service.",
          "readOnly": true,
          "$ref": "AppHubService"
        },
        "googleCloudRun": {
          "$ref": "GoogleCloudRun",
          "description": "Output only. Cloud Run runtime.",
          "readOnly": true
        },
        "appHubWorkload": {
          "description": "Output only. App Hub Workload.",
          "readOnly": true,
          "$ref": "AppHubWorkload"
        },
        "gkeWorkload": {
          "readOnly": true,
          "description": "Output only. Google Kubernetes Engine runtime.",
          "$ref": "GKEWorkload"
        }
      }
    },
    "FetchUserRepositoriesResponse": {
      "description": "Response message for FetchUserRepositories.",
      "properties": {
        "userRepos": {
          "description": "The repositories that the user can access with this account connector.",
          "type": "array",
          "items": {
            "$ref": "UserRepository"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FetchUserRepositoriesResponse"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "revision": "20260511",
  "version_module": true,
  "protocol": "rest",
  "documentationLink": "http://cloud.google.com/developer-connect/docs/overview",
  "ownerName": "Google",
  "rootUrl": "https://developerconnect.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "developerconnect.projects.locations.list",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                }
              },
              "path": "v1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "developerconnect.projects.locations.get",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "developerconnect.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "developerconnect.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "developerconnect.projects.locations.operations.list"
                },
                "cancel": {
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "developerconnect.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "insightsConfigs": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.insightsConfigs.patch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The name of the InsightsConfig. Format: projects/{project}/locations/{location}/insightsConfigs/{insightsConfig}",
                      "required": true
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the insightsConfig is not found a new insightsConfig will be created. In this situation `update_mask` is ignored. The creation will succeed only if the input insightsConfig has all the necessary information (e.g a github_config with both user_oauth_token and installation_id properties).",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "InsightsConfig"
                  },
                  "description": "Updates the parameters of a single InsightsConfig."
                },
                "delete": {
                  "description": "Deletes a single Insight.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insightsConfigs/{insightsConfigsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "developerconnect.projects.locations.insightsConfigs.delete",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insightsConfigs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Value for parent."
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, validate the request, but do not actually post it.",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/insightsConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "developerconnect.projects.locations.insightsConfigs.create",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
[...]
