{
  "id": "developerknowledge:v1alpha",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "canonicalName": "Developer Knowledge",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "version": "v1alpha",
  "title": "Developer Knowledge API",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "basePath": "",
  "version_module": true,
  "name": "developerknowledge",
  "documentationLink": "https://developers.google.com/knowledge",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "schemas": {
    "Document": {
      "id": "Document",
      "type": "object",
      "properties": {
        "description": {
          "description": "Output only. A description of the document.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "uri": {
          "description": "Output only. The URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "readOnly": true,
          "description": "Output only. The full content of the document in Markdown format.",
          "type": "string"
        }
      },
      "description": "A Document represents a piece of content from the Developer Knowledge corpus."
    },
    "BatchGetDocumentsResponse": {
      "properties": {
        "documents": {
          "description": "Documents requested.",
          "type": "array",
          "items": {
            "$ref": "Document"
          }
        }
      },
      "id": "BatchGetDocumentsResponse",
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "type": "object"
    },
    "DocumentChunk": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time."
        },
        "parent": {
          "type": "string",
          "description": "Output only. The resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The content of the document chunk."
        }
      },
      "id": "DocumentChunk",
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "type": "object"
    },
    "SearchDocumentChunksResponse": {
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "DocumentChunk"
          },
          "type": "array",
          "description": "The search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content."
        },
        "nextPageToken": {
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "id": "SearchDocumentChunksResponse"
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260223",
  "resources": {
    "documents": {
      "methods": {
        "batchGet": {
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v1alpha/documents:batchGet",
          "httpMethod": "GET",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "path": "v1alpha/documents:batchGet",
          "id": "developerknowledge.documents.batchGet",
          "parameters": {
            "names": {
              "description": "Required. The names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          }
        },
        "searchDocumentChunks": {
          "httpMethod": "GET",
          "description": "Searches for developer knowledge across Google's developer documentation. This method returns document chunks based on the user's query. There can be many chunks of the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "path": "v1alpha/documents:searchDocumentChunks",
          "id": "developerknowledge.documents.searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "type": "string"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "Required. The raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\"."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error."
            }
          },
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "flatPath": "v1alpha/documents/{documentsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "developerknowledge.documents.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^documents/.*$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Document"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/{+name}",
          "description": "Retrieves a single document with its full Markdown content."
        }
      }
    }
  }
}