{
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "SearchDocumentChunksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "results": {
          "items": {
            "$ref": "DocumentChunk"
          },
          "type": "array",
          "description": "The search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content."
        }
      },
      "id": "SearchDocumentChunksResponse",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks."
    },
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "properties": {
        "documents": {
          "items": {
            "$ref": "Document"
          },
          "description": "Documents requested.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DocumentChunk": {
      "properties": {
        "parent": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time."
        },
        "content": {
          "description": "Output only. The content of the document chunk.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "type": "object",
      "id": "DocumentChunk"
    },
    "Document": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Output only. The full content of the document in Markdown format.",
          "readOnly": true
        },
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. A description of the document.",
          "type": "string"
        }
      },
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "type": "object",
      "id": "Document"
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "title": "Developer Knowledge API",
  "version_module": true,
  "batchPath": "batch",
  "resources": {
    "documents": {
      "methods": {
        "searchDocumentChunks": {
          "parameterOrder": [],
          "description": "Searches for developer knowledge across Google's developer documentation. This method returns document chunks based on the user's query. There can be many chunks of the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\"."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page."
            }
          },
          "httpMethod": "GET",
          "id": "developerknowledge.documents.searchDocumentChunks",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "path": "v1alpha/documents:searchDocumentChunks"
        },
        "batchGet": {
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "path": "v1alpha/documents:batchGet",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "developerknowledge.documents.batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "names": {
              "repeated": true,
              "type": "string",
              "description": "Required. The names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "query"
            }
          },
          "flatPath": "v1alpha/documents:batchGet"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Retrieves a single document with its full Markdown content.",
          "id": "developerknowledge.documents.get",
          "response": {
            "$ref": "Document"
          },
          "flatPath": "v1alpha/documents/{documentsId}",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^documents/.*$"
            }
          }
        }
      }
    }
  },
  "revision": "20260223",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/knowledge",
  "id": "developerknowledge:v1alpha",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "Developer Knowledge",
  "version": "v1alpha",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "developerknowledge",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}