{
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "documentationLink": "https://developers.google.com/knowledge",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "title": "Developer Knowledge API",
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "revision": "20260223",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha",
  "name": "developerknowledge",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Document": {
      "properties": {
        "uri": {
          "description": "Output only. The URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "description": "Output only. The full content of the document in Markdown format.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. A description of the document.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        }
      },
      "id": "Document",
      "type": "object",
      "description": "A Document represents a piece of content from the Developer Knowledge corpus."
    },
    "SearchDocumentChunksResponse": {
      "id": "SearchDocumentChunksResponse",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "DocumentChunk"
          },
          "type": "array",
          "description": "The search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content."
        },
        "nextPageToken": {
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks."
    },
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "documents": {
          "items": {
            "$ref": "Document"
          },
          "type": "array",
          "description": "Documents requested."
        }
      },
      "type": "object",
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments."
    },
    "DocumentChunk": {
      "id": "DocumentChunk",
      "properties": {
        "parent": {
          "readOnly": true,
          "description": "Output only. The resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The content of the document chunk."
        },
        "id": {
          "description": "Output only. The ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments."
    }
  },
  "canonicalName": "Developer Knowledge",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "protocol": "rest",
  "version_module": true,
  "discoveryVersion": "v1",
  "id": "developerknowledge:v1alpha",
  "basePath": "",
  "resources": {
    "documents": {
      "methods": {
        "batchGet": {
          "httpMethod": "GET",
          "path": "v1alpha/documents:batchGet",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "parameters": {
            "names": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Required. The names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
            }
          },
          "flatPath": "v1alpha/documents:batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "developerknowledge.documents.batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "parameterOrder": []
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Document"
          },
          "id": "developerknowledge.documents.get",
          "description": "Retrieves a single document with its full Markdown content.",
          "parameters": {
            "name": {
              "pattern": "^documents/.*$",
              "description": "Required. The name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/documents/{documentsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "searchDocumentChunks": {
          "id": "developerknowledge.documents.searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "query": {
              "location": "query",
              "description": "Required. The raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\".",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error."
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "type": "string"
            }
          },
          "description": "Searches for developer knowledge across Google's developer documentation. This method returns document chunks based on the user's query. There can be many chunks of the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "path": "v1alpha/documents:searchDocumentChunks",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/documents:searchDocumentChunks"
        }
      }
    }
  },
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}