{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "protocol": "rest",
  "version_module": true,
  "title": "Developer Knowledge API",
  "documentationLink": "https://developers.google.com/knowledge",
  "servicePath": "",
  "resources": {
    "documents": {
      "methods": {
        "searchDocumentChunks": {
          "path": "v1alpha/documents:searchDocumentChunks",
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. Provides the raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\"."
            },
            "pageSize": {
              "description": "Optional. Specifies the maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. Contains a page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. Applies a strict filter to the search results. The expression supports a subset of the syntax described at https://google.aip.dev/160. While `SearchDocumentChunks` returns DocumentChunks, the filter is applied to `DocumentChunk.document` fields. Supported fields for filtering: * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error."
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "parameterOrder": [],
          "id": "developerknowledge.documents.searchDocumentChunks",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Searches for developer knowledge across Google's developer documentation. Returns DocumentChunks based on the user's query. There may be many chunks from the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "parameters": {
            "view": {
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.GetDocument defaults to `DOCUMENT_VIEW_CONTENT`."
            },
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^documents/.*$",
              "description": "Required. Specifies the name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
            }
          },
          "response": {
            "$ref": "Document"
          },
          "description": "Retrieves a single document with its full Markdown content.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "developerknowledge.documents.get",
          "flatPath": "v1alpha/documents/{documentsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "batchGet": {
          "httpMethod": "GET",
          "path": "v1alpha/documents:batchGet",
          "parameters": {
            "names": {
              "repeated": true,
              "description": "Required. Specifies the names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "query",
              "type": "string"
            },
            "view": {
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.BatchGetDocuments defaults to `DOCUMENT_VIEW_CONTENT`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "developerknowledge.documents.batchGet",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "flatPath": "v1alpha/documents:batchGet",
          "parameterOrder": []
        }
      }
    },
    "v1alpha": {
      "methods": {
        "answerQuery": {
          "response": {
            "$ref": "AnswerQueryResponse"
          },
          "description": "Answers a query using grounded generation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "developerknowledge.answerQuery",
          "flatPath": "v1alpha:answerQuery",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "AnswerQueryRequest"
          },
          "path": "v1alpha:answerQuery",
          "parameters": {}
        }
      }
    }
  },
  "id": "developerknowledge:v1alpha",
  "canonicalName": "Developer Knowledge",
  "schemas": {
    "DocumentChunk": {
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time."
        },
        "document": {
          "readOnly": true,
          "description": "Output only. Represents metadata about the Document this chunk is from. The DocumentView of this Document message will be set to `DOCUMENT_VIEW_BASIC`. It is included here for convenience so that clients do not need to call DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments if they only need the metadata fields. Otherwise, clients should use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to fetch the full document content.",
          "$ref": "Document"
        },
        "content": {
          "type": "string",
          "description": "Output only. Contains the content of the document chunk.",
          "readOnly": true
        },
        "parent": {
          "description": "Output only. Contains the resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DocumentChunk",
      "type": "object"
    },
    "Document": {
      "id": "Document",
      "type": "object",
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "properties": {
        "name": {
          "description": "Identifier. Contains the resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Provides the title of the document.",
          "type": "string"
        },
        "view": {
          "readOnly": true,
          "enumDescriptions": [
            "The default / unset value. See each API method for its default value if DocumentView is not specified.",
            "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
            "Includes all Document fields.",
            "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
          ],
          "type": "string",
          "enum": [
            "DOCUMENT_VIEW_UNSPECIFIED",
            "DOCUMENT_VIEW_BASIC",
            "DOCUMENT_VIEW_FULL",
            "DOCUMENT_VIEW_CONTENT"
          ],
          "description": "Output only. Specifies the DocumentView of the document."
        },
        "dataSource": {
          "readOnly": true,
          "description": "Output only. Specifies the data source of the document. Example data source: `firebase.google.com`",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Provides the URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`."
        },
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Contains the full content of the document in Markdown format."
        },
        "description": {
          "description": "Output only. Provides a description of the document.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Represents the timestamp when the content or metadata of the document was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AnswerQueryRequest": {
      "id": "AnswerQueryRequest",
      "type": "object",
      "description": "Request message for DeveloperKnowledge.AnswerQuery.",
      "properties": {
        "query": {
          "description": "Required. The query to answer.",
          "type": "string"
        }
      }
    },
    "AnswerQueryResponse": {
      "id": "AnswerQueryResponse",
      "type": "object",
      "description": "Response message for DeveloperKnowledge.AnswerQuery.",
      "properties": {
        "answer": {
          "description": "The answer to the query.",
          "$ref": "Answer"
        }
      }
    },
    "SearchDocumentChunksResponse": {
      "id": "SearchDocumentChunksResponse",
      "type": "object",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "properties": {
        "results": {
          "description": "Contains the search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content.",
          "type": "array",
          "items": {
            "$ref": "DocumentChunk"
          }
        },
        "nextPageToken": {
          "description": "Optional. Provides a token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "properties": {
        "documents": {
          "description": "Contains the documents requested.",
          "type": "array",
          "items": {
            "$ref": "Document"
          }
        }
      },
      "id": "BatchGetDocumentsResponse",
      "type": "object"
    },
    "Answer": {
      "id": "Answer",
      "type": "object",
      "description": "An answer to a query.",
      "properties": {
        "answerText": {
          "description": "The text of the answer.",
          "type": "string"
        }
      }
    }
  },
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "revision": "20260413",
  "batchPath": "batch",
  "name": "developerknowledge",
  "fullyEncodeReservedExpansion": true,
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version": "v1alpha"
}