{
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "title": "Developer Knowledge API",
  "documentationLink": "https://developers.google.com/knowledge",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "schemas": {
    "AnswerQueryResponse": {
      "id": "AnswerQueryResponse",
      "description": "Response message for DeveloperKnowledge.AnswerQuery.",
      "type": "object",
      "properties": {
        "answer": {
          "description": "The answer to the query.",
          "$ref": "Answer"
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "properties": {
        "documents": {
          "type": "array",
          "description": "Contains the documents requested.",
          "items": {
            "$ref": "Document"
          }
        }
      },
      "id": "BatchGetDocumentsResponse",
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "type": "object"
    },
    "Answer": {
      "properties": {
        "answerText": {
          "type": "string",
          "description": "Contains the text of the answer."
        }
      },
      "id": "Answer",
      "description": "An answer to a query.",
      "type": "object"
    },
    "DocumentChunk": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Output only. Contains the resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Specifies the ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Output only. Contains the content of the document chunk.",
          "readOnly": true
        },
        "document": {
          "description": "Output only. Represents metadata about the Document this chunk is from. The DocumentView of this Document message will be set to `DOCUMENT_VIEW_BASIC`. It is included here for convenience so that clients do not need to call DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments if they only need the metadata fields. Otherwise, clients should use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to fetch the full document content.",
          "readOnly": true,
          "$ref": "Document"
        }
      },
      "type": "object",
      "id": "DocumentChunk",
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments."
    },
    "SearchDocumentChunksResponse": {
      "properties": {
        "results": {
          "items": {
            "$ref": "DocumentChunk"
          },
          "type": "array",
          "description": "Contains the search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content."
        },
        "nextPageToken": {
          "description": "Optional. Provides a token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchDocumentChunksResponse",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks."
    },
    "Document": {
      "type": "object",
      "id": "Document",
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Output only. Contains the full content of the document in Markdown format.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Contains the resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        },
        "dataSource": {
          "description": "Output only. Specifies the data source of the document. Example data source: `firebase.google.com`",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Provides the URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "readOnly": true,
          "type": "string"
        },
        "view": {
          "description": "Output only. Specifies the DocumentView of the document.",
          "readOnly": true,
          "enum": [
            "DOCUMENT_VIEW_UNSPECIFIED",
            "DOCUMENT_VIEW_BASIC",
            "DOCUMENT_VIEW_FULL",
            "DOCUMENT_VIEW_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default / unset value. See each API method for its default value if DocumentView is not specified.",
            "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
            "Includes all Document fields.",
            "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
          ]
        },
        "title": {
          "description": "Output only. Provides the title of the document.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Represents the timestamp when the content or metadata of the document was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Output only. Provides a description of the document.",
          "readOnly": true
        }
      }
    },
    "AnswerQueryRequest": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. The query to answer."
        }
      },
      "type": "object",
      "id": "AnswerQueryRequest",
      "description": "Request message for DeveloperKnowledge.AnswerQuery."
    }
  },
  "discoveryVersion": "v1",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    }
  },
  "id": "developerknowledge:v1alpha",
  "resources": {
    "documents": {
      "methods": {
        "batchGet": {
          "parameters": {
            "names": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Required. Specifies the names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets` If you are changing the batch size, consider the value of `maxConcurrentGCSFetches` constant in the service implementation: http://cs///depot/google3/devrel/boq/developerknowledge/service/developerknowledge.go"
            },
            "view": {
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.BatchGetDocuments defaults to `DOCUMENT_VIEW_CONTENT`.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ]
            }
          },
          "id": "developerknowledge.documents.batchGet",
          "flatPath": "v1alpha/documents:batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v1alpha/documents:batchGet",
          "httpMethod": "GET",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          }
        },
        "searchDocumentChunks": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v1alpha/documents:searchDocumentChunks",
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. Specifies the maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. Contains a page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "location": "query"
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. Provides the raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\"."
            },
            "filter": {
              "location": "query",
              "description": "Optional. Applies a strict filter to the search results. The expression supports a subset of the syntax described at https://google.aip.dev/160. While `SearchDocumentChunks` returns DocumentChunks, the filter is applied to `DocumentChunk.document` fields. Supported fields for filtering: * `data_source` (STRING): The source of the document, e.g. `docs.cloud.google.com`. See https://developers.google.com/knowledge/reference/corpus-reference for the complete list of data sources in the corpus. * `update_time` (TIMESTAMP): The timestamp of when the document was last meaningfully updated. A meaningful update is one that changes document's markdown content or metadata. * `uri` (STRING): The document URI, e.g. `https://docs.cloud.google.com/bigquery/docs/tables`. STRING fields support `=` (equals) and `!=` (not equals) operators for **exact match** on the whole string. Partial match, prefix match, and regexp match are not supported. TIMESTAMP fields support `=`, `<`, `<=`, `>`, and `>=` operators. Timestamps must be in RFC-3339 format, e.g., `\"2025-01-01T00:00:00Z\"`. You can combine expressions using `AND`, `OR`, and `NOT` (or `-`) logical operators. `OR` has higher precedence than `AND`. Use parentheses for explicit precedence grouping. Examples: * `data_source = \"docs.cloud.google.com\" OR data_source = \"firebase.google.com\"` * `data_source != \"firebase.google.com\"` * `update_time < \"2024-01-01T00:00:00Z\"` * `update_time >= \"2025-01-22T00:00:00Z\" AND (data_source = \"developer.chrome.com\" OR data_source = \"web.dev\")` * `uri = \"https://docs.cloud.google.com/release-notes\"` The `filter` string must not exceed 500 characters; values longer than 500 characters will result in an `INVALID_ARGUMENT` error.",
              "type": "string"
            }
          },
          "id": "developerknowledge.documents.searchDocumentChunks",
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "description": "Searches for developer knowledge across Google's developer documentation. Returns DocumentChunks based on the user's query. There may be many chunks from the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Document"
          },
          "parameters": {
            "name": {
              "pattern": "^documents/.*$",
              "description": "Required. Specifies the name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "view": {
              "description": "Optional. Specifies the DocumentView of the document. If unspecified, DeveloperKnowledge.GetDocument defaults to `DOCUMENT_VIEW_CONTENT`.",
              "enum": [
                "DOCUMENT_VIEW_UNSPECIFIED",
                "DOCUMENT_VIEW_BASIC",
                "DOCUMENT_VIEW_FULL",
                "DOCUMENT_VIEW_CONTENT"
              ],
              "type": "string",
              "enumDescriptions": [
                "The default / unset value. See each API method for its default value if DocumentView is not specified.",
                "Includes only the basic metadata fields: - `name` - `uri` - `data_source` - `title` - `description` - `update_time` - `view` This is the default of view for DeveloperKnowledge.SearchDocumentChunks.",
                "Includes all Document fields.",
                "Includes the `DOCUMENT_VIEW_BASIC` fields and the `content` field. This is the default of view for DeveloperKnowledge.GetDocument and DeveloperKnowledge.BatchGetDocuments."
              ],
              "location": "query"
            }
          },
          "id": "developerknowledge.documents.get",
          "flatPath": "v1alpha/documents/{documentsId}",
          "description": "Retrieves a single document with its full Markdown content."
        }
      }
    },
    "v1alpha": {
      "methods": {
        "answerQuery": {
          "description": "Answers a query using grounded generation.",
          "parameters": {},
          "id": "developerknowledge.answerQuery",
          "flatPath": "v1alpha:answerQuery",
          "parameterOrder": [],
          "path": "v1alpha:answerQuery",
          "httpMethod": "POST",
          "response": {
            "$ref": "AnswerQueryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "AnswerQueryRequest"
          }
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "canonicalName": "Developer Knowledge",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "developerknowledge",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "revision": "20260510",
  "version_module": true,
  "protocol": "rest"
}