{
  "discoveryVersion": "v1",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "developerknowledge",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "ownerName": "Google",
  "basePath": "",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/knowledge",
  "version_module": true,
  "schemas": {
    "SearchDocumentChunksResponse": {
      "id": "SearchDocumentChunksResponse",
      "type": "object",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "properties": {
        "results": {
          "type": "array",
          "description": "The search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content.",
          "items": {
            "$ref": "DocumentChunk"
          }
        },
        "nextPageToken": {
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DocumentChunk": {
      "properties": {
        "parent": {
          "readOnly": true,
          "description": "Output only. The resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "description": "Output only. The content of the document chunk.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments.",
      "id": "DocumentChunk"
    },
    "BatchGetDocumentsResponse": {
      "properties": {
        "documents": {
          "description": "Documents requested.",
          "type": "array",
          "items": {
            "$ref": "Document"
          }
        }
      },
      "type": "object",
      "id": "BatchGetDocumentsResponse",
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments."
    },
    "Document": {
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "id": "Document",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full content of the document in Markdown format."
        },
        "uri": {
          "description": "Output only. The URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A description of the document."
        }
      },
      "type": "object"
    }
  },
  "id": "developerknowledge:v1alpha",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260223",
  "title": "Developer Knowledge API",
  "resources": {
    "documents": {
      "methods": {
        "batchGet": {
          "parameters": {
            "names": {
              "repeated": true,
              "description": "Required. The names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "developerknowledge.documents.batchGet",
          "parameterOrder": [],
          "flatPath": "v1alpha/documents:batchGet",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "path": "v1alpha/documents:batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "description": "Retrieves a single document with its full Markdown content.",
          "id": "developerknowledge.documents.get",
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1alpha/documents/{documentsId}",
          "response": {
            "$ref": "Document"
          },
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^documents/.*$",
              "required": true,
              "description": "Required. The name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        },
        "searchDocumentChunks": {
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "parameterOrder": [],
          "description": "Searches for developer knowledge across Google's developer documentation. This method returns document chunks based on the user's query. There can be many chunks of the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "httpMethod": "GET",
          "path": "v1alpha/documents:searchDocumentChunks",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "developerknowledge.documents.searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "query": {
              "type": "string",
              "description": "Required. The raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\".",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Developer Knowledge",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  }
}