{
  "basePath": "",
  "canonicalName": "Developer Knowledge",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "title": "Developer Knowledge API",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "revision": "20260223",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Document": {
      "type": "object",
      "id": "Document",
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "content": {
          "description": "Output only. The full content of the document in Markdown format.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A description of the document."
        },
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "readOnly": true
        }
      }
    },
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "properties": {
        "documents": {
          "type": "array",
          "description": "Documents requested.",
          "items": {
            "$ref": "Document"
          }
        }
      },
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "type": "object"
    },
    "DocumentChunk": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time."
        },
        "parent": {
          "description": "Output only. The resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document chunk."
        }
      },
      "id": "DocumentChunk",
      "type": "object",
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments."
    },
    "SearchDocumentChunksResponse": {
      "id": "SearchDocumentChunksResponse",
      "type": "object",
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "DocumentChunk"
          },
          "description": "The search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content."
        }
      }
    }
  },
  "name": "developerknowledge",
  "documentationLink": "https://developers.google.com/knowledge",
  "servicePath": "",
  "id": "developerknowledge:v1alpha",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "resources": {
    "documents": {
      "methods": {
        "batchGet": {
          "httpMethod": "GET",
          "parameters": {
            "names": {
              "type": "string",
              "location": "query",
              "description": "Required. The names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "flatPath": "v1alpha/documents:batchGet",
          "id": "developerknowledge.documents.batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "parameterOrder": [],
          "path": "v1alpha/documents:batchGet"
        },
        "searchDocumentChunks": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "Required. The raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\"."
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error."
            }
          },
          "parameterOrder": [],
          "description": "Searches for developer knowledge across Google's developer documentation. This method returns document chunks based on the user's query. There can be many chunks of the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "id": "developerknowledge.documents.searchDocumentChunks",
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "path": "v1alpha/documents:searchDocumentChunks"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "required": true,
              "pattern": "^documents/.*$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a single document with its full Markdown content.",
          "response": {
            "$ref": "Document"
          },
          "flatPath": "v1alpha/documents/{documentsId}",
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "id": "developerknowledge.documents.get"
        }
      }
    }
  },
  "version": "v1alpha"
}