{
  "basePath": "",
  "documentationLink": "https://developers.google.com/knowledge",
  "kind": "discovery#restDescription",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "id": "developerknowledge:v1alpha",
  "revision": "20260223",
  "servicePath": "",
  "version": "v1alpha",
  "name": "developerknowledge",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "documents": {
      "methods": {
        "batchGet": {
          "httpMethod": "GET",
          "path": "v1alpha/documents:batchGet",
          "flatPath": "v1alpha/documents:batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "parameterOrder": [],
          "id": "developerknowledge.documents.batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "parameters": {
            "names": {
              "location": "query",
              "description": "Required. The names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "repeated": true,
              "type": "string"
            }
          }
        },
        "get": {
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "type": "string",
              "pattern": "^documents/.*$"
            }
          },
          "response": {
            "$ref": "Document"
          },
          "description": "Retrieves a single document with its full Markdown content.",
          "id": "developerknowledge.documents.get",
          "flatPath": "v1alpha/documents/{documentsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "searchDocumentChunks": {
          "description": "Searches for developer knowledge across Google's developer documentation. This method returns document chunks based on the user's query. There can be many chunks of the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "path": "v1alpha/documents:searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "httpMethod": "GET",
          "id": "developerknowledge.documents.searchDocumentChunks",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page."
            },
            "query": {
              "description": "Required. The raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\".",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        }
      }
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Document": {
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "id": "Document",
      "type": "object",
      "properties": {
        "uri": {
          "readOnly": true,
          "description": "Output only. The URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string"
        },
        "content": {
          "description": "Output only. The full content of the document in Markdown format.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A description of the document."
        }
      }
    },
    "SearchDocumentChunksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "DocumentChunk"
          },
          "description": "The search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content."
        }
      },
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "type": "object",
      "id": "SearchDocumentChunksResponse"
    },
    "BatchGetDocumentsResponse": {
      "properties": {
        "documents": {
          "description": "Documents requested.",
          "items": {
            "$ref": "Document"
          },
          "type": "array"
        }
      },
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "type": "object",
      "id": "BatchGetDocumentsResponse"
    },
    "DocumentChunk": {
      "id": "DocumentChunk",
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "description": "Output only. The content of the document chunk.",
          "type": "string"
        },
        "parent": {
          "description": "Output only. The resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time."
        }
      },
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments."
    }
  },
  "baseUrl": "https://developerknowledge.googleapis.com/",
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Developer Knowledge",
  "title": "Developer Knowledge API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "ownerName": "Google"
}