{
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    }
  },
  "servicePath": "dfareporting/v4/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "dfareporting",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "revision": "20260310",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "title": "Campaign Manager 360 API",
  "fullyEncodeReservedExpansion": true,
  "version": "v4",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "id": "dfareporting:v4",
  "canonicalName": "Dfareporting",
  "batchPath": "batch",
  "resources": {
    "targetingTemplates": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "httpMethod": "GET",
          "id": "dfareporting.targetingTemplates.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Targeting template ID.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one targeting template by ID.",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Inserts a new targeting template.",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates"
        },
        "patch": {
          "id": "dfareporting.targetingTemplates.patch",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "type": "string",
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "httpMethod": "PATCH"
        },
        "list": {
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "id": "dfareporting.targetingTemplates.list",
          "parameters": {
            "ids": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only targeting templates with these IDs.",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "Select only targeting templates with this advertiser ID.",
              "location": "query"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\".",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING"
            }
          },
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging."
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "description": "Updates an existing targeting template.",
          "id": "dfareporting.targetingTemplates.update",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "response": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "accounts": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one account by ID.",
          "id": "dfareporting.accounts.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "description": "Account ID.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accounts",
          "httpMethod": "GET",
          "id": "dfareporting.accounts.list",
          "parameters": {
            "active": {
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "location": "query",
              "type": "boolean"
            },
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".",
              "location": "query"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "ids": {
              "format": "int64",
              "description": "Select only accounts with these IDs.",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          },
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "AccountsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "Account"
          },
          "path": "userprofiles/{+profileId}/accounts",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Account"
          },
          "description": "Updates an existing account.",
          "id": "dfareporting.accounts.update",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.patch",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. Account ID.",
              "location": "query"
            }
          },
          "description": "Updates an existing account. This method supports patch semantics.",
          "request": {
            "$ref": "Account"
          },
          "path": "userprofiles/{+profileId}/accounts",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accounts"
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/browsers",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/browsers",
          "httpMethod": "GET",
          "id": "dfareporting.browsers.list",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Retrieves a list of browsers.",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "contentCategories": {
      "methods": {
        "delete": {
          "description": "Deletes an existing content category.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.contentCategories.delete",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Content category ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories/{+id}"
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one content category by ID.",
          "id": "dfareporting.contentCategories.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Content category ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          }
        },
        "insert": {
          "id": "dfareporting.contentCategories.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Inserts a new content category.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "httpMethod": "POST"
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "request": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "httpMethod": "PATCH",
          "id": "dfareporting.contentCategories.patch",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Required. ContentCategory ID.",
              "location": "query",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Updates an existing content category. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          }
        },
        "list": {
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "id": "dfareporting.contentCategories.list",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID"
            },
            "ids": {
              "description": "Select only content categories with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/contentCategories"
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "description": "Updates an existing content category.",
          "id": "dfareporting.contentCategories.update",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "generatetag": {
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "id": "dfareporting.floodlightActivities.generatetag",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "floodlightActivityId": {
              "type": "string",
              "format": "int64",
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "location": "query"
            }
          },
          "description": "Generates a tag for a floodlight activity."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          },
          "description": "Updates an existing floodlight activity. This method supports patch semantics.",
          "id": "dfareporting.floodlightActivities.patch",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. EventTag ID.",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging.",
          "id": "dfareporting.floodlightActivities.list",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\".",
              "location": "query",
              "type": "string"
            },
            "tagString": {
              "type": "string",
              "description": "Select only floodlight activities with the specified tag string.",
              "location": "query"
            },
            "floodlightActivityGroupType": {
              "type": "string",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "description": "Select only floodlight activities with the specified floodlight activity group type.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "ids": {
              "format": "int64",
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query"
            },
            "floodlightConfigurationId": {
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "floodlightActivityGroupTagString": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "location": "query"
            },
            "floodlightActivityGroupName": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group name.",
              "location": "query"
            },
            "floodlightActivityGroupIds": {
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000",
              "type": "integer"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          }
        },
        "update": {
          "request": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          },
          "id": "dfareporting.floodlightActivities.update",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Updates an existing floodlight activity."
        },
        "delete": {
          "id": "dfareporting.floodlightActivities.delete",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            },
            "id": {
              "description": "Floodlight activity ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Deletes an existing floodlight activity.",
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "DELETE"
        },
        "get": {
          "description": "Gets one floodlight activity by ID.",
          "id": "dfareporting.floodlightActivities.get",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Floodlight activity ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}"
        },
        "insert": {
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new floodlight activity.",
          "id": "dfareporting.floodlightActivities.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          }
        }
      }
    },
    "creativeFields": {
      "methods": {
        "delete": {
          "description": "Deletes an existing creative field.",
          "id": "dfareporting.creativeFields.delete",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "Creative Field ID",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "description": "Gets one creative field by ID.",
          "id": "dfareporting.creativeFields.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Creative Field ID",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "CreativeField"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "id": "dfareporting.creativeFields.insert",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Inserts a new creative field.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "request": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "httpMethod": "POST"
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "id": "dfareporting.creativeFields.patch",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "CreativeField ID.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "id": "dfareporting.creativeFields.list",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "searchString": {
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only creative fields that belong to these advertisers.",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "description": "Select only creative fields with these IDs.",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "default": "1000"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            }
          },
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creativeFields"
        },
        "update": {
          "description": "Updates an existing creative field.",
          "id": "dfareporting.creativeFields.update",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "PUT",
          "request": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields"
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "id": "dfareporting.placementStrategies.patch",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. PlacementStrategy ID.",
              "location": "query"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "id": "dfareporting.placementStrategies.list",
          "parameters": {
            "ids": {
              "repeated": true,
              "type": "string",
              "description": "Select only placement strategies with these IDs.",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "default": "1000"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing placement strategy.",
          "id": "dfareporting.placementStrategies.update",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "description": "Deletes an existing placement strategy.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.placementStrategies.delete",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Placement strategy ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          }
        },
        "get": {
          "id": "dfareporting.placementStrategies.get",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Placement strategy ID.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Gets one placement strategy by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new placement strategy.",
          "id": "dfareporting.placementStrategies.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "inventoryItems": {
      "methods": {
        "get": {
          "id": "dfareporting.inventoryItems.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "projectId": {
              "required": true,
              "format": "int64",
              "description": "Project ID for order documents.",
              "location": "path",
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "Inventory item ID.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets one inventory item by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "InventoryItem"
          },
          "parameterOrder": [
            "profileId",
            "projectId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectId}/inventoryItems/{inventoryItemsId}",
          "path": "userprofiles/{+profileId}/projects/{projectId}/inventoryItems/{+id}",
          "httpMethod": "GET"
        },
        "list": {
          "parameterOrder": [
            "profileId",
            "projectId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectId}/inventoryItems",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/projects/{projectId}/inventoryItems",
          "description": "Retrieves a list of inventory items, possibly filtered. This method supports paging.",
          "id": "dfareporting.inventoryItems.list",
          "parameters": {
            "orderId": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only inventory items that belong to specified orders.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "inPlan": {
              "type": "boolean",
              "description": "Select only inventory items that are in plan.",
              "location": "query"
            },
            "siteId": {
              "description": "Select only inventory items that are associated with these sites.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "type": "integer",
              "default": "1000"
            },
            "type": {
              "description": "Select only inventory items with this type.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "PLANNING_PLACEMENT_TYPE_REGULAR",
                "PLANNING_PLACEMENT_TYPE_CREDIT"
              ],
              "type": "string"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "type": "string"
            },
            "ids": {
              "description": "Select only inventory items with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "projectId": {
              "type": "string",
              "description": "Project ID for order documents.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "InventoryItemsListResponse"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/projects",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/projects",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ProjectsListResponse"
          },
          "description": "Retrieves a list of projects, possibly filtered. This method supports paging .",
          "id": "dfareporting.projects.list",
          "parameters": {
            "ids": {
              "format": "int64",
              "description": "Select only projects with these IDs.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for projects by name or ID. Wildcards (*) are allowed. For example, \"project*2015\" will return projects with names like \"project June 2015\", \"project April 2015\", or simply \"project 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"project\" will match projects with name \"my project\", \"project 2015\", or simply \"project\".",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only projects with these advertiser IDs.",
              "location": "query",
              "format": "int64"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/projects/{+id}",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.projects.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "id": {
              "description": "Project ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Gets one project by ID."
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "description": "Gets one TvCampaignDetail by ID.",
          "id": "dfareporting.tvCampaignDetails.get",
          "parameters": {
            "profileId": {
              "description": "Required. User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "format": "int64",
              "description": "Required. Account ID associated with this request.",
              "location": "query"
            },
            "id": {
              "type": "string",
              "description": "Required. TV Campaign ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}"
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "description": "Gets the account's active ad summary by account ID.",
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameters": {
            "summaryAccountId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Account ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "sizes": {
      "methods": {
        "get": {
          "description": "Gets one size by ID.",
          "id": "dfareporting.sizes.get",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "Size ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Size"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sizes/{sizesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/sizes/{+id}"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "request": {
            "$ref": "Size"
          },
          "path": "userprofiles/{+profileId}/sizes",
          "httpMethod": "POST",
          "id": "dfareporting.sizes.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Inserts a new size.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Size"
          }
        },
        "list": {
          "response": {
            "$ref": "SizesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI.",
          "id": "dfareporting.sizes.list",
          "parameters": {
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "Select only sizes with this width.",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only sizes with these IDs.",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "iabStandard": {
              "type": "boolean",
              "description": "Select only IAB standard sizes.",
              "location": "query"
            },
            "height": {
              "format": "int32",
              "type": "integer",
              "description": "Select only sizes with this height.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/sizes",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups/{accountPermissionGroupsId}",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accountPermissionGroups/{+id}",
          "description": "Gets one account permission group by ID.",
          "id": "dfareporting.accountPermissionGroups.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Account permission group ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountPermissionGroup"
          }
        },
        "list": {
          "id": "dfareporting.accountPermissionGroups.list",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Retrieves the list of account permission groups.",
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accountPermissionGroups",
          "httpMethod": "GET"
        }
      }
    },
    "userProfiles": {
      "methods": {
        "list": {
          "response": {
            "$ref": "UserProfileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves list of user profiles for a user.",
          "id": "dfareporting.userProfiles.list",
          "parameters": {},
          "httpMethod": "GET",
          "path": "userprofiles",
          "flatPath": "userprofiles",
          "parameterOrder": []
        },
        "get": {
          "response": {
            "$ref": "UserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one user profile by ID.",
          "id": "dfareporting.userProfiles.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "The user profile ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}",
          "flatPath": "userprofiles/{profileId}",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "placementGroups": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/placementGroups",
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "id": "dfareporting.placementGroups.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "800",
              "type": "integer"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "maxEndDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "minStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "pricingTypes": {
              "description": "Select only placement groups with these pricing types.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "repeated": true,
              "type": "string"
            },
            "activeStatus": {
              "type": "string",
              "repeated": true,
              "description": "Select only placements with these active statuses.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ]
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "contentCategoryIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement groups that are associated with these content categories.",
              "location": "query"
            },
            "placementGroupType": {
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "location": "query",
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "type": "string"
            },
            "ids": {
              "description": "Select only placement groups with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string"
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "placementStrategyIds": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement groups that are associated with these placement strategies.",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "campaignIds": {
              "format": "int64",
              "description": "Select only placement groups that belong to these campaigns.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "siteIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that are associated with these sites.",
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "directorySiteIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only placement groups that are associated with these directory sites.",
              "location": "query",
              "format": "int64"
            },
            "advertiserIds": {
              "format": "int64",
              "description": "Select only placement groups that belong to these advertisers.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroupsListResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.update",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Updates an existing placement group.",
          "request": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.patch",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$"
            },
            "id": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. Placement ID.",
              "location": "query"
            }
          },
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "request": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups"
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one placement group by ID.",
          "id": "dfareporting.placementGroups.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "id": {
              "description": "Placement group ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "description": "Inserts a new placement group.",
          "id": "dfareporting.placementGroups.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups"
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "BillingAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingAssignments.insert",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "billingProfileId": {
              "type": "string",
              "description": "Billing profile ID of this billing assignment.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "request": {
            "$ref": "BillingAssignment"
          },
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        },
        "list": {
          "description": "Retrieves a list of billing assignments.",
          "id": "dfareporting.billingAssignments.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "billingProfileId": {
              "type": "string",
              "description": "Billing profile ID of this billing assignment.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments"
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging.",
          "id": "dfareporting.advertiserGroups.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000",
              "type": "integer"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only advertiser groups with these IDs.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing advertiser group.",
          "id": "dfareporting.advertiserGroups.update",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing advertiser group. This method supports patch semantics.",
          "id": "dfareporting.advertiserGroups.patch",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Required. Advertiser Group ID.",
              "location": "query",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "id": "dfareporting.advertiserGroups.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Advertiser group ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Gets one advertiser group by ID.",
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}"
        },
        "insert": {
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserGroups.insert",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Inserts a new advertiser group.",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          },
[...]
