{
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "basePath": "/dfareporting/v5/",
  "title": "Campaign Manager 360 API",
  "name": "dfareporting",
  "id": "dfareporting:v5",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "protocol": "rest",
  "revision": "20260310",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "servicePath": "dfareporting/v5/",
  "resources": {
    "cities": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "httpMethod": "GET",
          "parameters": {
            "countryDartIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only cities from these countries.",
              "repeated": true,
              "type": "string"
            },
            "namePrefix": {
              "type": "string",
              "description": "Select only cities with names starting with this prefix.",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "dartIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only cities with these DART IDs.",
              "repeated": true,
              "type": "string"
            },
            "regionDartIds": {
              "description": "Select only cities from these regions.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of cities, possibly filtered.",
          "path": "userprofiles/{+profileId}/cities",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CitiesListResponse"
          },
          "id": "dfareporting.cities.list"
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "httpMethod": "PUT",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "creativeFieldId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Creative field ID for this creative field value."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing creative field value.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.update"
        },
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "creativeFieldId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "required": true
            },
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Creative Field Value ID",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "id": "dfareporting.creativeFieldValues.get",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "description": "Gets one creative field value by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "VALUE"
              ]
            },
            "maxResults": {
              "default": "1000",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "searchString": {
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "description": "Select only creative field values with these IDs.",
              "repeated": true,
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "creativeFieldId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Creative field ID for this creative field value.",
              "type": "string",
              "required": true
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "id": "dfareporting.creativeFieldValues.list"
        },
        "insert": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "creativeFieldId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "httpMethod": "POST",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.insert",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Inserts a new creative field value.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "description": "Deletes an existing creative field value.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFieldValues.delete",
          "parameters": {
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Creative Field Value ID",
              "type": "string",
              "required": true
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "creativeFieldId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ]
        },
        "patch": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "creativeFieldId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "CreativeField ID.",
              "required": true
            },
            "id": {
              "location": "query",
              "format": "int64",
              "description": "CreativeFieldValue ID.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.patch",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "contentCategories": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Content category ID.",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "id": "dfareporting.contentCategories.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one content category by ID.",
          "path": "userprofiles/{+profileId}/contentCategories/{+id}"
        },
        "update": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "id": "dfareporting.contentCategories.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Updates an existing content category."
        },
        "insert": {
          "id": "dfareporting.contentCategories.insert",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Inserts a new content category.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories"
        },
        "list": {
          "id": "dfareporting.contentCategories.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ContentCategoriesListResponse"
          },
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Retrieves a list of content categories, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "ids": {
              "description": "Select only content categories with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories"
        },
        "delete": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Content category ID.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.contentCategories.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories/{+id}",
          "httpMethod": "DELETE",
          "flatPath": "userprofiles/{userprofilesId}/contentCategories/{contentCategoriesId}",
          "description": "Deletes an existing content category."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/contentCategories",
          "description": "Updates an existing content category. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "ContentCategory"
          },
          "id": "dfareporting.contentCategories.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ContentCategory"
          },
          "flatPath": "userprofiles/{userprofilesId}/contentCategories",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "description": "Required. ContentCategory ID.",
              "type": "string",
              "required": true,
              "location": "query",
              "format": "int64"
            }
          }
        }
      }
    },
    "creativeFields": {
      "methods": {
        "delete": {
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Creative Field ID",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.creativeFields.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "description": "Deletes an existing creative field.",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "httpMethod": "DELETE"
        },
        "patch": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "location": "query",
              "required": true,
              "type": "string",
              "description": "CreativeField ID."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeFields"
        },
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Creative Field ID",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "description": "Gets one creative field by ID."
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields",
          "description": "Updates an existing creative field.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields"
        },
        "insert": {
          "id": "dfareporting.creativeFields.insert",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "description": "Inserts a new creative field.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "advertiserIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only creative fields that belong to these advertisers."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "description": "Select only creative fields with these IDs.",
              "repeated": true,
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "GET",
          "id": "dfareporting.creativeFields.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "dynamicFeeds": {
      "methods": {
        "insert": {
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "DynamicFeedsInsertRequest"
          },
          "flatPath": "studio/dynamicFeeds",
          "id": "dfareporting.dynamicFeeds.insert",
          "parameterOrder": [],
          "response": {
            "$ref": "DynamicFeed"
          },
          "path": "studio/dynamicFeeds",
          "description": "Inserts a new dynamic feed.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}",
          "parameters": {
            "dynamicFeedId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Required. Dynamic feed ID.",
              "required": true
            }
          },
          "path": "studio/dynamicFeeds/{+dynamicFeedId}",
          "description": "Gets a dynamic feed by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicFeeds.get",
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "response": {
            "$ref": "DynamicFeed"
          }
        },
        "retransform": {
          "parameters": {
            "dynamicFeedId": {
              "required": true,
              "description": "Required. Dynamic feed ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}/retransform",
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "response": {
            "$ref": "DynamicFeed"
          },
          "id": "dfareporting.dynamicFeeds.retransform",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicFeeds/{+dynamicFeedId}/retransform",
          "description": "Retransforms a dynamic feed. Only draft feeds can be retransformed (i.e. the feed has not been published)."
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "DynamicFeed"
          },
          "flatPath": "studio/dynamicFeeds",
          "parameters": {},
          "path": "studio/dynamicFeeds",
          "description": "Updates a new dynamic feed. For draft feeds, only Element can be updated. For published feeds, only FeedSchedule can be updated. Other fields will be ignored.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicFeeds.update",
          "parameterOrder": [],
          "response": {
            "$ref": "DynamicFeed"
          }
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "parameters": {
            "summaryAccountId": {
              "required": true,
              "type": "string",
              "description": "Account ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "description": "Gets the account's active ad summary by account ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "response": {
            "$ref": "AccountActiveAdSummary"
          }
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "patch": {
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "CreativeGroup"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            },
            "id": {
              "description": "Required. Creative Group ID.",
              "type": "string",
              "required": true,
              "location": "query",
              "format": "int64"
            }
          }
        },
        "insert": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "httpMethod": "POST",
          "request": {
            "$ref": "CreativeGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "id": "dfareporting.creativeGroups.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new creative group.",
          "path": "userprofiles/{+profileId}/creativeGroups"
        },
        "list": {
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "advertiserIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only creative groups that belong to these advertisers.",
              "repeated": true,
              "type": "string"
            },
            "groupNumber": {
              "description": "Select only creative groups that belong to this subgroup.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "description": "Select only creative groups with these IDs.",
              "repeated": true,
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "location": "query",
              "default": "1000",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "id": "dfareporting.creativeGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeGroupsListResponse"
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Creative group ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "description": "Gets one creative group by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "id": "dfareporting.creativeGroups.get"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "id": "dfareporting.creativeGroups.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeGroups",
          "description": "Updates an existing creative group.",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups"
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int32",
              "location": "path",
              "required": true,
              "description": "Video format ID.",
              "type": "integer"
            }
          },
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "description": "Gets one video format by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.videoFormats.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "VideoFormat"
          }
        },
        "list": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "id": "dfareporting.videoFormats.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Lists available video formats.",
          "path": "userprofiles/{+profileId}/videoFormats"
        }
      }
    },
    "studioCreatives": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "StudioCreative"
          },
          "id": "dfareporting.studioCreatives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Inserts a new studio creative.",
          "path": "studio/creatives",
          "parameters": {},
          "flatPath": "studio/creatives",
          "httpMethod": "POST",
          "request": {
            "$ref": "StudioCreative"
          }
        },
        "publish": {
          "parameters": {
            "studioCreativeId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Required. Studio creative ID.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "studioCreativeId"
          ],
          "id": "dfareporting.studioCreatives.publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/creatives/{creativesId}/publish",
          "description": "Publish for a studio creative.",
          "path": "studio/creatives/{+studioCreativeId}/publish",
          "httpMethod": "POST"
        },
        "get": {
          "id": "dfareporting.studioCreatives.get",
          "parameterOrder": [
            "studioCreativeId"
          ],
          "response": {
            "$ref": "StudioCreative"
          },
          "path": "studio/creatives/{+studioCreativeId}",
          "description": "Gets a studio creative by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "studioCreativeId": {
              "required": true,
              "type": "string",
              "description": "Required. Studio creative ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "studio/creatives/{creativesId}"
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/remarketingLists",
          "description": "Inserts a new remarketing list.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingLists.insert",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            }
          }
        },
        "list": {
          "id": "dfareporting.remarketingLists.list",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "active": {
              "description": "Select only active or only inactive remarketing lists.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "floodlightActivityId": {
              "format": "int64",
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING"
            },
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. Select only remarketing lists owned by this advertiser."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "httpMethod": "GET"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one remarketing list by ID.",
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "RemarketingList"
          },
          "id": "dfareporting.remarketingLists.get",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Remarketing list ID.",
              "required": true
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingLists",
          "description": "Updates an existing remarketing list.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "RemarketingList"
          },
          "id": "dfareporting.remarketingLists.update"
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "format": "int64",
              "location": "query",
              "required": true,
              "description": "Required. RemarketingList ID.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingLists.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "RemarketingList"
          }
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "BillingProfile"
          },
          "id": "dfareporting.billingProfiles.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles",
          "description": "Updates an existing billing profile.",
          "parameters": {
            "profileId": {
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "BillingProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Billing Profile ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Gets one billing profile by ID.",
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingProfiles.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "BillingProfile"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "id": "dfareporting.billingProfiles.list",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "parameters": {
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "description": "Select only billing profile with these IDs.",
              "repeated": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "currency_code": {
              "description": "Select only billing profile with currency.",
              "location": "query",
              "type": "string"
            },
            "onlySuggestion": {
              "type": "boolean",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\".",
              "location": "query"
            },
            "status": {
              "description": "Select only billing profile with the specified status.",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "repeated": true,
              "type": "string",
              "location": "query",
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ]
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "subaccountIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported.",
              "repeated": true,
              "type": "string"
            }
          }
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "list": {
          "id": "dfareporting.mobileCarriers.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "MobileCarriersListResponse"
          },
          "path": "userprofiles/{+profileId}/mobileCarriers",
          "description": "Retrieves a list of mobile carriers.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "MobileCarrier"
          },
          "id": "dfareporting.mobileCarriers.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one mobile carrier by ID.",
          "path": "userprofiles/{+profileId}/mobileCarriers/{+id}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "Mobile carrier ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers/{mobileCarriersId}",
          "httpMethod": "GET"
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "description": "Gets a list of all supported user role permission groups.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "id": "dfareporting.userRolePermissionGroups.list",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "id": "dfareporting.userRolePermissionGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Gets one user role permission group by ID.",
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "User role permission group ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "httpMethod": "GET"
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Landing page ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}",
          "httpMethod": "GET",
          "id": "dfareporting.advertiserLandingPages.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "description": "Gets one landing page by ID.",
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "id": "dfareporting.advertiserLandingPages.update",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "description": "Updates an existing landing page.",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "httpMethod": "PUT",
          "request": {
            "$ref": "LandingPage"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "description": "Inserts a new landing page.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "id": "dfareporting.advertiserLandingPages.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "LandingPage"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "parameters": {
            "advertiserIds": {
              "format": "int64",
              "location": "query",
              "description": "Select only landing pages that belong to these advertisers.",
              "repeated": true,
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000"
            },
            "campaignIds": {
              "description": "Select only landing pages that are associated with these campaigns.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "archived": {
              "type": "boolean",
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "description": "Select only landing pages with these IDs.",
              "repeated": true,
              "type": "string"
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only landing pages that belong to this subaccount.",
              "location": "query",
              "format": "int64"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\".",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "description": "Retrieves a list of landing pages.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserLandingPages.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          }
        },
        "patch": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "description": "Required. Landing Page ID.",
              "required": true,
              "location": "query",
              "format": "int64"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "LandingPage"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "id": "dfareporting.advertiserLandingPages.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "description": "Updates an existing landing page. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "ads": {
      "methods": {
        "patch": {
          "id": "dfareporting.ads.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Ad"
          },
          "path": "userprofiles/{+profileId}/ads",
          "description": "Updates an existing ad. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "format": "int64",
              "location": "query",
              "required": true,
              "description": "Required. RemarketingList ID.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Ad"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads"
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "POST",
          "request": {
            "$ref": "Ad"
          },
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "description": "Inserts a new ad.",
          "path": "userprofiles/{+profileId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.insert",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Ad"
          }
        },
        "list": {
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "GET",
          "parameters": {
            "sslCompliant": {
              "type": "boolean",
              "description": "Select only ads that are SSL-compliant.",
              "location": "query"
            },
            "sortField": {
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "type": {
              "location": "query",
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "description": "Select only ads with these types.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true,
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only ads with this advertiser ID.",
              "location": "query",
              "type": "string"
            },
            "sizeIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these size IDs.",
              "format": "int64",
              "location": "query"
            },
            "overriddenEventTagId": {
              "format": "int64",
              "description": "Select only ads with this event tag override ID.",
              "location": "query",
              "type": "string"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active ads.",
              "location": "query"
            },
            "placementIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these placement IDs assigned.",
              "repeated": true,
              "type": "string"
            },
            "compatibility": {
              "type": "string",
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ]
            },
            "maxResults": {
              "location": "query",
              "default": "1000",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "campaignIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these campaign IDs."
            },
            "sslRequired": {
              "type": "boolean",
              "description": "Select only ads that require SSL.",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these IDs.",
              "location": "query",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query",
              "type": "string"
            },
            "archived": {
              "description": "Select only archived ads.",
              "location": "query",
              "type": "boolean"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "remarketingListIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only ads whose list targeting expression use these remarketing list IDs."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "dynamicClickTracker": {
              "type": "boolean",
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
              "location": "query"
            },
            "creativeOptimizationConfigurationIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these creative optimization configuration IDs.",
              "repeated": true,
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "audienceSegmentIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these audience segment IDs.",
              "format": "int64",
              "location": "query"
            },
            "creativeIds": {
              "description": "Select only ads with these creative IDs assigned.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "landingPageIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these landing page IDs.",
              "format": "int64",
              "location": "query"
            }
          }
        },
        "get": {
          "id": "dfareporting.ads.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Ad"
          },
          "description": "Gets one ad by ID.",
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Ad ID."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "httpMethod": "GET"
        },
        "update": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Ad"
          },
          "id": "dfareporting.ads.update",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Ad"
          },
          "description": "Updates an existing ad.",
          "path": "userprofiles/{+profileId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "description": "Gets one remarketing list by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "id": "dfareporting.targetableRemarketingLists.get",
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "id": "dfareporting.targetableRemarketingLists.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "required": true,
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "active": {
              "type": "boolean",
              "description": "Select only active or only inactive targetable remarketing lists.",
              "location": "query"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "location": "query"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "httpMethod": "GET"
        }
      }
    },
    "operatingSystemVersions": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions/{operatingSystemVersionsId}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "description": "Operating system version ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/operatingSystemVersions/{+id}",
          "description": "Gets one operating system version by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.operatingSystemVersions.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "OperatingSystemVersion"
          }
        },
        "list": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystemVersions",
          "id": "dfareporting.operatingSystemVersions.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "OperatingSystemVersionsListResponse"
          },
          "path": "userprofiles/{+profileId}/operatingSystemVersions",
          "description": "Retrieves a list of operating system versions.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "advertisers": {
      "methods": {
        "patch": {
          "id": "dfareporting.advertisers.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Advertiser"
          },
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/advertisers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "location": "query",
              "format": "int64",
              "description": "Required. Advertiser ID.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Advertiser"
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "httpMethod": "GET",
          "parameters": {
            "advertiserGroupIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Select only advertisers with these advertiser group IDs."
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "description": "Select only advertisers with these IDs.",
              "repeated": true,
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "default": "1000",
              "format": "int32",
              "location": "query"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "location": "query",
              "type": "boolean"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "subaccountId": {
              "format": "int64",
              "type": "string",
              "description": "Select only advertisers with these subaccount IDs.",
              "location": "query"
            },
            "floodlightConfigurationIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "repeated": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "onlyParent": {
              "type": "boolean",
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "location": "query"
            },
            "status": {
              "location": "query",
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "description": "Select only advertisers with the specified status.",
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/advertisers",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdvertisersListResponse"
[...]
