{
  "ownerName": "Google",
  "revision": "20260310",
  "servicePath": "dfareporting/v5/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Dfareporting",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "title": "Campaign Manager 360 API",
  "schemas": {
    "ObaIcon": {
      "id": "ObaIcon",
      "description": "Online Behavioral Advertiser icon.",
      "type": "object",
      "properties": {
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "iconClickTrackingUrl": {
          "description": "URL to track click when an OBA icon is clicked.",
          "type": "string"
        },
        "yPosition": {
          "description": "OBA icon y coordinate position. Accepted values are top or bottom.",
          "type": "string"
        },
        "size": {
          "description": "OBA icon size.",
          "$ref": "Size"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        }
      }
    },
    "CrossMediaReachReportCompatibleFields": {
      "id": "CrossMediaReachReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
      "type": "object",
      "properties": {
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossMediaReachReportCompatibleFields.",
          "type": "string"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        }
      }
    },
    "KeyValueTargetingExpression": {
      "description": "Key Value Targeting Expression.",
      "type": "object",
      "properties": {
        "expression": {
          "description": "Keyword expression being targeted by the ad.",
          "type": "string"
        }
      },
      "id": "KeyValueTargetingExpression"
    },
    "ReachReportCompatibleFields": {
      "id": "ReachReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\".",
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "reachByFrequencyMetrics": {
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields.",
          "type": "string"
        }
      }
    },
    "SiteSkippableSetting": {
      "description": "Skippable Settings",
      "type": "object",
      "properties": {
        "skipOffset": {
          "description": "Amount of time to play videos served to this site before the skip button should appear. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteSkippableSetting\".",
          "type": "string"
        },
        "skippable": {
          "description": "Whether the user can skip creatives served to this site. This will act as default for new placements created under this site.",
          "type": "boolean"
        },
        "progressOffset": {
          "description": "Amount of time to play videos served to this site template before counting a view. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        }
      },
      "id": "SiteSkippableSetting"
    },
    "TvCampaignSummariesListResponse": {
      "id": "TvCampaignSummariesListResponse",
      "description": "Response message for TvCampaignSummariesService.List.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummariesListResponse\".",
          "type": "string"
        },
        "tvCampaignSummaries": {
          "description": "List of TV campaign summaries.",
          "type": "array",
          "items": {
            "$ref": "TvCampaignSummary"
          }
        }
      }
    },
    "ContextualKeywordTargeting": {
      "id": "ContextualKeywordTargeting",
      "description": "Contextual Keyword Targeting.",
      "type": "object",
      "properties": {
        "keywords": {
          "description": "Contextual keywords that this ad targets",
          "type": "array",
          "items": {
            "$ref": "ContextualKeyword"
          }
        }
      }
    },
    "SitesListResponse": {
      "id": "SitesListResponse",
      "description": "Site List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\".",
          "type": "string"
        },
        "sites": {
          "description": "Site collection.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "DeliverySchedule": {
      "id": "DeliverySchedule",
      "description": "Delivery Schedule.",
      "type": "object",
      "properties": {
        "impressionRatio": {
          "format": "int64",
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive.",
          "type": "string"
        },
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        },
        "hardCutoff": {
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals.",
          "type": "boolean"
        },
        "priority": {
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ]
        }
      }
    },
    "AccountPermissionGroupsListResponse": {
      "id": "AccountPermissionGroupsListResponse",
      "description": "Account Permission Group List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupGroupsListResponse\".",
          "type": "string"
        },
        "accountPermissionGroups": {
          "description": "Account permission group collection.",
          "type": "array",
          "items": {
            "$ref": "AccountPermissionGroup"
          }
        }
      }
    },
    "AudienceSegment": {
      "description": "Audience Segment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this audience segment. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "allocation": {
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AudienceSegment"
    },
    "Advertiser": {
      "description": "Contains properties of a Campaign Manager advertiser.",
      "type": "object",
      "properties": {
        "suspended": {
          "description": "Suspension status of this advertiser.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account.",
          "type": "string"
        },
        "clickThroughUrlSuffix": {
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.",
          "type": "string"
        },
        "advertiserGroupId": {
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "status": {
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "enumDescriptions": [
            "Approved (ads can deliver)",
            "On-hold (all ads are stopped)"
          ],
          "description": "Status of this advertiser.",
          "type": "string"
        },
        "defaultClickThroughEventTagId": {
          "format": "int64",
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.",
          "type": "string"
        },
        "id": {
          "description": "ID of this advertiser. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\".",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. ",
          "type": "string"
        },
        "defaultEmail": {
          "description": "Default email address used in sender field for tag emails.",
          "type": "string"
        },
        "originalFloodlightConfigurationId": {
          "format": "int64",
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "euPoliticalAdsDeclaration": {
          "enum": [
            "ADVERTISER_PLANS_TO_SERVE_EU_POLITICAL_ADS",
            "ADVERTISER_DOES_NOT_PLAN_TO_SERVE_EU_POLITICAL_ADS"
          ],
          "enumDescriptions": [
            "You'll need to confirm if your campaign contains EU political advertising.",
            "All new campaigns will have “No” selected for the question that asks if your campaign has EU political ads. You can change this for any campaign at any time."
          ],
          "description": "Optional. Whether the advertiser plans to serve EU political ads.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "id": "Advertiser"
    },
    "TargetableRemarketingList": {
      "id": "TargetableRemarketingList",
      "description": "Contains properties of a targetable remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource is a read-only view of a remarketing list to be used to facilitate targeting ads to specific lists. Remarketing lists that are owned by your advertisers and those that are shared to your advertisers or account are accessible via this resource. To manage remarketing lists that are owned by your advertisers, use the RemarketingLists resource.",
      "type": "object",
      "properties": {
        "listSize": {
          "description": "Number of users currently in the list. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "listSource": {
          "description": "Product from which this targetable remarketing list was originated.",
          "type": "string",
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ],
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ]
        },
        "id": {
          "description": "Targetable remarketing list ID.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Dimension value for the advertiser ID that owns this targetable remarketing list.",
          "type": "string"
        },
        "active": {
          "description": "Whether this targetable remarketing list is active.",
          "type": "boolean"
        },
        "lifeSpan": {
          "description": "Number of days that a user should remain in the targetable remarketing list without an impression.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingList\".",
          "type": "string"
        },
        "name": {
          "description": "Name of the targetable remarketing list. Is no greater than 128 characters long.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string"
        },
        "description": {
          "description": "Targetable remarketing list description.",
          "type": "string"
        }
      }
    },
    "Size": {
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        },
        "height": {
          "format": "int32",
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer"
        },
        "iab": {
          "description": "IAB standard size. This is a read-only, auto-generated field.",
          "type": "boolean"
        }
      },
      "id": "Size"
    },
    "ClickTag": {
      "id": "ClickTag",
      "description": "Creative Click Tag.",
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        },
        "clickThroughUrl": {
          "description": "Parameter value for the specified click tag. This field contains a click-through url.",
          "$ref": "CreativeClickThroughUrl"
        }
      }
    },
    "AccountUserProfile": {
      "id": "AccountUserProfile",
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "type": "object",
      "properties": {
        "traffickerType": {
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "type": "string"
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "userAccessType": {
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "userRoleId": {
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        }
      }
    },
    "DynamicFeedsInsertRequest": {
      "id": "DynamicFeedsInsertRequest",
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id.",
      "type": "object",
      "properties": {
        "dynamicProfileId": {
          "description": "Required. Dynamic profile ID of the inserted dynamic feed.",
          "type": "string",
          "format": "int64"
        },
        "dynamicFeed": {
          "description": "Required. Dynamic feed to insert.",
          "$ref": "DynamicFeed"
        }
      }
    },
    "FloodlightActivityGroupsListResponse": {
      "description": "Floodlight Activity Group List Response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "floodlightActivityGroups": {
          "description": "Floodlight activity group collection.",
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\".",
          "type": "string"
        }
      },
      "id": "FloodlightActivityGroupsListResponse"
    },
    "ListPopulationClause": {
      "id": "ListPopulationClause",
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "type": "object",
      "properties": {
        "terms": {
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "type": "array",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      }
    },
    "OperatingSystem": {
      "description": "Contains information about an operating system that can be targeted by ads.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystem\".",
          "type": "string"
        },
        "dartId": {
          "description": "DART ID of this operating system. This is the ID used for targeting.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this operating system.",
          "type": "string"
        },
        "mobile": {
          "description": "Whether this operating system is for mobile.",
          "type": "boolean"
        },
        "desktop": {
          "description": "Whether this operating system is for desktop.",
          "type": "boolean"
        }
      },
      "id": "OperatingSystem"
    },
    "DynamicProfile": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic profile information.",
      "type": "object",
      "properties": {
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the dynamic profile. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the dynamic profile. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "status": {
          "description": "Optional. Status of this dynamic profile.",
          "type": "string",
          "enumDescriptions": [
            "The dynamic profile status is unknown. This value is unused.",
            "The dynamic profile is active.",
            "The dynamic profile is inactive.",
            "The dynamic profile is deleted."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ]
        },
        "draft": {
          "description": "Optional. Draft version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "archiveStatus": {
          "description": "Optional. Archive status of this dynamic profile.",
          "type": "string",
          "enumDescriptions": [
            "The dynamic profile archive status is unknown. This value is unused.",
            "The dynamic profile archive status is unarchived.",
            "The dynamic profile archive status is archived."
          ],
          "enum": [
            "ARCHIVE_STATUS_UNKNOWN",
            "UNARCHIVED",
            "ARCHIVED"
          ]
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Required. Advertiser ID of this dynamic profile. This is a required field on insertion.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of this dynamic profile.",
          "type": "string"
        },
        "active": {
          "description": "Optional. Active version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicProfile\".",
          "readOnly": true,
          "type": "string"
        },
        "dynamicProfileId": {
          "description": "Output only. Unique ID of this dynamic profile. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Required. Identifier. Name of this dynamic profile. This is a required field and must be less than 256 characters long.",
          "type": "string"
        }
      },
      "id": "DynamicProfile"
    },
    "OptimizationActivity": {
      "description": "Creative optimization activity.",
      "type": "object",
      "properties": {
        "floodlightActivityId": {
          "format": "int64",
          "description": "Floodlight activity ID of this optimization activity. This is a required field.",
          "type": "string"
        },
        "floodlightActivityIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "weight": {
          "format": "int32",
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1.",
          "type": "integer"
        }
      },
      "id": "OptimizationActivity"
    },
    "DependentFieldValue": {
      "description": "Contains dependent field value information.",
      "type": "object",
      "properties": {
        "elementId": {
          "description": "Optional. The ID of the element that value's field will match against.",
          "type": "string",
          "format": "int64"
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. The field id of the dependent field.",
          "type": "integer"
        }
      },
      "id": "DependentFieldValue"
    },
    "StudioCreativeAsset": {
      "id": "StudioCreativeAsset",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ],
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "type": "string"
        },
        "filesize": {
          "description": "The filesize of the studio creative asset. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "videoProcessingData": {
          "description": "The processing data of the studio creative asset. This is a read-only field.",
          "$ref": "VideoProcessingData"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "id": {
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "studioCreativeId": {
          "format": "int64",
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "type": "string"
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "type": "string"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CreativeAssignment": {
      "description": "Creative Assignment.",
      "type": "object",
      "properties": {
        "creativeGroupAssignments": {
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          }
        },
        "richMediaExitOverrides": {
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR ",
          "type": "array",
          "items": {
            "$ref": "RichMediaExitOverride"
          }
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "weight": {
          "format": "int32",
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1.",
          "type": "integer"
        },
        "active": {
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation.",
          "type": "boolean"
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "companionCreativeOverrides": {
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads.",
          "type": "array",
          "items": {
            "$ref": "CompanionClickThroughOverride"
          }
        },
        "creativeId": {
          "description": "ID of the creative to be assigned. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of the creative assignment.",
          "$ref": "ClickThroughUrl"
        },
        "sslCompliant": {
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "applyEventTags": {
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO.",
          "type": "boolean"
        },
        "sequence": {
          "format": "int32",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive.",
          "type": "integer"
        }
      },
      "id": "CreativeAssignment"
    },
    "FieldFilter": {
      "description": "Contains field filter information.",
      "type": "object",
      "properties": {
        "dependentFieldValue": {
          "description": "Optional. The dependent values, only applicable when rhs_value_type is DEPENDENT.",
          "$ref": "DependentFieldValue"
        },
        "matchType": {
          "description": "Optional. Left hand side of the expression match type.",
          "type": "string",
          "enum": [
            "LHS_MATCH_TYPE_UNKNOWN",
            "EQUALS_OR_UNRESTRICTED",
            "EQUALS",
            "UNRESTRICTED",
            "NOT_EQUALS"
          ],
          "enumDescriptions": [
            "The left hand side of the expression is unknown. This value is unused.",
            "The left hand side of the expression is equals or unrestricted. It is the default value.",
            "The left hand side of the expression is equals.",
            "The left hand side of the expression is unrestricted. Unrestricted is used to target fields with no restrictions. For example, country targeting fields hold a list of countries. If the list is empty, we consider the element value to have no restrictions.",
            "Left hand side of the expression is not equals. Not equals specifies which fields should not be targeted."
          ]
        },
        "requestValue": {
          "description": "Optional. The request value, only applicable when rhs_value_type is REQUEST.",
          "$ref": "RequestValue"
        },
        "stringValue": {
          "description": "Optional. The string value, only applicable when rhs_value_type is STRING.",
          "type": "string"
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. The field ID on the left hand side of the expression.",
          "type": "integer"
        },
        "valueType": {
          "enumDescriptions": [
            "The right hand side of the expression is unknown. This value is unused.",
            "The right hand side of the expression is a string.",
            "The right hand side of the expression is a request value.",
            "The right hand side of the expression is a boolean.",
            "The right hand side of the expression is a dependent field value."
          ],
          "enum": [
            "RHS_VALUE_TYPE_UNKNOWN",
            "STRING",
            "REQUEST",
            "BOOL",
            "DEPENDENT"
          ],
          "description": "Optional. Right hand side of the expression.",
          "type": "string"
        },
        "boolValue": {
          "description": "Optional. The boolean values, only applicable when rhs_value_type is BOOL.",
          "type": "boolean"
        }
      },
      "id": "FieldFilter"
    },
    "CartDataItem": {
      "id": "CartDataItem",
      "description": "Contains data of the items purchased.",
      "type": "object",
      "properties": {
        "quantity": {
          "description": "Number of items sold. This is a required field.",
          "type": "integer",
          "format": "int32"
        },
        "unitPrice": {
          "description": "Unit price excluding tax, shipping, and any transaction level discounts. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "type": "number",
          "format": "double"
        },
        "itemId": {
          "description": "The shopping id of the item. Must be equal to the Merchant Center product identifier. This is a required field.",
          "type": "string"
        }
      }
    },
    "PostalCodesListResponse": {
      "description": "Postal Code List Response",
      "type": "object",
      "properties": {
        "postalCodes": {
          "description": "Postal code collection.",
          "type": "array",
          "items": {
            "$ref": "PostalCode"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        }
      },
      "id": "PostalCodesListResponse"
    },
    "TvCampaignSummary": {
      "id": "TvCampaignSummary",
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "startDate": {
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "type": {
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ],
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ],
          "description": "\"CampaignComponentType\" of this TV campaign.",
          "type": "string"
        },
        "grp": {
          "description": "GRP of this TV campaign.",
          "type": "string",
          "format": "int64"
        },
        "spend": {
          "description": "Spend across the entire TV campaign.",
          "type": "number",
          "format": "double"
        },
        "impressions": {
          "description": "Impressions across the entire TV campaign.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of this TV campaign.",
          "type": "string"
        },
        "endDate": {
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        }
      }
    },
    "IngestionErrorRecord": {
      "id": "IngestionErrorRecord",
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "type": "object",
      "properties": {
        "recordId": {
          "description": "Output only. The record ID of the ingestion error record.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "description": "Output only. The list of field errors of the ingestion error record.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FieldError"
          }
        }
      }
    },
    "LookbackConfiguration": {
      "id": "LookbackConfiguration",
      "description": "Lookback configuration settings.",
      "type": "object",
      "properties": {
        "clickDuration": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads. If you enter 0, clicks will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "type": "integer"
        },
        "postImpressionActivitiesDuration": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads. If you enter 0, impressions will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "type": "integer"
        }
      }
    },
    "Metric": {
      "description": "Represents a metric.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The metric name, e.g. impressions",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#metric.",
          "type": "string"
        }
      },
      "id": "Metric"
    },
    "LanguagesListResponse": {
      "description": "Language List Response",
      "type": "object",
      "properties": {
        "languages": {
          "description": "Language collection.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        }
      },
      "id": "LanguagesListResponse"
    },
    "CustomRichMediaEvents": {
      "id": "CustomRichMediaEvents",
      "description": "Represents a Custom Rich Media Events group.",
      "type": "object",
      "properties": {
        "filteredEventIds": {
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
          "type": "string"
        }
      }
    },
    "ConversionsBatchUpdateRequest": {
      "description": "Update Conversions Request.",
      "type": "object",
      "properties": {
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "conversions": {
          "description": "The set of conversions to update.",
          "type": "array",
          "items": {
            "$ref": "Conversion"
          }
        }
      },
      "id": "ConversionsBatchUpdateRequest"
    },
    "PlacementsListResponse": {
      "description": "Placement List Response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\".",
          "type": "string"
        },
        "placements": {
          "description": "Placement collection.",
          "type": "array",
          "items": {
            "$ref": "Placement"
          }
        }
      },
      "id": "PlacementsListResponse"
    },
    "PlacementSingleConversionDomain": {
      "id": "PlacementSingleConversionDomain",
      "type": "object",
      "properties": {
        "conversionDomainValue": {
          "type": "string"
        },
        "conversionDomainId": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ContentSourceMetaData": {
      "id": "ContentSourceMetaData",
      "description": "Contains the meta data of the content source. This is a read-only field.",
      "type": "object",
      "properties": {
        "separator": {
          "description": "Output only. The separator of the content source.",
          "readOnly": true,
          "type": "string"
        },
        "charset": {
          "description": "Output only. The charset of the content source.",
          "readOnly": true,
          "type": "string"
        },
        "fieldNames": {
          "description": "Output only. The list of column names in the content source.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rowNumber": {
          "format": "int32",
          "description": "Output only. The number of rows in the content source.",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "Invoice": {
      "description": "Contains information about a single invoice",
      "type": "object",
      "properties": {
        "paymentsProfileId": {
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as *Billing ID*.",
          "type": "string"
        },
        "campaign_summaries": {
          "description": "The list of summarized campaign information associated with this invoice.",
          "type": "array",
          "items": {
            "$ref": "CampaignSummary"
          }
        },
        "replacedInvoiceIds": {
          "description": "The originally issued invoice(s) that is being cancelled by this invoice, if applicable. May appear on invoice PDF as *Replaced invoice numbers*. Note: There may be multiple replaced invoices due to consolidation of multiple invoices into a single invoice.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "totalAmountMicros": {
          "description": "The invoice total amount, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as *Billing Account Number*.",
          "type": "string"
        },
        "subtotalAmountMicros": {
          "format": "int64",
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency.",
          "type": "string"
        },
        "purchaseOrderNumber": {
          "description": "Purchase order number associated with the invoice.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#invoice\".",
          "type": "string"
        },
        "serviceStartDate": {
          "description": "The invoice service start date.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Invoice currency code in ISO 4217 format.",
          "type": "string"
        },
        "correctedInvoiceId": {
          "description": "The originally issued invoice that is being adjusted by this invoice, if applicable. May appear on invoice PDF as *Reference invoice number*.",
          "type": "string"
        },
        "issueDate": {
          "description": "The date when the invoice was issued.",
          "type": "string"
        },
        "serviceEndDate": {
          "description": "The invoice service end date.",
          "type": "string"
        },
        "totalTaxAmountMicros": {
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "pdfUrl": {
          "description": "The URL to download a PDF copy of the invoice. Note that this URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an *Authorization: Bearer* HTTP header. The URL will only be usable for 7 days from when the api is called.",
          "type": "string"
        },
        "invoiceType": {
          "description": "The type of invoice document.",
          "type": "string",
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "id": {
          "description": "ID of this invoice.",
          "type": "string"
        },
        "dueDate": {
          "description": "The invoice due date.",
          "type": "string"
        }
      },
      "id": "Invoice"
    },
    "OperatingSystemsListResponse": {
      "id": "OperatingSystemsListResponse",
      "description": "Operating System List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        },
        "operatingSystems": {
          "description": "Operating system collection.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        }
      }
    },
    "ListPopulationTerm": {
      "id": "ListPopulationTerm",
      "description": "Remarketing List Population Rule Term.",
      "type": "object",
      "properties": {
        "contains": {
          "description": "Will be true if the term should check if the user is in the list and false if the term should check if the user is not in the list. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM. False by default.",
          "type": "boolean"
        },
        "operator": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NUM_EQUALS",
            "NUM_LESS_THAN",
            "NUM_LESS_THAN_EQUAL",
            "NUM_GREATER_THAN",
            "NUM_GREATER_THAN_EQUAL",
            "STRING_EQUALS",
            "STRING_CONTAINS"
          ],
          "description": "Comparison operator of this term. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "type": {
          "description": "List population term type determines the applicable fields in this object. If left unset or set to CUSTOM_VARIABLE_TERM, then variableName, variableFriendlyName, operator, value, and negation are applicable. If set to LIST_MEMBERSHIP_TERM then remarketingListId and contains are applicable. If set to REFERRER_TERM then operator, value, and negation are applicable.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CUSTOM_VARIABLE_TERM",
            "LIST_MEMBERSHIP_TERM",
            "REFERRER_TERM"
          ]
        },
        "variableName": {
          "description": "Name of the variable (U1, U2, etc.) being compared in this term. This field is only relevant when type is set to null, CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "negation": {
          "description": "Whether to negate the comparison result of this term during rule evaluation. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "boolean"
        },
        "variableFriendlyName": {
          "description": "Friendly name of this term's variable. This is a read-only, auto-generated field. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM.",
          "type": "string"
        },
        "value": {
          "description": "Literal to compare the variable to. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "remarketingListId": {
          "description": "ID of the list in question. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RemarketingValueAttribute": {
      "description": "Contains remarketing value attribute information.",
      "type": "object",
      "properties": {
        "userAttributeIds": {
          "description": "Optional. Remarketing user attribute IDs for auto filtering.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. Field ID in the element.",
          "type": "integer"
        }
      },
      "id": "RemarketingValueAttribute"
    },
    "File": {
      "description": "Represents a File resource. A file contains the metadata for a report run. It shows the status of the run and holds the URLs to the generated report data if the run is finished and the status is \"REPORT_AVAILABLE\".",
      "type": "object",
      "properties": {
        "dateRange": {
          "description": "The date range for which the file has report data. The date range will always be the absolute date range for which the report is run.",
          "$ref": "DateRange"
        },
        "lastModifiedTime": {
          "format": "int64",
          "description": "The timestamp in milliseconds since epoch when this file was last modified.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of this report file.",
          "type": "string",
          "format": "int64"
        },
        "reportId": {
          "format": "int64",
          "description": "The ID of the report this file was generated from.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "status": {
          "enum": [
            "PROCESSING",
            "REPORT_AVAILABLE",
            "FAILED",
            "CANCELLED",
            "QUEUED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The status of the report file.",
          "type": "string"
        },
        "format": {
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The output format of the report. Only available once the file is available.",
          "type": "string"
        },
        "fileName": {
          "description": "The filename of the file.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#file\".",
          "type": "string"
        },
        "urls": {
          "description": "The URLs where the completed report file can be downloaded.",
          "type": "object",
          "properties": {
            "browserUrl": {
              "description": "The URL for downloading the report data through a browser.",
              "type": "string"
            },
            "apiUrl": {
              "description": "The URL for downloading the report data through the API.",
              "type": "string"
            }
          }
        }
      },
      "id": "File"
    },
    "VideoSettings": {
      "description": "Video Settings",
      "type": "object",
      "properties": {
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden.",
          "$ref": "TranscodeSetting"
        },
        "skippableSettings": {
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden.",
          "$ref": "SkippableSetting"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\".",
          "type": "string"
        },
        "orientation": {
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ]
        },
        "publisherSpecificationId": {
          "format": "int64",
          "description": "Publisher specification ID of a video placement. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string"
        },
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden.",
          "$ref": "ObaIcon"
        },
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        },
        "durationSeconds": {
          "format": "int32",
          "description": "Duration of a video placement in seconds.",
          "type": "integer"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this placement.",
          "$ref": "CompanionSetting"
        }
      },
      "id": "VideoSettings"
    },
    "Report": {
      "description": "Represents a Report resource.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The account ID to which this report belongs.",
          "type": "string",
          "format": "int64"
        },
        "crossMediaReachCriteria": {
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\".",
          "type": "object",
          "properties": {
            "dimensions": {
              "description": "Required. The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dateRange": {
              "description": "Required. The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "Required. The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensionFilters": {
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            }
          }
        },
        "reachCriteria": {
          "description": "The report criteria for a report of type \"REACH\".",
          "type": "object",
          "properties": {
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "reachByFrequencyMetricNames": {
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            }
          }
        },
        "delivery": {
          "description": "The report's email delivery settings.",
          "type": "object",
          "properties": {
            "message": {
              "description": "The message to be sent with each email.",
              "type": "string"
            },
            "emailOwnerDeliveryType": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "description": "The type of delivery for the owner to receive, if enabled.",
              "type": "string"
            },
            "recipients": {
              "description": "The list of recipients to which to email the report.",
              "type": "array",
              "items": {
                "$ref": "Recipient"
              }
            },
            "emailOwner": {
              "description": "Whether the report should be emailed to the report owner.",
              "type": "boolean"
            }
          }
        },
        "name": {
          "description": "The name of the report.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID identifying this report resource.",
          "type": "string",
          "format": "int64"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "criteria": {
          "description": "The report criteria for a report of type \"STANDARD\".",
          "type": "object",
          "properties": {
            "dateRange": {
              "description": "The date range for which this report should be run.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensions": {
              "description": "The list of standard dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            }
          }
        },
        "floodlightCriteria": {
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "type": "object",
          "properties": {
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "customRichMediaEvents": {
              "description": "The list of custom rich media events to include.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "type": "object",
              "properties": {
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "includeAttributedIPConversions": {
                  "description": "Include conversions that have no cookie, but do have an exposure path.",
                  "type": "boolean"
                }
              }
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            }
          }
        },
        "pathToConversionCriteria": {
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "type": "object",
          "properties": {
            "customFloodlightVariables": {
              "description": "The list of custom floodlight variables the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "activityFilters": {
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "customRichMediaEvents": {
              "description": "The list of custom rich media events to include.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "conversionDimensions": {
              "description": "The list of conversion dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "type": "object",
              "properties": {
                "maximumInteractionGap": {
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "maximumClickInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "type": "integer",
                  "format": "int32"
                },
                "pivotOnInteractionPath": {
                  "description": "Enable pivoting on interaction path.",
                  "type": "boolean"
                },
                "maximumImpressionInteractions": {
                  "format": "int32",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "type": "integer"
                },
                "impressionsLookbackWindow": {
                  "format": "int32",
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer"
                },
                "includeAttributedIPConversions": {
                  "description": "Deprecated: has no effect.",
                  "type": "boolean"
                },
                "clicksLookbackWindow": {
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "perInteractionDimensions": {
              "description": "The list of per interaction dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            }
          }
        },
        "subAccountId": {
          "description": "The subaccount ID to which this report belongs if applicable.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "schedule": {
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "type": "object",
          "properties": {
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "type": "boolean"
            },
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "repeatsOnWeekDays": {
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ],
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ]
              }
            },
            "every": {
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "type": "integer",
              "format": "int32"
            },
            "runsOnDayOfMonth": {
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ]
            },
            "expirationDate": {
              "type": "string",
              "format": "date"
            },
            "repeats": {
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. ",
              "type": "string"
            },
            "timezone": {
              "description": "The timezone when the report will run.",
              "type": "string"
            }
          }
        },
        "fileName": {
          "description": "The filename used when generating report files for this report.",
          "type": "string"
        },
        "lastModifiedTime": {
          "format": "uint64",
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "type": "string"
        },
        "ownerProfileId": {
          "format": "int64",
          "description": "The user profile id of the owner of this report.",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "type": "string"
        },
        "type": {
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of the report.",
          "type": "string"
        }
      },
      "id": "Report"
    },
    "StudioCreativeDimension": {
      "id": "StudioCreativeDimension",
      "description": "Dimension information for a studio creative.",
      "type": "object",
      "properties": {
        "width": {
          "description": "Width of the studio creative.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "format": "int32",
          "description": "Height of the studio creative.",
          "type": "integer"
        }
      }
    },
    "BillingAssignmentsListResponse": {
      "id": "BillingAssignmentsListResponse",
      "description": "Billing assignment List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        },
        "billingAssignments": {
          "description": "Billing assignments collection.",
          "type": "array",
          "items": {
            "$ref": "BillingAssignment"
          }
        }
      }
    },
    "CreativeFieldsListResponse": {
      "id": "CreativeFieldsListResponse",
      "description": "Creative Field List Response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creativeFields": {
          "description": "Creative field collection.",
          "type": "array",
          "items": {
            "$ref": "CreativeField"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\".",
          "type": "string"
        }
      }
    },
    "ContentCategory": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this content category. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this content category. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.",
          "type": "string"
        }
      },
      "id": "ContentCategory"
    },
    "FloodlightConfigurationsListResponse": {
      "description": "Floodlight Configuration List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "description": "Floodlight configuration collection.",
          "type": "array",
          "items": {
            "$ref": "FloodlightConfiguration"
          }
        }
      },
      "id": "FloodlightConfigurationsListResponse"
    },
    "DimensionValueList": {
      "description": "Represents the list of DimensionValue resources.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#dimensionValueList.",
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "items": {
          "description": "The dimension values returned in this response.",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        }
      },
      "id": "DimensionValueList"
    },
    "LandingPage": {
      "id": "LandingPage",
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long.",
          "type": "string"
        },
        "archived": {
          "description": "Whether this landing page has been archived.",
          "type": "boolean"
        },
        "deepLinks": {
          "description": "Links that will direct the user to a mobile app, if installed.",
          "type": "array",
          "items": {
            "$ref": "DeepLink"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\".",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this landing page. This is a required field.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "url": {
          "description": "URL of this landing page. This is a required field.",
          "type": "string"
        }
      }
    },
    "TargetableRemarketingListsListResponse": {
      "id": "TargetableRemarketingListsListResponse",
      "description": "Targetable remarketing list response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\".",
          "type": "string"
        },
        "targetableRemarketingLists": {
          "description": "Targetable remarketing list collection.",
          "type": "array",
          "items": {
            "$ref": "TargetableRemarketingList"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "StudioCreativeAssetsResponse": {
      "description": "Response message for DfareportingStudioCreativeAssets.Insert.",
      "type": "object",
      "properties": {
        "assets": {
          "description": "The list of studio creative assets.",
          "type": "array",
          "items": {
            "$ref": "StudioCreativeAsset"
          }
        }
      },
      "id": "StudioCreativeAssetsResponse"
    },
    "PlacementAssignment": {
      "id": "PlacementAssignment",
      "description": "Placement Assignment.",
      "type": "object",
      "properties": {
        "placementId": {
          "description": "ID of the placement to be assigned. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "placementIdDimensionValue": {
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        }
      }
    },
    "PlacementConversionDomainOverride": {
      "type": "object",
      "properties": {
        "conversionDomains": {
          "type": "array",
          "items": {
            "$ref": "PlacementSingleConversionDomain"
          }
        }
      },
      "id": "PlacementConversionDomainOverride"
    },
    "ChangeLog": {
      "description": "Describes a change that a user has made to a resource.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Account ID of the modified object.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this change log.",
          "type": "string"
        },
        "fieldName": {
          "description": "Field name of the object which changed.",
          "type": "string"
        },
        "objectType": {
          "description": "Object type of the change log.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "userProfileName": {
          "description": "User profile name of the user who modified the object.",
          "type": "string"
        },
        "objectId": {
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "type": "string",
          "format": "int64"
        },
        "transactionId": {
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "type": "string",
          "format": "int64"
        },
        "oldValue": {
          "description": "Old value of the object field.",
          "type": "string"
        },
        "userProfileId": {
          "format": "int64",
          "description": "ID of the user who modified the object.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of the modified object.",
          "type": "string",
          "format": "int64"
        },
        "action": {
          "description": "Action which caused the change.",
          "type": "string"
        },
        "changeTime": {
          "type": "string",
          "format": "date-time"
        },
        "newValue": {
          "description": "New value of the object field.",
          "type": "string"
        }
      },
      "id": "ChangeLog"
    },
    "BillingRateTieredRate": {
      "type": "object",
      "properties": {
        "lowValue": {
          "format": "int64",
          "description": "The minimum for this tier range.",
          "type": "string"
        },
        "rateInMicros": {
          "description": "Rate in micros for this tier.",
          "type": "string",
          "format": "int64"
        },
        "highValue": {
          "description": "The maximum for this tier range.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "BillingRateTieredRate"
    },
    "SubaccountsListResponse": {
      "description": "Subaccount List Response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "subaccounts": {
          "description": "Subaccount collection.",
          "type": "array",
          "items": {
            "$ref": "Subaccount"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        }
      },
      "id": "SubaccountsListResponse"
    },
    "UniversalAdId": {
      "id": "UniversalAdId",
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "type": "object",
      "properties": {
        "registry": {
          "description": "Registry used for the Ad ID value.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ]
        },
        "value": {
[...]
