{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "title": "Campaign Manager 360 API",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "name": "dfareporting",
  "kind": "discovery#restDescription",
  "basePath": "/dfareporting/v4/",
  "schemas": {
    "CustomValueField": {
      "type": "object",
      "id": "CustomValueField",
      "description": "Contains custom value field information.",
      "properties": {
        "requestKey": {
          "type": "string",
          "description": "Optional. Custom key used to match for auto filtering."
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. Field ID in the element.",
          "type": "integer"
        }
      }
    },
    "AudienceSegmentGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long."
        },
        "audienceSegments": {
          "type": "array",
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "items": {
            "$ref": "AudienceSegment"
          }
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this audience segment group. This is a read-only, auto-generated field."
        }
      },
      "id": "AudienceSegmentGroup",
      "description": "Audience Segment Group."
    },
    "AccountPermissionGroupsListResponse": {
      "type": "object",
      "id": "AccountPermissionGroupsListResponse",
      "description": "Account Permission Group List Response",
      "properties": {
        "accountPermissionGroups": {
          "type": "array",
          "description": "Account permission group collection.",
          "items": {
            "$ref": "AccountPermissionGroup"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupGroupsListResponse\".",
          "type": "string"
        }
      }
    },
    "AdSlot": {
      "type": "object",
      "id": "AdSlot",
      "description": "Ad Slot",
      "properties": {
        "compatibility": {
          "description": "Ad slot compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop, mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "type": "string"
        },
        "paymentSourceType": {
          "description": "Payment source type of this ad slot.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLANNING_PAYMENT_SOURCE_TYPE_AGENCY_PAID",
            "PLANNING_PAYMENT_SOURCE_TYPE_PUBLISHER_PAID"
          ],
          "type": "string"
        },
        "height": {
          "type": "string",
          "description": "Height of this ad slot.",
          "format": "int64"
        },
        "comment": {
          "type": "string",
          "description": "Comment for this ad slot."
        },
        "primary": {
          "description": "Primary ad slot of a roadblock inventory item.",
          "type": "boolean"
        },
        "linkedPlacementId": {
          "type": "string",
          "description": "ID of the placement from an external platform that is linked to this ad slot.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this ad slot."
        },
        "width": {
          "type": "string",
          "description": "Width of this ad slot.",
          "format": "int64"
        }
      }
    },
    "PlacementAssignment": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation."
        },
        "placementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field."
        },
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "placementId": {
          "format": "int64",
          "description": "ID of the placement to be assigned. This is a required field.",
          "type": "string"
        }
      },
      "id": "PlacementAssignment",
      "description": "Placement Assignment."
    },
    "AccountUserProfilesListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfilesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "accountUserProfiles": {
          "description": "Account user profile collection.",
          "items": {
            "$ref": "AccountUserProfile"
          },
          "type": "array"
        }
      },
      "id": "AccountUserProfilesListResponse",
      "description": "Account User Profile List Response"
    },
    "AdvertisersListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\".",
          "type": "string"
        },
        "advertisers": {
          "description": "Advertiser collection.",
          "items": {
            "$ref": "Advertiser"
          },
          "type": "array"
        }
      },
      "id": "AdvertisersListResponse",
      "description": "Advertiser List Response"
    },
    "FileList": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The files returned in this response.",
          "items": {
            "$ref": "File"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "FileList",
      "description": "List of files for a report.",
      "type": "object"
    },
    "CountriesListResponse": {
      "type": "object",
      "properties": {
        "countries": {
          "type": "array",
          "description": "Country collection.",
          "items": {
            "$ref": "Country"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\"."
        }
      },
      "id": "CountriesListResponse",
      "description": "Country List Response"
    },
    "DirectorySite": {
      "type": "object",
      "properties": {
        "interstitialTagFormats": {
          "type": "array",
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" ",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ]
          }
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "URL of this directory site."
        },
        "settings": {
          "description": "Directory site settings.",
          "$ref": "DirectorySiteSettings"
        },
        "publisherSpecificationId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max"
        },
        "name": {
          "description": "Name of this directory site.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "inpageTagFormats": {
          "type": "array",
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" ",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ],
            "type": "string"
          }
        }
      },
      "id": "DirectorySite",
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement."
    },
    "PostalCode": {
      "type": "object",
      "id": "PostalCode",
      "description": "Contains information about a postal code that can be targeted by ads.",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this postal code belongs."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCode\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this postal code.",
          "type": "string"
        },
        "code": {
          "description": "Postal code. This is equivalent to the id field.",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of the country to which this postal code belongs."
        }
      }
    },
    "ProximityFilter": {
      "type": "object",
      "properties": {
        "radiusBucketType": {
          "description": "Optional. The radius bucket type of the proximity filter",
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ],
          "type": "string"
        },
        "radiusValue": {
          "description": "Optional. Radius length in units defined by radius_units.",
          "format": "int32",
          "type": "integer"
        },
        "radiusUnitType": {
          "type": "string",
          "description": "Optional. The units of the radius value",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ]
        },
        "fieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Field ID in the element."
        }
      },
      "id": "ProximityFilter",
      "description": "Contains proximity filter information."
    },
    "AccountUserProfile": {
      "type": "object",
      "properties": {
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "siteFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which sites are visible to the user profile."
        },
        "active": {
          "type": "boolean",
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of the user profile. This is a read-only, auto-generated field."
        },
        "traffickerType": {
          "type": "string",
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ]
        },
        "userAccessType": {
          "type": "string",
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ]
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "userRoleId": {
          "format": "int64",
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "campaignFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which campaigns are visible to the user profile."
        },
        "advertiserFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which advertisers are visible to the user profile."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\"."
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank."
        },
        "email": {
          "type": "string",
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion."
        }
      },
      "id": "AccountUserProfile",
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API."
    },
    "BillingRateTieredRate": {
      "type": "object",
      "properties": {
        "rateInMicros": {
          "type": "string",
          "format": "int64",
          "description": "Rate in micros for this tier."
        },
        "lowValue": {
          "format": "int64",
          "description": "The minimum for this tier range.",
          "type": "string"
        },
        "highValue": {
          "type": "string",
          "description": "The maximum for this tier range.",
          "format": "int64"
        }
      },
      "id": "BillingRateTieredRate"
    },
    "FeedIngestionStatus": {
      "type": "object",
      "id": "FeedIngestionStatus",
      "description": "Contains the ingestion status of the dynamic feed. Feed ingestion is an asynchronous process. If the feed create request is successful, feed ingestion will be processed in the background, including validation, assets retrieval, and saving the data from the resource link. The processing time is dependent on the data size in the resource link. This read-only status field contains the current stage of that processing and its ingestion state.",
      "properties": {
        "ingestionErrorRecords": {
          "type": "array",
          "description": "Output only. The ingestion error records of the feed.",
          "items": {
            "$ref": "IngestionErrorRecord"
          },
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The processing state of the feed.",
          "enumDescriptions": [
            "The feed processing state is unknown.",
            "The feed processing state is cancelled.",
            "The feed processing state is ingesting queued.",
            "The feed processing state is ingesting.",
            "The feed processing state is ingested successfully.",
            "The feed processing state is ingested with failure.",
            "The feed processing state is request to publish.",
            "The feed processing state is publishing.",
            "The feed processing state is published successfully.",
            "The feed processing state is published with failure."
          ],
          "enum": [
            "FEED_PROCESSING_STATE_UNKNOWN",
            "CANCELLED",
            "INGESTING_QUEUED",
            "INGESTING",
            "INGESTED_SUCCESS",
            "INGESTED_FAILURE",
            "REQUEST_TO_PUBLISH",
            "PUBLISHING",
            "PUBLISHED_SUCCESS",
            "PUBLISHED_FAILURE"
          ]
        },
        "ingestionStatus": {
          "description": "Output only. The ingestion status of the feed.",
          "readOnly": true,
          "$ref": "IngestionStatus"
        }
      }
    },
    "Flight": {
      "type": "object",
      "id": "Flight",
      "description": "Flight",
      "properties": {
        "rateOrCost": {
          "description": "Rate or cost of this flight.",
          "format": "int64",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "Units of this flight."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "MeasurementPartnerWrappingData": {
      "id": "MeasurementPartnerWrappingData",
      "description": "Placement tag wrapping",
      "properties": {
        "measurementPartner": {
          "type": "string",
          "description": "Measurement partner used for wrapping the placement.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ]
        },
        "linkStatus": {
          "description": "Placement wrapping status.",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "type": "string"
        },
        "wrappedTag": {
          "description": "Tag provided by the measurement partner during wrapping.",
          "type": "string"
        },
        "tagWrappingMode": {
          "type": "string",
          "description": "Measurement mode for the wrapped placement.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "BLOCKING",
            "MONITORING",
            "MONITORING_READ_ONLY",
            "VIDEO_PIXEL_MONITORING",
            "TRACKING",
            "VPAID_MONITORING",
            "VPAID_BLOCKING",
            "NON_VPAID_MONITORING",
            "VPAID_ONLY_MONITORING",
            "VPAID_ONLY_BLOCKING",
            "VPAID_ONLY_FILTERING",
            "VPAID_FILTERING",
            "NON_VPAID_FILTERING",
            "BLOCKING_FILTERING_VPAID",
            "BLOCKING_FILTERING_VPAID_ONLY"
          ]
        }
      },
      "type": "object"
    },
    "DynamicFeed": {
      "properties": {
        "element": {
          "$ref": "Element",
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field."
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        },
        "studioAdvertiserId": {
          "type": "string",
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field.",
          "format": "int64"
        },
        "feedIngestionStatus": {
          "$ref": "FeedIngestionStatus",
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "readOnly": true
        },
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "readOnly": true,
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field."
        },
        "hasPublished": {
          "readOnly": true,
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field.",
          "type": "boolean"
        },
        "dynamicFeedId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field."
        },
        "status": {
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ],
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        }
      },
      "id": "DynamicFeed",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "type": "object"
    },
    "BillingProfile": {
      "type": "object",
      "properties": {
        "isDefault": {
          "description": "True if the billing profile is the account default profile. This is a read-only field.",
          "type": "boolean"
        },
        "countryCode": {
          "description": "Country code of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\".",
          "type": "string"
        },
        "secondaryPaymentsCustomerId": {
          "description": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "invoiceLevel": {
          "type": "string",
          "description": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ACCOUNT_LEVEL",
            "ADVERTISER_LEVEL",
            "CAMPAIGN_LEVEL"
          ]
        },
        "purchaseOrder": {
          "description": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile.",
          "type": "string"
        },
        "paymentsCustomerId": {
          "type": "string",
          "description": "The ID of the payment customer the billing profile belongs to. This is a read-only field."
        },
        "name": {
          "description": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account.",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payment account the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this billing profile. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "description": "Status of this billing profile.This is a read-only field.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNDER_REVIEW",
            "ACTIVE",
            "ARCHIVED"
          ]
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.This is a read-only field.",
          "type": "string"
        },
        "consolidatedInvoice": {
          "type": "boolean",
          "description": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level."
        }
      },
      "id": "BillingProfile",
      "description": "Contains properties of a Campaign Manager Billing Profile."
    },
    "ReportCompatibleFields": {
      "id": "ReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields."
        },
        "dimensionFilters": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListPopulationRule": {
      "id": "ListPopulationRule",
      "description": "Remarketing List Population Rule.",
      "properties": {
        "listPopulationClauses": {
          "description": "Clauses that make up this list population rule. Clauses are joined by ANDs, and the clauses themselves are made up of list population terms which are joined by ORs.",
          "items": {
            "$ref": "ListPopulationClause"
          },
          "type": "array"
        },
        "floodlightActivityName": {
          "type": "string",
          "description": "Name of floodlight activity associated with this rule. This is a read-only, auto-generated field."
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this rule. This field can be left blank.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "YoutubeSettings": {
      "properties": {
        "callToActions": {
          "description": "Optional. The call to actions. Currently only one call to action is supported.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CALL_TO_ACTION_UNKNOWN",
              "CALL_TO_ACTION_LEARN_MORE",
              "CALL_TO_ACTION_GET_QUOTE",
              "CALL_TO_ACTION_APPLY_NOW",
              "CALL_TO_ACTION_SIGN_UP",
              "CALL_TO_ACTION_CONTACT_US",
              "CALL_TO_ACTION_SUBSCRIBE",
              "CALL_TO_ACTION_DOWNLOAD",
              "CALL_TO_ACTION_BOOK_NOW",
              "CALL_TO_ACTION_GET_OFFER",
              "CALL_TO_ACTION_SHOP_NOW",
              "CALL_TO_ACTION_VISIT_STORE",
              "CALL_TO_ACTION_CALL_NOW",
              "CALL_TO_ACTION_VIEW_MENU",
              "CALL_TO_ACTION_TEST_DRIVE",
              "CALL_TO_ACTION_SCHEDULE_NOW",
              "CALL_TO_ACTION_BUY_NOW",
              "CALL_TO_ACTION_DONATE_NOW",
              "CALL_TO_ACTION_ORDER_NOW",
              "CALL_TO_ACTION_PLAY_NOW",
              "CALL_TO_ACTION_SEE_MORE",
              "CALL_TO_ACTION_START_NOW",
              "CALL_TO_ACTION_VISIT_SITE",
              "CALL_TO_ACTION_WATCH_NOW"
            ]
          },
          "type": "array"
        },
        "businessLogoCreativeIds": {
          "type": "array",
          "description": "Optional. The IDs of the creatives to use for the business logo. Currently only one creative is supported.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "descriptions": {
          "type": "array",
          "description": "Optional. The descriptions. Currently only one description is supported.",
          "items": {
            "type": "string"
          }
        },
        "longHeadlines": {
          "description": "Optional. The long headlines. Currently only one long headline is supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "headlines": {
          "type": "array",
          "description": "Optional. The headlines associated with the call to actions. Currently only one headline is supported.",
          "items": {
            "type": "string"
          }
        },
        "businessName": {
          "description": "Optional. The business name.",
          "type": "string"
        }
      },
      "id": "YoutubeSettings",
      "description": "Contains the YouTube settings.",
      "type": "object"
    },
    "CrossMediaReachReportCompatibleFields": {
      "id": "CrossMediaReachReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossMediaReachReportCompatibleFields.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompanionClickThroughOverride": {
      "type": "object",
      "id": "CompanionClickThroughOverride",
      "description": "Companion Click-through override.",
      "properties": {
        "creativeId": {
          "format": "int64",
          "description": "ID of the creative for this companion click-through override.",
          "type": "string"
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of this companion click-through override."
        }
      }
    },
    "Ad": {
      "properties": {
        "defaultClickThroughEventTagProperties": {
          "description": "Default click-through event tag properties for this ad.",
          "$ref": "DefaultClickThroughEventTagProperties"
        },
        "audienceSegmentId": {
          "type": "string",
          "description": "Audience segment ID that is being targeted for this ad. Applicable when type is AD_SERVING_STANDARD_AD.",
          "format": "int64"
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "remarketingListExpression": {
          "description": "Remarketing list targeting expression for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "ListTargetingExpression"
        },
        "dynamicClickTracker": {
          "type": "boolean",
          "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert."
        },
        "accountId": {
          "description": "Account ID of this ad. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "size": {
          "description": "Size of this ad. Applicable when type is AD_SERVING_DEFAULT_AD.",
          "$ref": "Size"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL for this ad. This is a required field on insertion. Applicable when type is AD_SERVING_CLICK_TRACKER."
        },
        "creativeGroupAssignments": {
          "type": "array",
          "description": "Creative group assignments for this ad. Applicable when type is AD_SERVING_CLICK_TRACKER. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "items": {
            "$ref": "CreativeGroupAssignment"
          }
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this ad. This is a read-only, auto-generated field."
        },
        "keyValueTargetingExpression": {
          "$ref": "KeyValueTargetingExpression",
          "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "sslRequired": {
          "description": "Whether this ad requires ssl. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "compatibility": {
          "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard.",
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "type": "string"
        },
        "targetingTemplateId": {
          "type": "string",
          "format": "int64",
          "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology platform targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "id": {
          "format": "int64",
          "description": "ID of this ad. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "type": {
          "description": "Type of ad. This is a required field on insertion. Note that default ads ( AD_SERVING_DEFAULT_AD) cannot be created directly (see Creative resource).",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_SERVING_STANDARD_AD",
            "AD_SERVING_DEFAULT_AD",
            "AD_SERVING_CLICK_TRACKER",
            "AD_SERVING_TRACKING",
            "AD_SERVING_BRAND_SAFE_AD"
          ],
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ad\"."
        },
        "advertiserId": {
          "description": "Advertiser ID of this ad. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "eventTagOverrides": {
          "type": "array",
          "description": "Event tag overrides for this ad.",
          "items": {
            "$ref": "EventTagOverride"
          }
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this ad. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "placementAssignments": {
          "description": "Placement assignments for this ad.",
          "items": {
            "$ref": "PlacementAssignment"
          },
          "type": "array"
        },
        "comments": {
          "description": "Comments for this ad.",
          "type": "string"
        },
        "name": {
          "description": "Name of this ad. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting information for this ad.",
          "$ref": "ContextualKeywordTargeting"
        },
        "createInfo": {
          "description": "Information about the creation of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "dayPartTargeting": {
          "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "DayPartTargeting"
        },
        "creativeRotation": {
          "$ref": "CreativeRotation",
          "description": "Creative rotation for this ad. Applicable when type is AD_SERVING_DEFAULT_AD, AD_SERVING_STANDARD_AD, or AD_SERVING_TRACKING. When type is AD_SERVING_DEFAULT_AD, this field should have exactly one creativeAssignment ."
        },
        "languageTargeting": {
          "description": "Language targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "LanguageTargeting"
        },
        "deliverySchedule": {
          "$ref": "DeliverySchedule",
          "description": "Delivery schedule information for this ad. Applicable when type is AD_SERVING_STANDARD_AD or AD_SERVING_TRACKING. This field along with subfields priority and impressionRatio are required on insertion when type is AD_SERVING_STANDARD_AD."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "geoTargeting": {
          "description": "Geographical targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD.",
          "$ref": "GeoTargeting"
        },
        "campaignId": {
          "description": "Campaign ID of this ad. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "active": {
          "description": "Whether this ad is active. When true, archived must be false.",
          "type": "boolean"
        },
        "archived": {
          "type": "boolean",
          "description": "Whether this ad is archived. When true, active must be false."
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        }
      },
      "id": "Ad",
      "description": "Contains properties of a Campaign Manager ad.",
      "type": "object"
    },
    "MobileAppsListResponse": {
      "type": "object",
      "properties": {
        "mobileApps": {
          "description": "Mobile apps collection.",
          "items": {
            "$ref": "MobileApp"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\"."
        }
      },
      "id": "MobileAppsListResponse",
      "description": "Mobile app List Response"
    },
    "BillingAssignment": {
      "id": "BillingAssignment",
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\"."
        },
        "advertiserId": {
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign"
        },
        "accountId": {
          "type": "string",
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeepLink": {
      "type": "object",
      "id": "DeepLink",
      "description": "Contains information about a landing page deep link.",
      "properties": {
        "fallbackUrl": {
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed.",
          "type": "string"
        },
        "remarketingListIds": {
          "type": "array",
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "appUrl": {
          "type": "string",
          "description": "The URL of the mobile app being linked to."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\"."
        },
        "mobileApp": {
          "description": "The mobile app targeted by this deep link.",
          "$ref": "MobileApp"
        }
      }
    },
    "CompatibleFields": {
      "id": "CompatibleFields",
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10",
      "properties": {
        "crossMediaReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
          "$ref": "CrossMediaReachReportCompatibleFields"
        },
        "reachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\".",
          "$ref": "ReachReportCompatibleFields"
        },
        "crossDimensionReachReportCompatibleFields": {
          "$ref": "CrossDimensionReachReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\"."
        },
        "reportCompatibleFields": {
          "$ref": "ReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\"."
        },
        "pathToConversionReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
          "$ref": "PathToConversionReportCompatibleFields"
        },
        "floodlightReportCompatibleFields": {
          "$ref": "FloodlightReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\"."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields."
        }
      },
      "type": "object"
    },
    "AdvertiserGroup": {
      "id": "AdvertiserGroup",
      "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account."
        },
        "accountId": {
          "description": "Account ID of this advertiser group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this advertiser group. This is a read-only, auto-generated field."
        }
      },
      "type": "object"
    },
    "UserRolePermissionsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\"."
        },
        "userRolePermissions": {
          "description": "User role permission collection.",
          "items": {
            "$ref": "UserRolePermission"
          },
          "type": "array"
        }
      },
      "id": "UserRolePermissionsListResponse",
      "description": "User Role Permission List Response"
    },
    "Rule": {
      "properties": {
        "targetingTemplateId": {
          "format": "int64",
          "description": "A targeting template ID. The targeting from the targeting template will be used to determine whether this asset should be served. This is a required field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A user-friendly name for this rule. This is a required field."
        },
        "assetId": {
          "description": "A creativeAssets[].id. This should refer to one of the parent assets in this creative. This is a required field.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Rule",
      "description": "A rule associates an asset with a targeting template for asset-level targeting. Applicable to INSTREAM_VIDEO creatives.",
      "type": "object"
    },
    "ConversionsBatchInsertResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "array",
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted.",
          "items": {
            "$ref": "ConversionStatus"
          }
        },
        "hasFailures": {
          "type": "boolean",
          "description": "Indicates that some or all conversions failed to insert."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\".",
          "type": "string"
        }
      },
      "id": "ConversionsBatchInsertResponse",
      "description": "Insert Conversions Response."
    },
    "OrderContact": {
      "id": "OrderContact",
      "description": "Contact of an order.",
      "properties": {
        "signatureUserProfileId": {
          "description": "ID of the user profile containing the signature that will be embedded into order documents.",
          "format": "int64",
          "type": "string"
        },
        "contactTitle": {
          "type": "string",
          "description": "Title of this contact."
        },
        "contactInfo": {
          "type": "string",
          "description": "Free-form information about this contact. It could be any information related to this contact in addition to type, title, name, and signature user profile ID."
        },
        "contactType": {
          "description": "Type of this contact.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLANNING_ORDER_CONTACT_BUYER_CONTACT",
            "PLANNING_ORDER_CONTACT_BUYER_BILLING_CONTACT",
            "PLANNING_ORDER_CONTACT_SELLER_CONTACT"
          ],
          "type": "string"
        },
        "contactName": {
          "type": "string",
          "description": "Name of this contact."
        }
      },
      "type": "object"
    },
    "ChangeLogsListResponse": {
      "id": "ChangeLogsListResponse",
      "description": "Change Log List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
          "type": "string"
        },
        "changeLogs": {
          "type": "array",
          "description": "Change log collection.",
          "items": {
            "$ref": "ChangeLog"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SubaccountsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\"."
        },
        "subaccounts": {
          "type": "array",
          "description": "Subaccount collection.",
          "items": {
            "$ref": "Subaccount"
          }
        }
      },
      "id": "SubaccountsListResponse",
      "description": "Subaccount List Response",
      "type": "object"
    },
    "FsCommand": {
      "properties": {
        "windowHeight": {
          "type": "integer",
          "description": "Height of the window.",
          "format": "int32"
        },
        "windowWidth": {
          "description": "Width of the window.",
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "type": "integer",
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32"
        },
        "positionOption": {
          "type": "string",
          "description": "Position in the browser where the window will open.",
          "enumDescriptions": [
            "Center of the window Corresponds to \"center\" in UI",
            "user-defined distance from top left-hand corner of the window Corresponds to \"top-left\" in UI"
          ],
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ]
        },
        "left": {
          "type": "integer",
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32"
        }
      },
      "id": "FsCommand",
      "description": "FsCommand.",
      "type": "object"
    },
    "ChangeLog": {
      "type": "object",
      "properties": {
        "userProfileName": {
          "type": "string",
          "description": "User profile name of the user who modified the object."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of the modified object."
        },
        "userProfileId": {
          "description": "ID of the user who modified the object.",
          "format": "int64",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "New value of the object field."
        },
        "subaccountId": {
          "description": "Subaccount ID of the modified object.",
          "format": "int64",
          "type": "string"
        },
        "objectId": {
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "format": "int64",
          "type": "string"
        },
        "objectType": {
          "description": "Object type of the change log.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\"."
        },
        "changeTime": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this change log."
        },
        "transactionId": {
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "format": "int64",
          "type": "string"
        },
        "oldValue": {
          "type": "string",
          "description": "Old value of the object field."
        },
        "action": {
          "type": "string",
          "description": "Action which caused the change."
        },
        "fieldName": {
          "type": "string",
          "description": "Field name of the object which changed."
        }
      },
      "id": "ChangeLog",
      "description": "Describes a change that a user has made to a resource."
    },
    "CitiesListResponse": {
      "type": "object",
      "id": "CitiesListResponse",
      "description": "City List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\"."
        },
        "cities": {
          "type": "array",
          "description": "City collection.",
          "items": {
            "$ref": "City"
          }
        }
      }
    },
    "PlatformTypesListResponse": {
      "type": "object",
      "id": "PlatformTypesListResponse",
      "description": "Platform Type List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformTypesListResponse\"."
        },
        "platformTypes": {
          "description": "Platform type collection.",
          "items": {
            "$ref": "PlatformType"
          },
          "type": "array"
        }
      }
    },
    "DimensionValue": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID associated with the value if available.",
          "type": "string"
        },
        "matchType": {
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ],
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the dimension."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue."
        }
      },
      "id": "DimensionValue",
      "description": "Represents a DimensionValue resource."
    },
    "FloodlightActivity": {
      "id": "FloodlightActivity",
      "description": "Contains properties of a Floodlight activity.",
      "properties": {
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "floodlightTagType": {
          "description": "The type of Floodlight tag this activity will generate. This is a required field.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "IFRAME",
            "IMAGE",
            "GLOBAL_SITE_TAG"
          ],
          "type": "string"
        },
        "publisherTags": {
          "type": "array",
          "description": "Publisher dynamic floodlight tags.",
          "items": {
            "$ref": "FloodlightActivityPublisherDynamicTag"
          }
        },
        "floodlightActivityGroupName": {
          "description": "Name of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "tagString": {
          "description": "Value of the cat= parameter in the floodlight tag, which the ad servers use to identify the activity. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activities of the same activity group. This field is read-only after insertion.",
          "type": "string"
        },
        "floodlightActivityGroupId": {
          "format": "int64",
          "description": "Floodlight activity group ID of this floodlight activity. This is a required field.",
          "type": "string"
        },
        "countingMethod": {
          "description": "Counting method for conversions for this floodlight activity. This is a required field.",
          "enumDescriptions": [
            "Count every conversion.",
            "Count the first conversion for each unique user during each 24-hour day, from midnight to midnight, Eastern Time.",
            "Count one conversion per user per session. Session length is set by the site where the Spotlight tag is deployed.",
            "Count all conversions, plus the total number of sales that take place and the total revenue for these transactions.",
            "Count each conversion, plus the total number of items sold and the total revenue for these sales."
          ],
          "enum": [
            "STANDARD_COUNTING",
            "UNIQUE_COUNTING",
            "SESSION_COUNTING",
            "TRANSACTIONS_COUNTING",
            "ITEMS_SOLD_COUNTING"
          ],
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status of the activity. This can only be set to ACTIVE or ARCHIVED_AND_DISABLED. The ARCHIVED status is no longer supported and cannot be set for Floodlight activities. The DISABLED_POLICY status indicates that a Floodlight activity is violating Google policy. Contact your account manager for more information.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ACTIVE",
            "ARCHIVED_AND_DISABLED",
            "ARCHIVED",
            "DISABLED_POLICY"
          ]
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's advertiser or the existing activity's advertiser.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivity\".",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "secure": {
          "description": "Whether this tag should use SSL.",
          "type": "boolean"
        },
        "sslCompliant": {
          "description": "Whether the floodlight activity is SSL-compliant. This is a read-only field, its value detected by the system from the floodlight tags.",
          "type": "boolean"
        },
        "floodlightActivityGroupTagString": {
          "type": "string",
          "description": "Tag string of the associated floodlight activity group. This is a read-only field."
        },
        "name": {
          "description": "Name of this floodlight activity. This is a required field. Must be less than 129 characters long and cannot contain quotes.",
          "type": "string"
        },
        "cacheBustingType": {
          "description": "Code type used for cache busting in the generated tag. Applicable only when floodlightActivityGroupType is COUNTER and countingMethod is STANDARD_COUNTING or UNIQUE_COUNTING.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JAVASCRIPT",
            "ACTIVE_SERVER_PAGE",
            "JSP",
            "PHP",
            "COLD_FUSION"
          ],
          "type": "string"
        },
        "tagFormat": {
          "description": "Tag format type for the floodlight activity. If left blank, the tag format will default to HTML.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "HTML",
            "XHTML"
          ],
          "type": "string"
        },
        "defaultTags": {
          "type": "array",
          "description": "Dynamic floodlight tags.",
          "items": {
            "$ref": "FloodlightActivityDynamicTag"
          }
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight configuration ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's floodlight configuration or from the existing activity's floodlight configuration.",
          "type": "string"
        },
        "floodlightActivityGroupType": {
          "type": "string",
          "description": "Type of the associated floodlight activity group. This is a read-only field.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "sslRequired": {
          "type": "boolean",
          "description": "Whether this floodlight activity must be SSL-compliant."
        },
        "id": {
          "type": "string",
          "description": "ID of this floodlight activity. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "attributionEnabled": {
          "description": "Whether the activity is enabled for attribution.",
          "type": "boolean"
        },
        "notes": {
          "type": "string",
          "description": "General notes or implementation instructions for the tag."
        },
        "floodlightConfigurationIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field."
        },
        "expectedUrl": {
          "description": "URL where this tag will be deployed. If specified, must be less than 256 characters long.",
          "type": "string"
        },
        "userDefinedVariableTypes": {
          "description": "List of the user-defined variables used by this conversion tag. These map to the \"u[1-100]=\" in the tags. Each of these can have a user defined type. Acceptable values are U1 to U100, inclusive. ",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "U1",
              "U2",
              "U3",
              "U4",
              "U5",
              "U6",
              "U7",
              "U8",
              "U9",
              "U10",
              "U11",
              "U12",
              "U13",
              "U14",
              "U15",
              "U16",
              "U17",
              "U18",
              "U19",
              "U20",
              "U21",
              "U22",
              "U23",
              "U24",
              "U25",
              "U26",
              "U27",
              "U28",
              "U29",
              "U30",
              "U31",
              "U32",
              "U33",
              "U34",
              "U35",
              "U36",
              "U37",
              "U38",
              "U39",
              "U40",
              "U41",
              "U42",
              "U43",
              "U44",
              "U45",
              "U46",
              "U47",
              "U48",
              "U49",
              "U50",
              "U51",
              "U52",
              "U53",
              "U54",
              "U55",
              "U56",
              "U57",
              "U58",
              "U59",
              "U60",
              "U61",
              "U62",
              "U63",
              "U64",
              "U65",
              "U66",
              "U67",
              "U68",
              "U69",
              "U70",
              "U71",
              "U72",
              "U73",
              "U74",
              "U75",
              "U76",
              "U77",
              "U78",
              "U79",
              "U80",
              "U81",
              "U82",
              "U83",
              "U84",
              "U85",
              "U86",
              "U87",
              "U88",
              "U89",
              "U90",
              "U91",
              "U92",
              "U93",
              "U94",
              "U95",
              "U96",
              "U97",
              "U98",
              "U99",
              "U100"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this floodlight activity. This is a read-only field that can be left blank."
        }
      },
      "type": "object"
    },
    "Pricing": {
      "id": "Pricing",
      "properties": {
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "pricingType": {
          "type": "string",
          "description": "Pricing type of this inventory item.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLANNING_PLACEMENT_PRICING_TYPE_IMPRESSIONS",
            "PLANNING_PLACEMENT_PRICING_TYPE_CPM",
            "PLANNING_PLACEMENT_PRICING_TYPE_CLICKS",
            "PLANNING_PLACEMENT_PRICING_TYPE_CPC",
            "PLANNING_PLACEMENT_PRICING_TYPE_CPA",
            "PLANNING_PLACEMENT_PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PLANNING_PLACEMENT_PRICING_TYPE_FLAT_RATE_CLICKS",
            "PLANNING_PLACEMENT_PRICING_TYPE_CPM_ACTIVEVIEW"
          ]
        },
        "groupType": {
          "description": "Group type of this inventory item if it represents a placement group. Is null otherwise. There are two type of placement groups: PLANNING_PLACEMENT_GROUP_TYPE_PACKAGE is a simple group of inventory items that acts as a single pricing point for a group of tags. PLANNING_PLACEMENT_GROUP_TYPE_ROADBLOCK is a group of inventory items that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned inventory items to be marked as primary.",
          "enumDescriptions": [
            "A placement package represents \"package pricing\": Pricing and flight information is defined on the package, not on its child placements. The placements in a package do not need to be on the same page.",
            "A roadblock represents a set of placements that are all the same page. One of the child placements is designated as the \"primary\" placement for reporting purposes."
          ],
          "enum": [
            "PLANNING_PLACEMENT_GROUP_TYPE_PACKAGE",
            "PLANNING_PLACEMENT_GROUP_TYPE_ROADBLOCK"
          ],
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "capCostType": {
          "type": "string",
          "description": "Cap cost type of this inventory item.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLANNING_PLACEMENT_CAP_COST_TYPE_NONE",
            "PLANNING_PLACEMENT_CAP_COST_TYPE_MONTHLY",
            "PLANNING_PLACEMENT_CAP_COST_TYPE_CUMULATIVE"
          ]
        },
        "flights": {
          "type": "array",
          "description": "Flights of this inventory item. A flight (a.k.a. pricing period) represents the inventory item pricing information for a specific period of time.",
          "items": {
            "$ref": "Flight"
          }
        }
      },
      "type": "object"
    },
    "StudioCreative": {
      "properties": {
        "studioAdvertiserId": {
          "description": "Studio advertiser ID of this studio creative. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "The status of the studio creative is unknown. This value is unused.",
            "The creative is still being developed.",
            "The creative has been published and is ready for QA.",
            "The creative has failed QA and must be corrected.",
            "The creative has passed QA and is ready to be trafficked.",
            "The creative has been trafficked to an adserver."
          ],
          "enum": [
            "UNKNOWN_STATUS",
            "IN_DEVELOPMENT",
            "PUBLISHED",
            "QA_REJECTED",
            "QA_APPROVED",
            "TRAFFICKED"
          ],
          "description": "Output only. Status of this studio creative. It is a read-only field.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Unique ID of this studio creative. This is a read-only, auto-generated field.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "createdInfo": {
          "$ref": "LastModifiedInfo",
          "description": "The timestamp when the studio creative was created. This is a read-only, auto-generated field."
        },
        "backupImageAssetId": {
          "description": "Backup image asset ID of this studio creative. It is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "studioAccountId": {
          "type": "string",
          "description": "Studio account ID of this creative. This field, if left unset, will be auto-populated.",
          "format": "int64"
        },
        "assetIds": {
          "description": "List of assets associated with this studio creative. It is a required field on insertion.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "format": {
          "description": "Format of this studio creative. This is a required field on insertion.",
          "enumDescriptions": [
            "The format of the studio creative is unknown. This value is unused.",
            "Banner format.",
            "Expanding format.",
            "Intertitial format.",
            "VPAID linear video creative format."
          ],
          "enum": [
            "UNKNOWN",
            "BANNER",
            "EXPANDING",
            "INTERSTITIAL",
            "VPAID_LINEAR_VIDEO"
          ],
          "type": "string"
        },
        "dynamicProfileId": {
          "type": "string",
          "format": "int64",
          "description": "Dynamic profile ID of this studio creative."
        },
        "lastModifiedInfo": {
          "description": "The timestamp when the studio creative was last modified. This is a read-only, auto-generated field.",
          "$ref": "LastModifiedInfo"
        },
        "name": {
          "description": "Identifier. Name of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "studioCampaignId": {
          "type": "string",
          "description": "Studio campaign ID of this studio creative. This is a required field on insertion.",
          "format": "int64"
        },
        "dimension": {
          "$ref": "StudioCreativeDimension",
          "description": "Dimension of this studio creative. This is a required field on insertion if format is BANNER or EXPANDING."
        }
      },
      "id": "StudioCreative",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative information.",
      "type": "object"
    },
    "KeyValueTargetingExpression": {
      "id": "KeyValueTargetingExpression",
      "description": "Key Value Targeting Expression.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Keyword expression being targeted by the ad."
        }
      },
      "type": "object"
    },
    "TagSettings": {
      "id": "TagSettings",
      "description": "Dynamic and Image Tag Settings.",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "description": "Whether image tags are enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PlacementStrategy": {
      "id": "PlacementStrategy",
      "description": "Contains properties of a placement strategy.",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank."
        }
      },
      "type": "object"
    },
    "Metro": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this metro region belongs.",
          "format": "int64"
        },
        "dartId": {
          "type": "string",
          "description": "DART ID of this metro region.",
          "format": "int64"
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "dmaId": {
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "format": "int64",
          "type": "string"
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this metro region belongs."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\"."
        }
      },
      "id": "Metro",
      "description": "Contains information about a metro region that can be targeted by ads."
    },
    "DfpSettings": {
      "id": "DfpSettings",
      "description": "Google Ad Manager Settings",
      "properties": {
        "publisherPortalOnly": {
          "type": "boolean",
          "description": "Whether this directory site is available only via Publisher Portal."
        },
        "pubPaidPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this directory site accepts publisher-paid tags."
        },
        "dfpNetworkCode": {
          "description": "Ad Manager network code for this directory site.",
          "type": "string"
        },
        "programmaticPlacementAccepted": {
          "description": "Whether this directory site accepts programmatic placements.",
          "type": "boolean"
        },
        "dfpNetworkName": {
          "description": "Ad Manager network name for this directory site.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreativeAssetId": {
      "id": "CreativeAssetId",
      "description": "Creative Asset ID.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of asset to upload. This is a required field. FLASH and IMAGE are no longer supported for new uploads. All image assets should use HTML_IMAGE.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE",
            "FLASH",
            "VIDEO",
            "HTML",
            "HTML_IMAGE",
            "AUDIO"
          ]
        },
        "name": {
          "description": "Name of the creative asset. This is a required field while inserting an asset. After insertion, this assetIdentifier is used to identify the uploaded asset. Characters in the name must be alphanumeric or one of the following: \".-_ \". Spaces are allowed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreativeGroupsListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "creativeGroups": {
          "description": "Creative group collection.",
          "items": {
            "$ref": "CreativeGroup"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroupsListResponse\"."
        }
      },
      "id": "CreativeGroupsListResponse",
      "description": "Creative Group List Response"
    },
    "SkippableSetting": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#skippableSetting\"."
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play videos served to this placement before the skip button should appear. Applicable when skippable is true."
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play videos served to this placement before counting a view. Applicable when skippable is true."
        },
        "skippable": {
          "description": "Whether the user can skip creatives served to this placement.",
          "type": "boolean"
        }
      },
      "id": "SkippableSetting",
      "description": "Skippable Settings"
    },
    "UserRole": {
      "type": "object",
      "id": "UserRole",
      "description": "Contains properties of auser role, which is used to manage user access.",
      "properties": {
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank."
        },
        "id": {
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank."
        },
        "permissions": {
          "description": "List of permissions associated with this user role.",
          "items": {
            "$ref": "UserRolePermission"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\"."
        },
        "defaultUserRole": {
          "type": "boolean",
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions."
        },
        "parentUserRoleId": {
          "format": "int64",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field.",
          "type": "string"
        }
      }
    },
    "VideoFormat": {
      "type": "object",
      "id": "VideoFormat",
      "description": "Contains information about supported video formats.",
      "properties": {
        "id": {
          "type": "integer",
          "description": "ID of the video format.",
          "format": "int32"
        },
        "targetBitRate": {
          "description": "The target bit rate of this video format.",
          "format": "int32",
          "type": "integer"
        },
        "fileType": {
          "description": "File type of the video format.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "type": "string"
        },
        "resolution": {
          "$ref": "Size",
          "description": "The resolution of this video format."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        }
      }
    },
    "SiteVideoSettings": {
      "properties": {
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "ObaIcon"
        },
        "companionSettings": {
          "$ref": "SiteCompanionSetting",
          "description": "Settings for the companion creatives of video creatives served to this site."
        },
        "skippableSettings": {
          "$ref": "SiteSkippableSetting",
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "orientation": {
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\"."
        },
        "transcodeSettings": {
          "$ref": "SiteTranscodeSetting",
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        },
        "publisherSpecificationId": {
          "type": "string",
[...]
