{
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "protocol": "rest",
  "basePath": "/dfareporting/v5/",
  "name": "dfareporting",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "id": "dfareporting:v5",
  "title": "Campaign Manager 360 API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "servicePath": "dfareporting/v5/",
  "fullyEncodeReservedExpansion": true,
  "version": "v5",
  "revision": "20260310",
  "kind": "discovery#restDescription",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "resources": {
    "advertisers": {
      "methods": {
        "patch": {
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Required. Advertiser ID.",
              "location": "query",
              "format": "int64"
            }
          },
          "id": "dfareporting.advertisers.patch",
          "request": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/advertisers/{+id}",
          "response": {
            "$ref": "Advertiser"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertisers.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Advertiser ID.",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets one advertiser by ID."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "id": "dfareporting.advertisers.list",
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "parameters": {
            "floodlightConfigurationIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only advertisers with these floodlight configuration IDs.",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer"
            },
            "advertiserGroupIds": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only advertisers with these advertiser group IDs.",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING"
            },
            "status": {
              "type": "string",
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "description": "Select only advertisers with the specified status.",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "location": "query",
              "type": "string"
            },
            "onlyParent": {
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "location": "query",
              "type": "boolean"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID"
            },
            "subaccountId": {
              "description": "Select only advertisers with these subaccount IDs.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "location": "query",
              "type": "boolean"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "description": "Select only advertisers with these IDs.",
              "location": "query",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "AdvertisersListResponse"
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing advertiser.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "id": "dfareporting.advertisers.update"
        },
        "insert": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "description": "Inserts a new advertiser.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertisers.insert",
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}",
          "response": {
            "$ref": "UserProfile"
          },
          "id": "dfareporting.userProfiles.get",
          "flatPath": "userprofiles/{profileId}",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "The user profile ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets one user profile by ID."
        },
        "list": {
          "path": "userprofiles",
          "response": {
            "$ref": "UserProfileList"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Retrieves list of user profiles for a user.",
          "parameters": {},
          "id": "dfareporting.userProfiles.list",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles"
        }
      }
    },
    "dynamicFeeds": {
      "methods": {
        "update": {
          "parameterOrder": [],
          "httpMethod": "PUT",
          "path": "studio/dynamicFeeds",
          "response": {
            "$ref": "DynamicFeed"
          },
          "id": "dfareporting.dynamicFeeds.update",
          "request": {
            "$ref": "DynamicFeed"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicFeeds",
          "description": "Updates a new dynamic feed. For draft feeds, only Element can be updated. For published feeds, only FeedSchedule can be updated. Other fields will be ignored.",
          "parameters": {}
        },
        "get": {
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicFeeds.get",
          "parameters": {
            "dynamicFeedId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Required. Dynamic feed ID.",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets a dynamic feed by ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "path": "studio/dynamicFeeds/{+dynamicFeedId}",
          "response": {
            "$ref": "DynamicFeed"
          }
        },
        "insert": {
          "description": "Inserts a new dynamic feed.",
          "parameters": {},
          "request": {
            "$ref": "DynamicFeedsInsertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicFeeds",
          "id": "dfareporting.dynamicFeeds.insert",
          "path": "studio/dynamicFeeds",
          "response": {
            "$ref": "DynamicFeed"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "retransform": {
          "id": "dfareporting.dynamicFeeds.retransform",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicFeeds/{dynamicFeedsId}/retransform",
          "description": "Retransforms a dynamic feed. Only draft feeds can be retransformed (i.e. the feed has not been published).",
          "parameters": {
            "dynamicFeedId": {
              "description": "Required. Dynamic feed ID.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "dynamicFeedId"
          ],
          "httpMethod": "POST",
          "path": "studio/dynamicFeeds/{+dynamicFeedId}/retransform",
          "response": {
            "$ref": "DynamicFeed"
          }
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "campaignId": {
              "required": true,
              "description": "Campaign ID in this association.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "response": {
            "$ref": "CampaignCreativeAssociation"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "parameters": {
            "campaignId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Campaign ID in this association.",
              "location": "path",
              "format": "int64"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaignCreativeAssociations.list"
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "billingProfileId": {
              "format": "int64",
              "required": true,
              "description": "Billing profile ID of this billing rate.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingRates.list"
        }
      }
    },
    "dynamicTargetingKeys": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.list",
          "description": "Retrieves a list of dynamic targeting keys.",
          "parameters": {
            "objectId": {
              "format": "int64",
              "description": "Select only dynamic targeting keys with this object ID.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "names": {
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "location": "query",
              "type": "string"
            },
            "objectType": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "description": "Select only dynamic targeting keys with this object type.",
              "location": "query",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ]
            },
            "advertiserId": {
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "insert": {
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "id": "dfareporting.dynamicTargetingKeys.insert",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "objectId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "location": "path",
              "required": true
            },
            "name": {
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "objectType": {
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field.",
              "location": "query",
              "required": true,
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            }
          },
          "description": "Deletes an existing dynamic targeting key."
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging.",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "description": "Select only advertiser groups with these IDs.",
              "location": "query",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "id": "dfareporting.advertiserGroups.list"
        },
        "update": {
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "id": "dfareporting.advertiserGroups.update",
          "description": "Updates an existing advertiser group.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          }
        },
        "delete": {
          "id": "dfareporting.advertiserGroups.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "httpMethod": "DELETE",
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "description": "Deletes an existing advertiser group.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "description": "Advertiser group ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserGroups.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Inserts a new advertiser group.",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          }
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserGroups.patch",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "required": true,
              "description": "Required. Advertiser Group ID.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates an existing advertiser group. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "response": {
            "$ref": "AdvertiserGroup"
          }
        },
        "get": {
          "id": "dfareporting.advertiserGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "description": "Gets one advertiser group by ID.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "format": "int64",
              "description": "Advertiser group ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "response": {
            "$ref": "AdvertiserGroup"
          }
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "id": "dfareporting.accountActiveAdSummaries.get",
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "summaryAccountId": {
              "format": "int64",
              "description": "Account ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Gets the account's active ad summary by account ID."
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "get": {
          "description": "Gets a dynamic profile by ID.",
          "parameters": {
            "dynamicProfileId": {
              "format": "int64",
              "required": true,
              "description": "Required. Dynamic profile ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "id": "dfareporting.dynamicProfiles.get",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "response": {
            "$ref": "DynamicProfile"
          },
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "GET"
        },
        "generateCode": {
          "parameters": {
            "dynamicProfileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. Dynamic profile ID.",
              "location": "path"
            }
          },
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "id": "dfareporting.dynamicProfiles.generateCode",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "dynamicProfileId"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [],
          "path": "studio/dynamicProfiles",
          "response": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.update",
          "flatPath": "studio/dynamicProfiles",
          "request": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {},
          "description": "Updates an existing dynamic profile."
        },
        "insert": {
          "description": "Inserts a new dynamic profile.",
          "parameters": {},
          "request": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles",
          "id": "dfareporting.dynamicProfiles.insert",
          "path": "studio/dynamicProfiles",
          "response": {
            "$ref": "DynamicProfile"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "publish": {
          "id": "dfareporting.dynamicProfiles.publish",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "httpMethod": "POST",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. Dynamic profile ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Publish for a dynamic profile."
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets a list of all supported user role permission groups.",
          "id": "dfareporting.userRolePermissionGroups.list",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "format": "int64",
              "description": "User role permission group ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Gets one user role permission group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRolePermissionGroups.get",
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "parameters": {
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only placement strategies with these IDs.",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "id": "dfareporting.placementStrategies.list"
        },
        "update": {
          "description": "Updates an existing placement strategy.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "id": "dfareporting.placementStrategies.update",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT"
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "request": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.insert",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Inserts a new placement strategy."
        },
        "delete": {
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "description": "Deletes an existing placement strategy.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Placement strategy ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "id": "dfareporting.placementStrategies.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "httpMethod": "DELETE"
        },
        "get": {
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "required": true,
              "description": "Placement strategy ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Gets one placement strategy by ID.",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.get"
        },
        "patch": {
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "description": "Required. PlacementStrategy ID.",
              "location": "query",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "request": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "id": "dfareporting.placementStrategies.patch",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH"
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "insert": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Inserts a new landing page.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "request": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserLandingPages.insert",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "response": {
            "$ref": "LandingPage"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "id": "dfareporting.advertiserLandingPages.list",
          "description": "Retrieves a list of landing pages.",
          "parameters": {
            "subaccountId": {
              "description": "Select only landing pages that belong to this subaccount.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "advertiserIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only landing pages that belong to these advertisers.",
              "location": "query",
              "format": "int64"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only landing pages with these IDs.",
              "location": "query"
            },
            "archived": {
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.",
              "location": "query",
              "type": "boolean"
            },
            "searchString": {
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\".",
              "location": "query",
              "type": "string"
            },
            "campaignIds": {
              "format": "int64",
              "description": "Select only landing pages that are associated with these campaigns.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          }
        },
        "update": {
          "id": "dfareporting.advertiserLandingPages.update",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "request": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates an existing landing page.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "response": {
            "$ref": "LandingPage"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "response": {
            "$ref": "LandingPage"
          },
          "id": "dfareporting.advertiserLandingPages.patch",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "request": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. Landing Page ID.",
              "location": "query"
            }
          },
          "description": "Updates an existing landing page. This method supports patch semantics."
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}",
          "response": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}",
          "id": "dfareporting.advertiserLandingPages.get",
          "description": "Gets one landing page by ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Landing page ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          }
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/metros",
          "response": {
            "$ref": "MetrosListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/metros",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.metros.list",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "description": "Retrieves a list of metros."
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}",
          "response": {
            "$ref": "OperatingSystem"
          },
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "httpMethod": "GET",
          "description": "Gets one operating system by DART ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            },
            "dartId": {
              "required": true,
              "description": "Operating system DART ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.operatingSystems.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}"
        },
        "list": {
          "description": "Retrieves a list of operating systems.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems",
          "id": "dfareporting.operatingSystems.list",
          "path": "userprofiles/{+profileId}/operatingSystems",
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "id": "dfareporting.accountUserProfiles.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "description": "Gets one account user profile by ID.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "User profile ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          }
        },
        "patch": {
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Required. AccountUserProfile ID.",
              "location": "query",
              "required": true
            }
          },
          "request": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.patch"
        },
        "list": {
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "sortField": {
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query"
            },
            "userRoleId": {
              "format": "int64",
              "description": "Select only user profiles with the specified user role ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "location": "query",
              "default": "1000",
              "type": "integer"
            },
            "subaccountId": {
              "description": "Select only user profiles with the specified subaccount ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "description": "Select only user profiles with these IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "location": "query",
              "type": "string"
            },
            "active": {
              "description": "Select only active user profiles.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.list"
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.update",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Updates an existing account user profile."
        },
        "insert": {
          "id": "dfareporting.accountUserProfiles.insert",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Inserts a new account user profile.",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          }
        }
      }
    },
    "ads": {
      "methods": {
        "get": {
          "description": "Gets one ad by ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "required": true,
              "description": "Ad ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.ads.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "response": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Updates an existing ad. This method supports patch semantics.",
          "id": "dfareporting.ads.patch",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "request": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "Ad"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "request": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "id": "dfareporting.ads.insert",
          "description": "Inserts a new ad.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "Ad"
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.list",
          "parameters": {
            "creativeIds": {
              "format": "int64",
              "description": "Select only ads with these creative IDs assigned.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sizeIds": {
              "format": "int64",
              "description": "Select only ads with these size IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "dynamicClickTracker": {
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
              "location": "query",
              "type": "boolean"
            },
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "remarketingListIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "location": "query",
              "format": "int64"
            },
            "landingPageIds": {
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only ads with these landing page IDs.",
              "location": "query"
            },
            "sslCompliant": {
              "description": "Select only ads that are SSL-compliant.",
              "location": "query",
              "type": "boolean"
            },
            "sslRequired": {
              "description": "Select only ads that require SSL.",
              "location": "query",
              "type": "boolean"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "description": "Select only ads with these IDs.",
              "location": "query",
              "format": "int64"
            },
            "compatibility": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ]
            },
            "advertiserId": {
              "description": "Select only ads with this advertiser ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            },
            "audienceSegmentIds": {
              "format": "int64",
              "description": "Select only ads with these audience segment IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "overriddenEventTagId": {
              "description": "Select only ads with this event tag override ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "type": {
              "description": "Select only ads with these types.",
              "location": "query",
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "repeated": true
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING"
            },
            "campaignIds": {
              "description": "Select only ads with these campaign IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "placementIds": {
              "format": "int64",
              "description": "Select only ads with these placement IDs assigned.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query",
              "type": "string"
            },
            "active": {
              "description": "Select only active ads.",
              "location": "query",
              "type": "boolean"
            },
            "archived": {
              "description": "Select only archived ads.",
              "location": "query",
              "type": "boolean"
            },
            "creativeOptimizationConfigurationIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only ads with these creative optimization configuration IDs.",
              "location": "query",
              "format": "int64"
            }
          },
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "AdsListResponse"
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/ads",
          "response": {
            "$ref": "Ad"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Updates an existing ad.",
          "id": "dfareporting.ads.update",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "request": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "id": "dfareporting.remarketingListShares.patch",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "format": "int64"
            }
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates an existing remarketing list share.",
          "id": "dfareporting.remarketingListShares.update",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingListShares.get",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "remarketingListId": {
              "format": "int64",
              "required": true,
              "description": "Remarketing list ID.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Gets one remarketing list share by remarketing list ID."
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accountPermissionGroups/{+id}",
          "response": {
            "$ref": "AccountPermissionGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups/{accountPermissionGroupsId}",
          "id": "dfareporting.accountPermissionGroups.get",
          "description": "Gets one account permission group by ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "Account permission group ID.",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountPermissionGroups.list",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Retrieves the list of account permission groups.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/accountPermissionGroups",
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          }
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "list": {
          "id": "dfareporting.mobileCarriers.list",
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Retrieves a list of mobile carriers.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/mobileCarriers",
          "response": {
            "$ref": "MobileCarriersListResponse"
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/mobileCarriers/{+id}",
          "response": {
            "$ref": "MobileCarrier"
          },
          "id": "dfareporting.mobileCarriers.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers/{mobileCarriersId}",
          "description": "Gets one mobile carrier by ID.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Mobile carrier ID.",
              "location": "path",
              "format": "int64"
            }
          }
        }
      }
    },
    "userRoles": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "UserRole"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "id": "dfareporting.userRoles.patch",
          "description": "Updates an existing user role. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Required. UserRole ID.",
              "location": "query",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          }
        },
        "get": {
          "id": "dfareporting.userRoles.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "description": "Gets one user role by ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "id": {
              "description": "User role ID.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "response": {
            "$ref": "UserRole"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "id": "dfareporting.userRoles.list",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "parameters": {
            "ids": {
              "format": "int64",
              "description": "Select only user roles with the specified IDs.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "description": "Select only user roles that belong to this subaccount.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "accountUserRoleOnly": {
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "location": "query",
              "type": "boolean"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/userRoles",
          "response": {
            "$ref": "UserRolesListResponse"
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/userRoles",
          "response": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing user role.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "id": "dfareporting.userRoles.update",
          "request": {
            "$ref": "UserRole"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles"
        },
        "delete": {
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "description": "User role ID.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Deletes an existing user role.",
          "id": "dfareporting.userRoles.delete",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "httpMethod": "DELETE",
[...]
