{
  "id": "dfareporting:v4",
  "fullyEncodeReservedExpansion": true,
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "ownerDomain": "google.com",
  "servicePath": "dfareporting/v4/",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "version": "v4",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "title": "Campaign Manager 360 API",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "canonicalName": "Dfareporting",
  "basePath": "/dfareporting/v4/",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "revision": "20260310",
  "schemas": {
    "CustomRule": {
      "id": "CustomRule",
      "properties": {
        "ruleBlocks": {
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "type": "array",
          "items": {
            "$ref": "RuleBlock"
          }
        },
        "priority": {
          "description": "Optional. Priority of the custom rule.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Optional. Name of this custom rule.",
          "type": "string"
        }
      },
      "description": "Contains custom rule information.",
      "type": "object"
    },
    "StudioCreativeAssetsResponse": {
      "description": "Response message for DfareportingStudioCreativeAssets.Insert.",
      "type": "object",
      "id": "StudioCreativeAssetsResponse",
      "properties": {
        "assets": {
          "description": "The list of studio creative assets.",
          "type": "array",
          "items": {
            "$ref": "StudioCreativeAsset"
          }
        }
      }
    },
    "EventTagsListResponse": {
      "id": "EventTagsListResponse",
      "properties": {
        "eventTags": {
          "description": "Event tag collection.",
          "type": "array",
          "items": {
            "$ref": "EventTag"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\".",
          "type": "string"
        }
      },
      "description": "Event Tag List Response",
      "type": "object"
    },
    "CitiesListResponse": {
      "description": "City List Response",
      "type": "object",
      "id": "CitiesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
          "type": "string"
        },
        "cities": {
          "description": "City collection.",
          "type": "array",
          "items": {
            "$ref": "City"
          }
        }
      }
    },
    "SitesListResponse": {
      "id": "SitesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "sites": {
          "description": "Site collection.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        }
      },
      "description": "Site List Response",
      "type": "object"
    },
    "TvCampaignDetail": {
      "id": "TvCampaignDetail",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "timepoints": {
          "description": "The timepoints of the TV campaign.",
          "type": "array",
          "items": {
            "$ref": "TvCampaignTimepoint"
          }
        }
      },
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows.",
      "type": "object"
    },
    "ReportCompatibleFields": {
      "id": "ReportCompatibleFields",
      "properties": {
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "type": "object"
    },
    "ConnectionType": {
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users.",
      "type": "object",
      "id": "ConnectionType",
      "properties": {
        "name": {
          "description": "Name of this connection type.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this connection type.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CustomRichMediaEvents": {
      "id": "CustomRichMediaEvents",
      "properties": {
        "filteredEventIds": {
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
          "type": "string"
        }
      },
      "description": "Represents a Custom Rich Media Events group.",
      "type": "object"
    },
    "DynamicFeed": {
      "id": "DynamicFeed",
      "properties": {
        "status": {
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ]
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        },
        "feedIngestionStatus": {
          "readOnly": true,
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "$ref": "FeedIngestionStatus"
        },
        "hasPublished": {
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field.",
          "type": "boolean",
          "readOnly": true
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field.",
          "$ref": "LastModifiedInfo",
          "readOnly": true
        },
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "dynamicFeedId": {
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "studioAdvertiserId": {
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "element": {
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field.",
          "$ref": "Element"
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        }
      },
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "type": "object"
    },
    "TechnologyTargeting": {
      "description": "Technology Targeting.",
      "type": "object",
      "id": "TechnologyTargeting",
      "properties": {
        "browsers": {
          "description": "Browsers that this ad targets. For each browser either set browserVersionId or dartId along with the version numbers. If both are specified, only browserVersionId will be used. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Browser"
          }
        },
        "platformTypes": {
          "description": "Platform types that this ad targets. For example, desktop, mobile, or tablet. For each platform type, only id is required, and the other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "PlatformType"
          }
        },
        "mobileCarriers": {
          "description": "Mobile carriers that this ad targets. For each mobile carrier only id is required, and the other fields are populated automatically when the ad is inserted or updated. If targeting a mobile carrier, do not set targeting for any zip codes.",
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          }
        },
        "operatingSystems": {
          "description": "Operating systems that this ad targets. To target specific versions, use operatingSystemVersions. For each operating system only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system, do not set targeting for operating system versions for the same operating system.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        },
        "connectionTypes": {
          "description": "Connection types that this ad targets. For each connection type only id is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        },
        "operatingSystemVersions": {
          "description": "Operating system versions that this ad targets. To target all versions, use operatingSystems. For each operating system version, only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system version, do not set targeting for the corresponding operating system in operatingSystems.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystemVersion"
          }
        }
      }
    },
    "CreativeFieldAssignment": {
      "id": "CreativeFieldAssignment",
      "properties": {
        "creativeFieldId": {
          "description": "ID of the creative field.",
          "type": "string",
          "format": "int64"
        },
        "creativeFieldValueId": {
          "format": "int64",
          "description": "ID of the creative field value.",
          "type": "string"
        }
      },
      "description": "Creative Field Assignment.",
      "type": "object"
    },
    "RemarketingListShare": {
      "id": "RemarketingListShare",
      "properties": {
        "sharedAccountIds": {
          "description": "Accounts that the remarketing list is shared with.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListShare\".",
          "type": "string"
        },
        "remarketingListId": {
          "format": "int64",
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "sharedAdvertiserIds": {
          "description": "Advertisers that the remarketing list is shared with.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "Contains properties of a remarketing list's sharing information. Sharing allows other accounts or advertisers to target to your remarketing lists. This resource can be used to manage remarketing list sharing to other accounts and advertisers.",
      "type": "object"
    },
    "UserProfileList": {
      "id": "UserProfileList",
      "properties": {
        "items": {
          "description": "The user profiles returned in this response.",
          "type": "array",
          "items": {
            "$ref": "UserProfile"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "description": "Represents the list of user profiles.",
      "type": "object"
    },
    "StudioCreativeDimension": {
      "id": "StudioCreativeDimension",
      "properties": {
        "width": {
          "format": "int32",
          "description": "Width of the studio creative.",
          "type": "integer"
        },
        "height": {
          "description": "Height of the studio creative.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Dimension information for a studio creative.",
      "type": "object"
    },
    "AdvertiserGroup": {
      "id": "AdvertiserGroup",
      "properties": {
        "id": {
          "description": "ID of this advertiser group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this advertiser group. This is a read-only field that can be left blank.",
          "type": "string"
        }
      },
      "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
      "type": "object"
    },
    "DirectorySitesListResponse": {
      "id": "DirectorySitesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySitesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "directorySites": {
          "description": "Directory site collection.",
          "type": "array",
          "items": {
            "$ref": "DirectorySite"
          }
        }
      },
      "description": "Directory Site List Response",
      "type": "object"
    },
    "FloodlightActivitiesGenerateTagResponse": {
      "description": "Floodlight Activity GenerateTag Response",
      "type": "object",
      "id": "FloodlightActivitiesGenerateTagResponse",
      "properties": {
        "floodlightActivityTag": {
          "description": "Generated tag for this Floodlight activity. For Google tags, this is the event snippet.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesGenerateTagResponse\".",
          "type": "string"
        },
        "globalSiteTagGlobalSnippet": {
          "description": "The global snippet section of a Google tag. The Google tag sets new cookies on your domain, which will store a unique identifier for a user or the ad click that brought the user to your site. Learn more.",
          "type": "string"
        }
      }
    },
    "Report": {
      "id": "Report",
      "properties": {
        "ownerProfileId": {
          "format": "int64",
          "description": "The user profile id of the owner of this report.",
          "type": "string"
        },
        "delivery": {
          "description": "The report's email delivery settings.",
          "type": "object",
          "properties": {
            "emailOwnerDeliveryType": {
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "The type of delivery for the owner to receive, if enabled.",
              "type": "string"
            },
            "message": {
              "description": "The message to be sent with each email.",
              "type": "string"
            },
            "recipients": {
              "description": "The list of recipients to which to email the report.",
              "type": "array",
              "items": {
                "$ref": "Recipient"
              }
            },
            "emailOwner": {
              "description": "Whether the report should be emailed to the report owner.",
              "type": "boolean"
            }
          }
        },
        "crossDimensionReachCriteria": {
          "description": "The report criteria for a report of type \"CROSS_DIMENSION_REACH\".",
          "type": "object",
          "properties": {
            "breakdown": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "overlapMetricNames": {
              "description": "The list of names of overlap metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "pivoted": {
              "description": "Whether the report is pivoted or not. Defaults to true.",
              "type": "boolean"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dimension": {
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "ADVERTISER",
                "CAMPAIGN",
                "SITE_BY_ADVERTISER",
                "SITE_BY_CAMPAIGN"
              ],
              "description": "The dimension option.",
              "type": "string"
            }
          }
        },
        "accountId": {
          "description": "The account ID to which this report belongs.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "pathToConversionCriteria": {
          "properties": {
            "customFloodlightVariables": {
              "description": "The list of custom floodlight variables the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "activityFilters": {
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "type": "object",
              "properties": {
                "clicksLookbackWindow": {
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "maximumInteractionGap": {
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "includeAttributedIPConversions": {
                  "description": "Deprecated: has no effect.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "impressionsLookbackWindow": {
                  "format": "int32",
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer"
                },
                "pivotOnInteractionPath": {
                  "description": "Enable pivoting on interaction path.",
                  "type": "boolean"
                },
                "maximumImpressionInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "type": "integer",
                  "format": "int32"
                },
                "maximumClickInteractions": {
                  "format": "int32",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "type": "integer"
                }
              }
            },
            "customRichMediaEvents": {
              "description": "The list of custom rich media events to include.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "perInteractionDimensions": {
              "description": "The list of per interaction dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "conversionDimensions": {
              "description": "The list of conversion dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "type": "object"
        },
        "subAccountId": {
          "format": "int64",
          "description": "The subaccount ID to which this report belongs if applicable.",
          "type": "string"
        },
        "crossMediaReachCriteria": {
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\".",
          "type": "object",
          "properties": {
            "dimensions": {
              "description": "Required. The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dimensionFilters": {
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dateRange": {
              "description": "Required. The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "Required. The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "name": {
          "description": "The name of the report.",
          "type": "string"
        },
        "reachCriteria": {
          "properties": {
            "enableAllDimensionCombinations": {
              "description": "Whether to enable all reach dimension combinations in the report. Defaults to false. If enabled, the date range of the report should be within the last 42 days.",
              "type": "boolean"
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "reachByFrequencyMetricNames": {
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "The report criteria for a report of type \"REACH\".",
          "type": "object"
        },
        "criteria": {
          "description": "The report criteria for a report of type \"STANDARD\".",
          "type": "object",
          "properties": {
            "dateRange": {
              "description": "The date range for which this report should be run.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dimensions": {
              "description": "The list of standard dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            }
          }
        },
        "schedule": {
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "type": "object",
          "properties": {
            "startDate": {
              "format": "date",
              "type": "string"
            },
            "every": {
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "type": "integer",
              "format": "int32"
            },
            "expirationDate": {
              "format": "date",
              "type": "string"
            },
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "type": "boolean"
            },
            "repeats": {
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. ",
              "type": "string"
            },
            "repeatsOnWeekDays": {
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "type": "array",
              "items": {
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ],
                "type": "string"
              }
            },
            "timezone": {
              "description": "The timezone when the report will run.",
              "type": "string"
            },
            "runsOnDayOfMonth": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "type": "string"
            }
          }
        },
        "floodlightCriteria": {
          "properties": {
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "reportProperties": {
              "properties": {
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "includeAttributedIPConversions": {
                  "description": "Include conversions that have no cookie, but do have an exposure path.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                }
              },
              "description": "The properties of the report.",
              "type": "object"
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "customRichMediaEvents": {
              "description": "The list of custom rich media events to include.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            }
          },
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "type": "object"
        },
        "fileName": {
          "description": "The filename used when generating report files for this report.",
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "CROSS_DIMENSION_REACH",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "description": "The type of the report.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID identifying this report resource.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "type": "string",
          "format": "uint64"
        },
        "format": {
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "type": "string"
        }
      },
      "description": "Represents a Report resource.",
      "type": "object"
    },
    "Conversion": {
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
      "type": "object",
      "id": "Conversion",
      "properties": {
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight Configuration ID of this conversion. This is a required field.",
          "type": "string"
        },
        "dclid": {
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\".",
          "type": "string"
        },
        "userIdentifiers": {
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          }
        },
        "customVariables": {
          "description": "Custom floodlight variables.",
          "type": "array",
          "items": {
            "$ref": "CustomFloodlightVariable"
          }
        },
        "sessionAttributesEncoded": {
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate.",
          "type": "string",
          "format": "byte"
        },
        "encryptedUserId": {
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "treatmentForUnderage": {
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR).",
          "type": "boolean"
        },
        "matchId": {
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field.",
          "type": "string"
        },
        "cartData": {
          "description": "The cart data associated with this conversion.",
          "$ref": "CartData"
        },
        "adUserDataConsent": {
          "description": "This represents consent for ad user data.",
          "type": "string",
          "enum": [
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ]
        },
        "floodlightActivityId": {
          "description": "Floodlight Activity ID of this conversion. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "timestampMicros": {
          "format": "int64",
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
          "type": "string"
        },
        "value": {
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "type": "number",
          "format": "double"
        },
        "mobileDeviceId": {
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "quantity": {
          "format": "int64",
          "description": "The quantity of the conversion. This is a required field.",
          "type": "string"
        },
        "ordinal": {
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field.",
          "type": "string"
        },
        "childDirectedTreatment": {
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance.",
          "type": "boolean"
        },
        "encryptedUserIdCandidates": {
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "limitAdTracking": {
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing.",
          "type": "boolean"
        },
        "gclid": {
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field.",
          "type": "string"
        },
        "nonPersonalizedAd": {
          "description": "Whether the conversion was for a non personalized ad.",
          "type": "boolean"
        },
        "impressionId": {
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set.",
          "type": "string"
        }
      }
    },
    "Activities": {
      "id": "Activities",
      "properties": {
        "metricNames": {
          "description": "List of names of floodlight activity metrics.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filters": {
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        }
      },
      "description": "Represents an activity group.",
      "type": "object"
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "properties": {
        "encryptionSource": {
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        },
        "encryptionEntityId": {
          "format": "int64",
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
          "type": "string"
        },
        "encryptionEntityType": {
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string"
        }
      },
      "description": "A description of how user IDs are encrypted.",
      "type": "object"
    },
    "PlatformType": {
      "id": "PlatformType",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this platform type.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this platform type.",
          "type": "string"
        }
      },
      "description": "Contains information about a platform type that can be targeted by ads.",
      "type": "object"
    },
    "TagData": {
      "description": "Placement Tag Data",
      "type": "object",
      "id": "TagData",
      "properties": {
        "format": {
          "description": "TagData tag format of this tag.",
          "type": "string",
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "clickTag": {
          "description": "Tag string to record a click.",
          "type": "string"
        },
        "adId": {
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string",
          "format": "int64"
        },
        "creativeId": {
          "format": "int64",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string"
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        }
      }
    },
    "AccountPermission": {
      "id": "AccountPermission",
      "properties": {
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        },
        "level": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ],
          "description": "Administrative level required to enable this account permission.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this account permission.",
          "type": "string"
        },
        "accountProfiles": {
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ],
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ]
          }
        },
        "permissionGroupId": {
          "description": "Permission group of this account permission.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "type": "object"
    },
    "ProximityFilter": {
      "id": "ProximityFilter",
      "properties": {
        "radiusValue": {
          "description": "Optional. Radius length in units defined by radius_units.",
          "type": "integer",
          "format": "int32"
        },
        "radiusBucketType": {
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ],
          "description": "Optional. The radius bucket type of the proximity filter",
          "type": "string"
        },
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "type": "integer",
          "format": "int32"
        },
        "radiusUnitType": {
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ],
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "description": "Optional. The units of the radius value",
          "type": "string"
        }
      },
      "description": "Contains proximity filter information.",
      "type": "object"
    },
    "ConversionsBatchUpdateResponse": {
      "description": "Update Conversions Response.",
      "type": "object",
      "id": "ConversionsBatchUpdateResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateResponse\".",
          "type": "string"
        },
        "status": {
          "description": "The update status of each conversion. Statuses are returned in the same order that conversions are updated.",
          "type": "array",
          "items": {
            "$ref": "ConversionStatus"
          }
        },
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to update.",
          "type": "boolean"
        }
      }
    },
    "TagSettings": {
      "description": "Dynamic and Image Tag Settings.",
      "type": "object",
      "id": "TagSettings",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "description": "Whether image tags are enabled.",
          "type": "boolean"
        }
      }
    },
    "CreativeGroup": {
      "description": "Contains properties of a creative group.",
      "type": "object",
      "id": "CreativeGroup",
      "properties": {
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "groupNumber": {
          "format": "int32",
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive.",
          "type": "integer"
        },
        "id": {
          "description": "ID of this creative group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\".",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this creative group. This is a required field on insertion.",
          "type": "string"
        },
        "name": {
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser.",
          "type": "string"
        }
      }
    },
    "Placement": {
      "id": "Placement",
      "properties": {
        "paymentApproved": {
          "description": "Whether payment was approved for this placement. This is a read-only field relevant only to publisher-paid placements.",
          "type": "boolean"
        },
        "directorySiteId": {
          "format": "int64",
          "description": "Directory site ID of this placement. On insert, you must set either this field or the siteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "additionalSizes": {
          "description": "Additional sizes associated with this placement. When inserting or updating a placement, only the size ID field is used.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "comment": {
          "description": "Comments for this placement.",
          "type": "string"
        },
        "paymentSource": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_AGENCY_PAID",
            "PLACEMENT_PUBLISHER_PAID"
          ],
          "description": "Payment source for this placement. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "sslRequired": {
          "description": "Whether creatives assigned to this placement must be SSL-compliant.",
          "type": "boolean"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "placementGroupIdDimensionValue": {
          "description": "Dimension value for the ID of the placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "adServingPlatformId": {
          "format": "int64",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the placement. Measurement partners can use this field to add ad-server specific macros. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "type": "string"
        },
        "youtubeSettings": {
          "description": "Optional. YouTube settings for the placement. The placement must be enabled for YouTube to use this field.",
          "$ref": "YoutubeSettings"
        },
        "keyName": {
          "description": "Key name of this placement. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "placementGroupId": {
          "description": "ID of this placement's group, if applicable.",
          "type": "string",
          "format": "int64"
        },
        "partnerWrappingData": {
          "description": "Measurement partner provided settings for a wrapped placement.",
          "$ref": "MeasurementPartnerWrappingData"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "accountId": {
          "description": "Account ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "tagFormats": {
          "description": "Tag formats to generate for this placement. This field is required on insertion. Acceptable values are: - \"PLACEMENT_TAG_STANDARD\" - \"PLACEMENT_TAG_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_IFRAME_ILAYER\" - \"PLACEMENT_TAG_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT\" - \"PLACEMENT_TAG_CLICK_COMMANDS\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4\" - \"PLACEMENT_TAG_TRACKING\" - \"PLACEMENT_TAG_TRACKING_IFRAME\" - \"PLACEMENT_TAG_TRACKING_JAVASCRIPT\" ",
          "type": "array",
          "items": {
            "enum": [
              "PLACEMENT_TAG_STANDARD",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_IFRAME_ILAYER",
              "PLACEMENT_TAG_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
              "PLACEMENT_TAG_CLICK_COMMANDS",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
              "PLACEMENT_TAG_TRACKING",
              "PLACEMENT_TAG_TRACKING_IFRAME",
              "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
              "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "siteServed": {
          "description": "Optional. Whether the ads in the placement are served by another platform and CM is only used for tracking or they are served by CM. A false value indicates the ad is served by CM.",
          "type": "boolean"
        },
        "lookbackConfiguration": {
          "description": "Lookback window settings for this placement.",
          "$ref": "LookbackConfiguration"
        },
        "status": {
          "description": "Third-party placement status.",
          "type": "string",
          "enumDescriptions": [
            "Placement is not yet reviewed by publisher.",
            "Placement Ad Serving fee is accepted by publisher",
            "Placement Ad Serving fee is rejected by publisher",
            "Advertisers has accepted rejection of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers has accepted acceptance of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers is still working on placement not yet ready for Publisher review; default status for pub-paid placements"
          ],
          "enum": [
            "PENDING_REVIEW",
            "PAYMENT_ACCEPTED",
            "PAYMENT_REJECTED",
            "ACKNOWLEDGE_REJECTION",
            "ACKNOWLEDGE_ACCEPTANCE",
            "DRAFT"
          ]
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this placement. This field can be left blank.",
          "type": "string"
        },
        "name": {
          "description": "Name of this placement.This is a required field and must be less than or equal to 512 characters long.",
          "type": "string"
        },
        "wrappingOptOut": {
          "description": "Whether this placement opts out of tag wrapping.",
          "type": "boolean"
        },
        "compatibility": {
          "description": "Placement compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering on desktop, on mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are no longer allowed for new placement insertions. Instead, use DISPLAY or DISPLAY_INTERSTITIAL. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. This field is required on insertion.",
          "type": "string",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ]
        },
        "campaignId": {
          "description": "Campaign ID of this placement. This field is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "videoSettings": {
          "description": "A collection of settings which affect video creatives served through this placement. Applicable to placements with IN_STREAM_VIDEO compatibility.",
          "$ref": "VideoSettings"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement.",
          "type": "string",
          "format": "int64"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement. This field is required on insertion, specifically subfields startDate, endDate and pricingType.",
          "$ref": "PricingSchedule"
        },
        "contentCategoryId": {
          "format": "int64",
          "description": "ID of the content category assigned to this placement.",
          "type": "string"
        },
        "createInfo": {
          "description": "Information about the creation of this placement. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "allowOnYoutube": {
          "description": "Optional. Whether the placement is enabled for YouTube integration.",
          "type": "boolean"
        },
        "conversionDomainOverride": {
          "description": "Optional. Conversion domain overrides for a placement.",
          "$ref": "PlacementConversionDomainOverride"
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "publisherUpdateInfo": {
          "description": "Information about the last publisher update. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "activeStatus": {
          "description": "Whether this placement is active, inactive, archived or permanently archived.",
          "type": "string",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "videoActiveViewOptOut": {
          "description": "Whether Verification and ActiveView are disabled for in-stream video creatives for this placement. The same setting videoActiveViewOptOut exists on the site level -- the opt out occurs if either of these settings are true. These settings are distinct from DirectorySites.settings.activeViewOptOut or Sites.siteSettings.activeViewOptOut which only apply to display ads. However, Accounts.activeViewOptOut opts out both video traffic, as well as display ads, from Verification and ActiveView.",
          "type": "boolean"
        },
        "siteId": {
          "format": "int64",
          "description": "Site ID associated with this placement. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "vpaidAdapterChoice": {
          "description": "VPAID adapter setting for this placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to this placement. *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "type": "string",
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ],
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ]
        },
        "size": {
          "description": "Size associated with this placement. When inserting or updating a placement, only the size ID field is used. This field is required on insertion.",
          "$ref": "Size"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placement\".",
          "type": "string"
        },
        "tagSetting": {
          "description": "Tag settings for this placement.",
          "$ref": "TagSetting"
        },
        "primary": {
          "description": "Whether this placement is the primary placement of a roadblock (placement group). You cannot change this field from true to false. Setting this field to true will automatically set the primary field on the original primary placement of the roadblock to false, and it will automatically set the roadblock's primaryPlacementId field to the ID of this placement.",
          "type": "boolean"
        },
        "adBlockingOptOut": {
          "description": "Whether this placement opts out of ad blocking. When true, ad blocking is disabled for this placement. When false, the campaign and site settings take effect.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Contains properties of a placement.",
      "type": "object"
    },
    "CrossMediaReachReportCompatibleFields": {
      "id": "CrossMediaReachReportCompatibleFields",
      "properties": {
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossMediaReachReportCompatibleFields.",
          "type": "string"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
      "type": "object"
    },
    "DateRange": {
      "id": "DateRange",
      "properties": {
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dateRange.",
          "type": "string"
        },
        "relativeDateRange": {
          "description": "The date range relative to the date of when the report is run.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        },
        "startDate": {
          "format": "date",
          "type": "string"
        }
      },
      "description": "Represents a date range.",
      "type": "object"
    },
    "CompanionClickThroughOverride": {
      "id": "CompanionClickThroughOverride",
      "properties": {
        "creativeId": {
          "format": "int64",
          "description": "ID of the creative for this companion click-through override.",
          "type": "string"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this companion click-through override.",
          "$ref": "ClickThroughUrl"
        }
      },
      "description": "Companion Click-through override.",
      "type": "object"
    },
    "SiteCompanionSetting": {
      "description": "Companion Settings",
      "type": "object",
      "id": "SiteCompanionSetting",
      "properties": {
        "companionsDisabled": {
          "description": "Whether companions are disabled for this site template.",
          "type": "boolean"
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        },
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\".",
          "type": "string"
        }
      }
    },
    "SiteContact": {
      "id": "SiteContact",
      "properties": {
        "lastName": {
          "description": "Last name of this site contact.",
          "type": "string"
        },
        "title": {
          "description": "Title or designation of this site contact.",
          "type": "string"
        },
        "address": {
          "description": "Address of this site contact.",
          "type": "string"
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "contactType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "description": "Site contact type.",
          "type": "string"
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        },
        "firstName": {
          "description": "First name of this site contact.",
          "type": "string"
        },
        "id": {
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Site Contact",
      "type": "object"
    },
    "FileList": {
      "id": "FileList",
      "properties": {
        "items": {
          "description": "The files returned in this response.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "description": "List of files for a report.",
      "type": "object"
    },
    "BillingAssignment": {
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "type": "object",
      "id": "BillingAssignment",
      "properties": {
        "campaignId": {
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\".",
          "type": "string"
        },
        "accountId": {
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field.",
          "type": "string"
        },
        "advertiserId": {
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser",
          "type": "string"
        },
        "subaccountId": {
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "InventoryItem": {
      "id": "InventoryItem",
      "properties": {
        "subaccountId": {
          "description": "Subaccount ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "description": "Advertiser ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "estimatedConversionRate": {
          "format": "int64",
          "description": "Estimated conversion rate of this inventory item.",
          "type": "string"
        },
        "name": {
          "description": "Name of this inventory item. For standalone inventory items, this is the same name as that of its only ad slot. For group inventory items, this can differ from the name of any of its ad slots.",
          "type": "string"
        },
        "rfpId": {
          "format": "int64",
          "description": "RFP ID of this inventory item.",
          "type": "string"
        },
        "estimatedClickThroughRate": {
          "description": "Estimated click-through rate of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#inventoryItem\".",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "siteId": {
          "description": "ID of the site this inventory item is associated with.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this inventory item.",
          "$ref": "LastModifiedInfo"
        },
        "id": {
          "format": "int64",
          "description": "ID of this inventory item.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLANNING_PLACEMENT_TYPE_REGULAR",
            "PLANNING_PLACEMENT_TYPE_CREDIT"
          ],
          "description": "Type of inventory item.",
          "type": "string"
        },
        "orderId": {
          "format": "int64",
          "description": "Order ID of this inventory item.",
          "type": "string"
        },
        "contentCategoryId": {
          "format": "int64",
          "description": "Content category ID of this inventory item.",
          "type": "string"
        },
        "negotiationChannelId": {
          "description": "Negotiation channel ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "placementStrategyId": {
          "format": "int64",
          "description": "Placement strategy ID of this inventory item.",
          "type": "string"
        },
        "projectId": {
          "format": "int64",
          "description": "Project ID of this inventory item.",
          "type": "string"
        },
        "adSlots": {
          "description": "Ad slots of this inventory item. If this inventory item represents a standalone placement, there will be exactly one ad slot. If this inventory item represents a placement group, there will be more than one ad slot, each representing one child placement in that placement group.",
          "type": "array",
          "items": {
            "$ref": "AdSlot"
          }
        },
        "inPlan": {
          "description": "Whether this inventory item is in plan.",
          "type": "boolean"
        },
        "pricing": {
          "description": "Pricing of this inventory item.",
          "$ref": "Pricing"
        }
      },
      "description": "Represents a buy from the Planning inventory store.",
      "type": "object"
    },
    "PricingSchedulePricingPeriod": {
      "description": "Pricing Period",
      "type": "object",
      "id": "PricingSchedulePricingPeriod",
      "properties": {
        "pricingComment": {
          "description": "Comments for this pricing period.",
          "type": "string"
        },
        "rateOrCostNanos": {
          "format": "int64",
          "description": "Rate or cost of this pricing period in nanos (i.e., multiplied by 1000000000). Acceptable values are 0 to 1000000000000000000, inclusive.",
          "type": "string"
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "units": {
          "description": "Units of this pricing period. Acceptable values are 0 to 10000000000, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        }
      }
    },
    "SortedDimension": {
      "id": "SortedDimension",
      "properties": {
        "name": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "sortOrder": {
          "description": "An optional sort order for the dimension column.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#sortedDimension.",
          "type": "string"
        }
      },
      "description": "Represents a sorted dimension.",
      "type": "object"
    },
    "ReportList": {
      "description": "Represents the list of reports.",
      "type": "object",
      "id": "ReportList",
      "properties": {
        "items": {
          "description": "The reports returned in this response.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        },
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#reportList.",
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        }
      }
    },
    "PlacementSingleConversionDomain": {
      "id": "PlacementSingleConversionDomain",
      "properties": {
        "conversionDomainId": {
          "format": "int64",
          "type": "string"
        },
        "conversionDomainValue": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountsListResponse": {
      "id": "AccountsListResponse",
      "properties": {
        "accounts": {
          "description": "Account collection.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Account List Response",
      "type": "object"
    },
    "OperatingSystemsListResponse": {
      "description": "Operating System List Response",
      "type": "object",
      "id": "OperatingSystemsListResponse",
      "properties": {
        "operatingSystems": {
          "description": "Operating system collection.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        }
      }
    },
    "LanguageTargeting": {
      "description": "Language Targeting.",
      "type": "object",
      "id": "LanguageTargeting",
      "properties": {
        "languages": {
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        }
      }
    },
    "MeasurementPartnerCampaignLink": {
      "id": "MeasurementPartnerCampaignLink",
      "properties": {
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        },
        "linkStatus": {
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "description": ".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventTag": {
      "id": "EventTag",
      "properties": {
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion.",
          "type": "string"
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "siteIds": {
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "sslCompliant": {
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field.",
          "type": "boolean"
        },
        "status": {
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this event tag. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "excludeFromAdxRequests": {
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\".",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "type": {
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ],
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ],
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field.",
          "type": "string"
        },
        "id": {
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "urlEscapeLevels": {
          "format": "int32",
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "type": "integer"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteFilterType": {
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites.",
          "type": "string",
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ]
        },
        "campaignId": {
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "type": "string",
          "format": "int64"
        },
        "url": {
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion.",
          "type": "string"
        }
      },
      "description": "Contains properties of an event tag.",
      "type": "object"
    },
    "CompanionSetting": {
      "id": "CompanionSetting",
      "properties": {
        "companionsDisabled": {
          "description": "Whether companions are disabled for this placement.",
[...]
