{
  "batchPath": "batch",
  "name": "dfareporting",
  "kind": "discovery#restDescription",
  "version": "v5",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "servicePath": "dfareporting/v5/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "revision": "20260310",
  "basePath": "/dfareporting/v5/",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "Campaign": {
      "id": "Campaign",
      "description": "Contains properties of a Campaign Manager campaign.",
      "type": "object",
      "properties": {
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this campaign. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "creativeGroupIds": {
          "description": "List of creative group IDs that are assigned to the campaign.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "audienceSegmentGroups": {
          "type": "array",
          "items": {
            "$ref": "AudienceSegmentGroup"
          },
          "description": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups."
        },
        "defaultClickThroughEventTagProperties": {
          "description": "Click-through event tag ID override properties for this campaign.",
          "$ref": "DefaultClickThroughEventTagProperties"
        },
        "externalId": {
          "description": "External ID for this campaign.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserGroupId": {
          "description": "Advertiser group ID of the associated advertiser.",
          "format": "int64",
          "type": "string"
        },
        "euPoliticalAdsDeclaration": {
          "description": "Optional. Whether the campaign has EU political ads. Campaign Manager 360 doesn't allow campaigns with EU political ads to serve in the EU. They can still serve in other regions.",
          "type": "string",
          "enumDescriptions": [
            "The campaign contains EU political ads.",
            "The campaign does not contain EU political ads."
          ],
          "enum": [
            "CONTAINS_EU_POLITICAL_ADS",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADS"
          ]
        },
        "billingInvoiceCode": {
          "description": "Billing invoice code included in the Campaign Manager client billing invoices associated with the campaign.",
          "type": "string"
        },
        "id": {
          "description": "ID of this campaign. This is a read-only auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "advertiserId": {
          "description": "Advertiser ID of this campaign. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "archived": {
          "description": "Whether this campaign has been archived.",
          "type": "boolean"
        },
        "creativeOptimizationConfiguration": {
          "description": "Creative optimization configuration for the campaign.",
          "$ref": "CreativeOptimizationConfiguration"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\"."
        },
        "measurementPartnerLink": {
          "description": "Measurement partner campaign link for tag wrapping.",
          "$ref": "MeasurementPartnerCampaignLink"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this campaign. This is a read-only field that can be left blank."
        },
        "name": {
          "description": "Name of this campaign. This is a required field and must be less than 512 characters long and unique among campaigns of the same advertiser.",
          "type": "string"
        },
        "eventTagOverrides": {
          "type": "array",
          "items": {
            "$ref": "EventTagOverride"
          },
          "description": "Overrides that can be used to activate or deactivate advertiser event tags."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "adBlockingConfiguration": {
          "description": "Ad blocking settings for this campaign.",
          "$ref": "AdBlockingConfiguration"
        },
        "comment": {
          "description": "Arbitrary comments about this campaign. Must be less than 256 characters long.",
          "type": "string"
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix override properties for this campaign.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "additionalCreativeOptimizationConfigurations": {
          "description": "Additional creative optimization configurations for the campaign.",
          "type": "array",
          "items": {
            "$ref": "CreativeOptimizationConfiguration"
          }
        },
        "defaultLandingPageId": {
          "type": "string",
          "description": "The default landing page ID for this campaign.",
          "format": "int64"
        },
        "createInfo": {
          "description": "Information about the creation of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        }
      }
    },
    "UserRolePermission": {
      "type": "object",
      "properties": {
        "availability": {
          "enumDescriptions": [
            "Not available by default.",
            "Available by default to accounts only.",
            "Available by default to both accounts and subaccounts.",
            "Always available to accounts.",
            "Always available to both accounts and subaccounts.",
            "Available for user profile permissions only."
          ],
          "enum": [
            "NOT_AVAILABLE_BY_DEFAULT",
            "ACCOUNT_BY_DEFAULT",
            "SUBACCOUNT_AND_ACCOUNT_BY_DEFAULT",
            "ACCOUNT_ALWAYS",
            "SUBACCOUNT_AND_ACCOUNT_ALWAYS",
            "USER_PROFILE_ONLY"
          ],
          "type": "string",
          "description": "Levels of availability for a user role permission."
        },
        "id": {
          "description": "ID of this user role permission.",
          "format": "int64",
          "type": "string"
        },
        "permissionGroupId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the permission group that this user role permission belongs to."
        },
        "name": {
          "type": "string",
          "description": "Name of this user role permission."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermission\"."
        }
      },
      "id": "UserRolePermission",
      "description": "Contains properties of a user role permission."
    },
    "CompatibleFields": {
      "type": "object",
      "properties": {
        "crossMediaReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
          "$ref": "CrossMediaReachReportCompatibleFields"
        },
        "pathToConversionReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
          "$ref": "PathToConversionReportCompatibleFields"
        },
        "crossDimensionReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
          "$ref": "CrossDimensionReachReportCompatibleFields"
        },
        "reachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\".",
          "$ref": "ReachReportCompatibleFields"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields."
        },
        "reportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\".",
          "$ref": "ReportCompatibleFields"
        },
        "floodlightReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\".",
          "$ref": "FloodlightReportCompatibleFields"
        }
      },
      "id": "CompatibleFields",
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10"
    },
    "AudienceSegmentGroup": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "audienceSegments": {
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "type": "array",
          "items": {
            "$ref": "AudienceSegment"
          }
        },
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        }
      },
      "id": "AudienceSegmentGroup",
      "description": "Audience Segment Group."
    },
    "CreativeClickThroughUrl": {
      "type": "object",
      "properties": {
        "landingPageId": {
          "format": "int64",
          "description": "ID of the landing page for the click-through URL.",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If landingPageId is specified then that landing page's URL is assigned to this field. - Otherwise, the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the landingPageId field is left unset.",
          "type": "string"
        }
      },
      "id": "CreativeClickThroughUrl",
      "description": "Click-through URL"
    },
    "FsCommand": {
      "type": "object",
      "properties": {
        "windowHeight": {
          "description": "Height of the window.",
          "format": "int32",
          "type": "integer"
        },
        "windowWidth": {
          "format": "int32",
          "description": "Width of the window.",
          "type": "integer"
        },
        "positionOption": {
          "description": "Position in the browser where the window will open.",
          "enumDescriptions": [
            "Center of the window Corresponds to \"center\" in UI",
            "user-defined distance from top left-hand corner of the window Corresponds to \"top-left\" in UI"
          ],
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ],
          "type": "string"
        },
        "left": {
          "type": "integer",
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32"
        },
        "top": {
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FsCommand",
      "description": "FsCommand."
    },
    "Dimension": {
      "id": "Dimension",
      "description": "Represents a dimension.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The dimension name, e.g. advertiser",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimension."
        }
      }
    },
    "FeedIngestionStatus": {
      "id": "FeedIngestionStatus",
      "description": "Contains the ingestion status of the dynamic feed. Feed ingestion is an asynchronous process. If the feed create request is successful, feed ingestion will be processed in the background, including validation, assets retrieval, and saving the data from the resource link. The processing time is dependent on the data size in the resource link. This read-only status field contains the current stage of that processing and its ingestion state.",
      "type": "object",
      "properties": {
        "ingestionStatus": {
          "$ref": "IngestionStatus",
          "readOnly": true,
          "description": "Output only. The ingestion status of the feed."
        },
        "state": {
          "description": "Output only. The processing state of the feed.",
          "readOnly": true,
          "enumDescriptions": [
            "The feed processing state is unknown.",
            "The feed processing state is cancelled.",
            "The feed processing state is ingesting queued.",
            "The feed processing state is ingesting.",
            "The feed processing state is ingested successfully.",
            "The feed processing state is ingested with failure.",
            "The feed processing state is request to publish.",
            "The feed processing state is publishing.",
            "The feed processing state is published successfully.",
            "The feed processing state is published with failure."
          ],
          "type": "string",
          "enum": [
            "FEED_PROCESSING_STATE_UNKNOWN",
            "CANCELLED",
            "INGESTING_QUEUED",
            "INGESTING",
            "INGESTED_SUCCESS",
            "INGESTED_FAILURE",
            "REQUEST_TO_PUBLISH",
            "PUBLISHING",
            "PUBLISHED_SUCCESS",
            "PUBLISHED_FAILURE"
          ]
        },
        "ingestionErrorRecords": {
          "readOnly": true,
          "description": "Output only. The ingestion error records of the feed.",
          "type": "array",
          "items": {
            "$ref": "IngestionErrorRecord"
          }
        }
      }
    },
    "EncryptionInfo": {
      "type": "object",
      "properties": {
        "encryptionEntityId": {
          "type": "string",
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\"."
        },
        "encryptionEntityType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer."
        },
        "encryptionSource": {
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        }
      },
      "id": "EncryptionInfo",
      "description": "A description of how user IDs are encrypted."
    },
    "CustomRule": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of this custom rule."
        },
        "priority": {
          "format": "int32",
          "description": "Optional. Priority of the custom rule.",
          "type": "integer"
        },
        "ruleBlocks": {
          "type": "array",
          "items": {
            "$ref": "RuleBlock"
          },
          "description": "Optional. A list of field filter, the custom rule will apply."
        }
      },
      "id": "CustomRule",
      "description": "Contains custom rule information."
    },
    "CreativesListResponse": {
      "id": "CreativesListResponse",
      "description": "Creative List Response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creatives": {
          "type": "array",
          "items": {
            "$ref": "Creative"
          },
          "description": "Creative collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativesListResponse\".",
          "type": "string"
        }
      }
    },
    "Activities": {
      "id": "Activities",
      "description": "Represents an activity group.",
      "type": "object",
      "properties": {
        "filters": {
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "metricNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of names of floodlight activity metrics."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        }
      }
    },
    "ConnectionType": {
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this connection type.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this connection type.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        }
      },
      "id": "ConnectionType",
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users."
    },
    "ConversionsBatchUpdateRequest": {
      "id": "ConversionsBatchUpdateRequest",
      "description": "Update Conversions Request.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        },
        "conversions": {
          "type": "array",
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to update."
        }
      }
    },
    "DeepLink": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\".",
          "type": "string"
        },
        "fallbackUrl": {
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed.",
          "type": "string"
        },
        "remarketingListIds": {
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "appUrl": {
          "description": "The URL of the mobile app being linked to.",
          "type": "string"
        },
        "mobileApp": {
          "description": "The mobile app targeted by this deep link.",
          "$ref": "MobileApp"
        }
      },
      "id": "DeepLink",
      "description": "Contains information about a landing page deep link."
    },
    "Report": {
      "type": "object",
      "properties": {
        "fileName": {
          "description": "The filename used when generating report files for this report.",
          "type": "string"
        },
        "criteria": {
          "description": "The report criteria for a report of type \"STANDARD\".",
          "type": "object",
          "properties": {
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "dimensions": {
              "description": "The list of standard dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensionFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "dateRange": {
              "description": "The date range for which this report should be run.",
              "$ref": "DateRange"
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            }
          }
        },
        "pathToConversionCriteria": {
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "type": "object",
          "properties": {
            "reportProperties": {
              "description": "The properties of the report.",
              "type": "object",
              "properties": {
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "clicksLookbackWindow": {
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "format": "int32",
                  "type": "integer"
                },
                "maximumInteractionGap": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90."
                },
                "impressionsLookbackWindow": {
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "format": "int32",
                  "type": "integer"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "maximumClickInteractions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report."
                },
                "includeAttributedIPConversions": {
                  "type": "boolean",
                  "description": "Deprecated: has no effect."
                },
                "pivotOnInteractionPath": {
                  "description": "Enable pivoting on interaction path.",
                  "type": "boolean"
                },
                "maximumImpressionInteractions": {
                  "type": "integer",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32"
                }
              }
            },
            "customFloodlightVariables": {
              "description": "The list of custom floodlight variables the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "conversionDimensions": {
              "description": "The list of conversion dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "perInteractionDimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of per interaction dimensions the report should include."
            },
            "activityFilters": {
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "metricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include."
            },
            "customRichMediaEvents": {
              "description": "The list of custom rich media events to include.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            }
          }
        },
        "delivery": {
          "description": "The report's email delivery settings.",
          "type": "object",
          "properties": {
            "emailOwner": {
              "description": "Whether the report should be emailed to the report owner.",
              "type": "boolean"
            },
            "emailOwnerDeliveryType": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "type": "string",
              "description": "The type of delivery for the owner to receive, if enabled."
            },
            "recipients": {
              "description": "The list of recipients to which to email the report.",
              "type": "array",
              "items": {
                "$ref": "Recipient"
              }
            },
            "message": {
              "type": "string",
              "description": "The message to be sent with each email."
            }
          }
        },
        "subAccountId": {
          "type": "string",
          "format": "int64",
          "description": "The subaccount ID to which this report belongs if applicable."
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "format": {
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "type": "string"
        },
        "id": {
          "description": "The unique ID identifying this report resource.",
          "format": "int64",
          "type": "string"
        },
        "crossMediaReachCriteria": {
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\".",
          "type": "object",
          "properties": {
            "dimensionFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "metricNames": {
              "description": "Required. The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dateRange": {
              "description": "Required. The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "dimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "Required. The list of dimensions the report should include."
            }
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the report."
        },
        "ownerProfileId": {
          "type": "string",
          "format": "int64",
          "description": "The user profile id of the owner of this report."
        },
        "reachCriteria": {
          "description": "The report criteria for a report of type \"REACH\".",
          "type": "object",
          "properties": {
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "dimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of dimensions the report should include."
            },
            "reachByFrequencyMetricNames": {
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            }
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "type": "string",
          "description": "The type of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#report."
        },
        "accountId": {
          "format": "int64",
          "description": "The account ID to which this report belongs.",
          "type": "string"
        },
        "lastModifiedTime": {
          "format": "uint64",
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "type": "string"
        },
        "schedule": {
          "type": "object",
          "properties": {
            "expirationDate": {
              "type": "string",
              "format": "date"
            },
            "repeatsOnWeekDays": {
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "type": "array",
              "items": {
                "type": "string",
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ]
              }
            },
            "timezone": {
              "type": "string",
              "description": "The timezone when the report will run."
            },
            "repeats": {
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. ",
              "type": "string"
            },
            "every": {
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "format": "int32",
              "type": "integer"
            },
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "type": "boolean"
            },
            "runsOnDayOfMonth": {
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "type": "string"
            }
          },
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\"."
        },
        "floodlightCriteria": {
          "type": "object",
          "properties": {
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "reportProperties": {
              "type": "object",
              "properties": {
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "includeAttributedIPConversions": {
                  "description": "Include conversions that have no cookie, but do have an exposure path.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                }
              },
              "description": "The properties of the report."
            },
            "dimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of dimensions the report should include."
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "metricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "customRichMediaEvents": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include."
            }
          },
          "description": "The report criteria for a report of type \"FLOODLIGHT\"."
        }
      },
      "id": "Report",
      "description": "Represents a Report resource."
    },
    "OmnitureSettings": {
      "type": "object",
      "properties": {
        "omnitureIntegrationEnabled": {
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled.",
          "type": "boolean"
        },
        "omnitureCostDataEnabled": {
          "type": "boolean",
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true."
        }
      },
      "id": "OmnitureSettings",
      "description": "Omniture Integration Settings."
    },
    "TagSettings": {
      "id": "TagSettings",
      "description": "Dynamic and Image Tag Settings.",
      "type": "object",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "type": "boolean",
          "description": "Whether image tags are enabled."
        }
      }
    },
    "MeasurementPartnerWrappingData": {
      "type": "object",
      "properties": {
        "measurementPartner": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "type": "string",
          "description": "Measurement partner used for wrapping the placement."
        },
        "linkStatus": {
          "description": "Placement wrapping status.",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "type": "string"
        },
        "tagWrappingMode": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "BLOCKING",
            "MONITORING",
            "MONITORING_READ_ONLY",
            "VIDEO_PIXEL_MONITORING",
            "TRACKING",
            "VPAID_MONITORING",
            "VPAID_BLOCKING",
            "NON_VPAID_MONITORING",
            "VPAID_ONLY_MONITORING",
            "VPAID_ONLY_BLOCKING",
            "VPAID_ONLY_FILTERING",
            "VPAID_FILTERING",
            "NON_VPAID_FILTERING",
            "BLOCKING_FILTERING_VPAID",
            "BLOCKING_FILTERING_VPAID_ONLY"
          ],
          "type": "string",
          "description": "Measurement mode for the wrapped placement."
        },
        "wrappedTag": {
          "description": "Tag provided by the measurement partner during wrapping.",
          "type": "string"
        }
      },
      "id": "MeasurementPartnerWrappingData",
      "description": "Placement tag wrapping"
    },
    "ClickThroughUrlSuffixProperties": {
      "type": "object",
      "properties": {
        "overrideInheritedSuffix": {
          "type": "boolean",
          "description": "Whether this entity should override the inherited click-through URL suffix with its own defined value."
        },
        "clickThroughUrlSuffix": {
          "description": "Click-through URL suffix to apply to all ads in this entity's scope. Must be less than 128 characters long.",
          "type": "string"
        }
      },
      "id": "ClickThroughUrlSuffixProperties",
      "description": "Click Through URL Suffix settings."
    },
    "TargetableRemarketingListsListResponse": {
      "id": "TargetableRemarketingListsListResponse",
      "description": "Targetable remarketing list response",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\"."
        },
        "targetableRemarketingLists": {
          "description": "Targetable remarketing list collection.",
          "type": "array",
          "items": {
            "$ref": "TargetableRemarketingList"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "CampaignSummary": {
      "id": "CampaignSummary",
      "description": "Represents a summarized campaign information associated with this invoice.",
      "type": "object",
      "properties": {
        "billingInvoiceCode": {
          "type": "string",
          "description": "Campaign billing invoice code."
        },
        "totalAmountMicros": {
          "format": "int64",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency.",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID."
        },
        "taxAmountMicros": {
          "format": "int64",
          "description": "The tax amount for this campaign, in micros of the invoice's currency.",
          "type": "string"
        },
        "preTaxAmountMicros": {
          "format": "int64",
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency.",
          "type": "string"
        }
      }
    },
    "Recipient": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the recipient."
        },
        "deliveryType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "LINK",
            "ATTACHMENT"
          ],
          "type": "string",
          "description": "The delivery type for the recipient."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#recipient."
        }
      },
      "id": "Recipient",
      "description": "Represents a recipient."
    },
    "EventTagsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\"."
        },
        "eventTags": {
          "description": "Event tag collection.",
          "type": "array",
          "items": {
            "$ref": "EventTag"
          }
        }
      },
      "id": "EventTagsListResponse",
      "description": "Event Tag List Response"
    },
    "SiteSettings": {
      "type": "object",
      "properties": {
        "tagSetting": {
          "description": "Configuration settings for dynamic and image floodlight tags.",
          "$ref": "TagSetting"
        },
        "adBlockingOptOut": {
          "type": "boolean",
          "description": "Whether this site opts out of ad blocking. When true, ad blocking is disabled for all placements under the site, regardless of the individual placement settings. When false, the campaign and placement settings take effect."
        },
        "vpaidAdapterChoiceTemplate": {
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ],
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ],
          "type": "string",
          "description": "Default VPAID adapter setting for new placements created under this site. This value will be used to populate the placements.vpaidAdapterChoice field, when no value is specified for the new placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to the placement. The publisher's specifications will typically determine this setting. For VPAID creatives, the adapter format will match the VPAID format (HTML5 VPAID creatives use the HTML5 adapter). *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH."
        },
        "activeViewOptOut": {
          "type": "boolean",
          "description": "Whether active view creatives are disabled for this site."
        },
        "disableNewCookie": {
          "type": "boolean",
          "description": "Whether new cookies are disabled for this site."
        },
        "videoActiveViewOptOutTemplate": {
          "type": "boolean",
          "description": "Whether Verification and ActiveView for in-stream video creatives are disabled by default for new placements created under this site. This value will be used to populate the placement.videoActiveViewOptOut field, when no value is specified for the new placement."
        }
      },
      "id": "SiteSettings",
      "description": "Site Settings"
    },
    "ObjectFilter": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\".",
          "type": "string"
        },
        "status": {
          "description": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list.",
          "type": "string",
          "enumDescriptions": [
            "Profile has access to none of the objects.",
            "Profile has access to only specific objects.",
            "Profile has access to all objects."
          ],
          "enum": [
            "NONE",
            "ASSIGNED",
            "ALL"
          ]
        },
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs."
        }
      },
      "id": "ObjectFilter",
      "description": "Object Filter."
    },
    "TargetingTemplatesListResponse": {
      "id": "TargetingTemplatesListResponse",
      "description": "Targeting Template List Response",
      "type": "object",
      "properties": {
        "targetingTemplates": {
          "description": "Targeting template collection.",
          "type": "array",
          "items": {
            "$ref": "TargetingTemplate"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\".",
          "type": "string"
        }
      }
    },
    "TvCampaignDetail": {
      "type": "object",
      "properties": {
        "timepoints": {
          "description": "The timepoints of the TV campaign.",
          "type": "array",
          "items": {
            "$ref": "TvCampaignTimepoint"
          }
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        }
      },
      "id": "TvCampaignDetail",
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows."
    },
    "AdvertiserInvoicesListResponse": {
      "id": "AdvertiserInvoicesListResponse",
      "description": "Invoice List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserInvoicesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "invoices": {
          "description": "Invoice collection",
          "type": "array",
          "items": {
            "$ref": "Invoice"
          }
        }
      }
    },
    "AdvertisersListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "advertisers": {
          "type": "array",
          "items": {
            "$ref": "Advertiser"
          },
          "description": "Advertiser collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\"."
        }
      },
      "id": "AdvertisersListResponse",
      "description": "Advertiser List Response"
    },
    "UserRole": {
      "id": "UserRole",
      "description": "Contains properties of auser role, which is used to manage user access.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\"."
        },
        "accountId": {
          "description": "Account ID of this user role. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "List of permissions associated with this user role."
        },
        "parentUserRoleId": {
          "description": "ID of the user role that this user role is based on or copied from. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "defaultUserRole": {
          "type": "boolean",
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions."
        }
      }
    },
    "UserDefinedVariableConfiguration": {
      "type": "object",
      "properties": {
        "dataType": {
          "description": "Data type for the variable. This is a required field.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "STRING",
            "NUMBER"
          ],
          "type": "string"
        },
        "variableType": {
          "description": "Variable name in the tag. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ]
        },
        "reportName": {
          "description": "User-friendly name for the variable which will appear in reports. This is a required field, must be less than 64 characters long, and cannot contain the following characters: \"\"<>\".",
          "type": "string"
        }
      },
      "id": "UserDefinedVariableConfiguration",
      "description": "User Defined Variable configuration."
    },
    "VideoSettings": {
      "id": "VideoSettings",
      "description": "Video Settings",
      "type": "object",
      "properties": {
        "skippableSettings": {
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden.",
          "$ref": "SkippableSetting"
        },
        "orientation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation."
        },
        "obaEnabled": {
          "type": "boolean",
          "description": "Whether OBA icons are enabled for this placement."
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden.",
          "$ref": "TranscodeSetting"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this placement.",
          "$ref": "CompanionSetting"
        },
        "durationSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Duration of a video placement in seconds."
        },
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden.",
          "$ref": "ObaIcon"
        },
        "publisherSpecificationId": {
          "format": "int64",
          "description": "Publisher specification ID of a video placement. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\"."
        }
      }
    },
    "FloodlightReportCompatibleFields": {
      "id": "FloodlightReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "type": "object",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields."
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
        }
      }
    },
    "SiteContact": {
      "id": "SiteContact",
      "description": "Site Contact",
      "type": "object",
      "properties": {
        "contactType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "description": "Site contact type."
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "lastName": {
          "description": "Last name of this site contact.",
          "type": "string"
        },
        "id": {
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email address of this site contact. This is a required field."
        },
        "title": {
          "type": "string",
          "description": "Title or designation of this site contact."
        },
        "firstName": {
          "type": "string",
          "description": "First name of this site contact."
        },
        "address": {
          "type": "string",
          "description": "Address of this site contact."
        }
      }
    },
    "TranscodeSetting": {
      "type": "object",
      "properties": {
        "enabledVideoFormats": {
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\".",
          "type": "string"
        }
      },
      "id": "TranscodeSetting",
      "description": "Transcode Settings"
    },
    "ContentCategory": {
      "id": "ContentCategory",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\".",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this content category. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this content category. This is a read-only, auto-generated field."
        }
      }
    },
    "AdsListResponse": {
      "id": "AdsListResponse",
      "description": "Ad List Response",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\"."
        },
        "ads": {
          "type": "array",
          "items": {
            "$ref": "Ad"
          },
          "description": "Ad collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      }
    },
    "ReachReportCompatibleFields": {
      "type": "object",
      "properties": {
        "reachByFrequencyMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
        }
      },
      "id": "ReachReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\"."
    },
    "OperatingSystemsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\"."
        },
        "operatingSystems": {
          "description": "Operating system collection.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        }
      },
      "id": "OperatingSystemsListResponse",
      "description": "Operating System List Response"
    },
    "Region": {
      "id": "Region",
      "description": "Contains information about a region that can be targeted by ads.",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Region code."
        },
        "name": {
          "type": "string",
          "description": "Name of this region."
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this region belongs.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#region\"."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this region belongs."
        },
        "dartId": {
          "description": "DART ID of this region.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DynamicTargetingKey": {
      "id": "DynamicTargetingKey",
      "description": "Contains properties of a dynamic targeting key. Dynamic targeting keys are unique, user-friendly labels, created at the advertiser level in DCM, that can be assigned to ads, creatives, and placements and used for targeting with Studio dynamic creatives. Use these labels instead of numeric Campaign Manager IDs (such as placement IDs) to save time and avoid errors in your dynamic feeds.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKey\"."
        },
        "objectId": {
          "format": "int64",
          "description": "ID of the object of this dynamic targeting key. This is a required field.",
          "type": "string"
        },
        "objectType": {
          "description": "Type of the object of this dynamic targeting key. This is a required field.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OBJECT_ADVERTISER",
            "OBJECT_AD",
            "OBJECT_CREATIVE",
            "OBJECT_PLACEMENT"
          ],
          "type": "string"
        }
      }
    },
    "DateRange": {
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "relativeDateRange": {
          "description": "The date range relative to the date of when the report is run.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dateRange."
        }
      },
      "id": "DateRange",
      "description": "Represents a date range."
    },
    "CreativeRotation": {
      "id": "CreativeRotation",
      "description": "Creative Rotation.",
      "type": "object",
      "properties": {
        "weightCalculationStrategy": {
          "type": "string",
          "enumDescriptions": [
            "The creative weights should all be equal to 1. This is the default value for all ads with a rotation type of Random.",
            "The creative weights can be any user provided positive integer.",
            "The weights will be automatically calculated giving preference to the creative that has the highest CTR. The CTR for campaigns that are optimized for clicks = clicks/impressions. The CTR for campaigns that are optimized for view-through or click through is sum(activities + floodlight weight)/impressions.",
            "The creative weights will be automatically calculated using a formula that could not possibly be explained in these comments. The value will be within some predetermined range (probably 0 - 1,000,000)."
          ],
          "enum": [
            "WEIGHT_STRATEGY_EQUAL",
            "WEIGHT_STRATEGY_CUSTOM",
            "WEIGHT_STRATEGY_HIGHEST_CTR",
            "WEIGHT_STRATEGY_OPTIMIZED"
          ],
          "description": "Strategy for calculating weights. Used with CREATIVE_ROTATION_TYPE_RANDOM."
        },
        "creativeOptimizationConfigurationId": {
          "type": "string",
          "description": "Creative optimization configuration that is used by this ad. It should refer to one of the existing optimization configurations in the ad's campaign. If it is unset or set to 0, then the campaign's default optimization configuration will be used for this ad.",
          "format": "int64"
        },
        "creativeAssignments": {
          "type": "array",
          "items": {
            "$ref": "CreativeAssignment"
          },
          "description": "Creative assignments in this creative rotation."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The weights of each creative in the rotation should be sequential starting at 1. The user may adjust the order.",
            "The weights are calculated according to the ad's CreativeRoationWeightStrategy."
          ],
          "enum": [
            "CREATIVE_ROTATION_TYPE_SEQUENTIAL",
            "CREATIVE_ROTATION_TYPE_RANDOM"
          ],
          "description": "Type of creative rotation. Can be used to specify whether to use sequential or random rotation."
        }
      }
    },
    "CitiesListResponse": {
      "type": "object",
      "properties": {
        "cities": {
          "description": "City collection.",
          "type": "array",
          "items": {
            "$ref": "City"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\"."
        }
      },
      "id": "CitiesListResponse",
      "description": "City List Response"
    },
    "AccountPermissionGroupsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupGroupsListResponse\"."
        },
        "accountPermissionGroups": {
          "description": "Account permission group collection.",
          "type": "array",
          "items": {
            "$ref": "AccountPermissionGroup"
          }
        }
      },
      "id": "AccountPermissionGroupsListResponse",
      "description": "Account Permission Group List Response"
    },
    "CreativeFieldValue": {
      "id": "CreativeFieldValue",
      "description": "Contains properties of a creative field value.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this creative field value. This is a read-only, auto-generated field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\"."
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        }
      }
    },
    "TargetingTemplate": {
      "id": "TargetingTemplate",
      "description": "Contains properties of a targeting template. A targeting template encapsulates targeting information which can be reused across multiple ads.",
      "type": "object",
      "properties": {
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this targeting template. This is a required field on insert and is read-only after insert."
        },
        "geoTargeting": {
          "description": "Geographical targeting criteria.",
          "$ref": "GeoTargeting"
        },
        "technologyTargeting": {
          "description": "Technology platform targeting criteria.",
          "$ref": "TechnologyTargeting"
        },
        "dayPartTargeting": {
          "description": "Time and day targeting criteria.",
          "$ref": "DayPartTargeting"
        },
        "id": {
          "format": "int64",
          "description": "ID of this targeting template. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "listTargetingExpression": {
          "description": "Remarketing list targeting criteria.",
          "$ref": "ListTargetingExpression"
        },
        "name": {
          "type": "string",
          "description": "Name of this targeting template. This field is required. It must be less than 256 characters long and unique within an advertiser."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "keyValueTargetingExpression": {
          "description": "Key-value targeting criteria.",
          "$ref": "KeyValueTargetingExpression"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplate\".",
          "type": "string"
        },
        "languageTargeting": {
          "description": "Language targeting criteria.",
          "$ref": "LanguageTargeting"
        },
        "contextualKeywordTargeting": {
          "description": "Optional. Contextual keyword targeting criteria.",
          "$ref": "ContextualKeywordTargeting"
        },
        "subaccountId": {
          "description": "Subaccount ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListPopulationClause": {
      "type": "object",
      "properties": {
        "terms": {
          "type": "array",
          "items": {
            "$ref": "ListPopulationTerm"
          },
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs."
        }
      },
      "id": "ListPopulationClause",
      "description": "A group clause made up of list population terms representing constraints joined by ORs."
    },
    "ContextualKeywordTargeting": {
      "id": "ContextualKeywordTargeting",
      "description": "Contextual Keyword Targeting.",
      "type": "object",
      "properties": {
        "keywords": {
          "type": "array",
          "items": {
            "$ref": "ContextualKeyword"
          },
          "description": "Contextual keywords that this ad targets"
        }
      }
    },
    "SkippableSetting": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#skippableSetting\".",
          "type": "string"
        },
        "skipOffset": {
          "description": "Amount of time to play videos served to this placement before the skip button should appear. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "progressOffset": {
          "description": "Amount of time to play videos served to this placement before counting a view. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "skippable": {
          "description": "Whether the user can skip creatives served to this placement.",
          "type": "boolean"
        }
      },
      "id": "SkippableSetting",
      "description": "Skippable Settings"
    },
    "FeedField": {
      "id": "FeedField",
      "description": "Each field of the element. This is a required field.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the field.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the field.",
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
            "The field type is CM360 site ID.",
            "The field type is boolean.",
            "The field type is exit url.",
            "The field type is datetime.",
            "The field type is CM360 creative ID.",
            "The field type is CM360 placement ID.",
            "The field type is CM360 ad ID.",
            "The field type is CM360 advertiser ID.",
            "The field type is CM360 campaign ID.",
            "The field type is cities.",
            "The field type is region.",
            "The field type is postal code.",
            "The field type is metro code.",
            "The field type is custom value.",
            "The field type is remarketing value.",
            "The field type is accurate geographic type.",
            "The field type is weight.",
            "The field type is a list of values.",
            "The field type is creative dimension.",
            "The field type is CM/DV360 Audience ID.",
            "The field type is AssetLibrary directory path.",
            "The field type is AssetLibrary video file path.",
            "The field type is AssetLibrary path.",
            "The field type is third party served url.",
            "The field type is CM dynamic targeting key.",
            "The field type is DV360 line item ID."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "STRING",
            "LONG",
            "GPA_SERVED_IMAGE_URL",
            "GPA_SERVED_ASSET_URL",
            "COUNTRY_CODE_ISO",
            "FLOAT",
            "CM360_KEYWORD",
            "CM360_SITE_ID",
            "BOOL",
            "EXIT_URL",
            "DATETIME",
            "CM360_CREATIVE_ID",
            "CM360_PLACEMENT_ID",
            "CM360_AD_ID",
            "CM360_ADVERTISER_ID",
            "CM360_CAMPAIGN_ID",
            "CITY",
            "REGION",
            "POSTAL_CODE",
            "METRO",
            "CUSTOM_VALUE",
            "REMARKETING_VALUE",
            "GEO_CANONICAL",
            "WEIGHT",
            "STRING_LIST",
            "CREATIVE_DIMENSION",
            "USERLIST_ID",
            "ASSET_LIBRARY_DIRECTORY_HANDLE",
            "ASSET_LIBRARY_VIDEO_HANDLE",
            "ASSET_LIBRARY_HANDLE",
            "THIRD_PARTY_SERVED_URL",
            "CM360_DYNAMIC_TARGETING_KEY",
            "DV360_LINE_ITEM_ID"
          ],
          "type": "string"
        },
        "defaultValue": {
          "description": "Optional. The default value of the field.",
          "type": "string"
        },
        "renderable": {
          "type": "boolean",
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT "
        },
        "required": {
          "type": "boolean",
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE "
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link."
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        }
      }
    },
    "CreativeAssignment": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "sequence": {
          "type": "integer",
          "format": "int32",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive."
        },
        "clickThroughUrl": {
          "description": "Click-through URL of the creative assignment.",
          "$ref": "ClickThroughUrl"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1."
        },
        "creativeGroupAssignments": {
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments.",
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          }
        },
        "creativeId": {
          "description": "ID of the creative to be assigned. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "companionCreativeOverrides": {
          "type": "array",
          "items": {
            "$ref": "CompanionClickThroughOverride"
          },
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads."
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "richMediaExitOverrides": {
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR ",
          "type": "array",
          "items": {
            "$ref": "RichMediaExitOverride"
          }
        },
        "active": {
          "type": "boolean",
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation."
        },
        "applyEventTags": {
          "type": "boolean",
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO."
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        }
      },
      "id": "CreativeAssignment",
      "description": "Creative Assignment."
    },
    "MeasurementPartnerAdvertiserLink": {
      "id": "MeasurementPartnerAdvertiserLink",
      "type": "object",
      "properties": {
        "partnerAdvertiserId": {
          "type": "string",
          "description": "partner Advertiser Id."
        },
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ]
        },
        "linkStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "description": "Status of the partner link."
        }
      }
    },
    "FloodlightActivityGroupsListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "floodlightActivityGroups": {
          "description": "Floodlight activity group collection.",
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\"."
        }
      },
      "id": "FloodlightActivityGroupsListResponse",
      "description": "Floodlight Activity Group List Response"
    },
    "CreativeOptimizationConfiguration": {
      "type": "object",
      "properties": {
        "optimizationModel": {
          "description": "Optimization model for this configuration.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLICK",
            "POST_CLICK",
            "POST_IMPRESSION",
            "POST_CLICK_AND_IMPRESSION",
            "VIDEO_COMPLETION"
          ],
          "type": "string"
        },
        "name": {
          "description": "Name of this creative optimization config. This is a required field and must be less than 129 characters long.",
          "type": "string"
        },
        "optimizationActivitys": {
          "type": "array",
          "items": {
            "$ref": "OptimizationActivity"
          },
          "description": "List of optimization activities associated with this configuration."
        },
        "id": {
          "description": "ID of this creative optimization config. This field is auto-generated when the campaign is inserted or updated. It can be null for existing campaigns.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "CreativeOptimizationConfiguration",
      "description": "Creative optimization settings."
    },
    "CreativeGroup": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this creative group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "advertiserId": {
          "description": "Advertiser ID of this creative group. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\"."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this creative group. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "groupNumber": {
          "type": "integer",
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive.",
          "format": "int32"
        }
      },
      "id": "CreativeGroup",
      "description": "Contains properties of a creative group."
    },
    "CompanionClickThroughOverride": {
      "type": "object",
      "properties": {
        "clickThroughUrl": {
          "description": "Click-through URL of this companion click-through override.",
          "$ref": "ClickThroughUrl"
        },
        "creativeId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative for this companion click-through override."
        }
      },
      "id": "CompanionClickThroughOverride",
[...]
