{
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "batchPath": "batch",
  "name": "dfareporting",
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "title": "Campaign Manager 360 API",
  "ownerName": "Google",
  "revision": "20260310",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "CreativeAsset": {
      "description": "Creative Asset.",
      "id": "CreativeAsset",
      "type": "object",
      "properties": {
        "audioBitRate": {
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "customStartTimeValue": {
          "type": "integer",
          "format": "int32",
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0."
        },
        "audioSampleRate": {
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "integer",
          "format": "int32"
        },
        "active": {
          "type": "boolean",
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "collapsedSize": {
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "Size"
        },
        "durationType": {
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ],
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enumDescriptions": [
            "Asset is displayed for the single run of the time line.",
            "Asset is displayed indefinitely and it loops on the timeline.",
            "User entered duration value in seconds."
          ]
        },
        "zipFilename": {
          "type": "string",
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER."
        },
        "pushdown": {
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height.",
          "type": "boolean"
        },
        "bitRate": {
          "type": "integer",
          "format": "int32",
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "assetIdentifier": {
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "$ref": "CreativeAssetId"
        },
        "hideFlashObjects": {
          "type": "boolean",
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "sslCompliant": {
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "boolean"
        },
        "progressiveServingUrl": {
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "orientation": {
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of video asset. This is a read-only, auto-generated field."
        },
        "zipFilesize": {
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "frameRate": {
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "number",
          "format": "float"
        },
        "startTimeType": {
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ],
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enumDescriptions": [
            "Asset is not automatically displayed.",
            "Asset is automatically displayed after a fixed period of time."
          ]
        },
        "mediaDuration": {
          "type": "number",
          "format": "float",
          "description": "Detected duration for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "actionScript3": {
          "type": "boolean",
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "backupImageExit": {
          "description": "Exit event configured for the backup image. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "CreativeCustomEvent"
        },
        "alignment": {
          "enum": [
            "ALIGNMENT_TOP",
            "ALIGNMENT_RIGHT",
            "ALIGNMENT_BOTTOM",
            "ALIGNMENT_LEFT"
          ],
          "description": "Possible alignments for an asset. This is a read-only field. Applicable to the following creative types: RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL .",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "expandedDimension": {
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "$ref": "Size"
        },
        "hideSelectionBoxes": {
          "type": "boolean",
          "description": "Whether to hide selection boxes flag for an asset. Applicable to the following creative types: all RICH_MEDIA."
        },
        "pushdownDuration": {
          "description": "Pushdown duration in seconds for an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable when the asset pushdown field is true, the offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height. Acceptable values are 0 to 9.99, inclusive.",
          "type": "number",
          "format": "float"
        },
        "size": {
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "Size"
        },
        "positionTopUnit": {
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA."
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1."
        },
        "positionLeftUnit": {
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ],
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA."
        },
        "transparency": {
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets.",
          "type": "boolean"
        },
        "horizontallyLocked": {
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "artworkType": {
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "string",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ]
        },
        "offset": {
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "OffsetPosition"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "displayType": {
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Asset exists in a box and stays within the box.",
            "Asset exists at a self described location on the page.",
            "Special display type for IM clients.",
            "Asset changes size.",
            "Not applicable for HTML5.",
            "Not applicable for HTML5.",
            "Asset sits on the top right and expands.",
            "VPAID linear asset.",
            "VPAID non linear asset.",
            "Backdrop (skin) asset."
          ],
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA."
        },
        "originalBackup": {
          "description": "Whether the backup asset is original or changed by the user in Campaign Manager. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "zIndex": {
          "type": "integer",
          "format": "int32",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive."
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ]
        },
        "companionCreativeIds": {
          "type": "array",
          "description": "List of companion creatives assigned to an in-stream video creative asset. Acceptable values include IDs of existing flash and image creatives. Applicable to INSTREAM_VIDEO creative type with dynamicAssetSelection set to true.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT."
        },
        "politeLoad": {
          "description": "Whether this asset is used as a polite load asset.",
          "type": "boolean"
        },
        "childAssetType": {
          "type": "string",
          "enumDescriptions": [
            "swf files",
            "flv and any other video files types",
            "image files",
            "rest of the supported file types .txt, .xml etc."
          ],
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ]
        },
        "windowMode": {
          "description": "Window mode options for flash assets. Applicable to the following creative types: FLASH_INPAGE, RICH_MEDIA_DISPLAY_EXPANDING, RICH_MEDIA_IM_EXPAND, RICH_MEDIA_DISPLAY_BANNER, and RICH_MEDIA_INPAGE_FLOATING.",
          "type": "string",
          "enumDescriptions": [
            "Allows overlapping of Html and SWF content.",
            "Default",
            "Used for non-square borders. Allows overlapping of Html and SWF content."
          ],
          "enum": [
            "OPAQUE",
            "WINDOW",
            "TRANSPARENT"
          ]
        },
        "additionalSizes": {
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "flashVersion": {
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "integer",
          "format": "int32"
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "detectedFeatures": {
          "type": "array",
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field. Applicable to the following creative types: HTML5_BANNER. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "items": {
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "mimeType": {
          "type": "string",
          "description": "Detected MIME type for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "streamingServingUrl": {
          "type": "string",
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "position": {
          "description": "Offset position for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "$ref": "OffsetPosition"
        }
      }
    },
    "CreativeGroupsListResponse": {
      "description": "Creative Group List Response",
      "id": "CreativeGroupsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroupsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creativeGroups": {
          "description": "Creative group collection.",
          "type": "array",
          "items": {
            "$ref": "CreativeGroup"
          }
        }
      }
    },
    "ContentSource": {
      "description": "Contains the content source of the dynamic feed.",
      "id": "ContentSource",
      "type": "object",
      "properties": {
        "contentSourceName": {
          "description": "Optional. The name of the content source. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_GOOGLE_SPREADSHEET",
            "RESOURCE_TYPE_REMOTE_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The resource type is unspecified.",
            "The resource type is google spreadsheet.",
            "The resource type is remote file."
          ],
          "description": "Required. The resource type of the content source."
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the content source. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "resourceLink": {
          "description": "Required. The link to the file of the content source.",
          "type": "string"
        },
        "metaData": {
          "$ref": "ContentSourceMetaData",
          "description": "Output only. Metadata of the content source. It contains the number of rows and the column names from resource link. This is a read-only field.",
          "readOnly": true
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the content source. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        }
      }
    },
    "Activities": {
      "description": "Represents an activity group.",
      "id": "Activities",
      "type": "object",
      "properties": {
        "metricNames": {
          "type": "array",
          "description": "List of names of floodlight activity metrics.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        },
        "filters": {
          "type": "array",
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "items": {
            "$ref": "DimensionValue"
          }
        }
      }
    },
    "UserIdentifier": {
      "id": "UserIdentifier",
      "type": "object",
      "properties": {
        "hashedEmail": {
          "type": "string",
          "description": "Hashed email address using SHA-256 hash function after normalization."
        },
        "hashedPhoneNumber": {
          "type": "string",
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard)."
        },
        "addressInfo": {
          "description": "Address information.",
          "$ref": "OfflineUserAddressInfo"
        }
      },
      "description": "User identifying information. Exactly one type of identifier must be specified."
    },
    "DfpSettings": {
      "id": "DfpSettings",
      "type": "object",
      "properties": {
        "dfpNetworkCode": {
          "type": "string",
          "description": "Ad Manager network code for this directory site."
        },
        "programmaticPlacementAccepted": {
          "description": "Whether this directory site accepts programmatic placements.",
          "type": "boolean"
        },
        "publisherPortalOnly": {
          "description": "Whether this directory site is available only via Publisher Portal.",
          "type": "boolean"
        },
        "dfpNetworkName": {
          "description": "Ad Manager network name for this directory site.",
          "type": "string"
        },
        "pubPaidPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this directory site accepts publisher-paid tags."
        }
      },
      "description": "Google Ad Manager Settings"
    },
    "RequestValue": {
      "id": "RequestValue",
      "type": "object",
      "properties": {
        "userAttributeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID."
        },
        "excludeFromUserAttributeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID."
        },
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        }
      },
      "description": "Contains request value information."
    },
    "StudioCreativeAssetsResponse": {
      "description": "Response message for DfareportingStudioCreativeAssets.Insert.",
      "id": "StudioCreativeAssetsResponse",
      "type": "object",
      "properties": {
        "assets": {
          "items": {
            "$ref": "StudioCreativeAsset"
          },
          "type": "array",
          "description": "The list of studio creative assets."
        }
      }
    },
    "CreativeGroup": {
      "description": "Contains properties of a creative group.",
      "id": "CreativeGroup",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this creative group. This is a read-only field that can be left blank."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "groupNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser."
        },
        "advertiserId": {
          "description": "Advertiser ID of this creative group. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this creative group. This is a read-only, auto-generated field."
        }
      }
    },
    "DimensionValueList": {
      "id": "DimensionValueList",
      "type": "object",
      "properties": {
        "items": {
          "description": "The dimension values returned in this response.",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of list this is, in this case dfareporting#dimensionValueList."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        }
      },
      "description": "Represents the list of DimensionValue resources."
    },
    "TvCampaignSummary": {
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "id": "TvCampaignSummary",
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\"."
        },
        "id": {
          "type": "string",
          "description": "ID of this TV campaign."
        },
        "spend": {
          "type": "number",
          "format": "double",
          "description": "Spend across the entire TV campaign."
        },
        "type": {
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ],
          "description": "\"CampaignComponentType\" of this TV campaign."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "grp": {
          "type": "string",
          "format": "int64",
          "description": "GRP of this TV campaign."
        },
        "endDate": {
          "type": "string",
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\"."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of this TV campaign."
        },
        "impressions": {
          "type": "string",
          "format": "int64",
          "description": "Impressions across the entire TV campaign."
        }
      }
    },
    "UserProfileList": {
      "id": "UserProfileList",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "items": {
            "$ref": "UserProfile"
          },
          "type": "array",
          "description": "The user profiles returned in this response."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\"."
        }
      },
      "description": "Represents the list of user profiles."
    },
    "ListPopulationTerm": {
      "id": "ListPopulationTerm",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "CUSTOM_VARIABLE_TERM",
            "LIST_MEMBERSHIP_TERM",
            "REFERRER_TERM"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "List population term type determines the applicable fields in this object. If left unset or set to CUSTOM_VARIABLE_TERM, then variableName, variableFriendlyName, operator, value, and negation are applicable. If set to LIST_MEMBERSHIP_TERM then remarketingListId and contains are applicable. If set to REFERRER_TERM then operator, value, and negation are applicable."
        },
        "variableName": {
          "type": "string",
          "description": "Name of the variable (U1, U2, etc.) being compared in this term. This field is only relevant when type is set to null, CUSTOM_VARIABLE_TERM or REFERRER_TERM."
        },
        "contains": {
          "description": "Will be true if the term should check if the user is in the list and false if the term should check if the user is not in the list. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM. False by default.",
          "type": "boolean"
        },
        "variableFriendlyName": {
          "type": "string",
          "description": "Friendly name of this term's variable. This is a read-only, auto-generated field. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM."
        },
        "operator": {
          "enum": [
            "NUM_EQUALS",
            "NUM_LESS_THAN",
            "NUM_LESS_THAN_EQUAL",
            "NUM_GREATER_THAN",
            "NUM_GREATER_THAN_EQUAL",
            "STRING_EQUALS",
            "STRING_CONTAINS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Comparison operator of this term. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM."
        },
        "remarketingListId": {
          "description": "ID of the list in question. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "type": "string",
          "description": "Literal to compare the variable to. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM."
        },
        "negation": {
          "type": "boolean",
          "description": "Whether to negate the comparison result of this term during rule evaluation. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM."
        }
      },
      "description": "Remarketing List Population Rule Term."
    },
    "RichMediaExitOverride": {
      "id": "RichMediaExitOverride",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used."
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        },
        "exitId": {
          "description": "ID for the override to refer to a specific exit in the creative.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Rich Media Exit Override."
    },
    "CreativeFieldAssignment": {
      "description": "Creative Field Assignment.",
      "id": "CreativeFieldAssignment",
      "type": "object",
      "properties": {
        "creativeFieldId": {
          "description": "ID of the creative field.",
          "type": "string",
          "format": "int64"
        },
        "creativeFieldValueId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative field value."
        }
      }
    },
    "TechnologyTargeting": {
      "description": "Technology Targeting.",
      "id": "TechnologyTargeting",
      "type": "object",
      "properties": {
        "browsers": {
          "items": {
            "$ref": "Browser"
          },
          "type": "array",
          "description": "Browsers that this ad targets. For each browser either set browserVersionId or dartId along with the version numbers. If both are specified, only browserVersionId will be used. The other fields are populated automatically when the ad is inserted or updated."
        },
        "operatingSystemVersions": {
          "type": "array",
          "description": "Operating system versions that this ad targets. To target all versions, use operatingSystems. For each operating system version, only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system version, do not set targeting for the corresponding operating system in operatingSystems.",
          "items": {
            "$ref": "OperatingSystemVersion"
          }
        },
        "operatingSystems": {
          "description": "Operating systems that this ad targets. To target specific versions, use operatingSystemVersions. For each operating system only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting an operating system, do not set targeting for operating system versions for the same operating system.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        },
        "connectionTypes": {
          "type": "array",
          "description": "Connection types that this ad targets. For each connection type only id is required. The other fields are populated automatically when the ad is inserted or updated.",
          "items": {
            "$ref": "ConnectionType"
          }
        },
        "platformTypes": {
          "description": "Platform types that this ad targets. For example, desktop, mobile, or tablet. For each platform type, only id is required, and the other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "PlatformType"
          }
        },
        "mobileCarriers": {
          "description": "Mobile carriers that this ad targets. For each mobile carrier only id is required, and the other fields are populated automatically when the ad is inserted or updated. If targeting a mobile carrier, do not set targeting for any zip codes.",
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          }
        }
      }
    },
    "Element": {
      "id": "Element",
      "type": "object",
      "properties": {
        "elementName": {
          "description": "Optional. The name of the element. It is defaulted to resource file name if not provided.",
          "type": "string"
        },
        "reportingLabelFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The field ID to specify the field used for dynamic reporting in Campaign Manager 360."
        },
        "startTimestampFieldId": {
          "description": "Optional. The field ID to specify the field that represents the start timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "type": "integer",
          "format": "int32"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the element. This is a read-only field.",
          "readOnly": true
        },
        "isLocalTimestamp": {
          "type": "boolean",
          "description": "Optional. Whether the start and end timestamp is local timestamp. The default value is false which means start and end timestamp is in UTC."
        },
        "feedFields": {
          "type": "array",
          "description": "Required. The list of fields of the element. The field order and name should match the meta data in the content source source.",
          "items": {
            "$ref": "FeedField"
          }
        },
        "proximityTargetingFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The field ID that specify field used for proximity targeting."
        },
        "endTimestampFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The field ID to specify the field that represents the end timestamp. Only applicable if you're planning to use scheduling in your dynamic creative."
        },
        "defaultFieldId": {
          "description": "Optional. The field ID to specify the field that represents the default field in the feed.",
          "type": "integer",
          "format": "int32"
        },
        "activeFieldId": {
          "description": "Optional. The field ID to specify the active field in the feed.",
          "type": "integer",
          "format": "int32"
        },
        "externalIdFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The field ID to specify the field used for uniquely identifying the feed row. This is a required field."
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the element. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        }
      },
      "description": "Contains the element of the dynamic feed."
    },
    "GeoTargeting": {
      "id": "GeoTargeting",
      "type": "object",
      "properties": {
        "cities": {
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city.",
          "type": "array",
          "items": {
            "$ref": "City"
          }
        },
        "postalCodes": {
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code.",
          "type": "array",
          "items": {
            "$ref": "PostalCode"
          }
        },
        "excludeCountries": {
          "type": "boolean",
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad."
        },
        "regions": {
          "type": "array",
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region.",
          "items": {
            "$ref": "Region"
          }
        },
        "countries": {
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country.",
          "type": "array",
          "items": {
            "$ref": "Country"
          }
        },
        "metros": {
          "type": "array",
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "items": {
            "$ref": "Metro"
          }
        }
      },
      "description": "Geographical Targeting."
    },
    "TargetableRemarketingList": {
      "id": "TargetableRemarketingList",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
        },
        "listSize": {
          "description": "Number of users currently in the list. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingList\".",
          "type": "string"
        },
        "listSource": {
          "description": "Product from which this targetable remarketing list was originated.",
          "type": "string",
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ],
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ]
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Targetable remarketing list ID."
        },
        "active": {
          "type": "boolean",
          "description": "Whether this targetable remarketing list is active."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
        },
        "name": {
          "type": "string",
          "description": "Name of the targetable remarketing list. Is no greater than 128 characters long."
        },
        "description": {
          "description": "Targetable remarketing list description.",
          "type": "string"
        },
        "lifeSpan": {
          "description": "Number of days that a user should remain in the targetable remarketing list without an impression.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Dimension value for the advertiser ID that owns this targetable remarketing list."
        }
      },
      "description": "Contains properties of a targetable remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource is a read-only view of a remarketing list to be used to facilitate targeting ads to specific lists. Remarketing lists that are owned by your advertisers and those that are shared to your advertisers or account are accessible via this resource. To manage remarketing lists that are owned by your advertisers, use the RemarketingLists resource."
    },
    "SortedDimension": {
      "id": "SortedDimension",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the dimension."
        },
        "sortOrder": {
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "An optional sort order for the dimension column."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#sortedDimension."
        }
      },
      "description": "Represents a sorted dimension."
    },
    "City": {
      "id": "City",
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this city belongs."
        },
        "countryDartId": {
          "description": "DART ID of the country to which this city belongs.",
          "type": "string",
          "format": "int64"
        },
        "dartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of this city. This is the ID used for targeting and generating reports."
        },
        "name": {
          "type": "string",
          "description": "Name of this city."
        },
        "regionCode": {
          "description": "Region code of the region to which this city belongs.",
          "type": "string"
        },
        "metroCode": {
          "description": "Metro region code of the metro region (DMA) to which this city belongs.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\"."
        },
        "regionDartId": {
          "description": "DART ID of the region to which this city belongs.",
          "type": "string",
          "format": "int64"
        },
        "metroDmaId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the metro region (DMA) to which this city belongs."
        }
      },
      "description": "Contains information about a city that can be targeted by ads."
    },
    "AdvertiserGroupsListResponse": {
      "id": "AdvertiserGroupsListResponse",
      "type": "object",
      "properties": {
        "advertiserGroups": {
          "items": {
            "$ref": "AdvertiserGroup"
          },
          "type": "array",
          "description": "Advertiser group collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      },
      "description": "Advertiser Group List Response"
    },
    "EventTagsListResponse": {
      "id": "EventTagsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\"."
        },
        "eventTags": {
          "items": {
            "$ref": "EventTag"
          },
          "description": "Event tag collection.",
          "type": "array"
        }
      },
      "description": "Event Tag List Response"
    },
    "SizesListResponse": {
      "description": "Size List Response",
      "id": "SizesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\"."
        },
        "sizes": {
          "type": "array",
          "description": "Size collection.",
          "items": {
            "$ref": "Size"
          }
        }
      }
    },
    "CartData": {
      "id": "CartData",
      "type": "object",
      "properties": {
        "merchantFeedLabel": {
          "type": "string",
          "description": "The feed labels associated with the feed where your items are uploaded. For more information, please refer to ​​ https://support.google.com/merchants/answer/12453549. Providing the feed label reduces ambiguity in identifying the right offer details."
        },
        "items": {
          "items": {
            "$ref": "CartDataItem"
          },
          "type": "array",
          "description": "Data of the items purchased."
        },
        "merchantId": {
          "type": "string",
          "format": "int64",
          "description": "The Merchant Center ID where the items are uploaded. Providing Merchant Center ID reduces ambiguity in identifying the right offer details."
        },
        "merchantFeedLanguage": {
          "description": "The language associated with the feed where your items are uploaded. Use ISO 639-1 language codes. Providing the feed language reduces ambiguity in identifying the right offer details.",
          "type": "string"
        }
      },
      "description": "Contains additional information about cart data. This field may only be used when calling batchinsert; it is not supported by batchupdate. Cart data reporting is only supported in SA360. [Learn more](https://support.google.com/sa360/topic/13425788)"
    },
    "CrossDimensionReachReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "id": "CrossDimensionReachReportCompatibleFields",
      "type": "object",
      "properties": {
        "overlapMetrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "breakdown": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensionFilters": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields."
        }
      }
    },
    "OperatingSystem": {
      "id": "OperatingSystem",
      "type": "object",
      "properties": {
        "desktop": {
          "description": "Whether this operating system is for desktop.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystem\"."
        },
        "dartId": {
          "description": "DART ID of this operating system. This is the ID used for targeting.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this operating system."
        },
        "mobile": {
          "description": "Whether this operating system is for mobile.",
          "type": "boolean"
        }
      },
      "description": "Contains information about an operating system that can be targeted by ads."
    },
    "CampaignSummary": {
      "id": "CampaignSummary",
      "type": "object",
      "properties": {
        "preTaxAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency."
        },
        "campaignId": {
          "description": "Campaign ID.",
          "type": "string",
          "format": "int64"
        },
        "totalAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency."
        },
        "taxAmountMicros": {
          "description": "The tax amount for this campaign, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "billingInvoiceCode": {
          "type": "string",
          "description": "Campaign billing invoice code."
        }
      },
      "description": "Represents a summarized campaign information associated with this invoice."
    },
    "PlacementConversionDomainOverride": {
      "id": "PlacementConversionDomainOverride",
      "type": "object",
      "properties": {
        "conversionDomains": {
          "items": {
            "$ref": "PlacementSingleConversionDomain"
          },
          "type": "array"
        }
      }
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "type": "object",
      "properties": {
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank."
        },
        "placementGroupType": {
          "type": "string",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ]
        },
        "primaryPlacementId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements."
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "primaryPlacementIdDimensionValue": {
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "contentCategoryId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the content category assigned to this placement group."
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "activeStatus": {
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Whether this placement group is active, inactive, archived or permanently archived."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\"."
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank."
        },
        "childPlacementIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "type": "array"
        },
        "campaignId": {
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "type": "string",
          "format": "int64"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "comment": {
          "type": "string",
          "description": "Comments for this placement group."
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteId": {
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "Contains properties of a package or roadblock."
    },
    "CampaignsListResponse": {
      "id": "CampaignsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "campaigns": {
          "items": {
            "$ref": "Campaign"
          },
          "type": "array",
          "description": "Campaign collection."
        }
      },
      "description": "Campaign List Response"
    },
    "SiteContact": {
      "description": "Site Contact",
      "id": "SiteContact",
      "type": "object",
      "properties": {
        "contactType": {
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "description": "Site contact type.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "phone": {
          "description": "Primary phone number of this site contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        },
        "firstName": {
          "description": "First name of this site contact.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Address of this site contact."
        },
        "lastName": {
          "type": "string",
          "description": "Last name of this site contact."
        },
        "title": {
          "type": "string",
          "description": "Title or designation of this site contact."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this site contact. This is a read-only, auto-generated field."
        }
      }
    },
    "UserRolePermission": {
      "description": "Contains properties of a user role permission.",
      "id": "UserRolePermission",
      "type": "object",
      "properties": {
        "availability": {
          "type": "string",
          "enumDescriptions": [
            "Not available by default.",
            "Available by default to accounts only.",
            "Available by default to both accounts and subaccounts.",
            "Always available to accounts.",
            "Always available to both accounts and subaccounts.",
            "Available for user profile permissions only."
          ],
          "description": "Levels of availability for a user role permission.",
          "enum": [
            "NOT_AVAILABLE_BY_DEFAULT",
            "ACCOUNT_BY_DEFAULT",
            "SUBACCOUNT_AND_ACCOUNT_BY_DEFAULT",
            "ACCOUNT_ALWAYS",
            "SUBACCOUNT_AND_ACCOUNT_ALWAYS",
            "USER_PROFILE_ONLY"
          ]
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this user role permission."
        },
        "permissionGroupId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the permission group that this user role permission belongs to."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermission\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this user role permission.",
          "type": "string"
        }
      }
    },
    "ContextualKeywordTargeting": {
      "id": "ContextualKeywordTargeting",
      "type": "object",
      "properties": {
        "keywords": {
          "items": {
            "$ref": "ContextualKeyword"
          },
          "type": "array",
          "description": "Contextual keywords that this ad targets"
        }
      },
      "description": "Contextual Keyword Targeting."
    },
    "CampaignCreativeAssociation": {
      "description": "Identifies a creative which has been associated with a given campaign.",
      "id": "CampaignCreativeAssociation",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\"."
        },
        "creativeId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative associated with the campaign. This is a required field."
        }
      }
    },
    "MeasurementPartnerCampaignLink": {
      "id": "MeasurementPartnerCampaignLink",
      "type": "object",
      "properties": {
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ]
        },
        "linkStatus": {
          "description": ".",
          "type": "string",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "partnerCampaignId": {
          "type": "string",
          "description": "Partner campaign ID needed for establishing linking with Measurement partner."
        }
      }
    },
    "FloodlightActivity": {
      "id": "FloodlightActivity",
      "type": "object",
      "properties": {
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "description": "Account ID of this floodlight activity. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "floodlightTagType": {
          "enum": [
            "IFRAME",
            "IMAGE",
            "GLOBAL_SITE_TAG"
          ],
          "description": "The type of Floodlight tag this activity will generate. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "tagString": {
          "description": "Value of the cat= parameter in the floodlight tag, which the ad servers use to identify the activity. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activities of the same activity group. This field is read-only after insertion.",
          "type": "string"
        },
        "floodlightActivityGroupType": {
          "description": "Type of the associated floodlight activity group. This is a read-only field.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity. This is a required field. Must be less than 129 characters long and cannot contain quotes."
        },
        "userDefinedVariableTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "U1",
              "U2",
              "U3",
              "U4",
              "U5",
              "U6",
              "U7",
              "U8",
              "U9",
              "U10",
              "U11",
              "U12",
              "U13",
              "U14",
              "U15",
              "U16",
              "U17",
              "U18",
              "U19",
              "U20",
              "U21",
              "U22",
              "U23",
              "U24",
              "U25",
              "U26",
              "U27",
              "U28",
              "U29",
              "U30",
              "U31",
              "U32",
              "U33",
              "U34",
              "U35",
              "U36",
              "U37",
              "U38",
              "U39",
              "U40",
              "U41",
              "U42",
              "U43",
              "U44",
              "U45",
              "U46",
              "U47",
              "U48",
              "U49",
              "U50",
              "U51",
              "U52",
              "U53",
              "U54",
              "U55",
              "U56",
              "U57",
              "U58",
              "U59",
              "U60",
              "U61",
              "U62",
              "U63",
              "U64",
              "U65",
              "U66",
              "U67",
              "U68",
              "U69",
              "U70",
              "U71",
              "U72",
              "U73",
              "U74",
              "U75",
              "U76",
              "U77",
              "U78",
              "U79",
              "U80",
              "U81",
              "U82",
              "U83",
              "U84",
              "U85",
              "U86",
              "U87",
              "U88",
              "U89",
              "U90",
              "U91",
              "U92",
              "U93",
              "U94",
              "U95",
              "U96",
              "U97",
              "U98",
              "U99",
              "U100"
            ]
          },
          "description": "List of the user-defined variables used by this conversion tag. These map to the \"u[1-100]=\" in the tags. Each of these can have a user defined type. Acceptable values are U1 to U100, inclusive. ",
          "type": "array"
        },
        "publisherTags": {
          "type": "array",
          "description": "Publisher dynamic floodlight tags.",
          "items": {
            "$ref": "FloodlightActivityPublisherDynamicTag"
          }
        },
        "sslRequired": {
          "type": "boolean",
          "description": "Whether this floodlight activity must be SSL-compliant."
        },
        "tagFormat": {
          "enum": [
            "HTML",
            "XHTML"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Tag format type for the floodlight activity. If left blank, the tag format will default to HTML."
        },
        "countingMethod": {
          "type": "string",
          "enumDescriptions": [
            "Count every conversion.",
            "Count the first conversion for each unique user during each 24-hour day, from midnight to midnight, Eastern Time.",
            "Count one conversion per user per session. Session length is set by the site where the Spotlight tag is deployed.",
            "Count all conversions, plus the total number of sales that take place and the total revenue for these transactions.",
            "Count each conversion, plus the total number of items sold and the total revenue for these sales."
          ],
          "description": "Counting method for conversions for this floodlight activity. This is a required field.",
          "enum": [
            "STANDARD_COUNTING",
            "UNIQUE_COUNTING",
            "SESSION_COUNTING",
            "TRANSACTIONS_COUNTING",
            "ITEMS_SOLD_COUNTING"
          ]
        },
        "status": {
          "description": "The status of the activity. This can only be set to ACTIVE or ARCHIVED_AND_DISABLED. The ARCHIVED status is no longer supported and cannot be set for Floodlight activities. The DISABLED_POLICY status indicates that a Floodlight activity is violating Google policy. Contact your account manager for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ACTIVE",
            "ARCHIVED_AND_DISABLED",
            "ARCHIVED",
            "DISABLED_POLICY"
          ]
        },
        "defaultTags": {
          "type": "array",
          "description": "Dynamic floodlight tags.",
          "items": {
            "$ref": "FloodlightActivityDynamicTag"
          }
        },
        "expectedUrl": {
          "description": "URL where this tag will be deployed. If specified, must be less than 256 characters long.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "format": "int64",
          "description": "Floodlight configuration ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's floodlight configuration or from the existing activity's floodlight configuration."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivity\"."
        },
        "cacheBustingType": {
          "enum": [
            "JAVASCRIPT",
            "ACTIVE_SERVER_PAGE",
            "JSP",
            "PHP",
            "COLD_FUSION"
          ],
          "description": "Code type used for cache busting in the generated tag. Applicable only when floodlightActivityGroupType is COUNTER and countingMethod is STANDARD_COUNTING or UNIQUE_COUNTING.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "floodlightActivityGroupTagString": {
          "type": "string",
          "description": "Tag string of the associated floodlight activity group. This is a read-only field."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this floodlight activity. This is a read-only, auto-generated field."
        },
        "floodlightActivityGroupName": {
          "type": "string",
          "description": "Name of the associated floodlight activity group. This is a read-only field."
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "sslCompliant": {
          "description": "Whether the floodlight activity is SSL-compliant. This is a read-only field, its value detected by the system from the floodlight tags.",
          "type": "boolean"
        },
        "secure": {
          "description": "Whether this tag should use SSL.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's advertiser or the existing activity's advertiser.",
          "type": "string",
          "format": "int64"
        },
        "floodlightActivityGroupId": {
          "description": "Floodlight activity group ID of this floodlight activity. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "notes": {
          "type": "string",
          "description": "General notes or implementation instructions for the tag."
        },
        "attributionEnabled": {
          "type": "boolean",
          "description": "Whether the activity is enabled for attribution."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "Contains properties of a Floodlight activity."
    },
    "TvCampaignSummariesListResponse": {
      "description": "Response message for TvCampaignSummariesService.List.",
      "id": "TvCampaignSummariesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummariesListResponse\"."
        },
        "tvCampaignSummaries": {
          "items": {
            "$ref": "TvCampaignSummary"
          },
          "description": "List of TV campaign summaries.",
          "type": "array"
        }
      }
    },
    "ContentCategory": {
      "id": "ContentCategory",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this content category. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\"."
        },
        "accountId": {
          "description": "Account ID of this content category. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "CustomRule": {
      "id": "CustomRule",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of this custom rule.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Priority of the custom rule."
        },
        "ruleBlocks": {
          "type": "array",
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "items": {
            "$ref": "RuleBlock"
          }
        }
      },
      "description": "Contains custom rule information."
    },
    "TagSetting": {
      "id": "TagSetting",
      "type": "object",
      "properties": {
        "keywordOption": {
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ],
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
          "type": "string",
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ]
        },
        "includeUnescapedlpurlMacro": {
          "type": "boolean",
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site."
        },
        "additionalKeyValues": {
          "type": "string",
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field."
        },
        "includeClickThroughUrls": {
          "type": "boolean",
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site."
        },
        "includeClickTracking": {
          "description": "Whether click-tracking string should be included in the tags.",
          "type": "boolean"
        }
      },
      "description": "Tag Settings"
    },
    "TagData": {
      "id": "TagData",
      "type": "object",
      "properties": {
        "creativeId": {
          "type": "string",
          "format": "int64",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING."
        },
        "format": {
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "TagData tag format of this tag."
        },
        "clickTag": {
          "type": "string",
          "description": "Tag string to record a click."
        },
        "adId": {
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string",
          "format": "int64"
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        }
      },
      "description": "Placement Tag Data"
    },
    "SubaccountsListResponse": {
      "description": "Subaccount List Response",
      "id": "SubaccountsListResponse",
      "type": "object",
      "properties": {
        "subaccounts": {
          "items": {
            "$ref": "Subaccount"
          },
          "type": "array",
          "description": "Subaccount collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "MobileAppsListResponse": {
      "description": "Mobile app List Response",
      "id": "MobileAppsListResponse",
      "type": "object",
      "properties": {
        "mobileApps": {
          "description": "Mobile apps collection.",
          "type": "array",
          "items": {
            "$ref": "MobileApp"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "ClickThroughUrlSuffixProperties": {
      "description": "Click Through URL Suffix settings.",
      "id": "ClickThroughUrlSuffixProperties",
      "type": "object",
      "properties": {
        "overrideInheritedSuffix": {
          "type": "boolean",
          "description": "Whether this entity should override the inherited click-through URL suffix with its own defined value."
        },
        "clickThroughUrlSuffix": {
          "type": "string",
          "description": "Click-through URL suffix to apply to all ads in this entity's scope. Must be less than 128 characters long."
        }
      }
    },
    "DynamicProfileVersion": {
      "id": "DynamicProfileVersion",
      "type": "object",
      "properties": {
        "dynamicProfileFeedSettings": {
          "type": "array",
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          }
        },
        "versionId": {
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Contains dynamic profile version information."
    },
    "PlacementSingleConversionDomain": {
      "id": "PlacementSingleConversionDomain",
      "type": "object",
      "properties": {
        "conversionDomainId": {
          "type": "string",
          "format": "int64"
        },
        "conversionDomainValue": {
          "type": "string"
        }
      }
    },
    "PlacementAssignment": {
      "description": "Placement Assignment.",
      "id": "PlacementAssignment",
      "type": "object",
      "properties": {
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "placementId": {
          "type": "string",
          "format": "int64",
[...]
