{
  "id": "dfareporting:v5",
  "revision": "20260310",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "version": "v5",
  "basePath": "/dfareporting/v5/",
  "name": "dfareporting",
  "rootUrl": "https://dfareporting.googleapis.com/",
  "servicePath": "dfareporting/v5/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "title": "Campaign Manager 360 API",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "placements": {
      "methods": {
        "update": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "Placement"
          },
          "path": "userprofiles/{+profileId}/placements",
          "description": "Updates an existing placement.",
          "httpMethod": "PUT",
          "id": "dfareporting.placements.update",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "parameterOrder": [
            "profileId"
          ]
        },
        "generatetags": {
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "tagProperties.dcDbmMacroIncluded": {
              "description": "Optional. Indicates whether to include the dc_dbm macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/9280273) about this macro.",
              "location": "query",
              "type": "boolean"
            },
            "campaignId": {
              "description": "Generate placements belonging to this campaign. This is a required field.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "tagFormats": {
              "location": "query",
              "type": "string",
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ]
            },
            "tagProperties.gppMacrosIncluded": {
              "description": "Optional. Indicates whether to include the GPP macro in the generated tags. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "location": "query",
              "type": "boolean"
            },
            "placementIds": {
              "repeated": true,
              "description": "Generate tags for these placements.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "tagProperties.tcfGdprMacrosIncluded": {
              "description": "Optional. Indicates whether to include the TCF macro in the generated tags. Default true. [Learn more](https://support.google.com/campaignmanager/answer/10031693) about this macro.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "description": "Generates tags for a placement.",
          "httpMethod": "POST",
          "id": "dfareporting.placements.generatetags",
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "pricingTypes": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "repeated": true,
              "description": "Select only placements with these pricing types.",
              "location": "query",
              "type": "string"
            },
            "paymentSource": {
              "description": "Select only placements with this payment source.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "location": "query",
              "type": "string"
            },
            "minStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "compatibilities": {
              "location": "query",
              "type": "string",
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ]
            },
            "campaignIds": {
              "repeated": true,
              "description": "Select only placements that belong to these campaigns.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "placementStrategyIds": {
              "description": "Select only placements that are associated with these placement strategies.",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only placements that belong to these advertisers."
            },
            "contentCategoryIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only placements that are associated with these content categories.",
              "repeated": true
            },
            "minEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "siteIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only placements that are associated with these sites.",
              "repeated": true
            },
            "groupIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only placements that belong to these placement groups."
            },
            "directorySiteIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only placements that are associated with these directory sites."
            },
            "sizeIds": {
              "repeated": true,
              "description": "Select only placements that are associated with these sizes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "activeStatus": {
              "repeated": true,
              "description": "Select only placements with these active statuses.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" ."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "description": "Select only placements with these IDs.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "maxEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            }
          },
          "path": "userprofiles/{+profileId}/placements",
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "id": "dfareporting.placements.list",
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "id": "dfareporting.placements.patch",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/placements",
          "description": "Updates an existing placement. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Required. Placement ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "httpMethod": "GET",
          "id": "dfareporting.placements.get",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Placement ID."
            }
          },
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "description": "Gets one placement by ID."
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "id": "dfareporting.placements.insert",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/placements",
          "description": "Inserts a new placement.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "Placement"
          }
        }
      }
    },
    "placementGroups": {
      "methods": {
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "description": "Inserts a new placement group.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.insert",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST"
        },
        "update": {
          "path": "userprofiles/{+profileId}/placementGroups",
          "description": "Updates an existing placement group.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.update",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "httpMethod": "GET",
          "id": "dfareporting.placementGroups.list",
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "800",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "maxEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "ids": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only placement groups with these IDs."
            },
            "directorySiteIds": {
              "description": "Select only placement groups that are associated with these directory sites.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "placementGroupType": {
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "location": "query",
              "type": "string"
            },
            "siteIds": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only placement groups that are associated with these sites."
            },
            "activeStatus": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "repeated": true,
              "description": "Select only placements with these active statuses.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query",
              "type": "string"
            },
            "contentCategoryIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only placement groups that are associated with these content categories."
            },
            "minEndDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "campaignIds": {
              "repeated": true,
              "description": "Select only placement groups that belong to these campaigns.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "placementStrategyIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these placement strategies.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "advertiserIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only placement groups that belong to these advertisers."
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "pricingTypes": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "description": "Select only placement groups with these pricing types.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "minStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            }
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging."
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Required. Placement ID.",
              "required": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "dfareporting.placementGroups.patch",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.placementGroups.get",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "required": true,
              "description": "Placement group ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "description": "Gets one placement group by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}"
        }
      }
    },
    "sites": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/sites",
          "description": "Updates an existing site. This method supports patch semantics.",
          "parameters": {
            "id": {
              "required": true,
              "description": "Required. Site ID.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "Site"
          },
          "id": "dfareporting.sites.patch",
          "response": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH"
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.sites.get",
          "response": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Site ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/sites/{+id}",
          "description": "Gets one site by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sites/{sitesId}"
        },
        "list": {
          "id": "dfareporting.sites.list",
          "response": {
            "$ref": "SitesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/sites",
          "description": "Retrieves a list of sites, possibly filtered. This method supports paging.",
          "parameters": {
            "ids": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only sites with these IDs."
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name, ID or keyName. Wildcards (*) are allowed. For example, \"site*2015\" will return objects with names like \"site June 2015\", \"site April 2015\", or simply \"site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"site\" will match objects with name \"my site\", \"site 2015\", or simply \"site\"."
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "subaccountId": {
              "location": "query",
              "type": "string",
              "description": "Select only sites with this subaccount ID.",
              "format": "int64"
            },
            "acceptsInterstitialPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "description": "Field by which to sort the list.",
              "location": "query",
              "type": "string"
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "unmappedSite": {
              "description": "Select only sites that have not been mapped to a directory site.",
              "location": "query",
              "type": "boolean"
            },
            "directorySiteIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only sites with these directory site IDs."
            },
            "adWordsSite": {
              "description": "Select only AdWords sites.",
              "location": "query",
              "type": "boolean"
            },
            "campaignIds": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only sites with these campaign IDs.",
              "repeated": true
            },
            "approved": {
              "location": "query",
              "type": "boolean",
              "description": "Select only approved sites."
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only sites that accept publisher paid placements."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sites"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/sites",
          "description": "Updates an existing site.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Site"
          },
          "id": "dfareporting.sites.update",
          "response": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "id": "dfareporting.sites.insert",
          "response": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/sites",
          "description": "Inserts a new site.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Site"
          }
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Billing Profile ID."
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "description": "Gets one billing profile by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.billingProfiles.get",
          "response": {
            "$ref": "BillingProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "BillingProfile"
          },
          "path": "userprofiles/{+profileId}/billingProfiles",
          "description": "Updates an existing billing profile.",
          "httpMethod": "PUT",
          "id": "dfareporting.billingProfiles.update",
          "response": {
            "$ref": "BillingProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "id": "dfareporting.billingProfiles.list",
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/billingProfiles",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "parameters": {
            "status": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only billing profile with the specified status.",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ]
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\"."
            },
            "sortField": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "subaccountIds": {
              "repeated": true,
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "description": "Select only billing profile with these IDs.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "onlySuggestion": {
              "location": "query",
              "type": "boolean",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "currency_code": {
              "location": "query",
              "type": "string",
              "description": "Select only billing profile with currency."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "countries": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "dartId": {
              "required": true,
              "description": "Country DART ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/countries/{+dartId}",
          "description": "Gets one country by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.countries.get",
          "response": {
            "$ref": "Country"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/countries/{countriesId}",
          "parameterOrder": [
            "profileId",
            "dartId"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/countries",
          "id": "dfareporting.countries.list",
          "response": {
            "$ref": "CountriesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/countries",
          "description": "Retrieves a list of countries.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          }
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissionGroups.get",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User role permission group ID.",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "description": "Gets one user role permission group by ID.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}"
        },
        "list": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "description": "Gets a list of all supported user role permission groups.",
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissionGroups.list",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "id": "dfareporting.creativeAssets.insert",
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            },
            "maxSize": "1073741824"
          },
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "description": "Inserts a new creative asset.",
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "advertiserId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Advertiser ID of this creative. This is a required field."
            }
          },
          "request": {
            "$ref": "CreativeAssetMetadata"
          }
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "list": {
          "parameters": {
            "campaignId": {
              "description": "Campaign ID in this association.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "httpMethod": "GET",
          "id": "dfareporting.campaignCreativeAssociations.list",
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ]
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "parameters": {
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "campaignId": {
              "required": true,
              "description": "Campaign ID in this association.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "httpMethod": "POST",
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "studioCreativeAssets": {
      "methods": {
        "insert": {
          "id": "dfareporting.studioCreativeAssets.insert",
          "response": {
            "$ref": "StudioCreativeAssetsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/dfareporting/v5/studio/creativeAssets",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "1073741824"
          },
          "httpMethod": "POST",
          "path": "studio/creativeAssets",
          "description": "Inserts a new studio creative asset.",
          "parameters": {},
          "request": {
            "$ref": "DfareportingStudioCreativeAssetsInsertRequest"
          },
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "flatPath": "studio/creativeAssets"
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "description": "Retrieves a list of billing assignments.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "billingProfileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Billing profile ID of this billing assignment.",
              "required": true
            }
          },
          "id": "dfareporting.billingAssignments.list",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "parameters": {
            "billingProfileId": {
              "description": "Billing profile ID of this billing assignment.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "request": {
            "$ref": "BillingAssignment"
          },
          "id": "dfareporting.billingAssignments.insert",
          "response": {
            "$ref": "BillingAssignment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ]
        }
      }
    },
    "accountPermissionGroups": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.accountPermissionGroups.list",
          "response": {
            "$ref": "AccountPermissionGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/accountPermissionGroups",
          "description": "Retrieves the list of account permission groups.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissionGroups/{accountPermissionGroupsId}",
          "id": "dfareporting.accountPermissionGroups.get",
          "response": {
            "$ref": "AccountPermissionGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/accountPermissionGroups/{+id}",
          "description": "Gets one account permission group by ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Account permission group ID.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "parameters": {
            "regionDartIds": {
              "repeated": true,
              "description": "Select only cities from these regions.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "countryDartIds": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only cities from these countries."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "namePrefix": {
              "location": "query",
              "type": "string",
              "description": "Select only cities with names starting with this prefix."
            },
            "dartIds": {
              "description": "Select only cities with these DART IDs.",
              "repeated": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/cities",
          "description": "Retrieves a list of cities, possibly filtered.",
          "httpMethod": "GET",
          "id": "dfareporting.cities.list",
          "response": {
            "$ref": "CitiesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "get": {
          "parameters": {
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Mobile carrier ID.",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/mobileCarriers/{+id}",
          "description": "Gets one mobile carrier by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.mobileCarriers.get",
          "response": {
            "$ref": "MobileCarrier"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers/{mobileCarriersId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers",
          "id": "dfareporting.mobileCarriers.list",
          "response": {
            "$ref": "MobileCarriersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/mobileCarriers",
          "description": "Retrieves a list of mobile carriers.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          }
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.accountPermissions.list",
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/accountPermissions",
          "description": "Retrieves the list of account permissions.",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions"
        },
        "get": {
          "parameters": {
            "id": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Account permission ID.",
              "required": true
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "description": "Gets one account permission by ID.",
          "httpMethod": "GET",
          "id": "dfareporting.accountPermissions.get",
          "response": {
            "$ref": "AccountPermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "update": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "creativeFieldId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Creative field ID for this creative field value."
            }
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Updates an existing creative field value.",
          "httpMethod": "PUT",
          "id": "dfareporting.creativeFieldValues.update",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ]
        },
        "list": {
          "parameters": {
            "ids": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only creative field values with these IDs.",
              "repeated": true
            },
            "sortField": {
              "location": "query",
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "VALUE"
              ],
              "description": "Field by which to sort the list."
            },
            "creativeFieldId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Creative field ID for this creative field value."
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "searchString": {
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "id": "dfareporting.creativeFieldValues.list",
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ]
        },
        "get": {
          "id": "dfareporting.creativeFieldValues.get",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "description": "Gets one creative field value by ID.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "id": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Creative Field Value ID"
            },
            "creativeFieldId": {
              "description": "Creative field ID for this creative field value.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}"
        },
        "patch": {
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "parameters": {
            "creativeFieldId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "CreativeField ID.",
              "required": true
            },
            "id": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "CreativeFieldValue ID.",
              "required": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.patch",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ]
        },
        "insert": {
          "id": "dfareporting.creativeFieldValues.insert",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "description": "Inserts a new creative field value.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "creativeFieldId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "Creative field ID for this creative field value.",
              "required": true
            }
          },
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues"
        },
        "delete": {
          "parameters": {
            "creativeFieldId": {
              "required": true,
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "id": {
              "description": "Creative Field Value ID",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "description": "Deletes an existing creative field value.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "id": "dfareporting.creativeFieldValues.delete",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "insert": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "LandingPage"
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "description": "Inserts a new landing page.",
          "httpMethod": "POST",
          "id": "dfareporting.advertiserLandingPages.insert",
          "response": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "parameterOrder": [
            "profileId"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "httpMethod": "PUT",
          "id": "dfareporting.advertiserLandingPages.update",
          "response": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "request": {
            "$ref": "LandingPage"
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "description": "Updates an existing landing page."
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "description": "Retrieves a list of landing pages.",
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "description": "Select only landing pages that belong to this subaccount.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "advertiserIds": {
              "repeated": true,
              "description": "Select only landing pages that belong to these advertisers.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "description": "Order of sorted results."
            },
            "campaignIds": {
              "description": "Select only landing pages that are associated with these campaigns.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "archived": {
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.",
              "location": "query",
              "type": "boolean"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "repeated": true,
              "description": "Select only landing pages with these IDs."
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dfareporting.advertiserLandingPages.list",
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "id": "dfareporting.advertiserLandingPages.get",
          "response": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}",
          "description": "Gets one landing page by ID.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "Landing page ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}"
        },
        "patch": {
          "id": "dfareporting.advertiserLandingPages.patch",
          "response": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "description": "Updates an existing landing page. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "description": "Required. Landing Page ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages"
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "id": "dfareporting.targetableRemarketingLists.list",
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "parameters": {
            "name": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\"."
            },
            "sortField": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "advertiserId": {
              "required": true,
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "type": "string"
            },
            "active": {
              "description": "Select only active or only inactive targetable remarketing lists.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "id": "dfareporting.targetableRemarketingLists.get",
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "description": "Gets one remarketing list by ID.",
          "parameters": {
            "id": {
              "description": "Remarketing list ID.",
              "required": true,
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "id": "dfareporting.browsers.list",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/browsers",
          "description": "Retrieves a list of browsers.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/browsers"
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "generatetag": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "id": "dfareporting.floodlightActivities.generatetag",
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag",
          "description": "Generates a tag for a floodlight activity.",
          "parameters": {
            "floodlightActivityId": {
              "location": "query",
              "type": "string",
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          }
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "description": "Updates an existing floodlight activity.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "FloodlightActivity"
          },
          "id": "dfareporting.floodlightActivities.update",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT"
        },
        "list": {
          "parameters": {
            "sortField": {
              "location": "query",
              "type": "string",
              "default": "ID",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            },
            "floodlightActivityGroupIds": {
              "repeated": true,
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "floodlightActivityGroupTagString": {
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "description": "Maximum number of results to return."
            },
            "searchString": {
[...]
