{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "Browser": {
      "description": "Contains information about a browser that can be targeted by ads.",
      "type": "object",
      "properties": {
        "dartId": {
          "type": "string",
          "description": "DART ID of this browser. This is the ID used when generating reports.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this browser."
        },
        "browserVersionId": {
          "type": "string",
          "description": "ID referring to this grouping of browser and version numbers. This is the ID used for targeting.",
          "format": "int64"
        },
        "minorVersion": {
          "description": "Minor version number (number after first dot on left) of this browser. For example, for Chrome 5.0.375.86 beta, this field should be set to 0. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is.",
          "type": "string"
        },
        "majorVersion": {
          "type": "string",
          "description": "Major version number (leftmost number) of this browser. For example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browser\".",
          "type": "string"
        }
      },
      "id": "Browser"
    },
    "OperatingSystemVersion": {
      "description": "Contains information about a particular version of an operating system that can be targeted by ads.",
      "type": "object",
      "properties": {
        "majorVersion": {
          "description": "Major version (leftmost number) of this operating system version.",
          "type": "string"
        },
        "minorVersion": {
          "type": "string",
          "description": "Minor version (number after the first dot) of this operating system version."
        },
        "name": {
          "type": "string",
          "description": "Name of this operating system version."
        },
        "operatingSystem": {
          "description": "Operating system of this operating system version.",
          "$ref": "OperatingSystem"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersion\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this operating system version.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "OperatingSystemVersion"
    },
    "ReportList": {
      "description": "Represents the list of reports.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of list this is, in this case dfareporting#reportList."
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through reports. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
        },
        "items": {
          "items": {
            "$ref": "Report"
          },
          "description": "The reports returned in this response.",
          "type": "array"
        }
      },
      "id": "ReportList"
    },
    "Order": {
      "id": "Order",
      "type": "object",
      "properties": {
        "buyerOrganizationName": {
          "description": "Name of the buyer organization.",
          "type": "string"
        },
        "notes": {
          "description": "Notes of this order.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this order.",
          "format": "int64",
          "type": "string"
        },
        "approverUserProfileIds": {
          "description": "IDs for users that have to approve documents created for this order.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "contacts": {
          "items": {
            "$ref": "OrderContact"
          },
          "type": "array",
          "description": "Contacts for this order."
        },
        "buyerInvoiceId": {
          "type": "string",
          "description": "Buyer invoice ID associated with this order."
        },
        "sellerOrganizationName": {
          "description": "Name of the seller organization.",
          "type": "string"
        },
        "sellerOrderId": {
          "type": "string",
          "description": "Seller order ID associated with this order."
        },
        "siteId": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Site IDs this order is associated with."
        },
        "id": {
          "description": "ID of this order. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "siteNames": {
          "description": "Free-form site names this order is associated with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subaccountId": {
          "description": "Subaccount ID of this order.",
          "format": "int64",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this order.",
          "$ref": "LastModifiedInfo"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of this order.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this order."
        },
        "comments": {
          "description": "Comments in this order.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#order\"."
        },
        "advertiserId": {
          "description": "Advertiser ID of this order.",
          "format": "int64",
          "type": "string"
        },
        "planningTermId": {
          "description": "ID of the terms and conditions template used in this order.",
          "format": "int64",
          "type": "string"
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Terms and conditions of this order."
        }
      },
      "description": "Describes properties of a Planning order."
    },
    "DimensionValue": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the dimension."
        },
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension."
        },
        "id": {
          "description": "The ID associated with the value if available.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue."
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "matchType": {
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "type": "string"
        }
      },
      "description": "Represents a DimensionValue resource.",
      "id": "DimensionValue"
    },
    "LookbackConfiguration": {
      "type": "object",
      "properties": {
        "clickDuration": {
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads. If you enter 0, clicks will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "postImpressionActivitiesDuration": {
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads. If you enter 0, impressions will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Lookback configuration settings.",
      "id": "LookbackConfiguration"
    },
    "ContextualKeyword": {
      "id": "ContextualKeyword",
      "type": "object",
      "properties": {
        "keyword": {
          "description": "The keyword that can be targeted by ads.",
          "type": "string"
        }
      },
      "description": "Contains information about a Contextual Keyword that can be targeted by ads."
    },
    "ClickTag": {
      "description": "Creative Click Tag.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field."
        },
        "eventName": {
          "type": "string",
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "clickThroughUrl": {
          "description": "Parameter value for the specified click tag. This field contains a click-through url.",
          "$ref": "CreativeClickThroughUrl"
        }
      },
      "id": "ClickTag"
    },
    "FeedField": {
      "id": "FeedField",
      "description": "Each field of the element. This is a required field.",
      "type": "object",
      "properties": {
        "required": {
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE ",
          "type": "boolean"
        },
        "id": {
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link.",
          "format": "int32",
          "type": "integer"
        },
        "renderable": {
          "type": "boolean",
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT "
        },
        "type": {
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
            "The field type is CM360 site ID.",
            "The field type is boolean.",
            "The field type is exit url.",
            "The field type is datetime.",
            "The field type is CM360 creative ID.",
            "The field type is CM360 placement ID.",
            "The field type is CM360 ad ID.",
            "The field type is CM360 advertiser ID.",
            "The field type is CM360 campaign ID.",
            "The field type is cities.",
            "The field type is region.",
            "The field type is postal code.",
            "The field type is metro code.",
            "The field type is custom value.",
            "The field type is remarketing value.",
            "The field type is accurate geographic type.",
            "The field type is weight.",
            "The field type is a list of values.",
            "The field type is creative dimension.",
            "The field type is CM/DV360 Audience ID.",
            "The field type is AssetLibrary directory path.",
            "The field type is AssetLibrary video file path.",
            "The field type is AssetLibrary path.",
            "The field type is third party served url.",
            "The field type is CM dynamic targeting key.",
            "The field type is DV360 line item ID."
          ],
          "enum": [
            "TYPE_UNKNOWN",
            "STRING",
            "LONG",
            "GPA_SERVED_IMAGE_URL",
            "GPA_SERVED_ASSET_URL",
            "COUNTRY_CODE_ISO",
            "FLOAT",
            "CM360_KEYWORD",
            "CM360_SITE_ID",
            "BOOL",
            "EXIT_URL",
            "DATETIME",
            "CM360_CREATIVE_ID",
            "CM360_PLACEMENT_ID",
            "CM360_AD_ID",
            "CM360_ADVERTISER_ID",
            "CM360_CAMPAIGN_ID",
            "CITY",
            "REGION",
            "POSTAL_CODE",
            "METRO",
            "CUSTOM_VALUE",
            "REMARKETING_VALUE",
            "GEO_CANONICAL",
            "WEIGHT",
            "STRING_LIST",
            "CREATIVE_DIMENSION",
            "USERLIST_ID",
            "ASSET_LIBRARY_DIRECTORY_HANDLE",
            "ASSET_LIBRARY_VIDEO_HANDLE",
            "ASSET_LIBRARY_HANDLE",
            "THIRD_PARTY_SERVED_URL",
            "CM360_DYNAMIC_TARGETING_KEY",
            "DV360_LINE_ITEM_ID"
          ],
          "type": "string",
          "description": "Required. The type of the field."
        },
        "defaultValue": {
          "type": "string",
          "description": "Optional. The default value of the field."
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The name of the field.",
          "type": "string"
        }
      }
    },
    "CustomViewabilityMetricConfiguration": {
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric.",
      "type": "object",
      "properties": {
        "audible": {
          "type": "boolean",
          "description": "Whether the video must be audible to count an impression."
        },
        "timeMillis": {
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used.",
          "format": "int32",
          "type": "integer"
        },
        "timePercent": {
          "type": "integer",
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "format": "int32"
        },
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CustomViewabilityMetricConfiguration"
    },
    "MeasurementPartnerCampaignLink": {
      "id": "MeasurementPartnerCampaignLink",
      "type": "object",
      "properties": {
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        },
        "linkStatus": {
          "type": "string",
          "description": ".",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "measurementPartner": {
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "ContentSourceMetaData": {
      "description": "Contains the meta data of the content source. This is a read-only field.",
      "type": "object",
      "properties": {
        "charset": {
          "description": "Output only. The charset of the content source.",
          "type": "string",
          "readOnly": true
        },
        "fieldNames": {
          "description": "Output only. The list of column names in the content source.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "separator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The separator of the content source."
        },
        "rowNumber": {
          "description": "Output only. The number of rows in the content source.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "id": "ContentSourceMetaData"
    },
    "AccountPermissionsListResponse": {
      "type": "object",
      "properties": {
        "accountPermissions": {
          "type": "array",
          "description": "Account permission collection.",
          "items": {
            "$ref": "AccountPermission"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionsListResponse\".",
          "type": "string"
        }
      },
      "description": "Account Permission List Response",
      "id": "AccountPermissionsListResponse"
    },
    "CreativeGroupsListResponse": {
      "description": "Creative Group List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroupsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "creativeGroups": {
          "description": "Creative group collection.",
          "type": "array",
          "items": {
            "$ref": "CreativeGroup"
          }
        }
      },
      "id": "CreativeGroupsListResponse"
    },
    "ListPopulationRule": {
      "type": "object",
      "properties": {
        "listPopulationClauses": {
          "items": {
            "$ref": "ListPopulationClause"
          },
          "type": "array",
          "description": "Clauses that make up this list population rule. Clauses are joined by ANDs, and the clauses themselves are made up of list population terms which are joined by ORs."
        },
        "floodlightActivityId": {
          "type": "string",
          "description": "Floodlight activity ID associated with this rule. This field can be left blank.",
          "format": "int64"
        },
        "floodlightActivityName": {
          "description": "Name of floodlight activity associated with this rule. This is a read-only, auto-generated field.",
          "type": "string"
        }
      },
      "description": "Remarketing List Population Rule.",
      "id": "ListPopulationRule"
    },
    "ThirdPartyAuthenticationToken": {
      "id": "ThirdPartyAuthenticationToken",
      "description": "Third Party Authentication Token",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the third-party authentication token."
        },
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "ConversionStatus": {
      "id": "ConversionStatus",
      "description": "The original conversion that was inserted or updated and whether there were any errors.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\"."
        },
        "conversion": {
          "description": "The original conversion that was inserted or updated.",
          "$ref": "Conversion"
        },
        "errors": {
          "type": "array",
          "description": "A list of errors related to this conversion.",
          "items": {
            "$ref": "ConversionError"
          }
        }
      }
    },
    "CustomViewabilityMetric": {
      "id": "CustomViewabilityMetric",
      "description": "Custom Viewability Metric",
      "type": "object",
      "properties": {
        "configuration": {
          "description": "Configuration of the custom viewability metric.",
          "$ref": "CustomViewabilityMetricConfiguration"
        },
        "id": {
          "description": "ID of the custom viewability metric.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the custom viewability metric.",
          "type": "string"
        }
      }
    },
    "PlacementAssignment": {
      "type": "object",
      "properties": {
        "placementId": {
          "type": "string",
          "description": "ID of the placement to be assigned. This is a required field.",
          "format": "int64"
        },
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "sslRequired": {
          "type": "boolean",
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "placementIdDimensionValue": {
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "Placement Assignment.",
      "id": "PlacementAssignment"
    },
    "EventTag": {
      "id": "EventTag",
      "type": "object",
      "properties": {
        "campaignId": {
          "type": "string",
          "description": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion.",
          "format": "int64"
        },
        "siteFilterType": {
          "enumDescriptions": [
            "The event tag should only ever fire on specified sites.",
            "The event tag should fire on all sites EXCEPT the specified sites."
          ],
          "enum": [
            "ALLOWLIST",
            "BLOCKLIST"
          ],
          "type": "string",
          "description": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites."
        },
        "accountId": {
          "description": "Account ID of this event tag. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "sslCompliant": {
          "description": "Whether this tag is SSL-compliant or not. This is a read-only field.",
          "type": "boolean"
        },
        "excludeFromAdxRequests": {
          "description": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network.",
          "type": "boolean"
        },
        "urlEscapeLevels": {
          "type": "integer",
          "description": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type.",
          "format": "int32"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\"."
        },
        "status": {
          "description": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field.",
          "type": "string",
          "enum": [
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "type": {
          "enumDescriptions": [
            "A third-party pixel for impression tracking.",
            "A third-party JavaScript URL for impression tracking.",
            "A third-party URL for click tracking that redirects to the landing page."
          ],
          "enum": [
            "IMPRESSION_IMAGE_EVENT_TAG",
            "IMPRESSION_JAVASCRIPT_EVENT_TAG",
            "CLICK_THROUGH_EVENT_TAG"
          ],
          "type": "string",
          "description": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field."
        },
        "enabledByDefault": {
          "description": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this event tag. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this event tag. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "siteIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter.",
          "type": "array"
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "description": "Subaccount ID of this event tag. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion."
        }
      },
      "description": "Contains properties of an event tag."
    },
    "AdSlot": {
      "id": "AdSlot",
      "type": "object",
      "properties": {
        "compatibility": {
          "type": "string",
          "description": "Ad slot compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop, mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ]
        },
        "name": {
          "description": "Name of this ad slot.",
          "type": "string"
        },
        "linkedPlacementId": {
          "description": "ID of the placement from an external platform that is linked to this ad slot.",
          "format": "int64",
          "type": "string"
        },
        "height": {
          "type": "string",
          "description": "Height of this ad slot.",
          "format": "int64"
        },
        "paymentSourceType": {
          "type": "string",
          "description": "Payment source type of this ad slot.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLANNING_PAYMENT_SOURCE_TYPE_AGENCY_PAID",
            "PLANNING_PAYMENT_SOURCE_TYPE_PUBLISHER_PAID"
          ]
        },
        "width": {
          "description": "Width of this ad slot.",
          "format": "int64",
          "type": "string"
        },
        "primary": {
          "description": "Primary ad slot of a roadblock inventory item.",
          "type": "boolean"
        },
        "comment": {
          "description": "Comment for this ad slot.",
          "type": "string"
        }
      },
      "description": "Ad Slot"
    },
    "Pricing": {
      "id": "Pricing",
      "type": "object",
      "properties": {
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "pricingType": {
          "enum": [
            "PLANNING_PLACEMENT_PRICING_TYPE_IMPRESSIONS",
            "PLANNING_PLACEMENT_PRICING_TYPE_CPM",
            "PLANNING_PLACEMENT_PRICING_TYPE_CLICKS",
            "PLANNING_PLACEMENT_PRICING_TYPE_CPC",
            "PLANNING_PLACEMENT_PRICING_TYPE_CPA",
            "PLANNING_PLACEMENT_PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PLANNING_PLACEMENT_PRICING_TYPE_FLAT_RATE_CLICKS",
            "PLANNING_PLACEMENT_PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Pricing type of this inventory item.",
          "type": "string"
        },
        "capCostType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "PLANNING_PLACEMENT_CAP_COST_TYPE_NONE",
            "PLANNING_PLACEMENT_CAP_COST_TYPE_MONTHLY",
            "PLANNING_PLACEMENT_CAP_COST_TYPE_CUMULATIVE"
          ],
          "type": "string",
          "description": "Cap cost type of this inventory item."
        },
        "flights": {
          "description": "Flights of this inventory item. A flight (a.k.a. pricing period) represents the inventory item pricing information for a specific period of time.",
          "type": "array",
          "items": {
            "$ref": "Flight"
          }
        },
        "groupType": {
          "description": "Group type of this inventory item if it represents a placement group. Is null otherwise. There are two type of placement groups: PLANNING_PLACEMENT_GROUP_TYPE_PACKAGE is a simple group of inventory items that acts as a single pricing point for a group of tags. PLANNING_PLACEMENT_GROUP_TYPE_ROADBLOCK is a group of inventory items that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned inventory items to be marked as primary.",
          "type": "string",
          "enum": [
            "PLANNING_PLACEMENT_GROUP_TYPE_PACKAGE",
            "PLANNING_PLACEMENT_GROUP_TYPE_ROADBLOCK"
          ],
          "enumDescriptions": [
            "A placement package represents \"package pricing\": Pricing and flight information is defined on the package, not on its child placements. The placements in a package do not need to be on the same page.",
            "A roadblock represents a set of placements that are all the same page. One of the child placements is designated as the \"primary\" placement for reporting purposes."
          ]
        }
      }
    },
    "File": {
      "description": "Represents a File resource. A file contains the metadata for a report run. It shows the status of the run and holds the URLs to the generated report data if the run is finished and the status is \"REPORT_AVAILABLE\".",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#file\".",
          "type": "string"
        },
        "reportId": {
          "description": "The ID of the report this file was generated from.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status of the report file.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROCESSING",
            "REPORT_AVAILABLE",
            "FAILED",
            "CANCELLED",
            "QUEUED"
          ]
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "The timestamp in milliseconds since epoch when this file was last modified.",
          "format": "int64"
        },
        "urls": {
          "type": "object",
          "properties": {
            "browserUrl": {
              "description": "The URL for downloading the report data through a browser.",
              "type": "string"
            },
            "apiUrl": {
              "type": "string",
              "description": "The URL for downloading the report data through the API."
            }
          },
          "description": "The URLs where the completed report file can be downloaded."
        },
        "fileName": {
          "description": "The filename of the file.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The unique ID of this report file.",
          "format": "int64",
          "type": "string"
        },
        "dateRange": {
          "description": "The date range for which the file has report data. The date range will always be the absolute date range for which the report is run.",
          "$ref": "DateRange"
        },
        "format": {
          "type": "string",
          "description": "The output format of the report. Only available once the file is available.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CSV",
            "EXCEL"
          ]
        }
      },
      "id": "File"
    },
    "ConnectionType": {
      "id": "ConnectionType",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this connection type.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this connection type."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        }
      },
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users."
    },
    "BillingRatesListResponse": {
      "id": "BillingRatesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "billingRates": {
          "items": {
            "$ref": "BillingRate"
          },
          "type": "array",
          "description": "Billing rates collection."
        }
      },
      "description": "Billing Rate List Response"
    },
    "DimensionValueList": {
      "id": "DimensionValueList",
      "description": "Represents the list of DimensionValue resources.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The dimension values returned in this response.",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of list this is, in this case dfareporting#dimensionValueList."
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        }
      }
    },
    "CrossDimensionReachReportCompatibleFields": {
      "id": "CrossDimensionReachReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "type": "object",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "overlapMetrics": {
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields."
        },
        "dimensionFilters": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "breakdown": {
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        }
      }
    },
    "DeliverySchedule": {
      "id": "DeliverySchedule",
      "description": "Delivery Schedule.",
      "type": "object",
      "properties": {
        "impressionRatio": {
          "type": "string",
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive.",
          "format": "int64"
        },
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        },
        "hardCutoff": {
          "type": "boolean",
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals."
        },
        "priority": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ],
          "type": "string",
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served."
        }
      }
    },
    "Dimension": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The dimension name, e.g. advertiser",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimension.",
          "type": "string"
        }
      },
      "description": "Represents a dimension.",
      "id": "Dimension"
    },
    "SiteCompanionSetting": {
      "id": "SiteCompanionSetting",
      "description": "Companion Settings",
      "type": "object",
      "properties": {
        "enabledSizes": {
          "type": "array",
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes.",
          "items": {
            "$ref": "Size"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\".",
          "type": "string"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this site template.",
          "type": "boolean"
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        }
      }
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "description": "Language List Response",
      "type": "object",
      "properties": {
        "languages": {
          "description": "Language collection.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        }
      }
    },
    "ConnectionTypesListResponse": {
      "id": "ConnectionTypesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\"."
        },
        "connectionTypes": {
          "items": {
            "$ref": "ConnectionType"
          },
          "type": "array",
          "description": "Collection of connection types such as broadband and mobile."
        }
      },
      "description": "Connection Type List Response"
    },
    "MetrosListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\"."
        },
        "metros": {
          "description": "Metro collection.",
          "type": "array",
          "items": {
            "$ref": "Metro"
          }
        }
      },
      "description": "Metro List Response",
      "id": "MetrosListResponse"
    },
    "SiteVideoSettings": {
      "type": "object",
      "properties": {
        "orientation": {
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site.",
          "type": "string"
        },
        "skippableSettings": {
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "SiteSkippableSetting"
        },
        "obaSettings": {
          "description": "Settings for the OBA icon of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "ObaIcon"
        },
        "publisherSpecificationId": {
          "type": "string",
          "description": "Publisher specification ID used to identify site-associated publisher requirements and automatically populate transcode settings. If publisher specification ID is specified, it will take precedence over transcode settings. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "format": "int64"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this site.",
          "$ref": "SiteCompanionSetting"
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site.",
          "$ref": "SiteTranscodeSetting"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\"."
        },
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        }
      },
      "description": "Video Settings",
      "id": "SiteVideoSettings"
    },
    "SiteContact": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "First name of this site contact."
        },
        "email": {
          "description": "Email address of this site contact. This is a required field.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Address of this site contact."
        },
        "title": {
          "description": "Title or designation of this site contact.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this site contact. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "contactType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "SALES_PERSON",
            "TRAFFICKER"
          ],
          "type": "string",
          "description": "Site contact type."
        },
        "phone": {
          "type": "string",
          "description": "Primary phone number of this site contact."
        },
        "lastName": {
          "description": "Last name of this site contact.",
          "type": "string"
        }
      },
      "description": "Site Contact",
      "id": "SiteContact"
    },
    "UserRolePermissionGroup": {
      "id": "UserRolePermissionGroup",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this user role permission.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this user role permission group."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\"."
        }
      },
      "description": "Represents a grouping of related user role permissions."
    },
    "CustomRule": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of this custom rule.",
          "type": "string"
        },
        "ruleBlocks": {
          "items": {
            "$ref": "RuleBlock"
          },
          "type": "array",
          "description": "Optional. A list of field filter, the custom rule will apply."
        },
        "priority": {
          "type": "integer",
          "description": "Optional. Priority of the custom rule.",
          "format": "int32"
        }
      },
      "description": "Contains custom rule information.",
      "id": "CustomRule"
    },
    "AccountUserProfile": {
      "id": "AccountUserProfile",
      "type": "object",
      "properties": {
        "locale": {
          "type": "string",
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\"."
        },
        "subaccountId": {
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "traffickerType": {
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ],
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "userRoleId": {
          "type": "string",
          "description": "User role ID of the user profile. This is a required field.",
          "format": "int64"
        },
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "accountId": {
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable."
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "userAccessType": {
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        }
      },
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API."
    },
    "CreativeGroup": {
      "id": "CreativeGroup",
      "description": "Contains properties of a creative group.",
      "type": "object",
      "properties": {
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "description": "Account ID of this creative group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative group. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this creative group. This is a required field on insertion.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser."
        },
        "groupNumber": {
          "type": "integer",
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive.",
          "format": "int32"
        }
      }
    },
    "ConversionError": {
      "description": "The error code and description for a conversion that failed to insert or update.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "type": "string",
          "enum": [
            "INVALID_ARGUMENT",
            "INTERNAL",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "message": {
          "type": "string",
          "description": "A description of the error."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionError\"."
        }
      },
      "id": "ConversionError"
    },
    "DynamicRules": {
      "id": "DynamicRules",
      "type": "object",
      "properties": {
        "ruleType": {
          "type": "string",
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ],
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ]
        },
        "rotationType": {
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows.",
          "type": "string",
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ],
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ]
        },
        "remarketingValueAttributes": {
          "items": {
            "$ref": "RemarketingValueAttribute"
          },
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "type": "array"
        },
        "customRules": {
          "items": {
            "$ref": "CustomRule"
          },
          "type": "array",
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM."
        },
        "weightFieldId": {
          "type": "integer",
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED.",
          "format": "int32"
        },
        "autoTargetedFieldIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO.",
          "type": "array"
        },
        "customValueFields": {
          "items": {
            "$ref": "CustomValueField"
          },
          "type": "array",
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering."
        },
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        }
      },
      "description": "Contains dynamic rules information."
    },
    "RichMediaExitOverride": {
      "id": "RichMediaExitOverride",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used."
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        },
        "exitId": {
          "type": "string",
          "description": "ID for the override to refer to a specific exit in the creative.",
          "format": "int64"
        }
      },
      "description": "Rich Media Exit Override."
    },
    "AdvertisersListResponse": {
      "id": "AdvertisersListResponse",
      "description": "Advertiser List Response",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "advertisers": {
          "type": "array",
          "description": "Advertiser collection.",
          "items": {
            "$ref": "Advertiser"
          }
        }
      }
    },
    "CartData": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "Data of the items purchased.",
          "items": {
            "$ref": "CartDataItem"
          }
        },
        "merchantFeedLabel": {
          "type": "string",
          "description": "The feed labels associated with the feed where your items are uploaded. For more information, please refer to ​​ https://support.google.com/merchants/answer/12453549. Providing the feed label reduces ambiguity in identifying the right offer details."
        },
        "merchantFeedLanguage": {
          "type": "string",
          "description": "The language associated with the feed where your items are uploaded. Use ISO 639-1 language codes. Providing the feed language reduces ambiguity in identifying the right offer details."
        },
        "merchantId": {
          "type": "string",
          "description": "The Merchant Center ID where the items are uploaded. Providing Merchant Center ID reduces ambiguity in identifying the right offer details.",
          "format": "int64"
        }
      },
      "description": "Contains additional information about cart data. This field may only be used when calling batchinsert; it is not supported by batchupdate. Cart data reporting is only supported in SA360. [Learn more](https://support.google.com/sa360/topic/13425788)",
      "id": "CartData"
    },
    "Metro": {
      "description": "Contains information about a metro region that can be targeted by ads.",
      "type": "object",
      "properties": {
        "dartId": {
          "type": "string",
          "description": "DART ID of this metro region.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this metro region belongs."
        },
        "countryDartId": {
          "description": "DART ID of the country to which this metro region belongs.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\"."
        },
        "dmaId": {
          "type": "string",
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "format": "int64"
        },
        "metroCode": {
          "type": "string",
          "description": "Metro code of this metro region. This is equivalent to dma_id."
        }
      },
      "id": "Metro"
    },
    "RegionsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#regionsListResponse\"."
        },
        "regions": {
          "type": "array",
          "description": "Region collection.",
          "items": {
            "$ref": "Region"
          }
        }
      },
      "description": "Region List Response",
      "id": "RegionsListResponse"
    },
    "ConversionsBatchUpdateRequest": {
      "description": "Update Conversions Request.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "conversions": {
          "description": "The set of conversions to update.",
          "type": "array",
          "items": {
            "$ref": "Conversion"
          }
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "ConversionsBatchUpdateRequest"
    },
    "LastModifiedInfo": {
      "type": "object",
      "properties": {
        "time": {
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Modification timestamp.",
      "id": "LastModifiedInfo"
    },
    "UserRolesListResponse": {
      "id": "UserRolesListResponse",
      "description": "User Role List Response",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "userRoles": {
          "type": "array",
          "description": "User role collection.",
          "items": {
            "$ref": "UserRole"
          }
        }
      }
    },
    "TvCampaignSummary": {
      "id": "TvCampaignSummary",
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "impressions": {
          "type": "string",
          "description": "Impressions across the entire TV campaign.",
          "format": "int64"
        },
        "type": {
          "description": "\"CampaignComponentType\" of this TV campaign.",
          "type": "string",
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ],
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ]
        },
        "endDate": {
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "spend": {
          "description": "Spend across the entire TV campaign.",
          "format": "double",
          "type": "number"
        },
        "grp": {
          "description": "GRP of this TV campaign.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of this TV campaign."
        },
        "id": {
          "type": "string",
          "description": "ID of this TV campaign."
        }
      }
    },
    "FloodlightActivityGroup": {
      "description": "Contains properties of a Floodlight activity group.",
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\".",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "type": "string",
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "type": "string",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "FloodlightActivityGroup"
    },
    "TvCampaignTimepoint": {
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\"."
        },
        "spend": {
          "type": "number",
          "description": "The spend within the time range of the timepoint.",
          "format": "double"
        },
        "dateWindow": {
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "description": "The date window of the timepoint.",
          "type": "string"
        }
      },
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "id": "TvCampaignTimepoint"
    },
    "AccountsListResponse": {
      "description": "Account List Response",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "accounts": {
          "description": "Account collection.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "id": "AccountsListResponse"
    },
    "Advertiser": {
      "id": "Advertiser",
      "type": "object",
      "properties": {
        "defaultEmail": {
          "type": "string",
          "description": "Default email address used in sender field for tag emails."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiser\".",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Approved (ads can deliver)",
            "On-hold (all ads are stopped)"
          ],
          "enum": [
            "APPROVED",
            "ON_HOLD"
          ],
          "type": "string",
          "description": "Status of this advertiser."
        },
        "euPoliticalAdsDeclaration": {
          "enum": [
            "ADVERTISER_PLANS_TO_SERVE_EU_POLITICAL_ADS",
            "ADVERTISER_DOES_NOT_PLAN_TO_SERVE_EU_POLITICAL_ADS"
          ],
          "enumDescriptions": [
            "You'll need to confirm if your campaign contains EU political advertising.",
            "All new campaigns will have “No” selected for the question that asks if your campaign has EU political ads. You can change this for any campaign at any time."
          ],
          "description": "Optional. Whether the advertiser plans to serve EU political ads.",
          "type": "string"
        },
        "suspended": {
          "type": "boolean",
          "description": "Suspension status of this advertiser."
        },
        "defaultClickThroughEventTagId": {
          "type": "string",
          "description": "ID of the click-through event tag to apply by default to the landing pages of this advertiser's campaigns.",
          "format": "int64"
        },
        "id": {
          "description": "ID of this advertiser. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this advertiser.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this advertiser. This is a required field and must be less than 256 characters long and unique among advertisers of the same account."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "originalFloodlightConfigurationId": {
          "description": "Original floodlight configuration before any sharing occurred. Set the floodlightConfigurationId of this advertiser to originalFloodlightConfigurationId to unshare the advertiser's current floodlight configuration. You cannot unshare an advertiser's floodlight configuration if the shared configuration has activities associated with any campaign or placement.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this advertiser.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "advertiserGroupId": {
          "description": "ID of the advertiser group this advertiser belongs to. You can group advertisers for reporting purposes, allowing you to see aggregated information for all advertisers in each group.",
          "format": "int64",
          "type": "string"
        },
        "measurementPartnerLink": {
          "description": "Measurement partner advertiser link for tag wrapping.",
          "$ref": "MeasurementPartnerAdvertiserLink"
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this advertiser. The floodlight configuration ID will be created automatically, so on insert this field should be left blank. This field can be set to another advertiser's floodlight configuration ID in order to share that advertiser's floodlight configuration with this advertiser, so long as: - This advertiser's original floodlight configuration is not already associated with floodlight activities or floodlight activity groups. - This advertiser's original floodlight configuration is not already shared with another advertiser. ",
          "format": "int64",
          "type": "string"
        },
        "clickThroughUrlSuffix": {
          "description": "Suffix added to click-through URL of ad creative associations under this advertiser. Must be less than 129 characters long.",
          "type": "string"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "Contains properties of a Campaign Manager advertiser."
    },
    "FsCommand": {
      "description": "FsCommand.",
      "type": "object",
      "properties": {
        "positionOption": {
          "enumDescriptions": [
            "Center of the window Corresponds to \"center\" in UI",
            "user-defined distance from top left-hand corner of the window Corresponds to \"top-left\" in UI"
          ],
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ],
          "type": "string",
          "description": "Position in the browser where the window will open."
        },
        "left": {
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32",
          "type": "integer"
        },
        "windowHeight": {
          "type": "integer",
          "description": "Height of the window.",
          "format": "int32"
        },
        "windowWidth": {
          "description": "Width of the window.",
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FsCommand"
    },
    "FloodlightConfigurationsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "description": "Floodlight configuration collection.",
          "type": "array",
          "items": {
            "$ref": "FloodlightConfiguration"
          }
        }
      },
      "description": "Floodlight Configuration List Response",
      "id": "FloodlightConfigurationsListResponse"
    },
    "AccountPermission": {
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        },
        "accountProfiles": {
          "items": {
            "type": "string",
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ],
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ]
          },
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "type": "array"
        },
        "level": {
          "type": "string",
          "description": "Administrative level required to enable this account permission.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ]
        },
        "id": {
          "type": "string",
          "description": "ID of this account permission.",
          "format": "int64"
        },
        "permissionGroupId": {
          "type": "string",
          "description": "Permission group of this account permission.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\"."
        }
      },
      "id": "AccountPermission"
    },
    "PlacementTag": {
      "type": "object",
      "properties": {
        "tagDatas": {
          "type": "array",
          "description": "Tags generated for this placement.",
          "items": {
            "$ref": "TagData"
          }
        },
        "placementId": {
          "description": "Placement ID",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Placement Tag",
      "id": "PlacementTag"
    },
    "Conversion": {
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
      "type": "object",
      "properties": {
        "childDirectedTreatment": {
          "type": "boolean",
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance."
        },
        "quantity": {
          "description": "The quantity of the conversion. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "userIdentifiers": {
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          }
        },
        "floodlightActivityId": {
          "type": "string",
          "description": "Floodlight Activity ID of this conversion. This is a required field.",
          "format": "int64"
        },
        "mobileDeviceId": {
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "format": "double"
        },
        "limitAdTracking": {
          "type": "boolean",
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing."
        },
        "treatmentForUnderage": {
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR).",
          "type": "boolean"
        },
        "floodlightConfigurationId": {
          "description": "Floodlight Configuration ID of this conversion. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "nonPersonalizedAd": {
          "description": "Whether the conversion was for a non personalized ad.",
          "type": "boolean"
        },
        "ordinal": {
          "type": "string",
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field."
        },
        "cartData": {
          "description": "The cart data associated with this conversion.",
          "$ref": "CartData"
        },
        "dclid": {
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field.",
          "type": "string"
        },
        "encryptedUserIdCandidates": {
          "type": "array",
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "items": {
            "type": "string"
          }
        },
        "encryptedUserId": {
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\"."
        },
        "sessionAttributesEncoded": {
          "type": "string",
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate.",
          "format": "byte"
        },
        "gclid": {
          "type": "string",
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field."
        },
        "impressionId": {
          "type": "string",
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set."
        },
        "matchId": {
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field.",
          "type": "string"
        },
        "timestampMicros": {
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "adUserDataConsent": {
          "enum": [
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ],
          "description": "This represents consent for ad user data.",
          "type": "string"
        },
        "customVariables": {
          "items": {
            "$ref": "CustomFloodlightVariable"
          },
          "description": "Custom floodlight variables.",
          "type": "array"
        }
      },
      "id": "Conversion"
    },
    "InventoryItem": {
      "id": "InventoryItem",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this inventory item.",
          "format": "int64"
        },
        "rfpId": {
          "description": "RFP ID of this inventory item.",
          "format": "int64",
          "type": "string"
        },
        "orderId": {
          "description": "Order ID of this inventory item.",
          "format": "int64",
          "type": "string"
        },
        "adSlots": {
          "type": "array",
          "description": "Ad slots of this inventory item. If this inventory item represents a standalone placement, there will be exactly one ad slot. If this inventory item represents a placement group, there will be more than one ad slot, each representing one child placement in that placement group.",
          "items": {
            "$ref": "AdSlot"
          }
        },
        "contentCategoryId": {
          "description": "Content category ID of this inventory item.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#inventoryItem\".",
          "type": "string"
        },
        "estimatedClickThroughRate": {
          "type": "string",
          "description": "Estimated click-through rate of this inventory item.",
          "format": "int64"
        },
        "type": {
          "description": "Type of inventory item.",
          "type": "string",
          "enum": [
            "PLANNING_PLACEMENT_TYPE_REGULAR",
            "PLANNING_PLACEMENT_TYPE_CREDIT"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "advertiserId": {
          "description": "Advertiser ID of this inventory item.",
          "format": "int64",
          "type": "string"
        },
        "negotiationChannelId": {
          "description": "Negotiation channel ID of this inventory item.",
          "format": "int64",
          "type": "string"
        },
        "placementStrategyId": {
          "type": "string",
          "description": "Placement strategy ID of this inventory item.",
          "format": "int64"
        },
        "inPlan": {
          "type": "boolean",
          "description": "Whether this inventory item is in plan."
        },
        "pricing": {
          "description": "Pricing of this inventory item.",
          "$ref": "Pricing"
        },
        "siteId": {
          "type": "string",
          "description": "ID of the site this inventory item is associated with.",
          "format": "int64"
        },
        "id": {
          "description": "ID of this inventory item.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this inventory item.",
          "format": "int64",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this inventory item.",
          "$ref": "LastModifiedInfo"
        },
        "projectId": {
          "type": "string",
          "description": "Project ID of this inventory item.",
          "format": "int64"
        },
        "estimatedConversionRate": {
          "description": "Estimated conversion rate of this inventory item.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this inventory item. For standalone inventory items, this is the same name as that of its only ad slot. For group inventory items, this can differ from the name of any of its ad slots."
        }
      },
      "description": "Represents a buy from the Planning inventory store."
    },
    "FloodlightReportCompatibleFields": {
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields.",
          "type": "string"
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "id": "FloodlightReportCompatibleFields"
    },
    "ChangeLog": {
      "id": "ChangeLog",
      "type": "object",
      "properties": {
        "userProfileId": {
          "type": "string",
          "description": "ID of the user who modified the object.",
          "format": "int64"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of the modified object.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "ID of this change log.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "userProfileName": {
          "type": "string",
          "description": "User profile name of the user who modified the object."
        },
        "action": {
          "type": "string",
          "description": "Action which caused the change."
        },
        "transactionId": {
          "type": "string",
[...]
