{
  "discoveryVersion": "v1",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "protocol": "rest",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "schemas": {
    "AccountsListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountsListResponse\"."
        },
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "Account collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Account List Response",
      "type": "object",
      "id": "AccountsListResponse"
    },
    "MeasurementPartnerWrappingData": {
      "description": "Placement tag wrapping",
      "properties": {
        "linkStatus": {
          "type": "string",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "description": "Placement wrapping status.",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ]
        },
        "tagWrappingMode": {
          "type": "string",
          "enum": [
            "NONE",
            "BLOCKING",
            "MONITORING",
            "MONITORING_READ_ONLY",
            "VIDEO_PIXEL_MONITORING",
            "TRACKING",
            "VPAID_MONITORING",
            "VPAID_BLOCKING",
            "NON_VPAID_MONITORING",
            "VPAID_ONLY_MONITORING",
            "VPAID_ONLY_BLOCKING",
            "VPAID_ONLY_FILTERING",
            "VPAID_FILTERING",
            "NON_VPAID_FILTERING",
            "BLOCKING_FILTERING_VPAID",
            "BLOCKING_FILTERING_VPAID_ONLY"
          ],
          "description": "Measurement mode for the wrapped placement.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "measurementPartner": {
          "type": "string",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for wrapping the placement.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "wrappedTag": {
          "description": "Tag provided by the measurement partner during wrapping.",
          "type": "string"
        }
      },
      "id": "MeasurementPartnerWrappingData",
      "type": "object"
    },
    "ConnectionTypesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\"."
        },
        "connectionTypes": {
          "description": "Collection of connection types such as broadband and mobile.",
          "items": {
            "$ref": "ConnectionType"
          },
          "type": "array"
        }
      },
      "description": "Connection Type List Response",
      "type": "object",
      "id": "ConnectionTypesListResponse"
    },
    "CustomRule": {
      "description": "Contains custom rule information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of this custom rule."
        },
        "ruleBlocks": {
          "items": {
            "$ref": "RuleBlock"
          },
          "type": "array",
          "description": "Optional. A list of field filter, the custom rule will apply."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Priority of the custom rule."
        }
      },
      "id": "CustomRule",
      "type": "object"
    },
    "CompatibleFields": {
      "id": "CompatibleFields",
      "type": "object",
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10",
      "properties": {
        "crossDimensionReachReportCompatibleFields": {
          "$ref": "CrossDimensionReachReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\"."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields.",
          "type": "string"
        },
        "reachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\".",
          "$ref": "ReachReportCompatibleFields"
        },
        "pathToConversionReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
          "$ref": "PathToConversionReportCompatibleFields"
        },
        "floodlightReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\".",
          "$ref": "FloodlightReportCompatibleFields"
        },
        "reportCompatibleFields": {
          "$ref": "ReportCompatibleFields",
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\"."
        },
        "crossMediaReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
          "$ref": "CrossMediaReachReportCompatibleFields"
        }
      }
    },
    "ConnectionType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this connection type."
        },
        "id": {
          "format": "int64",
          "description": "ID of this connection type.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        }
      },
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users.",
      "type": "object",
      "id": "ConnectionType"
    },
    "RemarketingValueAttribute": {
      "id": "RemarketingValueAttribute",
      "type": "object",
      "description": "Contains remarketing value attribute information.",
      "properties": {
        "userAttributeIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. Remarketing user attribute IDs for auto filtering."
        },
        "fieldId": {
          "format": "int32",
          "description": "Optional. Field ID in the element.",
          "type": "integer"
        }
      }
    },
    "FileList": {
      "type": "object",
      "id": "FileList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\"."
        },
        "items": {
          "description": "The files returned in this response.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "description": "List of files for a report."
    },
    "Account": {
      "type": "object",
      "id": "Account",
      "properties": {
        "activeViewOptOut": {
          "type": "boolean",
          "description": "Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions."
        },
        "nielsenOcrEnabled": {
          "type": "boolean",
          "description": "Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default."
        },
        "defaultCreativeSizeId": {
          "description": "Default placement dimensions for this account.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "Description of this account.",
          "type": "string"
        },
        "accountPermissionIds": {
          "description": "Account permissions assigned to this account.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "shareReportsWithTwitter": {
          "description": "Share Path to Conversion reports with Twitter.",
          "type": "boolean"
        },
        "reportsConfiguration": {
          "$ref": "ReportsConfiguration",
          "description": "Reporting configuration of this account."
        },
        "active": {
          "description": "Whether this account is active.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#account\".",
          "type": "string"
        },
        "accountProfile": {
          "description": "Profile for this account. This is a read-only field that can be left blank.",
          "enumDescriptions": [
            "Basic profile has fewer features and lower CPM.",
            "Standard profile as a higher CPM and all the features."
          ],
          "type": "string",
          "enum": [
            "ACCOUNT_PROFILE_BASIC",
            "ACCOUNT_PROFILE_STANDARD"
          ]
        },
        "locale": {
          "type": "string",
          "description": "Locale of this account. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) "
        },
        "name": {
          "type": "string",
          "description": "Name of this account. This is a required field, and must be less than 128 characters long and be globally unique."
        },
        "currencyId": {
          "type": "string",
          "description": "ID of currency associated with this account. This is a required field. Acceptable values are: - \"1\" for USD - \"2\" for GBP - \"3\" for ESP - \"4\" for SEK - \"5\" for CAD - \"6\" for JPY - \"7\" for DEM - \"8\" for AUD - \"9\" for FRF - \"10\" for ITL - \"11\" for DKK - \"12\" for NOK - \"13\" for FIM - \"14\" for ZAR - \"15\" for IEP - \"16\" for NLG - \"17\" for EUR - \"18\" for KRW - \"19\" for TWD - \"20\" for SGD - \"21\" for CNY - \"22\" for HKD - \"23\" for NZD - \"24\" for MYR - \"25\" for BRL - \"26\" for PTE - \"28\" for CLP - \"29\" for TRY - \"30\" for ARS - \"31\" for PEN - \"32\" for ILS - \"33\" for CHF - \"34\" for VEF - \"35\" for COP - \"36\" for GTQ - \"37\" for PLN - \"39\" for INR - \"40\" for THB - \"41\" for IDR - \"42\" for CZK - \"43\" for RON - \"44\" for HUF - \"45\" for RUB - \"46\" for AED - \"47\" for BGN - \"48\" for HRK - \"49\" for MXN - \"50\" for NGN - \"51\" for EGP ",
          "format": "int64"
        },
        "maximumImageSize": {
          "description": "Maximum image size allowed for this account, in kilobytes. Value must be greater than or equal to 1.",
          "format": "int64",
          "type": "string"
        },
        "availablePermissionIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "User role permissions available to the user roles of this account."
        },
        "id": {
          "type": "string",
          "description": "ID of this account. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "teaserSizeLimit": {
          "format": "int64",
          "description": "File size limit in kilobytes of Rich Media teaser creatives. Acceptable values are 1 to 10240, inclusive.",
          "type": "string"
        },
        "countryId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the country associated with this account."
        },
        "activeAdsLimitTier": {
          "description": "Maximum number of active ads allowed for this account.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ]
        }
      },
      "description": "Contains properties of a Campaign Manager account."
    },
    "AdBlockingConfiguration": {
      "type": "object",
      "id": "AdBlockingConfiguration",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether this campaign has enabled ad blocking. When true, ad blocking is enabled for placements in the campaign, but this may be overridden by site and placement settings. When false, ad blocking is disabled for all placements under the campaign, regardless of site and placement settings."
        }
      },
      "description": "Campaign ad blocking settings."
    },
    "PlacementAssignment": {
      "type": "object",
      "id": "PlacementAssignment",
      "properties": {
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "placementId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the placement to be assigned. This is a required field."
        },
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "placementIdDimensionValue": {
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "Placement Assignment."
    },
    "ProximityFilter": {
      "description": "Contains proximity filter information.",
      "properties": {
        "fieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Field ID in the element."
        },
        "radiusBucketType": {
          "description": "Optional. The radius bucket type of the proximity filter",
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "type": "string",
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ]
        },
        "radiusValue": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Radius length in units defined by radius_units."
        },
        "radiusUnitType": {
          "type": "string",
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ],
          "description": "Optional. The units of the radius value",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ]
        }
      },
      "id": "ProximityFilter",
      "type": "object"
    },
    "Rule": {
      "id": "Rule",
      "type": "object",
      "description": "A rule associates an asset with a targeting template for asset-level targeting. Applicable to INSTREAM_VIDEO creatives.",
      "properties": {
        "name": {
          "description": "A user-friendly name for this rule. This is a required field.",
          "type": "string"
        },
        "assetId": {
          "description": "A creativeAssets[].id. This should refer to one of the parent assets in this creative. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "targetingTemplateId": {
          "type": "string",
          "description": "A targeting template ID. The targeting from the targeting template will be used to determine whether this asset should be served. This is a required field.",
          "format": "int64"
        }
      }
    },
    "Site": {
      "type": "object",
      "id": "Site",
      "properties": {
        "videoSettings": {
          "$ref": "SiteVideoSettings",
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field."
        },
        "directorySiteId": {
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "keyName": {
          "description": "Key name of this site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "adServingPlatformId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this site. This is a read-only, auto-generated field."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this site. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "siteContacts": {
          "items": {
            "$ref": "SiteContact"
          },
          "type": "array",
          "description": "Site contacts."
        },
        "siteSettings": {
          "description": "Site-wide settings.",
          "$ref": "SiteSettings"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\"."
        },
        "approved": {
          "type": "boolean",
          "description": "Whether this site is approved."
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account.",
          "type": "string"
        }
      },
      "description": "Contains properties of a site."
    },
    "Recipient": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#recipient."
        },
        "email": {
          "description": "The email address of the recipient.",
          "type": "string"
        },
        "deliveryType": {
          "description": "The delivery type for the recipient.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "LINK",
            "ATTACHMENT"
          ]
        }
      },
      "description": "Represents a recipient.",
      "type": "object",
      "id": "Recipient"
    },
    "UserRolePermissionGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this user role permission group."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this user role permission."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\"."
        }
      },
      "description": "Represents a grouping of related user role permissions.",
      "type": "object",
      "id": "UserRolePermissionGroup"
    },
    "DynamicRules": {
      "type": "object",
      "id": "DynamicRules",
      "properties": {
        "customRules": {
          "type": "array",
          "items": {
            "$ref": "CustomRule"
          },
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM."
        },
        "weightFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED."
        },
        "customValueFields": {
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering.",
          "type": "array",
          "items": {
            "$ref": "CustomValueField"
          }
        },
        "ruleType": {
          "type": "string",
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ],
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ]
        },
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        },
        "autoTargetedFieldIds": {
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "remarketingValueAttributes": {
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "items": {
            "$ref": "RemarketingValueAttribute"
          },
          "type": "array"
        },
        "rotationType": {
          "type": "string",
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ],
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows.",
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ]
        }
      },
      "description": "Contains dynamic rules information."
    },
    "BillingAssignment": {
      "properties": {
        "campaignId": {
          "type": "string",
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign"
        },
        "accountId": {
          "type": "string",
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\"."
        },
        "subaccountId": {
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser"
        }
      },
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "type": "object",
      "id": "BillingAssignment"
    },
    "YoutubeSettings": {
      "properties": {
        "longHeadlines": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The long headlines. Currently only one long headline is supported."
        },
        "headlines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The headlines associated with the call to actions. Currently only one headline is supported."
        },
        "businessName": {
          "description": "Optional. The business name.",
          "type": "string"
        },
        "businessLogoCreativeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Optional. The IDs of the creatives to use for the business logo. Currently only one creative is supported."
        },
        "descriptions": {
          "description": "Optional. The descriptions. Currently only one description is supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "callToActions": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CALL_TO_ACTION_UNKNOWN",
              "CALL_TO_ACTION_LEARN_MORE",
              "CALL_TO_ACTION_GET_QUOTE",
              "CALL_TO_ACTION_APPLY_NOW",
              "CALL_TO_ACTION_SIGN_UP",
              "CALL_TO_ACTION_CONTACT_US",
              "CALL_TO_ACTION_SUBSCRIBE",
              "CALL_TO_ACTION_DOWNLOAD",
              "CALL_TO_ACTION_BOOK_NOW",
              "CALL_TO_ACTION_GET_OFFER",
              "CALL_TO_ACTION_SHOP_NOW",
              "CALL_TO_ACTION_VISIT_STORE",
              "CALL_TO_ACTION_CALL_NOW",
              "CALL_TO_ACTION_VIEW_MENU",
              "CALL_TO_ACTION_TEST_DRIVE",
              "CALL_TO_ACTION_SCHEDULE_NOW",
              "CALL_TO_ACTION_BUY_NOW",
              "CALL_TO_ACTION_DONATE_NOW",
              "CALL_TO_ACTION_ORDER_NOW",
              "CALL_TO_ACTION_PLAY_NOW",
              "CALL_TO_ACTION_SEE_MORE",
              "CALL_TO_ACTION_START_NOW",
              "CALL_TO_ACTION_VISIT_SITE",
              "CALL_TO_ACTION_WATCH_NOW"
            ]
          },
          "type": "array",
          "description": "Optional. The call to actions. Currently only one call to action is supported."
        }
      },
      "description": "Contains the YouTube settings.",
      "type": "object",
      "id": "YoutubeSettings"
    },
    "CustomRichMediaEvents": {
      "description": "Represents a Custom Rich Media Events group.",
      "properties": {
        "filteredEventIds": {
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName.",
          "items": {
            "$ref": "DimensionValue"
          },
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents.",
          "type": "string"
        }
      },
      "id": "CustomRichMediaEvents",
      "type": "object"
    },
    "DynamicProfileFeedSettings": {
      "description": "Contains dynamic profile specific settings for an associated dynamic feed.",
      "properties": {
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of this dynamic feed rows needed by the dynamic profile, default value is 1. Acceptable values are between 1 to 99, inclusive."
        },
        "dynamicFeedId": {
          "type": "string",
          "description": "Optional. Dynamic feed ID associated with dynamic profile version.",
          "format": "int64"
        },
        "dynamicRules": {
          "$ref": "DynamicRules",
          "description": "Optional. Dynamic rules for row selection for the given dynamic feed in the given dynamic profile."
        }
      },
      "id": "DynamicProfileFeedSettings",
      "type": "object"
    },
    "FeedIngestionStatus": {
      "id": "FeedIngestionStatus",
      "type": "object",
      "description": "Contains the ingestion status of the dynamic feed. Feed ingestion is an asynchronous process. If the feed create request is successful, feed ingestion will be processed in the background, including validation, assets retrieval, and saving the data from the resource link. The processing time is dependent on the data size in the resource link. This read-only status field contains the current stage of that processing and its ingestion state.",
      "properties": {
        "ingestionErrorRecords": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IngestionErrorRecord"
          },
          "description": "Output only. The ingestion error records of the feed."
        },
        "state": {
          "enum": [
            "FEED_PROCESSING_STATE_UNKNOWN",
            "CANCELLED",
            "INGESTING_QUEUED",
            "INGESTING",
            "INGESTED_SUCCESS",
            "INGESTED_FAILURE",
            "REQUEST_TO_PUBLISH",
            "PUBLISHING",
            "PUBLISHED_SUCCESS",
            "PUBLISHED_FAILURE"
          ],
          "readOnly": true,
          "description": "Output only. The processing state of the feed.",
          "type": "string",
          "enumDescriptions": [
            "The feed processing state is unknown.",
            "The feed processing state is cancelled.",
            "The feed processing state is ingesting queued.",
            "The feed processing state is ingesting.",
            "The feed processing state is ingested successfully.",
            "The feed processing state is ingested with failure.",
            "The feed processing state is request to publish.",
            "The feed processing state is publishing.",
            "The feed processing state is published successfully.",
            "The feed processing state is published with failure."
          ]
        },
        "ingestionStatus": {
          "$ref": "IngestionStatus",
          "description": "Output only. The ingestion status of the feed.",
          "readOnly": true
        }
      }
    },
    "DynamicFeedsInsertRequest": {
      "type": "object",
      "id": "DynamicFeedsInsertRequest",
      "properties": {
        "dynamicFeed": {
          "$ref": "DynamicFeed",
          "description": "Required. Dynamic feed to insert."
        },
        "dynamicProfileId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Dynamic profile ID of the inserted dynamic feed."
        }
      },
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id."
    },
    "FeedSchedule": {
      "id": "FeedSchedule",
      "type": "object",
      "description": "Contains the schedule of the dynamic feed.",
      "properties": {
        "startHour": {
          "type": "string",
          "description": "Optional. The hour of the day to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0."
        },
        "startMinute": {
          "description": "Optional. The minute of the hour to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. The time zone to schedule the feed. It is applicable if the repeat value is equal to 1. Default value is \"America/Los_Angeles\"."
        },
        "scheduleEnabled": {
          "description": "Optional. Whether the schedule is enabled.",
          "type": "boolean"
        },
        "repeatValue": {
          "type": "string",
          "description": "Optional. The number of times the feed retransforms within one day. This is a required field if the schedule is enabled. Acceptable values are between 1 to 6, inclusive.",
          "format": "int64"
        }
      }
    },
    "FloodlightConfigurationsListResponse": {
      "description": "Floodlight Configuration List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\"."
        },
        "floodlightConfigurations": {
          "type": "array",
          "items": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Floodlight configuration collection."
        }
      },
      "id": "FloodlightConfigurationsListResponse",
      "type": "object"
    },
    "Invoice": {
      "properties": {
        "serviceStartDate": {
          "description": "The invoice service start date.",
          "type": "string"
        },
        "totalAmountMicros": {
          "description": "The invoice total amount, in micros of the invoice's currency.",
          "format": "int64",
          "type": "string"
        },
        "invoiceType": {
          "type": "string",
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ],
          "description": "The type of invoice document.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "replacedInvoiceIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The originally issued invoice(s) that is being cancelled by this invoice, if applicable. May appear on invoice PDF as *Replaced invoice numbers*. Note: There may be multiple replaced invoices due to consolidation of multiple invoices into a single invoice."
        },
        "campaign_summaries": {
          "items": {
            "$ref": "CampaignSummary"
          },
          "type": "array",
          "description": "The list of summarized campaign information associated with this invoice."
        },
        "paymentsProfileId": {
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as *Billing ID*.",
          "type": "string"
        },
        "issueDate": {
          "type": "string",
          "description": "The date when the invoice was issued."
        },
        "currencyCode": {
          "type": "string",
          "description": "Invoice currency code in ISO 4217 format."
        },
        "dueDate": {
          "description": "The invoice due date.",
          "type": "string"
        },
        "subtotalAmountMicros": {
          "format": "int64",
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency.",
          "type": "string"
        },
        "id": {
          "description": "ID of this invoice.",
          "type": "string"
        },
        "totalTaxAmountMicros": {
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency.",
          "format": "int64",
          "type": "string"
        },
        "purchaseOrderNumber": {
          "type": "string",
          "description": "Purchase order number associated with the invoice."
        },
        "correctedInvoiceId": {
          "description": "The originally issued invoice that is being adjusted by this invoice, if applicable. May appear on invoice PDF as *Reference invoice number*.",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as *Billing Account Number*.",
          "type": "string"
        },
        "pdfUrl": {
          "description": "The URL to download a PDF copy of the invoice. Note that this URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an *Authorization: Bearer* HTTP header. The URL will only be usable for 7 days from when the api is called.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#invoice\"."
        },
        "serviceEndDate": {
          "description": "The invoice service end date.",
          "type": "string"
        }
      },
      "description": "Contains information about a single invoice",
      "type": "object",
      "id": "Invoice"
    },
    "BillingAssignmentsListResponse": {
      "id": "BillingAssignmentsListResponse",
      "type": "object",
      "description": "Billing assignment List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        },
        "billingAssignments": {
          "items": {
            "$ref": "BillingAssignment"
          },
          "type": "array",
          "description": "Billing assignments collection."
        }
      }
    },
    "FieldFilter": {
      "description": "Contains field filter information.",
      "properties": {
        "requestValue": {
          "description": "Optional. The request value, only applicable when rhs_value_type is REQUEST.",
          "$ref": "RequestValue"
        },
        "fieldId": {
          "description": "Optional. The field ID on the left hand side of the expression.",
          "format": "int32",
          "type": "integer"
        },
        "valueType": {
          "type": "string",
          "enum": [
            "RHS_VALUE_TYPE_UNKNOWN",
            "STRING",
            "REQUEST",
            "BOOL",
            "DEPENDENT"
          ],
          "description": "Optional. Right hand side of the expression.",
          "enumDescriptions": [
            "The right hand side of the expression is unknown. This value is unused.",
            "The right hand side of the expression is a string.",
            "The right hand side of the expression is a request value.",
            "The right hand side of the expression is a boolean.",
            "The right hand side of the expression is a dependent field value."
          ]
        },
        "dependentFieldValue": {
          "$ref": "DependentFieldValue",
          "description": "Optional. The dependent values, only applicable when rhs_value_type is DEPENDENT."
        },
        "boolValue": {
          "description": "Optional. The boolean values, only applicable when rhs_value_type is BOOL.",
          "type": "boolean"
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. The string value, only applicable when rhs_value_type is STRING."
        },
        "matchType": {
          "description": "Optional. Left hand side of the expression match type.",
          "enumDescriptions": [
            "The left hand side of the expression is unknown. This value is unused.",
            "The left hand side of the expression is equals or unrestricted. It is the default value.",
            "The left hand side of the expression is equals.",
            "The left hand side of the expression is unrestricted. Unrestricted is used to target fields with no restrictions. For example, country targeting fields hold a list of countries. If the list is empty, we consider the element value to have no restrictions.",
            "Left hand side of the expression is not equals. Not equals specifies which fields should not be targeted."
          ],
          "type": "string",
          "enum": [
            "LHS_MATCH_TYPE_UNKNOWN",
            "EQUALS_OR_UNRESTRICTED",
            "EQUALS",
            "UNRESTRICTED",
            "NOT_EQUALS"
          ]
        }
      },
      "id": "FieldFilter",
      "type": "object"
    },
    "DeliverySchedule": {
      "description": "Delivery Schedule.",
      "properties": {
        "hardCutoff": {
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals.",
          "type": "boolean"
        },
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        },
        "priority": {
          "type": "string",
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ],
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "impressionRatio": {
          "type": "string",
          "format": "int64",
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive."
        }
      },
      "id": "DeliverySchedule",
      "type": "object"
    },
    "Metro": {
      "description": "Contains information about a metro region that can be targeted by ads.",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this metro region belongs."
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this metro region belongs.",
          "format": "int64"
        },
        "dartId": {
          "type": "string",
          "description": "DART ID of this metro region.",
          "format": "int64"
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        },
        "dmaId": {
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        }
      },
      "id": "Metro",
      "type": "object"
    },
    "DateRange": {
      "type": "object",
      "id": "DateRange",
      "properties": {
        "relativeDateRange": {
          "type": "string",
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The date range relative to the date of when the report is run.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dateRange."
        }
      },
      "description": "Represents a date range."
    },
    "Country": {
      "properties": {
        "name": {
          "description": "Name of this country.",
          "type": "string"
        },
        "sslEnabled": {
          "type": "boolean",
          "description": "Whether ad serving supports secure servers in this country."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\"."
        },
        "dartId": {
          "description": "DART ID of this country. This is the ID used for targeting and generating reports.",
          "format": "int64",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        }
      },
      "description": "Contains information about a country that can be targeted by ads.",
      "type": "object",
      "id": "Country"
    },
    "ClickThroughUrl": {
      "type": "object",
      "id": "ClickThroughUrl",
      "properties": {
        "defaultLandingPage": {
          "type": "boolean",
          "description": "Whether the campaign default landing page is used."
        },
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset."
        },
        "computedClickThroughUrl": {
          "type": "string",
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. "
        },
        "landingPageId": {
          "type": "string",
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "format": "int64"
        }
      },
      "description": "Click-through URL"
    },
    "TagSettings": {
      "id": "TagSettings",
      "type": "object",
      "description": "Dynamic and Image Tag Settings.",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "type": "boolean",
          "description": "Whether image tags are enabled."
        }
      }
    },
    "OperatingSystemsListResponse": {
      "id": "OperatingSystemsListResponse",
      "type": "object",
      "description": "Operating System List Response",
      "properties": {
        "operatingSystems": {
          "items": {
            "$ref": "OperatingSystem"
          },
          "type": "array",
          "description": "Operating system collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\"."
        }
      }
    },
    "Conversion": {
      "properties": {
        "floodlightConfigurationId": {
          "description": "Floodlight Configuration ID of this conversion. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "customVariables": {
          "description": "Custom floodlight variables.",
          "items": {
            "$ref": "CustomFloodlightVariable"
          },
          "type": "array"
        },
        "userIdentifiers": {
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "items": {
            "$ref": "UserIdentifier"
          },
          "type": "array"
        },
        "quantity": {
          "format": "int64",
          "description": "The quantity of the conversion. This is a required field.",
          "type": "string"
        },
        "childDirectedTreatment": {
          "type": "boolean",
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance."
        },
        "gclid": {
          "type": "string",
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field."
        },
        "mobileDeviceId": {
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "timestampMicros": {
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "matchId": {
          "type": "string",
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field."
        },
        "sessionAttributesEncoded": {
          "type": "string",
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate.",
          "format": "byte"
        },
        "nonPersonalizedAd": {
          "description": "Whether the conversion was for a non personalized ad.",
          "type": "boolean"
        },
        "cartData": {
          "description": "The cart data associated with this conversion.",
          "$ref": "CartData"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\"."
        },
        "encryptedUserId": {
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "encryptedUserIdCandidates": {
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "treatmentForUnderage": {
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR).",
          "type": "boolean"
        },
        "floodlightActivityId": {
          "description": "Floodlight Activity ID of this conversion. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "limitAdTracking": {
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing.",
          "type": "boolean"
        },
        "impressionId": {
          "type": "string",
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set."
        },
        "ordinal": {
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "type": "number"
        },
        "dclid": {
          "type": "string",
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field."
        },
        "adUserDataConsent": {
          "type": "string",
          "enum": [
            "GRANTED",
            "DENIED"
          ],
          "description": "This represents consent for ad user data.",
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ]
        }
      },
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
      "type": "object",
      "id": "Conversion"
    },
    "DfareportingStudioCreativeAssetsInsertRequest": {
      "properties": {
        "studioCreativeId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Studio creative ID of the studio creative asset. It is a optional field. If it is set, the asset will be associated to the creative."
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Required. Studio advertiser ID of the studio creative asset. It is a required field on insertion.",
          "type": "string"
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Optional. Studio account ID of the studio creative asset. It is a optional.",
          "type": "string"
        }
      },
      "description": "Request message for DfareportingStudioCreativeAssets.Insert.",
      "type": "object",
      "id": "DfareportingStudioCreativeAssetsInsertRequest"
    },
    "RemarketingListShare": {
      "description": "Contains properties of a remarketing list's sharing information. Sharing allows other accounts or advertisers to target to your remarketing lists. This resource can be used to manage remarketing list sharing to other accounts and advertisers.",
      "properties": {
        "sharedAdvertiserIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Advertisers that the remarketing list is shared with."
        },
        "remarketingListId": {
          "type": "string",
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "sharedAccountIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Accounts that the remarketing list is shared with."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListShare\"."
        }
      },
      "id": "RemarketingListShare",
      "type": "object"
    },
    "DynamicProfile": {
      "type": "object",
      "id": "DynamicProfile",
      "properties": {
        "status": {
          "description": "Optional. Status of this dynamic profile.",
          "enumDescriptions": [
            "The dynamic profile status is unknown. This value is unused.",
            "The dynamic profile is active.",
            "The dynamic profile is inactive.",
            "The dynamic profile is deleted."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ]
        },
        "draft": {
          "description": "Optional. Draft version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "archiveStatus": {
          "type": "string",
          "enum": [
            "ARCHIVE_STATUS_UNKNOWN",
            "UNARCHIVED",
            "ARCHIVED"
          ],
          "description": "Optional. Archive status of this dynamic profile.",
          "enumDescriptions": [
            "The dynamic profile archive status is unknown. This value is unused.",
            "The dynamic profile archive status is unarchived.",
            "The dynamic profile archive status is archived."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of this dynamic profile."
        },
        "createInfo": {
          "readOnly": true,
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the dynamic profile. This is a read-only field."
        },
        "dynamicProfileId": {
          "description": "Output only. Unique ID of this dynamic profile. This is a read-only, auto-generated field.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of this dynamic profile. This is a required field and must be less than 256 characters long."
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the dynamic profile. This is a read-only field.",
          "$ref": "LastModifiedInfo",
          "readOnly": true
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Required. Advertiser ID of this dynamic profile. This is a required field on insertion.",
          "type": "string"
        },
        "active": {
          "description": "Optional. Active version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicProfile\".",
          "type": "string",
          "readOnly": true
        }
      },
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic profile information."
    },
    "TargetingTemplatesListResponse": {
      "description": "Targeting Template List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\".",
          "type": "string"
        },
        "targetingTemplates": {
          "items": {
            "$ref": "TargetingTemplate"
          },
          "type": "array",
          "description": "Targeting template collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "TargetingTemplatesListResponse",
      "type": "object"
    },
    "AdvertiserLandingPagesListResponse": {
      "description": "Landing Page List Response",
      "properties": {
        "landingPages": {
          "description": "Landing page collection",
          "items": {
            "$ref": "LandingPage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserLandingPagesListResponse\"."
        }
      },
      "id": "AdvertiserLandingPagesListResponse",
      "type": "object"
    },
    "CreativeFieldAssignment": {
      "properties": {
        "creativeFieldId": {
          "description": "ID of the creative field.",
          "format": "int64",
          "type": "string"
        },
        "creativeFieldValueId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative field value."
        }
      },
      "description": "Creative Field Assignment.",
      "type": "object",
      "id": "CreativeFieldAssignment"
    },
    "DirectorySitesListResponse": {
      "description": "Directory Site List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "directorySites": {
          "type": "array",
          "items": {
            "$ref": "DirectorySite"
          },
          "description": "Directory site collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySitesListResponse\"."
        }
      },
      "id": "DirectorySitesListResponse",
      "type": "object"
    },
    "CreativeAssetMetadata": {
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "properties": {
        "richMedia": {
          "type": "boolean",
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field."
        },
        "counterCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "type": "array",
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset."
        },
        "exitCustomEvents": {
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\"."
        },
        "assetIdentifier": {
          "description": "ID of the creative asset. This is a required field.",
          "$ref": "CreativeAssetId"
        },
        "clickTags": {
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset.",
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array"
        },
        "detectedFeatures": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "type": "array",
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field."
        },
        "timerCustomEvents": {
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field."
        },
        "warnedValidationRules": {
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" ",
          "items": {
            "type": "string",
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ],
            "enumDescriptions": [
              "Click tag initialization detected but not at the top level of the primary html file.",
              "No click tag detected.",
              "More than one click tag detected.",
              "Click tag invalid (failed url validation).",
              "Orphaned asset not referenced.",
              "Primary html file missing.",
              "Reference to a third-party resource.",
              "Reference to INAPP MRAID feature.",
              "Reference to INAPP ADMOB feature.",
              "Invalid file type referenced.",
              "Invalid zip passed in",
              "A relative file was linked to that wasn't included in zip.",
              "Max flash version at 11.",
              "Whether the asset uses secure urls or not.",
              "File detail empty.",
              "Asset is not valid and could not be processed.",
              "GWD properties are invalid.",
              "Unsupported Enabler methods in DCM.",
              "Asset ad format is unsupported in DCM.",
              "Component is unsupported in DCM.",
              "Html5 feature is unsupported.",
              "Click tag defined in GWD asset. GWD-published creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Whether the asset has hard coded click tag url(s).",
              "Whether an SVG block could not be parsed.",
              "Click tag defined in rich media asset. Rich media creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Rich media primary asset is missing the Enabler reference."
            ]
          },
          "type": "array"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field."
        }
      },
      "id": "CreativeAssetMetadata",
      "type": "object"
    },
    "UserProfileList": {
      "description": "Represents the list of user profiles.",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\".",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "UserProfile"
          },
          "type": "array",
          "description": "The user profiles returned in this response."
        }
      },
      "id": "UserProfileList",
      "type": "object"
    },
    "ConversionStatus": {
      "type": "object",
      "id": "ConversionStatus",
      "properties": {
        "conversion": {
          "description": "The original conversion that was inserted or updated.",
          "$ref": "Conversion"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\".",
          "type": "string"
        },
        "errors": {
          "description": "A list of errors related to this conversion.",
          "type": "array",
          "items": {
            "$ref": "ConversionError"
          }
        }
      },
      "description": "The original conversion that was inserted or updated and whether there were any errors."
    },
    "SubaccountsListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "subaccounts": {
          "type": "array",
          "items": {
            "$ref": "Subaccount"
          },
          "description": "Subaccount collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\"."
        }
      },
      "description": "Subaccount List Response",
      "type": "object",
      "id": "SubaccountsListResponse"
    },
    "SiteSettings": {
      "properties": {
        "tagSetting": {
          "$ref": "TagSetting",
          "description": "Configuration settings for dynamic and image floodlight tags."
        },
        "videoActiveViewOptOutTemplate": {
          "description": "Whether Verification and ActiveView for in-stream video creatives are disabled by default for new placements created under this site. This value will be used to populate the placement.videoActiveViewOptOut field, when no value is specified for the new placement.",
          "type": "boolean"
        },
        "disableNewCookie": {
          "description": "Whether new cookies are disabled for this site.",
          "type": "boolean"
        },
        "activeViewOptOut": {
          "description": "Whether active view creatives are disabled for this site.",
          "type": "boolean"
        },
        "adBlockingOptOut": {
          "type": "boolean",
          "description": "Whether this site opts out of ad blocking. When true, ad blocking is disabled for all placements under the site, regardless of the individual placement settings. When false, the campaign and placement settings take effect."
        },
        "vpaidAdapterChoiceTemplate": {
          "type": "string",
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ],
          "description": "Default VPAID adapter setting for new placements created under this site. This value will be used to populate the placements.vpaidAdapterChoice field, when no value is specified for the new placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to the placement. The publisher's specifications will typically determine this setting. For VPAID creatives, the adapter format will match the VPAID format (HTML5 VPAID creatives use the HTML5 adapter). *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ]
        }
      },
      "description": "Site Settings",
      "type": "object",
      "id": "SiteSettings"
    },
    "EventTagOverride": {
      "description": "Event tag override information.",
      "properties": {
        "enabled": {
          "description": "Whether this override is enabled.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "ID of this event tag override. This is a read-only, auto-generated field.",
          "format": "int64"
        }
      },
      "id": "EventTagOverride",
      "type": "object"
    },
    "CampaignSummary": {
      "id": "CampaignSummary",
      "type": "object",
      "description": "Represents a summarized campaign information associated with this invoice.",
      "properties": {
        "billingInvoiceCode": {
          "description": "Campaign billing invoice code.",
          "type": "string"
        },
        "totalAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency."
        },
        "taxAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The tax amount for this campaign, in micros of the invoice's currency."
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID."
        },
        "preTaxAmountMicros": {
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "MobileApp": {
      "id": "MobileApp",
      "type": "object",
      "description": "Contains information about a mobile app. Used as a landing page deep link.",
      "properties": {
        "directory": {
          "description": "Mobile app directory.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ]
        },
        "id": {
          "description": "ID of this mobile app.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\".",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of this mobile app."
        },
        "publisherName": {
          "description": "Publisher name.",
          "type": "string"
        }
      }
    },
    "Dimension": {
      "properties": {
        "name": {
          "description": "The dimension name, e.g. advertiser",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimension.",
          "type": "string"
        }
      },
      "description": "Represents a dimension.",
      "type": "object",
      "id": "Dimension"
    },
    "ClickTag": {
      "type": "object",
      "id": "ClickTag",
      "properties": {
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        },
        "eventName": {
          "type": "string",
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "clickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Parameter value for the specified click tag. This field contains a click-through url."
        }
      },
      "description": "Creative Click Tag."
    },
    "TvCampaignTimepoint": {
      "id": "TvCampaignTimepoint",
      "type": "object",
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "properties": {
        "spend": {
          "format": "double",
          "description": "The spend within the time range of the timepoint.",
          "type": "number"
        },
        "dateWindow": {
          "type": "string",
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "description": "The date window of the timepoint.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ]
        },
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        }
      }
    },
    "LookbackConfiguration": {
      "description": "Lookback configuration settings.",
      "properties": {
        "clickDuration": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads. If you enter 0, clicks will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive.",
          "type": "integer"
        },
        "postImpressionActivitiesDuration": {
          "type": "integer",
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads. If you enter 0, impressions will not be considered as triggering events for floodlight tracking. If you leave this field blank, the default value for your account will be used. Acceptable values are 0 to 90, inclusive."
        }
      },
      "id": "LookbackConfiguration",
      "type": "object"
    },
    "VideoSettings": {
      "id": "VideoSettings",
      "type": "object",
      "description": "Video Settings",
      "properties": {
        "obaEnabled": {
          "type": "boolean",
          "description": "Whether OBA icons are enabled for this placement."
        },
        "publisherSpecificationId": {
          "type": "string",
          "description": "Publisher specification ID of a video placement. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "format": "int64"
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden.",
          "$ref": "TranscodeSetting"
        },
        "obaSettings": {
          "$ref": "ObaIcon",
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\"."
        },
        "companionSettings": {
          "$ref": "CompanionSetting",
          "description": "Settings for the companion creatives of video creatives served to this placement."
        },
        "durationSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Duration of a video placement in seconds."
        },
        "skippableSettings": {
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden.",
          "$ref": "SkippableSetting"
        },
        "orientation": {
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ]
        }
      }
    },
    "City": {
      "id": "City",
      "type": "object",
      "description": "Contains information about a city that can be targeted by ads.",
      "properties": {
        "metroDmaId": {
          "format": "int64",
          "description": "ID of the metro region (DMA) to which this city belongs.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Region code of the region to which this city belongs."
        },
        "metroCode": {
          "description": "Metro region code of the metro region (DMA) to which this city belongs.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#city\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this city.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this city belongs.",
          "type": "string"
        },
        "regionDartId": {
          "type": "string",
          "description": "DART ID of the region to which this city belongs.",
          "format": "int64"
        },
        "countryDartId": {
          "format": "int64",
          "description": "DART ID of the country to which this city belongs.",
          "type": "string"
        },
        "dartId": {
          "format": "int64",
          "description": "DART ID of this city. This is the ID used for targeting and generating reports.",
          "type": "string"
        }
      }
    },
    "PlacementSingleConversionDomain": {
      "properties": {
        "conversionDomainId": {
          "type": "string",
          "format": "int64"
        },
        "conversionDomainValue": {
          "type": "string"
        }
      },
      "id": "PlacementSingleConversionDomain",
      "type": "object"
    },
    "BillingProfilesListResponse": {
      "id": "BillingProfilesListResponse",
      "type": "object",
      "description": "Billing profile List Response",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfilesListResponse\"."
        },
        "billingProfiles": {
          "type": "array",
          "items": {
            "$ref": "BillingProfile"
          },
          "description": "Billing profiles collection."
        }
      }
    },
    "CampaignCreativeAssociation": {
      "type": "object",
      "id": "CampaignCreativeAssociation",
      "properties": {
        "creativeId": {
          "format": "int64",
          "description": "ID of the creative associated with the campaign. This is a required field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\".",
          "type": "string"
        }
      },
      "description": "Identifies a creative which has been associated with a given campaign."
    },
    "VideoFormat": {
      "type": "object",
      "id": "VideoFormat",
      "properties": {
        "fileType": {
          "description": "File type of the video format.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ]
        },
        "targetBitRate": {
          "type": "integer",
          "format": "int32",
          "description": "The target bit rate of this video format."
        },
        "id": {
          "format": "int32",
          "description": "ID of the video format.",
          "type": "integer"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        },
        "resolution": {
          "description": "The resolution of this video format.",
          "$ref": "Size"
        }
      },
      "description": "Contains information about supported video formats."
    },
    "DimensionFilter": {
      "description": "Represents a dimension filter.",
      "properties": {
        "dimensionName": {
          "description": "The name of the dimension to filter.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter.",
          "type": "string"
        },
        "value": {
          "description": "The value of the dimension to filter.",
          "type": "string"
        }
      },
      "id": "DimensionFilter",
      "type": "object"
    },
    "ChangeLogsListResponse": {
      "id": "ChangeLogsListResponse",
      "type": "object",
      "description": "Change Log List Response",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
          "type": "string"
        },
        "changeLogs": {
          "description": "Change log collection.",
          "type": "array",
          "items": {
            "$ref": "ChangeLog"
          }
        }
      }
    },
    "FeedField": {
      "description": "Each field of the element. This is a required field.",
      "properties": {
        "required": {
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE ",
          "type": "boolean"
        },
        "renderable": {
          "type": "boolean",
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT "
        },
        "defaultValue": {
          "description": "Optional. The default value of the field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the field."
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        },
        "id": {
          "type": "integer",
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link.",
          "format": "int32"
        },
        "type": {
          "description": "Required. The type of the field.",
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
[...]
