{
  "ownerName": "Google",
  "name": "dfareporting",
  "servicePath": "dfareporting/v5/",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v5",
  "schemas": {
    "ConversionStatus": {
      "id": "ConversionStatus",
      "type": "object",
      "properties": {
        "errors": {
          "description": "A list of errors related to this conversion.",
          "items": {
            "$ref": "ConversionError"
          },
          "type": "array"
        },
        "conversion": {
          "$ref": "Conversion",
          "description": "The original conversion that was inserted or updated."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\".",
          "type": "string"
        }
      },
      "description": "The original conversion that was inserted or updated and whether there were any errors."
    },
    "ConnectionType": {
      "properties": {
        "name": {
          "description": "Name of this connection type.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this connection type."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        }
      },
      "id": "ConnectionType",
      "type": "object",
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users."
    },
    "RequestValue": {
      "description": "Contains request value information.",
      "properties": {
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        },
        "excludeFromUserAttributeIds": {
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "userAttributeIds": {
          "type": "array",
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "RequestValue",
      "type": "object"
    },
    "DynamicProfile": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic profile information.",
      "properties": {
        "name": {
          "description": "Required. Identifier. Name of this dynamic profile. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "active": {
          "$ref": "DynamicProfileVersion",
          "description": "Optional. Active version of the dynamic profile."
        },
        "description": {
          "description": "Optional. Description of this dynamic profile.",
          "type": "string"
        },
        "draft": {
          "$ref": "DynamicProfileVersion",
          "description": "Optional. Draft version of the dynamic profile."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicProfile\".",
          "readOnly": true,
          "type": "string"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the dynamic profile. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "studioAdvertiserId": {
          "description": "Required. Advertiser ID of this dynamic profile. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "dynamicProfileId": {
          "description": "Output only. Unique ID of this dynamic profile. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the dynamic profile. This is a read-only field.",
          "readOnly": true
        },
        "status": {
          "enumDescriptions": [
            "The dynamic profile status is unknown. This value is unused.",
            "The dynamic profile is active.",
            "The dynamic profile is inactive.",
            "The dynamic profile is deleted."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "description": "Optional. Status of this dynamic profile."
        },
        "archiveStatus": {
          "description": "Optional. Archive status of this dynamic profile.",
          "type": "string",
          "enum": [
            "ARCHIVE_STATUS_UNKNOWN",
            "UNARCHIVED",
            "ARCHIVED"
          ],
          "enumDescriptions": [
            "The dynamic profile archive status is unknown. This value is unused.",
            "The dynamic profile archive status is unarchived.",
            "The dynamic profile archive status is archived."
          ]
        }
      },
      "id": "DynamicProfile",
      "type": "object"
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "pricingSchedule": {
          "$ref": "PricingSchedule",
          "description": "Pricing schedule of this placement group. This field is required on insertion."
        },
        "activeStatus": {
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ]
        },
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "siteId": {
          "type": "string",
          "format": "int64",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "primaryPlacementId": {
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string",
          "format": "int64"
        },
        "contentCategoryId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the content category assigned to this placement group."
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank."
        },
        "campaignId": {
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this placement group. This is a read-only field."
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "placementGroupType": {
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "type": "string",
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion."
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "childPlacementIds": {
          "type": "array",
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Contains properties of a package or roadblock."
    },
    "MobileCarrier": {
      "id": "MobileCarrier",
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this mobile carrier belongs.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarrier\".",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of the country to which this mobile carrier belongs."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this mobile carrier."
        },
        "name": {
          "description": "Name of this mobile carrier.",
          "type": "string"
        }
      },
      "description": "Contains information about a mobile carrier that can be targeted by ads."
    },
    "CitiesListResponse": {
      "id": "CitiesListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
          "type": "string"
        },
        "cities": {
          "description": "City collection.",
          "items": {
            "$ref": "City"
          },
          "type": "array"
        }
      },
      "description": "City List Response"
    },
    "SiteCompanionSetting": {
      "description": "Companion Settings",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\".",
          "type": "string"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this site template.",
          "type": "boolean"
        },
        "enabledSizes": {
          "type": "array",
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes.",
          "items": {
            "$ref": "Size"
          }
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        }
      },
      "id": "SiteCompanionSetting",
      "type": "object"
    },
    "AudienceSegment": {
      "description": "Audience Segment.",
      "id": "AudienceSegment",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this audience segment. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "allocation": {
          "type": "integer",
          "format": "int32",
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive."
        }
      }
    },
    "TvCampaignDetail": {
      "properties": {
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "timepoints": {
          "type": "array",
          "description": "The timepoints of the TV campaign.",
          "items": {
            "$ref": "TvCampaignTimepoint"
          }
        }
      },
      "id": "TvCampaignDetail",
      "type": "object",
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows."
    },
    "AdvertiserGroupsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroupsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "advertiserGroups": {
          "type": "array",
          "description": "Advertiser group collection.",
          "items": {
            "$ref": "AdvertiserGroup"
          }
        }
      },
      "id": "AdvertiserGroupsListResponse",
      "type": "object",
      "description": "Advertiser Group List Response"
    },
    "VideoFormat": {
      "id": "VideoFormat",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of the video format.",
          "type": "integer",
          "format": "int32"
        },
        "fileType": {
          "description": "File type of the video format.",
          "type": "string",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "targetBitRate": {
          "type": "integer",
          "format": "int32",
          "description": "The target bit rate of this video format."
        },
        "resolution": {
          "$ref": "Size",
          "description": "The resolution of this video format."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        }
      },
      "description": "Contains information about supported video formats."
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "type": "object",
      "properties": {
        "encryptionEntityType": {
          "type": "string",
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer."
        },
        "encryptionEntityId": {
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
          "type": "string"
        },
        "encryptionSource": {
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        }
      },
      "description": "A description of how user IDs are encrypted."
    },
    "ConversionsBatchUpdateResponse": {
      "description": "Update Conversions Response.",
      "properties": {
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to update.",
          "type": "boolean"
        },
        "status": {
          "description": "The update status of each conversion. Statuses are returned in the same order that conversions are updated.",
          "items": {
            "$ref": "ConversionStatus"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateResponse\".",
          "type": "string"
        }
      },
      "id": "ConversionsBatchUpdateResponse",
      "type": "object"
    },
    "UniversalAdId": {
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "id": "UniversalAdId",
      "type": "object",
      "properties": {
        "registry": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ],
          "description": "Registry used for the Ad ID value."
        },
        "value": {
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM.",
          "type": "string"
        }
      }
    },
    "DirectorySite": {
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "id": "DirectorySite",
      "type": "object",
      "properties": {
        "interstitialTagFormats": {
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" ",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ]
          },
          "type": "array"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this directory site.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "settings": {
          "$ref": "DirectorySiteSettings",
          "description": "Directory site settings."
        },
        "inpageTagFormats": {
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" ",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ]
          },
          "type": "array"
        },
        "url": {
          "description": "URL of this directory site.",
          "type": "string"
        },
        "id": {
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "publisherSpecificationId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "readOnly": true
        }
      }
    },
    "ConnectionTypesListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
          "type": "string"
        },
        "connectionTypes": {
          "type": "array",
          "description": "Collection of connection types such as broadband and mobile.",
          "items": {
            "$ref": "ConnectionType"
          }
        }
      },
      "id": "ConnectionTypesListResponse",
      "type": "object",
      "description": "Connection Type List Response"
    },
    "FloodlightConfigurationsListResponse": {
      "description": "Floodlight Configuration List Response",
      "id": "FloodlightConfigurationsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "type": "array",
          "description": "Floodlight configuration collection.",
          "items": {
            "$ref": "FloodlightConfiguration"
          }
        }
      }
    },
    "PricingSchedule": {
      "description": "Pricing Schedule",
      "id": "PricingSchedule",
      "type": "object",
      "properties": {
        "testingStartDate": {
          "type": "string",
          "format": "date"
        },
        "pricingPeriods": {
          "description": "Pricing periods for this placement.",
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          },
          "type": "array"
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "type": "string",
          "format": "int64"
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "pricingType": {
          "type": "string",
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Placement pricing type. This field is required on insertion."
        },
        "capCostOption": {
          "type": "string",
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Placement cap cost option."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "CrossMediaReachReportCompatibleFields": {
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossMediaReachReportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        }
      },
      "id": "CrossMediaReachReportCompatibleFields",
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\"."
    },
    "UserRolesListResponse": {
      "description": "User Role List Response",
      "properties": {
        "userRoles": {
          "type": "array",
          "description": "User role collection.",
          "items": {
            "$ref": "UserRole"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\".",
          "type": "string"
        }
      },
      "id": "UserRolesListResponse",
      "type": "object"
    },
    "LastModifiedInfo": {
      "id": "LastModifiedInfo",
      "type": "object",
      "properties": {
        "time": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp of the last change in milliseconds since epoch."
        }
      },
      "description": "Modification timestamp."
    },
    "CustomFloodlightVariable": {
      "description": "A custom floodlight variable. Can be used in both batchinsert and batchupdate. Adding this in batchupdate will update or append the variable to the existing list.",
      "properties": {
        "value": {
          "description": "The value of the custom floodlight variable. The length of string must not exceed 100 characters.",
          "type": "string"
        },
        "type": {
          "description": "The type of custom floodlight variable to supply a value for. These map to the \"u[1-100]=\" in the tags.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customFloodlightVariable\".",
          "type": "string"
        }
      },
      "id": "CustomFloodlightVariable",
      "type": "object"
    },
    "BillingRate": {
      "id": "BillingRate",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this billing rate. This must be less than 256 characters long.",
          "type": "string"
        },
        "endDate": {
          "description": "End date of this billing rate.",
          "type": "string"
        },
        "unitOfMeasure": {
          "description": "Unit of measure for this billing rate.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ]
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this billing rate."
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ],
          "description": "Type of this billing rate."
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.",
          "type": "string"
        },
        "startDate": {
          "description": "Start date of this billing rate.",
          "type": "string"
        },
        "rateInMicros": {
          "type": "string",
          "format": "int64",
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate."
        },
        "tieredRates": {
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate.",
          "items": {
            "$ref": "BillingRateTieredRate"
          },
          "type": "array"
        }
      }
    },
    "UserProfile": {
      "properties": {
        "subAccountId": {
          "type": "string",
          "format": "int64",
          "description": "The sub account ID this profile belongs to if applicable."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "userName": {
          "description": "The user name.",
          "type": "string"
        },
        "accountName": {
          "description": "The account name this profile belongs to.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfile\".",
          "type": "string"
        },
        "profileId": {
          "type": "string",
          "format": "int64",
          "description": "The unique ID of the user profile."
        },
        "subAccountName": {
          "description": "The sub account name this profile belongs to if applicable.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "The account ID to which this profile belongs."
        }
      },
      "id": "UserProfile",
      "type": "object",
      "description": "A UserProfile resource lets you list all DFA user profiles that are associated with a Google user account. The profile_id needs to be specified in other API requests. "
    },
    "DynamicRules": {
      "description": "Contains dynamic rules information.",
      "id": "DynamicRules",
      "type": "object",
      "properties": {
        "weightFieldId": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED."
        },
        "customValueFields": {
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering.",
          "items": {
            "$ref": "CustomValueField"
          },
          "type": "array"
        },
        "autoTargetedFieldIds": {
          "type": "array",
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "ruleType": {
          "type": "string",
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ],
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ],
          "description": "Optional. The type of the rule, the default value is OPEN."
        },
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        },
        "remarketingValueAttributes": {
          "type": "array",
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "items": {
            "$ref": "RemarketingValueAttribute"
          }
        },
        "rotationType": {
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows.",
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ],
          "type": "string",
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ]
        },
        "customRules": {
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM.",
          "items": {
            "$ref": "CustomRule"
          },
          "type": "array"
        }
      }
    },
    "CustomValueField": {
      "description": "Contains custom value field information.",
      "properties": {
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "type": "integer",
          "format": "int32"
        },
        "requestKey": {
          "description": "Optional. Custom key used to match for auto filtering.",
          "type": "string"
        }
      },
      "id": "CustomValueField",
      "type": "object"
    },
    "ContextualKeyword": {
      "id": "ContextualKeyword",
      "type": "object",
      "properties": {
        "keyword": {
          "description": "The keyword that can be targeted by ads.",
          "type": "string"
        }
      },
      "description": "Contains information about a Contextual Keyword that can be targeted by ads."
    },
    "MobileCarriersListResponse": {
      "description": "Mobile Carrier List Response",
      "id": "MobileCarriersListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarriersListResponse\".",
          "type": "string"
        },
        "mobileCarriers": {
          "type": "array",
          "description": "Mobile carrier collection.",
          "items": {
            "$ref": "MobileCarrier"
          }
        }
      }
    },
    "CompanionClickThroughOverride": {
      "description": "Companion Click-through override.",
      "id": "CompanionClickThroughOverride",
      "type": "object",
      "properties": {
        "clickThroughUrl": {
          "description": "Click-through URL of this companion click-through override.",
          "$ref": "ClickThroughUrl"
        },
        "creativeId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the creative for this companion click-through override."
        }
      }
    },
    "MeasurementPartnerCampaignLink": {
      "properties": {
        "measurementPartner": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for tag wrapping."
        },
        "linkStatus": {
          "description": ".",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "type": "string",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        },
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        }
      },
      "id": "MeasurementPartnerCampaignLink",
      "type": "object"
    },
    "StudioCreativeAsset": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "properties": {
        "videoProcessingData": {
          "description": "The processing data of the studio creative asset. This is a read-only field.",
          "$ref": "VideoProcessingData"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "readOnly": true
        },
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "studioCreativeId": {
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "type": "string",
          "format": "int64"
        },
        "studioAccountId": {
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "type": "string",
          "format": "int64"
        },
        "filesize": {
          "type": "string",
          "format": "int64",
          "description": "The filesize of the studio creative asset. This is a read-only field."
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ],
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field."
        }
      },
      "id": "StudioCreativeAsset",
      "type": "object"
    },
    "FloodlightActivityGroupsListResponse": {
      "properties": {
        "floodlightActivityGroups": {
          "description": "Floodlight activity group collection.",
          "items": {
            "$ref": "FloodlightActivityGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\".",
          "type": "string"
        }
      },
      "id": "FloodlightActivityGroupsListResponse",
      "type": "object",
      "description": "Floodlight Activity Group List Response"
    },
    "DynamicFeedsInsertRequest": {
      "properties": {
        "dynamicProfileId": {
          "description": "Required. Dynamic profile ID of the inserted dynamic feed.",
          "type": "string",
          "format": "int64"
        },
        "dynamicFeed": {
          "description": "Required. Dynamic feed to insert.",
          "$ref": "DynamicFeed"
        }
      },
      "id": "DynamicFeedsInsertRequest",
      "type": "object",
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id."
    },
    "ListTargetingExpression": {
      "description": "Remarketing List Targeting Expression.",
      "properties": {
        "expression": {
          "description": "Expression describing which lists are being targeted by the ad.",
          "type": "string"
        }
      },
      "id": "ListTargetingExpression",
      "type": "object"
    },
    "ChangeLogsListResponse": {
      "description": "Change Log List Response",
      "id": "ChangeLogsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
          "type": "string"
        },
        "changeLogs": {
          "description": "Change log collection.",
          "items": {
            "$ref": "ChangeLog"
          },
          "type": "array"
        }
      }
    },
    "SkippableSetting": {
      "description": "Skippable Settings",
      "id": "SkippableSetting",
      "type": "object",
      "properties": {
        "skippable": {
          "description": "Whether the user can skip creatives served to this placement.",
          "type": "boolean"
        },
        "skipOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play videos served to this placement before the skip button should appear. Applicable when skippable is true."
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play videos served to this placement before counting a view. Applicable when skippable is true."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#skippableSetting\".",
          "type": "string"
        }
      }
    },
    "FloodlightActivitiesListResponse": {
      "description": "Floodlight Activity List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "floodlightActivities": {
          "type": "array",
          "description": "Floodlight activity collection.",
          "items": {
            "$ref": "FloodlightActivity"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesListResponse\".",
          "type": "string"
        }
      },
      "id": "FloodlightActivitiesListResponse",
      "type": "object"
    },
    "AdBlockingConfiguration": {
      "id": "AdBlockingConfiguration",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether this campaign has enabled ad blocking. When true, ad blocking is enabled for placements in the campaign, but this may be overridden by site and placement settings. When false, ad blocking is disabled for all placements under the campaign, regardless of site and placement settings.",
          "type": "boolean"
        }
      },
      "description": "Campaign ad blocking settings."
    },
    "ClickTag": {
      "id": "ClickTag",
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        },
        "clickThroughUrl": {
          "description": "Parameter value for the specified click tag. This field contains a click-through url.",
          "$ref": "CreativeClickThroughUrl"
        }
      },
      "description": "Creative Click Tag."
    },
    "Account": {
      "description": "Contains properties of a Campaign Manager account.",
      "properties": {
        "defaultCreativeSizeId": {
          "type": "string",
          "format": "int64",
          "description": "Default placement dimensions for this account."
        },
        "teaserSizeLimit": {
          "type": "string",
          "format": "int64",
          "description": "File size limit in kilobytes of Rich Media teaser creatives. Acceptable values are 1 to 10240, inclusive."
        },
        "currencyId": {
          "description": "ID of currency associated with this account. This is a required field. Acceptable values are: - \"1\" for USD - \"2\" for GBP - \"3\" for ESP - \"4\" for SEK - \"5\" for CAD - \"6\" for JPY - \"7\" for DEM - \"8\" for AUD - \"9\" for FRF - \"10\" for ITL - \"11\" for DKK - \"12\" for NOK - \"13\" for FIM - \"14\" for ZAR - \"15\" for IEP - \"16\" for NLG - \"17\" for EUR - \"18\" for KRW - \"19\" for TWD - \"20\" for SGD - \"21\" for CNY - \"22\" for HKD - \"23\" for NZD - \"24\" for MYR - \"25\" for BRL - \"26\" for PTE - \"28\" for CLP - \"29\" for TRY - \"30\" for ARS - \"31\" for PEN - \"32\" for ILS - \"33\" for CHF - \"34\" for VEF - \"35\" for COP - \"36\" for GTQ - \"37\" for PLN - \"39\" for INR - \"40\" for THB - \"41\" for IDR - \"42\" for CZK - \"43\" for RON - \"44\" for HUF - \"45\" for RUB - \"46\" for AED - \"47\" for BGN - \"48\" for HRK - \"49\" for MXN - \"50\" for NGN - \"51\" for EGP ",
          "type": "string",
          "format": "int64"
        },
        "accountProfile": {
          "description": "Profile for this account. This is a read-only field that can be left blank.",
          "type": "string",
          "enum": [
            "ACCOUNT_PROFILE_BASIC",
            "ACCOUNT_PROFILE_STANDARD"
          ],
          "enumDescriptions": [
            "Basic profile has fewer features and lower CPM.",
            "Standard profile as a higher CPM and all the features."
          ]
        },
        "description": {
          "description": "Description of this account.",
          "type": "string"
        },
        "id": {
          "description": "ID of this account. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "shareReportsWithTwitter": {
          "description": "Share Path to Conversion reports with Twitter.",
          "type": "boolean"
        },
        "accountPermissionIds": {
          "type": "array",
          "description": "Account permissions assigned to this account.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "name": {
          "description": "Name of this account. This is a required field, and must be less than 128 characters long and be globally unique.",
          "type": "string"
        },
        "active": {
          "description": "Whether this account is active.",
          "type": "boolean"
        },
        "maximumImageSize": {
          "type": "string",
          "format": "int64",
          "description": "Maximum image size allowed for this account, in kilobytes. Value must be greater than or equal to 1."
        },
        "reportsConfiguration": {
          "description": "Reporting configuration of this account.",
          "$ref": "ReportsConfiguration"
        },
        "availablePermissionIds": {
          "type": "array",
          "description": "User role permissions available to the user roles of this account.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "locale": {
          "description": "Locale of this account. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "nielsenOcrEnabled": {
          "description": "Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#account\".",
          "type": "string"
        },
        "activeViewOptOut": {
          "description": "Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions.",
          "type": "boolean"
        },
        "activeAdsLimitTier": {
          "description": "Maximum number of active ads allowed for this account.",
          "type": "string",
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "countryId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the country associated with this account."
        }
      },
      "id": "Account",
      "type": "object"
    },
    "IngestionStatus": {
      "properties": {
        "numRowsWithErrors": {
          "description": "Output only. The number of rows with errors in the feed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "numActiveRows": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of active rows in the feed.",
          "readOnly": true
        },
        "numRowsProcessed": {
          "description": "Output only. The number of rows processed in the feed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "numWarningsTotal": {
          "description": "Output only. The total number of warnings in the feed.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "numRowsTotal": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The total number of rows in the feed.",
          "readOnly": true
        }
      },
      "id": "IngestionStatus",
      "type": "object",
      "description": "Contains the ingestion status of the dynamic feed."
    },
    "PlacementTag": {
      "id": "PlacementTag",
      "type": "object",
      "properties": {
        "tagDatas": {
          "description": "Tags generated for this placement.",
          "items": {
            "$ref": "TagData"
          },
          "type": "array"
        },
        "placementId": {
          "description": "Placement ID",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Placement Tag"
    },
    "CreativeFieldsListResponse": {
      "id": "CreativeFieldsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\".",
          "type": "string"
        },
        "creativeFields": {
          "type": "array",
          "description": "Creative field collection.",
          "items": {
            "$ref": "CreativeField"
          }
        }
      },
      "description": "Creative Field List Response"
    },
    "ChangeLog": {
      "description": "Describes a change that a user has made to a resource.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "changeTime": {
          "type": "string",
          "format": "date-time"
        },
        "newValue": {
          "description": "New value of the object field.",
          "type": "string"
        },
        "fieldName": {
          "description": "Field name of the object which changed.",
          "type": "string"
        },
        "userProfileId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the user who modified the object."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this change log."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of the modified object."
        },
        "action": {
          "description": "Action which caused the change.",
          "type": "string"
        },
        "transactionId": {
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of the modified object.",
          "type": "string",
          "format": "int64"
        },
        "objectType": {
          "description": "Object type of the change log.",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type."
        },
        "oldValue": {
          "description": "Old value of the object field.",
          "type": "string"
        },
        "userProfileName": {
          "description": "User profile name of the user who modified the object.",
          "type": "string"
        }
      },
      "id": "ChangeLog",
      "type": "object"
    },
    "ConversionError": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionError\".",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enum": [
            "INVALID_ARGUMENT",
            "INTERNAL",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The error code."
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        }
      },
      "id": "ConversionError",
      "type": "object",
      "description": "The error code and description for a conversion that failed to insert or update."
    },
    "FloodlightActivityPublisherDynamicTag": {
      "id": "FloodlightActivityPublisherDynamicTag",
      "type": "object",
      "properties": {
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "siteId": {
          "description": "Site ID of this dynamic tag.",
          "type": "string",
          "format": "int64"
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated."
        },
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "description": "Publisher Dynamic Tag"
    },
    "SubaccountsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "subaccounts": {
          "description": "Subaccount collection.",
          "items": {
            "$ref": "Subaccount"
          },
          "type": "array"
        }
      },
      "id": "SubaccountsListResponse",
      "type": "object",
      "description": "Subaccount List Response"
    },
    "CreativeFieldValuesListResponse": {
      "description": "Creative Field Value List Response",
      "id": "CreativeFieldValuesListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValuesListResponse\".",
          "type": "string"
        },
        "creativeFieldValues": {
          "type": "array",
          "description": "Creative field value collection.",
          "items": {
            "$ref": "CreativeFieldValue"
          }
        }
      }
    },
    "FeedField": {
      "description": "Each field of the element. This is a required field.",
      "properties": {
        "id": {
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link.",
          "type": "integer",
          "format": "int32"
        },
        "required": {
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE ",
          "type": "boolean"
        },
        "renderable": {
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT ",
          "type": "boolean"
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "STRING",
            "LONG",
            "GPA_SERVED_IMAGE_URL",
            "GPA_SERVED_ASSET_URL",
            "COUNTRY_CODE_ISO",
            "FLOAT",
            "CM360_KEYWORD",
            "CM360_SITE_ID",
            "BOOL",
            "EXIT_URL",
            "DATETIME",
            "CM360_CREATIVE_ID",
            "CM360_PLACEMENT_ID",
            "CM360_AD_ID",
            "CM360_ADVERTISER_ID",
            "CM360_CAMPAIGN_ID",
            "CITY",
            "REGION",
            "POSTAL_CODE",
            "METRO",
            "CUSTOM_VALUE",
            "REMARKETING_VALUE",
            "GEO_CANONICAL",
            "WEIGHT",
            "STRING_LIST",
            "CREATIVE_DIMENSION",
            "USERLIST_ID",
            "ASSET_LIBRARY_DIRECTORY_HANDLE",
            "ASSET_LIBRARY_VIDEO_HANDLE",
            "ASSET_LIBRARY_HANDLE",
            "THIRD_PARTY_SERVED_URL",
            "CM360_DYNAMIC_TARGETING_KEY",
            "DV360_LINE_ITEM_ID"
          ],
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
            "The field type is CM360 site ID.",
            "The field type is boolean.",
            "The field type is exit url.",
            "The field type is datetime.",
            "The field type is CM360 creative ID.",
            "The field type is CM360 placement ID.",
            "The field type is CM360 ad ID.",
            "The field type is CM360 advertiser ID.",
            "The field type is CM360 campaign ID.",
            "The field type is cities.",
            "The field type is region.",
            "The field type is postal code.",
            "The field type is metro code.",
            "The field type is custom value.",
            "The field type is remarketing value.",
            "The field type is accurate geographic type.",
            "The field type is weight.",
            "The field type is a list of values.",
            "The field type is creative dimension.",
            "The field type is CM/DV360 Audience ID.",
            "The field type is AssetLibrary directory path.",
            "The field type is AssetLibrary video file path.",
            "The field type is AssetLibrary path.",
            "The field type is third party served url.",
            "The field type is CM dynamic targeting key.",
            "The field type is DV360 line item ID."
          ],
          "description": "Required. The type of the field."
        },
        "defaultValue": {
          "description": "Optional. The default value of the field.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the field.",
          "type": "string"
        }
      },
      "id": "FeedField",
      "type": "object"
    },
    "TvCampaignTimepoint": {
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "id": "TvCampaignTimepoint",
      "type": "object",
      "properties": {
        "dateWindow": {
          "description": "The date window of the timepoint.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "type": "string",
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ]
        },
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        },
        "spend": {
          "type": "number",
          "format": "double",
          "description": "The spend within the time range of the timepoint."
        }
      }
    },
    "GeoTargeting": {
      "description": "Geographical Targeting.",
      "id": "GeoTargeting",
      "type": "object",
      "properties": {
        "excludeCountries": {
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad.",
          "type": "boolean"
        },
        "countries": {
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country.",
          "items": {
            "$ref": "Country"
          },
          "type": "array"
        },
        "regions": {
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region.",
          "items": {
            "$ref": "Region"
          },
          "type": "array"
        },
        "cities": {
          "type": "array",
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city.",
          "items": {
            "$ref": "City"
          }
        },
        "metros": {
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "items": {
            "$ref": "Metro"
          },
          "type": "array"
        },
        "postalCodes": {
          "type": "array",
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code.",
          "items": {
            "$ref": "PostalCode"
          }
        }
      }
    },
    "RemarketingListsListResponse": {
      "id": "RemarketingListsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "remarketingLists": {
          "type": "array",
          "description": "Remarketing list collection.",
          "items": {
            "$ref": "RemarketingList"
          }
        }
      },
      "description": "Remarketing list response"
    },
    "VideoFormatsListResponse": {
      "description": "Video Format List Response",
      "id": "VideoFormatsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormatsListResponse\".",
          "type": "string"
        },
        "videoFormats": {
          "type": "array",
          "description": "Video format collection.",
          "items": {
            "$ref": "VideoFormat"
          }
        }
      }
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "type": "object",
      "properties": {
        "impressions": {
          "description": "Number of times an individual user can be served the ad within the specified duration. Acceptable values are 1 to 15, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "duration": {
          "type": "string",
          "format": "int64",
          "description": "Duration of time, in seconds, for this frequency cap. The maximum duration is 90 days. Acceptable values are 1 to 7776000, inclusive."
        }
      },
      "description": "Frequency Cap."
    },
    "CompanionSetting": {
      "id": "CompanionSetting",
      "type": "object",
      "properties": {
        "companionsDisabled": {
          "description": "Whether companions are disabled for this placement.",
          "type": "boolean"
        },
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
          "items": {
            "$ref": "Size"
          },
          "type": "array"
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        }
      },
      "description": "Companion Settings"
    },
    "RemarketingListShare": {
      "properties": {
        "remarketingListId": {
          "type": "string",
          "format": "int64",
          "description": "Remarketing list ID. This is a read-only, auto-generated field."
        },
        "sharedAccountIds": {
          "description": "Accounts that the remarketing list is shared with.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "sharedAdvertiserIds": {
          "description": "Advertisers that the remarketing list is shared with.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListShare\".",
          "type": "string"
        }
      },
      "id": "RemarketingListShare",
      "type": "object",
      "description": "Contains properties of a remarketing list's sharing information. Sharing allows other accounts or advertisers to target to your remarketing lists. This resource can be used to manage remarketing list sharing to other accounts and advertisers."
    },
    "TagSettings": {
      "id": "TagSettings",
      "type": "object",
      "properties": {
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        },
        "imageTagEnabled": {
          "description": "Whether image tags are enabled.",
          "type": "boolean"
        }
      },
      "description": "Dynamic and Image Tag Settings."
    },
    "OffsetPosition": {
      "id": "OffsetPosition",
      "type": "object",
      "properties": {
        "top": {
          "description": "Offset distance from top side of an asset or a window.",
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "description": "Offset distance from left side of an asset or a window.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Offset Position."
    },
    "OfflineUserAddressInfo": {
      "description": "Identify a user by name and address.",
      "id": "OfflineUserAddressInfo",
      "type": "object",
      "properties": {
        "hashedFirstName": {
          "description": "First name of the user, which is hashed as SHA-256 after normalized (Lowercase all characters; Remove any extra spaces before, after, and in between).",
          "type": "string"
        },
        "countryCode": {
          "description": "2-letter country code in ISO-3166-1 alpha-2 of the user's address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Postal code of the user's address.",
          "type": "string"
        },
        "hashedStreetAddress": {
          "description": "The street address of the user hashed using SHA-256 hash function after normalization (lower case only).",
          "type": "string"
        },
        "hashedLastName": {
          "description": "Last name of the user, which is hashed as SHA-256 after normalized (lower case only and no punctuation).",
          "type": "string"
        },
        "city": {
          "description": "City of the address.",
          "type": "string"
        },
        "state": {
          "description": "State code of the address.",
          "type": "string"
        }
      }
    },
    "FloodlightConfiguration": {
      "id": "FloodlightConfiguration",
      "type": "object",
      "properties": {
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of the parent advertiser of this floodlight configuration."
        },
        "inAppAttributionTrackingEnabled": {
          "description": "Whether in-app attribution tracking is enabled.",
          "type": "boolean"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "customViewabilityMetric": {
          "$ref": "CustomViewabilityMetric",
          "description": "Custom Viewability metric for the floodlight configuration."
        },
        "exposureToConversionEnabled": {
          "description": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Lookback window settings for this floodlight configuration."
        },
        "thirdPartyAuthenticationTokens": {
          "type": "array",
          "description": "List of third-party authentication tokens enabled for this configuration.",
          "items": {
            "$ref": "ThirdPartyAuthenticationToken"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
          "type": "string"
        },
        "analyticsDataSharingEnabled": {
          "description": "Whether advertiser data is shared with Google Analytics.",
          "type": "boolean"
        },
        "tagSettings": {
          "$ref": "TagSettings",
          "description": "Configuration settings for dynamic and image floodlight tags."
        },
        "firstDayOfWeek": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SUNDAY",
            "MONDAY"
          ]
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field."
        },
        "id": {
          "description": "ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "naturalSearchConversionAttributionOption": {
          "description": "Types of attribution options for natural search conversions.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
          ]
        },
        "omnitureSettings": {
          "$ref": "OmnitureSettings",
          "description": "Settings for Campaign Manager Omniture integration."
        },
        "accountId": {
          "description": "Account ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "userDefinedVariableConfigurations": {
          "description": "List of user defined variables enabled for this configuration.",
          "items": {
            "$ref": "UserDefinedVariableConfiguration"
          },
          "type": "array"
        }
      },
      "description": "Contains properties of a Floodlight configuration."
    },
    "ReachReportCompatibleFields": {
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields.",
          "type": "string"
        },
        "dimensionFilters": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "reachByFrequencyMetrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        }
      },
      "id": "ReachReportCompatibleFields",
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\"."
    },
    "AccountPermissionGroupsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupGroupsListResponse\".",
          "type": "string"
        },
        "accountPermissionGroups": {
          "description": "Account permission group collection.",
          "items": {
            "$ref": "AccountPermissionGroup"
          },
          "type": "array"
        }
      },
      "id": "AccountPermissionGroupsListResponse",
      "type": "object",
      "description": "Account Permission Group List Response"
    },
    "UserRole": {
      "id": "UserRole",
      "type": "object",
      "properties": {
        "defaultUserRole": {
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions.",
          "type": "boolean"
        },
        "permissions": {
          "description": "List of permissions associated with this user role.",
          "items": {
            "$ref": "UserRolePermission"
          },
          "type": "array"
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "parentUserRoleId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field."
        },
        "accountId": {
          "description": "Account ID of this user role. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Contains properties of auser role, which is used to manage user access."
    },
    "Report": {
      "description": "Represents a Report resource.",
      "id": "Report",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "description": "The type of the report."
        },
        "reachCriteria": {
          "description": "The report criteria for a report of type \"REACH\".",
          "properties": {
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            },
            "reachByFrequencyMetricNames": {
              "type": "array",
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object"
        },
        "schedule": {
          "type": "object",
          "properties": {
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "type": "boolean"
            },
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "repeatsOnWeekDays": {
              "type": "array",
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "items": {
                "type": "string",
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ],
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ]
              }
            },
            "runsOnDayOfMonth": {
              "type": "string",
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
[...]
