{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://dfareporting.googleapis.com/",
  "id": "dfareporting:v4",
  "servicePath": "dfareporting/v4/",
  "version": "v4",
  "discoveryVersion": "v1",
  "resources": {
    "creatives": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Creative"
          },
          "description": "Gets one creative by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Creative ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.creatives.get",
          "path": "userprofiles/{+profileId}/creatives/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Creative"
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Inserts a new creative.",
          "id": "dfareporting.creatives.insert",
          "request": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "httpMethod": "POST"
        },
        "patch": {
          "request": {
            "$ref": "Creative"
          },
          "id": "dfareporting.creatives.patch",
          "path": "userprofiles/{+profileId}/creatives",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Creative"
          },
          "description": "Updates an existing creative. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "Required. Creative ID.",
              "location": "query",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "list": {
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "parameters": {
            "studioCreativeId": {
              "type": "string",
              "description": "Select only creatives corresponding to this Studio creative ID.",
              "location": "query",
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "types": {
              "type": "string",
              "description": "Select only creatives with these creative types.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "repeated": true
            },
            "advertiserId": {
              "type": "string",
              "description": "Select only creatives with this advertiser ID.",
              "location": "query",
              "format": "int64"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "repeated": true,
              "description": "Select only creatives with these IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "companionCreativeIds": {
              "repeated": true,
              "description": "Select only in-stream video creatives with these companion IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000"
            },
            "renderingIds": {
              "type": "string",
              "description": "Select only creatives with these rendering IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "campaignId": {
              "type": "string",
              "description": "Select only creatives with this campaign ID.",
              "location": "query",
              "format": "int64"
            },
            "archived": {
              "type": "boolean",
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives.",
              "location": "query"
            },
            "sizeIds": {
              "description": "Select only creatives with these size IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "creativeFieldIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only creatives with these creative field IDs.",
              "location": "query",
              "format": "int64"
            },
            "active": {
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativesListResponse"
          },
          "path": "userprofiles/{+profileId}/creatives",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creatives.list"
        },
        "update": {
          "request": {
            "$ref": "Creative"
          },
          "id": "dfareporting.creatives.update",
          "path": "userprofiles/{+profileId}/creatives",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Creative"
          },
          "description": "Updates an existing creative.",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        }
      }
    },
    "subaccounts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SubaccountsListResponse"
          },
          "description": "Gets a list of subaccounts, possibly filtered. This method supports paging.",
          "parameters": {
            "sortOrder": {
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "ids": {
              "description": "Select only subaccounts with these IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"subaccount*2015\" will return objects with names like \"subaccount June 2015\", \"subaccount April 2015\", or simply \"subaccount 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"subaccount\" will match objects with name \"my subaccount\", \"subaccount 2015\", or simply \"subaccount\" .",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.subaccounts.list",
          "path": "userprofiles/{+profileId}/subaccounts",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "path": "userprofiles/{+profileId}/subaccounts",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.update",
          "description": "Updates an existing subaccount.",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Subaccount"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/subaccounts/{+id}",
          "httpMethod": "GET",
          "id": "dfareporting.subaccounts.get",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts/{subaccountsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "Subaccount ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Gets one subaccount by ID.",
          "response": {
            "$ref": "Subaccount"
          }
        },
        "patch": {
          "response": {
            "$ref": "Subaccount"
          },
          "description": "Updates an existing subaccount. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "description": "Required. Subaccount ID.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Subaccount"
          },
          "id": "dfareporting.subaccounts.patch",
          "path": "userprofiles/{+profileId}/subaccounts",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/subaccounts",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new subaccount.",
          "response": {
            "$ref": "Subaccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/subaccounts",
          "httpMethod": "POST",
          "id": "dfareporting.subaccounts.insert",
          "request": {
            "$ref": "Subaccount"
          }
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "list": {
          "description": "Retrieves the list of account permissions.",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "path": "userprofiles/{+profileId}/accountPermissions",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountPermissions.list"
        },
        "get": {
          "id": "dfareporting.accountPermissions.get",
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountPermission"
          },
          "description": "Gets one account permission by ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "description": "Account permission ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "get": {
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Remarketing list ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "description": "Gets one remarketing list by ID.",
          "id": "dfareporting.targetableRemarketingLists.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "httpMethod": "GET"
        },
        "list": {
          "id": "dfareporting.targetableRemarketingLists.list",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "parameters": {
            "active": {
              "type": "boolean",
              "description": "Select only active or only inactive targetable remarketing lists.",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING"
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "location": "query",
              "format": "int64"
            },
            "name": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ]
        }
      }
    },
    "conversions": {
      "methods": {
        "batchinsert": {
          "id": "dfareporting.conversions.batchinsert",
          "request": {
            "$ref": "ConversionsBatchInsertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions"
          ],
          "path": "userprofiles/{profileId}/conversions/batchinsert",
          "httpMethod": "POST",
          "response": {
            "$ref": "ConversionsBatchInsertResponse"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{profileId}/conversions/batchinsert",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts conversions."
        },
        "batchupdate": {
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions"
          ],
          "path": "userprofiles/{profileId}/conversions/batchupdate",
          "httpMethod": "POST",
          "id": "dfareporting.conversions.batchupdate",
          "request": {
            "$ref": "ConversionsBatchUpdateRequest"
          },
          "flatPath": "userprofiles/{profileId}/conversions/batchupdate",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Updates existing conversions.",
          "response": {
            "$ref": "ConversionsBatchUpdateResponse"
          }
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "list": {
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "description": "Gets a list of all supported user role permission groups.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.userRolePermissionGroups.list",
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "id": "dfareporting.userRolePermissionGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "description": "User role permission group ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "description": "Gets one user role permission group by ID."
        }
      }
    },
    "floodlightActivities": {
      "methods": {
        "update": {
          "response": {
            "$ref": "FloodlightActivity"
          },
          "description": "Updates an existing floodlight activity.",
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "FloodlightActivity"
          },
          "id": "dfareporting.floodlightActivities.update",
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "generatetag": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag",
          "httpMethod": "POST",
          "id": "dfareporting.floodlightActivities.generatetag",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "floodlightActivityId": {
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Generates a tag for a floodlight activity.",
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\".",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "floodlightActivityGroupTagString": {
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "tagString": {
              "type": "string",
              "description": "Select only floodlight activities with the specified tag string.",
              "location": "query"
            },
            "floodlightActivityGroupName": {
              "description": "Select only floodlight activities with the specified floodlight activity group name.",
              "location": "query",
              "type": "string"
            },
            "floodlightActivityGroupType": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group type.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "COUNTER",
                "SALE"
              ]
            },
            "advertiserId": {
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "floodlightConfigurationId": {
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "floodlightActivityGroupIds": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging.",
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "httpMethod": "GET",
          "id": "dfareporting.floodlightActivities.list"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightActivity"
          },
          "id": "dfareporting.floodlightActivities.insert",
          "description": "Inserts a new floodlight activity.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "FloodlightActivity"
          }
        },
        "patch": {
          "response": {
            "$ref": "FloodlightActivity"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "description": "Required. EventTag ID.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates an existing floodlight activity. This method supports patch semantics.",
          "id": "dfareporting.floodlightActivities.patch",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "httpMethod": "PATCH"
        },
        "delete": {
          "id": "dfareporting.floodlightActivities.delete",
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "httpMethod": "DELETE",
          "description": "Deletes an existing floodlight activity.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Floodlight activity ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "get": {
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "description": "Floodlight activity ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one floodlight activity by ID.",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "httpMethod": "GET",
          "id": "dfareporting.floodlightActivities.get"
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "httpMethod": "GET",
          "id": "dfareporting.advertiserInvoices.list",
          "parameters": {
            "advertiserId": {
              "required": true,
              "description": "Advertiser ID of this invoice.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "issueMonth": {
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          }
        }
      }
    },
    "postalCodes": {
      "methods": {
        "list": {
          "id": "dfareporting.postalCodes.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/postalCodes",
          "httpMethod": "GET",
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/postalCodes",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Retrieves a list of postal codes."
        },
        "get": {
          "id": "dfareporting.postalCodes.get",
          "path": "userprofiles/{+profileId}/postalCodes/{+code}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PostalCode"
          },
          "description": "Gets one postal code by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "code": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Postal code ID.",
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}",
          "parameterOrder": [
            "profileId",
            "code"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/projects",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.projects.list",
          "description": "Retrieves a list of projects, possibly filtered. This method supports paging .",
          "flatPath": "userprofiles/{userprofilesId}/projects",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only projects with these advertiser IDs.",
              "location": "query",
              "format": "int64"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "description": "Select only projects with these IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "searchString": {
              "description": "Allows searching for projects by name or ID. Wildcards (*) are allowed. For example, \"project*2015\" will return projects with names like \"project June 2015\", \"project April 2015\", or simply \"project 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"project\" will match projects with name \"my project\", \"project 2015\", or simply \"project\".",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ProjectsListResponse"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/projects/{+id}",
          "httpMethod": "GET",
          "id": "dfareporting.projects.get",
          "flatPath": "userprofiles/{userprofilesId}/projects/{projectsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Project ID.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "description": "Gets one project by ID.",
          "response": {
            "$ref": "Project"
          }
        }
      }
    },
    "sites": {
      "methods": {
        "update": {
          "description": "Updates an existing site.",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Site"
          },
          "path": "userprofiles/{+profileId}/sites",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Site"
          },
          "id": "dfareporting.sites.update"
        },
        "list": {
          "response": {
            "$ref": "SitesListResponse"
          },
          "description": "Retrieves a list of sites, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "directorySiteIds": {
              "description": "Select only sites with these directory site IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only sites with this subaccount ID.",
              "location": "query",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or keyName. Wildcards (*) are allowed. For example, \"site*2015\" will return objects with names like \"site June 2015\", \"site April 2015\", or simply \"site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"site\" will match objects with name \"my site\", \"site 2015\", or simply \"site\".",
              "location": "query",
              "type": "string"
            },
            "acceptsInStreamVideoPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "default": "1000"
            },
            "acceptsPublisherPaidPlacements": {
              "description": "Select only sites that accept publisher paid placements.",
              "location": "query",
              "type": "boolean"
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "adWordsSite": {
              "type": "boolean",
              "description": "Select only AdWords sites.",
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "description": "Select only sites with these IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "unmappedSite": {
              "description": "Select only sites that have not been mapped to a directory site.",
              "location": "query",
              "type": "boolean"
            },
            "approved": {
              "type": "boolean",
              "description": "Select only approved sites.",
              "location": "query"
            },
            "campaignIds": {
              "type": "string",
              "description": "Select only sites with these campaign IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true
            }
          },
          "id": "dfareporting.sites.list",
          "path": "userprofiles/{+profileId}/sites",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "description": "Gets one site by ID.",
          "flatPath": "userprofiles/{userprofilesId}/sites/{sitesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Site ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Site"
          },
          "path": "userprofiles/{+profileId}/sites/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.sites.get"
        },
        "patch": {
          "id": "dfareporting.sites.patch",
          "request": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/sites",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Site"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "description": "Required. Site ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing site. This method supports patch semantics."
        },
        "insert": {
          "response": {
            "$ref": "Site"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Inserts a new site.",
          "id": "dfareporting.sites.insert",
          "request": {
            "$ref": "Site"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/sites",
          "httpMethod": "POST"
        }
      }
    },
    "placementGroups": {
      "methods": {
        "patch": {
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "PlacementGroup"
          },
          "id": "dfareporting.placementGroups.patch",
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "Required. Placement ID.",
              "location": "query",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "PlacementGroup"
          }
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "description": "Inserts a new placement group.",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "POST",
          "id": "dfareporting.placementGroups.insert",
          "request": {
            "$ref": "PlacementGroup"
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementGroups.get",
          "description": "Gets one placement group by ID.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Placement group ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "PlacementGroup"
          }
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates an existing placement group.",
          "response": {
            "$ref": "PlacementGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "PUT",
          "id": "dfareporting.placementGroups.update",
          "request": {
            "$ref": "PlacementGroup"
          }
        },
        "list": {
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "placementGroupType": {
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "location": "query",
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "type": "string"
            },
            "maxEndDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "siteIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these sites.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "placementStrategyIds": {
              "repeated": true,
              "description": "Select only placement groups that are associated with these placement strategies.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "maxStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "maxResults": {
              "default": "800",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pricingTypes": {
              "repeated": true,
              "description": "Select only placement groups with these pricing types.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "directorySiteIds": {
              "description": "Select only placement groups that are associated with these directory sites.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query"
            },
            "advertiserIds": {
              "repeated": true,
              "description": "Select only placement groups that belong to these advertisers.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING"
            },
            "ids": {
              "type": "string",
              "description": "Select only placement groups with these IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "minEndDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "campaignIds": {
              "description": "Select only placement groups that belong to these campaigns.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "contentCategoryIds": {
              "type": "string",
              "description": "Select only placement groups that are associated with these content categories.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "activeStatus": {
              "type": "string",
              "description": "Select only placements with these active statuses.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "repeated": true
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "minStartDate": {
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dfareporting.placementGroups.list",
          "path": "userprofiles/{+profileId}/placementGroups",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "get": {
          "description": "Gets one floodlight activity group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Floodlight activity Group ID.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivityGroups.get"
        },
        "insert": {
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "description": "Inserts a new floodlight activity group.",
          "id": "dfareporting.floodlightActivityGroups.insert",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "httpMethod": "POST"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "httpMethod": "PATCH",
          "id": "dfareporting.floodlightActivityGroups.patch",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "Required. EventTag ID.",
              "location": "query",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "response": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.update",
          "description": "Updates an existing floodlight activity group.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "list": {
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "parameters": {
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64"
            },
            "type": {
              "type": "string",
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "COUNTER",
                "SALE"
              ]
            },
            "floodlightConfigurationId": {
              "type": "string",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING"
            },
            "ids": {
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightActivityGroups.list",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "ads": {
      "methods": {
        "get": {
          "id": "dfareporting.ads.get",
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Ad"
          },
          "description": "Gets one ad by ID.",
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Ad ID.",
              "location": "path",
              "format": "int64"
            }
          }
        },
        "insert": {
          "request": {
            "$ref": "Ad"
          },
          "id": "dfareporting.ads.insert",
          "path": "userprofiles/{+profileId}/ads",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Ad"
          },
          "description": "Inserts a new ad.",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "type": "string",
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "format": "int64",
              "required": true
            }
          },
          "description": "Updates an existing ad. This method supports patch semantics.",
          "response": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/ads",
          "httpMethod": "PATCH",
          "id": "dfareporting.ads.patch",
          "request": {
            "$ref": "Ad"
          }
        },
        "list": {
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "parameters": {
            "campaignIds": {
              "repeated": true,
              "description": "Select only ads with these campaign IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "placementIds": {
              "type": "string",
              "description": "Select only ads with these placement IDs assigned.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "creativeOptimizationConfigurationIds": {
              "repeated": true,
              "description": "Select only ads with these creative optimization configuration IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "type": "string",
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "type": "string",
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING"
            },
            "ids": {
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these IDs.",
              "location": "query",
              "format": "int64"
            },
            "remarketingListIds": {
              "repeated": true,
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "type": {
              "description": "Select only ads with these types.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "type": "string",
              "repeated": true
            },
            "creativeIds": {
              "repeated": true,
              "type": "string",
              "description": "Select only ads with these creative IDs assigned.",
              "location": "query",
              "format": "int64"
            },
            "audienceSegmentIds": {
              "type": "string",
              "description": "Select only ads with these audience segment IDs.",
              "location": "query",
              "format": "int64",
              "repeated": true
            },
            "advertiserId": {
              "description": "Select only ads with this advertiser ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sslCompliant": {
              "type": "boolean",
              "description": "Select only ads that are SSL-compliant.",
              "location": "query"
            },
            "archived": {
              "type": "boolean",
              "description": "Select only archived ads.",
              "location": "query"
            },
            "sizeIds": {
              "description": "Select only ads with these size IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            },
            "dynamicClickTracker": {
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "overriddenEventTagId": {
              "description": "Select only ads with this event tag override ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "default": "1000"
            },
            "sslRequired": {
              "type": "boolean",
              "description": "Select only ads that require SSL.",
              "location": "query"
            },
            "compatibility": {
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "type": "string"
            },
            "active": {
              "description": "Select only active ads.",
              "location": "query",
              "type": "boolean"
            },
            "landingPageIds": {
              "description": "Select only ads with these landing page IDs.",
              "location": "query",
              "format": "int64",
              "type": "string",
              "repeated": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdsListResponse"
          },
          "path": "userprofiles/{+profileId}/ads",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.list"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/ads",
          "httpMethod": "PUT",
          "id": "dfareporting.ads.update",
          "request": {
            "$ref": "Ad"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Updates an existing ad.",
          "response": {
            "$ref": "Ad"
          }
        }
      }
    },
    "userProfiles": {
      "methods": {
        "list": {
          "description": "Retrieves list of user profiles for a user.",
          "parameters": {},
          "flatPath": "userprofiles",
          "parameterOrder": [],
          "response": {
            "$ref": "UserProfileList"
          },
          "path": "userprofiles",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userProfiles.list"
        },
        "get": {
          "response": {
            "$ref": "UserProfile"
          },
          "flatPath": "userprofiles/{profileId}",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "description": "The user profile ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "description": "Gets one user profile by ID.",
          "id": "dfareporting.userProfiles.get",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}",
          "httpMethod": "GET"
        }
      }
    },
    "videoFormats": {
      "methods": {
        "list": {
          "description": "Lists available video formats.",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "path": "userprofiles/{+profileId}/videoFormats",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.videoFormats.list"
        },
        "get": {
          "response": {
            "$ref": "VideoFormat"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "description": "Video format ID.",
              "location": "path",
              "format": "int32",
              "pattern": "^[^/]+$",
              "type": "integer"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "description": "Gets one video format by ID.",
          "id": "dfareporting.videoFormats.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "httpMethod": "GET"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "id": "dfareporting.accountUserProfiles.insert",
          "description": "Inserts a new account user profile.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "httpMethod": "PATCH",
          "id": "dfareporting.accountUserProfiles.patch",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true
            },
            "id": {
              "type": "string",
              "description": "Required. AccountUserProfile ID.",
              "location": "query",
              "format": "int64",
              "required": true
            }
          },
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "response": {
            "$ref": "AccountUserProfile"
          }
        },
        "get": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            },
            "id": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "User profile ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "parameterOrder": [
            "profileId",
            "id"
[...]
