{
  "rootUrl": "https://dfareporting.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "dfareporting/v4/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "UserRole": {
      "id": "UserRole",
      "type": "object",
      "description": "Contains properties of auser role, which is used to manage user access.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "List of permissions associated with this user role.",
          "items": {
            "$ref": "UserRolePermission"
          }
        },
        "parentUserRoleId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the user role that this user role is based on or copied from. This is a required field."
        },
        "id": {
          "type": "string",
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\"."
        },
        "defaultUserRole": {
          "type": "boolean",
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions."
        }
      }
    },
    "DefaultClickThroughEventTagProperties": {
      "id": "DefaultClickThroughEventTagProperties",
      "type": "object",
      "description": "Properties of inheriting and overriding the default click-through event tag. A campaign may override the event tag defined at the advertiser level, and an ad may also override the campaign's setting further.",
      "properties": {
        "overrideInheritedEventTag": {
          "type": "boolean",
          "description": "Whether this entity should override the inherited default click-through event tag with its own defined value."
        },
        "defaultClickThroughEventTagId": {
          "description": "ID of the click-through event tag to apply to all ads in this entity's scope.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "TvCampaignTimepoint": {
      "type": "object",
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "properties": {
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        },
        "dateWindow": {
          "description": "The date window of the timepoint.",
          "type": "string",
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ]
        },
        "spend": {
          "format": "double",
          "type": "number",
          "description": "The spend within the time range of the timepoint."
        }
      },
      "id": "TvCampaignTimepoint"
    },
    "ThirdPartyTrackingUrl": {
      "type": "object",
      "description": "Third-party Tracking URL.",
      "properties": {
        "thirdPartyUrlType": {
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "type": "string",
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "description": "Third-party URL type for in-stream video and in-stream audio creatives."
        },
        "url": {
          "type": "string",
          "description": "URL for the specified third-party URL type."
        }
      },
      "id": "ThirdPartyTrackingUrl"
    },
    "FsCommand": {
      "type": "object",
      "description": "FsCommand.",
      "properties": {
        "top": {
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "type": "integer",
          "format": "int32"
        },
        "windowWidth": {
          "description": "Width of the window.",
          "type": "integer",
          "format": "int32"
        },
        "positionOption": {
          "type": "string",
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ],
          "description": "Position in the browser where the window will open.",
          "enumDescriptions": [
            "Center of the window Corresponds to \"center\" in UI",
            "user-defined distance from top left-hand corner of the window Corresponds to \"top-left\" in UI"
          ]
        },
        "left": {
          "type": "integer",
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32"
        },
        "windowHeight": {
          "type": "integer",
          "description": "Height of the window.",
          "format": "int32"
        }
      },
      "id": "FsCommand"
    },
    "DynamicFeedsInsertRequest": {
      "id": "DynamicFeedsInsertRequest",
      "type": "object",
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id.",
      "properties": {
        "dynamicFeed": {
          "$ref": "DynamicFeed",
          "description": "Required. Dynamic feed to insert."
        },
        "dynamicProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Dynamic profile ID of the inserted dynamic feed."
        }
      }
    },
    "FeedField": {
      "type": "object",
      "description": "Each field of the element. This is a required field.",
      "properties": {
        "defaultValue": {
          "type": "string",
          "description": "Optional. The default value of the field."
        },
        "id": {
          "type": "integer",
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the field."
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        },
        "renderable": {
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT ",
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
            "The field type is CM360 site ID.",
            "The field type is boolean.",
            "The field type is exit url.",
            "The field type is datetime.",
            "The field type is CM360 creative ID.",
            "The field type is CM360 placement ID.",
            "The field type is CM360 ad ID.",
            "The field type is CM360 advertiser ID.",
            "The field type is CM360 campaign ID.",
            "The field type is cities.",
            "The field type is region.",
            "The field type is postal code.",
            "The field type is metro code.",
            "The field type is custom value.",
            "The field type is remarketing value.",
            "The field type is accurate geographic type.",
            "The field type is weight.",
            "The field type is a list of values.",
            "The field type is creative dimension.",
            "The field type is CM/DV360 Audience ID.",
            "The field type is AssetLibrary directory path.",
            "The field type is AssetLibrary video file path.",
            "The field type is AssetLibrary path.",
            "The field type is third party served url.",
            "The field type is CM dynamic targeting key.",
            "The field type is DV360 line item ID."
          ],
          "description": "Required. The type of the field.",
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "STRING",
            "LONG",
            "GPA_SERVED_IMAGE_URL",
            "GPA_SERVED_ASSET_URL",
            "COUNTRY_CODE_ISO",
            "FLOAT",
            "CM360_KEYWORD",
            "CM360_SITE_ID",
            "BOOL",
            "EXIT_URL",
            "DATETIME",
            "CM360_CREATIVE_ID",
            "CM360_PLACEMENT_ID",
            "CM360_AD_ID",
            "CM360_ADVERTISER_ID",
            "CM360_CAMPAIGN_ID",
            "CITY",
            "REGION",
            "POSTAL_CODE",
            "METRO",
            "CUSTOM_VALUE",
            "REMARKETING_VALUE",
            "GEO_CANONICAL",
            "WEIGHT",
            "STRING_LIST",
            "CREATIVE_DIMENSION",
            "USERLIST_ID",
            "ASSET_LIBRARY_DIRECTORY_HANDLE",
            "ASSET_LIBRARY_VIDEO_HANDLE",
            "ASSET_LIBRARY_HANDLE",
            "THIRD_PARTY_SERVED_URL",
            "CM360_DYNAMIC_TARGETING_KEY",
            "DV360_LINE_ITEM_ID"
          ]
        },
        "required": {
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE ",
          "type": "boolean"
        }
      },
      "id": "FeedField"
    },
    "OptimizationActivity": {
      "description": "Creative optimization activity.",
      "properties": {
        "floodlightActivityId": {
          "format": "int64",
          "description": "Floodlight activity ID of this optimization activity. This is a required field.",
          "type": "string"
        },
        "floodlightActivityIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "weight": {
          "type": "integer",
          "description": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "OptimizationActivity"
    },
    "Site": {
      "type": "object",
      "description": "Contains properties of a site.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\"."
        },
        "id": {
          "type": "string",
          "description": "ID of this site. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field."
        },
        "adServingPlatformId": {
          "type": "string",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "format": "int64"
        },
        "directorySiteId": {
          "format": "int64",
          "type": "string",
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion."
        },
        "siteContacts": {
          "items": {
            "$ref": "SiteContact"
          },
          "type": "array",
          "description": "Site contacts."
        },
        "keyName": {
          "description": "Key name of this site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "description": "Account ID of this site. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "videoSettings": {
          "$ref": "SiteVideoSettings",
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement."
        },
        "siteSettings": {
          "$ref": "SiteSettings",
          "description": "Site-wide settings."
        },
        "approved": {
          "type": "boolean",
          "description": "Whether this site is approved."
        }
      },
      "id": "Site"
    },
    "DynamicFeed": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "properties": {
        "dynamicFeedId": {
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "element": {
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field.",
          "$ref": "Element"
        },
        "feedIngestionStatus": {
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "FeedIngestionStatus"
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "studioAdvertiserId": {
          "type": "string",
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field.",
          "format": "int64"
        },
        "dynamicFeedName": {
          "type": "string",
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided."
        },
        "contentSource": {
          "$ref": "ContentSource",
          "description": "Required. The content source of the dynamic feed. This is a required field."
        },
        "hasPublished": {
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field.",
          "readOnly": true,
          "type": "boolean"
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "status": {
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ],
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ]
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        }
      },
      "type": "object",
      "id": "DynamicFeed"
    },
    "RemarketingListsListResponse": {
      "type": "object",
      "description": "Remarketing list response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "remarketingLists": {
          "type": "array",
          "description": "Remarketing list collection.",
          "items": {
            "$ref": "RemarketingList"
          }
        }
      },
      "id": "RemarketingListsListResponse"
    },
    "CustomRichMediaEvents": {
      "type": "object",
      "description": "Represents a Custom Rich Media Events group.",
      "properties": {
        "filteredEventIds": {
          "items": {
            "$ref": "DimensionValue"
          },
          "type": "array",
          "description": "List of custom rich media event IDs. Dimension values must be all of type dfa:richMediaEventTypeIdAndName."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#customRichMediaEvents."
        }
      },
      "id": "CustomRichMediaEvents"
    },
    "Report": {
      "type": "object",
      "description": "Represents a Report resource.",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "crossMediaReachCriteria": {
          "type": "object",
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\".",
          "properties": {
            "metricNames": {
              "description": "Required. The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "Required. The date range this report should be run for."
            },
            "dimensions": {
              "description": "Required. The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dimensionFilters": {
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            }
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the report."
        },
        "delivery": {
          "type": "object",
          "description": "The report's email delivery settings.",
          "properties": {
            "message": {
              "type": "string",
              "description": "The message to be sent with each email."
            },
            "emailOwner": {
              "description": "Whether the report should be emailed to the report owner.",
              "type": "boolean"
            },
            "recipients": {
              "type": "array",
              "description": "The list of recipients to which to email the report.",
              "items": {
                "$ref": "Recipient"
              }
            },
            "emailOwnerDeliveryType": {
              "description": "The type of delivery for the owner to receive, if enabled.",
              "type": "string",
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            }
          }
        },
        "id": {
          "description": "The unique ID identifying this report resource.",
          "type": "string",
          "format": "int64"
        },
        "ownerProfileId": {
          "format": "int64",
          "description": "The user profile id of the owner of this report.",
          "type": "string"
        },
        "pathToConversionCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "properties": {
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            },
            "perInteractionDimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "The list of per interaction dimensions the report should include."
            },
            "customFloodlightVariables": {
              "type": "array",
              "description": "The list of custom floodlight variables the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "customRichMediaEvents": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include.",
              "type": "array"
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "properties": {
                "includeAttributedIPConversions": {
                  "description": "Deprecated: has no effect.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                },
                "includeUnattributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
                },
                "clicksLookbackWindow": {
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "maximumInteractionGap": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90."
                },
                "maximumImpressionInteractions": {
                  "type": "integer",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32"
                },
                "impressionsLookbackWindow": {
                  "type": "integer",
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "format": "int32"
                },
                "pivotOnInteractionPath": {
                  "type": "boolean",
                  "description": "Enable pivoting on interaction path."
                },
                "maximumClickInteractions": {
                  "type": "integer",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32"
                }
              },
              "type": "object"
            },
            "conversionDimensions": {
              "description": "The list of conversion dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "activityFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array"
            },
            "metricNames": {
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include.",
              "type": "array"
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            }
          }
        },
        "format": {
          "type": "string",
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "schedule": {
          "type": "object",
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "properties": {
            "repeats": {
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. ",
              "type": "string"
            },
            "startDate": {
              "format": "date",
              "type": "string"
            },
            "timezone": {
              "type": "string",
              "description": "The timezone when the report will run."
            },
            "repeatsOnWeekDays": {
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ],
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ]
              }
            },
            "runsOnDayOfMonth": {
              "type": "string",
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "expirationDate": {
              "type": "string",
              "format": "date"
            },
            "every": {
              "format": "int32",
              "type": "integer",
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\"."
            },
            "active": {
              "type": "boolean",
              "description": "Whether the schedule is active or not. Must be set to either true or false."
            }
          }
        },
        "criteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"STANDARD\".",
          "properties": {
            "dateRange": {
              "description": "The date range for which this report should be run.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dimensions": {
              "description": "The list of standard dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "dimensionFilters": {
              "type": "array",
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "customRichMediaEvents": {
              "$ref": "CustomRichMediaEvents",
              "description": "Custom Rich Media Events group."
            }
          }
        },
        "floodlightCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "properties": {
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "floodlightConfigId": {
              "$ref": "DimensionValue",
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "properties": {
                "includeAttributedIPConversions": {
                  "description": "Include conversions that have no cookie, but do have an exposure path.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "dimensions": {
              "type": "array",
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dimensionFilters": {
              "type": "array",
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "customRichMediaEvents": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include.",
              "type": "array"
            }
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "CROSS_DIMENSION_REACH",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "description": "The type of the report.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "format": "uint64"
        },
        "reachCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"REACH\".",
          "properties": {
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array"
            },
            "customRichMediaEvents": {
              "$ref": "CustomRichMediaEvents",
              "description": "Custom Rich Media Events group."
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            },
            "reachByFrequencyMetricNames": {
              "type": "array",
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "enableAllDimensionCombinations": {
              "description": "Whether to enable all reach dimension combinations in the report. Defaults to false. If enabled, the date range of the report should be within the last 42 days.",
              "type": "boolean"
            }
          }
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "The account ID to which this report belongs."
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "crossDimensionReachCriteria": {
          "description": "The report criteria for a report of type \"CROSS_DIMENSION_REACH\".",
          "properties": {
            "metricNames": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The list of names of metrics the report should include."
            },
            "pivoted": {
              "type": "boolean",
              "description": "Whether the report is pivoted or not. Defaults to true."
            },
            "dimensionFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array",
              "description": "The list of filters on which dimensions are filtered."
            },
            "dimension": {
              "type": "string",
              "enum": [
                "ADVERTISER",
                "CAMPAIGN",
                "SITE_BY_ADVERTISER",
                "SITE_BY_CAMPAIGN"
              ],
              "description": "The dimension option.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "breakdown": {
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array",
              "description": "The list of dimensions the report should include."
            },
            "overlapMetricNames": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The list of names of overlap metrics the report should include."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            }
          },
          "type": "object"
        },
        "fileName": {
          "description": "The filename used when generating report files for this report.",
          "type": "string"
        },
        "subAccountId": {
          "description": "The subaccount ID to which this report belongs if applicable.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Report"
    },
    "DeepLink": {
      "id": "DeepLink",
      "description": "Contains information about a landing page deep link.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\".",
          "type": "string"
        },
        "fallbackUrl": {
          "type": "string",
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed."
        },
        "appUrl": {
          "description": "The URL of the mobile app being linked to.",
          "type": "string"
        },
        "remarketingListIds": {
          "type": "array",
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "mobileApp": {
          "$ref": "MobileApp",
          "description": "The mobile app targeted by this deep link."
        }
      },
      "type": "object"
    },
    "MobileAppsListResponse": {
      "id": "MobileAppsListResponse",
      "description": "Mobile app List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "mobileApps": {
          "items": {
            "$ref": "MobileApp"
          },
          "description": "Mobile apps collection.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DateRange": {
      "id": "DateRange",
      "description": "Represents a date range.",
      "properties": {
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "relativeDateRange": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The date range relative to the date of when the report is run."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dateRange."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        }
      },
      "type": "object"
    },
    "CreativeAssetId": {
      "type": "object",
      "description": "Creative Asset ID.",
      "properties": {
        "type": {
          "description": "Type of asset to upload. This is a required field. FLASH and IMAGE are no longer supported for new uploads. All image assets should use HTML_IMAGE.",
          "type": "string",
          "enum": [
            "IMAGE",
            "FLASH",
            "VIDEO",
            "HTML",
            "HTML_IMAGE",
            "AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "description": "Name of the creative asset. This is a required field while inserting an asset. After insertion, this assetIdentifier is used to identify the uploaded asset. Characters in the name must be alphanumeric or one of the following: \".-_ \". Spaces are allowed.",
          "type": "string"
        }
      },
      "id": "CreativeAssetId"
    },
    "FloodlightActivityGroup": {
      "id": "FloodlightActivityGroup",
      "type": "object",
      "description": "Contains properties of a Floodlight activity group.",
      "properties": {
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion."
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes."
        },
        "floodlightConfigurationId": {
          "type": "string",
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\".",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string"
        },
        "tagString": {
          "type": "string",
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion."
        },
        "id": {
          "type": "string",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "subaccountId": {
          "format": "int64",
          "type": "string",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      }
    },
    "MeasurementPartnerAdvertiserLink": {
      "id": "MeasurementPartnerAdvertiserLink",
      "properties": {
        "linkStatus": {
          "type": "string",
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "description": "Status of the partner link.",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ]
        },
        "partnerAdvertiserId": {
          "description": "partner Advertiser Id.",
          "type": "string"
        },
        "measurementPartner": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for tag wrapping."
        }
      },
      "type": "object"
    },
    "PlacementStrategy": {
      "id": "PlacementStrategy",
      "type": "object",
      "description": "Contains properties of a placement strategy.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\"."
        }
      }
    },
    "ContentSourceMetaData": {
      "id": "ContentSourceMetaData",
      "description": "Contains the meta data of the content source. This is a read-only field.",
      "properties": {
        "charset": {
          "description": "Output only. The charset of the content source.",
          "readOnly": true,
          "type": "string"
        },
        "separator": {
          "type": "string",
          "description": "Output only. The separator of the content source.",
          "readOnly": true
        },
        "fieldNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of column names in the content source.",
          "readOnly": true
        },
        "rowNumber": {
          "description": "Output only. The number of rows in the content source.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AccountUserProfile": {
      "id": "AccountUserProfile",
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable."
        },
        "siteFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which sites are visible to the user profile."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "campaignFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which campaigns are visible to the user profile."
        },
        "traffickerType": {
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "type": "string",
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ]
        },
        "userAccessType": {
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ]
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of the user profile. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "email": {
          "type": "string",
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion."
        },
        "locale": {
          "type": "string",
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) "
        },
        "userRoleId": {
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "comments": {
          "type": "string",
          "description": "Comments for this user profile."
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\"."
        }
      },
      "type": "object"
    },
    "DfareportingStudioCreativeAssetsInsertRequest": {
      "type": "object",
      "description": "Request message for DfareportingStudioCreativeAssets.Insert.",
      "properties": {
        "studioCreativeId": {
          "type": "string",
          "description": "Optional. Studio creative ID of the studio creative asset. It is a optional field. If it is set, the asset will be associated to the creative.",
          "format": "int64"
        },
        "studioAdvertiserId": {
          "description": "Required. Studio advertiser ID of the studio creative asset. It is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "studioAccountId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Studio account ID of the studio creative asset. It is a optional."
        }
      },
      "id": "DfareportingStudioCreativeAssetsInsertRequest"
    },
    "LandingPage": {
      "type": "object",
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "properties": {
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this landing page. This is a required field.",
          "type": "string"
        },
        "deepLinks": {
          "type": "array",
          "description": "Links that will direct the user to a mobile app, if installed.",
          "items": {
            "$ref": "DeepLink"
          }
        },
        "id": {
          "type": "string",
          "description": "ID of this landing page. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\"."
        },
        "archived": {
          "type": "boolean",
          "description": "Whether this landing page has been archived."
        },
        "url": {
          "type": "string",
          "description": "URL of this landing page. This is a required field."
        }
      },
      "id": "LandingPage"
    },
    "PlacementsGenerateTagsResponse": {
      "id": "PlacementsGenerateTagsResponse",
      "type": "object",
      "description": "Placement GenerateTags Response",
      "properties": {
        "placementTags": {
          "description": "Set of generated tags for the specified placements.",
          "type": "array",
          "items": {
            "$ref": "PlacementTag"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\".",
          "type": "string"
        }
      }
    },
    "SkippableSetting": {
      "description": "Skippable Settings",
      "properties": {
        "skippable": {
          "description": "Whether the user can skip creatives served to this placement.",
          "type": "boolean"
        },
        "skipOffset": {
          "description": "Amount of time to play videos served to this placement before the skip button should appear. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#skippableSetting\".",
          "type": "string"
        },
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play videos served to this placement before counting a view. Applicable when skippable is true."
        }
      },
      "type": "object",
      "id": "SkippableSetting"
    },
    "MobileApp": {
      "description": "Contains information about a mobile app. Used as a landing page deep link.",
      "properties": {
        "directory": {
          "description": "Mobile app directory.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "publisherName": {
          "description": "Publisher name.",
          "type": "string"
        },
        "title": {
          "description": "Title of this mobile app.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this mobile app.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MobileApp"
    },
    "AudienceSegmentGroup": {
      "id": "AudienceSegmentGroup",
      "description": "Audience Segment Group.",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "audienceSegments": {
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100.",
          "type": "array",
          "items": {
            "$ref": "AudienceSegment"
          }
        }
      },
      "type": "object"
    },
    "ChangeLog": {
      "description": "Describes a change that a user has made to a resource.",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this change log."
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of the modified object.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\"."
        },
        "newValue": {
          "description": "New value of the object field.",
          "type": "string"
        },
        "transactionId": {
          "format": "int64",
          "type": "string",
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId."
        },
        "oldValue": {
          "type": "string",
          "description": "Old value of the object field."
        },
        "action": {
          "description": "Action which caused the change.",
          "type": "string"
        },
        "objectId": {
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "description": "Account ID of the modified object.",
          "type": "string",
          "format": "int64"
        },
        "userProfileId": {
          "format": "int64",
          "description": "ID of the user who modified the object.",
          "type": "string"
        },
        "fieldName": {
          "type": "string",
          "description": "Field name of the object which changed."
        },
        "userProfileName": {
          "type": "string",
          "description": "User profile name of the user who modified the object."
        },
        "changeTime": {
          "format": "date-time",
          "type": "string"
        },
        "objectType": {
          "type": "string",
          "description": "Object type of the change log."
        }
      },
      "type": "object",
      "id": "ChangeLog"
    },
    "Conversion": {
      "id": "Conversion",
      "type": "object",
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
      "properties": {
        "userIdentifiers": {
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          }
        },
        "nonPersonalizedAd": {
          "type": "boolean",
          "description": "Whether the conversion was for a non personalized ad."
        },
        "cartData": {
          "description": "The cart data associated with this conversion.",
          "$ref": "CartData"
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field."
        },
        "customVariables": {
          "items": {
            "$ref": "CustomFloodlightVariable"
          },
          "description": "Custom floodlight variables.",
          "type": "array"
        },
        "encryptedUserIdCandidates": {
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "treatmentForUnderage": {
          "type": "boolean",
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR)."
        },
        "matchId": {
          "type": "string",
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field."
        },
        "adUserDataConsent": {
          "type": "string",
          "enum": [
            "GRANTED",
            "DENIED"
          ],
          "description": "This represents consent for ad user data.",
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ]
        },
        "mobileDeviceId": {
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "dclid": {
          "type": "string",
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field."
        },
        "ordinal": {
          "type": "string",
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field."
        },
        "encryptedUserId": {
          "type": "string",
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field."
        },
        "limitAdTracking": {
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing.",
          "type": "boolean"
        },
        "childDirectedTreatment": {
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance.",
          "type": "boolean"
        },
        "sessionAttributesEncoded": {
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate.",
          "type": "string",
          "format": "byte"
        },
        "timestampMicros": {
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "impressionId": {
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "description": "The quantity of the conversion. This is a required field.",
          "format": "int64"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight Configuration ID of this conversion. This is a required field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\".",
          "type": "string"
        },
        "gclid": {
          "type": "string",
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field."
        },
        "floodlightActivityId": {
          "description": "Floodlight Activity ID of this conversion. This is a required field.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DimensionFilter": {
      "type": "object",
      "description": "Represents a dimension filter.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension to filter."
        },
        "value": {
          "description": "The value of the dimension to filter.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter."
        }
      },
      "id": "DimensionFilter"
    },
    "FloodlightConfiguration": {
      "id": "FloodlightConfiguration",
      "type": "object",
      "description": "Contains properties of a Floodlight configuration.",
      "properties": {
        "thirdPartyAuthenticationTokens": {
          "items": {
            "$ref": "ThirdPartyAuthenticationToken"
          },
          "description": "List of third-party authentication tokens enabled for this configuration.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "firstDayOfWeek": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SUNDAY",
            "MONDAY"
          ]
        },
        "lookbackConfiguration": {
          "description": "Lookback window settings for this floodlight configuration.",
          "$ref": "LookbackConfiguration"
        },
        "userDefinedVariableConfigurations": {
          "type": "array",
          "description": "List of user defined variables enabled for this configuration.",
          "items": {
            "$ref": "UserDefinedVariableConfiguration"
          }
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of the parent advertiser of this floodlight configuration.",
          "type": "string"
        },
        "omnitureSettings": {
          "description": "Settings for Campaign Manager Omniture integration.",
          "$ref": "OmnitureSettings"
        },
        "inAppAttributionTrackingEnabled": {
          "description": "Whether in-app attribution tracking is enabled.",
          "type": "boolean"
        },
        "naturalSearchConversionAttributionOption": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Types of attribution options for natural search conversions.",
          "type": "string",
          "enum": [
            "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
          ]
        },
        "tagSettings": {
          "$ref": "TagSettings",
          "description": "Configuration settings for dynamic and image floodlight tags."
        },
        "exposureToConversionEnabled": {
          "type": "boolean",
          "description": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting."
        },
        "analyticsDataSharingEnabled": {
          "description": "Whether advertiser data is shared with Google Analytics.",
          "type": "boolean"
        },
        "customViewabilityMetric": {
          "description": "Custom Viewability metric for the floodlight configuration.",
          "$ref": "CustomViewabilityMetric"
        }
      }
    },
    "BillingRate": {
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this billing rate."
        },
        "rateInMicros": {
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate.",
          "type": "string",
          "format": "int64"
        },
        "unitOfMeasure": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Unit of measure for this billing rate.",
          "type": "string",
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of this billing rate. This must be less than 256 characters long."
        },
        "startDate": {
          "type": "string",
          "description": "Start date of this billing rate."
        },
        "tieredRates": {
          "type": "array",
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate.",
          "items": {
            "$ref": "BillingRateTieredRate"
          }
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ],
          "description": "Type of this billing rate."
        },
        "endDate": {
          "description": "End date of this billing rate.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BillingRate"
    },
    "AudienceSegment": {
      "type": "object",
      "description": "Audience Segment.",
      "properties": {
        "id": {
          "format": "int64",
          "description": "ID of this audience segment. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long."
        },
        "allocation": {
          "format": "int32",
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive.",
          "type": "integer"
        }
      },
      "id": "AudienceSegment"
    },
    "UniversalAdId": {
      "id": "UniversalAdId",
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "properties": {
        "registry": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Registry used for the Ad ID value.",
          "type": "string",
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ]
        },
        "value": {
          "type": "string",
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM."
        }
      },
      "type": "object"
    },
    "ContentCategory": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\"."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "ID of this content category. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account ID of this content category. This is a read-only field that can be left blank."
        }
      },
      "id": "ContentCategory"
    },
    "ClickThroughUrl": {
      "description": "Click-through URL",
      "properties": {
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset.",
          "type": "string"
        },
        "defaultLandingPage": {
          "type": "boolean",
          "description": "Whether the campaign default landing page is used."
        },
        "landingPageId": {
          "type": "string",
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "format": "int64"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ClickThroughUrl"
    },
    "AdvertisersListResponse": {
      "id": "AdvertisersListResponse",
      "description": "Advertiser List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertisersListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "advertisers": {
          "type": "array",
          "description": "Advertiser collection.",
          "items": {
            "$ref": "Advertiser"
          }
        }
      },
      "type": "object"
    },
    "PostalCode": {
      "id": "PostalCode",
      "description": "Contains information about a postal code that can be targeted by ads.",
      "properties": {
        "code": {
          "description": "Postal code. This is equivalent to the id field.",
          "type": "string"
        },
        "id": {
          "description": "ID of this postal code.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCode\"."
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the country to which this postal code belongs."
        },
        "countryDartId": {
          "description": "DART ID of the country to which this postal code belongs.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ThirdPartyAuthenticationToken": {
      "description": "Third Party Authentication Token",
      "properties": {
        "name": {
          "description": "Name of the third-party authentication token.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field."
        }
      },
      "type": "object",
      "id": "ThirdPartyAuthenticationToken"
    },
    "YoutubeSettings": {
      "type": "object",
      "description": "Contains the YouTube settings.",
      "properties": {
        "descriptions": {
          "type": "array",
          "description": "Optional. The descriptions. Currently only one description is supported.",
          "items": {
            "type": "string"
          }
        },
        "callToActions": {
          "type": "array",
          "description": "Optional. The call to actions. Currently only one call to action is supported.",
          "items": {
            "type": "string",
            "enum": [
              "CALL_TO_ACTION_UNKNOWN",
              "CALL_TO_ACTION_LEARN_MORE",
              "CALL_TO_ACTION_GET_QUOTE",
              "CALL_TO_ACTION_APPLY_NOW",
              "CALL_TO_ACTION_SIGN_UP",
              "CALL_TO_ACTION_CONTACT_US",
              "CALL_TO_ACTION_SUBSCRIBE",
              "CALL_TO_ACTION_DOWNLOAD",
              "CALL_TO_ACTION_BOOK_NOW",
              "CALL_TO_ACTION_GET_OFFER",
              "CALL_TO_ACTION_SHOP_NOW",
              "CALL_TO_ACTION_VISIT_STORE",
              "CALL_TO_ACTION_CALL_NOW",
              "CALL_TO_ACTION_VIEW_MENU",
              "CALL_TO_ACTION_TEST_DRIVE",
              "CALL_TO_ACTION_SCHEDULE_NOW",
              "CALL_TO_ACTION_BUY_NOW",
              "CALL_TO_ACTION_DONATE_NOW",
              "CALL_TO_ACTION_ORDER_NOW",
              "CALL_TO_ACTION_PLAY_NOW",
              "CALL_TO_ACTION_SEE_MORE",
              "CALL_TO_ACTION_START_NOW",
              "CALL_TO_ACTION_VISIT_SITE",
              "CALL_TO_ACTION_WATCH_NOW"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "longHeadlines": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The long headlines. Currently only one long headline is supported.",
          "type": "array"
        },
        "headlines": {
          "type": "array",
          "description": "Optional. The headlines associated with the call to actions. Currently only one headline is supported.",
          "items": {
            "type": "string"
          }
        },
        "businessName": {
          "description": "Optional. The business name.",
          "type": "string"
        },
        "businessLogoCreativeIds": {
          "description": "Optional. The IDs of the creatives to use for the business logo. Currently only one creative is supported.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "YoutubeSettings"
    },
    "Browser": {
      "description": "Contains information about a browser that can be targeted by ads.",
      "properties": {
        "browserVersionId": {
          "description": "ID referring to this grouping of browser and version numbers. This is the ID used for targeting.",
          "type": "string",
          "format": "int64"
        },
        "majorVersion": {
          "type": "string",
          "description": "Major version number (leftmost number) of this browser. For example, for Chrome 5.0.376.86 beta, this field should be set to 5. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is."
        },
        "dartId": {
          "type": "string",
          "description": "DART ID of this browser. This is the ID used when generating reports.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this browser.",
          "type": "string"
        },
        "minorVersion": {
          "description": "Minor version number (number after first dot on left) of this browser. For example, for Chrome 5.0.375.86 beta, this field should be set to 0. An asterisk (*) may be used to target any version number, and a question mark (?) may be used to target cases where the version number cannot be identified. For example, Chrome *.* targets any version of Chrome: 1.2, 2.5, 3.5, and so on. Chrome 3.* targets Chrome 3.1, 3.5, but not 4.0. Firefox ?.? targets cases where the ad server knows the browser is Firefox but can't tell which version it is.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browser\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Browser"
    },
    "FloodlightActivitiesListResponse": {
      "type": "object",
      "description": "Floodlight Activity List Response",
      "properties": {
        "floodlightActivities": {
          "type": "array",
          "description": "Floodlight activity collection.",
          "items": {
            "$ref": "FloodlightActivity"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "FloodlightActivitiesListResponse"
    },
    "Ad": {
      "type": "object",
      "description": "Contains properties of a Campaign Manager ad.",
      "properties": {
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this ad. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix properties for this ad. Applies to the URL in the ad or (if overriding ad properties) the URL in the creative.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "compatibility": {
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "description": "Compatibility of this ad. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to either rendering on desktop or on mobile devices or in mobile apps for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are only used for existing default ads. New mobile placements must be assigned DISPLAY or DISPLAY_INTERSTITIAL and default ads created for those placements will be limited to those compatibility types. IN_STREAM_VIDEO refers to rendering in-stream video ads developed with the VAST standard."
        },
        "targetingTemplateId": {
          "type": "string",
          "description": "Targeting template ID, used to apply preconfigured targeting information to this ad. This cannot be set while any of dayPartTargeting, geoTargeting, keyValueTargetingExpression, languageTargeting, remarketingListExpression, or technologyTargeting are set. Applicable when type is AD_SERVING_STANDARD_AD.",
          "format": "int64"
        },
        "endTime": {
          "format": "date-time",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this ad. This is a required field on insertion.",
          "format": "int64"
        },
        "sslCompliant": {
          "type": "boolean",
          "description": "Whether this ad is ssl compliant. This is a read-only field that is auto-generated when the ad is inserted or updated."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this ad. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "eventTagOverrides": {
          "description": "Event tag overrides for this ad.",
          "type": "array",
          "items": {
            "$ref": "EventTagOverride"
          }
        },
        "dayPartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Time and day targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "keyValueTargetingExpression": {
          "$ref": "KeyValueTargetingExpression",
          "description": "Key-value targeting information for this ad. This field must be left blank if the ad is using a targeting template. Applicable when type is AD_SERVING_STANDARD_AD."
        },
        "active": {
          "description": "Whether this ad is active. When true, archived must be false.",
          "type": "boolean"
        },
        "dynamicClickTracker": {
          "description": "Whether this ad is a dynamic click tracker. Applicable when type is AD_SERVING_CLICK_TRACKER. This is a required field on insert, and is read-only after insert.",
          "type": "boolean"
        },
        "name": {
[...]
