{
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "version": "v4",
  "ownerDomain": "google.com",
  "title": "Campaign Manager 360 API",
  "revision": "20260310",
  "canonicalName": "Dfareporting",
  "schemas": {
    "RemarketingList": {
      "description": "Contains properties of a remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource can be used to manage remarketing lists that are owned by your advertisers. To see all remarketing lists that are visible to your advertisers, including those that are shared to your advertiser or account, use the TargetableRemarketingLists resource.",
      "type": "object",
      "id": "RemarketingList",
      "properties": {
        "listPopulationRule": {
          "$ref": "ListPopulationRule",
          "description": "Rule used to populate the remarketing list with users."
        },
        "id": {
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "description": "Dimension value for the advertiser ID that owns this remarketing list. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingList\"."
        },
        "name": {
          "description": "Name of the remarketing list. This is a required field. Must be no greater than 128 characters long.",
          "type": "string"
        },
        "description": {
          "description": "Remarketing list description.",
          "type": "string"
        },
        "listSize": {
          "format": "int64",
          "description": "Number of users currently in the list. This is a read-only field.",
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this remarketing list is active."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "format": "int64"
        },
        "listSource": {
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ],
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ],
          "type": "string",
          "description": "Product from which this remarketing list was originated."
        },
        "lifeSpan": {
          "format": "int64",
          "description": "Number of days that a user should remain in the remarketing list without an impression. Acceptable values are 1 to 540, inclusive.",
          "type": "string"
        }
      }
    },
    "ConnectionType": {
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users.",
      "id": "ConnectionType",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this connection type.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this connection type."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\"."
        }
      },
      "type": "object"
    },
    "Metric": {
      "id": "Metric",
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric name, e.g. impressions"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#metric."
        }
      },
      "type": "object",
      "description": "Represents a metric."
    },
    "UserRolePermissionsListResponse": {
      "description": "User Role Permission List Response",
      "id": "UserRolePermissionsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\"."
        },
        "userRolePermissions": {
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "User role permission collection."
        }
      },
      "type": "object"
    },
    "FeedSchedule": {
      "type": "object",
      "id": "FeedSchedule",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone to schedule the feed. It is applicable if the repeat value is equal to 1. Default value is \"America/Los_Angeles\".",
          "type": "string"
        },
        "scheduleEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the schedule is enabled."
        },
        "startHour": {
          "type": "string",
          "description": "Optional. The hour of the day to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0."
        },
        "repeatValue": {
          "type": "string",
          "description": "Optional. The number of times the feed retransforms within one day. This is a required field if the schedule is enabled. Acceptable values are between 1 to 6, inclusive.",
          "format": "int64"
        },
        "startMinute": {
          "type": "string",
          "description": "Optional. The minute of the hour to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0."
        }
      },
      "description": "Contains the schedule of the dynamic feed."
    },
    "UserProfileList": {
      "id": "UserProfileList",
      "properties": {
        "items": {
          "type": "array",
          "description": "The user profiles returned in this response.",
          "items": {
            "$ref": "UserProfile"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the list of user profiles."
    },
    "AccountActiveAdSummary": {
      "description": "Gets a summary of active ads in an account.",
      "type": "object",
      "id": "AccountActiveAdSummary",
      "properties": {
        "availableAds": {
          "type": "string",
          "description": "Ads that can be activated for the account.",
          "format": "int64"
        },
        "activeAds": {
          "type": "string",
          "description": "Ads that have been activated for the account",
          "format": "int64"
        },
        "activeAdsLimitTier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ],
          "type": "string",
          "description": "Maximum number of active ads allowed for the account."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountActiveAdSummary\".",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the account."
        }
      }
    },
    "FloodlightActivityGroupsListResponse": {
      "id": "FloodlightActivityGroupsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "floodlightActivityGroups": {
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Floodlight activity group collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\"."
        }
      },
      "type": "object",
      "description": "Floodlight Activity Group List Response"
    },
    "ThirdPartyAuthenticationToken": {
      "description": "Third Party Authentication Token",
      "type": "object",
      "id": "ThirdPartyAuthenticationToken",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the third-party authentication token."
        },
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "DynamicProfileVersion": {
      "type": "object",
      "id": "DynamicProfileVersion",
      "properties": {
        "dynamicProfileFeedSettings": {
          "type": "array",
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          },
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version."
        },
        "versionId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "type": "string"
        }
      },
      "description": "Contains dynamic profile version information."
    },
    "CustomViewabilityMetric": {
      "description": "Custom Viewability Metric",
      "id": "CustomViewabilityMetric",
      "properties": {
        "configuration": {
          "$ref": "CustomViewabilityMetricConfiguration",
          "description": "Configuration of the custom viewability metric."
        },
        "id": {
          "type": "string",
          "description": "ID of the custom viewability metric.",
          "format": "int64"
        },
        "name": {
          "description": "Name of the custom viewability metric.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Size": {
      "type": "object",
      "id": "Size",
      "properties": {
        "width": {
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\"."
        },
        "id": {
          "description": "ID of this size. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive."
        },
        "iab": {
          "type": "boolean",
          "description": "IAB standard size. This is a read-only, auto-generated field."
        }
      },
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets."
    },
    "FieldError": {
      "type": "object",
      "id": "FieldError",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Output only. The name of the field.",
          "readOnly": true
        },
        "fieldValues": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of values of the field.",
          "type": "array"
        },
        "ingestionError": {
          "readOnly": true,
          "enumDescriptions": [
            "The ingestion error is unknown.",
            "The ingestion error when the ID value is missing.",
            "The ingestion error when the element value name used for reporting is missing.",
            "The ingestion error when a required value is empty",
            "The ingestion error when asset retrieval fails for a particular image or asset.",
            "The ingestion error when the ID value exceeds the string length limit.",
            "The ingestion error when the ID value is duplicate.",
            "The ingestion error when parsing the field fails.",
            "The ingestion error when parsing the country code fails.",
            "The ingestion error when parsing the long value fails.",
            "The ingestion error when parsing the boolean value fails.",
            "The ingestion error when parsing the expanded url fails.",
            "The ingestion error when parsing the float value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when the preference value is not a positive float.",
            "The ingestion error when a geo location is not found.",
            "The ingestion error when parsing the geo field fails.",
            "The ingestion error when a feed row has multiple geotargets with proximity targeting enabled.",
            "The ingestion error when parsing the postal code value fails.",
            "The ingestion error when parsing the metro code value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when parsing the weight value fails.",
            "The ingestion error when parsing the creative dimension value fails.",
            "The ingestion error when a STRING_LIST type ID has multiple values.",
            "The ingestion error when the end time is before the start time.",
            "The ingestion error when the asset library handle is invalid.",
            "The ingestion error when the asset library video handle is invalid.",
            "The ingestion error when the asset library directory handle is invalid.",
            "The ingestion error when a targeting key used but not defined for the CM360 Advertiser.",
            "The ingestion error when the userlist ID is not accessible for the CM360 Advertiser.",
            "The ingestion error when the end time is passed.",
            "The ingestion error when the end time is in the near future (i.e., <7 days).",
            "The ingestion error when a text field specifies a reference to an asset.",
            "The ingestion error when Image field specifies a reference to an asset hosted on SCS (s0.2mdn.net/s0qa.2mdn.net).",
            "The ingestion error when a geo target is an airport.",
            "The ingestion error when the geo target's canonical name does not match the query string used to obtain it.",
            "The ingestion error or warning when the default row is not set.",
            "The ingestion error or warning when the default row is not active.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error when when the payload of the record is above a threshold.",
            "The ingestion error or warning when the field is not SSL compliant."
          ],
          "enum": [
            "UNKNOWN_PARSING_ERROR",
            "MISSING_ID",
            "MISSING_REPORTING_LABEL",
            "EMPTY_VALUE",
            "ASSET_DOWNLOAD_ERROR",
            "ID_TOO_LONG",
            "DUPLICATE_ID",
            "PARSING_ERROR",
            "COUNTRY_PARSING_ERROR",
            "LONG_PARSING_ERROR",
            "BOOL_PARSING_ERROR",
            "EXPANDED_URL_PARSING_ERROR",
            "FLOAT_PARSING_ERROR",
            "DATETIME_PARSING_ERROR",
            "INVALID_PREFERENCE_VALUE",
            "GEO_NOT_FOUND_ERROR",
            "GEO_PARSING_ERROR",
            "GEO_PROXIMITY_TARGETING_MULTIPLE_LOCATION_ERROR",
            "POSTAL_CODE_PARSING_ERROR",
            "METRO_CODE_PARSING_ERROR",
            "DATETIME_WITHOUT_TIMEZONE_PARSING_ERROR",
            "WEIGHT_PARSING_ERROR",
            "CREATIVE_DIMENSION_PARSING_ERROR",
            "MULTIVALUE_ID",
            "ENDTIME_BEFORE_STARTTIME",
            "INVALID_ASSET_LIBRARY_HANDLE",
            "INVALID_ASSET_LIBRARY_VIDEO_HANDLE",
            "INVALID_ASSET_LIBRARY_DIRECTORY_HANDLE",
            "DYNAMIC_TARGETING_KEY_NOT_DEFINED_FOR_ADVERTISER",
            "USERLIST_ID_NOT_ACCESSIBLE_FOR_ADVERTISER",
            "ENDTIME_PASSED",
            "ENDTIME_TOO_SOON",
            "TEXT_ASSET_REFERENCE",
            "IMAGE_ASSET_SCS_REFERENCE",
            "AIRPORT_GEO_TARGET",
            "CANONICAL_NAME_QUERY_MISMATCH",
            "NO_DEFAULT_ROW",
            "NO_ACTIVE_DEFAULT_ROW",
            "NO_DEFAULT_ROW_IN_DATE_RANGE",
            "NO_ACTIVE_DEFAULT_ROW_IN_DATE_RANGE",
            "PAYLOAD_LIMIT_EXCEEDED",
            "SSL_NOT_COMPLIANT"
          ],
          "description": "Output only. The ingestion error of the field.",
          "type": "string"
        },
        "fieldId": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The ID of the field."
        },
        "isError": {
          "description": "Output only. Incidcates whether the field has error or warning.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Contains the field error of the dynamic feed."
    },
    "Invoice": {
      "id": "Invoice",
      "properties": {
        "totalTaxAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency."
        },
        "pdfUrl": {
          "type": "string",
          "description": "The URL to download a PDF copy of the invoice. Note that this URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an *Authorization: Bearer* HTTP header. The URL will only be usable for 7 days from when the api is called."
        },
        "id": {
          "description": "ID of this invoice.",
          "type": "string"
        },
        "replacedInvoiceIds": {
          "description": "The originally issued invoice(s) that is being cancelled by this invoice, if applicable. May appear on invoice PDF as *Replaced invoice numbers*. Note: There may be multiple replaced invoices due to consolidation of multiple invoices into a single invoice.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "purchaseOrderNumber": {
          "type": "string",
          "description": "Purchase order number associated with the invoice."
        },
        "issueDate": {
          "type": "string",
          "description": "The date when the invoice was issued."
        },
        "dueDate": {
          "type": "string",
          "description": "The invoice due date."
        },
        "serviceStartDate": {
          "description": "The invoice service start date.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#invoice\"."
        },
        "paymentsAccountId": {
          "type": "string",
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as *Billing Account Number*."
        },
        "invoiceType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ],
          "description": "The type of invoice document."
        },
        "paymentsProfileId": {
          "type": "string",
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as *Billing ID*."
        },
        "currencyCode": {
          "description": "Invoice currency code in ISO 4217 format.",
          "type": "string"
        },
        "correctedInvoiceId": {
          "type": "string",
          "description": "The originally issued invoice that is being adjusted by this invoice, if applicable. May appear on invoice PDF as *Reference invoice number*."
        },
        "totalAmountMicros": {
          "description": "The invoice total amount, in micros of the invoice's currency.",
          "format": "int64",
          "type": "string"
        },
        "campaign_summaries": {
          "type": "array",
          "description": "The list of summarized campaign information associated with this invoice.",
          "items": {
            "$ref": "CampaignSummary"
          }
        },
        "serviceEndDate": {
          "type": "string",
          "description": "The invoice service end date."
        },
        "subtotalAmountMicros": {
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains information about a single invoice"
    },
    "SiteTranscodeSetting": {
      "id": "SiteTranscodeSetting",
      "properties": {
        "enabledVideoFormats": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Transcode Settings"
    },
    "AdvertiserInvoicesListResponse": {
      "description": "Invoice List Response",
      "type": "object",
      "id": "AdvertiserInvoicesListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserInvoicesListResponse\"."
        },
        "invoices": {
          "type": "array",
          "description": "Invoice collection",
          "items": {
            "$ref": "Invoice"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "TargetingTemplatesListResponse": {
      "description": "Targeting Template List Response",
      "id": "TargetingTemplatesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplatesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "targetingTemplates": {
          "items": {
            "$ref": "TargetingTemplate"
          },
          "description": "Targeting template collection.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SizesListResponse": {
      "id": "SizesListResponse",
      "properties": {
        "sizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Size collection.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\"."
        }
      },
      "type": "object",
      "description": "Size List Response"
    },
    "OmnitureSettings": {
      "id": "OmnitureSettings",
      "properties": {
        "omnitureIntegrationEnabled": {
          "type": "boolean",
          "description": "Whether Omniture integration is enabled. This property can be enabled only when the \"Advanced Ad Serving\" account setting is enabled."
        },
        "omnitureCostDataEnabled": {
          "description": "Whether placement cost data will be sent to Omniture. This property can be enabled only if omnitureIntegrationEnabled is true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Omniture Integration Settings."
    },
    "Dimension": {
      "type": "object",
      "id": "Dimension",
      "properties": {
        "name": {
          "type": "string",
          "description": "The dimension name, e.g. advertiser"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimension.",
          "type": "string"
        }
      },
      "description": "Represents a dimension."
    },
    "ListPopulationClause": {
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "id": "ListPopulationClause",
      "properties": {
        "terms": {
          "type": "array",
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      },
      "type": "object"
    },
    "TranscodeSetting": {
      "description": "Transcode Settings",
      "id": "TranscodeSetting",
      "properties": {
        "enabledVideoFormats": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Allowlist of video formats to be served to this placement. Set this list to null or empty to serve all video formats."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#transcodeSetting\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TagSetting": {
      "description": "Tag Settings",
      "type": "object",
      "id": "TagSetting",
      "properties": {
        "keywordOption": {
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ],
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ],
          "type": "string"
        },
        "includeUnescapedlpurlMacro": {
          "type": "boolean",
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site."
        },
        "additionalKeyValues": {
          "type": "string",
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field."
        },
        "includeClickTracking": {
          "description": "Whether click-tracking string should be included in the tags.",
          "type": "boolean"
        },
        "includeClickThroughUrls": {
          "type": "boolean",
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site."
        }
      }
    },
    "FloodlightActivityDynamicTag": {
      "description": "Dynamic Tag",
      "type": "object",
      "id": "FloodlightActivityDynamicTag",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this tag."
        },
        "id": {
          "type": "string",
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "tag": {
          "description": "Tag code.",
          "type": "string"
        }
      }
    },
    "Account": {
      "id": "Account",
      "properties": {
        "currencyId": {
          "format": "int64",
          "description": "ID of currency associated with this account. This is a required field. Acceptable values are: - \"1\" for USD - \"2\" for GBP - \"3\" for ESP - \"4\" for SEK - \"5\" for CAD - \"6\" for JPY - \"7\" for DEM - \"8\" for AUD - \"9\" for FRF - \"10\" for ITL - \"11\" for DKK - \"12\" for NOK - \"13\" for FIM - \"14\" for ZAR - \"15\" for IEP - \"16\" for NLG - \"17\" for EUR - \"18\" for KRW - \"19\" for TWD - \"20\" for SGD - \"21\" for CNY - \"22\" for HKD - \"23\" for NZD - \"24\" for MYR - \"25\" for BRL - \"26\" for PTE - \"28\" for CLP - \"29\" for TRY - \"30\" for ARS - \"31\" for PEN - \"32\" for ILS - \"33\" for CHF - \"34\" for VEF - \"35\" for COP - \"36\" for GTQ - \"37\" for PLN - \"39\" for INR - \"40\" for THB - \"41\" for IDR - \"42\" for CZK - \"43\" for RON - \"44\" for HUF - \"45\" for RUB - \"46\" for AED - \"47\" for BGN - \"48\" for HRK - \"49\" for MXN - \"50\" for NGN - \"51\" for EGP ",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#account\".",
          "type": "string"
        },
        "activeAdsLimitTier": {
          "description": "Maximum number of active ads allowed for this account.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ]
        },
        "accountProfile": {
          "enumDescriptions": [
            "Basic profile has fewer features and lower CPM.",
            "Standard profile as a higher CPM and all the features."
          ],
          "enum": [
            "ACCOUNT_PROFILE_BASIC",
            "ACCOUNT_PROFILE_STANDARD"
          ],
          "type": "string",
          "description": "Profile for this account. This is a read-only field that can be left blank."
        },
        "reportsConfiguration": {
          "description": "Reporting configuration of this account.",
          "$ref": "ReportsConfiguration"
        },
        "locale": {
          "type": "string",
          "description": "Locale of this account. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) "
        },
        "id": {
          "format": "int64",
          "description": "ID of this account. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "teaserSizeLimit": {
          "type": "string",
          "description": "File size limit in kilobytes of Rich Media teaser creatives. Acceptable values are 1 to 10240, inclusive.",
          "format": "int64"
        },
        "countryId": {
          "description": "ID of the country associated with this account.",
          "format": "int64",
          "type": "string"
        },
        "accountPermissionIds": {
          "type": "array",
          "description": "Account permissions assigned to this account.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "activeViewOptOut": {
          "type": "boolean",
          "description": "Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions."
        },
        "name": {
          "type": "string",
          "description": "Name of this account. This is a required field, and must be less than 128 characters long and be globally unique."
        },
        "active": {
          "type": "boolean",
          "description": "Whether this account is active."
        },
        "availablePermissionIds": {
          "description": "User role permissions available to the user roles of this account.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "shareReportsWithTwitter": {
          "description": "Share Path to Conversion reports with Twitter.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Description of this account."
        },
        "defaultCreativeSizeId": {
          "type": "string",
          "description": "Default placement dimensions for this account.",
          "format": "int64"
        },
        "maximumImageSize": {
          "description": "Maximum image size allowed for this account, in kilobytes. Value must be greater than or equal to 1.",
          "format": "int64",
          "type": "string"
        },
        "nielsenOcrEnabled": {
          "type": "boolean",
          "description": "Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default."
        }
      },
      "type": "object",
      "description": "Contains properties of a Campaign Manager account."
    },
    "VideoOffset": {
      "description": "Video Offset",
      "type": "object",
      "id": "VideoOffset",
      "properties": {
        "offsetSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Duration, in seconds. Do not set when offsetPercentage is set. Acceptable values are 0 to 86399, inclusive."
        },
        "offsetPercentage": {
          "format": "int32",
          "description": "Duration, as a percentage of video duration. Do not set when offsetSeconds is set. Acceptable values are 0 to 100, inclusive.",
          "type": "integer"
        }
      }
    },
    "DimensionValueRequest": {
      "description": "Represents a DimensionValuesRequest.",
      "id": "DimensionValueRequest",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "filters": {
          "description": "The list of filters by which to filter values. The filters are ANDed.",
          "items": {
            "$ref": "DimensionFilter"
          },
          "type": "array"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "dimensionName": {
          "type": "string",
          "description": "The name of the dimension for which values should be requested."
        },
        "kind": {
          "type": "string",
          "description": "The kind of request this is, in this case dfareporting#dimensionValueRequest ."
        }
      },
      "type": "object"
    },
    "AccountPermissionsListResponse": {
      "type": "object",
      "id": "AccountPermissionsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionsListResponse\"."
        },
        "accountPermissions": {
          "type": "array",
          "description": "Account permission collection.",
          "items": {
            "$ref": "AccountPermission"
          }
        }
      },
      "description": "Account Permission List Response"
    },
    "RemarketingListShare": {
      "description": "Contains properties of a remarketing list's sharing information. Sharing allows other accounts or advertisers to target to your remarketing lists. This resource can be used to manage remarketing list sharing to other accounts and advertisers.",
      "type": "object",
      "id": "RemarketingListShare",
      "properties": {
        "remarketingListId": {
          "format": "int64",
          "description": "Remarketing list ID. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "sharedAccountIds": {
          "type": "array",
          "description": "Accounts that the remarketing list is shared with.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "sharedAdvertiserIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Advertisers that the remarketing list is shared with.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListShare\".",
          "type": "string"
        }
      }
    },
    "ReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "id": "ReportCompatibleFields",
      "properties": {
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        }
      },
      "type": "object"
    },
    "ChangeLogsListResponse": {
      "type": "object",
      "id": "ChangeLogsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\"."
        },
        "changeLogs": {
          "type": "array",
          "items": {
            "$ref": "ChangeLog"
          },
          "description": "Change log collection."
        }
      },
      "description": "Change Log List Response"
    },
    "Recipient": {
      "id": "Recipient",
      "properties": {
        "email": {
          "description": "The email address of the recipient.",
          "type": "string"
        },
        "deliveryType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "LINK",
            "ATTACHMENT"
          ],
          "description": "The delivery type for the recipient."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#recipient.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a recipient."
    },
    "CreativeAssetMetadata": {
      "description": "CreativeAssets contains properties of a creative asset file which will be uploaded or has already been uploaded. Refer to the creative sample code for how to upload assets and insert a creative.",
      "id": "CreativeAssetMetadata",
      "properties": {
        "exitCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of exit events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array"
        },
        "timerCustomEvents": {
          "type": "array",
          "description": "List of timer events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "items": {
            "$ref": "CreativeCustomEvent"
          }
        },
        "warnedValidationRules": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Click tag initialization detected but not at the top level of the primary html file.",
              "No click tag detected.",
              "More than one click tag detected.",
              "Click tag invalid (failed url validation).",
              "Orphaned asset not referenced.",
              "Primary html file missing.",
              "Reference to a third-party resource.",
              "Reference to INAPP MRAID feature.",
              "Reference to INAPP ADMOB feature.",
              "Invalid file type referenced.",
              "Invalid zip passed in",
              "A relative file was linked to that wasn't included in zip.",
              "Max flash version at 11.",
              "Whether the asset uses secure urls or not.",
              "File detail empty.",
              "Asset is not valid and could not be processed.",
              "GWD properties are invalid.",
              "Unsupported Enabler methods in DCM.",
              "Asset ad format is unsupported in DCM.",
              "Component is unsupported in DCM.",
              "Html5 feature is unsupported.",
              "Click tag defined in GWD asset. GWD-published creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Whether the asset has hard coded click tag url(s).",
              "Whether an SVG block could not be parsed.",
              "Click tag defined in rich media asset. Rich media creatives should use exit events instead of defining var clickTag. Defined var clickTags are a symptom of an unsupported workflow, and an error should be thrown.",
              "Rich media primary asset is missing the Enabler reference."
            ],
            "enum": [
              "CLICK_TAG_NON_TOP_LEVEL",
              "CLICK_TAG_MISSING",
              "CLICK_TAG_MORE_THAN_ONE",
              "CLICK_TAG_INVALID",
              "ORPHANED_ASSET",
              "PRIMARY_HTML_MISSING",
              "EXTERNAL_FILE_REFERENCED",
              "MRAID_REFERENCED",
              "ADMOB_REFERENCED",
              "FILE_TYPE_INVALID",
              "ZIP_INVALID",
              "LINKED_FILE_NOT_FOUND",
              "MAX_FLASH_VERSION_11",
              "NOT_SSL_COMPLIANT",
              "FILE_DETAIL_EMPTY",
              "ASSET_INVALID",
              "GWD_PROPERTIES_INVALID",
              "ENABLER_UNSUPPORTED_METHOD_DCM",
              "ASSET_FORMAT_UNSUPPORTED_DCM",
              "COMPONENT_UNSUPPORTED_DCM",
              "HTML5_FEATURE_UNSUPPORTED",
              "CLICK_TAG_IN_GWD",
              "CLICK_TAG_HARD_CODED",
              "SVG_INVALID",
              "CLICK_TAG_IN_RICH_MEDIA",
              "MISSING_ENABLER_REFERENCE"
            ],
            "type": "string"
          },
          "description": "Rules validated during code generation that generated a warning. This is a read-only, auto-generated field. Possible values are: - \"ADMOB_REFERENCED\" - \"ASSET_FORMAT_UNSUPPORTED_DCM\" - \"ASSET_INVALID\" - \"CLICK_TAG_HARD_CODED\" - \"CLICK_TAG_INVALID\" - \"CLICK_TAG_IN_GWD\" - \"CLICK_TAG_MISSING\" - \"CLICK_TAG_MORE_THAN_ONE\" - \"CLICK_TAG_NON_TOP_LEVEL\" - \"COMPONENT_UNSUPPORTED_DCM\" - \"ENABLER_UNSUPPORTED_METHOD_DCM\" - \"EXTERNAL_FILE_REFERENCED\" - \"FILE_DETAIL_EMPTY\" - \"FILE_TYPE_INVALID\" - \"GWD_PROPERTIES_INVALID\" - \"HTML5_FEATURE_UNSUPPORTED\" - \"LINKED_FILE_NOT_FOUND\" - \"MAX_FLASH_VERSION_11\" - \"MRAID_REFERENCED\" - \"NOT_SSL_COMPLIANT\" - \"ORPHANED_ASSET\" - \"PRIMARY_HTML_MISSING\" - \"SVG_INVALID\" - \"ZIP_INVALID\" "
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeAssetMetadata\"."
        },
        "assetIdentifier": {
          "$ref": "CreativeAssetId",
          "description": "ID of the creative asset. This is a required field."
        },
        "detectedFeatures": {
          "description": "List of feature dependencies for the creative asset that are detected by Campaign Manager. Feature dependencies are features that a browser must be able to support in order to render your HTML5 creative correctly. This is a read-only, auto-generated field.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "POST_MESSAGE always required due to html5 implementation.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CSS_FONT_FACE",
              "CSS_BACKGROUND_SIZE",
              "CSS_BORDER_IMAGE",
              "CSS_BORDER_RADIUS",
              "CSS_BOX_SHADOW",
              "CSS_FLEX_BOX",
              "CSS_HSLA",
              "CSS_MULTIPLE_BGS",
              "CSS_OPACITY",
              "CSS_RGBA",
              "CSS_TEXT_SHADOW",
              "CSS_ANIMATIONS",
              "CSS_COLUMNS",
              "CSS_GENERATED_CONTENT",
              "CSS_GRADIENTS",
              "CSS_REFLECTIONS",
              "CSS_TRANSFORMS",
              "CSS_TRANSFORMS3D",
              "CSS_TRANSITIONS",
              "APPLICATION_CACHE",
              "CANVAS",
              "CANVAS_TEXT",
              "DRAG_AND_DROP",
              "HASH_CHANGE",
              "HISTORY",
              "AUDIO",
              "VIDEO",
              "INDEXED_DB",
              "INPUT_ATTR_AUTOCOMPLETE",
              "INPUT_ATTR_AUTOFOCUS",
              "INPUT_ATTR_LIST",
              "INPUT_ATTR_PLACEHOLDER",
              "INPUT_ATTR_MAX",
              "INPUT_ATTR_MIN",
              "INPUT_ATTR_MULTIPLE",
              "INPUT_ATTR_PATTERN",
              "INPUT_ATTR_REQUIRED",
              "INPUT_ATTR_STEP",
              "INPUT_TYPE_SEARCH",
              "INPUT_TYPE_TEL",
              "INPUT_TYPE_URL",
              "INPUT_TYPE_EMAIL",
              "INPUT_TYPE_DATETIME",
              "INPUT_TYPE_DATE",
              "INPUT_TYPE_MONTH",
              "INPUT_TYPE_WEEK",
              "INPUT_TYPE_TIME",
              "INPUT_TYPE_DATETIME_LOCAL",
              "INPUT_TYPE_NUMBER",
              "INPUT_TYPE_RANGE",
              "INPUT_TYPE_COLOR",
              "LOCAL_STORAGE",
              "POST_MESSAGE",
              "SESSION_STORAGE",
              "WEB_SOCKETS",
              "WEB_SQL_DATABASE",
              "WEB_WORKERS",
              "GEO_LOCATION",
              "INLINE_SVG",
              "SMIL",
              "SVG_HREF",
              "SVG_CLIP_PATHS",
              "TOUCH",
              "WEBGL",
              "SVG_FILTERS",
              "SVG_FE_IMAGE"
            ]
          },
          "type": "array"
        },
        "richMedia": {
          "type": "boolean",
          "description": "True if the uploaded asset is a rich media asset. This is a read-only, auto-generated field."
        },
        "clickTags": {
          "description": "List of detected click tags for assets. This is a read-only, auto-generated field. This field is empty for a rich media asset.",
          "items": {
            "$ref": "ClickTag"
          },
          "type": "array"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the numeric ID of the asset. This is a read-only, auto-generated field."
        },
        "id": {
          "format": "int64",
          "description": "Numeric ID of the asset. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "counterCustomEvents": {
          "items": {
            "$ref": "CreativeCustomEvent"
          },
          "description": "List of counter events configured for the asset. This is a read-only, auto-generated field and only applicable to a rich media asset.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListTargetingExpression": {
      "type": "object",
      "id": "ListTargetingExpression",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Expression describing which lists are being targeted by the ad."
        }
      },
      "description": "Remarketing List Targeting Expression."
    },
    "UserRolePermission": {
      "description": "Contains properties of a user role permission.",
      "id": "UserRolePermission",
      "properties": {
        "name": {
          "description": "Name of this user role permission.",
          "type": "string"
        },
        "availability": {
          "type": "string",
          "enumDescriptions": [
            "Not available by default.",
            "Available by default to accounts only.",
            "Available by default to both accounts and subaccounts.",
            "Always available to accounts.",
            "Always available to both accounts and subaccounts.",
            "Available for user profile permissions only."
          ],
          "enum": [
            "NOT_AVAILABLE_BY_DEFAULT",
            "ACCOUNT_BY_DEFAULT",
            "SUBACCOUNT_AND_ACCOUNT_BY_DEFAULT",
            "ACCOUNT_ALWAYS",
            "SUBACCOUNT_AND_ACCOUNT_ALWAYS",
            "USER_PROFILE_ONLY"
          ],
          "description": "Levels of availability for a user role permission."
        },
        "id": {
          "description": "ID of this user role permission.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermission\".",
          "type": "string"
        },
        "permissionGroupId": {
          "type": "string",
          "description": "ID of the permission group that this user role permission belongs to.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PricingSchedule": {
      "description": "Pricing Schedule",
      "id": "PricingSchedule",
      "properties": {
        "pricingPeriods": {
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          },
          "description": "Pricing periods for this placement.",
          "type": "array"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "pricingType": {
          "description": "Placement pricing type. This field is required on insertion.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "testingStartDate": {
          "type": "string",
          "format": "date"
        },
        "capCostOption": {
          "description": "Placement cap cost option.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ]
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "floodlightActivityId": {
          "type": "string",
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ThirdPartyTrackingUrl": {
      "type": "object",
      "id": "ThirdPartyTrackingUrl",
      "properties": {
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        },
        "thirdPartyUrlType": {
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "type": "string",
          "description": "Third-party URL type for in-stream video and in-stream audio creatives."
        }
      },
      "description": "Third-party Tracking URL."
    },
    "CustomFloodlightVariable": {
      "type": "object",
      "id": "CustomFloodlightVariable",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the custom floodlight variable. The length of string must not exceed 100 characters."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ],
          "description": "The type of custom floodlight variable to supply a value for. These map to the \"u[1-100]=\" in the tags."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#customFloodlightVariable\"."
        }
      },
      "description": "A custom floodlight variable. Can be used in both batchinsert and batchupdate. Adding this in batchupdate will update or append the variable to the existing list."
    },
    "BrowsersListResponse": {
      "id": "BrowsersListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\".",
          "type": "string"
        },
        "browsers": {
          "type": "array",
          "items": {
            "$ref": "Browser"
          },
          "description": "Browser collection."
        }
      },
      "type": "object",
      "description": "Browser List Response"
    },
    "MobileApp": {
      "type": "object",
      "id": "MobileApp",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this mobile app."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\".",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of this mobile app."
        },
        "directory": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ],
          "type": "string",
          "description": "Mobile app directory."
        },
        "publisherName": {
          "description": "Publisher name.",
          "type": "string"
        }
      },
      "description": "Contains information about a mobile app. Used as a landing page deep link."
    },
    "ConversionStatus": {
      "id": "ConversionStatus",
      "properties": {
        "conversion": {
          "$ref": "Conversion",
          "description": "The original conversion that was inserted or updated."
        },
        "errors": {
          "type": "array",
          "description": "A list of errors related to this conversion.",
          "items": {
            "$ref": "ConversionError"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\"."
        }
      },
      "type": "object",
      "description": "The original conversion that was inserted or updated and whether there were any errors."
    },
    "TargetingTemplate": {
      "type": "object",
      "id": "TargetingTemplate",
      "properties": {
        "keyValueTargetingExpression": {
          "$ref": "KeyValueTargetingExpression",
          "description": "Key-value targeting criteria."
        },
        "listTargetingExpression": {
          "description": "Remarketing list targeting criteria.",
          "$ref": "ListTargetingExpression"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetingTemplate\"."
        },
        "dayPartTargeting": {
          "description": "Time and day targeting criteria.",
          "$ref": "DayPartTargeting"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this targeting template. This is a required field on insert and is read-only after insert.",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "type": "string"
        },
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "Language targeting criteria."
        },
        "id": {
          "format": "int64",
          "description": "ID of this targeting template. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "technologyTargeting": {
          "description": "Technology platform targeting criteria.",
          "$ref": "TechnologyTargeting"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this targeting template. This field, if left unset, will be auto-generated on insert and is read-only after insert.",
          "type": "string"
        },
        "contextualKeywordTargeting": {
          "$ref": "ContextualKeywordTargeting",
          "description": "Optional. Contextual keyword targeting criteria."
        },
        "name": {
          "description": "Name of this targeting template. This field is required. It must be less than 256 characters long and unique within an advertiser.",
          "type": "string"
        },
        "geoTargeting": {
          "$ref": "GeoTargeting",
          "description": "Geographical targeting criteria."
        }
      },
      "description": "Contains properties of a targeting template. A targeting template encapsulates targeting information which can be reused across multiple ads."
    },
    "Language": {
      "description": "Contains information about a language that can be targeted by ads.",
      "type": "object",
      "id": "Language",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Language ID of this language. This is the ID used for targeting and generating reports."
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\"."
        }
      }
    },
    "RequestValue": {
      "type": "object",
      "id": "RequestValue",
      "properties": {
        "userAttributeIds": {
          "description": "Optional. User attribute IDs in the request. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "key": {
          "description": "Optional. Custom key in the request. Used only when the field type is CUSTOM_VALUE.",
          "type": "string"
        },
        "excludeFromUserAttributeIds": {
          "type": "array",
          "description": "Optional. User attribute IDs in the request that should be excluded. Used only when the field type is REMARKETING_VALUE or USER_ATTRIBUTE_ID.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Contains request value information."
    },
    "YoutubeSettings": {
      "description": "Contains the YouTube settings.",
      "id": "YoutubeSettings",
      "properties": {
        "longHeadlines": {
          "type": "array",
          "description": "Optional. The long headlines. Currently only one long headline is supported.",
          "items": {
            "type": "string"
          }
        },
        "callToActions": {
          "type": "array",
          "description": "Optional. The call to actions. Currently only one call to action is supported.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CALL_TO_ACTION_UNKNOWN",
              "CALL_TO_ACTION_LEARN_MORE",
              "CALL_TO_ACTION_GET_QUOTE",
              "CALL_TO_ACTION_APPLY_NOW",
              "CALL_TO_ACTION_SIGN_UP",
              "CALL_TO_ACTION_CONTACT_US",
              "CALL_TO_ACTION_SUBSCRIBE",
              "CALL_TO_ACTION_DOWNLOAD",
              "CALL_TO_ACTION_BOOK_NOW",
              "CALL_TO_ACTION_GET_OFFER",
              "CALL_TO_ACTION_SHOP_NOW",
              "CALL_TO_ACTION_VISIT_STORE",
              "CALL_TO_ACTION_CALL_NOW",
              "CALL_TO_ACTION_VIEW_MENU",
              "CALL_TO_ACTION_TEST_DRIVE",
              "CALL_TO_ACTION_SCHEDULE_NOW",
              "CALL_TO_ACTION_BUY_NOW",
              "CALL_TO_ACTION_DONATE_NOW",
              "CALL_TO_ACTION_ORDER_NOW",
              "CALL_TO_ACTION_PLAY_NOW",
              "CALL_TO_ACTION_SEE_MORE",
              "CALL_TO_ACTION_START_NOW",
              "CALL_TO_ACTION_VISIT_SITE",
              "CALL_TO_ACTION_WATCH_NOW"
            ]
          }
        },
        "headlines": {
          "description": "Optional. The headlines associated with the call to actions. Currently only one headline is supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "descriptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The descriptions. Currently only one description is supported."
        },
        "businessLogoCreativeIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. The IDs of the creatives to use for the business logo. Currently only one creative is supported.",
          "type": "array"
        },
        "businessName": {
          "description": "Optional. The business name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountUserProfile": {
      "id": "AccountUserProfile",
      "properties": {
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "userRoleFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which user roles are visible to the user profile."
        },
        "active": {
          "type": "boolean",
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable."
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "comments": {
          "type": "string",
          "description": "Comments for this user profile."
        },
        "siteFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which sites are visible to the user profile."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of the user profile. This is a read-only field that can be left blank."
        },
        "userAccessType": {
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "type": "string",
          "description": "User type of the user profile. This is a read-only field that can be left blank."
        },
        "traffickerType": {
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ],
          "type": "string",
          "description": "Trafficker type of this user profile. This is a read-only field."
        },
        "advertiserFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which advertisers are visible to the user profile."
        },
        "id": {
          "type": "string",
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "campaignFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which campaigns are visible to the user profile."
        },
        "userRoleId": {
          "description": "User role ID of the user profile. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\"."
        }
      },
      "type": "object",
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API."
    },
    "Region": {
      "description": "Contains information about a region that can be targeted by ads.",
      "type": "object",
      "id": "Region",
      "properties": {
        "name": {
          "description": "Name of this region.",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code.",
          "type": "string"
        },
        "countryDartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of the country to which this region belongs."
        },
        "dartId": {
          "description": "DART ID of this region.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#region\".",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this region belongs.",
          "type": "string"
        }
      }
    },
    "PlacementSingleConversionDomain": {
      "id": "PlacementSingleConversionDomain",
      "properties": {
        "conversionDomainId": {
          "type": "string",
          "format": "int64"
        },
        "conversionDomainValue": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomRule": {
      "type": "object",
      "id": "CustomRule",
      "properties": {
        "priority": {
          "description": "Optional. Priority of the custom rule.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Optional. Name of this custom rule.",
          "type": "string"
        },
        "ruleBlocks": {
          "items": {
            "$ref": "RuleBlock"
          },
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "type": "array"
        }
      },
      "description": "Contains custom rule information."
    },
    "RemarketingListsListResponse": {
      "id": "RemarketingListsListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "remarketingLists": {
          "type": "array",
          "description": "Remarketing list collection.",
          "items": {
            "$ref": "RemarketingList"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListsListResponse\"."
        }
      },
      "type": "object",
      "description": "Remarketing list response"
    },
    "AudienceSegmentGroup": {
      "description": "Audience Segment Group.",
      "type": "object",
      "id": "AudienceSegmentGroup",
      "properties": {
        "audienceSegments": {
          "type": "array",
          "items": {
            "$ref": "AudienceSegment"
          },
          "description": "Audience segments assigned to this group. The number of segments must be between 2 and 100."
        },
        "id": {
          "type": "string",
          "description": "ID of this audience segment group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this audience segment group. This is a required field and must be less than 65 characters long.",
          "type": "string"
        }
      }
    },
    "RuleBlock": {
      "id": "RuleBlock",
      "properties": {
        "fieldFilter": {
          "type": "array",
          "description": "Optional. A list of non-auto field filters",
          "items": {
            "$ref": "FieldFilter"
          }
        }
      },
      "type": "object",
      "description": "Contains a list of field filters that the given custom rule will apply."
    },
    "AdSlot": {
      "description": "Ad Slot",
      "type": "object",
      "id": "AdSlot",
      "properties": {
        "compatibility": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "description": "Ad slot compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop, mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard."
        },
        "comment": {
          "description": "Comment for this ad slot.",
          "type": "string"
        },
        "primary": {
          "description": "Primary ad slot of a roadblock inventory item.",
          "type": "boolean"
        },
        "width": {
          "format": "int64",
          "description": "Width of this ad slot.",
          "type": "string"
        },
        "height": {
          "format": "int64",
          "description": "Height of this ad slot.",
          "type": "string"
        },
        "linkedPlacementId": {
          "description": "ID of the placement from an external platform that is linked to this ad slot.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this ad slot.",
          "type": "string"
        },
        "paymentSourceType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLANNING_PAYMENT_SOURCE_TYPE_AGENCY_PAID",
            "PLANNING_PAYMENT_SOURCE_TYPE_PUBLISHER_PAID"
          ],
          "description": "Payment source type of this ad slot."
        }
      }
    },
    "Campaign": {
      "description": "Contains properties of a Campaign Manager campaign.",
      "type": "object",
      "id": "Campaign",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this campaign. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "euPoliticalAdsDeclaration": {
          "description": "Optional. Whether the campaign has EU political ads. Campaign Manager 360 doesn't allow campaigns with EU political ads to serve in the EU. They can still serve in other regions.",
          "enumDescriptions": [
            "The campaign contains EU political ads.",
            "The campaign does not contain EU political ads."
          ],
          "enum": [
            "CONTAINS_EU_POLITICAL_ADS",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADS"
          ],
          "type": "string"
        },
        "advertiserGroupId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser group ID of the associated advertiser."
        },
        "billingInvoiceCode": {
          "type": "string",
          "description": "Billing invoice code included in the Campaign Manager client billing invoices associated with the campaign."
        },
        "measurementPartnerLink": {
          "description": "Measurement partner campaign link for tag wrapping.",
          "$ref": "MeasurementPartnerCampaignLink"
        },
        "archived": {
          "description": "Whether this campaign has been archived.",
          "type": "boolean"
        },
        "additionalCreativeOptimizationConfigurations": {
          "items": {
            "$ref": "CreativeOptimizationConfiguration"
          },
          "description": "Additional creative optimization configurations for the campaign.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\"."
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "creativeOptimizationConfiguration": {
          "description": "Creative optimization configuration for the campaign.",
          "$ref": "CreativeOptimizationConfiguration"
        },
        "advertiserId": {
          "description": "Advertiser ID of this campaign. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "clickThroughUrlSuffixProperties": {
          "$ref": "ClickThroughUrlSuffixProperties",
          "description": "Click-through URL suffix override properties for this campaign."
        },
        "id": {
          "type": "string",
          "description": "ID of this campaign. This is a read-only auto-generated field.",
          "format": "int64"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this campaign. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "defaultClickThroughEventTagProperties": {
          "$ref": "DefaultClickThroughEventTagProperties",
          "description": "Click-through event tag ID override properties for this campaign."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field."
        },
        "adBlockingConfiguration": {
          "$ref": "AdBlockingConfiguration",
          "description": "Ad blocking settings for this campaign."
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this campaign. This is a read-only field."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "externalId": {
          "type": "string",
          "description": "External ID for this campaign."
        },
        "creativeGroupIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of creative group IDs that are assigned to the campaign.",
          "type": "array"
        },
        "eventTagOverrides": {
          "type": "array",
          "description": "Overrides that can be used to activate or deactivate advertiser event tags.",
          "items": {
            "$ref": "EventTagOverride"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of this campaign. This is a required field and must be less than 512 characters long and unique among campaigns of the same advertiser."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "comment": {
          "description": "Arbitrary comments about this campaign. Must be less than 256 characters long.",
          "type": "string"
        },
        "defaultLandingPageId": {
          "type": "string",
          "format": "int64",
          "description": "The default landing page ID for this campaign."
        },
        "audienceSegmentGroups": {
          "items": {
            "$ref": "AudienceSegmentGroup"
          },
          "description": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups.",
          "type": "array"
        }
      }
    },
    "AdsListResponse": {
      "id": "AdsListResponse",
      "properties": {
        "ads": {
          "type": "array",
          "items": {
            "$ref": "Ad"
          },
          "description": "Ad collection."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Ad List Response"
    },
    "ConversionsBatchUpdateResponse": {
      "description": "Update Conversions Response.",
      "id": "ConversionsBatchUpdateResponse",
      "properties": {
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to update.",
          "type": "boolean"
        },
        "status": {
          "description": "The update status of each conversion. Statuses are returned in the same order that conversions are updated.",
          "items": {
            "$ref": "ConversionStatus"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OrdersListResponse": {
      "type": "object",
      "id": "OrdersListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#ordersListResponse\".",
          "type": "string"
        },
        "orders": {
          "items": {
            "$ref": "Order"
          },
          "description": "Order collection.",
          "type": "array"
        }
      },
      "description": "Order List Response"
    },
    "AccountPermissionGroupsListResponse": {
      "id": "AccountPermissionGroupsListResponse",
      "properties": {
        "accountPermissionGroups": {
          "items": {
            "$ref": "AccountPermissionGroup"
          },
          "description": "Account permission group collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroupGroupsListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Account Permission Group List Response"
    },
    "AccountPermission": {
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "type": "object",
      "id": "AccountPermission",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this account permission."
        },
        "accountProfiles": {
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" ",
          "items": {
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ],
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "level": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ],
          "type": "string",
          "description": "Administrative level required to enable this account permission."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this account permission.",
          "format": "int64"
        },
        "permissionGroupId": {
          "description": "Permission group of this account permission.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FloodlightActivityGroup": {
      "description": "Contains properties of a Floodlight activity group.",
      "type": "object",
      "id": "FloodlightActivityGroup",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion."
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank."
        },
        "floodlightConfigurationIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field."
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\"."
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes."
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank."
        },
        "id": {
          "type": "string",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "format": "int64"
        }
      }
    },
    "CreativeField": {
      "description": "Contains properties of a creative field.",
      "type": "object",
      "id": "CreativeField",
      "properties": {
        "accountId": {
          "description": "Account ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
[...]
