{
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "basePath": "/dfareporting/v5/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v5",
  "discoveryVersion": "v1",
  "schemas": {
    "Campaign": {
      "id": "Campaign",
      "description": "Contains properties of a Campaign Manager campaign.",
      "type": "object",
      "properties": {
        "eventTagOverrides": {
          "description": "Overrides that can be used to activate or deactivate advertiser event tags.",
          "type": "array",
          "items": {
            "$ref": "EventTagOverride"
          }
        },
        "audienceSegmentGroups": {
          "items": {
            "$ref": "AudienceSegmentGroup"
          },
          "description": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups.",
          "type": "array"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field."
        },
        "defaultLandingPageId": {
          "description": "The default landing page ID for this campaign.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\".",
          "type": "string"
        },
        "euPoliticalAdsDeclaration": {
          "description": "Optional. Whether the campaign has EU political ads. Campaign Manager 360 doesn't allow campaigns with EU political ads to serve in the EU. They can still serve in other regions.",
          "type": "string",
          "enumDescriptions": [
            "The campaign contains EU political ads.",
            "The campaign does not contain EU political ads."
          ],
          "enum": [
            "CONTAINS_EU_POLITICAL_ADS",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADS"
          ]
        },
        "endDate": {
          "format": "date",
          "type": "string"
        },
        "additionalCreativeOptimizationConfigurations": {
          "description": "Additional creative optimization configurations for the campaign.",
          "type": "array",
          "items": {
            "$ref": "CreativeOptimizationConfiguration"
          }
        },
        "createInfo": {
          "description": "Information about the creation of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "defaultClickThroughEventTagProperties": {
          "$ref": "DefaultClickThroughEventTagProperties",
          "description": "Click-through event tag ID override properties for this campaign."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this campaign. This is a required field.",
          "type": "string"
        },
        "comment": {
          "description": "Arbitrary comments about this campaign. Must be less than 256 characters long.",
          "type": "string"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this campaign. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "advertiserGroupId": {
          "format": "int64",
          "description": "Advertiser group ID of the associated advertiser.",
          "type": "string"
        },
        "billingInvoiceCode": {
          "description": "Billing invoice code included in the Campaign Manager client billing invoices associated with the campaign.",
          "type": "string"
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix override properties for this campaign.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "creativeOptimizationConfiguration": {
          "$ref": "CreativeOptimizationConfiguration",
          "description": "Creative optimization configuration for the campaign."
        },
        "measurementPartnerLink": {
          "$ref": "MeasurementPartnerCampaignLink",
          "description": "Measurement partner campaign link for tag wrapping."
        },
        "accountId": {
          "description": "Account ID of this campaign. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "archived": {
          "description": "Whether this campaign has been archived.",
          "type": "boolean"
        },
        "externalId": {
          "description": "External ID for this campaign.",
          "type": "string"
        },
        "id": {
          "description": "ID of this campaign. This is a read-only auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "creativeGroupIds": {
          "description": "List of creative group IDs that are assigned to the campaign.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "adBlockingConfiguration": {
          "$ref": "AdBlockingConfiguration",
          "description": "Ad blocking settings for this campaign."
        },
        "subaccountId": {
          "description": "Subaccount ID of this campaign. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this campaign. This is a required field and must be less than 512 characters long and unique among campaigns of the same advertiser.",
          "type": "string"
        }
      }
    },
    "Subaccount": {
      "id": "Subaccount",
      "description": "Contains properties of a Campaign Manager subaccount.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "ID of the account that contains this subaccount. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this subaccount. This is a required field. Must be less than 128 characters long and be unique among subaccounts of the same account.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccount\".",
          "type": "string"
        },
        "availablePermissionIds": {
          "description": "IDs of the available user role permissions for this subaccount.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "id": {
          "format": "int64",
          "description": "ID of this subaccount. This is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "Site": {
      "id": "Site",
      "description": "Contains properties of a site.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this site. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "videoSettings": {
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement.",
          "$ref": "SiteVideoSettings"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this site. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "siteContacts": {
          "description": "Site contacts.",
          "type": "array",
          "items": {
            "$ref": "SiteContact"
          }
        },
        "directorySiteId": {
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "adServingPlatformId": {
          "format": "int64",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "type": "string"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "siteSettings": {
          "description": "Site-wide settings.",
          "$ref": "SiteSettings"
        },
        "approved": {
          "description": "Whether this site is approved.",
          "type": "boolean"
        },
        "keyName": {
          "description": "Key name of this site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\".",
          "type": "string"
        }
      }
    },
    "Activities": {
      "id": "Activities",
      "description": "Represents an activity group.",
      "type": "object",
      "properties": {
        "filters": {
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array"
        },
        "metricNames": {
          "description": "List of names of floodlight activity metrics.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        }
      }
    },
    "DimensionValue": {
      "id": "DimensionValue",
      "description": "Represents a DimensionValue resource.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the dimension.",
          "type": "string"
        },
        "id": {
          "description": "The ID associated with the value if available.",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "matchType": {
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ]
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue.",
          "type": "string"
        }
      }
    },
    "AdBlockingConfiguration": {
      "id": "AdBlockingConfiguration",
      "description": "Campaign ad blocking settings.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether this campaign has enabled ad blocking. When true, ad blocking is enabled for placements in the campaign, but this may be overridden by site and placement settings. When false, ad blocking is disabled for all placements under the campaign, regardless of site and placement settings.",
          "type": "boolean"
        }
      }
    },
    "OperatingSystemVersionsListResponse": {
      "id": "OperatingSystemVersionsListResponse",
      "description": "Operating System Version List Response",
      "type": "object",
      "properties": {
        "operatingSystemVersions": {
          "description": "Operating system version collection.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystemVersion"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
          "type": "string"
        }
      }
    },
    "EventTagOverride": {
      "id": "EventTagOverride",
      "description": "Event tag override information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "ID of this event tag override. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "enabled": {
          "description": "Whether this override is enabled.",
          "type": "boolean"
        }
      }
    },
    "DimensionFilter": {
      "id": "DimensionFilter",
      "description": "Represents a dimension filter.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the dimension to filter.",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension to filter.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionFilter.",
          "type": "string"
        }
      }
    },
    "RemarketingListsListResponse": {
      "id": "RemarketingListsListResponse",
      "description": "Remarketing list response",
      "type": "object",
      "properties": {
        "remarketingLists": {
          "description": "Remarketing list collection.",
          "type": "array",
          "items": {
            "$ref": "RemarketingList"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingListsListResponse\".",
          "type": "string"
        }
      }
    },
    "ChangeLog": {
      "id": "ChangeLog",
      "description": "Describes a change that a user has made to a resource.",
      "type": "object",
      "properties": {
        "transactionId": {
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "userProfileId": {
          "description": "ID of the user who modified the object.",
          "type": "string",
          "format": "int64"
        },
        "newValue": {
          "description": "New value of the object field.",
          "type": "string"
        },
        "fieldName": {
          "description": "Field name of the object which changed.",
          "type": "string"
        },
        "oldValue": {
          "description": "Old value of the object field.",
          "type": "string"
        },
        "action": {
          "description": "Action which caused the change.",
          "type": "string"
        },
        "objectType": {
          "description": "Object type of the change log.",
          "type": "string"
        },
        "changeTime": {
          "format": "date-time",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of the modified object.",
          "type": "string",
          "format": "int64"
        },
        "objectId": {
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "description": "Account ID of the modified object.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "ID of this change log.",
          "type": "string",
          "format": "int64"
        },
        "userProfileName": {
          "description": "User profile name of the user who modified the object.",
          "type": "string"
        }
      }
    },
    "PostalCode": {
      "id": "PostalCode",
      "description": "Contains information about a postal code that can be targeted by ads.",
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this postal code belongs.",
          "type": "string"
        },
        "code": {
          "description": "Postal code. This is equivalent to the id field.",
          "type": "string"
        },
        "id": {
          "description": "ID of this postal code.",
          "type": "string"
        },
        "countryDartId": {
          "format": "int64",
          "description": "DART ID of the country to which this postal code belongs.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCode\".",
          "type": "string"
        }
      }
    },
    "FieldError": {
      "id": "FieldError",
      "description": "Contains the field error of the dynamic feed.",
      "type": "object",
      "properties": {
        "ingestionError": {
          "readOnly": true,
          "enum": [
            "UNKNOWN_PARSING_ERROR",
            "MISSING_ID",
            "MISSING_REPORTING_LABEL",
            "EMPTY_VALUE",
            "ASSET_DOWNLOAD_ERROR",
            "ID_TOO_LONG",
            "DUPLICATE_ID",
            "PARSING_ERROR",
            "COUNTRY_PARSING_ERROR",
            "LONG_PARSING_ERROR",
            "BOOL_PARSING_ERROR",
            "EXPANDED_URL_PARSING_ERROR",
            "FLOAT_PARSING_ERROR",
            "DATETIME_PARSING_ERROR",
            "INVALID_PREFERENCE_VALUE",
            "GEO_NOT_FOUND_ERROR",
            "GEO_PARSING_ERROR",
            "GEO_PROXIMITY_TARGETING_MULTIPLE_LOCATION_ERROR",
            "POSTAL_CODE_PARSING_ERROR",
            "METRO_CODE_PARSING_ERROR",
            "DATETIME_WITHOUT_TIMEZONE_PARSING_ERROR",
            "WEIGHT_PARSING_ERROR",
            "CREATIVE_DIMENSION_PARSING_ERROR",
            "MULTIVALUE_ID",
            "ENDTIME_BEFORE_STARTTIME",
            "INVALID_ASSET_LIBRARY_HANDLE",
            "INVALID_ASSET_LIBRARY_VIDEO_HANDLE",
            "INVALID_ASSET_LIBRARY_DIRECTORY_HANDLE",
            "DYNAMIC_TARGETING_KEY_NOT_DEFINED_FOR_ADVERTISER",
            "USERLIST_ID_NOT_ACCESSIBLE_FOR_ADVERTISER",
            "ENDTIME_PASSED",
            "ENDTIME_TOO_SOON",
            "TEXT_ASSET_REFERENCE",
            "IMAGE_ASSET_SCS_REFERENCE",
            "AIRPORT_GEO_TARGET",
            "CANONICAL_NAME_QUERY_MISMATCH",
            "NO_DEFAULT_ROW",
            "NO_ACTIVE_DEFAULT_ROW",
            "NO_DEFAULT_ROW_IN_DATE_RANGE",
            "NO_ACTIVE_DEFAULT_ROW_IN_DATE_RANGE",
            "PAYLOAD_LIMIT_EXCEEDED",
            "SSL_NOT_COMPLIANT"
          ],
          "description": "Output only. The ingestion error of the field.",
          "type": "string",
          "enumDescriptions": [
            "The ingestion error is unknown.",
            "The ingestion error when the ID value is missing.",
            "The ingestion error when the element value name used for reporting is missing.",
            "The ingestion error when a required value is empty",
            "The ingestion error when asset retrieval fails for a particular image or asset.",
            "The ingestion error when the ID value exceeds the string length limit.",
            "The ingestion error when the ID value is duplicate.",
            "The ingestion error when parsing the field fails.",
            "The ingestion error when parsing the country code fails.",
            "The ingestion error when parsing the long value fails.",
            "The ingestion error when parsing the boolean value fails.",
            "The ingestion error when parsing the expanded url fails.",
            "The ingestion error when parsing the float value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when the preference value is not a positive float.",
            "The ingestion error when a geo location is not found.",
            "The ingestion error when parsing the geo field fails.",
            "The ingestion error when a feed row has multiple geotargets with proximity targeting enabled.",
            "The ingestion error when parsing the postal code value fails.",
            "The ingestion error when parsing the metro code value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when parsing the weight value fails.",
            "The ingestion error when parsing the creative dimension value fails.",
            "The ingestion error when a STRING_LIST type ID has multiple values.",
            "The ingestion error when the end time is before the start time.",
            "The ingestion error when the asset library handle is invalid.",
            "The ingestion error when the asset library video handle is invalid.",
            "The ingestion error when the asset library directory handle is invalid.",
            "The ingestion error when a targeting key used but not defined for the CM360 Advertiser.",
            "The ingestion error when the userlist ID is not accessible for the CM360 Advertiser.",
            "The ingestion error when the end time is passed.",
            "The ingestion error when the end time is in the near future (i.e., <7 days).",
            "The ingestion error when a text field specifies a reference to an asset.",
            "The ingestion error when Image field specifies a reference to an asset hosted on SCS (s0.2mdn.net/s0qa.2mdn.net).",
            "The ingestion error when a geo target is an airport.",
            "The ingestion error when the geo target's canonical name does not match the query string used to obtain it.",
            "The ingestion error or warning when the default row is not set.",
            "The ingestion error or warning when the default row is not active.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error when when the payload of the record is above a threshold.",
            "The ingestion error or warning when the field is not SSL compliant."
          ]
        },
        "isError": {
          "description": "Output only. Incidcates whether the field has error or warning.",
          "readOnly": true,
          "type": "boolean"
        },
        "fieldName": {
          "description": "Output only. The name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "fieldValues": {
          "description": "Output only. The list of values of the field.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldId": {
          "format": "int32",
          "description": "Output only. The ID of the field.",
          "readOnly": true,
          "type": "integer"
        }
      }
    },
    "DynamicFeed": {
      "id": "DynamicFeed",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "type": "object",
      "properties": {
        "createInfo": {
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "studioAdvertiserId": {
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "hasPublished": {
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field.",
          "readOnly": true,
          "type": "boolean"
        },
        "feedIngestionStatus": {
          "$ref": "FeedIngestionStatus",
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "readOnly": true
        },
        "element": {
          "$ref": "Element",
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field."
        },
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true
        },
        "dynamicFeedId": {
          "format": "int64",
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ]
        },
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        }
      }
    },
    "MobileCarriersListResponse": {
      "id": "MobileCarriersListResponse",
      "description": "Mobile Carrier List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileCarriersListResponse\".",
          "type": "string"
        },
        "mobileCarriers": {
          "description": "Mobile carrier collection.",
          "type": "array",
          "items": {
            "$ref": "MobileCarrier"
          }
        }
      }
    },
    "DynamicRules": {
      "id": "DynamicRules",
      "description": "Contains dynamic rules information.",
      "type": "object",
      "properties": {
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        },
        "ruleType": {
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ],
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "type": "string",
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ]
        },
        "autoTargetedFieldIds": {
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "customValueFields": {
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering.",
          "type": "array",
          "items": {
            "$ref": "CustomValueField"
          }
        },
        "remarketingValueAttributes": {
          "items": {
            "$ref": "RemarketingValueAttribute"
          },
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "type": "array"
        },
        "customRules": {
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM.",
          "type": "array",
          "items": {
            "$ref": "CustomRule"
          }
        },
        "rotationType": {
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows.",
          "type": "string",
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ],
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ]
        },
        "weightFieldId": {
          "format": "int32",
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED.",
          "type": "integer"
        }
      }
    },
    "PricingSchedulePricingPeriod": {
      "id": "PricingSchedulePricingPeriod",
      "description": "Pricing Period",
      "type": "object",
      "properties": {
        "rateOrCostNanos": {
          "format": "int64",
          "description": "Rate or cost of this pricing period in nanos (i.e., multiplied by 1000000000). Acceptable values are 0 to 1000000000000000000, inclusive.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "units": {
          "description": "Units of this pricing period. Acceptable values are 0 to 10000000000, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "pricingComment": {
          "description": "Comments for this pricing period.",
          "type": "string"
        }
      }
    },
    "FloodlightReportCompatibleFields": {
      "id": "FloodlightReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields.",
          "type": "string"
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        }
      }
    },
    "Conversion": {
      "id": "Conversion",
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "type": "number"
        },
        "customVariables": {
          "items": {
            "$ref": "CustomFloodlightVariable"
          },
          "description": "Custom floodlight variables.",
          "type": "array"
        },
        "limitAdTracking": {
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing.",
          "type": "boolean"
        },
        "dclid": {
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field.",
          "type": "string"
        },
        "mobileDeviceId": {
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "timestampMicros": {
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\".",
          "type": "string"
        },
        "ordinal": {
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field.",
          "type": "string"
        },
        "matchId": {
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field.",
          "type": "string"
        },
        "impressionId": {
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "description": "Floodlight Configuration ID of this conversion. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "userIdentifiers": {
          "items": {
            "$ref": "UserIdentifier"
          },
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "type": "array"
        },
        "quantity": {
          "format": "int64",
          "description": "The quantity of the conversion. This is a required field.",
          "type": "string"
        },
        "nonPersonalizedAd": {
          "description": "Whether the conversion was for a non personalized ad.",
          "type": "boolean"
        },
        "treatmentForUnderage": {
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR).",
          "type": "boolean"
        },
        "childDirectedTreatment": {
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance.",
          "type": "boolean"
        },
        "encryptedUserIdCandidates": {
          "items": {
            "type": "string"
          },
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "array"
        },
        "floodlightActivityId": {
          "description": "Floodlight Activity ID of this conversion. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "encryptedUserId": {
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "adUserDataConsent": {
          "enum": [
            "GRANTED",
            "DENIED"
          ],
          "description": "This represents consent for ad user data.",
          "type": "string",
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ]
        },
        "sessionAttributesEncoded": {
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate.",
          "type": "string",
          "format": "byte"
        },
        "gclid": {
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field.",
          "type": "string"
        },
        "cartData": {
          "description": "The cart data associated with this conversion.",
          "$ref": "CartData"
        }
      }
    },
    "PathToConversionReportCompatibleFields": {
      "id": "PathToConversionReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields.",
          "type": "string"
        },
        "conversionDimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report.",
          "type": "array"
        },
        "perInteractionDimensions": {
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "customFloodlightVariables": {
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        }
      }
    },
    "ObaIcon": {
      "id": "ObaIcon",
      "description": "Online Behavioral Advertiser icon.",
      "type": "object",
      "properties": {
        "yPosition": {
          "description": "OBA icon y coordinate position. Accepted values are top or bottom.",
          "type": "string"
        },
        "size": {
          "$ref": "Size",
          "description": "OBA icon size."
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        },
        "iconClickTrackingUrl": {
          "description": "URL to track click when an OBA icon is clicked.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        }
      }
    },
    "FloodlightActivity": {
      "id": "FloodlightActivity",
      "description": "Contains properties of a Floodlight activity.",
      "type": "object",
      "properties": {
        "conversionCategory": {
          "enum": [
            "CONVERSION_CATEGORY_DEFAULT",
            "CONVERSION_CATEGORY_PURCHASE",
            "CONVERSION_CATEGORY_SIGNUP",
            "CONVERSION_CATEGORY_PAGE_VIEW",
            "CONVERSION_CATEGORY_DOWNLOAD",
            "CONVERSION_CATEGORY_BOOM_EVENT",
            "CONVERSION_CATEGORY_ADD_TO_CART",
            "CONVERSION_CATEGORY_BEGIN_CHECKOUT",
            "CONVERSION_CATEGORY_SUBSCRIBE_PAID",
            "CONVERSION_CATEGORY_SUBSCRIBE_FREE",
            "CONVERSION_CATEGORY_PHONE_CALL_LEAD",
            "CONVERSION_CATEGORY_IMPORTED_LEAD",
            "CONVERSION_CATEGORY_SUBMIT_LEAD_FORM",
            "CONVERSION_CATEGORY_BOOK_APPOINTMENT",
            "CONVERSION_CATEGORY_REQUEST_QUOTE",
            "CONVERSION_CATEGORY_GET_DIRECTIONS",
            "CONVERSION_CATEGORY_OUTBOUND_CLICK",
            "CONVERSION_CATEGORY_CONTACT",
            "CONVERSION_CATEGORY_VIEW_KEY_PAGE",
            "CONVERSION_CATEGORY_ENGAGEMENT",
            "CONVERSION_CATEGORY_STORE_VISIT",
            "CONVERSION_CATEGORY_STORE_SALE",
            "CONVERSION_CATEGORY_QUALIFIED_LEAD",
            "CONVERSION_CATEGORY_CONVERTED_LEAD",
            "CONVERSION_CATEGORY_IN_APP_AD_REVENUE",
            "CONVERSION_CATEGORY_MESSAGE_LEAD"
          ],
          "description": "Required. The conversion category of the activity.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified category (called \"Other\" externally).",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "User visiting a page.",
            "Software download action (as for an app). A conversion type that is created as a download type may not have its category changed.",
            "Boom event (for user list creation). This is an internal-only category.",
            ". The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "The start of a free subscription for a product or service.",
            "A call to indicate interesting in an advertiser's offering. Note: this is different from support calls.",
            "A lead conversion imported from an external source into Google Ads.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location.",
            "A click to an advertiser's partner site, e.g. a referral.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "Key page views (ex: product page, article).",
            "A website engagement event",
            "A visit to a physical store location.",
            "A sale occurring in a physical store.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser.",
            "A lead conversion imported from an external source into Google Ads, that has further completed a desired stage as defined by the lead gen advertiser.",
            "Conversion event that provides the revenue value of impressions that were shown in-app to users.",
            "Message exchanges which indicate an interest in an advertiser's offering."
          ]
        },
        "expectedUrl": {
          "description": "URL where this tag will be deployed. If specified, must be less than 256 characters long.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this floodlight activity. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "floodlightConfigurationId": {
          "format": "int64",
          "description": "Floodlight configuration ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's floodlight configuration or from the existing activity's floodlight configuration.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight activity. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "description": "Name of this floodlight activity. This is a required field. Must be less than 129 characters long and cannot contain quotes.",
          "type": "string"
        },
        "tagString": {
          "description": "Value of the cat= parameter in the floodlight tag, which the ad servers use to identify the activity. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activities of the same activity group. This field is read-only after insertion.",
          "type": "string"
        },
        "countingMethod": {
          "enum": [
            "STANDARD_COUNTING",
            "UNIQUE_COUNTING",
            "SESSION_COUNTING",
            "TRANSACTIONS_COUNTING",
            "ITEMS_SOLD_COUNTING"
          ],
          "description": "Counting method for conversions for this floodlight activity. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "Count every conversion.",
            "Count the first conversion for each unique user during each 24-hour day, from midnight to midnight, Eastern Time.",
            "Count one conversion per user per session. Session length is set by the site where the Spotlight tag is deployed.",
            "Count all conversions, plus the total number of sales that take place and the total revenue for these transactions.",
            "Count each conversion, plus the total number of items sold and the total revenue for these sales."
          ]
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "attributionEnabled": {
          "description": "Whether the activity is enabled for attribution.",
          "type": "boolean"
        },
        "floodlightActivityGroupType": {
          "description": "Type of the associated floodlight activity group. This is a read-only field.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "defaultTags": {
          "description": "Dynamic floodlight tags.",
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityDynamicTag"
          }
        },
        "cacheBustingType": {
          "description": "Code type used for cache busting in the generated tag. Applicable only when floodlightActivityGroupType is COUNTER and countingMethod is STANDARD_COUNTING or UNIQUE_COUNTING.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "JAVASCRIPT",
            "ACTIVE_SERVER_PAGE",
            "JSP",
            "PHP",
            "COLD_FUSION"
          ]
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's advertiser or the existing activity's advertiser.",
          "type": "string"
        },
        "sslCompliant": {
          "description": "Whether the floodlight activity is SSL-compliant. This is a read-only field, its value detected by the system from the floodlight tags.",
          "type": "boolean"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight activity. This is a read-only, auto-generated field."
        },
        "secure": {
          "description": "Whether this tag should use SSL.",
          "type": "boolean"
        },
        "floodlightActivityGroupTagString": {
          "description": "Tag string of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "sslRequired": {
          "description": "Whether this floodlight activity must be SSL-compliant.",
          "type": "boolean"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "floodlightActivityGroupId": {
          "description": "Floodlight activity group ID of this floodlight activity. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "status": {
          "enum": [
            "ACTIVE",
            "ARCHIVED_AND_DISABLED",
            "ARCHIVED",
            "DISABLED_POLICY"
          ],
          "description": "The status of the activity. This can only be set to ACTIVE or ARCHIVED_AND_DISABLED. The ARCHIVED status is no longer supported and cannot be set for Floodlight activities. The DISABLED_POLICY status indicates that a Floodlight activity is violating Google policy. Contact your account manager for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "tagFormat": {
          "enum": [
            "HTML",
            "XHTML"
          ],
          "description": "Tag format type for the floodlight activity. If left blank, the tag format will default to HTML.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "publisherTags": {
          "description": "Publisher dynamic floodlight tags.",
          "type": "array",
          "items": {
            "$ref": "FloodlightActivityPublisherDynamicTag"
          }
        },
        "notes": {
          "description": "General notes or implementation instructions for the tag.",
          "type": "string"
        },
        "floodlightTagType": {
          "enum": [
            "IFRAME",
            "IMAGE",
            "GLOBAL_SITE_TAG"
          ],
          "description": "The type of Floodlight tag this activity will generate. This is a required field.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "floodlightActivityGroupName": {
          "description": "Name of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivity\".",
          "type": "string"
        },
        "userDefinedVariableTypes": {
          "description": "List of the user-defined variables used by this conversion tag. These map to the \"u[1-100]=\" in the tags. Each of these can have a user defined type. Acceptable values are U1 to U100, inclusive. ",
          "type": "array",
          "items": {
            "enum": [
              "U1",
              "U2",
              "U3",
              "U4",
              "U5",
              "U6",
              "U7",
              "U8",
              "U9",
              "U10",
              "U11",
              "U12",
              "U13",
              "U14",
              "U15",
              "U16",
              "U17",
              "U18",
              "U19",
              "U20",
              "U21",
              "U22",
              "U23",
              "U24",
              "U25",
              "U26",
              "U27",
              "U28",
              "U29",
              "U30",
              "U31",
              "U32",
              "U33",
              "U34",
              "U35",
              "U36",
              "U37",
              "U38",
              "U39",
              "U40",
              "U41",
              "U42",
              "U43",
              "U44",
              "U45",
              "U46",
              "U47",
              "U48",
              "U49",
              "U50",
              "U51",
              "U52",
              "U53",
              "U54",
              "U55",
              "U56",
              "U57",
              "U58",
              "U59",
              "U60",
              "U61",
              "U62",
              "U63",
              "U64",
              "U65",
              "U66",
              "U67",
              "U68",
              "U69",
              "U70",
              "U71",
              "U72",
              "U73",
              "U74",
              "U75",
              "U76",
              "U77",
              "U78",
              "U79",
              "U80",
              "U81",
              "U82",
              "U83",
              "U84",
              "U85",
              "U86",
              "U87",
              "U88",
              "U89",
              "U90",
              "U91",
              "U92",
              "U93",
              "U94",
              "U95",
              "U96",
              "U97",
              "U98",
              "U99",
              "U100"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        }
      }
    },
    "PostalCodesListResponse": {
      "id": "PostalCodesListResponse",
      "description": "Postal Code List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        },
        "postalCodes": {
          "items": {
            "$ref": "PostalCode"
          },
          "description": "Postal code collection.",
          "type": "array"
        }
      }
    },
    "TvCampaignSummariesListResponse": {
      "id": "TvCampaignSummariesListResponse",
      "description": "Response message for TvCampaignSummariesService.List.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummariesListResponse\".",
          "type": "string"
        },
        "tvCampaignSummaries": {
          "items": {
            "$ref": "TvCampaignSummary"
          },
          "description": "List of TV campaign summaries.",
          "type": "array"
        }
      }
    },
    "MeasurementPartnerCampaignLink": {
      "id": "MeasurementPartnerCampaignLink",
      "type": "object",
      "properties": {
        "linkStatus": {
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "description": ".",
          "type": "string",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ]
        },
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        },
        "measurementPartner": {
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "description": "Day Part Targeting.",
      "type": "object",
      "properties": {
        "userLocalTime": {
          "description": "Whether or not to use the user's local time. If false, the America/New York time zone applies.",
          "type": "boolean"
        },
        "daysOfWeek": {
          "items": {
            "enum": [
              "SUNDAY",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "Days of the week when the ad will serve. Acceptable values are: - \"SUNDAY\" - \"MONDAY\" - \"TUESDAY\" - \"WEDNESDAY\" - \"THURSDAY\" - \"FRIDAY\" - \"SATURDAY\" ",
          "type": "array"
        },
        "hoursOfDay": {
          "description": "Hours of the day when the ad will serve, where 0 is midnight to 1 AM and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm. Acceptable values are 0 to 23, inclusive.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "FeedSchedule": {
      "id": "FeedSchedule",
      "description": "Contains the schedule of the dynamic feed.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone to schedule the feed. It is applicable if the repeat value is equal to 1. Default value is \"America/Los_Angeles\".",
          "type": "string"
        },
        "startMinute": {
          "description": "Optional. The minute of the hour to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "scheduleEnabled": {
          "description": "Optional. Whether the schedule is enabled.",
          "type": "boolean"
        },
        "repeatValue": {
          "description": "Optional. The number of times the feed retransforms within one day. This is a required field if the schedule is enabled. Acceptable values are between 1 to 6, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "startHour": {
          "description": "Optional. The hour of the day to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        }
      }
    },
    "FloodlightActivityGroupsListResponse": {
      "id": "FloodlightActivityGroupsListResponse",
      "description": "Floodlight Activity Group List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroupsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "floodlightActivityGroups": {
          "items": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Floodlight activity group collection.",
          "type": "array"
        }
      }
    },
    "DeliverySchedule": {
      "id": "DeliverySchedule",
      "description": "Delivery Schedule.",
      "type": "object",
      "properties": {
        "hardCutoff": {
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals.",
          "type": "boolean"
        },
        "priority": {
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ]
        },
        "impressionRatio": {
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        }
      }
    },
    "Invoice": {
      "id": "Invoice",
      "description": "Contains information about a single invoice",
      "type": "object",
      "properties": {
        "paymentsProfileId": {
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as *Billing ID*.",
          "type": "string"
        },
        "invoiceType": {
          "description": "The type of invoice document.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ]
        },
        "purchaseOrderNumber": {
          "description": "Purchase order number associated with the invoice.",
          "type": "string"
        },
        "id": {
          "description": "ID of this invoice.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Invoice currency code in ISO 4217 format.",
          "type": "string"
        },
        "serviceEndDate": {
          "description": "The invoice service end date.",
          "type": "string"
        },
        "subtotalAmountMicros": {
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "dueDate": {
          "description": "The invoice due date.",
          "type": "string"
        },
        "correctedInvoiceId": {
          "description": "The originally issued invoice that is being adjusted by this invoice, if applicable. May appear on invoice PDF as *Reference invoice number*.",
          "type": "string"
        },
        "replacedInvoiceIds": {
          "description": "The originally issued invoice(s) that is being cancelled by this invoice, if applicable. May appear on invoice PDF as *Replaced invoice numbers*. Note: There may be multiple replaced invoices due to consolidation of multiple invoices into a single invoice.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "totalAmountMicros": {
          "description": "The invoice total amount, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "totalTaxAmountMicros": {
          "format": "int64",
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency.",
          "type": "string"
        },
        "campaign_summaries": {
          "items": {
            "$ref": "CampaignSummary"
          },
          "description": "The list of summarized campaign information associated with this invoice.",
          "type": "array"
        },
        "issueDate": {
          "description": "The date when the invoice was issued.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#invoice\".",
          "type": "string"
        },
        "serviceStartDate": {
          "description": "The invoice service start date.",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as *Billing Account Number*.",
          "type": "string"
        },
        "pdfUrl": {
          "description": "The URL to download a PDF copy of the invoice. Note that this URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an *Authorization: Bearer* HTTP header. The URL will only be usable for 7 days from when the api is called.",
          "type": "string"
        }
      }
    },
    "ClickTag": {
      "id": "ClickTag",
      "description": "Creative Click Tag.",
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        },
        "clickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Parameter value for the specified click tag. This field contains a click-through url."
        }
      }
    },
    "UniversalAdId": {
      "id": "UniversalAdId",
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "type": "object",
      "properties": {
        "registry": {
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ],
          "description": "Registry used for the Ad ID value.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "value": {
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM.",
          "type": "string"
        }
      }
    },
    "MeasurementPartnerAdvertiserLink": {
      "id": "MeasurementPartnerAdvertiserLink",
      "type": "object",
      "properties": {
        "measurementPartner": {
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ],
          "description": "Measurement partner used for tag wrapping.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "partnerAdvertiserId": {
          "description": "partner Advertiser Id.",
          "type": "string"
        },
        "linkStatus": {
          "description": "Status of the partner link.",
          "type": "string",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ]
        }
      }
    },
    "ConnectionTypesListResponse": {
      "id": "ConnectionTypesListResponse",
      "description": "Connection Type List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
          "type": "string"
        },
        "connectionTypes": {
          "description": "Collection of connection types such as broadband and mobile.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        }
      }
    },
    "FloodlightConfigurationsListResponse": {
      "id": "FloodlightConfigurationsListResponse",
      "description": "Floodlight Configuration List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "items": {
            "$ref": "FloodlightConfiguration"
          },
          "description": "Floodlight configuration collection.",
          "type": "array"
        }
      }
    },
    "IngestionErrorRecord": {
      "id": "IngestionErrorRecord",
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "type": "object",
      "properties": {
        "recordId": {
          "description": "Output only. The record ID of the ingestion error record.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "FieldError"
          },
          "description": "Output only. The list of field errors of the ingestion error record.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "Language": {
      "id": "Language",
      "description": "Contains information about a language that can be targeted by ads.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this language.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "type": "string"
        },
        "languageCode": {
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\".",
          "type": "string"
        }
      }
    },
    "DynamicProfileVersion": {
      "id": "DynamicProfileVersion",
      "description": "Contains dynamic profile version information.",
      "type": "object",
      "properties": {
        "dynamicProfileFeedSettings": {
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "type": "array",
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          }
        },
        "versionId": {
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "EncryptionInfo": {
      "id": "EncryptionInfo",
      "description": "A description of how user IDs are encrypted.",
      "type": "object",
      "properties": {
        "encryptionEntityId": {
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string",
          "format": "int64"
        },
        "encryptionSource": {
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        },
        "encryptionEntityType": {
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
          "type": "string"
        }
      }
    },
    "OperatingSystemVersion": {
      "id": "OperatingSystemVersion",
      "description": "Contains information about a particular version of an operating system that can be targeted by ads.",
      "type": "object",
      "properties": {
        "majorVersion": {
          "description": "Major version (leftmost number) of this operating system version.",
          "type": "string"
        },
        "id": {
          "description": "ID of this operating system version.",
          "type": "string",
          "format": "int64"
        },
        "minorVersion": {
          "description": "Minor version (number after the first dot) of this operating system version.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersion\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this operating system version.",
          "type": "string"
        },
        "operatingSystem": {
          "description": "Operating system of this operating system version.",
          "$ref": "OperatingSystem"
        }
      }
    },
    "GeoTargeting": {
      "id": "GeoTargeting",
      "description": "Geographical Targeting.",
      "type": "object",
      "properties": {
        "excludeCountries": {
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad.",
          "type": "boolean"
        },
        "countries": {
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country.",
          "type": "array",
          "items": {
            "$ref": "Country"
          }
        },
        "regions": {
          "items": {
            "$ref": "Region"
          },
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region.",
          "type": "array"
        },
        "cities": {
          "items": {
            "$ref": "City"
          },
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city.",
          "type": "array"
        },
        "metros": {
          "items": {
            "$ref": "Metro"
          },
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "type": "array"
        },
        "postalCodes": {
          "items": {
            "$ref": "PostalCode"
          },
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code.",
          "type": "array"
        }
      }
    },
    "PlacementsListResponse": {
      "id": "PlacementsListResponse",
      "description": "Placement List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "placements": {
          "items": {
            "$ref": "Placement"
          },
          "description": "Placement collection.",
          "type": "array"
        }
      }
    },
    "EventTagsListResponse": {
      "id": "EventTagsListResponse",
      "description": "Event Tag List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\".",
          "type": "string"
        },
        "eventTags": {
          "description": "Event tag collection.",
          "type": "array",
          "items": {
            "$ref": "EventTag"
          }
        }
      }
    },
    "DimensionValueRequest": {
      "id": "DimensionValueRequest",
      "description": "Represents a DimensionValuesRequest.",
      "type": "object",
      "properties": {
        "filters": {
          "items": {
            "$ref": "DimensionFilter"
          },
          "description": "The list of filters by which to filter values. The filters are ANDed.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of request this is, in this case dfareporting#dimensionValueRequest .",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "dimensionName": {
          "description": "The name of the dimension for which values should be requested.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "VideoFormat": {
      "id": "VideoFormat",
      "description": "Contains information about supported video formats.",
      "type": "object",
      "properties": {
        "resolution": {
          "description": "The resolution of this video format.",
          "$ref": "Size"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        },
        "fileType": {
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "description": "File type of the video format.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "id": {
          "format": "int32",
          "description": "ID of the video format.",
          "type": "integer"
        },
        "targetBitRate": {
          "description": "The target bit rate of this video format.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MetrosListResponse": {
      "id": "MetrosListResponse",
      "description": "Metro List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\".",
          "type": "string"
        },
        "metros": {
          "items": {
            "$ref": "Metro"
          },
          "description": "Metro collection.",
          "type": "array"
        }
      }
    },
    "OperatingSystemsListResponse": {
      "id": "OperatingSystemsListResponse",
      "description": "Operating System List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        },
        "operatingSystems": {
          "description": "Operating system collection.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystem"
          }
        }
      }
    },
    "TvCampaignTimepoint": {
      "id": "TvCampaignTimepoint",
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "type": "object",
      "properties": {
        "dateWindow": {
          "description": "The date window of the timepoint.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ]
        },
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "type": "number",
          "format": "double"
        },
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        }
      }
    },
    "UserIdentifier": {
      "id": "UserIdentifier",
      "description": "User identifying information. Exactly one type of identifier must be specified.",
      "type": "object",
      "properties": {
        "hashedEmail": {
          "description": "Hashed email address using SHA-256 hash function after normalization.",
          "type": "string"
        },
        "hashedPhoneNumber": {
          "description": "Hashed phone number using SHA-256 hash function after normalization (E164 standard).",
          "type": "string"
        },
        "addressInfo": {
          "$ref": "OfflineUserAddressInfo",
          "description": "Address information."
        }
      }
    },
    "BillingAssignmentsListResponse": {
      "id": "BillingAssignmentsListResponse",
      "description": "Billing assignment List Response",
      "type": "object",
      "properties": {
        "billingAssignments": {
          "description": "Billing assignments collection.",
          "type": "array",
          "items": {
            "$ref": "BillingAssignment"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        }
      }
    },
    "CreativeFieldValue": {
      "id": "CreativeFieldValue",
      "description": "Contains properties of a creative field value.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\".",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        }
      }
    },
    "SiteTranscodeSetting": {
      "id": "SiteTranscodeSetting",
      "description": "Transcode Settings",
      "type": "object",
      "properties": {
        "enabledVideoFormats": {
          "description": "Allowlist of video formats to be served to this site template. Set this list to null or empty to serve all video formats.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteTranscodeSetting\".",
          "type": "string"
        }
      }
    },
    "ThirdPartyTrackingUrl": {
      "id": "ThirdPartyTrackingUrl",
      "description": "Third-party Tracking URL.",
      "type": "object",
      "properties": {
        "thirdPartyUrlType": {
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "type": "string",
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ]
        },
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        }
      }
    },
    "DynamicProfileFeedSettings": {
      "id": "DynamicProfileFeedSettings",
      "description": "Contains dynamic profile specific settings for an associated dynamic feed.",
      "type": "object",
      "properties": {
        "dynamicFeedId": {
          "description": "Optional. Dynamic feed ID associated with dynamic profile version.",
          "type": "string",
          "format": "int64"
        },
        "quantity": {
          "description": "Optional. The number of this dynamic feed rows needed by the dynamic profile, default value is 1. Acceptable values are between 1 to 99, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "dynamicRules": {
          "$ref": "DynamicRules",
          "description": "Optional. Dynamic rules for row selection for the given dynamic feed in the given dynamic profile."
        }
      }
    },
    "FieldFilter": {
      "id": "FieldFilter",
      "description": "Contains field filter information.",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "Optional. The string value, only applicable when rhs_value_type is STRING.",
          "type": "string"
        },
        "matchType": {
          "description": "Optional. Left hand side of the expression match type.",
          "type": "string",
          "enumDescriptions": [
            "The left hand side of the expression is unknown. This value is unused.",
            "The left hand side of the expression is equals or unrestricted. It is the default value.",
            "The left hand side of the expression is equals.",
            "The left hand side of the expression is unrestricted. Unrestricted is used to target fields with no restrictions. For example, country targeting fields hold a list of countries. If the list is empty, we consider the element value to have no restrictions.",
            "Left hand side of the expression is not equals. Not equals specifies which fields should not be targeted."
          ],
          "enum": [
            "LHS_MATCH_TYPE_UNKNOWN",
            "EQUALS_OR_UNRESTRICTED",
            "EQUALS",
            "UNRESTRICTED",
            "NOT_EQUALS"
          ]
        },
        "fieldId": {
          "description": "Optional. The field ID on the left hand side of the expression.",
          "type": "integer",
          "format": "int32"
        },
        "valueType": {
          "enum": [
            "RHS_VALUE_TYPE_UNKNOWN",
            "STRING",
            "REQUEST",
            "BOOL",
            "DEPENDENT"
          ],
          "description": "Optional. Right hand side of the expression.",
          "type": "string",
          "enumDescriptions": [
            "The right hand side of the expression is unknown. This value is unused.",
            "The right hand side of the expression is a string.",
            "The right hand side of the expression is a request value.",
            "The right hand side of the expression is a boolean.",
            "The right hand side of the expression is a dependent field value."
          ]
        },
        "requestValue": {
          "description": "Optional. The request value, only applicable when rhs_value_type is REQUEST.",
          "$ref": "RequestValue"
        },
        "dependentFieldValue": {
[...]
