{
  "canonicalName": "Dfareporting",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "/dfareporting/v5/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "id": "dfareporting:v5",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "ownerDomain": "google.com",
  "version": "v5",
  "resources": {
    "floodlightActivities": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightActivities.patch",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing floodlight activity. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "format": "int64",
              "required": true,
              "description": "Required. EventTag ID.",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "insert": {
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightActivity"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a new floodlight activity.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "id": "dfareporting.floodlightActivities.insert",
          "request": {
            "$ref": "FloodlightActivity"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightActivities.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight activities, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "response": {
            "$ref": "FloodlightActivitiesListResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "description": "Select only floodlight activities with the specified IDs. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "floodlightActivityGroupIds": {
              "type": "string",
              "description": "Select only floodlight activities with the specified floodlight activity group IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "floodlightConfigurationId": {
              "description": "Select only floodlight activities for the specified floodlight configuration ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "floodlightActivityGroupType": {
              "location": "query",
              "type": "string",
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Select only floodlight activities with the specified floodlight activity group type."
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "tagString": {
              "type": "string",
              "description": "Select only floodlight activities with the specified tag string.",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivity*2015\" will return objects with names like \"floodlightactivity June 2015\", \"floodlightactivity April 2015\", or simply \"floodlightactivity 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivity\" will match objects with name \"my floodlightactivity activity\", \"floodlightactivity 2015\", or simply \"floodlightactivity\".",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "floodlightActivityGroupName": {
              "description": "Select only floodlight activities with the specified floodlight activity group name.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "description": "Select only floodlight activities for the specified advertiser ID. Must specify either ids, advertiserId, or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "floodlightActivityGroupTagString": {
              "description": "Select only floodlight activities with the specified floodlight activity group tag string.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "httpMethod": "DELETE",
          "description": "Deletes an existing floodlight activity.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "type": "string",
              "description": "Floodlight activity ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightActivities.delete"
        },
        "generatetag": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "floodlightActivityId": {
              "type": "string",
              "description": "Floodlight activity ID for which we want to generate a tag.",
              "location": "query",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "FloodlightActivitiesGenerateTagResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/generatetag",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/generatetag",
          "httpMethod": "POST",
          "description": "Generates a tag for a floodlight activity.",
          "id": "dfareporting.floodlightActivities.generatetag",
          "parameterOrder": [
            "profileId"
          ]
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightActivities.get",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities/{floodlightActivitiesId}",
          "httpMethod": "GET",
          "description": "Gets one floodlight activity by ID.",
          "parameters": {
            "id": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Floodlight activity ID.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates an existing floodlight activity.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivities",
          "response": {
            "$ref": "FloodlightActivity"
          },
          "path": "userprofiles/{+profileId}/floodlightActivities",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightActivities.update",
          "request": {
            "$ref": "FloodlightActivity"
          }
        }
      }
    },
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.tvCampaignDetails.get",
          "httpMethod": "GET",
          "description": "Gets one TvCampaignDetail by ID.",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "parameters": {
            "tvDataProvider": {
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "INTAGE_JP",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "location": "query"
            },
            "countryDartId": {
              "type": "string",
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "description": "Required. User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. TV Campaign ID.",
              "pattern": "^[^/]+$"
            },
            "accountId": {
              "description": "Required. Account ID associated with this request.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          }
        }
      }
    },
    "creativeFields": {
      "methods": {
        "delete": {
          "id": "dfareporting.creativeFields.delete",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Creative Field ID",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes an existing creative field.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "httpMethod": "GET",
          "description": "Gets one creative field by ID.",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Creative Field ID",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "CreativeField"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.creativeFields.get"
        },
        "update": {
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates an existing creative field.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "id": "dfareporting.creativeFields.update",
          "request": {
            "$ref": "CreativeField"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "id": "dfareporting.creativeFields.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "type": "string",
              "description": "Select only creative fields that belong to these advertisers.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "ids": {
              "description": "Select only creative fields with these IDs.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "GET",
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging."
        },
        "patch": {
          "request": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "CreativeField ID.",
              "type": "string",
              "location": "query",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "PATCH",
          "description": "Updates an existing creative field. This method supports patch semantics."
        },
        "insert": {
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "httpMethod": "POST",
          "description": "Inserts a new creative field.",
          "request": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.insert",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/metros",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "MetrosListResponse"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of metros.",
          "flatPath": "userprofiles/{userprofilesId}/metros",
          "id": "dfareporting.metros.list",
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "userRoles": {
      "methods": {
        "get": {
          "response": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "User role ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Gets one user role by ID.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "id": "dfareporting.userRoles.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "delete": {
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "httpMethod": "DELETE",
          "description": "Deletes an existing user role.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User role ID.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.delete"
        },
        "update": {
          "path": "userprofiles/{+profileId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "description": "Updates an existing user role.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "id": "dfareporting.userRoles.update",
          "request": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.userRoles.list",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "httpMethod": "GET",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "parameters": {
            "accountUserRoleOnly": {
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "location": "query",
              "type": "boolean"
            },
            "subaccountId": {
              "type": "string",
              "description": "Select only user roles that belong to this subaccount.",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only user roles with the specified IDs.",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserRolesListResponse"
          }
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.patch",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "httpMethod": "PATCH",
          "description": "Updates an existing user role. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "type": "string",
              "description": "Required. UserRole ID.",
              "required": true,
              "location": "query",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "request": {
            "$ref": "UserRole"
          },
          "id": "dfareporting.userRoles.insert",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "httpMethod": "POST",
          "description": "Inserts a new user role."
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "id": "dfareporting.accountActiveAdSummaries.get",
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "httpMethod": "GET",
          "description": "Gets the account's active ad summary by account ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "summaryAccountId": {
              "description": "Account ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "patch": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "creativeFieldId": {
              "type": "string",
              "description": "CreativeField ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "id": {
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "CreativeFieldValue ID."
            }
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "httpMethod": "PATCH",
          "description": "Updates an existing creative field value. This method supports patch semantics.",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.patch",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ]
        },
        "insert": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "id": "dfareporting.creativeFieldValues.insert",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "httpMethod": "POST",
          "description": "Inserts a new creative field value.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "creativeFieldId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "list": {
          "id": "dfareporting.creativeFieldValues.list",
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "VALUE"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "type": "string",
              "description": "Select only creative field values with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "creativeFieldId": {
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues"
        },
        "delete": {
          "parameters": {
            "creativeFieldId": {
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "type": "string",
              "description": "Creative Field Value ID",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "id": "dfareporting.creativeFieldValues.delete",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes an existing creative field value."
        },
        "get": {
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$"
            },
            "id": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Creative Field Value ID",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "description": "Gets one creative field value by ID.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "id": "dfareporting.creativeFieldValues.get",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "id": "dfareporting.creativeFieldValues.update",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing creative field value.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "parameters": {
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        }
      }
    },
    "creatives": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "httpMethod": "PATCH",
          "description": "Updates an existing creative. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Required. Creative ID.",
              "required": true,
              "location": "query",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creatives",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Creative"
          },
          "id": "dfareporting.creatives.patch"
        },
        "insert": {
          "id": "dfareporting.creatives.insert",
          "request": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Creative"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a new creative.",
          "flatPath": "userprofiles/{userprofilesId}/creatives"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}",
          "httpMethod": "GET",
          "description": "Gets one creative by ID.",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Creative ID.",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/creatives/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.creatives.get"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "httpMethod": "PUT",
          "description": "Updates an existing creative.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Creative"
          },
          "path": "userprofiles/{+profileId}/creatives",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Creative"
          },
          "id": "dfareporting.creatives.update"
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.creatives.list",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "httpMethod": "GET",
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "parameters": {
            "maxResults": {
              "default": "1000",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            },
            "sortOrder": {
              "location": "query",
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "location": "query"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "archived": {
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives.",
              "location": "query",
              "type": "boolean"
            },
            "types": {
              "type": "string",
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only creatives with these creative types.",
              "location": "query",
              "repeated": true
            },
            "studioCreativeId": {
              "type": "string",
              "description": "Select only creatives corresponding to this Studio creative ID.",
              "location": "query",
              "format": "int64"
            },
            "active": {
              "type": "boolean",
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "description": "Select only creatives with these IDs."
            },
            "renderingIds": {
              "description": "Select only creatives with these rendering IDs.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "companionCreativeIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only in-stream video creatives with these companion IDs.",
              "type": "string"
            },
            "sizeIds": {
              "description": "Select only creatives with these size IDs.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "description": "Select only creatives with this campaign ID.",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "type": "string",
              "description": "Select only creatives with this advertiser ID.",
              "location": "query",
              "format": "int64"
            },
            "creativeFieldIds": {
              "type": "string",
              "description": "Select only creatives with these creative field IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creatives",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativesListResponse"
          }
        }
      }
    },
    "sizes": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets one size by ID.",
          "flatPath": "userprofiles/{userprofilesId}/sizes/{sizesId}",
          "path": "userprofiles/{+profileId}/sizes/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Size"
          },
          "parameters": {
            "id": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Size ID.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.sizes.get"
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.sizes.insert",
          "request": {
            "$ref": "Size"
          },
          "httpMethod": "POST",
          "description": "Inserts a new size.",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "response": {
            "$ref": "Size"
          },
          "path": "userprofiles/{+profileId}/sizes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.sizes.list",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "httpMethod": "GET",
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI.",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "width": {
              "type": "integer",
              "description": "Select only sizes with this width.",
              "location": "query",
              "format": "int32"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only sizes with these IDs.",
              "type": "string"
            },
            "height": {
              "description": "Select only sizes with this height.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "iabStandard": {
              "description": "Select only IAB standard sizes.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "userprofiles/{+profileId}/sizes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "SizesListResponse"
          }
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "id": "dfareporting.billingAssignments.insert",
          "request": {
            "$ref": "BillingAssignment"
          },
          "httpMethod": "POST",
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "response": {
            "$ref": "BillingAssignment"
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            },
            "billingProfileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Billing profile ID of this billing assignment.",
              "pattern": "^[^/]+$"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "id": "dfareporting.billingAssignments.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of billing assignments.",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "billingProfileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Billing profile ID of this billing assignment.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "patch": {
          "id": "dfareporting.remarketingListShares.patch",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "RemarketingListShare"
          },
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Required. RemarketingList ID."
            },
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares"
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates an existing remarketing list share.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.remarketingListShares.update",
          "request": {
            "$ref": "RemarketingListShare"
          }
        },
        "get": {
          "id": "dfareporting.remarketingListShares.get",
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "remarketingListId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "RemarketingListShare"
          },
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}",
          "httpMethod": "GET",
          "description": "Gets one remarketing list share by remarketing list ID."
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "list": {
          "id": "dfareporting.userRolePermissionGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$"
            }
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "httpMethod": "GET",
          "description": "Gets a list of all supported user role permission groups."
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.userRolePermissionGroups.get",
          "httpMethod": "GET",
          "description": "Gets one user role permission group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "User role permission group ID.",
              "pattern": "^[^/]+$"
            }
          }
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "publish": {
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "httpMethod": "POST",
          "description": "Publish for a dynamic profile.",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "parameters": {
            "dynamicProfileId": {
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicProfiles.publish"
        },
        "insert": {
          "parameterOrder": [],
          "request": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.insert",
          "flatPath": "studio/dynamicProfiles",
          "httpMethod": "POST",
          "description": "Inserts a new dynamic profile.",
          "parameters": {},
          "response": {
            "$ref": "DynamicProfile"
          },
          "path": "studio/dynamicProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "parameterOrder": [],
          "request": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.update",
          "flatPath": "studio/dynamicProfiles",
          "httpMethod": "PUT",
          "description": "Updates an existing dynamic profile.",
          "parameters": {},
          "response": {
            "$ref": "DynamicProfile"
          },
          "path": "studio/dynamicProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameters": {
            "dynamicProfileId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "DynamicProfile"
          },
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "httpMethod": "GET",
          "description": "Gets a dynamic profile by ID.",
          "id": "dfareporting.dynamicProfiles.get",
          "parameterOrder": [
            "dynamicProfileId"
          ]
        },
        "generateCode": {
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode",
          "httpMethod": "GET",
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "id": "dfareporting.dynamicProfiles.generateCode",
          "parameterOrder": [
            "dynamicProfileId"
          ]
        }
      }
    },
    "placementGroups": {
      "methods": {
        "list": {
          "id": "dfareporting.placementGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroupsListResponse"
          },
          "parameters": {
            "maxEndDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "placementStrategyIds": {
              "type": "string",
              "description": "Select only placement groups that are associated with these placement strategies.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "pricingTypes": {
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "description": "Select only placement groups with these pricing types."
            },
            "activeStatus": {
              "location": "query",
              "repeated": true,
              "description": "Select only placements with these active statuses.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ]
            },
            "campaignIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "description": "Select only placement groups that belong to these campaigns."
            },
            "minStartDate": {
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query"
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "advertiserIds": {
              "description": "Select only placement groups that belong to these advertisers.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "default": "800",
              "type": "integer",
              "description": "Maximum number of results to return."
            },
            "contentCategoryIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement groups that are associated with these content categories.",
              "type": "string"
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "searchString": {
              "type": "string",
              "description": "Allows searching for placement groups by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placement groups with names like \"placement group June 2015\", \"placement group May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementgroup\" will match placement groups with name \"my placementgroup\", \"placementgroup 2015\", or simply \"placementgroup\".",
              "location": "query"
            },
            "sortField": {
              "location": "query",
              "default": "ID",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            },
            "pageToken": {
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query"
            },
            "directorySiteIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "description": "Select only placement groups that are associated with these directory sites."
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only placement groups with these IDs.",
              "type": "string"
            },
            "siteIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string",
              "description": "Select only placement groups that are associated with these sites."
            },
            "placementGroupType": {
              "type": "string",
              "enum": [
                "PLACEMENT_PACKAGE",
                "PLACEMENT_ROADBLOCK"
              ],
              "enumDescriptions": [
                "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
                "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
              ],
              "description": "Select only placement groups belonging with this group type. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of placement groups, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placementGroups.update",
          "request": {
            "$ref": "PlacementGroup"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing placement group.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "path": "userprofiles/{+profileId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/placementGroups/{placementGroupsId}",
          "httpMethod": "GET",
          "description": "Gets one placement group by ID.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Placement group ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/placementGroups/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.placementGroups.get"
        },
        "insert": {
          "id": "dfareporting.placementGroups.insert",
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a new placement group.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups"
        },
        "patch": {
          "response": {
            "$ref": "PlacementGroup"
          },
          "path": "userprofiles/{+profileId}/placementGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. Placement ID.",
              "required": true,
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing placement group. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/placementGroups",
          "id": "dfareporting.placementGroups.patch",
          "request": {
            "$ref": "PlacementGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "list": {
          "id": "dfareporting.floodlightConfigurations.list",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "ids": {
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations"
        },
        "patch": {
          "id": "dfareporting.floodlightConfigurations.patch",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. EventTag ID.",
              "required": true,
              "location": "query",
              "format": "int64"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightConfigurations.update",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing floodlight configuration.",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightConfigurations.get",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "httpMethod": "GET",
          "description": "Gets one floodlight configuration by ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Floodlight configuration ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.userProfiles.get",
          "flatPath": "userprofiles/{profileId}",
          "httpMethod": "GET",
          "description": "Gets one user profile by ID.",
          "parameters": {
            "profileId": {
              "description": "The user profile ID.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "path": "userprofiles/{profileId}",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserProfile"
          }
        },
        "list": {
          "parameterOrder": [],
          "id": "dfareporting.userProfiles.list",
          "httpMethod": "GET",
          "description": "Retrieves list of user profiles for a user.",
          "flatPath": "userprofiles",
          "response": {
            "$ref": "UserProfileList"
          },
          "path": "userprofiles",
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {}
        }
      }
    },
    "files": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Lists files for a user profile.",
          "flatPath": "userprofiles/{profileId}/files",
          "response": {
            "$ref": "FileList"
          },
          "path": "userprofiles/{profileId}/files",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "parameters": {
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "DESCENDING",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query"
            },
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "sortField": {
              "default": "LAST_MODIFIED_TIME",
              "type": "string",
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME"
              ],
              "enumDescriptions": [
                "Sort by file ID.",
                "Sort by 'lastmodifiedAt' field."
              ],
              "description": "The field by which to sort the list.",
              "location": "query"
            },
            "scope": {
              "location": "query",
              "description": "The scope that defines which results are returned.",
              "enumDescriptions": [
                "All files in account.",
                "My files.",
                "Files shared with me."
              ],
              "default": "MINE",
              "type": "string",
              "enum": [
                "ALL",
                "MINE",
                "SHARED_WITH_ME"
              ]
            },
            "maxResults": {
              "default": "10",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.files.list"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
          "flatPath": "reports/{reportId}/files/{fileId}",
          "path": "reports/{reportId}/files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "reportId": {
              "description": "The ID of the report.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "fileId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "The ID of the report file.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "reportId",
            "fileId"
          ],
          "id": "dfareporting.files.get",
          "supportsMediaDownload": true
        }
      }
    },
    "mobileApps": {
      "methods": {
        "get": {
          "id": "dfareporting.mobileApps.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "MobileApp"
          },
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Mobile app ID.",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "description": "Gets one mobile app by ID.",
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "httpMethod": "GET",
          "description": "Retrieves list of available mobile apps.",
          "parameters": {
            "maxResults": {
              "default": "1000",
              "type": "integer",
[...]
