{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "resources": {
    "platformTypes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.platformTypes.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/platformTypes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/platformTypes",
          "response": {
            "$ref": "PlatformTypesListResponse"
          },
          "description": "Retrieves a list of platform types.",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          }
        },
        "get": {
          "id": "dfareporting.platformTypes.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/platformTypes/{platformTypesId}",
          "description": "Gets one platform type by ID.",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "Platform type ID.",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/platformTypes/{+id}",
          "response": {
            "$ref": "PlatformType"
          }
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{profileId}",
          "httpMethod": "GET",
          "id": "dfareporting.userProfiles.get",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{profileId}",
          "response": {
            "$ref": "UserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "The user profile ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets one user profile by ID."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles",
          "response": {
            "$ref": "UserProfileList"
          },
          "description": "Retrieves list of user profiles for a user.",
          "parameters": {},
          "id": "dfareporting.userProfiles.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "userprofiles"
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "User role permission group ID.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Gets one user role permission group by ID.",
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "response": {
            "$ref": "UserRolePermissionGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "id": "dfareporting.userRolePermissionGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissionGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets a list of all supported user role permission groups."
        }
      }
    },
    "eventTags": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "response": {
            "$ref": "EventTag"
          },
          "description": "Gets one event tag by ID.",
          "parameters": {
            "id": {
              "description": "Event tag ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.eventTags.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}"
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "id": "dfareporting.eventTags.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/eventTags",
          "response": {
            "$ref": "EventTagsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "definitionsOnly": {
              "description": "Examine only the specified campaign or advertiser's event tags for matching selector criteria. When set to false, the parent advertiser and parent campaign of the specified ad or campaign is examined as well. In addition, when set to false, the status field is examined as well, along with the enabledByDefault field. This parameter can not be set to true when adId is specified as ads do not define their own even tags.",
              "type": "boolean",
              "location": "query"
            },
            "adId": {
              "description": "Select only event tags that belong to this ad.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only event tags with these IDs."
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "enabled": {
              "location": "query",
              "description": "Select only enabled event tags. What is considered enabled or disabled depends on the definitionsOnly parameter. When definitionsOnly is set to true, only the specified advertiser or campaign's event tags' enabledByDefault field is examined. When definitionsOnly is set to false, the specified ad or specified campaign's parent advertiser's or parent campaign's event tags' enabledByDefault and status fields are examined as well.",
              "type": "boolean"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results."
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"eventtag*2015\" will return objects with names like \"eventtag June 2015\", \"eventtag April 2015\", or simply \"eventtag 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"eventtag\" will match objects with name \"my eventtag\", \"eventtag 2015\", or simply \"eventtag\".",
              "type": "string"
            },
            "eventTagTypes": {
              "description": "Select only event tags with the specified event tag types. Event tag types can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking.",
              "enum": [
                "IMPRESSION_IMAGE_EVENT_TAG",
                "IMPRESSION_JAVASCRIPT_EVENT_TAG",
                "CLICK_THROUGH_EVENT_TAG"
              ],
              "enumDescriptions": [
                "A third-party pixel for impression tracking.",
                "A third-party JavaScript URL for impression tracking.",
                "A third-party URL for click tracking that redirects to the landing page."
              ],
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "campaignId": {
              "description": "Select only event tags that belong to this campaign.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "description": "Select only event tags that belong to this advertiser.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of event tags, possibly filtered."
        },
        "update": {
          "id": "dfareporting.eventTags.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "request": {
            "$ref": "EventTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/eventTags",
          "response": {
            "$ref": "EventTag"
          },
          "description": "Updates an existing event tag.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          }
        },
        "patch": {
          "request": {
            "$ref": "EventTag"
          },
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "id": "dfareporting.eventTags.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "id": {
              "format": "int64",
              "location": "query",
              "description": "Required. EventTag ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an existing event tag. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/eventTags",
          "response": {
            "$ref": "EventTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "id": "dfareporting.eventTags.insert",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "request": {
            "$ref": "EventTag"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/eventTags",
          "response": {
            "$ref": "EventTag"
          },
          "description": "Inserts a new event tag.",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          }
        },
        "delete": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "description": "Event tag ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Deletes an existing event tag.",
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}",
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.eventTags.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "httpMethod": "GET",
          "id": "dfareporting.floodlightConfigurations.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Floodlight configuration ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets one floodlight configuration by ID.",
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "ids": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned."
            }
          },
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "httpMethod": "GET",
          "id": "dfareporting.floodlightConfigurations.list",
          "parameterOrder": [
            "profileId"
          ]
        },
        "update": {
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "id": "dfareporting.floodlightConfigurations.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Updates an existing floodlight configuration.",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Required. EventTag ID.",
              "required": true,
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          }
        }
      }
    },
    "postalCodes": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/postalCodes",
          "id": "dfareporting.postalCodes.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves a list of postal codes.",
          "path": "userprofiles/{+profileId}/postalCodes",
          "response": {
            "$ref": "PostalCodesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "path": "userprofiles/{+profileId}/postalCodes/{+code}",
          "response": {
            "$ref": "PostalCode"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "code": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Postal code ID.",
              "required": true
            }
          },
          "description": "Gets one postal code by ID.",
          "flatPath": "userprofiles/{userprofilesId}/postalCodes/{postalCodesId}",
          "id": "dfareporting.postalCodes.get",
          "parameterOrder": [
            "profileId",
            "code"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "insert": {
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Inserts a new account user profile.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.insert",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountUserProfile"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "parameters": {
            "active": {
              "description": "Select only active user profiles.",
              "type": "boolean",
              "location": "query"
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".",
              "type": "string",
              "location": "query"
            },
            "userRoleId": {
              "description": "Select only user profiles with the specified user role ID.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer"
            },
            "subaccountId": {
              "location": "query",
              "format": "int64",
              "description": "Select only user profiles with the specified subaccount ID.",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only user profiles with these IDs."
            },
            "sortField": {
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results."
            }
          },
          "id": "dfareporting.accountUserProfiles.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles"
        },
        "update": {
          "request": {
            "$ref": "AccountUserProfile"
          },
          "id": "dfareporting.accountUserProfiles.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "description": "Updates an existing account user profile.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          }
        },
        "patch": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "location": "query",
              "format": "int64",
              "description": "Required. AccountUserProfile ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an existing account user profile. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "id": "dfareporting.accountUserProfiles.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}",
          "response": {
            "$ref": "AccountUserProfile"
          },
          "description": "Gets one account user profile by ID.",
          "parameters": {
            "id": {
              "description": "User profile ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.accountUserProfiles.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}"
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "list": {
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "advertiserId": {
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "type": {
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "type": "string",
              "location": "query"
            },
            "floodlightConfigurationId": {
              "location": "query",
              "format": "int64",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "httpMethod": "GET",
          "id": "dfareporting.floodlightActivityGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups"
        },
        "update": {
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "httpMethod": "PUT",
          "id": "dfareporting.floodlightActivityGroups.update",
          "parameterOrder": [
            "profileId"
          ],
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an existing floodlight activity group.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "dfareporting.floodlightActivityGroups.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "description": "Required. EventTag ID.",
              "required": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "id": "dfareporting.floodlightActivityGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Floodlight activity Group ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets one floodlight activity group by ID.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Inserts a new floodlight activity group.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "FloodlightActivityGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "id": "dfareporting.floodlightActivityGroups.insert",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "advertisers": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "Advertiser"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "id": "dfareporting.advertisers.insert",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "description": "Inserts a new advertiser.",
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.advertisers.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "description": "Retrieves a list of advertisers, possibly filtered. This method supports paging.",
          "parameters": {
            "subaccountId": {
              "description": "Select only advertisers with these subaccount IDs.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "floodlightConfigurationIds": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only advertisers with these floodlight configuration IDs."
            },
            "onlyParent": {
              "location": "query",
              "description": "Select only advertisers which use another advertiser's floodlight configuration.",
              "type": "boolean"
            },
            "status": {
              "location": "query",
              "enumDescriptions": [
                "Approved (ads can deliver)",
                "On-hold (all ads are stopped)"
              ],
              "enum": [
                "APPROVED",
                "ON_HOLD"
              ],
              "description": "Select only advertisers with the specified status.",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\" .",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32"
            },
            "includeAdvertisersWithoutGroupsOnly": {
              "description": "Select only advertisers which do not belong to any advertiser group.",
              "type": "boolean",
              "location": "query"
            },
            "advertiserGroupIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only advertisers with these advertiser group IDs.",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "description": "Select only advertisers with these IDs.",
              "format": "int64",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "AdvertisersListResponse"
          }
        },
        "update": {
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "description": "Updates an existing advertiser.",
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Advertiser"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "id": "dfareporting.advertisers.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT"
        },
        "patch": {
          "path": "userprofiles/{+profileId}/advertisers",
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "description": "Required. Advertiser ID.",
              "required": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates an existing advertiser. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers",
          "id": "dfareporting.advertisers.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Advertiser"
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/advertisers/{+id}",
          "response": {
            "$ref": "Advertiser"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "Advertiser ID.",
              "required": true
            }
          },
          "description": "Gets one advertiser by ID.",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}",
          "httpMethod": "GET",
          "id": "dfareporting.advertisers.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "countries": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/countries",
          "response": {
            "$ref": "CountriesListResponse"
          },
          "description": "Retrieves a list of countries.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "id": "dfareporting.countries.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/countries"
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/countries/{countriesId}",
          "httpMethod": "GET",
          "id": "dfareporting.countries.get",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "dartId": {
              "description": "Country DART ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets one country by ID.",
          "path": "userprofiles/{+profileId}/countries/{+dartId}",
          "response": {
            "$ref": "Country"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "creatives": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "response": {
            "$ref": "CreativesListResponse"
          },
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "renderingIds": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only creatives with these rendering IDs."
            },
            "companionCreativeIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only in-stream video creatives with these companion IDs.",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "type": "string"
            },
            "sizeIds": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only creatives with these size IDs."
            },
            "archived": {
              "location": "query",
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives.",
              "type": "boolean"
            },
            "studioCreativeId": {
              "format": "int64",
              "location": "query",
              "description": "Select only creatives corresponding to this Studio creative ID.",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            },
            "types": {
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "description": "Select only creatives with these creative types.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string"
            },
            "advertiserId": {
              "description": "Select only creatives with this advertiser ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "description": "Select only creatives with this campaign ID.",
              "type": "string"
            },
            "active": {
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "type": "boolean",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "creativeFieldIds": {
              "format": "int64",
              "location": "query",
              "repeated": true,
              "description": "Select only creatives with these creative field IDs.",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results."
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "description": "Select only creatives with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "id": "dfareporting.creatives.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creatives"
        },
        "update": {
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Updates an existing creative.",
          "path": "userprofiles/{+profileId}/creatives",
          "response": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Creative"
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "id": "dfareporting.creatives.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT"
        },
        "patch": {
          "description": "Updates an existing creative. This method supports patch semantics.",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "id": {
              "description": "Required. Creative ID.",
              "required": true,
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "response": {
            "$ref": "Creative"
          },
          "request": {
            "$ref": "Creative"
          },
          "id": "dfareporting.creatives.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "flatPath": "userprofiles/{userprofilesId}/creatives"
        },
        "get": {
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "Creative ID.",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Gets one creative by ID.",
          "path": "userprofiles/{+profileId}/creatives/{+id}",
          "response": {
            "$ref": "Creative"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}",
          "id": "dfareporting.creatives.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "request": {
            "$ref": "Creative"
          },
          "httpMethod": "POST",
          "id": "dfareporting.creatives.insert",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "description": "Inserts a new creative.",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creatives",
          "response": {
            "$ref": "Creative"
          }
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "response": {
            "$ref": "DimensionValueList"
          },
          "description": "Retrieves list of report dimension values for a list of filters.",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "100",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "dfareporting.dimensionValues.query",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "request": {
            "$ref": "DimensionValueRequest"
          }
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.campaignCreativeAssociations.list",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "description": "Maximum number of results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "campaignId": {
              "description": "Campaign ID in this association.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "insert": {
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "parameters": {
            "campaignId": {
              "description": "Campaign ID in this association.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          }
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "id": "dfareporting.targetableRemarketingLists.list",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "required": true,
              "format": "int64",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "active": {
              "location": "query",
              "description": "Select only active or only inactive targetable remarketing lists.",
              "type": "boolean"
            },
            "name": {
              "location": "query",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list."
            }
          },
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "description": "Gets one remarketing list by ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Remarketing list ID.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "id": "dfareporting.targetableRemarketingLists.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}"
        }
      }
    },
    "mobileApps": {
      "methods": {
        "list": {
          "description": "Retrieves list of available mobile apps.",
          "parameters": {
            "ids": {
              "description": "Select only apps with these IDs.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\".",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "directories": {
              "type": "string",
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ],
              "description": "Select only apps from these directories.",
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/mobileApps",
          "response": {
            "$ref": "MobileAppsListResponse"
          },
          "id": "dfareporting.mobileApps.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/mobileApps"
        },
        "get": {
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "response": {
            "$ref": "MobileApp"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "Mobile app ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Gets one mobile app by ID.",
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}",
          "httpMethod": "GET",
          "id": "dfareporting.mobileApps.get",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "list": {
          "description": "Gets a list of user role permissions, possibly filtered.",
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "ids": {
              "description": "Select only user role permissions with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "httpMethod": "GET",
          "id": "dfareporting.userRolePermissions.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions"
        },
        "get": {
          "parameters": {
            "id": {
              "description": "User role permission ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "description": "Gets one user role permission by ID.",
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "response": {
            "$ref": "UserRolePermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "id": "dfareporting.userRolePermissions.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/cities",
          "response": {
            "$ref": "CitiesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "namePrefix": {
              "location": "query",
              "description": "Select only cities with names starting with this prefix.",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "countryDartIds": {
              "type": "string",
              "description": "Select only cities from these countries.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "dartIds": {
              "type": "string",
              "description": "Select only cities with these DART IDs.",
              "format": "int64",
              "location": "query",
              "repeated": true
            },
            "regionDartIds": {
              "location": "query",
              "repeated": true,
              "format": "int64",
              "description": "Select only cities from these regions.",
              "type": "string"
            }
          },
          "description": "Retrieves a list of cities, possibly filtered.",
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "id": "dfareporting.cities.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "summaryAccountId": {
              "type": "string",
              "description": "Account ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Gets the account's active ad summary by account ID.",
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}",
          "httpMethod": "GET",
          "id": "dfareporting.accountActiveAdSummaries.get",
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ]
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "parameters": {
            "accountId": {
              "format": "int64",
              "location": "query",
              "description": "Required. Account ID associated with this request.",
              "type": "string"
            },
            "name": {
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "Required. User profile ID associated with this request.",
              "required": true
            }
          },
          "description": "Retrieves a list of TV campaign summaries.",
          "path": "userprofiles/{+profileId}/tvCampaignSummaries",
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "id": "dfareporting.tvCampaignSummaries.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "connectionTypes": {
      "methods": {
        "list": {
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "description": "Retrieves a list of connection types.",
          "path": "userprofiles/{+profileId}/connectionTypes",
          "response": {
            "$ref": "ConnectionTypesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes",
          "id": "dfareporting.connectionTypes.list",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "httpMethod": "GET",
          "id": "dfareporting.connectionTypes.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes/{connectionTypesId}",
          "description": "Gets one connection type by ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "description": "Connection type ID.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/connectionTypes/{+id}",
          "response": {
            "$ref": "ConnectionType"
          }
        }
      }
    },
    "creativeFields": {
      "methods": {
        "get": {
          "description": "Gets one creative field by ID.",
          "parameters": {
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "Creative Field ID",
              "required": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "response": {
            "$ref": "CreativeField"
          },
          "httpMethod": "GET",
          "id": "dfareporting.creativeFields.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}"
        },
        "list": {
          "description": "Retrieves a list of creative fields, possibly filtered. This method supports paging.",
          "parameters": {
            "profileId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "ids": {
              "type": "string",
              "description": "Select only creative fields with these IDs.",
              "location": "query",
              "repeated": true,
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, \"creativefield*2015\" will return creative fields with names like \"creativefield June 2015\", \"creativefield April 2015\", or simply \"creativefield 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativefield\" will match creative fields with the name \"my creativefield\", \"creativefield 2015\", or simply \"creativefield\".",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "type": "string",
              "default": "ID",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "advertiserIds": {
              "description": "Select only creative fields that belong to these advertisers.",
              "location": "query",
              "repeated": true,
              "format": "int64",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeFieldsListResponse"
          },
          "httpMethod": "GET",
          "id": "dfareporting.creativeFields.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields"
        },
        "update": {
          "parameters": {
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates an existing creative field.",
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "CreativeField"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields",
          "id": "dfareporting.creativeFields.update",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "PUT"
        },
        "patch": {
          "description": "Updates an existing creative field. This method supports patch semantics.",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "CreativeField ID.",
              "required": true
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "request": {
            "$ref": "CreativeField"
          },
          "httpMethod": "PATCH",
          "id": "dfareporting.creativeFields.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields"
        },
        "insert": {
          "description": "Inserts a new creative field.",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields",
          "response": {
            "$ref": "CreativeField"
          },
          "request": {
            "$ref": "CreativeField"
          },
          "id": "dfareporting.creativeFields.insert",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "POST",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields"
        },
        "delete": {
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Creative Field ID",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Deletes an existing creative field.",
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}",
          "path": "userprofiles/{+profileId}/creativeFields/{+id}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeFields.delete",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "list": {
          "description": "Retrieves a list of operating systems.",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/operatingSystems",
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "httpMethod": "GET",
          "id": "dfareporting.operatingSystems.list",
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems"
        },
        "get": {
          "id": "dfareporting.operatingSystems.get",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "httpMethod": "GET",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}",
          "description": "Gets one operating system by DART ID.",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "User profile ID associated with this request.",
              "required": true,
              "type": "string"
            },
            "dartId": {
              "type": "string",
              "description": "Operating system DART ID.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}",
          "response": {
            "$ref": "OperatingSystem"
          }
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "dfareporting.billingRates.list",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates",
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "parameters": {
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "billingProfileId": {
              "description": "Billing profile ID of this billing rate.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "response": {
            "$ref": "BillingRatesListResponse"
          }
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "id": "dfareporting.remarketingLists.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "RemarketingList"
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "response": {
            "$ref": "RemarketingList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Required. RemarketingList ID.",
              "required": true
            },
            "profileId": {
              "type": "string",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Updates an existing remarketing list. This method supports patch semantics."
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "httpMethod": "GET",
          "id": "dfareporting.remarketingLists.list",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
[...]
