{
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "basePath": "/dfareporting/v4/",
  "discoveryVersion": "v1",
  "id": "dfareporting:v4",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "servicePath": "dfareporting/v4/",
  "ownerDomain": "google.com",
  "title": "Campaign Manager 360 API",
  "schemas": {
    "CrossDimensionReachReportCompatibleFields": {
      "id": "CrossDimensionReachReportCompatibleFields",
      "properties": {
        "overlapMetrics": {
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "breakdown": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        }
      },
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "type": "object"
    },
    "CompanionClickThroughOverride": {
      "description": "Companion Click-through override.",
      "type": "object",
      "id": "CompanionClickThroughOverride",
      "properties": {
        "creativeId": {
          "description": "ID of the creative for this companion click-through override.",
          "type": "string",
          "format": "int64"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this companion click-through override.",
          "$ref": "ClickThroughUrl"
        }
      }
    },
    "ProximityFilter": {
      "description": "Contains proximity filter information.",
      "type": "object",
      "id": "ProximityFilter",
      "properties": {
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "type": "integer",
          "format": "int32"
        },
        "radiusUnitType": {
          "description": "Optional. The units of the radius value",
          "type": "string",
          "enumDescriptions": [
            "The units of the radius value are unknown. This value is unused.",
            "The units of the radius value are kilometers.",
            "The units of the radius value are miles."
          ],
          "enum": [
            "RADIUS_UNIT_TYPE_UNKNOWN",
            "KILOMETERS",
            "MILES"
          ]
        },
        "radiusValue": {
          "description": "Optional. Radius length in units defined by radius_units.",
          "type": "integer",
          "format": "int32"
        },
        "radiusBucketType": {
          "description": "Optional. The radius bucket type of the proximity filter",
          "type": "string",
          "enumDescriptions": [
            "The radius bucket type is unknown.",
            "The radius bucket type is small.",
            "The radius bucket type is medium.",
            "The radius bucket type is large.",
            "The radius bucket type is multi-regional.",
            "The radius bucket type is national."
          ],
          "enum": [
            "RADIUS_BUCKET_TYPE_UNKNOWN",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "MULTI_REGIONAL",
            "NATIONAL"
          ]
        }
      }
    },
    "CreativeCustomEvent": {
      "description": "Creative Custom Event.",
      "type": "object",
      "id": "CreativeCustomEvent",
      "properties": {
        "artworkLabel": {
          "description": "Artwork label column, used to link events in Campaign Manager back to events in Studio. This is a required field and should not be modified after insertion.",
          "type": "string"
        },
        "id": {
          "description": "ID of this event. This is a required field and should not be modified after insertion.",
          "type": "string",
          "format": "int64"
        },
        "videoReportingId": {
          "description": "Video reporting ID, used to differentiate multiple videos in a single creative. This is a read-only field.",
          "type": "string"
        },
        "exitClickThroughUrl": {
          "description": "Exit click-through URL for the event. This field is used only for exit events.",
          "$ref": "CreativeClickThroughUrl"
        },
        "popupWindowProperties": {
          "$ref": "PopupWindowProperties",
          "description": "Properties for rich media popup windows. This field is used only for exit events."
        },
        "artworkType": {
          "description": "Artwork type used by the creative.This is a read-only field.",
          "type": "string",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ]
        },
        "targetType": {
          "description": "Target type used by the event.",
          "type": "string",
          "enumDescriptions": [
            "New tab",
            "Current tab",
            "Same frame",
            "Parent frame",
            "New window with properties specified in window_properties"
          ],
          "enum": [
            "TARGET_BLANK",
            "TARGET_TOP",
            "TARGET_SELF",
            "TARGET_PARENT",
            "TARGET_POPUP"
          ]
        },
        "advertiserCustomEventId": {
          "description": "Unique ID of this event used by Reporting and Data Transfer. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "advertiserCustomEventName": {
          "description": "User-entered name for the event.",
          "type": "string"
        },
        "advertiserCustomEventType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ADVERTISER_EVENT_TIMER",
            "ADVERTISER_EVENT_EXIT",
            "ADVERTISER_EVENT_COUNTER"
          ],
          "description": "Type of the event. This is a read-only field.",
          "type": "string"
        }
      }
    },
    "DynamicFeed": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic feed information.",
      "type": "object",
      "id": "DynamicFeed",
      "properties": {
        "studioAdvertiserId": {
          "description": "Required. Advertiser ID of this dynamic feed. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "feedSchedule": {
          "description": "Optional. The schedule of the dynamic feed. It can be set if the feed is published.",
          "$ref": "FeedSchedule"
        },
        "feedIngestionStatus": {
          "$ref": "FeedIngestionStatus",
          "description": "Output only. The ingestion status of the dynamic feed. This is a read-only field.",
          "readOnly": true
        },
        "dynamicFeedId": {
          "description": "Output only. Unique ID of this dynamic feed. This is a read-only, auto-generated field.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "hasPublished": {
          "description": "Output only. Indicates whether the dynamic feed has a published version. This is a read-only field.",
          "readOnly": true,
          "type": "boolean"
        },
        "status": {
          "readOnly": true,
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "description": "Output only. The status of the feed. It is a read-only field that depends on the the feed ingestion status. The default value is INACTIVE, and it will be updated to ACTIVE once the feed is ingested successfully.",
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The feedstatus is active.",
            "The feed status is inactive.",
            "The feed status is deleted."
          ]
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the dynamic feed. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "dynamicFeedName": {
          "description": "Optional. Name of this dynamic feed. It is defaulted to content source file name if not provided.",
          "type": "string"
        },
        "contentSource": {
          "description": "Required. The content source of the dynamic feed. This is a required field.",
          "$ref": "ContentSource"
        },
        "element": {
          "$ref": "Element",
          "description": "Required. The element of the dynamic feed that is to specify the schema of the feed. This is a required field."
        }
      }
    },
    "PlacementGroupsListResponse": {
      "id": "PlacementGroupsListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\".",
          "type": "string"
        },
        "placementGroups": {
          "description": "Placement group collection.",
          "type": "array",
          "items": {
            "$ref": "PlacementGroup"
          }
        }
      },
      "description": "Placement Group List Response",
      "type": "object"
    },
    "Metro": {
      "description": "Contains information about a metro region that can be targeted by ads.",
      "type": "object",
      "id": "Metro",
      "properties": {
        "dartId": {
          "description": "DART ID of this metro region.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "dmaId": {
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "type": "string",
          "format": "int64"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this metro region belongs.",
          "type": "string",
          "format": "int64"
        },
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        }
      }
    },
    "LanguagesListResponse": {
      "description": "Language List Response",
      "type": "object",
      "id": "LanguagesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        },
        "languages": {
          "items": {
            "$ref": "Language"
          },
          "description": "Language collection.",
          "type": "array"
        }
      }
    },
    "AdvertiserGroup": {
      "id": "AdvertiserGroup",
      "properties": {
        "id": {
          "description": "ID of this advertiser group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\".",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this advertiser group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account.",
          "type": "string"
        }
      },
      "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
      "type": "object"
    },
    "Activities": {
      "description": "Represents an activity group.",
      "type": "object",
      "id": "Activities",
      "properties": {
        "filters": {
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "metricNames": {
          "items": {
            "type": "string"
          },
          "description": "List of names of floodlight activity metrics.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        }
      }
    },
    "DynamicFeedsInsertRequest": {
      "id": "DynamicFeedsInsertRequest",
      "properties": {
        "dynamicProfileId": {
          "description": "Required. Dynamic profile ID of the inserted dynamic feed.",
          "type": "string",
          "format": "int64"
        },
        "dynamicFeed": {
          "description": "Required. Dynamic feed to insert.",
          "$ref": "DynamicFeed"
        }
      },
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id.",
      "type": "object"
    },
    "CreativesListResponse": {
      "id": "CreativesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativesListResponse\".",
          "type": "string"
        },
        "creatives": {
          "description": "Creative collection.",
          "type": "array",
          "items": {
            "$ref": "Creative"
          }
        }
      },
      "description": "Creative List Response",
      "type": "object"
    },
    "ContextualKeywordTargeting": {
      "description": "Contextual Keyword Targeting.",
      "type": "object",
      "id": "ContextualKeywordTargeting",
      "properties": {
        "keywords": {
          "description": "Contextual keywords that this ad targets",
          "type": "array",
          "items": {
            "$ref": "ContextualKeyword"
          }
        }
      }
    },
    "SiteSettings": {
      "description": "Site Settings",
      "type": "object",
      "id": "SiteSettings",
      "properties": {
        "vpaidAdapterChoiceTemplate": {
          "description": "Default VPAID adapter setting for new placements created under this site. This value will be used to populate the placements.vpaidAdapterChoice field, when no value is specified for the new placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to the placement. The publisher's specifications will typically determine this setting. For VPAID creatives, the adapter format will match the VPAID format (HTML5 VPAID creatives use the HTML5 adapter). *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "type": "string",
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ],
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ]
        },
        "videoActiveViewOptOutTemplate": {
          "description": "Whether Verification and ActiveView for in-stream video creatives are disabled by default for new placements created under this site. This value will be used to populate the placement.videoActiveViewOptOut field, when no value is specified for the new placement.",
          "type": "boolean"
        },
        "disableNewCookie": {
          "description": "Whether new cookies are disabled for this site.",
          "type": "boolean"
        },
        "tagSetting": {
          "$ref": "TagSetting",
          "description": "Configuration settings for dynamic and image floodlight tags."
        },
        "activeViewOptOut": {
          "description": "Whether active view creatives are disabled for this site.",
          "type": "boolean"
        },
        "adBlockingOptOut": {
          "description": "Whether this site opts out of ad blocking. When true, ad blocking is disabled for all placements under the site, regardless of the individual placement settings. When false, the campaign and placement settings take effect.",
          "type": "boolean"
        }
      }
    },
    "TagData": {
      "description": "Placement Tag Data",
      "type": "object",
      "id": "TagData",
      "properties": {
        "creativeId": {
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string",
          "format": "int64"
        },
        "format": {
          "description": "TagData tag format of this tag.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ]
        },
        "adId": {
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string",
          "format": "int64"
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        },
        "clickTag": {
          "description": "Tag string to record a click.",
          "type": "string"
        }
      }
    },
    "OperatingSystemsListResponse": {
      "id": "OperatingSystemsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemsListResponse\".",
          "type": "string"
        },
        "operatingSystems": {
          "items": {
            "$ref": "OperatingSystem"
          },
          "description": "Operating system collection.",
          "type": "array"
        }
      },
      "description": "Operating System List Response",
      "type": "object"
    },
    "ConversionStatus": {
      "id": "ConversionStatus",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionStatus\".",
          "type": "string"
        },
        "conversion": {
          "description": "The original conversion that was inserted or updated.",
          "$ref": "Conversion"
        },
        "errors": {
          "items": {
            "$ref": "ConversionError"
          },
          "description": "A list of errors related to this conversion.",
          "type": "array"
        }
      },
      "description": "The original conversion that was inserted or updated and whether there were any errors.",
      "type": "object"
    },
    "DeliverySchedule": {
      "description": "Delivery Schedule.",
      "type": "object",
      "id": "DeliverySchedule",
      "properties": {
        "priority": {
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ]
        },
        "impressionRatio": {
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "hardCutoff": {
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals.",
          "type": "boolean"
        },
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        }
      }
    },
    "AudienceSegment": {
      "id": "AudienceSegment",
      "properties": {
        "allocation": {
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "id": {
          "description": "ID of this audience segment. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Audience Segment.",
      "type": "object"
    },
    "ListPopulationClause": {
      "id": "ListPopulationClause",
      "properties": {
        "terms": {
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "type": "array",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      },
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "type": "object"
    },
    "CreativeFieldValue": {
      "id": "CreativeFieldValue",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        }
      },
      "description": "Contains properties of a creative field value.",
      "type": "object"
    },
    "SortedDimension": {
      "description": "Represents a sorted dimension.",
      "type": "object",
      "id": "SortedDimension",
      "properties": {
        "sortOrder": {
          "description": "An optional sort order for the dimension column.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#sortedDimension.",
          "type": "string"
        },
        "name": {
          "description": "The name of the dimension.",
          "type": "string"
        }
      }
    },
    "OperatingSystemVersionsListResponse": {
      "description": "Operating System Version List Response",
      "type": "object",
      "id": "OperatingSystemVersionsListResponse",
      "properties": {
        "operatingSystemVersions": {
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "description": "Operating system version collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
          "type": "string"
        }
      }
    },
    "DayPartTargeting": {
      "description": "Day Part Targeting.",
      "type": "object",
      "id": "DayPartTargeting",
      "properties": {
        "daysOfWeek": {
          "description": "Days of the week when the ad will serve. Acceptable values are: - \"SUNDAY\" - \"MONDAY\" - \"TUESDAY\" - \"WEDNESDAY\" - \"THURSDAY\" - \"FRIDAY\" - \"SATURDAY\" ",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "SUNDAY",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY"
            ]
          }
        },
        "hoursOfDay": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Hours of the day when the ad will serve, where 0 is midnight to 1 AM and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm. Acceptable values are 0 to 23, inclusive.",
          "type": "array"
        },
        "userLocalTime": {
          "description": "Whether or not to use the user's local time. If false, the America/New York time zone applies.",
          "type": "boolean"
        }
      }
    },
    "DimensionValueRequest": {
      "description": "Represents a DimensionValuesRequest.",
      "type": "object",
      "id": "DimensionValueRequest",
      "properties": {
        "dimensionName": {
          "description": "The name of the dimension for which values should be requested.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "filters": {
          "items": {
            "$ref": "DimensionFilter"
          },
          "description": "The list of filters by which to filter values. The filters are ANDed.",
          "type": "array"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "description": "The kind of request this is, in this case dfareporting#dimensionValueRequest .",
          "type": "string"
        }
      }
    },
    "ConversionsBatchInsertRequest": {
      "id": "ConversionsBatchInsertRequest",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertRequest\".",
          "type": "string"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId or encryptedUserIdCandidates[] is encrypted. This is a required field if encryptedUserId or encryptedUserIdCandidates[] is used.",
          "$ref": "EncryptionInfo"
        },
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to insert.",
          "type": "array"
        }
      },
      "description": "Insert Conversions Request.",
      "type": "object"
    },
    "DirectorySiteSettings": {
      "description": "Directory Site Settings",
      "type": "object",
      "id": "DirectorySiteSettings",
      "properties": {
        "interstitialPlacementAccepted": {
          "description": "Whether this site accepts interstitial ads.",
          "type": "boolean"
        },
        "instreamVideoPlacementAccepted": {
          "description": "Whether this site accepts in-stream video ads.",
          "type": "boolean"
        },
        "activeViewOptOut": {
          "description": "Whether this directory site has disabled active view creatives.",
          "type": "boolean"
        },
        "dfpSettings": {
          "description": "Directory site Ad Manager settings.",
          "$ref": "DfpSettings"
        }
      }
    },
    "Rule": {
      "description": "A rule associates an asset with a targeting template for asset-level targeting. Applicable to INSTREAM_VIDEO creatives.",
      "type": "object",
      "id": "Rule",
      "properties": {
        "name": {
          "description": "A user-friendly name for this rule. This is a required field.",
          "type": "string"
        },
        "assetId": {
          "description": "A creativeAssets[].id. This should refer to one of the parent assets in this creative. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "targetingTemplateId": {
          "description": "A targeting template ID. The targeting from the targeting template will be used to determine whether this asset should be served. This is a required field.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "UserProfileList": {
      "description": "Represents the list of user profiles.",
      "type": "object",
      "id": "UserProfileList",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userProfileList\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "The user profiles returned in this response.",
          "type": "array",
          "items": {
            "$ref": "UserProfile"
          }
        }
      }
    },
    "FloodlightActivityPublisherDynamicTag": {
      "id": "FloodlightActivityPublisherDynamicTag",
      "properties": {
        "directorySiteId": {
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "type": "string",
          "format": "int64"
        },
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "siteId": {
          "description": "Site ID of this dynamic tag.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Publisher Dynamic Tag",
      "type": "object"
    },
    "BillingRatesListResponse": {
      "id": "BillingRatesListResponse",
      "properties": {
        "billingRates": {
          "items": {
            "$ref": "BillingRate"
          },
          "description": "Billing rates collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "description": "Billing Rate List Response",
      "type": "object"
    },
    "ThirdPartyTrackingUrl": {
      "description": "Third-party Tracking URL.",
      "type": "object",
      "id": "ThirdPartyTrackingUrl",
      "properties": {
        "thirdPartyUrlType": {
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "description": "Third-party URL type for in-stream video and in-stream audio creatives.",
          "type": "string"
        },
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        }
      }
    },
    "VideoOffset": {
      "description": "Video Offset",
      "type": "object",
      "id": "VideoOffset",
      "properties": {
        "offsetSeconds": {
          "description": "Duration, in seconds. Do not set when offsetPercentage is set. Acceptable values are 0 to 86399, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "offsetPercentage": {
          "description": "Duration, as a percentage of video duration. Do not set when offsetSeconds is set. Acceptable values are 0 to 100, inclusive.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CampaignsListResponse": {
      "description": "Campaign List Response",
      "type": "object",
      "id": "CampaignsListResponse",
      "properties": {
        "campaigns": {
          "description": "Campaign collection.",
          "type": "array",
          "items": {
            "$ref": "Campaign"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
          "type": "string"
        }
      }
    },
    "Placement": {
      "id": "Placement",
      "properties": {
        "name": {
          "description": "Name of this placement.This is a required field and must be less than or equal to 512 characters long.",
          "type": "string"
        },
        "placementGroupId": {
          "description": "ID of this placement's group, if applicable.",
          "type": "string",
          "format": "int64"
        },
        "tagFormats": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLACEMENT_TAG_STANDARD",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_IFRAME_ILAYER",
              "PLACEMENT_TAG_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
              "PLACEMENT_TAG_CLICK_COMMANDS",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
              "PLACEMENT_TAG_TRACKING",
              "PLACEMENT_TAG_TRACKING_IFRAME",
              "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
              "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
            ]
          },
          "description": "Tag formats to generate for this placement. This field is required on insertion. Acceptable values are: - \"PLACEMENT_TAG_STANDARD\" - \"PLACEMENT_TAG_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_IFRAME_ILAYER\" - \"PLACEMENT_TAG_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT\" - \"PLACEMENT_TAG_CLICK_COMMANDS\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4\" - \"PLACEMENT_TAG_TRACKING\" - \"PLACEMENT_TAG_TRACKING_IFRAME\" - \"PLACEMENT_TAG_TRACKING_JAVASCRIPT\" ",
          "type": "array"
        },
        "accountId": {
          "description": "Account ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "pricingSchedule": {
          "$ref": "PricingSchedule",
          "description": "Pricing schedule of this placement. This field is required on insertion, specifically subfields startDate, endDate and pricingType."
        },
        "primary": {
          "description": "Whether this placement is the primary placement of a roadblock (placement group). You cannot change this field from true to false. Setting this field to true will automatically set the primary field on the original primary placement of the roadblock to false, and it will automatically set the roadblock's primaryPlacementId field to the ID of this placement.",
          "type": "boolean"
        },
        "keyName": {
          "description": "Key name of this placement. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "tagSetting": {
          "description": "Tag settings for this placement.",
          "$ref": "TagSetting"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "allowOnYoutube": {
          "description": "Optional. Whether the placement is enabled for YouTube integration.",
          "type": "boolean"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "enumDescriptions": [
            "Placement is not yet reviewed by publisher.",
            "Placement Ad Serving fee is accepted by publisher",
            "Placement Ad Serving fee is rejected by publisher",
            "Advertisers has accepted rejection of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers has accepted acceptance of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers is still working on placement not yet ready for Publisher review; default status for pub-paid placements"
          ],
          "enum": [
            "PENDING_REVIEW",
            "PAYMENT_ACCEPTED",
            "PAYMENT_REJECTED",
            "ACKNOWLEDGE_REJECTION",
            "ACKNOWLEDGE_ACCEPTANCE",
            "DRAFT"
          ],
          "description": "Third-party placement status.",
          "type": "string"
        },
        "publisherUpdateInfo": {
          "description": "Information about the last publisher update. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "adBlockingOptOut": {
          "description": "Whether this placement opts out of ad blocking. When true, ad blocking is disabled for this placement. When false, the campaign and site settings take effect.",
          "type": "boolean"
        },
        "compatibility": {
          "description": "Placement compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering on desktop, on mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are no longer allowed for new placement insertions. Instead, use DISPLAY or DISPLAY_INTERSTITIAL. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. This field is required on insertion.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ]
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "adServingPlatformId": {
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the placement. Measurement partners can use this field to add ad-server specific macros. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "campaignId": {
          "description": "Campaign ID of this placement. This field is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement.",
          "type": "string",
          "format": "int64"
        },
        "videoSettings": {
          "$ref": "VideoSettings",
          "description": "A collection of settings which affect video creatives served through this placement. Applicable to placements with IN_STREAM_VIDEO compatibility."
        },
        "wrappingOptOut": {
          "description": "Whether this placement opts out of tag wrapping.",
          "type": "boolean"
        },
        "siteServed": {
          "description": "Optional. Whether the ads in the placement are served by another platform and CM is only used for tracking or they are served by CM. A false value indicates the ad is served by CM.",
          "type": "boolean"
        },
        "youtubeSettings": {
          "description": "Optional. YouTube settings for the placement. The placement must be enabled for YouTube to use this field.",
          "$ref": "YoutubeSettings"
        },
        "vpaidAdapterChoice": {
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ],
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ],
          "description": "VPAID adapter setting for this placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to this placement. *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "videoActiveViewOptOut": {
          "description": "Whether Verification and ActiveView are disabled for in-stream video creatives for this placement. The same setting videoActiveViewOptOut exists on the site level -- the opt out occurs if either of these settings are true. These settings are distinct from DirectorySites.settings.activeViewOptOut or Sites.siteSettings.activeViewOptOut which only apply to display ads. However, Accounts.activeViewOptOut opts out both video traffic, as well as display ads, from Verification and ActiveView.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "conversionDomainOverride": {
          "description": "Optional. Conversion domain overrides for a placement.",
          "$ref": "PlacementConversionDomainOverride"
        },
        "siteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field."
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "partnerWrappingData": {
          "$ref": "MeasurementPartnerWrappingData",
          "description": "Measurement partner provided settings for a wrapped placement."
        },
        "activeStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "description": "Whether this placement is active, inactive, archived or permanently archived.",
          "type": "string"
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Lookback window settings for this placement."
        },
        "paymentSource": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_AGENCY_PAID",
            "PLACEMENT_PUBLISHER_PAID"
          ],
          "description": "Payment source for this placement. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this placement. This is a read-only field."
        },
        "placementGroupIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the placement group. This is a read-only, auto-generated field."
        },
        "additionalSizes": {
          "description": "Additional sizes associated with this placement. When inserting or updating a placement, only the size ID field is used.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "size": {
          "description": "Size associated with this placement. When inserting or updating a placement, only the size ID field is used. This field is required on insertion.",
          "$ref": "Size"
        },
        "siteId": {
          "description": "Site ID associated with this placement. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "ID of this placement. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "directorySiteId": {
          "description": "Directory site ID of this placement. On insert, you must set either this field or the siteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "paymentApproved": {
          "description": "Whether payment was approved for this placement. This is a read-only field relevant only to publisher-paid placements.",
          "type": "boolean"
        },
        "sslRequired": {
          "description": "Whether creatives assigned to this placement must be SSL-compliant.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placement\".",
          "type": "string"
        },
        "comment": {
          "description": "Comments for this placement.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        }
      },
      "description": "Contains properties of a placement.",
      "type": "object"
    },
    "PricingSchedule": {
      "description": "Pricing Schedule",
      "type": "object",
      "id": "PricingSchedule",
      "properties": {
        "pricingPeriods": {
          "description": "Pricing periods for this placement.",
          "type": "array",
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          }
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "capCostOption": {
          "description": "Placement cap cost option.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ]
        },
        "testingStartDate": {
          "type": "string",
          "format": "date"
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "type": "string",
          "format": "int64"
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "pricingType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "description": "Placement pricing type. This field is required on insertion.",
          "type": "string"
        }
      }
    },
    "CreativeFieldValuesListResponse": {
      "id": "CreativeFieldValuesListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValuesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creativeFieldValues": {
          "items": {
            "$ref": "CreativeFieldValue"
          },
          "description": "Creative field value collection.",
          "type": "array"
        }
      },
      "description": "Creative Field Value List Response",
      "type": "object"
    },
    "TvCampaignSummary": {
      "id": "TvCampaignSummary",
      "properties": {
        "grp": {
          "description": "GRP of this TV campaign.",
          "type": "string",
          "format": "int64"
        },
        "spend": {
          "description": "Spend across the entire TV campaign.",
          "type": "number",
          "format": "double"
        },
        "startDate": {
          "description": "The start date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of this TV campaign.",
          "type": "string"
        },
        "endDate": {
          "description": "The end date of the TV campaign, inclusive. A string of the format: \"yyyy-MM-dd\".",
          "type": "string"
        },
        "impressions": {
          "description": "Impressions across the entire TV campaign.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "enumDescriptions": [
            "Required to exist; do not use.",
            "Company.",
            "Brand.",
            "Product.",
            "Campaign."
          ],
          "enum": [
            "CAMPAIGN_COMPONENT_TYPE_UNSPECIFIED",
            "COMPANY",
            "BRAND",
            "PRODUCT",
            "CAMPAIGN"
          ],
          "description": "\"CampaignComponentType\" of this TV campaign.",
          "type": "string"
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        }
      },
      "description": "TvCampaignSummary contains aggregate data from a TV campaign.",
      "type": "object"
    },
    "CustomRule": {
      "description": "Contains custom rule information.",
      "type": "object",
      "id": "CustomRule",
      "properties": {
        "priority": {
          "description": "Optional. Priority of the custom rule.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Optional. Name of this custom rule.",
          "type": "string"
        },
        "ruleBlocks": {
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "type": "array",
          "items": {
            "$ref": "RuleBlock"
          }
        }
      }
    },
    "PlatformType": {
      "id": "PlatformType",
      "properties": {
        "id": {
          "description": "ID of this platform type.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this platform type.",
          "type": "string"
        }
      },
      "description": "Contains information about a platform type that can be targeted by ads.",
      "type": "object"
    },
    "ConnectionTypesListResponse": {
      "description": "Connection Type List Response",
      "type": "object",
      "id": "ConnectionTypesListResponse",
      "properties": {
        "connectionTypes": {
          "description": "Collection of connection types such as broadband and mobile.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
          "type": "string"
        }
      }
    },
    "GeoTargeting": {
      "description": "Geographical Targeting.",
      "type": "object",
      "id": "GeoTargeting",
      "properties": {
        "excludeCountries": {
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad.",
          "type": "boolean"
        },
        "countries": {
          "items": {
            "$ref": "Country"
          },
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country.",
          "type": "array"
        },
        "regions": {
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region.",
          "type": "array",
          "items": {
            "$ref": "Region"
          }
        },
        "metros": {
          "items": {
            "$ref": "Metro"
          },
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro.",
          "type": "array"
        },
        "cities": {
          "items": {
            "$ref": "City"
          },
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city.",
          "type": "array"
        },
        "postalCodes": {
          "items": {
            "$ref": "PostalCode"
          },
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code.",
          "type": "array"
        }
      }
    },
    "LanguageTargeting": {
      "id": "LanguageTargeting",
      "properties": {
        "languages": {
          "items": {
            "$ref": "Language"
          },
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array"
        }
      },
      "description": "Language Targeting.",
      "type": "object"
    },
    "PlacementStrategy": {
      "id": "PlacementStrategy",
      "properties": {
        "accountId": {
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account.",
          "type": "string"
        }
      },
      "description": "Contains properties of a placement strategy.",
      "type": "object"
    },
    "DynamicProfileVersion": {
      "id": "DynamicProfileVersion",
      "properties": {
        "versionId": {
          "description": "Output only. Version ID of this dynamic profile version. This is a read-only, auto-generated field. -1 for draft version, 0+ for published versions.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "dynamicProfileFeedSettings": {
          "items": {
            "$ref": "DynamicProfileFeedSettings"
          },
          "description": "Optional. Associated dynamic feeds and their settings (including dynamic rules) for this dynamic profile version.",
          "type": "array"
        }
      },
      "description": "Contains dynamic profile version information.",
      "type": "object"
    },
    "PlacementTag": {
      "description": "Placement Tag",
      "type": "object",
      "id": "PlacementTag",
      "properties": {
        "placementId": {
          "description": "Placement ID",
          "type": "string",
          "format": "int64"
        },
        "tagDatas": {
          "description": "Tags generated for this placement.",
          "type": "array",
          "items": {
            "$ref": "TagData"
          }
        }
      }
    },
    "ListTargetingExpression": {
      "id": "ListTargetingExpression",
      "properties": {
        "expression": {
          "description": "Expression describing which lists are being targeted by the ad.",
          "type": "string"
        }
      },
      "description": "Remarketing List Targeting Expression.",
      "type": "object"
    },
    "DependentFieldValue": {
      "description": "Contains dependent field value information.",
      "type": "object",
      "id": "DependentFieldValue",
      "properties": {
        "elementId": {
          "description": "Optional. The ID of the element that value's field will match against.",
          "type": "string",
          "format": "int64"
        },
        "fieldId": {
          "description": "Optional. The field id of the dependent field.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DfareportingStudioCreativeAssetsInsertRequest": {
      "id": "DfareportingStudioCreativeAssetsInsertRequest",
      "properties": {
        "studioAccountId": {
          "description": "Optional. Studio account ID of the studio creative asset. It is a optional.",
          "type": "string",
          "format": "int64"
        },
        "studioCreativeId": {
          "description": "Optional. Studio creative ID of the studio creative asset. It is a optional field. If it is set, the asset will be associated to the creative.",
          "type": "string",
          "format": "int64"
        },
        "studioAdvertiserId": {
          "description": "Required. Studio advertiser ID of the studio creative asset. It is a required field on insertion.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Request message for DfareportingStudioCreativeAssets.Insert.",
      "type": "object"
    },
    "CartData": {
      "description": "Contains additional information about cart data. This field may only be used when calling batchinsert; it is not supported by batchupdate. Cart data reporting is only supported in SA360. [Learn more](https://support.google.com/sa360/topic/13425788)",
      "type": "object",
      "id": "CartData",
      "properties": {
        "merchantFeedLanguage": {
          "description": "The language associated with the feed where your items are uploaded. Use ISO 639-1 language codes. Providing the feed language reduces ambiguity in identifying the right offer details.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "CartDataItem"
          },
          "description": "Data of the items purchased.",
          "type": "array"
        },
        "merchantId": {
          "description": "The Merchant Center ID where the items are uploaded. Providing Merchant Center ID reduces ambiguity in identifying the right offer details.",
          "type": "string",
          "format": "int64"
        },
        "merchantFeedLabel": {
          "description": "The feed labels associated with the feed where your items are uploaded. For more information, please refer to ​​ https://support.google.com/merchants/answer/12453549. Providing the feed label reduces ambiguity in identifying the right offer details.",
          "type": "string"
        }
      }
    },
    "InventoryItem": {
      "description": "Represents a buy from the Planning inventory store.",
      "type": "object",
      "id": "InventoryItem",
      "properties": {
        "estimatedConversionRate": {
          "description": "Estimated conversion rate of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "description": "Subaccount ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "inPlan": {
          "description": "Whether this inventory item is in plan.",
          "type": "boolean"
        },
        "siteId": {
          "description": "ID of the site this inventory item is associated with.",
          "type": "string",
          "format": "int64"
        },
        "orderId": {
          "description": "Order ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "placementStrategyId": {
          "description": "Placement strategy ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this inventory item.",
          "$ref": "LastModifiedInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#inventoryItem\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this inventory item. For standalone inventory items, this is the same name as that of its only ad slot. For group inventory items, this can differ from the name of any of its ad slots.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "rfpId": {
          "description": "RFP ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Type of inventory item.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLANNING_PLACEMENT_TYPE_REGULAR",
            "PLANNING_PLACEMENT_TYPE_CREDIT"
          ]
        },
        "accountId": {
          "description": "Account ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "pricing": {
          "$ref": "Pricing",
          "description": "Pricing of this inventory item."
        },
        "estimatedClickThroughRate": {
          "description": "Estimated click-through rate of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "adSlots": {
          "items": {
            "$ref": "AdSlot"
          },
          "description": "Ad slots of this inventory item. If this inventory item represents a standalone placement, there will be exactly one ad slot. If this inventory item represents a placement group, there will be more than one ad slot, each representing one child placement in that placement group.",
          "type": "array"
        },
        "projectId": {
          "description": "Project ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "contentCategoryId": {
          "description": "Content category ID of this inventory item.",
          "type": "string",
          "format": "int64"
        },
        "negotiationChannelId": {
          "description": "Negotiation channel ID of this inventory item.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "properties": {
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "campaignId": {
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "type": "string",
          "format": "int64"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "childPlacementIds": {
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "accountId": {
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "pricingSchedule": {
          "$ref": "PricingSchedule",
          "description": "Pricing schedule of this placement group. This field is required on insertion."
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement group.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "siteId": {
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "directorySiteId": {
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the most recent modification of this placement group. This is a read-only field."
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "activeStatus": {
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ]
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "placementGroupType": {
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "type": "string",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ]
        },
        "primaryPlacementId": {
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string",
          "format": "int64"
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        }
      },
      "description": "Contains properties of a package or roadblock.",
      "type": "object"
    },
    "FloodlightReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "type": "object",
      "id": "FloodlightReportCompatibleFields",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields.",
          "type": "string"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        }
      }
    },
    "Invoice": {
      "description": "Contains information about a single invoice",
      "type": "object",
      "id": "Invoice",
      "properties": {
        "id": {
          "description": "ID of this invoice.",
          "type": "string"
        },
        "invoiceType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INVOICE_TYPE_UNSPECIFIED",
            "INVOICE_TYPE_CREDIT",
            "INVOICE_TYPE_INVOICE"
          ],
          "description": "The type of invoice document.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#invoice\".",
          "type": "string"
        },
        "totalAmountMicros": {
          "description": "The invoice total amount, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "serviceEndDate": {
          "description": "The invoice service end date.",
          "type": "string"
        },
        "serviceStartDate": {
          "description": "The invoice service start date.",
          "type": "string"
        },
        "totalTaxAmountMicros": {
          "description": "The sum of all taxes in invoice, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "paymentsProfileId": {
          "description": "The ID of the payments profile the invoice belongs to. Appears on the invoice PDF as *Billing ID*.",
          "type": "string"
        },
        "purchaseOrderNumber": {
          "description": "Purchase order number associated with the invoice.",
          "type": "string"
        },
        "correctedInvoiceId": {
          "description": "The originally issued invoice that is being adjusted by this invoice, if applicable. May appear on invoice PDF as *Reference invoice number*.",
          "type": "string"
        },
        "replacedInvoiceIds": {
          "description": "The originally issued invoice(s) that is being cancelled by this invoice, if applicable. May appear on invoice PDF as *Replaced invoice numbers*. Note: There may be multiple replaced invoices due to consolidation of multiple invoices into a single invoice.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pdfUrl": {
          "description": "The URL to download a PDF copy of the invoice. Note that this URL is user specific and requires a valid OAuth 2.0 access token to access. The access token must be provided in an *Authorization: Bearer* HTTP header. The URL will only be usable for 7 days from when the api is called.",
          "type": "string"
        },
        "campaign_summaries": {
          "description": "The list of summarized campaign information associated with this invoice.",
          "type": "array",
          "items": {
            "$ref": "CampaignSummary"
          }
        },
        "dueDate": {
          "description": "The invoice due date.",
          "type": "string"
        },
        "paymentsAccountId": {
          "description": "The ID of the payments account the invoice belongs to. Appears on the invoice PDF as *Billing Account Number*.",
          "type": "string"
        },
        "subtotalAmountMicros": {
          "description": "The pre-tax subtotal amount, in micros of the invoice's currency.",
          "type": "string",
          "format": "int64"
        },
        "issueDate": {
          "description": "The date when the invoice was issued.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Invoice currency code in ISO 4217 format.",
          "type": "string"
        }
      }
    },
    "ClickThroughUrl": {
      "description": "Click-through URL",
      "type": "object",
      "id": "ClickThroughUrl",
      "properties": {
        "customClickThroughUrl": {
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset.",
          "type": "string"
        },
        "computedClickThroughUrl": {
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. ",
          "type": "string"
        },
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "type": "string",
          "format": "int64"
        },
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        }
      }
    },
    "FloodlightConfigurationsListResponse": {
      "id": "FloodlightConfigurationsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfigurationsListResponse\".",
          "type": "string"
        },
        "floodlightConfigurations": {
          "description": "Floodlight configuration collection.",
          "type": "array",
          "items": {
            "$ref": "FloodlightConfiguration"
          }
        }
      },
      "description": "Floodlight Configuration List Response",
      "type": "object"
    },
    "CustomValueField": {
      "description": "Contains custom value field information.",
      "type": "object",
      "id": "CustomValueField",
      "properties": {
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "type": "integer",
          "format": "int32"
        },
        "requestKey": {
          "description": "Optional. Custom key used to match for auto filtering.",
          "type": "string"
        }
      }
    },
    "SitesListResponse": {
      "description": "Site List Response",
      "type": "object",
      "id": "SitesListResponse",
      "properties": {
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "Site collection.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\".",
          "type": "string"
        }
      }
    },
    "EventTagsListResponse": {
      "description": "Event Tag List Response",
      "type": "object",
      "id": "EventTagsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTagsListResponse\".",
          "type": "string"
        },
        "eventTags": {
          "description": "Event tag collection.",
          "type": "array",
          "items": {
            "$ref": "EventTag"
          }
        }
      }
    },
    "ListPopulationTerm": {
      "id": "ListPopulationTerm",
      "properties": {
        "variableFriendlyName": {
          "description": "Friendly name of this term's variable. This is a read-only, auto-generated field. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM.",
          "type": "string"
        },
        "value": {
          "description": "Literal to compare the variable to. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "negation": {
          "description": "Whether to negate the comparison result of this term during rule evaluation. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "boolean"
        },
        "variableName": {
          "description": "Name of the variable (U1, U2, etc.) being compared in this term. This field is only relevant when type is set to null, CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "contains": {
          "description": "Will be true if the term should check if the user is in the list and false if the term should check if the user is not in the list. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM. False by default.",
          "type": "boolean"
        },
        "operator": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NUM_EQUALS",
            "NUM_LESS_THAN",
            "NUM_LESS_THAN_EQUAL",
            "NUM_GREATER_THAN",
            "NUM_GREATER_THAN_EQUAL",
            "STRING_EQUALS",
            "STRING_CONTAINS"
          ],
          "description": "Comparison operator of this term. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CUSTOM_VARIABLE_TERM",
            "LIST_MEMBERSHIP_TERM",
            "REFERRER_TERM"
          ],
          "description": "List population term type determines the applicable fields in this object. If left unset or set to CUSTOM_VARIABLE_TERM, then variableName, variableFriendlyName, operator, value, and negation are applicable. If set to LIST_MEMBERSHIP_TERM then remarketingListId and contains are applicable. If set to REFERRER_TERM then operator, value, and negation are applicable.",
          "type": "string"
        },
        "remarketingListId": {
          "description": "ID of the list in question. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Remarketing List Population Rule Term.",
      "type": "object"
    },
    "AccountUserProfile": {
      "id": "AccountUserProfile",
      "properties": {
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "userRoleId": {
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "campaignFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which campaigns are visible to the user profile."
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "traffickerType": {
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "type": "string"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "userAccessType": {
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ],
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        }
      },
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "type": "object"
    },
    "CreativeAssetSelection": {
      "description": "Encapsulates the list of rules for asset selection and a default asset in case none of the rules match. Applicable to INSTREAM_VIDEO creatives.",
      "type": "object",
      "id": "CreativeAssetSelection",
      "properties": {
        "rules": {
          "description": "Rules determine which asset will be served to a viewer. Rules will be evaluated in the order in which they are stored in this list. This list must contain at least one rule. Applicable to INSTREAM_VIDEO creatives.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "defaultAssetId": {
          "description": "A creativeAssets[].id. This should refer to one of the parent assets in this creative, and will be served if none of the rules match. This is a required field.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "File": {
      "description": "Represents a File resource. A file contains the metadata for a report run. It shows the status of the run and holds the URLs to the generated report data if the run is finished and the status is \"REPORT_AVAILABLE\".",
      "type": "object",
      "id": "File",
      "properties": {
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PROCESSING",
            "REPORT_AVAILABLE",
            "FAILED",
            "CANCELLED",
            "QUEUED"
          ],
          "description": "The status of the report file.",
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "description": "The output format of the report. Only available once the file is available.",
          "type": "string"
        },
        "dateRange": {
          "description": "The date range for which the file has report data. The date range will always be the absolute date range for which the report is run.",
          "$ref": "DateRange"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#file\".",
          "type": "string"
        },
        "urls": {
[...]
