{
  "id": "dfareporting:v5",
  "version": "v5",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260310",
  "name": "dfareporting",
  "canonicalName": "Dfareporting",
  "ownerDomain": "google.com",
  "title": "Campaign Manager 360 API",
  "basePath": "/dfareporting/v5/",
  "schemas": {
    "Site": {
      "type": "object",
      "id": "Site",
      "description": "Contains properties of a site.",
      "properties": {
        "keyName": {
          "description": "Key name of this site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "directorySiteId": {
          "type": "string",
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion.",
          "format": "int64"
        },
        "adServingPlatformId": {
          "type": "string",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "format": "int64"
        },
        "videoSettings": {
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement.",
          "$ref": "SiteVideoSettings"
        },
        "subaccountId": {
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "siteContacts": {
          "type": "array",
          "items": {
            "$ref": "SiteContact"
          },
          "description": "Site contacts."
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteSettings": {
          "description": "Site-wide settings.",
          "$ref": "SiteSettings"
        },
        "name": {
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this site. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this site. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "approved": {
          "type": "boolean",
          "description": "Whether this site is approved."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\"."
        }
      }
    },
    "ContentSource": {
      "id": "ContentSource",
      "description": "Contains the content source of the dynamic feed.",
      "properties": {
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the content source. This is a read-only field."
        },
        "contentSourceName": {
          "type": "string",
          "description": "Optional. The name of the content source. It is defaulted to content source file name if not provided."
        },
        "createInfo": {
          "readOnly": true,
          "description": "Output only. The creation timestamp of the content source. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "The resource type is unspecified.",
            "The resource type is google spreadsheet.",
            "The resource type is remote file."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_GOOGLE_SPREADSHEET",
            "RESOURCE_TYPE_REMOTE_FILE"
          ],
          "description": "Required. The resource type of the content source."
        },
        "metaData": {
          "$ref": "ContentSourceMetaData",
          "readOnly": true,
          "description": "Output only. Metadata of the content source. It contains the number of rows and the column names from resource link. This is a read-only field."
        },
        "resourceLink": {
          "type": "string",
          "description": "Required. The link to the file of the content source."
        }
      },
      "type": "object"
    },
    "FloodlightActivitiesListResponse": {
      "id": "FloodlightActivitiesListResponse",
      "description": "Floodlight Activity List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivitiesListResponse\".",
          "type": "string"
        },
        "floodlightActivities": {
          "type": "array",
          "description": "Floodlight activity collection.",
          "items": {
            "$ref": "FloodlightActivity"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BillingAssignment": {
      "type": "object",
      "id": "BillingAssignment",
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "properties": {
        "campaignId": {
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "type": "string",
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\".",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser"
        }
      }
    },
    "OffsetPosition": {
      "id": "OffsetPosition",
      "description": "Offset Position.",
      "properties": {
        "left": {
          "type": "integer",
          "description": "Offset distance from left side of an asset or a window.",
          "format": "int32"
        },
        "top": {
          "description": "Offset distance from top side of an asset or a window.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DimensionValue": {
      "id": "DimensionValue",
      "description": "Represents a DimensionValue resource.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the dimension."
        },
        "matchType": {
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue.",
          "type": "string"
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID associated with the value if available."
        }
      },
      "type": "object"
    },
    "UniversalAdId": {
      "id": "UniversalAdId",
      "description": "A Universal Ad ID as per the VAST 4.0 spec. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID.",
      "properties": {
        "value": {
          "type": "string",
          "description": "ID value for this creative. Only alphanumeric characters and the following symbols are valid: \"_/\\-\". Maximum length is 64 characters. Read only when registry is DCM."
        },
        "registry": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OTHER",
            "AD_ID_OFFICIAL",
            "CLEARCAST",
            "DCM",
            "ARPP",
            "CUSV"
          ],
          "description": "Registry used for the Ad ID value."
        }
      },
      "type": "object"
    },
    "IngestionErrorRecord": {
      "id": "IngestionErrorRecord",
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "properties": {
        "recordId": {
          "description": "Output only. The record ID of the ingestion error record.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "FieldError"
          },
          "description": "Output only. The list of field errors of the ingestion error record.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CitiesListResponse": {
      "type": "object",
      "id": "CitiesListResponse",
      "description": "City List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
          "type": "string"
        },
        "cities": {
          "description": "City collection.",
          "items": {
            "$ref": "City"
          },
          "type": "array"
        }
      }
    },
    "FloodlightConfiguration": {
      "id": "FloodlightConfiguration",
      "description": "Contains properties of a Floodlight configuration.",
      "properties": {
        "lookbackConfiguration": {
          "description": "Lookback window settings for this floodlight configuration.",
          "$ref": "LookbackConfiguration"
        },
        "id": {
          "type": "string",
          "description": "ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "analyticsDataSharingEnabled": {
          "type": "boolean",
          "description": "Whether advertiser data is shared with Google Analytics."
        },
        "inAppAttributionTrackingEnabled": {
          "description": "Whether in-app attribution tracking is enabled.",
          "type": "boolean"
        },
        "naturalSearchConversionAttributionOption": {
          "enum": [
            "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
          ],
          "description": "Types of attribution options for natural search conversions.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "tagSettings": {
          "$ref": "TagSettings",
          "description": "Configuration settings for dynamic and image floodlight tags."
        },
        "thirdPartyAuthenticationTokens": {
          "items": {
            "$ref": "ThirdPartyAuthenticationToken"
          },
          "description": "List of third-party authentication tokens enabled for this configuration.",
          "type": "array"
        },
        "omnitureSettings": {
          "description": "Settings for Campaign Manager Omniture integration.",
          "$ref": "OmnitureSettings"
        },
        "firstDayOfWeek": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SUNDAY",
            "MONDAY"
          ]
        },
        "exposureToConversionEnabled": {
          "description": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of the parent advertiser of this floodlight configuration.",
          "format": "int64"
        },
        "customViewabilityMetric": {
          "$ref": "CustomViewabilityMetric",
          "description": "Custom Viewability metric for the floodlight configuration."
        },
        "userDefinedVariableConfigurations": {
          "type": "array",
          "items": {
            "$ref": "UserDefinedVariableConfiguration"
          },
          "description": "List of user defined variables enabled for this configuration."
        },
        "accountId": {
          "description": "Account ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      },
      "type": "object"
    },
    "ObjectFilter": {
      "type": "object",
      "id": "ObjectFilter",
      "description": "Object Filter.",
      "properties": {
        "objectIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\"."
        },
        "status": {
          "description": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list.",
          "enum": [
            "NONE",
            "ASSIGNED",
            "ALL"
          ],
          "enumDescriptions": [
            "Profile has access to none of the objects.",
            "Profile has access to only specific objects.",
            "Profile has access to all objects."
          ],
          "type": "string"
        }
      }
    },
    "CreativesListResponse": {
      "type": "object",
      "id": "CreativesListResponse",
      "description": "Creative List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativesListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creatives": {
          "items": {
            "$ref": "Creative"
          },
          "description": "Creative collection.",
          "type": "array"
        }
      }
    },
    "ReportCompatibleFields": {
      "id": "ReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "dimensionFilters": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlacementGroupsListResponse": {
      "id": "PlacementGroupsListResponse",
      "description": "Placement Group List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\"."
        },
        "placementGroups": {
          "description": "Placement group collection.",
          "items": {
            "$ref": "PlacementGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TargetableRemarketingListsListResponse": {
      "type": "object",
      "id": "TargetableRemarketingListsListResponse",
      "description": "Targetable remarketing list response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\"."
        },
        "targetableRemarketingLists": {
          "description": "Targetable remarketing list collection.",
          "items": {
            "$ref": "TargetableRemarketingList"
          },
          "type": "array"
        }
      }
    },
    "CampaignCreativeAssociationsListResponse": {
      "id": "CampaignCreativeAssociationsListResponse",
      "description": "Campaign Creative Association List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "campaignCreativeAssociations": {
          "type": "array",
          "description": "Campaign creative association collection",
          "items": {
            "$ref": "CampaignCreativeAssociation"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConversionsBatchUpdateRequest": {
      "id": "ConversionsBatchUpdateRequest",
      "description": "Update Conversions Request.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to update.",
          "type": "array"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "type": "object"
    },
    "UserRolePermissionsListResponse": {
      "type": "object",
      "id": "UserRolePermissionsListResponse",
      "description": "User Role Permission List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\"."
        },
        "userRolePermissions": {
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "User role permission collection.",
          "type": "array"
        }
      }
    },
    "Metric": {
      "type": "object",
      "id": "Metric",
      "description": "Represents a metric.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric name, e.g. impressions"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#metric.",
          "type": "string"
        }
      }
    },
    "FsCommand": {
      "id": "FsCommand",
      "description": "FsCommand.",
      "properties": {
        "positionOption": {
          "enum": [
            "CENTERED",
            "DISTANCE_FROM_TOP_LEFT_CORNER"
          ],
          "description": "Position in the browser where the window will open.",
          "type": "string",
          "enumDescriptions": [
            "Center of the window Corresponds to \"center\" in UI",
            "user-defined distance from top left-hand corner of the window Corresponds to \"top-left\" in UI"
          ]
        },
        "left": {
          "description": "Distance from the left of the browser.Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32",
          "type": "integer"
        },
        "windowHeight": {
          "description": "Height of the window.",
          "format": "int32",
          "type": "integer"
        },
        "windowWidth": {
          "description": "Width of the window.",
          "format": "int32",
          "type": "integer"
        },
        "top": {
          "description": "Distance from the top of the browser. Applicable when positionOption is DISTANCE_FROM_TOP_LEFT_CORNER.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "UserRolePermissionGroup": {
      "id": "UserRolePermissionGroup",
      "description": "Represents a grouping of related user role permissions.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroup\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this user role permission group."
        },
        "id": {
          "type": "string",
          "description": "ID of this user role permission.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ConversionsBatchInsertResponse": {
      "id": "ConversionsBatchInsertResponse",
      "description": "Insert Conversions Response.",
      "properties": {
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to insert.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\"."
        },
        "status": {
          "type": "array",
          "items": {
            "$ref": "ConversionStatus"
          },
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted."
        }
      },
      "type": "object"
    },
    "ContentCategoriesListResponse": {
      "id": "ContentCategoriesListResponse",
      "description": "Content Category List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategoriesListResponse\".",
          "type": "string"
        },
        "contentCategories": {
          "items": {
            "$ref": "ContentCategory"
          },
          "description": "Content category collection.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PathToConversionReportCompatibleFields": {
      "type": "object",
      "id": "PathToConversionReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
      "properties": {
        "conversionDimensions": {
          "type": "array",
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "customFloodlightVariables": {
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields.",
          "type": "string"
        },
        "perInteractionDimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report."
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        }
      }
    },
    "ChangeLogsListResponse": {
      "type": "object",
      "id": "ChangeLogsListResponse",
      "description": "Change Log List Response",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        },
        "changeLogs": {
          "type": "array",
          "description": "Change log collection.",
          "items": {
            "$ref": "ChangeLog"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLogsListResponse\".",
          "type": "string"
        }
      }
    },
    "CustomViewabilityMetricConfiguration": {
      "id": "CustomViewabilityMetricConfiguration",
      "description": "The attributes, like playtime and percent onscreen, that define the Custom Viewability Metric.",
      "properties": {
        "audible": {
          "description": "Whether the video must be audible to count an impression.",
          "type": "boolean"
        },
        "viewabilityPercent": {
          "description": "The percentage of video that must be on screen for the Custom Viewability Metric to count an impression.",
          "format": "int32",
          "type": "integer"
        },
        "timeMillis": {
          "type": "integer",
          "description": "The time in milliseconds the video must play for the Custom Viewability Metric to count an impression. If both this and timePercent are specified, the earlier of the two will be used.",
          "format": "int32"
        },
        "timePercent": {
          "description": "The percentage of video that must play for the Custom Viewability Metric to count an impression. If both this and timeMillis are specified, the earlier of the two will be used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "LastModifiedInfo": {
      "id": "LastModifiedInfo",
      "description": "Modification timestamp.",
      "properties": {
        "time": {
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlacementConversionDomainOverride": {
      "type": "object",
      "id": "PlacementConversionDomainOverride",
      "properties": {
        "conversionDomains": {
          "type": "array",
          "items": {
            "$ref": "PlacementSingleConversionDomain"
          }
        }
      }
    },
    "Dimension": {
      "type": "object",
      "id": "Dimension",
      "description": "Represents a dimension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The dimension name, e.g. advertiser"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#dimension."
        }
      }
    },
    "AccountActiveAdSummary": {
      "id": "AccountActiveAdSummary",
      "description": "Gets a summary of active ads in an account.",
      "properties": {
        "activeAds": {
          "description": "Ads that have been activated for the account",
          "format": "int64",
          "type": "string"
        },
        "availableAds": {
          "description": "Ads that can be activated for the account.",
          "format": "int64",
          "type": "string"
        },
        "activeAdsLimitTier": {
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ],
          "description": "Maximum number of active ads allowed for the account.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "accountId": {
          "type": "string",
          "description": "ID of the account.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountActiveAdSummary\"."
        }
      },
      "type": "object"
    },
    "Activities": {
      "type": "object",
      "id": "Activities",
      "description": "Represents an activity group.",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\"."
        },
        "metricNames": {
          "description": "List of names of floodlight activity metrics.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "StudioCreativeAsset": {
      "type": "object",
      "id": "StudioCreativeAsset",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "properties": {
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field."
        },
        "studioCreativeId": {
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "type": "string",
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ]
        },
        "filesize": {
          "type": "string",
          "description": "The filesize of the studio creative asset. This is a read-only field.",
          "format": "int64"
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "filename": {
          "type": "string",
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset."
        },
        "videoProcessingData": {
          "$ref": "VideoProcessingData",
          "description": "The processing data of the studio creative asset. This is a read-only field."
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "studioAccountId": {
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ReachReportCompatibleFields": {
      "type": "object",
      "id": "ReachReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\".",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "reachByFrequencyMetrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report.",
          "type": "array"
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "items": {
            "$ref": "Metric"
          }
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "dimensionFilters": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields.",
          "type": "string"
        }
      }
    },
    "UserRolePermissionGroupsListResponse": {
      "id": "UserRolePermissionGroupsListResponse",
      "description": "User Role Permission Group List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionGroupsListResponse\".",
          "type": "string"
        },
        "userRolePermissionGroups": {
          "type": "array",
          "items": {
            "$ref": "UserRolePermissionGroup"
          },
          "description": "User role permission group collection."
        }
      },
      "type": "object"
    },
    "TagSetting": {
      "type": "object",
      "id": "TagSetting",
      "description": "Tag Settings",
      "properties": {
        "keywordOption": {
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ],
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
          "type": "string",
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ]
        },
        "includeUnescapedlpurlMacro": {
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site.",
          "type": "boolean"
        },
        "additionalKeyValues": {
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field.",
          "type": "string"
        },
        "includeClickTracking": {
          "type": "boolean",
          "description": "Whether click-tracking string should be included in the tags."
        },
        "includeClickThroughUrls": {
          "type": "boolean",
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site."
        }
      }
    },
    "PopupWindowProperties": {
      "id": "PopupWindowProperties",
      "description": "Popup Window Properties.",
      "properties": {
        "showScrollBar": {
          "description": "Whether to display the browser scroll bar.",
          "type": "boolean"
        },
        "title": {
          "description": "Title of popup window.",
          "type": "string"
        },
        "showToolBar": {
          "description": "Whether to display the browser tool bar.",
          "type": "boolean"
        },
        "showStatusBar": {
          "type": "boolean",
          "description": "Whether to display the browser status bar."
        },
        "dimension": {
          "$ref": "Size",
          "description": "Popup dimension for a creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID"
        },
        "positionType": {
          "enum": [
            "CENTER",
            "COORDINATES"
          ],
          "description": "Popup window position either centered or at specific coordinate.",
          "type": "string",
          "enumDescriptions": [
            "window positioning at center.",
            "window positioning by upper left corner coordinates."
          ]
        },
        "showAddressBar": {
          "description": "Whether to display the browser address bar.",
          "type": "boolean"
        },
        "showMenuBar": {
          "type": "boolean",
          "description": "Whether to display the browser menu bar."
        },
        "offset": {
          "description": "Upper-left corner coordinates of the popup window. Applicable if positionType is COORDINATES.",
          "$ref": "OffsetPosition"
        }
      },
      "type": "object"
    },
    "EncryptionInfo": {
      "type": "object",
      "id": "EncryptionInfo",
      "description": "A description of how user IDs are encrypted.",
      "properties": {
        "encryptionSource": {
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\"."
        },
        "encryptionEntityType": {
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "encryptionEntityId": {
          "type": "string",
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "format": "int64"
        }
      }
    },
    "VideoFormat": {
      "type": "object",
      "id": "VideoFormat",
      "description": "Contains information about supported video formats.",
      "properties": {
        "targetBitRate": {
          "type": "integer",
          "description": "The target bit rate of this video format.",
          "format": "int32"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        },
        "resolution": {
          "description": "The resolution of this video format.",
          "$ref": "Size"
        },
        "fileType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "File type of the video format.",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ]
        },
        "id": {
          "type": "integer",
          "description": "ID of the video format.",
          "format": "int32"
        }
      }
    },
    "Language": {
      "type": "object",
      "id": "Language",
      "description": "Contains information about a language that can be targeted by ads.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Language ID of this language. This is the ID used for targeting and generating reports.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this language.",
          "type": "string"
        },
        "languageCode": {
          "description": "Format of language code is an ISO 639 two-letter language code optionally followed by an underscore followed by an ISO 3166 code. Examples are \"en\" for English or \"zh_CN\" for Simplified Chinese.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#language\".",
          "type": "string"
        }
      }
    },
    "OperatingSystemVersionsListResponse": {
      "id": "OperatingSystemVersionsListResponse",
      "description": "Operating System Version List Response",
      "properties": {
        "operatingSystemVersions": {
          "type": "array",
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "description": "Operating system version collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CampaignCreativeAssociation": {
      "id": "CampaignCreativeAssociation",
      "description": "Identifies a creative which has been associated with a given campaign.",
      "properties": {
        "creativeId": {
          "type": "string",
          "description": "ID of the creative associated with the campaign. This is a required field.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ThirdPartyAuthenticationToken": {
      "type": "object",
      "id": "ThirdPartyAuthenticationToken",
      "description": "Third Party Authentication Token",
      "properties": {
        "value": {
          "description": "Value of the third-party authentication token. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the third-party authentication token."
        }
      }
    },
    "PlacementsListResponse": {
      "id": "PlacementsListResponse",
      "description": "Placement List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsListResponse\"."
        },
        "placements": {
          "type": "array",
          "description": "Placement collection.",
          "items": {
            "$ref": "Placement"
          }
        }
      },
      "type": "object"
    },
    "TagSettings": {
      "id": "TagSettings",
      "description": "Dynamic and Image Tag Settings.",
      "properties": {
        "imageTagEnabled": {
          "description": "Whether image tags are enabled.",
          "type": "boolean"
        },
        "dynamicTagEnabled": {
          "description": "Whether dynamic floodlight tags are enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DfpSettings": {
      "id": "DfpSettings",
      "description": "Google Ad Manager Settings",
      "properties": {
        "programmaticPlacementAccepted": {
          "description": "Whether this directory site accepts programmatic placements.",
          "type": "boolean"
        },
        "pubPaidPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this directory site accepts publisher-paid tags."
        },
        "publisherPortalOnly": {
          "description": "Whether this directory site is available only via Publisher Portal.",
          "type": "boolean"
        },
        "dfpNetworkCode": {
          "description": "Ad Manager network code for this directory site.",
          "type": "string"
        },
        "dfpNetworkName": {
          "description": "Ad Manager network name for this directory site.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Conversion": {
      "id": "Conversion",
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
      "properties": {
        "treatmentForUnderage": {
          "type": "boolean",
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR)."
        },
        "timestampMicros": {
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "limitAdTracking": {
          "type": "boolean",
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing."
        },
        "gclid": {
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field.",
          "type": "string"
        },
        "encryptedUserId": {
          "type": "string",
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field."
        },
        "encryptedUserIdCandidates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field."
        },
        "adUserDataConsent": {
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "description": "This represents consent for ad user data.",
          "enum": [
            "GRANTED",
            "DENIED"
          ]
        },
        "quantity": {
          "description": "The quantity of the conversion. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "nonPersonalizedAd": {
          "type": "boolean",
          "description": "Whether the conversion was for a non personalized ad."
        },
        "matchId": {
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field.",
          "type": "string"
        },
        "sessionAttributesEncoded": {
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate.",
          "format": "byte",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "description": "Floodlight Configuration ID of this conversion. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "dclid": {
          "type": "string",
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field."
        },
        "cartData": {
          "description": "The cart data associated with this conversion.",
          "$ref": "CartData"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\".",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "format": "double"
        },
        "customVariables": {
          "type": "array",
          "items": {
            "$ref": "CustomFloodlightVariable"
          },
          "description": "Custom floodlight variables."
        },
        "floodlightActivityId": {
          "type": "string",
          "description": "Floodlight Activity ID of this conversion. This is a required field.",
          "format": "int64"
        },
        "mobileDeviceId": {
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "ordinal": {
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field.",
          "type": "string"
        },
        "childDirectedTreatment": {
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance.",
          "type": "boolean"
        },
        "userIdentifiers": {
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "items": {
            "$ref": "UserIdentifier"
          },
          "type": "array"
        },
        "impressionId": {
          "type": "string",
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set."
        }
      },
      "type": "object"
    },
    "CampaignSummary": {
      "id": "CampaignSummary",
      "description": "Represents a summarized campaign information associated with this invoice.",
      "properties": {
        "totalAmountMicros": {
          "type": "string",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency.",
          "format": "int64"
        },
        "campaignId": {
          "type": "string",
          "description": "Campaign ID.",
          "format": "int64"
        },
        "taxAmountMicros": {
          "type": "string",
          "description": "The tax amount for this campaign, in micros of the invoice's currency.",
          "format": "int64"
        },
        "billingInvoiceCode": {
          "description": "Campaign billing invoice code.",
          "type": "string"
        },
        "preTaxAmountMicros": {
          "type": "string",
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "CountriesListResponse": {
      "id": "CountriesListResponse",
      "description": "Country List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\"."
        },
        "countries": {
          "type": "array",
          "items": {
            "$ref": "Country"
          },
          "description": "Country collection."
        }
      },
      "type": "object"
    },
    "CreativeFieldAssignment": {
      "id": "CreativeFieldAssignment",
      "description": "Creative Field Assignment.",
      "properties": {
        "creativeFieldId": {
          "type": "string",
          "description": "ID of the creative field.",
          "format": "int64"
        },
        "creativeFieldValueId": {
          "type": "string",
          "description": "ID of the creative field value.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "BillingRate": {
      "type": "object",
      "id": "BillingRate",
      "properties": {
        "unitOfMeasure": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ],
          "description": "Unit of measure for this billing rate."
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.",
          "type": "string"
        },
        "type": {
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ],
          "description": "Type of this billing rate.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "rateInMicros": {
          "type": "string",
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate.",
          "format": "int64"
        },
        "id": {
          "description": "ID of this billing rate.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this billing rate. This must be less than 256 characters long."
        },
        "startDate": {
          "description": "Start date of this billing rate.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "End date of this billing rate."
        },
        "tieredRates": {
          "type": "array",
          "items": {
            "$ref": "BillingRateTieredRate"
          },
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate."
        }
      }
    },
    "RichMediaExitOverride": {
      "id": "RichMediaExitOverride",
      "description": "Rich Media Exit Override.",
      "properties": {
        "exitId": {
          "type": "string",
          "description": "ID for the override to refer to a specific exit in the creative.",
          "format": "int64"
        },
        "enabled": {
          "description": "Whether to use the clickThroughUrl. If false, the creative-level exit will be used.",
          "type": "boolean"
        },
        "clickThroughUrl": {
          "description": "Click-through URL of this rich media exit override. Applicable if the enabled field is set to true.",
          "$ref": "ClickThroughUrl"
        }
      },
      "type": "object"
    },
    "Region": {
      "type": "object",
      "id": "Region",
      "description": "Contains information about a region that can be targeted by ads.",
      "properties": {
        "dartId": {
          "type": "string",
          "description": "DART ID of this region.",
          "format": "int64"
        },
        "countryDartId": {
          "type": "string",
          "description": "DART ID of the country to which this region belongs.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this region."
        },
        "regionCode": {
          "type": "string",
          "description": "Region code."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#region\"."
        },
        "countryCode": {
          "description": "Country code of the country to which this region belongs.",
          "type": "string"
        }
      }
    },
    "FloodlightActivityDynamicTag": {
      "type": "object",
      "id": "FloodlightActivityDynamicTag",
      "description": "Dynamic Tag",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this dynamic tag. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "tag": {
          "type": "string",
          "description": "Tag code."
        },
        "name": {
          "description": "Name of this tag.",
          "type": "string"
        }
      }
    },
    "ListTargetingExpression": {
      "id": "ListTargetingExpression",
      "description": "Remarketing List Targeting Expression.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Expression describing which lists are being targeted by the ad."
        }
      },
      "type": "object"
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "description": "Represents a Report resource.",
      "properties": {
        "floodlightCriteria": {
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "properties": {
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            },
            "dimensions": {
              "type": "array",
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "reportProperties": {
              "description": "The properties of the report.",
              "properties": {
                "includeAttributedIPConversions": {
                  "description": "Include conversions that have no cookie, but do have an exposure path.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                }
              },
              "type": "object"
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            },
            "customRichMediaEvents": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include."
            },
            "floodlightConfigId": {
              "$ref": "DimensionValue",
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'."
            },
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object"
        },
        "fileName": {
          "type": "string",
          "description": "The filename used when generating report files for this report."
        },
        "crossMediaReachCriteria": {
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\".",
          "properties": {
            "dimensions": {
              "description": "Required. The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "dimensionFilters": {
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "Required. The date range this report should be run for."
            },
            "metricNames": {
              "type": "array",
              "description": "Required. The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "criteria": {
          "description": "The report criteria for a report of type \"STANDARD\".",
          "properties": {
            "activities": {
              "description": "Activity group.",
              "$ref": "Activities"
            },
            "dimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of standard dimensions the report should include.",
              "type": "array"
            },
            "dimensionFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "metricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include."
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range for which this report should be run."
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            }
          },
          "type": "object"
        },
        "format": {
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "delivery": {
          "type": "object",
          "description": "The report's email delivery settings.",
          "properties": {
            "emailOwner": {
              "type": "boolean",
              "description": "Whether the report should be emailed to the report owner."
            },
            "emailOwnerDeliveryType": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "LINK",
                "ATTACHMENT"
              ],
              "description": "The type of delivery for the owner to receive, if enabled."
            },
            "recipients": {
              "type": "array",
              "items": {
                "$ref": "Recipient"
              },
              "description": "The list of recipients to which to email the report."
            },
            "message": {
              "description": "The message to be sent with each email.",
              "type": "string"
            }
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the report."
        },
        "id": {
          "type": "string",
          "description": "The unique ID identifying this report resource.",
          "format": "int64"
        },
        "lastModifiedTime": {
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "format": "uint64",
          "type": "string"
        },
        "accountId": {
          "description": "The account ID to which this report belongs.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "description": "The type of the report."
        },
        "pathToConversionCriteria": {
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "properties": {
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "perInteractionDimensions": {
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of per interaction dimensions the report should include.",
              "type": "array"
            },
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "conversionDimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of conversion dimensions the report should include."
            },
            "customFloodlightVariables": {
              "description": "The list of custom floodlight variables the report should include.",
              "items": {
                "$ref": "SortedDimension"
              },
              "type": "array"
            },
            "reportProperties": {
              "type": "object",
              "description": "The properties of the report.",
              "properties": {
                "includeAttributedIPConversions": {
                  "description": "Deprecated: has no effect.",
                  "type": "boolean"
                },
                "maximumClickInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32",
                  "type": "integer"
                },
                "maximumInteractionGap": {
                  "type": "integer",
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90.",
                  "format": "int32"
                },
                "pivotOnInteractionPath": {
                  "description": "Enable pivoting on interaction path.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "includeUnattributedIPConversions": {
                  "type": "boolean",
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion."
                },
                "impressionsLookbackWindow": {
                  "type": "integer",
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "format": "int32"
                },
                "clicksLookbackWindow": {
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "format": "int32",
                  "type": "integer"
                },
                "maximumImpressionInteractions": {
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report.",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "customRichMediaEvents": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include."
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "activityFilters": {
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array"
            }
          },
          "type": "object"
        },
        "reachCriteria": {
          "description": "The report criteria for a report of type \"REACH\".",
          "properties": {
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            },
            "dimensions": {
              "type": "array",
              "description": "The list of dimensions the report should include.",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "items": {
                "$ref": "DimensionValue"
              },
              "type": "array"
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "The date range this report should be run for."
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "metricNames": {
              "type": "array",
              "description": "The list of names of metrics the report should include.",
              "items": {
                "type": "string"
              }
            },
            "reachByFrequencyMetricNames": {
              "items": {
                "type": "string"
              },
              "description": "The list of names of Reach By Frequency metrics the report should include.",
              "type": "array"
            }
          },
          "type": "object"
        },
        "ownerProfileId": {
          "description": "The user profile id of the owner of this report.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#report."
        },
        "schedule": {
          "type": "object",
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "properties": {
            "repeatsOnWeekDays": {
              "items": {
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "type": "string",
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ]
              },
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "type": "array"
            },
            "runsOnDayOfMonth": {
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month.",
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "repeats": {
              "type": "string",
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. "
            },
            "timezone": {
              "description": "The timezone when the report will run.",
              "type": "string"
            },
            "expirationDate": {
              "format": "date",
              "type": "string"
            },
            "active": {
              "description": "Whether the schedule is active or not. Must be set to either true or false.",
              "type": "boolean"
            },
            "every": {
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "format": "int32",
              "type": "integer"
            },
            "startDate": {
              "format": "date",
              "type": "string"
            }
          }
        },
        "subAccountId": {
          "type": "string",
          "description": "The subaccount ID to which this report belongs if applicable.",
          "format": "int64"
        }
      }
    },
    "ContentCategory": {
      "type": "object",
      "id": "ContentCategory",
      "properties": {
        "accountId": {
          "description": "Account ID of this content category. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategory\"."
        },
        "name": {
          "description": "Name of this content category. This is a required field and must be less than 256 characters long and unique among content categories of the same account.",
          "type": "string"
        },
        "id": {
          "description": "ID of this content category. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DynamicProfileFeedSettings": {
      "type": "object",
      "id": "DynamicProfileFeedSettings",
      "description": "Contains dynamic profile specific settings for an associated dynamic feed.",
      "properties": {
        "dynamicRules": {
          "description": "Optional. Dynamic rules for row selection for the given dynamic feed in the given dynamic profile.",
          "$ref": "DynamicRules"
        },
        "dynamicFeedId": {
          "type": "string",
          "description": "Optional. Dynamic feed ID associated with dynamic profile version.",
          "format": "int64"
        },
        "quantity": {
          "type": "integer",
          "description": "Optional. The number of this dynamic feed rows needed by the dynamic profile, default value is 1. Acceptable values are between 1 to 99, inclusive.",
          "format": "int32"
        }
      }
    },
    "MobileAppsListResponse": {
      "id": "MobileAppsListResponse",
      "description": "Mobile app List Response",
      "properties": {
        "mobileApps": {
          "description": "Mobile apps collection.",
          "items": {
            "$ref": "MobileApp"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileAppsListResponse\"."
        }
      },
      "type": "object"
    },
    "SizesListResponse": {
      "type": "object",
      "id": "SizesListResponse",
      "description": "Size List Response",
      "properties": {
        "sizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Size collection.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sizesListResponse\"."
        }
      }
    },
    "CompanionSetting": {
      "type": "object",
      "id": "CompanionSetting",
      "description": "Companion Settings",
      "properties": {
        "enabledSizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes."
        },
        "companionsDisabled": {
          "type": "boolean",
          "description": "Whether companions are disabled for this placement."
        },
        "imageOnly": {
          "type": "boolean",
          "description": "Whether to serve only static images as companions."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        }
      }
    },
    "LanguagesListResponse": {
      "type": "object",
      "id": "LanguagesListResponse",
      "description": "Language List Response",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "Language"
          },
          "description": "Language collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\"."
        }
      }
    },
    "VideoOffset": {
      "id": "VideoOffset",
      "description": "Video Offset",
      "properties": {
        "offsetSeconds": {
          "description": "Duration, in seconds. Do not set when offsetPercentage is set. Acceptable values are 0 to 86399, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "offsetPercentage": {
          "description": "Duration, as a percentage of video duration. Do not set when offsetSeconds is set. Acceptable values are 0 to 100, inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "PlacementStrategy": {
      "type": "object",
      "id": "PlacementStrategy",
      "description": "Contains properties of a placement strategy.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account."
        }
      }
    },
    "Recipient": {
      "id": "Recipient",
      "description": "Represents a recipient.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the recipient."
        },
        "deliveryType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "The delivery type for the recipient.",
          "enum": [
            "LINK",
            "ATTACHMENT"
          ]
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#recipient."
        }
      },
      "type": "object"
    },
    "FloodlightActivityGroup": {
      "type": "object",
      "id": "FloodlightActivityGroup",
      "description": "Contains properties of a Floodlight activity group.",
      "properties": {
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "type": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "floodlightConfigurationId": {
          "type": "string",
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "format": "int64"
        },
        "id": {
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\"."
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CreativeField": {
      "type": "object",
      "id": "CreativeField",
      "description": "Contains properties of a creative field.",
      "properties": {
        "name": {
          "description": "Name of this creative field. This is a required field and must be less than 256 characters long and unique among creative fields of the same advertiser.",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative field. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "advertiserId": {
          "description": "Advertiser ID of this creative field. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeField\"."
        }
      }
    },
    "IngestionStatus": {
      "id": "IngestionStatus",
      "description": "Contains the ingestion status of the dynamic feed.",
      "properties": {
        "numActiveRows": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of active rows in the feed.",
          "format": "int64"
        },
        "numRowsTotal": {
          "readOnly": true,
          "description": "Output only. The total number of rows in the feed.",
          "format": "int64",
          "type": "string"
        },
        "numRowsProcessed": {
          "type": "string",
          "description": "Output only. The number of rows processed in the feed.",
          "format": "int64",
          "readOnly": true
        },
        "numRowsWithErrors": {
          "type": "string",
[...]
