{
  "version": "v5",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "/dfareporting/v5/",
  "ownerDomain": "google.com",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "canonicalName": "Dfareporting",
  "protocol": "rest",
  "servicePath": "dfareporting/v5/",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "title": "Campaign Manager 360 API",
  "resources": {
    "tvCampaignDetails": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one TvCampaignDetail by ID.",
          "parameters": {
            "countryDartId": {
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Required. User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "tvDataProvider": {
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "location": "query"
            },
            "id": {
              "location": "path",
              "type": "string",
              "description": "Required. TV Campaign ID.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "accountId": {
              "description": "Required. Account ID associated with this request.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/tvCampaignDetails/{+id}",
          "id": "dfareporting.tvCampaignDetails.get",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignDetails/{tvCampaignDetailsId}",
          "response": {
            "$ref": "TvCampaignDetail"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "RemarketingListShare"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "id": "dfareporting.remarketingListShares.patch",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "response": {
            "$ref": "RemarketingListShare"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Required. RemarketingList ID.",
              "required": true
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/remarketingListShares"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "description": "Gets one remarketing list share by remarketing list ID.",
          "id": "dfareporting.remarketingListShares.get",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "remarketingListId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}"
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "RemarketingListShare"
          },
          "description": "Updates an existing remarketing list share.",
          "id": "dfareporting.remarketingListShares.update",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/remarketingListShares"
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserInvoices.list",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices",
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "parameters": {
            "advertiserId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Advertiser ID of this invoice.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "issueMonth": {
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query"
            }
          }
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "LandingPage"
          },
          "description": "Updates an existing landing page. This method supports patch semantics.",
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Required. Landing Page ID.",
              "required": true,
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "id": "dfareporting.advertiserLandingPages.patch",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "LandingPage"
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one landing page by ID.",
          "parameters": {
            "id": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Landing page ID.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}",
          "id": "dfareporting.advertiserLandingPages.get",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}",
          "response": {
            "$ref": "LandingPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "LandingPage"
          },
          "description": "Inserts a new landing page.",
          "id": "dfareporting.advertiserLandingPages.insert",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages"
        },
        "list": {
          "description": "Retrieves a list of landing pages.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          },
          "id": "dfareporting.advertiserLandingPages.list",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "parameters": {
            "ids": {
              "description": "Select only landing pages with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results."
            },
            "archived": {
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages.",
              "type": "boolean",
              "location": "query"
            },
            "advertiserIds": {
              "description": "Select only landing pages that belong to these advertisers.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "subaccountId": {
              "description": "Select only landing pages that belong to this subaccount.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "campaignIds": {
              "type": "string",
              "format": "int64",
              "description": "Select only landing pages that are associated with these campaigns.",
              "repeated": true,
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\"."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "LandingPage"
          },
          "description": "Updates an existing landing page.",
          "id": "dfareporting.advertiserLandingPages.update",
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "LandingPage"
          },
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserLandingPages"
        }
      }
    },
    "creativeAssets": {
      "methods": {
        "insert": {
          "description": "Inserts a new creative asset.",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "request": {
            "$ref": "CreativeAssetMetadata"
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "CreativeAssetMetadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "1073741824"
          },
          "id": "dfareporting.creativeAssets.insert",
          "flatPath": "userprofiles/{userprofilesId}/creativeAssets/{creativeAssetsId}/creativeAssets",
          "path": "userprofiles/{+profileId}/creativeAssets/{+advertiserId}/creativeAssets",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "advertiserId": {
              "location": "path",
              "description": "Advertiser ID of this creative. This is a required field.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          }
        }
      }
    },
    "directorySites": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one directory site by ID.",
          "id": "dfareporting.directorySites.get",
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "response": {
            "$ref": "DirectorySite"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "description": "Directory site ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/directorySites/{+id}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DirectorySite"
          },
          "id": "dfareporting.directorySites.insert",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "path": "userprofiles/{+profileId}/directorySites",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "description": "Inserts a new directory site.",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "DirectorySite"
          }
        },
        "list": {
          "parameters": {
            "dfpNetworkCode": {
              "description": "Select only directory sites with this Ad Manager network code.",
              "location": "query",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\"."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "active": {
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "location": "query",
              "type": "boolean"
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only directory sites with these IDs.",
              "repeated": true
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "acceptsInterstitialPlacements": {
              "description": "This search filter is no longer supported and will have no effect on the results returned.",
              "type": "boolean",
              "location": "query"
            },
            "acceptsPublisherPaidPlacements": {
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/directorySites",
          "id": "dfareporting.directorySites.list",
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging."
        }
      }
    },
    "placements": {
      "methods": {
        "patch": {
          "id": "dfareporting.placements.patch",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "description": "Required. Placement ID.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/placements",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "Placement"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing placement. This method supports patch semantics."
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one placement by ID.",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Placement ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "id": "dfareporting.placements.get",
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "description": "Inserts a new placement.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Placement"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placements.insert",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "path": "userprofiles/{+profileId}/placements",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging.",
          "parameters": {
            "paymentSource": {
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "location": "query",
              "description": "Select only placements with this payment source.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "activeStatus": {
              "location": "query",
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only placements with these active statuses.",
              "repeated": true
            },
            "searchString": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" ."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "directorySiteIds": {
              "location": "query",
              "description": "Select only placements that are associated with these directory sites.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "sortOrder": {
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "sizeIds": {
              "location": "query",
              "description": "Select only placements that are associated with these sizes.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "ids": {
              "location": "query",
              "description": "Select only placements with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "pricingTypes": {
              "location": "query",
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only placements with these pricing types.",
              "repeated": true
            },
            "placementStrategyIds": {
              "type": "string",
              "format": "int64",
              "description": "Select only placements that are associated with these placement strategies.",
              "repeated": true,
              "location": "query"
            },
            "contentCategoryIds": {
              "description": "Select only placements that are associated with these content categories.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxStartDate": {
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "groupIds": {
              "description": "Select only placements that belong to these placement groups.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxEndDate": {
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "advertiserIds": {
              "location": "query",
              "description": "Select only placements that belong to these advertisers.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "campaignIds": {
              "location": "query",
              "description": "Select only placements that belong to these campaigns.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "compatibilities": {
              "location": "query",
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
              "repeated": true
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32"
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "siteIds": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only placements that are associated with these sites.",
              "repeated": true
            },
            "minStartDate": {
              "type": "string",
              "location": "query",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            }
          },
          "path": "userprofiles/{+profileId}/placements",
          "id": "dfareporting.placements.list",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "generatetags": {
          "parameters": {
            "campaignId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Generate placements belonging to this campaign. This is a required field."
            },
            "placementIds": {
              "description": "Generate tags for these placements.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "tagFormats": {
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ],
              "location": "query",
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements.",
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ]
            }
          },
          "path": "userprofiles/{+profileId}/placements/generatetags",
          "id": "dfareporting.placements.generatetags",
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Generates tags for a placement."
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "Placement"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing placement.",
          "id": "dfareporting.placements.update",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/placements"
        }
      }
    },
    "connectionTypes": {
      "methods": {
        "get": {
          "description": "Gets one connection type by ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ConnectionType"
          },
          "id": "dfareporting.connectionTypes.get",
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes/{connectionTypesId}",
          "path": "userprofiles/{+profileId}/connectionTypes/{+id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Connection type ID.",
              "pattern": "^[^/]+$",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/connectionTypes",
          "id": "dfareporting.connectionTypes.list",
          "flatPath": "userprofiles/{userprofilesId}/connectionTypes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "ConnectionTypesListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of connection types."
        }
      }
    },
    "dynamicProfiles": {
      "methods": {
        "update": {
          "description": "Updates an existing dynamic profile.",
          "httpMethod": "PUT",
          "parameterOrder": [],
          "request": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DynamicProfile"
          },
          "id": "dfareporting.dynamicProfiles.update",
          "flatPath": "studio/dynamicProfiles",
          "path": "studio/dynamicProfiles",
          "parameters": {}
        },
        "get": {
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "GET",
          "description": "Gets a dynamic profile by ID.",
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "studio/dynamicProfiles/{+dynamicProfileId}",
          "id": "dfareporting.dynamicProfiles.get",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}",
          "response": {
            "$ref": "DynamicProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "parameters": {},
          "path": "studio/dynamicProfiles",
          "id": "dfareporting.dynamicProfiles.insert",
          "flatPath": "studio/dynamicProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "DynamicProfile"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "DynamicProfile"
          },
          "description": "Inserts a new dynamic profile."
        },
        "generateCode": {
          "description": "Generates code for a dynamic profile, which will need unescaping.",
          "parameterOrder": [
            "dynamicProfileId"
          ],
          "httpMethod": "GET",
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/generateCode",
          "parameters": {
            "dynamicProfileId": {
              "location": "path",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "DynamicProfileGenerateCodeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicProfiles.generateCode",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/generateCode"
        },
        "publish": {
          "path": "studio/dynamicProfiles/{+dynamicProfileId}/publish",
          "parameters": {
            "dynamicProfileId": {
              "type": "string",
              "format": "int64",
              "description": "Required. Dynamic profile ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Publish for a dynamic profile.",
          "id": "dfareporting.dynamicProfiles.publish",
          "flatPath": "studio/dynamicProfiles/{dynamicProfilesId}/publish",
          "httpMethod": "POST",
          "parameterOrder": [
            "dynamicProfileId"
          ]
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "id": "dfareporting.billingProfiles.get",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "response": {
            "$ref": "BillingProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Billing Profile ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one billing profile by ID."
        },
        "list": {
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingProfiles.list",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "path": "userprofiles/{+profileId}/billingProfiles",
          "parameters": {
            "onlySuggestion": {
              "type": "boolean",
              "location": "query",
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query"
            },
            "subaccountIds": {
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only billing profile with these IDs.",
              "repeated": true
            },
            "status": {
              "description": "Select only billing profile with the specified status.",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ],
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\"."
            },
            "currency_code": {
              "description": "Select only billing profile with currency.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates an existing billing profile.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "BillingProfile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "BillingProfile"
          },
          "id": "dfareporting.billingProfiles.update",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "path": "userprofiles/{+profileId}/billingProfiles",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "patch": {
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.patch",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "id": {
              "description": "Required. EventTag ID.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one floodlight configuration by ID.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Floodlight configuration ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "id": "dfareporting.floodlightConfigurations.get",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "parameters": {
            "ids": {
              "type": "string",
              "format": "int64",
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "repeated": true,
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "id": "dfareporting.floodlightConfigurations.list",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "description": "Retrieves a list of floodlight configurations, possibly filtered.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ]
        },
        "update": {
          "description": "Updates an existing floodlight configuration.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.floodlightConfigurations.update",
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations"
        }
      }
    },
    "billingAssignments": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "request": {
            "$ref": "BillingAssignment"
          },
          "description": "Inserts a new billing assignment and returns the new assignment. Only one of advertiser_id or campaign_id is support per request. If the new assignment has no effect (assigning a campaign to the parent advertiser billing profile or assigning an advertiser to the account billing profile), no assignment will be returned.",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "billingProfileId": {
              "description": "Billing profile ID of this billing assignment.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "id": "dfareporting.billingAssignments.insert",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "BillingAssignment"
          }
        },
        "list": {
          "response": {
            "$ref": "BillingAssignmentsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.billingAssignments.list",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingAssignments",
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingAssignments",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "billingProfileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Billing profile ID of this billing assignment.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "description": "Retrieves a list of billing assignments.",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "conversions": {
      "methods": {
        "batchinsert": {
          "description": "Inserts conversions.",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "ConversionsBatchInsertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions"
          ],
          "response": {
            "$ref": "ConversionsBatchInsertResponse"
          },
          "id": "dfareporting.conversions.batchinsert",
          "flatPath": "userprofiles/{profileId}/conversions/batchinsert",
          "path": "userprofiles/{profileId}/conversions/batchinsert",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          }
        },
        "batchupdate": {
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{profileId}/conversions/batchupdate",
          "id": "dfareporting.conversions.batchupdate",
          "flatPath": "userprofiles/{profileId}/conversions/batchupdate",
          "response": {
            "$ref": "ConversionsBatchUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "ConversionsBatchUpdateRequest"
          },
          "httpMethod": "POST",
          "description": "Updates existing conversions."
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "get": {
          "description": "Gets one remarketing list by ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Remarketing list ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "id": "dfareporting.targetableRemarketingLists.get",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "id": "dfareporting.targetableRemarketingLists.list",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "parameters": {
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active or only inactive targetable remarketing lists."
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "default": "1000",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "location": "query",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ]
        }
      }
    },
    "userProfiles": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "UserProfile"
          },
          "id": "dfareporting.userProfiles.get",
          "flatPath": "userprofiles/{profileId}",
          "path": "userprofiles/{profileId}",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "The user profile ID.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Gets one user profile by ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "description": "Retrieves list of user profiles for a user.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "UserProfileList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ddmconversions",
            "https://www.googleapis.com/auth/dfareporting",
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userProfiles.list",
          "flatPath": "userprofiles",
          "path": "userprofiles",
          "parameters": {}
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "httpMethod": "POST",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "parameters": {
            "campaignId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Campaign ID in this association.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "id": "dfareporting.campaignCreativeAssociations.list",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32"
            },
            "campaignId": {
              "description": "Campaign ID in this association.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations"
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one creative group by ID.",
          "id": "dfareporting.creativeGroups.get",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "response": {
            "$ref": "CreativeGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Creative group ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "id": "dfareporting.creativeGroups.insert",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Inserts a new creative group.",
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "CreativeGroup"
          }
        },
        "list": {
          "id": "dfareporting.creativeGroups.list",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeGroupsListResponse"
          },
          "parameters": {
            "advertiserIds": {
              "location": "query",
              "description": "Select only creative groups that belong to these advertisers.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "searchString": {
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "groupNumber": {
              "description": "Select only creative groups that belong to this subgroup.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "ids": {
              "location": "query",
              "description": "Select only creative groups with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results."
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging."
        },
        "patch": {
          "id": "dfareporting.creativeGroups.patch",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "id": {
              "type": "string",
              "format": "int64",
              "description": "Required. Creative Group ID.",
              "required": true,
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "CreativeGroup"
          },
          "description": "Updates an existing creative group. This method supports patch semantics."
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "CreativeGroup"
          },
          "description": "Updates an existing creative group.",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "id": "dfareporting.creativeGroups.update",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "CreativeGroup"
          }
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "get": {
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "dartId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Operating system DART ID.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}",
          "id": "dfareporting.operatingSystems.get",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "OperatingSystem"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "description": "Gets one operating system by DART ID."
        },
        "list": {
          "description": "Retrieves a list of operating systems.",
          "parameterOrder": [
            "profileId"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/operatingSystems",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.operatingSystems.list",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems"
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "description": "Retrieves a list of TV campaign summaries.",
          "id": "dfareporting.tvCampaignSummaries.list",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          },
          "parameters": {
            "accountId": {
              "description": "Required. Account ID associated with this request.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "name": {
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field.",
              "location": "query",
              "type": "string"
            },
            "tvDataProvider": {
              "description": "Optional. TV data provider. If not specified, defaults to `COMSCORE_NATIONAL_US`.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "type": "string",
              "enum": [
                "INVALID_TV_DATA_PROVIDER",
                "IBOPE_AR",
                "IBOPE_BR",
                "IBOPE_CL",
                "IBOPE_CO",
                "TNS_VN",
                "COMSCORE_NATIONAL_US",
                "COMSCORE_CA",
                "SAMBA_AU"
              ],
              "location": "query"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "Required. User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            },
            "countryDartId": {
              "description": "Optional. Country Dart ID. If not specified, defaults to 256 (US).",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "path": "userprofiles/{+profileId}/tvCampaignSummaries"
        }
      }
    },
    "placementStrategies": {
      "methods": {
        "patch": {
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameters": {
            "id": {
              "description": "Required. PlacementStrategy ID.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.patch",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "description": "Updates an existing placement strategy. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "PATCH"
        },
        "get": {
          "parameters": {
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "id": {
              "description": "Placement strategy ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "id": "dfareporting.placementStrategies.get",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "httpMethod": "GET",
          "description": "Gets one placement strategy by ID."
        },
        "insert": {
          "description": "Inserts a new placement strategy.",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.placementStrategies.insert",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies"
        },
        "list": {
          "description": "Retrieves a list of placement strategies, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"placementstrategy*2015\" will return objects with names like \"placementstrategy June 2015\", \"placementstrategy April 2015\", or simply \"placementstrategy 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placementstrategy\" will match objects with name \"my placementstrategy\", \"placementstrategy 2015\", or simply \"placementstrategy\".",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "ids": {
              "description": "Select only placement strategies with these IDs.",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Field by which to sort the list."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "type": "string",
              "description": "Order of sorted results."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "PlacementStrategiesListResponse"
          },
          "id": "dfareporting.placementStrategies.list",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies"
        },
        "delete": {
          "parameters": {
            "id": {
              "description": "Placement strategy ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies/{+id}",
          "id": "dfareporting.placementStrategies.delete",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies/{placementStrategiesId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Deletes an existing placement strategy."
        },
        "update": {
          "id": "dfareporting.placementStrategies.update",
          "flatPath": "userprofiles/{userprofilesId}/placementStrategies",
          "response": {
            "$ref": "PlacementStrategy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameters": {
            "profileId": {
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "path": "userprofiles/{+profileId}/placementStrategies",
          "parameterOrder": [
            "profileId"
          ],
          "request": {
            "$ref": "PlacementStrategy"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing placement strategy."
        }
      }
    },
    "studioCreativeAssets": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "DfareportingStudioCreativeAssetsInsertRequest"
          },
          "description": "Inserts a new studio creative asset.",
          "parameters": {},
          "path": "studio/creativeAssets",
          "id": "dfareporting.studioCreativeAssets.insert",
          "flatPath": "studio/creativeAssets",
          "mediaUpload": {
            "maxSize": "1073741824",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/studio/creativeAssets"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "StudioCreativeAssetsResponse"
          }
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "delete": {
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "parameters": {
            "id": {
              "location": "path",
              "description": "Advertiser group ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Deletes an existing advertiser group.",
          "id": "dfareporting.advertiserGroups.delete",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "update": {
          "id": "dfareporting.advertiserGroups.update",
[...]
