{
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "title": "Campaign Manager 360 API",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    }
  },
  "batchPath": "batch",
  "version": "v4",
  "discoveryVersion": "v1",
  "basePath": "/dfareporting/v4/",
  "name": "dfareporting",
  "resources": {
    "creativeGroups": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.insert",
          "request": {
            "$ref": "CreativeGroup"
          },
          "description": "Inserts a new creative group.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "POST"
        },
        "patch": {
          "request": {
            "$ref": "CreativeGroup"
          },
          "id": "dfareporting.creativeGroups.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "format": "int64",
              "description": "Required. Creative Group ID.",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "description": "Updates an existing creative group. This method supports patch semantics."
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeGroupsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameters": {
            "ids": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only creative groups with these IDs.",
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "searchString": {
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            },
            "groupNumber": {
              "description": "Select only creative groups that belong to this subgroup.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "advertiserIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only creative groups that belong to these advertisers."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "dfareporting.creativeGroups.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "description": "Gets one creative group by ID.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Creative group ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "dfareporting.creativeGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CreativeGroup"
          },
          "description": "Updates an existing creative group.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.update",
          "request": {
            "$ref": "CreativeGroup"
          }
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.metros.list",
          "path": "userprofiles/{+profileId}/metros",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "MetrosListResponse"
          },
          "description": "Retrieves a list of metros.",
          "flatPath": "userprofiles/{userprofilesId}/metros"
        }
      }
    },
    "sites": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Site"
          },
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "description": "Inserts a new site.",
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/sites",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "dfareporting.sites.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Site"
          }
        },
        "get": {
          "description": "Gets one site by ID.",
          "flatPath": "userprofiles/{userprofilesId}/sites/{sitesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Site"
          },
          "path": "userprofiles/{+profileId}/sites/{+id}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "Site ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.sites.get"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.sites.update",
          "request": {
            "$ref": "Site"
          },
          "description": "Updates an existing site.",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Site"
          },
          "path": "userprofiles/{+profileId}/sites",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "PUT"
        },
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/sites",
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "format": "int32"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string"
            },
            "directorySiteIds": {
              "description": "Select only sites with these directory site IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "location": "query",
              "type": "string",
              "description": "Select only sites with this subaccount ID.",
              "format": "int64"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "type": "string"
            },
            "acceptsInterstitialPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "unmappedSite": {
              "location": "query",
              "type": "boolean",
              "description": "Select only sites that have not been mapped to a directory site."
            },
            "searchString": {
              "description": "Allows searching for objects by name, ID or keyName. Wildcards (*) are allowed. For example, \"site*2015\" will return objects with names like \"site June 2015\", \"site April 2015\", or simply \"site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"site\" will match objects with name \"my site\", \"site 2015\", or simply \"site\".",
              "location": "query",
              "type": "string"
            },
            "approved": {
              "location": "query",
              "type": "boolean",
              "description": "Select only approved sites."
            },
            "acceptsPublisherPaidPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "Select only sites that accept publisher paid placements."
            },
            "campaignIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only sites with these campaign IDs.",
              "format": "int64"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only sites with these IDs.",
              "format": "int64"
            },
            "adWordsSite": {
              "location": "query",
              "type": "boolean",
              "description": "Select only AdWords sites."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "description": "Retrieves a list of sites, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "SitesListResponse"
          },
          "id": "dfareporting.sites.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "description": "Updates an existing site. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/sites",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Site"
          },
          "path": "userprofiles/{+profileId}/sites",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "id": {
              "required": true,
              "description": "Required. Site ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.sites.patch",
          "request": {
            "$ref": "Site"
          }
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "patch": {
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "required": true,
              "description": "Required. RemarketingList ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetingTemplate"
          },
          "request": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.patch"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetingTemplate"
          },
          "description": "Gets one targeting template by ID.",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "required": true,
              "format": "int64",
              "description": "Targeting template ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "TargetingTemplate"
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "description": "Updates an existing targeting template.",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetingTemplates.list",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "ids": {
              "description": "Select only targeting templates with these IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\"."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "Select only targeting templates with this advertiser ID.",
              "format": "int64"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates"
        },
        "insert": {
          "request": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "description": "Inserts a new targeting template.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "TargetingTemplate"
          }
        }
      }
    },
    "studioCreativeAssets": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "StudioCreativeAssetsResponse"
          },
          "description": "Inserts a new studio creative asset.",
          "flatPath": "studio/creativeAssets",
          "path": "studio/creativeAssets",
          "parameters": {},
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v4/studio/creativeAssets"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "1073741824"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.studioCreativeAssets.insert",
          "request": {
            "$ref": "DfareportingStudioCreativeAssetsInsertRequest"
          },
          "supportsMediaUpload": true
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "list": {
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "parameters": {
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active or only inactive targetable remarketing lists."
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\"."
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            },
            "advertiserId": {
              "format": "int64",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetableRemarketingLists.list"
        },
        "get": {
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Remarketing list ID.",
              "required": true
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "TargetableRemarketingList"
          },
          "description": "Gets one remarketing list by ID.",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetableRemarketingLists.get"
        }
      }
    },
    "changeLogs": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.changeLogs.get",
          "path": "userprofiles/{+profileId}/changeLogs/{+id}",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "id": {
              "required": true,
              "description": "Change log ID.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET",
          "description": "Gets one change log by ID.",
          "flatPath": "userprofiles/{userprofilesId}/changeLogs/{changeLogsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "ChangeLog"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.changeLogs.list",
          "path": "userprofiles/{+profileId}/changeLogs",
          "parameters": {
            "ids": {
              "format": "int64",
              "description": "Select only change logs with these IDs.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "userProfileIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only change logs with these user profile IDs."
            },
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Select only change logs whose object ID, user name, old or new values match the search string."
            },
            "objectType": {
              "description": "Select only change logs with the specified object type.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_FLOODLIGHT_CONFIGURATION",
                "OBJECT_AD",
                "OBJECT_FLOODLIGHT_ACTVITY",
                "OBJECT_CAMPAIGN",
                "OBJECT_FLOODLIGHT_ACTIVITY_GROUP",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT",
                "OBJECT_DFA_SITE",
                "OBJECT_USER_ROLE",
                "OBJECT_USER_PROFILE",
                "OBJECT_ADVERTISER_GROUP",
                "OBJECT_ACCOUNT",
                "OBJECT_SUBACCOUNT",
                "OBJECT_RICHMEDIA_CREATIVE",
                "OBJECT_INSTREAM_CREATIVE",
                "OBJECT_MEDIA_ORDER",
                "OBJECT_CONTENT_CATEGORY",
                "OBJECT_PLACEMENT_STRATEGY",
                "OBJECT_SD_SITE",
                "OBJECT_SIZE",
                "OBJECT_CREATIVE_GROUP",
                "OBJECT_CREATIVE_ASSET",
                "OBJECT_USER_PROFILE_FILTER",
                "OBJECT_LANDING_PAGE",
                "OBJECT_CREATIVE_FIELD",
                "OBJECT_REMARKETING_LIST",
                "OBJECT_PROVIDED_LIST_CLIENT",
                "OBJECT_EVENT_TAG",
                "OBJECT_CREATIVE_BUNDLE",
                "OBJECT_BILLING_ACCOUNT_GROUP",
                "OBJECT_BILLING_FEATURE",
                "OBJECT_RATE_CARD",
                "OBJECT_ACCOUNT_BILLING_FEATURE",
                "OBJECT_BILLING_MINIMUM_FEE",
                "OBJECT_BILLING_PROFILE",
                "OBJECT_PLAYSTORE_LINK",
                "OBJECT_TARGETING_TEMPLATE",
                "OBJECT_SEARCH_LIFT_STUDY",
                "OBJECT_FLOODLIGHT_DV360_LINK",
                "OBJECT_ADVERTISER_CUSTOMER_LINK",
                "OBJECT_CONVERSION_DOMAIN",
                "OBJECT_ACCOUNT_CONVERSION_DOMAIN"
              ],
              "location": "query",
              "type": "string"
            },
            "objectIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only change logs with these object IDs."
            },
            "minChangeTime": {
              "description": "Select only change logs whose change time is after the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "location": "query",
              "type": "string"
            },
            "maxChangeTime": {
              "description": "Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "action": {
              "location": "query",
              "type": "string",
              "enum": [
                "ACTION_CREATE",
                "ACTION_UPDATE",
                "ACTION_DELETE",
                "ACTION_ENABLE",
                "ACTION_DISABLE",
                "ACTION_ADD",
                "ACTION_REMOVE",
                "ACTION_MARK_AS_DEFAULT",
                "ACTION_ASSOCIATE",
                "ACTION_ASSIGN",
                "ACTION_UNASSIGN",
                "ACTION_SEND",
                "ACTION_LINK",
                "ACTION_UNLINK",
                "ACTION_PUSH",
                "ACTION_EMAIL_TAGS",
                "ACTION_SHARE"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only change logs with the specified action."
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of change logs. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/changeLogs",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ChangeLogsListResponse"
          }
        }
      }
    },
    "sizes": {
      "methods": {
        "insert": {
          "id": "dfareporting.sizes.insert",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Size"
          },
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "description": "Inserts a new size.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Size"
          },
          "httpMethod": "POST",
          "path": "userprofiles/{+profileId}/sizes",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/sizes",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "iabStandard": {
              "location": "query",
              "type": "boolean",
              "description": "Select only IAB standard sizes."
            },
            "width": {
              "format": "int32",
              "description": "Select only sizes with this width.",
              "location": "query",
              "type": "integer"
            },
            "height": {
              "format": "int32",
              "description": "Select only sizes with this height.",
              "location": "query",
              "type": "integer"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only sizes with these IDs."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "SizesListResponse"
          },
          "description": "Retrieves a list of sizes, possibly filtered. Retrieved sizes are globally unique and may include values not currently in use by your account. Due to this, the list of sizes returned by this method may differ from the list seen in the Trafficking UI.",
          "flatPath": "userprofiles/{userprofilesId}/sizes",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.sizes.list"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Size"
          },
          "description": "Gets one size by ID.",
          "flatPath": "userprofiles/{userprofilesId}/sizes/{sizesId}",
          "path": "userprofiles/{+profileId}/sizes/{+id}",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Size ID.",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.sizes.get"
        }
      }
    },
    "ads": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "dynamicClickTracker": {
              "location": "query",
              "type": "boolean",
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both."
            },
            "campaignIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only ads with these campaign IDs."
            },
            "remarketingListIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "format": "int64"
            },
            "ids": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only ads with these IDs.",
              "format": "int64"
            },
            "audienceSegmentIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only ads with these audience segment IDs.",
              "format": "int64"
            },
            "overriddenEventTagId": {
              "location": "query",
              "type": "string",
              "description": "Select only ads with this event tag override ID.",
              "format": "int64"
            },
            "sizeIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only ads with these size IDs."
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query",
              "type": "string"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active ads."
            },
            "compatibility": {
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "description": "Select only ads with this advertiser ID.",
              "location": "query",
              "type": "string"
            },
            "creativeIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only ads with these creative IDs assigned.",
              "format": "int64"
            },
            "sslCompliant": {
              "description": "Select only ads that are SSL-compliant.",
              "location": "query",
              "type": "boolean"
            },
            "landingPageIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only ads with these landing page IDs.",
              "format": "int64"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "type": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ],
              "description": "Select only ads with these types.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ]
            },
            "archived": {
              "location": "query",
              "type": "boolean",
              "description": "Select only archived ads."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "creativeOptimizationConfigurationIds": {
              "description": "Select only ads with these creative optimization configuration IDs.",
              "format": "int64",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "placementIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only ads with these placement IDs assigned.",
              "format": "int64"
            },
            "sslRequired": {
              "description": "Select only ads that require SSL.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AdsListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "id": "dfareporting.ads.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/ads/{+id}",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "Ad ID.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Ad"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "description": "Gets one ad by ID.",
          "id": "dfareporting.ads.get",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Ad"
          },
          "description": "Updates an existing ad.",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.update",
          "request": {
            "$ref": "Ad"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.patch",
          "request": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Ad"
          },
          "description": "Updates an existing ad. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "id": {
              "description": "Required. RemarketingList ID.",
              "format": "int64",
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "PATCH"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/ads",
          "parameters": {
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Ad"
          },
          "description": "Inserts a new ad.",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "request": {
            "$ref": "Ad"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.insert"
        }
      }
    },
    "mobileCarriers": {
      "methods": {
        "list": {
          "description": "Retrieves a list of mobile carriers.",
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "MobileCarriersListResponse"
          },
          "path": "userprofiles/{+profileId}/mobileCarriers",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.mobileCarriers.list"
        },
        "get": {
          "path": "userprofiles/{+profileId}/mobileCarriers/{+id}",
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Mobile carrier ID.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "MobileCarrier"
          },
          "description": "Gets one mobile carrier by ID.",
          "flatPath": "userprofiles/{userprofilesId}/mobileCarriers/{mobileCarriersId}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.mobileCarriers.get"
        }
      }
    },
    "userRoles": {
      "methods": {
        "insert": {
          "description": "Inserts a new user role.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{+profileId}/userRoles",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.insert",
          "request": {
            "$ref": "UserRole"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "description": "Deletes an existing user role.",
          "id": "dfareporting.userRoles.delete",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "parameters": {
            "id": {
              "required": true,
              "format": "int64",
              "description": "User role ID.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true
            }
          },
          "httpMethod": "DELETE"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.patch",
          "request": {
            "$ref": "UserRole"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "description": "Updates an existing user role. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "path": "userprofiles/{+profileId}/userRoles",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. UserRole ID."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "PATCH"
        },
        "list": {
          "id": "dfareporting.userRoles.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "description": "Retrieves a list of user roles, possibly filtered. This method supports paging.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRolesListResponse"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/userRoles",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"userrole*2015\" will return objects with names like \"userrole June 2015\", \"userrole April 2015\", or simply \"userrole 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"userrole\" will match objects with name \"my userrole\", \"userrole 2015\", or simply \"userrole\".",
              "location": "query",
              "type": "string"
            },
            "subaccountId": {
              "format": "int64",
              "description": "Select only user roles that belong to this subaccount.",
              "location": "query",
              "type": "string"
            },
            "accountUserRoleOnly": {
              "description": "Select only account level user roles not associated with any specific subaccount.",
              "location": "query",
              "type": "boolean"
            },
            "ids": {
              "format": "int64",
              "description": "Select only user roles with the specified IDs.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.get",
          "description": "Gets one user role by ID.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles/{userRolesId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "path": "userprofiles/{+profileId}/userRoles/{+id}",
          "parameters": {
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "User role ID.",
              "required": true
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "UserRole"
          },
          "description": "Updates an existing user role.",
          "flatPath": "userprofiles/{userprofilesId}/userRoles",
          "path": "userprofiles/{+profileId}/userRoles",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64"
            }
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRoles.update",
          "request": {
            "$ref": "UserRole"
          }
        }
      }
    },
    "accounts": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/accounts",
          "parameters": {
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\"."
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            },
            "maxResults": {
              "default": "1000",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only accounts with these IDs."
            },
            "active": {
              "description": "Select only active accounts. Don't set this field to select both active and non-active accounts.",
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "AccountsListResponse"
          },
          "description": "Retrieves the list of accounts, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accounts.list"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accounts.get",
          "path": "userprofiles/{+profileId}/accounts/{+id}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Account ID.",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Account"
          },
          "description": "Gets one account by ID.",
          "flatPath": "userprofiles/{userprofilesId}/accounts/{accountsId}"
        },
        "update": {
          "request": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/accounts",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Account"
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "description": "Updates an existing account."
        },
        "patch": {
          "request": {
            "$ref": "Account"
          },
          "id": "dfareporting.accounts.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "path": "userprofiles/{+profileId}/accounts",
          "parameters": {
            "id": {
              "format": "int64",
              "description": "Required. Account ID.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/accounts",
          "description": "Updates an existing account. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Account"
          }
        }
      }
    },
    "cities": {
      "methods": {
        "list": {
          "id": "dfareporting.cities.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CitiesListResponse"
          },
          "flatPath": "userprofiles/{userprofilesId}/cities",
          "description": "Retrieves a list of cities, possibly filtered.",
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/cities",
          "parameters": {
            "countryDartIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Select only cities from these countries.",
              "format": "int64"
            },
            "dartIds": {
              "format": "int64",
              "description": "Select only cities with these DART IDs.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "namePrefix": {
              "location": "query",
              "type": "string",
              "description": "Select only cities with names starting with this prefix."
            },
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "regionDartIds": {
              "description": "Select only cities from these regions.",
              "format": "int64",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          }
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "id": "dfareporting.advertiserInvoices.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "advertiserId": {
              "description": "Advertiser ID of this invoice.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "format": "int32",
              "default": "1000",
              "location": "query",
              "type": "integer"
            },
            "issueMonth": {
              "description": "Month for which invoices are needed in the format YYYYMM. Required field",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices",
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          }
        }
      }
    },
    "reports": {
      "methods": {
        "delete": {
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID."
            },
            "reportId": {
              "required": true,
              "description": "The ID of the report.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "description": "Deletes a report by its ID.",
          "id": "dfareporting.reports.delete",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}"
        },
        "insert": {
          "path": "userprofiles/{profileId}/reports",
          "parameters": {
            "profileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID."
            }
          },
          "httpMethod": "POST",
          "description": "Creates a report.",
          "flatPath": "userprofiles/{profileId}/reports",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Report"
          },
          "request": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "id": "dfareporting.reports.insert"
        },
        "run": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "id": "dfareporting.reports.run",
          "path": "userprofiles/{profileId}/reports/{reportId}/run",
          "parameters": {
            "synchronous": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "If set and true, tries to run the report synchronously."
            },
            "profileId": {
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "reportId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the report.",
              "format": "int64"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Runs a report.",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}/run"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "id": "dfareporting.reports.get",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "profileId": {
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "reportId": {
              "required": true,
              "format": "int64",
              "description": "The ID of the report.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "description": "Retrieves a report by its ID.",
          "flatPath": "userprofiles/{profileId}/reports/{reportId}"
        },
        "update": {
          "id": "dfareporting.reports.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "request": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "description": "Updates a report.",
          "httpMethod": "PUT",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "reportId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the report.",
              "format": "int64"
            }
          }
        },
        "list": {
          "id": "dfareporting.reports.list",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "flatPath": "userprofiles/{profileId}/reports",
          "description": "Retrieves list of reports.",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "ReportList"
          },
          "httpMethod": "GET",
          "path": "userprofiles/{profileId}/reports",
          "parameters": {
            "profileId": {
              "required": true,
              "description": "The Campaign Manager 360 user profile ID.",
              "format": "int64",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "default": "10",
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value of the nextToken from the previous result page."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "DESCENDING",
              "location": "query",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "scope": {
              "enumDescriptions": [
                "All reports in account.",
                "My reports."
              ],
              "description": "The scope that defines which results are returned.",
              "default": "MINE",
              "location": "query",
              "type": "string",
              "enum": [
                "ALL",
                "MINE"
              ]
            },
            "sortField": {
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME",
                "NAME"
              ],
              "default": "LAST_MODIFIED_TIME",
              "location": "query",
              "type": "string",
              "description": "The field by which to sort the list.",
              "enumDescriptions": [
                "Sort by report ID.",
                "Sort by 'lastModifiedTime' field.",
                "Sort by name of reports."
              ]
            }
          }
        },
        "patch": {
          "flatPath": "userprofiles/{profileId}/reports/{reportId}",
          "description": "Updates an existing report. This method supports patch semantics.",
          "parameterOrder": [
            "profileId",
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "PATCH",
          "path": "userprofiles/{profileId}/reports/{reportId}",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "The Campaign Manager 360 user profile ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "reportId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the report.",
              "format": "int64"
            }
          },
          "id": "dfareporting.reports.patch",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "request": {
            "$ref": "Report"
          }
        }
      },
      "resources": {
        "compatibleFields": {
          "methods": {
            "query": {
              "request": {
                "$ref": "Report"
              },
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "id": "dfareporting.reports.compatibleFields.query",
              "path": "userprofiles/{profileId}/reports/compatiblefields/query",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "profileId"
              ],
              "response": {
                "$ref": "CompatibleFields"
              },
              "description": "Returns the fields that are compatible to be selected in the respective sections of a report criteria, given the fields already selected in the input report and user permissions.",
              "flatPath": "userprofiles/{profileId}/reports/compatiblefields/query"
            }
          }
        },
        "files": {
          "methods": {
            "get": {
              "id": "dfareporting.reports.files.get",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "supportsMediaDownload": true,
              "httpMethod": "GET",
              "path": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "parameters": {
                "fileId": {
                  "required": true,
                  "description": "The ID of the report file.",
                  "format": "int64",
                  "location": "path",
                  "type": "string"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64"
                },
                "reportId": {
                  "required": true,
                  "format": "int64",
                  "description": "The ID of the report.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files/{fileId}",
              "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
              "parameterOrder": [
                "profileId",
                "reportId",
                "fileId"
              ],
              "response": {
                "$ref": "File"
              }
            },
            "list": {
              "id": "dfareporting.reports.files.list",
              "scopes": [
                "https://www.googleapis.com/auth/dfareporting"
              ],
              "flatPath": "userprofiles/{profileId}/reports/{reportId}/files",
              "description": "Lists files for a report.",
              "parameterOrder": [
                "profileId",
                "reportId"
              ],
              "response": {
                "$ref": "FileList"
              },
              "httpMethod": "GET",
              "path": "userprofiles/{profileId}/reports/{reportId}/files",
              "parameters": {
                "sortField": {
                  "enumDescriptions": [
                    "",
                    ""
                  ],
                  "description": "The field by which to sort the list.",
                  "enum": [
                    "ID",
                    "LAST_MODIFIED_TIME"
                  ],
                  "default": "LAST_MODIFIED_TIME",
                  "location": "query",
                  "type": "string"
                },
                "reportId": {
                  "required": true,
                  "description": "The ID of the parent report.",
                  "format": "int64",
                  "location": "path",
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "description": "The Campaign Manager 360 user profile ID.",
                  "format": "int64",
                  "location": "path",
                  "type": "string"
                },
                "sortOrder": {
                  "enum": [
                    "ASCENDING",
                    "DESCENDING"
                  ],
                  "default": "DESCENDING",
                  "location": "query",
                  "type": "string",
                  "description": "Order of sorted results.",
                  "enumDescriptions": [
                    "Ascending order.",
                    "Descending order."
                  ]
                },
                "maxResults": {
                  "default": "10",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of results to return.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The value of the nextToken from the previous result page.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "campaigns": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "Campaign"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaigns.insert",
          "path": "userprofiles/{+profileId}/campaigns",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Campaign"
          },
          "description": "Inserts a new campaign.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "response": {
            "$ref": "Campaign"
          },
          "description": "Gets one campaign by ID.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}",
          "path": "userprofiles/{+profileId}/campaigns/{+id}",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "id": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Campaign ID.",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaigns.get"
        },
        "update": {
          "id": "dfareporting.campaigns.update",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "request": {
            "$ref": "Campaign"
          },
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "Campaign"
          },
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "description": "Updates an existing campaign.",
          "httpMethod": "PUT",
          "path": "userprofiles/{+profileId}/campaigns",
          "parameters": {
            "profileId": {
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Retrieves a list of campaigns, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns",
          "parameterOrder": [
            "profileId"
          ],
          "response": {
            "$ref": "CampaignsListResponse"
          },
          "path": "userprofiles/{+profileId}/campaigns",
          "parameters": {
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "advertiserIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "format": "int64",
              "description": "Select only campaigns that belong to these advertisers."
            },
            "archived": {
              "location": "query",
              "type": "boolean",
              "description": "Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns."
            },
            "excludedIds": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Exclude campaigns with these IDs.",
              "format": "int64"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "format": "int64",
              "required": true
            },
            "maxResults": {
              "default": "1000",
[...]
