{
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "canonicalName": "Dfareporting",
  "kind": "discovery#restDescription",
  "name": "dfareporting",
  "fullyEncodeReservedExpansion": true,
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "CreativeAssignment": {
      "type": "object",
      "id": "CreativeAssignment",
      "description": "Creative Assignment.",
      "properties": {
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of the creative assignment."
        },
        "creativeGroupAssignments": {
          "type": "array",
          "items": {
            "$ref": "CreativeGroupAssignment"
          },
          "description": "Creative group assignments for this creative assignment. Only one assignment per creative group number is allowed for a maximum of two assignments."
        },
        "applyEventTags": {
          "type": "boolean",
          "description": "Whether applicable event tags should fire when this creative assignment is rendered. If this value is unset when the ad is inserted or updated, it will default to true for all creative types EXCEPT for INTERNAL_REDIRECT, INTERSTITIAL_INTERNAL_REDIRECT, and INSTREAM_VIDEO."
        },
        "companionCreativeOverrides": {
          "description": "Companion creative overrides for this creative assignment. Applicable to video ads.",
          "type": "array",
          "items": {
            "$ref": "CompanionClickThroughOverride"
          }
        },
        "weight": {
          "description": "Weight of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_RANDOM. Value must be greater than or equal to 1.",
          "type": "integer",
          "format": "int32"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this creative assignment is active. When true, the creative will be included in the ad's rotation."
        },
        "sequence": {
          "type": "integer",
          "format": "int32",
          "description": "Sequence number of the creative assignment, applicable when the rotation type is CREATIVE_ROTATION_TYPE_SEQUENTIAL. Acceptable values are 1 to 65535, inclusive."
        },
        "endTime": {
          "type": "string",
          "format": "date-time"
        },
        "richMediaExitOverrides": {
          "type": "array",
          "items": {
            "$ref": "RichMediaExitOverride"
          },
          "description": "Rich media exit overrides for this creative assignment. Applicable when the creative type is any of the following: - DISPLAY - RICH_MEDIA_INPAGE - RICH_MEDIA_INPAGE_FLOATING - RICH_MEDIA_IM_EXPAND - RICH_MEDIA_EXPANDING - RICH_MEDIA_INTERSTITIAL_FLOAT - RICH_MEDIA_MOBILE_IN_APP - RICH_MEDIA_MULTI_FLOATING - RICH_MEDIA_PEEL_DOWN - VPAID_LINEAR - VPAID_NON_LINEAR "
        },
        "sslCompliant": {
          "description": "Whether the creative to be assigned is SSL-compliant. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        },
        "creativeId": {
          "description": "ID of the creative to be assigned. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "type": "string",
          "format": "date-time"
        },
        "creativeIdDimensionValue": {
          "description": "Dimension value for the ID of the creative. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        }
      }
    },
    "DynamicFeedsInsertRequest": {
      "id": "DynamicFeedsInsertRequest",
      "description": "Dynamic profile ID is required for dynamic feed insert as the current GPA API only can create a dynamic feed under profile context,even though the dynamic feed itself don't need the dynamic profile id.",
      "type": "object",
      "properties": {
        "dynamicProfileId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Dynamic profile ID of the inserted dynamic feed."
        },
        "dynamicFeed": {
          "$ref": "DynamicFeed",
          "description": "Required. Dynamic feed to insert."
        }
      }
    },
    "PathToConversionReportCompatibleFields": {
      "type": "object",
      "id": "PathToConversionReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
      "properties": {
        "customFloodlightVariables": {
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "conversionDimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields.",
          "type": "string"
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "perInteractionDimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report."
        }
      }
    },
    "AdvertiserGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this advertiser group. This is a required field and must be less than 256 characters long and unique among advertiser groups of the same account."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserGroup\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this advertiser group. This is a read-only, auto-generated field."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this advertiser group. This is a read-only field that can be left blank."
        }
      },
      "id": "AdvertiserGroup",
      "description": "Groups advertisers together so that reports can be generated for the entire group at once.",
      "type": "object"
    },
    "AudienceSegment": {
      "id": "AudienceSegment",
      "description": "Audience Segment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "allocation": {
          "type": "integer",
          "format": "int32",
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this audience segment. This is a read-only, auto-generated field."
        }
      }
    },
    "PlacementStrategiesListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategiesListResponse\"."
        },
        "placementStrategies": {
          "description": "Placement strategy collection.",
          "type": "array",
          "items": {
            "$ref": "PlacementStrategy"
          }
        }
      },
      "id": "PlacementStrategiesListResponse",
      "description": "Placement Strategy List Response",
      "type": "object"
    },
    "DirectorySiteSettings": {
      "properties": {
        "dfpSettings": {
          "$ref": "DfpSettings",
          "description": "Directory site Ad Manager settings."
        },
        "interstitialPlacementAccepted": {
          "description": "Whether this site accepts interstitial ads.",
          "type": "boolean"
        },
        "instreamVideoPlacementAccepted": {
          "description": "Whether this site accepts in-stream video ads.",
          "type": "boolean"
        },
        "activeViewOptOut": {
          "description": "Whether this directory site has disabled active view creatives.",
          "type": "boolean"
        }
      },
      "id": "DirectorySiteSettings",
      "description": "Directory Site Settings",
      "type": "object"
    },
    "Region": {
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this region belongs.",
          "type": "string"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this region belongs.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#region\"."
        },
        "dartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of this region."
        },
        "name": {
          "description": "Name of this region.",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code.",
          "type": "string"
        }
      },
      "id": "Region",
      "description": "Contains information about a region that can be targeted by ads.",
      "type": "object"
    },
    "AdsListResponse": {
      "type": "object",
      "id": "AdsListResponse",
      "description": "Ad List Response",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "ads": {
          "description": "Ad collection.",
          "type": "array",
          "items": {
            "$ref": "Ad"
          }
        }
      }
    },
    "SitesListResponse": {
      "id": "SitesListResponse",
      "description": "Site List Response",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#sitesListResponse\"."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "sites": {
          "description": "Site collection.",
          "type": "array",
          "items": {
            "$ref": "Site"
          }
        }
      }
    },
    "TargetableRemarketingListsListResponse": {
      "id": "TargetableRemarketingListsListResponse",
      "description": "Targetable remarketing list response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "targetableRemarketingLists": {
          "description": "Targetable remarketing list collection.",
          "type": "array",
          "items": {
            "$ref": "TargetableRemarketingList"
          }
        }
      }
    },
    "ReachReportCompatibleFields": {
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#reachReportCompatibleFields."
        },
        "dimensionFilters": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "reachByFrequencyMetrics": {
          "description": "Metrics which are compatible to be selected in the \"reachByFrequencyMetricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "pivotedActivityMetrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report."
        }
      },
      "id": "ReachReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"REACH\".",
      "type": "object"
    },
    "DynamicTargetingKey": {
      "type": "object",
      "id": "DynamicTargetingKey",
      "description": "Contains properties of a dynamic targeting key. Dynamic targeting keys are unique, user-friendly labels, created at the advertiser level in DCM, that can be assigned to ads, creatives, and placements and used for targeting with Studio dynamic creatives. Use these labels instead of numeric Campaign Manager IDs (such as placement IDs) to save time and avoid errors in your dynamic feeds.",
      "properties": {
        "name": {
          "description": "Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase.",
          "type": "string"
        },
        "objectType": {
          "description": "Type of the object of this dynamic targeting key. This is a required field.",
          "type": "string",
          "enum": [
            "OBJECT_ADVERTISER",
            "OBJECT_AD",
            "OBJECT_CREATIVE",
            "OBJECT_PLACEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "objectId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the object of this dynamic targeting key. This is a required field."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKey\".",
          "type": "string"
        }
      }
    },
    "LandingPage": {
      "id": "LandingPage",
      "description": "Contains information about where a user's browser is taken after the user clicks an ad.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this landing page. This is a required field. It must be less than 256 characters long."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this landing page. This is a read-only, auto-generated field."
        },
        "url": {
          "description": "URL of this landing page. This is a required field.",
          "type": "string"
        },
        "archived": {
          "description": "Whether this landing page has been archived.",
          "type": "boolean"
        },
        "deepLinks": {
          "type": "array",
          "items": {
            "$ref": "DeepLink"
          },
          "description": "Links that will direct the user to a mobile app, if installed."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#landingPage\"."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this landing page. This is a required field."
        }
      }
    },
    "MetrosListResponse": {
      "id": "MetrosListResponse",
      "description": "Metro List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\".",
          "type": "string"
        },
        "metros": {
          "description": "Metro collection.",
          "type": "array",
          "items": {
            "$ref": "Metro"
          }
        }
      }
    },
    "CountriesListResponse": {
      "id": "CountriesListResponse",
      "description": "Country List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\".",
          "type": "string"
        },
        "countries": {
          "description": "Country collection.",
          "type": "array",
          "items": {
            "$ref": "Country"
          }
        }
      }
    },
    "ProjectsListResponse": {
      "type": "object",
      "id": "ProjectsListResponse",
      "description": "Project List Response",
      "properties": {
        "projects": {
          "type": "array",
          "items": {
            "$ref": "Project"
          },
          "description": "Project collection."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#projectsListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token to be used for the next list operation."
        }
      }
    },
    "PlatformType": {
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this platform type."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformType\"."
        },
        "name": {
          "type": "string",
          "description": "Name of this platform type."
        }
      },
      "id": "PlatformType",
      "description": "Contains information about a platform type that can be targeted by ads.",
      "type": "object"
    },
    "CreativeOptimizationConfiguration": {
      "type": "object",
      "id": "CreativeOptimizationConfiguration",
      "description": "Creative optimization settings.",
      "properties": {
        "optimizationActivitys": {
          "type": "array",
          "items": {
            "$ref": "OptimizationActivity"
          },
          "description": "List of optimization activities associated with this configuration."
        },
        "name": {
          "description": "Name of this creative optimization config. This is a required field and must be less than 129 characters long.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this creative optimization config. This field is auto-generated when the campaign is inserted or updated. It can be null for existing campaigns."
        },
        "optimizationModel": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CLICK",
            "POST_CLICK",
            "POST_IMPRESSION",
            "POST_CLICK_AND_IMPRESSION",
            "VIDEO_COMPLETION"
          ],
          "type": "string",
          "description": "Optimization model for this configuration."
        }
      }
    },
    "DynamicRules": {
      "id": "DynamicRules",
      "description": "Contains dynamic rules information.",
      "type": "object",
      "properties": {
        "proximityFilter": {
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING.",
          "$ref": "ProximityFilter"
        },
        "autoTargetedFieldIds": {
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "weightFieldId": {
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED.",
          "type": "integer",
          "format": "int32"
        },
        "customValueFields": {
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering.",
          "type": "array",
          "items": {
            "$ref": "CustomValueField"
          }
        },
        "remarketingValueAttributes": {
          "type": "array",
          "items": {
            "$ref": "RemarketingValueAttribute"
          },
          "description": "Optional. The link between an element field ID and a list of user attribute IDs."
        },
        "ruleType": {
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "type": "string",
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ],
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ]
        },
        "customRules": {
          "type": "array",
          "items": {
            "$ref": "CustomRule"
          },
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM."
        },
        "rotationType": {
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ],
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ],
          "type": "string",
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows."
        }
      }
    },
    "Order": {
      "id": "Order",
      "description": "Describes properties of a Planning order.",
      "type": "object",
      "properties": {
        "siteNames": {
          "description": "Free-form site names this order is associated with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approverUserProfileIds": {
          "description": "IDs for users that have to approve documents created for this order.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "comments": {
          "type": "string",
          "description": "Comments in this order."
        },
        "planningTermId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the terms and conditions template used in this order."
        },
        "advertiserId": {
          "description": "Advertiser ID of this order.",
          "type": "string",
          "format": "int64"
        },
        "buyerOrganizationName": {
          "type": "string",
          "description": "Name of the buyer organization."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this order. This is a read-only, auto-generated field."
        },
        "notes": {
          "description": "Notes of this order.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this order.",
          "type": "string",
          "format": "int64"
        },
        "projectId": {
          "type": "string",
          "format": "int64",
          "description": "Project ID of this order."
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this order."
        },
        "name": {
          "type": "string",
          "description": "Name of this order."
        },
        "sellerOrganizationName": {
          "description": "Name of the seller organization.",
          "type": "string"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this order.",
          "$ref": "LastModifiedInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#order\".",
          "type": "string"
        },
        "sellerOrderId": {
          "type": "string",
          "description": "Seller order ID associated with this order."
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Terms and conditions of this order."
        },
        "siteId": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Site IDs this order is associated with."
        },
        "contacts": {
          "description": "Contacts for this order.",
          "type": "array",
          "items": {
            "$ref": "OrderContact"
          }
        },
        "buyerInvoiceId": {
          "type": "string",
          "description": "Buyer invoice ID associated with this order."
        }
      }
    },
    "ConversionError": {
      "properties": {
        "code": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INVALID_ARGUMENT",
            "INTERNAL",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "type": "string",
          "description": "A description of the error."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionError\"."
        }
      },
      "type": "object",
      "id": "ConversionError",
      "description": "The error code and description for a conversion that failed to insert or update."
    },
    "ClickThroughUrl": {
      "properties": {
        "landingPageId": {
          "description": "ID of the landing page for the click-through URL. Applicable if the defaultLandingPage field is set to false.",
          "type": "string",
          "format": "int64"
        },
        "customClickThroughUrl": {
          "type": "string",
          "description": "Custom click-through URL. Applicable if the defaultLandingPage field is set to false and the landingPageId field is left unset."
        },
        "computedClickThroughUrl": {
          "type": "string",
          "description": "Read-only convenience field representing the actual URL that will be used for this click-through. The URL is computed as follows: - If defaultLandingPage is enabled then the campaign's default landing page URL is assigned to this field. - If defaultLandingPage is not enabled and a landingPageId is specified then that landing page's URL is assigned to this field. - If neither of the above cases apply, then the customClickThroughUrl is assigned to this field. "
        },
        "defaultLandingPage": {
          "description": "Whether the campaign default landing page is used.",
          "type": "boolean"
        }
      },
      "id": "ClickThroughUrl",
      "description": "Click-through URL",
      "type": "object"
    },
    "UserDefinedVariableConfiguration": {
      "id": "UserDefinedVariableConfiguration",
      "description": "User Defined Variable configuration.",
      "type": "object",
      "properties": {
        "dataType": {
          "enum": [
            "STRING",
            "NUMBER"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Data type for the variable. This is a required field.",
          "type": "string"
        },
        "variableType": {
          "description": "Variable name in the tag. This is a required field.",
          "type": "string",
          "enum": [
            "U1",
            "U2",
            "U3",
            "U4",
            "U5",
            "U6",
            "U7",
            "U8",
            "U9",
            "U10",
            "U11",
            "U12",
            "U13",
            "U14",
            "U15",
            "U16",
            "U17",
            "U18",
            "U19",
            "U20",
            "U21",
            "U22",
            "U23",
            "U24",
            "U25",
            "U26",
            "U27",
            "U28",
            "U29",
            "U30",
            "U31",
            "U32",
            "U33",
            "U34",
            "U35",
            "U36",
            "U37",
            "U38",
            "U39",
            "U40",
            "U41",
            "U42",
            "U43",
            "U44",
            "U45",
            "U46",
            "U47",
            "U48",
            "U49",
            "U50",
            "U51",
            "U52",
            "U53",
            "U54",
            "U55",
            "U56",
            "U57",
            "U58",
            "U59",
            "U60",
            "U61",
            "U62",
            "U63",
            "U64",
            "U65",
            "U66",
            "U67",
            "U68",
            "U69",
            "U70",
            "U71",
            "U72",
            "U73",
            "U74",
            "U75",
            "U76",
            "U77",
            "U78",
            "U79",
            "U80",
            "U81",
            "U82",
            "U83",
            "U84",
            "U85",
            "U86",
            "U87",
            "U88",
            "U89",
            "U90",
            "U91",
            "U92",
            "U93",
            "U94",
            "U95",
            "U96",
            "U97",
            "U98",
            "U99",
            "U100"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "reportName": {
          "description": "User-friendly name for the variable which will appear in reports. This is a required field, must be less than 64 characters long, and cannot contain the following characters: \"\"<>\".",
          "type": "string"
        }
      }
    },
    "PlacementsGenerateTagsResponse": {
      "type": "object",
      "id": "PlacementsGenerateTagsResponse",
      "description": "Placement GenerateTags Response",
      "properties": {
        "placementTags": {
          "description": "Set of generated tags for the specified placements.",
          "type": "array",
          "items": {
            "$ref": "PlacementTag"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\".",
          "type": "string"
        }
      }
    },
    "OfflineUserAddressInfo": {
      "properties": {
        "hashedFirstName": {
          "description": "First name of the user, which is hashed as SHA-256 after normalized (Lowercase all characters; Remove any extra spaces before, after, and in between).",
          "type": "string"
        },
        "hashedLastName": {
          "description": "Last name of the user, which is hashed as SHA-256 after normalized (lower case only and no punctuation).",
          "type": "string"
        },
        "countryCode": {
          "description": "2-letter country code in ISO-3166-1 alpha-2 of the user's address.",
          "type": "string"
        },
        "hashedStreetAddress": {
          "type": "string",
          "description": "The street address of the user hashed using SHA-256 hash function after normalization (lower case only)."
        },
        "city": {
          "type": "string",
          "description": "City of the address."
        },
        "state": {
          "description": "State code of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Postal code of the user's address.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OfflineUserAddressInfo",
      "description": "Identify a user by name and address."
    },
    "CustomValueField": {
      "properties": {
        "requestKey": {
          "description": "Optional. Custom key used to match for auto filtering.",
          "type": "string"
        },
        "fieldId": {
          "description": "Optional. Field ID in the element.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CustomValueField",
      "description": "Contains custom value field information.",
      "type": "object"
    },
    "OperatingSystemVersionsListResponse": {
      "properties": {
        "operatingSystemVersions": {
          "description": "Operating system version collection.",
          "type": "array",
          "items": {
            "$ref": "OperatingSystemVersion"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\"."
        }
      },
      "id": "OperatingSystemVersionsListResponse",
      "description": "Operating System Version List Response",
      "type": "object"
    },
    "CustomRule": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of this custom rule."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Priority of the custom rule."
        },
        "ruleBlocks": {
          "description": "Optional. A list of field filter, the custom rule will apply.",
          "type": "array",
          "items": {
            "$ref": "RuleBlock"
          }
        }
      },
      "id": "CustomRule",
      "description": "Contains custom rule information.",
      "type": "object"
    },
    "CompanionClickThroughOverride": {
      "type": "object",
      "id": "CompanionClickThroughOverride",
      "description": "Companion Click-through override.",
      "properties": {
        "creativeId": {
          "description": "ID of the creative for this companion click-through override.",
          "type": "string",
          "format": "int64"
        },
        "clickThroughUrl": {
          "$ref": "ClickThroughUrl",
          "description": "Click-through URL of this companion click-through override."
        }
      }
    },
    "PricingSchedulePricingPeriod": {
      "properties": {
        "rateOrCostNanos": {
          "type": "string",
          "format": "int64",
          "description": "Rate or cost of this pricing period in nanos (i.e., multiplied by 1000000000). Acceptable values are 0 to 1000000000000000000, inclusive."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "units": {
          "description": "Units of this pricing period. Acceptable values are 0 to 10000000000, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "pricingComment": {
          "description": "Comments for this pricing period.",
          "type": "string"
        }
      },
      "id": "PricingSchedulePricingPeriod",
      "description": "Pricing Period",
      "type": "object"
    },
    "Size": {
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "ID of this size. This is a read-only, auto-generated field."
        },
        "width": {
          "description": "Width of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#size\".",
          "type": "string"
        },
        "height": {
          "description": "Height of this size. Acceptable values are 0 to 32767, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "iab": {
          "description": "IAB standard size. This is a read-only, auto-generated field.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Size",
      "description": "Represents the dimensions of ads, placements, creatives, or creative assets."
    },
    "DimensionValueRequest": {
      "properties": {
        "filters": {
          "description": "The list of filters by which to filter values. The filters are ANDed.",
          "type": "array",
          "items": {
            "$ref": "DimensionFilter"
          }
        },
        "kind": {
          "description": "The kind of request this is, in this case dfareporting#dimensionValueRequest .",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "dimensionName": {
          "description": "The name of the dimension for which values should be requested.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        }
      },
      "type": "object",
      "id": "DimensionValueRequest",
      "description": "Represents a DimensionValuesRequest."
    },
    "Report": {
      "id": "Report",
      "description": "Represents a Report resource.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "The eTag of this response for caching purposes."
        },
        "id": {
          "description": "The unique ID identifying this report resource.",
          "type": "string",
          "format": "int64"
        },
        "crossDimensionReachCriteria": {
          "description": "The report criteria for a report of type \"CROSS_DIMENSION_REACH\".",
          "type": "object",
          "properties": {
            "overlapMetricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of overlap metrics the report should include."
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "pivoted": {
              "type": "boolean",
              "description": "Whether the report is pivoted or not. Defaults to true."
            },
            "metricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include."
            },
            "dimensionFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered."
            },
            "dimension": {
              "description": "The dimension option.",
              "type": "string",
              "enum": [
                "ADVERTISER",
                "CAMPAIGN",
                "SITE_BY_ADVERTISER",
                "SITE_BY_CAMPAIGN"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ]
            },
            "breakdown": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of dimensions the report should include."
            }
          }
        },
        "ownerProfileId": {
          "type": "string",
          "format": "int64",
          "description": "The user profile id of the owner of this report."
        },
        "format": {
          "enum": [
            "CSV",
            "EXCEL"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The output format of the report. If not specified, default format is \"CSV\". Note that the actual format in the completed report file might differ if for instance the report's size exceeds the format's capabilities. \"CSV\" will then be the fallback format.",
          "type": "string"
        },
        "accountId": {
          "description": "The account ID to which this report belongs.",
          "type": "string",
          "format": "int64"
        },
        "schedule": {
          "properties": {
            "repeatsOnWeekDays": {
              "description": "List of week days \"WEEKLY\" on which scheduled reports should run.",
              "type": "array",
              "items": {
                "type": "string",
                "enumDescriptions": [
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  ""
                ],
                "enum": [
                  "SUNDAY",
                  "MONDAY",
                  "TUESDAY",
                  "WEDNESDAY",
                  "THURSDAY",
                  "FRIDAY",
                  "SATURDAY"
                ]
              }
            },
            "every": {
              "description": "Defines every how many days, weeks or months the report should be run. Needs to be set when \"repeats\" is either \"DAILY\", \"WEEKLY\" or \"MONTHLY\".",
              "type": "integer",
              "format": "int32"
            },
            "expirationDate": {
              "type": "string",
              "format": "date"
            },
            "timezone": {
              "type": "string",
              "description": "The timezone when the report will run."
            },
            "startDate": {
              "type": "string",
              "format": "date"
            },
            "active": {
              "type": "boolean",
              "description": "Whether the schedule is active or not. Must be set to either true or false."
            },
            "runsOnDayOfMonth": {
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "DAY_OF_MONTH",
                "WEEK_OF_MONTH"
              ],
              "type": "string",
              "description": "Enum to define for \"MONTHLY\" scheduled reports whether reports should be repeated on the same day of the month as \"startDate\" or the same day of the week of the month. Example: If 'startDate' is Monday, April 2nd 2012 (2012-04-02), \"DAY_OF_MONTH\" would run subsequent reports on the 2nd of every Month, and \"WEEK_OF_MONTH\" would run subsequent reports on the first Monday of the month."
            },
            "repeats": {
              "type": "string",
              "description": "The interval for which the report is repeated. Note: - \"DAILY\" also requires field \"every\" to be set. - \"WEEKLY\" also requires fields \"every\" and \"repeatsOnWeekDays\" to be set. - \"MONTHLY\" also requires fields \"every\" and \"runsOnDayOfMonth\" to be set. "
            }
          },
          "description": "The report's schedule. Can only be set if the report's 'dateRange' is a relative date range and the relative date range is not \"TODAY\".",
          "type": "object"
        },
        "subAccountId": {
          "type": "string",
          "format": "int64",
          "description": "The subaccount ID to which this report belongs if applicable."
        },
        "crossMediaReachCriteria": {
          "properties": {
            "dimensionFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "Required. The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "dateRange": {
              "$ref": "DateRange",
              "description": "Required. The date range this report should be run for."
            },
            "dimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "Required. The list of dimensions the report should include."
            },
            "metricNames": {
              "description": "Required. The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object",
          "description": "Optional. The report criteria for a report of type \"CROSS_MEDIA_REACH\"."
        },
        "type": {
          "enum": [
            "STANDARD",
            "REACH",
            "PATH_TO_CONVERSION",
            "CROSS_DIMENSION_REACH",
            "FLOODLIGHT",
            "CROSS_MEDIA_REACH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of the report.",
          "type": "string"
        },
        "fileName": {
          "description": "The filename used when generating report files for this report.",
          "type": "string"
        },
        "criteria": {
          "properties": {
            "dimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of standard dimensions the report should include."
            },
            "dimensionFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            },
            "dateRange": {
              "description": "The date range for which this report should be run.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include."
            },
            "customRichMediaEvents": {
              "description": "Custom Rich Media Events group.",
              "$ref": "CustomRichMediaEvents"
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            }
          },
          "description": "The report criteria for a report of type \"STANDARD\".",
          "type": "object"
        },
        "pathToConversionCriteria": {
          "type": "object",
          "description": "The report criteria for a report of type \"PATH_TO_CONVERSION\".",
          "properties": {
            "activityFilters": {
              "description": "The list of 'dfa:activity' values to filter on.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            },
            "metricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of metrics the report should include."
            },
            "customRichMediaEvents": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include."
            },
            "perInteractionDimensions": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of per interaction dimensions the report should include."
            },
            "reportProperties": {
              "type": "object",
              "description": "The properties of the report.",
              "properties": {
                "pivotOnInteractionPath": {
                  "description": "Enable pivoting on interaction path.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window.",
                  "type": "boolean"
                },
                "clicksLookbackWindow": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CM360 checks to see if a click interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90."
                },
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "maximumImpressionInteractions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report."
                },
                "maximumClickInteractions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of click interactions to include in the report. Advertisers currently paying for E2C reports get up to 200 (100 clicks, 100 impressions). If another advertiser in your network is paying for E2C, you can have up to 5 total exposures per report."
                },
                "impressionsLookbackWindow": {
                  "description": "CM360 checks to see if an impression interaction occurred within the specified period of time before a conversion. By default the value is pulled from Floodlight or you can manually enter a custom value. Valid values: 1-90.",
                  "type": "integer",
                  "format": "int32"
                },
                "maximumInteractionGap": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum amount of time that can take place between interactions (clicks or impressions) by the same user. Valid values: 1-90."
                },
                "includeAttributedIPConversions": {
                  "description": "Deprecated: has no effect.",
                  "type": "boolean"
                }
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "customFloodlightVariables": {
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              },
              "description": "The list of custom floodlight variables the report should include."
            },
            "conversionDimensions": {
              "description": "The list of conversion dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            }
          }
        },
        "reachCriteria": {
          "properties": {
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "customRichMediaEvents": {
              "$ref": "CustomRichMediaEvents",
              "description": "Custom Rich Media Events group."
            },
            "enableAllDimensionCombinations": {
              "type": "boolean",
              "description": "Whether to enable all reach dimension combinations in the report. Defaults to false. If enabled, the date range of the report should be within the last 42 days."
            },
            "activities": {
              "$ref": "Activities",
              "description": "Activity group."
            },
            "reachByFrequencyMetricNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The list of names of Reach By Frequency metrics the report should include."
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dimensionFilters": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed."
            }
          },
          "type": "object",
          "description": "The report criteria for a report of type \"REACH\"."
        },
        "lastModifiedTime": {
          "description": "The timestamp (in milliseconds since epoch) of when this report was last modified.",
          "type": "string",
          "format": "uint64"
        },
        "name": {
          "description": "The name of the report.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#report.",
          "type": "string"
        },
        "floodlightCriteria": {
          "properties": {
            "reportProperties": {
              "properties": {
                "includeUnattributedIPConversions": {
                  "description": "Include conversions that have no associated cookies and no exposures. It’s therefore impossible to know how the user was exposed to your ads during the lookback window prior to a conversion.",
                  "type": "boolean"
                },
                "includeAttributedIPConversions": {
                  "description": "Include conversions that have no cookie, but do have an exposure path.",
                  "type": "boolean"
                },
                "includeUnattributedCookieConversions": {
                  "type": "boolean",
                  "description": "Include conversions of users with a DoubleClick cookie but without an exposure. That means the user did not click or see an ad from the advertiser within the Floodlight group, or that the interaction happened outside the lookback window."
                }
              },
              "description": "The properties of the report.",
              "type": "object"
            },
            "dimensions": {
              "description": "The list of dimensions the report should include.",
              "type": "array",
              "items": {
                "$ref": "SortedDimension"
              }
            },
            "dimensionFilters": {
              "description": "The list of filters on which dimensions are filtered. Filters for different dimensions are ANDed, filters for the same dimension are grouped together and ORed.",
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              }
            },
            "dateRange": {
              "description": "The date range this report should be run for.",
              "$ref": "DateRange"
            },
            "metricNames": {
              "description": "The list of names of metrics the report should include.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "customRichMediaEvents": {
              "type": "array",
              "items": {
                "$ref": "DimensionValue"
              },
              "description": "The list of custom rich media events to include."
            },
            "floodlightConfigId": {
              "description": "The floodlight ID for which to show data in this report. All advertisers associated with that ID will automatically be added. The dimension of the value needs to be 'dfa:floodlightConfigId'.",
              "$ref": "DimensionValue"
            }
          },
          "description": "The report criteria for a report of type \"FLOODLIGHT\".",
          "type": "object"
        },
        "delivery": {
          "properties": {
            "emailOwner": {
              "description": "Whether the report should be emailed to the report owner.",
              "type": "boolean"
            },
            "message": {
              "description": "The message to be sent with each email.",
              "type": "string"
            },
            "recipients": {
              "description": "The list of recipients to which to email the report.",
              "type": "array",
              "items": {
                "$ref": "Recipient"
              }
            },
            "emailOwnerDeliveryType": {
              "type": "string",
              "description": "The type of delivery for the owner to receive, if enabled.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "LINK",
                "ATTACHMENT"
              ]
            }
          },
          "type": "object",
          "description": "The report's email delivery settings."
        }
      }
    },
    "Activities": {
      "type": "object",
      "id": "Activities",
      "description": "Represents an activity group.",
      "properties": {
        "filters": {
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "metricNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of names of floodlight activity metrics."
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is, in this case dfareporting#activities."
        }
      }
    },
    "MeasurementPartnerAdvertiserLink": {
      "id": "MeasurementPartnerAdvertiserLink",
      "type": "object",
      "properties": {
        "measurementPartner": {
          "type": "string",
          "description": "Measurement partner used for tag wrapping.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ]
        },
        "linkStatus": {
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "description": "Status of the partner link.",
          "type": "string"
        },
        "partnerAdvertiserId": {
          "type": "string",
          "description": "partner Advertiser Id."
        }
      }
    },
    "ContentSource": {
      "id": "ContentSource",
      "description": "Contains the content source of the dynamic feed.",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Required. The resource type of the content source.",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_GOOGLE_SPREADSHEET",
            "RESOURCE_TYPE_REMOTE_FILE"
          ],
          "enumDescriptions": [
            "The resource type is unspecified.",
            "The resource type is google spreadsheet.",
            "The resource type is remote file."
          ]
        },
        "metaData": {
          "description": "Output only. Metadata of the content source. It contains the number of rows and the column names from resource link. This is a read-only field.",
          "$ref": "ContentSourceMetaData",
          "readOnly": true
        },
        "createInfo": {
          "description": "Output only. The creation timestamp of the content source. This is a read-only field.",
          "$ref": "LastModifiedInfo",
          "readOnly": true
        },
        "resourceLink": {
          "description": "Required. The link to the file of the content source.",
          "type": "string"
        },
        "contentSourceName": {
          "type": "string",
          "description": "Optional. The name of the content source. It is defaulted to content source file name if not provided."
        },
        "lastModifiedInfo": {
          "description": "Output only. The last modified timestamp of the content source. This is a read-only field.",
          "readOnly": true,
          "$ref": "LastModifiedInfo"
        }
      }
    },
    "DeliverySchedule": {
      "id": "DeliverySchedule",
      "description": "Delivery Schedule.",
      "type": "object",
      "properties": {
        "priority": {
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served.",
          "type": "string"
        },
        "impressionRatio": {
          "type": "string",
          "format": "int64",
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive."
        },
        "hardCutoff": {
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals.",
          "type": "boolean"
        },
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        }
      }
    },
    "DirectorySite": {
      "properties": {
        "publisherSpecificationId": {
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "inpageTagFormats": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ],
            "type": "string"
          },
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" "
        },
        "settings": {
          "description": "Directory site settings.",
          "$ref": "DirectorySiteSettings"
        },
        "id": {
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "url": {
          "type": "string",
          "description": "URL of this directory site."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this directory site."
        },
        "interstitialTagFormats": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ]
          },
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" "
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field."
        }
      },
      "id": "DirectorySite",
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "type": "object"
    },
    "PricingSchedule": {
      "id": "PricingSchedule",
      "description": "Pricing Schedule",
      "type": "object",
      "properties": {
        "pricingType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "type": "string",
          "description": "Placement pricing type. This field is required on insertion."
        },
        "testingStartDate": {
          "type": "string",
          "format": "date"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "capCostOption": {
          "type": "string",
          "description": "Placement cap cost option.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ]
        },
        "flighted": {
          "type": "boolean",
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically."
        },
        "pricingPeriods": {
          "description": "Pricing periods for this placement.",
          "type": "array",
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          }
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "VideoSettings": {
      "properties": {
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ],
          "type": "string",
          "description": "Orientation of a video placement. If this value is set, placement will return assets matching the specified orientation."
        },
        "obaSettings": {
          "$ref": "ObaIcon",
          "description": "Settings for the OBA icon of video creatives served to this placement. If this object is provided, the creative-level OBA settings will be overridden."
        },
        "publisherSpecificationId": {
          "type": "string",
          "format": "int64",
          "description": "Publisher specification ID of a video placement. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max"
        },
        "durationSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Duration of a video placement in seconds."
        },
        "transcodeSettings": {
          "description": "Settings for the transcodes of video creatives served to this placement. If this object is provided, the creative-level transcode settings will be overridden.",
          "$ref": "TranscodeSetting"
        },
        "companionSettings": {
          "description": "Settings for the companion creatives of video creatives served to this placement.",
          "$ref": "CompanionSetting"
        },
        "obaEnabled": {
          "type": "boolean",
          "description": "Whether OBA icons are enabled for this placement."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoSettings\".",
          "type": "string"
        },
        "skippableSettings": {
          "$ref": "SkippableSetting",
          "description": "Settings for the skippability of video creatives served to this placement. If this object is provided, the creative-level skippable settings will be overridden."
        }
      },
      "id": "VideoSettings",
      "description": "Video Settings",
      "type": "object"
    },
    "UserRole": {
      "id": "UserRole",
      "description": "Contains properties of auser role, which is used to manage user access.",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this user role. This is a read-only field that can be left blank."
        },
        "parentUserRoleId": {
          "description": "ID of the user role that this user role is based on or copied from. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRole\".",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this user role. This is a read-only field that can be left blank."
        },
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          },
          "description": "List of permissions associated with this user role."
        },
        "id": {
          "description": "ID of this user role. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "defaultUserRole": {
          "type": "boolean",
          "description": "Whether this is a default user role. Default user roles are created by the system for the account/subaccount and cannot be modified or deleted. Each default user role comes with a basic set of preassigned permissions."
        },
        "name": {
          "type": "string",
          "description": "Name of this user role. This is a required field. Must be less than 256 characters long. If this user role is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this user role is a top-level user role, and the name must be unique among top-level user roles of the same account."
        }
      }
    },
    "DfpSettings": {
      "type": "object",
      "id": "DfpSettings",
      "description": "Google Ad Manager Settings",
      "properties": {
        "pubPaidPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this directory site accepts publisher-paid tags."
        },
        "dfpNetworkName": {
          "description": "Ad Manager network name for this directory site.",
          "type": "string"
        },
        "dfpNetworkCode": {
          "description": "Ad Manager network code for this directory site.",
          "type": "string"
        },
        "publisherPortalOnly": {
          "type": "boolean",
          "description": "Whether this directory site is available only via Publisher Portal."
        },
        "programmaticPlacementAccepted": {
          "type": "boolean",
          "description": "Whether this directory site accepts programmatic placements."
        }
      }
    },
    "UserRolePermissionsListResponse": {
      "properties": {
        "userRolePermissions": {
          "description": "User role permission collection.",
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\".",
          "type": "string"
        }
      },
      "id": "UserRolePermissionsListResponse",
      "description": "User Role Permission List Response",
      "type": "object"
    },
    "TargetableRemarketingList": {
      "properties": {
        "id": {
          "description": "Targetable remarketing list ID.",
          "type": "string",
          "format": "int64"
        },
        "active": {
          "type": "boolean",
          "description": "Whether this targetable remarketing list is active."
        },
        "listSize": {
          "description": "Number of users currently in the list. This is a read-only field.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
        },
        "listSource": {
          "enumDescriptions": [
            "covers sources not supported in DCM other than those listed below",
            "ADX",
            "DFP",
            "XFP",
            "DoubleClick Campaign Manager",
            "Google Analytics Premium",
            "Youtube",
            "DoubleClick Bid Manager",
            "G+",
            "DoubleClick Audience Center",
            "Playstore"
          ],
          "enum": [
            "REMARKETING_LIST_SOURCE_OTHER",
            "REMARKETING_LIST_SOURCE_ADX",
            "REMARKETING_LIST_SOURCE_DFP",
            "REMARKETING_LIST_SOURCE_XFP",
            "REMARKETING_LIST_SOURCE_DFA",
            "REMARKETING_LIST_SOURCE_GA",
            "REMARKETING_LIST_SOURCE_YOUTUBE",
            "REMARKETING_LIST_SOURCE_DBM",
            "REMARKETING_LIST_SOURCE_GPLUS",
            "REMARKETING_LIST_SOURCE_DMP",
            "REMARKETING_LIST_SOURCE_PLAY_STORE"
          ],
          "type": "string",
          "description": "Product from which this targetable remarketing list was originated."
        },
        "subaccountId": {
          "description": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests.",
          "type": "string",
          "format": "int64"
        },
        "description": {
          "type": "string",
          "description": "Targetable remarketing list description."
        },
        "name": {
          "description": "Name of the targetable remarketing list. Is no greater than 128 characters long.",
          "type": "string"
        },
        "lifeSpan": {
          "description": "Number of days that a user should remain in the targetable remarketing list without an impression.",
          "type": "string",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingList\"."
        },
        "advertiserId": {
          "description": "Dimension value for the advertiser ID that owns this targetable remarketing list.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "TargetableRemarketingList",
      "description": "Contains properties of a targetable remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource is a read-only view of a remarketing list to be used to facilitate targeting ads to specific lists. Remarketing lists that are owned by your advertisers and those that are shared to your advertisers or account are accessible via this resource. To manage remarketing lists that are owned by your advertisers, use the RemarketingLists resource.",
      "type": "object"
    },
    "CreativeGroup": {
      "properties": {
        "accountId": {
          "description": "Account ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "description": "Advertiser ID of this creative group. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\".",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank."
        },
        "id": {
          "description": "ID of this creative group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "groupNumber": {
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "name": {
          "type": "string",
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser."
        }
      },
      "id": "CreativeGroup",
      "description": "Contains properties of a creative group.",
      "type": "object"
    },
    "ListPopulationTerm": {
      "type": "object",
      "id": "ListPopulationTerm",
      "description": "Remarketing List Population Rule Term.",
      "properties": {
        "negation": {
          "description": "Whether to negate the comparison result of this term during rule evaluation. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "boolean"
        },
        "contains": {
          "type": "boolean",
          "description": "Will be true if the term should check if the user is in the list and false if the term should check if the user is not in the list. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM. False by default."
        },
        "variableFriendlyName": {
          "type": "string",
          "description": "Friendly name of this term's variable. This is a read-only, auto-generated field. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM."
        },
        "operator": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NUM_EQUALS",
            "NUM_LESS_THAN",
            "NUM_LESS_THAN_EQUAL",
            "NUM_GREATER_THAN",
            "NUM_GREATER_THAN_EQUAL",
            "STRING_EQUALS",
            "STRING_CONTAINS"
          ],
          "type": "string",
          "description": "Comparison operator of this term. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM."
        },
        "type": {
          "type": "string",
          "description": "List population term type determines the applicable fields in this object. If left unset or set to CUSTOM_VARIABLE_TERM, then variableName, variableFriendlyName, operator, value, and negation are applicable. If set to LIST_MEMBERSHIP_TERM then remarketingListId and contains are applicable. If set to REFERRER_TERM then operator, value, and negation are applicable.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CUSTOM_VARIABLE_TERM",
            "LIST_MEMBERSHIP_TERM",
            "REFERRER_TERM"
          ]
        },
        "value": {
          "description": "Literal to compare the variable to. This field is only relevant when type is left unset or set to CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "variableName": {
          "description": "Name of the variable (U1, U2, etc.) being compared in this term. This field is only relevant when type is set to null, CUSTOM_VARIABLE_TERM or REFERRER_TERM.",
          "type": "string"
        },
        "remarketingListId": {
          "description": "ID of the list in question. This field is only relevant when type is set to LIST_MEMBERSHIP_TERM.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "VideoProcessingData": {
      "type": "object",
      "id": "VideoProcessingData",
      "description": "Contains processing data for a video asset.",
      "properties": {
        "processingState": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PROCESSING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The processing state of the studio creative asset.",
          "readOnly": true,
          "enumDescriptions": [
            "The processing state is unknown.",
            "The asset is being processed.",
            "The asset was successfully processed.",
            "The asset failed to be processed."
          ]
        },
        "errorReason": {
          "description": "For a FAILED processing state, the error reason discovered.",
          "type": "string"
        }
      }
    },
    "PostalCode": {
      "type": "object",
      "id": "PostalCode",
      "description": "Contains information about a postal code that can be targeted by ads.",
      "properties": {
        "countryCode": {
          "description": "Country code of the country to which this postal code belongs.",
          "type": "string"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this postal code belongs.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCode\"."
        },
        "code": {
          "type": "string",
          "description": "Postal code. This is equivalent to the id field."
        },
        "id": {
          "type": "string",
          "description": "ID of this postal code."
        }
      }
    },
    "SkippableSetting": {
      "properties": {
        "progressOffset": {
          "$ref": "VideoOffset",
          "description": "Amount of time to play videos served to this placement before counting a view. Applicable when skippable is true."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#skippableSetting\"."
        },
        "skippable": {
          "description": "Whether the user can skip creatives served to this placement.",
          "type": "boolean"
        },
        "skipOffset": {
          "description": "Amount of time to play videos served to this placement before the skip button should appear. Applicable when skippable is true.",
          "$ref": "VideoOffset"
        }
      },
      "id": "SkippableSetting",
      "description": "Skippable Settings",
      "type": "object"
    },
    "ClickTag": {
      "properties": {
        "eventName": {
          "description": "Advertiser event name associated with the click tag. This field is used by DISPLAY_IMAGE_GALLERY and HTML5_BANNER creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "string"
        },
        "name": {
          "description": "Parameter name for the specified click tag. For DISPLAY_IMAGE_GALLERY creative assets, this field must match the value of the creative asset's creativeAssetId.name field.",
          "type": "string"
        },
        "clickThroughUrl": {
          "$ref": "CreativeClickThroughUrl",
          "description": "Parameter value for the specified click tag. This field contains a click-through url."
        }
      },
      "id": "ClickTag",
      "description": "Creative Click Tag.",
      "type": "object"
    },
    "Placement": {
      "properties": {
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "placementGroupIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the placement group. This is a read-only, auto-generated field."
        },
        "status": {
          "enum": [
            "PENDING_REVIEW",
            "PAYMENT_ACCEPTED",
            "PAYMENT_REJECTED",
            "ACKNOWLEDGE_REJECTION",
            "ACKNOWLEDGE_ACCEPTANCE",
            "DRAFT"
          ],
          "enumDescriptions": [
            "Placement is not yet reviewed by publisher.",
            "Placement Ad Serving fee is accepted by publisher",
            "Placement Ad Serving fee is rejected by publisher",
            "Advertisers has accepted rejection of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers has accepted acceptance of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers is still working on placement not yet ready for Publisher review; default status for pub-paid placements"
          ],
          "description": "Third-party placement status.",
          "type": "string"
        },
        "videoSettings": {
          "description": "A collection of settings which affect video creatives served through this placement. Applicable to placements with IN_STREAM_VIDEO compatibility.",
          "$ref": "VideoSettings"
        },
        "lookbackConfiguration": {
          "description": "Lookback window settings for this placement.",
          "$ref": "LookbackConfiguration"
        },
        "activeStatus": {
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Whether this placement is active, inactive, archived or permanently archived.",
          "type": "string"
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "paymentSource": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "PLACEMENT_AGENCY_PAID",
            "PLACEMENT_PUBLISHER_PAID"
          ],
          "type": "string",
          "description": "Payment source for this placement. This is a required field that is read-only after insertion."
        },
        "compatibility": {
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "description": "Placement compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering on desktop, on mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are no longer allowed for new placement insertions. Instead, use DISPLAY or DISPLAY_INTERSTITIAL. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. This field is required on insertion.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "Whether this placement is the primary placement of a roadblock (placement group). You cannot change this field from true to false. Setting this field to true will automatically set the primary field on the original primary placement of the roadblock to false, and it will automatically set the roadblock's primaryPlacementId field to the ID of this placement."
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "conversionDomainOverride": {
          "description": "Optional. Conversion domain overrides for a placement.",
          "$ref": "PlacementConversionDomainOverride"
        },
        "subaccountId": {
          "type": "string",
          "format": "int64",
          "description": "Subaccount ID of this placement. This field can be left blank."
        },
        "adBlockingOptOut": {
          "type": "boolean",
          "description": "Whether this placement opts out of ad blocking. When true, ad blocking is disabled for this placement. When false, the campaign and site settings take effect."
        },
        "paymentApproved": {
          "type": "boolean",
          "description": "Whether payment was approved for this placement. This is a read-only field relevant only to publisher-paid placements."
        },
        "placementStrategyId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the placement strategy assigned to this placement."
        },
        "id": {
          "description": "ID of this placement. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "siteServed": {
          "type": "boolean",
          "description": "Optional. Whether the ads in the placement are served by another platform and CM is only used for tracking or they are served by CM. A false value indicates the ad is served by CM."
        },
        "advertiserId": {
          "description": "Advertiser ID of this placement. This field can be left blank.",
          "type": "string",
          "format": "int64"
        },
[...]
