{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "rootUrl": "https://dfareporting.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "basePath": "/dfareporting/v5/",
  "servicePath": "dfareporting/v5/",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "name": "dfareporting",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "title": "Campaign Manager 360 API",
  "schemas": {
    "AccountUserProfile": {
      "id": "AccountUserProfile",
      "type": "object",
      "properties": {
        "advertiserFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which advertisers are visible to the user profile."
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "siteFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which sites are visible to the user profile."
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "userAccessType": {
          "type": "string",
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ]
        },
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "userRoleId": {
          "type": "string",
          "description": "User role ID of the user profile. This is a required field.",
          "format": "int64"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "traffickerType": {
          "type": "string",
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API."
    },
    "FloodlightConfiguration": {
      "description": "Contains properties of a Floodlight configuration.",
      "properties": {
        "exposureToConversionEnabled": {
          "description": "Whether the exposure-to-conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "firstDayOfWeek": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "SUNDAY",
            "MONDAY"
          ],
          "type": "string"
        },
        "id": {
          "description": "ID of this floodlight configuration. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "inAppAttributionTrackingEnabled": {
          "description": "Whether in-app attribution tracking is enabled.",
          "type": "boolean"
        },
        "customViewabilityMetric": {
          "description": "Custom Viewability metric for the floodlight configuration.",
          "$ref": "CustomViewabilityMetric"
        },
        "thirdPartyAuthenticationTokens": {
          "description": "List of third-party authentication tokens enabled for this configuration.",
          "type": "array",
          "items": {
            "$ref": "ThirdPartyAuthenticationToken"
          }
        },
        "omnitureSettings": {
          "$ref": "OmnitureSettings",
          "description": "Settings for Campaign Manager Omniture integration."
        },
        "lookbackConfiguration": {
          "description": "Lookback window settings for this floodlight configuration.",
          "$ref": "LookbackConfiguration"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightConfiguration\".",
          "type": "string"
        },
        "tagSettings": {
          "$ref": "TagSettings",
          "description": "Configuration settings for dynamic and image floodlight tags."
        },
        "analyticsDataSharingEnabled": {
          "description": "Whether advertiser data is shared with Google Analytics.",
          "type": "boolean"
        },
        "naturalSearchConversionAttributionOption": {
          "description": "Types of attribution options for natural search conversions.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "EXCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_CONVERSION_ATTRIBUTION",
            "INCLUDE_NATURAL_SEARCH_TIERED_CONVERSION_ATTRIBUTION"
          ]
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this floodlight configuration. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "userDefinedVariableConfigurations": {
          "description": "List of user defined variables enabled for this configuration.",
          "type": "array",
          "items": {
            "$ref": "UserDefinedVariableConfiguration"
          }
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight configuration. This is a read-only, auto-generated field."
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of the parent advertiser of this floodlight configuration.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        }
      },
      "type": "object",
      "id": "FloodlightConfiguration"
    },
    "AccountPermission": {
      "type": "object",
      "id": "AccountPermission",
      "description": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account.",
      "properties": {
        "permissionGroupId": {
          "type": "string",
          "description": "Permission group of this account permission.",
          "format": "int64"
        },
        "accountProfiles": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ACCOUNT_PROFILE_BASIC",
              "ACCOUNT_PROFILE_STANDARD"
            ],
            "enumDescriptions": [
              "Basic profile has fewer features and lower CPM.",
              "Standard profile as a higher CPM and all the features."
            ]
          },
          "description": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" "
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\".",
          "type": "string"
        },
        "level": {
          "enum": [
            "USER",
            "ADMINISTRATOR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Administrative level required to enable this account permission."
        },
        "name": {
          "description": "Name of this account permission.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this account permission.",
          "format": "int64"
        }
      }
    },
    "ObjectFilter": {
      "description": "Object Filter.",
      "properties": {
        "objectIds": {
          "description": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "status": {
          "type": "string",
          "enum": [
            "NONE",
            "ASSIGNED",
            "ALL"
          ],
          "description": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list.",
          "enumDescriptions": [
            "Profile has access to none of the objects.",
            "Profile has access to only specific objects.",
            "Profile has access to all objects."
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ObjectFilter"
    },
    "DimensionValueRequest": {
      "description": "Represents a DimensionValuesRequest.",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "DimensionFilter"
          },
          "description": "The list of filters by which to filter values. The filters are ANDed."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
          "description": "The kind of request this is, in this case dfareporting#dimensionValueRequest .",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension for which values should be requested.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        }
      },
      "type": "object",
      "id": "DimensionValueRequest"
    },
    "Conversion": {
      "properties": {
        "gclid": {
          "description": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field.",
          "type": "string"
        },
        "userIdentifiers": {
          "description": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5.",
          "type": "array",
          "items": {
            "$ref": "UserIdentifier"
          }
        },
        "timestampMicros": {
          "type": "string",
          "description": "The timestamp of conversion, in Unix epoch micros. This is a required field.",
          "format": "int64"
        },
        "sessionAttributesEncoded": {
          "type": "string",
          "description": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate.",
          "format": "byte"
        },
        "dclid": {
          "description": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field.",
          "type": "string"
        },
        "impressionId": {
          "description": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set.",
          "type": "string"
        },
        "quantity": {
          "type": "string",
          "description": "The quantity of the conversion. This is a required field.",
          "format": "int64"
        },
        "limitAdTracking": {
          "description": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing.",
          "type": "boolean"
        },
        "mobileDeviceId": {
          "description": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "floodlightActivityId": {
          "type": "string",
          "description": "Floodlight Activity ID of this conversion. This is a required field.",
          "format": "int64"
        },
        "cartData": {
          "description": "The cart data associated with this conversion.",
          "$ref": "CartData"
        },
        "encryptedUserId": {
          "description": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "string"
        },
        "customVariables": {
          "type": "array",
          "items": {
            "$ref": "CustomFloodlightVariable"
          },
          "description": "Custom floodlight variables."
        },
        "ordinal": {
          "description": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field.",
          "type": "string"
        },
        "encryptedUserIdCandidates": {
          "description": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "floodlightConfigurationId": {
          "type": "string",
          "description": "Floodlight Configuration ID of this conversion. This is a required field.",
          "format": "int64"
        },
        "matchId": {
          "description": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field.",
          "type": "string"
        },
        "adUserDataConsent": {
          "type": "string",
          "enum": [
            "GRANTED",
            "DENIED"
          ],
          "description": "This represents consent for ad user data.",
          "enumDescriptions": [
            "Granted.",
            "Denied."
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\".",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field.",
          "format": "double"
        },
        "childDirectedTreatment": {
          "description": "Whether this particular request may come from a user under the age of 13, under COPPA compliance.",
          "type": "boolean"
        },
        "nonPersonalizedAd": {
          "description": "Whether the conversion was for a non personalized ad.",
          "type": "boolean"
        },
        "treatmentForUnderage": {
          "description": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR).",
          "type": "boolean"
        }
      },
      "description": "A Conversion represents when a user successfully performs a desired action after seeing an ad.",
      "id": "Conversion",
      "type": "object"
    },
    "StudioCreative": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative information.",
      "properties": {
        "assetIds": {
          "description": "List of assets associated with this studio creative. It is a required field on insertion.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID of this studio creative. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "dynamicProfileId": {
          "type": "string",
          "description": "Dynamic profile ID of this studio creative.",
          "format": "int64"
        },
        "studioAccountId": {
          "type": "string",
          "description": "Studio account ID of this creative. This field, if left unset, will be auto-populated.",
          "format": "int64"
        },
        "status": {
          "description": "Output only. Status of this studio creative. It is a read-only field.",
          "enumDescriptions": [
            "The status of the studio creative is unknown. This value is unused.",
            "The creative is still being developed.",
            "The creative has been published and is ready for QA.",
            "The creative has failed QA and must be corrected.",
            "The creative has passed QA and is ready to be trafficked.",
            "The creative has been trafficked to an adserver."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNKNOWN_STATUS",
            "IN_DEVELOPMENT",
            "PUBLISHED",
            "QA_REJECTED",
            "QA_APPROVED",
            "TRAFFICKED"
          ]
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "The timestamp when the studio creative was last modified. This is a read-only, auto-generated field."
        },
        "id": {
          "type": "string",
          "description": "Output only. Unique ID of this studio creative. This is a read-only, auto-generated field.",
          "readOnly": true,
          "format": "int64"
        },
        "studioCampaignId": {
          "description": "Studio campaign ID of this studio creative. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "createdInfo": {
          "$ref": "LastModifiedInfo",
          "description": "The timestamp when the studio creative was created. This is a read-only, auto-generated field."
        },
        "format": {
          "enum": [
            "UNKNOWN",
            "BANNER",
            "EXPANDING",
            "INTERSTITIAL",
            "VPAID_LINEAR_VIDEO"
          ],
          "type": "string",
          "enumDescriptions": [
            "The format of the studio creative is unknown. This value is unused.",
            "Banner format.",
            "Expanding format.",
            "Intertitial format.",
            "VPAID linear video creative format."
          ],
          "description": "Format of this studio creative. This is a required field on insertion."
        },
        "dimension": {
          "$ref": "StudioCreativeDimension",
          "description": "Dimension of this studio creative. This is a required field on insertion if format is BANNER or EXPANDING."
        },
        "backupImageAssetId": {
          "description": "Backup image asset ID of this studio creative. It is a required field on insertion.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StudioCreative"
    },
    "Subaccount": {
      "id": "Subaccount",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of this subaccount. This is a required field. Must be less than 128 characters long and be unique among subaccounts of the same account.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this subaccount. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "accountId": {
          "description": "ID of the account that contains this subaccount. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "availablePermissionIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "IDs of the available user role permissions for this subaccount."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccount\".",
          "type": "string"
        }
      },
      "description": "Contains properties of a Campaign Manager subaccount."
    },
    "PlacementStrategy": {
      "description": "Contains properties of a placement strategy.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this placement strategy. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this placement strategy. This is a required field. It must be less than 256 characters long and unique among placement strategies of the same account.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement strategy.This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementStrategy\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlacementStrategy"
    },
    "SubaccountsListResponse": {
      "type": "object",
      "id": "SubaccountsListResponse",
      "description": "Subaccount List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#subaccountsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "subaccounts": {
          "type": "array",
          "items": {
            "$ref": "Subaccount"
          },
          "description": "Subaccount collection."
        }
      }
    },
    "TvCampaignDetail": {
      "id": "TvCampaignDetail",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "timepoints": {
          "type": "array",
          "items": {
            "$ref": "TvCampaignTimepoint"
          },
          "description": "The timepoints of the TV campaign."
        }
      },
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows."
    },
    "Element": {
      "properties": {
        "externalIdFieldId": {
          "type": "integer",
          "description": "Required. The field ID to specify the field used for uniquely identifying the feed row. This is a required field.",
          "format": "int32"
        },
        "activeFieldId": {
          "description": "Optional. The field ID to specify the active field in the feed.",
          "format": "int32",
          "type": "integer"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the element. This is a read-only field.",
          "readOnly": true
        },
        "reportingLabelFieldId": {
          "description": "Required. The field ID to specify the field used for dynamic reporting in Campaign Manager 360.",
          "format": "int32",
          "type": "integer"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The creation timestamp of the element. This is a read-only field.",
          "readOnly": true
        },
        "proximityTargetingFieldId": {
          "type": "integer",
          "description": "Optional. The field ID that specify field used for proximity targeting.",
          "format": "int32"
        },
        "defaultFieldId": {
          "type": "integer",
          "description": "Optional. The field ID to specify the field that represents the default field in the feed.",
          "format": "int32"
        },
        "endTimestampFieldId": {
          "type": "integer",
          "description": "Optional. The field ID to specify the field that represents the end timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "format": "int32"
        },
        "elementName": {
          "description": "Optional. The name of the element. It is defaulted to resource file name if not provided.",
          "type": "string"
        },
        "startTimestampFieldId": {
          "description": "Optional. The field ID to specify the field that represents the start timestamp. Only applicable if you're planning to use scheduling in your dynamic creative.",
          "format": "int32",
          "type": "integer"
        },
        "feedFields": {
          "type": "array",
          "items": {
            "$ref": "FeedField"
          },
          "description": "Required. The list of fields of the element. The field order and name should match the meta data in the content source source."
        },
        "isLocalTimestamp": {
          "description": "Optional. Whether the start and end timestamp is local timestamp. The default value is false which means start and end timestamp is in UTC.",
          "type": "boolean"
        }
      },
      "description": "Contains the element of the dynamic feed.",
      "id": "Element",
      "type": "object"
    },
    "Metro": {
      "type": "object",
      "id": "Metro",
      "description": "Contains information about a metro region that can be targeted by ads.",
      "properties": {
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "countryDartId": {
          "description": "DART ID of the country to which this metro region belongs.",
          "format": "int64",
          "type": "string"
        },
        "dmaId": {
          "type": "string",
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "format": "int64"
        },
        "dartId": {
          "description": "DART ID of this metro region.",
          "format": "int64",
          "type": "string"
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        }
      }
    },
    "BillingProfile": {
      "id": "BillingProfile",
      "type": "object",
      "properties": {
        "invoiceLevel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Invoice level for this billing profile. Used to group fees into separate invoices by account, advertiser, or campaign.",
          "enum": [
            "ACCOUNT_LEVEL",
            "ADVERTISER_LEVEL",
            "CAMPAIGN_LEVEL"
          ],
          "type": "string"
        },
        "isDefault": {
          "description": "True if the billing profile is the account default profile. This is a read-only field.",
          "type": "boolean"
        },
        "paymentsAccountId": {
          "description": "The ID of the payment account the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "secondaryPaymentsCustomerId": {
          "description": "The ID of the secondary payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingProfile\".",
          "type": "string"
        },
        "paymentsCustomerId": {
          "description": "The ID of the payment customer the billing profile belongs to. This is a read-only field.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of this billing profile.This is a read-only field.",
          "type": "string"
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.This is a read-only field.",
          "type": "string"
        },
        "purchaseOrder": {
          "description": "Purchase order (PO) for this billing profile. This PO number is used in the invoices for all of the advertisers in this billing profile.",
          "type": "string"
        },
        "consolidatedInvoice": {
          "description": "Consolidated invoice option for this billing profile. Used to get a single, consolidated invoice across the chosen invoice level.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this billing profile. This is a required field and must be less than 256 characters long and must be unique among billing profile in the same account.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this billing profile. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Status of this billing profile.This is a read-only field.",
          "enum": [
            "UNDER_REVIEW",
            "ACTIVE",
            "ARCHIVED"
          ],
          "type": "string"
        }
      },
      "description": "Contains properties of a Campaign Manager Billing Profile."
    },
    "CreativeFieldAssignment": {
      "id": "CreativeFieldAssignment",
      "type": "object",
      "properties": {
        "creativeFieldId": {
          "type": "string",
          "description": "ID of the creative field.",
          "format": "int64"
        },
        "creativeFieldValueId": {
          "description": "ID of the creative field value.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Creative Field Assignment."
    },
    "MetrosListResponse": {
      "description": "Metro List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metrosListResponse\".",
          "type": "string"
        },
        "metros": {
          "description": "Metro collection.",
          "type": "array",
          "items": {
            "$ref": "Metro"
          }
        }
      },
      "type": "object",
      "id": "MetrosListResponse"
    },
    "ReportCompatibleFields": {
      "type": "object",
      "id": "ReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"STANDARD\".",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
        },
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "pivotedActivityMetrics": {
          "description": "Metrics which are compatible to be selected as activity metrics to pivot on in the \"activities\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#reportCompatibleFields.",
          "type": "string"
        },
        "dimensionFilters": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
        }
      }
    },
    "LanguagesListResponse": {
      "type": "object",
      "id": "LanguagesListResponse",
      "description": "Language List Response",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "Language"
          },
          "description": "Language collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        }
      }
    },
    "CreativeFieldValue": {
      "type": "object",
      "id": "CreativeFieldValue",
      "description": "Contains properties of a creative field value.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldValue\".",
          "type": "string"
        },
        "value": {
          "description": "Value of this creative field value. It needs to be less than 256 characters in length and unique per creative field.",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative field value. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "TagData": {
      "type": "object",
      "id": "TagData",
      "description": "Placement Tag Data",
      "properties": {
        "adId": {
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "format": "int64",
          "type": "string"
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        },
        "creativeId": {
          "type": "string",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "format": "int64"
        },
        "format": {
          "description": "TagData tag format of this tag.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ]
        },
        "clickTag": {
          "description": "Tag string to record a click.",
          "type": "string"
        }
      }
    },
    "ListTargetingExpression": {
      "type": "object",
      "id": "ListTargetingExpression",
      "description": "Remarketing List Targeting Expression.",
      "properties": {
        "expression": {
          "description": "Expression describing which lists are being targeted by the ad.",
          "type": "string"
        }
      }
    },
    "OperatingSystem": {
      "description": "Contains information about an operating system that can be targeted by ads.",
      "properties": {
        "name": {
          "description": "Name of this operating system.",
          "type": "string"
        },
        "desktop": {
          "description": "Whether this operating system is for desktop.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystem\".",
          "type": "string"
        },
        "dartId": {
          "type": "string",
          "description": "DART ID of this operating system. This is the ID used for targeting.",
          "format": "int64"
        },
        "mobile": {
          "description": "Whether this operating system is for mobile.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "OperatingSystem"
    },
    "Placement": {
      "properties": {
        "activeStatus": {
          "type": "string",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "description": "Whether this placement is active, inactive, archived or permanently archived.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "allowOnYoutube": {
          "description": "Optional. Whether the placement is enabled for YouTube integration.",
          "type": "boolean"
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement. This field is required on insertion, specifically subfields startDate, endDate and pricingType.",
          "$ref": "PricingSchedule"
        },
        "youtubeSettings": {
          "$ref": "YoutubeSettings",
          "description": "Optional. YouTube settings for the placement. The placement must be enabled for YouTube to use this field."
        },
        "siteId": {
          "description": "Site ID associated with this placement. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "size": {
          "$ref": "Size",
          "description": "Size associated with this placement. When inserting or updating a placement, only the size ID field is used. This field is required on insertion."
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "comment": {
          "description": "Comments for this placement.",
          "type": "string"
        },
        "publisherUpdateInfo": {
          "description": "Information about the last publisher update. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteServed": {
          "description": "Optional. Whether the ads in the placement are served by another platform and CM is only used for tracking or they are served by CM. A false value indicates the ad is served by CM.",
          "type": "boolean"
        },
        "tagFormats": {
          "description": "Tag formats to generate for this placement. This field is required on insertion. Acceptable values are: - \"PLACEMENT_TAG_STANDARD\" - \"PLACEMENT_TAG_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_IFRAME_ILAYER\" - \"PLACEMENT_TAG_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT\" - \"PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT\" - \"PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT\" - \"PLACEMENT_TAG_CLICK_COMMANDS\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3\" - \"PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4\" - \"PLACEMENT_TAG_TRACKING\" - \"PLACEMENT_TAG_TRACKING_IFRAME\" - \"PLACEMENT_TAG_TRACKING_JAVASCRIPT\" ",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLACEMENT_TAG_STANDARD",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_IFRAME_ILAYER",
              "PLACEMENT_TAG_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
              "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
              "PLACEMENT_TAG_CLICK_COMMANDS",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
              "PLACEMENT_TAG_TRACKING",
              "PLACEMENT_TAG_TRACKING_IFRAME",
              "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
              "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
              "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
              "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
            ],
            "type": "string"
          }
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "tagSetting": {
          "description": "Tag settings for this placement.",
          "$ref": "TagSetting"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this placement. This is a read-only field."
        },
        "partnerWrappingData": {
          "$ref": "MeasurementPartnerWrappingData",
          "description": "Measurement partner provided settings for a wrapped placement."
        },
        "name": {
          "description": "Name of this placement.This is a required field and must be less than or equal to 512 characters long.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement. This field can be left blank.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placement\".",
          "type": "string"
        },
        "directorySiteId": {
          "type": "string",
          "description": "Directory site ID of this placement. On insert, you must set either this field or the siteId field to specify the site associated with this placement. This is a required field that is read-only after insertion.",
          "format": "int64"
        },
        "contentCategoryId": {
          "type": "string",
          "description": "ID of the content category assigned to this placement.",
          "format": "int64"
        },
        "sslRequired": {
          "description": "Whether creatives assigned to this placement must be SSL-compliant.",
          "type": "boolean"
        },
        "vpaidAdapterChoice": {
          "description": "VPAID adapter setting for this placement. Controls which VPAID format the measurement adapter will use for in-stream video creatives assigned to this placement. *Note:* Flash is no longer supported. This field now defaults to HTML5 when the following values are provided: FLASH, BOTH.",
          "enumDescriptions": [
            "DEFAULT means Google chooses which adapter, if any, to serve.",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "FLASH",
            "HTML5",
            "BOTH"
          ]
        },
        "adBlockingOptOut": {
          "description": "Whether this placement opts out of ad blocking. When true, ad blocking is disabled for this placement. When false, the campaign and site settings take effect.",
          "type": "boolean"
        },
        "adServingPlatformId": {
          "type": "string",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the placement. Measurement partners can use this field to add ad-server specific macros. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "format": "int64"
        },
        "videoSettings": {
          "$ref": "VideoSettings",
          "description": "A collection of settings which affect video creatives served through this placement. Applicable to placements with IN_STREAM_VIDEO compatibility."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this placement. This field can be left blank.",
          "format": "int64"
        },
        "keyName": {
          "description": "Key name of this placement. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "additionalSizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "Additional sizes associated with this placement. When inserting or updating a placement, only the size ID field is used."
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "placementGroupIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the placement group. This is a read-only, auto-generated field."
        },
        "compatibility": {
          "type": "string",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ],
          "description": "Placement compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering on desktop, on mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are no longer allowed for new placement insertions. Instead, use DISPLAY or DISPLAY_INTERSTITIAL. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard. This field is required on insertion.",
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ]
        },
        "primary": {
          "description": "Whether this placement is the primary placement of a roadblock (placement group). You cannot change this field from true to false. Setting this field to true will automatically set the primary field on the original primary placement of the roadblock to false, and it will automatically set the roadblock's primaryPlacementId field to the ID of this placement.",
          "type": "boolean"
        },
        "placementStrategyId": {
          "type": "string",
          "description": "ID of the placement strategy assigned to this placement.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "conversionDomainOverride": {
          "description": "Optional. Conversion domain overrides for a placement.",
          "$ref": "PlacementConversionDomainOverride"
        },
        "campaignId": {
          "type": "string",
          "description": "Campaign ID of this placement. This field is a required field on insertion.",
          "format": "int64"
        },
        "status": {
          "description": "Third-party placement status.",
          "enumDescriptions": [
            "Placement is not yet reviewed by publisher.",
            "Placement Ad Serving fee is accepted by publisher",
            "Placement Ad Serving fee is rejected by publisher",
            "Advertisers has accepted rejection of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers has accepted acceptance of placement ad serving fee. This will suppress future notification on DDMM UI",
            "Advertisers is still working on placement not yet ready for Publisher review; default status for pub-paid placements"
          ],
          "type": "string",
          "enum": [
            "PENDING_REVIEW",
            "PAYMENT_ACCEPTED",
            "PAYMENT_REJECTED",
            "ACKNOWLEDGE_REJECTION",
            "ACKNOWLEDGE_ACCEPTANCE",
            "DRAFT"
          ]
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Lookback window settings for this placement."
        },
        "id": {
          "type": "string",
          "description": "ID of this placement. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "campaignIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
        },
        "paymentSource": {
          "description": "Payment source for this placement. This is a required field that is read-only after insertion.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLACEMENT_AGENCY_PAID",
            "PLACEMENT_PUBLISHER_PAID"
          ]
        },
        "videoActiveViewOptOut": {
          "description": "Whether Verification and ActiveView are disabled for in-stream video creatives for this placement. The same setting videoActiveViewOptOut exists on the site level -- the opt out occurs if either of these settings are true. These settings are distinct from DirectorySites.settings.activeViewOptOut or Sites.siteSettings.activeViewOptOut which only apply to display ads. However, Accounts.activeViewOptOut opts out both video traffic, as well as display ads, from Verification and ActiveView.",
          "type": "boolean"
        },
        "paymentApproved": {
          "description": "Whether payment was approved for this placement. This is a read-only field relevant only to publisher-paid placements.",
          "type": "boolean"
        },
        "wrappingOptOut": {
          "description": "Whether this placement opts out of tag wrapping.",
          "type": "boolean"
        },
        "placementGroupId": {
          "type": "string",
          "description": "ID of this placement's group, if applicable.",
          "format": "int64"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this placement. This field can be left blank.",
          "format": "int64"
        }
      },
      "description": "Contains properties of a placement.",
      "id": "Placement",
      "type": "object"
    },
    "CreativeField": {
      "type": "object",
      "id": "CreativeField",
      "description": "Contains properties of a creative field.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeField\".",
          "type": "string"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this creative field. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "id": {
          "description": "ID of this creative field. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this creative field. This is a required field on insertion.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this creative field. This is a required field and must be less than 256 characters long and unique among creative fields of the same advertiser.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        }
      }
    },
    "DynamicRules": {
      "description": "Contains dynamic rules information.",
      "properties": {
        "customValueFields": {
          "type": "array",
          "items": {
            "$ref": "CustomValueField"
          },
          "description": "Optional. Mapping between field ID and custom key that are used to match for auto filtering."
        },
        "customRules": {
          "description": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM.",
          "type": "array",
          "items": {
            "$ref": "CustomRule"
          }
        },
        "remarketingValueAttributes": {
          "description": "Optional. The link between an element field ID and a list of user attribute IDs.",
          "type": "array",
          "items": {
            "$ref": "RemarketingValueAttribute"
          }
        },
        "weightFieldId": {
          "description": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED.",
          "format": "int32",
          "type": "integer"
        },
        "ruleType": {
          "description": "Optional. The type of the rule, the default value is OPEN.",
          "enumDescriptions": [
            "The rule type is unknown. This value is unused.",
            "The rule type is open, all feed rows are eligible for selection. This is the default value.",
            "The rule type is auto, the feed rows are eligible for selection based on the automatic rules.",
            "The rule type is custom, the feed rows are eligible for selection based on the custom rules.",
            "The rule type is proximity targeting, the feed rows are eligible for selection based on the proximity targeting rules."
          ],
          "type": "string",
          "enum": [
            "RULE_SET_TYPE_UNKNOWN",
            "OPEN",
            "AUTO",
            "CUSTOM",
            "PROXIMITY_TARGETING"
          ]
        },
        "proximityFilter": {
          "$ref": "ProximityFilter",
          "description": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING."
        },
        "rotationType": {
          "enum": [
            "ROTATION_TYPE_UNKNOWN",
            "RANDOM",
            "OPTIMIZED",
            "WEIGHTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The rotation type is unknown. This value is unused.",
            "The rotation type is random. It is the default value.",
            "The rotation type is optimized.",
            "The rotation type is weighted."
          ],
          "description": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows."
        },
        "autoTargetedFieldIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO."
        }
      },
      "type": "object",
      "id": "DynamicRules"
    },
    "ChangeLog": {
      "properties": {
        "transactionId": {
          "type": "string",
          "description": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId.",
          "format": "int64"
        },
        "oldValue": {
          "description": "Old value of the object field.",
          "type": "string"
        },
        "action": {
          "description": "Action which caused the change.",
          "type": "string"
        },
        "newValue": {
          "description": "New value of the object field.",
          "type": "string"
        },
        "changeTime": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "description": "ID of this change log.",
          "format": "int64",
          "type": "string"
        },
        "objectId": {
          "type": "string",
          "description": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type.",
          "format": "int64"
        },
        "accountId": {
          "description": "Account ID of the modified object.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\".",
          "type": "string"
        },
        "fieldName": {
          "description": "Field name of the object which changed.",
          "type": "string"
        },
        "userProfileName": {
          "description": "User profile name of the user who modified the object.",
          "type": "string"
        },
        "objectType": {
          "description": "Object type of the change log.",
          "type": "string"
        },
        "userProfileId": {
          "type": "string",
          "description": "ID of the user who modified the object.",
          "format": "int64"
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of the modified object.",
          "format": "int64"
        }
      },
      "description": "Describes a change that a user has made to a resource.",
      "id": "ChangeLog",
      "type": "object"
    },
    "FloodlightActivityGroup": {
      "type": "object",
      "id": "FloodlightActivityGroup",
      "description": "Contains properties of a Floodlight activity group.",
      "properties": {
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "format": "int64",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "id": {
          "type": "string",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field."
        },
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\".",
          "type": "string"
        },
        "floodlightConfigurationIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field."
        },
        "type": {
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion."
        }
      }
    },
    "TvCampaignTimepoint": {
      "id": "TvCampaignTimepoint",
      "type": "object",
      "properties": {
        "dateWindow": {
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ],
          "description": "The date window of the timepoint."
        },
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        },
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window."
    },
    "OffsetPosition": {
      "description": "Offset Position.",
      "properties": {
        "top": {
          "description": "Offset distance from top side of an asset or a window.",
          "format": "int32",
          "type": "integer"
        },
        "left": {
          "type": "integer",
          "description": "Offset distance from left side of an asset or a window.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "OffsetPosition"
    },
    "MobileApp": {
      "properties": {
        "directory": {
          "description": "Mobile app directory.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "APPLE_APP_STORE",
            "GOOGLE_PLAY_STORE",
            "ROKU_APP_STORE",
            "AMAZON_FIRETV_APP_STORE",
            "PLAYSTATION_APP_STORE",
            "APPLE_TV_APP_STORE",
            "XBOX_APP_STORE",
            "SAMSUNG_TV_APP_STORE",
            "ANDROID_TV_APP_STORE",
            "GENERIC_CTV_APP_STORE"
          ]
        },
        "publisherName": {
          "description": "Publisher name.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#mobileApp\".",
          "type": "string"
        },
        "id": {
          "description": "ID of this mobile app.",
          "type": "string"
        },
        "title": {
          "description": "Title of this mobile app.",
          "type": "string"
        }
      },
      "description": "Contains information about a mobile app. Used as a landing page deep link.",
      "id": "MobileApp",
      "type": "object"
    },
    "CampaignCreativeAssociation": {
      "properties": {
        "creativeId": {
          "type": "string",
          "description": "ID of the creative associated with the campaign. This is a required field.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociation\".",
          "type": "string"
        }
      },
      "description": "Identifies a creative which has been associated with a given campaign.",
      "id": "CampaignCreativeAssociation",
      "type": "object"
    },
    "CreativeAssetId": {
      "type": "object",
      "id": "CreativeAssetId",
      "description": "Creative Asset ID.",
      "properties": {
        "type": {
          "description": "Type of asset to upload. This is a required field. FLASH and IMAGE are no longer supported for new uploads. All image assets should use HTML_IMAGE.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "IMAGE",
            "FLASH",
            "VIDEO",
            "HTML",
            "HTML_IMAGE",
            "AUDIO"
          ]
        },
        "name": {
          "description": "Name of the creative asset. This is a required field while inserting an asset. After insertion, this assetIdentifier is used to identify the uploaded asset. Characters in the name must be alphanumeric or one of the following: \".-_ \". Spaces are allowed.",
          "type": "string"
        }
      }
    },
    "CompanionClickThroughOverride": {
      "properties": {
        "clickThroughUrl": {
          "description": "Click-through URL of this companion click-through override.",
          "$ref": "ClickThroughUrl"
        },
        "creativeId": {
          "description": "ID of the creative for this companion click-through override.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Companion Click-through override.",
      "id": "CompanionClickThroughOverride",
      "type": "object"
    },
    "DeepLink": {
      "properties": {
        "remarketingListIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Ads served to users on these remarketing lists will use this deep link. Applicable when mobileApp.directory is APPLE_APP_STORE."
        },
        "appUrl": {
          "description": "The URL of the mobile app being linked to.",
          "type": "string"
        },
        "mobileApp": {
          "$ref": "MobileApp",
          "description": "The mobile app targeted by this deep link."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#deepLink\".",
          "type": "string"
        },
        "fallbackUrl": {
          "description": "The fallback URL. This URL will be served to users who do not have the mobile app installed.",
          "type": "string"
        }
      },
      "description": "Contains information about a landing page deep link.",
      "id": "DeepLink",
      "type": "object"
    },
    "ObaIcon": {
      "id": "ObaIcon",
      "type": "object",
      "properties": {
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "yPosition": {
          "description": "OBA icon y coordinate position. Accepted values are top or bottom.",
          "type": "string"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        },
        "size": {
          "$ref": "Size",
          "description": "OBA icon size."
        },
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "iconClickTrackingUrl": {
          "description": "URL to track click when an OBA icon is clicked.",
          "type": "string"
        }
      },
      "description": "Online Behavioral Advertiser icon."
    },
    "AccountPermissionGroup": {
      "description": "AccountPermissionGroups contains a mapping of permission group IDs to names. A permission group is a grouping of account permissions.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermissionGroup\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this account permission group.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this account permission group.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccountPermissionGroup"
    },
    "AdBlockingConfiguration": {
      "description": "Campaign ad blocking settings.",
      "properties": {
        "enabled": {
          "description": "Whether this campaign has enabled ad blocking. When true, ad blocking is enabled for placements in the campaign, but this may be overridden by site and placement settings. When false, ad blocking is disabled for all placements under the campaign, regardless of site and placement settings.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AdBlockingConfiguration"
    },
    "FeedField": {
      "type": "object",
      "id": "FeedField",
      "description": "Each field of the element. This is a required field.",
      "properties": {
        "required": {
          "description": "Optional. Whether the field is required and should not be empty in the feed. Could be set as true when the field type is any of the following: - GPA_SERVED_IMAGE_URL - GPA_SERVED_ASSET_URL - ASSET_LIBRARY_HANDLE - ASSET_LIBRARY_VIDEO_HANDLE - ASSET_LIBRARY_DIRECTORY_HANDLE ",
          "type": "boolean"
        },
        "renderable": {
          "description": "Optional. Whether the field is able to display. Could be set as true when the field type is not in any of the following and the field is not filterable: - COUNTRY_CODE_ISO - CITY - REGION - POSTAL_CODE - METRO - GEO_CANONICAL - USERLIST_ID - CONTEXTUAL_KEYWORD - CM360_DYNAMIC_TARGETING_KEY - WEIGHT ",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The name of the field.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The type is unspecified. This is an unused value.",
            "The field type is text.",
            "The field type is whole number.",
            "The field type is image url",
            "The field type is asset url.",
            "The field type is the ISO 3166-2 alpha-2 codes. It is two-letter country codes defined in ISO 3166-1 published by the International Organization for Standardization.",
            "The field type is decimal.",
            "The field type is custom CM360 ad tag parameter.",
            "The field type is CM360 site ID.",
            "The field type is boolean.",
            "The field type is exit url.",
            "The field type is datetime.",
            "The field type is CM360 creative ID.",
            "The field type is CM360 placement ID.",
            "The field type is CM360 ad ID.",
            "The field type is CM360 advertiser ID.",
            "The field type is CM360 campaign ID.",
            "The field type is cities.",
            "The field type is region.",
            "The field type is postal code.",
            "The field type is metro code.",
            "The field type is custom value.",
            "The field type is remarketing value.",
            "The field type is accurate geographic type.",
            "The field type is weight.",
            "The field type is a list of values.",
            "The field type is creative dimension.",
            "The field type is CM/DV360 Audience ID.",
            "The field type is AssetLibrary directory path.",
            "The field type is AssetLibrary video file path.",
            "The field type is AssetLibrary path.",
            "The field type is third party served url.",
            "The field type is CM dynamic targeting key.",
            "The field type is DV360 line item ID."
          ],
          "description": "Required. The type of the field.",
          "enum": [
            "TYPE_UNKNOWN",
            "STRING",
            "LONG",
            "GPA_SERVED_IMAGE_URL",
            "GPA_SERVED_ASSET_URL",
            "COUNTRY_CODE_ISO",
            "FLOAT",
            "CM360_KEYWORD",
            "CM360_SITE_ID",
            "BOOL",
            "EXIT_URL",
            "DATETIME",
            "CM360_CREATIVE_ID",
            "CM360_PLACEMENT_ID",
            "CM360_AD_ID",
            "CM360_ADVERTISER_ID",
            "CM360_CAMPAIGN_ID",
            "CITY",
            "REGION",
            "POSTAL_CODE",
            "METRO",
            "CUSTOM_VALUE",
            "REMARKETING_VALUE",
            "GEO_CANONICAL",
            "WEIGHT",
            "STRING_LIST",
            "CREATIVE_DIMENSION",
            "USERLIST_ID",
            "ASSET_LIBRARY_DIRECTORY_HANDLE",
            "ASSET_LIBRARY_VIDEO_HANDLE",
            "ASSET_LIBRARY_HANDLE",
            "THIRD_PARTY_SERVED_URL",
            "CM360_DYNAMIC_TARGETING_KEY",
            "DV360_LINE_ITEM_ID"
          ],
          "type": "string"
        },
        "id": {
          "description": "Required. The ID of the field. The ID is based on the column index starting from 0, and it should match the column index in the resource link.",
          "format": "int32",
          "type": "integer"
        },
        "defaultValue": {
          "description": "Optional. The default value of the field.",
          "type": "string"
        },
        "filterable": {
          "description": "Optional. Whether the field is filterable. Could be set as true when the field type is any of the following and is not renderable: - STRING - BOOL - COUNTRY_CODE_ISO - CM360_SITE_ID - CM360_KEYWORD - CM360_CREATIVE_ID - CM360_PLACEMENT_ID - CM360_AD_ID - CM360_ADVERTISER_ID - CM360_CAMPAIGN_ID - CITY - REGION - POSTAL_CODE - METRO - CUSTOM_VALUE - REMARKETING_VALUE - GEO_CANONICAL - STRING_LIST - CREATIVE_DIMENSION - USERLIST_ID - CM360_DYNAMIC_TARGETING_KEY - DV360_LINE_ITEM_ID ",
          "type": "boolean"
        }
      }
    },
    "CreativeFieldsListResponse": {
      "description": "Creative Field List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creativeFields": {
          "description": "Creative field collection.",
          "type": "array",
          "items": {
            "$ref": "CreativeField"
          }
        }
      },
      "type": "object",
      "id": "CreativeFieldsListResponse"
    },
    "ContextualKeyword": {
      "description": "Contains information about a Contextual Keyword that can be targeted by ads.",
      "properties": {
        "keyword": {
          "description": "The keyword that can be targeted by ads.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContextualKeyword"
    },
    "BillingRatesListResponse": {
      "type": "object",
      "id": "BillingRatesListResponse",
      "description": "Billing Rate List Response",
      "properties": {
        "billingRates": {
          "type": "array",
          "items": {
            "$ref": "BillingRate"
          },
          "description": "Billing rates collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingRatesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      }
    },
    "PlacementGroup": {
      "type": "object",
      "id": "PlacementGroup",
      "description": "Contains properties of a package or roadblock.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "directorySiteId": {
          "type": "string",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64"
        },
        "contentCategoryId": {
          "description": "ID of the content category assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "placementStrategyId": {
          "type": "string",
          "description": "ID of the placement strategy assigned to this placement group.",
          "format": "int64"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "subaccountId": {
          "type": "string",
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64"
        },
        "directorySiteIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "siteId": {
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "activeStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ],
          "type": "string"
        },
        "childPlacementIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field."
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "primaryPlacementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field."
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "advertiserId": {
          "type": "string",
          "description": "Advertiser ID of this placement group. This is a required field on insertion.",
          "format": "int64"
        },
        "campaignId": {
          "description": "Campaign ID of this placement group. This field is required on insertion.",
          "format": "int64",
          "type": "string"
        },
        "placementGroupType": {
          "type": "string",
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ]
        },
        "id": {
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "primaryPlacementId": {
          "type": "string",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "format": "int64"
        }
      }
    },
    "CampaignsListResponse": {
      "description": "Campaign List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
          "type": "string"
        },
        "campaigns": {
          "type": "array",
          "items": {
            "$ref": "Campaign"
          },
          "description": "Campaign collection."
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CampaignsListResponse"
    },
    "DynamicTargetingKeysListResponse": {
      "type": "object",
      "id": "DynamicTargetingKeysListResponse",
      "description": "Dynamic Targeting Key List Response",
      "properties": {
        "dynamicTargetingKeys": {
          "description": "Dynamic targeting key collection.",
          "type": "array",
          "items": {
            "$ref": "DynamicTargetingKey"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKeysListResponse\".",
          "type": "string"
        }
      }
    },
    "CreativeRotation": {
      "description": "Creative Rotation.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The weights of each creative in the rotation should be sequential starting at 1. The user may adjust the order.",
            "The weights are calculated according to the ad's CreativeRoationWeightStrategy."
          ],
          "description": "Type of creative rotation. Can be used to specify whether to use sequential or random rotation.",
          "enum": [
            "CREATIVE_ROTATION_TYPE_SEQUENTIAL",
            "CREATIVE_ROTATION_TYPE_RANDOM"
          ],
          "type": "string"
        },
        "weightCalculationStrategy": {
          "enum": [
            "WEIGHT_STRATEGY_EQUAL",
            "WEIGHT_STRATEGY_CUSTOM",
            "WEIGHT_STRATEGY_HIGHEST_CTR",
            "WEIGHT_STRATEGY_OPTIMIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The creative weights should all be equal to 1. This is the default value for all ads with a rotation type of Random.",
            "The creative weights can be any user provided positive integer.",
            "The weights will be automatically calculated giving preference to the creative that has the highest CTR. The CTR for campaigns that are optimized for clicks = clicks/impressions. The CTR for campaigns that are optimized for view-through or click through is sum(activities + floodlight weight)/impressions.",
            "The creative weights will be automatically calculated using a formula that could not possibly be explained in these comments. The value will be within some predetermined range (probably 0 - 1,000,000)."
          ],
          "description": "Strategy for calculating weights. Used with CREATIVE_ROTATION_TYPE_RANDOM."
        },
        "creativeOptimizationConfigurationId": {
          "description": "Creative optimization configuration that is used by this ad. It should refer to one of the existing optimization configurations in the ad's campaign. If it is unset or set to 0, then the campaign's default optimization configuration will be used for this ad.",
          "format": "int64",
          "type": "string"
        },
        "creativeAssignments": {
          "description": "Creative assignments in this creative rotation.",
          "type": "array",
          "items": {
            "$ref": "CreativeAssignment"
          }
        }
      },
      "type": "object",
      "id": "CreativeRotation"
    },
    "EventTagOverride": {
      "description": "Event tag override information.",
      "properties": {
        "enabled": {
          "description": "Whether this override is enabled.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "ID of this event tag override. This is a read-only, auto-generated field.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "EventTagOverride"
    },
    "DateRange": {
      "id": "DateRange",
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "relativeDateRange": {
          "enum": [
            "TODAY",
            "YESTERDAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "LAST_24_MONTHS",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The date range relative to the date of when the report is run."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "kind": {
[...]
