{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        }
      }
    }
  },
  "revision": "20260310",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "canonicalName": "Dfareporting",
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "basePath": "/dfareporting/v4/",
  "ownerName": "Google",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "dfareporting/v4/",
  "name": "dfareporting",
  "schemas": {
    "DynamicProfile": {
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains dynamic profile information.",
      "properties": {
        "draft": {
          "description": "Optional. Draft version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "status": {
          "enum": [
            "STATUS_UNKNOWN",
            "ACTIVE",
            "INACTIVE",
            "DELETED"
          ],
          "description": "Optional. Status of this dynamic profile.",
          "enumDescriptions": [
            "The dynamic profile status is unknown. This value is unused.",
            "The dynamic profile is active.",
            "The dynamic profile is inactive.",
            "The dynamic profile is deleted."
          ],
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of this dynamic profile.",
          "type": "string"
        },
        "dynamicProfileId": {
          "description": "Output only. Unique ID of this dynamic profile. This is a read-only, auto-generated field.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "lastModifiedInfo": {
          "readOnly": true,
          "description": "Output only. The last modified timestamp of the dynamic profile. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "studioAdvertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Advertiser ID of this dynamic profile. This is a required field on insertion."
        },
        "active": {
          "description": "Optional. Active version of the dynamic profile.",
          "$ref": "DynamicProfileVersion"
        },
        "name": {
          "description": "Required. Identifier. Name of this dynamic profile. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicProfile\"."
        },
        "archiveStatus": {
          "enumDescriptions": [
            "The dynamic profile archive status is unknown. This value is unused.",
            "The dynamic profile archive status is unarchived.",
            "The dynamic profile archive status is archived."
          ],
          "type": "string",
          "enum": [
            "ARCHIVE_STATUS_UNKNOWN",
            "UNARCHIVED",
            "ARCHIVED"
          ],
          "description": "Optional. Archive status of this dynamic profile."
        },
        "createInfo": {
          "readOnly": true,
          "description": "Output only. The creation timestamp of the dynamic profile. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        }
      },
      "id": "DynamicProfile",
      "type": "object"
    },
    "MeasurementPartnerCampaignLink": {
      "properties": {
        "partnerCampaignId": {
          "description": "Partner campaign ID needed for establishing linking with Measurement partner.",
          "type": "string"
        },
        "measurementPartner": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Measurement partner used for tag wrapping.",
          "enum": [
            "NONE",
            "INTEGRAL_AD_SCIENCE",
            "DOUBLE_VERIFY"
          ]
        },
        "linkStatus": {
          "enum": [
            "MEASUREMENT_PARTNER_UNLINKED",
            "MEASUREMENT_PARTNER_LINKED",
            "MEASUREMENT_PARTNER_LINK_PENDING",
            "MEASUREMENT_PARTNER_LINK_FAILURE",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT",
            "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING",
            "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING",
            "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING",
            "MEASUREMENT_PARTNER_UNLINK_PENDING"
          ],
          "description": ".",
          "enumDescriptions": [
            "Unlinked.",
            "Linked successfully",
            "Link pending for wrapping.",
            "Linking failure.",
            "Link opt-out by user.",
            "Link opt-out pending sync.",
            "Link wrap answer pending.",
            "Mode change pending.",
            "Partner unlink pending."
          ],
          "type": "string"
        }
      },
      "id": "MeasurementPartnerCampaignLink",
      "type": "object"
    },
    "IngestionStatus": {
      "id": "IngestionStatus",
      "type": "object",
      "description": "Contains the ingestion status of the dynamic feed.",
      "properties": {
        "numWarningsTotal": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The total number of warnings in the feed."
        },
        "numActiveRows": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of active rows in the feed.",
          "format": "int64"
        },
        "numRowsProcessed": {
          "format": "int64",
          "description": "Output only. The number of rows processed in the feed.",
          "readOnly": true,
          "type": "string"
        },
        "numRowsTotal": {
          "description": "Output only. The total number of rows in the feed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "numRowsWithErrors": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of rows with errors in the feed.",
          "format": "int64"
        }
      }
    },
    "PathToConversionReportCompatibleFields": {
      "id": "PathToConversionReportCompatibleFields",
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
      "properties": {
        "metrics": {
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "customFloodlightVariables": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Custom floodlight variables which are compatible to be selected in the \"customFloodlightVariables\" section of the report."
        },
        "conversionDimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Conversion dimensions which are compatible to be selected in the \"conversionDimensions\" section of the report."
        },
        "perInteractionDimensions": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Per-interaction dimensions which are compatible to be selected in the \"perInteractionDimensions\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#pathToConversionReportCompatibleFields.",
          "type": "string"
        }
      }
    },
    "PricingSchedule": {
      "id": "PricingSchedule",
      "type": "object",
      "description": "Pricing Schedule",
      "properties": {
        "capCostOption": {
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ],
          "description": "Placement cap cost option.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "startDate": {
          "format": "date",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "pricingPeriods": {
          "type": "array",
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          },
          "description": "Pricing periods for this placement."
        },
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "format": "int64",
          "type": "string"
        },
        "testingStartDate": {
          "format": "date",
          "type": "string"
        },
        "pricingType": {
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ],
          "description": "Placement pricing type. This field is required on insertion.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        }
      }
    },
    "Metro": {
      "id": "Metro",
      "type": "object",
      "description": "Contains information about a metro region that can be targeted by ads.",
      "properties": {
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "dartId": {
          "type": "string",
          "format": "int64",
          "description": "DART ID of this metro region."
        },
        "dmaId": {
          "format": "int64",
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "type": "string"
        },
        "countryDartId": {
          "format": "int64",
          "description": "DART ID of the country to which this metro region belongs.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        }
      }
    },
    "OffsetPosition": {
      "description": "Offset Position.",
      "properties": {
        "top": {
          "type": "integer",
          "description": "Offset distance from top side of an asset or a window.",
          "format": "int32"
        },
        "left": {
          "description": "Offset distance from left side of an asset or a window.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "OffsetPosition",
      "type": "object"
    },
    "DirectorySitesListResponse": {
      "description": "Directory Site List Response",
      "properties": {
        "directorySites": {
          "type": "array",
          "items": {
            "$ref": "DirectorySite"
          },
          "description": "Directory site collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySitesListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "DirectorySitesListResponse",
      "type": "object"
    },
    "UserRolePermission": {
      "description": "Contains properties of a user role permission.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this user role permission.",
          "format": "int64"
        },
        "availability": {
          "enumDescriptions": [
            "Not available by default.",
            "Available by default to accounts only.",
            "Available by default to both accounts and subaccounts.",
            "Always available to accounts.",
            "Always available to both accounts and subaccounts.",
            "Available for user profile permissions only."
          ],
          "type": "string",
          "enum": [
            "NOT_AVAILABLE_BY_DEFAULT",
            "ACCOUNT_BY_DEFAULT",
            "SUBACCOUNT_AND_ACCOUNT_BY_DEFAULT",
            "ACCOUNT_ALWAYS",
            "SUBACCOUNT_AND_ACCOUNT_ALWAYS",
            "USER_PROFILE_ONLY"
          ],
          "description": "Levels of availability for a user role permission."
        },
        "name": {
          "description": "Name of this user role permission.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermission\".",
          "type": "string"
        },
        "permissionGroupId": {
          "format": "int64",
          "description": "ID of the permission group that this user role permission belongs to.",
          "type": "string"
        }
      },
      "id": "UserRolePermission",
      "type": "object"
    },
    "SiteCompanionSetting": {
      "description": "Companion Settings",
      "properties": {
        "enabledSizes": {
          "description": "Allowlist of companion sizes to be served via this site template. Set this list to null or empty to serve all companion sizes.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this site template.",
          "type": "boolean"
        },
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteCompanionSetting\".",
          "type": "string"
        }
      },
      "id": "SiteCompanionSetting",
      "type": "object"
    },
    "Activities": {
      "id": "Activities",
      "type": "object",
      "description": "Represents an activity group.",
      "properties": {
        "filters": {
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        },
        "metricNames": {
          "description": "List of names of floodlight activity metrics.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FileList": {
      "id": "FileList",
      "type": "object",
      "description": "List of files for a report.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#fileList\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through files. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "The files returned in this response.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        }
      }
    },
    "CitiesListResponse": {
      "id": "CitiesListResponse",
      "type": "object",
      "description": "City List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
          "type": "string"
        },
        "cities": {
          "type": "array",
          "items": {
            "$ref": "City"
          },
          "description": "City collection."
        }
      }
    },
    "FloodlightReportCompatibleFields": {
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "properties": {
        "dimensions": {
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        },
        "dimensionFilters": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields.",
          "type": "string"
        }
      },
      "id": "FloodlightReportCompatibleFields",
      "type": "object"
    },
    "CampaignsListResponse": {
      "description": "Campaign List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignsListResponse\".",
          "type": "string"
        },
        "campaigns": {
          "description": "Campaign collection.",
          "type": "array",
          "items": {
            "$ref": "Campaign"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "CampaignsListResponse",
      "type": "object"
    },
    "StudioCreative": {
      "id": "StudioCreative",
      "type": "object",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative information.",
      "properties": {
        "name": {
          "description": "Identifier. Name of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "assetIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of assets associated with this studio creative. It is a required field on insertion."
        },
        "format": {
          "description": "Format of this studio creative. This is a required field on insertion.",
          "enum": [
            "UNKNOWN",
            "BANNER",
            "EXPANDING",
            "INTERSTITIAL",
            "VPAID_LINEAR_VIDEO"
          ],
          "type": "string",
          "enumDescriptions": [
            "The format of the studio creative is unknown. This value is unused.",
            "Banner format.",
            "Expanding format.",
            "Intertitial format.",
            "VPAID linear video creative format."
          ]
        },
        "studioAccountId": {
          "description": "Studio account ID of this creative. This field, if left unset, will be auto-populated.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "enum": [
            "UNKNOWN_STATUS",
            "IN_DEVELOPMENT",
            "PUBLISHED",
            "QA_REJECTED",
            "QA_APPROVED",
            "TRAFFICKED"
          ],
          "description": "Output only. Status of this studio creative. It is a read-only field.",
          "readOnly": true,
          "enumDescriptions": [
            "The status of the studio creative is unknown. This value is unused.",
            "The creative is still being developed.",
            "The creative has been published and is ready for QA.",
            "The creative has failed QA and must be corrected.",
            "The creative has passed QA and is ready to be trafficked.",
            "The creative has been trafficked to an adserver."
          ],
          "type": "string"
        },
        "backupImageAssetId": {
          "description": "Backup image asset ID of this studio creative. It is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "studioAdvertiserId": {
          "description": "Studio advertiser ID of this studio creative. This is a required field on insertion.",
          "format": "int64",
          "type": "string"
        },
        "dynamicProfileId": {
          "type": "string",
          "format": "int64",
          "description": "Dynamic profile ID of this studio creative."
        },
        "lastModifiedInfo": {
          "description": "The timestamp when the studio creative was last modified. This is a read-only, auto-generated field.",
          "$ref": "LastModifiedInfo"
        },
        "dimension": {
          "description": "Dimension of this studio creative. This is a required field on insertion if format is BANNER or EXPANDING.",
          "$ref": "StudioCreativeDimension"
        },
        "studioCampaignId": {
          "type": "string",
          "format": "int64",
          "description": "Studio campaign ID of this studio creative. This is a required field on insertion."
        },
        "id": {
          "description": "Output only. Unique ID of this studio creative. This is a read-only, auto-generated field.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "createdInfo": {
          "description": "The timestamp when the studio creative was created. This is a read-only, auto-generated field.",
          "$ref": "LastModifiedInfo"
        }
      }
    },
    "CrossDimensionReachReportCompatibleFields": {
      "id": "CrossDimensionReachReportCompatibleFields",
      "type": "object",
      "description": "Represents fields that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
      "properties": {
        "overlapMetrics": {
          "description": "Metrics which are compatible to be selected in the \"overlapMetricNames\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#crossDimensionReachReportCompatibleFields.",
          "type": "string"
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "breakdown": {
          "type": "array",
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"breakdown\" section of the report."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
        }
      }
    },
    "AdSlot": {
      "description": "Ad Slot",
      "properties": {
        "compatibility": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Deprecated enum value. No longer supported.",
            "Deprecated enum value. No longer supported.",
            "",
            ""
          ],
          "description": "Ad slot compatibility. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop, mobile devices or in mobile apps for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
          "enum": [
            "DISPLAY",
            "DISPLAY_INTERSTITIAL",
            "APP",
            "APP_INTERSTITIAL",
            "IN_STREAM_VIDEO",
            "IN_STREAM_AUDIO"
          ]
        },
        "comment": {
          "description": "Comment for this ad slot.",
          "type": "string"
        },
        "height": {
          "format": "int64",
          "description": "Height of this ad slot.",
          "type": "string"
        },
        "primary": {
          "description": "Primary ad slot of a roadblock inventory item.",
          "type": "boolean"
        },
        "linkedPlacementId": {
          "description": "ID of the placement from an external platform that is linked to this ad slot.",
          "format": "int64",
          "type": "string"
        },
        "width": {
          "type": "string",
          "description": "Width of this ad slot.",
          "format": "int64"
        },
        "paymentSourceType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Payment source type of this ad slot.",
          "enum": [
            "PLANNING_PAYMENT_SOURCE_TYPE_AGENCY_PAID",
            "PLANNING_PAYMENT_SOURCE_TYPE_PUBLISHER_PAID"
          ]
        },
        "name": {
          "description": "Name of this ad slot.",
          "type": "string"
        }
      },
      "id": "AdSlot",
      "type": "object"
    },
    "UserRolesListResponse": {
      "description": "User Role List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "userRoles": {
          "type": "array",
          "items": {
            "$ref": "UserRole"
          },
          "description": "User role collection."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolesListResponse\".",
          "type": "string"
        }
      },
      "id": "UserRolesListResponse",
      "type": "object"
    },
    "Site": {
      "id": "Site",
      "type": "object",
      "description": "Contains properties of a site.",
      "properties": {
        "directorySiteId": {
          "description": "Directory site associated with this site. This is a required field that is read-only after insertion.",
          "format": "int64",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this site. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "siteContacts": {
          "description": "Site contacts.",
          "type": "array",
          "items": {
            "$ref": "SiteContact"
          }
        },
        "name": {
          "description": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this site. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "videoSettings": {
          "description": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement.",
          "$ref": "SiteVideoSettings"
        },
        "siteSettings": {
          "description": "Site-wide settings.",
          "$ref": "SiteSettings"
        },
        "id": {
          "description": "ID of this site. This is a read-only, auto-generated field.",
          "format": "int64",
          "type": "string"
        },
        "approved": {
          "description": "Whether this site is approved.",
          "type": "boolean"
        },
        "keyName": {
          "description": "Key name of this site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\".",
          "type": "string"
        },
        "adServingPlatformId": {
          "format": "int64",
          "description": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint",
          "type": "string"
        }
      }
    },
    "AudienceSegment": {
      "description": "Audience Segment.",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of this audience segment. This is a read-only, auto-generated field.",
          "format": "int64"
        },
        "name": {
          "description": "Name of this audience segment. This is a required field and must be less than 65 characters long.",
          "type": "string"
        },
        "allocation": {
          "description": "Weight allocated to this segment. The weight assigned will be understood in proportion to the weights assigned to other segments in the same segment group. Acceptable values are 1 to 1000, inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AudienceSegment",
      "type": "object"
    },
    "OperatingSystemVersion": {
      "description": "Contains information about a particular version of an operating system that can be targeted by ads.",
      "properties": {
        "operatingSystem": {
          "description": "Operating system of this operating system version.",
          "$ref": "OperatingSystem"
        },
        "name": {
          "description": "Name of this operating system version.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersion\".",
          "type": "string"
        },
        "minorVersion": {
          "description": "Minor version (number after the first dot) of this operating system version.",
          "type": "string"
        },
        "id": {
          "description": "ID of this operating system version.",
          "format": "int64",
          "type": "string"
        },
        "majorVersion": {
          "description": "Major version (leftmost number) of this operating system version.",
          "type": "string"
        }
      },
      "id": "OperatingSystemVersion",
      "type": "object"
    },
    "TagSetting": {
      "id": "TagSetting",
      "type": "object",
      "description": "Tag Settings",
      "properties": {
        "includeClickThroughUrls": {
          "description": "Whether static landing page URLs should be included in the tags. New placements will default to the value set on their site.",
          "type": "boolean"
        },
        "includeUnescapedlpurlMacro": {
          "description": "Optional. Indicates that the unescapedlpurl macro should be included in the tag for the static landing page. New placements will default to the value set on their site.",
          "type": "boolean"
        },
        "keywordOption": {
          "enum": [
            "PLACEHOLDER_WITH_LIST_OF_KEYWORDS",
            "IGNORE",
            "GENERATE_SEPARATE_TAG_FOR_EACH_KEYWORD"
          ],
          "description": "Option specifying how keywords are embedded in ad tags. This setting can be used to specify whether keyword placeholders are inserted in placement tags for this site. Publishers can then add keywords to those placeholders.",
          "enumDescriptions": [
            "Creates DART ad tags with a placeholder, such as kw=[keyword] and a list of keywords. The site trafficker must replace [keyword] with the keywords targeted by an ad.",
            "Creates DART ad tags that do not have a placeholder for keywords and creates a list of keywords separately from the DART ad tags. Use this option if the site uses a keyword referrer or is a site that uses DART for Publishers.",
            "Results in unique tag generation for each relevant keyword during tag export. For example, an ad with three keywords will generate three tags with each tag having its kw= parameter filled in with the relevant keyword values."
          ],
          "type": "string"
        },
        "additionalKeyValues": {
          "description": "Additional key-values to be included in tags. Each key-value pair must be of the form key=value, and pairs must be separated by a semicolon (;). Keys and values must not contain commas. For example, id=2;color=red is a valid value for this field.",
          "type": "string"
        },
        "includeClickTracking": {
          "description": "Whether click-tracking string should be included in the tags.",
          "type": "boolean"
        }
      }
    },
    "AccountUserProfile": {
      "id": "AccountUserProfile",
      "type": "object",
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "properties": {
        "subaccountId": {
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "userRoleId": {
          "description": "User role ID of the user profile. This is a required field.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "accountId": {
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "advertiserFilter": {
          "description": "Filter that describes which advertisers are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "traffickerType": {
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        },
        "userAccessType": {
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ]
        },
        "siteFilter": {
          "description": "Filter that describes which sites are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        }
      }
    },
    "VideoFormat": {
      "id": "VideoFormat",
      "type": "object",
      "description": "Contains information about supported video formats.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#videoFormat\".",
          "type": "string"
        },
        "resolution": {
          "description": "The resolution of this video format.",
          "$ref": "Size"
        },
        "fileType": {
          "description": "File type of the video format.",
          "enum": [
            "FLV",
            "THREEGPP",
            "MP4",
            "WEBM",
            "M3U8"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "targetBitRate": {
          "type": "integer",
          "description": "The target bit rate of this video format.",
          "format": "int32"
        },
        "id": {
          "format": "int32",
          "description": "ID of the video format.",
          "type": "integer"
        }
      }
    },
    "DayPartTargeting": {
      "description": "Day Part Targeting.",
      "properties": {
        "userLocalTime": {
          "description": "Whether or not to use the user's local time. If false, the America/New York time zone applies.",
          "type": "boolean"
        },
        "daysOfWeek": {
          "description": "Days of the week when the ad will serve. Acceptable values are: - \"SUNDAY\" - \"MONDAY\" - \"TUESDAY\" - \"WEDNESDAY\" - \"THURSDAY\" - \"FRIDAY\" - \"SATURDAY\" ",
          "type": "array",
          "items": {
            "enum": [
              "SUNDAY",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "hoursOfDay": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Hours of the day when the ad will serve, where 0 is midnight to 1 AM and 23 is 11 PM to midnight. Can be specified with days of week, in which case the ad would serve during these hours on the specified days. For example if Monday, Wednesday, Friday are the days of week specified and 9-10am, 3-5pm (hours 9, 15, and 16) is specified, the ad would serve Monday, Wednesdays, and Fridays at 9-10am and 3-5pm. Acceptable values are 0 to 23, inclusive."
        }
      },
      "id": "DayPartTargeting",
      "type": "object"
    },
    "CampaignCreativeAssociationsListResponse": {
      "description": "Campaign Creative Association List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaignCreativeAssociationsListResponse\".",
          "type": "string"
        },
        "campaignCreativeAssociations": {
          "type": "array",
          "items": {
            "$ref": "CampaignCreativeAssociation"
          },
          "description": "Campaign creative association collection"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        }
      },
      "id": "CampaignCreativeAssociationsListResponse",
      "type": "object"
    },
    "OfflineUserAddressInfo": {
      "id": "OfflineUserAddressInfo",
      "type": "object",
      "description": "Identify a user by name and address.",
      "properties": {
        "hashedFirstName": {
          "description": "First name of the user, which is hashed as SHA-256 after normalized (Lowercase all characters; Remove any extra spaces before, after, and in between).",
          "type": "string"
        },
        "state": {
          "description": "State code of the address.",
          "type": "string"
        },
        "hashedStreetAddress": {
          "description": "The street address of the user hashed using SHA-256 hash function after normalization (lower case only).",
          "type": "string"
        },
        "hashedLastName": {
          "description": "Last name of the user, which is hashed as SHA-256 after normalized (lower case only and no punctuation).",
          "type": "string"
        },
        "city": {
          "description": "City of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Postal code of the user's address.",
          "type": "string"
        },
        "countryCode": {
          "description": "2-letter country code in ISO-3166-1 alpha-2 of the user's address.",
          "type": "string"
        }
      }
    },
    "TvCampaignDetail": {
      "id": "TvCampaignDetail",
      "type": "object",
      "description": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows.",
      "properties": {
        "id": {
          "description": "ID of this TV campaign.",
          "type": "string"
        },
        "timepoints": {
          "description": "The timepoints of the TV campaign.",
          "type": "array",
          "items": {
            "$ref": "TvCampaignTimepoint"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\".",
          "type": "string"
        }
      }
    },
    "ConnectionType": {
      "description": "Contains information about an internet connection type that can be targeted by ads. Clients can use the connection type to target mobile vs. broadband users.",
      "properties": {
        "name": {
          "description": "Name of this connection type.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionType\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this connection type.",
          "format": "int64"
        }
      },
      "id": "ConnectionType",
      "type": "object"
    },
    "PlacementGroup": {
      "id": "PlacementGroup",
      "type": "object",
      "description": "Contains properties of a package or roadblock.",
      "properties": {
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "Account ID of this placement group. This is a read-only field that can be left blank."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Advertiser ID of this placement group. This is a required field on insertion."
        },
        "createInfo": {
          "description": "Information about the creation of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "name": {
          "description": "Name of this placement group. This is a required field and must be less than 256 characters long.",
          "type": "string"
        },
        "placementStrategyId": {
          "description": "ID of the placement strategy assigned to this placement group.",
          "format": "int64",
          "type": "string"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site ID associated with this placement group. On insert, you must set either this field or the site_id field to specify the site associated with this placement group. This is a required field that is read-only after insertion."
        },
        "lastModifiedInfo": {
          "description": "Information about the most recent modification of this placement group. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "activeStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Whether this placement group is active, inactive, archived or permanently archived.",
          "enum": [
            "PLACEMENT_STATUS_UNKNOWN",
            "PLACEMENT_STATUS_ACTIVE",
            "PLACEMENT_STATUS_INACTIVE",
            "PLACEMENT_STATUS_ARCHIVED",
            "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
          ]
        },
        "id": {
          "format": "int64",
          "description": "ID of this placement group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID of this placement group. This field is required on insertion."
        },
        "campaignIdDimensionValue": {
          "description": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "contentCategoryId": {
          "format": "int64",
          "description": "ID of the content category assigned to this placement group.",
          "type": "string"
        },
        "comment": {
          "description": "Comments for this placement group.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this placement group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "primaryPlacementIdDimensionValue": {
          "description": "Dimension value for the ID of the primary placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "directorySiteIdDimensionValue": {
          "description": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteId": {
          "format": "int64",
          "description": "Site ID associated with this placement group. On insert, you must set either this field or the directorySiteId field to specify the site associated with this placement group. This is a required field that is read-only after insertion.",
          "type": "string"
        },
        "subaccountId": {
          "description": "Subaccount ID of this placement group. This is a read-only field that can be left blank.",
          "format": "int64",
          "type": "string"
        },
        "childPlacementIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "IDs of placements which are assigned to this placement group. This is a read-only, auto-generated field."
        },
        "pricingSchedule": {
          "description": "Pricing schedule of this placement group. This field is required on insertion.",
          "$ref": "PricingSchedule"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroup\".",
          "type": "string"
        },
        "placementGroupType": {
          "type": "string",
          "enumDescriptions": [
            "A simple group of site-placements (tags). Basically acts as a single pricing point for a group of tags.",
            "A group of site-placements (tags) that not only acts as a single pricing point but also assumes that all the tags in it will be served at the same time. This kind of group requires one of its assigned site-placements to be marked as primary for reporting purposes."
          ],
          "description": "Type of this placement group. A package is a simple group of placements that acts as a single pricing point for a group of tags. A roadblock is a group of placements that not only acts as a single pricing point, but also assumes that all the tags in it will be served at the same time. A roadblock requires one of its assigned placements to be marked as primary for reporting. This field is required on insertion.",
          "enum": [
            "PLACEMENT_PACKAGE",
            "PLACEMENT_ROADBLOCK"
          ]
        },
        "externalId": {
          "description": "External ID for this placement.",
          "type": "string"
        },
        "primaryPlacementId": {
          "format": "int64",
          "description": "ID of the primary placement, used to calculate the media cost of a roadblock (placement group). Modifying this field will automatically modify the primary field on all affected roadblock child placements.",
          "type": "string"
        }
      }
    },
    "UserRolePermissionsListResponse": {
      "id": "UserRolePermissionsListResponse",
      "type": "object",
      "description": "User Role Permission List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\".",
          "type": "string"
        },
        "userRolePermissions": {
          "description": "User role permission collection.",
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          }
        }
      }
    },
    "ConversionsBatchInsertResponse": {
      "description": "Insert Conversions Response.",
      "properties": {
        "status": {
          "description": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted.",
          "type": "array",
          "items": {
            "$ref": "ConversionStatus"
          }
        },
        "hasFailures": {
          "description": "Indicates that some or all conversions failed to insert.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\".",
          "type": "string"
        }
      },
      "id": "ConversionsBatchInsertResponse",
      "type": "object"
    },
    "CampaignSummary": {
      "description": "Represents a summarized campaign information associated with this invoice.",
      "properties": {
        "billingInvoiceCode": {
          "description": "Campaign billing invoice code.",
          "type": "string"
        },
        "totalAmountMicros": {
          "type": "string",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency.",
          "format": "int64"
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "Campaign ID."
        },
        "preTaxAmountMicros": {
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency.",
          "format": "int64",
          "type": "string"
        },
        "taxAmountMicros": {
          "type": "string",
          "description": "The tax amount for this campaign, in micros of the invoice's currency.",
          "format": "int64"
        }
      },
      "id": "CampaignSummary",
      "type": "object"
    },
    "PlacementAssignment": {
      "description": "Placement Assignment.",
      "properties": {
        "placementIdDimensionValue": {
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "placementId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the placement to be assigned. This is a required field."
        },
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
          "type": "boolean"
        }
      },
      "id": "PlacementAssignment",
      "type": "object"
    },
    "BrowsersListResponse": {
      "id": "BrowsersListResponse",
      "type": "object",
      "description": "Browser List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#browsersListResponse\".",
          "type": "string"
        },
        "browsers": {
          "type": "array",
          "items": {
            "$ref": "Browser"
          },
          "description": "Browser collection."
        }
      }
    },
    "CompatibleFields": {
      "description": "Represents a response to the queryCompatibleFields method. Next ID: 10",
      "properties": {
        "floodlightReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"FLOODLIGHT\".",
          "$ref": "FloodlightReportCompatibleFields"
        },
        "reachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"REACH\".",
          "$ref": "ReachReportCompatibleFields"
        },
        "crossDimensionReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_DIMENSION_REACH\".",
          "$ref": "CrossDimensionReachReportCompatibleFields"
        },
        "crossMediaReachReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\".",
          "$ref": "CrossMediaReachReportCompatibleFields"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#compatibleFields.",
          "type": "string"
        },
        "reportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"STANDARD\".",
          "$ref": "ReportCompatibleFields"
        },
        "pathToConversionReportCompatibleFields": {
          "description": "Contains items that are compatible to be selected for a report of type \"PATH_TO_CONVERSION\".",
          "$ref": "PathToConversionReportCompatibleFields"
        }
      },
      "id": "CompatibleFields",
      "type": "object"
    },
    "OperatingSystem": {
      "id": "OperatingSystem",
      "type": "object",
      "description": "Contains information about an operating system that can be targeted by ads.",
      "properties": {
        "dartId": {
          "description": "DART ID of this operating system. This is the ID used for targeting.",
          "format": "int64",
          "type": "string"
        },
        "mobile": {
          "description": "Whether this operating system is for mobile.",
          "type": "boolean"
        },
        "desktop": {
          "description": "Whether this operating system is for desktop.",
          "type": "boolean"
        },
        "name": {
          "description": "Name of this operating system.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystem\".",
          "type": "string"
        }
      }
    },
    "BillingAssignment": {
      "id": "BillingAssignment",
      "type": "object",
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "properties": {
        "accountId": {
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field.",
          "type": "string"
        },
        "campaignId": {
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign",
          "type": "string"
        },
        "subaccountId": {
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\".",
          "type": "string"
        },
        "advertiserId": {
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser",
          "type": "string"
        }
      }
    },
    "ConversionsBatchUpdateRequest": {
      "description": "Update Conversions Request.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "conversions": {
          "type": "array",
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to update."
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "ConversionsBatchUpdateRequest",
      "type": "object"
    },
    "GeoTargeting": {
      "id": "GeoTargeting",
      "type": "object",
      "description": "Geographical Targeting.",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "Region"
          },
          "description": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region."
        },
        "metros": {
          "type": "array",
          "items": {
            "$ref": "Metro"
          },
          "description": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro."
        },
        "excludeCountries": {
          "description": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad.",
          "type": "boolean"
        },
        "postalCodes": {
          "type": "array",
          "items": {
            "$ref": "PostalCode"
          },
          "description": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code."
        },
        "cities": {
          "type": "array",
          "items": {
            "$ref": "City"
          },
          "description": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city."
        },
        "countries": {
          "description": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country.",
          "type": "array",
          "items": {
            "$ref": "Country"
          }
        }
      }
    },
    "BillingRateTieredRate": {
      "properties": {
        "rateInMicros": {
          "type": "string",
          "format": "int64",
          "description": "Rate in micros for this tier."
        },
        "lowValue": {
          "type": "string",
          "description": "The minimum for this tier range.",
          "format": "int64"
        },
        "highValue": {
          "type": "string",
          "description": "The maximum for this tier range.",
          "format": "int64"
        }
      },
      "id": "BillingRateTieredRate",
      "type": "object"
    },
    "CustomViewabilityMetric": {
      "id": "CustomViewabilityMetric",
      "type": "object",
      "description": "Custom Viewability Metric",
      "properties": {
        "id": {
          "description": "ID of the custom viewability metric.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "Name of the custom viewability metric.",
          "type": "string"
        },
        "configuration": {
          "description": "Configuration of the custom viewability metric.",
          "$ref": "CustomViewabilityMetricConfiguration"
        }
      }
    },
    "DeliverySchedule": {
      "description": "Delivery Schedule.",
      "properties": {
        "impressionRatio": {
          "type": "string",
          "description": "Impression ratio for this ad. This ratio determines how often each ad is served relative to the others. For example, if ad A has an impression ratio of 1 and ad B has an impression ratio of 3, then Campaign Manager will serve ad B three times as often as ad A. Acceptable values are 1 to 10, inclusive.",
          "format": "int64"
        },
        "hardCutoff": {
          "description": "Whether or not hard cutoff is enabled. If true, the ad will not serve after the end date and time. Otherwise the ad will continue to be served until it has reached its delivery goals.",
          "type": "boolean"
        },
        "priority": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AD_PRIORITY_01",
            "AD_PRIORITY_02",
            "AD_PRIORITY_03",
            "AD_PRIORITY_04",
            "AD_PRIORITY_05",
            "AD_PRIORITY_06",
            "AD_PRIORITY_07",
            "AD_PRIORITY_08",
            "AD_PRIORITY_09",
            "AD_PRIORITY_10",
            "AD_PRIORITY_11",
            "AD_PRIORITY_12",
            "AD_PRIORITY_13",
            "AD_PRIORITY_14",
            "AD_PRIORITY_15",
            "AD_PRIORITY_16"
          ],
          "description": "Serving priority of an ad, with respect to other ads. The lower the priority number, the greater the priority with which it is served."
        },
        "frequencyCap": {
          "description": "Limit on the number of times an individual user can be served the ad within a specified period of time.",
          "$ref": "FrequencyCap"
        }
      },
      "id": "DeliverySchedule",
      "type": "object"
    },
    "FloodlightActivityPublisherDynamicTag": {
      "id": "FloodlightActivityPublisherDynamicTag",
      "type": "object",
      "description": "Publisher Dynamic Tag",
      "properties": {
        "siteId": {
          "type": "string",
          "description": "Site ID of this dynamic tag.",
          "format": "int64"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        },
        "dynamicTag": {
          "description": "Dynamic floodlight tag.",
          "$ref": "FloodlightActivityDynamicTag"
        },
        "directorySiteId": {
          "type": "string",
          "format": "int64",
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated."
        }
      }
    },
    "FieldError": {
      "description": "Contains the field error of the dynamic feed.",
      "properties": {
        "fieldId": {
          "format": "int32",
          "description": "Output only. The ID of the field.",
          "readOnly": true,
          "type": "integer"
        },
        "fieldName": {
          "description": "Output only. The name of the field.",
          "readOnly": true,
          "type": "string"
        },
        "fieldValues": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of values of the field."
        },
        "ingestionError": {
          "description": "Output only. The ingestion error of the field.",
          "enum": [
            "UNKNOWN_PARSING_ERROR",
            "MISSING_ID",
            "MISSING_REPORTING_LABEL",
            "EMPTY_VALUE",
            "ASSET_DOWNLOAD_ERROR",
            "ID_TOO_LONG",
            "DUPLICATE_ID",
            "PARSING_ERROR",
            "COUNTRY_PARSING_ERROR",
            "LONG_PARSING_ERROR",
            "BOOL_PARSING_ERROR",
            "EXPANDED_URL_PARSING_ERROR",
            "FLOAT_PARSING_ERROR",
            "DATETIME_PARSING_ERROR",
            "INVALID_PREFERENCE_VALUE",
            "GEO_NOT_FOUND_ERROR",
            "GEO_PARSING_ERROR",
            "GEO_PROXIMITY_TARGETING_MULTIPLE_LOCATION_ERROR",
            "POSTAL_CODE_PARSING_ERROR",
            "METRO_CODE_PARSING_ERROR",
            "DATETIME_WITHOUT_TIMEZONE_PARSING_ERROR",
            "WEIGHT_PARSING_ERROR",
            "CREATIVE_DIMENSION_PARSING_ERROR",
            "MULTIVALUE_ID",
            "ENDTIME_BEFORE_STARTTIME",
            "INVALID_ASSET_LIBRARY_HANDLE",
            "INVALID_ASSET_LIBRARY_VIDEO_HANDLE",
            "INVALID_ASSET_LIBRARY_DIRECTORY_HANDLE",
            "DYNAMIC_TARGETING_KEY_NOT_DEFINED_FOR_ADVERTISER",
            "USERLIST_ID_NOT_ACCESSIBLE_FOR_ADVERTISER",
            "ENDTIME_PASSED",
            "ENDTIME_TOO_SOON",
            "TEXT_ASSET_REFERENCE",
            "IMAGE_ASSET_SCS_REFERENCE",
            "AIRPORT_GEO_TARGET",
            "CANONICAL_NAME_QUERY_MISMATCH",
            "NO_DEFAULT_ROW",
            "NO_ACTIVE_DEFAULT_ROW",
            "NO_DEFAULT_ROW_IN_DATE_RANGE",
            "NO_ACTIVE_DEFAULT_ROW_IN_DATE_RANGE",
            "PAYLOAD_LIMIT_EXCEEDED",
            "SSL_NOT_COMPLIANT"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The ingestion error is unknown.",
            "The ingestion error when the ID value is missing.",
            "The ingestion error when the element value name used for reporting is missing.",
            "The ingestion error when a required value is empty",
            "The ingestion error when asset retrieval fails for a particular image or asset.",
            "The ingestion error when the ID value exceeds the string length limit.",
            "The ingestion error when the ID value is duplicate.",
            "The ingestion error when parsing the field fails.",
            "The ingestion error when parsing the country code fails.",
            "The ingestion error when parsing the long value fails.",
            "The ingestion error when parsing the boolean value fails.",
            "The ingestion error when parsing the expanded url fails.",
            "The ingestion error when parsing the float value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when the preference value is not a positive float.",
            "The ingestion error when a geo location is not found.",
            "The ingestion error when parsing the geo field fails.",
            "The ingestion error when a feed row has multiple geotargets with proximity targeting enabled.",
            "The ingestion error when parsing the postal code value fails.",
            "The ingestion error when parsing the metro code value fails.",
            "The ingestion error when parsing the datetime value fails.",
            "The ingestion error when parsing the weight value fails.",
            "The ingestion error when parsing the creative dimension value fails.",
            "The ingestion error when a STRING_LIST type ID has multiple values.",
            "The ingestion error when the end time is before the start time.",
            "The ingestion error when the asset library handle is invalid.",
            "The ingestion error when the asset library video handle is invalid.",
            "The ingestion error when the asset library directory handle is invalid.",
            "The ingestion error when a targeting key used but not defined for the CM360 Advertiser.",
            "The ingestion error when the userlist ID is not accessible for the CM360 Advertiser.",
            "The ingestion error when the end time is passed.",
            "The ingestion error when the end time is in the near future (i.e., <7 days).",
            "The ingestion error when a text field specifies a reference to an asset.",
            "The ingestion error when Image field specifies a reference to an asset hosted on SCS (s0.2mdn.net/s0qa.2mdn.net).",
            "The ingestion error when a geo target is an airport.",
            "The ingestion error when the geo target's canonical name does not match the query string used to obtain it.",
            "The ingestion error or warning when the default row is not set.",
            "The ingestion error or warning when the default row is not active.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error or warning when the default row is not in the date range.",
            "The ingestion error when when the payload of the record is above a threshold.",
            "The ingestion error or warning when the field is not SSL compliant."
          ]
        },
        "isError": {
          "description": "Output only. Incidcates whether the field has error or warning.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "FieldError",
      "type": "object"
    },
    "ThirdPartyTrackingUrl": {
      "id": "ThirdPartyTrackingUrl",
      "type": "object",
      "description": "Third-party Tracking URL.",
      "properties": {
        "thirdPartyUrlType": {
          "enumDescriptions": [
            "Used to count impressions of the ad after video buffering is complete.",
            "Used to track user clicks on the video.",
            "Used to track the number of times a user starts a video.",
            "Used to track the number of times the video plays to 25% of its length.",
            "Used to track the number of times the video plays to 50% of its length.",
            "Used to track the number of times the video plays to 75% of its length.",
            "Used to track the number of times the video plays to the end.",
            "Used to track the number of times a user mutes the video.",
            "Used to track the number of times a user pauses the video.",
            "Used to track the number of times a user replays the video.",
            "Used to track the number of times a user expands the video to full-screen size.",
            "Used to track the number of times a user stops the video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used for DFA6 compatibility, this is deprecating in favor of event tags.",
            "Used by Studio RichMediaCreative, maps to its thirdPartyImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyRichMediaImpressionsUrl",
            "Used by Studio RichMediaCreative, maps to its thirdPartyBackupImageImpressionsUrl",
            "Used to track the number of times the video was skipped.",
            "Used to track the number of times the video plays to an offset determined by the user."
          ],
          "type": "string",
          "enum": [
            "IMPRESSION",
            "CLICK_TRACKING",
            "VIDEO_START",
            "VIDEO_FIRST_QUARTILE",
            "VIDEO_MIDPOINT",
            "VIDEO_THIRD_QUARTILE",
            "VIDEO_COMPLETE",
            "VIDEO_MUTE",
            "VIDEO_PAUSE",
            "VIDEO_REWIND",
            "VIDEO_FULLSCREEN",
            "VIDEO_STOP",
            "VIDEO_CUSTOM",
            "SURVEY",
            "RICH_MEDIA_IMPRESSION",
            "RICH_MEDIA_RM_IMPRESSION",
            "RICH_MEDIA_BACKUP_IMPRESSION",
            "VIDEO_SKIP",
            "VIDEO_PROGRESS"
          ],
          "description": "Third-party URL type for in-stream video and in-stream audio creatives."
        },
        "url": {
          "description": "URL for the specified third-party URL type.",
          "type": "string"
        }
      }
    },
    "LanguagesListResponse": {
      "description": "Language List Response",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#languagesListResponse\".",
          "type": "string"
        },
        "languages": {
          "description": "Language collection.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        }
      },
      "id": "LanguagesListResponse",
      "type": "object"
    },
    "EncryptionInfo": {
      "description": "A description of how user IDs are encrypted.",
      "properties": {
        "encryptionSource": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer.",
          "enum": [
            "ENCRYPTION_SCOPE_UNKNOWN",
            "AD_SERVING",
            "DATA_TRANSFER"
          ]
        },
        "encryptionEntityId": {
          "description": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer.",
          "format": "int64",
          "type": "string"
        },
        "encryptionEntityType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer.",
          "enum": [
            "ENCRYPTION_ENTITY_TYPE_UNKNOWN",
            "DCM_ACCOUNT",
            "DCM_ADVERTISER",
            "DBM_PARTNER",
            "DBM_ADVERTISER",
            "ADWORDS_CUSTOMER",
            "DFP_NETWORK_CODE"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\".",
          "type": "string"
        }
      },
      "id": "EncryptionInfo",
      "type": "object"
    },
    "InventoryItemsListResponse": {
      "id": "InventoryItemsListResponse",
      "type": "object",
      "description": "Inventory item List Response",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#inventoryItemsListResponse\".",
          "type": "string"
        },
        "inventoryItems": {
          "description": "Inventory item collection",
          "type": "array",
          "items": {
            "$ref": "InventoryItem"
          }
        }
      }
    },
    "CreativeAsset": {
      "id": "CreativeAsset",
      "type": "object",
      "description": "Creative Asset.",
      "properties": {
        "collapsedSize": {
          "description": "Size of an asset when collapsed. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "Size"
        },
        "audioSampleRate": {
          "description": "Audio sample bit rate in hertz. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "format": "int32",
          "type": "integer"
        },
        "bitRate": {
          "type": "integer",
          "format": "int32",
          "description": "Detected bit-rate for audio or video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID."
        },
        "hideFlashObjects": {
          "description": "Whether to hide Flash objects flag for an asset. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "horizontallyLocked": {
          "description": "Whether the asset is horizontally locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "assetIdentifier": {
          "description": "Identifier of this asset. This is the same identifier returned during creative asset insert operation. This is a required field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "$ref": "CreativeAssetId"
        },
        "zipFilesize": {
          "description": "Size of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "frameRate": {
          "description": "Video frame rate for video asset in frames per second. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "format": "float",
          "type": "number"
        },
        "startTimeType": {
          "enumDescriptions": [
            "Asset is not automatically displayed.",
            "Asset is automatically displayed after a fixed period of time."
          ],
          "type": "string",
          "enum": [
            "ASSET_START_TIME_TYPE_NONE",
            "ASSET_START_TIME_TYPE_CUSTOM"
          ],
          "description": "Initial wait time type before making the asset visible. Applicable to the following creative types: all RICH_MEDIA."
        },
        "additionalSizes": {
          "description": "Additional sizes associated with this creative asset. HTML5 asset generated by compatible software such as GWD will be able to support more sizes this creative asset can render.",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "flashVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Flash version of the asset. This is a read-only field. Applicable to the following creative types: FLASH_INPAGE, all RICH_MEDIA, and all VPAID. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE."
        },
        "streamingServingUrl": {
          "description": "Streaming URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Role of the asset in relation to creative. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT. This is a required field. PRIMARY applies to DISPLAY, FLASH_INPAGE, HTML5_BANNER, IMAGE, DISPLAY_IMAGE_GALLERY, all RICH_MEDIA (which may contain multiple primary assets), and all VPAID creatives. BACKUP_IMAGE applies to FLASH_INPAGE, HTML5_BANNER, all RICH_MEDIA, and all VPAID creatives. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE. ADDITIONAL_IMAGE and ADDITIONAL_FLASH apply to FLASH_INPAGE creatives. OTHER refers to assets from sources other than Campaign Manager, such as Studio uploaded assets, applicable to all RICH_MEDIA and all VPAID creatives. PARENT_VIDEO refers to videos uploaded by the user in Campaign Manager and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. TRANSCODED_VIDEO refers to videos transcoded by Campaign Manager from PARENT_VIDEO assets and is applicable to INSTREAM_VIDEO and VPAID_LINEAR_VIDEO creatives. ALTERNATE_VIDEO refers to the Campaign Manager representation of child asset videos from Studio, and is applicable to VPAID_LINEAR_VIDEO creatives. These cannot be added or removed within Campaign Manager. For VPAID_LINEAR_VIDEO creatives, PARENT_VIDEO, TRANSCODED_VIDEO and ALTERNATE_VIDEO assets that are marked active serve as backup in case the VPAID creative cannot be served. Only PARENT_VIDEO assets can be added or removed for an INSTREAM_VIDEO or VPAID_LINEAR_VIDEO creative. PARENT_AUDIO refers to audios uploaded by the user in Campaign Manager and is applicable to INSTREAM_AUDIO creatives. TRANSCODED_AUDIO refers to audios transcoded by Campaign Manager from PARENT_AUDIO assets and is applicable to INSTREAM_AUDIO creatives. ",
          "enum": [
            "PRIMARY",
            "BACKUP_IMAGE",
            "ADDITIONAL_IMAGE",
            "ADDITIONAL_FLASH",
            "PARENT_VIDEO",
            "TRANSCODED_VIDEO",
            "OTHER",
            "ALTERNATE_VIDEO",
            "PARENT_AUDIO",
            "TRANSCODED_AUDIO"
          ]
        },
        "size": {
          "description": "Size associated with this creative asset. This is a required field when applicable; however for IMAGE and FLASH_INPAGE, creatives if left blank, this field will be automatically set using the actual size of the associated image asset. Applicable to the following creative types: DISPLAY_IMAGE_GALLERY, FLASH_INPAGE, HTML5_BANNER, IMAGE, and all RICH_MEDIA. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "$ref": "Size"
        },
        "zIndex": {
          "type": "integer",
          "format": "int32",
          "description": "zIndex value of an asset. Applicable to the following creative types: all RICH_MEDIA.Additionally, only applicable to assets whose displayType is NOT one of the following types: ASSET_DISPLAY_TYPE_INPAGE or ASSET_DISPLAY_TYPE_OVERLAY. Acceptable values are -999999999 to 999999999, inclusive."
        },
        "transparency": {
          "description": "Whether the asset is transparent. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable to HTML5 assets.",
          "type": "boolean"
        },
        "positionTopUnit": {
          "description": "Offset top unit for an asset. This is a read-only field if the asset displayType is ASSET_DISPLAY_TYPE_OVERLAY. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ]
        },
        "progressiveServingUrl": {
          "description": "Progressive URL for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "type": "string"
        },
        "active": {
          "description": "Whether the video or audio asset is active. This is a read-only field for VPAID_NON_LINEAR_VIDEO assets. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "type": "boolean"
        },
        "artworkType": {
          "enum": [
            "ARTWORK_TYPE_FLASH",
            "ARTWORK_TYPE_HTML5",
            "ARTWORK_TYPE_MIXED",
            "ARTWORK_TYPE_IMAGE"
          ],
          "description": "Artwork type of rich media creative. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "The creative is a Flash creative.",
            "The creative is HTML5.",
            "The creative is HTML5 if available, Flash otherwise.",
            "The creative is Image."
          ],
          "type": "string"
        },
        "fileSize": {
          "description": "File size associated with this creative asset. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "format": "int64",
          "type": "string"
        },
        "customStartTimeValue": {
          "type": "integer",
          "format": "int32",
          "description": "Custom start time in seconds for making the asset visible. Applicable to the following creative types: all RICH_MEDIA. Value must be greater than or equal to 0."
        },
        "politeLoad": {
          "description": "Whether this asset is used as a polite load asset.",
          "type": "boolean"
        },
        "orientation": {
          "description": "Orientation of video asset. This is a read-only, auto-generated field.",
          "enum": [
            "LANDSCAPE",
            "PORTRAIT",
            "SQUARE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "audioBitRate": {
          "description": "Audio stream bit rate in kbps. This is a read-only field. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and all VPAID.",
          "format": "int32",
          "type": "integer"
        },
        "zipFilename": {
          "description": "File name of zip file. This is a read-only field. Applicable to the following creative types: HTML5_BANNER.",
          "type": "string"
        },
        "duration": {
          "type": "integer",
          "format": "int32",
          "description": "Duration in seconds for which an asset will be displayed. Applicable to the following creative types: INSTREAM_AUDIO, INSTREAM_VIDEO and VPAID_LINEAR_VIDEO. Value must be greater than or equal to 1."
        },
        "verticallyLocked": {
          "description": "Whether the asset is vertically locked. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "type": "boolean"
        },
        "sslCompliant": {
          "description": "Whether the asset is SSL-compliant. This is a read-only field. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "boolean"
        },
        "childAssetType": {
          "enum": [
            "CHILD_ASSET_TYPE_FLASH",
            "CHILD_ASSET_TYPE_VIDEO",
            "CHILD_ASSET_TYPE_IMAGE",
            "CHILD_ASSET_TYPE_DATA"
          ],
          "description": "Rich media child asset type. This is a read-only field. Applicable to the following creative types: all VPAID.",
          "enumDescriptions": [
            "swf files",
            "flv and any other video files types",
            "image files",
            "rest of the supported file types .txt, .xml etc."
          ],
          "type": "string"
        },
        "displayType": {
          "enum": [
            "ASSET_DISPLAY_TYPE_INPAGE",
            "ASSET_DISPLAY_TYPE_FLOATING",
            "ASSET_DISPLAY_TYPE_OVERLAY",
            "ASSET_DISPLAY_TYPE_EXPANDING",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH",
            "ASSET_DISPLAY_TYPE_FLASH_IN_FLASH_EXPANDING",
            "ASSET_DISPLAY_TYPE_PEEL_DOWN",
            "ASSET_DISPLAY_TYPE_VPAID_LINEAR",
            "ASSET_DISPLAY_TYPE_VPAID_NON_LINEAR",
            "ASSET_DISPLAY_TYPE_BACKDROP"
          ],
          "description": "Type of rich media asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enumDescriptions": [
            "Asset exists in a box and stays within the box.",
            "Asset exists at a self described location on the page.",
            "Special display type for IM clients.",
            "Asset changes size.",
            "Not applicable for HTML5.",
            "Not applicable for HTML5.",
            "Asset sits on the top right and expands.",
            "VPAID linear asset.",
            "VPAID non linear asset.",
            "Backdrop (skin) asset."
          ],
          "type": "string"
        },
        "actionScript3": {
          "description": "Whether ActionScript3 is enabled for the flash asset. This is a read-only field. Applicable to the following creative type: FLASH_INPAGE. Applicable to DISPLAY when the primary asset type is not HTML_IMAGE.",
          "type": "boolean"
        },
        "positionLeftUnit": {
          "description": "Offset left unit for an asset. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "OFFSET_UNIT_PIXEL",
            "OFFSET_UNIT_PERCENT",
            "OFFSET_UNIT_PIXEL_FROM_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Pixels on a screen.",
            "Percent offset for center asset (rather than top and left).",
            "Pixel offset for center of asset from center of browser window."
          ]
        },
        "offset": {
          "description": "Offset position for an asset in collapsed mode. This is a read-only field. Applicable to the following creative types: all RICH_MEDIA and all VPAID. Additionally, only applicable to assets whose displayType is ASSET_DISPLAY_TYPE_EXPANDING or ASSET_DISPLAY_TYPE_PEEL_DOWN.",
          "$ref": "OffsetPosition"
        },
        "durationType": {
          "type": "string",
          "enumDescriptions": [
            "Asset is displayed for the single run of the time line.",
            "Asset is displayed indefinitely and it loops on the timeline.",
            "User entered duration value in seconds."
          ],
          "description": "Duration type for which an asset will be displayed. Applicable to the following creative types: all RICH_MEDIA.",
          "enum": [
            "ASSET_DURATION_TYPE_AUTO",
            "ASSET_DURATION_TYPE_NONE",
            "ASSET_DURATION_TYPE_CUSTOM"
          ]
        },
        "expandedDimension": {
          "description": "Detected expanded dimension for video asset. This is a read-only field. Applicable to the following creative types: INSTREAM_VIDEO and all VPAID.",
          "$ref": "Size"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of the asset. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "id": {
          "format": "int64",
          "description": "Numeric ID of this creative asset. This is a required field and should not be modified. Applicable to all but the following creative types: all REDIRECT and TRACKING_TEXT.",
          "type": "string"
        },
        "pushdown": {
          "description": "Whether the asset pushes down other content. Applicable to the following creative types: all RICH_MEDIA. Additionally, only applicable when the asset offsets are 0, the collapsedSize.width matches size.width, and the collapsedSize.height is less than size.height.",
          "type": "boolean"
        },
[...]
