{
  "batchPath": "batch",
  "version": "v4",
  "title": "Campaign Manager 360 API",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "name": "dfareporting",
  "servicePath": "dfareporting/v4/",
  "protocol": "rest",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v4/",
  "resources": {
    "dynamicTargetingKeys": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "objectId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "ID of the object of this dynamic targeting key. This is a required field.",
              "location": "path",
              "format": "int64"
            },
            "name": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Required. Name of this dynamic targeting key. This is a required field. Must be less than 256 characters long and cannot contain commas. All characters are converted to lowercase."
            },
            "objectType": {
              "required": true,
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "description": "Required. Type of the object of this dynamic targeting key. This is a required field."
            }
          },
          "description": "Deletes an existing dynamic targeting key.",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys/{dynamicTargetingKeysId}",
          "parameterOrder": [
            "profileId",
            "objectId",
            "name",
            "objectType"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicTargetingKeys.delete",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys/{+objectId}"
        },
        "insert": {
          "description": "Inserts a new dynamic targeting key. Keys must be created at the advertiser level before being assigned to the advertiser's ads, creatives, or placements. There is a maximum of 1000 keys per advertiser, out of which a maximum of 20 keys can be assigned per ad, creative, or placement.",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "request": {
            "$ref": "DynamicTargetingKey"
          },
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "DynamicTargetingKey"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicTargetingKeys.insert"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "objectId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only dynamic targeting keys with this object ID."
            },
            "names": {
              "repeated": true,
              "description": "Select only dynamic targeting keys exactly matching these names.",
              "type": "string",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "objectType": {
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "description": "Select only dynamic targeting keys with this object type.",
              "type": "string",
              "enum": [
                "OBJECT_ADVERTISER",
                "OBJECT_AD",
                "OBJECT_CREATIVE",
                "OBJECT_PLACEMENT"
              ]
            },
            "advertiserId": {
              "description": "Select only dynamic targeting keys whose object has this advertiser ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "DynamicTargetingKeysListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.dynamicTargetingKeys.list",
          "description": "Retrieves a list of dynamic targeting keys.",
          "flatPath": "userprofiles/{userprofilesId}/dynamicTargetingKeys",
          "path": "userprofiles/{+profileId}/dynamicTargetingKeys"
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "description": "Gets one user role permission by ID.",
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "response": {
            "$ref": "UserRolePermission"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "format": "int64",
              "description": "User role permission ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.userRolePermissions.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "description": "Gets a list of user role permissions, possibly filtered.",
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "description": "Select only user role permissions with these IDs.",
              "location": "query",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.userRolePermissions.list"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.languages.list",
          "description": "Retrieves a list of languages.",
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "path": "userprofiles/{+profileId}/languages"
        }
      }
    },
    "campaignCreativeAssociations": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "campaignId": {
              "location": "path",
              "format": "int64",
              "description": "Campaign ID in this association.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "CampaignCreativeAssociation"
          },
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaignCreativeAssociations.insert",
          "description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "request": {
            "$ref": "CampaignCreativeAssociation"
          },
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations"
        },
        "list": {
          "path": "userprofiles/{+profileId}/campaigns/{+campaignId}/campaignCreativeAssociations",
          "description": "Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/campaigns/{campaignsId}/campaignCreativeAssociations",
          "parameterOrder": [
            "profileId",
            "campaignId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.campaignCreativeAssociations.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "campaignId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Campaign ID in this association.",
              "location": "path",
              "format": "int64"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return."
            }
          },
          "response": {
            "$ref": "CampaignCreativeAssociationsListResponse"
          }
        }
      }
    },
    "ads": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Ad ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Ad"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.get",
          "description": "Gets one ad by ID.",
          "flatPath": "userprofiles/{userprofilesId}/ads/{adsId}",
          "path": "userprofiles/{+profileId}/ads/{+id}"
        },
        "insert": {
          "path": "userprofiles/{+profileId}/ads",
          "request": {
            "$ref": "Ad"
          },
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "description": "Inserts a new ad.",
          "id": "dfareporting.ads.insert",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Ad"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Retrieves a list of ads, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "path": "userprofiles/{+profileId}/ads",
          "httpMethod": "GET",
          "parameters": {
            "sslRequired": {
              "type": "boolean",
              "location": "query",
              "description": "Select only ads that require SSL."
            },
            "advertiserId": {
              "description": "Select only ads with this advertiser ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "compatibility": {
              "location": "query",
              "description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "type": "string"
            },
            "creativeOptimizationConfigurationIds": {
              "description": "Select only ads with these creative optimization configuration IDs.",
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active ads."
            },
            "placementIds": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these placement IDs assigned.",
              "repeated": true
            },
            "audienceSegmentIds": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these audience segment IDs.",
              "repeated": true
            },
            "creativeIds": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these creative IDs assigned.",
              "repeated": true
            },
            "sizeIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these size IDs.",
              "repeated": true,
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "type": {
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "description": "Select only ads with these types.",
              "location": "query",
              "type": "string",
              "enum": [
                "AD_SERVING_STANDARD_AD",
                "AD_SERVING_DEFAULT_AD",
                "AD_SERVING_CLICK_TRACKER",
                "AD_SERVING_TRACKING",
                "AD_SERVING_BRAND_SAFE_AD"
              ]
            },
            "landingPageIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only ads with these landing page IDs.",
              "type": "string"
            },
            "ids": {
              "location": "query",
              "format": "int64",
              "description": "Select only ads with these IDs.",
              "repeated": true,
              "type": "string"
            },
            "sslCompliant": {
              "type": "boolean",
              "location": "query",
              "description": "Select only ads that are SSL-compliant."
            },
            "campaignIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only ads with these campaign IDs.",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "overriddenEventTagId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only ads with this event tag override ID."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "archived": {
              "type": "boolean",
              "location": "query",
              "description": "Select only archived ads."
            },
            "remarketingListIds": {
              "type": "string",
              "description": "Select only ads whose list targeting expression use these remarketing list IDs.",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "dynamicClickTracker": {
              "location": "query",
              "type": "boolean",
              "description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both."
            },
            "sortField": {
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query",
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AdsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.list"
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.ads.update",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "Ad"
          },
          "request": {
            "$ref": "Ad"
          },
          "path": "userprofiles/{+profileId}/ads",
          "description": "Updates an existing ad.",
          "flatPath": "userprofiles/{userprofilesId}/ads"
        },
        "patch": {
          "response": {
            "$ref": "Ad"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Required. RemarketingList ID."
            }
          },
          "id": "dfareporting.ads.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/ads",
          "description": "Updates an existing ad. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/ads",
          "request": {
            "$ref": "Ad"
          }
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/remarketingListShares/{+remarketingListId}",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares/{remarketingListSharesId}",
          "description": "Gets one remarketing list share by remarketing list ID.",
          "id": "dfareporting.remarketingListShares.get",
          "parameterOrder": [
            "profileId",
            "remarketingListId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingListShare"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "remarketingListId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Remarketing list ID.",
              "location": "path",
              "format": "int64"
            }
          }
        },
        "patch": {
          "description": "Updates an existing remarketing list share. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "request": {
            "$ref": "RemarketingListShare"
          },
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Required. RemarketingList ID.",
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "RemarketingListShare"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingListShares.patch"
        },
        "update": {
          "response": {
            "$ref": "RemarketingListShare"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "id": "dfareporting.remarketingListShares.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingListShares",
          "description": "Updates an existing remarketing list share.",
          "path": "userprofiles/{+profileId}/remarketingListShares",
          "request": {
            "$ref": "RemarketingListShare"
          }
        }
      }
    },
    "tvCampaignSummaries": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/tvCampaignSummaries",
          "description": "Retrieves a list of TV campaign summaries.",
          "flatPath": "userprofiles/{userprofilesId}/tvCampaignSummaries",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.tvCampaignSummaries.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Required. Search string to filter the list of TV campaign summaries. Matches any substring. Required field."
            },
            "accountId": {
              "description": "Required. Account ID associated with this request.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TvCampaignSummariesListResponse"
          }
        }
      }
    },
    "videoFormats": {
      "methods": {
        "get": {
          "id": "dfareporting.videoFormats.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "VideoFormat"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "path",
              "format": "int32",
              "description": "Video format ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "integer"
            }
          },
          "path": "userprofiles/{+profileId}/videoFormats/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats/{videoFormatsId}",
          "description": "Gets one video format by ID."
        },
        "list": {
          "id": "dfareporting.videoFormats.list",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "VideoFormatsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/videoFormats",
          "flatPath": "userprofiles/{userprofilesId}/videoFormats",
          "description": "Lists available video formats."
        }
      }
    },
    "dimensionValues": {
      "methods": {
        "query": {
          "id": "dfareporting.dimensionValues.query",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "response": {
            "$ref": "DimensionValueList"
          },
          "httpMethod": "POST",
          "parameters": {
            "maxResults": {
              "default": "100",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "type": "integer"
            },
            "pageToken": {
              "description": "The value of the nextToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "type": "string",
              "description": "The Campaign Manager 360 user profile ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{profileId}/dimensionvalues/query",
          "request": {
            "$ref": "DimensionValueRequest"
          },
          "flatPath": "userprofiles/{profileId}/dimensionvalues/query",
          "description": "Retrieves list of report dimension values for a list of filters."
        }
      }
    },
    "targetableRemarketingLists": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/targetableRemarketingLists/{+id}",
          "description": "Gets one remarketing list by ID.",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists/{targetableRemarketingListsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetableRemarketingLists.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Remarketing list ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "TargetableRemarketingList"
          }
        },
        "list": {
          "description": "Retrieves a list of targetable remarketing lists, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/targetableRemarketingLists",
          "path": "userprofiles/{+profileId}/targetableRemarketingLists",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Required. Select only targetable remarketing lists targetable by these advertisers.",
              "location": "query",
              "format": "int64"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active or only inactive targetable remarketing lists."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "TargetableRemarketingListsListResponse"
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.targetableRemarketingLists.list"
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates",
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "id": "dfareporting.billingRates.list",
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "billingProfileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Billing profile ID of this billing rate."
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "operatingSystems": {
      "methods": {
        "get": {
          "path": "userprofiles/{+profileId}/operatingSystems/{+dartId}",
          "description": "Gets one operating system by DART ID.",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems/{operatingSystemsId}",
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.operatingSystems.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "dartId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Operating system DART ID."
            }
          },
          "response": {
            "$ref": "OperatingSystem"
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.operatingSystems.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "OperatingSystemsListResponse"
          },
          "path": "userprofiles/{+profileId}/operatingSystems",
          "description": "Retrieves a list of operating systems.",
          "flatPath": "userprofiles/{userprofilesId}/operatingSystems"
        }
      }
    },
    "remarketingLists": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.remarketingLists.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Required. RemarketingList ID."
            }
          },
          "response": {
            "$ref": "RemarketingList"
          },
          "request": {
            "$ref": "RemarketingList"
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "description": "Updates an existing remarketing list. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists"
        },
        "update": {
          "path": "userprofiles/{+profileId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          },
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Updates an existing remarketing list.",
          "id": "dfareporting.remarketingLists.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          }
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists/{remarketingListsId}",
          "description": "Gets one remarketing list by ID.",
          "path": "userprofiles/{+profileId}/remarketingLists/{+id}",
          "response": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Remarketing list ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.remarketingLists.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "response": {
            "$ref": "RemarketingList"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.remarketingLists.insert",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Inserts a new remarketing list.",
          "path": "userprofiles/{+profileId}/remarketingLists",
          "request": {
            "$ref": "RemarketingList"
          }
        },
        "list": {
          "id": "dfareporting.remarketingLists.list",
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "RemarketingListsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "floodlightActivityId": {
              "description": "Select only remarketing lists that have this floodlight activity ID.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Required. Select only remarketing lists owned by this advertiser.",
              "location": "query",
              "format": "int64"
            },
            "name": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"remarketing list*2015\" will return objects with names like \"remarketing list June 2015\", \"remarketing list April 2015\", or simply \"remarketing list 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"remarketing list\" will match objects with name \"my remarketing list\", \"remarketing list 2015\", or simply \"remarketing list\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortOrder": {
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string",
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            },
            "active": {
              "description": "Select only active or only inactive remarketing lists.",
              "location": "query",
              "type": "boolean"
            },
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "default": "ID",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list."
            }
          },
          "path": "userprofiles/{+profileId}/remarketingLists",
          "flatPath": "userprofiles/{userprofilesId}/remarketingLists",
          "description": "Retrieves a list of remarketing lists, possibly filtered. This method supports paging."
        }
      }
    },
    "advertiserGroups": {
      "methods": {
        "update": {
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.advertiserGroups.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "description": "Updates an existing advertiser group.",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          }
        },
        "patch": {
          "id": "dfareporting.advertiserGroups.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "Required. Advertiser Group ID.",
              "location": "query",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "description": "Updates an existing advertiser group. This method supports patch semantics."
        },
        "get": {
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "description": "Gets one advertiser group by ID.",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.advertiserGroups.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Advertiser group ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AdvertiserGroup"
          }
        },
        "insert": {
          "response": {
            "$ref": "AdvertiserGroup"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "id": "dfareporting.advertiserGroups.insert",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "description": "Inserts a new advertiser group.",
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "request": {
            "$ref": "AdvertiserGroup"
          }
        },
        "list": {
          "id": "dfareporting.advertiserGroups.list",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AdvertiserGroupsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "ids": {
              "type": "string",
              "description": "Select only advertiser groups with these IDs.",
              "repeated": true,
              "location": "query",
              "format": "int64"
            },
            "sortField": {
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "default": "ASCENDING",
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/advertiserGroups",
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups",
          "description": "Retrieves a list of advertiser groups, possibly filtered. This method supports paging."
        },
        "delete": {
          "id": "dfareporting.advertiserGroups.delete",
          "path": "userprofiles/{+profileId}/advertiserGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserGroups/{advertiserGroupsId}",
          "httpMethod": "DELETE",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "Advertiser group ID."
            }
          },
          "description": "Deletes an existing advertiser group."
        }
      }
    },
    "accountActiveAdSummaries": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "summaryAccountId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountActiveAdSummaries.get",
          "httpMethod": "GET",
          "parameters": {
            "summaryAccountId": {
              "description": "Account ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "AccountActiveAdSummary"
          },
          "path": "userprofiles/{+profileId}/accountActiveAdSummaries/{+summaryAccountId}",
          "description": "Gets the account's active ad summary by account ID.",
          "flatPath": "userprofiles/{userprofilesId}/accountActiveAdSummaries/{accountActiveAdSummariesId}"
        }
      }
    },
    "accountPermissions": {
      "methods": {
        "get": {
          "description": "Gets one account permission by ID.",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions/{accountPermissionsId}",
          "path": "userprofiles/{+profileId}/accountPermissions/{+id}",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Account permission ID.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AccountPermission"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountPermissions.get"
        },
        "list": {
          "id": "dfareporting.accountPermissions.list",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountPermissionsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/accountPermissions",
          "flatPath": "userprofiles/{userprofilesId}/accountPermissions",
          "description": "Retrieves the list of account permissions."
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "description": "Gets one creative group by ID.",
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "response": {
            "$ref": "CreativeGroup"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "format": "int64",
              "description": "Creative group ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.creativeGroups.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "insert": {
          "request": {
            "$ref": "CreativeGroup"
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "description": "Inserts a new creative group.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.insert",
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "CreativeGroup"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/creativeGroups",
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.list",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "ids": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only creative groups with these IDs."
            },
            "groupNumber": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Select only creative groups that belong to this subgroup."
            },
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "searchString": {
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string",
              "default": "ID",
              "location": "query",
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ]
            },
            "advertiserIds": {
              "location": "query",
              "format": "int64",
              "repeated": true,
              "description": "Select only creative groups that belong to these advertisers.",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "response": {
            "$ref": "CreativeGroupsListResponse"
          }
        },
        "update": {
          "request": {
            "$ref": "CreativeGroup"
          },
          "path": "userprofiles/{+profileId}/creativeGroups",
          "description": "Updates an existing creative group.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.update",
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "response": {
            "$ref": "CreativeGroup"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Required. Creative Group ID.",
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creativeGroups.patch",
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "request": {
            "$ref": "CreativeGroup"
          },
          "path": "userprofiles/{+profileId}/creativeGroups"
        }
      }
    },
    "accountUserProfiles": {
      "methods": {
        "get": {
          "response": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID."
            }
          },
          "id": "dfareporting.accountUserProfiles.get",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{profileId}/accountUserProfiles/{accountUserProfilesId}",
          "description": "Gets one account user profile by ID.",
          "path": "userprofiles/{profileId}/accountUserProfiles/{+id}"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.insert",
          "description": "Inserts a new account user profile.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "userRoleId": {
              "description": "Select only user profiles with the specified user role ID.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\"."
            },
            "subaccountId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only user profiles with the specified subaccount ID."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "location": "query"
            },
            "active": {
              "location": "query",
              "type": "boolean",
              "description": "Select only active user profiles."
            },
            "ids": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only user profiles with these IDs.",
              "repeated": true
            },
            "maxResults": {
              "type": "integer",
              "default": "1000",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "AccountUserProfilesListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.list",
          "description": "Retrieves a list of account user profiles, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "path": "userprofiles/{+profileId}/accountUserProfiles"
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "AccountUserProfile"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.accountUserProfiles.update",
          "description": "Updates an existing account user profile.",
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles"
        },
        "patch": {
          "id": "dfareporting.accountUserProfiles.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "AccountUserProfile"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "description": "Required. AccountUserProfile ID.",
              "location": "query",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "path": "userprofiles/{+profileId}/accountUserProfiles",
          "request": {
            "$ref": "AccountUserProfile"
          },
          "flatPath": "userprofiles/{userprofilesId}/accountUserProfiles",
          "description": "Updates an existing account user profile. This method supports patch semantics."
        }
      }
    },
    "metros": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.metros.list",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "MetrosListResponse"
          },
          "path": "userprofiles/{+profileId}/metros",
          "description": "Retrieves a list of metros.",
          "flatPath": "userprofiles/{userprofilesId}/metros"
        }
      }
    },
    "creatives": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creatives.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "format": "int64",
              "description": "Creative ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Creative"
          },
          "path": "userprofiles/{+profileId}/creatives/{+id}",
          "description": "Gets one creative by ID.",
          "flatPath": "userprofiles/{userprofilesId}/creatives/{creativesId}"
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "description": "Inserts a new creative.",
          "path": "userprofiles/{+profileId}/creatives",
          "request": {
            "$ref": "Creative"
          },
          "response": {
            "$ref": "Creative"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "id": "dfareporting.creatives.insert",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creatives.list",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query",
              "format": "int32"
            },
            "ids": {
              "type": "string",
              "repeated": true,
              "description": "Select only creatives with these IDs.",
              "location": "query",
              "format": "int64"
            },
            "campaignId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only creatives with this campaign ID."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "renderingIds": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only creatives with these rendering IDs.",
              "repeated": true
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"creative*2015\" will return objects with names like \"creative June 2015\", \"creative April 2015\", or simply \"creative 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"creative\" will match objects with name \"my creative\", \"creative 2015\", or simply \"creative\".",
              "location": "query",
              "type": "string"
            },
            "companionCreativeIds": {
              "location": "query",
              "format": "int64",
              "description": "Select only in-stream video creatives with these companion IDs.",
              "repeated": true,
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enum": [
                "ID",
                "NAME"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query"
            },
            "archived": {
              "type": "boolean",
              "location": "query",
              "description": "Select only archived creatives. Leave blank to select archived and unarchived creatives."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "type": "string",
              "location": "query"
            },
            "types": {
              "location": "query",
              "description": "Select only creatives with these creative types.",
              "repeated": true,
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "IMAGE",
                "DISPLAY_REDIRECT",
                "CUSTOM_DISPLAY",
                "INTERNAL_REDIRECT",
                "CUSTOM_DISPLAY_INTERSTITIAL",
                "INTERSTITIAL_INTERNAL_REDIRECT",
                "TRACKING_TEXT",
                "RICH_MEDIA_DISPLAY_BANNER",
                "RICH_MEDIA_INPAGE_FLOATING",
                "RICH_MEDIA_IM_EXPAND",
                "RICH_MEDIA_DISPLAY_EXPANDING",
                "RICH_MEDIA_DISPLAY_INTERSTITIAL",
                "RICH_MEDIA_DISPLAY_MULTI_FLOATING_INTERSTITIAL",
                "RICH_MEDIA_MOBILE_IN_APP",
                "FLASH_INPAGE",
                "INSTREAM_VIDEO",
                "VPAID_LINEAR_VIDEO",
                "VPAID_NON_LINEAR_VIDEO",
                "INSTREAM_VIDEO_REDIRECT",
                "RICH_MEDIA_PEEL_DOWN",
                "HTML5_BANNER",
                "DISPLAY",
                "DISPLAY_IMAGE_GALLERY",
                "BRAND_SAFE_DEFAULT_INSTREAM_VIDEO",
                "INSTREAM_AUDIO"
              ],
              "type": "string"
            },
            "creativeFieldIds": {
              "type": "string",
              "repeated": true,
              "description": "Select only creatives with these creative field IDs.",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only creatives with this advertiser ID."
            },
            "sizeIds": {
              "repeated": true,
              "description": "Select only creatives with these size IDs.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "studioCreativeId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only creatives corresponding to this Studio creative ID."
            },
            "active": {
              "description": "Select only active creatives. Leave blank to select active and inactive creatives.",
              "type": "boolean",
              "location": "query"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "description": "Order of sorted results.",
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          "response": {
            "$ref": "CreativesListResponse"
          },
          "path": "userprofiles/{+profileId}/creatives",
          "description": "Retrieves a list of creatives, possibly filtered. This method supports paging.",
          "flatPath": "userprofiles/{userprofilesId}/creatives"
        },
        "update": {
          "path": "userprofiles/{+profileId}/creatives",
          "request": {
            "$ref": "Creative"
          },
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "description": "Updates an existing creative.",
          "id": "dfareporting.creatives.update",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "Creative"
          },
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          }
        },
        "patch": {
          "description": "Updates an existing creative. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/creatives",
          "request": {
            "$ref": "Creative"
          },
          "path": "userprofiles/{+profileId}/creatives",
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Required. Creative ID."
            }
          },
          "response": {
            "$ref": "Creative"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.creatives.patch"
        }
      }
    },
    "eventTags": {
      "methods": {
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventTag"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.eventTags.update",
          "description": "Updates an existing event tag.",
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "request": {
            "$ref": "EventTag"
          },
          "path": "userprofiles/{+profileId}/eventTags"
        },
        "patch": {
          "response": {
            "$ref": "EventTag"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Required. EventTag ID."
            }
          },
          "id": "dfareporting.eventTags.patch",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "description": "Updates an existing event tag. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/eventTags",
          "request": {
            "$ref": "EventTag"
          }
        },
        "delete": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.eventTags.delete",
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "httpMethod": "DELETE",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            },
            "id": {
              "location": "path",
              "format": "int64",
              "description": "Event tag ID.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes an existing event tag.",
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}"
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.eventTags.get",
          "httpMethod": "GET",
          "parameters": {
            "profileId": {
              "location": "path",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "id": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "Event tag ID.",
              "location": "path",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "EventTag"
          },
          "path": "userprofiles/{+profileId}/eventTags/{+id}",
          "description": "Gets one event tag by ID.",
          "flatPath": "userprofiles/{userprofilesId}/eventTags/{eventTagsId}"
        },
        "insert": {
          "id": "dfareporting.eventTags.insert",
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "response": {
            "$ref": "EventTag"
          },
          "httpMethod": "POST",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64"
            }
          },
          "path": "userprofiles/{+profileId}/eventTags",
          "request": {
            "$ref": "EventTag"
          },
          "flatPath": "userprofiles/{userprofilesId}/eventTags",
          "description": "Inserts a new event tag."
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "id": "dfareporting.eventTags.list",
          "httpMethod": "GET",
          "parameters": {
            "ids": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only event tags with these IDs.",
              "repeated": true
            },
            "adId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only event tags that belong to this ad."
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "location": "path",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Select only event tags that belong to this advertiser."
            },
            "campaignId": {
              "description": "Select only event tags that belong to this campaign.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "enabled": {
              "description": "Select only enabled event tags. What is considered enabled or disabled depends on the definitionsOnly parameter. When definitionsOnly is set to true, only the specified advertiser or campaign's event tags' enabledByDefault field is examined. When definitionsOnly is set to false, the specified ad or specified campaign's parent advertiser's or parent campaign's event tags' enabledByDefault and status fields are examined as well.",
              "location": "query",
              "type": "boolean"
            },
            "definitionsOnly": {
              "description": "Examine only the specified campaign or advertiser's event tags for matching selector criteria. When set to false, the parent advertiser and parent campaign of the specified ad or campaign is examined as well. In addition, when set to false, the status field is examined as well, along with the enabledByDefault field. This parameter can not be set to true when adId is specified as ads do not define their own even tags.",
              "location": "query",
              "type": "boolean"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"eventtag*2015\" will return objects with names like \"eventtag June 2015\", \"eventtag April 2015\", or simply \"eventtag 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"eventtag\" will match objects with name \"my eventtag\", \"eventtag 2015\", or simply \"eventtag\".",
              "type": "string",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "ID",
              "location": "query",
              "enum": [
                "ID",
                "NAME"
              ],
              "type": "string"
            },
            "sortOrder": {
              "default": "ASCENDING",
              "location": "query",
              "description": "Order of sorted results.",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "type": "string"
            },
            "eventTagTypes": {
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "A third-party pixel for impression tracking.",
                "A third-party JavaScript URL for impression tracking.",
                "A third-party URL for click tracking that redirects to the landing page."
              ],
              "description": "Select only event tags with the specified event tag types. Event tag types can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking.",
              "type": "string",
              "enum": [
[...]
