{
  "rootUrl": "https://dfareporting.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/dfareporting": {
          "description": "View and manage DoubleClick for Advertisers reports"
        },
        "https://www.googleapis.com/auth/ddmconversions": {
          "description": "Manage DoubleClick Digital Marketing conversions"
        },
        "https://www.googleapis.com/auth/dfatrafficking": {
          "description": "View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"
        }
      }
    }
  },
  "basePath": "/dfareporting/v5/",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "version": "v5",
  "schemas": {
    "OfflineUserAddressInfo": {
      "id": "OfflineUserAddressInfo",
      "description": "Identify a user by name and address.",
      "type": "object",
      "properties": {
        "state": {
          "description": "State code of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Postal code of the user's address.",
          "type": "string"
        },
        "hashedLastName": {
          "description": "Last name of the user, which is hashed as SHA-256 after normalized (lower case only and no punctuation).",
          "type": "string"
        },
        "city": {
          "description": "City of the address.",
          "type": "string"
        },
        "countryCode": {
          "description": "2-letter country code in ISO-3166-1 alpha-2 of the user's address.",
          "type": "string"
        },
        "hashedStreetAddress": {
          "description": "The street address of the user hashed using SHA-256 hash function after normalization (lower case only).",
          "type": "string"
        },
        "hashedFirstName": {
          "description": "First name of the user, which is hashed as SHA-256 after normalized (Lowercase all characters; Remove any extra spaces before, after, and in between).",
          "type": "string"
        }
      }
    },
    "PricingSchedule": {
      "properties": {
        "floodlightActivityId": {
          "description": "Floodlight activity ID associated with this placement. This field should be set when placement pricing type is set to PRICING_TYPE_CPA.",
          "type": "string",
          "format": "int64"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "capCostOption": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Placement cap cost option.",
          "type": "string",
          "enum": [
            "CAP_COST_NONE",
            "CAP_COST_MONTHLY",
            "CAP_COST_CUMULATIVE"
          ]
        },
        "flighted": {
          "description": "Whether this placement is flighted. If true, pricing periods will be computed automatically.",
          "type": "boolean"
        },
        "pricingType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Placement pricing type. This field is required on insertion.",
          "type": "string",
          "enum": [
            "PRICING_TYPE_CPM",
            "PRICING_TYPE_CPC",
            "PRICING_TYPE_CPA",
            "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
            "PRICING_TYPE_FLAT_RATE_CLICKS",
            "PRICING_TYPE_CPM_ACTIVEVIEW"
          ]
        },
        "testingStartDate": {
          "type": "string",
          "format": "date"
        },
        "pricingPeriods": {
          "items": {
            "$ref": "PricingSchedulePricingPeriod"
          },
          "description": "Pricing periods for this placement.",
          "type": "array"
        }
      },
      "id": "PricingSchedule",
      "description": "Pricing Schedule",
      "type": "object"
    },
    "LastModifiedInfo": {
      "id": "LastModifiedInfo",
      "description": "Modification timestamp.",
      "type": "object",
      "properties": {
        "time": {
          "format": "int64",
          "description": "Timestamp of the last change in milliseconds since epoch.",
          "type": "string"
        }
      }
    },
    "ListTargetingExpression": {
      "properties": {
        "expression": {
          "description": "Expression describing which lists are being targeted by the ad.",
          "type": "string"
        }
      },
      "id": "ListTargetingExpression",
      "description": "Remarketing List Targeting Expression.",
      "type": "object"
    },
    "LanguageTargeting": {
      "properties": {
        "languages": {
          "description": "Languages that this ad targets. For each language only languageId is required. The other fields are populated automatically when the ad is inserted or updated.",
          "type": "array",
          "items": {
            "$ref": "Language"
          }
        }
      },
      "id": "LanguageTargeting",
      "description": "Language Targeting.",
      "type": "object"
    },
    "CreativeGroupsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroupsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creativeGroups": {
          "description": "Creative group collection.",
          "type": "array",
          "items": {
            "$ref": "CreativeGroup"
          }
        }
      },
      "id": "CreativeGroupsListResponse",
      "description": "Creative Group List Response",
      "type": "object"
    },
    "PlacementTag": {
      "id": "PlacementTag",
      "description": "Placement Tag",
      "type": "object",
      "properties": {
        "tagDatas": {
          "items": {
            "$ref": "TagData"
          },
          "description": "Tags generated for this placement.",
          "type": "array"
        },
        "placementId": {
          "description": "Placement ID",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DirectorySite": {
      "id": "DirectorySite",
      "description": "DirectorySites contains properties of a website from the Site Directory. Sites need to be added to an account via the Sites resource before they can be assigned to a placement.",
      "type": "object",
      "properties": {
        "settings": {
          "description": "Directory site settings.",
          "$ref": "DirectorySiteSettings"
        },
        "url": {
          "description": "URL of this directory site.",
          "type": "string"
        },
        "publisherSpecificationId": {
          "description": "Output only. Default publisher specification ID of video placements under this directory site. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "id": {
          "format": "int64",
          "description": "ID of this directory site. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#directorySite\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this directory site.",
          "type": "string"
        },
        "inpageTagFormats": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "STANDARD",
              "IFRAME_JAVASCRIPT_INPAGE",
              "INTERNAL_REDIRECT_INPAGE",
              "JAVASCRIPT_INPAGE"
            ]
          },
          "description": "Tag types for regular placements. Acceptable values are: - \"STANDARD\" - \"IFRAME_JAVASCRIPT_INPAGE\" - \"INTERNAL_REDIRECT_INPAGE\" - \"JAVASCRIPT_INPAGE\" ",
          "type": "array"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this directory site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "interstitialTagFormats": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "IFRAME_JAVASCRIPT_INTERSTITIAL",
              "INTERNAL_REDIRECT_INTERSTITIAL",
              "JAVASCRIPT_INTERSTITIAL"
            ]
          },
          "description": "Tag types for interstitial placements. Acceptable values are: - \"IFRAME_JAVASCRIPT_INTERSTITIAL\" - \"INTERNAL_REDIRECT_INTERSTITIAL\" - \"JAVASCRIPT_INTERSTITIAL\" ",
          "type": "array"
        }
      }
    },
    "TvCampaignTimepoint": {
      "properties": {
        "startDate": {
          "description": "The start date of the timepoint. A string in the format of \"yyyy-MM-dd\".",
          "type": "string"
        },
        "dateWindow": {
          "description": "The date window of the timepoint.",
          "type": "string",
          "enum": [
            "WEEKS_UNSPECIFIED",
            "DAYS_ONE",
            "WEEKS_ONE",
            "WEEKS_FOUR",
            "WEEKS_EIGHT",
            "WEEKS_TWELVE"
          ],
          "enumDescriptions": [
            "Default value, should never be set.",
            "One Day.",
            "One week.",
            "Four weeks.",
            "Eight weeks.",
            "Twelve weeks."
          ]
        },
        "spend": {
          "description": "The spend within the time range of the timepoint.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "TvCampaignTimepoint",
      "description": "A single data point for TvCampaignDetail, which holds information about the TV campaign for a specific start date and date window.",
      "type": "object"
    },
    "Country": {
      "properties": {
        "tvDataProviders": {
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "INVALID_TV_DATA_PROVIDER",
              "INTAGE_JP",
              "IBOPE_AR",
              "IBOPE_BR",
              "IBOPE_CL",
              "IBOPE_CO",
              "TNS_VN",
              "COMSCORE_NATIONAL_US",
              "COMSCORE_CA",
              "SAMBA_AU"
            ]
          },
          "description": "Output only. The TV data providers supported in this country.",
          "type": "array"
        },
        "name": {
          "description": "Name of this country.",
          "type": "string"
        },
        "sslEnabled": {
          "description": "Whether ad serving supports secure servers in this country.",
          "type": "boolean"
        },
        "dartId": {
          "description": "DART ID of this country. This is the ID used for targeting and generating reports.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#country\".",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        }
      },
      "id": "Country",
      "description": "Contains information about a country that can be targeted by ads.",
      "type": "object"
    },
    "CreativeFieldsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeFieldsListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "creativeFields": {
          "items": {
            "$ref": "CreativeField"
          },
          "description": "Creative field collection.",
          "type": "array"
        }
      },
      "id": "CreativeFieldsListResponse",
      "description": "Creative Field List Response",
      "type": "object"
    },
    "StudioCreative": {
      "properties": {
        "studioCampaignId": {
          "description": "Studio campaign ID of this studio creative. This is a required field on insertion.",
          "type": "string",
          "format": "int64"
        },
        "createdInfo": {
          "description": "The timestamp when the studio creative was created. This is a read-only, auto-generated field.",
          "$ref": "LastModifiedInfo"
        },
        "name": {
          "description": "Identifier. Name of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "dimension": {
          "description": "Dimension of this studio creative. This is a required field on insertion if format is BANNER or EXPANDING.",
          "$ref": "StudioCreativeDimension"
        },
        "assetIds": {
          "description": "List of assets associated with this studio creative. It is a required field on insertion.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "studioAccountId": {
          "description": "Studio account ID of this creative. This field, if left unset, will be auto-populated.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "Output only. Unique ID of this studio creative. This is a read-only, auto-generated field.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "status": {
          "description": "Output only. Status of this studio creative. It is a read-only field.",
          "enum": [
            "UNKNOWN_STATUS",
            "IN_DEVELOPMENT",
            "PUBLISHED",
            "QA_REJECTED",
            "QA_APPROVED",
            "TRAFFICKED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The status of the studio creative is unknown. This value is unused.",
            "The creative is still being developed.",
            "The creative has been published and is ready for QA.",
            "The creative has failed QA and must be corrected.",
            "The creative has passed QA and is ready to be trafficked.",
            "The creative has been trafficked to an adserver."
          ]
        },
        "format": {
          "description": "Format of this studio creative. This is a required field on insertion.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "BANNER",
            "EXPANDING",
            "INTERSTITIAL",
            "VPAID_LINEAR_VIDEO"
          ],
          "enumDescriptions": [
            "The format of the studio creative is unknown. This value is unused.",
            "Banner format.",
            "Expanding format.",
            "Intertitial format.",
            "VPAID linear video creative format."
          ]
        },
        "lastModifiedInfo": {
          "description": "The timestamp when the studio creative was last modified. This is a read-only, auto-generated field.",
          "$ref": "LastModifiedInfo"
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Studio advertiser ID of this studio creative. This is a required field on insertion.",
          "type": "string"
        },
        "dynamicProfileId": {
          "format": "int64",
          "description": "Dynamic profile ID of this studio creative.",
          "type": "string"
        },
        "backupImageAssetId": {
          "format": "int64",
          "description": "Backup image asset ID of this studio creative. It is a required field on insertion.",
          "type": "string"
        }
      },
      "id": "StudioCreative",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative information.",
      "type": "object"
    },
    "TagData": {
      "properties": {
        "clickTag": {
          "description": "Tag string to record a click.",
          "type": "string"
        },
        "adId": {
          "format": "int64",
          "description": "Ad associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string"
        },
        "impressionTag": {
          "description": "Tag string for serving an ad.",
          "type": "string"
        },
        "creativeId": {
          "format": "int64",
          "description": "Creative associated with this placement tag. Applicable only when format is PLACEMENT_TAG_TRACKING.",
          "type": "string"
        },
        "format": {
          "description": "TagData tag format of this tag.",
          "type": "string",
          "enum": [
            "PLACEMENT_TAG_STANDARD",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_IFRAME_ILAYER",
            "PLACEMENT_TAG_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
            "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
            "PLACEMENT_TAG_CLICK_COMMANDS",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
            "PLACEMENT_TAG_TRACKING",
            "PLACEMENT_TAG_TRACKING_IFRAME",
            "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
            "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
            "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
            "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "TagData",
      "description": "Placement Tag Data",
      "type": "object"
    },
    "PlacementGroupsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementGroupsListResponse\".",
          "type": "string"
        },
        "placementGroups": {
          "description": "Placement group collection.",
          "type": "array",
          "items": {
            "$ref": "PlacementGroup"
          }
        }
      },
      "id": "PlacementGroupsListResponse",
      "description": "Placement Group List Response",
      "type": "object"
    },
    "AdvertiserLandingPagesListResponse": {
      "id": "AdvertiserLandingPagesListResponse",
      "description": "Landing Page List Response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserLandingPagesListResponse\".",
          "type": "string"
        },
        "landingPages": {
          "items": {
            "$ref": "LandingPage"
          },
          "description": "Landing page collection",
          "type": "array"
        }
      }
    },
    "ObjectFilter": {
      "id": "ObjectFilter",
      "description": "Object Filter.",
      "type": "object",
      "properties": {
        "objectIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs.",
          "type": "array"
        },
        "status": {
          "enumDescriptions": [
            "Profile has access to none of the objects.",
            "Profile has access to only specific objects.",
            "Profile has access to all objects."
          ],
          "description": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list.",
          "type": "string",
          "enum": [
            "NONE",
            "ASSIGNED",
            "ALL"
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\".",
          "type": "string"
        }
      }
    },
    "Metro": {
      "id": "Metro",
      "description": "Contains information about a metro region that can be targeted by ads.",
      "type": "object",
      "properties": {
        "countryDartId": {
          "format": "int64",
          "description": "DART ID of the country to which this metro region belongs.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the country to which this metro region belongs.",
          "type": "string"
        },
        "metroCode": {
          "description": "Metro code of this metro region. This is equivalent to dma_id.",
          "type": "string"
        },
        "dartId": {
          "format": "int64",
          "description": "DART ID of this metro region.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#metro\".",
          "type": "string"
        },
        "name": {
          "description": "Name of this metro region.",
          "type": "string"
        },
        "dmaId": {
          "description": "DMA ID of this metro region. This is the ID used for targeting and generating reports, and is equivalent to metro_code.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ObaIcon": {
      "id": "ObaIcon",
      "description": "Online Behavioral Advertiser icon.",
      "type": "object",
      "properties": {
        "xPosition": {
          "description": "OBA icon x coordinate position. Accepted values are left or right.",
          "type": "string"
        },
        "yPosition": {
          "description": "OBA icon y coordinate position. Accepted values are top or bottom.",
          "type": "string"
        },
        "iconClickTrackingUrl": {
          "description": "URL to track click when an OBA icon is clicked.",
          "type": "string"
        },
        "program": {
          "description": "Identifies the industry initiative that the icon supports. For example, AdChoices.",
          "type": "string"
        },
        "iconViewTrackingUrl": {
          "description": "URL to track view when an OBA icon is clicked.",
          "type": "string"
        },
        "iconClickThroughUrl": {
          "description": "URL to redirect to when an OBA icon is clicked.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "OBA icon resource URL. Campaign Manager only supports image and JavaScript icons. Learn more",
          "type": "string"
        },
        "size": {
          "description": "OBA icon size.",
          "$ref": "Size"
        }
      }
    },
    "Campaign": {
      "id": "Campaign",
      "description": "Contains properties of a Campaign Manager campaign.",
      "type": "object",
      "properties": {
        "creativeGroupIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of creative group IDs that are assigned to the campaign.",
          "type": "array"
        },
        "creativeOptimizationConfiguration": {
          "$ref": "CreativeOptimizationConfiguration",
          "description": "Creative optimization configuration for the campaign."
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this campaign. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "eventTagOverrides": {
          "description": "Overrides that can be used to activate or deactivate advertiser event tags.",
          "type": "array",
          "items": {
            "$ref": "EventTagOverride"
          }
        },
        "clickThroughUrlSuffixProperties": {
          "description": "Click-through URL suffix override properties for this campaign.",
          "$ref": "ClickThroughUrlSuffixProperties"
        },
        "subaccountId": {
          "description": "Subaccount ID of this campaign. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "audienceSegmentGroups": {
          "items": {
            "$ref": "AudienceSegmentGroup"
          },
          "description": "Audience segment groups assigned to this campaign. Cannot have more than 300 segment groups.",
          "type": "array"
        },
        "comment": {
          "description": "Arbitrary comments about this campaign. Must be less than 256 characters long.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "format": "date"
        },
        "name": {
          "description": "Name of this campaign. This is a required field and must be less than 512 characters long and unique among campaigns of the same advertiser.",
          "type": "string"
        },
        "defaultLandingPageId": {
          "description": "The default landing page ID for this campaign.",
          "type": "string",
          "format": "int64"
        },
        "createInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the creation of this campaign. This is a read-only field."
        },
        "defaultClickThroughEventTagProperties": {
          "$ref": "DefaultClickThroughEventTagProperties",
          "description": "Click-through event tag ID override properties for this campaign."
        },
        "additionalCreativeOptimizationConfigurations": {
          "description": "Additional creative optimization configurations for the campaign.",
          "type": "array",
          "items": {
            "$ref": "CreativeOptimizationConfiguration"
          }
        },
        "externalId": {
          "description": "External ID for this campaign.",
          "type": "string"
        },
        "measurementPartnerLink": {
          "$ref": "MeasurementPartnerCampaignLink",
          "description": "Measurement partner campaign link for tag wrapping."
        },
        "startDate": {
          "type": "string",
          "format": "date"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Information about the most recent modification of this campaign. This is a read-only field."
        },
        "id": {
          "description": "ID of this campaign. This is a read-only auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#campaign\".",
          "type": "string"
        },
        "billingInvoiceCode": {
          "description": "Billing invoice code included in the Campaign Manager client billing invoices associated with the campaign.",
          "type": "string"
        },
        "euPoliticalAdsDeclaration": {
          "enumDescriptions": [
            "The campaign contains EU political ads.",
            "The campaign does not contain EU political ads."
          ],
          "description": "Optional. Whether the campaign has EU political ads. Campaign Manager 360 doesn't allow campaigns with EU political ads to serve in the EU. They can still serve in other regions.",
          "type": "string",
          "enum": [
            "CONTAINS_EU_POLITICAL_ADS",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADS"
          ]
        },
        "advertiserId": {
          "description": "Advertiser ID of this campaign. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "idDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of this campaign. This is a read-only, auto-generated field."
        },
        "advertiserGroupId": {
          "format": "int64",
          "description": "Advertiser group ID of the associated advertiser.",
          "type": "string"
        },
        "archived": {
          "description": "Whether this campaign has been archived.",
          "type": "boolean"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the advertiser ID of this campaign. This is a read-only, auto-generated field."
        },
        "adBlockingConfiguration": {
          "$ref": "AdBlockingConfiguration",
          "description": "Ad blocking settings for this campaign."
        }
      }
    },
    "CompanionSetting": {
      "id": "CompanionSetting",
      "description": "Companion Settings",
      "type": "object",
      "properties": {
        "imageOnly": {
          "description": "Whether to serve only static images as companions.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#companionSetting\".",
          "type": "string"
        },
        "companionsDisabled": {
          "description": "Whether companions are disabled for this placement.",
          "type": "boolean"
        },
        "enabledSizes": {
          "items": {
            "$ref": "Size"
          },
          "description": "Allowlist of companion sizes to be served to this placement. Set this list to null or empty to serve all companion sizes.",
          "type": "array"
        }
      }
    },
    "BillingAssignment": {
      "id": "BillingAssignment",
      "description": "List account, subaccount, advertiser, and campaign associated with a given Billing Profile.",
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "ID of the advertiser associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single advertiser",
          "type": "string"
        },
        "campaignId": {
          "description": "ID of the campaign associated with the billing assignment. Wildcard (*) means this assignment is not limited to a single campaign",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignment\".",
          "type": "string"
        },
        "accountId": {
          "description": "ID of the account associated with the billing assignment.This is a read-only, auto-generated field.",
          "type": "string"
        },
        "subaccountId": {
          "description": "ID of the subaccount associated with the billing assignment.Wildcard (*) means this assignment is not limited to a single subaccountThis is a read-only, auto-generated field.",
          "type": "string"
        }
      }
    },
    "StudioCreativeAsset": {
      "id": "StudioCreativeAsset",
      "description": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative asset information.",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Unique ID of this studio creative asset. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown type of asset.",
            "The asset is an HTML file.",
            "The asset is a video file.",
            "The asset is an image file.",
            "The asset is a font file."
          ],
          "description": "The type of the studio creative asset. It is a auto-generated, read-only field.",
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "HTML",
            "VIDEO",
            "IMAGE",
            "FONT"
          ]
        },
        "createInfo": {
          "readOnly": true,
          "description": "Output only. The creation timestamp of the studio creative asset. This is a read-only field.",
          "$ref": "LastModifiedInfo"
        },
        "filename": {
          "description": "The filename of the studio creative asset. It is default to the original filename of the asset.",
          "type": "string"
        },
        "filesize": {
          "format": "int64",
          "description": "The filesize of the studio creative asset. This is a read-only field.",
          "type": "string"
        },
        "studioAccountId": {
          "format": "int64",
          "description": "Studio account ID of this studio creative asset. This field, if left unset, will be auto-populated..",
          "type": "string"
        },
        "videoProcessingData": {
          "$ref": "VideoProcessingData",
          "description": "The processing data of the studio creative asset. This is a read-only field."
        },
        "studioCreativeId": {
          "description": "Studio creative ID of this studio creative asset. The asset will be associated to the creative if creative id is set.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedInfo": {
          "$ref": "LastModifiedInfo",
          "description": "Output only. The last modified timestamp of the studio creative asset. This is a read-only field.",
          "readOnly": true
        },
        "studioAdvertiserId": {
          "format": "int64",
          "description": "Studio advertiser ID of this studio creative asset. This is a required field on insertion.",
          "type": "string"
        }
      }
    },
    "BillingRate": {
      "id": "BillingRate",
      "type": "object",
      "properties": {
        "unitOfMeasure": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Unit of measure for this billing rate.",
          "type": "string",
          "enum": [
            "CPM",
            "CPC",
            "EA",
            "P2C"
          ]
        },
        "tieredRates": {
          "items": {
            "$ref": "BillingRateTieredRate"
          },
          "description": "Tiered rate of this billing rate. This cannot co-exist with flat rate.",
          "type": "array"
        },
        "rateInMicros": {
          "description": "Flat rate in micros of this billing rate. This cannot co-exist with tiered rate.",
          "type": "string",
          "format": "int64"
        },
        "endDate": {
          "description": "End date of this billing rate.",
          "type": "string"
        },
        "startDate": {
          "description": "Start date of this billing rate.",
          "type": "string"
        },
        "name": {
          "description": "Name of this billing rate. This must be less than 256 characters long.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this billing rate.",
          "type": "string"
        },
        "type": {
          "description": "Type of this billing rate.",
          "type": "string",
          "enum": [
            "AD_SERVING",
            "CLICKS",
            "MINIMUM_SERVICE",
            "PATH_TO_CONVERSION",
            "RICH_MEDIA_INPAGE",
            "RICH_MEDIA_EXPANDING",
            "RICH_MEDIA_FLOATING",
            "RICH_MEDIA_VIDEO",
            "RICH_MEDIA_TEASER",
            "RICH_MEDIA_VPAID",
            "INSTREAM_VIDEO",
            "PIXEL",
            "TRACKING",
            "TRAFFICKING_FEATURE",
            "CUSTOM_REPORTS",
            "EXPOSURE_TO_CONVERSION",
            "DATA_TRANSFER",
            "DATA_TRANSFER_SETUP",
            "STARTUP",
            "STATEMENT_OF_WORK",
            "PROVIDED_LIST",
            "PROVIDED_LIST_SETUP",
            "ENHANCED_FORMATS",
            "TRACKING_AD_IMPRESSIONS",
            "TRACKING_AD_CLICKS",
            "NIELSEN_DIGITAL_AD_RATINGS_FEE",
            "INSTREAM_VIDEO_REDIRECT",
            "INSTREAM_VIDEO_VPAID",
            "DISPLAY_AD_SERVING",
            "VIDEO_AD_SERVING",
            "AUDIO_AD_SERVING",
            "ADVANCED_DISPLAY_AD_SERVING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "currencyCode": {
          "description": "Billing currency code in ISO 4217 format.",
          "type": "string"
        }
      }
    },
    "ConversionsBatchUpdateRequest": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchUpdateRequest\".",
          "type": "string"
        },
        "conversions": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The set of conversions to update.",
          "type": "array"
        },
        "encryptionInfo": {
          "description": "Describes how encryptedUserId is encrypted. This is a required field if encryptedUserId is used.",
          "$ref": "EncryptionInfo"
        }
      },
      "id": "ConversionsBatchUpdateRequest",
      "description": "Update Conversions Request.",
      "type": "object"
    },
    "SiteVideoSettings": {
      "id": "SiteVideoSettings",
      "description": "Video Settings",
      "type": "object",
      "properties": {
        "transcodeSettings": {
          "$ref": "SiteTranscodeSetting",
          "description": "Settings for the transcodes of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "companionSettings": {
          "$ref": "SiteCompanionSetting",
          "description": "Settings for the companion creatives of video creatives served to this site."
        },
        "obaSettings": {
          "$ref": "ObaIcon",
          "description": "Settings for the OBA icon of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "orientation": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Orientation of a site template used for video. This will act as default for new placements created under this site.",
          "type": "string",
          "enum": [
            "ANY",
            "LANDSCAPE",
            "PORTRAIT"
          ]
        },
        "publisherSpecificationId": {
          "description": "Publisher specification ID used to identify site-associated publisher requirements and automatically populate transcode settings. If publisher specification ID is specified, it will take precedence over transcode settings. Possible values are: * `1`, Hulu * `2`, NBC * `3`, CBS * `4`, CBS Desktop * `5`, Discovery * `6`, VEVO HD * `7`, VEVO Vertical * `8`, Fox * `9`, CW Network * `10`, Disney * `11`, IGN * `12`, NFL.com * `13`, Turner Broadcasting * `14`, Tubi on Fox * `15`, Hearst Corporation * `16`, Twitch Desktop * `17`, ABC * `18`, Univision * `19`, MLB.com * `20`, MLB.com Mobile * `21`, MLB.com OTT * `22`, Polsat * `23`, TVN * `24`, Mediaset * `25`, Antena 3 * `26`, Mediamond * `27`, Sky Italia * `28`, Tubi on CBS * `29`, Spotify * `30`, Paramount * `31`, Max",
          "type": "string",
          "format": "int64"
        },
        "skippableSettings": {
          "$ref": "SiteSkippableSetting",
          "description": "Settings for the skippability of video creatives served to this site. This will act as default for new placements created under this site."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#siteVideoSettings\".",
          "type": "string"
        },
        "obaEnabled": {
          "description": "Whether OBA icons are enabled for this placement.",
          "type": "boolean"
        }
      }
    },
    "FloodlightActivityPublisherDynamicTag": {
      "properties": {
        "directorySiteId": {
          "format": "int64",
          "description": "Directory site ID of this dynamic tag. This is a write-only field that can be used as an alternative to the siteId field. When this resource is retrieved, only the siteId field will be populated.",
          "type": "string"
        },
        "clickThrough": {
          "description": "Whether this tag is applicable only for click-throughs.",
          "type": "boolean"
        },
        "siteIdDimensionValue": {
          "description": "Dimension value for the ID of the site. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "siteId": {
          "format": "int64",
          "description": "Site ID of this dynamic tag.",
          "type": "string"
        },
        "viewThrough": {
          "description": "Whether this tag is applicable only for view-throughs.",
          "type": "boolean"
        },
        "dynamicTag": {
          "$ref": "FloodlightActivityDynamicTag",
          "description": "Dynamic floodlight tag."
        }
      },
      "id": "FloodlightActivityPublisherDynamicTag",
      "description": "Publisher Dynamic Tag",
      "type": "object"
    },
    "Account": {
      "properties": {
        "active": {
          "description": "Whether this account is active.",
          "type": "boolean"
        },
        "maximumImageSize": {
          "description": "Maximum image size allowed for this account, in kilobytes. Value must be greater than or equal to 1.",
          "type": "string",
          "format": "int64"
        },
        "shareReportsWithTwitter": {
          "description": "Share Path to Conversion reports with Twitter.",
          "type": "boolean"
        },
        "currencyId": {
          "format": "int64",
          "description": "ID of currency associated with this account. This is a required field. Acceptable values are: - \"1\" for USD - \"2\" for GBP - \"3\" for ESP - \"4\" for SEK - \"5\" for CAD - \"6\" for JPY - \"7\" for DEM - \"8\" for AUD - \"9\" for FRF - \"10\" for ITL - \"11\" for DKK - \"12\" for NOK - \"13\" for FIM - \"14\" for ZAR - \"15\" for IEP - \"16\" for NLG - \"17\" for EUR - \"18\" for KRW - \"19\" for TWD - \"20\" for SGD - \"21\" for CNY - \"22\" for HKD - \"23\" for NZD - \"24\" for MYR - \"25\" for BRL - \"26\" for PTE - \"28\" for CLP - \"29\" for TRY - \"30\" for ARS - \"31\" for PEN - \"32\" for ILS - \"33\" for CHF - \"34\" for VEF - \"35\" for COP - \"36\" for GTQ - \"37\" for PLN - \"39\" for INR - \"40\" for THB - \"41\" for IDR - \"42\" for CZK - \"43\" for RON - \"44\" for HUF - \"45\" for RUB - \"46\" for AED - \"47\" for BGN - \"48\" for HRK - \"49\" for MXN - \"50\" for NGN - \"51\" for EGP ",
          "type": "string"
        },
        "locale": {
          "description": "Locale of this account. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "name": {
          "description": "Name of this account. This is a required field, and must be less than 128 characters long and be globally unique.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this account. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#account\".",
          "type": "string"
        },
        "teaserSizeLimit": {
          "description": "File size limit in kilobytes of Rich Media teaser creatives. Acceptable values are 1 to 10240, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "accountProfile": {
          "description": "Profile for this account. This is a read-only field that can be left blank.",
          "type": "string",
          "enum": [
            "ACCOUNT_PROFILE_BASIC",
            "ACCOUNT_PROFILE_STANDARD"
          ],
          "enumDescriptions": [
            "Basic profile has fewer features and lower CPM.",
            "Standard profile as a higher CPM and all the features."
          ]
        },
        "description": {
          "description": "Description of this account.",
          "type": "string"
        },
        "availablePermissionIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "User role permissions available to the user roles of this account.",
          "type": "array"
        },
        "accountPermissionIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Account permissions assigned to this account.",
          "type": "array"
        },
        "countryId": {
          "format": "int64",
          "description": "ID of the country associated with this account.",
          "type": "string"
        },
        "reportsConfiguration": {
          "description": "Reporting configuration of this account.",
          "$ref": "ReportsConfiguration"
        },
        "activeViewOptOut": {
          "description": "Whether to serve creatives with Active View tags. If disabled, viewability data will not be available for any impressions.",
          "type": "boolean"
        },
        "activeAdsLimitTier": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Maximum number of active ads allowed for this account.",
          "type": "string",
          "enum": [
            "ACTIVE_ADS_TIER_40K",
            "ACTIVE_ADS_TIER_75K",
            "ACTIVE_ADS_TIER_100K",
            "ACTIVE_ADS_TIER_200K",
            "ACTIVE_ADS_TIER_300K",
            "ACTIVE_ADS_TIER_500K",
            "ACTIVE_ADS_TIER_750K",
            "ACTIVE_ADS_TIER_1M"
          ]
        },
        "nielsenOcrEnabled": {
          "description": "Whether campaigns created in this account will be enabled for Nielsen OCR reach ratings by default.",
          "type": "boolean"
        },
        "defaultCreativeSizeId": {
          "description": "Default placement dimensions for this account.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Account",
      "description": "Contains properties of a Campaign Manager account.",
      "type": "object"
    },
    "CitiesListResponse": {
      "properties": {
        "cities": {
          "description": "City collection.",
          "type": "array",
          "items": {
            "$ref": "City"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#citiesListResponse\".",
          "type": "string"
        }
      },
      "id": "CitiesListResponse",
      "description": "City List Response",
      "type": "object"
    },
    "BillingAssignmentsListResponse": {
      "id": "BillingAssignmentsListResponse",
      "description": "Billing assignment List Response",
      "type": "object",
      "properties": {
        "billingAssignments": {
          "description": "Billing assignments collection.",
          "type": "array",
          "items": {
            "$ref": "BillingAssignment"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#billingAssignmentsListResponse\".",
          "type": "string"
        }
      }
    },
    "PlatformTypesListResponse": {
      "id": "PlatformTypesListResponse",
      "description": "Platform Type List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#platformTypesListResponse\".",
          "type": "string"
        },
        "platformTypes": {
          "items": {
            "$ref": "PlatformType"
          },
          "description": "Platform type collection.",
          "type": "array"
        }
      }
    },
    "FloodlightReportCompatibleFields": {
      "id": "FloodlightReportCompatibleFields",
      "description": "Represents fields that are compatible to be selected for a report of type \"FlOODLIGHT\".",
      "type": "object",
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report.",
          "type": "array"
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Metrics which are compatible to be selected in the \"metricNames\" section of the report.",
          "type": "array"
        },
        "dimensionFilters": {
          "description": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#floodlightReportCompatibleFields.",
          "type": "string"
        }
      }
    },
    "ReportList": {
      "id": "ReportList",
      "description": "Represents the list of reports.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Report"
          },
          "description": "The reports returned in this response.",
          "type": "array"
        },
        "kind": {
          "description": "The kind of list this is, in this case dfareporting#reportList.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted.",
          "type": "string"
        }
      }
    },
    "Recipient": {
      "properties": {
        "deliveryType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The delivery type for the recipient.",
          "type": "string",
          "enum": [
            "LINK",
            "ATTACHMENT"
          ]
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#recipient.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the recipient.",
          "type": "string"
        }
      },
      "id": "Recipient",
      "description": "Represents a recipient.",
      "type": "object"
    },
    "ConnectionTypesListResponse": {
      "id": "ConnectionTypesListResponse",
      "description": "Connection Type List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#connectionTypesListResponse\".",
          "type": "string"
        },
        "connectionTypes": {
          "description": "Collection of connection types such as broadband and mobile.",
          "type": "array",
          "items": {
            "$ref": "ConnectionType"
          }
        }
      }
    },
    "CreativeRotation": {
      "properties": {
        "weightCalculationStrategy": {
          "description": "Strategy for calculating weights. Used with CREATIVE_ROTATION_TYPE_RANDOM.",
          "type": "string",
          "enum": [
            "WEIGHT_STRATEGY_EQUAL",
            "WEIGHT_STRATEGY_CUSTOM",
            "WEIGHT_STRATEGY_HIGHEST_CTR",
            "WEIGHT_STRATEGY_OPTIMIZED"
          ],
          "enumDescriptions": [
            "The creative weights should all be equal to 1. This is the default value for all ads with a rotation type of Random.",
            "The creative weights can be any user provided positive integer.",
            "The weights will be automatically calculated giving preference to the creative that has the highest CTR. The CTR for campaigns that are optimized for clicks = clicks/impressions. The CTR for campaigns that are optimized for view-through or click through is sum(activities + floodlight weight)/impressions.",
            "The creative weights will be automatically calculated using a formula that could not possibly be explained in these comments. The value will be within some predetermined range (probably 0 - 1,000,000)."
          ]
        },
        "type": {
          "description": "Type of creative rotation. Can be used to specify whether to use sequential or random rotation.",
          "type": "string",
          "enum": [
            "CREATIVE_ROTATION_TYPE_SEQUENTIAL",
            "CREATIVE_ROTATION_TYPE_RANDOM"
          ],
          "enumDescriptions": [
            "The weights of each creative in the rotation should be sequential starting at 1. The user may adjust the order.",
            "The weights are calculated according to the ad's CreativeRoationWeightStrategy."
          ]
        },
        "creativeOptimizationConfigurationId": {
          "format": "int64",
          "description": "Creative optimization configuration that is used by this ad. It should refer to one of the existing optimization configurations in the ad's campaign. If it is unset or set to 0, then the campaign's default optimization configuration will be used for this ad.",
          "type": "string"
        },
        "creativeAssignments": {
          "items": {
            "$ref": "CreativeAssignment"
          },
          "description": "Creative assignments in this creative rotation.",
          "type": "array"
        }
      },
      "id": "CreativeRotation",
      "description": "Creative Rotation.",
      "type": "object"
    },
    "ListPopulationRule": {
      "id": "ListPopulationRule",
      "description": "Remarketing List Population Rule.",
      "type": "object",
      "properties": {
        "floodlightActivityId": {
          "format": "int64",
          "description": "Floodlight activity ID associated with this rule. This field can be left blank.",
          "type": "string"
        },
        "floodlightActivityName": {
          "description": "Name of floodlight activity associated with this rule. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "listPopulationClauses": {
          "description": "Clauses that make up this list population rule. Clauses are joined by ANDs, and the clauses themselves are made up of list population terms which are joined by ORs.",
          "type": "array",
          "items": {
            "$ref": "ListPopulationClause"
          }
        }
      }
    },
    "PlacementsGenerateTagsResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#placementsGenerateTagsResponse\".",
          "type": "string"
        },
        "placementTags": {
          "description": "Set of generated tags for the specified placements.",
          "type": "array",
          "items": {
            "$ref": "PlacementTag"
          }
        }
      },
      "id": "PlacementsGenerateTagsResponse",
      "description": "Placement GenerateTags Response",
      "type": "object"
    },
    "Dimension": {
      "id": "Dimension",
      "description": "Represents a dimension.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimension.",
          "type": "string"
        },
        "name": {
          "description": "The dimension name, e.g. advertiser",
          "type": "string"
        }
      }
    },
    "UserRolePermissionsListResponse": {
      "id": "UserRolePermissionsListResponse",
      "description": "User Role Permission List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#userRolePermissionsListResponse\".",
          "type": "string"
        },
        "userRolePermissions": {
          "description": "User role permission collection.",
          "type": "array",
          "items": {
            "$ref": "UserRolePermission"
          }
        }
      }
    },
    "FloodlightActivity": {
      "properties": {
        "countingMethod": {
          "enumDescriptions": [
            "Count every conversion.",
            "Count the first conversion for each unique user during each 24-hour day, from midnight to midnight, Eastern Time.",
            "Count one conversion per user per session. Session length is set by the site where the Spotlight tag is deployed.",
            "Count all conversions, plus the total number of sales that take place and the total revenue for these transactions.",
            "Count each conversion, plus the total number of items sold and the total revenue for these sales."
          ],
          "description": "Counting method for conversions for this floodlight activity. This is a required field.",
          "type": "string",
          "enum": [
            "STANDARD_COUNTING",
            "UNIQUE_COUNTING",
            "SESSION_COUNTING",
            "TRANSACTIONS_COUNTING",
            "ITEMS_SOLD_COUNTING"
          ]
        },
        "accountId": {
          "description": "Account ID of this floodlight activity. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "floodlightActivityGroupName": {
          "description": "Name of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's floodlight configuration or from the existing activity's floodlight configuration.",
          "type": "string",
          "format": "int64"
        },
        "userDefinedVariableTypes": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "U1",
              "U2",
              "U3",
              "U4",
              "U5",
              "U6",
              "U7",
              "U8",
              "U9",
              "U10",
              "U11",
              "U12",
              "U13",
              "U14",
              "U15",
              "U16",
              "U17",
              "U18",
              "U19",
              "U20",
              "U21",
              "U22",
              "U23",
              "U24",
              "U25",
              "U26",
              "U27",
              "U28",
              "U29",
              "U30",
              "U31",
              "U32",
              "U33",
              "U34",
              "U35",
              "U36",
              "U37",
              "U38",
              "U39",
              "U40",
              "U41",
              "U42",
              "U43",
              "U44",
              "U45",
              "U46",
              "U47",
              "U48",
              "U49",
              "U50",
              "U51",
              "U52",
              "U53",
              "U54",
              "U55",
              "U56",
              "U57",
              "U58",
              "U59",
              "U60",
              "U61",
              "U62",
              "U63",
              "U64",
              "U65",
              "U66",
              "U67",
              "U68",
              "U69",
              "U70",
              "U71",
              "U72",
              "U73",
              "U74",
              "U75",
              "U76",
              "U77",
              "U78",
              "U79",
              "U80",
              "U81",
              "U82",
              "U83",
              "U84",
              "U85",
              "U86",
              "U87",
              "U88",
              "U89",
              "U90",
              "U91",
              "U92",
              "U93",
              "U94",
              "U95",
              "U96",
              "U97",
              "U98",
              "U99",
              "U100"
            ]
          },
          "description": "List of the user-defined variables used by this conversion tag. These map to the \"u[1-100]=\" in the tags. Each of these can have a user defined type. Acceptable values are U1 to U100, inclusive. ",
          "type": "array"
        },
        "cacheBustingType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Code type used for cache busting in the generated tag. Applicable only when floodlightActivityGroupType is COUNTER and countingMethod is STANDARD_COUNTING or UNIQUE_COUNTING.",
          "type": "string",
          "enum": [
            "JAVASCRIPT",
            "ACTIVE_SERVER_PAGE",
            "JSP",
            "PHP",
            "COLD_FUSION"
          ]
        },
        "subaccountId": {
          "description": "Subaccount ID of this floodlight activity. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of this floodlight activity. This is a required field. Must be less than 129 characters long and cannot contain quotes.",
          "type": "string"
        },
        "secure": {
          "description": "Whether this tag should use SSL.",
          "type": "boolean"
        },
        "notes": {
          "description": "General notes or implementation instructions for the tag.",
          "type": "string"
        },
        "sslRequired": {
          "description": "Whether this floodlight activity must be SSL-compliant.",
          "type": "boolean"
        },
        "publisherTags": {
          "items": {
            "$ref": "FloodlightActivityPublisherDynamicTag"
          },
          "description": "Publisher dynamic floodlight tags.",
          "type": "array"
        },
        "tagFormat": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Tag format type for the floodlight activity. If left blank, the tag format will default to HTML.",
          "type": "string",
          "enum": [
            "HTML",
            "XHTML"
          ]
        },
        "sslCompliant": {
          "description": "Whether the floodlight activity is SSL-compliant. This is a read-only field, its value detected by the system from the floodlight tags.",
          "type": "boolean"
        },
        "floodlightConfigurationIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field."
        },
        "floodlightActivityGroupType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Type of the associated floodlight activity group. This is a read-only field.",
          "type": "string",
          "enum": [
            "COUNTER",
            "SALE"
          ]
        },
        "status": {
          "description": "The status of the activity. This can only be set to ACTIVE or ARCHIVED_AND_DISABLED. The ARCHIVED status is no longer supported and cannot be set for Floodlight activities. The DISABLED_POLICY status indicates that a Floodlight activity is violating Google policy. Contact your account manager for more information.",
          "type": "string",
          "enum": [
            "ACTIVE",
            "ARCHIVED_AND_DISABLED",
            "ARCHIVED",
            "DISABLED_POLICY"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "tagString": {
          "description": "Value of the cat= parameter in the floodlight tag, which the ad servers use to identify the activity. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activities of the same activity group. This field is read-only after insertion.",
          "type": "string"
        },
        "floodlightTagType": {
          "description": "The type of Floodlight tag this activity will generate. This is a required field.",
          "type": "string",
          "enum": [
            "IFRAME",
            "IMAGE",
            "GLOBAL_SITE_TAG"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "floodlightActivityGroupId": {
          "description": "Floodlight activity group ID of this floodlight activity. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "conversionCategory": {
          "enumDescriptions": [
            "Unspecified category (called \"Other\" externally).",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "User visiting a page.",
            "Software download action (as for an app). A conversion type that is created as a download type may not have its category changed.",
            "Boom event (for user list creation). This is an internal-only category.",
            ". The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "The start of a free subscription for a product or service.",
            "A call to indicate interesting in an advertiser's offering. Note: this is different from support calls.",
            "A lead conversion imported from an external source into Google Ads.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location.",
            "A click to an advertiser's partner site, e.g. a referral.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "Key page views (ex: product page, article).",
            "A website engagement event",
            "A visit to a physical store location.",
            "A sale occurring in a physical store.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser.",
            "A lead conversion imported from an external source into Google Ads, that has further completed a desired stage as defined by the lead gen advertiser.",
            "Conversion event that provides the revenue value of impressions that were shown in-app to users.",
            "Message exchanges which indicate an interest in an advertiser's offering."
          ],
          "description": "Required. The conversion category of the activity.",
          "type": "string",
          "enum": [
            "CONVERSION_CATEGORY_DEFAULT",
            "CONVERSION_CATEGORY_PURCHASE",
            "CONVERSION_CATEGORY_SIGNUP",
            "CONVERSION_CATEGORY_PAGE_VIEW",
            "CONVERSION_CATEGORY_DOWNLOAD",
            "CONVERSION_CATEGORY_BOOM_EVENT",
            "CONVERSION_CATEGORY_ADD_TO_CART",
            "CONVERSION_CATEGORY_BEGIN_CHECKOUT",
            "CONVERSION_CATEGORY_SUBSCRIBE_PAID",
            "CONVERSION_CATEGORY_SUBSCRIBE_FREE",
            "CONVERSION_CATEGORY_PHONE_CALL_LEAD",
            "CONVERSION_CATEGORY_IMPORTED_LEAD",
            "CONVERSION_CATEGORY_SUBMIT_LEAD_FORM",
            "CONVERSION_CATEGORY_BOOK_APPOINTMENT",
            "CONVERSION_CATEGORY_REQUEST_QUOTE",
            "CONVERSION_CATEGORY_GET_DIRECTIONS",
            "CONVERSION_CATEGORY_OUTBOUND_CLICK",
            "CONVERSION_CATEGORY_CONTACT",
            "CONVERSION_CATEGORY_VIEW_KEY_PAGE",
            "CONVERSION_CATEGORY_ENGAGEMENT",
            "CONVERSION_CATEGORY_STORE_VISIT",
            "CONVERSION_CATEGORY_STORE_SALE",
            "CONVERSION_CATEGORY_QUALIFIED_LEAD",
            "CONVERSION_CATEGORY_CONVERTED_LEAD",
            "CONVERSION_CATEGORY_IN_APP_AD_REVENUE",
            "CONVERSION_CATEGORY_MESSAGE_LEAD"
          ]
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight activity. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivity\".",
          "type": "string"
        },
        "floodlightActivityGroupTagString": {
          "description": "Tag string of the associated floodlight activity group. This is a read-only field.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
        },
        "expectedUrl": {
          "description": "URL where this tag will be deployed. If specified, must be less than 256 characters long.",
          "type": "string"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "attributionEnabled": {
          "description": "Whether the activity is enabled for attribution.",
          "type": "boolean"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity. If this field is left blank, the value will be copied over either from the activity group's advertiser or the existing activity's advertiser.",
          "type": "string"
        },
        "defaultTags": {
          "items": {
            "$ref": "FloodlightActivityDynamicTag"
          },
          "description": "Dynamic floodlight tags.",
          "type": "array"
        }
      },
      "id": "FloodlightActivity",
      "description": "Contains properties of a Floodlight activity.",
      "type": "object"
    },
    "CreativeGroup": {
      "properties": {
        "name": {
          "description": "Name of this creative group. This is a required field and must be less than 256 characters long and unique among creative groups of the same advertiser.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "accountId": {
          "description": "Account ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string",
          "format": "int64"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this creative group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "id": {
          "description": "ID of this creative group. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroup\".",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this creative group. This is a required field on insertion.",
          "type": "string"
        },
        "groupNumber": {
          "format": "int32",
          "description": "Subgroup of the creative group. Assign your creative groups to a subgroup in order to filter or manage them more easily. This field is required on insertion and is read-only after insertion. Acceptable values are 1 to 2, inclusive.",
          "type": "integer"
        }
      },
      "id": "CreativeGroup",
      "description": "Contains properties of a creative group.",
      "type": "object"
    },
    "FloodlightActivityGroup": {
      "properties": {
        "tagString": {
          "description": "Value of the type= parameter in the floodlight tag, which the ad servers use to identify the activity group that the activity belongs to. This is optional: if empty, a new tag string will be generated for you. This string must be 1 to 8 characters long, with valid characters being a-z0-9[ _ ]. This tag string must also be unique among activity groups of the same floodlight configuration. This field is read-only after insertion.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Advertiser ID of this floodlight activity group. If this field is left blank, the value will be copied over either from the floodlight configuration's advertiser or from the existing activity group's advertiser.",
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "name": {
          "description": "Name of this floodlight activity group. This is a required field. Must be less than 65 characters long and cannot contain quotes.",
          "type": "string"
        },
        "advertiserIdDimensionValue": {
          "description": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "idDimensionValue": {
          "description": "Dimension value for the ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "floodlightConfigurationIdDimensionValue": {
          "description": "Dimension value for the ID of the floodlight configuration. This is a read-only, auto-generated field.",
          "$ref": "DimensionValue"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of this floodlight activity group. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "ID of this floodlight activity group. This is a read-only, auto-generated field.",
          "type": "string"
        },
        "type": {
          "description": "Type of the floodlight activity group. This is a required field that is read-only after insertion.",
          "type": "string",
          "enum": [
            "COUNTER",
            "SALE"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#floodlightActivityGroup\".",
          "type": "string"
        },
        "floodlightConfigurationId": {
          "description": "Floodlight configuration ID of this floodlight activity group. This is a required field.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FloodlightActivityGroup",
      "description": "Contains properties of a Floodlight activity group.",
      "type": "object"
    },
    "DimensionValue": {
      "id": "DimensionValue",
      "description": "Represents a DimensionValue resource.",
      "type": "object",
      "properties": {
        "matchType": {
          "description": "Determines how the 'value' field is matched when filtering. If not specified, defaults to EXACT. If set to WILDCARD_EXPRESSION, '*' is allowed as a placeholder for variable length character sequences, and it can be escaped with a backslash. Note, only paid search dimensions ('dfa:paidSearch*') allow a matchType other than EXACT.",
          "type": "string",
          "enum": [
            "EXACT",
            "BEGINS_WITH",
            "CONTAINS",
            "WILDCARD_EXPRESSION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "etag": {
          "description": "The eTag of this response for caching purposes.",
          "type": "string"
        },
        "value": {
          "description": "The value of the dimension.",
          "type": "string"
        },
        "dimensionName": {
          "description": "The name of the dimension.",
          "type": "string"
        },
        "id": {
          "description": "The ID associated with the value if available.",
          "type": "string"
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#dimensionValue.",
          "type": "string"
        }
      }
    },
    "IngestionErrorRecord": {
      "properties": {
        "recordId": {
          "description": "Output only. The record ID of the ingestion error record.",
          "type": "string",
          "readOnly": true
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "FieldError"
          },
          "description": "Output only. The list of field errors of the ingestion error record.",
          "type": "array"
        }
      },
      "id": "IngestionErrorRecord",
      "description": "Contains the ingestion error record of the dynamic feed. limited to 100 records.",
      "type": "object"
    },
    "PostalCodesListResponse": {
      "properties": {
        "postalCodes": {
          "items": {
            "$ref": "PostalCode"
          },
          "description": "Postal code collection.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCodesListResponse\".",
          "type": "string"
        }
      },
      "id": "PostalCodesListResponse",
      "description": "Postal Code List Response",
      "type": "object"
    },
    "ReportsConfiguration": {
      "id": "ReportsConfiguration",
      "description": "Reporting Configuration",
      "type": "object",
      "properties": {
        "reportGenerationTimeZoneId": {
          "format": "int64",
          "description": "Report generation time zone ID of this account. This is a required field that cannot be changed on update. Acceptable values are: - \"1\" for \"America/New_York\" - \"2\" for \"Europe/London\" - \"3\" for \"Europe/Paris\" - \"4\" for \"Africa/Johannesburg\" - \"5\" for \"Asia/Jerusalem\" - \"6\" for \"Asia/Shanghai\" - \"7\" for \"Asia/Hong_Kong\" - \"8\" for \"Asia/Tokyo\" - \"9\" for \"Australia/Sydney\" - \"10\" for \"Asia/Dubai\" - \"11\" for \"America/Los_Angeles\" - \"12\" for \"Pacific/Auckland\" - \"13\" for \"America/Sao_Paulo\" - \"16\" for \"America/Asuncion\" - \"17\" for \"America/Chicago\" - \"18\" for \"America/Denver\" - \"19\" for \"America/St_Johns\" - \"20\" for \"Asia/Dhaka\" - \"21\" for \"Asia/Jakarta\" - \"22\" for \"Asia/Kabul\" - \"23\" for \"Asia/Karachi\" - \"24\" for \"Asia/Calcutta\" - \"25\" for \"Asia/Pyongyang\" - \"26\" for \"Asia/Rangoon\" - \"27\" for \"Atlantic/Cape_Verde\" - \"28\" for \"Atlantic/South_Georgia\" - \"29\" for \"Australia/Adelaide\" - \"30\" for \"Australia/Lord_Howe\" - \"31\" for \"Europe/Moscow\" - \"32\" for \"Pacific/Kiritimati\" - \"35\" for \"Pacific/Norfolk\" - \"36\" for \"Pacific/Tongatapu\" ",
          "type": "string"
        },
        "exposureToConversionEnabled": {
          "description": "Whether the exposure to conversion report is enabled. This report shows detailed pathway information on up to 10 of the most recent ad exposures seen by a user before converting.",
          "type": "boolean"
        },
        "lookbackConfiguration": {
          "$ref": "LookbackConfiguration",
          "description": "Default lookback windows for new advertisers in this account."
        }
      }
    },
    "AccountUserProfile": {
      "properties": {
        "campaignFilter": {
          "description": "Filter that describes which campaigns are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "subaccountId": {
          "format": "int64",
          "description": "Subaccount ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        },
        "id": {
          "description": "ID of the user profile. This is a read-only, auto-generated field.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountUserProfile\".",
          "type": "string"
        },
        "name": {
          "description": "Name of the user profile. This is a required field. Must be less than 64 characters long, must be globally unique, and cannot contain whitespace or any of the following characters: \"&;<>\"#%,\".",
          "type": "string"
        },
        "traffickerType": {
          "enumDescriptions": [
            "Internal profile, but is not a trafficker.",
            "Internal profile who is a trafficker.",
            "External profile who is a trafficker."
          ],
          "description": "Trafficker type of this user profile. This is a read-only field.",
          "type": "string",
          "enum": [
            "INTERNAL_NON_TRAFFICKER",
            "INTERNAL_TRAFFICKER",
            "EXTERNAL_TRAFFICKER"
          ]
        },
        "locale": {
          "description": "Locale of the user profile. This is a required field. Acceptable values are: - \"cs\" (Czech) - \"de\" (German) - \"en\" (English) - \"en-GB\" (English United Kingdom) - \"es\" (Spanish) - \"fr\" (French) - \"it\" (Italian) - \"ja\" (Japanese) - \"ko\" (Korean) - \"pl\" (Polish) - \"pt-BR\" (Portuguese Brazil) - \"ru\" (Russian) - \"sv\" (Swedish) - \"tr\" (Turkish) - \"zh-CN\" (Chinese Simplified) - \"zh-TW\" (Chinese Traditional) ",
          "type": "string"
        },
        "active": {
          "description": "Whether this user profile is active. This defaults to false, and must be set true on insert for the user profile to be usable.",
          "type": "boolean"
        },
        "comments": {
          "description": "Comments for this user profile.",
          "type": "string"
        },
        "userAccessType": {
          "description": "User type of the user profile. This is a read-only field that can be left blank.",
          "type": "string",
          "enum": [
            "NORMAL_USER",
            "SUPER_USER",
            "INTERNAL_ADMINISTRATOR",
            "READ_ONLY_SUPER_USER"
          ],
          "enumDescriptions": [
            "Normal user managed by the customer.",
            "Super user managed by internal support teams.",
            "Internal administrator having super user access to only a specific set of networks.",
            "A super-user without permission to mutate any data."
          ]
        },
        "email": {
          "description": "Email of the user profile. The email address must be linked to a Google Account. This field is required on insertion and is read-only after insertion.",
          "type": "string"
        },
        "advertiserFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which advertisers are visible to the user profile."
        },
        "userRoleFilter": {
          "description": "Filter that describes which user roles are visible to the user profile.",
          "$ref": "ObjectFilter"
        },
        "siteFilter": {
          "$ref": "ObjectFilter",
          "description": "Filter that describes which sites are visible to the user profile."
        },
        "userRoleId": {
          "description": "User role ID of the user profile. This is a required field.",
          "type": "string",
          "format": "int64"
        },
        "accountId": {
          "format": "int64",
          "description": "Account ID of the user profile. This is a read-only field that can be left blank.",
          "type": "string"
        }
      },
      "id": "AccountUserProfile",
      "description": "AccountUserProfiles contains properties of a Campaign Manager user profile. This resource is specifically for managing user profiles, whereas UserProfiles is for accessing the API.",
      "type": "object"
    },
    "Activities": {
      "id": "Activities",
      "description": "Represents an activity group.",
      "type": "object",
      "properties": {
        "metricNames": {
          "items": {
            "type": "string"
          },
          "description": "List of names of floodlight activity metrics.",
          "type": "array"
        },
        "filters": {
          "description": "List of activity filters. The dimension values need to be all either of type \"dfa:activity\" or \"dfa:activityGroup\".",
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          }
        },
        "kind": {
          "description": "The kind of resource this is, in this case dfareporting#activities.",
          "type": "string"
        }
      }
    },
    "TargetableRemarketingListsListResponse": {
      "id": "TargetableRemarketingListsListResponse",
      "description": "Targetable remarketing list response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#targetableRemarketingListsListResponse\".",
          "type": "string"
        },
        "targetableRemarketingLists": {
          "description": "Targetable remarketing list collection.",
          "type": "array",
          "items": {
            "$ref": "TargetableRemarketingList"
          }
        }
      }
    },
    "OperatingSystemVersionsListResponse": {
      "id": "OperatingSystemVersionsListResponse",
      "description": "Operating System Version List Response",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#operatingSystemVersionsListResponse\".",
          "type": "string"
        },
        "operatingSystemVersions": {
          "items": {
            "$ref": "OperatingSystemVersion"
          },
          "description": "Operating system version collection.",
          "type": "array"
        }
      }
    },
    "FeedSchedule": {
      "properties": {
        "timeZone": {
          "description": "Optional. The time zone to schedule the feed. It is applicable if the repeat value is equal to 1. Default value is \"America/Los_Angeles\".",
          "type": "string"
        },
        "scheduleEnabled": {
          "description": "Optional. Whether the schedule is enabled.",
          "type": "boolean"
        },
        "startMinute": {
          "description": "Optional. The minute of the hour to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "startHour": {
          "description": "Optional. The hour of the day to start the feed. It is applicable if the repeat value is equal to 1. Default value is 0.",
          "type": "string"
        },
        "repeatValue": {
          "description": "Optional. The number of times the feed retransforms within one day. This is a required field if the schedule is enabled. Acceptable values are between 1 to 6, inclusive.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FeedSchedule",
      "description": "Contains the schedule of the dynamic feed.",
      "type": "object"
    },
    "ListPopulationClause": {
      "id": "ListPopulationClause",
      "description": "A group clause made up of list population terms representing constraints joined by ORs.",
      "type": "object",
      "properties": {
        "terms": {
          "description": "Terms of this list population clause. Each clause is made up of list population terms representing constraints and are joined by ORs.",
          "type": "array",
          "items": {
            "$ref": "ListPopulationTerm"
          }
        }
      }
    },
    "ContentCategoriesListResponse": {
      "id": "ContentCategoriesListResponse",
      "description": "Content Category List Response",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#contentCategoriesListResponse\".",
          "type": "string"
        },
        "contentCategories": {
          "description": "Content category collection.",
          "type": "array",
          "items": {
            "$ref": "ContentCategory"
          }
        }
      }
    },
    "CreativesListResponse": {
      "id": "CreativesListResponse",
      "description": "Creative List Response",
      "type": "object",
      "properties": {
        "creatives": {
          "description": "Creative collection.",
          "type": "array",
          "items": {
            "$ref": "Creative"
          }
        },
        "nextPageToken": {
          "description": "Pagination token to be used for the next list operation.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativesListResponse\".",
          "type": "string"
        }
      }
    },
    "CampaignSummary": {
      "id": "CampaignSummary",
      "description": "Represents a summarized campaign information associated with this invoice.",
      "type": "object",
      "properties": {
        "preTaxAmountMicros": {
          "format": "int64",
          "description": "The pre-tax amount for this campaign, in micros of the invoice's currency.",
          "type": "string"
        },
        "totalAmountMicros": {
          "format": "int64",
          "description": "The total amount of charges for this campaign, in micros of the invoice's currency.",
          "type": "string"
        },
        "taxAmountMicros": {
          "format": "int64",
          "description": "The tax amount for this campaign, in micros of the invoice's currency.",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "description": "Campaign ID.",
          "type": "string"
        },
        "billingInvoiceCode": {
          "description": "Campaign billing invoice code.",
          "type": "string"
        }
      }
    },
    "PlacementAssignment": {
      "properties": {
        "placementId": {
          "format": "int64",
          "description": "ID of the placement to be assigned. This is a required field.",
          "type": "string"
        },
        "active": {
          "description": "Whether this placement assignment is active. When true, the placement will be included in the ad's rotation.",
          "type": "boolean"
        },
        "placementIdDimensionValue": {
          "$ref": "DimensionValue",
          "description": "Dimension value for the ID of the placement. This is a read-only, auto-generated field."
        },
        "sslRequired": {
          "description": "Whether the placement to be assigned requires SSL. This is a read-only field that is auto-generated when the ad is inserted or updated.",
[...]
