{
  "baseUrl": "https://dialogflow.googleapis.com/",
  "revision": "20260509",
  "version": "v3beta1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "name": "dialogflow",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "version_module": true,
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "title": "Dialogflow API",
  "schemas": {
    "GoogleCloudDialogflowV2beta1EventInput": {
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListAgentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1VersionVariants": {
      "id": "GoogleCloudDialogflowCxV3beta1VersionVariants",
      "type": "object",
      "properties": {
        "variants": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo",
      "type": "object",
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        }
      }
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2Sentiment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SafetySettingsPhrase": {
      "id": "GoogleCloudDialogflowCxV3beta1SafetySettingsPhrase",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric": {
      "properties": {
        "count": {
          "type": "number",
          "format": "double"
        },
        "countType": {
          "enum": [
            "COUNT_TYPE_UNSPECIFIED",
            "TOTAL_NO_MATCH_COUNT",
            "TOTAL_TURN_COUNT",
            "AVERAGE_TURN_COUNT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "confidenceInterval": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultConfidenceInterval"
        },
        "type": {
          "enum": [
            "METRIC_UNSPECIFIED",
            "CONTAINED_SESSION_NO_CALLBACK_RATE",
            "LIVE_AGENT_HANDOFF_RATE",
            "CALLBACK_SESSION_RATE",
            "ABANDONED_SESSION_RATE",
            "SESSION_END_RATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "properties": {
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
          }
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
          }
        },
        "webhook": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "tag": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Fulfillment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings": {
      "properties": {
        "promptTemplates": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplate"
          },
          "type": "array"
        },
        "selectedPrompt": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1UserUtterance": {
      "id": "GoogleCloudDialogflowCxV3beta1UserUtterance",
      "type": "object",
      "properties": {
        "audioTokens": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings": {
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "bigqueryTable": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolExtensionTool": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolExtensionTool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1NamedMetric": {
      "id": "GoogleCloudDialogflowCxV3beta1NamedMetric",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "any"
        },
        "unit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition",
      "type": "object",
      "properties": {
        "index": {
          "type": "integer",
          "format": "int32"
        },
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
        },
        "covered": {
          "type": "boolean"
        },
        "source": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode"
        },
        "target": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode"
        },
        "eventHandler": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatch": {
      "properties": {
        "matchedIntents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatch",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse",
      "type": "object",
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest": {
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataFormat": {
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON",
            "CSV"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "intentsUri": {
          "type": "string"
        },
        "intentsContentInline": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings",
      "type": "object",
      "properties": {
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "postbackData": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup": {
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount",
      "type": "object",
      "properties": {
        "directIntentCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameterFillingCount": {
          "type": "integer",
          "format": "int32"
        },
        "unspecifiedCount": {
          "type": "integer",
          "format": "int32"
        },
        "eventCount": {
          "type": "integer",
          "format": "int32"
        },
        "intentCount": {
          "type": "integer",
          "format": "int32"
        },
        "noMatchCount": {
          "type": "integer",
          "format": "int32"
        },
        "noInputCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Agent": {
      "properties": {
        "gitIntegrationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings"
        },
        "answerFeedbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentAnswerFeedbackSettings"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "type": "string"
        },
        "defaultLanguageCode": {
          "type": "string"
        },
        "enableMultiLanguageTraining": {
          "type": "boolean"
        },
        "locked": {
          "type": "boolean"
        },
        "speechToTextSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SpeechToTextSettings"
        },
        "bigqueryExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings"
        },
        "timeZone": {
          "type": "string"
        },
        "clientCertificateSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentClientCertificateSettings"
        },
        "avatarUri": {
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "securitySettings": {
          "type": "string"
        },
        "startPlaybook": {
          "type": "string"
        },
        "startFlow": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableStackdriverLogging": {
          "type": "boolean",
          "deprecated": true
        },
        "genAppBuilderSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings"
        },
        "enableSpellCorrection": {
          "type": "boolean"
        },
        "description": {
          "type": "string"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings"
        },
        "personalizationSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentPersonalizationSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Agent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest",
      "type": "object",
      "properties": {
        "playbookUri": {
          "type": "string"
        },
        "playbookContent": {
          "type": "string",
          "format": "byte"
        },
        "importStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest": {
      "properties": {
        "environment": {
          "type": "string"
        },
        "testCases": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "properties": {
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings",
      "type": "object",
      "properties": {
        "githubSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings"
        },
        "gitConnectionSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig",
      "type": "object",
      "properties": {
        "clientSecret": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ]
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard",
      "type": "object",
      "properties": {
        "cardWidth": {
          "enum": [
            "CARD_WIDTH_UNSPECIFIED",
            "SMALL",
            "MEDIUM"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "disabled": {
          "type": "boolean"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration"
        },
        "displayName": {
          "type": "string"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "type": "object",
      "properties": {
        "mergeBehavior": {
          "type": "string",
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "faqQuestion": {
          "type": "string"
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "answer": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "properties": {
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "responseId": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        },
        "session": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowRequest": {
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "includeReferencedFlows": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionEntityType",
      "type": "object",
      "properties": {
        "entityOverrideMode": {
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "properties": {
        "agentEscalated": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "failureReasons": {
          "items": {
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "id": "GoogleCloudDialogflowV2SmartReplyModelMetadata",
      "type": "object",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "properties": {
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Message": {
      "properties": {
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "content": {
          "type": "string"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2Message",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "type": "object",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerPart": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerPart",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "supportingIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "properties": {
        "instructionIndexes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse",
      "type": "object",
      "properties": {
        "intentsUri": {
          "type": "string"
        },
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FlowTransition": {
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "flow": {
          "type": "string"
        },
        "inputActionParameters": {
          "deprecated": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FlowTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "type": "object",
      "properties": {
        "attributeValue": {
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "type": "object",
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse": {
      "properties": {
        "toolVersions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest",
      "type": "object",
      "properties": {
        "mergeOption": {
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "targetEntityType": {
          "type": "string"
        },
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FilterSpecs": {
      "id": "GoogleCloudDialogflowCxV3beta1FilterSpecs",
      "type": "object",
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filter": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool": {
      "properties": {
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          }
        },
        "fallbackPrompt": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolDataStoreToolFallbackPrompt"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig",
      "type": "object",
      "properties": {
        "oauth2AuthCodeConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2AuthCodeConfig"
        },
        "oauth2JwtBearerConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Phrase": {
      "id": "GoogleCloudDialogflowCxV3beta1Phrase",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookVersion": {
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "playbook": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "examples": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookVersion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "properties": {
        "description": {
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3TestRunDifference",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "type": "object",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "properties": {
        "name": {
          "type": "string"
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3ContinuousTestResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInstruction": {
      "properties": {
        "guidelines": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInstruction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse",
      "type": "object",
      "properties": {
        "playbooks": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage",
      "type": "object",
      "properties": {
        "routeGroup": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        },
        "transitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion",
      "type": "object",
      "properties": {
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          }
        },
        "agentActionSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          }
        },
        "sampleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "type": "object",
      "properties": {
        "dividerAfter": {
          "type": "boolean"
        },
        "cells": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Span": {
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1NamedMetric"
          },
          "type": "array"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Span",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "type": "object",
      "properties": {
        "versionConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        },
        "displayName": {
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3InlineDestination": {
      "properties": {
        "content": {
          "format": "byte",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3InlineDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequest": {
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo"
        },
        "transcript": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          },
          "type": "array"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3LanguageInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookRequestFulfillmentInfo"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "triggerEvent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookStep": {
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookStep",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "properties": {
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          },
          "type": "array"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentUtterance": {
      "properties": {
        "text": {
          "type": "string"
        },
        "requireGeneration": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentUtterance",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation": {
      "properties": {
        "entityId": {
          "type": "string"
        },
        "operation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsCitedSnippet": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsCitedSnippet",
      "type": "object",
      "properties": {
        "snippetIndex": {
          "type": "integer",
          "format": "int32"
        },
        "searchSnippet": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSearchSnippet"
        }
      }
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "type": "object",
      "properties": {
        "inputLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "resolvedLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "type": "object",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "responseId": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "session": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction",
      "type": "object",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListVersionsResponse": {
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Version"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "type": "object",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "properties": {
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "rows": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue": {
      "properties": {
        "resolvedValue": {
          "type": "any"
        },
        "originalValue": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageColumnProperties": {
      "id": "GoogleCloudDialogflowV2IntentMessageColumnProperties",
      "type": "object",
      "properties": {
        "header": {
          "type": "string"
        },
        "horizontalAlignment": {
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "LEADING",
            "CENTER",
            "TRAILING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler",
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModelEvaluation": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "id": "GoogleCloudDialogflowV2beta1Context",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "properties": {
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "conversation": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ConversationEvent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
      "type": "object",
      "properties": {
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExceptionDetail": {
      "id": "GoogleCloudDialogflowCxV3beta1ExceptionDetail",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec",
      "type": "object",
      "properties": {
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec"
        },
        "boost": {
          "type": "number",
          "format": "float"
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "properties": {
        "content": {
          "type": "string"
        },
        "responseMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          },
          "type": "array"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Message",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "type": "object",
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "type": "object",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cesToolset": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ActionSTT": {
      "id": "GoogleCloudDialogflowCxV3beta1ActionSTT",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1HandlerEventHandler": {
      "properties": {
        "event": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "condition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1HandlerEventHandler",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "type": "object",
      "properties": {
        "dividerAfter": {
          "type": "boolean"
        },
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult": {
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookRequestSentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "type": "object",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals": {
      "properties": {
        "modelOutput": {
          "type": "string"
        },
        "renderedPrompt": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals": {
      "properties": {
        "modelOutput": {
          "type": "string"
        },
        "renderedPrompt": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "similarityScore": {
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse": {
      "properties": {
        "targetVersionContentJson": {
          "type": "string"
        },
        "compareTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "baseVersionContentJson": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse",
      "type": "object",
      "properties": {
        "webhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig",
      "type": "object",
      "properties": {
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListToolsResponse": {
      "properties": {
        "tools": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListToolsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookTransition": {
      "properties": {
        "inputActionParameters": {
          "deprecated": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbook": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookTransition",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EntityTypeEntity": {
      "id": "GoogleCloudDialogflowCxV3beta1EntityTypeEntity",
      "type": "object",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "properties": {
        "webhookType": {
          "type": "string",
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "serviceAgentAuth": {
          "type": "string",
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "httpMethod": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "secretVersionsForRequestHeaders": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          }
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "requestBody": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "password": {
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest",
      "type": "object",
      "properties": {
        "environment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeInfo": {
      "properties": {
        "actionTracingInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Example"
        },
        "currentPlaybooks": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowRequest": {
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "properties": {
        "audioUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings": {
      "properties": {
        "synthesizeSpeechConfigs": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TextToSpeechSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentValidationResult": {
      "properties": {
        "name": {
          "type": "string"
        },
        "flowValidationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FlowValidationResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentValidationResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LlmCall": {
      "id": "GoogleCloudDialogflowCxV3beta1LlmCall",
      "type": "object",
      "properties": {
        "model": {
          "type": "string"
        },
        "temperature": {
          "type": "number",
          "format": "float"
        },
        "retrievedExamples": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample"
          },
          "type": "array"
        },
        "tokenCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmCallTokenCount"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCase": {
      "id": "GoogleCloudDialogflowCxV3TestCase",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3TestConfig"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "testCaseConversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        },
        "creationTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2MessageAnnotation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "type": "object",
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "id": "GoogleCloudDialogflowV2ServiceLatency",
      "type": "object",
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GeneratorPlaceholder": {
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GeneratorPlaceholder",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResultError": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResultError",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency": {
      "properties": {
        "latencyMs": {
          "type": "number",
          "format": "float"
        },
        "completeTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "step": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination": {
      "properties": {
        "commitMessage": {
          "type": "string"
        },
        "trackingBranch": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageCardButton",
      "type": "object",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswer": {
      "properties": {
        "suggestedQueryAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "answerRecord": {
          "type": "string"
        },
        "knowledgeAssistDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
        },
        "suggestedQuery": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals": {
      "properties": {
        "answerParts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerPart"
          }
        },
        "rewrittenQuery": {
          "type": "string"
        },
        "answerGenerationModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
        },
        "rewriterModelCallSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals"
        },
        "answer": {
          "type": "string"
        },
        "safetySignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSafetySignals"
        },
        "searchSnippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsSearchSnippet"
          },
          "type": "array"
        },
        "citedSnippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsCitedSnippet"
          },
          "type": "array"
        },
        "groundingSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationInteraction": {
      "properties": {
        "responseUtterances": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "request": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest"
        },
        "missingTransition": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationInteractionMissingTransition"
        },
        "requestUtterances": {
          "type": "string"
        },
        "partialResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
          },
          "type": "array"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
        },
        "response": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
        },
        "stepMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationInteractionStepMetrics"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationInteraction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RolloutConfigRolloutStep": {
      "properties": {
        "trafficPercent": {
          "type": "integer",
          "format": "int32"
        },
        "minDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RolloutConfigRolloutStep",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        },
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Changelog": {
      "properties": {
        "userEmail": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Changelog",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ValidationMessage": {
      "id": "GoogleCloudDialogflowCxV3beta1ValidationMessage",
      "type": "object",
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ]
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ]
        },
        "resourceNames": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResourceName"
          },
          "type": "array"
        },
        "detail": {
          "type": "string"
        },
        "resources": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1StopExperimentRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1StopExperimentRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "type": "object",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "properties": {
        "singleUtterance": {
          "type": "boolean"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "modelVariant": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "type": "string"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "model": {
          "type": "string"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "type": "object",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListChangelogsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListChangelogsResponse",
      "type": "object",
      "properties": {
        "changelogs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Changelog"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1StartExperimentRequest": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1StartExperimentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount": {
      "properties": {
        "intentCount": {
          "type": "integer",
          "format": "int32"
        },
        "audioCount": {
          "type": "integer",
          "format": "int32"
        },
        "dtmfCount": {
          "type": "integer",
          "format": "int32"
        },
        "eventCount": {
          "type": "integer",
[...]
