{
  "version": "v2beta1",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dialogflow",
  "batchPath": "batch",
  "revision": "20260514",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "title": "Dialogflow API",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "schemas": {
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "type": "object",
      "properties": {
        "isFinal": {
          "type": "boolean"
        },
        "speechEndOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "speechWordInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          },
          "type": "array"
        },
        "transcript": {
          "type": "string"
        },
        "messageType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS"
          ]
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "languageCode": {
          "type": "string"
        },
        "stability": {
          "type": "number",
          "format": "float"
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IngestContextReferencesResponse": {
      "id": "GoogleCloudDialogflowV2beta1IngestContextReferencesResponse",
      "type": "object",
      "properties": {
        "ingestedContextReferences": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationContextReference"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AudioInput": {
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowV2beta1InputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1PhoneNumberAllowedSipTrunks": {
      "id": "GoogleCloudDialogflowV2beta1PhoneNumberAllowedSipTrunks",
      "type": "object",
      "properties": {
        "sipTrunks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "carrierIds": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "id": "GoogleCloudDialogflowCxV3QueryInput",
      "type": "object",
      "properties": {
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "title": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "type": "object",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "properties": {
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigLivePersonConfig": {
      "properties": {
        "accountNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigLivePersonConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CreateMessageRequest"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "targetFlow": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "condition": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse",
      "type": "object",
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ConversationContextReference": {
      "properties": {
        "contextContents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationContextReferenceContextContent"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        },
        "updateMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UPDATE_MODE_UNSPECIFIED",
            "APPEND",
            "OVERWRITE"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ConversationContextReference",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarizationContext": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationContext",
      "type": "object",
      "properties": {
        "summarizationSections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationSection"
          },
          "type": "array"
        },
        "fewShotExamples": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FewShotExample"
          },
          "type": "array"
        },
        "version": {
          "type": "string"
        },
        "outputLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "properties": {
        "question": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "source": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answer": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolServiceDirectoryConfig": {
      "properties": {
        "service": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolServiceDirectoryConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentTemplate": {
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentTemplate",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY",
              "SMART_REPLY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "mimeType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationSignals": {
      "id": "GoogleCloudDialogflowCxV3ConversationSignals",
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "properties": {
        "clientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secretVersionForClientSecret": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "type": "object",
      "properties": {
        "smartReplyAnswers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1LoggingConfig": {
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1LoggingConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModelEvaluation": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "type": "object",
      "properties": {
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "type": "object",
      "properties": {
        "requestHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "password": {
          "type": "string",
          "deprecated": true
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "allowedCaCerts": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        },
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        },
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "httpMethod": {
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "uri": {
          "type": "string"
        },
        "webhookType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        },
        "requestBody": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "properties": {
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "properties": {
        "name": {
          "type": "string"
        },
        "participantRole": {
          "readOnly": true,
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "responseMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          },
          "type": "array"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "content": {
          "type": "string"
        },
        "participant": {
          "type": "string",
          "readOnly": true
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Message",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Context": {
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2Context",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseResult",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AnalyzeContentRequest": {
      "id": "GoogleCloudDialogflowV2beta1AnalyzeContentRequest",
      "type": "object",
      "properties": {
        "audioInput": {
          "$ref": "GoogleCloudDialogflowV2beta1AudioInput"
        },
        "intentInput": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentInput"
        },
        "cxCurrentPage": {
          "type": "string"
        },
        "textInput": {
          "$ref": "GoogleCloudDialogflowV2beta1TextInput"
        },
        "cxParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "eventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "replyAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryParameters"
        },
        "requestId": {
          "type": "string"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1AssistQueryParameters"
        },
        "suggestionInput": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestionInput"
        },
        "messageSendTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1ToolsetTool": {
      "id": "GoogleCloudDialogflowV2beta1ToolsetTool",
      "type": "object",
      "properties": {
        "toolset": {
          "type": "string"
        },
        "operationId": {
          "type": "string"
        },
        "confirmationRequirement": {
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "suggestionIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentInput": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentInput",
      "type": "object",
      "properties": {
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "type": "object",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest": {
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Environment": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
        },
        "name": {
          "type": "string"
        },
        "versionConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig"
          },
          "type": "array"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Environment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Version": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "versionNumber": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Version",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "cesApp": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "action": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "cesToolset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject": {
      "properties": {
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageMediaContentResponseMediaObject",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Connection": {
      "properties": {
        "connectionId": {
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CONNECTED",
            "DISCONNECTED",
            "AUTHENTICATION_FAILED",
            "KEEPALIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "errorDetails": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1ConnectionErrorDetails"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Connection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DetectIntentResponse": {
      "id": "GoogleCloudDialogflowV2beta1DetectIntentResponse",
      "type": "object",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "alternativeQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          },
          "type": "array"
        },
        "responseId": {
          "type": "string"
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "webhookStatus": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Sentiment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "properties": {
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        },
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse": {
      "properties": {
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Tool": {
      "id": "GoogleCloudDialogflowV2beta1Tool",
      "type": "object",
      "properties": {
        "extensionSpec": {
          "deprecated": true,
          "$ref": "GoogleCloudDialogflowV2beta1ToolExtensionTool"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "connectorSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolConnectorTool"
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolOpenApiTool"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "actionConfirmationRequirement": {
          "type": "object",
          "additionalProperties": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
              "REQUIRED",
              "NOT_REQUIRED"
            ],
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolFunctionTool"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "toolKey": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "type": "object",
      "properties": {
        "intentDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "properties": {
        "triggeringEvent": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayName": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest",
      "type": "object",
      "properties": {
        "entityValues": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfo": {
      "properties": {
        "extraMimeContents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoMimeContent"
          },
          "type": "array",
          "readOnly": true
        },
        "sipHeaders": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoSipHeader"
          }
        },
        "dialedNumber": {
          "type": "string",
          "readOnly": true
        },
        "sdp": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "type": "object",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          },
          "type": "array"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "agentAction": {
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        },
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
        },
        "additionalCases": {
          "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "properties": {
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationDataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination",
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult",
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "type": "object",
      "properties": {
        "urlTypeHint": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResultError": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResultError",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText",
      "type": "object",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "type": "number",
          "format": "float",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfig": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "dialogflowQuerySource": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource"
        },
        "documentQuerySource": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDocumentQuerySource"
        },
        "contextFilterSettings": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings"
        },
        "sections": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSections"
        },
        "knowledgeBaseQuerySource": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource"
        },
        "maxResults": {
          "type": "integer",
          "format": "int32"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "properties": {
        "text": {
          "type": "string"
        },
        "postbackData": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata",
      "type": "object",
      "properties": {
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "conversationProfile": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "queryText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigSalesforceLiveAgentConfig": {
      "properties": {
        "organizationId": {
          "type": "string"
        },
        "buttonId": {
          "type": "string"
        },
        "deploymentId": {
          "type": "string"
        },
        "endpointDomain": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigSalesforceLiveAgentConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListContextsResponse": {
      "properties": {
        "contexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListContextsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "previousSuggestedQuery": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ValidationError": {
      "properties": {
        "entries": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ValidationError",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AssistQueryParameters": {
      "properties": {
        "documentsMetadataFilters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AssistQueryParameters",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AnswerRecord": {
      "properties": {
        "name": {
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AnswerFeedback"
        },
        "agentAssistantRecord": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantRecord"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AnswerRecord",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail",
      "type": "object",
      "properties": {
        "summarySections": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        },
        "metricDetails": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail"
          },
          "type": "array",
          "readOnly": true
        },
        "sectionTokens": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken"
          }
        },
        "messageEntries": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1MessageEntry"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesRequest": {
      "properties": {
        "entityTypeBatchUri": {
          "type": "string"
        },
        "entityTypeBatchInline": {
          "$ref": "GoogleCloudDialogflowV2beta1EntityTypeBatch"
        },
        "languageCode": {
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject",
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "contentUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionFeatureConfig": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionFeatureConfig",
      "type": "object",
      "properties": {
        "enableQuerySuggestionWhenNoAnswer": {
          "type": "boolean"
        },
        "suggestionFeature": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestionFeature"
        },
        "enableResponseDebugInfo": {
          "type": "boolean"
        },
        "enableQuerySuggestionOnly": {
          "type": "boolean"
        },
        "suggestionTriggerSettings": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionTriggerSettings"
        },
        "raiSettings": {
          "$ref": "GoogleCloudDialogflowV2beta1RaiSettings"
        },
        "enableEventBasedSuggestion": {
          "type": "boolean"
        },
        "conversationProcessConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationProcessConfig"
        },
        "enableConversationAugmentedQuery": {
          "type": "boolean"
        },
        "queryConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfig"
        },
        "conversationModelConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigConversationModelConfig"
        },
        "disableAgentQueryLogging": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior": {
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolFunctionTool": {
      "id": "GoogleCloudDialogflowV2beta1ToolFunctionTool",
      "type": "object",
      "properties": {
        "outputSchema": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "methodType": {
          "type": "string",
          "enum": [
            "METHOD_TYPE_UNSPECIFIED",
            "GET",
            "POST",
            "PUT",
            "DELETE",
            "PATCH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "inputSchema": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail",
      "type": "object",
      "properties": {
        "score": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "evaluationResults": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult"
          }
        },
        "section": {
          "type": "string",
          "readOnly": true
        },
        "sectionSummary": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "type": "object",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Intent": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
          }
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentParameter"
          },
          "type": "array"
        },
        "isFallback": {
          "type": "boolean"
        },
        "dtmfPattern": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Intent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ConversationEvent": {
      "id": "GoogleCloudDialogflowV2beta1ConversationEvent",
      "type": "object",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolTLSConfig": {
      "properties": {
        "caCerts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ToolTLSConfigCACert"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolTLSConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "type": "object",
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        },
        "deployment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "type": "object",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1NotificationConfig": {
      "id": "GoogleCloudDialogflowV2beta1NotificationConfig",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string"
        },
        "messageFormat": {
          "enum": [
            "MESSAGE_FORMAT_UNSPECIFIED",
            "PROTO",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSelectItemInfo": {
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings": {
      "properties": {
        "dropHandoffMessages": {
          "type": "boolean"
        },
        "dropVirtualAgentMessages": {
          "type": "boolean"
        },
        "dropIvrMessages": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Form": {
      "properties": {
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Form",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult",
      "type": "object",
      "properties": {
        "adherenceRubric": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceRubric"
        },
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAccuracyDecomposition"
        },
        "completenessRubric": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsCompletenessRubric"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1OutputAudio": {
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1OutputAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigSummarizationConfig": {
      "properties": {
        "accuracyEvaluationVersion": {
          "deprecated": true,
          "type": "string"
        },
        "enableAccuracyEvaluation": {
          "type": "boolean",
          "deprecated": true
        },
        "completenessEvaluationVersion": {
          "type": "string",
          "deprecated": true
        },
        "evaluatorVersion": {
          "type": "string"
        },
        "enableCompletenessEvaluation": {
          "type": "boolean",
          "deprecated": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigSummarizationConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig": {
      "properties": {
        "token": {
          "type": "string"
        },
        "secretVersionForToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "type": "object",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "type": "object",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          },
          "type": "array"
        },
        "enabled": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurn": {
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurn",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1CesToolSpec": {
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "confirmationRequirement": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1CesToolSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FulfillmentGenericWebService": {
      "properties": {
        "password": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "type": "string"
        },
        "isCloudFunction": {
          "type": "boolean",
          "deprecated": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1FulfillmentGenericWebService",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo",
      "type": "object",
      "properties": {
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "queryGenerationFailureReason": {
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "queryCategorizationFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "type": "string"
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "properties": {
        "state": {
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        },
        "justCollected": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig": {
      "properties": {
        "agent": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EvaluationStatus": {
      "id": "GoogleCloudDialogflowV2beta1EvaluationStatus",
      "type": "object",
      "properties": {
        "done": {
          "readOnly": true,
          "type": "boolean"
        },
        "pipelineStatus": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestionFaqAnswer": {
      "id": "GoogleCloudDialogflowV2beta1SuggestionFaqAnswer",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answer": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "type": "object",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AnalyzeContentResponse": {
      "id": "GoogleCloudDialogflowV2beta1AnalyzeContentResponse",
      "type": "object",
      "properties": {
        "humanAgentSuggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          }
        },
        "replyText": {
          "type": "string"
        },
        "replyAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudio"
        },
        "dtmfParameters": {
          "$ref": "GoogleCloudDialogflowV2beta1DtmfParameters"
        },
        "endUserSuggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          }
        },
        "automatedAgentReply": {
          "$ref": "GoogleCloudDialogflowV2beta1AutomatedAgentReply"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        }
      }
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse",
      "type": "object",
      "properties": {
        "knowledgeBases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Agent": {
      "properties": {
        "classificationThreshold": {
          "type": "number",
          "format": "float"
        },
        "description": {
          "type": "string"
        },
        "matchMode": {
          "deprecated": true,
          "enum": [
            "MATCH_MODE_UNSPECIFIED",
            "MATCH_MODE_HYBRID",
            "MATCH_MODE_ML_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "supportedLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "avatarUri": {
          "type": "string"
        },
        "enableLogging": {
          "type": "boolean"
        },
        "parent": {
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "API_VERSION_V1",
            "API_VERSION_V2",
            "API_VERSION_V2_BETA_1"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "timeZone": {
          "type": "string"
        },
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "TIER_STANDARD",
            "TIER_ENTERPRISE",
            "TIER_ENTERPRISE_PLUS"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "defaultLanguageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Agent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListPhoneNumbersResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListPhoneNumbersResponse",
      "type": "object",
      "properties": {
        "phoneNumbers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1PhoneNumber"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "type": "object",
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolAuthentication": {
      "properties": {
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfig"
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationServiceAgentAuthConfig"
        },
        "bearerTokenConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolAuthentication",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "properties": {
        "tool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ConversationContextReferenceContextContent": {
      "id": "GoogleCloudDialogflowV2beta1ConversationContextReferenceContextContent",
      "type": "object",
      "properties": {
        "ingestionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "contentFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONTENT_FORMAT_UNSPECIFIED",
            "JSON",
            "PLAIN_TEXT"
          ]
        },
        "answerRecord": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "type": "object",
      "properties": {
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "platform": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ]
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListGeneratorEvaluationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "generatorEvaluations": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "type": "object",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "description": {
          "type": "string"
        },
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityTypeBatch": {
      "properties": {
        "entityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityTypeBatch",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeAnswerAnswerSource": {
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeAnswerAnswerSource",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "snippet": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "type": "object",
      "properties": {
        "ssml": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2ToolCallResultError",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency",
      "type": "object",
      "properties": {
        "internalServiceLatencies": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse",
      "type": "object",
      "properties": {
        "conversationProfiles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse": {
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "intentsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken": {
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "tokenCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "properties": {
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "type": "string",
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListToolsResponse": {
      "properties": {
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Tool"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListToolsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings",
      "type": "object",
      "properties": {
        "noSpeechTimeout": {
          "type": "string",
          "format": "google-duration"
        },
        "endpointerSensitivity": {
          "type": "integer",
          "format": "int32"
        },
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "dtmfPattern": {
          "type": "string"
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          },
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestionInput": {
      "properties": {
        "action": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "CANCEL",
            "REVISE",
            "CONFIRM"
          ]
        },
        "answerRecord": {
          "type": "string"
        },
        "intentInput": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentInput"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "textOverride": {
[...]
