{
  "id": "dialogflow:v2beta1",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "discoveryVersion": "v1",
  "revision": "20260509",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "canonicalName": "Dialogflow",
  "protocol": "rest",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "answerRecords": {
          "methods": {
            "list": {
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.answerRecords.list",
              "path": "v2beta1/{+parent}/answerRecords",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "dialogflow.projects.answerRecords.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+name}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "deprecated": true,
              "id": "dialogflow.projects.answerRecords.get",
              "path": "v2beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$"
                }
              }
            }
          }
        },
        "conversationProfiles": {
          "methods": {
            "list": {
              "path": "v2beta1/{+parent}/conversationProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.conversationProfiles.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "path": "v2beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversationProfiles.get"
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.conversationProfiles.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+parent}/conversationProfiles"
            },
            "patch": {
              "path": "v2beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversationProfiles.patch",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
              }
            },
            "delete": {
              "id": "dialogflow.projects.conversationProfiles.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "setSuggestionFeatureConfig": {
              "parameters": {
                "conversationProfile": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigRequest"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2beta1/{+conversationProfile}:setSuggestionFeatureConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "conversationProfile"
              ],
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig"
            },
            "clearSuggestionFeatureConfig": {
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig",
              "parameterOrder": [
                "conversationProfile"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+conversationProfile}:clearSuggestionFeatureConfig",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2beta1/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigRequest"
              },
              "parameters": {
                "conversationProfile": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$"
                }
              }
            }
          }
        },
        "agent": {
          "methods": {
            "updateFulfillment": {
              "id": "dialogflow.projects.agent.updateFulfillment",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent/fulfillment",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            },
            "getFulfillment": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "required": true
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent/fulfillment",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "path": "v2beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.agent.getFulfillment"
            },
            "train": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1TrainAgentRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent:train",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+parent}/agent:train",
              "id": "dialogflow.projects.agent.train",
              "parameterOrder": [
                "parent"
              ]
            },
            "export": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ExportAgentRequest"
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent:export",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2beta1/{+parent}/agent:export",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.agent.export"
            },
            "import": {
              "flatPath": "v2beta1/projects/{projectsId}/agent:import",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ImportAgentRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.agent.import",
              "path": "v2beta1/{+parent}/agent:import",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            },
            "restore": {
              "flatPath": "v2beta1/projects/{projectsId}/agent:restore",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1RestoreAgentRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.agent.restore",
              "path": "v2beta1/{+parent}/agent:restore",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": ""
            },
            "getValidationResult": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "path": "v2beta1/{+parent}/agent/validationResult",
              "id": "dialogflow.projects.agent.getValidationResult",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "languageCode": {
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ValidationResult"
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent/validationResult"
            },
            "search": {
              "parameterOrder": [
                "parent"
              ],
              "id": "dialogflow.projects.agent.search",
              "path": "v2beta1/{+parent}/agent:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/agent:search",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1SearchAgentsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              }
            }
          },
          "resources": {
            "intents": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "intentView": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    }
                  },
                  "id": "dialogflow.projects.agent.intents.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}"
                },
                "delete": {
                  "id": "dialogflow.projects.agent.intents.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$"
                    }
                  }
                },
                "batchDelete": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents:batchDelete",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.intents.batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+parent}/intents:batchDelete"
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "parameters": {
                    "intentView": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.intents.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+parent}/intents"
                },
                "batchUpdate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+parent}/intents:batchUpdate",
                  "id": "dialogflow.projects.agent.intents.batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents:batchUpdate"
                },
                "list": {
                  "id": "dialogflow.projects.agent.intents.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+parent}/intents",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents",
                  "parameters": {
                    "intentView": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "parameters": {
                    "intentView": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.intents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}"
                }
              }
            },
            "versions": {
              "methods": {
                "patch": {
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.versions.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions/{versionsId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.agent.versions.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.versions.list",
                  "path": "v2beta1/{+parent}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListVersionsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                },
                "get": {
                  "id": "dialogflow.projects.agent.versions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions/{versionsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$"
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/versions",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Version"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "dialogflow.projects.agent.versions.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+parent}/versions"
                }
              }
            },
            "sessions": {
              "resources": {
                "contexts": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.patch"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.delete",
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$"
                        }
                      }
                    },
                    "get": {
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.get",
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "path": "v2beta1/{+parent}/contexts",
                      "id": "dialogflow.projects.agent.sessions.contexts.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "path": "v2beta1/{+parent}/contexts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      }
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "path": "v2beta1/{+parent}/entityTypes",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.get"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.list",
                      "path": "v2beta1/{+parent}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.patch",
                      "path": "v2beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "path": "v2beta1/{+name}",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "deleteContexts": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.sessions.deleteContexts",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+parent}/contexts"
                },
                "detectIntent": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+session}:detectIntent",
                  "id": "dialogflow.projects.agent.sessions.detectIntent",
                  "parameterOrder": [
                    "session"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1DetectIntentRequest"
                  },
                  "parameters": {
                    "session": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}:detectIntent"
                }
              }
            },
            "entityTypes": {
              "resources": {
                "entities": {
                  "methods": {
                    "batchDelete": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                      "path": "v2beta1/{+parent}/entities:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest"
                      }
                    },
                    "batchCreate": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "path": "v2beta1/{+parent}/entities:batchCreate",
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "batchUpdate": {
                      "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateEntitiesRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                      "path": "v2beta1/{+parent}/entities:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": ""
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.get",
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListEntityTypesResponse"
                  },
                  "path": "v2beta1/{+parent}/entityTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.list"
                },
                "create": {
                  "path": "v2beta1/{+parent}/entityTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  }
                },
                "batchUpdate": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesRequest"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes:batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v2beta1/{+parent}/entityTypes:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.batchUpdate"
                },
                "batchDelete": {
                  "path": "v2beta1/{+parent}/entityTypes:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes:batchDelete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EntityType"
                  },
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.patch"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "dialogflow.projects.agent.entityTypes.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}"
                }
              }
            },
            "environments": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.environments.create",
                  "path": "v2beta1/{+parent}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  }
                },
                "list": {
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.environments.list",
                  "path": "v2beta1/{+parent}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": ""
                },
                "get": {
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.environments.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  }
                },
                "getHistory": {
                  "path": "v2beta1/{+parent}/history",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.environments.getHistory",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/history",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EnvironmentHistory"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "allowLoadToDraftAndDiscardChanges": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.agent.environments.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.environments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}"
                }
              },
              "resources": {
                "intents": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "intentView": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            ""
                          ],
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ]
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/intents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "path": "v2beta1/{+parent}/intents",
                      "id": "dialogflow.projects.agent.environments.intents.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "users": {
                  "resources": {
                    "sessions": {
                      "methods": {
                        "deleteContexts": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "path": "v2beta1/{+parent}/contexts",
                          "id": "dialogflow.projects.agent.environments.users.sessions.deleteContexts",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                            }
                          },
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts"
                        },
                        "detectIntent": {
                          "parameters": {
                            "session": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1DetectIntentRequest"
                          },
                          "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}:detectIntent",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
                          },
                          "path": "v2beta1/{+session}:detectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "session"
                          ],
                          "id": "dialogflow.projects.agent.environments.users.sessions.detectIntent"
                        }
                      },
                      "resources": {
                        "contexts": {
                          "methods": {
                            "patch": {
                              "path": "v2beta1/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                },
                                "updateMask": {
                                  "location": "query",
                                  "type": "string",
                                  "format": "google-fieldmask"
                                }
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "httpMethod": "PATCH",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              }
                            },
                            "delete": {
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "httpMethod": "DELETE",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                              "path": "v2beta1/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": ""
                            },
                            "get": {
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                              "path": "v2beta1/{+name}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": ""
                            },
                            "list": {
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                              },
                              "parameters": {
                                "pageSize": {
                                  "format": "int32",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "parent": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                }
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                              "path": "v2beta1/{+parent}/contexts",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": ""
                            },
                            "create": {
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "path": "v2beta1/{+parent}/contexts",
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                }
                              }
                            }
                          }
                        },
                        "entityTypes": {
                          "methods": {
                            "create": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "path": "v2beta1/{+parent}/entityTypes",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                              "parameterOrder": [
                                "parent"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes"
                            },
                            "get": {
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "path": "v2beta1/{+name}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.get",
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "list": {
                              "parameters": {
                                "pageSize": {
                                  "format": "int32",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "parent": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                }
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                              },
                              "path": "v2beta1/{+parent}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "parameterOrder": [
                                "parent"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list"
                            },
                            "patch": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "path": "v2beta1/{+name}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.patch",
                              "parameterOrder": [
                                "name"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "parameters": {
                                "updateMask": {
                                  "format": "google-fieldmask",
                                  "location": "query",
                                  "type": "string"
                                },
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "httpMethod": "PATCH",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                            },
                            "delete": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "description": "",
                              "path": "v2beta1/{+name}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.delete",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "httpMethod": "DELETE",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "knowledgeBases": {
              "methods": {
                "create": {
                  "path": "v2beta1/{+parent}/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.list",
                  "path": "v2beta1/{+parent}/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
                  },
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.agent.knowledgeBases.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
[...]
