{
  "fullyEncodeReservedExpansion": true,
  "id": "dialogflow:v3beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "canonicalName": "Dialogflow",
  "discoveryVersion": "v1",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "version": "v3beta1",
  "schemas": {
    "GoogleCloudDialogflowV2ServiceLatency": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ServiceLatency",
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Intent",
      "properties": {
        "action": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          }
        },
        "resetContexts": {
          "type": "boolean"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ]
          }
        },
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          }
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "webhookState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "isFallback": {
          "type": "boolean"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "mlDisabled": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "properties": {
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        },
        "cardOrientation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ]
        },
        "thumbnailImageAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Fulfillment",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          }
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          }
        },
        "tag": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "webhook": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig",
      "properties": {
        "subject": {
          "type": "string"
        },
        "issuer": {
          "type": "string"
        },
        "clientKey": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings",
      "properties": {
        "branches": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessTokenSecret": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "repositoryUri": {
          "type": "string"
        },
        "trackingBranch": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics": {
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResultVersionMetrics",
      "properties": {
        "sessionCount": {
          "type": "integer",
          "format": "int32"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ExperimentResultMetric"
          }
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "properties": {
        "attributeValue": {
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Action": {
      "id": "GoogleCloudDialogflowCxV3beta1Action",
      "properties": {
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "flowTransition": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowTransition"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "subExecutionSteps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Span"
          }
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Event"
        },
        "status": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1Status"
        },
        "stt": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionSTT"
        },
        "intentMatch": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionIntentMatch"
        },
        "flowStateUpdate": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate"
        },
        "playbookTransition": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookTransition"
        },
        "userUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3beta1UserUtterance"
        },
        "playbookInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookInvocation"
        },
        "tts": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionTTS"
        },
        "flowInvocation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowInvocation"
        },
        "agentUtterance": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentUtterance"
        },
        "llmCall": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmCall"
        },
        "toolUse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolUse"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "properties": {
        "condition": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "intent": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "properties": {
        "displayText": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentResultConfidenceInterval": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentResultConfidenceInterval",
      "properties": {
        "confidenceLevel": {
          "format": "double",
          "type": "number"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "type": "number",
          "format": "double"
        },
        "lowerBound": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookTransition": {
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookTransition",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "inputActionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "deprecated": true,
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode",
      "properties": {
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
        },
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse",
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          }
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "source": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "endInteraction": {
          "type": "boolean"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Flow": {
      "id": "GoogleCloudDialogflowCxV3beta1Flow",
      "properties": {
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "name": {
          "type": "string"
        },
        "locked": {
          "type": "boolean"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "multiLanguageSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowMultiLanguageSettings"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1NluSettings"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SafetySettingsPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SafetySettingsPhrase",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection",
      "properties": {
        "documentProcessingMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        },
        "dataStore": {
          "type": "string"
        },
        "dataStoreType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolOpenApiTool": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolOpenApiTool",
      "properties": {
        "textSchema": {
          "type": "string"
        },
        "authentication": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolAuthentication"
        },
        "tlsConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolTLSConfig"
        },
        "serviceDirectoryConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolServiceDirectoryConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest",
      "properties": {
        "environment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent": {
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent",
      "properties": {
        "intentId": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float"
        },
        "generativeFallback": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TraceBlock": {
      "id": "GoogleCloudDialogflowCxV3beta1TraceBlock",
      "properties": {
        "flowTraceMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowTraceMetadata"
        },
        "speechProcessingMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SpeechProcessingMetadata"
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Action"
          }
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "playbookTraceMetadata": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookTraceMetadata"
        },
        "endState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "uri": {
          "type": "string"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationMetadata",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1MatchIntentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse",
      "properties": {
        "triggerEvent": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "text": {
          "type": "string"
        },
        "matches": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Match"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse",
      "properties": {
        "securitySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1CalculateCoverageResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1CalculateCoverageResponse",
      "properties": {
        "transitionCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverage"
        },
        "routeGroupCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage"
        },
        "intentCoverage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentCoverage"
        },
        "agent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "properties": {
        "id": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers",
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerPart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerPart",
      "properties": {
        "text": {
          "type": "string"
        },
        "supportingIndices": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FlowImportStrategy": {
      "id": "GoogleCloudDialogflowCxV3beta1FlowImportStrategy",
      "properties": {
        "globalImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurn",
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction",
      "properties": {
        "connectionActionId": {
          "type": "string"
        },
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation"
        },
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason",
      "properties": {
        "reasonLabels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "feedback": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig",
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1UserUtterance": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1UserUtterance",
      "properties": {
        "text": {
          "type": "string"
        },
        "audioTokens": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ActionSTT": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ActionSTT",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1ConversationSignals": {
      "id": "GoogleCloudDialogflowV3alpha1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowV3alpha1TurnSignals"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "id": "GoogleCloudDialogflowV2beta1ToolCall",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "toolDisplayName": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "properties": {
        "name": {
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse",
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverage",
      "properties": {
        "coverages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage"
          }
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Changelog": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Changelog",
      "properties": {
        "action": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "userEmail": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExperimentDefinition": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExperimentDefinition",
      "properties": {
        "condition": {
          "type": "string"
        },
        "versionVariants": {
          "$ref": "GoogleCloudDialogflowCxV3beta1VersionVariants"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest",
      "properties": {
        "playbookUri": {
          "type": "string"
        },
        "dataFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EncryptionSpec",
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        },
        "condition": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3DtmfInput",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EventInput",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAgentAuthConfig",
      "properties": {
        "serviceAgentAuth": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "properties": {
        "digits": {
          "type": "string"
        },
        "finishDigit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeInfo",
      "properties": {
        "currentPlaybooks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actionTracingInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Example"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Sentiment",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "properties": {
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ]
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FlowInvocation": {
      "id": "GoogleCloudDialogflowCxV3beta1FlowInvocation",
      "properties": {
        "inputActionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "flowState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        },
        "flow": {
          "type": "string"
        },
        "outputActionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse",
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListExperimentsResponse",
      "properties": {
        "experiments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Experiment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationApiKeyConfig",
      "properties": {
        "requestLocation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "REQUEST_LOCATION_UNSPECIFIED",
            "HEADER",
            "QUERY_STRING"
          ]
        },
        "apiKey": {
          "type": "string"
        },
        "keyName": {
          "type": "string"
        },
        "secretVersionForApiKey": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "properties": {
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "displayName": {
          "type": "string"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "name": {
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "description": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResourceName": {
      "id": "GoogleCloudDialogflowCxV3beta1ResourceName",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Form": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Form",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "properties": {
        "name": {
          "type": "string"
        },
        "runTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec",
      "properties": {
        "attributeType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "fieldName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals",
      "properties": {
        "decision": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUNDING_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_GROUNDING",
            "REJECTED_BY_GROUNDING"
          ]
        },
        "score": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "GROUNDING_SCORE_BUCKET_UNSPECIFIED",
            "VERY_LOW",
            "LOW",
            "MEDIUM",
            "HIGH",
            "VERY_HIGH"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookStep": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookStep",
      "properties": {
        "text": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TypeSchema": {
      "id": "GoogleCloudDialogflowCxV3beta1TypeSchema",
      "properties": {
        "schemaReference": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference"
        },
        "inlineSchema": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineSchema"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings",
      "properties": {
        "storeTtsAudio": {
          "type": "boolean"
        },
        "enableAudioRedaction": {
          "type": "boolean"
        },
        "audioExportPattern": {
          "type": "string"
        },
        "gcsBucket": {
          "type": "string"
        },
        "audioFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_FORMAT_UNSPECIFIED",
            "MULAW",
            "MP3",
            "OGG"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Message",
      "properties": {
        "participantRole": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "languageCode": {
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "originalValue": {
          "type": "string"
        },
        "resolvedValue": {
          "type": "any"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "properties": {
        "enableWordInfo": {
          "type": "boolean"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "modelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem",
      "properties": {
        "footer": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelect",
      "properties": {
        "title": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
          }
        },
        "subtitle": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo",
      "properties": {
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "queryGenerationFailureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ]
        },
        "datastoreResponseReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "queryCategorizationFailureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowRequest",
      "properties": {
        "flowVersion": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestError",
      "properties": {
        "testCase": {
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery",
      "properties": {
        "queryText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "properties": {
        "interdigitTimeoutDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "enabled": {
          "type": "boolean"
        },
        "finishDigit": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LlmModelSettingsParameters": {
      "id": "GoogleCloudDialogflowCxV3beta1LlmModelSettingsParameters",
      "properties": {
        "inputTokenLimit": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INPUT_TOKEN_LIMIT_UNSPECIFIED",
            "INPUT_TOKEN_LIMIT_SHORT",
            "INPUT_TOKEN_LIMIT_MEDIUM",
            "INPUT_TOKEN_LIMIT_LONG"
          ]
        },
        "outputTokenLimit": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_TOKEN_LIMIT_UNSPECIFIED",
            "OUTPUT_TOKEN_LIMIT_SHORT",
            "OUTPUT_TOKEN_LIMIT_MEDIUM",
            "OUTPUT_TOKEN_LIMIT_LONG"
          ]
        },
        "temperature": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentVersionConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentVersionConfig",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowV2beta1WebhookRequest",
      "properties": {
        "session": {
          "type": "string"
        },
        "responseId": {
          "type": "string"
        },
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace",
      "properties": {
        "dataStoreConnectionSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "properties": {
        "displayText": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer",
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AnswerFeedback": {
      "id": "GoogleCloudDialogflowCxV3beta1AnswerFeedback",
      "properties": {
        "ratingReason": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason"
        },
        "rating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RATING_UNSPECIFIED",
            "THUMBS_UP",
            "THUMBS_DOWN"
          ]
        },
        "customRating": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeSettingsKnowledgeConnectorSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsKnowledgeConnectorSettings",
      "properties": {
        "business": {
          "type": "string"
        },
        "agentIdentity": {
          "type": "string"
        },
        "agent": {
          "type": "string"
        },
        "agentScope": {
          "type": "string"
        },
        "businessDescription": {
          "type": "string"
        },
        "disableDataStoreFallback": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "properties": {
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "displayName": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListAgentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse",
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurn": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurn",
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "$ref": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "properties": {
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1Environment": {
      "id": "GoogleCloudDialogflowCxV3beta1Environment",
      "properties": {
        "versionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "testCasesConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig"
        },
        "description": {
          "type": "string"
        },
        "webhookConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion",
      "properties": {
        "agentAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        }
      }
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "properties": {
        "source": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "question": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCardCell": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCardCell",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Match": {
      "id": "GoogleCloudDialogflowCxV3beta1Match",
      "properties": {
        "event": {
          "type": "string"
        },
        "resolvedInput": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "INTENT",
            "DIRECT_INTENT",
            "PARAMETER_FILLING",
            "NO_MATCH",
            "NO_INPUT",
            "EVENT",
            "KNOWLEDGE_CONNECTOR",
            "PLAYBOOK"
          ]
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentFollowupIntentInfo": {
      "id": "GoogleCloudDialogflowV2IntentFollowupIntentInfo",
      "properties": {
        "followupIntentName": {
          "type": "string"
        },
        "parentFollowupIntentName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest",
      "properties": {
        "agentContent": {
          "format": "byte",
          "type": "string"
        },
        "restoreOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RESTORE_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        },
        "agentUri": {
          "type": "string"
        },
        "gitSource": {
          "$ref": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency",
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings",
      "properties": {
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem",
      "properties": {
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo",
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings",
      "properties": {
        "selectedPrompt": {
          "type": "string"
        },
        "promptTemplates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplate"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2Context": {
      "id": "GoogleCloudDialogflowV2Context",
      "properties": {
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer",
      "properties": {
        "source": {
          "type": "string"
        },
        "faqQuestion": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "matchConfidenceLevel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        },
        "description": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse",
      "properties": {
        "toolVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolUseWebhookToolTrace": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolUseWebhookToolTrace",
      "properties": {
        "webhookTag": {
          "type": "string"
        },
        "webhookUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate",
      "properties": {
        "pageState": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState"
        },
        "functionCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdateFunctionCall"
        },
        "eventType": {
          "type": "string"
        },
        "destination": {
          "type": "string"
        },
        "updatedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecs": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecs",
      "properties": {
        "spec": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpec"
          }
        },
        "dataStores": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount",
      "properties": {
        "audioCount": {
          "format": "int32",
          "type": "integer"
        },
        "eventCount": {
          "type": "integer",
          "format": "int32"
        },
        "intentCount": {
          "type": "integer",
          "format": "int32"
        },
        "textCount": {
          "type": "integer",
          "format": "int32"
        },
        "dtmfCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RolloutConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1RolloutConfig",
      "properties": {
        "rolloutCondition": {
          "type": "string"
        },
        "rolloutSteps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1RolloutConfigRolloutStep"
          }
        },
        "failureCondition": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1InlineSchema": {
      "id": "GoogleCloudDialogflowCxV3beta1InlineSchema",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "BOOLEAN",
            "ARRAY"
          ]
        },
        "items": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TypeSchema"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "commitSha": {
[...]
