{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "protocol": "rest",
  "id": "dialogflow:v2beta1",
  "schemas": {
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfig": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfig",
      "properties": {
        "messageAnalysisConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigMessageAnalysisConfig"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1NotificationConfig"
        },
        "endUserSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig"
        },
        "humanAgentSuggestionConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "digits": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Sentiment",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCallResultError": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResultError",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfoSearchKnowledgeBehavior": {
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeDebugInfoSearchKnowledgeBehavior",
      "properties": {
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "properties": {
        "responseText": {
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "properties": {
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "testCaseConversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          }
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "notes": {
          "type": "string"
        },
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig",
      "properties": {
        "enableAsyncToolCall": {
          "type": "boolean"
        },
        "featureConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionFeatureConfig"
          }
        },
        "groupSuggestionResponses": {
          "type": "boolean"
        },
        "skipEmptyEventBasedSuggestion": {
          "type": "boolean"
        },
        "generators": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "useUnredactedConversationData": {
          "type": "boolean"
        },
        "disableHighLatencyFeaturesSyncDelivery": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail",
      "properties": {
        "sectionSummary": {
          "readOnly": true,
          "type": "string"
        },
        "score": {
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "evaluationResults": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsEvaluationResult"
          }
        },
        "section": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "properties": {
        "importCount": {
          "type": "integer",
          "format": "int32"
        },
        "conversationDataset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "properties": {
        "postbackData": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Form": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Form",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessage": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessage",
      "properties": {
        "rbmStandaloneRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "rbmCarouselRichCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "rbmText": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "telephonySynthesizeSpeech": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "platform": {
          "type": "string",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "TELEPHONY",
            "GOOGLE_HANGOUTS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "telephonyPlayAudio": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem",
      "properties": {
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "similarityScore": {
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "suggestionIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "properties": {
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest",
      "properties": {
        "triggerEvent": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "dtmfDigits": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "transcript": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "text": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        },
        "triggerIntent": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationModel": {
      "id": "GoogleCloudDialogflowV2ConversationModel",
      "properties": {
        "articleSuggestionModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "smartReplyModelMetadata": {
          "$ref": "GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "displayName": {
          "type": "string"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2InputDataset"
          }
        },
        "name": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UNDEPLOYED",
            "DEPLOYING",
            "DEPLOYED",
            "UNDEPLOYING",
            "DELETING",
            "FAILED",
            "PENDING"
          ],
          "type": "string",
          "readOnly": true
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "properties": {
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "properties": {
        "fulfillmentText": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources",
      "properties": {
        "entityTypeDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "properties": {
        "description": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedback",
      "properties": {
        "answerRelevance": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_RELEVANCE_UNSPECIFIED",
            "IRRELEVANT",
            "RELEVANT"
          ]
        },
        "summarizationFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackSummarizationFeedback"
        },
        "knowledgeAssistFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback"
        },
        "documentCorrectness": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DOCUMENT_CORRECTNESS_UNSPECIFIED",
            "INCORRECT",
            "CORRECT"
          ],
          "type": "string"
        },
        "documentEfficiency": {
          "type": "string",
          "enum": [
            "DOCUMENT_EFFICIENCY_UNSPECIFIED",
            "INEFFICIENT",
            "EFFICIENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "knowledgeSearchFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeSearchFeedback"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "lastMatchedIntent": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
          }
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Version": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Version",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "versionNumber": {
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "READY",
            "FAILED"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest": {
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponse",
      "properties": {
        "displayText": {
          "type": "string"
        },
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1QueryParameters": {
      "id": "GoogleCloudDialogflowV2beta1QueryParameters",
      "properties": {
        "platform": {
          "type": "string"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "subAgents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SubAgent"
          }
        },
        "resetContexts": {
          "type": "boolean"
        },
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          }
        },
        "timeZone": {
          "type": "string"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "sentimentAnalysisRequestConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisRequestConfig"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "knowledgeBaseNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolConnectorToolActionEntityOperation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolConnectorToolActionEntityOperation",
      "properties": {
        "entityId": {
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings",
      "properties": {
        "dropVirtualAgentMessages": {
          "type": "boolean"
        },
        "dropHandoffMessages": {
          "type": "boolean"
        },
        "dropIvrMessages": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest": {
      "id": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "previousSuggestedQuery": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1CustomPronunciationParams": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1CustomPronunciationParams",
      "properties": {
        "pronunciation": {
          "type": "string"
        },
        "phoneticEncoding": {
          "enum": [
            "PHONETIC_ENCODING_UNSPECIFIED",
            "PHONETIC_ENCODING_IPA",
            "PHONETIC_ENCODING_X_SAMPA"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "phrase": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest": {
      "id": "GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest",
      "properties": {
        "entityValues": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequest": {
      "id": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequest",
      "properties": {
        "statelessConversation": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequestMinimalConversation"
        },
        "conversationProfile": {
          "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
        },
        "latestMessage": {
          "type": "string"
        },
        "maxContextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource",
      "properties": {
        "knowledgeBases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventInput": {
      "id": "GoogleCloudDialogflowCxV3EventInput",
      "properties": {
        "event": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput",
      "properties": {
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1TextInput": {
      "id": "GoogleCloudDialogflowV2beta1TextInput",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "properties": {
        "result": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1RaiSettings": {
      "id": "GoogleCloudDialogflowV2beta1RaiSettings",
      "properties": {
        "raiCategoryConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1RaiSettingsRaiCategoryConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "knowledgeBase": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SuggestionResult"
          }
        },
        "participant": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1CreateMessageRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1CreateMessageRequest",
      "properties": {
        "parent": {
          "type": "string"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings",
      "properties": {
        "useTimeoutBasedEndpointing": {
          "type": "boolean"
        },
        "models": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "noSpeechTimeout": {
          "format": "google-duration",
          "type": "string"
        },
        "endpointerSensitivity": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Conversation": {
      "id": "GoogleCloudDialogflowV2beta1Conversation",
      "properties": {
        "lifecycleState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ],
          "type": "string",
          "readOnly": true
        },
        "conversationProfile": {
          "type": "string"
        },
        "initialGeneratorContexts": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationGeneratorContext"
          },
          "type": "object",
          "readOnly": true
        },
        "telephonyConnectionInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfo"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "initialConversationProfile": {
          "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile",
          "readOnly": true
        },
        "ingestedContextReferences": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationContextReference"
          },
          "readOnly": true,
          "type": "object"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "phoneNumber": {
          "$ref": "GoogleCloudDialogflowV2beta1ConversationPhoneNumber",
          "readOnly": true
        },
        "conversationStage": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONVERSATION_STAGE_UNSPECIFIED",
            "VIRTUAL_AGENT_STAGE",
            "HUMAN_ASSIST_STAGE"
          ]
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListAnswerRecordsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "answerRecords": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnswerRecord"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "id": "GoogleCloudDialogflowV2ConversationEvent",
      "properties": {
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "conversation": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        },
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolTLSConfig": {
      "id": "GoogleCloudDialogflowV2beta1ToolTLSConfig",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ToolTLSConfigCACert"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
      "properties": {}
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "properties": {
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "differences": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "textResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "properties": {
        "text": {
          "type": "string"
        },
        "postback": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2EntityTypeEntity": {
      "id": "GoogleCloudDialogflowV2EntityTypeEntity",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigLivePersonConfig": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfigLivePersonConfig",
      "properties": {
        "accountNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "properties": {
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        },
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCall",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cesToolset": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeAssistFeedback",
      "properties": {
        "answerCopied": {
          "type": "boolean"
        },
        "clickedUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCall",
      "properties": {
        "action": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Page": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Page",
      "properties": {
        "name": {
          "type": "string"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "description": {
          "type": "string"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "properties": {
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "type": "string"
        },
        "outputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1CesToolSpec": {
      "id": "GoogleCloudDialogflowV2beta1CesToolSpec",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "confirmationRequirement": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ConversationProfile": {
      "id": "GoogleCloudDialogflowV2beta1ConversationProfile",
      "properties": {
        "automatedAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1AutomatedAgentConfig"
        },
        "humanAgentHandoffConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfig"
        },
        "ttsConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig"
        },
        "timeZone": {
          "type": "string"
        },
        "useBidiStreaming": {
          "type": "boolean"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1NotificationConfig"
        },
        "securitySettings": {
          "type": "string"
        },
        "humanAgentAssistantConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfig"
        },
        "displayName": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "loggingConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1LoggingConfig"
        },
        "name": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "newRecognitionResultNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1NotificationConfig"
        },
        "newMessageEventNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1NotificationConfig"
        },
        "sttConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SpeechToTextConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "properties": {
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "name": {
          "type": "string"
        },
        "autoExpansionMode": {
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "languageCode": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "properties": {
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flow": {
          "type": "string"
        },
        "page": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2UndeployConversationModelOperationMetadata",
      "properties": {
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SpeechContext": {
      "id": "GoogleCloudDialogflowV2beta1SpeechContext",
      "properties": {
        "phrases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "boost": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ConnectionErrorDetails": {
      "id": "GoogleCloudDialogflowV2beta1ConnectionErrorDetails",
      "properties": {
        "certificateState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "CERTIFICATE_STATE_UNSPECIFIED",
            "CERTIFICATE_VALID",
            "CERTIFICATE_INVALID",
            "CERTIFICATE_EXPIRED",
            "CERTIFICATE_HOSTNAME_NOT_FOUND",
            "CERTIFICATE_UNAUTHENTICATED",
            "CERTIFICATE_TRUST_STORE_NOT_FOUND",
            "CERTIFICATE_HOSTNAME_INVALID_FORMAT",
            "CERTIFICATE_QUOTA_EXCEEDED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "errorMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo",
      "properties": {
        "word": {
          "type": "string"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigDatasetInputDataConfig": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigDatasetInputDataConfig",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeployConversationModelOperationMetadata",
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationModel": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfig",
      "properties": {
        "inputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigInputDataConfig"
        },
        "summarizationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigSummarizationConfig"
        },
        "outputGcsBucketPath": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "properties": {
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DocumentReloadStatus": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DocumentReloadStatus",
      "properties": {
        "time": {
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigInputDataConfig": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigInputDataConfig",
      "properties": {
        "inputDataSourceType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INPUT_DATA_SOURCE_TYPE_UNSPECIFIED",
            "AGENT_ASSIST_CONVERSATIONS",
            "INSIGHTS_CONVERSATIONS"
          ],
          "deprecated": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "deprecated": true,
          "type": "string"
        },
        "isSummaryGenerationAllowed": {
          "deprecated": true,
          "type": "boolean"
        },
        "agentAssistInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigAgentAssistInputDataConfig"
        },
        "datasetInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigDatasetInputDataConfig"
        },
        "startTime": {
          "deprecated": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sampleSize": {
          "type": "integer",
          "format": "int32"
        },
        "summaryGenerationOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SUMMARY_GENERATION_OPTION_UNSPECIFIED",
            "ALWAYS_GENERATE",
            "GENERATE_IF_MISSING",
            "DO_NOT_GENERATE"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AnswerFeedback": {
      "id": "GoogleCloudDialogflowV2beta1AnswerFeedback",
      "properties": {
        "correctnessLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CORRECTNESS_LEVEL_UNSPECIFIED",
            "NOT_CORRECT",
            "PARTIALLY_CORRECT",
            "FULLY_CORRECT"
          ],
          "type": "string"
        },
        "displayed": {
          "type": "boolean"
        },
        "clicked": {
          "type": "boolean"
        },
        "displayTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "agentAssistantDetailFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantFeedback"
        },
        "clickTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "properties": {
        "description": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "condition": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentParameter",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateStatelessSuggestionRequest": {
      "id": "GoogleCloudDialogflowV2beta1GenerateStatelessSuggestionRequest",
      "properties": {
        "generatorName": {
          "type": "string"
        },
        "contextReferences": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationContextReference"
          }
        },
        "conversationContext": {
          "$ref": "GoogleCloudDialogflowV2beta1ConversationContext"
        },
        "securitySettings": {
          "type": "string"
        },
        "triggerEvents": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TRIGGER_EVENT_UNSPECIFIED",
              "END_OF_UTTERANCE",
              "MANUAL_CALL",
              "CUSTOMER_MESSAGE",
              "AGENT_MESSAGE"
            ],
            "type": "string"
          }
        },
        "generator": {
          "$ref": "GoogleCloudDialogflowV2beta1Generator"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "properties": {
        "flowContent": {
          "format": "byte",
          "type": "string"
        },
        "flowUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationSection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarizationSection",
      "properties": {
        "key": {
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "SITUATION",
            "ACTION",
            "RESOLUTION",
            "REASON_FOR_CANCELLATION",
            "CUSTOMER_SATISFACTION",
            "ENTITIES",
            "CUSTOMER_DEFINED",
            "SITUATION_CONCISE",
            "ACTION_CONCISE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "definition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "id": "GoogleCloudDialogflowCxV3TestRunDifference",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolsetTool": {
      "id": "GoogleCloudDialogflowV2beta1ToolsetTool",
      "properties": {
        "toolset": {
          "type": "string"
        },
        "confirmationRequirement": {
          "type": "string",
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "operationId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        },
        "dividerAfter": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisRequestConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisRequestConfig",
      "properties": {
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Document": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Document",
      "properties": {
        "name": {
          "type": "string"
        },
        "contentUri": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "RELOADING",
            "DELETING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "latestReloadStatus": {
          "$ref": "GoogleCloudDialogflowV2beta1DocumentReloadStatus",
          "readOnly": true
        },
        "knowledgeTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY",
              "SMART_REPLY"
            ],
            "type": "string"
          }
        },
        "content": {
          "deprecated": true,
          "type": "string"
        },
        "enableAutoReload": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mimeType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolConnectorTool": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolConnectorTool",
      "properties": {
        "name": {
          "type": "string"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ToolConnectorToolAction"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AutomatedAgentReply": {
      "id": "GoogleCloudDialogflowV2beta1AutomatedAgentReply",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "event": {
          "type": "string"
        },
        "callCompanionAuthCode": {
          "type": "string",
          "format": "byte"
        },
        "detectIntentResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
        },
        "automatedAgentReplyType": {
          "type": "string",
          "enum": [
            "AUTOMATED_AGENT_REPLY_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        },
        "intent": {
          "type": "string"
        },
        "cxSessionParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "deprecated": true,
          "type": "object"
        },
        "allowCancellation": {
          "type": "boolean"
        },
        "cxCurrentPage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "reply": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "properties": {
        "value": {
          "type": "any"
        },
        "displayName": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "justCollected": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "source": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult",
      "properties": {
        "isFinal": {
          "type": "boolean"
        },
        "dtmfDigits": {
          "$ref": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        },
        "languageCode": {
          "type": "string"
        },
        "transcript": {
          "type": "string"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
          }
        },
        "messageType": {
          "type": "string",
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE",
            "DTMF_DIGITS",
            "PARTIAL_DTMF_DIGITS"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "stability": {
          "type": "number",
          "format": "float"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings",
      "properties": {
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          }
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "targetPage": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1MessageEntry": {
      "id": "GoogleCloudDialogflowV2beta1MessageEntry",
      "properties": {
        "text": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigRequest",
      "properties": {
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "suggestionFeatureConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionFeatureConfig"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination",
      "properties": {
        "content": {
          "type": "string",
          "readOnly": true,
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponseSummary": {
      "id": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponseSummary",
      "properties": {
        "text": {
          "type": "string"
        },
        "textSections": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "baselineModelVersion": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DetectIntentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DetectIntentResponse",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
        },
        "responseId": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "alternativeQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
          }
        },
        "outputAudio": {
          "type": "string",
          "format": "byte"
        },
        "webhookStatus": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig",
      "properties": {
        "effectsProfileId": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "speakingRate": {
          "format": "double",
          "type": "number"
        },
        "pitch": {
          "type": "number",
          "format": "double"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowV2beta1VoiceSelectionParams"
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "pronunciations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CustomPronunciationParams"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryResult",
      "properties": {
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "queryText": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "action": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "webhookSource": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListToolsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListToolsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Tool"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2StreamingRecognitionResult": {
      "id": "GoogleCloudDialogflowV2StreamingRecognitionResult",
      "properties": {
        "speechEndOffset": {
          "format": "google-duration",
          "type": "string"
        },
        "messageType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MESSAGE_TYPE_UNSPECIFIED",
            "TRANSCRIPT",
            "END_OF_SINGLE_UTTERANCE"
          ]
        },
        "isFinal": {
          "type": "boolean"
        },
        "transcript": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "speechWordInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SpeechWordInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ListSipTrunksResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListSipTrunksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "sipTrunks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SipTrunk"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "sipUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2FaqAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "source": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EncryptionSpec",
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeSearchFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantFeedbackKnowledgeSearchFeedback",
      "properties": {
        "clickedUris": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "answerCopied": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig",
      "properties": {
        "agent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ReloadDocumentRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsSource"
        },
        "importGcsCustomMetadata": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Environment": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Environment",
      "properties": {
        "agentVersion": {
          "type": "string"
        },
        "textToSpeechSettings": {
          "$ref": "GoogleCloudDialogflowV2beta1TextToSpeechSettings"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
        },
        "description": {
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STOPPED",
            "LOADING",
            "RUNNING"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "type": "object",
[...]
