{
  "discoveryVersion": "v1",
  "canonicalName": "Dialogflow",
  "batchPath": "batch",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1PageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PageInfo",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfo"
        },
        "currentPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "type": "object",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "text": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "type": "object",
      "properties": {
        "faqQuestion": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "source": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1StartExperimentRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1StartExperimentRequest"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LanguageInfo": {
      "type": "object",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "format": "float",
          "type": "number"
        },
        "inputLanguageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings",
      "properties": {
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        },
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true
        },
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "properties": {
        "enableStackdriverLogging": {
          "type": "boolean"
        },
        "enableConsentBasedRedaction": {
          "type": "boolean"
        },
        "enableInteractionLogging": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest",
      "properties": {
        "playbookUri": {
          "type": "string"
        },
        "dataFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TrainFlowRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1TrainFlowRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1NluSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1NluSettings",
      "properties": {
        "modelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_STANDARD",
            "MODEL_TYPE_ADVANCED"
          ]
        },
        "modelTrainingMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TRAINING_MODE_UNSPECIFIED",
            "MODEL_TRAINING_MODE_AUTOMATIC",
            "MODEL_TRAINING_MODE_MANUAL"
          ]
        },
        "classificationThreshold": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState": {
      "properties": {
        "status": {
          "type": "string"
        },
        "page": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3TestCaseResult",
      "properties": {
        "testResult": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string"
        },
        "conversationTurns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          }
        },
        "environment": {
          "type": "string"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
      "properties": {
        "text": {
          "type": "string"
        },
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        },
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        },
        "postbackData": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetrics": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetrics",
      "properties": {
        "hasEndInteraction": {
          "type": "boolean"
        },
        "outputAudioDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "averageMatchConfidence": {
          "format": "float",
          "type": "number"
        },
        "maxWebhookLatency": {
          "format": "google-duration",
          "type": "string"
        },
        "inputAudioDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "matchTypeCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount"
        },
        "queryInputCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount"
        },
        "interactionCount": {
          "type": "integer",
          "format": "int32"
        },
        "hasLiveAgentHandoff": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "properties": {
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestionResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "properties": {
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolTLSConfig": {
      "type": "object",
      "properties": {
        "caCerts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolTLSConfigCACert"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolTLSConfig"
    },
    "GoogleCloudDialogflowCxV3beta1TypeSchema": {
      "type": "object",
      "properties": {
        "inlineSchema": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineSchema"
        },
        "schemaReference": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TypeSchema"
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "type": "object",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig"
    },
    "GoogleCloudDialogflowCxV3beta1Flow": {
      "id": "GoogleCloudDialogflowCxV3beta1Flow",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "locked": {
          "type": "boolean"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "description": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "multiLanguageSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowMultiLanguageSettings"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1NluSettings"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BigQueryExportSettings",
      "properties": {
        "enabled": {
          "type": "boolean"
        },
        "bigqueryTable": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1LlmCallTokenCount": {
      "properties": {
        "totalOutputTokenCount": {
          "format": "int64",
          "type": "string"
        },
        "exampleTokenCount": {
          "type": "string",
          "format": "int64"
        },
        "totalInputTokenCount": {
          "format": "int64",
          "type": "string"
        },
        "conversationContextTokenCount": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LlmCallTokenCount",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery": {
      "type": "object",
      "properties": {
        "queryText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
    },
    "GoogleCloudDialogflowCxV3beta1AnswerFeedback": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AnswerFeedback",
      "properties": {
        "ratingReason": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason"
        },
        "rating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "RATING_UNSPECIFIED",
            "THUMBS_UP",
            "THUMBS_DOWN"
          ]
        },
        "customRating": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Version": {
      "type": "object",
      "properties": {
        "nluSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3beta1NluSettings"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Version"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "any"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse": {
      "properties": {
        "dialogflowAssistAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Tool": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Tool",
      "properties": {
        "name": {
          "type": "string"
        },
        "extensionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolExtensionTool"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolOpenApiTool"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolFunctionTool"
        },
        "connectorSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorTool"
        },
        "dataStoreSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool"
        },
        "toolType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TOOL_TYPE_UNSPECIFIED",
            "CUSTOMIZED_TOOL",
            "BUILTIN_TOOL"
          ],
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ]
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "type": "object"
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "agentAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookTraceMetadata": {
      "type": "object",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookTraceMetadata"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListWebhooksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "webhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "schema": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1SpeechProcessingMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SpeechProcessingMetadata",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResultError": {
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolCallResultError",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpec": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency",
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "subtitle": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "title": {
          "type": "string"
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageImage": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageImage",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "accessibilityText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings": {
      "properties": {
        "githubSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings"
        },
        "gitConnectionSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCardButton",
      "properties": {
        "postback": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse": {
      "properties": {
        "toolVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "destinationName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech",
      "properties": {
        "text": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Event": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Event",
      "properties": {
        "event": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FaqAnswer": {
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answer": {
          "type": "string"
        },
        "question": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2FaqAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason": {
      "properties": {
        "reasonLabels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "feedback": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AnswerFeedbackRatingReason",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "title": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowRequest": {
      "type": "object",
      "properties": {
        "flowContent": {
          "type": "string",
          "format": "byte"
        },
        "flowImportStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowImportStrategy"
        },
        "flowUri": {
          "type": "string"
        },
        "importOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_OPTION_UNSPECIFIED",
            "KEEP",
            "FALLBACK"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowRequest"
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
    },
    "GoogleCloudDialogflowCxV3beta1ExceptionDetail": {
      "id": "GoogleCloudDialogflowCxV3beta1ExceptionDetail",
      "properties": {
        "errorMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FlowTraceMetadata": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FlowTraceMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "type": "object",
      "properties": {
        "request": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      },
      "id": "GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "type": "object",
      "properties": {
        "cardOrientation": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        },
        "thumbnailImageAlignment": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
    },
    "GoogleCloudDialogflowCxV3beta1ResourceName": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResourceName"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
    },
    "GoogleCloudDialogflowCxV3beta1ValidateFlowRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ValidateFlowRequest",
      "properties": {
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeSettings": {
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "fallbackSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings"
        },
        "generativeSafetySettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SafetySettings"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsKnowledgeConnectorSettings"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
    },
    "GoogleTypeLatLng": {
      "properties": {
        "latitude": {
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleTypeLatLng",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "resolvedValue": {
          "type": "any"
        },
        "originalValue": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource": {
      "type": "object",
      "properties": {
        "trackingBranch": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "properties": {
        "mergeBehavior": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ]
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ParameterDefinition": {
      "id": "GoogleCloudDialogflowCxV3beta1ParameterDefinition",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "BOOLEAN",
            "NULL",
            "OBJECT",
            "LIST"
          ]
        },
        "typeSchema": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TypeSchema"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse": {
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "type": "object",
      "properties": {
        "cesTool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "inputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ToolCall"
    },
    "GoogleCloudDialogflowCxV3beta1ToolUse": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "inputActionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        },
        "dataStoreToolTrace": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolUseDataStoreToolTrace"
        },
        "webhookToolTrace": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolUseWebhookToolTrace"
        },
        "outputActionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolUse"
    },
    "GoogleCloudDialogflowCxV3ConversationSignals": {
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3TurnSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationSignals"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "properties": {},
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LlmCall": {
      "type": "object",
      "properties": {
        "retrievedExamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample"
          }
        },
        "model": {
          "type": "string"
        },
        "tokenCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmCallTokenCount"
        },
        "temperature": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LlmCall"
    },
    "GoogleCloudDialogflowCxV3beta1EventHandler": {
      "id": "GoogleCloudDialogflowCxV3beta1EventHandler",
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "targetPlaybook": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DetectIntentRequest": {
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryParameters"
        },
        "session": {
          "type": "string"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        },
        "responseView": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DETECT_INTENT_RESPONSE_VIEW_UNSPECIFIED",
            "DETECT_INTENT_RESPONSE_VIEW_FULL",
            "DETECT_INTENT_RESPONSE_VIEW_BASIC",
            "DETECT_INTENT_RESPONSE_VIEW_DEFAULT"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DetectIntentRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Deployment": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "flowVersion": {
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DeploymentResult"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Deployment",
      "type": "object"
    },
    "GoogleCloudDialogflowV2EncryptionSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EncryptionSpec",
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInput",
      "properties": {
        "precedingConversationSummary": {
          "type": "string"
        },
        "actionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals": {
      "type": "object",
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudDialogflowV2EntityType": {
      "type": "object",
      "properties": {
        "autoExpansionMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          }
        },
        "displayName": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2EntityType"
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "format": "byte",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportAgentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals": {
      "type": "object",
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsAnswerGenerationModelCallSignals"
    },
    "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams": {
      "properties": {
        "name": {
          "type": "string"
        },
        "ssmlGender": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SSML_VOICE_GENDER_UNSPECIFIED",
            "SSML_VOICE_GENDER_MALE",
            "SSML_VOICE_GENDER_FEMALE",
            "SSML_VOICE_GENDER_NEUTRAL"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1VoiceSelectionParams",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse",
      "properties": {
        "testCaseResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RolloutConfigRolloutStep": {
      "type": "object",
      "properties": {
        "trafficPercent": {
          "format": "int32",
          "type": "integer"
        },
        "minDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RolloutConfigRolloutStep"
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "model": {
          "type": "string"
        },
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        },
        "modelVariant": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate": {
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate",
      "properties": {
        "functionCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdateFunctionCall"
        },
        "pageState": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState"
        },
        "destination": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "updatedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply",
      "properties": {
        "postbackData": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsResponse": {
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "intentsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "properties": {
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "channel": {
          "type": "string"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "responseType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ]
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "endInteraction": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestConfig": {
      "properties": {
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "page": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "properties": {
        "containEntities": {
          "type": "boolean"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1MessageAnnotation",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "properties": {
        "dtmfUsed": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          }
        },
        "sentimentMagnitude": {
          "format": "float",
          "type": "number"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "noMatch": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "noUserInput": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "properties": {
        "targetPage": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRoute",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "properties": {
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesResponse",
      "properties": {
        "names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechWordInfo": {
      "type": "object",
      "properties": {
        "word": {
          "type": "string"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SpeechWordInfo"
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination"
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent": {
      "properties": {
        "intent": {
          "type": "string"
        },
        "covered": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1MatchIntentResponse": {
      "properties": {
        "triggerEvent": {
          "type": "string"
        },
        "matches": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Match"
          }
        },
        "transcript": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1MatchIntentResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2InputDataset",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatch": {
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatch",
      "properties": {
        "matchedIntents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EntityTypeEntity": {
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EntityTypeEntity",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec",
      "properties": {
        "condition": {
          "type": "string"
        },
        "boost": {
          "type": "number",
          "format": "float"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig",
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "enabled": {
          "type": "boolean"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          }
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Webhook": {
      "properties": {
        "name": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "serviceDirectory": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig"
        },
        "displayName": {
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string"
        },
        "disabled": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Webhook",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "properties": {
        "queryText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1QueryParameters": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1QueryParameters",
      "properties": {
        "endUserMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "flowVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1SessionEntityType"
          }
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "timeZone": {
          "type": "string"
        },
        "channel": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "currentPlaybook": {
          "type": "string"
        },
        "disableWebhook": {
          "type": "boolean"
        },
        "parameterScope": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "currentPage": {
          "type": "string"
        },
        "populateDataStoreConnectionSignals": {
          "deprecated": true,
          "type": "boolean"
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SearchConfig"
        },
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        },
        "currentPage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Intent": {
      "properties": {
        "resetContexts": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "type": "string",
          "readOnly": true
        },
        "webhookState": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ]
          }
        },
        "displayName": {
          "type": "string"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "action": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2Intent",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "properties": {
        "text": {
          "type": "string"
        },
        "parameterId": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "properties": {
        "outputParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListAgentsResponse": {
      "type": "object",
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientId": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          }
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction": {
      "properties": {
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "type": "string"
        },
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
    },
    "GoogleCloudDialogflowCxV3LanguageInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3LanguageInfo",
      "properties": {
        "resolvedLanguageCode": {
          "type": "string"
        },
        "confidenceScore": {
          "type": "number",
          "format": "float"
        },
        "inputLanguageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "type": "object",
      "properties": {
        "dtmfEvents": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ]
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "properties": {
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        },
        "requestBody": {
          "type": "string"
        },
        "httpMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "webhookType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "serviceAgentAuth": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ]
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "allowedCaCerts": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        },
        "password": {
          "type": "string",
          "deprecated": true
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "parameterMapping": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Fulfillment",
      "properties": {
        "tag": {
          "type": "string"
        },
        "webhook": {
          "type": "string"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "generators": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          }
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          }
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "returnPartialResponses": {
          "type": "boolean"
        },
        "setParameterActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "properties": {
        "trainingModelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1OutputAudioConfig": {
      "type": "object",
      "properties": {
        "audioEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ]
        },
        "sampleRateHertz": {
          "format": "int32",
          "type": "integer"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
    },
    "GoogleCloudDialogflowCxV3beta1RolloutConfig": {
      "properties": {
        "failureCondition": {
          "type": "string"
        },
        "rolloutSteps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1RolloutConfigRolloutStep"
          }
        },
        "rolloutCondition": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RolloutConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "properties": {
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
    },
    "GoogleCloudDialogflowCxV3beta1LookupEnvironmentHistoryResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1LookupEnvironmentHistoryResponse",
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolDataStoreTool",
      "properties": {
        "fallbackPrompt": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolDataStoreToolFallbackPrompt"
        },
        "dataStoreConnections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1DataStoreConnection"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "properties": {
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse",
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "type": "object",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig": {
      "type": "object",
      "properties": {
        "oauth2AuthCodeConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2AuthCodeConfig"
        },
        "oauth2JwtBearerConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "type": "object",
      "properties": {
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3GcsDestination"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings"
    },
    "GoogleCloudDialogflowCxV3beta1AudioInput": {
      "id": "GoogleCloudDialogflowCxV3beta1AudioInput",
      "properties": {
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreToolVersionResponse": {
      "type": "object",
      "properties": {
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionResponse"
    },
    "GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "type": "object",
      "properties": {
        "conversation": {
          "type": "string"
        },
        "participant": {
          "type": "string"
        },
        "suggestionResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SuggestionResult"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2HumanAgentAssistantEvent"
    },
    "GoogleCloudDialogflowCxV3beta1Conversation": {
      "id": "GoogleCloudDialogflowCxV3beta1Conversation",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string"
        },
        "metrics": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationMetrics"
        },
        "pages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Page"
          }
        },
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
          }
        },
        "flowVersions": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "AUDIO",
            "TEXT",
            "UNDETERMINED"
          ]
        },
        "flows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
          }
        },
        "interactions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationInteraction"
          }
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio": {
      "type": "object",
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "audioUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverage": {
      "properties": {
        "coverageScore": {
          "format": "float",
          "type": "number"
        },
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverage",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse": {
      "type": "object",
      "properties": {
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals",
      "properties": {
        "turnSignals": {
[...]
