{
  "revision": "20260317",
  "kind": "discovery#restDescription",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "canonicalName": "Discovery Engine",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "protocol": "rest",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "batchPath": "batch",
  "name": "discoveryengine",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "setUpDataConnectorV2": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "discoveryengine.projects.locations.setUpDataConnectorV2",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
              },
              "path": "v1/{+parent}:setUpDataConnectorV2",
              "httpMethod": "POST",
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setUpDataConnectorV2",
              "parameters": {
                "collectionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
                },
                "collectionDisplayName": {
                  "location": "query",
                  "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ]
            },
            "updateAclConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "id": "discoveryengine.projects.locations.updateAclConfig",
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "type": "string",
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ]
            },
            "updateCmekConfig": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "location": "path",
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                  "type": "string"
                },
                "setDefault": {
                  "type": "boolean",
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "parameterOrder": [
                "name"
              ],
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
              },
              "httpMethod": "PATCH"
            },
            "getCmekConfig": {
              "id": "discoveryengine.projects.locations.getCmekConfig",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned."
                }
              },
              "path": "v1/{+name}",
              "description": "Gets the CmekConfig.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "httpMethod": "GET"
            },
            "getAclConfig": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$"
                }
              },
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "id": "discoveryengine.projects.locations.getAclConfig",
              "description": "Gets the AclConfig.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "path": "v1/{+name}"
            },
            "setUpDataConnector": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "path": "v1/{+parent}:setUpDataConnector",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1SetUpDataConnectorRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`."
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setUpDataConnector",
              "id": "discoveryengine.projects.locations.setUpDataConnector",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            }
          },
          "resources": {
            "identityMappingStores": {
              "methods": {
                "delete": {
                  "description": "Deletes the Identity Mapping Store.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Identity Mapping Store to delete. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}",
                  "id": "discoveryengine.projects.locations.identityMappingStores.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "importIdentityMappings": {
                  "path": "v1/{+identityMappingStore}:importIdentityMappings",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequest"
                  },
                  "description": "Imports a list of Identity Mapping Entries to an Identity Mapping Store.",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:importIdentityMappings",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "id": "discoveryengine.projects.locations.identityMappingStores.importIdentityMappings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameters": {
                    "identityMappingStore": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the Identity Mapping Store to import Identity Mapping Entries to. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "discoveryengine.projects.locations.identityMappingStores.create",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent collection resource name, such as `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "disableCmek": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Identity Mapping Store without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well."
                    },
                    "cmekConfigName": {
                      "location": "query",
                      "type": "string",
                      "description": "Resource name of the CmekConfig to use for protecting this Identity Mapping Store."
                    },
                    "identityMappingStoreId": {
                      "description": "Required. The ID of the Identity Mapping Store to create. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 63 characters.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new Identity Mapping Store.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "path": "v1/{+parent}/identityMappingStores"
                },
                "purgeIdentityMappings": {
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "description": "Purges specified or all Identity Mapping Entries from an Identity Mapping Store.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1PurgeIdentityMappingsRequest"
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.purgeIdentityMappings",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "path": "v1/{+identityMappingStore}:purgeIdentityMappings",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:purgeIdentityMappings",
                  "parameters": {
                    "identityMappingStore": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the Identity Mapping Store to purge Identity Mapping Entries from. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path"
                    }
                  }
                },
                "listIdentityMappings": {
                  "httpMethod": "GET",
                  "parameters": {
                    "identityMappingStore": {
                      "type": "string",
                      "description": "Required. The name of the Identity Mapping Store to list Identity Mapping Entries in. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListIdentityMappings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappings` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of IdentityMappings to return. If unspecified, defaults to 2000. The maximum allowed value is 10000. Values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+identityMappingStore}:listIdentityMappings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse"
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.listIdentityMappings",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:listIdentityMappings",
                  "description": "Lists Identity Mappings in an Identity Mapping Store."
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "description": "Lists all Identity Mapping Stores.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListIdentityMappingStores` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappingStores` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of IdentityMappingStores to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The parent of the Identity Mapping Stores to list. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1ListIdentityMappingStoresResponse"
                  },
                  "path": "v1/{+parent}/identityMappingStores",
                  "id": "discoveryengine.projects.locations.identityMappingStores.list",
                  "httpMethod": "GET"
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Identity Mapping Store to get. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the Identity Mapping Store.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}"
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations/{operationsId}"
                    },
                    "list": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.list",
                      "path": "v1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations",
                      "parameters": {
                        "pageSize": {
                          "description": "The standard list page size.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "userStores": {
              "resources": {
                "userLicenses": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the User Licenses.",
                      "id": "discoveryengine.projects.locations.userStores.userLicenses.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. The order in which the UserLicenses are listed. The value must be a comma-separated list of fields. Default sorting order is ascending. To specify descending order for a field, append a \" desc\" suffix. Redundant space characters in the syntax are insignificant. Supported fields: * `license_assignment_state` * `user_principal` * `user_profile` * `last_login_date` * `update_time` If not set, the default ordering is by `user_principal`. Examples: * `user_principal desc` to order by `user_principal` in descending order. * `license_assignment_state` to order by `license_assignment_state` in ascending order. * `last_login_date desc` to order by `last_login_date` in descending order. * `update_time desc` to order by `update_time` in descending order. * `last_login_date desc, user_principal` to order by `last_login_date` in descending order and then by `user_principal` in ascending order.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListUserLicenses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLicenses` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, defaults to 1000. The maximum value is 1000; values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/userLicenses",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListUserLicensesResponse"
                      },
                      "path": "v1/{+parent}/userLicenses"
                    }
                  }
                },
                "licenseConfigsUsageStats": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "path": "v1/{+parent}/licenseConfigsUsageStats",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListLicenseConfigsUsageStatsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/licenseConfigsUsageStats",
                      "id": "discoveryengine.projects.locations.userStores.licenseConfigsUsageStats.list",
                      "description": "Lists all the LicenseConfigUsageStatss associated with the project."
                    }
                  }
                }
              },
              "methods": {
                "batchUpdateUserLicenses": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}:batchUpdateUserLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "description": "Updates the User License. This method is used for batch assign/unassign licenses to users.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}:batchUpdateUserLicenses",
                  "httpMethod": "POST",
                  "id": "discoveryengine.projects.locations.userStores.batchUpdateUserLicenses",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "discoveryengine.projects.locations.userStores.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the User Store.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the User Store to get. Format: `projects/{project}/locations/{location}/userStores/{user_store_id}`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  },
                  "id": "discoveryengine.projects.locations.userStores.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the User Store."
                }
              }
            },
            "groundingConfigs": {
              "methods": {
                "check": {
                  "parameterOrder": [
                    "groundingConfig"
                  ],
                  "path": "v1/{+groundingConfig}:check",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1CheckGroundingResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1CheckGroundingRequest"
                  },
                  "id": "discoveryengine.projects.locations.groundingConfigs.check",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "httpMethod": "POST",
                  "description": "Performs a grounding check.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/groundingConfigs/{groundingConfigsId}:check",
                  "parameters": {
                    "groundingConfig": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/groundingConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the grounding config, such as `projects/*/locations/global/groundingConfigs/default_grounding_config`.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "collections": {
              "methods": {
                "getDataConnector": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  },
                  "path": "v1/{+name}",
                  "id": "discoveryengine.projects.locations.collections.getDataConnector",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                      "type": "string",
                      "description": "Required. Full resource name of DataConnector, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataConnector`. If the caller does not have permission to access the DataConnector, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the requested DataConnector does not exist, a `NOT_FOUND` error is returned.",
                      "location": "path"
                    }
                  },
                  "description": "Gets the DataConnector. DataConnector is a singleton resource for each Collection."
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "description": "Deletes a Collection.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "type": "string",
                      "description": "Required. The full resource name of the Collection, in the format of `projects/{project}/locations/{location}/collections/{collection}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "discoveryengine.projects.locations.collections.delete"
                },
                "updateDataConnector": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector",
                  "path": "v1/{+name}",
                  "description": "Updates a DataConnector.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "id": "discoveryengine.projects.locations.collections.updateDataConnector",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Indicates which fields in the provided DataConnector to update. Supported field paths include: - `refresh_interval` - `params` - `auto_run_disabled` - `action_config` - `action_config.action_params` - `action_config.service_name` - `destination_configs` - `blocking_reasons` - `sync_mode` - `incremental_sync_disabled` - `incremental_refresh_interval` - `data_protection_policy` Note: Support for these fields may vary depending on the connector type. For example, not all connectors support `destination_configs`. If an unsupported or unknown field path is provided, the request will return an `INVALID_ARGUMENT` error.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Output only. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  }
                }
              },
              "resources": {
                "dataStores": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned."
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.get",
                      "description": "Gets a DataStore.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "completeQuery": {
                      "parameterOrder": [
                        "dataStore"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}:completeQuery",
                      "id": "discoveryengine.projects.locations.collections.dataStores.completeQuery",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1CompleteQueryResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "description": "Completes the specified user input with keyword suggestions.",
                      "path": "v1/{+dataStore}:completeQuery",
                      "parameters": {
                        "dataStore": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent data store resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`.",
                          "required": true
                        },
                        "queryModel": {
                          "type": "string",
                          "description": "Specifies the autocomplete data model. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores.",
                          "location": "query"
                        },
                        "query": {
                          "type": "string",
                          "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters.",
                          "location": "query"
                        },
                        "includeTailSuggestions": {
                          "type": "boolean",
                          "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.",
                          "location": "query"
                        },
                        "userPseudoId": {
                          "type": "string",
                          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "id": "discoveryengine.projects.locations.collections.dataStores.patch",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "type": "string",
                          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Indicates which fields in the provided DataStore to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "description": "Updates a DataStore"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes a DataStore.",
                      "parameters": {
                        "name": {
                          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to delete the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the DataStore to delete does not exist, a NOT_FOUND error is returned.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "discoveryengine.projects.locations.collections.dataStores.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "create": {
                      "description": "Creates a DataStore. DataStore is for storing Documents. To serve these documents for Search, or Recommendation use case, an Engine needs to be created separately.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "cmekConfigName": {
                          "description": "Resource name of the CmekConfig to use for protecting this DataStore.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "createAdvancedSiteSearch": {
                          "location": "query",
                          "type": "boolean",
                          "description": "A boolean flag indicating whether user want to directly create an advanced data store for site search. If the data store is not configured as site search (GENERIC vertical and PUBLIC_WEBSITE content_config), this flag will be ignored."
                        },
                        "disableCmek": {
                          "type": "boolean",
                          "description": "DataStore without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well.",
                          "location": "query"
                        },
                        "skipDefaultSchemaCreation": {
                          "location": "query",
                          "type": "boolean",
                          "description": "A boolean flag indicating whether to skip the default schema creation for the data store. Only enable this flag if you are certain that the default schema is incompatible with your use case. If set to true, you must manually create a schema for the data store before any documents can be ingested. This flag cannot be specified if `data_store.starting_schema` is specified."
                        },
                        "dataStoreId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the DataStore, which will become the final component of the DataStore's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores",
                      "path": "v1/{+parent}/dataStores",
                      "id": "discoveryengine.projects.locations.collections.dataStores.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      }
                    },
                    "trainCustomModel": {
                      "path": "v1/{+dataStore}:trainCustomModel",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "dataStore"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1TrainCustomModelRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "dataStore": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the Data Store, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`. This field is used to identify the data store where to train the models.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}:trainCustomModel",
                      "id": "discoveryengine.projects.locations.collections.dataStores.trainCustomModel",
                      "description": "Trains a custom model."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/dataStores",
                      "id": "discoveryengine.projects.locations.collections.dataStores.list",
                      "description": "Lists all the DataStores associated with the project.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection_id}`. If the caller does not have permission to list DataStores under this location, regardless of whether or not this data store exists, a PERMISSION_DENIED error is returned.",
                          "type": "string",
                          "location": "path"
                        },
                        "filter": {
                          "description": "Filter by solution type . For example: `filter = 'solution_type:SOLUTION_TYPE_SEARCH'`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Maximum number of DataStores to return. If unspecified, defaults to 10. The maximum allowed value is 50. Values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT is returned.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A page token ListDataStoresResponse.next_page_token, received from a previous DataStoreService.ListDataStores call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DataStoreService.ListDataStores must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListDataStoresResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "getSiteSearchEngine": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Resource name of SiteSearchEngine, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. If the caller does not have permission to access the [SiteSearchEngine], regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the SiteSearchEngine.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1SiteSearchEngine"
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.getSiteSearchEngine"
                    }
                  },
                  "resources": {
                    "siteSearchEngine": {
                      "methods": {
                        "batchVerifyTargetSites": {
                          "path": "v1/{+parent}:batchVerifyTargetSites",
                          "description": "Verify target sites' ownership and validity. This API sends all the target sites under site search engine for verification.",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The parent resource shared by all TargetSites being verified. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine:batchVerifyTargetSites",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1BatchVerifyTargetSitesRequest"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.batchVerifyTargetSites"
                        },
                        "disableAdvancedSiteSearch": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine:disableAdvancedSiteSearch",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.disableAdvancedSiteSearch",
                          "parameters": {
                            "siteSearchEngine": {
                              "required": true,
                              "description": "Required. Full resource name of the SiteSearchEngine, such as `projects/{project}/locations/{location}/dataStores/{data_store_id}/siteSearchEngine`.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$"
                            }
                          },
                          "description": "Downgrade from advanced site search to basic site search.",
                          "path": "v1/{+siteSearchEngine}:disableAdvancedSiteSearch",
                          "parameterOrder": [
                            "siteSearchEngine"
                          ]
                        },
                        "enableAdvancedSiteSearch": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine:enableAdvancedSiteSearch",
                          "parameterOrder": [
                            "siteSearchEngine"
                          ],
                          "parameters": {
                            "siteSearchEngine": {
                              "type": "string",
                              "description": "Required. Full resource name of the SiteSearchEngine, such as `projects/{project}/locations/{location}/dataStores/{data_store_id}/siteSearchEngine`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "Upgrade from basic site search to advanced site search.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.enableAdvancedSiteSearch",
                          "path": "v1/{+siteSearchEngine}:enableAdvancedSiteSearch",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchRequest"
                          }
                        },
                        "fetchDomainVerificationStatus": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A page token, received from a previous `FetchDomainVerificationStatus` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchDomainVerificationStatus` must match the call that provided the page token."
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum value is 1000; values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned.",
                              "type": "integer",
                              "location": "query"
                            },
                            "siteSearchEngine": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                              "required": true,
                              "description": "Required. The site search engine resource under which we fetch all the domain verification status. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.",
                              "location": "path"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.fetchDomainVerificationStatus",
                          "path": "v1/{+siteSearchEngine}:fetchDomainVerificationStatus",
                          "description": "Returns list of target sites with its domain verification status. This method can only be called under data store with BASIC_SITE_SEARCH state at the moment.",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1FetchDomainVerificationStatusResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine:fetchDomainVerificationStatus",
                          "parameterOrder": [
                            "siteSearchEngine"
                          ]
                        },
                        "recrawlUris": {
                          "description": "Request on-demand recrawl for a list of URIs.",
                          "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.recrawlUris",
                          "parameters": {
                            "siteSearchEngine": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. Full resource name of the SiteSearchEngine, such as `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine`."
                            }
                          },
                          "path": "v1/{+siteSearchEngine}:recrawlUris",
                          "parameterOrder": [
                            "siteSearchEngine"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine:recrawlUris",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1RecrawlUrisRequest"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ]
                        }
                      },
                      "resources": {
                        "operations": {
                          "methods": {
                            "list": {
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "returnPartialSuccess": {
                                  "type": "boolean",
                                  "location": "query",
                                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                                },
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "The name of the operation's parent resource.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                                  "required": true
                                },
                                "pageToken": {
                                  "type": "string",
                                  "description": "The standard list page token.",
                                  "location": "query"
                                },
                                "pageSize": {
                                  "description": "The standard list page size.",
                                  "format": "int32",
                                  "type": "integer",
                                  "location": "query"
                                },
                                "filter": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "The standard list filter."
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite"
                              ],
                              "httpMethod": "GET",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine/operations",
                              "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.operations.list",
                              "path": "v1/{+name}/operations",
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              },
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                            },
                            "get": {
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine/operations/{operationsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.operations.get",
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "httpMethod": "GET",
                              "path": "v1/{+name}",
                              "parameters": {
                                "name": {
                                  "description": "The name of the operation resource.",
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine/operations/[^/]+$"
                                }
                              }
                            }
                          }
                        },
                        "targetSites": {
                          "resources": {
                            "operations": {
                              "methods": {
                                "get": {
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine/targetSites/operations/{operationsId}",
                                  "response": {
                                    "$ref": "GoogleLongrunningOperation"
                                  },
                                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                                  ],
                                  "httpMethod": "GET",
                                  "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.targetSites.operations.get",
                                  "parameters": {
                                    "name": {
                                      "required": true,
                                      "type": "string",
                                      "location": "path",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine/targetSites/operations/[^/]+$",
                                      "description": "The name of the operation resource."
                                    }
                                  },
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "path": "v1/{+name}"
                                },
                                "list": {
                                  "path": "v1/{+name}/operations",
                                  "httpMethod": "GET",
                                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                                  "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.targetSites.operations.list",
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "response": {
                                    "$ref": "GoogleLongrunningListOperationsResponse"
                                  },
                                  "parameters": {
                                    "filter": {
                                      "location": "query",
                                      "type": "string",
                                      "description": "The standard list filter."
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "The name of the operation's parent resource.",
                                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine/targetSites$",
                                      "location": "path",
                                      "required": true
                                    },
                                    "pageToken": {
                                      "type": "string",
                                      "location": "query",
                                      "description": "The standard list page token."
                                    },
                                    "pageSize": {
                                      "location": "query",
                                      "format": "int32",
                                      "description": "The standard list page size.",
                                      "type": "integer"
                                    },
                                    "returnPartialSuccess": {
                                      "type": "boolean",
                                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                                      "location": "query"
                                    }
                                  },
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform",
                                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                                  ],
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine/targetSites/operations"
                                }
                              }
                            }
                          },
                          "methods": {
                            "batchCreate": {
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine/targetSites:batchCreate",
                              "path": "v1/{+parent}/targetSites:batchCreate",
                              "httpMethod": "POST",
                              "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.targetSites.batchCreate",
                              "description": "Creates TargetSite in a batch.",
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesRequest"
                              },
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "description": "Required. The parent resource shared by all TargetSites being created. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. The parent field in the CreateBookRequest messages must either be empty or match this field.",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                                  "location": "path"
                                }
                              },
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              }
                            },
                            "list": {
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1ListTargetSitesResponse"
                              },
                              "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.targetSites.list",
                              "httpMethod": "GET",
                              "parameters": {
                                "parent": {
                                  "description": "Required. The parent site search engine resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. If the caller does not have permission to list TargetSites under this site search engine, regardless of whether or not this branch exists, a PERMISSION_DENIED error is returned.",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                                  "type": "string",
                                  "location": "path"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "description": "A page token, received from a previous `ListTargetSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTargetSites` must match the call that provided the page token.",
                                  "location": "query"
                                },
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum value is 1000; values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned."
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine/targetSites",
                              "description": "Gets a list of TargetSites.",
                              "path": "v1/{+parent}/targetSites",
                              "parameterOrder": [
                                "parent"
                              ]
                            },
                            "get": {
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine/targetSites/{targetSitesId}",
                              "path": "v1/{+name}",
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine/targetSites/[^/]+$",
                                  "type": "string",
                                  "required": true,
                                  "description": "Required. Full resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}`. If the caller does not have permission to access the TargetSite, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested TargetSite does not exist, a NOT_FOUND error is returned."
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite"
                              ],
                              "httpMethod": "GET",
                              "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.targetSites.get",
                              "description": "Gets a TargetSite."
                            },
                            "delete": {
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine/targetSites/{targetSitesId}",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "path": "v1/{+name}",
                              "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.targetSites.delete",
                              "httpMethod": "DELETE",
                              "description": "Deletes a TargetSite.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite"
                              ],
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine/targetSites/[^/]+$",
                                  "description": "Required. Full resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}`. If the caller does not have permission to access the TargetSite, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested TargetSite does not exist, a NOT_FOUND error is returned."
                                }
                              }
                            },
                            "create": {
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "path": "v1/{+parent}/targetSites",
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
                              },
                              "description": "Creates a TargetSite.",
                              "id": "discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.targetSites.create",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                                  "description": "Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                }
                              },
[...]
