{
  "basePath": "",
  "servicePath": "",
  "id": "discoveryengine:v1",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260503",
  "description": "Discovery Engine API.",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "in"
    }
  ],
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "projects": {
      "methods": {
        "provision": {
          "flatPath": "v1/projects/{projectsId}:provision",
          "parameterOrder": [
            "name"
          ],
          "id": "discoveryengine.projects.provision",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1ProvisionProjectRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}:provision",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms."
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "discoveryengine.projects.operations.cancel",
              "request": {
                "$ref": "GoogleLongrunningCancelOperationRequest"
              },
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                }
              },
              "id": "discoveryengine.projects.operations.list",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/operations",
              "path": "v1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET"
            },
            "get": {
              "id": "discoveryengine.projects.operations.get",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET"
            }
          }
        },
        "locations": {
          "resources": {
            "userStores": {
              "resources": {
                "userLicenses": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/userLicenses",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Lists the User Licenses.",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListUserLicensesResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. The order in which the UserLicenses are listed. The value must be a comma-separated list of fields. Default sorting order is ascending. To specify descending order for a field, append a \" desc\" suffix. Redundant space characters in the syntax are insignificant. Supported fields (only `user_principal` is supported for now): * `user_principal` If not set, the default ordering is by `user_principal`. Examples: * `user_principal` to order by `user_principal` in ascending order. * `user_principal desc` to order by `user_principal` in descending order.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListUserLicenses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLicenses` must match the call that provided the page token."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, defaults to 10. The maximum value is 50; values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT error is returned."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filter for the list request. Supported fields: * `license_assignment_state` * `user_principal` * Examples: * `license_assignment_state = ASSIGNED` to list assigned user licenses. * `license_assignment_state = NO_LICENSE` to list not licensed users. * `license_assignment_state = NO_LICENSE_ATTEMPTED_LOGIN` to list users who attempted login but no license assigned. * `license_assignment_state != NO_LICENSE_ATTEMPTED_LOGIN` to filter out users who attempted login but no license assigned. * `user_principal = user1@example.com` to list user license for `user1@example.com`."
                        },
                        "parent": {
                          "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "discoveryengine.projects.locations.userStores.userLicenses.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/userLicenses"
                    }
                  }
                },
                "licenseConfigsUsageStats": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/userStores/{user_store_id}`."
                        }
                      },
                      "id": "discoveryengine.projects.locations.userStores.licenseConfigsUsageStats.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/licenseConfigsUsageStats",
                      "path": "v1/{+parent}/licenseConfigsUsageStats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Lists all the LicenseConfigUsageStatss associated with the project.",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListLicenseConfigsUsageStatsResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "batchUpdateUserLicenses": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}:batchUpdateUserLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Updates the User License. This method is used for batch assign/unassign licenses to users.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}:batchUpdateUserLicenses",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`."
                    }
                  },
                  "id": "discoveryengine.projects.locations.userStores.batchUpdateUserLicenses"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the User Store to get. Format: `projects/{project}/locations/{location}/userStores/{user_store_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "discoveryengine.projects.locations.userStores.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets the User Store.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  },
                  "httpMethod": "GET"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "discoveryengine.projects.locations.userStores.patch",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Updates the User Store.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  }
                }
              }
            },
            "userEvents": {
              "methods": {
                "import": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:import",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "discoveryengine.projects.locations.userEvents.import",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1ImportUserEventsRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/userEvents:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Bulk import of user events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "collect": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/userEvents:collect",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a third-party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:collect",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name. If the collect user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the collect user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`."
                    },
                    "userEvent": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters."
                    },
                    "ets": {
                      "format": "int64",
                      "type": "string",
                      "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                      "location": "query"
                    },
                    "uri": {
                      "location": "query",
                      "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for third-party requests.",
                      "type": "string"
                    }
                  },
                  "id": "discoveryengine.projects.locations.userEvents.collect"
                },
                "write": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name. If the write user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the write user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`."
                    },
                    "writeAsync": {
                      "location": "query",
                      "description": "If set to true, the user event is written asynchronously after validation, and the API responds without waiting for the write.",
                      "type": "boolean"
                    }
                  },
                  "id": "discoveryengine.projects.locations.userEvents.write",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:write",
                  "path": "v1/{+parent}/userEvents:write",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Writes a single user event.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "groundingConfigs": {
              "methods": {
                "check": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1CheckGroundingRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1CheckGroundingResponse"
                  },
                  "path": "v1/{+groundingConfig}:check",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Performs a grounding check.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/groundingConfigs/{groundingConfigsId}:check",
                  "parameterOrder": [
                    "groundingConfig"
                  ],
                  "id": "discoveryengine.projects.locations.groundingConfigs.check",
                  "parameters": {
                    "groundingConfig": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/groundingConfigs/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the grounding config, such as `projects/*/locations/global/groundingConfigs/default_grounding_config`."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "id": "discoveryengine.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "discoveryengine.projects.locations.operations.get"
                }
              }
            },
            "cmekConfigs": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/cmekConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Lists all the CmekConfigs with the project.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1ListCmekConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfigs",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent location resource name, such as `projects/{project}/locations/{location}`. If the caller does not have permission to list CmekConfigs under this location, regardless of whether or not a CmekConfig exists, a PERMISSION_DENIED error is returned."
                    }
                  },
                  "id": "discoveryengine.projects.locations.cmekConfigs.list"
                },
                "delete": {
                  "id": "discoveryengine.projects.locations.cmekConfigs.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the CmekConfig to delete, such as `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfigs/{cmekConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "De-provisions a CmekConfig.",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfigs/{cmekConfigsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "setDefault": {
                      "type": "boolean",
                      "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                      "location": "query"
                    }
                  },
                  "id": "discoveryengine.projects.locations.cmekConfigs.patch",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets the CmekConfig.",
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.cmekConfigs.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfigs/{cmekConfigsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "podcasts": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "id": "discoveryengine.projects.locations.podcasts.operations.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/podcasts/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/podcasts/{podcastsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "identityMappingStores": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Deletes the Identity Mapping Store.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "discoveryengine.projects.locations.identityMappingStores.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Identity Mapping Store to delete. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of IdentityMappingStores to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListIdentityMappingStores` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappingStores` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent of the Identity Mapping Stores to list. Format: `projects/{project}/locations/{location}`."
                    }
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "path": "v1/{+parent}/identityMappingStores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Lists all Identity Mapping Stores.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1ListIdentityMappingStoresResponse"
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Identity Mapping Store to get. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets the Identity Mapping Store.",
                  "httpMethod": "GET"
                },
                "importIdentityMappings": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.importIdentityMappings",
                  "parameters": {
                    "identityMappingStore": {
                      "description": "Required. The name of the Identity Mapping Store to import Identity Mapping Entries to. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:importIdentityMappings",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+identityMappingStore}:importIdentityMappings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Imports a list of Identity Mapping Entries to an Identity Mapping Store.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequest"
                  }
                },
                "listIdentityMappings": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse"
                  },
                  "path": "v1/{+identityMappingStore}:listIdentityMappings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Lists Identity Mappings in an Identity Mapping Store.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:listIdentityMappings",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "id": "discoveryengine.projects.locations.identityMappingStores.listIdentityMappings",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListIdentityMappings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappings` must match the call that provided the page token."
                    },
                    "identityMappingStore": {
                      "description": "Required. The name of the Identity Mapping Store to list Identity Mapping Entries in. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of IdentityMappings to return. If unspecified, defaults to 2000. The maximum allowed value is 10000. Values above 10000 will be coerced to 10000.",
                      "location": "query"
                    }
                  }
                },
                "purgeIdentityMappings": {
                  "parameters": {
                    "identityMappingStore": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the Identity Mapping Store to purge Identity Mapping Entries from. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`"
                    }
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.purgeIdentityMappings",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:purgeIdentityMappings",
                  "path": "v1/{+identityMappingStore}:purgeIdentityMappings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Purges specified or all Identity Mapping Entries from an Identity Mapping Store.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1PurgeIdentityMappingsRequest"
                  },
                  "httpMethod": "POST"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "discoveryengine.projects.locations.identityMappingStores.create",
                  "parameters": {
                    "cmekConfigName": {
                      "type": "string",
                      "location": "query",
                      "description": "Resource name of the CmekConfig to use for protecting this Identity Mapping Store."
                    },
                    "identityMappingStoreId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the Identity Mapping Store to create. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 63 characters."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent collection resource name, such as `projects/{project}/locations/{location}`."
                    },
                    "disableCmek": {
                      "location": "query",
                      "description": "Identity Mapping Store without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well.",
                      "type": "boolean"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "path": "v1/{+parent}/identityMappingStores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Creates a new Identity Mapping Store."
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list page token."
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean"
                        }
                      },
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.list",
                      "httpMethod": "GET",
                      "path": "v1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource."
                        }
                      },
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.get",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    }
                  }
                }
              }
            },
            "collections": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Deletes a Collection.",
                  "httpMethod": "DELETE",
                  "id": "discoveryengine.projects.locations.collections.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The full resource name of the Collection, in the format of `projects/{project}/locations/{location}/collections/{collection}`."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getDataConnector": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                      "required": true,
                      "description": "Required. Full resource name of DataConnector, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataConnector`. If the caller does not have permission to access the DataConnector, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the requested DataConnector does not exist, a `NOT_FOUND` error is returned."
                    }
                  },
                  "id": "discoveryengine.projects.locations.collections.getDataConnector",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets the DataConnector. DataConnector is a singleton resource for each Collection.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  }
                },
                "updateDataConnector": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Updates a DataConnector.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Indicates which fields in the provided DataConnector to update. Supported field paths include: - `refresh_interval` - `params` - `auto_run_disabled` - `action_config` - `action_config.action_params` - `action_config.service_name` - `destination_configs` - `blocking_reasons` - `sync_mode` - `incremental_sync_disabled` - `incremental_refresh_interval` - `data_protection_policy` Note: Support for these fields may vary depending on the connector type. For example, not all connectors support `destination_configs`. If an unsupported or unknown field path is provided, the request will return an `INVALID_ARGUMENT` error.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`."
                    }
                  },
                  "id": "discoveryengine.projects.locations.collections.updateDataConnector",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector"
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation's parent resource."
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The standard list page size.",
                          "location": "query"
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations",
                      "path": "v1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.operations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "GET"
                    }
                  }
                },
                "dataStores": {
                  "methods": {
                    "create": {
                      "path": "v1/{+parent}/dataStores",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Creates a DataStore. DataStore is for storing Documents. To serve these documents for Search, or Recommendation use case, an Engine needs to be created separately.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "cmekConfigName": {
                          "description": "Resource name of the CmekConfig to use for protecting this DataStore.",
                          "location": "query",
                          "type": "string"
                        },
                        "skipDefaultSchemaCreation": {
                          "description": "A boolean flag indicating whether to skip the default schema creation for the data store. Only enable this flag if you are certain that the default schema is incompatible with your use case. If set to true, you must manually create a schema for the data store before any documents can be ingested. This flag cannot be specified if `data_store.starting_schema` is specified.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "parent": {
                          "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "required": true
                        },
                        "disableCmek": {
                          "description": "DataStore without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "dataStoreId": {
                          "location": "query",
                          "description": "Required. The ID to use for the DataStore, which will become the final component of the DataStore's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                          "type": "string"
                        },
                        "createAdvancedSiteSearch": {
                          "type": "boolean",
                          "location": "query",
                          "description": "A boolean flag indicating whether user want to directly create an advanced data store for site search. If the data store is not configured as site search (GENERIC vertical and PUBLIC_WEBSITE content_config), this flag will be ignored."
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores"
                    },
                    "completeQuery": {
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1CompleteQueryResponse"
                      },
                      "path": "v1/{+dataStore}:completeQuery",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Completes the specified user input with keyword suggestions.",
                      "httpMethod": "GET",
                      "id": "discoveryengine.projects.locations.collections.dataStores.completeQuery",
                      "parameters": {
                        "query": {
                          "type": "string",
                          "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters.",
                          "location": "query"
                        },
                        "includeTailSuggestions": {
                          "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "dataStore": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent data store resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`."
                        },
                        "queryModel": {
                          "type": "string",
                          "description": "Specifies the autocomplete data model. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores.",
                          "location": "query"
                        },
                        "userPseudoId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}:completeQuery",
                      "parameterOrder": [
                        "dataStore"
                      ]
                    },
                    "getSiteSearchEngine": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "discoveryengine.projects.locations.collections.dataStores.getSiteSearchEngine",
                      "parameters": {
                        "name": {
                          "description": "Required. Resource name of SiteSearchEngine, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. If the caller does not have permission to access the [SiteSearchEngine], regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1SiteSearchEngine"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Gets the SiteSearchEngine."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.get",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Gets a DataStore.",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Updates a DataStore",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.patch",
                      "parameters": {
                        "name": {
                          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Indicates which fields in the provided DataStore to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Maximum number of DataStores to return. If unspecified, defaults to 10. The maximum allowed value is 50. Values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT is returned."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Filter by solution type . For example: `filter = 'solution_type:SOLUTION_TYPE_SEARCH'`"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token ListDataStoresResponse.next_page_token, received from a previous DataStoreService.ListDataStores call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DataStoreService.ListDataStores must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned."
                        },
                        "parent": {
                          "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection_id}`. If the caller does not have permission to list DataStores under this location, regardless of whether or not this data store exists, a PERMISSION_DENIED error is returned.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.list",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/dataStores",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Lists all the DataStores associated with the project.",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListDataStoresResponse"
                      }
                    },
                    "delete": {
                      "id": "discoveryengine.projects.locations.collections.dataStores.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to delete the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the DataStore to delete does not exist, a NOT_FOUND error is returned.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Deletes a DataStore.",
                      "httpMethod": "DELETE"
                    },
                    "trainCustomModel": {
                      "parameterOrder": [
                        "dataStore"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}:trainCustomModel",
                      "parameters": {
                        "dataStore": {
                          "description": "Required. The resource name of the Data Store, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`. This field is used to identify the data store where to train the models.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.trainCustomModel",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1TrainCustomModelRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+dataStore}:trainCustomModel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Trains a custom model.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    }
                  },
                  "resources": {
                    "servingConfigs": {
                      "methods": {
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the ServingConfig to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.delete",
                          "httpMethod": "DELETE",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Deletes a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "get": {
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Gets a ServingConfig. Returns a NotFound error if the ServingConfig does not exist.",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. The resource name of the ServingConfig to get. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.get"
                        },
                        "search": {
                          "path": "v1/{+servingConfig}:search",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Performs a search.",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchRequest"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "servingConfig": {
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.search",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:search"
                        },
                        "create": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.create",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. Full resource name of parent. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
                            },
                            "servingConfigId": {
                              "location": "query",
                              "description": "Required. The ID to use for the ServingConfig, which will become the final component of the ServingConfig's resource name. This value should be 4-63 characters, and valid characters are /a-zA-Z0-9+/.",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "path": "v1/{+parent}/servingConfigs",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Creates a ServingConfig. Note: The Google Cloud console works only with the default serving config. Additional ServingConfigs can be created and managed only via the API. A maximum of 100 ServingConfigs are allowed in an Engine, otherwise a RESOURCE_EXHAUSTED error is returned.",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          }
                        },
[...]
