{
  "protocol": "rest",
  "name": "discoveryengine",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "properties": {
        "policy": {
          "description": "Optional. The Sensitive Data Protection policy resource name.",
          "type": "string"
        }
      },
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerGroundingSupport": {
      "type": "object",
      "description": "Grounding support for a claim in `answer_text`.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerGroundingSupport",
      "properties": {
        "endIndex": {
          "description": "Required. End of the claim, exclusive.",
          "format": "int64",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerCitationSource"
          },
          "description": "Optional. Citation sources for the claim."
        },
        "groundingScore": {
          "description": "A score in the range of [0, 1] describing how grounded is a specific claim by the references. Higher value means that the claim is better supported by the reference chunks.",
          "format": "double",
          "type": "number"
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim didn't require attribution/grounding check, this field is set to false. In that case, no grounding check was done for the claim and therefore `grounding_score`, `sources` is not returned.",
          "type": "boolean"
        },
        "startIndex": {
          "description": "Required. Index indicates the start of the claim, measured in bytes (UTF-8 unicode).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "Name of the string field as defined in the schema.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Values of the string field. The record will only be returned if the field value matches one of the values specified here.",
          "type": "array"
        },
        "querySegment": {
          "description": "Identifies the keywords within the search query that match a filter.",
          "type": "string"
        }
      },
      "description": "Constraint expression of a string field."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepAction": {
      "description": "Action.",
      "properties": {
        "observation": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservation",
          "description": "Observation."
        },
        "searchAction": {
          "description": "Search action.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepAction"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPart": {
      "description": "Represents a part or the whole of a content, used to represent a query. A query can be made up of multiple parts.",
      "properties": {
        "personReference": {
          "description": "Reference to a person.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference"
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The IANA standard MIME type of the data. See https://www.iana.org/assignments/media-types/media-types.xhtml. This field is optional. If not set, the default assumed MIME type is \"text/plain\" for the \"data\" field."
        },
        "driveDocumentReference": {
          "description": "Reference to a Google Drive document.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference"
        },
        "documentReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
          "description": "Other VAIS Document references."
        },
        "uiJsonPayload": {
          "type": "string",
          "description": "This field is expected to be a ui message in JSON format. As of Q1 2026, ui_json_payload is only supported for A2UI messages."
        },
        "text": {
          "description": "Text content.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPart",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecChunkSpec": {
      "properties": {
        "numNextChunks": {
          "format": "int32",
          "type": "integer",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned."
        },
        "numPreviousChunks": {
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecChunkSpec",
      "type": "object",
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsResponse": {
      "properties": {
        "purgeCount": {
          "format": "int64",
          "description": "The total count of documents purged as a result of the operation.",
          "type": "string"
        },
        "purgeSample": {
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaConversationContext": {
      "id": "GoogleCloudDiscoveryengineV1betaConversationContext",
      "type": "object",
      "properties": {
        "activeDocument": {
          "type": "string",
          "description": "The current active document the user opened. It contains the document resource reference."
        },
        "contextDocuments": {
          "items": {
            "type": "string"
          },
          "description": "The current list of documents the user is seeing. It contains the document resource references.",
          "type": "array"
        }
      },
      "description": "Defines context of the conversation"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo": {
      "properties": {
        "type": {
          "description": "Query classification type.",
          "enumDescriptions": [
            "Unspecified query classification type.",
            "Adversarial query classification type.",
            "Non-answer-seeking query classification type, for chit chat.",
            "Jail-breaking query classification type.",
            "Non-answer-seeking query classification type, for no clear intent.",
            "User defined query classification type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADVERSARIAL_QUERY",
            "NON_ANSWER_SEEKING_QUERY",
            "JAIL_BREAKING_QUERY",
            "NON_ANSWER_SEEKING_QUERY_V2",
            "USER_DEFINED_CLASSIFICATION_QUERY"
          ],
          "type": "string"
        },
        "positive": {
          "description": "Classification output.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo",
      "description": "Query classification information."
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse",
      "properties": {
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec": {
      "description": "SearchAddonSpec is used to disable add-ons for search as per new repricing model. By default if the SearchAddonSpec is not specified, we consider that the customer wants to enable them wherever applicable.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec",
      "type": "object",
      "properties": {
        "disableSemanticAddOn": {
          "description": "Optional. If true, semantic add-on is disabled. Semantic add-on includes embeddings and jetstream.",
          "type": "boolean"
        },
        "disableKpiPersonalizationAddOn": {
          "description": "Optional. If true, disables event re-ranking and personalization to optimize KPIs & personalize results.",
          "type": "boolean"
        },
        "disableGenerativeAnswerAddOn": {
          "description": "Optional. If true, generative answer add-on is disabled. Generative answer add-on includes natural language to filters and simple answers.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec",
      "type": "object",
      "description": "Specification to determine under which conditions query expansion should occur.",
      "properties": {
        "pinUnexpandedResults": {
          "type": "boolean",
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results."
        },
        "condition": {
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ],
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpec",
      "type": "object",
      "description": "Specification of tools that are used to serve the request.",
      "properties": {
        "imageGenerationSpec": {
          "description": "Optional. Specification of the image generation tool.",
          "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecImageGenerationSpec"
        },
        "vertexAiSearchSpec": {
          "description": "Optional. Specification of the Vertex AI Search tool.",
          "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecVertexAiSearchSpec"
        },
        "webGroundingSpec": {
          "description": "Optional. Specification of the web grounding tool. If field is present, enables grounding with web search. Works only if Assistant.web_grounding_type is WEB_GROUNDING_TYPE_GOOGLE_SEARCH or WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecWebGroundingSpec"
        },
        "videoGenerationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecVideoGenerationSpec",
          "description": "Optional. Specification of the video generation tool."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "properties": {
        "customerProvidedConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig",
          "description": "Optional. Customer provided configurations."
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "readOnly": true,
          "type": "object"
        },
        "provisionCompletionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number."
        },
        "configurableBillingStatus": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is created."
        }
      },
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "type": "number",
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaProvisionProjectRequestSaasParams": {
      "properties": {
        "acceptBizQos": {
          "type": "boolean",
          "description": "Optional. Set to `true` to specify that caller has read and would like to give consent to the [Terms for Agent Space quality of service]."
        },
        "isBiz": {
          "description": "Optional. Indicates if the current request is for Biz edition (= true) or not (= false).",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProvisionProjectRequestSaasParams",
      "type": "object",
      "description": "Parameters for Agentspace."
    },
    "GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata": {
      "properties": {
        "structuredContent": {
          "readOnly": true,
          "description": "Output only. The structured content information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaChunkStructuredContent"
        },
        "imageId": {
          "description": "Output only. Image id is provided if the structured content is based on an image.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata",
      "description": "The annotation metadata includes structured content in the current chunk.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig",
      "type": "object",
      "description": "Feature config for the Knowledge Graph.",
      "properties": {
        "disablePrivateKgQueryUiChips": {
          "type": "boolean",
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified."
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgAutoComplete": {
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1HealthcareFhirConfig": {
      "properties": {
        "initialFilterGroups": {
          "description": "Optional. Names of the Group resources to use as a basis for the initial patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableConfigurableSchema": {
          "type": "boolean",
          "description": "Whether to enable configurable schema for `HEALTHCARE_FHIR` vertical. If set to `true`, the predefined healthcare fhir schema can be extended for more customized searching and filtering."
        },
        "enableStaticIndexingForBatchIngestion": {
          "type": "boolean",
          "description": "Whether to enable static indexing for `HEALTHCARE_FHIR` batch ingestion. If set to `true`, the batch ingestion will be processed in a static indexing mode which is slower but more capable of handling larger volume."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1HealthcareFhirConfig",
      "description": "Config to data store for `HEALTHCARE_FHIR` vertical.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpec": {
      "properties": {
        "multimodalSpec": {
          "description": "Optional. Multimodal specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec"
        },
        "ignoreLowRelevantContent": {
          "description": "Specifies whether to filter out queries that have low relevance. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true` or unset, the behavior will be determined automatically by the service.",
          "type": "boolean"
        },
        "ignoreNonAnswerSeekingQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that are not answer-seeking. The default value is `false`. Google employs search-query classification to detect answer-seeking queries. No answer is returned if the search query is classified as a non-answer seeking query. If this field is set to `true`, we skip generating answers for non-answer seeking queries and return fallback messages instead."
        },
        "ignoreAdversarialQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No answer is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating answers for adversarial queries and return fallback messages instead."
        },
        "promptSpec": {
          "description": "Answer generation prompt specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecPromptSpec"
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "answerLanguageCode": {
          "description": "Language code for Answer. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        },
        "modelSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecModelSpec",
          "description": "Answer generation model specification."
        },
        "includeCitations": {
          "description": "Specifies whether to include citation metadata in the answer. The default value is `false`.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpec",
      "type": "object",
      "description": "Answer generation specification."
    },
    "GoogleCloudDiscoveryengineV1betaAclConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAclConfig",
      "description": "Access Control Configuration.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaListIdentityMappingStoresResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaListIdentityMappingStoresResponse",
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappingStores",
      "properties": {
        "identityMappingStores": {
          "description": "The Identity Mapping Stores.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingStore"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleApiMetric": {
      "type": "object",
      "description": "A specific metric, identified by specifying values for all of the labels of a `MetricDescriptor`.",
      "id": "GoogleApiMetric",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The set of label values that uniquely identify this metric. All labels listed in the `MetricDescriptor` must be assigned values.",
          "type": "object"
        },
        "type": {
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, `custom.googleapis.com/invoice/paid/amount`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaServingConfig": {
      "description": "Configures metadata that is used to generate serving time results (e.g. search results or recommendation predictions). The ServingConfig is passed in the search and predict request and generates results.",
      "id": "GoogleCloudDiscoveryengineV1betaServingConfig",
      "type": "object",
      "properties": {
        "dissociateControlIds": {
          "description": "Condition do not associate specifications. If multiple do not associate conditions match, all matching do not associate controls in the list will execute. Order does not matter. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "onewaySynonymsControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition oneway synonyms specifications. If multiple oneway synonyms conditions match, all matching oneway synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "boostControlIds": {
          "description": "Boost controls to use in serving path. All triggered boost controls will be applied. Boost controls must be in the same data store as the serving config. Maximum of 20 boost controls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "promoteControlIds": {
          "type": "array",
          "description": "Condition promote specifications. Maximum number of specifications is 100.",
          "items": {
            "type": "string"
          }
        },
        "answerGenerationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpec",
          "description": "Optional. The specification for answer generation."
        },
        "rankingExpression": {
          "description": "The ranking expression controls the customized ranking on retrieval documents. To leverage this, document embedding is required. The ranking expression setting in ServingConfig applies to all search requests served by the serving config. However, if `SearchRequest.ranking_expression` is specified, it overrides the ServingConfig ranking expression. The ranking expression is a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between embedding_field_path and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. ServingConfig created timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. ServingConfig updated timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "diversityLevel": {
          "type": "string",
          "description": "How much diversity to use in recommendation model results e.g. `medium-diversity` or `high-diversity`. Currently supported values: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` If not specified, we choose default based on recommendation model type. Default value: `no-diversity`. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION."
        },
        "mediaConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaServingConfigMediaConfig",
          "description": "The MediaConfig of the serving configuration."
        },
        "ignoreControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition ignore specifications. If multiple ignore conditions match, all matching ignore controls in the list will execute. Order does not matter. Maximum number of specifications is 100."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The human readable serving config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "filterControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Filter controls to use in serving path. All triggered filter controls will be applied. Filter controls must be in the same data store as the serving config. Maximum of 20 filter controls."
        },
        "redirectControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of the redirect controls. Only the first triggered redirect action is applied, even if multiple apply. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "synonymsControlIds": {
          "description": "Condition synonyms specifications. If multiple synonyms conditions match, all matching synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "modelId": {
          "type": "string",
          "description": "The id of the model to use at serving time. Currently only RecommendationModels are supported. Can be changed but only to a compatible model (e.g. others-you-may-like CTR to others-you-may-like CVR). Required when SolutionType is SOLUTION_TYPE_RECOMMENDATION."
        },
        "embeddingConfig": {
          "description": "Bring your own embedding config. The config is used for search semantic retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embeddings that are provided by this EmbeddingConfig. If SearchRequest.EmbeddingSpec.EmbeddingVector.vector is provided, it overrides this ServingConfig.embedding_config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEmbeddingConfig"
        },
        "solutionType": {
          "description": "Required. Immutable. Specifies the solution type that a serving config can be associated with.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "replacementControlIds": {
          "description": "Condition replacement specifications. Applied according to the order in the list. A previously replaced term can not be re-replaced. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "genericConfig": {
          "description": "The GenericConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1betaServingConfigGenericConfig"
        },
        "personalizationSpec": {
          "description": "The specification for personalization spec. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaIdpConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaIdpConfig",
      "description": "Identity Provider Config.",
      "properties": {
        "externalIdpConfig": {
          "description": "External Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfigExternalIdpConfig"
        },
        "idpType": {
          "description": "Identity provider type configured.",
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSingleRegionKey": {
      "type": "object",
      "description": "Metadata for single-regional CMEKs.",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSingleRegionKey"
    },
    "GoogleCloudDiscoveryengineV1betaSafetyRating": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Harm category.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ],
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ]
        },
        "blocked": {
          "type": "boolean",
          "description": "Output only. Indicates whether the content was filtered out because of this rating.",
          "readOnly": true
        },
        "probability": {
          "enumDescriptions": [
            "Harm probability unspecified.",
            "Negligible level of harm.",
            "Low level of harm.",
            "Medium level of harm.",
            "High level of harm."
          ],
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Harm probability levels in the content."
        },
        "severityScore": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. Harm severity score.",
          "format": "float"
        },
        "severity": {
          "enumDescriptions": [
            "Harm severity unspecified.",
            "Negligible level of harm severity.",
            "Low level of harm severity.",
            "Medium level of harm severity.",
            "High level of harm severity."
          ],
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Harm severity levels in the content."
        },
        "probabilityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. Harm probability score."
        }
      },
      "description": "Safety rating corresponding to the generated content.",
      "id": "GoogleCloudDiscoveryengineV1betaSafetyRating"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultChunkInfo",
      "type": "object",
      "properties": {
        "relevanceScore": {
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "type": "number"
        },
        "chunk": {
          "type": "string",
          "description": "Chunk resource name."
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        }
      },
      "description": "Chunk information."
    },
    "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec": {
      "id": "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec",
      "properties": {
        "enableUserDefinedClassifier": {
          "description": "Optional. Whether or not to enable and include user defined classifier.",
          "type": "boolean"
        },
        "topP": {
          "format": "double",
          "description": "Optional. The top-p value to be used for the user defined classifier.",
          "type": "number"
        },
        "topK": {
          "format": "int64",
          "description": "Optional. The top-k value to be used for the user defined classifier.",
          "type": "string"
        },
        "modelId": {
          "description": "Optional. The model id to be used for the user defined classifier.",
          "type": "string"
        },
        "taskMarker": {
          "type": "string",
          "description": "Optional. The task marker to be used for the user defined classifier."
        },
        "seed": {
          "type": "integer",
          "description": "Optional. The seed value to be used for the user defined classifier.",
          "format": "int32"
        },
        "temperature": {
          "description": "Optional. The temperature value to be used for the user defined classifier.",
          "format": "double",
          "type": "number"
        },
        "preamble": {
          "description": "Optional. The preamble to be used for the user defined classifier.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The specification for user defined classifier."
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig": {
      "description": "Configuration for NotebookLM.",
      "properties": {
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        },
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses."
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig"
    },
    "GoogleCloudDiscoveryengineV1betaPanelInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaPanelInfo",
      "description": "Detailed panel information associated with a user event.",
      "type": "object",
      "properties": {
        "totalPanels": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of panels, including this one, shown to the user. Must be set if panel_position is set."
        },
        "panelId": {
          "type": "string",
          "description": "Required. The panel ID."
        },
        "displayName": {
          "description": "The display name of the panel.",
          "type": "string"
        },
        "panelPosition": {
          "format": "int32",
          "type": "integer",
          "description": "The ordered position of the panel, if shown to the user with other panels. If set, then total_panels must also be set."
        },
        "documents": {
          "description": "Optional. The document IDs associated with this panel.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocumentInfo"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeDocumentsResponse": {
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1PurgeDocumentsResponse",
      "type": "object",
      "properties": {
        "purgeSample": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random."
        },
        "purgeCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of documents purged as a result of the operation."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFieldConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaFieldConfig",
      "type": "object",
      "description": "Configurations for fields of a schema. For example, configuring a field is indexable, or searchable.",
      "properties": {
        "searchableOption": {
          "enumDescriptions": [
            "Value used when unset.",
            "Searchable option enabled for a schema field.",
            "Searchable option disabled for a schema field."
          ],
          "enum": [
            "SEARCHABLE_OPTION_UNSPECIFIED",
            "SEARCHABLE_ENABLED",
            "SEARCHABLE_DISABLED"
          ],
          "type": "string",
          "description": "If searchable_option is SEARCHABLE_ENABLED, field values are searchable by text queries in SearchService.Search. If SEARCHABLE_ENABLED but field type is numerical, field values will not be searchable by text queries in SearchService.Search, as there are no text values associated to numerical fields. If searchable_option is unset, the server behavior defaults to SEARCHABLE_DISABLED for fields that support setting searchable options. Only `string` fields that have no key property mapping support setting searchable_option. For those fields that do not support setting searchable options, the server will skip searchable option setting, and setting searchable_option for those fields will throw `INVALID_ARGUMENT` error."
        },
        "advancedSiteSearchDataSources": {
          "type": "array",
          "description": "If this field is set, only the corresponding source will be indexed for this field. Otherwise, the values from different sources are merged. Assuming a page with `` in meta tag, and `` in page map: if this enum is set to METATAGS, we will only index ``; if this enum is not set, we will merge them and index ``.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Value used when unset.",
              "Retrieve value from meta tag.",
              "Retrieve value from page map.",
              "Retrieve value from the attributes set by SiteSearchEngineService.SetUriPatternDocumentData API.",
              "Retrieve value from schema.org data."
            ],
            "enum": [
              "ADVANCED_SITE_SEARCH_DATA_SOURCE_UNSPECIFIED",
              "METATAGS",
              "PAGEMAP",
              "URI_PATTERN_MAPPING",
              "SCHEMA_ORG"
            ]
          }
        },
        "recsFilterableOption": {
          "enum": [
            "FILTERABLE_OPTION_UNSPECIFIED",
            "FILTERABLE_ENABLED",
            "FILTERABLE_DISABLED"
          ],
          "description": "If recs_filterable_option is FILTERABLE_ENABLED, field values are filterable by filter expression in RecommendationService.Recommend. If FILTERABLE_ENABLED but the field type is numerical, field values are not filterable by text queries in RecommendationService.Recommend. Only textual fields are supported. If recs_filterable_option is unset, the default setting is FILTERABLE_DISABLED for fields that support setting filterable options. When a field set to [FILTERABLE_DISABLED] is filtered, a warning is generated and an empty result is returned.",
          "enumDescriptions": [
            "Value used when unset.",
            "Filterable option enabled for a schema field.",
            "Filterable option disabled for a schema field."
          ],
          "type": "string"
        },
        "indexableOption": {
          "enum": [
            "INDEXABLE_OPTION_UNSPECIFIED",
            "INDEXABLE_ENABLED",
            "INDEXABLE_DISABLED"
          ],
          "description": "If indexable_option is INDEXABLE_ENABLED, field values are indexed so that it can be filtered or faceted in SearchService.Search. If indexable_option is unset, the server behavior defaults to INDEXABLE_DISABLED for fields that support setting indexable options. For those fields that do not support setting indexable options, such as `object` and `boolean` and key properties, the server will skip indexable_option setting, and setting indexable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "Indexable option enabled for a schema field.",
            "Indexable option disabled for a schema field."
          ]
        },
        "schemaOrgPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Field paths for indexing custom attribute from schema.org data. More details of schema.org and its defined types can be found at [schema.org](https://schema.org). It is only used on advanced site search schema. Currently only support full path from root. The full path to a field is constructed by concatenating field names, starting from `_root`, with a period `.` as the delimiter. Examples: * Publish date of the root: _root.datePublished * Publish date of the reviews: _root.review.datePublished"
        },
        "retrievableOption": {
          "description": "If retrievable_option is RETRIEVABLE_ENABLED, field values are included in the search results. If retrievable_option is unset, the server behavior defaults to RETRIEVABLE_DISABLED for fields that support setting retrievable options. For those fields that do not support setting retrievable options, such as `object` and `boolean`, the server will skip retrievable option setting, and setting retrievable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "type": "string",
          "enum": [
            "RETRIEVABLE_OPTION_UNSPECIFIED",
            "RETRIEVABLE_ENABLED",
            "RETRIEVABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Retrievable option enabled for a schema field.",
            "Retrievable option disabled for a schema field."
          ]
        },
        "fieldPath": {
          "type": "string",
          "description": "Required. Field path of the schema field. For example: `title`, `description`, `release_info.release_year`."
        },
        "dynamicFacetableOption": {
          "enum": [
            "DYNAMIC_FACETABLE_OPTION_UNSPECIFIED",
            "DYNAMIC_FACETABLE_ENABLED",
            "DYNAMIC_FACETABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Dynamic facetable option enabled for a schema field.",
            "Dynamic facetable option disabled for a schema field."
          ],
          "type": "string",
          "description": "If dynamic_facetable_option is DYNAMIC_FACETABLE_ENABLED, field values are available for dynamic facet. Could only be DYNAMIC_FACETABLE_DISABLED if FieldConfig.indexable_option is INDEXABLE_DISABLED. Otherwise, an `INVALID_ARGUMENT` error will be returned. If dynamic_facetable_option is unset, the server behavior defaults to DYNAMIC_FACETABLE_DISABLED for fields that support setting dynamic facetable options. For those fields that do not support setting dynamic facetable options, such as `object` and `boolean`, the server will skip dynamic facetable option setting, and setting dynamic_facetable_option for those fields will throw `INVALID_ARGUMENT` error."
        },
        "fieldType": {
          "description": "Output only. Raw type of the field.",
          "enumDescriptions": [
            "Field type is unspecified.",
            "Field value type is Object.",
            "Field value type is String.",
            "Field value type is Number.",
            "Field value type is Integer.",
            "Field value type is Boolean.",
            "Field value type is Geolocation. Geolocation is expressed as an object with the following keys: * `id`: a string representing the location id * `longitude`: a number representing the longitude coordinate of the location * `latitude`: a number repesenting the latitude coordinate of the location * `address`: a string representing the full address of the location `latitude` and `longitude` must always be provided together. At least one of a) `address` or b) `latitude`-`longitude` pair must be provided.",
            "Field value type is Datetime. Datetime can be expressed as either: * a number representing milliseconds-since-the-epoch * a string representing milliseconds-since-the-epoch. e.g. `\"1420070400001\"` * a string representing the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date or date and time. e.g. `\"2015-01-01\"` or `\"2015-01-01T12:10:30Z\"`"
          ],
          "readOnly": true,
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "OBJECT",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "GEOLOCATION",
            "DATETIME"
          ],
          "type": "string"
        },
        "searchableFieldImportance": {
          "enum": [
            "SEARCHABLE_FIELD_IMPORTANCE_UNSPECIFIED",
            "VERY_LOW_IMPORTANCE",
            "LOW_IMPORTANCE",
            "DEFAULT_IMPORTANCE",
            "HIGH_IMPORTANCE",
            "VERY_HIGH_IMPORTANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value used when unset. Behaves as `DEFAULT_IMPORTANCE` if the field is searchable.",
            "Provides a tiny signal for search.",
            "Indicates the field is used for search, but is less important than the default.",
            "Default importance. Equivalent to previous behavior.",
            "More important than default fields.",
            "Most important field for search."
          ],
          "description": "Optional. Specifies the importance of the field when `searchable_option` is `SEARCHABLE_ENABLED`. If `searchable_option` is `SEARCHABLE_DISABLED`, this field is ignored. If `searchable_option` is `SEARCHABLE_ENABLED` and this is `SEARCHABLE_FIELD_IMPORTANCE_UNSPECIFIED`, it behaves as `DEFAULT_IMPORTANCE`."
        },
        "completableOption": {
          "type": "string",
          "enum": [
            "COMPLETABLE_OPTION_UNSPECIFIED",
            "COMPLETABLE_ENABLED",
            "COMPLETABLE_DISABLED"
          ],
          "description": "If completable_option is COMPLETABLE_ENABLED, field values are directly used and returned as suggestions for Autocomplete in CompletionService.CompleteQuery. If completable_option is unset, the server behavior defaults to COMPLETABLE_DISABLED for fields that support setting completable options, which are just `string` fields. For those fields that do not support setting completable options, the server will skip completable option setting, and setting completable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Completable option enabled for a schema field.",
            "Completable option disabled for a schema field."
          ]
        },
        "keyPropertyType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the key property that this field is mapped to. Empty string if this is not annotated as mapped to a key property. Example types are `title`, `description`. Full list is defined by `keyPropertyMapping` in the schema field annotation. If the schema field has a `KeyPropertyMapping` annotation, `indexable_option` and `searchable_option` of this field cannot be modified."
        },
        "metatagName": {
          "description": "Optional. The metatag name found in the HTML page. If user defines this field, the value of this metatag name will be used to extract metatag. If the user does not define this field, the FieldConfig.field_path will be used to extract metatag.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistResponse": {
      "description": "Response for the AssistantService.StreamAssist method.",
      "properties": {
        "assistToken": {
          "type": "string",
          "description": "A global unique ID that identifies the current pair of request and stream of responses. Used for feedback and support."
        },
        "sessionInfo": {
          "description": "Session information. Only included in the final StreamAssistResponse of the response stream.",
          "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseSessionInfo"
        },
        "answer": {
          "description": "Assist answer resource object containing parts of the assistant's final answer for the user's query. Not present if the current response doesn't add anything to previously sent AssistAnswer.replies. Observe AssistAnswer.state to see if more parts are to be expected. While the state is `IN_PROGRESS`, the AssistAnswer.replies field in each response will contain replies (reply fragments) to be appended to the ones received in previous responses. AssistAnswer.name won't be filled. If the state is `SUCCEEDED`, `FAILED` or `SKIPPED`, the response is the last response and AssistAnswer.name will have a value.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswer"
        },
        "invocationTools": {
          "description": "The tool names of the tools that were invoked.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob": {
      "properties": {
        "mimeType": {
          "description": "Output only. The media type (MIME type) of the generated or retrieved data.",
          "type": "string",
          "readOnly": true
        },
        "data": {
          "type": "string",
          "readOnly": true,
          "format": "byte",
          "description": "Output only. Raw bytes."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob",
      "description": "The media type and data of the blob."
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata for DeleteSchema LRO.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata": {
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of user licenses that failed to be updated.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of user licenses successfully updated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswer": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswer",
      "type": "object",
      "description": "Defines an answer.",
      "properties": {
        "groundingSupports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport"
          },
          "description": "Optional. Grounding supports."
        },
        "blobAttachments": {
          "type": "array",
          "description": "List of blob attachments in the answer.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment"
          }
        },
        "steps": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStep"
          },
          "description": "Answer generation steps.",
          "type": "array"
        },
        "state": {
          "description": "The state of the answer generation.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Answer generation is currently in progress.",
            "Answer generation currently failed.",
            "Answer generation has succeeded.",
            "Answer generation is currently in progress."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "STREAMING"
          ]
        },
        "createTime": {
          "description": "Output only. Answer creation timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "completeTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Answer completed timestamp.",
          "format": "google-datetime"
        },
        "citations": {
          "description": "Citations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitation"
          }
        },
        "queryUnderstandingInfo": {
          "description": "Query understanding information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo"
        },
        "groundingScore": {
          "format": "double",
          "description": "A score in the range of [0, 1] describing how grounded the answer is by the reference chunks.",
          "type": "number"
        },
        "relatedQuestions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Suggested related questions."
        },
        "safetyRatings": {
          "description": "Optional. Safety ratings.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSafetyRating"
          },
          "type": "array"
        },
        "answerText": {
          "type": "string",
          "description": "The textual answer."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*/answers/*`"
        },
        "answerSkippedReasons": {
          "description": "Additional answer-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "items": {
            "enum": [
              "ANSWER_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_ANSWER_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_ANSWER_SEEKING_QUERY_IGNORED_V2",
              "LOW_GROUNDED_ANSWER",
              "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED",
              "UNHELPFUL_ANSWER"
            ],
            "enumDescriptions": [
              "Default value. The answer skipped reason is not specified.",
              "The adversarial query ignored case.",
              "The non-answer seeking query ignored case Google skips the answer if the query is chit chat.",
              "The out-of-domain query ignored case. Google skips the answer if there are no high-relevance search results.",
              "The potential policy violation case. Google skips the answer if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The no relevant content case. Google skips the answer if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Google skips the answer if the query is classified as a jail-breaking query.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the answer if the query doesn't have clear intent.",
              "The low-grounded answer case. Google skips the answer if a well grounded answer was unable to be generated.",
              "The user defined query classification ignored case. Google skips the answer if the query is classified as a user defined query classification.",
              "The unhelpful answer case. Google skips the answer if the answer is not helpful. This can be due to a variety of factors, including but not limited to: the query is not answerable, the answer is not relevant to the query, or the answer is not well-formatted."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReference"
          },
          "description": "References.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment",
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "properties": {
        "data": {
          "description": "Output only. The mime type and data of the blob.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob",
          "readOnly": true
        },
        "attributionType": {
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ],
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The attribution type of the blob."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaChunkPageSpan": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaChunkPageSpan",
      "description": "Page span of the chunk.",
      "properties": {
        "pageStart": {
          "description": "The start page of the chunk.",
          "type": "integer",
          "format": "int32"
        },
        "pageEnd": {
          "description": "The end page of the chunk.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "description": "The layout parsing configurations for documents.",
      "properties": {
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "enableLlmLayoutParsing": {
          "type": "boolean",
          "description": "Optional. If true, the pdf layout will be refined using an LLM."
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "type": "array"
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "structuredContentTypes": {
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludeHtmlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML ids to exclude from the parsed content."
        },
        "excludeHtmlClasses": {
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata",
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total count of entries that were processed."
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were processed successfully.",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerGenerationSpec": {
      "properties": {
        "userDefinedClassifierSpec": {
          "description": "Optional. The specification for user specified classifier spec.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerGenerationSpec",
      "type": "object",
      "description": "The specification for answer generation."
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchRequest",
      "type": "object",
      "description": "Request message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply",
      "description": "One part of the multi-part response of the assist call.",
      "type": "object",
      "properties": {
        "replyId": {
          "readOnly": true,
          "description": "Output only. When set, uniquely identifies a reply within the `AssistAnswer` resource. During an AssistantService.StreamAssist call, multiple `Reply` messages with the same ID can occur within the response stream (across multiple StreamAssistResponse messages). These represent parts of a single `Reply` message in the final `AssistAnswer` resource.",
          "type": "string"
        },
        "groundedContent": {
          "description": "Possibly grounded response text or media from the assistant.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesResponse",
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
      "properties": {
        "userLicenses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserLicense"
          },
          "type": "array",
          "description": "UserLicenses successfully updated."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics": {
      "properties": {
        "top3": {
          "description": "The top-3 value.",
          "format": "double",
          "type": "number"
        },
        "top5": {
          "type": "number",
          "description": "The top-5 value.",
          "format": "double"
        },
        "top10": {
          "format": "double",
          "type": "number",
          "description": "The top-10 value."
        },
        "top1": {
          "description": "The top-1 value.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Stores the metric values at specific top-k levels.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
    },
    "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata": {
      "properties": {},
      "type": "object",
      "description": "Metadata for DataConnectorService.SetUpDataConnector method.",
      "id": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest": {
      "type": "object",
      "description": "Request message for CompletionService.PurgeCompletionSuggestions method.",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1LicenseConfig": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`"
        },
        "autoRenew": {
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date.",
          "type": "boolean"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The start date."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "WITHDRAWN",
            "DEACTIVATING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the license config.",
          "type": "string",
          "enumDescriptions": [
            "Default value. The license config does not exist.",
            "The license config is effective and being used.",
            "The license config has expired.",
            "The license config has not started yet, and its start date is in the future.",
            "This is when a sub license config has returned all its seats back to BillingAccountLicenseConfig that it belongs to. Similar to EXPIRED.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ]
        },
        "freeTrial": {
          "type": "boolean",
          "description": "Optional. Whether the license config is for free trial."
        },
        "licenseCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of licenses purchased."
        },
        "geminiBundle": {
          "description": "Output only. Whether the license config is for Gemini bundle.",
          "readOnly": true,
          "type": "boolean"
        },
        "earlyTerminationDate": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date."
        },
        "subscriptionTier": {
          "type": "string",
          "description": "Required. Subscription tier information for the license config.",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ]
        },
        "earlyTerminated": {
          "description": "Output only. Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3.",
          "type": "boolean",
          "readOnly": true
        },
        "endDate": {
          "description": "Optional. The planed end date.",
          "$ref": "GoogleTypeDate"
        },
        "subscriptionTerm": {
          "description": "Required. Subscription term.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ],
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ]
        }
      },
      "description": "Information about users' licenses.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1LicenseConfig"
    },
    "GoogleCloudDiscoveryengineV1betaTextInput": {
      "id": "GoogleCloudDiscoveryengineV1betaTextInput",
      "properties": {
        "context": {
          "$ref": "GoogleCloudDiscoveryengineV1betaConversationContext",
          "description": "Conversation context of the input."
        },
        "input": {
          "description": "Text input.",
          "type": "string"
        }
      },
      "description": "Defines text input.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig": {
      "type": "object",
      "description": "Configuration for Natural Language Query Understanding.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ],
          "type": "string",
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitation": {
      "description": "Citation info for a segment.",
      "properties": {
        "sources": {
          "description": "Citation sources for the attributed segment.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitationSource"
          },
          "type": "array"
        },
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "Index indicates the start of the segment, measured in bytes/unicode."
        },
        "endIndex": {
          "format": "int64",
          "description": "End of the attributed segment, exclusive.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitation",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceStructuredDocumentInfo": {
      "properties": {
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "structData": {
          "description": "Structured search data.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The title of the document."
        },
        "uri": {
          "description": "Output only. The URI of the document.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceStructuredDocumentInfo",
      "description": "Structured search information."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantToolInfo": {
      "type": "object",
      "properties": {
        "toolDisplayName": {
          "type": "string",
          "description": "The display name of the tool."
        },
        "toolName": {
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAssistantToolInfo",
      "description": "Information to identify a tool."
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource": {
      "description": "The inline source for SampleQuerys.",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource",
      "properties": {
        "sampleQueries": {
          "type": "array",
          "description": "Required. A list of SampleQuerys to import. Max of 1000 items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DestinationConfigDestination": {
      "type": "object",
      "description": "Defines a target endpoint",
      "properties": {
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Target port number accepted by the destination."
        },
        "host": {
          "type": "string",
          "description": "Publicly routable host."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DestinationConfigDestination"
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics": {
      "description": "Stores the metric values at specific top-k levels.",
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
      "properties": {
        "top1": {
          "description": "The top-1 value.",
          "type": "number",
          "format": "double"
        },
        "top3": {
          "type": "number",
          "description": "The top-3 value.",
          "format": "double"
        },
        "top5": {
          "type": "number",
          "description": "The top-5 value.",
          "format": "double"
        },
        "top10": {
          "type": "number",
          "format": "double",
          "description": "The top-10 value."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultSnippetInfo": {
      "properties": {
        "snippetStatus": {
          "description": "Status of the snippet defined by the search team.",
          "type": "string"
        },
        "snippet": {
          "type": "string",
          "description": "Snippet content."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultSnippetInfo",
      "description": "Snippet information."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpec": {
      "properties": {
        "useSemanticChunks": {
          "type": "boolean",
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list."
        },
        "ignoreLowRelevantContent": {
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers.",
          "type": "boolean"
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature."
        },
        "multimodalSpec": {
          "description": "Optional. Multimodal specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec"
        },
        "ignoreJailBreakingQuery": {
          "type": "boolean",
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead."
        },
        "modelPromptSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelPromptSpec",
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM."
        },
        "modelSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec",
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM."
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "summaryResultCount": {
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A specification for configuring a summary returned in a search response.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecWebGroundingSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecWebGroundingSpec",
      "description": "Specification of the web grounding tool.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaLanguageInfo": {
      "properties": {
        "language": {
          "readOnly": true,
          "description": "Output only. Language part of normalized_language_code. E.g.: `en-US` -> `en`, `zh-Hans-HK` -> `zh`, `en` -> `en`.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language code for the DataStore.",
          "type": "string"
        },
        "normalizedLanguageCode": {
          "description": "Output only. This is the normalized form of language_code. E.g.: language_code of `en-GB`, `en_GB`, `en-UK` or `en-gb` will have normalized_language_code of `en-GB`.",
          "type": "string",
          "readOnly": true
        },
        "region": {
          "description": "Output only. Region part of normalized_language_code, if present. E.g.: `en-US` -> `US`, `zh-Hans-HK` -> `HK`, `en` -> ``.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaLanguageInfo",
      "description": "Language info for DataStore.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec": {
      "properties": {
        "returnRelevanceScore": {
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query.",
          "type": "boolean"
        }
      },
      "description": "The specification for returning the document relevance score.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun": {
      "type": "object",
      "description": "Represents an entity that was synced in this ConnectorRun.",
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun",
      "properties": {
        "scheduledRecordCount": {
          "description": "Optional. The number of documents scheduled to be crawled/extracted from connector source. This only applies to third party connectors.",
          "type": "string",
          "format": "int64"
        },
        "extractedRecordCount": {
          "description": "Optional. The number of documents extracted from connector source, ready to be ingested to VAIS.",
          "format": "int64",
          "type": "string"
        },
        "entityName": {
          "type": "string",
          "description": "The name of the source entity."
        },
        "indexedRecordCount": {
          "description": "Optional. The number of documents indexed.",
          "type": "string",
          "format": "int64"
        },
        "syncType": {
          "enumDescriptions": [
            "Sync type unspecified.",
            "Sync triggers full sync of all documents.",
            "Incremental sync of updated documents.",
            "Realtime sync.",
            "Scala sync."
          ],
          "type": "string",
          "description": "Sync type of this run.",
          "enum": [
            "SYNC_TYPE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL",
            "REALTIME",
            "SCALA_SYNC"
          ]
        },
        "stateUpdateTime": {
          "description": "Timestamp at which the entity sync state was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceApiRequestCount": {
          "description": "Optional. The number of requests sent to 3p API.",
          "format": "int64",
          "type": "string"
        },
        "progress": {
          "description": "Metadata to generate the progress bar.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRunProgress"
        },
        "errors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "The errors from the entity's sync run. Only exist if running into an error state. Contains error code and error message."
        },
[...]
