{
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "version_module": true,
  "protocol": "rest",
  "endpoints": [
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "location": "in",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "canonicalName": "Discovery Engine",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaCannedQuerySuggestedPrompt": {
      "properties": {
        "promptText": {
          "description": "Required. The text of the suggested prompt.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCannedQuerySuggestedPrompt",
      "description": "A suggested prompt for the canned query.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector",
      "type": "object",
      "description": "Embedding vector.",
      "properties": {
        "fieldPath": {
          "description": "Embedding field path in schema.",
          "type": "string"
        },
        "vector": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Query embedding vector."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WorkspaceConfig": {
      "properties": {
        "dasherCustomerId": {
          "description": "Obfuscated Dasher customer ID.",
          "type": "string"
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "type": {
          "description": "The Google Workspace data source.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE"
          ]
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1WorkspaceConfig",
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1alphaMediaInfo": {
      "description": "Media-specific user event information.",
      "properties": {
        "mediaProgressDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The media progress time in seconds, if applicable. For example, if the end user has finished 90 seconds of a playback video, then MediaInfo.media_progress_duration.seconds should be set to 90."
        },
        "mediaProgressPercentage": {
          "format": "float",
          "description": "Media progress should be computed using only the media_progress_duration relative to the media total length. This value must be between `[0, 1.0]` inclusive. If this is not a playback or the progress cannot be computed (e.g. ongoing livestream), this field should be unset.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaMediaInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaListCmekConfigsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListCmekConfigsResponse",
      "properties": {
        "cmekConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
          },
          "description": "All the customer's CmekConfigs."
        }
      },
      "description": "Response message for CmekConfigService.ListCmekConfigs method."
    },
    "GoogleCloudNotebooklmV1alphaCmekConfig": {
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaCmekConfig",
      "description": "Customer-managed encryption configuration for Notebooks.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswer": {
      "description": "Defines an answer.",
      "type": "object",
      "properties": {
        "citations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitation"
          },
          "description": "Citations."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Answer creation timestamp.",
          "format": "google-datetime"
        },
        "safetyRatings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSafetyRating"
          },
          "type": "array",
          "description": "Optional. Safety ratings."
        },
        "groundingSupports": {
          "type": "array",
          "description": "Optional. Grounding supports.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport"
          }
        },
        "references": {
          "type": "array",
          "description": "References.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReference"
          }
        },
        "relatedQuestions": {
          "items": {
            "type": "string"
          },
          "description": "Suggested related questions.",
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "The state of the answer generation.",
          "enumDescriptions": [
            "Unknown.",
            "Answer generation is currently in progress.",
            "Answer generation currently failed.",
            "Answer generation has succeeded.",
            "Answer generation is currently in progress."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "STREAMING"
          ]
        },
        "completeTime": {
          "description": "Output only. Answer completed timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "steps": {
          "type": "array",
          "description": "Answer generation steps.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStep"
          }
        },
        "blobAttachments": {
          "description": "List of blob attachments in the answer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment"
          }
        },
        "queryUnderstandingInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
          "description": "Query understanding information."
        },
        "answerSkippedReasons": {
          "items": {
            "type": "string",
            "enum": [
              "ANSWER_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_ANSWER_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_ANSWER_SEEKING_QUERY_IGNORED_V2",
              "LOW_GROUNDED_ANSWER",
              "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED",
              "UNHELPFUL_ANSWER"
            ],
            "enumDescriptions": [
              "Default value. The answer skipped reason is not specified.",
              "The adversarial query ignored case.",
              "The non-answer seeking query ignored case Google skips the answer if the query is chit chat.",
              "The out-of-domain query ignored case. Google skips the answer if there are no high-relevance search results.",
              "The potential policy violation case. Google skips the answer if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The no relevant content case. Google skips the answer if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Google skips the answer if the query is classified as a jail-breaking query.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the answer if the query doesn't have clear intent.",
              "The low-grounded answer case. Google skips the answer if a well grounded answer was unable to be generated.",
              "The user defined query classification ignored case. Google skips the answer if the query is classified as a user defined query classification.",
              "The unhelpful answer case. Google skips the answer if the answer is not helpful. This can be due to a variety of factors, including but not limited to: the query is not answerable, the answer is not relevant to the query, or the answer is not well-formatted."
            ]
          },
          "description": "Additional answer-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "type": "array"
        },
        "groundingScore": {
          "description": "A score in the range of [0, 1] describing how grounded the answer is by the reference chunks.",
          "type": "number",
          "format": "double"
        },
        "answerText": {
          "type": "string",
          "description": "The textual answer."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*/answers/*`"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswer"
    },
    "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig": {
      "description": "Configuration for Natural Language Query Understanding.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "description": "Additional feature configurations for creating a `recommended-for-you` engine.",
      "properties": {
        "contextEventType": {
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference": {
      "description": "Represents a document reference.",
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
      "properties": {
        "fileId": {
          "type": "string",
          "description": "Output only. The file id of the document data stored in the session context files.",
          "readOnly": true
        },
        "iconUri": {
          "description": "The icon uri of the reference.",
          "type": "string"
        },
        "urlForConnector": {
          "description": "Input only. The url_for_connector of the document returned by Federated Search.",
          "type": "string"
        },
        "destinationUri": {
          "description": "The destination uri of the reference.",
          "type": "string"
        },
        "documentName": {
          "description": "The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`.",
          "type": "string"
        },
        "displayTitle": {
          "type": "string",
          "description": "The display title of the reference."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteCollectionMetadata": {
      "description": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteCollectionMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponseQuerySuggestion": {
      "description": "Suggestions as search queries.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponseQuerySuggestion",
      "properties": {
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "completableFieldPaths": {
          "items": {
            "type": "string"
          },
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaUpdateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaUpdateTargetSiteMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the EstimateDataSize operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeMetadata"
    },
    "GoogleCloudDiscoveryengineV1DeleteEngineMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the EngineService.DeleteEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteEngineMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics": {
      "properties": {
        "videoCodecs": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Video codecs used in the video.",
          "type": "array"
        },
        "audioBitrateKbps": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Bitrate of the audio in kbps."
        },
        "videoBitrateKbps": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Bitrate of the video in kbps.",
          "readOnly": true
        },
        "duration": {
          "readOnly": true,
          "description": "Output only. Video duration.",
          "type": "string",
          "format": "google-duration"
        },
        "frameRate": {
          "description": "Output only. Frame rate (frames per second).",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "audioCodecs": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Audio codecs used in the video.",
          "readOnly": true
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Video width in pixels.",
          "readOnly": true
        },
        "height": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Video height in pixels.",
          "type": "integer"
        }
      },
      "description": "Standard characteristics of a video media view.",
      "id": "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaPageInfo": {
      "properties": {
        "uri": {
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters.",
          "type": "string"
        },
        "pageCategory": {
          "type": "string",
          "description": "The most specific category associated with a category page. To represent full path of category, use '>' sign to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: `\"pageCategory\" : \"Sales > 2017 Black Friday Deals\"`. Required for `view-category-page` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "pageviewId": {
          "type": "string",
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageview_id` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically."
        },
        "referrerUri": {
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. However, some browser privacy restrictions may cause this field to be empty.",
          "type": "string"
        }
      },
      "description": "Detailed page information.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPageInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsSearchAddonSpec": {
      "properties": {
        "kpiPersonalizationAddOnDisabled": {
          "type": "boolean",
          "description": "Optional. If true, disables event re-ranking and personalization to optimize KPIs & personalize results."
        },
        "semanticAddOnDisabled": {
          "description": "Optional. If true, semantic add-on is disabled. Semantic add-on includes embeddings and jetstream.",
          "type": "boolean"
        },
        "generativeAnswerAddOnDisabled": {
          "type": "boolean",
          "description": "Optional. If true, generative answer add-on is disabled. Generative answer add-on includes natural language to filters and simple answers."
        }
      },
      "description": "SearchAddonSpec is used to disable add-ons for search. By default, if this field is not specified, add-ons are enabled wherever applicable.",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettingsSearchAddonSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentExecutableCode": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. The code content. Currently only supports Python."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentExecutableCode",
      "description": "Code generated by the model that is meant to be executed by the model."
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReason": {
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure"
        }
      },
      "description": "Site search indexing failure reasons.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason",
      "type": "object",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBinding": {
      "description": "Specifies a multi-level threshold to apply to apply to a `metric_bindings` in the `condition` CEL expression.",
      "type": "object",
      "properties": {
        "thresholdValues": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBindingThresholdValue"
          },
          "type": "array",
          "description": "The values of the threshold. The values should be ordered from the most strict to the least strict."
        },
        "variableId": {
          "description": "The variable id to be referenced in `condition`. Must be unique across all `metric_bindings` and `threshold_bindings`.",
          "type": "string"
        },
        "description": {
          "description": "Human readable description of the corresponding threshold and sub-requirement.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBinding"
    },
    "GoogleCloudNotebooklmV1alphaBatchCreateSourcesResponse": {
      "id": "GoogleCloudNotebooklmV1alphaBatchCreateSourcesResponse",
      "description": "Response for SourceService.BatchCreateSources method.",
      "type": "object",
      "properties": {
        "sources": {
          "description": "The Sources.",
          "items": {
            "$ref": "GoogleCloudNotebooklmV1alphaSource"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingSpec": {
      "description": "Specification for the grounding check.",
      "properties": {
        "citationThreshold": {
          "format": "double",
          "type": "number",
          "description": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6."
        },
        "enableClaimLevelScore": {
          "type": "boolean",
          "description": "The control flag that enables claim-level grounding score in the response."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSpellCorrectionSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSpellCorrectionSpec",
      "description": "The specification for query spell correction.",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Unspecified spell correction mode. In this case, server behavior defaults to Mode.AUTO.",
            "Search API tries to find a spelling suggestion. If a suggestion is found, it is put in the SearchResponse.corrected_query. The spelling suggestion won't be used as the search query.",
            "Automatic spell correction built by the Search API. Search will be based on the corrected query if found."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "SUGGESTION_ONLY",
            "AUTO"
          ],
          "description": "The mode under which spell correction replaces the original search query. Defaults to Mode.AUTO."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCollection": {
      "properties": {
        "dataConnector": {
          "readOnly": true,
          "description": "Output only. The data connector, if present, manages the connection for data stores in the Collection. To set up the connector, use DataConnectorService.SetUpDataConnector method, which creates a new Collection while setting up the DataConnector singleton resource. Setting up connector on an existing Collection is not supported. This output only field contains a subset of the DataConnector fields, including `name`, `data_source`, `entities.entity_name` and `entities.data_store`. To get more details about a data connector, use the DataConnectorService.GetDataConnector method.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "createTime": {
          "description": "Output only. Timestamp the Collection was created at.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCollection",
      "type": "object",
      "description": "Collection is a container for configuring resources and access to a set of DataStores."
    },
    "GoogleCloudNotebooklmV1alphaBatchDeleteSourcesRequest": {
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. Names of sources to be deleted. Format: projects/{project}/locations/{location}/notebooks/{notebook}/sources/{source}",
          "type": "array"
        }
      },
      "description": "Request for BatchDeleteSourcesRequest method.",
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaBatchDeleteSourcesRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary": {
      "type": "object",
      "properties": {
        "summarySkippedReasons": {
          "description": "Additional summary-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "type": "array",
          "items": {
            "enum": [
              "SUMMARY_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "LLM_ADDON_NOT_ENABLED",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED_V2",
              "TIME_OUT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. The summary skipped reason is not specified.",
              "The adversarial query ignored case. Only used when SummarySpec.ignore_adversarial_query is set to `true`.",
              "The non-summary seeking query ignored case. Google skips the summary if the query is chit chat. Only used when SummarySpec.ignore_non_summary_seeking_query is set to `true`.",
              "The out-of-domain query ignored case. Google skips the summary if there are no high-relevance search results. For example, the data store contains facts about company A but the user query is asking questions about company B.",
              "The potential policy violation case. Google skips the summary if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The LLM addon not enabled case. Google skips the summary if the LLM addon is not enabled.",
              "The no relevant content case. Google skips the summary if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Only used when [SearchRequest.ContentSearchSpec.SummarySpec.ignore_jail_breaking_query] is set to `true`.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the summary if the query doesn't have clear intent. Only used when [SearchRequest.ContentSearchSpec.SummarySpec.ignore_non_answer_seeking_query] is set to `true`.",
              "The time out case. Google skips the summary if the time out."
            ]
          }
        },
        "summaryText": {
          "type": "string",
          "description": "The summary content."
        },
        "safetyAttributes": {
          "description": "A collection of Safety Attribute categories and their associated confidence scores.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySafetyAttributes"
        },
        "summaryWithMetadata": {
          "description": "Summary with metadata information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary",
      "description": "Summary of the top N search results specified by the summary spec."
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig": {
      "properties": {
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        },
        "modelArmorConfig": {
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
        },
        "observabilityConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaObservabilityConfig",
          "description": "Optional. Observability config for NotebookLM."
        }
      },
      "type": "object",
      "description": "Configuration for NotebookLM.",
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaImageCharacteristics": {
      "id": "GoogleCloudDiscoveryengineV1alphaImageCharacteristics",
      "description": "Standard characteristics of an image media view.",
      "type": "object",
      "properties": {
        "width": {
          "description": "Output only. Image width in pixels.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Image height in pixels.",
          "readOnly": true
        },
        "colorSpace": {
          "readOnly": true,
          "description": "Output only. Color space of the image (e.g., \"RGB\", \"CMYK\", \"Grayscale\").",
          "enum": [
            "COLOR_SPACE_UNSPECIFIED",
            "RGB",
            "CMYK",
            "GRAYSCALE",
            "YUV",
            "OTHER_COLOR_SPACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Unknown color space.",
            "Red, green, blue colorspace.",
            "Cyan, magenta, yellow, and black colorspace.",
            "Grayscale colorspace.",
            "YUV colorspace.",
            "Other colorspace."
          ]
        },
        "bitDepth": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Bit depth of the image (e.g., 8-bit, 16-bit)."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression",
      "description": "The expression denoting the filter that was extracted from the input query.",
      "properties": {
        "numberConstraint": {
          "description": "Numerical constraint expression.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint"
        },
        "orExpr": {
          "description": "Logical \"Or\" compound operator connecting multiple expressions.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression"
        },
        "andExpr": {
          "description": "Logical \"And\" compound operator connecting multiple expressions.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression"
        },
        "stringConstraint": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
          "description": "String constraint expression."
        },
        "geolocationConstraint": {
          "description": "Geolocation constraint expression.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterGeolocationConstraint"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSitemapMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSitemapMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaCannedQuery": {
      "description": "Canned query resource of Assistant. It represents a short-cut to a predefined conversation start.",
      "id": "GoogleCloudDiscoveryengineV1alphaCannedQuery",
      "type": "object",
      "properties": {
        "requiredCapabilities": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryAssistantCapability"
          },
          "description": "Optional. The capabilities the Assistant needs to have to use this canned query.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the canned query. It must be a UTF-8 encoded string with a length limit of 128 characters."
        },
        "localizedTexts": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryCannedQueryTexts"
          },
          "type": "object",
          "description": "Optional. The translations of the text attributes. The keys should be BCP-47 language codes."
        },
        "defaultTexts": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryCannedQueryTexts",
          "description": "Required. The default (non-localized) values for the text attributes."
        },
        "googleDefined": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this is a Google-defined, read-only canned query."
        },
        "enabled": {
          "description": "Whether this canned query is enabled.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the canned query. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}/cannedQueries/{canned_query}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DeleteCollectionMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteCollectionMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig",
      "description": "Configuration for chunking config.",
      "properties": {
        "layoutBasedChunkingConfig": {
          "description": "Configuration for the layout based chunking.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`."
        },
        "optimizationObjectiveConfig": {
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
        },
        "trainingState": {
          "type": "string",
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ],
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before."
        },
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        },
        "optimizationObjective": {
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`",
          "type": "string"
        }
      },
      "description": "Additional config specs for a Media Recommendation engine.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig": {
      "description": "Configuration message for the Knowledge Graph.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig",
      "type": "object",
      "properties": {
        "enablePrivateKnowledgeGraph": {
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig"
        },
        "privateKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specify entity types to support."
        },
        "cloudKnowledgeGraphTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specify entity types to support."
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics": {
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
      "description": "Stores the metric values at specific top-k levels.",
      "properties": {
        "top10": {
          "format": "double",
          "description": "The top-10 value.",
          "type": "number"
        },
        "top5": {
          "type": "number",
          "description": "The top-5 value.",
          "format": "double"
        },
        "top3": {
          "format": "double",
          "type": "number",
          "description": "The top-3 value."
        },
        "top1": {
          "type": "number",
          "description": "The top-1 value.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteTargetSiteMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSchemaMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSchemaMetadata",
      "description": "Metadata for UpdateSchema LRO."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAsYouTypeSpec": {
      "properties": {
        "condition": {
          "description": "The condition under which search as you type should occur. Default to Condition.DISABLED.",
          "enumDescriptions": [
            "Server behavior defaults to Condition.DISABLED.",
            "Disables Search As You Type.",
            "Enables Search As You Type.",
            "Automatic switching between search-as-you-type and standard search modes, ideal for single-API implementations (e.g., debouncing)."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "AUTO"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAsYouTypeSpec",
      "type": "object",
      "description": "Specification for search as you type in search requests."
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSiteMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaDataStore": {
      "properties": {
        "advancedSiteSearchConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig",
          "description": "Optional. Configuration for advanced site search."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp the DataStore was created at."
        },
        "solutionTypes": {
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ],
            "type": "string",
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ]
          },
          "type": "array",
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled."
        },
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "isInfobotFaqDataStore": {
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore.",
          "type": "boolean"
        },
        "documentProcessingConfig": {
          "description": "Configuration for Document understanding and enrichment.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfig"
        },
        "defaultSchemaId": {
          "type": "string",
          "description": "Output only. The id of the default Schema associated to this data store.",
          "readOnly": true
        },
        "servingConfigDataStore": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore",
          "description": "Optional. Stores serving config at DataStore level."
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig"
        },
        "configurableBillingApproach": {
          "type": "string",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ],
          "description": "Optional. Configuration for configurable billing approach. See",
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ]
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig"
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1betaSchema"
        },
        "identityMappingStore": {
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`.",
          "type": "string"
        },
        "contentConfig": {
          "type": "string",
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ],
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ]
        },
        "industryVertical": {
          "type": "string",
          "description": "Immutable. The industry vertical that the data store registers.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ]
        },
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the DataStore.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig"
        },
        "aclEnabled": {
          "type": "boolean",
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config."
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig",
          "description": "Optional. Configuration for Natural Language Query Understanding."
        },
        "configurableBillingApproachUpdateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when configurable_billing_approach was last updated.",
          "format": "google-datetime"
        },
        "workspaceConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig",
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE."
        },
        "languageInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaLanguageInfo",
          "description": "Language info for DataStore."
        },
        "billingEstimation": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation",
          "description": "Output only. Data size estimation for billing."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field."
        },
        "name": {
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "DataStore captures global settings and configs at the DataStore level.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStore"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext": {
      "description": "Document context.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext",
      "properties": {
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "content": {
          "description": "Document content to be used for answer generation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaTuneEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaTuneEngineMetadata",
      "properties": {
        "engine": {
          "description": "Required. The resource name of the engine that this tune applies to. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`",
          "type": "string"
        }
      },
      "description": "Metadata associated with a tune operation.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaIdpConfig": {
      "type": "object",
      "properties": {
        "idpType": {
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ],
          "description": "Identity provider type configured."
        },
        "externalIdpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfigExternalIdpConfig",
          "description": "External Identity provider config."
        }
      },
      "description": "Identity Provider Config.",
      "id": "GoogleCloudDiscoveryengineV1betaIdpConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute",
      "type": "object",
      "properties": {
        "attributeKey": {
          "type": "string",
          "description": "Attribute key used to refine the results. For example, `\"movie_type\"`."
        },
        "attributeValue": {
          "type": "string",
          "description": "Attribute value used to refine the results. For example, `\"drama\"`."
        }
      },
      "description": "Useful attribute for search result refinements."
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "boostAmount": {
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number"
        },
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern": {
      "properties": {
        "providedUriPattern": {
          "description": "User provided URI pattern. For example, `foo.com/bar/*`.",
          "type": "string"
        },
        "exclusive": {
          "description": "Whether the pattern is exclusive or not. If set to true, the pattern is considered exclusive. If unset or set to false, the pattern is considered inclusive by default.",
          "type": "boolean"
        },
        "exactMatch": {
          "description": "Whether we infer the generated URI or use the exact provided one.",
          "type": "boolean"
        }
      },
      "description": "URI patterns that we use to crawl.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentFile": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The media type (MIME type) of the file."
        },
        "fileId": {
          "description": "Required. The file ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A file, e.g., an audio summary.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentFile"
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata": {
      "description": "Metadata related to the progress of the CrawlRateManagementService.SetDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus": {
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month).",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus",
      "properties": {
        "startTime": {
          "description": "Optional. The start time of the currently active billing subscription.",
          "format": "google-datetime",
          "type": "string"
        },
        "effectiveSearchQpmThreshold": {
          "format": "int64",
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations.",
          "type": "string"
        },
        "terminateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions."
        },
        "searchQpmThresholdNextUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded.",
          "readOnly": true,
          "type": "string"
        },
        "indexingCoreThresholdNextUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded."
        },
        "effectiveIndexingCoreThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantToolInfo": {
      "id": "GoogleCloudDiscoveryengineV1AssistantToolInfo",
      "description": "Information to identify a tool.",
      "properties": {
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        },
        "toolName": {
          "type": "string",
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelRequestGcsTrainingInput": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelRequestGcsTrainingInput",
      "description": "Cloud Storage training data input.",
      "properties": {
        "queryDataPath": {
          "description": "The gcs query data which could be associated in train data. The data path format is `gs:///`. A newline delimited jsonl/ndjson file. For search-tuning model, each line should have the _id and text. Example: {\"_id\": \"query1\", \"text\": \"example query\"}",
          "type": "string"
        },
        "testDataPath": {
          "type": "string",
          "description": "Cloud Storage test data. Same format as train_data_path. If not provided, a random 80/20 train/test split will be performed on train_data_path."
        },
        "trainDataPath": {
          "description": "Cloud Storage training data path whose format should be `gs:///`. The file should be in tsv format. Each line should have the doc_id and query_id and score (number). For search-tuning model, it should have the query-id corpus-id score as tsv file header. The score should be a number in `[0, inf+)`. The larger the number is, the more relevant the pair is. Example: * `query-id\\tcorpus-id\\tscore` * `query1\\tdoc1\\t1`",
          "type": "string"
        },
        "corpusDataPath": {
          "description": "The Cloud Storage corpus data which could be associated in train data. The data path format is `gs:///`. A newline delimited jsonl/ndjson file. For search-tuning model, each line should have the _id, title and text. Example: `{\"_id\": \"doc1\", title: \"relevant doc\", \"text\": \"relevant text\"}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRequirementMetricBinding": {
      "properties": {
        "variableId": {
          "type": "string",
          "description": "The variable id to be referenced in `condition`."
        },
        "resourceType": {
          "type": "string",
          "description": "The resource being monitored for the metric."
        },
        "metricFilter": {
          "description": "The filter string used for metrics query. Example: \"metric.type = \\\"discoveryengine.googleapis.com/events/day_count\\\" AND \" \"metric.conditions.time_range = \\\"NINETY_DAYS\\\"\"",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the corresponding metric filter."
        },
        "category": {
          "type": "string",
          "description": "The category of the metric's target resource. Example: \"Events\""
        }
      },
      "description": "Specifies a metrics query and bind its result to a variable which will be used in the `condition`.",
      "id": "GoogleCloudDiscoveryengineV1alphaRequirementMetricBinding",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest": {
      "type": "object",
      "properties": {
        "licenseConfig": {
          "description": "Required. Full resource name of LicenseConfig. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config_id}`.",
          "type": "string"
        },
        "fullRetract": {
          "description": "Optional. If set to true, retract the entire license config. Otherwise, retract the specified license count.",
          "type": "boolean"
        },
        "licenseCount": {
          "description": "Optional. The number of licenses to retract. Only used when full_retract is false.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Request message for LicenseConfigService.RetractLicenseConfig method.",
      "id": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest"
    },
    "GoogleCloudNotebooklmV1alphaSource": {
      "id": "GoogleCloudNotebooklmV1alphaSource",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title of the source.",
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "$ref": "GoogleCloudNotebooklmV1alphaSourceMetadata",
          "description": "Output only. Metadata about the source."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The full resource name of the source. Format: `projects/{project}/locations/{location}/notebooks/{notebook}/sources/{source_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "sourceId": {
          "readOnly": true,
          "description": "Optional. Output only. Source id, which is the last segment of the source's resource name.",
          "$ref": "GoogleCloudNotebooklmV1alphaSourceId"
        },
        "settings": {
          "description": "Output only. Status of the source, and any failure reasons.",
          "readOnly": true,
          "$ref": "GoogleCloudNotebooklmV1alphaSourceSettings"
        }
      },
      "description": "Source represents a single source of content."
    },
    "GoogleCloudDiscoveryengineV1alphaSpannerSource": {
      "description": "The Spanner source for importing data",
      "id": "GoogleCloudDiscoveryengineV1alphaSpannerSource",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The project ID that contains the Spanner source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "instanceId": {
          "description": "Required. The instance ID of the source Spanner table.",
          "type": "string"
        },
        "enableDataBoost": {
          "type": "boolean",
          "description": "Whether to apply data boost on Spanner export. Enabling this option will incur additional cost. More info can be found [here](https://cloud.google.com/spanner/docs/databoost/databoost-overview#billing_and_quotas)."
        },
        "databaseId": {
          "type": "string",
          "description": "Required. The database ID of the source Spanner table."
        },
        "tableId": {
          "description": "Required. The table name of the Spanner database that needs to be imported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorFederatedConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorFederatedConfig",
      "properties": {
        "jsonAuthParams": {
          "type": "string",
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors in json string format."
        },
        "authParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "additionalParams": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Any additional parameters needed for FEDERATED.",
          "type": "object"
        }
      },
      "description": "Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode."
    },
    "GoogleCloudDiscoveryengineV1betaAclConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfig",
          "description": "Identity provider config."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAclConfig",
      "description": "Access Control Configuration."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "type": "object",
      "properties": {
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "excludeHtmlElements": {
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "structuredContentTypes": {
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeHtmlClasses": {
          "type": "array",
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        },
        "excludeHtmlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML ids to exclude from the parsed content."
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. If true, the pdf layout will be refined using an LLM.",
          "type": "boolean"
        }
      },
      "description": "The layout parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig": {
      "properties": {
        "disablePrivateKgAutoComplete": {
          "type": "boolean",
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUiChips": {
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUnderstanding": {
          "type": "boolean",
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig",
      "type": "object",
      "description": "Feature config for the Knowledge Graph."
    },
    "GoogleCloudDiscoveryengineV1alphaAcquireAccessTokenRequest": {
      "properties": {},
      "description": "Request message for the DataConnectorService.AcquireAccessToken method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAcquireAccessTokenRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec": {
      "description": "A specification for configuring the behavior of content search.",
      "properties": {
        "chunkSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecChunkSpec",
          "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS"
        },
        "extractiveContentSpec": {
          "description": "If there is no extractive_content_spec provided, there will be no extractive answer in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec"
        },
        "summarySpec": {
          "description": "If `summarySpec` is not specified, summaries are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec"
        },
        "snippetSpec": {
          "description": "If `snippetSpec` is not specified, snippets are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec"
        },
        "searchResultMode": {
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`.",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteEngineMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteEngineMetadata",
      "description": "Metadata related to the progress of the EngineService.DeleteEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "properties": {
        "configurableBillingStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
          "description": "Output only. The current status of the project's configurable billing."
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig"
        },
        "createTime": {
          "description": "Output only. The timestamp when this project is created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "type": "string"
        },
        "provisionCompletionTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use."
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "type": "object",
      "description": "Metadata and configurations for a Google Cloud project in the service."
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsResponse",
      "properties": {
        "joinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported with complete existing Documents."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSessionRequest": {
      "properties": {
        "name": {
          "description": "Required. The resource name of the Session to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/sessions/{session_id}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSessionRequest",
      "description": "Request for DeleteSession method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResultRankSignalsCustomSignal": {
      "description": "Custom clearbox signal represented by name and value pair.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the signal."
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "Optional. Float value representing the ranking signal (e.g. 1.25 for BM25)."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResultRankSignalsCustomSignal",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. The Sensitive Data Protection policy resource name."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata": {
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "description": "Count of entries that were deleted successfully.",
          "format": "int64"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        },
        "ignoredCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were ignored as entries were not found."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonMimeTypeBlocked": {
      "properties": {},
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonMimeTypeBlocked",
      "type": "object",
      "description": "Indicates that the source MIME type is blocked."
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRun": {
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRun",
      "properties": {
        "trigger": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "ConnectorRun triggered by scheduler if connector has PERIODIC sync mode.",
            "ConnectorRun auto triggered by connector initialization.",
            "ConnectorRun auto triggered by resuming connector.",
            "ConnectorRun triggered by user manually."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "SCHEDULER",
            "INITIALIZATION",
            "RESUME",
            "MANUAL"
          ],
          "readOnly": true,
          "description": "Output only. The trigger for this ConnectorRun."
        },
        "stateUpdateTime": {
          "type": "string",
          "description": "Timestamp at which the connector run sync state was last updated.",
          "format": "google-datetime"
        },
        "entityRuns": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun"
          },
          "description": "Output only. The details of the entities synced at the ConnectorRun. Each ConnectorRun consists of syncing one or more entities.",
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ],
          "description": "Output only. The state of the sync run.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the connector run ended.",
          "readOnly": true,
          "type": "string"
        },
        "latestPauseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the connector run was most recently paused.",
          "readOnly": true
        },
        "errors": {
          "description": "Contains info about errors incurred during the sync. Only exist if running into an error state. Contains error code and error message. Use with the `state` field.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the connector run started."
        }
      },
      "description": "A data sync run of DataConnector. After DataConnector is successfully initialized, data syncs are scheduled at DataConnector.refresh_interval. A ConnectorRun represents a data sync either in the past or onging that the moment. //",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesMetadata",
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaProvisionProjectMetadata": {
      "description": "Metadata associated with a project provision operation.",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaProvisionProjectMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaListEvaluationResultsResponse": {
      "type": "object",
      "description": "Response message for EvaluationService.ListEvaluationResults method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListEvaluationResultsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "evaluationResults": {
          "description": "The evaluation results for the SampleQuerys.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaListEvaluationResultsResponseEvaluationResult"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The scopes to request. Example: `https://www.googleapis.com/auth/calendar.events` If omitted, no additional scopes are requested beyond those required by the authorization uri. If set, it will overwrite the scopes in the authorization uri when acquiring user authorization."
        },
        "tokenUri": {
          "description": "Required. The HTTP endpoint that exchanges a client authorization for an access token.",
          "type": "string"
        },
        "pkceVerificationEnabled": {
          "description": "Optional. Whether to enable PKCE verification. https://datatracker.ietf.org/doc/html/rfc7636#section-3.1/",
          "type": "boolean"
        },
        "clientId": {
          "description": "Required. The OAuth2 client ID.",
          "type": "string"
        },
        "authorizationUri": {
          "description": "Required. The URI the user is directed to when they need to authorize. Should include everything required for a successful authorization: OAuth ID, extra flags, etc. Example: `https://accounts.google.com/o/oauth2/v2/auth?client_id=OAUTH_ID&scope=https://www.googleapis.com/auth/calendar.events&response_type=code&access_type=offline&prompt=consent` The `redirect_uri` parameter will be overwritten by the Vertex AI Search frontend.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Required. The OAuth2 client secret. Encrypted at rest.",
          "type": "string"
        }
      },
      "description": "OAuth2 configuration."
    },
    "GoogleCloudDiscoveryengineV1alphaLicenseConfigUsageStats": {
      "description": "Stats about users' licenses.",
      "properties": {
        "usedLicenseCount": {
          "format": "int64",
          "description": "Required. The number of licenses used.",
          "type": "string"
        },
        "licenseConfig": {
          "description": "Required. The LicenseConfig name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaLicenseConfigUsageStats",
      "type": "object"
    },
[...]
