{
  "description": "Discovery Engine API.",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "discoveryengine:v1alpha",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "title": "Discovery Engine API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "version": "v1alpha",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in"
    }
  ],
  "batchPath": "batch",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudDiscoveryengineLoggingImportErrorContext": {
      "description": "The error payload that is populated on LRO import APIs, including the following: * `google.cloud.discoveryengine.v1alpha.DocumentService.ImportDocuments` * `google.cloud.discoveryengine.v1alpha.UserEventService.ImportUserEvents`",
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "description": "The operation resource name of the LRO."
        },
        "userEvent": {
          "description": "The detailed content which caused the error on importing a user event.",
          "type": "string"
        },
        "document": {
          "description": "The detailed content which caused the error on importing a document.",
          "type": "string"
        },
        "gcsPath": {
          "type": "string",
          "description": "Google Cloud Storage file path of the import source. Can be set for batch operation error."
        },
        "lineNumber": {
          "type": "string",
          "description": "Line number of the content in file. Should be empty for permission or batch operation error."
        }
      },
      "id": "GoogleCloudDiscoveryengineLoggingImportErrorContext"
    },
    "GoogleCloudDiscoveryengineV1alphaDistributeLicenseConfigRequest": {
      "properties": {
        "projectNumber": {
          "description": "Required. The target GCP project number to distribute the license config to.",
          "type": "string",
          "format": "int64"
        },
        "licenseCount": {
          "description": "Required. The number of licenses to distribute.",
          "format": "int64",
          "type": "string"
        },
        "location": {
          "description": "Required. The target GCP project region to distribute the license config to.",
          "type": "string"
        },
        "licenseConfigId": {
          "description": "Optional. Distribute seats to this license config instead of creating a new one. If not specified, a new license config will be created from the billing account license config.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDistributeLicenseConfigRequest",
      "type": "object",
      "description": "Request message for LicenseConfigService.DistributeLicenseConfig method."
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingRequest": {
      "description": "Request message for GroundedGenerationService.CheckGrounding method.",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingRequest",
      "type": "object",
      "properties": {
        "answerCandidate": {
          "description": "Answer candidate to check. It can have a maximum length of 4096 tokens.",
          "type": "string"
        },
        "facts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaGroundingFact"
          },
          "description": "List of facts for the grounding check. We support up to 200 facts.",
          "type": "array"
        },
        "groundingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingSpec",
          "description": "Configuration of the grounding check."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfig": {
      "description": "WidgetConfig captures configs at the Widget level.",
      "properties": {
        "nodes": {
          "description": "Output only. The nodes associated with the Widget Config.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigNode"
          }
        },
        "fieldsUiComponentsMap": {
          "description": "The key is the UI component. Mock. Currently supported `title`, `thumbnail`, `url`, `custom1`, `custom2`, `custom3`. The value is the name of the field along with its device visibility. The 3 custom fields are optional and can be added or removed. `title`, `thumbnail`, `url` are required UI components that cannot be removed.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUIComponentField"
          },
          "deprecated": true
        },
        "minimumDataTermAccepted": {
          "readOnly": true,
          "description": "Output only. Whether the customer accepted data use terms.",
          "type": "boolean"
        },
        "enablePrivateKnowledgeGraph": {
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. Whether to enable private knowledge graph."
        },
        "llmEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether LLM is enabled in the corresponding data store."
        },
        "dataStoreUiConfigs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreUiConfig"
          },
          "description": "Configurable UI configurations per data store.",
          "type": "array",
          "deprecated": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp the WidgetConfig was updated."
        },
        "collectionComponents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigCollectionComponent"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Collection components that lists all collections and child data stores associated with the widget config, those data sources can be used for filtering in widget service APIs, users can return results that from selected data sources."
        },
        "homepageSetting": {
          "description": "Optional. Describes the homepage settings of the widget.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigHomepageSetting"
        },
        "enableConversationalSearch": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether to allow conversational search (LLM, multi-turn) or not (non-LLM, single-turn)."
        },
        "industryVertical": {
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "description": "Output only. The industry vertical that the WidgetConfig registers. The WidgetConfig industry vertical is based on the associated Engine."
        },
        "enableSearchAsYouType": {
          "description": "Whether to enable search-as-you-type behavior for the search widget",
          "deprecated": true,
          "type": "boolean"
        },
        "enableAutocomplete": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether or not to enable autocomplete."
        },
        "defaultSearchRequestOrderBy": {
          "type": "string",
          "description": "The default ordering for search results if specified. Used to set SearchRequest#order_by on applicable requests. https://cloud.google.com/generative-ai-app-builder/docs/reference/rest/v1alpha/projects.locations.dataStores.servingConfigs/search#request-body",
          "deprecated": true
        },
        "enableSummarization": {
          "description": "Turn on or off summarization for the search response.",
          "type": "boolean",
          "deprecated": true
        },
        "contentSearchSpec": {
          "deprecated": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec",
          "description": "The content search spec that configs the desired behavior of content search."
        },
        "name": {
          "description": "Immutable. The full resource name of the widget config. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/widgetConfigs/{widget_config_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The human readable widget config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "solutionType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "description": "Required. Immutable. Specifies the solution type that this WidgetConfig can be used for.",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "enableResultScore": {
          "description": "Whether to show the result score.",
          "type": "boolean"
        },
        "configId": {
          "type": "string",
          "description": "Output only. Unique obfuscated identifier of a WidgetConfig.",
          "readOnly": true
        },
        "dataStoreType": {
          "description": "Output only. The type of the parent data store.",
          "enumDescriptions": [
            "Unspecified data store type.",
            "The parent data store contains a site search engine.",
            "The parent data store contains a search engine for structured data.",
            "The parent data store contains a search engine for unstructured data.",
            "The parent data store is served for blended search with multiple data stores."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "SITE_SEARCH",
            "STRUCTURED",
            "UNSTRUCTURED",
            "BLENDED"
          ]
        },
        "enableSafeSearch": {
          "description": "Whether to enable safe search.",
          "type": "boolean",
          "deprecated": true
        },
        "uiSettings": {
          "description": "Describes general widget search settings as seen in cloud console widget configuration page. Replaces top deprecated top level properties.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettings"
        },
        "enableWebApp": {
          "type": "boolean",
          "deprecated": true,
          "description": "Whether to enable standalone web app."
        },
        "allowPublicAccess": {
          "deprecated": true,
          "description": "Whether allow no-auth integration with widget. If set true, public access to search or other solutions from widget is allowed without authenication token provided by customer hosted backend server.",
          "type": "boolean"
        },
        "allowlistedDomains": {
          "description": "Allowlisted domains that can load this widget.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableQualityFeedback": {
          "type": "boolean",
          "description": "Turn on or off collecting the search result quality feedback from end users.",
          "deprecated": true
        },
        "geminiBundle": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the subscription is gemini bundle or not."
        },
        "customerProvidedConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigCustomerProvidedConfig",
          "description": "Optional. Output only. Describes the customer related configurations, currently only used for government customers. This field cannot be modified after project onboarding.",
          "readOnly": true
        },
        "assistantSettings": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigAssistantSettings",
          "description": "Optional. Output only. Describes the assistant settings of the widget."
        },
        "createTime": {
          "description": "Output only. Timestamp the WidgetConfig was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "facetField": {
          "type": "array",
          "description": "The configuration and appearance of facets in the end user view.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField"
          }
        },
        "resultDisplayType": {
          "enum": [
            "RESULT_DISPLAY_TYPE_UNSPECIFIED",
            "SNIPPET",
            "EXTRACTIVE_ANSWER"
          ],
          "deprecated": true,
          "type": "string",
          "description": "The type of snippet to display in UCS widget. - RESULT_DISPLAY_TYPE_UNSPECIFIED for existing users. - SNIPPET for new non-enterprise search users. - EXTRACTIVE_ANSWER for new enterprise search users.",
          "enumDescriptions": [
            "Unspecified display type (default to showing snippet).",
            "Display results from the snippet field.",
            "Display results from extractive answers field."
          ]
        },
        "accessSettings": {
          "description": "Will be used for all widget access settings seen in cloud console integration page. Replaces top deprecated top level properties.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigAccessSettings"
        },
        "uiBranding": {
          "description": "Describes search widget UI branding settings, such as the widget title, logo, favicons, and colors.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiBrandingSettings"
        },
        "enableSnippetResultSummary": {
          "description": "Turn on or off summary for each snippets result.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent": {
      "properties": {
        "blobAttachmentIndexes": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "relevanceScore": {
          "type": "number",
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation."
        },
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent",
      "description": "Chunk content."
    },
    "GoogleMonitoringV3TypedValue": {
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "A Boolean value: `true` or `false`."
        },
        "int64Value": {
          "description": "A 64-bit integer. Its range is approximately ±9.2x1018.",
          "format": "int64",
          "type": "string"
        },
        "distributionValue": {
          "description": "A distribution value.",
          "$ref": "GoogleApiDistribution"
        },
        "doubleValue": {
          "format": "double",
          "description": "A 64-bit double-precision floating-point number. Its magnitude is approximately ±10±300 and it has 16 significant digits of precision.",
          "type": "number"
        },
        "stringValue": {
          "description": "A variable-length string value.",
          "type": "string"
        }
      },
      "id": "GoogleMonitoringV3TypedValue",
      "description": "A single strongly-typed value.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreUiConfig": {
      "properties": {
        "facetField": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField"
          },
          "type": "array",
          "description": "Facet fields that store the mapping of fields to end user widget appearance."
        },
        "fieldsUiComponentsMap": {
          "type": "object",
          "description": "The key is the UI component. Mock. Currently supported `title`, `thumbnail`, `url`, `custom1`, `custom2`, `custom3`. The value is the name of the field along with its device visibility. The 3 custom fields are optional and can be added or removed. `title`, `thumbnail`, `url` are required UI components that cannot be removed.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUIComponentField"
          }
        },
        "id": {
          "readOnly": true,
          "description": "Output only. the identifier of the data store, used for widget service. For now it refers to data_store_id, in the future we will migrate the field to encrypted data store name UUID.",
          "type": "string"
        },
        "name": {
          "description": "The name of the data store. It should be data store resource name Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreUiConfig",
      "description": "UI component configuration for data store.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepAction": {
      "properties": {
        "searchAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction",
          "description": "Search action."
        },
        "observation": {
          "description": "Observation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction",
      "type": "object",
      "description": "Action."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression": {
      "properties": {
        "expressions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
          },
          "description": "The expressions that were ORed together.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression",
      "type": "object",
      "description": "Logical `Or` operator."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReference": {
      "type": "object",
      "description": "Reference.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReference",
      "properties": {
        "structuredDocumentInfo": {
          "description": "Structured document information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceStructuredDocumentInfo"
        },
        "chunkInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo",
          "description": "Chunk information."
        },
        "unstructuredDocumentInfo": {
          "description": "Unstructured document information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaContactDetails": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Optional. The email address of the contact."
        }
      },
      "description": "The contact info stored in resource level. If both project level and resource level is populated, the resource level contact info will override the project level contact info.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaContactDetails"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonDomainBlocked": {
      "type": "object",
      "description": "Error to indicate that the source was removed because the domain was blocked.",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonDomainBlocked",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec",
      "description": "Specifies features for display, like match highlighting.",
      "properties": {
        "matchHighlightingCondition": {
          "description": "The condition under which match highlighting should occur.",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
      "properties": {
        "fieldName": {
          "description": "The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "attributeType": {
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ],
          "type": "string",
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "description": "The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "controlPoints": {
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig",
      "type": "object",
      "properties": {
        "timeWindowDays": {
          "description": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Feature configurations that are required for creating a Most Popular engine."
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaControlPromoteAction": {
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Data store with which this promotion is attached to."
        },
        "searchLinkPromotion": {
          "description": "Required. Promotion attached to this action.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction",
      "type": "object",
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store."
    },
    "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata": {
      "type": "object",
      "description": "Metadata for DataConnectorService.SetUpDataConnector method.",
      "id": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec": {
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
      "description": "Boost specification to boost certain documents.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "description": "Specification of the model.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesResponse": {
      "type": "object",
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesResponse",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "purgeCount": {
          "description": "Number of suggestion deny list entries purged.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "description": "Specifies features for display, like match highlighting.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "properties": {
        "matchHighlightingCondition": {
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "description": "The condition under which match highlighting should occur."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDestinationConfig",
      "description": "Defines target endpoints used to connect to third-party sources.",
      "properties": {
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Additional parameters for this destination config in structured json format."
        },
        "destinations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination"
          },
          "type": "array",
          "description": "Optional. The destinations for the corresponding key."
        },
        "jsonParams": {
          "type": "string",
          "description": "Additional parameters for this destination config in json string format."
        },
        "key": {
          "description": "Optional. Unique destination identifier that is supported by the connector.",
          "type": "string"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleCloudNotebooklmV1alphaSourceSettings": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "SOURCE_STATUS_UNSPECIFIED",
            "SOURCE_STATUS_PENDING",
            "SOURCE_STATUS_COMPLETE",
            "SOURCE_STATUS_ERROR",
            "SOURCE_STATUS_PENDING_DELETION",
            "SOURCE_STATUS_TENTATIVE"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "The source is pending addition.",
            "Source addition is complete and successful.",
            "Source addition has permanently failed.",
            "The source is pending deletion.",
            "The user is attempting to add a source, but we have not yet uploaded it or checked user limits. Does not count towards the user's source limit."
          ],
          "description": "Status of the source."
        },
        "failureReason": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReason",
          "description": "Failure reason containing details about why a source failed to ingest."
        }
      },
      "description": "Allows extension of Source Settings in the BatchCreateSources (Formerly AddSource request).",
      "id": "GoogleCloudNotebooklmV1alphaSourceSettings"
    },
    "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestToolsSpecVertexAiSearchSpec": {
      "description": "Specification of the Vertex AI Search tool.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestToolsSpecVertexAiSearchSpec",
      "properties": {
        "dataStoreSpecs": {
          "description": "Optional. Specs defining DataStores to filter on in a search call and configurations for those data stores. This is only considered for Engines with multiple data stores.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec"
          }
        },
        "filter": {
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SiteVerificationInfo": {
      "id": "GoogleCloudDiscoveryengineV1SiteVerificationInfo",
      "properties": {
        "verifyTime": {
          "description": "Latest site verification time.",
          "format": "google-datetime",
          "type": "string"
        },
        "siteVerificationState": {
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ],
          "description": "Site verification state indicating the ownership and validity.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ]
        }
      },
      "description": "Verification information for target sites in advanced site search.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpec": {
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint"
          }
        },
        "interpolationType": {
          "type": "string",
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpec",
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata",
      "properties": {
        "mimeType": {
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        },
        "structData": {
          "type": "object",
          "description": "Data representation. The structured JSON data for the document. It should conform to the registered Schema or an `INVALID_ARGUMENT` error is thrown.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "title": {
          "description": "Title of the document.",
          "type": "string"
        },
        "uri": {
          "description": "Uri of the document.",
          "type": "string"
        }
      },
      "description": "Document metadata contains the information of the document of the current chunk."
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSource": {
      "description": "Data source is a set of website patterns that we crawl to get the total number of websites.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSource",
      "properties": {
        "estimatorUriPatterns": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern"
          },
          "type": "array",
          "description": "Required. The URI patterns to estimate the data sizes. At most 10 patterns are allowed, otherwise an INVALID_ARGUMENT error is thrown."
        }
      }
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeErrorVideoDeleted": {
      "properties": {},
      "description": "Error to indicate that the source was removed because the video was deleted.",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeErrorVideoDeleted",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse",
      "properties": {
        "metricUsages": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponseMetricUsage"
          },
          "description": "A list of metric usages, one for each requested resource type that has data in the requested time range.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for [ProjectService.QueryConfigurablePricingUsageStats] method."
    },
    "GoogleCloudDiscoveryengineV1alphaImportAgentFileResponse": {
      "description": "Response for the AgentService.ImportAgentFile method.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportAgentFileResponse",
      "type": "object",
      "properties": {
        "agentFile": {
          "description": "The imported AgentFile.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentFile"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2": {
      "type": "object",
      "description": "OAuth2 configuration.",
      "id": "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2",
      "properties": {
        "pkceVerificationEnabled": {
          "description": "Optional. Whether to enable PKCE verification. https://datatracker.ietf.org/doc/html/rfc7636#section-3.1/",
          "type": "boolean"
        },
        "authorizationUri": {
          "description": "Required. The URI the user is directed to when they need to authorize. Should include everything required for a successful authorization: OAuth ID, extra flags, etc. Example: `https://accounts.google.com/o/oauth2/v2/auth?client_id=OAUTH_ID&scope=https://www.googleapis.com/auth/calendar.events&response_type=code&access_type=offline&prompt=consent` The `redirect_uri` parameter will be overwritten by the Vertex AI Search frontend.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Required. The OAuth2 client secret. Encrypted at rest.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The scopes to request. Example: `https://www.googleapis.com/auth/calendar.events` If omitted, no additional scopes are requested beyond those required by the authorization uri. If set, it will overwrite the scopes in the authorization uri when acquiring user authorization."
        },
        "clientId": {
          "description": "Required. The OAuth2 client ID.",
          "type": "string"
        },
        "tokenUri": {
          "description": "Required. The HTTP endpoint that exchanges a client authorization for an access token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConversationMessage": {
      "properties": {
        "userInput": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTextInput",
          "description": "User text input."
        },
        "reply": {
          "description": "Search reply.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaReply"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Message creation timestamp.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Defines a conversation message.",
      "id": "GoogleCloudDiscoveryengineV1alphaConversationMessage",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaConverseConversationResponse": {
      "properties": {
        "conversation": {
          "description": "Updated conversation including the answer.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
        },
        "relatedQuestions": {
          "items": {
            "type": "string"
          },
          "description": "Suggested related questions.",
          "type": "array"
        },
        "reply": {
          "description": "Answer to the current query.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaReply"
        },
        "searchResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          },
          "description": "Search Results."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaConverseConversationResponse",
      "description": "Response message for ConversationalSearchService.ConverseConversation method."
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField",
      "description": "Facet fields that store the mapping of fields to end user widget appearance.",
      "properties": {
        "field": {
          "type": "string",
          "description": "Required. Registered field name. The format is `field.abc`."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The field name that end users will see."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the ImportSampleQueries operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "ImportSampleQueries operation create time."
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of SampleQuerys that failed to be imported."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "ImportSampleQueries operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "description": "Count of SampleQuerys successfully imported.",
          "type": "string",
          "format": "int64"
        },
        "totalCount": {
          "description": "Total count of SampleQuerys that were processed.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaFactChunk": {
      "description": "Fact Chunk.",
      "id": "GoogleCloudDiscoveryengineV1alphaFactChunk",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the source.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the source."
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of this chunk. Currently, only used for the streaming mode."
        },
        "source": {
          "description": "Source from which this fact chunk was retrieved. If it was retrieved from the GroundingFacts provided in the request then this field will contain the index of the specific fact from which this chunk was retrieved.",
          "type": "string"
        },
        "chunkText": {
          "description": "Text content of the fact chunk. Can be at most 10K characters long.",
          "type": "string"
        },
        "sourceMetadata": {
          "type": "object",
          "description": "More fine-grained information for the source reference.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "domain": {
          "type": "string",
          "description": "The domain of the source."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "description": "Specification of the model.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "properties": {
        "version": {
          "type": "string",
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models)."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "properties": {
        "userPromptTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt."
        },
        "responseTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response."
        }
      },
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "type": "object"
    },
    "GoogleApiHttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleApiHttpBody"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteDataStoreMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteDataStoreMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSchema": {
      "description": "Defines the structure and layout of a type of document data.",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "structSchema": {
          "type": "object",
          "description": "The structured representation of the schema.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSchema",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteSchemaMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDeleteSchemaMetadata",
      "description": "Metadata for DeleteSchema LRO."
    },
    "GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata": {
      "description": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSampleQuerySet": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the SampleQuerySet was created at.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The full resource name of the SampleQuerySet, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The sample query set display name. This field must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "description": {
          "description": "The description of the SampleQuerySet.",
          "type": "string"
        }
      },
      "description": "A SampleQuerySet is the parent resource of SampleQuery, and contains the configurations shared by all SampleQuery under it.",
      "id": "GoogleCloudDiscoveryengineV1alphaSampleQuerySet",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "properties": {
        "policy": {
          "description": "Optional. The Sensitive Data Protection policy resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseQuerySuggestion": {
      "description": "Suggestions as search queries.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseQuerySuggestion",
      "properties": {
        "completableFieldPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model."
        },
        "dataStore": {
          "type": "array",
          "description": "The name of the dataStore that this suggestion belongs to.",
          "items": {
            "type": "string"
          }
        },
        "score": {
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "type": "number",
          "format": "double"
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference": {
      "description": "Reference to an Agent Gateway resource.",
      "id": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigNode": {
      "properties": {
        "outputSchema": {
          "description": "Output only. The output schema of the tool. This schema is expected to conform to the OpenAPI Schema standard (see https://spec.openapis.org/oas/v3.0.3.html/ and AIP-146). It describes the structure of the output produced by this node.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "readOnly": true
        },
        "iconUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An identifier or URL pointing to an icon representing this node type."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "Trigger type.",
            "Flow type.",
            "Connector type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRIGGER",
            "FLOW",
            "CONNECTOR"
          ],
          "description": "Output only. The type of the node.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A human readable name for the node."
        },
        "description": {
          "description": "Output only. A detailed description of what the node does.",
          "type": "string",
          "readOnly": true
        },
        "parameterSchema": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. The parameter schema of the tool. This schema is expected to conform to the OpenAPI Schema standard (see https://spec.openapis.org/oas/v3.0.3.html and AIP-146). It describes the expected structure of the parameters that this node accepts.",
          "readOnly": true,
          "type": "object"
        }
      },
      "description": "Represents a single reusable computational or logical unit.",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigNode",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectServiceTerms": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms",
      "description": "Metadata about the terms of service.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Whether the project has accepted/rejected the service terms or it is still pending.",
          "enum": [
            "STATE_UNSPECIFIED",
            "TERMS_ACCEPTED",
            "TERMS_PENDING",
            "TERMS_DECLINED"
          ],
          "enumDescriptions": [
            "The default value of the enum. This value is not actually used.",
            "The project has given consent to the terms of service.",
            "The project is pending to review and accept the terms of service.",
            "The project has declined or revoked the agreement to terms of service."
          ]
        },
        "declineTime": {
          "description": "The last time when the project declined or revoked the agreement to terms of service.",
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of this terms of service. Available terms: * `GA_DATA_USE_TERMS`: [Terms for data use](https://cloud.google.com/retail/data-use-terms). When using this as `id`, the acceptable version to provide is `2022-11-23`."
        },
        "version": {
          "description": "The version string of the terms of service. For acceptable values, see the comments for id above.",
          "type": "string"
        },
        "acceptTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time when the project agreed to the terms of service."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequest",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource"
        },
        "inlineSource": {
          "description": "The Inline source for the input content for suggestion deny list entries.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource"
        }
      },
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest": {
      "description": "Request message for LicenseConfigService.RetractLicenseConfig method.",
      "properties": {
        "licenseConfig": {
          "type": "string",
          "description": "Required. Full resource name of LicenseConfig. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config_id}`."
        },
        "licenseCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of licenses to retract. Only used when full_retract is false."
        },
        "fullRetract": {
          "description": "Optional. If set to true, retract the entire license config. Otherwise, retract the specified license count.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaBigtableOptions": {
      "properties": {
        "families": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaBigtableOptionsBigtableColumnFamily"
          },
          "type": "object",
          "description": "The mapping from family names to an object that contains column families level information for the given column family. If a family is not present in this map it will be ignored."
        },
        "keyFieldName": {
          "type": "string",
          "description": "The field name used for saving row key value in the document. The name has to match the pattern `a-zA-Z0-9*`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBigtableOptions",
      "description": "The Bigtable Options object that contains information to support the import.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata": {
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse": {
      "type": "object",
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestGroundingSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestGroundingSpec",
      "properties": {
        "includeGroundingSupports": {
          "type": "boolean",
          "description": "Optional. Specifies whether to include grounding_supports in the answer. The default value is `false`. When this field is set to `true`, returned answer will have `grounding_score` and will contain GroundingSupports for each claim."
        },
        "filteringLevel": {
          "type": "string",
          "description": "Optional. Specifies whether to enable the filtering based on grounding score and at what level.",
          "enum": [
            "FILTERING_LEVEL_UNSPECIFIED",
            "FILTERING_LEVEL_LOW",
            "FILTERING_LEVEL_HIGH"
          ],
          "enumDescriptions": [
            "Default is no filter",
            "Filter answers based on a low threshold.",
            "Filter answers based on a high threshold."
          ]
        }
      },
      "description": "Grounding specification."
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionError": {
      "description": "An audio file transcription specific error.",
      "properties": {
        "languageDetectionFailed": {
          "description": "Could not detect language of the file (it may not be speech).",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionErrorLanguageDetectionFailed"
        },
        "noAudioDetected": {
          "description": "No audio was detected in the input file (it may have been a video).",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionErrorNoAudioDetected"
        }
      },
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionError"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata": {
      "properties": {
        "citationMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata",
          "description": "Citation metadata for given summary."
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryReference"
          },
          "type": "array",
          "description": "Document References."
        },
        "blobAttachments": {
          "description": "Output only. Store multimodal data for answer enhancement.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryBlobAttachment"
          }
        },
        "summary": {
          "description": "Summary text with no citation information.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata",
      "type": "object",
      "description": "Summary with metadata information."
    },
    "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata"
    },
    "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy": {
      "properties": {
        "modelArmorConfig": {
          "description": "Optional. Model Armor configuration to be used for sanitizing user prompts and assistant responses.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig"
        },
        "bannedPhrases": {
          "type": "array",
          "description": "Optional. List of banned phrases.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyBannedPhrase"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy",
      "description": "Customer-defined policy for the assistant.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateSchemaMetadata": {
      "description": "Metadata for Create Schema LRO.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1CreateSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaControl": {
      "id": "GoogleCloudDiscoveryengineV1betaControl",
      "type": "object",
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "properties": {
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
          "type": "string"
        },
        "useCases": {
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH.",
          "items": {
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ],
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "conditions": {
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCondition"
          }
        },
        "redirectAction": {
          "$ref": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
          "description": "Defines a redirect-type control."
        },
        "solutionType": {
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "associatedServingConfigIds": {
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlBoostAction"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlFilterAction"
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlPromoteAction"
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlSynonymsAction"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "description": "Output only. The state of the response.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "description": "Data protection policy config for NotebookLM.",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. The sensitive data protection policy.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "type": "object",
      "description": "Stores information for third party applicationOAuth.",
      "properties": {
        "appName": {
          "type": "string",
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc."
        },
        "instanceName": {
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestImageQuery": {
      "type": "object",
      "description": "Specifies the image query input.",
      "properties": {
        "imageBytes": {
          "description": "Base64 encoded image bytes. Supported image formats: JPEG, PNG, and BMP.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestImageQuery"
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsMetadata",
      "properties": {
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time.",
          "readOnly": true,
          "type": "string"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        }
      },
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec": {
      "type": "object",
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ],
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "description": "Mode to use for documents that are crowded away.",
          "type": "string"
        },
        "maxCount": {
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "type": "integer",
          "format": "int32"
        },
        "field": {
          "type": "string",
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecExtractiveContentSpec": {
      "description": "A specification for configuring the extractive content in a search response.",
      "type": "object",
      "properties": {
        "maxExtractiveAnswerCount": {
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult.",
          "type": "integer",
          "format": "int32"
        },
        "maxExtractiveSegmentCount": {
          "type": "integer",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`.",
          "format": "int32"
        },
        "returnExtractiveSegmentScore": {
          "type": "boolean",
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`."
        },
        "numPreviousSegments": {
          "type": "integer",
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "format": "int32"
        },
        "numNextSegments": {
          "format": "int32",
          "type": "integer",
          "description": "Return at most `num_next_segments` segments after each selected segments."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecExtractiveContentSpec"
    },
    "GoogleCloudDiscoveryengineV1AlertPolicyConfig": {
      "type": "object",
      "description": "The connector level alert config.",
      "id": "GoogleCloudDiscoveryengineV1AlertPolicyConfig",
      "properties": {
        "alertEnrollments": {
          "type": "array",
          "description": "Optional. The enrollment states of each alert.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment"
          }
        },
        "alertPolicyName": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantToolInfo": {
      "properties": {
        "toolName": {
          "type": "string",
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here."
        },
        "toolDisplayName": {
          "type": "string",
          "description": "The display name of the tool."
        }
      },
      "type": "object",
      "description": "Information to identify a tool.",
      "id": "GoogleCloudDiscoveryengineV1AssistantToolInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateDataStoreMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponse",
      "description": "Response message for CompletionService.AdvancedCompleteQuery method.",
      "properties": {
        "tailMatchTriggered": {
          "description": "True if the returned suggestions are all tail suggestions. For tail matching to be triggered, include_tail_suggestions in the request must be true and there must be no suggestions that match the full query.",
          "type": "boolean"
        },
        "peopleSuggestions": {
          "type": "array",
          "description": "Results of the matched people suggestions. The result list is ordered and the first result is the top suggestion.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponsePersonSuggestion"
          }
        },
        "contentSuggestions": {
          "description": "Results of the matched content suggestions. The result list is ordered and the first result is the top suggestion.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseContentSuggestion"
          }
        },
        "querySuggestions": {
          "description": "Results of the matched query suggestions. The result list is ordered and the first result is a top suggestion.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseQuerySuggestion"
          }
        },
        "recentSearchSuggestions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseRecentSearchSuggestion"
          },
          "type": "array",
          "description": "Results of the matched \"recent search\" suggestions. The result list is ordered and the first result is the top suggestion."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1WorkspaceConfig": {
      "description": "Config to store data store type configuration for workspace data",
      "type": "object",
      "properties": {
        "superAdminEmailAddress": {
          "type": "string",
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "superAdminServiceAccount": {
          "type": "string",
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "dasherCustomerId": {
          "type": "string",
          "description": "Obfuscated Dasher customer ID."
        },
        "type": {
          "description": "The Google Workspace data source.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1WorkspaceConfig"
    },
    "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext": {
      "id": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext",
      "description": "The error payload that is populated on LRO sync APIs, including the following: * `google.cloud.discoveryengine.v1main.DataConnectorService.SetUpDataConnector` * `google.cloud.discoveryengine.v1main.DataConnectorService.StartConnectorRun`",
      "type": "object",
      "properties": {
        "syncType": {
          "description": "The type of sync run. Can be one of the following: * `FULL` * `INCREMENTAL`",
          "type": "string"
        },
        "entity": {
          "type": "string",
          "description": "The entity to sync for the connector run."
        },
        "endTime": {
          "type": "string",
          "description": "The time when the connector run ended.",
          "format": "google-datetime"
        },
        "dataConnector": {
          "description": "The full resource name of the DataConnector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "The operation resource name of the LRO to sync the connector."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time when the connector run started.",
          "type": "string"
        },
        "connectorRun": {
          "type": "string",
          "description": "The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination": {
      "type": "object",
      "description": "Defines a target endpoint",
      "properties": {
        "port": {
[...]
