{
  "discoveryVersion": "v1",
  "version": "v1",
  "protocol": "rest",
  "name": "discoveryengine",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "id": "GoogleCloudDiscoveryengineV1AclConfig",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig"
        }
      },
      "description": "Access Control Configuration."
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig": {
      "description": "Additional config specs for a Media Recommendation engine.",
      "type": "object",
      "properties": {
        "trainingState": {
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before.",
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ],
          "type": "string"
        },
        "optimizationObjective": {
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`.",
          "type": "string"
        },
        "optimizationObjectiveConfig": {
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5).",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
        },
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig"
    },
    "A2aV1Message": {
      "id": "A2aV1Message",
      "type": "object",
      "properties": {
        "messageId": {
          "type": "string",
          "description": "The unique identifier (e.g. UUID)of the message. This is required and created by the message creator."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED Any optional metadata to provide along with the message."
        },
        "taskId": {
          "type": "string",
          "description": "The task id of the message. This is optional and if set, the message will be associated with the given task."
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "ROLE_USER",
            "ROLE_AGENT"
          ],
          "description": "A role for the message.",
          "type": "string",
          "enumDescriptions": [
            "",
            "USER role refers to communication from the client to the server.",
            "AGENT role refers to communication from the server to the client."
          ]
        },
        "extensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The URIs of extensions that are present or contributed to this Message."
        },
        "contextId": {
          "type": "string",
          "description": "The context id of the message. This is optional and if set, the message will be associated with the given context."
        },
        "content": {
          "items": {
            "$ref": "A2aV1Part"
          },
          "type": "array",
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Content is the container of the message content."
        }
      },
      "description": "Message is one unit of communication between client and server. It is associated with a context and optionally a task. Since the server is responsible for the context definition, it must always provide a context_id in its messages. The client can optionally provide the context_id if it knows the context to associate the message to. Similarly for task_id, except the server decides if a task is created and whether to include the task_id."
    },
    "GoogleCloudDiscoveryengineV1SearchLinkPromotion": {
      "id": "GoogleCloudDiscoveryengineV1SearchLinkPromotion",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional."
        },
        "document": {
          "type": "string",
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri."
        },
        "description": {
          "description": "Optional. The Promotion description. Maximum length: 200 characters.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the promotion. Maximum length: 160 characters."
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The promotion thumbnail image url."
        }
      },
      "description": "Promotion proto includes uri and other helping information to display the promotion."
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecImageGenerationSpec": {
      "description": "Specification of the image generation tool.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecImageGenerationSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob": {
      "description": "Inline blob.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The media type (MIME type) of the generated data.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "Required. Raw bytes.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetrics": {
      "description": "Describes the metrics produced by the evaluation.",
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetrics",
      "type": "object",
      "properties": {
        "pageNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per page, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved pages (P1, P2, P3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [P3 (0), P1 (1), P2 (1)] Ideal: [P1 (1), P2 (1), P3 (0)] Calculate NDCG@3 for SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "pageRecall": {
          "description": "Recall per page, at various top-k cutoff levels. Recall is the fraction of relevant pages retrieved out of all relevant pages. Example (top-5): * For a single SampleQuery, if 3 out of 5 relevant pages are retrieved in the top-5, recall@5 = 3/5 = 0.6",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "docPrecision": {
          "description": "Precision per document, at various top-k cutoff levels. Precision is the fraction of retrieved documents that are relevant. Example (top-5): * For a single SampleQuery, If 4 out of 5 retrieved documents in the top-5 are relevant, precision@5 = 4/5 = 0.8",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "docRecall": {
          "description": "Recall per document, at various top-k cutoff levels. Recall is the fraction of relevant documents retrieved out of all relevant documents. Example (top-5): * For a single SampleQuery, If 3 out of 5 relevant documents are retrieved in the top-5, recall@5 = 3/5 = 0.6",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "docNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per document, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved documents (D1, D2, D3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [D3 (0), D1 (1), D2 (1)] Ideal: [D1 (1), D2 (1), D3 (0)] Calculate NDCG@3 for each SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        }
      }
    },
    "A2aV1AgentProvider": {
      "id": "A2aV1AgentProvider",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The providers reference url Example: \"https://ai.google.dev\""
        },
        "organization": {
          "type": "string",
          "description": "The providers organization name Example: \"Google\""
        }
      },
      "description": "Represents information about the service provider of an agent."
    },
    "GoogleCloudDiscoveryengineV1DoubleList": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Double values.",
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DoubleList",
      "description": "Double list."
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequest": {
      "description": "Request message for UserLicenseService.BatchUpdateUserLicenses method.",
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequest",
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "The inline source for the input content for document embeddings.",
          "$ref": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequestInlineSource"
        },
        "deleteUnassignedUserLicenses": {
          "type": "boolean",
          "description": "Optional. If true, if user licenses removed associated license config, the user license will be deleted. By default which is false, the user license will be updated to unassigned state."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata": {
      "description": "Document metadata.",
      "type": "object",
      "properties": {
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain name from the document URI. Note that the `uri` field may contain a URL that redirects to the actual website, in which case this will contain the domain name of the target site."
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "uri": {
          "description": "URI for the document. It may contain a URL that redirects to the actual website.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata"
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "type": "object",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title."
        },
        "snippetInfo": {
          "description": "If citation_type is DOCUMENT_LEVEL_CITATION, populate document level snippets.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo"
          },
          "type": "array"
        },
        "structData": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Data representation. The structured JSON data for the document. It's populated from the struct data from the Document, or the Chunk in search result."
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "chunkInfo": {
          "description": "If citation_type is CHUNK_LEVEL_CITATION and chunk mode is on, populate chunk info.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultChunkInfo"
          },
          "type": "array"
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "type": "object",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      },
      "description": "Specification of the model."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestAnswerGenerationSpec": {
      "description": "Answer generation specification.",
      "type": "object",
      "properties": {
        "ignoreLowRelevantContent": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that have low relevance. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true` or unset, the behavior will be determined automatically by the service."
        },
        "promptSpec": {
          "description": "Answer generation prompt specification.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestAnswerGenerationSpecPromptSpec"
        },
        "answerLanguageCode": {
          "type": "string",
          "description": "Language code for Answer. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature."
        },
        "modelSpec": {
          "description": "Answer generation model specification.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestAnswerGenerationSpecModelSpec"
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No answer is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating answers for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreNonAnswerSeekingQuery": {
          "description": "Specifies whether to filter out queries that are not answer-seeking. The default value is `false`. Google employs search-query classification to detect answer-seeking queries. No answer is returned if the search query is classified as a non-answer seeking query. If this field is set to `true`, we skip generating answers for non-answer seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "includeCitations": {
          "type": "boolean",
          "description": "Specifies whether to include citation metadata in the answer. The default value is `false`."
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestAnswerGenerationSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
      "type": "object",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBAPConfig": {
      "description": "The configuration for the BAP connector.",
      "type": "object",
      "properties": {
        "supportedConnectorModes": {
          "description": "Required. The supported connector modes for the associated BAP connection.",
          "items": {
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ],
            "type": "string",
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ]
          },
          "type": "array"
        },
        "enabledActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The actions enabled on the associated BAP connection."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBAPConfig"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig",
      "type": "object",
      "properties": {
        "webhookUri": {
          "type": "string",
          "description": "Optional. Webhook url for the connector to specify additional params for realtime sync."
        },
        "realtimeSyncSecret": {
          "description": "Optional. The ID of the Secret Manager secret used for webhook secret.",
          "type": "string"
        },
        "streamingError": {
          "description": "Optional. Streaming error details.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError"
        }
      },
      "description": "The configuration for realtime sync to store additional params for realtime sync."
    },
    "GoogleCloudDiscoveryengineV1ActionConfigScopeList": {
      "id": "GoogleCloudDiscoveryengineV1ActionConfigScopeList",
      "type": "object",
      "properties": {
        "scopes": {
          "description": "Optional. The list of scopes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Stores a list of scopes."
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig": {
      "description": "Configuration message for the Knowledge Graph.",
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig",
      "type": "object",
      "properties": {
        "enablePrivateKnowledgeGraph": {
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig"
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "privateKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cloudKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig": {
      "description": "Config for connecting to NotebookLM Enterprise.",
      "type": "object",
      "properties": {
        "searchConfig": {
          "type": "string",
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig": {
      "description": "Common configurations for an Engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig",
      "type": "object",
      "properties": {
        "companyName": {
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.",
          "type": "string"
        }
      }
    },
    "GoogleApiDistributionBucketOptionsLinear": {
      "type": "object",
      "properties": {
        "offset": {
          "type": "number",
          "description": "Lower bound of the first bucket.",
          "format": "double"
        },
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "format": "int32",
          "type": "integer"
        },
        "width": {
          "type": "number",
          "description": "Must be greater than 0.",
          "format": "double"
        }
      },
      "id": "GoogleApiDistributionBucketOptionsLinear",
      "description": "Specifies a linear sequence of buckets that all have the same width (except overflow and underflow). Each bucket represents a constant absolute uncertainty on the specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): offset + (width * i). Lower bound (1 <= i < N): offset + (width * (i - 1))."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression",
      "type": "object",
      "properties": {
        "expressions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
          },
          "type": "array",
          "description": "The expressions that were ORed together."
        }
      },
      "description": "Logical `Or` operator."
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteCmekConfigMetadata": {
      "description": "Metadata related to the progress of the CmekConfigService.DeleteCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteCmekConfigMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig": {
      "description": "Configuration for Natural Language Query Understanding.",
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata": {
      "description": "Metadata related to the progress of the UserStoreService.DeleteUserStore operation. This will be returned by the google.longrunning.Operation.metadata field. Delete UserStore will delete all the end users under the user store, return the number of end users successfully deleted or failed to delete in the metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata",
      "type": "object",
      "properties": {
        "successCount": {
          "type": "string",
          "description": "The number of end users under the user store that were successfully deleted.",
          "format": "int64"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of end users under the user store that failed to be deleted."
        }
      }
    },
    "A2aV1StreamResponse": {
      "id": "A2aV1StreamResponse",
      "type": "object",
      "properties": {
        "artifactUpdate": {
          "$ref": "A2aV1TaskArtifactUpdateEvent"
        },
        "message": {
          "$ref": "A2aV1Message"
        },
        "statusUpdate": {
          "$ref": "A2aV1TaskStatusUpdateEvent"
        },
        "task": {
          "$ref": "A2aV1Task"
        }
      },
      "description": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec": {
      "description": "A specification for configuring snippets in a search response.",
      "type": "object",
      "properties": {
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        },
        "maxSnippetCount": {
          "deprecated": true,
          "format": "int32",
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "type": "integer"
        },
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse"
    },
    "GoogleCloudDiscoveryengineV1ListCustomModelsResponse": {
      "type": "object",
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1CustomTuningModel"
          },
          "description": "List of custom tuning models."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListCustomModelsResponse",
      "description": "Response message for SearchTuningService.ListCustomModels method."
    },
    "GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult": {
      "description": "Customer policy enforcement result for a single policy type.",
      "id": "GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult",
      "type": "object",
      "properties": {
        "bannedPhraseEnforcementResult": {
          "description": "The policy enforcement result for the banned phrase policy.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult"
        },
        "modelArmorEnforcementResult": {
          "description": "The policy enforcement result for the Model Armor policy.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultModelArmorEnforcementResult"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentFile": {
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The media type (MIME type) of the file.",
          "type": "string"
        },
        "fileId": {
          "description": "Required. The file ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentFile",
      "description": "A file, e.g., an audio summary."
    },
    "GoogleCloudDiscoveryengineV1betaControl": {
      "id": "GoogleCloudDiscoveryengineV1betaControl",
      "type": "object",
      "properties": {
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlFilterAction"
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCondition"
          },
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlSynonymsAction"
        },
        "displayName": {
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "redirectAction": {
          "description": "Defines a redirect-type control.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlRedirectAction"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
          "type": "string"
        },
        "useCases": {
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH.",
          "items": {
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ],
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ]
          },
          "type": "array"
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlPromoteAction"
        },
        "associatedServingConfigIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes."
        },
        "solutionType": {
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ]
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlBoostAction"
        }
      },
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`."
    },
    "GoogleCloudDiscoveryengineV1ConversationMessage": {
      "type": "object",
      "properties": {
        "reply": {
          "description": "Search reply.",
          "$ref": "GoogleCloudDiscoveryengineV1Reply"
        },
        "userInput": {
          "description": "User text input.",
          "$ref": "GoogleCloudDiscoveryengineV1TextInput"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Message creation timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ConversationMessage",
      "description": "Defines a conversation message."
    },
    "GoogleCloudDiscoveryengineV1AssistAnswerReply": {
      "description": "One part of the multi-part response of the assist call.",
      "id": "GoogleCloudDiscoveryengineV1AssistAnswerReply",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the reply was created.",
          "type": "string"
        },
        "groundedContent": {
          "description": "Possibly grounded response text or media from the assistant.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGroundedContent"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ListConversationsResponse": {
      "description": "Response for ListConversations method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        },
        "conversations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Conversation"
          },
          "type": "array",
          "description": "All the Conversations for a given data store."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListConversationsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaDataStore": {
      "id": "GoogleCloudDiscoveryengineV1betaDataStore",
      "type": "object",
      "properties": {
        "defaultSchemaId": {
          "type": "string",
          "description": "Output only. The id of the default Schema associated to this data store.",
          "readOnly": true
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1betaSchema"
        },
        "cmekConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig",
          "description": "Output only. CMEK-related information for the DataStore.",
          "readOnly": true
        },
        "aclEnabled": {
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field."
        },
        "isInfobotFaqDataStore": {
          "type": "boolean",
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore."
        },
        "solutionTypes": {
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ],
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ]
          }
        },
        "contentConfig": {
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ],
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ]
        },
        "servingConfigDataStore": {
          "description": "Optional. Stores serving config at DataStore level.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore"
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "description": "Optional. Configuration for Natural Language Query Understanding.",
          "$ref": "GoogleCloudDiscoveryengineV1betaNaturalLanguageQueryUnderstandingConfig"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the DataStore was created at.",
          "type": "string"
        },
        "documentProcessingConfig": {
          "description": "Configuration for Document understanding and enrichment.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfig"
        },
        "industryVertical": {
          "description": "Immutable. The industry vertical that the data store registers.",
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "type": "string"
        },
        "billingEstimation": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation",
          "description": "Output only. Data size estimation for billing.",
          "readOnly": true
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "advancedSiteSearchConfig": {
          "description": "Optional. Configuration for advanced site search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig"
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig"
        },
        "configurableBillingApproachUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when configurable_billing_approach was last updated.",
          "type": "string"
        },
        "configurableBillingApproach": {
          "type": "string",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ],
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ],
          "description": "Optional. Configuration for configurable billing approach. See"
        },
        "languageInfo": {
          "description": "Language info for DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1betaLanguageInfo"
        },
        "workspaceConfig": {
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE.",
          "$ref": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig"
        },
        "identityMappingStore": {
          "type": "string",
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`."
        }
      },
      "description": "DataStore captures global settings and configs at the DataStore level."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestGroundingSpec": {
      "type": "object",
      "properties": {
        "includeGroundingSupports": {
          "description": "Optional. Specifies whether to include grounding_supports in the answer. The default value is `false`. When this field is set to `true`, returned answer will have `grounding_score` and will contain GroundingSupports for each claim.",
          "type": "boolean"
        },
        "filteringLevel": {
          "enum": [
            "FILTERING_LEVEL_UNSPECIFIED",
            "FILTERING_LEVEL_LOW",
            "FILTERING_LEVEL_HIGH"
          ],
          "description": "Optional. Specifies whether to enable the filtering based on grounding score and at what level.",
          "type": "string",
          "enumDescriptions": [
            "Default is no filter",
            "Filter answers based on a low threshold.",
            "Filter answers based on a high threshold."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestGroundingSpec",
      "description": "Grounding specification."
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig": {
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig",
      "type": "object",
      "properties": {
        "modelArmorConfig": {
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig"
        },
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        }
      },
      "description": "Configuration for NotebookLM."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpec": {
      "type": "object",
      "properties": {
        "searchResultList": {
          "description": "Search result list.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultList"
        },
        "searchParams": {
          "description": "Search parameters.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpec",
      "description": "Search specification."
    },
    "GoogleCloudDiscoveryengineV1Collection": {
      "id": "GoogleCloudDiscoveryengineV1Collection",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp the Collection was created at.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Collection is a container for configuring resources and access to a set of DataStores."
    },
    "GoogleCloudDiscoveryengineV1ConverseConversationRequest": {
      "type": "object",
      "properties": {
        "summarySpec": {
          "description": "A specification for configuring the summary returned in the response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec"
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents in search results which may affect the converse response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec"
        },
        "servingConfig": {
          "description": "The resource name of the Serving Config to use. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/servingConfigs/{serving_config_id}` If this is not set, the default serving config will be used.",
          "type": "string"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the summary response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "conversation": {
          "description": "The conversation to be used by auto session only. The name field will be ignored as we automatically assign new name for the conversation in auto session.",
          "$ref": "GoogleCloudDiscoveryengineV1Conversation"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "query": {
          "description": "Required. Current user input.",
          "$ref": "GoogleCloudDiscoveryengineV1TextInput"
        },
        "safeSearch": {
          "description": "Whether to turn on safe search.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ConverseConversationRequest",
      "description": "Request message for ConversationalSearchService.ConverseConversation method."
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "Optional. The Sensitive Data Protection policy resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob": {
      "description": "The media type and data of the blob.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob",
      "type": "object",
      "properties": {
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The media type (MIME type) of the generated or retrieved data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Output only. Raw bytes.",
          "readOnly": true,
          "format": "byte"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI for the document. It may contain a URL that redirects to the actual website.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain name from the document URI. Note that the `uri` field may contain a URL that redirects to the actual website, in which case this will contain the domain name of the target site."
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        }
      },
      "description": "Document metadata."
    },
    "GoogleCloudDiscoveryengineV1ConverseConversationResponse": {
      "description": "Response message for ConversationalSearchService.ConverseConversation method.",
      "type": "object",
      "properties": {
        "reply": {
          "description": "Answer to the current query.",
          "$ref": "GoogleCloudDiscoveryengineV1Reply"
        },
        "conversation": {
          "description": "Updated conversation including the answer.",
          "$ref": "GoogleCloudDiscoveryengineV1Conversation"
        },
        "searchResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSearchResult"
          },
          "type": "array",
          "description": "Search Results."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ConverseConversationResponse"
    },
    "GoogleCloudDiscoveryengineV1Citation": {
      "description": "Source attributions for content.",
      "id": "GoogleCloudDiscoveryengineV1Citation",
      "type": "object",
      "properties": {
        "endIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. End index into the content."
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Title of the attribution.",
          "type": "string"
        },
        "publicationDate": {
          "readOnly": true,
          "description": "Output only. Publication date of the attribution.",
          "$ref": "GoogleTypeDate"
        },
        "license": {
          "readOnly": true,
          "description": "Output only. License of the attribution.",
          "type": "string"
        },
        "startIndex": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Start index into the content.",
          "type": "integer"
        },
        "uri": {
          "description": "Output only. Url reference of the attribution.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "description": "Specification for relevance filtering on a specific sub-search.",
      "type": "object",
      "properties": {
        "relevanceThreshold": {
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Pre-defined relevance threshold for the sub-search.",
          "type": "string",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ]
        },
        "semanticRelevanceThreshold": {
          "format": "float",
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0].",
          "type": "number"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo": {
      "description": "Unstructured document information.",
      "type": "object",
      "properties": {
        "extractiveAnswers": {
          "description": "Deprecated: This field is deprecated and will have no effect on the Answer generation. Please use document_contexts and extractive_segments fields. List of extractive answers.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer"
          },
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Title."
        },
        "extractiveSegments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment"
          },
          "description": "List of extractive segments."
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "documentContexts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
          },
          "type": "array",
          "description": "List of document contexts. The content will be used for Answer Generation. This is supposed to be the main content of the document that can be long and comprehensive."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo"
    },
    "A2aV1AgentCardSignature": {
      "id": "A2aV1AgentCardSignature",
      "type": "object",
      "properties": {
        "header": {
          "description": "The unprotected JWS header values.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "protected": {
          "type": "string",
          "description": "Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object. Required."
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded. Required.",
          "type": "string"
        }
      },
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS)."
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination": {
      "description": "Defines a target endpoint",
      "type": "object",
      "properties": {
        "host": {
          "description": "Publicly routable host.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Optional. Target port number accepted by the destination.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination"
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "A2aV1OpenIdConnectSecurityScheme": {
      "id": "A2aV1OpenIdConnectSecurityScheme",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "openIdConnectUrl": {
          "description": "Well-known URL to discover the [[OpenID-Connect-Discovery]] provider metadata.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "description": "More feature configs of the selected engine type.",
      "type": "object",
      "properties": {
        "recommendedForYouConfig": {
          "description": "Recommended for you engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig"
        },
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec": {
      "description": "A specification for configuring snippets in a search response.",
      "type": "object",
      "properties": {
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        },
        "maxSnippetCount": {
          "type": "integer",
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "deprecated": true,
          "format": "int32"
        },
        "referenceOnly": {
          "type": "boolean",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec"
    },
    "GoogleCloudDiscoveryengineV1DataConnector": {
      "id": "GoogleCloudDiscoveryengineV1DataConnector",
      "type": "object",
      "properties": {
        "vpcscEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the connector is created with VPC-SC enabled.",
          "type": "boolean"
        },
        "staticIpEnabled": {
          "type": "boolean",
          "description": "Optional. Whether customer has enabled static IP addresses for this connector."
        },
        "staticIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The static IP addresses used by this connector."
        },
        "realtimeState": {
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "description": "Output only. real-time sync state",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "type": "string",
          "readOnly": true
        },
        "hybridIngestionDisabled": {
          "description": "Optional. If the connector is a hybrid connector, determines whether ingestion is enabled and appropriate resources are provisioned during connector creation. If the connector is not a hybrid connector, this field is ignored.",
          "type": "boolean"
        },
        "dataSource": {
          "description": "Required. The identifier for the data source. This is a partial list of supported connectors. Please refer to the [documentation](https://docs.cloud.google.com/gemini/enterprise/docs/connectors/introduction-to-connectors-and-data-stores) for the full list of connectors. Supported first-party connectors include: * `gcs` * `bigquery` * `gcp_fhir` * `google_mail` * `google_drive` * `google_calendar` * `google_chat` Supported third-party connectors include: Generally available (GA) connectors: * `onedrive` * `outlook` * `confluence` * `jira` * `servicenow` * `sharepoint` Preview connectors: * `asana` * `azure_active_directory` * `box` * `canva` * `confluence_server` * `custom_connector` * `docusign` * `dropbox` * `dynamics365` * `github` * `gitlab` * `hubspot` * `jira_server` * `linear` * `native_cloud_identity` * `notion` * `okta` * `pagerduty` * `peoplesoft` * `salesforce` * `shopify` * `slack` * `snowflake` * `teams` * `trello` * `workday` * `zendesk`",
          "type": "string"
        },
        "privateConnectivityProjectId": {
          "description": "Output only. The tenant project ID associated with private connectivity connectors. This project must be allowlisted by in order for the connector to function.",
          "readOnly": true,
          "type": "string"
        },
        "actionState": {
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "description": "Output only. State of the action connector. This reflects whether the action connector is initializing, active or has encountered errors.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "description": "Output only. State of the connector.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ]
        },
        "lastSyncTime": {
          "type": "string",
          "description": "Output only. For periodic connectors only, the last time a data sync was completed.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "incrementalSyncDisabled": {
          "description": "Optional. Indicates whether incremental syncs are paused for this connector. This is independent of auto_run_disabled. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled, i.e. set to true.",
          "type": "boolean"
        },
        "bapConfig": {
          "description": "Optional. The configuration for establishing a BAP connection.",
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfig"
        },
        "jsonParams": {
          "description": "Required data connector parameters in json string format.",
          "type": "string"
        },
        "federatedConfig": {
          "description": "Optional. Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode. This field should only be set if the connector is a hybrid connector and we want to enable FEDERATED mode.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig"
        },
        "autoRunDisabled": {
          "description": "Optional. Indicates whether the connector is disabled for auto run. It can be used to pause periodical and real time sync. Update: with the introduction of incremental_sync_disabled, auto_run_disabled is used to pause/disable only full syncs",
          "type": "boolean"
        },
        "refreshInterval": {
          "format": "google-duration",
          "description": "Required. The refresh interval for data sync. If duration is set to 0, the data will be synced in real time. The streaming feature is not supported yet. The minimum is 30 minutes and maximum is 7 days. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "type": "string"
        },
        "syncMode": {
          "type": "string",
          "enumDescriptions": [
            "The connector will sync data periodically based on the refresh_interval. Use it with auto_run_disabled to pause the periodic sync, or indicate a one-time sync.",
            "The data will be synced in real time.",
            "Connector that doesn't ingest data will have this value"
          ],
          "enum": [
            "PERIODIC",
            "STREAMING",
            "UNSPECIFIED"
          ],
          "description": "The data synchronization mode supported by the data connector."
        },
        "name": {
          "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect the DataStores managed by this connector. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStores created by this connector will be protected by the KMS key.",
          "type": "string"
        },
        "endUserConfig": {
          "description": "Optional. Any params and credentials used specifically for EUA connectors.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorEndUserConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp the DataConnector was created at.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "cliConfig": {
          "description": "Optional. The configuration for establishing a CLI connection.",
          "$ref": "GoogleCloudDiscoveryengineV1CliConfig"
        },
        "blockingReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Connector requires customer to allowlist static IPs.",
              "Connector requires customer to allowlist our project in their service attachment.",
              "Connector requires customer to allowlist service account in their project."
            ],
            "type": "string",
            "enum": [
              "BLOCKING_REASON_UNSPECIFIED",
              "ALLOWLIST_STATIC_IP",
              "ALLOWLIST_IN_SERVICE_ATTACHMENT",
              "ALLOWLIST_SERVICE_ACCOUNT"
            ]
          },
          "readOnly": true,
          "description": "Output only. User actions that must be completed before the connector can start syncing data."
        },
        "nextSyncTime": {
          "description": "Defines the scheduled time for the next data synchronization. This field requires hour , minute, and time_zone from the [IANA Time Zone Database](https://www.iana.org/time-zones). This is utilized when the data connector has a refresh interval greater than 1 day. When the hours or minutes are not specified, we will assume a sync time of 0:00. The user must provide a time zone to avoid ambiguity.",
          "$ref": "GoogleTypeDateTime"
        },
        "destinationConfigs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfig"
          },
          "type": "array",
          "description": "Optional. Any target destinations used to connect to third-party services."
        },
        "realtimeSyncConfig": {
          "description": "Optional. The configuration for realtime sync.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig"
        },
        "incrementalRefreshInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The refresh interval specifically for incremental data syncs. If unset, incremental syncs will use the default from env, set to 3hrs. The minimum is 30 minutes and maximum is 7 days. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled."
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity"
          },
          "description": "List of entities from the connected data source to ingest."
        },
        "egressFqdns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of FQDNs of the data connector can egress to. This includes both FQDN derived from the customer provided instance URL and default per connector type FQDNs.",
          "readOnly": true
        },
        "createEuaSaas": {
          "description": "Optional. Whether the END USER AUTHENTICATION connector is created in SaaS.",
          "type": "boolean"
        },
        "errors": {
          "description": "Output only. The errors from initialization or from the latest connector run.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "connectorModes": {
          "description": "Optional. The modes enabled for this connector. Default state is CONNECTOR_MODE_UNSPECIFIED.",
          "type": "array",
          "items": {
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "FEDERATED",
              "EUA",
              "FEDERATED_AND_EUA"
            ],
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for actions.",
              "Connector utilized for federated search.",
              "Connector utilized for End User Authentication.",
              "Hybrid connector utilized for federated search and End User Authentication."
            ],
            "type": "string"
          }
        },
        "alertPolicyConfigs": {
          "description": "Optional. The connector level alert config.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfig"
          },
          "type": "array"
        },
        "aclEnabled": {
          "description": "Optional. Whether the connector will be created with an ACL config. Currently this field only affects Cloud Storage and BigQuery connectors.",
          "type": "boolean"
        },
        "dynamicTools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DynamicTool"
          },
          "readOnly": true,
          "description": "Output only. The dynamic tools fetched for this connector."
        },
        "latestPauseTime": {
          "description": "Output only. The most recent timestamp when this DataConnector was paused, affecting all functionalities such as data synchronization. Pausing a connector has the following effects: - All functionalities, including data synchronization, are halted. - Any ongoing data synchronization job will be canceled. - No future data synchronization runs will be scheduled nor can be triggered.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "removeParamKeys": {
          "description": "Optional. Specifies keys to be removed from the 'params' field. This is only active when 'params' is included in the 'update_mask' in an UpdateDataConnectorRequest. Deletion takes precedence if a key is both in 'remove_param_keys' and present in the 'params' field of the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "identityScheduleConfig": {
          "description": "The configuration for the identity data synchronization runs. This contains the refresh interval to sync the Access Control List information for the documents ingested by this connector.",
          "$ref": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig"
        },
        "actionConfig": {
          "description": "Optional. Action configurations to make the connector support actions.",
          "$ref": "GoogleCloudDiscoveryengineV1ActionConfig"
        },
        "params": {
          "description": "Required data connector parameters in structured json format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp the DataConnector was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "identityRefreshInterval": {
          "type": "string",
          "deprecated": true,
          "format": "google-duration",
          "description": "The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days."
        },
        "connectorType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of connector. Each source can only map to one type. For example, salesforce, confluence and jira have THIRD_PARTY connector type. It is not mutable once set by system.",
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "THIRD_PARTY",
            "GCP_FHIR",
            "BIG_QUERY",
            "GCS",
            "GOOGLE_MAIL",
            "GOOGLE_CALENDAR",
            "GOOGLE_DRIVE",
            "NATIVE_CLOUD_IDENTITY",
            "THIRD_PARTY_FEDERATED",
            "THIRD_PARTY_EUA",
            "GCNV",
            "GOOGLE_CHAT",
            "GOOGLE_SITES",
            "REMOTE_MCP"
          ],
          "enumDescriptions": [
            "Default value.",
            "Third party connector to connector to third party application.",
            "Data connector connects between FHIR store and VAIS datastore.",
            "Big query connector.",
            "Google Cloud Storage connector.",
            "Gmail connector.",
            "Google Calendar connector.",
            "Google Drive connector.",
            "Native Cloud Identity connector for people search powered by People API.",
            "Federated connector, it is a third party connector that doesn't ingestion data, and search is powered by third party application's API.",
            "Connector utilized for End User Authentication features.",
            "Google Cloud NetApp Volumes connector.",
            "Google Chat connector.",
            "Google Sites connector.",
            "Remote MCP based connector."
          ]
        }
      },
      "description": "Manages the connection to external data sources for all data stores grouped under a Collection. It's a singleton resource of Collection. The initialization is only supported through DataConnectorService.SetUpDataConnector method, which will create a new Collection and initialize its DataConnector."
    },
    "GoogleCloudDiscoveryengineV1betaProject": {
      "type": "object",
      "properties": {
        "provisionCompletionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "type": "string"
        },
        "configurableBillingStatus": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus",
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when this project is created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true,
          "type": "string"
        },
        "serviceTermsMap": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms"
          },
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProject",
      "description": "Metadata and configurations for a Google Cloud project in the service."
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreComponent": {
      "description": "Read-only data store component that contains data stores fields that may be used for filtering, it's the child of `CollectionComponent`.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the data store."
        },
        "dataStoreConfigType": {
          "enum": [
            "DATA_STORE_CONFIG_TYPE_UNSPECIFIED",
            "ALLOW_DB_CONFIG",
            "THIRD_PARTY_OAUTH_CONFIG",
            "NOTEBOOKLM_CONFIG"
          ],
          "description": "Output only. The type of the data store config.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data store is connected to AlloyDB",
            "The data store is a connected to a third party data source.",
            "The data store is a connected to NotebookLM Enterprise."
          ],
          "readOnly": true,
          "type": "string"
        },
        "entityName": {
          "description": "The name of the entity, retrieved from `Collection.data_connector.entities.entityName`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the data store. It should be data store resource name Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. the identifier of the data store, used for widget service. For now it refers to data_store_id, in the future we will migrate the field to encrypted data store name UUID."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreComponent"
    },
    "A2aV1HTTPAuthSecurityScheme": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "bearerFormat": {
          "description": "A hint to the client to identify how the bearer token is formatted. Bearer tokens are usually generated by an authorization server, so this information is primarily for documentation purposes.",
          "type": "string"
        },
        "scheme": {
          "type": "string",
          "description": "The name of the HTTP Authentication scheme to be used in the Authorization header as defined in RFC7235. The values used SHOULD be registered in the IANA Authentication Scheme registry. The value is case-insensitive, as defined in RFC7235."
        }
      },
      "id": "A2aV1HTTPAuthSecurityScheme"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepAction": {
      "type": "object",
      "properties": {
        "searchAction": {
          "description": "Search action.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction"
        },
        "observation": {
          "description": "Observation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction",
      "description": "Action."
    },
    "GoogleCloudDiscoveryengineV1betaWorkspaceConfig": {
      "description": "Config to store data store type configuration for workspace data",
      "type": "object",
      "properties": {
        "superAdminServiceAccount": {
          "type": "string",
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE"
          ],
          "description": "The Google Workspace data source."
        },
        "dasherCustomerId": {
          "type": "string",
          "description": "Obfuscated Dasher customer ID."
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig"
    },
    "GoogleCloudDiscoveryengineV1CustomTuningModel": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the model."
        },
        "createTime": {
          "description": "Deprecated: Timestamp the Model was created at.",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "modelState": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The model is in a paused training state.",
            "The model is currently training.",
            "The model has successfully completed training.",
            "The model is ready for serving.",
            "The model training failed.",
            "The model training finished successfully but metrics did not improve.",
            "Input data validation failed. Model training didn't start."
          ],
          "enum": [
            "MODEL_STATE_UNSPECIFIED",
            "TRAINING_PAUSED",
            "TRAINING",
            "TRAINING_COMPLETE",
            "READY_FOR_SERVING",
            "TRAINING_FAILED",
            "NO_IMPROVEMENT",
            "INPUT_VALIDATION_FAILED"
          ],
          "description": "The state that the model is in (e.g.`TRAINING` or `TRAINING_FAILED`)."
        },
        "trainingStartTime": {
          "description": "Timestamp the model training was initiated.",
          "format": "google-datetime",
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "description": "The metrics of the trained model."
        },
        "name": {
          "type": "string",
          "description": "Required. The fully qualified resource name of the model. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/customTuningModels/{custom_tuning_model}`. Model must be an alpha-numerical string with limit of 40 characters."
        },
        "modelVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version of the model."
        },
        "errorMessage": {
          "type": "string",
          "description": "Currently this is only populated if the model state is `INPUT_VALIDATION_FAILED`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CustomTuningModel",
      "description": "Metadata that describes a custom tuned model."
    },
    "GoogleCloudDiscoveryengineV1ControlBoostAction": {
      "id": "GoogleCloudDiscoveryengineV1ControlBoostAction",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be boosted by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        },
        "interpolationBoostSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec"
        },
        "fixedBoost": {
          "format": "float",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "type": "number"
        },
        "boost": {
          "type": "number",
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "deprecated": true,
          "format": "float"
        }
      },
      "description": "Adjusts order of products in returned list."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSitemapMetadata": {
[...]
