{
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    }
  ],
  "basePath": "",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Discovery Engine API.",
  "id": "discoveryengine:v1alpha",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "servicePath": "",
  "name": "discoveryengine",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "title": "Discovery Engine API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        }
      }
    }
  },
  "ownerName": "Google",
  "revision": "20260427",
  "protocol": "rest",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "version_module": true,
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "billingAccounts": {
      "resources": {
        "billingAccountLicenseConfigs": {
          "methods": {
            "distributeLicenseConfig": {
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:distributeLicenseConfig",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "type": "string",
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$"
                }
              },
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "description": "Distributes a LicenseConfig from billing account level to project level.",
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.distributeLicenseConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDistributeLicenseConfigResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1alpha/{+billingAccountLicenseConfig}:distributeLicenseConfig",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDistributeLicenseConfigRequest"
              }
            },
            "get": {
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.get",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaBillingAccountLicenseConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$",
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a BillingAccountLicenseConfig."
            },
            "retractLicenseConfig": {
              "description": "This method is called from the billing account side to retract the LicenseConfig from the given project back to the billing account.",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:retractLicenseConfig",
              "path": "v1alpha/{+billingAccountLicenseConfig}:retractLicenseConfig",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigResponse"
              },
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.retractLicenseConfig"
            },
            "list": {
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.list",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaListBillingAccountLicenseConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1alpha/{+parent}/billingAccountLicenseConfigs",
              "httpMethod": "GET",
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Not supported.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Not supported.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "description": "Required. Format: `billingAccounts/{billing_account}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all BillingAccountLicenseConfigs for a given billing account."
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "patch": {
          "path": "v1alpha/{+name}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "id": "discoveryengine.projects.patch",
          "description": "Updates the editable settings of a Discovery Engine Project.",
          "flatPath": "v1alpha/projects/{projectsId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            },
            "updateMask": {
              "type": "string",
              "description": "Optional. The list of fields to update. Supported fields: * `customer_provided_config` * `customer_provided_config.notebooklm_config.observability_config`",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "get": {
          "description": "Gets a Project. Returns NOT_FOUND when the project is not yet created.",
          "flatPath": "v1alpha/projects/{projectsId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "id": "discoveryengine.projects.get",
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          }
        },
        "reportConsentChange": {
          "id": "discoveryengine.projects.reportConsentChange",
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "path": "v1alpha/{+project}:reportConsentChange",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaReportConsentChangeRequest"
          },
          "flatPath": "v1alpha/projects/{projectsId}:reportConsentChange",
          "parameters": {
            "project": {
              "pattern": "^projects/[^/]+$",
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Updates service terms for this project. This method can be used to retroactively accept the latest terms. Terms available for update: * [Terms for data use](https://cloud.google.com/retail/data-use-terms)"
        },
        "provision": {
          "parameters": {
            "name": {
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/projects/{projectsId}:provision",
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "discoveryengine.projects.provision",
          "path": "v1alpha/{+name}:provision",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProvisionProjectRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ]
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "getAclConfig": {
              "description": "Gets the AclConfig.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "id": "discoveryengine.projects.locations.getAclConfig"
            },
            "updateCmekConfig": {
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                  "location": "path",
                  "required": true
                },
                "setDefault": {
                  "type": "boolean",
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
              },
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "removeDedicatedCrawlRate": {
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:removeDedicatedCrawlRate",
              "description": "Removes the dedicated crawl rate for a craw_rate_scope. If the dedicated crawl rate was set, this will disable vertex AI's crawl bot from using the dedicated crawl rate for crawling. If the dedicated crawl rate was not set, this is a no-op.",
              "id": "discoveryengine.projects.locations.removeDedicatedCrawlRate",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1alpha/{+location}:removeDedicatedCrawlRate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest"
              }
            },
            "setUpDataConnectorV2": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "discoveryengine.projects.locations.setUpDataConnectorV2",
              "path": "v1alpha/{+parent}:setUpDataConnectorV2",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setUpDataConnectorV2",
              "parameters": {
                "collectionId": {
                  "type": "string",
                  "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                  "location": "query"
                },
                "collectionDisplayName": {
                  "type": "string",
                  "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method."
            },
            "setUpDataConnector": {
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setUpDataConnector",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "discoveryengine.projects.locations.setUpDataConnector",
              "path": "v1alpha/{+parent}:setUpDataConnector",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ]
            },
            "obtainCrawlRate": {
              "path": "v1alpha/{+location}:obtainCrawlRate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponse"
              },
              "id": "discoveryengine.projects.locations.obtainCrawlRate",
              "description": "Obtains the time series data of organic or dedicated crawl rate for monitoring. When dedicated crawl rate is not set, it will return vertex AI's organic crawl rate time series. Organic crawl means Google automatically crawl the internet at its own convenience. When dedicated crawl rate is set, it will return vertex AI's dedicated crawl rate time series.",
              "parameters": {
                "location": {
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:obtainCrawlRate"
            },
            "setDedicatedCrawlRate": {
              "description": "Sets the dedicated crawl rate for a crawl_rate_scope. If the dedicated crawl rate was not set, this will enable vertex AI's crawl bot to use the new dedicated crawl rate for crawling. If the dedicated crawl rate was set, vertex AI's crawl bot will try to update the rate to the new value. If the new value is too high, the crawl bot may crawl at a lower rate to avoid overloading the user's website.",
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setDedicatedCrawlRate",
              "path": "v1alpha/{+location}:setDedicatedCrawlRate",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "discoveryengine.projects.locations.setDedicatedCrawlRate"
            },
            "queryConfigurablePricingUsageStats": {
              "description": "Queries configurable pricing usage stats for a project.",
              "parameters": {
                "timeRange.startDate.year": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query"
                },
                "timeRange.endDate.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "timeRange.endDate.day": {
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "format": "int32"
                },
                "project": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to query usage stats for. Format: projects/{project}",
                  "location": "path",
                  "required": true
                },
                "timeRange.startDate.month": {
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer"
                },
                "timeRange.endDate.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                },
                "timeRange.startDate.day": {
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "format": "int32"
                },
                "metricTypes": {
                  "type": "string",
                  "enumDescriptions": [
                    "Default value.",
                    "Daily median search request QPM.",
                    "Daily min search request QPM.",
                    "Daily max search request QPM.",
                    "Daily search request total.",
                    "Total storage bytes for indexing core."
                  ],
                  "description": "Optional. The metric types to return usage for.",
                  "location": "query",
                  "repeated": true,
                  "enum": [
                    "BILLING_METRIC_TYPE_UNSPECIFIED",
                    "DAILY_MDN_QPM",
                    "DAILY_MIN_QPM",
                    "DAILY_MAX_QPM",
                    "DAILY_SEARCH_REQUEST",
                    "TOTAL_STORAGE"
                  ]
                },
                "location": {
                  "type": "string",
                  "description": "Required. The location to query usage stats for.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "project",
                "location"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{location}:queryConfigurablePricingUsageStats",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1alpha/{+project}/locations/{location}:queryConfigurablePricingUsageStats",
              "httpMethod": "GET",
              "id": "discoveryengine.projects.locations.queryConfigurablePricingUsageStats",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse"
              }
            },
            "updateAclConfig": {
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "id": "discoveryengine.projects.locations.updateAclConfig",
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value."
            },
            "getCmekConfig": {
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the CmekConfig.",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
              },
              "id": "discoveryengine.projects.locations.getCmekConfig",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ]
            },
            "estimateDataSize": {
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:estimateDataSize",
              "parameters": {
                "location": {
                  "type": "string",
                  "description": "Required. Full resource name of the location, such as `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "description": "Estimates the data size to be used by a customer.",
              "id": "discoveryengine.projects.locations.estimateDataSize",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1alpha/{+location}:estimateDataSize",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequest"
              }
            },
            "completeExternalIdentities": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1alpha/{+parent}:completeExternalIdentities",
              "httpMethod": "GET",
              "id": "discoveryengine.projects.locations.completeExternalIdentities",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCompleteExternalIdentitiesResponse"
              },
              "description": "This method provides suggestions for users and groups managed in an external identity provider, based on the provided prefix.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:completeExternalIdentities",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent location resource name, such as `projects/*/locations/global`.",
                  "location": "path",
                  "required": true
                },
                "prefixQuery": {
                  "description": "Required. The prefix to search for. For users, this prefix is matched against the `primary_email`. For groups, this prefix is matched against the `display_name`. The matching is case-insensitive.",
                  "location": "query",
                  "type": "string"
                },
                "maxSuggestions": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of user and group results to return. The service may return fewer than this value. If unspecified, at most 6 results will be returned. The limit is distributed as evenly as possible across users and groups. For example, if max_suggestions is 7, the service may return 4 users and 3 groups. If there are fewer suggestions of one type than half the limit, the other type may return more suggestions up to the max_suggestions limit.",
                  "location": "query"
                },
                "useScimIdentities": {
                  "description": "Optional. Whether to use scim identities for external identity completion. If false, we will call the Microsoft graph API to fetch the external identities.",
                  "location": "query",
                  "type": "boolean"
                },
                "entityTypeFilter": {
                  "enum": [
                    "ENTITY_TYPE_FILTER_UNSPECIFIED",
                    "USERS",
                    "GROUPS"
                  ],
                  "description": "Optional. The type of entities to fetch. If not set, all entity types will be returned.",
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified entity type filter.",
                    "Fetch only users.",
                    "Fetch only groups."
                  ],
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "licenseConfigs": {
              "methods": {
                "create": {
                  "id": "discoveryengine.projects.locations.licenseConfigs.create",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+parent}/licenseConfigs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/licenseConfigs",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "licenseConfigId": {
                      "type": "string",
                      "description": "Optional. The ID to use for the LicenseConfig, which will become the final component of the LicenseConfig's resource name. We are using the tier (product edition) name as the license config id such as `search` or `search_and_assistant`.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a LicenseConfig This method should only be used for creating NotebookLm licenses or Gemini Enterprise free trial licenses."
                },
                "get": {
                  "description": "Gets a LicenseConfig.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/licenseConfigs/[^/]+$",
                      "description": "Required. Full resource name of LicenseConfig, such as `projects/{project}/locations/{location}/licenseConfigs/*`. If the caller does not have permission to access the LicenseConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested LicenseConfig does not exist, a NOT_FOUND error is returned.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/licenseConfigs/{licenseConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.licenseConfigs.get",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig"
                  }
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/licenseConfigs/[^/]+$",
                      "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Indicates which fields in the provided LicenseConfig to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/licenseConfigs/{licenseConfigsId}",
                  "description": "Updates the LicenseConfig",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig"
                  },
                  "id": "discoveryengine.projects.locations.licenseConfigs.patch",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                }
              }
            },
            "evaluations": {
              "methods": {
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Full resource name of Evaluation, such as `projects/{project}/locations/{location}/evaluations/{evaluation}`. If the caller does not have permission to access the Evaluation, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested Evaluation does not exist, a NOT_FOUND error is returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a Evaluation.",
                  "id": "discoveryengine.projects.locations.evaluations.get",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET"
                },
                "listResults": {
                  "id": "discoveryengine.projects.locations.evaluations.listResults",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListEvaluationResultsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+evaluation}:listResults",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Maximum number of ListEvaluationResultsResponse.EvaluationResult to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token ListEvaluationResultsResponse.next_page_token, received from a previous EvaluationService.ListEvaluationResults call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to EvaluationService.ListEvaluationResults must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query"
                    },
                    "evaluation": {
                      "description": "Required. The evaluation resource name, such as `projects/{project}/locations/{location}/evaluations/{evaluation}`. If the caller does not have permission to list ListEvaluationResultsResponse.EvaluationResult under this evaluation, regardless of whether or not this evaluation set exists, a `PERMISSION_DENIED` error is returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "evaluation"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}:listResults",
                  "description": "Gets a list of results for a given a Evaluation."
                },
                "create": {
                  "description": "Creates a Evaluation. Upon creation, the evaluation will be automatically triggered and begin execution.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+parent}/evaluations",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluation"
                  },
                  "id": "discoveryengine.projects.locations.evaluations.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "description": "Gets a list of Evaluations.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Maximum number of Evaluations to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token ListEvaluationsResponse.next_page_token, received from a previous EvaluationService.ListEvaluations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to EvaluationService.ListEvaluations must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent location resource name, such as `projects/{project}/locations/{location}`. If the caller does not have permission to list Evaluations under this location, regardless of whether or not this location exists, a `PERMISSION_DENIED` error is returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+parent}/evaluations",
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.evaluations.list",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListEvaluationsResponse"
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "discoveryengine.projects.locations.evaluations.operations.get",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ]
                    }
                  }
                }
              }
            },
            "userStores": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaUserStore"
                  },
                  "id": "discoveryengine.projects.locations.userStores.patch",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaUserStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "parameters": {
                    "name": {
                      "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of fields to update.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the User Store."
                },
                "batchUpdateUserLicenses": {
                  "path": "v1alpha/{+parent}:batchUpdateUserLicenses",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "discoveryengine.projects.locations.userStores.batchUpdateUserLicenses",
                  "description": "Updates the User License. This method is used for batch assign/unassign licenses to users.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}:batchUpdateUserLicenses",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "Gets the User Store.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the User Store to get. Format: `projects/{project}/locations/{location}/userStores/{user_store_id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.userStores.get",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaUserStore"
                  }
                }
              },
              "resources": {
                "licenseConfigsUsageStats": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/licenseConfigsUsageStats",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all the LicenseConfigUsageStatss associated with the project.",
                      "id": "discoveryengine.projects.locations.userStores.licenseConfigsUsageStats.list",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaListLicenseConfigsUsageStatsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1alpha/{+parent}/licenseConfigsUsageStats",
                      "httpMethod": "GET"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "discoveryengine.projects.locations.userStores.operations.get",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1alpha/{+name}/operations",
                      "httpMethod": "GET",
                      "id": "discoveryengine.projects.locations.userStores.operations.list",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/operations",
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "userLicenses": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaListUserLicensesResponse"
                      },
                      "id": "discoveryengine.projects.locations.userStores.userLicenses.list",
                      "path": "v1alpha/{+parent}/userLicenses",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. The order in which the UserLicenses are listed. The value must be a comma-separated list of fields. Default sorting order is ascending. To specify descending order for a field, append a \" desc\" suffix. Redundant space characters in the syntax are insignificant. Supported fields (only `user_principal` is supported for now): * `user_principal` If not set, the default ordering is by `user_principal`. Examples: * `user_principal` to order by `user_principal` in ascending order. * `user_principal desc` to order by `user_principal` in descending order.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListUserLicenses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLicenses` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, defaults to 10. The maximum value is 50; values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT error is returned.",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter for the list request. Supported fields: * `license_assignment_state` * `user_principal` * Examples: * `license_assignment_state = ASSIGNED` to list assigned user licenses. * `license_assignment_state = NO_LICENSE` to list not licensed users. * `license_assignment_state = NO_LICENSE_ATTEMPTED_LOGIN` to list users who attempted login but no license assigned. * `license_assignment_state != NO_LICENSE_ATTEMPTED_LOGIN` to filter out users who attempted login but no license assigned. * `user_principal = user1@example.com` to list user license for `user1@example.com`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/userLicenses",
                      "description": "Lists the User Licenses."
                    }
                  }
                }
              }
            },
            "dataStores": {
              "methods": {
                "delete": {
                  "description": "Deletes a DataStore.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to delete the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the DataStore to delete does not exist, a NOT_FOUND error is returned.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "id": "discoveryengine.projects.locations.dataStores.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "getSiteSearchEngine": {
                  "description": "Gets the SiteSearchEngine.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/siteSearchEngine",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                      "description": "Required. Resource name of SiteSearchEngine, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. If the caller does not have permission to access the [SiteSearchEngine], regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.dataStores.getSiteSearchEngine",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaSiteSearchEngine"
                  }
                },
                "removePatientFilter": {
                  "path": "v1alpha/{+dataStore}:removePatientFilter",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "discoveryengine.projects.locations.dataStores.removePatientFilter",
                  "description": "Removes a group of patient IDs from the patient filter for the data store. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. This method will fail if the data store does not have a patient filter. The filter group must be a FHIR resource name of type Group, and the list of patient IDs to remove will be constructed from the direct members of the group which are Patient resources.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:removePatientFilter",
                  "parameters": {
                    "dataStore": {
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "dataStore"
                  ]
                },
                "patch": {
                  "id": "discoveryengine.projects.locations.dataStores.patch",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}",
                  "parameters": {
                    "name": {
                      "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Indicates which fields in the provided DataStore to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a DataStore"
                },
                "create": {
                  "description": "Creates a DataStore. DataStore is for storing Documents. To serve these documents for Search, or Recommendation use case, an Engine needs to be created separately.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "disableCmek": {
                      "description": "DataStore without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "createAdvancedSiteSearch": {
                      "description": "A boolean flag indicating whether user want to directly create an advanced data store for site search. If the data store is not configured as site search (GENERIC vertical and PUBLIC_WEBSITE content_config), this flag will be ignored.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "skipDefaultSchemaCreation": {
                      "type": "boolean",
                      "description": "A boolean flag indicating whether to skip the default schema creation for the data store. Only enable this flag if you are certain that the default schema is incompatible with your use case. If set to true, you must manually create a schema for the data store before any documents can be ingested. This flag cannot be specified if `data_store.starting_schema` is specified.",
                      "location": "query"
                    },
                    "dataStoreId": {
                      "type": "string",
                      "description": "Required. The ID to use for the DataStore, which will become the final component of the DataStore's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                      "location": "query"
                    },
                    "cmekConfigName": {
                      "description": "Resource name of the CmekConfig to use for protecting this DataStore.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+parent}/dataStores",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "id": "discoveryengine.projects.locations.dataStores.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "deletePatientFilter": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "discoveryengine.projects.locations.dataStores.deletePatientFilter",
                  "path": "v1alpha/{+dataStore}:deletePatientFilter",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:deletePatientFilter",
                  "parameters": {
                    "dataStore": {
                      "type": "string",
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "description": "Deletes the entire patient filter for the data store. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. This method will fail if the data store does not have a patient filter."
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "id": "discoveryengine.projects.locations.dataStores.get",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}",
                  "description": "Gets a DataStore."
                },
                "updateDocumentProcessingConfig": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
                  },
                  "id": "discoveryengine.projects.locations.dataStores.updateDocumentProcessingConfig",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/documentProcessingConfig",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/documentProcessingConfig$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Indicates which fields in the provided DocumentProcessingConfig to update. The following are the only supported fields: * DocumentProcessingConfig.ocr_config If not set, all supported fields are updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the DocumentProcessingConfig. DocumentProcessingConfig is a singleon resource of DataStore. It's empty when DataStore is created. The first call to this method will set up DocumentProcessingConfig."
                },
                "replacePatientFilter": {
                  "id": "discoveryengine.projects.locations.dataStores.replacePatientFilter",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+dataStore}:replacePatientFilter",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaReplacePatientFilterRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:replacePatientFilter",
                  "parameters": {
                    "dataStore": {
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "description": "Replaces the patient filter for the data store. This method is essentially a combination of DeletePatientFilters and AddPatientFilter. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. This method will fail if the data store does not have a patient filter. The filter group must be a FHIR resource name of type Group, and the new filter will be constructed from the direct members of the group which are Patient resources."
                },
                "getDocumentProcessingConfig": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.dataStores.getDocumentProcessingConfig",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
                  },
                  "description": "Gets a DocumentProcessingConfig.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Full DocumentProcessingConfig resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/documentProcessingConfig`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/documentProcessingConfig$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/documentProcessingConfig"
                },
                "addPatientFilter": {
                  "parameters": {
                    "dataStore": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:addPatientFilter",
                  "description": "Adds a group of patient IDs as a patient filter for the data store. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
                  "id": "discoveryengine.projects.locations.dataStores.addPatientFilter",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1alpha/{+dataStore}:addPatientFilter",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest"
                  }
                },
                "list": {
                  "path": "v1alpha/{+parent}/dataStores",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListDataStoresResponse"
                  },
                  "id": "discoveryengine.projects.locations.dataStores.list",
                  "description": "Lists all the DataStores associated with the project.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection_id}`. If the caller does not have permission to list DataStores under this location, regardless of whether or not this data store exists, a PERMISSION_DENIED error is returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter by solution type . For example: `filter = 'solution_type:SOLUTION_TYPE_SEARCH'`",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of DataStores to return. If unspecified, defaults to 10. The maximum allowed value is 50. Values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT is returned.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token ListDataStoresResponse.next_page_token, received from a previous DataStoreService.ListDataStores call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DataStoreService.ListDataStores must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores"
                },
[...]
