{
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "title": "Discovery Engine API",
  "basePath": "",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Discovery Engine API.",
  "ownerName": "Google",
  "servicePath": "",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "version": "v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "batchPath": "batch",
  "revision": "20260418",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec": {
      "properties": {
        "semanticSearchThreshold": {
          "description": "Optional. Relevance filtering threshold specification for semantic search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
        },
        "keywordSearchThreshold": {
          "description": "Optional. Relevance filtering threshold specification for keyword search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec",
      "description": "Relevance filtering specification.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec": {
      "properties": {
        "condition": {
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ],
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ]
        },
        "pinUnexpandedResults": {
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec",
      "description": "Specification to determine under which conditions query expansion should occur.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
      "description": "Additional feature configurations for creating a `recommended-for-you` engine.",
      "type": "object",
      "properties": {
        "contextEventType": {
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig",
      "description": "Stores information for federated search.",
      "type": "object",
      "properties": {
        "thirdPartyOauthConfig": {
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig"
        },
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig"
        },
        "alloyDbConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesResponse": {
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "purgeCount": {
          "description": "Number of suggestion deny list entries purged.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCitation": {
      "properties": {
        "startIndex": {
          "description": "Output only. Start index into the content.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "license": {
          "description": "Output only. License of the attribution.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Url reference of the attribution.",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "Output only. Title of the attribution.",
          "readOnly": true,
          "type": "string"
        },
        "endIndex": {
          "description": "Output only. End index into the content.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "publicationDate": {
          "description": "Output only. Publication date of the attribution.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCitation",
      "description": "Source attributions for content.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReference": {
      "properties": {
        "structuredDocumentInfo": {
          "description": "Structured document information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReferenceStructuredDocumentInfo"
        },
        "chunkInfo": {
          "description": "Chunk information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfo"
        },
        "unstructuredDocumentInfo": {
          "description": "Unstructured document information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfo"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReference",
      "description": "Reference.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSampleQuerySet": {
      "id": "GoogleCloudDiscoveryengineV1betaSampleQuerySet",
      "description": "A SampleQuerySet is the parent resource of SampleQuery, and contains the configurations shared by all SampleQuery under it.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The sample query set display name. This field must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp the SampleQuerySet was created at.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The full resource name of the SampleQuerySet, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "description": {
          "description": "The description of the SampleQuerySet.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBAPConfig": {
      "properties": {
        "supportedConnectorModes": {
          "description": "Required. The supported connector modes for the associated BAP connection.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ],
            "type": "string",
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ]
          }
        },
        "enabledActions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The actions enabled on the associated BAP connection.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBAPConfig",
      "description": "The configuration for the BAP connector.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig",
      "description": "Config to data store for `HEALTHCARE_FHIR` vertical.",
      "type": "object",
      "properties": {
        "enableConfigurableSchema": {
          "description": "Whether to enable configurable schema for `HEALTHCARE_FHIR` vertical. If set to `true`, the predefined healthcare fhir schema can be extended for more customized searching and filtering.",
          "type": "boolean"
        },
        "enableStaticIndexingForBatchIngestion": {
          "description": "Whether to enable static indexing for `HEALTHCARE_FHIR` batch ingestion. If set to `true`, the batch ingestion will be processed in a static indexing mode which is slower but more capable of handling larger volume.",
          "type": "boolean"
        },
        "initialFilterGroups": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the Group resources to use as a basis for the initial patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "properties": {
        "preamble": {
          "description": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec",
      "description": "Specification of the prompt to use with the model.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig",
      "description": "Configuration for chunking config.",
      "type": "object",
      "properties": {
        "layoutBasedChunkingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
          "description": "Configuration for the layout based chunking."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaIdentityScheduleConfig": {
      "properties": {
        "refreshInterval": {
          "description": "Optional. The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "type": "string",
          "format": "google-duration"
        },
        "nextSyncTime": {
          "description": "Optional. The UTC time when the next data sync is expected to start for the Data Connector. Customers are only able to specify the hour and minute to schedule the data sync. This is utilized when the data connector has a refresh interval greater than 1 day.",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaIdentityScheduleConfig",
      "description": "The configuration for the identity data synchronization runs.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesMetadata",
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleApiDistributionRange": {
      "properties": {
        "min": {
          "description": "The minimum of the population values.",
          "type": "number",
          "format": "double"
        },
        "max": {
          "description": "The maximum of the population values.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleApiDistributionRange",
      "description": "The range of the population values.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
      "description": "Stores information for third party applicationOAuth.",
      "type": "object",
      "properties": {
        "instanceName": {
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\".",
          "type": "string"
        },
        "appName": {
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter": {
      "properties": {
        "expression": {
          "description": "The expression denoting the filter that was extracted from the input query in a structured form. It can be a simple expression denoting a single string, numerical or geolocation constraint or a compound expression which is a combination of multiple expressions connected using logical (OR and AND) operators.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter",
      "description": "The filters that were extracted from the input query represented in a structured form.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaData": {
      "properties": {
        "chunkInfo": {
          "description": "Chunk information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaData",
      "description": "End user metadata.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "properties": {
        "kmsKey": {
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey",
      "description": "Metadata for single-regional CMEKs.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicy": {
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. Specifies the sensitive data protection policy for the connector source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicy",
      "description": "Contains the data protection policy config for a DataStore or a connector.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepAction": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepAction",
      "description": "Action.",
      "type": "object",
      "properties": {
        "searchAction": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction",
          "description": "Search action."
        },
        "observation": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservation",
          "description": "Observation."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaBigQuerySource": {
      "properties": {
        "projectId": {
          "description": "The project ID or the project number that contains the BigQuery source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "partitionDate": {
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format.",
          "$ref": "GoogleTypeDate"
        },
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "dataSchema": {
          "description": "The schema to use when parsing the data from the source. Supported values for user event imports: * `user_event` (default): One UserEvent per row. Supported values for document imports: * `document` (default): One Document format per row. Each document must have a valid Document.id and one of Document.json_data or Document.struct_data. * `custom`: One custom data per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBigQuerySource",
      "description": "BigQuery source import data from.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaRecommendRequest": {
      "properties": {
        "pageSize": {
          "description": "Maximum number of results to return. Set this property to the number of recommendation results needed. If zero, the service chooses a reasonable default. The maximum allowed value is 100. Values above 100 are set to 100.",
          "type": "integer",
          "format": "int32"
        },
        "validateOnly": {
          "description": "Use validate only mode for this recommendation query. If set to `true`, a fake model is used that returns arbitrary Document IDs. Note that the validate only mode should only be used for testing the API, or if the model is not ready.",
          "type": "boolean"
        },
        "filter": {
          "description": "Filter for restricting recommendation results with a length limit of 5,000 characters. Currently, only filter expressions on the `filter_tags` attribute is supported. Examples: * `(filter_tags: ANY(\"Red\", \"Blue\") OR filter_tags: ANY(\"Hot\", \"Cold\"))` * `(filter_tags: ANY(\"Red\", \"Blue\")) AND NOT (filter_tags: ANY(\"Green\"))` If `attributeFilteringSyntax` is set to true under the `params` field, then attribute-based expressions are expected instead of the above described tag-based syntax. Examples: * (language: ANY(\"en\", \"es\")) AND NOT (categories: ANY(\"Movie\")) * (available: true) AND (language: ANY(\"en\", \"es\")) OR (categories: ANY(\"Movie\")) If your filter blocks all results, the API returns generic (unfiltered) popular Documents. If you only want results strictly matching the filters, set `strictFiltering` to `true` in RecommendRequest.params to receive empty results instead. Note that the API never returns Documents with `storageStatus` as `EXPIRED` or `DELETED` regardless of filter choices.",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional domain specific parameters for the recommendations. Allowed values: * `returnDocument`: Boolean. If set to `true`, the associated Document object is returned in RecommendResponse.RecommendationResult.document. * `returnScore`: Boolean. If set to true, the recommendation score corresponding to each returned Document is set in RecommendResponse.RecommendationResult.metadata. The given score indicates the probability of a Document conversion given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to `false`, the service returns generic (unfiltered) popular Documents instead of empty if your filter blocks all recommendation results. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` This gives request-level control and adjusts recommendation results based on Document category. * `attributeFilteringSyntax`: Boolean. False by default. If set to true, the `filter` field is interpreted according to the new, attribute-based syntax.",
          "type": "object"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object"
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the Recommend request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserEvent.user_pseudo_id or UserEvent.user_info.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserEvent.user_pseudo_id to a random unique ID and leave UserEvent.user_info.user_id unset.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaRecommendRequest",
      "description": "Request message for Recommend method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEmbeddingConfig": {
      "properties": {
        "fieldPath": {
          "description": "Full field path in the schema mapped as embedding field.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEmbeddingConfig",
      "description": "Defines embedding config, used for bring your own embeddings feature.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRun": {
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRun",
      "description": "A data sync run of DataConnector. After DataConnector is successfully initialized, data syncs are scheduled at DataConnector.refresh_interval. A ConnectorRun represents a data sync either in the past or onging that the moment. //",
      "type": "object",
      "properties": {
        "trigger": {
          "description": "Output only. The trigger for this ConnectorRun.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "SCHEDULER",
            "INITIALIZATION",
            "RESUME",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Default value.",
            "ConnectorRun triggered by scheduler if connector has PERIODIC sync mode.",
            "ConnectorRun auto triggered by connector initialization.",
            "ConnectorRun auto triggered by resuming connector.",
            "ConnectorRun triggered by user manually."
          ]
        },
        "errors": {
          "description": "Contains info about errors incurred during the sync. Only exist if running into an error state. Contains error code and error message. Use with the `state` field.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "name": {
          "description": "Output only. The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time when the connector run ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. The time when the connector run started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "entityRuns": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun"
          },
          "description": "Output only. The details of the entities synced at the ConnectorRun. Each ConnectorRun consists of syncing one or more entities.",
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "description": "Output only. The state of the sync run.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ]
        },
        "stateUpdateTime": {
          "description": "Timestamp at which the connector run sync state was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "latestPauseTime": {
          "description": "Output only. The time when the connector run was most recently paused.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse": {
      "properties": {
        "dataSizeBytes": {
          "description": "Data size in terms of bytes.",
          "type": "string",
          "format": "int64"
        },
        "documentCount": {
          "description": "Total number of documents.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse",
      "description": "Response of the EstimateDataSize request. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaServingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaServingConfig",
      "description": "Configures metadata that is used to generate serving time results (e.g. search results or recommendation predictions). The ServingConfig is passed in the search and predict request and generates results.",
      "type": "object",
      "properties": {
        "diversityLevel": {
          "description": "How much diversity to use in recommendation model results e.g. `medium-diversity` or `high-diversity`. Currently supported values: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` If not specified, we choose default based on recommendation model type. Default value: `no-diversity`. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        },
        "embeddingConfig": {
          "description": "Bring your own embedding config. The config is used for search semantic retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embeddings that are provided by this EmbeddingConfig. If SearchRequest.EmbeddingSpec.EmbeddingVector.vector is provided, it overrides this ServingConfig.embedding_config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEmbeddingConfig"
        },
        "boostControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Boost controls to use in serving path. All triggered boost controls will be applied. Boost controls must be in the same data store as the serving config. Maximum of 20 boost controls.",
          "type": "array"
        },
        "solutionType": {
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "description": "Required. Immutable. Specifies the solution type that a serving config can be associated with.",
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "modelId": {
          "description": "The id of the model to use at serving time. Currently only RecommendationModels are supported. Can be changed but only to a compatible model (e.g. others-you-may-like CTR to others-you-may-like CVR). Required when SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. ServingConfig created timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. ServingConfig updated timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "replacementControlIds": {
          "description": "Condition replacement specifications. Applied according to the order in the list. A previously replaced term can not be re-replaced. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "genericConfig": {
          "description": "The GenericConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1betaServingConfigGenericConfig"
        },
        "redirectControlIds": {
          "items": {
            "type": "string"
          },
          "description": "IDs of the redirect controls. Only the first triggered redirect action is applied, even if multiple apply. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "mediaConfig": {
          "description": "The MediaConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1betaServingConfigMediaConfig"
        },
        "answerGenerationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpec",
          "description": "Optional. The specification for answer generation."
        },
        "dissociateControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition do not associate specifications. If multiple do not associate conditions match, all matching do not associate controls in the list will execute. Order does not matter. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "synonymsControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition synonyms specifications. If multiple synonyms conditions match, all matching synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "promoteControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition promote specifications. Maximum number of specifications is 100.",
          "type": "array"
        },
        "onewaySynonymsControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition oneway synonyms specifications. If multiple oneway synonyms conditions match, all matching oneway synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "displayName": {
          "description": "Required. The human readable serving config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`",
          "type": "string"
        },
        "filterControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Filter controls to use in serving path. All triggered filter controls will be applied. Filter controls must be in the same data store as the serving config. Maximum of 20 filter controls.",
          "type": "array"
        },
        "rankingExpression": {
          "description": "The ranking expression controls the customized ranking on retrieval documents. To leverage this, document embedding is required. The ranking expression setting in ServingConfig applies to all search requests served by the serving config. However, if `SearchRequest.ranking_expression` is specified, it overrides the ServingConfig ranking expression. The ranking expression is a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between embedding_field_path and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`.",
          "type": "string"
        },
        "ignoreControlIds": {
          "description": "Condition ignore specifications. If multiple ignore conditions match, all matching ignore controls in the list will execute. Order does not matter. Maximum number of specifications is 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "personalizationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec",
          "description": "The specification for personalization spec. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest": {
      "properties": {
        "parent": {
          "description": "Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.",
          "type": "string"
        },
        "targetSite": {
          "description": "Required. The TargetSite to create.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest",
      "description": "Request message for SiteSearchEngineService.CreateTargetSite method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec",
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision.",
      "type": "object",
      "properties": {
        "imageSource": {
          "description": "Optional. Source of image returned in the answer.",
          "type": "string",
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesMetadata",
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult",
      "description": "Customer policy enforcement result for a single policy type.",
      "type": "object",
      "properties": {
        "bannedPhraseEnforcementResult": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult",
          "description": "The policy enforcement result for the banned phrase policy."
        },
        "modelArmorEnforcementResult": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultModelArmorEnforcementResult",
          "description": "The policy enforcement result for the Model Armor policy."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1IdpConfig": {
      "properties": {
        "idpType": {
          "description": "Identity provider type configured.",
          "type": "string",
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ],
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ]
        },
        "externalIdpConfig": {
          "description": "External Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1IdpConfig",
      "description": "Identity Provider Config.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata",
      "description": "Metadata for Create Schema LRO.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation": {
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation",
      "description": "Precise location info with multiple representation options. Currently only latitude and longitude point is supported.",
      "type": "object",
      "properties": {
        "point": {
          "$ref": "GoogleTypeLatLng",
          "description": "Optional. Location represented by a latitude/longitude point."
        },
        "address": {
          "description": "Optional. Location represented by a natural language address. Will later be geocoded and converted to either a point or a polygon.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
      "description": "Data protection policy config for NotebookLM.",
      "type": "object",
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
          "description": "Optional. The sensitive data protection policy."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object",
      "properties": {
        "attributeValue": {
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchInfo": {
      "properties": {
        "searchQuery": {
          "description": "The user's search query. See SearchRequest.query for definition. The value must be a UTF-8 encoded string with a length limit of 5,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. At least one of search_query or PageInfo.page_category is required for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "orderBy": {
          "description": "The order in which products are returned, if applicable. See SearchRequest.order_by for definition and syntax. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "offset": {
          "description": "An integer that specifies the current offset for pagination (the 0-indexed starting location, amongst the products deemed by the API as relevant). See SearchRequest.offset for definition. If this field is negative, an `INVALID_ARGUMENT` is returned. This can only be set for `search` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchInfo",
      "description": "Detailed search information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig",
      "description": "The OCR parsing configurations for documents.",
      "type": "object",
      "properties": {
        "enhancedDocumentElements": {
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`.",
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "useNativeText": {
          "description": "If true, will use native text instead of OCR text on pages containing native text.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListControlsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListControlsResponse",
      "description": "Response for ListControls method.",
      "type": "object",
      "properties": {
        "controls": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaControl"
          },
          "description": "All the Controls for a given data store.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec": {
      "properties": {
        "searchRequest": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest",
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id"
        },
        "querySetSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec",
          "description": "Optional. The specification of the query set."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
      "description": "Describes the specification of the evaluation.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequest": {
      "properties": {
        "includeTailSuggestions": {
          "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.",
          "type": "boolean"
        },
        "userInfo": {
          "description": "Optional. Information about the end user. This should be the same identifier information as UserEvent.user_info and SearchRequest.user_info.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo"
        },
        "experimentIds": {
          "description": "Optional. Experiment ids for this request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestionTypeSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypeSpec"
          },
          "description": "Optional. Specification of each suggestion type.",
          "type": "array"
        },
        "userPseudoId": {
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128",
          "type": "string"
        },
        "queryModel": {
          "description": "Specifies the autocomplete query model, which only applies to the QUERY SuggestionType. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores.",
          "type": "string"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpec",
          "description": "Optional. Specification to boost suggestions matching the condition."
        },
        "query": {
          "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters. The query can not be empty for most of the suggestion types. If it is empty, an `INVALID_ARGUMENT` error is returned. The exception is when the suggestion_types contains only the type `RECENT_SEARCH`, the query can be an empty string. The is called \"zero prefix\" feature, which returns user's recently searched queries given the empty query.",
          "type": "string"
        },
        "suggestionTypes": {
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Returns query suggestions.",
              "Returns people suggestions.",
              "Returns content suggestions.",
              "Returns recent search suggestions.",
              "Returns Google Workspace suggestions."
            ],
            "type": "string",
            "enum": [
              "SUGGESTION_TYPE_UNSPECIFIED",
              "QUERY",
              "PEOPLE",
              "CONTENT",
              "RECENT_SEARCH",
              "GOOGLE_WORKSPACE"
            ]
          },
          "description": "Optional. Suggestion types to return. If empty or unspecified, query suggestions are returned. Only one suggestion type is supported at the moment.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequest",
      "description": "Request message for CompletionService.AdvancedCompleteQuery method. .",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAgentGatewaySettingAgentGatewayReference": {
      "properties": {
        "name": {
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAgentGatewaySettingAgentGatewayReference",
      "description": "Reference to an Agent Gateway resource.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfoDocumentMetadata": {
      "properties": {
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "structData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "type": "object"
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfoDocumentMetadata",
      "description": "Document metadata.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata": {
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "ignoredCount": {
          "description": "Count of entries that were ignored as entries were not found.",
          "type": "string",
          "format": "int64"
        },
        "successCount": {
          "description": "Count of entries that were deleted successfully.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPageInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaPageInfo",
      "description": "Detailed page information.",
      "type": "object",
      "properties": {
        "pageviewId": {
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageview_id` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "uri": {
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters.",
          "type": "string"
        },
        "pageCategory": {
          "description": "The most specific category associated with a category page. To represent full path of category, use '>' sign to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: `\"pageCategory\" : \"Sales > 2017 Black Friday Deals\"`. Required for `view-category-page` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "referrerUri": {
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. However, some browser privacy restrictions may cause this field to be empty.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries": {
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaListSchemasResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListSchemasRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "schemas": {
          "description": "The Schemas.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSchema"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaListSchemasResponse",
      "description": "Response message for SchemaService.ListSchemas method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaConditionTimeRange": {
      "id": "GoogleCloudDiscoveryengineV1alphaConditionTimeRange",
      "description": "Used for time-dependent conditions.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "End of time range. Range is inclusive. Must be in the future.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Start of time range. Range is inclusive.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleApiDistributionExemplar": {
      "id": "GoogleApiDistributionExemplar",
      "description": "Exemplars are example points that may be used to annotate aggregated distribution values. They are metadata that gives information about a particular value added to a Distribution bucket, such as a trace ID that was active when a value was added. They may contain further information, such as a example values and timestamps, origin, etc.",
      "type": "object",
      "properties": {
        "attachments": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Contextual information about the example value. Examples are: Trace: type.googleapis.com/google.monitoring.v3.SpanContext Literal string: type.googleapis.com/google.protobuf.StringValue Labels dropped during aggregation: type.googleapis.com/google.monitoring.v3.DroppedLabels There may be only a single attachment of any given message type in a single exemplar, and this is enforced by the system.",
          "type": "array"
        },
        "timestamp": {
          "description": "The observation (sampling) time of the above value.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "description": "Value of the exemplar point. This value determines to which bucket the exemplar belongs.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSessionTurn": {
      "id": "GoogleCloudDiscoveryengineV1betaSessionTurn",
      "description": "Represents a turn, including a query from the user and a answer from service.",
      "type": "object",
      "properties": {
        "queryConfig": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Represents metadata related to the query config, for example LLM model and version used, model parameters (temperature, grounding parameters, etc.). The prefix \"google.\" is reserved for Google-developed functionality.",
          "type": "object"
        },
        "detailedAssistAnswer": {
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting assistant session.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswer"
        },
        "query": {
          "description": "Optional. The user query. May not be set if this turn is merely regenerating an answer to a different turn",
          "$ref": "GoogleCloudDiscoveryengineV1betaQuery"
        },
        "answer": {
          "description": "Optional. The resource name of the answer to the user query. Only set if the answer generation (/answer API call) happened in this turn.",
          "type": "string"
        },
        "detailedAnswer": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswer",
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting answer query session.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata": {
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata",
      "description": "Metadata for Create Schema LRO.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ControlPromoteAction": {
      "id": "GoogleCloudDiscoveryengineV1ControlPromoteAction",
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "type": "object",
      "properties": {
        "searchLinkPromotion": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchLinkPromotion",
          "description": "Required. Promotion attached to this action."
        },
        "dataStore": {
          "description": "Required. Data store with which this promotion is attached to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Optional. Error details."
        },
        "streamingErrorReason": {
          "description": "Optional. Streaming error.",
          "type": "string",
          "enum": [
            "STREAMING_ERROR_REASON_UNSPECIFIED",
            "STREAMING_SETUP_ERROR",
            "STREAMING_SYNC_ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "enumDescriptions": [
            "Streaming error reason unspecified.",
            "Some error occurred while setting up resources for realtime sync.",
            "Some error was encountered while running realtime sync for the connector.",
            "Ingress endpoint is required when setting up realtime sync in private connectivity."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError",
      "description": "Streaming error details.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelResponse": {
      "properties": {
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "metrics": {
          "description": "The metrics of the trained model.",
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the data.",
          "type": "array"
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelResponse",
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CliConfig": {
      "properties": {
        "enabledActions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The actions enabled on the associated CLI connection.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CliConfig",
      "description": "The configuration for the CLI execution based connectors.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSchema": {
      "id": "GoogleCloudDiscoveryengineV1alphaSchema",
      "description": "Defines the structure and layout of a type of document data.",
      "type": "object",
      "properties": {
        "structSchema": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The structured representation of the schema.",
          "type": "object"
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "fieldConfigs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFieldConfig"
          },
          "description": "Output only. Configurations for fields of the schema.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "properties": {
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        },
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec": {
      "properties": {
        "referenceOnly": {
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "type": "boolean"
        },
        "maxSnippetCount": {
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "type": "integer",
          "format": "int32"
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec",
      "description": "A specification for configuring snippets in a search response.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPrincipal": {
      "id": "GoogleCloudDiscoveryengineV1betaPrincipal",
      "description": "Principal identifier of a user or a group.",
      "type": "object",
      "properties": {
        "userId": {
          "description": "User identifier. For Google Workspace user account, user_id should be the google workspace user email. For non-google identity provider user account, user_id is the mapped user identifier configured during the workforcepool config.",
          "type": "string"
        },
        "groupId": {
          "description": "Group identifier. For Google Workspace user account, group_id should be the google workspace group email. For non-google identity provider user account, group_id is the mapped group identifier configured during the workforcepool config.",
          "type": "string"
        },
        "externalEntityId": {
          "description": "For 3P application identities which are not present in the customer identity provider.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "description": "The digital parsing configurations for documents.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy": {
      "id": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy",
      "description": "Customer-defined policy for the assistant.",
      "type": "object",
      "properties": {
        "bannedPhrases": {
          "description": "Optional. List of banned phrases.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyBannedPhrase"
          }
        },
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig",
          "description": "Optional. Model Armor configuration to be used for sanitizing user prompts and assistant responses."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec": {
      "properties": {
        "numPreviousChunks": {
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "type": "integer",
          "format": "int32"
        },
        "numNextChunks": {
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec",
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContentBlob": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContentBlob",
      "description": "Inline blob.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The media type (MIME type) of the generated data.",
          "type": "string"
        },
        "data": {
          "description": "Required. Raw bytes.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaObservabilityConfig": {
      "properties": {
        "observabilityEnabled": {
          "description": "Optional. Enables observability. If `false`, all other flags are ignored.",
          "type": "boolean"
        },
        "sensitiveLoggingEnabled": {
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaObservabilityConfig",
      "description": "Observability config for a resource.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSpannerSource": {
      "id": "GoogleCloudDiscoveryengineV1betaSpannerSource",
      "description": "The Spanner source for importing data",
      "type": "object",
      "properties": {
        "databaseId": {
          "description": "Required. The database ID of the source Spanner table.",
          "type": "string"
        },
        "enableDataBoost": {
          "description": "Whether to apply data boost on Spanner export. Enabling this option will incur additional cost. More info can be found [here](https://cloud.google.com/spanner/docs/databoost/databoost-overview#billing_and_quotas).",
          "type": "boolean"
        },
        "tableId": {
          "description": "Required. The table name of the Spanner database that needs to be imported.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID that contains the Spanner source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The instance ID of the source Spanner table.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata": {
      "properties": {
        "dialogflowAgent": {
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAlloyDbSource": {
      "properties": {
        "projectId": {
          "description": "The project ID that contains the AlloyDB source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the AlloyDB export to a specific Cloud Storage directory. Ensure that the AlloyDB service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The AlloyDB table to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "clusterId": {
          "description": "Required. The AlloyDB cluster to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "databaseId": {
          "description": "Required. The AlloyDB database to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "locationId": {
          "description": "Required. The AlloyDB location to copy the data from with a length limit of 256 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAlloyDbSource",
      "description": "AlloyDB source import data from.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
      "description": "Specification for relevance filtering on a specific sub-search.",
      "type": "object",
      "properties": {
        "relevanceThreshold": {
          "description": "Pre-defined relevance threshold for the sub-search.",
          "type": "string",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ]
        },
        "semanticRelevanceThreshold": {
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata": {
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata",
      "description": "Metadata related to the progress of the AgentService.DeleteAgent operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata",
      "description": "Metadata related to the progress of the UserStoreService.DeleteUserStore operation. This will be returned by the google.longrunning.Operation.metadata field. Delete UserStore will delete all the end users under the user store, return the number of end users successfully deleted or failed to delete in the metadata.",
      "type": "object",
      "properties": {
        "successCount": {
          "description": "The number of end users under the user store that were successfully deleted.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "description": "The number of end users under the user store that failed to be deleted.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPart": {
      "properties": {
        "driveDocumentReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference",
          "description": "Reference to a Google Drive document."
        },
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the data. See https://www.iana.org/assignments/media-types/media-types.xhtml. This field is optional. If not set, the default assumed MIME type is \"text/plain\" for the \"data\" field.",
          "type": "string"
        },
        "personReference": {
          "description": "Reference to a person.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference"
        },
        "documentReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
          "description": "Other VAIS Document references."
        },
        "text": {
          "description": "Text content.",
          "type": "string"
        },
        "uiJsonPayload": {
          "description": "This field is expected to be a ui message in JSON format. As of Q1 2026, ui_json_payload is only supported for A2UI messages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPart",
      "description": "Represents a part or the whole of a content, used to represent a query. A query can be made up of multiple parts.",
      "type": "object"
    },
    "GoogleApiDistributionBucketOptionsExplicit": {
      "properties": {
        "bounds": {
          "description": "The values must be monotonically increasing.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "id": "GoogleApiDistributionBucketOptionsExplicit",
      "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachment": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachment",
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Output only. The blob data.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob"
        },
        "attributionType": {
          "description": "Output only. The attribution type of the blob.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ],
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest",
      "description": "Request for DataStoreService.AddPatientFilter method.",
      "type": "object",
      "properties": {
        "filterGroups": {
          "items": {
            "type": "string"
          },
          "description": "Required. Names of the Group resources to use as a basis for the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array"
        },
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSessionRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSessionRequest",
      "description": "Request for DeleteSession method.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the Session to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/sessions/{session_id}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsResponse": {
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsResponse",
      "description": "Response message for IdentityMappingStoreService.ImportIdentityMappings",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec": {
      "properties": {
        "enableSearchAdaptor": {
          "description": "Whether or not to enable and include custom fine tuned search adaptor model.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec",
      "description": "Defines custom fine tuning spec.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaFetchSitemapsResponseSitemapMetadata": {
      "properties": {
        "sitemap": {
          "description": "The Sitemap.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSitemap"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaFetchSitemapsResponseSitemapMetadata",
      "description": "Contains a Sitemap and its metadata.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec",
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision.",
      "type": "object",
      "properties": {
        "imageSource": {
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ],
          "description": "Optional. Source of image returned in the answer.",
          "type": "string",
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource",
      "description": "The inline source to import identity mapping entries from.",
      "type": "object",
      "properties": {
        "identityMappingEntries": {
          "description": "A maximum of 10000 entries can be imported at one time",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntry"
          }
        }
      }
    },
    "GoogleApiDistributionBucketOptionsExponential": {
      "id": "GoogleApiDistributionBucketOptionsExponential",
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): scale * (growth_factor ^ i). Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1)).",
      "type": "object",
      "properties": {
        "numFiniteBuckets": {
          "description": "Must be greater than 0.",
          "type": "integer",
          "format": "int32"
        },
        "growthFactor": {
          "description": "Must be greater than 1.",
          "type": "number",
          "format": "double"
        },
        "scale": {
          "description": "Must be greater than 0.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaBigtableOptionsBigtableColumnFamily": {
      "id": "GoogleCloudDiscoveryengineV1betaBigtableOptionsBigtableColumnFamily",
      "description": "The column family of the Bigtable.",
      "type": "object",
      "properties": {
        "encoding": {
          "enumDescriptions": [
            "The encoding is unspecified.",
            "Text encoding.",
            "Binary encoding."
          ],
          "description": "The encoding mode of the values when the type is not STRING. Acceptable encoding values are: * `TEXT`: indicates values are alphanumeric text strings. * `BINARY`: indicates values are encoded using `HBase Bytes.toBytes` family of functions. This can be overridden for a specific column by listing that column in `columns` and specifying an encoding for it.",
          "type": "string",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "TEXT",
            "BINARY"
          ]
        },
        "type": {
          "enumDescriptions": [
            "The type is unspecified.",
            "String type.",
            "Numerical type.",
            "Integer type.",
            "Variable length integer type.",
            "BigDecimal type.",
            "Boolean type.",
            "JSON type."
          ],
          "description": "The type of values in this column family. The values are expected to be encoded using `HBase Bytes.toBytes` function when the encoding value is set to `BINARY`.",
          "type": "string",
          "enum": [
[...]
