{
  "basePath": "",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "title": "Discovery Engine API",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "description": "Discovery Engine API.",
  "canonicalName": "Discovery Engine",
  "endpoints": [
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "in"
    }
  ],
  "revision": "20260322",
  "version": "v1beta",
  "kind": "discovery#restDescription",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "name": "discoveryengine",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelMetadata": {
      "description": "Metadata related to the progress of the TrainCustomModel operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec": {
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "properties": {
        "numPreviousChunks": {
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "type": "integer",
          "format": "int32"
        },
        "numNextChunks": {
          "type": "integer",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec"
    },
    "GoogleCloudDiscoveryengineV1betaUserEvent": {
      "properties": {
        "sessionId": {
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix.",
          "type": "string"
        },
        "dataStore": {
          "description": "The DataStore resource full name, of the form `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. Optional. Only required for user events whose data store can't by determined by UserEvent.engine or UserEvent.documents. If data store is set in the parent of write/import/collect user event requests, this field can be omitted.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchRequest may contain a filter expression in SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a RecommendRequest, this field may be populated directly from RecommendRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home > Men > Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. Custom conversion value: * `conversion`: Customer defined conversion event.",
          "type": "string"
        },
        "searchInfo": {
          "description": "SearchService.Search details related to the event. This field should be set for `search` event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchInfo"
        },
        "transactionInfo": {
          "description": "The transaction metadata (if any) associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTransactionInfo"
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an `INVALID_ARGUMENT` error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is `traffic_channel`, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways.",
          "type": "object"
        },
        "entity": {
          "description": "Optional. Represents the entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set `entity` to get better per-entity search, completion, and prediction results.",
          "type": "string"
        },
        "directUserRequest": {
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent.",
          "type": "boolean"
        },
        "attributionToken": {
          "type": "string",
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of RecommendationService.Recommend. This field enables accurate attribution of recommendation model performance. The value must be one of: * RecommendResponse.attribution_token for events that are the result of RecommendationService.Recommend. * SearchResponse.attribution_token for events that are the result of SearchService.Search. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass RecommendResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the RecommendResponse.attribution_token to this field."
        },
        "pageInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaPageInfo",
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`."
        },
        "panels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
          },
          "description": "Optional. List of panels associated with this event. Used for page-level impression data."
        },
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo",
          "description": "Information about the end user."
        },
        "mediaInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaMediaInfo",
          "description": "Media-specific info."
        },
        "engine": {
          "description": "The Engine resource name, in the form of `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`. Optional. Only required for Engine produced user events. For example, user events from blended search.",
          "type": "string"
        },
        "completionInfo": {
          "description": "CompletionService.CompleteQuery details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCompletionInfo"
        },
        "userPseudoId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field."
        },
        "promotionIds": {
          "items": {
            "type": "string"
          },
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID.",
          "type": "array"
        },
        "documents": {
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocumentInfo"
          },
          "type": "array"
        },
        "eventTime": {
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "format": "google-datetime",
          "type": "string"
        },
        "tagIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups."
        },
        "panel": {
          "description": "Panel metadata associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
        },
        "conversionType": {
          "description": "Optional. Conversion type. Required if UserEvent.event_type is `conversion`. This is a customer-defined conversion name in lowercase letters or numbers separated by \"-\", such as \"watch\", \"good-visit\" etc. Do not set the field if UserEvent.event_type is not `conversion`. This mixes the custom conversion event with predefined events like `search`, `view-item` etc.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserEvent",
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with your website.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "properties": {
        "responseTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response."
        },
        "userPromptTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaObservabilityConfig": {
      "description": "Observability config for a resource.",
      "type": "object",
      "properties": {
        "observabilityEnabled": {
          "description": "Optional. Enables observability. If `false`, all other flags are ignored.",
          "type": "boolean"
        },
        "sensitiveLoggingEnabled": {
          "type": "boolean",
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaObservabilityConfig"
    },
    "GoogleCloudDiscoveryengineV1betaListEvaluationResultsResponse": {
      "description": "Response message for EvaluationService.ListEvaluationResults method.",
      "properties": {
        "evaluationResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaListEvaluationResultsResponseEvaluationResult"
          },
          "description": "The evaluation results for the SampleQuerys.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListEvaluationResultsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaListEvaluationResultsResponse"
    },
    "GoogleCloudDiscoveryengineV1ImportErrorConfig": {
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec",
      "description": "A specification for configuring the extractive content in a search response.",
      "type": "object",
      "properties": {
        "maxExtractiveSegmentCount": {
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`.",
          "format": "int32",
          "type": "integer"
        },
        "numPreviousSegments": {
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "type": "integer",
          "format": "int32"
        },
        "numNextSegments": {
          "description": "Return at most `num_next_segments` segments after each selected segments.",
          "type": "integer",
          "format": "int32"
        },
        "maxExtractiveAnswerCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult."
        },
        "returnExtractiveSegmentScore": {
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepAction": {
      "properties": {
        "observation": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservation",
          "description": "Observation."
        },
        "searchAction": {
          "description": "Search action.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction"
        }
      },
      "type": "object",
      "description": "Action.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepAction"
    },
    "GoogleCloudDiscoveryengineV1alphaGetUriPatternDocumentDataResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaGetUriPatternDocumentDataResponse",
      "type": "object",
      "properties": {
        "documentDataMap": {
          "additionalProperties": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "type": "object",
          "description": "Document data keyed by URI pattern. For example: document_data_map = { \"www.url1.com/*\": { \"Categories\": [\"category1\", \"category2\"] }, \"www.url2.com/*\": { \"Categories\": [\"category3\"] } }"
        }
      },
      "description": "Response message for SiteSearchEngineService.GetUriPatternDocumentData method."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig",
      "description": "Configurations for a Chat Engine.",
      "type": "object",
      "properties": {
        "agentCreationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfigAgentCreationConfig",
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "dialogflowAgentToLink": {
          "type": "string",
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummary": {
      "properties": {
        "summaryText": {
          "description": "The summary content.",
          "type": "string"
        },
        "summarySkippedReasons": {
          "type": "array",
          "description": "Additional summary-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "items": {
            "enumDescriptions": [
              "Default value. The summary skipped reason is not specified.",
              "The adversarial query ignored case. Only used when SummarySpec.ignore_adversarial_query is set to `true`.",
              "The non-summary seeking query ignored case. Google skips the summary if the query is chit chat. Only used when SummarySpec.ignore_non_summary_seeking_query is set to `true`.",
              "The out-of-domain query ignored case. Google skips the summary if there are no high-relevance search results. For example, the data store contains facts about company A but the user query is asking questions about company B.",
              "The potential policy violation case. Google skips the summary if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The LLM addon not enabled case. Google skips the summary if the LLM addon is not enabled.",
              "The no relevant content case. Google skips the summary if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Only used when [SearchRequest.ContentSearchSpec.SummarySpec.ignore_jail_breaking_query] is set to `true`.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the summary if the query doesn't have clear intent. Only used when [SearchRequest.ContentSearchSpec.SummarySpec.ignore_non_answer_seeking_query] is set to `true`.",
              "The time out case. Google skips the summary if the time out."
            ],
            "enum": [
              "SUMMARY_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "LLM_ADDON_NOT_ENABLED",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED_V2",
              "TIME_OUT"
            ],
            "type": "string"
          }
        },
        "summaryWithMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummarySummaryWithMetadata",
          "description": "Summary with metadata information."
        },
        "safetyAttributes": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummarySafetyAttributes",
          "description": "A collection of Safety Attribute categories and their associated confidence scores."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummary",
      "description": "Summary of the top N search results specified by the summary spec.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "properties": {
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaListSessionsResponse": {
      "type": "object",
      "properties": {
        "sessions": {
          "description": "All the Sessions for a given data store.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSession"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        }
      },
      "description": "Response for ListSessions method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListSessionsResponse"
    },
    "GoogleCloudDiscoveryengineV1UserLicense": {
      "properties": {
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        },
        "userProfile": {
          "type": "string",
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile."
        },
        "updateTime": {
          "description": "Output only. User update timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "licenseAssignmentState": {
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ],
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;",
          "type": "string",
          "readOnly": true
        },
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. User created timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastLoginTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1UserLicense",
      "description": "User License information assigned by the admin.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpec": {
      "properties": {
        "summarySpec": {
          "description": "If `summarySpec` is not specified, summaries are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpec"
        },
        "searchResultMode": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ],
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`."
        },
        "chunkSpec": {
          "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec"
        },
        "extractiveContentSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecExtractiveContentSpec",
          "description": "If there is no extractive_content_spec provided, there will be no extractive answer in the search response."
        },
        "snippetSpec": {
          "description": "If `snippetSpec` is not specified, snippets are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec"
        }
      },
      "description": "A specification for configuring the behavior of content search.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata",
      "description": "Metadata for DeleteSchema LRO.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest",
      "description": "Request for DataStoreService.DeletePatientFilters method.",
      "type": "object",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSitemapMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSitemapMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseFacet": {
      "type": "object",
      "description": "A facet result.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseFacet",
      "properties": {
        "key": {
          "description": "The key for this facet. For example, `\"colors\"` or `\"price\"`. It matches SearchRequest.FacetSpec.FacetKey.key.",
          "type": "string"
        },
        "values": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseFacetFacetValue"
          },
          "type": "array",
          "description": "The facet values for this field."
        },
        "dynamicFacet": {
          "description": "Whether the facet is dynamically generated.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext": {
      "type": "object",
      "properties": {
        "content": {
          "description": "Document content to be used for answer generation.",
          "type": "string"
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        }
      },
      "description": "Document context.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
    },
    "GoogleCloudDiscoveryengineV1betaServingConfig": {
      "type": "object",
      "description": "Configures metadata that is used to generate serving time results (e.g. search results or recommendation predictions). The ServingConfig is passed in the search and predict request and generates results.",
      "properties": {
        "modelId": {
          "type": "string",
          "description": "The id of the model to use at serving time. Currently only RecommendationModels are supported. Can be changed but only to a compatible model (e.g. others-you-may-like CTR to others-you-may-like CVR). Required when SolutionType is SOLUTION_TYPE_RECOMMENDATION."
        },
        "diversityLevel": {
          "type": "string",
          "description": "How much diversity to use in recommendation model results e.g. `medium-diversity` or `high-diversity`. Currently supported values: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` If not specified, we choose default based on recommendation model type. Default value: `no-diversity`. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION."
        },
        "solutionType": {
          "description": "Required. Immutable. Specifies the solution type that a serving config can be associated with.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "type": "string"
        },
        "embeddingConfig": {
          "description": "Bring your own embedding config. The config is used for search semantic retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embeddings that are provided by this EmbeddingConfig. If SearchRequest.EmbeddingSpec.EmbeddingVector.vector is provided, it overrides this ServingConfig.embedding_config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEmbeddingConfig"
        },
        "answerGenerationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpec",
          "description": "Optional. The specification for answer generation."
        },
        "dissociateControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Condition do not associate specifications. If multiple do not associate conditions match, all matching do not associate controls in the list will execute. Order does not matter. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "promoteControlIds": {
          "description": "Condition promote specifications. Maximum number of specifications is 100.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ignoreControlIds": {
          "type": "array",
          "description": "Condition ignore specifications. If multiple ignore conditions match, all matching ignore controls in the list will execute. Order does not matter. Maximum number of specifications is 100.",
          "items": {
            "type": "string"
          }
        },
        "boostControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Boost controls to use in serving path. All triggered boost controls will be applied. Boost controls must be in the same data store as the serving config. Maximum of 20 boost controls."
        },
        "redirectControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of the redirect controls. Only the first triggered redirect action is applied, even if multiple apply. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. ServingConfig updated timestamp."
        },
        "mediaConfig": {
          "description": "The MediaConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1betaServingConfigMediaConfig"
        },
        "personalizationSpec": {
          "description": "The specification for personalization spec. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec"
        },
        "onewaySynonymsControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition oneway synonyms specifications. If multiple oneway synonyms conditions match, all matching oneway synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "genericConfig": {
          "description": "The GenericConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1betaServingConfigGenericConfig"
        },
        "replacementControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition replacement specifications. Applied according to the order in the list. A previously replaced term can not be re-replaced. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "synonymsControlIds": {
          "type": "array",
          "description": "Condition synonyms specifications. If multiple synonyms conditions match, all matching synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "items": {
            "type": "string"
          }
        },
        "filterControlIds": {
          "description": "Filter controls to use in serving path. All triggered filter controls will be applied. Filter controls must be in the same data store as the serving config. Maximum of 20 filter controls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rankingExpression": {
          "type": "string",
          "description": "The ranking expression controls the customized ranking on retrieval documents. To leverage this, document embedding is required. The ranking expression setting in ServingConfig applies to all search requests served by the serving config. However, if `SearchRequest.ranking_expression` is specified, it overrides the ServingConfig ranking expression. The ranking expression is a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between embedding_field_path and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. ServingConfig created timestamp."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The human readable serving config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaServingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaQuery": {
      "properties": {
        "text": {
          "description": "Plain text.",
          "type": "string"
        },
        "queryId": {
          "type": "string",
          "description": "Output only. Unique Id for the query.",
          "readOnly": true
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPart"
          },
          "description": "Query content parts."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaQuery",
      "type": "object",
      "description": "Defines a user inputed query."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec": {
      "type": "object",
      "description": "Safety specification. There are two use cases: 1. when only safety_spec.enable is set, the BLOCK_LOW_AND_ABOVE threshold will be applied for all categories. 2. when safety_spec.enable is set and some safety_settings are set, only specified safety_settings are applied.",
      "properties": {
        "safetySettings": {
          "type": "array",
          "description": "Optional. Safety settings. This settings are effective only when the safety_spec.enable is true.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting"
          }
        },
        "enable": {
          "description": "Enable the safety filtering on the answer response. It is false by default.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec",
      "properties": {
        "returnSnippet": {
          "type": "boolean",
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned."
        },
        "maxSnippetCount": {
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "referenceOnly": {
          "type": "boolean",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet."
        }
      },
      "type": "object",
      "description": "A specification for configuring snippets in a search response."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation": {
      "type": "object",
      "properties": {
        "searchResults": {
          "description": "Search results observed by the search action, it can be snippets info or chunk info, depending on the citation type set by the user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation",
      "description": "Observation."
    },
    "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig",
      "type": "object",
      "description": "Configuration data for advance site search.",
      "properties": {
        "disableInitialIndex": {
          "description": "If set true, initial indexing is disabled for the DataStore.",
          "type": "boolean"
        },
        "disableAutomaticRefresh": {
          "description": "If set true, automatic refresh is disabled for the DataStore.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSessionTurn": {
      "properties": {
        "detailedAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswer",
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting assistant session."
        },
        "queryConfig": {
          "description": "Optional. Represents metadata related to the query config, for example LLM model and version used, model parameters (temperature, grounding parameters, etc.). The prefix \"google.\" is reserved for Google-developed functionality.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answer": {
          "description": "Optional. The resource name of the answer to the user query. Only set if the answer generation (/answer API call) happened in this turn.",
          "type": "string"
        },
        "query": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQuery",
          "description": "Optional. The user query. May not be set if this turn is merely regenerating an answer to a different turn"
        },
        "detailedAnswer": {
          "readOnly": true,
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting answer query session.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswer"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSessionTurn",
      "type": "object",
      "description": "Represents a turn, including a query from the user and a answer from service."
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRun": {
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRun",
      "type": "object",
      "description": "A data sync run of DataConnector. After DataConnector is successfully initialized, data syncs are scheduled at DataConnector.refresh_interval. A ConnectorRun represents a data sync either in the past or onging that the moment. //",
      "properties": {
        "entityRuns": {
          "description": "Output only. The details of the entities synced at the ConnectorRun. Each ConnectorRun consists of syncing one or more entities.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun"
          }
        },
        "trigger": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "ConnectorRun triggered by scheduler if connector has PERIODIC sync mode.",
            "ConnectorRun auto triggered by connector initialization.",
            "ConnectorRun auto triggered by resuming connector.",
            "ConnectorRun triggered by user manually."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "SCHEDULER",
            "INITIALIZATION",
            "RESUME",
            "MANUAL"
          ],
          "description": "Output only. The trigger for this ConnectorRun.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the sync run."
        },
        "stateUpdateTime": {
          "description": "Timestamp at which the connector run sync state was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time when the connector run started.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "readOnly": true
        },
        "errors": {
          "description": "Contains info about errors incurred during the sync. Only exist if running into an error state. Contains error code and error message. Use with the `state` field.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "latestPauseTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the connector run was most recently paused."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the connector run ended.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
      "properties": {
        "qpsTimeSeries": {
          "$ref": "GoogleMonitoringV3TimeSeries",
          "description": "The QPS of the crawl rate."
        }
      },
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "type": "object"
    },
    "GoogleMonitoringV3TimeSeries": {
      "properties": {
        "metricKind": {
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "description": "The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series. When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric's descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either `GAUGE` (the default) or `CUMULATIVE`.",
          "type": "string"
        },
        "unit": {
          "description": "The units in which the metric value is reported. It is only applicable if the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The `unit` defines the representation of the stored metric values. This field can only be changed through CreateTimeSeries when it is empty.",
          "type": "string"
        },
        "valueType": {
          "description": "The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series. When creating a time series, this field is optional. If present, it must be the same as the type of the data in the `points` field.",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a `Distribution`.",
            "The value is money."
          ],
          "type": "string"
        },
        "resource": {
          "description": "The associated monitored resource. Custom metrics can use only certain monitored resource types in their time series data. For more information, see [Monitored resources for custom metrics](https://cloud.google.com/monitoring/custom-metrics/creating-metrics#custom-metric-resources).",
          "$ref": "GoogleApiMonitoredResource"
        },
        "description": {
          "description": "Input only. A detailed description of the time series that will be associated with the google.api.MetricDescriptor for the metric. Once set, this field cannot be changed through CreateTimeSeries.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. The associated monitored resource metadata. When reading a time series, this field will include metadata labels that are explicitly named in the reduction. When creating a time series, this field is ignored.",
          "$ref": "GoogleApiMonitoredResourceMetadata"
        },
        "points": {
          "description": "The data points of this time series. When listing time series, points are returned in reverse time order. When creating a time series, this field must contain exactly one point and the point's type must be the same as the value type of the associated metric. If the associated metric's descriptor must be auto-created, then the value type of the descriptor is determined by the point's type, which must be `BOOL`, `INT64`, `DOUBLE`, or `DISTRIBUTION`.",
          "items": {
            "$ref": "GoogleMonitoringV3Point"
          },
          "type": "array"
        },
        "metric": {
          "$ref": "GoogleApiMetric",
          "description": "The associated metric. A fully-specified metric used to identify the time series."
        }
      },
      "id": "GoogleMonitoringV3TimeSeries",
      "type": "object",
      "description": "A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec": {
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec",
      "type": "object",
      "properties": {
        "imageSource": {
          "description": "Optional. Source of image returned in the answer.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ],
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultChunkInfo": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "relevanceScore": {
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "type": "number"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultChunkInfo",
      "type": "object",
      "description": "Chunk information."
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest": {
      "type": "object",
      "description": "Request for UpdateSession method.",
      "properties": {
        "session": {
          "description": "Required. The Session to update.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSession"
        },
        "updateMask": {
          "type": "string",
          "description": "Indicates which fields in the provided Session to update. The following are NOT supported: * Session.name If not set or empty, all supported fields are updated.",
          "format": "google-fieldmask"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec": {
      "properties": {
        "sampleQuerySet": {
          "description": "Optional. The full resource name of the SampleQuerySet used for the evaluation, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`.",
          "type": "string"
        }
      },
      "description": "Describes the specification of the query set.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec"
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse",
      "properties": {
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the data."
        },
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "description": "The metrics of the trained model."
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        }
      },
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason",
      "type": "object",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportIdentityMappingsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsResponse",
      "description": "Response message for IdentityMappingStoreService.ImportIdentityMappings",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaRankResponse": {
      "type": "object",
      "properties": {
        "records": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaRankingRecord"
          },
          "description": "A list of records sorted by descending score.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaRankResponse",
      "description": "Response message for RankService.Rank method."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCreateDataStoreMetadata"
    },
    "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore": {
      "description": "Stores information regarding the serving configurations at DataStore level.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore",
      "type": "object",
      "properties": {
        "disabledForServing": {
          "type": "boolean",
          "description": "Optional. If set true, the DataStore will not be available for serving search requests."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsRequestInlineSource": {
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCompletionSuggestion"
          },
          "description": "Required. A list of all denylist entries to import. Max of 1000 items.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsRequestInlineSource",
      "description": "The inline source for CompletionSuggestions."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfig": {
      "description": "Configuration for the generation of the assistant response.",
      "type": "object",
      "properties": {
        "systemInstruction": {
          "description": "System instruction, also known as the prompt preamble for LLM calls. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/prompts/system-instructions",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction"
        },
        "defaultModelId": {
          "type": "string",
          "description": "Optional. The default model to use for assistant."
        },
        "allowedModelIds": {
          "type": "array",
          "description": "Optional. The list of models that are allowed to be used for assistant.",
          "items": {
            "type": "string"
          }
        },
        "defaultLanguage": {
          "description": "The default language to use for the generation of the assistant response. Use an ISO 639-1 language code such as `en`. If not specified, the language will be automatically detected.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfig"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryUnderstandingInfoQueryClassificationInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryUnderstandingInfoQueryClassificationInfo",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADVERSARIAL_QUERY",
            "NON_ANSWER_SEEKING_QUERY",
            "JAIL_BREAKING_QUERY",
            "NON_ANSWER_SEEKING_QUERY_V2",
            "USER_DEFINED_CLASSIFICATION_QUERY"
          ],
          "description": "Query classification type.",
          "enumDescriptions": [
            "Unspecified query classification type.",
            "Adversarial query classification type.",
            "Non-answer-seeking query classification type, for chit chat.",
            "Jail-breaking query classification type.",
            "Non-answer-seeking query classification type, for no clear intent.",
            "User defined query classification type."
          ]
        },
        "positive": {
          "description": "Classification output.",
          "type": "boolean"
        }
      },
      "description": "Query classification information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore": {
      "properties": {
        "disabledForServing": {
          "description": "Optional. If set true, the DataStore will not be available for serving search requests.",
          "type": "boolean"
        }
      },
      "description": "Stores information regarding the serving configurations at DataStore level.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore"
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation": {
      "description": "Estimation of data size per data store.",
      "type": "object",
      "properties": {
        "unstructuredDataUpdateTime": {
          "format": "google-datetime",
          "description": "Last updated timestamp for unstructured data.",
          "type": "string"
        },
        "structuredDataSize": {
          "type": "string",
          "format": "int64",
          "description": "Data size for structured data in terms of bytes."
        },
        "structuredDataUpdateTime": {
          "format": "google-datetime",
          "description": "Last updated timestamp for structured data.",
          "type": "string"
        },
        "websiteDataUpdateTime": {
          "type": "string",
          "description": "Last updated timestamp for websites.",
          "format": "google-datetime"
        },
        "unstructuredDataSize": {
          "type": "string",
          "description": "Data size for unstructured data in terms of bytes.",
          "format": "int64"
        },
        "websiteDataSize": {
          "type": "string",
          "description": "Data size for websites in terms of bytes.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation"
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostAction": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostAction",
      "description": "Adjusts order of products in returned list.",
      "properties": {
        "boost": {
          "format": "float",
          "type": "number",
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "deprecated": true
        },
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be boosted by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        },
        "fixedBoost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "format": "float",
          "type": "number"
        },
        "filter": {
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "interpolationBoostSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorFederatedConfig": {
      "properties": {
        "jsonAuthParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors in json string format.",
          "type": "string"
        },
        "authParams": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors.",
          "type": "object"
        },
        "additionalParams": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Any additional parameters needed for FEDERATED."
        }
      },
      "description": "Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorFederatedConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo": {
      "description": "Snippet information.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "Snippet content.",
          "type": "string"
        },
        "snippetStatus": {
          "type": "string",
          "description": "Status of the snippet defined by the search team."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchParams": {
      "description": "Search parameters.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchParams",
      "type": "object",
      "properties": {
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the Answer response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customers might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering, see [Ordering](https://cloud.google.com/retail/docs/filter-and-order#order) If this field is unrecognizable, an `INVALID_ARGUMENT` is returned."
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents in search results which may affect the answer query response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec"
        },
        "maxReturnResults": {
          "description": "Number of search results to return. The default value is 10.",
          "format": "int32",
          "type": "integer"
        },
        "dataStoreSpecs": {
          "description": "Specs defining dataStores to filter on in a search call and configurations for those dataStores. This is only considered for engines with multiple dataStores use case. For single dataStore within an engine, they should use the specs at the top level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec"
          }
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec",
          "description": "Optional. Specification to enable natural language understanding capabilities for search requests."
        },
        "searchResultMode": {
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ],
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`. See [parse and chunk documents](https://cloud.google.com/generative-ai-app-builder/docs/parse-chunk-documents)",
          "type": "string",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DeleteCmekConfigMetadata": {
      "id": "GoogleCloudDiscoveryengineV1DeleteCmekConfigMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the CmekConfigService.DeleteCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector": {
      "properties": {
        "fieldPath": {
          "description": "Embedding field path in schema.",
          "type": "string"
        },
        "vector": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Query embedding vector.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector",
      "description": "Embedding vector.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatus": {
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month).",
      "properties": {
        "effectiveIndexingCoreThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations."
        },
        "effectiveSearchQpmThreshold": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. The start time of the currently active billing subscription.",
          "type": "string"
        },
        "searchQpmThresholdNextUpdateTime": {
          "readOnly": true,
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded.",
          "format": "google-datetime",
          "type": "string"
        },
        "indexingCoreThresholdNextUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded.",
          "readOnly": true
        },
        "terminateTime": {
          "readOnly": true,
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatus"
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "type": "object",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. The Sensitive Data Protection policy resource name."
        }
      },
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantToolInfo": {
      "type": "object",
      "description": "Information to identify a tool.",
      "properties": {
        "toolName": {
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here.",
          "type": "string"
        },
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAssistantToolInfo"
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig",
      "description": "Feature config for the Knowledge Graph.",
      "properties": {
        "disablePrivateKgQueryUiChips": {
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgAutoComplete": {
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics": {
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
      "description": "Stores the metric values at specific top-k levels.",
      "type": "object",
      "properties": {
        "top1": {
          "format": "double",
          "type": "number",
          "description": "The top-1 value."
        },
        "top10": {
          "description": "The top-10 value.",
          "format": "double",
          "type": "number"
        },
        "top3": {
          "format": "double",
          "description": "The top-3 value.",
          "type": "number"
        },
        "top5": {
          "format": "double",
          "type": "number",
          "description": "The top-5 value."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestGroundingSpec": {
      "properties": {
        "includeGroundingSupports": {
          "description": "Optional. Specifies whether to include grounding_supports in the answer. The default value is `false`. When this field is set to `true`, returned answer will have `grounding_score` and will contain GroundingSupports for each claim.",
          "type": "boolean"
        },
        "filteringLevel": {
          "description": "Optional. Specifies whether to enable the filtering based on grounding score and at what level.",
          "type": "string",
          "enumDescriptions": [
            "Default is no filter",
            "Filter answers based on a low threshold.",
            "Filter answers based on a high threshold."
          ],
          "enum": [
            "FILTERING_LEVEL_UNSPECIFIED",
            "FILTERING_LEVEL_LOW",
            "FILTERING_LEVEL_HIGH"
          ]
        }
      },
      "description": "Grounding specification.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestGroundingSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1UserStore": {
      "type": "object",
      "description": "Configures metadata that is used for End User entities.",
      "properties": {
        "defaultLicenseConfig": {
          "description": "Optional. The default subscription LicenseConfig for the UserStore, if UserStore.enable_license_auto_register is true, new users will automatically register under the default subscription. If default LicenseConfig doesn't have remaining license seats left, new users will not be assigned with license and will be blocked for Vertex AI Search features. This is used if `license_assignment_tier_rules` is not configured.",
          "type": "string"
        },
        "enableExpiredLicenseAutoUpdate": {
          "description": "Optional. Whether to enable license auto update for users in this User Store. If true, users with expired licenses will automatically be updated to use the default license config as long as the default license config has seats left.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the User Store."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "enableLicenseAutoRegister": {
          "description": "Optional. Whether to enable license auto register for users in this User Store. If true, new users will automatically register under the default license config as long as the default license config has seats left.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1UserStore"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfig": {
      "type": "object",
      "description": "Configuration for chunking config.",
      "properties": {
        "layoutBasedChunkingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
          "description": "Configuration for the layout based chunking."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfig"
    },
    "GoogleCloudDiscoveryengineV1betaMediaInfo": {
      "type": "object",
      "properties": {
        "mediaProgressDuration": {
          "type": "string",
          "description": "The media progress time in seconds, if applicable. For example, if the end user has finished 90 seconds of a playback video, then MediaInfo.media_progress_duration.seconds should be set to 90.",
          "format": "google-duration"
        },
        "mediaProgressPercentage": {
          "description": "Media progress should be computed using only the media_progress_duration relative to the media total length. This value must be between `[0, 1.0]` inclusive. If this is not a playback or the progress cannot be computed (e.g. ongoing livestream), this field should be unset.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Media-specific user event information.",
      "id": "GoogleCloudDiscoveryengineV1betaMediaInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig",
      "description": "Common configurations for an Engine.",
      "properties": {
        "companyName": {
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStore": {
      "id": "GoogleCloudDiscoveryengineV1betaDataStore",
      "type": "object",
      "description": "DataStore captures global settings and configs at the DataStore level.",
      "properties": {
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1betaSchema"
        },
        "advancedSiteSearchConfig": {
          "description": "Optional. Configuration for advanced site search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig"
        },
        "isInfobotFaqDataStore": {
          "type": "boolean",
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore."
        },
        "healthcareFhirConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig",
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical."
        },
        "languageInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaLanguageInfo",
          "description": "Language info for DataStore."
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig"
        },
        "configurableBillingApproachUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when configurable_billing_approach was last updated."
        },
        "aclEnabled": {
          "type": "boolean",
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config."
        },
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
[...]
