{
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "",
  "discoveryVersion": "v1",
  "canonicalName": "Discovery Engine",
  "revision": "20260322",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "name": "discoveryengine",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "basePath": "",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        }
      }
    }
  },
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version": "v1alpha",
  "description": "Discovery Engine API.",
  "ownerName": "Google",
  "title": "Discovery Engine API",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "methods": {
        "reportConsentChange": {
          "flatPath": "v1alpha/projects/{projectsId}:reportConsentChange",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite"
          ],
          "id": "discoveryengine.projects.reportConsentChange",
          "parameters": {
            "project": {
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "path": "v1alpha/{+project}:reportConsentChange",
          "description": "Updates service terms for this project. This method can be used to retroactively accept the latest terms. Terms available for update: * [Terms for data use](https://cloud.google.com/retail/data-use-terms)",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaReportConsentChangeRequest"
          }
        },
        "provision": {
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProvisionProjectRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1alpha/{+name}:provision",
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "parameters": {
            "name": {
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "id": "discoveryengine.projects.provision",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite"
          ],
          "flatPath": "v1alpha/projects/{projectsId}:provision"
        },
        "get": {
          "flatPath": "v1alpha/projects/{projectsId}",
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`."
            }
          },
          "id": "discoveryengine.projects.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite"
          ],
          "httpMethod": "GET",
          "description": "Gets a Project. Returns NOT_FOUND when the project is not yet created."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite"
          ],
          "flatPath": "v1alpha/projects/{projectsId}",
          "httpMethod": "PATCH",
          "id": "discoveryengine.projects.patch",
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "description": "Updates the editable settings of a Discovery Engine Project.",
          "path": "v1alpha/{+name}",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. The list of fields to update. Supported fields: * `customer_provided_config` * `customer_provided_config.notebooklm_config.observability_config`",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          }
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "estimateDataSize": {
              "description": "Estimates the data size to be used by a customer.",
              "id": "discoveryengine.projects.locations.estimateDataSize",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Full resource name of the location, such as `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1alpha/{+location}:estimateDataSize",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequest"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:estimateDataSize",
              "parameterOrder": [
                "location"
              ]
            },
            "getAclConfig": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$"
                }
              },
              "httpMethod": "GET",
              "description": "Gets the AclConfig.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "id": "discoveryengine.projects.locations.getAclConfig"
            },
            "obtainCrawlRate": {
              "path": "v1alpha/{+location}:obtainCrawlRate",
              "id": "discoveryengine.projects.locations.obtainCrawlRate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateRequest"
              },
              "description": "Obtains the time series data of organic or dedicated crawl rate for monitoring. When dedicated crawl rate is not set, it will return vertex AI's organic crawl rate time series. Organic crawl means Google automatically crawl the internet at its own convenience. When dedicated crawl rate is set, it will return vertex AI's dedicated crawl rate time series.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponse"
              },
              "parameters": {
                "location": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:obtainCrawlRate"
            },
            "completeExternalIdentities": {
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCompleteExternalIdentitiesResponse"
              },
              "parameters": {
                "prefixQuery": {
                  "description": "Required. The prefix to search for. For users, this prefix is matched against the `primary_email`. For groups, this prefix is matched against the `display_name`. The matching is case-insensitive.",
                  "location": "query",
                  "type": "string"
                },
                "maxSuggestions": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of user and group results to return. The service may return fewer than this value. If unspecified, at most 6 results will be returned. The limit is distributed as evenly as possible across users and groups. For example, if max_suggestions is 7, the service may return 4 users and 3 groups. If there are fewer suggestions of one type than half the limit, the other type may return more suggestions up to the max_suggestions limit."
                },
                "entityTypeFilter": {
                  "type": "string",
                  "description": "Optional. The type of entities to fetch. If not set, all entity types will be returned.",
                  "enumDescriptions": [
                    "Unspecified entity type filter.",
                    "Fetch only users.",
                    "Fetch only groups."
                  ],
                  "location": "query",
                  "enum": [
                    "ENTITY_TYPE_FILTER_UNSPECIFIED",
                    "USERS",
                    "GROUPS"
                  ]
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent location resource name, such as `projects/*/locations/global`."
                },
                "useScimIdentities": {
                  "description": "Optional. Whether to use scim identities for external identity completion. If false, we will call the Microsoft graph API to fetch the external identities.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "id": "discoveryengine.projects.locations.completeExternalIdentities",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:completeExternalIdentities",
              "parameterOrder": [
                "parent"
              ],
              "description": "This method provides suggestions for users and groups managed in an external identity provider, based on the provided prefix.",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}:completeExternalIdentities"
            },
            "removeDedicatedCrawlRate": {
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:removeDedicatedCrawlRate",
              "parameters": {
                "location": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "discoveryengine.projects.locations.removeDedicatedCrawlRate",
              "path": "v1alpha/{+location}:removeDedicatedCrawlRate",
              "description": "Removes the dedicated crawl rate for a craw_rate_scope. If the dedicated crawl rate was set, this will disable vertex AI's crawl bot from using the dedicated crawl rate for crawling. If the dedicated crawl rate was not set, this is a no-op.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest"
              }
            },
            "setUpDataConnector": {
              "id": "discoveryengine.projects.locations.setUpDataConnector",
              "path": "v1alpha/{+parent}:setUpDataConnector",
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setUpDataConnector",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "updateCmekConfig": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "setDefault": {
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "type": "string"
                }
              },
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
              }
            },
            "updateAclConfig": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "path": "v1alpha/{+name}",
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "required": true
                }
              },
              "id": "discoveryengine.projects.locations.updateAclConfig"
            },
            "queryConfigurablePricingUsageStats": {
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "parameterOrder": [
                "project",
                "location"
              ],
              "path": "v1alpha/{+project}/locations/{location}:queryConfigurablePricingUsageStats",
              "parameters": {
                "timeRange.startDate.day": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "timeRange.endDate.year": {
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "metricTypes": {
                  "repeated": true,
                  "description": "Optional. The metric types to return usage for.",
                  "enum": [
                    "BILLING_METRIC_TYPE_UNSPECIFIED",
                    "DAILY_MDN_QPM",
                    "DAILY_MIN_QPM",
                    "DAILY_MAX_QPM",
                    "DAILY_SEARCH_REQUEST",
                    "TOTAL_STORAGE"
                  ],
                  "enumDescriptions": [
                    "Default value.",
                    "Daily median search request QPM.",
                    "Daily min search request QPM.",
                    "Daily max search request QPM.",
                    "Daily search request total.",
                    "Total storage bytes for indexing core."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "timeRange.startDate.month": {
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer"
                },
                "project": {
                  "description": "Required. The project to query usage stats for. Format: projects/{project}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "location": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The location to query usage stats for.",
                  "location": "path"
                },
                "timeRange.endDate.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "timeRange.startDate.year": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "timeRange.endDate.day": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                }
              },
              "id": "discoveryengine.projects.locations.queryConfigurablePricingUsageStats",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{location}:queryConfigurablePricingUsageStats",
              "description": "Queries configurable pricing usage stats for a project.",
              "httpMethod": "GET"
            },
            "setDedicatedCrawlRate": {
              "httpMethod": "POST",
              "id": "discoveryengine.projects.locations.setDedicatedCrawlRate",
              "path": "v1alpha/{+location}:setDedicatedCrawlRate",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateRequest"
              },
              "parameters": {
                "location": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setDedicatedCrawlRate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "description": "Sets the dedicated crawl rate for a crawl_rate_scope. If the dedicated crawl rate was not set, this will enable vertex AI's crawl bot to use the new dedicated crawl rate for crawling. If the dedicated crawl rate was set, vertex AI's crawl bot will try to update the rate to the new value. If the new value is too high, the crawl bot may crawl at a lower rate to avoid overloading the user's website.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "setUpDataConnectorV2": {
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "collectionId": {
                  "type": "string",
                  "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                  "location": "query"
                },
                "collectionDisplayName": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
                }
              },
              "id": "discoveryengine.projects.locations.setUpDataConnectorV2",
              "path": "v1alpha/{+parent}:setUpDataConnectorV2",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setUpDataConnectorV2",
              "parameterOrder": [
                "parent"
              ]
            },
            "getCmekConfig": {
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "description": "Gets the CmekConfig.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "id": "discoveryengine.projects.locations.getCmekConfig"
            }
          },
          "resources": {
            "rankingConfigs": {
              "methods": {
                "rank": {
                  "path": "v1alpha/{+rankingConfig}:rank",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaRankResponse"
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaRankRequest"
                  },
                  "description": "Ranks a list of text records based on the given input query.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameters": {
                    "rankingConfig": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/rankingConfigs/[^/]+$",
                      "description": "Required. The resource name of the rank service config, such as `projects/{project_num}/locations/{location}/rankingConfigs/default_ranking_config`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/rankingConfigs/{rankingConfigsId}:rank",
                  "parameterOrder": [
                    "rankingConfig"
                  ],
                  "id": "discoveryengine.projects.locations.rankingConfigs.rank"
                }
              }
            },
            "userEvents": {
              "methods": {
                "write": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Writes a single user event.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "path": "v1alpha/{+parent}/userEvents:write",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
                  },
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
                  },
                  "id": "discoveryengine.projects.locations.userEvents.write",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userEvents:write",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. If the write user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the write user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "writeAsync": {
                      "description": "If set to true, the user event is written asynchronously after validation, and the API responds without waiting for the write.",
                      "type": "boolean",
                      "location": "query"
                    }
                  }
                },
                "collect": {
                  "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a third-party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "discoveryengine.projects.locations.userEvents.collect",
                  "path": "v1alpha/{+parent}/userEvents:collect",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userEvents:collect",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name. If the collect user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the collect user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "type": "string"
                    },
                    "userEvent": {
                      "location": "query",
                      "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.",
                      "type": "string"
                    },
                    "ets": {
                      "format": "int64",
                      "location": "query",
                      "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                      "type": "string"
                    },
                    "uri": {
                      "location": "query",
                      "type": "string",
                      "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for third-party requests."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ]
                },
                "import": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "description": "Bulk import of user events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequest"
                  },
                  "path": "v1alpha/{+parent}/userEvents:import",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/userEvents:import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "discoveryengine.projects.locations.userEvents.import",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`"
                    }
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "groundingConfigs": {
              "methods": {
                "check": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/groundingConfigs/{groundingConfigsId}:check",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+groundingConfig}:check",
                  "description": "Performs a grounding check.",
                  "id": "discoveryengine.projects.locations.groundingConfigs.check",
                  "parameters": {
                    "groundingConfig": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the grounding config, such as `projects/*/locations/global/groundingConfigs/default_grounding_config`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/groundingConfigs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "groundingConfig"
                  ]
                }
              }
            },
            "notebooks": {
              "methods": {
                "share": {
                  "path": "v1alpha/{+name}:share",
                  "id": "discoveryengine.projects.locations.notebooks.share",
                  "request": {
                    "$ref": "GoogleCloudNotebooklmV1alphaShareNotebookRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Shares a notebook to other accounts.",
                  "response": {
                    "$ref": "GoogleCloudNotebooklmV1alphaShareNotebookResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}:share",
                  "parameters": {
                    "name": {
                      "description": "Required. Full resource name of Notebook, such as `projects/{project}/locations/{location}/notebooks/{notebook_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudNotebooklmV1alphaNotebook"
                  },
                  "path": "v1alpha/{+parent}/notebooks",
                  "response": {
                    "$ref": "GoogleCloudNotebooklmV1alphaNotebook"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.notebooks.create",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a notebook."
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}",
                  "description": "Gets a notebook.",
                  "id": "discoveryengine.projects.locations.notebooks.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Full resource name of Notebook, such as `projects/{project}/locations/{location}/notebooks/{notebook_id}`."
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleCloudNotebooklmV1alphaNotebook"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "listRecentlyViewed": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.notebooks.listRecentlyViewed",
                  "description": "Lists the notebooks ordered by last view time.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The page token, provide this to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Maximum number of Notebooks to return. If unspecified, defaults to \"500\". The maximum allowed value is \"500\". If this field is negative, will use the default value.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudNotebooklmV1alphaListRecentlyViewedNotebooksResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks:listRecentlyViewed",
                  "path": "v1alpha/{+parent}/notebooks:listRecentlyViewed"
                },
                "batchDelete": {
                  "description": "Batch deletes Notebooks.",
                  "request": {
                    "$ref": "GoogleCloudNotebooklmV1alphaBatchDeleteNotebooksRequest"
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.notebooks.batchDelete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/notebooks:batchDelete",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "audioOverviews": {
                  "methods": {
                    "create": {
                      "id": "discoveryengine.projects.locations.notebooks.audioOverviews.create",
                      "description": "Generates a new audio overview.",
                      "request": {
                        "$ref": "GoogleCloudNotebooklmV1alphaCreateAudioOverviewRequest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/audioOverviews",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                          "description": "Required. The parent resource where this notebook will be created. Format: projects/{project}/locations/{location}/notebooks/{notebook}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudNotebooklmV1alphaCreateAudioOverviewResponse"
                      },
                      "path": "v1alpha/{+parent}/audioOverviews",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "id": "discoveryengine.projects.locations.notebooks.audioOverviews.delete",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+/audioOverviews/[^/]+$",
                          "required": true,
                          "description": "Required. The full resource name of the AudioOverview, such as `projects/{project}/locations/{location}/notebooks/{notebook}/audioOverviews/{audio_overview_id}`.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/audioOverviews/{audioOverviewsId}",
                      "description": "Deletes an audio overview."
                    }
                  }
                },
                "sources": {
                  "methods": {
                    "get": {
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/sources/{sourcesId}",
                      "id": "discoveryengine.projects.locations.notebooks.sources.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudNotebooklmV1alphaSource"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "description": "Gets a Source.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name for source Format: projects/{project}/locations/{location}/notebooks/{notebook}/sources/{source}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+/sources/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "batchDelete": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/sources:batchDelete",
                      "path": "v1alpha/{+parent}/sources:batchDelete",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "request": {
                        "$ref": "GoogleCloudNotebooklmV1alphaBatchDeleteSourcesRequest"
                      },
                      "description": "Deletes multiple sources",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "discoveryengine.projects.locations.notebooks.sources.batchDelete",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                          "description": "Required. The parent resource where the sources will be deleted. Format: projects/{project}/locations/{location}/notebooks/{notebook}",
                          "location": "path"
                        }
                      }
                    },
                    "batchCreate": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/notebooks/{notebooksId}/sources:batchCreate",
                      "path": "v1alpha/{+parent}/sources:batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "httpMethod": "POST",
                      "description": "Creates a list of Sources.",
                      "response": {
                        "$ref": "GoogleCloudNotebooklmV1alphaBatchCreateSourcesResponse"
                      },
                      "id": "discoveryengine.projects.locations.notebooks.sources.batchCreate",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/notebooks/[^/]+$",
                          "description": "Required. The parent resource where the sources will be created. Format: projects/{project}/locations/{location}/notebooks/{notebook}",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudNotebooklmV1alphaBatchCreateSourcesRequest"
                      }
                    }
                  }
                }
              }
            },
            "cmekConfigs": {
              "methods": {
                "list": {
                  "id": "discoveryengine.projects.locations.cmekConfigs.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent location resource name, such as `projects/{project}/locations/{location}`. If the caller does not have permission to list CmekConfigs under this location, regardless of whether or not a CmekConfig exists, a PERMISSION_DENIED error is returned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "description": "Lists all the CmekConfigs with the project.",
                  "path": "v1alpha/{+parent}/cmekConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListCmekConfigsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfigs"
                },
                "delete": {
                  "id": "discoveryengine.projects.locations.cmekConfigs.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the CmekConfig to delete, such as `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "description": "De-provisions a CmekConfig.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfigs/{cmekConfigsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Gets the CmekConfig.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfigs/{cmekConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned."
                    }
                  },
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.cmekConfigs.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "setDefault": {
                      "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfigs/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfigs/{cmekConfigsId}",
                  "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "discoveryengine.projects.locations.cmekConfigs.patch",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            },
            "identityMappingStores": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaIdentityMappingStore"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Identity Mapping Store to get. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "id": "discoveryengine.projects.locations.identityMappingStores.get",
                  "description": "Gets the Identity Mapping Store.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ]
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "id": "discoveryengine.projects.locations.identityMappingStores.create",
                  "description": "Creates a new Identity Mapping Store.",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaIdentityMappingStore"
                  },
                  "path": "v1alpha/{+parent}/identityMappingStores",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaIdentityMappingStore"
                  },
                  "parameters": {
                    "cmekConfigName": {
                      "location": "query",
                      "type": "string",
                      "description": "Resource name of the CmekConfig to use for protecting this Identity Mapping Store."
                    },
                    "disableCmek": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Identity Mapping Store without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent collection resource name, such as `projects/{project}/locations/{location}`."
                    },
                    "identityMappingStoreId": {
                      "description": "Required. The ID of the Identity Mapping Store to create. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 63 characters.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of IdentityMappingStores to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListIdentityMappingStores` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappingStores` must match the call that provided the page token."
                    },
                    "parent": {
                      "description": "Required. The parent of the Identity Mapping Stores to list. Format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "path": "v1alpha/{+parent}/identityMappingStores",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListIdentityMappingStoresResponse"
                  },
                  "description": "Lists all Identity Mapping Stores.",
                  "id": "discoveryengine.projects.locations.identityMappingStores.list"
                },
                "purgeIdentityMappings": {
                  "path": "v1alpha/{+identityMappingStore}:purgeIdentityMappings",
                  "id": "discoveryengine.projects.locations.identityMappingStores.purgeIdentityMappings",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaPurgeIdentityMappingsRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:purgeIdentityMappings",
                  "httpMethod": "POST",
                  "parameters": {
                    "identityMappingStore": {
                      "description": "Required. The name of the Identity Mapping Store to purge Identity Mapping Entries from. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "description": "Purges specified or all Identity Mapping Entries from an Identity Mapping Store."
                },
                "importIdentityMappings": {
                  "path": "v1alpha/{+identityMappingStore}:importIdentityMappings",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:importIdentityMappings",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.identityMappingStores.importIdentityMappings",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Imports a list of Identity Mapping Entries to an Identity Mapping Store.",
                  "parameters": {
                    "identityMappingStore": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Identity Mapping Store to import Identity Mapping Entries to. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Deletes the Identity Mapping Store.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Identity Mapping Store to delete. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`"
                    }
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.delete"
                },
                "listIdentityMappings": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListIdentityMappingsResponse"
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.listIdentityMappings",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of IdentityMappings to return. If unspecified, defaults to 2000. The maximum allowed value is 10000. Values above 10000 will be coerced to 10000."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListIdentityMappings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappings` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "identityMappingStore": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Identity Mapping Store to list Identity Mapping Entries in. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`"
                    }
                  },
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "description": "Lists Identity Mappings in an Identity Mapping Store.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:listIdentityMappings",
                  "path": "v1alpha/{+identityMappingStore}:listIdentityMappings",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ]
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "description": "The name of the operation resource."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations/{operationsId}",
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations",
                      "httpMethod": "GET",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameters": {
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "The standard list page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1alpha/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.list"
                    }
                  }
                }
              }
            },
            "evaluations": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                      "id": "discoveryengine.projects.locations.evaluations.operations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "id": "discoveryengine.projects.locations.evaluations.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Creates a Evaluation. Upon creation, the evaluation will be automatically triggered and begin execution.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1alpha/{+parent}/evaluations",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Full resource name of Evaluation, such as `projects/{project}/locations/{location}/evaluations/{evaluation}`. If the caller does not have permission to access the Evaluation, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested Evaluation does not exist, a NOT_FOUND error is returned.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets a Evaluation.",
                  "id": "discoveryengine.projects.locations.evaluations.get",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1alpha/{+parent}/evaluations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.evaluations.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Maximum number of Evaluations to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token ListEvaluationsResponse.next_page_token, received from a previous EvaluationService.ListEvaluations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to EvaluationService.ListEvaluations must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent location resource name, such as `projects/{project}/locations/{location}`. If the caller does not have permission to list Evaluations under this location, regardless of whether or not this location exists, a `PERMISSION_DENIED` error is returned.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListEvaluationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Gets a list of Evaluations."
                },
                "listResults": {
                  "description": "Gets a list of results for a given a Evaluation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+evaluation}:listResults",
                  "parameterOrder": [
                    "evaluation"
                  ],
                  "id": "discoveryengine.projects.locations.evaluations.listResults",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of ListEvaluationResultsResponse.EvaluationResult to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query",
                      "type": "integer"
                    },
                    "evaluation": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The evaluation resource name, such as `projects/{project}/locations/{location}/evaluations/{evaluation}`. If the caller does not have permission to list ListEvaluationResultsResponse.EvaluationResult under this evaluation, regardless of whether or not this evaluation set exists, a `PERMISSION_DENIED` error is returned.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token ListEvaluationResultsResponse.next_page_token, received from a previous EvaluationService.ListEvaluationResults call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to EvaluationService.ListEvaluationResults must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListEvaluationResultsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}:listResults"
                }
              }
            },
            "dataStores": {
              "methods": {
                "deletePatientFilter": {
                  "httpMethod": "POST",
                  "description": "Deletes the entire patient filter for the data store. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. This method will fail if the data store does not have a patient filter.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "path": "v1alpha/{+dataStore}:deletePatientFilter",
                  "parameters": {
                    "dataStore": {
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "id": "discoveryengine.projects.locations.dataStores.deletePatientFilter",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:deletePatientFilter"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to delete the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the DataStore to delete does not exist, a NOT_FOUND error is returned.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}",
                  "description": "Deletes a DataStore.",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "discoveryengine.projects.locations.dataStores.delete"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "id": "discoveryengine.projects.locations.dataStores.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Indicates which fields in the provided DataStore to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a DataStore",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ]
                },
                "updateDocumentProcessingConfig": {
                  "description": "Updates the DocumentProcessingConfig. DocumentProcessingConfig is a singleon resource of DataStore. It's empty when DataStore is created. The first call to this method will set up DocumentProcessingConfig.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "discoveryengine.projects.locations.dataStores.updateDocumentProcessingConfig",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/documentProcessingConfig$",
                      "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Indicates which fields in the provided DocumentProcessingConfig to update. The following are the only supported fields: * DocumentProcessingConfig.ocr_config If not set, all supported fields are updated.",
                      "format": "google-fieldmask",
[...]
