{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Discovery Engine API",
  "discoveryVersion": "v1",
  "version": "v1",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "ownerName": "Google",
  "endpoints": [
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    }
  ],
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1SingleRegionKey": {
      "description": "Metadata for single-regional CMEKs.",
      "id": "GoogleCloudDiscoveryengineV1SingleRegionKey",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "properties": {
        "searchConfig": {
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*",
          "type": "string"
        }
      },
      "description": "Config for connecting to NotebookLM Enterprise.",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig": {
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED.",
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "description": "Configuration for Natural Language Query Understanding.",
      "id": "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig"
    },
    "GoogleCloudDiscoveryengineV1ControlPromoteAction": {
      "id": "GoogleCloudDiscoveryengineV1ControlPromoteAction",
      "properties": {
        "searchLinkPromotion": {
          "description": "Required. Promotion attached to this action.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchLinkPromotion"
        },
        "dataStore": {
          "description": "Required. Data store with which this promotion is attached to.",
          "type": "string"
        }
      },
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestion": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestion",
      "description": "Suggestions as people.",
      "properties": {
        "displayPhotoUri": {
          "type": "string",
          "description": "The photo uri of the person suggestion."
        },
        "destinationUri": {
          "type": "string",
          "description": "The destination uri of the person suggestion."
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        },
        "score": {
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "type": "number",
          "format": "double"
        },
        "document": {
          "$ref": "GoogleCloudDiscoveryengineV1Document",
          "description": "The document data snippet in the suggestion. Only a subset of fields is populated."
        },
        "personType": {
          "type": "string",
          "enum": [
            "PERSON_TYPE_UNSPECIFIED",
            "CLOUD_IDENTITY",
            "THIRD_PARTY_IDENTITY"
          ],
          "enumDescriptions": [
            "Default value.",
            "The suggestion is from a GOOGLE_IDENTITY source.",
            "The suggestion is from a THIRD_PARTY_IDENTITY source."
          ],
          "description": "The type of the person."
        },
        "dataStore": {
          "description": "The name of the dataStore that this suggestion belongs to.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaInterval": {
      "properties": {
        "exclusiveMaximum": {
          "format": "double",
          "type": "number",
          "description": "Exclusive upper bound."
        },
        "exclusiveMinimum": {
          "description": "Exclusive lower bound.",
          "format": "double",
          "type": "number"
        },
        "minimum": {
          "type": "number",
          "format": "double",
          "description": "Inclusive lower bound."
        },
        "maximum": {
          "format": "double",
          "type": "number",
          "description": "Inclusive upper bound."
        }
      },
      "description": "A floating point interval.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaInterval"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig": {
      "type": "object",
      "description": "Configurations for a Search Engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig",
      "properties": {
        "requiredSubscriptionTier": {
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ],
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "description": "Optional. The required subscription tier of this engine. They cannot be modified after engine creation. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine.",
          "type": "string"
        },
        "searchTier": {
          "type": "string",
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ],
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ]
        },
        "searchAddOns": {
          "items": {
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ],
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "type": "string"
          },
          "description": "The add-on that this search engine enables.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaUserLicense": {
      "description": "User License information assigned by the admin.",
      "id": "GoogleCloudDiscoveryengineV1betaUserLicense",
      "properties": {
        "licenseConfig": {
          "type": "string",
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user."
        },
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "licenseAssignmentState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ],
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. User created timestamp."
        },
        "userProfile": {
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile.",
          "type": "string"
        },
        "lastLoginTime": {
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. User update timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams": {
      "type": "object",
      "description": "Search parameters.",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams",
      "properties": {
        "filter": {
          "type": "string",
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the Answer response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customers might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering, see [Ordering](https://cloud.google.com/retail/docs/filter-and-order#order) If this field is unrecognizable, an `INVALID_ARGUMENT` is returned."
        },
        "dataStoreSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDataStoreSpec"
          },
          "type": "array",
          "description": "Specs defining dataStores to filter on in a search call and configurations for those dataStores. This is only considered for engines with multiple dataStores use case. For single dataStore within an engine, they should use the specs at the top level."
        },
        "maxReturnResults": {
          "type": "integer",
          "description": "Number of search results to return. The default value is 10.",
          "format": "int32"
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents in search results which may affect the answer query response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec"
        },
        "searchResultMode": {
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ],
          "type": "string",
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`. See [parse and chunk documents](https://cloud.google.com/generative-ai-app-builder/docs/parse-chunk-documents)",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantContentFile": {
      "description": "A file, e.g., an audio summary.",
      "properties": {
        "fileId": {
          "type": "string",
          "description": "Required. The file ID."
        },
        "mimeType": {
          "description": "Required. The media type (MIME type) of the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantContentFile"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec": {
      "properties": {
        "summaryResultCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS."
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature."
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "useSemanticChunks": {
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list.",
          "type": "boolean"
        },
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreLowRelevantContent": {
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers.",
          "type": "boolean"
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreJailBreakingQuery": {
          "type": "boolean",
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead."
        }
      },
      "description": "A specification for configuring a summary returned in a search response.",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "description": "Specifies features for display, like match highlighting.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "properties": {
        "matchHighlightingCondition": {
          "description": "The condition under which match highlighting should occur.",
          "type": "string",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequest": {
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequest",
      "properties": {
        "session": {
          "description": "Optional. The session to use for the request. If specified, the assistant has access to the session history, and the query and the answer are stored there. If `-` is specified as the session ID, or it is left empty, then a new session is created with an automatically generated ID. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}`",
          "type": "string"
        },
        "generationSpec": {
          "description": "Optional. Specification of the generation configuration for the request.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistRequestGenerationSpec"
        },
        "query": {
          "description": "Optional. Current user query. Empty query is only supported if `file_ids` are provided. In this case, the answer will be generated based on those context files.",
          "$ref": "GoogleCloudDiscoveryengineV1Query"
        },
        "toolsSpec": {
          "description": "Optional. Specification of tools that are used to serve the request.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpec"
        },
        "userMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistUserMetadata",
          "description": "Optional. Information about the user initiating the query."
        }
      },
      "description": "Request for the AssistantService.StreamAssist method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequestInlineSource": {
      "properties": {
        "userLicenses": {
          "type": "array",
          "description": "Required. A list of user licenses to update. Each user license must have a valid UserLicense.user_principal.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1UserLicense"
          }
        },
        "updateMask": {
          "description": "Optional. The list of fields to update.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "description": "The inline source for the input config for BatchUpdateUserLicenses method.",
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "description": "Count of user licenses successfully updated.",
          "format": "int64"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of user licenses that failed to be updated.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation": {
      "type": "object",
      "properties": {
        "searchResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult"
          },
          "description": "Search results observed by the search action, it can be snippets info or chunk info, depending on the citation type set by the user."
        }
      },
      "description": "Observation.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation"
    },
    "GoogleCloudDiscoveryengineV1SetUpDataConnectorRequest": {
      "properties": {
        "dataConnector": {
          "description": "Required. The DataConnector to initialize in the newly created Collection.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
        },
        "collectionDisplayName": {
          "type": "string",
          "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
        },
        "collectionId": {
          "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SetUpDataConnectorRequest",
      "type": "object",
      "description": "Request for DataConnectorService.SetUpDataConnector method."
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostAction": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostAction",
      "properties": {
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be boosted by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        },
        "boost": {
          "deprecated": true,
          "format": "float",
          "type": "number",
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op)."
        },
        "fixedBoost": {
          "type": "number",
          "format": "float",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op)."
        },
        "filter": {
          "type": "string",
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "interpolationBoostSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpec"
        }
      },
      "description": "Adjusts order of products in returned list."
    },
    "GoogleCloudDiscoveryengineV1alphaCondition": {
      "type": "object",
      "properties": {
        "activeTimeRange": {
          "type": "array",
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConditionTimeRange"
          }
        },
        "queryRegex": {
          "type": "string",
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls."
        },
        "queryTerms": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm"
          },
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCondition",
      "description": "Defines circumstances to be checked before allowing a behavior"
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason": {
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Reason why the URI was not crawled."
        },
        "corpusType": {
          "description": "DESKTOP, MOBILE, or CORPUS_TYPE_UNSPECIFIED.",
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DESKTOP",
            "MOBILE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Denotes a crawling attempt for the desktop version of a page.",
            "Denotes a crawling attempt for the mobile version of a page."
          ]
        }
      },
      "type": "object",
      "description": "Details about why crawling failed for a particular CorpusType, e.g., DESKTOP and MOBILE crawling may fail for different reasons."
    },
    "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata": {
      "properties": {
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "structData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "type": "object"
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        }
      },
      "description": "Document metadata.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata"
    },
    "GoogleCloudDiscoveryengineV1DocumentContent": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the content. Supported types: * `application/pdf` (PDF, only native PDFs are supported for now) * `text/html` (HTML) * `text/plain` (TXT) * `application/xml` or `text/xml` (XML) * `application/json` (JSON) * `application/vnd.openxmlformats-officedocument.wordprocessingml.document` (DOCX) * `application/vnd.openxmlformats-officedocument.presentationml.presentation` (PPTX) * `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet` (XLSX) * `application/vnd.ms-excel.sheet.macroenabled.12` (XLSM) The following types are supported only if layout parser is enabled in the data store: * `image/bmp` (BMP) * `image/gif` (GIF) * `image/jpeg` (JPEG) * `image/png` (PNG) * `image/tiff` (TIFF) See https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "uri": {
          "description": "The URI of the content. Only Cloud Storage URIs (e.g. `gs://bucket-name/path/to/file`) are supported. The maximum file size is 2.5 MB for text-based formats, 200 MB for other formats.",
          "type": "string"
        },
        "rawBytes": {
          "description": "The content represented as a stream of bytes. The maximum length is 1,000,000 bytes (1 MB / ~0.95 MiB). Note: As with all `bytes` fields, this field is represented as pure binary in Protocol Buffers and base64-encoded string in JSON. For example, `abc123!?$*&()'-=@~` should be represented as `YWJjMTIzIT8kKiYoKSctPUB+` in JSON. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "Unstructured data linked to this document.",
      "id": "GoogleCloudDiscoveryengineV1DocumentContent"
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchResponse": {
      "type": "object",
      "properties": {},
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchResponse"
    },
    "GoogleApiDistributionRange": {
      "properties": {
        "max": {
          "description": "The maximum of the population values.",
          "type": "number",
          "format": "double"
        },
        "min": {
          "description": "The minimum of the population values.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleApiDistributionRange",
      "description": "The range of the population values.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "properties": {
        "boostAmount": {
          "type": "number",
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "format": "float"
        },
        "attributeValue": {
          "type": "string",
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse": {
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappings",
      "properties": {
        "identityMappingEntries": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingEntry"
          },
          "description": "The Identity Mapping Entries.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse"
    },
    "GoogleCloudDiscoveryengineV1AlertPolicyConfig": {
      "description": "The connector level alert config.",
      "properties": {
        "alertEnrollments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment"
          },
          "description": "Optional. The enrollment states of each alert.",
          "type": "array"
        },
        "alertPolicyName": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AlertPolicyConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec": {
      "description": "A specification for configuring the extractive content in a search response.",
      "properties": {
        "numNextSegments": {
          "description": "Return at most `num_next_segments` segments after each selected segments.",
          "type": "integer",
          "format": "int32"
        },
        "maxExtractiveSegmentCount": {
          "type": "integer",
          "format": "int32",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`."
        },
        "maxExtractiveAnswerCount": {
          "format": "int32",
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult.",
          "type": "integer"
        },
        "returnExtractiveSegmentScore": {
          "type": "boolean",
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`."
        },
        "numPreviousSegments": {
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec": {
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "type": "object",
      "properties": {
        "numPreviousChunks": {
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "type": "integer",
          "format": "int32"
        },
        "numNextChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics": {
      "description": "Stores the metric values at specific top-k levels.",
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
      "properties": {
        "top1": {
          "format": "double",
          "type": "number",
          "description": "The top-1 value."
        },
        "top3": {
          "type": "number",
          "format": "double",
          "description": "The top-3 value."
        },
        "top10": {
          "description": "The top-10 value.",
          "type": "number",
          "format": "double"
        },
        "top5": {
          "description": "The top-5 value.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesResponse",
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "type": "object",
      "properties": {
        "targetSites": {
          "description": "TargetSites created.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "description": "Response of the CompletionService.ImportCompletionSuggestions method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsResponse"
    },
    "GoogleCloudDiscoveryengineV1SpannerSource": {
      "properties": {
        "enableDataBoost": {
          "description": "Whether to apply data boost on Spanner export. Enabling this option will incur additional cost. More info can be found [here](https://cloud.google.com/spanner/docs/databoost/databoost-overview#billing_and_quotas).",
          "type": "boolean"
        },
        "projectId": {
          "type": "string",
          "description": "The project ID that contains the Spanner source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "instanceId": {
          "type": "string",
          "description": "Required. The instance ID of the source Spanner table."
        },
        "tableId": {
          "description": "Required. The table name of the Spanner database that needs to be imported.",
          "type": "string"
        },
        "databaseId": {
          "description": "Required. The database ID of the source Spanner table.",
          "type": "string"
        }
      },
      "description": "The Spanner source for importing data",
      "id": "GoogleCloudDiscoveryengineV1SpannerSource",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user licenses that failed to be updated."
        },
        "successCount": {
          "type": "string",
          "description": "Count of user licenses successfully updated.",
          "format": "int64"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata",
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries": {
      "type": "object",
      "properties": {
        "userTriggeredCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "userTriggeredCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of user triggered dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "autoRefreshCrawlErrorRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's error rate time series of auto-refresh dedicated crawl."
        },
        "autoRefreshCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        }
      },
      "description": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set.",
      "id": "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries"
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig": {
      "description": "Configuration message for the Knowledge Graph.",
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig",
      "properties": {
        "cloudKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig"
        },
        "enableCloudKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified."
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified."
        },
        "privateKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specify entity types to support."
        }
      },
      "type": "object"
    },
    "A2aV1AgentInterface": {
      "type": "object",
      "description": "Defines additional transport information for the agent.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The url this interface is found at."
        },
        "tenant": {
          "description": "Tenant to be set in the request when calling the agent. Experimental, might still change for 1.0 release.",
          "type": "string"
        },
        "transport": {
          "type": "string",
          "description": "The transport supported this url. This is an open form string, to be easily extended for many transport protocols. The core ones officially supported are JSONRPC, GRPC and HTTP+JSON."
        }
      },
      "id": "A2aV1AgentInterface"
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig": {
      "properties": {
        "business": {
          "description": "Name of the company, organization or other entity that the agent represents. Used for knowledge connector LLM prompt and for knowledge search.",
          "type": "string"
        },
        "defaultLanguageCode": {
          "description": "Required. The default language of the agent as a language tag. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Agent location for Agent creation, supported values: global/us/eu. If not provided, us Engine will create Agent using us-central-1 by default; eu Engine will create Agent using eu-west-1 by default."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone of the agent from the [time zone database](https://www.iana.org/time-zones), e.g., America/New_York, Europe/Paris."
        }
      },
      "description": "Configurations for generating a Dialogflow agent. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the TrainCustomModel operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata": {
      "type": "object",
      "description": "Metadata for Create Schema LRO.",
      "id": "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo": {
      "type": "object",
      "properties": {
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata"
        },
        "content": {
          "type": "string",
          "description": "Chunk textual content. It is limited to 8000 characters."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo",
      "description": "Chunk information."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "properties": {
        "targetFieldValueFloat": {
          "format": "float",
          "type": "number",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5)."
        },
        "targetField": {
          "type": "string",
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`."
        }
      },
      "description": "Custom threshold for `cvr` optimization_objective.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig": {
      "description": "Configurations for a Chat Engine.",
      "type": "object",
      "properties": {
        "agentCreationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfigAgentCreationConfig",
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "dialogflowAgentToLink": {
          "type": "string",
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsMetadata",
      "description": "Metadata related to the progress of the ImportCompletionSuggestions operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of CompletionSuggestions successfully imported."
        },
        "failureCount": {
          "description": "Count of CompletionSuggestions that failed to be imported.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig": {
      "properties": {
        "alloydbConnectionConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig",
          "description": "Required. Configuration for connecting to AlloyDB."
        },
        "returnedFields": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Fields to be returned in the search results. If empty, all fields will be returned."
        },
        "alloydbAiNlConfig": {
          "description": "Optional. Configuration for Magic.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig"
        }
      },
      "type": "object",
      "description": "Stores information for connecting to AlloyDB.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteIdentityMappingStoreMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteIdentityMappingStoreMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "A2aV1ListTaskPushNotificationConfigResponse": {
      "type": "object",
      "properties": {
        "configs": {
          "description": "The list of push notification configurations.",
          "type": "array",
          "items": {
            "$ref": "A2aV1TaskPushNotificationConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "A2aV1ListTaskPushNotificationConfigResponse"
    },
    "GoogleCloudDiscoveryengineV1PurgeDocumentsRequest": {
      "type": "object",
      "description": "Request message for DocumentService.PurgeDocuments method.",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource",
          "description": "Cloud Storage location for the input content. Supported `data_schema`: * `document_id`: One valid Document.id per line."
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the purge.",
          "$ref": "GoogleCloudDiscoveryengineV1PurgeErrorConfig"
        },
        "inlineSource": {
          "description": "Inline source for the input content for purge.",
          "$ref": "GoogleCloudDiscoveryengineV1PurgeDocumentsRequestInlineSource"
        },
        "force": {
          "type": "boolean",
          "description": "Actually performs the purge. If `force` is set to false, return the expected purge count without deleting any documents."
        },
        "filter": {
          "type": "string",
          "description": "Required. Filter matching documents to purge. Only currently supported value is `*` (all items)."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeDocumentsRequest"
    },
    "GoogleCloudDiscoveryengineV1IdentityMappingStore": {
      "id": "GoogleCloudDiscoveryengineV1IdentityMappingStore",
      "description": "Identity Mapping Store which contains Identity Mapping Entries.",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the identity mapping store. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "cmekConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig",
          "description": "Output only. CMEK-related information for the Identity Mapping Store.",
          "readOnly": true
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this Identity Mapping Store at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the Identity Mapping Store will be protected by the KMS key, as indicated in the cmek_config field."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "description": "Specification of the model.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse",
      "properties": {
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the response.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "properties": {
        "preamble": {
          "type": "string",
          "description": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelPromptSpec",
      "description": "Specification of the prompt to use with the model.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "DISABLED"
          ],
          "description": "The personalization mode of the search request. Defaults to Mode.AUTO.",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Mode.AUTO.",
            "Personalization is enabled if data quality requirements are met.",
            "Disable personalization."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "The specification for personalization."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        },
        "relevanceScore": {
          "type": "number",
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation."
        },
        "blobAttachmentIndexes": {
          "readOnly": true,
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "description": "Chunk content.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswer": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Answer generation is currently in progress.",
            "Answer generation currently failed.",
            "Answer generation has succeeded.",
            "Answer generation is currently in progress."
          ],
          "description": "The state of the answer generation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "STREAMING"
          ]
        },
        "answerText": {
          "description": "The textual answer.",
          "type": "string"
        },
        "safetyRatings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSafetyRating"
          },
          "description": "Optional. Safety ratings.",
          "type": "array"
        },
        "blobAttachments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment"
          },
          "type": "array",
          "description": "List of blob attachments in the answer."
        },
        "references": {
          "type": "array",
          "description": "References.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReference"
          }
        },
        "answerSkippedReasons": {
          "items": {
            "enum": [
              "ANSWER_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_ANSWER_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_ANSWER_SEEKING_QUERY_IGNORED_V2",
              "LOW_GROUNDED_ANSWER",
              "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED",
              "UNHELPFUL_ANSWER"
            ],
            "enumDescriptions": [
              "Default value. The answer skipped reason is not specified.",
              "The adversarial query ignored case.",
              "The non-answer seeking query ignored case Google skips the answer if the query is chit chat.",
              "The out-of-domain query ignored case. Google skips the answer if there are no high-relevance search results.",
              "The potential policy violation case. Google skips the answer if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The no relevant content case. Google skips the answer if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Google skips the answer if the query is classified as a jail-breaking query.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the answer if the query doesn't have clear intent.",
              "The low-grounded answer case. Google skips the answer if a well grounded answer was unable to be generated.",
              "The user defined query classification ignored case. Google skips the answer if the query is classified as a user defined query classification.",
              "The unhelpful answer case. Google skips the answer if the answer is not helpful. This can be due to a variety of factors, including but not limited to: the query is not answerable, the answer is not relevant to the query, or the answer is not well-formatted."
            ],
            "type": "string"
          },
          "description": "Additional answer-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "type": "array"
        },
        "steps": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStep"
          },
          "description": "Answer generation steps.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Answer creation timestamp.",
          "type": "string"
        },
        "relatedQuestions": {
          "description": "Suggested related questions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "citations": {
          "description": "Citations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitation"
          }
        },
        "completeTime": {
          "readOnly": true,
          "description": "Output only. Answer completed timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*/answers/*`",
          "type": "string"
        },
        "groundingScore": {
          "type": "number",
          "format": "double",
          "description": "A score in the range of [0, 1] describing how grounded the answer is by the reference chunks."
        },
        "queryUnderstandingInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
          "description": "Query understanding information."
        },
        "groundingSupports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport"
          },
          "description": "Optional. Grounding supports."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswer",
      "description": "Defines an answer."
    },
    "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries": {
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website.",
      "id": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries",
      "type": "object",
      "properties": {
        "googleOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots."
        },
        "vertexAiOrganicCrawlRate": {
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Collection": {
      "id": "GoogleCloudDiscoveryengineV1Collection",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp the Collection was created at."
        }
      },
      "description": "Collection is a container for configuring resources and access to a set of DataStores.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ListDocumentsResponse": {
      "properties": {
        "documents": {
          "description": "The Documents.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Document"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ListDocumentsResponse",
      "description": "Response message for DocumentService.ListDocuments method."
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSetting": {
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSetting",
      "type": "object",
      "properties": {
        "shortcuts": {
          "type": "array",
          "description": "Optional. The shortcuts to display on the homepage.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSettingShortcut"
          }
        }
      },
      "description": "Describes the homepage setting of the widget. It includes all homepage related settings and configurations, such as shortcuts."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo": {
      "type": "object",
      "description": "Query understanding information.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
      "properties": {
        "queryClassificationInfo": {
          "description": "Query classification information.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse": {
      "properties": {
        "organicCrawlRateTimeSeries": {
          "$ref": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries",
          "description": "The historical organic crawl rate timeseries data, used for monitoring."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the response.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ]
        },
        "dedicatedCrawlRateTimeSeries": {
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries"
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse",
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaListSessionsRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A page token, received from a previous `ListSessions` call. Provide this to retrieve the subsequent page."
        },
        "parent": {
          "description": "Required. The data store resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}`",
          "type": "string"
        },
        "orderBy": {
          "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `update_time` * `create_time` * `session_name` * `is_pinned` Example: * `update_time desc` * `create_time` * `is_pinned desc,update_time desc`: list sessions by is_pinned first, then by update_time.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "A comma-separated list of fields to filter by, in EBNF grammar. The supported fields are: * `user_pseudo_id` * `state` * `display_name` * `starred` * `is_pinned` * `labels` * `create_time` * `update_time` * `collaborative_project` Examples: * `user_pseudo_id = some_id` * `display_name = \"some_name\"` * `starred = true` * `is_pinned=true AND (NOT labels:hidden)` * `create_time > \"1970-01-01T12:00:00Z\"` * `collaborative_project = \"projects/123/locations/global/collections/default_collection/engines/\" \"default_engine/collaborative_projects/cp1\"`"
        },
        "pageSize": {
          "format": "int32",
          "description": "Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListSessionsRequest",
      "description": "Request for ListSessions method."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSitemapMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSitemapMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineLoggingImportErrorContext": {
      "id": "GoogleCloudDiscoveryengineLoggingImportErrorContext",
      "properties": {
        "lineNumber": {
          "description": "Line number of the content in file. Should be empty for permission or batch operation error.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "The operation resource name of the LRO."
        },
        "userEvent": {
          "description": "The detailed content which caused the error on importing a user event.",
          "type": "string"
        },
        "document": {
          "description": "The detailed content which caused the error on importing a document.",
          "type": "string"
        },
        "gcsPath": {
          "description": "Google Cloud Storage file path of the import source. Can be set for batch operation error.",
          "type": "string"
        }
      },
      "description": "The error payload that is populated on LRO import APIs, including the following: * `google.cloud.discoveryengine.v1alpha.DocumentService.ImportDocuments` * `google.cloud.discoveryengine.v1alpha.UserEventService.ImportUserEvents`",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Values of the string field. The record will only be returned if the field value matches one of the values specified here.",
          "type": "array"
        },
        "querySegment": {
          "description": "Identifies the keywords within the search query that match a filter.",
          "type": "string"
        },
        "fieldName": {
          "description": "Name of the string field as defined in the schema.",
          "type": "string"
        }
      },
      "description": "Constraint expression of a string field.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelResponse": {
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelResponse",
      "type": "object",
      "properties": {
        "modelName": {
          "type": "string",
          "description": "Fully qualified name of the CustomTuningModel."
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "modelStatus": {
          "type": "string",
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving."
        },
        "metrics": {
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "type": "object",
          "description": "The metrics of the trained model."
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the data."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "properties": {
        "targetFieldValueFloat": {
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "format": "float",
          "type": "number"
        },
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "description": "Custom threshold for `cvr` optimization_objective.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "description": "Config for connecting to NotebookLM Enterprise.",
      "properties": {
        "searchConfig": {
          "type": "string",
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig",
      "description": "Configuration for NotebookLM.",
      "properties": {
        "modelArmorConfig": {
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaObservabilityConfig"
        },
        "dataProtectionPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
          "description": "Optional. Specifies the data protection policy for NotebookLM."
        },
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfig": {
      "properties": {
        "parsingConfigOverrides": {
          "type": "object",
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
          }
        },
        "chunkingConfig": {
          "description": "Whether chunking mode is enabled.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig"
        },
        "defaultParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig",
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing."
        },
        "name": {
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig",
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser."
    },
    "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadata": {
      "properties": {
        "segments": {
          "description": "Grounding information for parts of the text.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataSegment"
          }
        },
        "references": {
          "description": "References for the grounded text.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReference"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadata",
      "type": "object",
      "description": "Grounding details for text sources."
    },
    "GoogleCloudDiscoveryengineV1betaCreateEvaluationMetadata": {
      "properties": {},
      "description": "Metadata for EvaluationService.CreateEvaluation method.",
      "id": "GoogleCloudDiscoveryengineV1betaCreateEvaluationMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata": {
      "properties": {
        "dialogflowAgent": {
          "type": "string",
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesRequest",
      "description": "Request message for CompletionService.PurgeSuggestionDenyListEntries method."
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig": {
      "description": "Feature config for the Knowledge Graph.",
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig",
      "type": "object",
      "properties": {
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUiChips": {
          "type": "boolean",
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified."
        },
        "disablePrivateKgEnrichment": {
          "type": "boolean",
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgAutoComplete": {
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ConversationMessage": {
      "description": "Defines a conversation message.",
      "id": "GoogleCloudDiscoveryengineV1ConversationMessage",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Message creation timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "reply": {
          "$ref": "GoogleCloudDiscoveryengineV1Reply",
          "description": "Search reply."
        },
        "userInput": {
          "description": "User text input.",
          "$ref": "GoogleCloudDiscoveryengineV1TextInput"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata": {
      "description": "Metadata associated with a project provision operation.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfig": {
      "properties": {
        "layoutParsingConfig": {
          "description": "Configurations applied to layout parser.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig"
        },
        "ocrParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig",
          "description": "Configurations applied to OCR parser. Currently it only applies to PDFs."
        },
        "digitalParsingConfig": {
          "description": "Configurations applied to digital parser.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigDigitalParsingConfig"
        }
      },
      "type": "object",
      "description": "Related configurations applied to a specific type of document parser.",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfig",
      "description": "The configuration for realtime sync to store additional params for realtime sync.",
      "properties": {
        "streamingError": {
          "description": "Optional. Streaming error details.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError"
        },
        "realtimeSyncSecret": {
          "description": "Optional. The ID of the Secret Manager secret used for webhook secret.",
          "type": "string"
        },
        "webhookUri": {
          "description": "Optional. Webhook url for the connector to specify additional params for realtime sync.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec": {
      "type": "object",
      "properties": {
        "filterExtractionCondition": {
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "The condition under which filter extraction should occur. Server behavior defaults to `DISABLED`.",
          "enumDescriptions": [
            "Server behavior defaults to `DISABLED`.",
            "Disables NL filter extraction.",
            "Enables NL filter extraction."
          ]
        },
        "extractedFilterBehavior": {
          "type": "string",
          "enumDescriptions": [
            "`EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED` will use the default behavior for extracted filters. For single datastore search, the default is to apply as hard filters. For multi-datastore search, the default is to apply as soft boosts.",
            "Applies all extracted filters as hard filters on the results. Results that do not pass the extracted filters will not be returned in the result set.",
            "Applies all extracted filters as soft boosts. Results that pass the filters will be boosted up to higher ranks in the result set."
          ],
[...]
