{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Discovery Engine",
  "kind": "discovery#restDescription",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "version": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "in",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/"
    }
  ],
  "basePath": "",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1SearchRequestDisplaySpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestDisplaySpec",
      "description": "Specifies features for display, like match highlighting.",
      "properties": {
        "matchHighlightingCondition": {
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "type": "string",
          "description": "The condition under which match highlighting should occur.",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Query": {
      "properties": {
        "text": {
          "description": "Plain text.",
          "type": "string"
        },
        "queryId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique Id for the query."
        }
      },
      "description": "Defines a user inputed query.",
      "id": "GoogleCloudDiscoveryengineV1Query",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadata": {
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataSegment"
          },
          "description": "Grounding information for parts of the text."
        },
        "references": {
          "description": "References for the grounded text.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReference"
          }
        }
      },
      "description": "Grounding details for text sources.",
      "id": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteSitemapMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDeleteSitemapMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAgentGatewaySetting": {
      "id": "GoogleCloudDiscoveryengineV1betaAgentGatewaySetting",
      "properties": {
        "defaultEgressAgentGateway": {
          "description": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAgentGatewaySettingAgentGatewayReference"
        }
      },
      "description": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfo": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfo",
      "properties": {
        "queryClassificationInfo": {
          "description": "Query classification information.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfoQueryClassificationInfo"
          }
        }
      },
      "description": "Query understanding information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig": {
      "properties": {
        "enablePsvs": {
          "description": "Optional. If true, enable PSVS for AlloyDB.",
          "type": "boolean"
        },
        "database": {
          "description": "Required. The AlloyDB database to connect to.",
          "type": "string"
        },
        "user": {
          "description": "Required. Database user. If auth_mode = END_USER_ACCOUNT, it can be unset. In that case, the user will be inferred on the AlloyDB side, based on the authenticated user.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The AlloyDB instance to connect to.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Required. Database password. If auth_mode = END_USER_ACCOUNT, it can be unset. In that case, the password will be inferred on the AlloyDB side, based on the authenticated user."
        },
        "authMode": {
          "enumDescriptions": [
            "",
            "Uses P4SA when VAIS talks to AlloyDB.",
            "Uses EUC when VAIS talks to AlloyDB."
          ],
          "description": "Optional. Auth mode.",
          "type": "string",
          "enum": [
            "AUTH_MODE_UNSPECIFIED",
            "AUTH_MODE_SERVICE_ACCOUNT",
            "AUTH_MODE_END_USER_ACCOUNT"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig",
      "description": "Configuration for connecting to AlloyDB.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1RecrawlUrisRequest": {
      "properties": {
        "uris": {
          "description": "Required. List of URIs to crawl. At most 10K URIs are supported, otherwise an INVALID_ARGUMENT error is thrown. Each URI should match at least one TargetSite in `site_search_engine`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "siteCredential": {
          "description": "Optional. Credential id to use for crawling.",
          "type": "string"
        }
      },
      "description": "Request message for SiteSearchEngineService.RecrawlUris method.",
      "id": "GoogleCloudDiscoveryengineV1RecrawlUrisRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason": {
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason",
      "description": "Site search indexing failure reasons.",
      "properties": {
        "quotaFailure": {
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure",
          "description": "Failed due to insufficient quota."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "successCount": {
          "description": "Count of entries that were deleted successfully.",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "ignoredCount": {
          "type": "string",
          "description": "Count of entries that were ignored as entries were not found.",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
          "description": "Optional. The sensitive data protection policy."
        }
      },
      "type": "object",
      "description": "Data protection policy config for NotebookLM.",
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
    },
    "GoogleCloudDiscoveryengineV1Reply": {
      "properties": {
        "summary": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSummary",
          "description": "Summary based on search results."
        }
      },
      "description": "Defines a reply message to user.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1Reply"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob": {
      "description": "The media type and data of the blob.",
      "type": "object",
      "properties": {
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The media type (MIME type) of the generated or retrieved data."
        },
        "data": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. Raw bytes."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob"
    },
    "GoogleCloudDiscoveryengineV1StreamAssistResponse": {
      "properties": {
        "assistToken": {
          "description": "A global unique ID that identifies the current pair of request and stream of responses. Used for feedback and support.",
          "type": "string"
        },
        "answer": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswer",
          "description": "Assist answer resource object containing parts of the assistant's final answer for the user's query. Not present if the current response doesn't add anything to previously sent AssistAnswer.replies. Observe AssistAnswer.state to see if more parts are to be expected. While the state is `IN_PROGRESS`, the AssistAnswer.replies field in each response will contain replies (reply fragments) to be appended to the ones received in previous responses. AssistAnswer.name won't be filled. If the state is `SUCCEEDED`, `FAILED` or `SKIPPED`, the response is the last response and AssistAnswer.name will have a value."
        },
        "sessionInfo": {
          "description": "Session information. Only included in the final StreamAssistResponse of the response stream.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistResponseSessionInfo"
        },
        "invocationTools": {
          "description": "The tool names of the tools that were invoked.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response for the AssistantService.StreamAssist method.",
      "id": "GoogleCloudDiscoveryengineV1StreamAssistResponse"
    },
    "A2aV1APIKeySecurityScheme": {
      "id": "A2aV1APIKeySecurityScheme",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the API key, valid values are \"query\", \"header\", or \"cookie\""
        },
        "name": {
          "description": "Name of the header, query or cookie parameter to be used.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
      "type": "object",
      "description": "Represents a document reference.",
      "properties": {
        "destinationUri": {
          "description": "The destination uri of the reference.",
          "type": "string"
        },
        "displayTitle": {
          "type": "string",
          "description": "The display title of the reference."
        },
        "iconUri": {
          "description": "The icon uri of the reference.",
          "type": "string"
        },
        "fileId": {
          "description": "Output only. The file id of the document data stored in the session context files.",
          "type": "string",
          "readOnly": true
        },
        "urlForConnector": {
          "description": "Input only. The url_for_connector of the document returned by Federated Search.",
          "type": "string"
        },
        "documentName": {
          "description": "The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "type": "object",
      "description": "Configuration for AlloyDB AI Natural Language.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "properties": {
        "nlConfigId": {
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingRequest": {
      "description": "Request message for GroundedGenerationService.CheckGrounding method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingRequest",
      "properties": {
        "groundingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1CheckGroundingSpec",
          "description": "Configuration of the grounding check."
        },
        "facts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1GroundingFact"
          },
          "type": "array",
          "description": "List of facts for the grounding check. We support up to 200 facts."
        },
        "answerCandidate": {
          "description": "Answer candidate to check. It can have a maximum length of 4096 tokens.",
          "type": "string"
        },
        "userLabels": {
          "type": "object",
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CompleteQueryResponseQuerySuggestion": {
      "description": "Suggestions as search queries.",
      "type": "object",
      "properties": {
        "completableFieldPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model."
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CompleteQueryResponseQuerySuggestion"
    },
    "GoogleCloudDiscoveryengineV1alphaAclConfig": {
      "properties": {
        "idpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig",
          "description": "Identity provider config."
        },
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAclConfig",
      "description": "Access Control Configuration.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1WidgetConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1WidgetConfig",
      "properties": {
        "enableResultScore": {
          "type": "boolean",
          "description": "Whether to show the result score."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp the WidgetConfig was updated.",
          "type": "string"
        },
        "allowPublicAccess": {
          "type": "boolean",
          "description": "Whether allow no-auth integration with widget. If set true, public access to search or other solutions from widget is allowed without authenication token provided by customer hosted backend server.",
          "deprecated": true
        },
        "solutionType": {
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. Specifies the solution type that this WidgetConfig can be used for.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ]
        },
        "homepageSetting": {
          "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSetting",
          "description": "Optional. Describes the homepage settings of the widget."
        },
        "collectionComponents": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigCollectionComponent"
          },
          "description": "Output only. Collection components that lists all collections and child data stores associated with the widget config, those data sources can be used for filtering in widget service APIs, users can return results that from selected data sources.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp the WidgetConfig was created."
        },
        "dataStoreUiConfigs": {
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreUiConfig"
          },
          "description": "Configurable UI configurations per data store.",
          "type": "array"
        },
        "enableAutocomplete": {
          "type": "boolean",
          "description": "Whether or not to enable autocomplete.",
          "deprecated": true
        },
        "allowlistedDomains": {
          "description": "Allowlisted domains that can load this widget.",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "assistantSettings": {
          "description": "Optional. Output only. Describes the assistant settings of the widget.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigAssistantSettings"
        },
        "enableSnippetResultSummary": {
          "description": "Turn on or off summary for each snippets result.",
          "type": "boolean",
          "deprecated": true
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigNode"
          },
          "description": "Output only. The nodes associated with the Widget Config.",
          "readOnly": true
        },
        "enableSafeSearch": {
          "description": "Whether to enable safe search.",
          "type": "boolean",
          "deprecated": true
        },
        "enableConversationalSearch": {
          "description": "Whether to allow conversational search (LLM, multi-turn) or not (non-LLM, single-turn).",
          "deprecated": true,
          "type": "boolean"
        },
        "industryVertical": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "description": "Output only. The industry vertical that the WidgetConfig registers. The WidgetConfig industry vertical is based on the associated Engine."
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Optional. Output only. Whether to enable private knowledge graph.",
          "readOnly": true
        },
        "uiSettings": {
          "description": "Describes general widget search settings as seen in cloud console widget configuration page. Replaces top deprecated top level properties.",
          "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigUiSettings"
        },
        "enableSearchAsYouType": {
          "type": "boolean",
          "description": "Whether to enable search-as-you-type behavior for the search widget",
          "deprecated": true
        },
        "dataStoreType": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "SITE_SEARCH",
            "STRUCTURED",
            "UNSTRUCTURED",
            "BLENDED"
          ],
          "description": "Output only. The type of the parent data store.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified data store type.",
            "The parent data store contains a site search engine.",
            "The parent data store contains a search engine for structured data.",
            "The parent data store contains a search engine for unstructured data.",
            "The parent data store is served for blended search with multiple data stores."
          ],
          "type": "string"
        },
        "contentSearchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec",
          "deprecated": true,
          "description": "The content search spec that configs the desired behavior of content search."
        },
        "resultDisplayType": {
          "enum": [
            "RESULT_DISPLAY_TYPE_UNSPECIFIED",
            "SNIPPET",
            "EXTRACTIVE_ANSWER"
          ],
          "description": "The type of snippet to display in UCS widget. - RESULT_DISPLAY_TYPE_UNSPECIFIED for existing users. - SNIPPET for new non-enterprise search users. - EXTRACTIVE_ANSWER for new enterprise search users.",
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified display type (default to showing snippet).",
            "Display results from the snippet field.",
            "Display results from extractive answers field."
          ],
          "type": "string"
        },
        "configId": {
          "description": "Output only. Unique obfuscated identifier of a WidgetConfig.",
          "readOnly": true,
          "type": "string"
        },
        "llmEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether LLM is enabled in the corresponding data store."
        },
        "enableWebApp": {
          "type": "boolean",
          "description": "Whether to enable standalone web app.",
          "deprecated": true
        },
        "displayName": {
          "description": "Required. The human readable widget config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "accessSettings": {
          "description": "Will be used for all widget access settings seen in cloud console integration page. Replaces top deprecated top level properties.",
          "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigAccessSettings"
        },
        "defaultSearchRequestOrderBy": {
          "type": "string",
          "deprecated": true,
          "description": "The default ordering for search results if specified. Used to set SearchRequest#order_by on applicable requests. https://cloud.google.com/generative-ai-app-builder/docs/reference/rest/v1alpha/projects.locations.dataStores.servingConfigs/search#request-body"
        },
        "geminiBundle": {
          "description": "Output only. Whether the subscription is gemini bundle or not.",
          "readOnly": true,
          "type": "boolean"
        },
        "uiBranding": {
          "description": "Describes search widget UI branding settings, such as the widget title, logo, favicons, and colors.",
          "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigUiBrandingSettings"
        },
        "enableQualityFeedback": {
          "description": "Turn on or off collecting the search result quality feedback from end users.",
          "type": "boolean",
          "deprecated": true
        },
        "facetField": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigFacetField"
          },
          "description": "The configuration and appearance of facets in the end user view.",
          "deprecated": true,
          "type": "array"
        },
        "enableSummarization": {
          "type": "boolean",
          "deprecated": true,
          "description": "Turn on or off summarization for the search response."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the widget config. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/widgetConfigs/{widget_config_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "minimumDataTermAccepted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the customer accepted data use terms."
        },
        "fieldsUiComponentsMap": {
          "description": "The key is the UI component. Mock. Currently supported `title`, `thumbnail`, `url`, `custom1`, `custom2`, `custom3`. The value is the name of the field along with its device visibility. The 3 custom fields are optional and can be added or removed. `title`, `thumbnail`, `url` are required UI components that cannot be removed.",
          "type": "object",
          "deprecated": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigUIComponentField"
          }
        },
        "customerProvidedConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigCustomerProvidedConfig",
          "readOnly": true,
          "description": "Optional. Output only. Describes the customer related configurations, currently only used for government customers. This field cannot be modified after project onboarding."
        }
      },
      "description": "WidgetConfig captures configs at the Widget level."
    },
    "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries": {
      "type": "object",
      "properties": {
        "googleOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots."
        },
        "vertexAiOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot."
        }
      },
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website.",
      "id": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries"
    },
    "GoogleCloudDiscoveryengineV1Interval": {
      "description": "A floating point interval.",
      "properties": {
        "maximum": {
          "type": "number",
          "description": "Inclusive upper bound.",
          "format": "double"
        },
        "exclusiveMinimum": {
          "format": "double",
          "type": "number",
          "description": "Exclusive lower bound."
        },
        "exclusiveMaximum": {
          "description": "Exclusive upper bound.",
          "format": "double",
          "type": "number"
        },
        "minimum": {
          "format": "double",
          "type": "number",
          "description": "Inclusive lower bound."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Interval",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DeleteEngineMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DeleteEngineMetadata",
      "description": "Metadata related to the progress of the EngineService.DeleteEngine operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment": {
      "type": "object",
      "description": "The alert enrollment status.",
      "properties": {
        "alertId": {
          "description": "Immutable. The id of an alert.",
          "type": "string"
        },
        "enrollState": {
          "description": "Required. The enrollment status of a customer.",
          "enum": [
            "ENROLL_STATES_UNSPECIFIED",
            "ENROLLED",
            "DECLINED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. Used for customers who have not responded to the alert policy.",
            "Customer is enrolled in this policy.",
            "Customer declined this policy."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment"
    },
    "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec": {
      "id": "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec",
      "type": "object",
      "description": "The specification for user defined classifier.",
      "properties": {
        "preamble": {
          "description": "Optional. The preamble to be used for the user defined classifier.",
          "type": "string"
        },
        "taskMarker": {
          "description": "Optional. The task marker to be used for the user defined classifier.",
          "type": "string"
        },
        "seed": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The seed value to be used for the user defined classifier."
        },
        "modelId": {
          "description": "Optional. The model id to be used for the user defined classifier.",
          "type": "string"
        },
        "topK": {
          "description": "Optional. The top-k value to be used for the user defined classifier.",
          "format": "int64",
          "type": "string"
        },
        "temperature": {
          "description": "Optional. The temperature value to be used for the user defined classifier.",
          "type": "number",
          "format": "double"
        },
        "enableUserDefinedClassifier": {
          "description": "Optional. Whether or not to enable and include user defined classifier.",
          "type": "boolean"
        },
        "topP": {
          "type": "number",
          "description": "Optional. The top-p value to be used for the user defined classifier.",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec": {
      "description": "A specification for configuring a summary returned in a search response.",
      "properties": {
        "modelPromptSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec",
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM."
        },
        "summaryResultCount": {
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "type": "integer",
          "format": "int32"
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec"
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "useSemanticChunks": {
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list.",
          "type": "boolean"
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreLowRelevantContent": {
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        },
        "ignoreNonSummarySeekingQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "type": "object",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. The Sensitive Data Protection policy resource name."
        }
      },
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReference": {
      "properties": {
        "structuredDocumentInfo": {
          "description": "Structured document information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceStructuredDocumentInfo"
        },
        "unstructuredDocumentInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo",
          "description": "Unstructured document information."
        },
        "chunkInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo",
          "description": "Chunk information."
        }
      },
      "type": "object",
      "description": "Reference.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReference"
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigUiSettingsGenerativeAnswerConfig": {
      "description": "Describes configuration for generative answer.",
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigUiSettingsGenerativeAnswerConfig",
      "properties": {
        "resultCount": {
          "description": "The number of top results to generate the answer from. Up to 10.",
          "type": "integer",
          "format": "int32"
        },
        "maxRephraseSteps": {
          "format": "int32",
          "type": "integer",
          "description": "Max rephrase steps. The max number is 5 steps. If not set or set to < 1, it will be set to 1 by default."
        },
        "ignoreNonAnswerSeekingQuery": {
          "description": "Optional. Specifies whether to filter out queries that are not answer-seeking. The default value is `false`. No answer is returned if the search query is classified as a non-answer seeking query. If this field is set to `true`, we skip generating answers for non-answer seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "modelPromptPreamble": {
          "description": "Text at the beginning of the prompt that instructs the model that generates the answer.",
          "type": "string"
        },
        "ignoreAdversarialQuery": {
          "description": "Optional. Specifies whether to filter out queries that are adversarial.",
          "type": "boolean"
        },
        "imageSource": {
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default)",
            "Behavior when service determines the pick from all available sources.",
            "Include image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ],
          "description": "Optional. Source of image returned in the answer."
        },
        "modelVersion": {
          "description": "The model version used to generate the answer.",
          "type": "string"
        },
        "disableRelatedQuestions": {
          "description": "Whether generated answer contains suggested related questions.",
          "type": "boolean"
        },
        "ignoreLowRelevantContent": {
          "description": "Optional. Specifies whether to filter out queries that are not relevant to the content.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultModelArmorEnforcementResult": {
      "properties": {
        "error": {
          "description": "The error returned by Model Armor if the policy enforcement failed for some reason.",
          "$ref": "GoogleRpcStatus"
        },
        "modelArmorViolation": {
          "description": "The Model Armor violation that was found.",
          "type": "string"
        }
      },
      "description": "Customer policy enforcement result for the Model Armor policy.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultModelArmorEnforcementResult"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig",
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features."
        }
      },
      "description": "Common configurations for an Engine."
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReason": {
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason",
      "description": "Site search indexing failure reasons.",
      "properties": {
        "quotaFailure": {
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure",
          "description": "Failed due to insufficient quota."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec",
      "properties": {
        "numNextSegments": {
          "format": "int32",
          "description": "Return at most `num_next_segments` segments after each selected segments.",
          "type": "integer"
        },
        "maxExtractiveAnswerCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult."
        },
        "maxExtractiveSegmentCount": {
          "format": "int32",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`.",
          "type": "integer"
        },
        "numPreviousSegments": {
          "format": "int32",
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "type": "integer"
        },
        "returnExtractiveSegmentScore": {
          "type": "boolean",
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`."
        }
      },
      "type": "object",
      "description": "A specification for configuring the extractive content in a search response."
    },
    "GoogleCloudDiscoveryengineV1betaConditionTimeRange": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaConditionTimeRange",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of time range. Range is inclusive. Must be in the future."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Start of time range. Range is inclusive.",
          "type": "string"
        }
      },
      "description": "Used for time-dependent conditions."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "attributeType": {
          "type": "string",
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ]
        },
        "controlPoints": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array"
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "description": "The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "fieldName": {
          "description": "The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult": {
      "description": "Customer policy enforcement result for the banned phrase policy.",
      "properties": {
        "bannedPhrases": {
          "description": "The banned phrases that were found in the query or the answer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfo": {
      "description": "Information describing what natural language understanding was done on the input query.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfo",
      "properties": {
        "classifiedIntents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The classified intents from the input query."
        },
        "rewrittenQuery": {
          "type": "string",
          "description": "Rewritten input query minus the extracted filters."
        },
        "structuredExtractedFilter": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter",
          "description": "The filters that were extracted from the input query represented in a structured form."
        },
        "extractedFilters": {
          "description": "The filters that were extracted from the input query.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig": {
      "description": "Specifies the configurations needed for Media Discovery. Currently we support: * `demote_content_watched`: Threshold for watched content demotion. Customers can specify if using watched content demotion or use viewed detail page. Using the content watched demotion, customers need to specify the watched minutes or percentage exceeds the threshold, the content will be demoted in the recommendation result. * `promote_fresh_content`: cutoff days for fresh content promotion. Customers can specify if using content freshness promotion. If the content was published within the cutoff days, the content will be promoted in the recommendation result. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
      "id": "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig",
      "properties": {
        "contentFreshnessCutoffDays": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the content freshness used for recommendation result. Contents will be demoted if contents were published for more than content freshness cutoff days."
        },
        "contentWatchedPercentageThreshold": {
          "description": "Specifies the content watched percentage threshold for demotion. Threshold value must be between [0, 1.0] inclusive.",
          "format": "float",
          "type": "number"
        },
        "demotionEventType": {
          "type": "string",
          "description": "Specifies the event type used for demoting recommendation result. Currently supported values: * `view-item`: Item viewed. * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. If unset, watch history demotion will not be applied. Content freshness demotion will still be applied."
        },
        "demoteContentWatchedPastDays": {
          "description": "Optional. Specifies the number of days to look back for demoting watched content. If set to zero or unset, defaults to the maximum of 365 days.",
          "type": "integer",
          "format": "int32"
        },
        "contentWatchedSecondsThreshold": {
          "type": "number",
          "format": "float",
          "description": "Specifies the content watched minutes threshold for demotion."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation": {
      "type": "object",
      "properties": {
        "searchResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult"
          },
          "description": "Search results observed by the search action, it can be snippets info or chunk info, depending on the citation type set by the user."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation",
      "description": "Observation."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig",
      "description": "Config for connecting to NotebookLM Enterprise.",
      "properties": {
        "searchConfig": {
          "type": "string",
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata",
      "properties": {
        "imageId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Image id is provided if the structured content is based on an image."
        },
        "structuredContent": {
          "description": "Output only. The structured content information.",
          "$ref": "GoogleCloudDiscoveryengineV1ChunkStructuredContent",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The annotation metadata includes structured content in the current chunk."
    },
    "GoogleCloudDiscoveryengineV1ListControlsResponse": {
      "type": "object",
      "properties": {
        "controls": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Control"
          },
          "description": "All the Controls for a given data store.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListControlsResponse",
      "description": "Response for ListControls method."
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest": {
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest",
      "properties": {
        "inlineSource": {
          "description": "The Inline source for the input content for suggestion deny list entries.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource",
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec",
      "properties": {
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`",
          "type": "string"
        },
        "boost": {
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored. Only one of the (condition, boost) combination or the boost_control_spec below are set. If both are set then the global boost is ignored and the more fine-grained boost_control_spec is applied.",
          "type": "number",
          "format": "float"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Complex specification for custom ranking based on customer defined attribute value."
        }
      },
      "type": "object",
      "description": "Boost applies to documents which match a condition."
    },
    "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse": {
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "description": "Output only. The state of the response.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Errors from service when handling the request."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse",
      "type": "object",
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED."
    },
    "GoogleCloudDiscoveryengineV1alphaTuneEngineResponse": {
      "type": "object",
      "properties": {},
      "description": "Response associated with a tune operation.",
      "id": "GoogleCloudDiscoveryengineV1alphaTuneEngineResponse"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec": {
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec",
      "properties": {
        "numPreviousChunks": {
          "format": "int32",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "type": "integer"
        },
        "numNextChunks": {
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1RecommendResponse": {
      "id": "GoogleCloudDiscoveryengineV1RecommendResponse",
      "properties": {
        "attributionToken": {
          "type": "string",
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance."
        },
        "results": {
          "type": "array",
          "description": "A list of recommended Documents. The order represents the ranking (from the most relevant Document to the least).",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1RecommendResponseRecommendationResult"
          }
        },
        "missingIds": {
          "description": "IDs of documents in the request that were missing from the default Branch associated with the requested ServingConfig.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "validateOnly": {
          "type": "boolean",
          "description": "True if RecommendRequest.validate_only was set."
        }
      },
      "description": "Response message for Recommend method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata",
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CreateSchemaMetadata": {
      "description": "Metadata for Create Schema LRO.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1CreateSchemaMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse": {
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "description": "Output only. The state of the response.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSafetySpec": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSafetySpec",
      "properties": {
        "safetySettings": {
          "type": "array",
          "description": "Optional. Safety settings. This settings are effective only when the safety_spec.enable is true.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSafetySpecSafetySetting"
          }
        },
        "enable": {
          "type": "boolean",
          "description": "Enable the safety filtering on the answer response. It is false by default."
        }
      },
      "description": "Safety specification. There are two use cases: 1. when only safety_spec.enable is set, the BLOCK_LOW_AND_ABOVE threshold will be applied for all categories. 2. when safety_spec.enable is set and some safety_settings are set, only specified safety_settings are applied.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse": {
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
          },
          "type": "array",
          "description": "TargetSites created."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse",
      "type": "object",
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method."
    },
    "A2aV1AgentSkill": {
      "id": "A2aV1AgentSkill",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "A human (or llm) readable description of the skill details and behaviors."
        },
        "tags": {
          "description": "A set of tags for the skill to enhance categorization/utilization. Example: [\"cooking\", \"customer support\", \"billing\"]",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "description": "A set of example queries that this skill is designed to address. These examples should help the caller to understand how to craft requests to the agent to achieve specific goals. Example: [\"I need a recipe for bread\"]",
          "type": "array"
        },
        "name": {
          "description": "A human readable name for the skill.",
          "type": "string"
        },
        "outputModes": {
          "description": "Possible output modalities produced",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inputModes": {
          "description": "Possible input modalities supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Unique identifier of the skill within this agent.",
          "type": "string"
        },
        "security": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security schemes necessary for the agent to leverage this skill. As in the overall AgentCard.security, this list represents a logical OR of security requirement objects. Each object is a set of security schemes that must be used together (a logical AND). protolint:enable REPEATED_FIELD_NAMES_PLURALIZED",
          "items": {
            "$ref": "A2aV1Security"
          },
          "type": "array"
        }
      },
      "description": "AgentSkill represents a unit of action/solution that the agent can perform. One can think of this as a type of highly reliable solution that an agent can be tasked to provide. Agents have the autonomy to choose how and when to use specific skills, but clients should have confidence that if the skill is defined that unit of action can be reliably performed."
    },
    "GoogleCloudDiscoveryengineV1SafetyRating": {
      "type": "object",
      "properties": {
        "probabilityScore": {
          "description": "Output only. Harm probability score.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "blocked": {
          "type": "boolean",
          "description": "Output only. Indicates whether the content was filtered out because of this rating.",
          "readOnly": true
        },
        "severity": {
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ],
          "description": "Output only. Harm severity levels in the content.",
          "enumDescriptions": [
            "Harm severity unspecified.",
            "Negligible level of harm severity.",
            "Low level of harm severity.",
            "Medium level of harm severity.",
            "High level of harm severity."
          ],
          "readOnly": true,
          "type": "string"
        },
        "probability": {
          "type": "string",
          "enumDescriptions": [
            "Harm probability unspecified.",
            "Negligible level of harm.",
            "Low level of harm.",
            "Medium level of harm.",
            "High level of harm."
          ],
          "readOnly": true,
          "description": "Output only. Harm probability levels in the content.",
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "category": {
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ],
          "description": "Output only. Harm category.",
          "type": "string"
        },
        "severityScore": {
          "format": "float",
          "readOnly": true,
          "description": "Output only. Harm severity score.",
          "type": "number"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SafetyRating",
      "description": "Safety rating corresponding to the generated content."
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Required. A list of all denylist entries to import. Max of 1000 items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SuggestionDenyListEntry"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource",
      "description": "The inline source for SuggestionDenyListEntry."
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequestInlineSource": {
      "description": "The inline source to import identity mapping entries from.",
      "type": "object",
      "properties": {
        "identityMappingEntries": {
          "description": "A maximum of 10000 entries can be imported at one time",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingEntry"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfig": {
      "properties": {
        "chunkingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig",
          "description": "Whether chunking mode is enabled."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`."
        },
        "defaultParsingConfig": {
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
        },
        "parsingConfigOverrides": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
          },
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported.",
          "type": "object"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig",
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1UserInfo": {
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. IANA time zone, e.g. Europe/Budapest."
        },
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded."
        },
        "userAgent": {
          "type": "string",
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1UserInfo",
      "description": "Information of an end user."
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreUiConfig": {
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreUiConfig",
      "type": "object",
      "properties": {
        "fieldsUiComponentsMap": {
          "description": "The key is the UI component. Mock. Currently supported `title`, `thumbnail`, `url`, `custom1`, `custom2`, `custom3`. The value is the name of the field along with its device visibility. The 3 custom fields are optional and can be added or removed. `title`, `thumbnail`, `url` are required UI components that cannot be removed.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigUIComponentField"
          },
          "type": "object"
        },
        "facetField": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigFacetField"
          },
          "description": "Facet fields that store the mapping of fields to end user widget appearance."
        },
        "name": {
          "type": "string",
          "description": "The name of the data store. It should be data store resource name Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. the identifier of the data store, used for widget service. For now it refers to data_store_id, in the future we will migrate the field to encrypted data store name UUID."
        }
      },
      "description": "UI component configuration for data store."
    },
    "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponse": {
      "id": "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponse",
      "type": "object",
      "properties": {
        "documentsMetadata": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadata"
          },
          "type": "array",
          "description": "The metadata of the Documents."
        }
      },
      "description": "Response message for DocumentService.BatchGetDocumentsMetadata method."
    },
    "A2aV1PushNotificationConfig": {
      "id": "A2aV1PushNotificationConfig",
      "properties": {
        "token": {
          "description": "Token unique for this task/session",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "A unique identifier (e.g. UUID) for this push notification."
        },
        "authentication": {
          "description": "Information about the authentication to sent with the notification",
          "$ref": "A2aV1AuthenticationInfo"
        },
        "url": {
          "type": "string",
          "description": "Url to send the notification too"
        }
      },
      "description": "Configuration for setting up push notifications for task updates.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseQueryExpansionInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseQueryExpansionInfo",
      "properties": {
        "expandedQuery": {
          "description": "Bool describing whether query expansion has occurred.",
          "type": "boolean"
        },
        "pinnedResultCount": {
          "description": "Number of pinned results. This field will only be set when expansion happens and SearchRequest.QueryExpansionSpec.pin_unexpanded_results is set to true.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Information describing query expansion including whether expansion has occurred."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression",
      "description": "The expression denoting the filter that was extracted from the input query.",
      "type": "object",
      "properties": {
        "geolocationConstraint": {
          "description": "Geolocation constraint expression.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterGeolocationConstraint"
        },
        "orExpr": {
          "description": "Logical \"Or\" compound operator connecting multiple expressions.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression"
        },
        "stringConstraint": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
          "description": "String constraint expression."
        },
        "andExpr": {
          "description": "Logical \"And\" compound operator connecting multiple expressions.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression"
        },
        "numberConstraint": {
          "description": "Numerical constraint expression.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsRequest": {
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsRequest",
      "description": "Request message for the ImportUserEvents request.",
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportUserEventsRequestInlineSource",
          "description": "The Inline source for the input content for UserEvents."
        },
        "bigquerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudDiscoveryengineV1BigQuerySource"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports."
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse": {
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse"
    },
    "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata": {
      "type": "object",
      "properties": {},
      "description": "Metadata associated with a project provision operation.",
      "id": "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata"
    },
    "GoogleCloudDiscoveryengineV1AssistUserMetadata": {
      "type": "object",
      "properties": {
        "preferredLanguageCode": {
          "description": "Optional. Preferred language to be used for answering if language detection fails. Also used as the language of error messages created by actions, regardless of language detection results.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistUserMetadata",
      "description": "User metadata of the request."
    },
    "GoogleCloudDiscoveryengineV1AssistantContentExecutableCode": {
      "description": "Code generated by the model that is meant to be executed by the model.",
      "id": "GoogleCloudDiscoveryengineV1AssistantContentExecutableCode",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. The code content. Currently only supports Python."
        }
      }
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "GoogleIamV1Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_
[...]
