{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "basePath": "",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaFieldConfig": {
      "type": "object",
      "description": "Configurations for fields of a schema. For example, configuring a field is indexable, or searchable.",
      "properties": {
        "searchableFieldImportance": {
          "type": "string",
          "description": "Optional. Specifies the importance of the field when `searchable_option` is `SEARCHABLE_ENABLED`. If `searchable_option` is `SEARCHABLE_DISABLED`, this field is ignored. If `searchable_option` is `SEARCHABLE_ENABLED` and this is `SEARCHABLE_FIELD_IMPORTANCE_UNSPECIFIED`, it behaves as `DEFAULT_IMPORTANCE`.",
          "enumDescriptions": [
            "Value used when unset. Behaves as `DEFAULT_IMPORTANCE` if the field is searchable.",
            "Provides a tiny signal for search.",
            "Indicates the field is used for search, but is less important than the default.",
            "Default importance. Equivalent to previous behavior.",
            "More important than default fields.",
            "Most important field for search."
          ],
          "enum": [
            "SEARCHABLE_FIELD_IMPORTANCE_UNSPECIFIED",
            "VERY_LOW_IMPORTANCE",
            "LOW_IMPORTANCE",
            "DEFAULT_IMPORTANCE",
            "HIGH_IMPORTANCE",
            "VERY_HIGH_IMPORTANCE"
          ]
        },
        "metatagName": {
          "type": "string",
          "description": "Optional. The metatag name found in the HTML page. If user defines this field, the value of this metatag name will be used to extract metatag. If the user does not define this field, the FieldConfig.field_path will be used to extract metatag."
        },
        "fieldPath": {
          "type": "string",
          "description": "Required. Field path of the schema field. For example: `title`, `description`, `release_info.release_year`."
        },
        "indexableOption": {
          "enum": [
            "INDEXABLE_OPTION_UNSPECIFIED",
            "INDEXABLE_ENABLED",
            "INDEXABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Indexable option enabled for a schema field.",
            "Indexable option disabled for a schema field."
          ],
          "type": "string",
          "description": "If indexable_option is INDEXABLE_ENABLED, field values are indexed so that it can be filtered or faceted in SearchService.Search. If indexable_option is unset, the server behavior defaults to INDEXABLE_DISABLED for fields that support setting indexable options. For those fields that do not support setting indexable options, such as `object` and `boolean` and key properties, the server will skip indexable_option setting, and setting indexable_option for those fields will throw `INVALID_ARGUMENT` error."
        },
        "fieldType": {
          "readOnly": true,
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "OBJECT",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "GEOLOCATION",
            "DATETIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Field type is unspecified.",
            "Field value type is Object.",
            "Field value type is String.",
            "Field value type is Number.",
            "Field value type is Integer.",
            "Field value type is Boolean.",
            "Field value type is Geolocation. Geolocation is expressed as an object with the following keys: * `id`: a string representing the location id * `longitude`: a number representing the longitude coordinate of the location * `latitude`: a number repesenting the latitude coordinate of the location * `address`: a string representing the full address of the location `latitude` and `longitude` must always be provided together. At least one of a) `address` or b) `latitude`-`longitude` pair must be provided.",
            "Field value type is Datetime. Datetime can be expressed as either: * a number representing milliseconds-since-the-epoch * a string representing milliseconds-since-the-epoch. e.g. `\"1420070400001\"` * a string representing the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date or date and time. e.g. `\"2015-01-01\"` or `\"2015-01-01T12:10:30Z\"`"
          ],
          "description": "Output only. Raw type of the field."
        },
        "schemaOrgPaths": {
          "description": "Field paths for indexing custom attribute from schema.org data. More details of schema.org and its defined types can be found at [schema.org](https://schema.org). It is only used on advanced site search schema. Currently only support full path from root. The full path to a field is constructed by concatenating field names, starting from `_root`, with a period `.` as the delimiter. Examples: * Publish date of the root: _root.datePublished * Publish date of the reviews: _root.review.datePublished",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "retrievableOption": {
          "enum": [
            "RETRIEVABLE_OPTION_UNSPECIFIED",
            "RETRIEVABLE_ENABLED",
            "RETRIEVABLE_DISABLED"
          ],
          "type": "string",
          "description": "If retrievable_option is RETRIEVABLE_ENABLED, field values are included in the search results. If retrievable_option is unset, the server behavior defaults to RETRIEVABLE_DISABLED for fields that support setting retrievable options. For those fields that do not support setting retrievable options, such as `object` and `boolean`, the server will skip retrievable option setting, and setting retrievable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Retrievable option enabled for a schema field.",
            "Retrievable option disabled for a schema field."
          ]
        },
        "keyPropertyType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of the key property that this field is mapped to. Empty string if this is not annotated as mapped to a key property. Example types are `title`, `description`. Full list is defined by `keyPropertyMapping` in the schema field annotation. If the schema field has a `KeyPropertyMapping` annotation, `indexable_option` and `searchable_option` of this field cannot be modified."
        },
        "recsFilterableOption": {
          "description": "If recs_filterable_option is FILTERABLE_ENABLED, field values are filterable by filter expression in RecommendationService.Recommend. If FILTERABLE_ENABLED but the field type is numerical, field values are not filterable by text queries in RecommendationService.Recommend. Only textual fields are supported. If recs_filterable_option is unset, the default setting is FILTERABLE_DISABLED for fields that support setting filterable options. When a field set to [FILTERABLE_DISABLED] is filtered, a warning is generated and an empty result is returned.",
          "type": "string",
          "enum": [
            "FILTERABLE_OPTION_UNSPECIFIED",
            "FILTERABLE_ENABLED",
            "FILTERABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Filterable option enabled for a schema field.",
            "Filterable option disabled for a schema field."
          ]
        },
        "searchableOption": {
          "enum": [
            "SEARCHABLE_OPTION_UNSPECIFIED",
            "SEARCHABLE_ENABLED",
            "SEARCHABLE_DISABLED"
          ],
          "description": "If searchable_option is SEARCHABLE_ENABLED, field values are searchable by text queries in SearchService.Search. If SEARCHABLE_ENABLED but field type is numerical, field values will not be searchable by text queries in SearchService.Search, as there are no text values associated to numerical fields. If searchable_option is unset, the server behavior defaults to SEARCHABLE_DISABLED for fields that support setting searchable options. Only `string` fields that have no key property mapping support setting searchable_option. For those fields that do not support setting searchable options, the server will skip searchable option setting, and setting searchable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Searchable option enabled for a schema field.",
            "Searchable option disabled for a schema field."
          ],
          "type": "string"
        },
        "completableOption": {
          "type": "string",
          "description": "If completable_option is COMPLETABLE_ENABLED, field values are directly used and returned as suggestions for Autocomplete in CompletionService.CompleteQuery. If completable_option is unset, the server behavior defaults to COMPLETABLE_DISABLED for fields that support setting completable options, which are just `string` fields. For those fields that do not support setting completable options, the server will skip completable option setting, and setting completable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Completable option enabled for a schema field.",
            "Completable option disabled for a schema field."
          ],
          "enum": [
            "COMPLETABLE_OPTION_UNSPECIFIED",
            "COMPLETABLE_ENABLED",
            "COMPLETABLE_DISABLED"
          ]
        },
        "advancedSiteSearchDataSources": {
          "items": {
            "type": "string",
            "enum": [
              "ADVANCED_SITE_SEARCH_DATA_SOURCE_UNSPECIFIED",
              "METATAGS",
              "PAGEMAP",
              "URI_PATTERN_MAPPING",
              "SCHEMA_ORG"
            ],
            "enumDescriptions": [
              "Value used when unset.",
              "Retrieve value from meta tag.",
              "Retrieve value from page map.",
              "Retrieve value from the attributes set by SiteSearchEngineService.SetUriPatternDocumentData API.",
              "Retrieve value from schema.org data."
            ]
          },
          "description": "If this field is set, only the corresponding source will be indexed for this field. Otherwise, the values from different sources are merged. Assuming a page with `` in meta tag, and `` in page map: if this enum is set to METATAGS, we will only index ``; if this enum is not set, we will merge them and index ``.",
          "type": "array"
        },
        "dynamicFacetableOption": {
          "enumDescriptions": [
            "Value used when unset.",
            "Dynamic facetable option enabled for a schema field.",
            "Dynamic facetable option disabled for a schema field."
          ],
          "type": "string",
          "enum": [
            "DYNAMIC_FACETABLE_OPTION_UNSPECIFIED",
            "DYNAMIC_FACETABLE_ENABLED",
            "DYNAMIC_FACETABLE_DISABLED"
          ],
          "description": "If dynamic_facetable_option is DYNAMIC_FACETABLE_ENABLED, field values are available for dynamic facet. Could only be DYNAMIC_FACETABLE_DISABLED if FieldConfig.indexable_option is INDEXABLE_DISABLED. Otherwise, an `INVALID_ARGUMENT` error will be returned. If dynamic_facetable_option is unset, the server behavior defaults to DYNAMIC_FACETABLE_DISABLED for fields that support setting dynamic facetable options. For those fields that do not support setting dynamic facetable options, such as `object` and `boolean`, the server will skip dynamic facetable option setting, and setting dynamic_facetable_option for those fields will throw `INVALID_ARGUMENT` error."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaFieldConfig"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse": {
      "properties": {
        "purgeCount": {
          "format": "int64",
          "description": "The total count of documents purged as a result of the operation.",
          "type": "string"
        },
        "purgeSample": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random."
        }
      },
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponse": {
      "properties": {
        "failureSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo"
          },
          "description": "Details for a sample of up to 10 `failed_uris`."
        },
        "failedUris": {
          "type": "array",
          "description": "URIs that were not crawled before the LRO terminated.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for SiteSearchEngineService.RecrawlUris method.",
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig",
      "properties": {
        "dialogflowAgentToLink": {
          "type": "string",
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created."
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "agentCreationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfigAgentCreationConfig",
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        }
      },
      "description": "Configurations for a Chat Engine."
    },
    "GoogleCloudDiscoveryengineV1betaMediaInfo": {
      "description": "Media-specific user event information.",
      "id": "GoogleCloudDiscoveryengineV1betaMediaInfo",
      "type": "object",
      "properties": {
        "mediaProgressPercentage": {
          "format": "float",
          "type": "number",
          "description": "Media progress should be computed using only the media_progress_duration relative to the media total length. This value must be between `[0, 1.0]` inclusive. If this is not a playback or the progress cannot be computed (e.g. ongoing livestream), this field should be unset."
        },
        "mediaProgressDuration": {
          "type": "string",
          "description": "The media progress time in seconds, if applicable. For example, if the end user has finished 90 seconds of a playback video, then MediaInfo.media_progress_duration.seconds should be set to 90.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTuneEngineMetadata": {
      "properties": {
        "engine": {
          "type": "string",
          "description": "Required. The resource name of the engine that this tune applies to. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`"
        }
      },
      "description": "Metadata associated with a tune operation.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaTuneEngineMetadata"
    },
    "GoogleCloudDiscoveryengineV1BAPConfig": {
      "id": "GoogleCloudDiscoveryengineV1BAPConfig",
      "type": "object",
      "properties": {
        "supportedConnectorModes": {
          "items": {
            "type": "string",
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ],
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ]
          },
          "type": "array",
          "description": "Required. The supported connector modes for the associated BAP connection."
        },
        "enabledActions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The actions enabled on the associated BAP connection."
        }
      },
      "description": "The configuration for the BAP connector."
    },
    "GoogleCloudDiscoveryengineV1Condition": {
      "id": "GoogleCloudDiscoveryengineV1Condition",
      "type": "object",
      "description": "Defines circumstances to be checked before allowing a behavior",
      "properties": {
        "queryRegex": {
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls.",
          "type": "string"
        },
        "queryTerms": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ConditionQueryTerm"
          },
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms."
        },
        "activeTimeRange": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ConditionTimeRange"
          },
          "type": "array",
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaRankingRecord": {
      "description": "Record message for RankService.Rank method.",
      "properties": {
        "id": {
          "description": "The unique ID to represent the record.",
          "type": "string"
        },
        "title": {
          "description": "The title of the record. Empty by default. At least one of title or content should be set otherwise an INVALID_ARGUMENT error is thrown.",
          "type": "string"
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "The score of this record based on the given query and selected model. The score will be rounded to 2 decimal places. If the score is close to 0, it will be rounded to 0.0001 to avoid returning unset."
        },
        "content": {
          "description": "The content of the record. Empty by default. At least one of title or content should be set otherwise an INVALID_ARGUMENT error is thrown.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaRankingRecord"
    },
    "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig": {
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and assistant responses.",
      "id": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig",
      "properties": {
        "responseTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template for sanitizing assistant responses. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the assistant response."
        },
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor template for sanitizing user prompts. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        },
        "failureMode": {
          "description": "Optional. Defines the failure mode for Model Armor sanitization.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified failure mode, default behavior is `FAIL_CLOSED`.",
            "In case of a Model Armor processing failure, the request is allowed to proceed without any changes.",
            "In case of a Model Armor processing failure, the request is rejected."
          ],
          "enum": [
            "FAILURE_MODE_UNSPECIFIED",
            "FAIL_OPEN",
            "FAIL_CLOSED"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestRelatedQuestionsSpec": {
      "description": "Related questions specification.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestRelatedQuestionsSpec",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Enable related questions feature if true."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Assistant": {
      "id": "GoogleCloudDiscoveryengineV1Assistant",
      "description": "Discovery Engine Assistant resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "enabledTools": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList"
          },
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }"
        },
        "defaultWebGroundingToggleOff": {
          "type": "boolean",
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled."
        },
        "generationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
          "description": "Optional. Configuration for the generation of the assistant response."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant."
        },
        "customerPolicy": {
          "description": "Optional. Customer policy for the assistant.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy"
        },
        "webGroundingType": {
          "description": "Optional. The type of web grounding to use.",
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ],
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AclConfig",
      "description": "Access Control Configuration.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfo",
      "type": "object",
      "properties": {
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "relevanceScore": {
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "type": "number",
          "format": "float"
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "blobAttachmentIndexes": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Stores indexes of blobattachments linked to this chunk."
        },
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfoDocumentMetadata",
          "description": "Document metadata."
        }
      },
      "description": "Chunk information."
    },
    "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest": {
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned."
        },
        "filterGroups": {
          "description": "Required. Names of the Group resources to use as a basis for the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request for DataStoreService.AddPatientFilter method.",
      "id": "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineConfig": {
      "description": "Configurations for a Chat Engine.",
      "type": "object",
      "properties": {
        "agentCreationConfig": {
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfigAgentCreationConfig"
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "dialogflowAgentToLink": {
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1DataStore": {
      "properties": {
        "advancedSiteSearchConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig",
          "description": "Optional. Configuration for advanced site search."
        },
        "workspaceConfig": {
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE.",
          "$ref": "GoogleCloudDiscoveryengineV1WorkspaceConfig"
        },
        "identityMappingStore": {
          "type": "string",
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`."
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field.",
          "type": "string"
        },
        "defaultSchemaId": {
          "readOnly": true,
          "description": "Output only. The id of the default Schema associated to this data store.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "cmekConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig",
          "readOnly": true,
          "description": "Output only. CMEK-related information for the DataStore."
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1Schema"
        },
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "contentConfig": {
          "type": "string",
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ],
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ]
        },
        "isInfobotFaqDataStore": {
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore.",
          "type": "boolean"
        },
        "configurableBillingApproach": {
          "type": "string",
          "description": "Optional. Configuration for configurable billing approach. See",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ],
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ]
        },
        "servingConfigDataStore": {
          "description": "Optional. Stores serving config at DataStore level.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore"
        },
        "solutionTypes": {
          "type": "array",
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ],
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ],
            "type": "string"
          }
        },
        "billingEstimation": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation",
          "readOnly": true,
          "description": "Output only. Data size estimation for billing."
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1HealthcareFhirConfig"
        },
        "industryVertical": {
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "description": "Immutable. The industry vertical that the data store registers."
        },
        "aclEnabled": {
          "type": "boolean",
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config."
        },
        "documentProcessingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig",
          "description": "Configuration for Document understanding and enrichment."
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig",
          "description": "Optional. Configuration for Natural Language Query Understanding."
        },
        "federatedSearchConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig",
          "description": "Optional. If set, this DataStore is a federated search DataStore."
        },
        "createTime": {
          "description": "Output only. Timestamp the DataStore was created at.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "configurableBillingApproachUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when configurable_billing_approach was last updated."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStore",
      "type": "object",
      "description": "DataStore captures global settings and configs at the DataStore level."
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Engine": {
      "id": "GoogleCloudDiscoveryengineV1Engine",
      "properties": {
        "commonConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineCommonConfig",
          "description": "Common config spec that specifies the metadata of the engine."
        },
        "chatEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
          "description": "Configurations for the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT."
        },
        "connectorTenantInfo": {
          "description": "Optional. Maps a connector ID (e.g., \"hybrid-github\", \"shopify\") to tenant-specific information required for that connector. The structure of the tenant information string is connector-dependent.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "procurementContactEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The emails of the procurement contacts."
        },
        "displayName": {
          "description": "Required. The display name of the engine. Should be human readable. UTF-8 encoded string with limit of 1024 characters.",
          "type": "string"
        },
        "modelConfigs": {
          "description": "Optional. Maps a model name to its specific configuration for this engine. This allows admin users to turn on/off individual models. This only stores models whose states are overridden by the admin. When the state is unspecified, or model_configs is empty for this model, the system will decide if this model should be available or not based on the default configuration. For example, a preview model should be disabled by default if the admin has not chosen to enable it.",
          "additionalProperties": {
            "enumDescriptions": [
              "The model state is unspecified.",
              "The model is enabled by admin.",
              "The model is disabled by admin."
            ],
            "enum": [
              "MODEL_STATE_UNSPECIFIED",
              "MODEL_ENABLED",
              "MODEL_DISABLED"
            ],
            "type": "string"
          },
          "type": "object"
        },
        "mediaRecommendationEngineConfig": {
          "description": "Configurations for the Media Engine. Only applicable on the data stores with solution_type SOLUTION_TYPE_RECOMMENDATION and IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig"
        },
        "disableAnalytics": {
          "type": "boolean",
          "description": "Optional. Whether to disable analytics for searches performed on this engine."
        },
        "observabilityConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig",
          "description": "Optional. Observability config for the engine."
        },
        "appType": {
          "description": "Optional. Immutable. This the application type which this engine resource represents. NOTE: this is a new concept independ of existing industry vertical or solution type.",
          "enumDescriptions": [
            "All non specified apps.",
            "App type for intranet search and Agentspace."
          ],
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP_TYPE_INTRANET"
          ]
        },
        "features": {
          "description": "Optional. Feature config for the engine to opt in or opt out of features. Supported keys: * `*`: all features, if it's present, all other feature state settings are ignored. * `agent-gallery` * `no-code-agent-builder` * `prompt-gallery` * `model-selector` * `notebook-lm` * `people-search` * `people-search-org-chart` * `bi-directional-audio` * `feedback` * `session-sharing` * `personalization-memory` * `personalization-suggested-highlights` * `disable-agent-sharing` * `disable-image-generation` * `disable-video-generation` * `disable-onedrive-upload` * `disable-talk-to-content` * `disable-google-drive-upload` * `disable-welcome-emails` * `disable-canvas` * `disable-canvas-workspace`",
          "additionalProperties": {
            "enum": [
              "FEATURE_STATE_UNSPECIFIED",
              "FEATURE_STATE_ON",
              "FEATURE_STATE_OFF"
            ],
            "enumDescriptions": [
              "The feature state is unspecified.",
              "The feature is turned on to be accessible.",
              "The feature is turned off to be inaccessible."
            ],
            "type": "string"
          },
          "type": "object"
        },
        "chatEngineMetadata": {
          "description": "Output only. Additional information of the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
          "readOnly": true
        },
        "industryVertical": {
          "description": "Optional. The industry vertical that the engine registers. The restriction of the Engine industry vertical is based on DataStore: Vertical on Engine has to match vertical of the DataStore linked to the engine.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp the Recommendation Engine was last updated.",
          "readOnly": true
        },
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the Engine.",
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "dataStoreIds": {
          "description": "Optional. The data stores associated with this engine. For SOLUTION_TYPE_SEARCH and SOLUTION_TYPE_RECOMMENDATION type of engines, they can only associate with at most one data store. If solution_type is SOLUTION_TYPE_CHAT, multiple DataStores in the same Collection can be associated here. Note that when used in CreateEngineRequest, one DataStore id must be provided as the system will use it for necessary initializations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "knowledgeGraphConfig": {
          "description": "Optional. Configurations for the Knowledge Graph. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig"
        },
        "configurableBillingApproach": {
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_BILLING_APPROACH_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach. General pricing model.",
            "The billing approach follows configurations specified by customer."
          ],
          "description": "Optional. Configuration for configurable billing approach."
        },
        "searchEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig",
          "description": "Configurations for the Search Engine. Only applicable if solution_type is SOLUTION_TYPE_SEARCH."
        },
        "agentGatewaySetting": {
          "description": "Optional. The agent gateway setting for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySetting"
        },
        "marketplaceAgentVisibility": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to `MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED`.",
            "Only agents that are currently available for use by the user are visible.",
            "Show marketplace agents that the user does not yet have access to but are integrated into the engine. This level also includes all agents visible with `SHOW_AVAILABLE_AGENTS_ONLY`.",
            "Show all agents visible with `SHOW_AGENTS_ALREADY_INTEGRATED`, plus agents that have already been purchased by the project/organization, even if they are not currently integrated into the engine.",
            "All agents in the marketplace are visible, regardless of access or purchase status. This level encompasses all agents shown in the previous levels."
          ],
          "description": "Optional. The visibility of marketplace agents in the agent gallery.",
          "enum": [
            "MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED",
            "SHOW_AVAILABLE_AGENTS_ONLY",
            "SHOW_AGENTS_ALREADY_INTEGRATED",
            "SHOW_AGENTS_ALREADY_PURCHASED",
            "SHOW_ALL_AGENTS"
          ]
        },
        "solutionType": {
          "description": "Required. The solutions of the engine.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp the Recommendation Engine was created at.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata that describes the training and serving parameters of an Engine."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantToolList": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantToolList",
      "properties": {
        "toolInfo": {
          "description": "The list of tools with corresponding tool information.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantToolInfo"
          }
        }
      },
      "type": "object",
      "description": "The enabled tools on a connector"
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse",
      "type": "object",
      "properties": {
        "modelName": {
          "type": "string",
          "description": "Fully qualified name of the CustomTuningModel."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the data."
        },
        "metrics": {
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "description": "The metrics of the trained model.",
          "type": "object"
        },
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudDiscoveryengineV1betaCheckGroundingResponseCheckGroundingFactChunk": {
      "description": "Fact chunk for grounding check.",
      "id": "GoogleCloudDiscoveryengineV1betaCheckGroundingResponseCheckGroundingFactChunk",
      "properties": {
        "chunkText": {
          "description": "Text content of the fact chunk. Can be at most 10K characters long.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfig": {
      "description": "Configuration message for the Knowledge Graph.",
      "properties": {
        "enableCloudKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified."
        },
        "privateKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specify entity types to support."
        },
        "cloudKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specify entity types to support."
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig"
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaDynamicTool": {
      "properties": {
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Whether the tool is enabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDynamicTool",
      "description": "Configuration for dynamic tools.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUserEvent": {
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "format": "google-datetime"
        },
        "entity": {
          "description": "Optional. Represents the entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set `entity` to get better per-entity search, completion, and prediction results.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchRequest may contain a filter expression in SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a RecommendRequest, this field may be populated directly from RecommendRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocumentInfo"
          },
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired."
        },
        "directUserRequest": {
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent.",
          "type": "boolean"
        },
        "tagIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups.",
          "type": "array"
        },
        "panel": {
          "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo",
          "description": "Panel metadata associated with this user event."
        },
        "mediaInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaMediaInfo",
          "description": "Media-specific info."
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an `INVALID_ARGUMENT` error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is `traffic_channel`, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways.",
          "type": "object"
        },
        "userPseudoId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field."
        },
        "attributionToken": {
          "type": "string",
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of RecommendationService.Recommend. This field enables accurate attribution of recommendation model performance. The value must be one of: * RecommendResponse.attribution_token for events that are the result of RecommendationService.Recommend. * SearchResponse.attribution_token for events that are the result of SearchService.Search. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass RecommendResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the RecommendResponse.attribution_token to this field."
        },
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo",
          "description": "Information about the end user."
        },
        "promotionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID."
        },
        "engine": {
          "type": "string",
          "description": "The Engine resource name, in the form of `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`. Optional. Only required for Engine produced user events. For example, user events from blended search."
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home > Men > Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. Custom conversion value: * `conversion`: Customer defined conversion event.",
          "type": "string"
        },
        "dataStore": {
          "type": "string",
          "description": "The DataStore resource full name, of the form `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. Optional. Only required for user events whose data store can't by determined by UserEvent.engine or UserEvent.documents. If data store is set in the parent of write/import/collect user event requests, this field can be omitted."
        },
        "transactionInfo": {
          "description": "The transaction metadata (if any) associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTransactionInfo"
        },
        "conversionType": {
          "description": "Optional. Conversion type. Required if UserEvent.event_type is `conversion`. This is a customer-defined conversion name in lowercase letters or numbers separated by \"-\", such as \"watch\", \"good-visit\" etc. Do not set the field if UserEvent.event_type is not `conversion`. This mixes the custom conversion event with predefined events like `search`, `view-item` etc.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix."
        },
        "panels": {
          "description": "Optional. List of panels associated with this event. Used for page-level impression data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
          }
        },
        "pageInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaPageInfo",
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`."
        },
        "completionInfo": {
          "description": "CompletionService.CompleteQuery details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCompletionInfo"
        },
        "searchInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchInfo",
          "description": "SearchService.Search details related to the event. This field should be set for `search` event."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserEvent",
      "type": "object",
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with your website."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec": {
      "properties": {
        "pinUnexpandedResults": {
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results.",
          "type": "boolean"
        },
        "condition": {
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ],
          "type": "string",
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ]
        }
      },
      "description": "Specification to determine under which conditions query expansion should occur.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec",
      "properties": {
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        },
        "maxSnippetCount": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0."
        },
        "referenceOnly": {
          "type": "boolean",
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "A specification for configuring snippets in a search response."
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "properties": {},
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams",
      "type": "object",
      "properties": {
        "expressionsToPrecompute": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field.",
          "type": "array"
        }
      },
      "description": "Configuration parameters for the Custom Ranking feature."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob": {
      "properties": {
        "data": {
          "readOnly": true,
          "type": "string",
          "format": "byte",
          "description": "Output only. Raw bytes."
        },
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The media type (MIME type) of the generated or retrieved data."
        }
      },
      "description": "The media type and data of the blob.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata",
      "type": "object",
      "properties": {
        "references": {
          "description": "References for the grounded text.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReference"
          }
        },
        "segments": {
          "description": "Grounding information for parts of the text.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataSegment"
          },
          "type": "array"
        }
      },
      "description": "Grounding details for text sources."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "description": "Specifies features for display, like match highlighting.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "type": "object",
      "properties": {
        "matchHighlightingCondition": {
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "type": "string",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "description": "The condition under which match highlighting should occur."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaLicenseConfig": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. The license config does not exist.",
            "The license config is effective and being used.",
            "The license config has expired.",
            "The license config has not started yet, and its start date is in the future.",
            "This is when a sub license config has returned all its seats back to BillingAccountLicenseConfig that it belongs to. Similar to EXPIRED.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ],
          "description": "Output only. The state of the license config.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "WITHDRAWN",
            "DEACTIVATING"
          ]
        },
        "licenseCount": {
          "type": "string",
          "description": "Required. Number of licenses purchased.",
          "format": "int64"
        },
        "autoRenew": {
          "type": "boolean",
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date."
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The start date."
        },
        "geminiBundle": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the license config is for Gemini bundle."
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. The planed end date."
        },
        "scheduledUpdate": {
          "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfigScheduledUpdate",
          "description": "Optional. Scheduled update configuration."
        },
        "name": {
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`",
          "type": "string"
        },
        "earlyTerminated": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3."
        },
        "subscriptionTier": {
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ],
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "type": "string",
          "description": "Required. Subscription tier information for the license config."
        },
        "freeTrial": {
          "description": "Optional. Whether the license config is for free trial.",
          "type": "boolean"
        },
        "subscriptionTerm": {
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ],
          "description": "Required. Subscription term.",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ]
        },
        "earlyTerminationDate": {
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date.",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaLicenseConfig",
      "description": "Information about users' licenses."
    },
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object",
      "properties": {
        "failedEntriesCount": {
          "format": "int64",
          "description": "Count of deny list entries that failed to be imported.",
          "type": "string"
        },
        "importedEntriesCount": {
          "format": "int64",
          "description": "Count of deny list entries successfully imported.",
          "type": "string"
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "description": "Custom threshold for `cvr` optimization_objective.",
      "properties": {
        "targetField": {
          "type": "string",
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`."
        },
        "targetFieldValueFloat": {
          "type": "number",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "format": "float"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec": {
      "description": "Boost specification to boost certain documents.",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec"
    },
    "GoogleApiMetric": {
      "id": "GoogleApiMetric",
      "properties": {
        "type": {
          "type": "string",
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, `custom.googleapis.com/invoice/paid/amount`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The set of label values that uniquely identify this metric. All labels listed in the `MetricDescriptor` must be assigned values.",
          "type": "object"
        }
      },
      "description": "A specific metric, identified by specifying values for all of the labels of a `MetricDescriptor`.",
      "type": "object"
    },
    "GoogleApiDistributionRange": {
      "description": "The range of the population values.",
      "id": "GoogleApiDistributionRange",
      "type": "object",
      "properties": {
        "min": {
          "description": "The minimum of the population values.",
          "format": "double",
          "type": "number"
        },
        "max": {
          "type": "number",
          "description": "The maximum of the population values.",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelResponse": {
      "type": "object",
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "metrics": {
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "description": "The metrics of the trained model.",
          "type": "object"
        },
        "modelName": {
          "type": "string",
          "description": "Fully qualified name of the CustomTuningModel."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the data.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "modelStatus": {
          "type": "string",
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction": {
      "properties": {
        "query": {
          "type": "string",
          "description": "The query to search."
        }
      },
      "type": "object",
      "description": "Search action.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig",
      "description": "Feature config for the Knowledge Graph.",
      "properties": {
        "disablePrivateKgAutoComplete": {
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUiChips": {
          "type": "boolean",
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1LicenseConfig": {
      "properties": {
        "endDate": {
          "description": "Optional. The planed end date.",
          "$ref": "GoogleTypeDate"
        },
        "subscriptionTier": {
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "description": "Required. Subscription tier information for the license config."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "WITHDRAWN",
            "DEACTIVATING"
          ],
          "description": "Output only. The state of the license config.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. The license config does not exist.",
            "The license config is effective and being used.",
            "The license config has expired.",
            "The license config has not started yet, and its start date is in the future.",
            "This is when a sub license config has returned all its seats back to BillingAccountLicenseConfig that it belongs to. Similar to EXPIRED.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ]
        },
        "scheduledUpdate": {
          "description": "Optional. Scheduled update configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1LicenseConfigScheduledUpdate"
        },
        "geminiBundle": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the license config is for Gemini bundle."
        },
        "subscriptionTerm": {
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ],
          "type": "string",
          "description": "Required. Subscription term."
        },
        "startDate": {
          "description": "Required. The start date.",
          "$ref": "GoogleTypeDate"
        },
        "licenseCount": {
          "description": "Required. Number of licenses purchased.",
          "type": "string",
          "format": "int64"
        },
        "earlyTerminationDate": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date.",
          "readOnly": true
        },
        "freeTrial": {
          "description": "Optional. Whether the license config is for free trial.",
          "type": "boolean"
        },
        "autoRenew": {
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date.",
          "type": "boolean"
        },
        "earlyTerminated": {
          "readOnly": true,
          "description": "Output only. Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3.",
          "type": "boolean"
        },
        "name": {
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1LicenseConfig",
      "description": "Information about users' licenses."
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSessionRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSessionRequest",
      "type": "object",
      "description": "Request for DeleteSession method.",
      "properties": {
        "name": {
          "description": "Required. The resource name of the Session to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/sessions/{session_id}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateRequest": {
      "type": "object",
      "properties": {
        "crawlType": {
          "description": "Optional. Whether it's the crawl rate of user-triggered or auto-refresh.",
          "enumDescriptions": [
            "The crawl type is unspecified.",
            "The crawl type is user-triggered.",
            "The crawl type is auto-refresh."
          ],
          "type": "string",
          "enum": [
            "CRAWL_TYPE_UNSPECIFIED",
            "USER_TRIGGERED",
            "AUTO_REFRESH"
          ]
        },
        "crawlRate": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The crawl QPS set by the user. It is not guaranteed that Vertex crawl bot will crawl at this QPS. If the crawl rate is too high, the real QPS may be lower than the value set by the user to avoid overloading the user's website."
        },
        "mode": {
          "description": "Optional. Whether the rate is explicitly set by users, or set by vertex AI.",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTOMATIC",
            "EXPLICIT"
          ],
          "enumDescriptions": [
            "The mode is unspecified. If the user does not specify the mode, default to AUTOMATIC.",
            "Vertex AI automatically splits crawl_rate into user-triggered and auto-refresh. Users don't need to specify SetDedicatedCrawlRateRequest.CrawlType if the mode is AUTOMATIC.",
            "Users explicitly set user-triggered or auto-refresh crawl rate."
          ],
          "type": "string"
        },
        "crawlRateScope": {
          "description": "Required. The scope of the crawl rate that the user wants to config. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name.",
          "type": "string"
        }
      },
      "description": "Request message for CrawlRateManagementService.SetDedicatedCrawlRate method. The user can set the crawl rate for a crawl_rate_scope they own. They can set up an overall crawl rate, or set up a user-triggered crawl rate and a auto-refresh crawl rate separately. If an overall crawl rate is set, Vertex AI will automatically splits crawl_rate into user-triggered and auto-refresh.",
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateRequest"
    },
    "GoogleCloudDiscoveryengineLoggingErrorLog": {
      "properties": {
        "requestPayload": {
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported—for example: * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.DocumentService.CreateDocumentRequest` * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEventRequest`",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "responsePayload": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported, and no PII is included: * `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend` * `google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEvent` * `google.cloud.discoveryengine.v1alpha.UserEventService.CollectUserEvent`"
        },
        "message": {
          "description": "A message describing the error.",
          "type": "string"
        },
        "connectorRunPayload": {
          "description": "The error payload that is populated on LRO connector sync APIs.",
          "$ref": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext"
        },
        "context": {
          "description": "A description of the context in which the error occurred.",
          "$ref": "GoogleCloudDiscoveryengineLoggingErrorContext"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The RPC status associated with the error log."
        },
        "importPayload": {
          "$ref": "GoogleCloudDiscoveryengineLoggingImportErrorContext",
          "description": "The error payload that is populated on LRO import APIs."
        },
        "serviceContext": {
          "description": "The service context in which this error has occurred.",
          "$ref": "GoogleCloudDiscoveryengineLoggingServiceContext"
        }
      },
      "description": "An error log which is reported to the Error Reporting system.",
      "id": "GoogleCloudDiscoveryengineLoggingErrorLog",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Sitemap": {
      "id": "GoogleCloudDiscoveryengineV1Sitemap",
      "type": "object",
      "description": "A sitemap for the SiteSearchEngine.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated."
        },
        "createTime": {
          "description": "Output only. The sitemap's creation time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetrics": {
      "type": "object",
      "properties": {
        "pageRecall": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
          "description": "Recall per page, at various top-k cutoff levels. Recall is the fraction of relevant pages retrieved out of all relevant pages. Example (top-5): * For a single SampleQuery, if 3 out of 5 relevant pages are retrieved in the top-5, recall@5 = 3/5 = 0.6"
        },
        "docNdcg": {
[...]
