{
  "description": "Discovery Engine API.",
  "version_module": true,
  "title": "Discovery Engine API",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "discoveryengine",
  "servicePath": "",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    }
  ],
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReasonQuotaFailure": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReasonQuotaFailure",
      "properties": {
        "totalRequiredQuota": {
          "format": "int64",
          "type": "string",
          "description": "This number is an estimation on how much total quota this project needs to successfully complete indexing."
        }
      },
      "description": "Failed due to insufficient quota."
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsMetadata": {
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsMetadata",
      "type": "object",
      "properties": {
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigImage": {
      "type": "object",
      "description": "Options to store an image.",
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigImage",
      "properties": {
        "url": {
          "description": "Image URL.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesRequest"
    },
    "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata",
      "type": "object",
      "description": "Document metadata.",
      "properties": {
        "structData": {
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec": {
      "description": "A specification for configuring snippets in a search response.",
      "type": "object",
      "properties": {
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "type": "boolean",
          "deprecated": true
        },
        "maxSnippetCount": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0."
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesResponse": {
      "properties": {
        "purgeCount": {
          "description": "Number of suggestion deny list entries purged.",
          "format": "int64",
          "type": "string"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponse",
      "type": "object",
      "properties": {
        "failureSamples": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo"
          },
          "description": "Details for a sample of up to 10 `failed_uris`.",
          "type": "array"
        },
        "failedUris": {
          "description": "URIs that were not crawled before the LRO terminated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for SiteSearchEngineService.RecrawlUris method."
    },
    "GoogleCloudDiscoveryengineV1betaConditionTimeRange": {
      "id": "GoogleCloudDiscoveryengineV1betaConditionTimeRange",
      "type": "object",
      "description": "Used for time-dependent conditions.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "End of time range. Range is inclusive. Must be in the future.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start of time range. Range is inclusive."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestion": {
      "description": "Suggestions from recent search history.",
      "properties": {
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "score": {
          "format": "double",
          "type": "number",
          "description": "The score of each suggestion. The score is in the range of [0, 1]."
        },
        "recentSearchTime": {
          "description": "The time when this recent rearch happened.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestion"
    },
    "GoogleCloudDiscoveryengineV1IdentityMappingEntryOperationMetadata": {
      "properties": {
        "totalCount": {
          "description": "The total number of IdentityMappingEntries that were processed.",
          "type": "string",
          "format": "int64"
        },
        "successCount": {
          "type": "string",
          "description": "The number of IdentityMappingEntries that were successfully processed.",
          "format": "int64"
        },
        "failureCount": {
          "type": "string",
          "description": "The number of IdentityMappingEntries that failed to be processed.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1IdentityMappingEntryOperationMetadata",
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings"
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestion": {
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponsePersonSuggestion",
      "description": "Suggestions as people.",
      "type": "object",
      "properties": {
        "displayPhotoUri": {
          "type": "string",
          "description": "The photo uri of the person suggestion."
        },
        "score": {
          "type": "number",
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "format": "double"
        },
        "document": {
          "$ref": "GoogleCloudDiscoveryengineV1Document",
          "description": "The document data snippet in the suggestion. Only a subset of fields is populated."
        },
        "dataStore": {
          "type": "string",
          "description": "The name of the dataStore that this suggestion belongs to."
        },
        "destinationUri": {
          "description": "The destination uri of the person suggestion.",
          "type": "string"
        },
        "personType": {
          "description": "The type of the person.",
          "type": "string",
          "enum": [
            "PERSON_TYPE_UNSPECIFIED",
            "CLOUD_IDENTITY",
            "THIRD_PARTY_IDENTITY"
          ],
          "enumDescriptions": [
            "Default value.",
            "The suggestion is from a GOOGLE_IDENTITY source.",
            "The suggestion is from a THIRD_PARTY_IDENTITY source."
          ]
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1TextInput": {
      "description": "Defines text input.",
      "type": "object",
      "properties": {
        "input": {
          "description": "Text input.",
          "type": "string"
        },
        "context": {
          "$ref": "GoogleCloudDiscoveryengineV1ConversationContext",
          "description": "Conversation context of the input."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TextInput"
    },
    "GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig": {
      "type": "object",
      "properties": {
        "initialFilterGroups": {
          "description": "Optional. Names of the Group resources to use as a basis for the initial patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableStaticIndexingForBatchIngestion": {
          "type": "boolean",
          "description": "Whether to enable static indexing for `HEALTHCARE_FHIR` batch ingestion. If set to `true`, the batch ingestion will be processed in a static indexing mode which is slower but more capable of handling larger volume."
        },
        "enableConfigurableSchema": {
          "type": "boolean",
          "description": "Whether to enable configurable schema for `HEALTHCARE_FHIR` vertical. If set to `true`, the predefined healthcare fhir schema can be extended for more customized searching and filtering."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig",
      "description": "Config to data store for `HEALTHCARE_FHIR` vertical."
    },
    "GoogleCloudDiscoveryengineV1AnswerReferenceStructuredDocumentInfo": {
      "properties": {
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the document."
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the document."
        },
        "structData": {
          "description": "Structured search data.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceStructuredDocumentInfo",
      "description": "Structured search information."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpec": {
      "description": "Relevance filtering specification.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpec",
      "properties": {
        "keywordSearchThreshold": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
          "description": "Optional. Relevance filtering threshold specification for keyword search."
        },
        "semanticSearchThreshold": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
          "description": "Optional. Relevance filtering threshold specification for semantic search."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ChunkStructuredContent": {
      "id": "GoogleCloudDiscoveryengineV1ChunkStructuredContent",
      "properties": {
        "content": {
          "description": "Output only. The content of the structured content.",
          "type": "string",
          "readOnly": true
        },
        "structureType": {
          "type": "string",
          "description": "Output only. The structure type of the structured content.",
          "readOnly": true,
          "enum": [
            "STRUCTURE_TYPE_UNSPECIFIED",
            "SHAREHOLDER_STRUCTURE",
            "SIGNATURE_STRUCTURE",
            "CHECKBOX_STRUCTURE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Shareholder structure.",
            "Signature structure.",
            "Checkbox structure."
          ]
        }
      },
      "type": "object",
      "description": "The structured content information."
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "properties": {
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        },
        "responseTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response."
        }
      },
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSitemap": {
      "id": "GoogleCloudDiscoveryengineV1alphaSitemap",
      "description": "A sitemap for the SiteSearchEngine.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The sitemap's creation time."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated."
        },
        "uri": {
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaProject": {
      "type": "object",
      "properties": {
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig"
        },
        "configurableBillingStatus": {
          "readOnly": true,
          "description": "Output only. The current status of the project's configurable billing.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus"
        },
        "name": {
          "type": "string",
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is created.",
          "readOnly": true
        },
        "provisionCompletionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use."
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProject",
      "description": "Metadata and configurations for a Google Cloud project in the service."
    },
    "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSiteMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSiteMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantContentExecutableCode": {
      "description": "Code generated by the model that is meant to be executed by the model.",
      "id": "GoogleCloudDiscoveryengineV1AssistantContentExecutableCode",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. The code content. Currently only supports Python."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest": {
      "type": "object",
      "description": "Request for DataStoreService.RemovePatientFilter method.",
      "properties": {
        "filterGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Names of the Group resources to use as a basis for the list of patients to remove from the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the list of IDs to remove will be constructed from the direct members of the group which are Patient resources."
        },
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest"
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpec": {
      "description": "Specification to boost suggestions based on the condition of the suggestion.",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpecConditionBoostSpec"
          },
          "type": "array",
          "description": "Condition boost specifications. If a suggestion matches multiple conditions in the specifications, boost values from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20. Note: Currently only support language condition boost."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpec"
    },
    "GoogleCloudDiscoveryengineV1AnswerGroundingSupport": {
      "description": "Grounding support for a claim in `answer_text`.",
      "properties": {
        "startIndex": {
          "format": "int64",
          "description": "Required. Index indicates the start of the claim, measured in bytes (UTF-8 unicode).",
          "type": "string"
        },
        "endIndex": {
          "format": "int64",
          "description": "Required. End of the claim, exclusive.",
          "type": "string"
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim didn't require attribution/grounding check, this field is set to false. In that case, no grounding check was done for the claim and therefore `grounding_score`, `sources` is not returned.",
          "type": "boolean"
        },
        "groundingScore": {
          "description": "A score in the range of [0, 1] describing how grounded is a specific claim by the references. Higher value means that the claim is better supported by the reference chunks.",
          "type": "number",
          "format": "double"
        },
        "sources": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerCitationSource"
          },
          "description": "Optional. Citation sources for the claim.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerGroundingSupport",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ActionConfigScopeList": {
      "description": "Stores a list of scopes.",
      "properties": {
        "scopes": {
          "description": "Optional. The list of scopes.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ActionConfigScopeList"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "extractiveSegments": {
          "description": "List of extractive segments.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment"
          }
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "extractiveAnswers": {
          "description": "Deprecated: This field is deprecated and will have no effect on the Answer generation. Please use document_contexts and extractive_segments fields. List of extractive answers.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer"
          },
          "type": "array"
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "documentContexts": {
          "description": "List of document contexts. The content will be used for Answer Generation. This is supposed to be the main content of the document that can be long and comprehensive.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo",
      "description": "Unstructured document information."
    },
    "GoogleCloudDiscoveryengineV1alphaUserLicense": {
      "description": "User License information assigned by the admin.",
      "id": "GoogleCloudDiscoveryengineV1alphaUserLicense",
      "properties": {
        "userProfile": {
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. User created timestamp."
        },
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        },
        "licenseAssignmentState": {
          "type": "string",
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ]
        },
        "lastLoginTime": {
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "userPrincipal": {
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. User update timestamp.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSetting": {
      "properties": {
        "shortcuts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSettingShortcut"
          },
          "description": "Optional. The shortcuts to display on the homepage.",
          "type": "array"
        }
      },
      "description": "Describes the homepage setting of the widget. It includes all homepage related settings and configurations, such as shortcuts.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigHomepageSetting"
    },
    "GoogleCloudDiscoveryengineV1MediaInfo": {
      "id": "GoogleCloudDiscoveryengineV1MediaInfo",
      "properties": {
        "mediaProgressPercentage": {
          "type": "number",
          "description": "Media progress should be computed using only the media_progress_duration relative to the media total length. This value must be between `[0, 1.0]` inclusive. If this is not a playback or the progress cannot be computed (e.g. ongoing livestream), this field should be unset.",
          "format": "float"
        },
        "mediaProgressDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The media progress time in seconds, if applicable. For example, if the end user has finished 90 seconds of a playback video, then MediaInfo.media_progress_duration.seconds should be set to 90."
        }
      },
      "type": "object",
      "description": "Media-specific user event information."
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudDiscoveryengineV1SpannerSource": {
      "id": "GoogleCloudDiscoveryengineV1SpannerSource",
      "type": "object",
      "description": "The Spanner source for importing data",
      "properties": {
        "databaseId": {
          "description": "Required. The database ID of the source Spanner table.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID that contains the Spanner source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The instance ID of the source Spanner table.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The table name of the Spanner database that needs to be imported.",
          "type": "string"
        },
        "enableDataBoost": {
          "type": "boolean",
          "description": "Whether to apply data boost on Spanner export. Enabling this option will incur additional cost. More info can be found [here](https://cloud.google.com/spanner/docs/databoost/databoost-overview#billing_and_quotas)."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineCommonConfig": {
      "description": "Common configurations for an Engine.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineCommonConfig",
      "type": "object",
      "properties": {
        "companyName": {
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult": {
      "description": "Customer policy enforcement results. Contains the results of the various policy checks, like the banned phrases or the Model Armor checks.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult",
      "properties": {
        "policyResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult"
          },
          "description": "Customer policy enforcement results. Populated only if the assist call was skipped due to a policy violation. It contains results from those filters that blocked the processing of the query."
        },
        "verdict": {
          "enumDescriptions": [
            "Unknown value.",
            "There was no policy violation.",
            "Processing was blocked by the customer policy."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ALLOW",
            "BLOCK"
          ],
          "description": "Final verdict of the customer policy enforcement. If only one policy blocked the processing, the verdict is BLOCK."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfig": {
      "type": "object",
      "properties": {
        "realtimeSyncSecret": {
          "description": "Optional. The ID of the Secret Manager secret used for webhook secret.",
          "type": "string"
        },
        "webhookUri": {
          "description": "Optional. Webhook url for the connector to specify additional params for realtime sync.",
          "type": "string"
        },
        "streamingError": {
          "description": "Optional. Streaming error details.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError"
        }
      },
      "description": "The configuration for realtime sync to store additional params for realtime sync.",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfig"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse": {
      "type": "object",
      "properties": {
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
          "description": "The desired location of errors incurred during the Import."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse",
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful."
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelResponse",
      "properties": {
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the data."
        },
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "description": "The metrics of the trained model.",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        }
      },
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudDiscoveryengineV1DocumentAclInfoAccessRestriction": {
      "description": "AclRestriction to model complex inheritance restrictions. Example: Modeling a \"Both Permit\" inheritance, where to access a child document, user needs to have access to parent document. Document Hierarchy - Space_S --> Page_P. Readers: Space_S: group_1, user_1 Page_P: group_2, group_3, user_2 Space_S ACL Restriction - { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ] } ] } } Page_P ACL Restriction. { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_2\" }, { \"group_id\": \"group_3\" }, { \"user_id\": \"user_2\" } ], }, { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ], } ] } }",
      "id": "GoogleCloudDiscoveryengineV1DocumentAclInfoAccessRestriction",
      "properties": {
        "principals": {
          "description": "List of principals.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Principal"
          },
          "type": "array"
        },
        "idpWide": {
          "description": "All users within the Identity Provider.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVideoGenerationSpec": {
      "description": "Specification of the video generation tool.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVideoGenerationSpec"
    },
    "GoogleCloudDiscoveryengineV1betaCondition": {
      "description": "Defines circumstances to be checked before allowing a behavior",
      "type": "object",
      "properties": {
        "activeTimeRange": {
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConditionTimeRange"
          }
        },
        "queryTerms": {
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConditionQueryTerm"
          },
          "type": "array"
        },
        "queryRegex": {
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCondition"
    },
    "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. Specifies the resource name of the Sensitive Data Protection content policy."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse": {
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "userLicenses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          },
          "type": "array",
          "description": "UserLicenses successfully updated."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse",
      "type": "object",
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method."
    },
    "GoogleCloudDiscoveryengineV1ListCmekConfigsResponse": {
      "description": "Response message for CmekConfigService.ListCmekConfigs method.",
      "properties": {
        "cmekConfigs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
          },
          "description": "All the customer's CmekConfigs.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListCmekConfigsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesResponse": {
      "properties": {
        "importedEntriesCount": {
          "format": "int64",
          "description": "Count of deny list entries successfully imported.",
          "type": "string"
        },
        "failedEntriesCount": {
          "type": "string",
          "description": "Count of deny list entries that failed to be imported.",
          "format": "int64"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.ImportSuggestionDenyListEntries method."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "description": "Custom threshold for `cvr` optimization_objective.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "type": "object",
      "properties": {
        "targetFieldValueFloat": {
          "type": "number",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "format": "float"
        },
        "targetField": {
          "type": "string",
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerStepActionObservation": {
      "type": "object",
      "properties": {
        "searchResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResult"
          },
          "description": "Search results observed by the search action, it can be snippets info or chunk info, depending on the citation type set by the user."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerStepActionObservation",
      "description": "Observation."
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsResponse",
      "properties": {
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "joinedEventsCount": {
          "type": "string",
          "description": "Count of user events imported with complete existing Documents.",
          "format": "int64"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent",
      "description": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding.",
      "properties": {
        "content": {
          "description": "The content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContent"
        },
        "citationMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCitationMetadata",
          "description": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check"
        },
        "textGroundingMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata",
          "description": "Metadata for grounding based on text sources."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUserLicense": {
      "description": "User License information assigned by the admin.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaUserLicense",
      "properties": {
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "userProfile": {
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. User created timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastLoginTime": {
          "type": "string",
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. User update timestamp.",
          "type": "string"
        },
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        },
        "licenseAssignmentState": {
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ],
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAclConfig": {
      "description": "Access Control Configuration.",
      "id": "GoogleCloudDiscoveryengineV1alphaAclConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "idpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig",
          "description": "Identity provider config."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest": {
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method.",
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest",
      "properties": {
        "gcsSource": {
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line.",
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource"
        },
        "inlineSource": {
          "description": "The Inline source for the input content for suggestion deny list entries.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolList": {
      "id": "GoogleCloudDiscoveryengineV1AssistantToolList",
      "properties": {
        "toolInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolInfo"
          },
          "description": "The list of tools with corresponding tool information."
        }
      },
      "description": "The enabled tools on a connector",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentIndexStatus": {
      "type": "object",
      "properties": {
        "pendingMessage": {
          "description": "Immutable. The message indicates the document index is in progress. If this field is populated, the document index is pending.",
          "type": "string"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while indexing the document. If this field is populated, the document is not indexed due to errors.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "indexTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the document was indexed. If this field is populated, it means the document has been indexed. While documents typically become searchable within seconds of indexing, it can sometimes take up to a few hours."
        }
      },
      "description": "Index status of the document.",
      "id": "GoogleCloudDiscoveryengineV1DocumentIndexStatus"
    },
    "GoogleCloudDiscoveryengineV1SiteSearchEngine": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The fully qualified resource name of the site search engine. Format: `projects/*/locations/*/dataStores/*/siteSearchEngine`"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SiteSearchEngine",
      "type": "object",
      "description": "SiteSearchEngine captures DataStore level site search persisting configurations. It is a singleton value per data store."
    },
    "GoogleCloudDiscoveryengineV1StreamAssistResponse": {
      "description": "Response for the AssistantService.StreamAssist method.",
      "properties": {
        "sessionInfo": {
          "description": "Session information. Only included in the final StreamAssistResponse of the response stream.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistResponseSessionInfo"
        },
        "answer": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswer",
          "description": "Assist answer resource object containing parts of the assistant's final answer for the user's query. Not present if the current response doesn't add anything to previously sent AssistAnswer.replies. Observe AssistAnswer.state to see if more parts are to be expected. While the state is `IN_PROGRESS`, the AssistAnswer.replies field in each response will contain replies (reply fragments) to be appended to the ones received in previous responses. AssistAnswer.name won't be filled. If the state is `SUCCEEDED`, `FAILED` or `SKIPPED`, the response is the last response and AssistAnswer.name will have a value."
        },
        "assistToken": {
          "type": "string",
          "description": "A global unique ID that identifies the current pair of request and stream of responses. Used for feedback and support."
        },
        "invocationTools": {
          "description": "The tool names of the tools that were invoked.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1StreamAssistResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigCollectionComponent": {
      "properties": {
        "dataStoreComponents": {
          "description": "For the data store collection, list of the children data stores.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreComponent"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The display name of the collection.",
          "type": "string"
        },
        "connectorIconLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The icon link of the connector source."
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. the identifier of the collection, used for widget service. For now it refers to collection_id, in the future we will migrate the field to encrypted collection name UUID."
        },
        "dataSource": {
          "type": "string",
          "description": "The name of the data source, retrieved from `Collection.data_connector.data_source`."
        },
        "name": {
          "description": "The name of the collection. It should be collection resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field.",
          "type": "string"
        },
        "dataSourceDisplayName": {
          "description": "Output only. The display name of the data source.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Read-only collection component that contains data store collections fields that may be used for filtering",
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigCollectionComponent"
    },
    "GoogleCloudDiscoveryengineV1TargetSite": {
      "properties": {
        "exactMatch": {
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine.",
          "type": "boolean"
        },
        "indexingStatus": {
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ],
          "description": "Output only. Indexing status.",
          "readOnly": true,
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ],
          "type": "string"
        },
        "rootDomainUri": {
          "readOnly": true,
          "description": "Output only. Root domain of the provided_uri_pattern.",
          "type": "string"
        },
        "siteVerificationInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1SiteVerificationInfo",
          "description": "Output only. Site ownership and validity verification status.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated.",
          "readOnly": true,
          "type": "string"
        },
        "generatedUriPattern": {
          "description": "Output only. This is system-generated based on the provided_uri_pattern.",
          "readOnly": true,
          "type": "string"
        },
        "providedUriPattern": {
          "type": "string",
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated."
        },
        "type": {
          "description": "The type of the target site, e.g., whether the site is to be included or excluded.",
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The target site's last updated time.",
          "readOnly": true
        },
        "failureReason": {
          "readOnly": true,
          "description": "Output only. Failure reason.",
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1TargetSite",
      "description": "A target site for the SiteSearchEngine."
    },
    "GoogleCloudDiscoveryengineV1ListDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ListDocumentsResponse",
      "description": "Response message for DocumentService.ListDocuments method.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "documents": {
          "description": "The Documents.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Document"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSafetySpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSafetySpec",
      "description": "Safety specification. There are two use cases: 1. when only safety_spec.enable is set, the BLOCK_LOW_AND_ABOVE threshold will be applied for all categories. 2. when safety_spec.enable is set and some safety_settings are set, only specified safety_settings are applied.",
      "properties": {
        "safetySettings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSafetySpecSafetySetting"
          },
          "type": "array",
          "description": "Optional. Safety settings. This settings are effective only when the safety_spec.enable is true."
        },
        "enable": {
          "type": "boolean",
          "description": "Enable the safety filtering on the answer response. It is false by default."
        }
      }
    },
    "A2aV1CancelTaskRequest": {
      "properties": {},
      "type": "object",
      "id": "A2aV1CancelTaskRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaReplacePatientFilterRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaReplacePatientFilterRequest",
      "description": "Request for DataStoreService.ReplacePatientFilter method.",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
          "type": "string"
        },
        "filterGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Names of the Group resources to use as a basis for the list of patients for the new patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the new filter will be constructed from the direct members of the group which are Patient resources."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata": {
      "description": "Metadata related to the progress of the UserStoreService.DeleteUserStore operation. This will be returned by the google.longrunning.Operation.metadata field. Delete UserStore will delete all the end users under the user store, return the number of end users successfully deleted or failed to delete in the metadata.",
      "properties": {
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of end users under the user store that were successfully deleted."
        },
        "failureCount": {
          "type": "string",
          "description": "The number of end users under the user store that failed to be deleted.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteDataStoreMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDeleteDataStoreMetadata",
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTargetSite": {
      "properties": {
        "providedUriPattern": {
          "type": "string",
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The target site's last updated time."
        },
        "indexingStatus": {
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ],
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. Indexing status.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "The type of the target site, e.g., whether the site is to be included or excluded.",
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ]
        },
        "generatedUriPattern": {
          "type": "string",
          "description": "Output only. This is system-generated based on the provided_uri_pattern.",
          "readOnly": true
        },
        "exactMatch": {
          "type": "boolean",
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine."
        },
        "rootDomainUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Root domain of the provided_uri_pattern."
        },
        "siteVerificationInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo",
          "description": "Output only. Site ownership and validity verification status.",
          "readOnly": true
        },
        "failureReason": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason",
          "description": "Output only. Failure reason.",
          "readOnly": true
        }
      },
      "description": "A target site for the SiteSearchEngine.",
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSite",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo": {
      "description": "Chunk information.",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo",
      "type": "object",
      "properties": {
        "content": {
          "description": "Chunk textual content. It is limited to 8000 characters.",
          "type": "string"
        },
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata",
          "description": "Metadata of the document from the current chunk."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationSource": {
      "properties": {
        "referenceIndex": {
          "format": "int64",
          "description": "Document reference index from SummaryWithMetadata.references. It is 0-indexed and the value will be zero if the reference_index is not set explicitly.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Citation source.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationSource"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSummarySummaryWithMetadata": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSummarySummaryWithMetadata",
      "description": "Summary with metadata information.",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Summary text with no citation information.",
          "type": "string"
        },
        "citationMetadata": {
          "description": "Citation metadata for given summary.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationMetadata"
        },
        "references": {
          "type": "array",
          "description": "Document References.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSummaryReference"
          }
        }
      }
    },
    "A2aV1ListTaskPushNotificationConfigResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "configs": {
          "description": "The list of push notification configurations.",
          "type": "array",
          "items": {
            "$ref": "A2aV1TaskPushNotificationConfig"
          }
        }
      },
      "type": "object",
      "id": "A2aV1ListTaskPushNotificationConfigResponse"
    },
    "GoogleCloudDiscoveryengineV1ChunkChunkMetadata": {
      "description": "Metadata of the current chunk. This field is only populated on SearchService.Search API.",
      "type": "object",
      "properties": {
        "previousChunks": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Chunk"
          },
          "description": "The previous chunks of the current chunk. The number is controlled by SearchRequest.ContentSearchSpec.ChunkSpec.num_previous_chunks. This field is only populated on SearchService.Search API.",
          "type": "array"
        },
        "nextChunks": {
          "description": "The next chunks of the current chunk. The number is controlled by SearchRequest.ContentSearchSpec.ChunkSpec.num_next_chunks. This field is only populated on SearchService.Search API.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Chunk"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ChunkChunkMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "array"
        }
      },
      "description": "Creates a set of terms that will act as synonyms of one another. Example: \"happy\" will also be considered as \"glad\", \"glad\" will also be considered as \"happy\"."
    },
    "GoogleApiDistributionBucketOptionsExplicit": {
      "id": "GoogleApiDistributionBucketOptionsExplicit",
      "type": "object",
      "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "properties": {
        "bounds": {
          "type": "array",
          "description": "The values must be monotonically increasing.",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec",
      "properties": {
        "imageSource": {
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ],
          "type": "string",
          "description": "Optional. Source of image returned in the answer."
        }
      },
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SetUpDataConnectorMetadata": {
      "type": "object",
      "description": "Metadata for DataConnectorService.SetUpDataConnector method.",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1SetUpDataConnectorMetadata"
    },
    "A2aV1APIKeySecurityScheme": {
      "type": "object",
      "id": "A2aV1APIKeySecurityScheme",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of this security scheme."
        },
        "name": {
          "description": "Name of the header, query or cookie parameter to be used.",
          "type": "string"
        },
        "location": {
          "description": "Location of the API key, valid values are \"query\", \"header\", or \"cookie\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment": {
      "properties": {
        "attributionType": {
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ],
          "description": "Output only. The attribution type of the blob.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ],
          "readOnly": true
        },
        "data": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob",
          "description": "Output only. The mime type and data of the blob."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment",
      "type": "object",
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc."
    },
    "GoogleCloudDiscoveryengineV1CreateDataStoreMetadata": {
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1CreateDataStoreMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
      "description": "Describes the specification of the evaluation.",
      "type": "object",
      "properties": {
        "searchRequest": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest",
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaCmekConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaCmekConfig",
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys.",
      "type": "object",
      "properties": {
        "lastRotationTimestampMicros": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of the last key rotation.",
          "format": "int64"
        },
        "kmsKeyVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`."
        },
        "state": {
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ],
          "readOnly": true,
          "description": "Output only. The states of the CmekConfig.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        },
        "notebooklmState": {
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ],
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ],
          "type": "string",
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used.",
          "readOnly": true
        },
        "singleRegionKeys": {
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSingleRegionKey"
          },
          "type": "array"
        },
        "isDefault": {
          "description": "Output only. The default CmekConfig for the Customer.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequest",
      "properties": {
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1UserInfo",
          "description": "Optional. Information about the end user. This should be the same identifier information as UserEvent.user_info and SearchRequest.user_info."
        },
        "experimentIds": {
          "description": "Optional. Experiment ids for this request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "query": {
          "type": "string",
          "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters. The query can not be empty for most of the suggestion types. If it is empty, an `INVALID_ARGUMENT` error is returned. The exception is when the suggestion_types contains only the type `RECENT_SEARCH`, the query can be an empty string. The is called \"zero prefix\" feature, which returns user's recently searched queries given the empty query."
        },
        "queryModel": {
          "type": "string",
          "description": "Specifies the autocomplete query model, which only applies to the QUERY SuggestionType. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores."
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpec",
          "description": "Optional. Specification to boost suggestions matching the condition."
        },
        "includeTailSuggestions": {
          "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.",
          "type": "boolean"
        },
        "userPseudoId": {
          "type": "string",
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128"
        },
        "suggestionTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Returns query suggestions.",
              "Returns people suggestions.",
              "Returns content suggestions.",
              "Returns recent search suggestions.",
              "Returns Google Workspace suggestions."
            ],
            "type": "string",
            "enum": [
              "SUGGESTION_TYPE_UNSPECIFIED",
              "QUERY",
              "PEOPLE",
              "CONTENT",
              "RECENT_SEARCH",
              "GOOGLE_WORKSPACE"
            ]
          },
          "description": "Optional. Suggestion types to return. If empty or unspecified, query suggestions are returned. Only one suggestion type is supported at the moment."
        },
        "suggestionTypeSpecs": {
          "description": "Optional. Specification of each suggestion type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestSuggestionTypeSpec"
          }
        }
      },
      "description": "Request message for CompletionService.AdvancedCompleteQuery method. ."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultList": {
      "properties": {
        "searchResults": {
          "description": "Search results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResult"
          }
        }
      },
      "description": "Search result list.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultList"
    },
    "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec": {
      "properties": {
        "enableDynamicPosition": {
          "type": "boolean",
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false."
        },
        "excludedFilterKeys": {
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "facetKey": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey",
          "description": "Required. The facet key specification."
        },
        "limit": {
          "format": "int32",
          "description": "Maximum facet values that are returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. For aggregation in healthcare search, when the [FacetKey.key] is \"healthcare_aggregation_key\", the limit will be overridden to 10,000 internally, regardless of the value set here. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A facet specification to perform faceted search.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec"
    },
    "A2aV1SendMessageRequest": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Required. The message to send to the agent.",
          "$ref": "A2aV1Message"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional metadata for the request.",
          "type": "object"
        },
        "configuration": {
          "$ref": "A2aV1SendMessageConfiguration",
          "description": "Configuration for the send request."
        }
      },
      "description": "/////////// Request Messages ///////////",
      "id": "A2aV1SendMessageRequest"
    },
    "GoogleMonitoringV3TimeSeries": {
      "id": "GoogleMonitoringV3TimeSeries",
      "type": "object",
      "description": "A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.",
      "properties": {
        "unit": {
[...]
