{
  "version": "v1beta",
  "title": "Discovery Engine API",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaPurgeErrorConfig": {
      "description": "Configuration of destination for Purge related errors.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeErrorConfig",
      "properties": {
        "gcsPrefix": {
          "description": "Cloud Storage prefix for purge errors. This must be an empty, existing Cloud Storage directory. Purge errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesResponse": {
      "type": "object",
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesResponse",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "userLicenses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserLicense"
          },
          "description": "UserLicenses successfully updated.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig",
      "properties": {
        "useNativeText": {
          "type": "boolean",
          "description": "If true, will use native text instead of OCR text on pages containing native text."
        },
        "enhancedDocumentElements": {
          "type": "array",
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`.",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The OCR parsing configurations for documents.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorSourceEntity": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorSourceEntity",
      "properties": {
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig"
        },
        "entityName": {
          "type": "string",
          "description": "The name of the entity. Supported values by data source: * Salesforce: `Lead`, `Opportunity`, `Contact`, `Account`, `Case`, `Contract`, `Campaign` * Jira: `Issue` * Confluence: `Content`, `Space`"
        },
        "startingSchema": {
          "description": "Optional. The start schema to use for the DataStore created from this SourceEntity. If unset, a default vertical specialized schema will be used. This field is only used by SetUpDataConnector API, and will be ignored if used in other APIs. This field will be omitted from all API responses including GetDataConnector API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The parameters for the entity to facilitate data ingestion in structured json format."
        },
        "jsonParams": {
          "description": "The parameters for the entity to facilitate data ingestion in json string format.",
          "type": "string"
        },
        "keyPropertyMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Attributes for indexing. Key: Field name. Value: The key property to map a field to, such as `title`, and `description`. Supported key properties: * `title`: The title for data record. This would be displayed on search results. * `description`: The description for data record. This would be displayed on search results."
        },
        "dataStore": {
          "type": "string",
          "description": "Output only. The full resource name of the associated data store for the source entity. Format: `projects/*/locations/*/collections/*/dataStores/*`. When the connector is initialized by the DataConnectorService.SetUpDataConnector method, a DataStore is automatically created for each source entity.",
          "readOnly": true
        }
      },
      "description": "Represents an entity in the data source. For example, the `Account` object in Salesforce.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecExtractiveContentSpec": {
      "description": "A specification for configuring the extractive content in a search response.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecExtractiveContentSpec",
      "properties": {
        "maxExtractiveSegmentCount": {
          "type": "integer",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`.",
          "format": "int32"
        },
        "numNextSegments": {
          "format": "int32",
          "description": "Return at most `num_next_segments` segments after each selected segments.",
          "type": "integer"
        },
        "maxExtractiveAnswerCount": {
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult.",
          "type": "integer",
          "format": "int32"
        },
        "returnExtractiveSegmentScore": {
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`.",
          "type": "boolean"
        },
        "numPreviousSegments": {
          "type": "integer",
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest": {
      "description": "Request for DataStoreService.RemovePatientFilter method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned",
          "type": "string"
        },
        "filterGroups": {
          "description": "Required. Names of the Group resources to use as a basis for the list of patients to remove from the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the list of IDs to remove will be constructed from the direct members of the group which are Patient resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo",
      "properties": {
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title."
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "documentContexts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
          },
          "description": "List of document contexts. The content will be used for Answer Generation. This is supposed to be the main content of the document that can be long and comprehensive.",
          "type": "array"
        },
        "extractiveAnswers": {
          "type": "array",
          "description": "Deprecated: This field is deprecated and will have no effect on the Answer generation. Please use document_contexts and extractive_segments fields. List of extractive answers.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer"
          }
        },
        "extractiveSegments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment"
          },
          "description": "List of extractive segments.",
          "type": "array"
        }
      },
      "description": "Unstructured document information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsResponse": {
      "id": "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsResponse",
      "properties": {
        "purgeSucceeded": {
          "type": "boolean",
          "description": "Whether the completion suggestions were successfully purged."
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "description": "Response message for CompletionService.PurgeCompletionSuggestions method."
    },
    "GoogleCloudDiscoveryengineV1betaListUserLicensesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListUserLicensesResponse",
      "properties": {
        "userLicenses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          },
          "description": "All the customer's UserLicenses.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for UserLicenseService.ListUserLicenses."
    },
    "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata",
      "properties": {},
      "description": "Metadata for DataConnectorService.SetUpDataConnector method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBigtableOptionsBigtableColumnFamily": {
      "id": "GoogleCloudDiscoveryengineV1betaBigtableOptionsBigtableColumnFamily",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "The field name to use for this column family in the document. The name has to match the pattern `a-zA-Z0-9*`. If not set, it is parsed from the family name with best effort. However, due to different naming patterns, field name collisions could happen, where parsing behavior is undefined."
        },
        "columns": {
          "description": "The list of objects that contains column level information for each column. If a column is not present in this list it will be ignored.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaBigtableOptionsBigtableColumn"
          }
        },
        "encoding": {
          "type": "string",
          "enumDescriptions": [
            "The encoding is unspecified.",
            "Text encoding.",
            "Binary encoding."
          ],
          "description": "The encoding mode of the values when the type is not STRING. Acceptable encoding values are: * `TEXT`: indicates values are alphanumeric text strings. * `BINARY`: indicates values are encoded using `HBase Bytes.toBytes` family of functions. This can be overridden for a specific column by listing that column in `columns` and specifying an encoding for it.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "TEXT",
            "BINARY"
          ]
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "VAR_INTEGER",
            "BIG_NUMERIC",
            "BOOLEAN",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type is unspecified.",
            "String type.",
            "Numerical type.",
            "Integer type.",
            "Variable length integer type.",
            "BigDecimal type.",
            "Boolean type.",
            "JSON type."
          ],
          "description": "The type of values in this column family. The values are expected to be encoded using `HBase Bytes.toBytes` function when the encoding value is set to `BINARY`."
        }
      },
      "description": "The column family of the Bigtable.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
      "properties": {
        "appName": {
          "type": "string",
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc."
        },
        "instanceName": {
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Stores information for third party applicationOAuth."
    },
    "GoogleCloudDiscoveryengineV1betaListSessionsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListSessionsResponse",
      "properties": {
        "sessions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSession"
          },
          "type": "array",
          "description": "All the Sessions for a given data store."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        }
      },
      "description": "Response for ListSessions method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata": {
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportErrorConfig": {
      "description": "Configuration of destination for Import related errors.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaServingConfigMediaConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaServingConfigMediaConfig",
      "properties": {
        "demoteContentWatchedPastDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the number of days to look back for demoting watched content. If set to zero or unset, defaults to the maximum of 365 days."
        },
        "demotionEventType": {
          "description": "Specifies the event type used for demoting recommendation result. Currently supported values: * `view-item`: Item viewed. * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. If unset, watch history demotion will not be applied. Content freshness demotion will still be applied.",
          "type": "string"
        },
        "contentWatchedPercentageThreshold": {
          "description": "Specifies the content watched percentage threshold for demotion. Threshold value must be between [0, 1.0] inclusive.",
          "type": "number",
          "format": "float"
        },
        "contentWatchedSecondsThreshold": {
          "type": "number",
          "description": "Specifies the content watched minutes threshold for demotion.",
          "format": "float"
        },
        "contentFreshnessCutoffDays": {
          "format": "int32",
          "description": "Specifies the content freshness used for recommendation result. Contents will be demoted if contents were published for more than content freshness cutoff days.",
          "type": "integer"
        }
      },
      "description": "Specifies the configurations needed for Media Discovery. Currently we support: * `demote_content_watched`: Threshold for watched content demotion. Customers can specify if using watched content demotion or use viewed detail page. Using the content watched demotion, customers need to specify the watched minutes or percentage exceeds the threshold, the content will be demoted in the recommendation result. * `promote_fresh_content`: cutoff days for fresh content promotion. Customers can specify if using content freshness promotion. If the content was published within the cutoff days, the content will be promoted in the recommendation result. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig",
      "properties": {
        "digitalParsingConfig": {
          "description": "Configurations applied to digital parser.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig"
        },
        "ocrParsingConfig": {
          "description": "Configurations applied to OCR parser. Currently it only applies to PDFs.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig"
        },
        "layoutParsingConfig": {
          "description": "Configurations applied to layout parser.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig"
        }
      },
      "type": "object",
      "description": "Related configurations applied to a specific type of document parser."
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "description": "Custom threshold for `cvr` optimization_objective.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "properties": {
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        },
        "targetFieldValueFloat": {
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaTuneEngineResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaTuneEngineResponse",
      "properties": {},
      "description": "Response associated with a tune operation.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DeleteCollectionMetadata": {
      "id": "GoogleCloudDiscoveryengineV1DeleteCollectionMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContentCodeExecutionResult": {
      "type": "object",
      "description": "Result of executing ExecutableCode.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContentCodeExecutionResult",
      "properties": {
        "outcome": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "description": "Required. Outcome of the code execution.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully.",
            "Code execution finished but with a failure. `stderr` should contain the reason.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial output present."
          ]
        },
        "output": {
          "type": "string",
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult",
      "properties": {
        "structData": {
          "description": "Data representation. The structured JSON data for the document. It's populated from the struct data from the Document, or the Chunk in search result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "title": {
          "type": "string",
          "description": "Title."
        },
        "snippetInfo": {
          "description": "If citation_type is DOCUMENT_LEVEL_CITATION, populate document level snippets.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo"
          }
        },
        "chunkInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultChunkInfo"
          },
          "type": "array",
          "description": "If citation_type is CHUNK_LEVEL_CITATION and chunk mode is on, populate chunk info."
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsResponse": {
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsResponse",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec": {
      "description": "The specification that uses customized query embedding vector to do semantic document retrieval.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec",
      "properties": {
        "embeddingVectors": {
          "type": "array",
          "description": "The embedding vector used for retrieval. Limit to 1.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaControlSynonymsAction": {
      "description": "Creates a set of terms that will act as synonyms of one another. Example: \"happy\" will also be considered as \"glad\", \"glad\" will also be considered as \"happy\".",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaControlSynonymsAction",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaExportMetricsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaExportMetricsResponse",
      "properties": {},
      "description": "Response of the ExportMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics": {
      "description": "Stores the metric values at specific top-k levels.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
      "properties": {
        "top1": {
          "description": "The top-1 value.",
          "type": "number",
          "format": "double"
        },
        "top10": {
          "description": "The top-10 value.",
          "type": "number",
          "format": "double"
        },
        "top3": {
          "type": "number",
          "description": "The top-3 value.",
          "format": "double"
        },
        "top5": {
          "format": "double",
          "description": "The top-5 value.",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecModelSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecModelSpec",
      "properties": {
        "modelVersion": {
          "type": "string",
          "description": "Model version. If not set, it will use the default stable model. Allowed values are: stable, preview."
        }
      },
      "description": "Answer Generation Model specification.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpecConditionBoostSpec": {
      "type": "object",
      "description": "Boost applies to suggestions which match a condition.",
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpecConditionBoostSpec",
      "properties": {
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax is the same as [filter expression syntax](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata#filter-expression-syntax). Currently, the only supported condition is a list of BCP-47 lang codes. Example: * To boost suggestions in languages `en` or `fr`: `(lang_code: ANY(\"en\", \"fr\"))`",
          "type": "string"
        },
        "boost": {
          "type": "number",
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored.",
          "format": "float"
        }
      }
    },
    "GoogleMonitoringV3TimeSeries": {
      "description": "A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.",
      "type": "object",
      "id": "GoogleMonitoringV3TimeSeries",
      "properties": {
        "resource": {
          "description": "The associated monitored resource. Custom metrics can use only certain monitored resource types in their time series data. For more information, see [Monitored resources for custom metrics](https://cloud.google.com/monitoring/custom-metrics/creating-metrics#custom-metric-resources).",
          "$ref": "GoogleApiMonitoredResource"
        },
        "metricKind": {
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "description": "The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series. When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric's descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either `GAUGE` (the default) or `CUMULATIVE`."
        },
        "unit": {
          "description": "The units in which the metric value is reported. It is only applicable if the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The `unit` defines the representation of the stored metric values. This field can only be changed through CreateTimeSeries when it is empty.",
          "type": "string"
        },
        "metric": {
          "description": "The associated metric. A fully-specified metric used to identify the time series.",
          "$ref": "GoogleApiMetric"
        },
        "description": {
          "type": "string",
          "description": "Input only. A detailed description of the time series that will be associated with the google.api.MetricDescriptor for the metric. Once set, this field cannot be changed through CreateTimeSeries."
        },
        "valueType": {
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "description": "The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series. When creating a time series, this field is optional. If present, it must be the same as the type of the data in the `points` field.",
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a `Distribution`.",
            "The value is money."
          ]
        },
        "points": {
          "description": "The data points of this time series. When listing time series, points are returned in reverse time order. When creating a time series, this field must contain exactly one point and the point's type must be the same as the value type of the associated metric. If the associated metric's descriptor must be auto-created, then the value type of the descriptor is determined by the point's type, which must be `BOOL`, `INT64`, `DOUBLE`, or `DISTRIBUTION`.",
          "type": "array",
          "items": {
            "$ref": "GoogleMonitoringV3Point"
          }
        },
        "metadata": {
          "description": "Output only. The associated monitored resource metadata. When reading a time series, this field will include metadata labels that are explicitly named in the reduction. When creating a time series, this field is ignored.",
          "$ref": "GoogleApiMonitoredResourceMetadata"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListLicenseConfigsUsageStatsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListLicenseConfigsUsageStatsResponse",
      "properties": {
        "licenseConfigUsageStats": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfigUsageStats"
          },
          "description": "All the customer's LicenseConfigUsageStats.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for UserLicenseService.ListLicenseConfigsUsageStats method."
    },
    "GoogleCloudDiscoveryengineV1SiteVerificationInfo": {
      "id": "GoogleCloudDiscoveryengineV1SiteVerificationInfo",
      "properties": {
        "siteVerificationState": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "description": "Site verification state indicating the ownership and validity.",
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ]
        },
        "verifyTime": {
          "format": "google-datetime",
          "description": "Latest site verification time.",
          "type": "string"
        }
      },
      "description": "Verification information for target sites in advanced site search.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingStore": {
      "description": "Identity Mapping Store which contains Identity Mapping Entries.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingStore",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the identity mapping store. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this Identity Mapping Store at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the Identity Mapping Store will be protected by the KMS key, as indicated in the cmek_config field."
        },
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the Identity Mapping Store.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaInterval": {
      "id": "GoogleCloudDiscoveryengineV1betaInterval",
      "properties": {
        "exclusiveMinimum": {
          "type": "number",
          "description": "Exclusive lower bound.",
          "format": "double"
        },
        "maximum": {
          "format": "double",
          "description": "Inclusive upper bound.",
          "type": "number"
        },
        "exclusiveMaximum": {
          "format": "double",
          "type": "number",
          "description": "Exclusive upper bound."
        },
        "minimum": {
          "description": "Inclusive lower bound.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "A floating point interval.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCitationMetadata": {
      "type": "object",
      "description": "A collection of source attributions for a piece of content.",
      "id": "GoogleCloudDiscoveryengineV1alphaCitationMetadata",
      "properties": {
        "citations": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCitation"
          },
          "description": "Output only. List of citations.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaConverseConversationResponse": {
      "description": "Response message for ConversationalSearchService.ConverseConversation method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaConverseConversationResponse",
      "properties": {
        "reply": {
          "description": "Answer to the current query.",
          "$ref": "GoogleCloudDiscoveryengineV1betaReply"
        },
        "searchResults": {
          "type": "array",
          "description": "Search Results.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSearchResult"
          }
        },
        "conversation": {
          "description": "Updated conversation including the answer.",
          "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
        },
        "relatedQuestions": {
          "description": "Suggested related questions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec",
      "properties": {
        "numNextChunks": {
          "format": "int32",
          "type": "integer",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned."
        },
        "numPreviousChunks": {
          "type": "integer",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "format": "int32"
        }
      },
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "type": "object",
      "description": "The historical crawl rate timeseries data, used for monitoring."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "Embedding field path in schema."
        },
        "vector": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Query embedding vector.",
          "type": "array"
        }
      },
      "description": "Embedding vector.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse": {
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReference": {
      "type": "object",
      "description": "Referenced content and related document metadata.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReference",
      "properties": {
        "content": {
          "type": "string",
          "description": "Referenced text content."
        },
        "documentMetadata": {
          "description": "Document metadata.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryUnderstandingInfoQueryClassificationInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryUnderstandingInfoQueryClassificationInfo",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADVERSARIAL_QUERY",
            "NON_ANSWER_SEEKING_QUERY",
            "JAIL_BREAKING_QUERY",
            "NON_ANSWER_SEEKING_QUERY_V2",
            "USER_DEFINED_CLASSIFICATION_QUERY"
          ],
          "description": "Query classification type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified query classification type.",
            "Adversarial query classification type.",
            "Non-answer-seeking query classification type, for chit chat.",
            "Jail-breaking query classification type.",
            "Non-answer-seeking query classification type, for no clear intent.",
            "User defined query classification type."
          ]
        },
        "positive": {
          "description": "Classification output.",
          "type": "boolean"
        }
      },
      "description": "Query classification information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore": {
      "type": "object",
      "description": "Stores information regarding the serving configurations at DataStore level.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore",
      "properties": {
        "disabledForServing": {
          "type": "boolean",
          "description": "Optional. If set true, the DataStore will not be available for serving search requests."
        }
      }
    },
    "GoogleApiMonitoredResourceMetadata": {
      "id": "GoogleApiMonitoredResourceMetadata",
      "properties": {
        "systemLabels": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Values for predefined system metadata labels. System labels are a kind of metadata extracted by Google, including \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\", \"name\", etc. System label values can be only strings, Boolean values, or a list of strings. For example: { \"name\": \"my-test-instance\", \"security_group\": [\"a\", \"b\", \"c\"], \"spot_instance\": false }"
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. A map of user-defined metadata labels."
        }
      },
      "type": "object",
      "description": "Auxiliary metadata for a MonitoredResource object. MonitoredResource objects contain the minimum set of information to uniquely identify a monitored resource instance. There is some other useful auxiliary metadata. Monitoring and Logging use an ingestion pipeline to extract metadata for cloud resources of all types, and store the metadata in this message."
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCmekConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaCmekConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ],
          "description": "Output only. The states of the CmekConfig.",
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ]
        },
        "lastRotationTimestampMicros": {
          "type": "string",
          "description": "Output only. The timestamp of the last key rotation.",
          "readOnly": true,
          "format": "int64"
        },
        "notebooklmState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used.",
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ],
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ]
        },
        "kmsKeyVersion": {
          "readOnly": true,
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`.",
          "type": "string"
        },
        "singleRegionKeys": {
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSingleRegionKey"
          }
        },
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The default CmekConfig for the Customer."
        }
      },
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult": {
      "description": "Customer policy enforcement result for the banned phrase policy.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult",
      "properties": {
        "bannedPhrases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The banned phrases that were found in the query or the answer."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaChunkPageSpan": {
      "description": "Page span of the chunk.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaChunkPageSpan",
      "properties": {
        "pageStart": {
          "format": "int32",
          "description": "The start page of the chunk.",
          "type": "integer"
        },
        "pageEnd": {
          "type": "integer",
          "description": "The end page of the chunk.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteEngineMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the EngineService.DeleteEngine operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1UserLicense": {
      "type": "object",
      "description": "User License information assigned by the admin.",
      "id": "GoogleCloudDiscoveryengineV1UserLicense",
      "properties": {
        "updateTime": {
          "description": "Output only. User update timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastLoginTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "type": "string"
        },
        "userProfile": {
          "type": "string",
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile."
        },
        "licenseAssignmentState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ],
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;",
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ]
        },
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        },
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "createTime": {
          "description": "Output only. User created timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReference": {
      "type": "object",
      "description": "Document reference.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReference",
      "properties": {
        "title": {
          "description": "Title of the document.",
          "type": "string"
        },
        "uri": {
          "description": "Cloud Storage or HTTP uri for the document.",
          "type": "string"
        },
        "document": {
          "description": "Required. Document.name of the document. Full resource name of the referenced document, in the format `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`.",
          "type": "string"
        },
        "chunkContents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReferenceChunkContent"
          },
          "type": "array",
          "description": "List of cited chunk contents derived from document content."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "type": "object",
      "description": "The digital parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSchemaMetadata": {
      "type": "object",
      "description": "Metadata for UpdateSchema LRO.",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSchemaMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultSnippetInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultSnippetInfo",
      "properties": {
        "snippetStatus": {
          "description": "Status of the snippet defined by the search team.",
          "type": "string"
        },
        "snippet": {
          "description": "Snippet content.",
          "type": "string"
        }
      },
      "description": "Snippet information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse",
      "properties": {
        "dataSizeBytes": {
          "format": "int64",
          "description": "Data size in terms of bytes.",
          "type": "string"
        },
        "documentCount": {
          "type": "string",
          "description": "Total number of documents.",
          "format": "int64"
        }
      },
      "description": "Response of the EstimateDataSize request. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object"
    },
    "GoogleApiMetric": {
      "id": "GoogleApiMetric",
      "properties": {
        "type": {
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, `custom.googleapis.com/invoice/paid/amount`.",
          "type": "string"
        },
        "labels": {
          "description": "The set of label values that uniquely identify this metric. All labels listed in the `MetricDescriptor` must be assigned values.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A specific metric, identified by specifying values for all of the labels of a `MetricDescriptor`."
    },
    "GoogleCloudDiscoveryengineV1betaBatchVerifyTargetSitesRequest": {
      "description": "Request message for SiteSearchEngineService.BatchVerifyTargetSites method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaBatchVerifyTargetSitesRequest",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaServingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaServingConfig",
      "properties": {
        "embeddingConfig": {
          "description": "Bring your own embedding config. The config is used for search semantic retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embeddings that are provided by this EmbeddingConfig. If SearchRequest.EmbeddingSpec.EmbeddingVector.vector is provided, it overrides this ServingConfig.embedding_config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEmbeddingConfig"
        },
        "ignoreControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition ignore specifications. If multiple ignore conditions match, all matching ignore controls in the list will execute. Order does not matter. Maximum number of specifications is 100."
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The human readable serving config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "answerGenerationSpec": {
          "description": "Optional. The specification for answer generation.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpec"
        },
        "personalizationSpec": {
          "description": "The specification for personalization spec. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec"
        },
        "mediaConfig": {
          "description": "The MediaConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1betaServingConfigMediaConfig"
        },
        "solutionType": {
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. Specifies the solution type that a serving config can be associated with.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ]
        },
        "updateTime": {
          "description": "Output only. ServingConfig updated timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "promoteControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition promote specifications. Maximum number of specifications is 100.",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. ServingConfig created timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "replacementControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition replacement specifications. Applied according to the order in the list. A previously replaced term can not be re-replaced. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "modelId": {
          "description": "The id of the model to use at serving time. Currently only RecommendationModels are supported. Can be changed but only to a compatible model (e.g. others-you-may-like CTR to others-you-may-like CVR). Required when SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        },
        "rankingExpression": {
          "type": "string",
          "description": "The ranking expression controls the customized ranking on retrieval documents. To leverage this, document embedding is required. The ranking expression setting in ServingConfig applies to all search requests served by the serving config. However, if `SearchRequest.ranking_expression` is specified, it overrides the ServingConfig ranking expression. The ranking expression is a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between embedding_field_path and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`."
        },
        "genericConfig": {
          "description": "The GenericConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1betaServingConfigGenericConfig"
        },
        "onewaySynonymsControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition oneway synonyms specifications. If multiple oneway synonyms conditions match, all matching oneway synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "dissociateControlIds": {
          "description": "Condition do not associate specifications. If multiple do not associate conditions match, all matching do not associate controls in the list will execute. Order does not matter. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "synonymsControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition synonyms specifications. If multiple synonyms conditions match, all matching synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "filterControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Filter controls to use in serving path. All triggered filter controls will be applied. Filter controls must be in the same data store as the serving config. Maximum of 20 filter controls."
        },
        "boostControlIds": {
          "type": "array",
          "description": "Boost controls to use in serving path. All triggered boost controls will be applied. Boost controls must be in the same data store as the serving config. Maximum of 20 boost controls.",
          "items": {
            "type": "string"
          }
        },
        "redirectControlIds": {
          "description": "IDs of the redirect controls. Only the first triggered redirect action is applied, even if multiple apply. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diversityLevel": {
          "description": "How much diversity to use in recommendation model results e.g. `medium-diversity` or `high-diversity`. Currently supported values: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` If not specified, we choose default based on recommendation model type. Default value: `no-diversity`. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configures metadata that is used to generate serving time results (e.g. search results or recommendation predictions). The ServingConfig is passed in the search and predict request and generates results."
    },
    "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest",
      "properties": {},
      "description": "Request message for CompletionService.PurgeCompletionSuggestions method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineLoggingSourceLocation": {
      "description": "Indicates a location in the source code of the service for which errors are reported.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineLoggingSourceLocation",
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Human-readable name of a function or method—for example, `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference",
      "properties": {
        "name": {
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`.",
          "type": "string"
        }
      },
      "description": "Reference to an Agent Gateway resource.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec",
      "properties": {
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`",
          "type": "string"
        },
        "boost": {
          "type": "number",
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored. Only one of the (condition, boost) combination or the boost_control_spec below are set. If both are set then the global boost is ignored and the more fine-grained boost_control_spec is applied.",
          "format": "float"
        },
        "boostControlSpec": {
          "description": "Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec"
        }
      },
      "description": "Boost applies to documents which match a condition.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey",
      "properties": {
        "contains": {
          "type": "array",
          "description": "Only get facet values that contain the given strings. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action > 2022\" and \"Sci-Fi > 2022\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          }
        },
        "restrictedValues": {
          "items": {
            "type": "string"
          },
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"restricted_values\" to \"Action > 2022\", the \"category\" facet only contains \"Action > 2022\". Only supported on textual fields. Maximum is 10.",
          "type": "array"
        },
        "intervals": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaInterval"
          },
          "type": "array",
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30."
        },
        "caseInsensitive": {
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise.",
          "type": "boolean"
        },
        "prefixes": {
          "type": "array",
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action > 2022\" and \"Action > 2021\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive.",
          "type": "string"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals."
        }
      },
      "description": "Specifies how a facet is computed.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSafetyRating": {
      "id": "GoogleCloudDiscoveryengineV1betaSafetyRating",
      "properties": {
        "blocked": {
          "readOnly": true,
          "description": "Output only. Indicates whether the content was filtered out because of this rating.",
          "type": "boolean"
        },
        "category": {
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ],
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ],
          "description": "Output only. Harm category.",
          "readOnly": true,
          "type": "string"
        },
        "severityScore": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. Harm severity score.",
          "type": "number"
        },
        "severity": {
          "description": "Output only. Harm severity levels in the content.",
          "enumDescriptions": [
            "Harm severity unspecified.",
            "Negligible level of harm severity.",
            "Low level of harm severity.",
            "Medium level of harm severity.",
            "High level of harm severity."
          ],
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ],
          "type": "string",
          "readOnly": true
        },
        "probability": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "description": "Output only. Harm probability levels in the content.",
          "enumDescriptions": [
            "Harm probability unspecified.",
            "Negligible level of harm.",
            "Low level of harm.",
            "Medium level of harm.",
            "High level of harm."
          ]
        },
        "probabilityScore": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. Harm probability score.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Safety rating corresponding to the generated content."
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitationSource": {
      "type": "object",
      "description": "Citation source.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitationSource",
      "properties": {
        "referenceIndex": {
          "description": "Document reference index from SummaryWithMetadata.references. It is 0-indexed and the value will be zero if the reference_index is not set explicitly.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "description": "Additional feature configurations for creating a `recommended-for-you` engine.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
      "properties": {
        "contextEventType": {
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatus": {
      "id": "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatus",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The start time of the currently active billing subscription."
        },
        "terminateTime": {
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "effectiveSearchQpmThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations."
        },
        "searchQpmThresholdNextUpdateTime": {
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "effectiveIndexingCoreThreshold": {
          "format": "int64",
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations.",
          "type": "string"
        },
        "indexingCoreThresholdNextUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded."
        }
      },
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month).",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequest": {
      "description": "Request message for IdentityMappingStoreService.ImportIdentityMappings",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequest",
      "properties": {
        "inlineSource": {
          "description": "The inline source to import identity mapping entries from.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata",
      "properties": {
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "uri": {
          "description": "URI for the document. It may contain a URL that redirects to the actual website.",
          "type": "string"
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "domain": {
          "description": "Domain name from the document URI. Note that the `uri` field may contain a URL that redirects to the actual website, in which case this will contain the domain name of the target site.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "mimeType": {
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        }
      },
      "description": "Document metadata.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCitation": {
      "id": "GoogleCloudDiscoveryengineV1betaCitation",
      "properties": {
        "publicationDate": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. Publication date of the attribution."
        },
        "endIndex": {
          "type": "integer",
          "description": "Output only. End index into the content.",
          "readOnly": true,
          "format": "int32"
        },
        "title": {
          "description": "Output only. Title of the attribution.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. Url reference of the attribution.",
          "type": "string",
          "readOnly": true
        },
        "startIndex": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Start index into the content."
        },
        "license": {
          "readOnly": true,
          "description": "Output only. License of the attribution.",
          "type": "string"
        }
      },
      "description": "Source attributions for content.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig": {
      "type": "object",
      "description": "Feature config for the Knowledge Graph.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig",
      "properties": {
        "disablePrivateKgQueryUnderstanding": {
          "type": "boolean",
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgAutoComplete": {
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUiChips": {
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantToolList": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantToolList",
      "properties": {
        "toolInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantToolInfo"
          },
          "type": "array",
          "description": "The list of tools with corresponding tool information."
        }
      },
      "description": "The enabled tools on a connector",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "properties": {
        "matchHighlightingCondition": {
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "description": "The condition under which match highlighting should occur."
        }
      },
      "description": "Specifies features for display, like match highlighting.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaListConversationsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListConversationsResponse",
      "properties": {
        "conversations": {
          "type": "array",
          "description": "All the Conversations for a given data store.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
          }
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      },
      "description": "Response for ListConversations method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata": {
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun": {
      "description": "Represents an entity that was synced in this ConnectorRun.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun",
      "properties": {
        "extractedRecordCount": {
          "format": "int64",
          "description": "Optional. The number of documents extracted from connector source, ready to be ingested to VAIS.",
          "type": "string"
        },
        "scheduledRecordCount": {
          "type": "string",
          "description": "Optional. The number of documents scheduled to be crawled/extracted from connector source. This only applies to third party connectors.",
          "format": "int64"
        },
        "deletedRecordCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of documents deleted."
        },
        "entityName": {
          "description": "The name of the source entity.",
          "type": "string"
        },
        "state": {
          "description": "The state of the entity's sync run.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ]
        },
        "errorRecordCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The total number of documents failed at sync at indexing stage."
        },
        "stateUpdateTime": {
          "description": "Timestamp at which the entity sync state was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "progress": {
          "description": "Metadata to generate the progress bar.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRunProgress"
        },
        "statsUpdateTime": {
          "type": "string",
          "description": "The timestamp for either extracted_documents_count, indexed_documents_count and error_documents_count was last updated.",
          "format": "google-datetime"
        },
        "syncType": {
          "type": "string",
          "enumDescriptions": [
            "Sync type unspecified.",
            "Sync triggers full sync of all documents.",
            "Incremental sync of updated documents.",
            "Realtime sync.",
            "Scala sync."
          ],
          "description": "Sync type of this run.",
          "enum": [
            "SYNC_TYPE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL",
            "REALTIME",
            "SCALA_SYNC"
          ]
        },
        "indexedRecordCount": {
          "format": "int64",
          "description": "Optional. The number of documents indexed.",
          "type": "string"
        },
        "sourceApiRequestCount": {
          "format": "int64",
          "description": "Optional. The number of requests sent to 3p API.",
          "type": "string"
        },
        "errors": {
          "description": "The errors from the entity's sync run. Only exist if running into an error state. Contains error code and error message.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantToolInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantToolInfo",
      "properties": {
        "toolName": {
          "type": "string",
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here."
        },
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        }
      },
      "description": "Information to identify a tool.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContent": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContent",
      "properties": {
        "content": {
          "description": "The content.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContent"
        },
        "textGroundingMetadata": {
          "description": "Metadata for grounding based on text sources.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadata"
        },
        "citationMetadata": {
          "description": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check",
          "$ref": "GoogleCloudDiscoveryengineV1betaCitationMetadata"
        }
      },
      "description": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngine": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngine",
      "properties": {
        "observabilityConfig": {
          "description": "Optional. Observability config for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        },
        "features": {
          "description": "Optional. Feature config for the engine to opt in or opt out of features. Supported keys: * `*`: all features, if it's present, all other feature state settings are ignored. * `agent-gallery` * `no-code-agent-builder` * `prompt-gallery` * `model-selector` * `notebook-lm` * `people-search` * `people-search-org-chart` * `bi-directional-audio` * `feedback` * `session-sharing` * `personalization-memory` * `personalization-suggested-highlights` * `disable-agent-sharing` * `disable-image-generation` * `disable-video-generation` * `disable-onedrive-upload` * `disable-talk-to-content` * `disable-google-drive-upload` * `disable-welcome-emails` * `disable-canvas` * `disable-canvas-workspace` * `disable-skills`",
          "type": "object",
          "additionalProperties": {
            "enum": [
              "FEATURE_STATE_UNSPECIFIED",
              "FEATURE_STATE_ON",
              "FEATURE_STATE_OFF"
            ],
            "type": "string",
            "enumDescriptions": [
              "The feature state is unspecified.",
              "The feature is turned on to be accessible.",
              "The feature is turned off to be inaccessible."
            ]
          }
        },
        "agentGatewaySetting": {
          "description": "Optional. The agent gateway setting for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySetting"
        },
        "solutionType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "description": "Required. The solutions of the engine.",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the Recommendation Engine was last updated.",
[...]
