{
  "servicePath": "",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "discoveryengine:v1",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "description": "Discovery Engine API.",
  "ownerDomain": "google.com",
  "name": "discoveryengine",
  "version_module": true,
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec",
      "type": "object",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      },
      "description": "Specification of the model."
    },
    "GoogleCloudDiscoveryengineV1Chunk": {
      "description": "Chunk captures all raw metadata information of items to be recommended or searched in the chunk mode.",
      "id": "GoogleCloudDiscoveryengineV1Chunk",
      "type": "object",
      "properties": {
        "chunkMetadata": {
          "description": "Output only. Metadata of the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1ChunkChunkMetadata",
          "readOnly": true
        },
        "annotationMetadata": {
          "description": "Output only. The annotation metadata includes structured content in the current chunk.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata"
          },
          "readOnly": true,
          "type": "array"
        },
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1ChunkPageSpan"
        },
        "id": {
          "description": "Unique chunk ID of the current chunk.",
          "type": "string"
        },
        "annotationContents": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Annotation contents if the current chunk contains annotations."
        },
        "derivedStructData": {
          "description": "Output only. This field is OUTPUT_ONLY. It contains derived data that are not in the original input document.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "description": "The full resource name of the chunk. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}/chunks/{chunk_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "content": {
          "description": "Content is a string from a document (parsed content).",
          "type": "string"
        },
        "relevanceScore": {
          "description": "Output only. Represents the relevance score based on similarity. Higher score indicates higher chunk relevance. The score is in range [-1.0, 1.0]. Only populated on SearchResponse.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "dataUrls": {
          "description": "Output only. Image Data URLs if the current chunk contains images. Data URLs are composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1ChunkDocumentMetadata"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaQuery": {
      "description": "Defines a user inputed query.",
      "id": "GoogleCloudDiscoveryengineV1alphaQuery",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Plain text."
        },
        "queryId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique Id for the query."
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPart"
          },
          "description": "Query content parts."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAclConfig": {
      "description": "Access Control Configuration.",
      "id": "GoogleCloudDiscoveryengineV1alphaAclConfig",
      "type": "object",
      "properties": {
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "description": "Configuration for the layout based chunking.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
      "type": "object",
      "properties": {
        "chunkSize": {
          "type": "integer",
          "format": "int32",
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500."
        },
        "includeAncestorHeadings": {
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec": {
      "description": "Boost applies to documents which match a condition.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec",
      "type": "object",
      "properties": {
        "boostControlSpec": {
          "description": "Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "type": "string",
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`"
        },
        "boost": {
          "format": "float",
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored. Only one of the (condition, boost) combination or the boost_control_spec below are set. If both are set then the global boost is ignored and the more fine-grained boost_control_spec is applied.",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Interval": {
      "id": "GoogleCloudDiscoveryengineV1Interval",
      "type": "object",
      "properties": {
        "exclusiveMinimum": {
          "description": "Exclusive lower bound.",
          "format": "double",
          "type": "number"
        },
        "maximum": {
          "type": "number",
          "format": "double",
          "description": "Inclusive upper bound."
        },
        "exclusiveMaximum": {
          "type": "number",
          "description": "Exclusive upper bound.",
          "format": "double"
        },
        "minimum": {
          "type": "number",
          "format": "double",
          "description": "Inclusive lower bound."
        }
      },
      "description": "A floating point interval."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceScoreSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceScoreSpec",
      "type": "object",
      "properties": {
        "returnRelevanceScore": {
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query.",
          "type": "boolean"
        }
      },
      "description": "The specification for returning the document relevance score."
    },
    "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus": {
      "id": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
      "type": "object",
      "properties": {
        "searchQpmThresholdNextUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. The start time of the currently active billing subscription.",
          "type": "string"
        },
        "terminateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions.",
          "format": "google-datetime"
        },
        "effectiveSearchQpmThreshold": {
          "format": "int64",
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations.",
          "type": "string"
        },
        "effectiveIndexingCoreThreshold": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations."
        },
        "indexingCoreThresholdNextUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded.",
          "format": "google-datetime"
        }
      },
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month)."
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were deleted successfully."
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the PurgeUserEvents operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1Query": {
      "description": "Defines a user inputed query.",
      "id": "GoogleCloudDiscoveryengineV1Query",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Plain text."
        },
        "queryId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique Id for the query."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfig": {
      "description": "Additional config specs for a Media Recommendation engine.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfig",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`.",
          "type": "string"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`"
        },
        "optimizationObjectiveConfig": {
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5).",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
        },
        "trainingState": {
          "type": "string",
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before.",
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ]
        },
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequestInlineSource": {
      "description": "The inline source to import identity mapping entries from.",
      "id": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequestInlineSource",
      "type": "object",
      "properties": {
        "identityMappingEntries": {
          "type": "array",
          "description": "A maximum of 10000 entries can be imported at one time",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingEntry"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1LicenseConfig": {
      "description": "Information about users' licenses.",
      "id": "GoogleCloudDiscoveryengineV1LicenseConfig",
      "type": "object",
      "properties": {
        "subscriptionTerm": {
          "description": "Required. Subscription term.",
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ],
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ],
          "type": "string"
        },
        "endDate": {
          "description": "Optional. The planed end date.",
          "$ref": "GoogleTypeDate"
        },
        "licenseCount": {
          "description": "Required. Number of licenses purchased.",
          "format": "int64",
          "type": "string"
        },
        "freeTrial": {
          "type": "boolean",
          "description": "Optional. Whether the license config is for free trial."
        },
        "subscriptionTier": {
          "description": "Required. Subscription tier information for the license config.",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ],
          "type": "string"
        },
        "earlyTerminationDate": {
          "readOnly": true,
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date.",
          "$ref": "GoogleTypeDate"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`"
        },
        "autoRenew": {
          "type": "boolean",
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date."
        },
        "geminiBundle": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the license config is for Gemini bundle."
        },
        "state": {
          "description": "Output only. The state of the license config.",
          "enumDescriptions": [
            "Default value. The license config does not exist.",
            "The license config is effective and being used.",
            "The license config has expired.",
            "The license config has not started yet, and its start date is in the future.",
            "This is when a sub license config has returned all its seats back to BillingAccountLicenseConfig that it belongs to. Similar to EXPIRED.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "WITHDRAWN",
            "DEACTIVATING"
          ],
          "type": "string",
          "readOnly": true
        },
        "earlyTerminated": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3."
        },
        "startDate": {
          "description": "Required. The start date.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig": {
      "description": "Customer provided configurations.",
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig",
      "type": "object",
      "properties": {
        "notebooklmConfig": {
          "description": "Optional. Configuration for NotebookLM settings.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ConverseConversationRequest": {
      "description": "Request message for ConversationalSearchService.ConverseConversation method.",
      "id": "GoogleCloudDiscoveryengineV1ConverseConversationRequest",
      "type": "object",
      "properties": {
        "conversation": {
          "description": "The conversation to be used by auto session only. The name field will be ignored as we automatically assign new name for the conversation in auto session.",
          "$ref": "GoogleCloudDiscoveryengineV1Conversation"
        },
        "summarySpec": {
          "description": "A specification for configuring the summary returned in the response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the summary response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "query": {
          "description": "Required. Current user input.",
          "$ref": "GoogleCloudDiscoveryengineV1TextInput"
        },
        "safeSearch": {
          "description": "Whether to turn on safe search.",
          "type": "boolean"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "servingConfig": {
          "type": "string",
          "description": "The resource name of the Serving Config to use. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/servingConfigs/{serving_config_id}` If this is not set, the default serving config will be used."
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents in search results which may affect the converse response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SessionTurn": {
      "description": "Represents a turn, including a query from the user and a answer from service.",
      "id": "GoogleCloudDiscoveryengineV1SessionTurn",
      "type": "object",
      "properties": {
        "query": {
          "description": "Optional. The user query. May not be set if this turn is merely regenerating an answer to a different turn",
          "$ref": "GoogleCloudDiscoveryengineV1Query"
        },
        "detailedAnswer": {
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting answer query session.",
          "$ref": "GoogleCloudDiscoveryengineV1Answer",
          "readOnly": true
        },
        "detailedAssistAnswer": {
          "readOnly": true,
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting assistant session.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswer"
        },
        "queryConfig": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Represents metadata related to the query config, for example LLM model and version used, model parameters (temperature, grounding parameters, etc.). The prefix \"google.\" is reserved for Google-developed functionality."
        },
        "answer": {
          "description": "Optional. The resource name of the answer to the user query. Only set if the answer generation (/answer API call) happened in this turn.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateResponse",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "readOnly": true
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpec": {
      "description": "Specification to boost suggestions based on the condition of the suggestion.",
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpec",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "description": "Condition boost specifications. If a suggestion matches multiple conditions in the specifications, boost values from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20. Note: Currently only support language condition boost.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryRequestBoostSpecConditionBoostSpec"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1SearchRequestSessionSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestSessionSpec",
      "type": "object",
      "properties": {
        "queryId": {
          "type": "string",
          "description": "If set, the search result gets stored to the \"turn\" specified by this query ID. Example: Let's say the session looks like this: session { name: \".../sessions/xxx\" turns { query { text: \"What is foo?\" query_id: \".../questions/yyy\" } answer: \"Foo is ...\" } turns { query { text: \"How about bar then?\" query_id: \".../questions/zzz\" } } } The user can call /search API with a request like this: session: \".../sessions/xxx\" session_spec { query_id: \".../questions/zzz\" } Then, the API stores the search result, associated with the last turn. The stored search result can be used by a subsequent /answer API call (with the session ID and the query ID specified). Also, it is possible to call /search and /answer in parallel with the same session ID & query ID."
        },
        "searchResultPersistenceCount": {
          "type": "integer",
          "description": "The number of top search results to persist. The persisted search results can be used for the subsequent /answer api call. This field is similar to the `summary_result_count` field in SearchRequest.ContentSearchSpec.SummarySpec.summary_result_count. At most 10 results for documents mode, or 50 for chunks mode.",
          "format": "int32"
        }
      },
      "description": "Session specification."
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetrics": {
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetrics",
      "type": "object",
      "properties": {
        "docPrecision": {
          "description": "Precision per document, at various top-k cutoff levels. Precision is the fraction of retrieved documents that are relevant. Example (top-5): * For a single SampleQuery, If 4 out of 5 retrieved documents in the top-5 are relevant, precision@5 = 4/5 = 0.8",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "pageNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per page, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved pages (P1, P2, P3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [P3 (0), P1 (1), P2 (1)] Ideal: [P1 (1), P2 (1), P3 (0)] Calculate NDCG@3 for SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "docRecall": {
          "description": "Recall per document, at various top-k cutoff levels. Recall is the fraction of relevant documents retrieved out of all relevant documents. Example (top-5): * For a single SampleQuery, If 3 out of 5 relevant documents are retrieved in the top-5, recall@5 = 3/5 = 0.6",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "docNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per document, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved documents (D1, D2, D3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [D3 (0), D1 (1), D2 (1)] Ideal: [D1 (1), D2 (1), D3 (0)] Calculate NDCG@3 for each SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "pageRecall": {
          "description": "Recall per page, at various top-k cutoff levels. Recall is the fraction of relevant pages retrieved out of all relevant pages. Example (top-5): * For a single SampleQuery, if 3 out of 5 relevant pages are retrieved in the top-5, recall@5 = 3/5 = 0.6",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        }
      },
      "description": "Describes the metrics produced by the evaluation."
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint": {
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint",
      "type": "object",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number"
        }
      }
    },
    "A2aV1AgentCard": {
      "id": "A2aV1AgentCard",
      "type": "object",
      "properties": {
        "signatures": {
          "type": "array",
          "description": "JSON Web Signatures computed for this AgentCard.",
          "items": {
            "$ref": "A2aV1AgentCardSignature"
          }
        },
        "skills": {
          "items": {
            "$ref": "A2aV1AgentSkill"
          },
          "description": "Skills represent a unit of ability an agent can perform. This may somewhat abstract but represents a more focused set of actions that the agent is highly likely to succeed at.",
          "type": "array"
        },
        "supportsAuthenticatedExtendedCard": {
          "type": "boolean",
          "description": "Whether the agent supports providing an extended agent card when the user is authenticated, i.e. is the card from .well-known different than the card from GetAgentCard."
        },
        "version": {
          "description": "The version of the agent. Example: \"1.0.0\"",
          "type": "string"
        },
        "documentationUrl": {
          "description": "A url to provide additional documentation about the agent.",
          "type": "string"
        },
        "url": {
          "description": "A URL to the address the agent is hosted at. This represents the preferred endpoint as declared by the agent.",
          "type": "string"
        },
        "protocolVersion": {
          "description": "The version of the A2A protocol this agent supports.",
          "type": "string"
        },
        "preferredTransport": {
          "type": "string",
          "description": "The transport of the preferred endpoint. If empty, defaults to JSONRPC."
        },
        "additionalInterfaces": {
          "type": "array",
          "description": "Announcement of additional supported transports. Client can use any of the supported transports.",
          "items": {
            "$ref": "A2aV1AgentInterface"
          }
        },
        "capabilities": {
          "description": "A2A Capability set supported by the agent.",
          "$ref": "A2aV1AgentCapabilities"
        },
        "defaultOutputModes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The mime types supported as outputs from this agent."
        },
        "description": {
          "description": "A description of the agent's domain of action/solution space. Example: \"Agent that helps users with recipes and cooking.\"",
          "type": "string"
        },
        "provider": {
          "description": "The service provider of the agent.",
          "$ref": "A2aV1AgentProvider"
        },
        "iconUrl": {
          "type": "string",
          "description": "An optional URL to an icon for the agent."
        },
        "security": {
          "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED Security requirements for contacting the agent. This list can be seen as an OR of ANDs. Each object in the list describes one possible set of security requirements that must be present on a request. This allows specifying, for example, \"callers must either use OAuth OR an API Key AND mTLS.\" Example: security { schemes { key: \"oauth\" value { list: [\"read\"] } } } security { schemes { key: \"api-key\" } schemes { key: \"mtls\" } }",
          "items": {
            "$ref": "A2aV1Security"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "A human readable name for the agent. Example: \"Recipe Agent\""
        },
        "defaultInputModes": {
          "description": "protolint:enable REPEATED_FIELD_NAMES_PLURALIZED The set of interaction modes that the agent supports across all skills. This can be overridden per skill. Defined as mime types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "securitySchemes": {
          "description": "The security scheme details used for authenticating with this agent.",
          "type": "object",
          "additionalProperties": {
            "$ref": "A2aV1SecurityScheme"
          }
        }
      },
      "description": "AgentCard conveys key information: - Overall details (version, name, description, uses) - Skills; a set of actions/solutions the agent can perform - Default modalities/content types supported by the agent. - Authentication requirements Next ID: 19"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestCustomRankingParams": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestCustomRankingParams",
      "type": "object",
      "properties": {
        "expressionsToPrecompute": {
          "type": "array",
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration parameters for the Custom Ranking feature."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec": {
      "description": "Boost specification to boost certain documents.",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpec"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata",
      "type": "object",
      "properties": {
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Collection": {
      "id": "GoogleCloudDiscoveryengineV1Collection",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp the Collection was created at.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        }
      },
      "description": "Collection is a container for configuring resources and access to a set of DataStores."
    },
    "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata": {
      "description": "Metadata associated with a project provision operation.",
      "id": "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaTuneEngineResponse": {
      "description": "Response associated with a tune operation.",
      "id": "GoogleCloudDiscoveryengineV1betaTuneEngineResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig": {
      "description": "Related configurations applied to a specific type of document parser.",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig",
      "type": "object",
      "properties": {
        "layoutParsingConfig": {
          "description": "Configurations applied to layout parser.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig"
        },
        "ocrParsingConfig": {
          "description": "Configurations applied to OCR parser. Currently it only applies to PDFs.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig"
        },
        "digitalParsingConfig": {
          "description": "Configurations applied to digital parser.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for DeleteSchema LRO."
    },
    "GoogleCloudDiscoveryengineV1AssistantContentExecutableCode": {
      "id": "GoogleCloudDiscoveryengineV1AssistantContentExecutableCode",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. The code content. Currently only supports Python."
        }
      },
      "description": "Code generated by the model that is meant to be executed by the model."
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseQuerySuggestion": {
      "description": "Suggestions as search queries.",
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseQuerySuggestion",
      "type": "object",
      "properties": {
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        },
        "dataStore": {
          "type": "array",
          "description": "The name of the dataStore that this suggestion belongs to.",
          "items": {
            "type": "string"
          }
        },
        "score": {
          "type": "number",
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "format": "double"
        },
        "completableFieldPaths": {
          "type": "array",
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo": {
      "description": "Verification information for target sites in advanced site search.",
      "id": "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo",
      "type": "object",
      "properties": {
        "siteVerificationState": {
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ],
          "description": "Site verification state indicating the ownership and validity.",
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "type": "string"
        },
        "verifyTime": {
          "type": "string",
          "description": "Latest site verification time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "type": "object",
      "properties": {
        "matchHighlightingCondition": {
          "type": "string",
          "description": "The condition under which match highlighting should occur.",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ]
        }
      },
      "description": "Specifies features for display, like match highlighting."
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata": {
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse",
      "type": "object",
      "properties": {
        "organicCrawlRateTimeSeries": {
          "description": "The historical organic crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "dedicatedCrawlRateTimeSeries": {
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries"
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set."
    },
    "GoogleCloudDiscoveryengineV1Control": {
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "id": "GoogleCloudDiscoveryengineV1Control",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`"
        },
        "solutionType": {
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "type": "string"
        },
        "redirectAction": {
          "description": "Defines a redirect-type control.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlRedirectAction"
        },
        "associatedServingConfigIds": {
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlSynonymsAction"
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlPromoteAction"
        },
        "useCases": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ],
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ]
          },
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH."
        },
        "displayName": {
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1ControlFilterAction"
        },
        "conditions": {
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Condition"
          },
          "type": "array"
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostAction"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfo": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfo",
      "type": "object",
      "properties": {
        "queryClassificationInfo": {
          "type": "array",
          "description": "Query classification information.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfoQueryClassificationInfo"
          }
        }
      },
      "description": "Query understanding information."
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "description": "Feature configurations that are required for creating a Most Popular engine.",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig",
      "type": "object",
      "properties": {
        "timeWindowDays": {
          "type": "string",
          "format": "int64",
          "description": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsRequest": {
      "description": "Request message for Import methods.",
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsRequest",
      "type": "object",
      "properties": {
        "reconciliationMode": {
          "type": "string",
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ],
          "description": "The mode of reconciliation between existing documents and the documents to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "enumDescriptions": [
            "Defaults to `INCREMENTAL`.",
            "Inserts new documents or updates existing documents.",
            "Calculates diff and replaces the entire document dataset. Existing documents may be deleted if they are not present in the source location. When using this mode, there won't be any downtime on the dataset targeted. Any document that should remain unchanged or that should be updated will continue serving while the operation is running."
          ]
        },
        "spannerSource": {
          "description": "Spanner input source.",
          "$ref": "GoogleCloudDiscoveryengineV1SpannerSource"
        },
        "idField": {
          "type": "string",
          "description": "The field indicates the ID field or column to be used as unique IDs of the documents. For GcsSource it is the key of the JSON field. For instance, `my_id` for JSON `{\"my_id\": \"some_uuid\"}`. For others, it may be the column name of the table where the unique ids are stored. The values of the JSON field or the table column are used as the Document.ids. The JSON field or the table column must be of string type, and the values must be set as valid strings conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with 1-63 characters. Otherwise, documents without valid IDs fail to be imported. Only set this field when auto_generate_ids is unset or set as `false`. Otherwise, an INVALID_ARGUMENT error is thrown. If it is unset, a default value `_id` is used when importing from the allowed data sources. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * BigtableSource."
        },
        "fhirStoreSource": {
          "description": "FhirStore input source.",
          "$ref": "GoogleCloudDiscoveryengineV1FhirStoreSource"
        },
        "updateMask": {
          "description": "Indicates which fields in the provided imported documents to update. If not set, the default is to update all fields.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "autoGenerateIds": {
          "description": "Whether to automatically generate IDs for the documents if absent. If set to `true`, Document.ids are automatically generated based on the hash of the payload, where IDs may not be consistent during multiple imports. In which case ReconciliationMode.FULL is highly recommended to avoid duplicate contents. If unset or set to `false`, Document.ids have to be specified using id_field, otherwise, documents without IDs fail to be imported. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * FirestoreSource. * BigtableSource.",
          "type": "boolean"
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource"
        },
        "inlineSource": {
          "description": "The Inline source for the input content for documents.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportDocumentsRequestInlineSource"
        },
        "alloyDbSource": {
          "description": "AlloyDB input source.",
          "$ref": "GoogleCloudDiscoveryengineV1AlloyDbSource"
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "firestoreSource": {
          "description": "Firestore input source.",
          "$ref": "GoogleCloudDiscoveryengineV1FirestoreSource"
        },
        "bigquerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudDiscoveryengineV1BigQuerySource"
        },
        "forceRefreshContent": {
          "description": "Optional. Whether to force refresh the unstructured content of the documents. If set to `true`, the content part of the documents will be refreshed regardless of the update status of the referencing content.",
          "type": "boolean"
        },
        "bigtableSource": {
          "description": "Cloud Bigtable input source.",
          "$ref": "GoogleCloudDiscoveryengineV1BigtableSource"
        },
        "cloudSqlSource": {
          "description": "Cloud SQL input source.",
          "$ref": "GoogleCloudDiscoveryengineV1CloudSqlSource"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCondition": {
      "id": "GoogleCloudDiscoveryengineV1alphaCondition",
      "type": "object",
      "properties": {
        "activeTimeRange": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConditionTimeRange"
          },
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges.",
          "type": "array"
        },
        "queryTerms": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm"
          },
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms.",
          "type": "array"
        },
        "queryRegex": {
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls.",
          "type": "string"
        }
      },
      "description": "Defines circumstances to be checked before allowing a behavior"
    },
    "GoogleCloudDiscoveryengineV1TransactionInfo": {
      "id": "GoogleCloudDiscoveryengineV1TransactionInfo",
      "type": "object",
      "properties": {
        "tax": {
          "type": "number",
          "description": "All the taxes associated with the transaction.",
          "format": "float"
        },
        "transactionId": {
          "type": "string",
          "description": "The transaction ID with a length limit of 128 characters."
        },
        "cost": {
          "type": "number",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost",
          "format": "float"
        },
        "currency": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code."
        },
        "value": {
          "format": "float",
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include.",
          "type": "number"
        },
        "discountValue": {
          "format": "float",
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost",
          "type": "number"
        }
      },
      "description": "A transaction represents the entire purchase transaction."
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse": {
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse",
      "type": "object",
      "properties": {
        "purgeCount": {
          "format": "int64",
          "description": "Number of suggestion deny list entries purged.",
          "type": "string"
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec",
      "type": "object",
      "properties": {
        "mode": {
          "description": "The personalization mode of the search request. Defaults to Mode.AUTO.",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Mode.AUTO.",
            "Personalization is enabled if data quality requirements are met.",
            "Disable personalization."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "DISABLED"
          ],
          "type": "string"
        }
      },
      "description": "The specification for personalization."
    },
    "GoogleCloudDiscoveryengineV1betaProvisionProjectMetadata": {
      "description": "Metadata associated with a project provision operation.",
      "id": "GoogleCloudDiscoveryengineV1betaProvisionProjectMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment",
      "type": "object",
      "properties": {
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "content": {
          "description": "Extractive segment content.",
          "type": "string"
        }
      },
      "description": "Extractive segment. [Guide](https://cloud.google.com/generative-ai-app-builder/docs/snippets#extractive-segments) Answer generation will only use it if document_contexts is empty. This is supposed to be shorter snippets."
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "type": "object",
      "properties": {
        "recommendedForYouConfig": {
          "description": "Recommended for you engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig"
        },
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        }
      },
      "description": "More feature configs of the selected engine type."
    },
    "GoogleCloudDiscoveryengineV1ControlFilterAction": {
      "id": "GoogleCloudDiscoveryengineV1ControlFilterAction",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. A filter to apply on the matching condition results. Required Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "dataStore": {
          "type": "string",
          "description": "Required. Specifies which data store's documents can be filtered by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store"
        }
      },
      "description": "Specified which products may be included in results. Uses same filter as boost."
    },
    "GoogleCloudDiscoveryengineV1ObservabilityConfig": {
      "description": "Observability config for a resource.",
      "id": "GoogleCloudDiscoveryengineV1ObservabilityConfig",
      "type": "object",
      "properties": {
        "observabilityEnabled": {
          "type": "boolean",
          "description": "Optional. Enables observability. If `false`, all other flags are ignored."
        },
        "sensitiveLoggingEnabled": {
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields.",
          "type": "boolean"
        }
      }
    },
    "A2aV1SendMessageConfiguration": {
      "id": "A2aV1SendMessageConfiguration",
      "type": "object",
      "properties": {
        "pushNotification": {
          "description": "A configuration of a webhook that can be used to receive updates",
          "$ref": "A2aV1PushNotificationConfig"
        },
        "blocking": {
          "description": "If true, the message will be blocking until the task is completed. If false, the message will be non-blocking and the task will be returned immediately. It is the caller's responsibility to check for any task updates.",
          "type": "boolean"
        },
        "historyLength": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of messages to include in the history. if 0, the history will be unlimited."
        },
        "acceptedOutputModes": {
          "description": "The output modes that the agent is expected to respond with.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Configuration of a send message request."
    },
    "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata": {
      "description": "Metadata associated with a project provision operation.",
      "id": "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaDataStore": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataStore",
      "type": "object",
      "properties": {
        "aclEnabled": {
          "type": "boolean",
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config."
        },
        "documentProcessingConfig": {
          "description": "Configuration for Document understanding and enrichment.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
        },
        "industryVertical": {
          "description": "Immutable. The industry vertical that the data store registers.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "type": "string"
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig"
        },
        "configurableBillingApproach": {
          "type": "string",
          "description": "Optional. Configuration for configurable billing approach. See",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ],
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ]
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
        },
        "isInfobotFaqDataStore": {
          "type": "boolean",
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore."
        },
        "workspaceConfig": {
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig"
        },
        "defaultSchemaId": {
          "description": "Output only. The id of the default Schema associated to this data store.",
          "type": "string",
          "readOnly": true
        },
        "languageInfo": {
          "description": "Language info for DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaLanguageInfo"
        },
        "contentConfig": {
          "type": "string",
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ],
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "cmekConfig": {
          "readOnly": true,
          "description": "Output only. CMEK-related information for the DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the DataStore was created at."
        },
        "advancedSiteSearchConfig": {
          "description": "Optional. Configuration for advanced site search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedSiteSearchConfig"
        },
        "identityMappingStore": {
          "type": "string",
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "configurableBillingApproachUpdateTime": {
          "description": "Output only. The timestamp when configurable_billing_approach was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "billingEstimation": {
          "description": "Output only. Data size estimation for billing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreBillingEstimation",
          "readOnly": true
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "description": "Optional. Configuration for Natural Language Query Understanding.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for the data store.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicy"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field."
        },
        "solutionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ],
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ]
          },
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "type": "array"
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig"
        },
        "idpConfig": {
          "readOnly": true,
          "description": "Output only. Data store level identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig"
        },
        "servingConfigDataStore": {
          "description": "Optional. Stores serving config at DataStore level.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreServingConfigDataStore"
        }
      },
      "description": "DataStore captures global settings and configs at the DataStore level."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata for Create Schema LRO."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Uri of the document.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the document."
        }
      },
      "description": "Document metadata contains the information of the document of the current chunk."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec",
      "type": "object",
      "properties": {
        "boostSpec": {
          "description": "Optional. Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec"
        },
        "customSearchOperators": {
          "description": "Optional. Custom search operators which if specified will be used to filter results from workspace data stores. For more information on custom search operators, see [SearchOperators](https://support.google.com/cloudsearch/answer/6172299).",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. The path must include the project number, project id is not supported for this field."
        },
        "numResults": {
          "description": "Optional. The maximum number of results to retrieve from this data store. If not specified, it will use the SearchRequest.num_results_per_data_store if provided, otherwise there is no limit. If both this field and SearchRequest.num_results_per_data_store are specified, this field will be used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A struct to define data stores to filter on in a search call and configurations for those data stores. Otherwise, an `INVALID_ARGUMENT` error is returned."
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure": {
      "description": "Failed due to insufficient quota.",
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure",
      "type": "object",
      "properties": {
        "totalRequiredQuota": {
          "description": "This number is an estimation on how much total quota this project needs to successfully complete indexing.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "A2aV1AgentCardSignature": {
      "id": "A2aV1AgentCardSignature",
      "type": "object",
      "properties": {
        "protected": {
          "description": "Required. The protected JWS header for the signature. This is always a base64url-encoded JSON object. Required.",
          "type": "string"
        },
        "signature": {
          "description": "Required. The computed signature, base64url-encoded. Required.",
          "type": "string"
        },
        "header": {
          "description": "The unprotected JWS header values.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "AgentCardSignature represents a JWS signature of an AgentCard. This follows the JSON format of an RFC 7515 JSON Web Signature (JWS)."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec": {
      "description": "A specification for configuring a summary returned in a search response.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec",
      "type": "object",
      "properties": {
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec"
        },
        "summaryResultCount": {
          "format": "int32",
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "type": "integer"
        },
        "includeCitations": {
          "type": "boolean",
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results."
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "multimodalSpec": {
          "description": "Optional. Multimodal specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec"
        },
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "ignoreJailBreakingQuery": {
          "type": "boolean",
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead."
        },
        "useSemanticChunks": {
          "type": "boolean",
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list."
        },
        "ignoreLowRelevantContent": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers."
        },
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSiteMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint": {
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
      "type": "object",
      "properties": {
        "fieldName": {
          "description": "Name of the string field as defined in the schema.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Values of the string field. The record will only be returned if the field value matches one of the values specified here.",
          "type": "array"
        },
        "querySegment": {
          "description": "Identifies the keywords within the search query that match a filter.",
          "type": "string"
        }
      },
      "description": "Constraint expression of a string field."
    },
    "GoogleCloudDiscoveryengineV1ListDocumentsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ListDocumentsResponse",
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "description": "The Documents.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Document"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for DocumentService.ListDocuments method."
    },
    "GoogleCloudDiscoveryengineV1alphaControlRedirectAction": {
      "id": "GoogleCloudDiscoveryengineV1alphaControlRedirectAction",
      "type": "object",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      },
      "description": "Redirects a shopper to the provided URI."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryResponse": {
      "description": "Response message for ConversationalSearchService.AnswerQuery method.",
[...]
