{
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "in",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/"
    }
  ],
  "revision": "20260322",
  "discoveryVersion": "v1",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "provision": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`."
            }
          },
          "id": "discoveryengine.projects.provision",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite"
          ],
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1ProvisionProjectRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "flatPath": "v1/projects/{projectsId}:provision",
          "httpMethod": "POST",
          "path": "v1/{+name}:provision"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "setUpDataConnectorV2": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
              },
              "parameters": {
                "collectionDisplayName": {
                  "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "collectionId": {
                  "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setUpDataConnectorV2",
              "id": "discoveryengine.projects.locations.setUpDataConnectorV2",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "path": "v1/{+parent}:setUpDataConnectorV2",
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method."
            },
            "getAclConfig": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$"
                }
              },
              "description": "Gets the AclConfig.",
              "id": "discoveryengine.projects.locations.getAclConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "httpMethod": "GET"
            },
            "getCmekConfig": {
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the CmekConfig.",
              "id": "discoveryengine.projects.locations.getCmekConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfig"
            },
            "updateAclConfig": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "id": "discoveryengine.projects.locations.updateAclConfig"
            },
            "setUpDataConnector": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1SetUpDataConnectorRequest"
              },
              "path": "v1/{+parent}:setUpDataConnector",
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "parameterOrder": [
                "parent"
              ],
              "id": "discoveryengine.projects.locations.setUpDataConnector",
              "parameters": {
                "parent": {
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setUpDataConnector",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "updateCmekConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "path": "v1/{+name}",
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "parameters": {
                "setDefault": {
                  "location": "query",
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
              },
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          },
          "resources": {
            "userStores": {
              "resources": {
                "licenseConfigsUsageStats": {
                  "methods": {
                    "list": {
                      "description": "Lists all the LicenseConfigUsageStatss associated with the project.",
                      "id": "discoveryengine.projects.locations.userStores.licenseConfigsUsageStats.list",
                      "path": "v1/{+parent}/licenseConfigsUsageStats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/licenseConfigsUsageStats",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListLicenseConfigsUsageStatsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/userStores/{user_store_id}`."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "userLicenses": {
                  "methods": {
                    "list": {
                      "id": "discoveryengine.projects.locations.userStores.userLicenses.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListUserLicenses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLicenses` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. The order in which the UserLicenses are listed. The value must be a comma-separated list of fields. Default sorting order is ascending. To specify descending order for a field, append a \" desc\" suffix. Redundant space characters in the syntax are insignificant. Supported fields (only `user_principal` is supported for now): * `user_principal` If not set, the default ordering is by `user_principal`. Examples: * `user_principal` to order by `user_principal` in ascending order. * `user_principal desc` to order by `user_principal` in descending order.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, defaults to 10. The maximum value is 50; values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT error is returned."
                        }
                      },
                      "description": "Lists the User Licenses.",
                      "path": "v1/{+parent}/userLicenses",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/userLicenses",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListUserLicensesResponse"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.userStores.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the User Store to get. Format: `projects/{project}/locations/{location}/userStores/{user_store_id}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets the User Store.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  },
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserStore"
                  },
                  "description": "Updates the User Store.",
                  "id": "discoveryengine.projects.locations.userStores.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ]
                },
                "batchUpdateUserLicenses": {
                  "description": "Updates the User License. This method is used for batch assign/unassign licenses to users.",
                  "path": "v1/{+parent}:batchUpdateUserLicenses",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequest"
                  },
                  "id": "discoveryengine.projects.locations.userStores.batchUpdateUserLicenses",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}:batchUpdateUserLicenses",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            },
            "userEvents": {
              "methods": {
                "write": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "description": "Writes a single user event.",
                  "id": "discoveryengine.projects.locations.userEvents.write",
                  "parameters": {
                    "writeAsync": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, the user event is written asynchronously after validation, and the API responds without waiting for the write."
                    },
                    "parent": {
                      "description": "Required. The parent resource name. If the write user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the write user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:write",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
                  },
                  "path": "v1/{+parent}/userEvents:write"
                },
                "collect": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.userEvents.collect",
                  "parameters": {
                    "ets": {
                      "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                      "type": "string",
                      "location": "query",
                      "format": "int64"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name. If the collect user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the collect user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "location": "path"
                    },
                    "userEvent": {
                      "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "uri": {
                      "type": "string",
                      "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for third-party requests.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:collect",
                  "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a third-party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly.",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "path": "v1/{+parent}/userEvents:collect",
                  "httpMethod": "GET"
                },
                "import": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1ImportUserEventsRequest"
                  },
                  "id": "discoveryengine.projects.locations.userEvents.import",
                  "path": "v1/{+parent}/userEvents:import",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:import",
                  "description": "Bulk import of user events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata."
                }
              }
            },
            "licenseConfigs": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/licenseConfigs/{licenseConfigsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "description": "Gets a LicenseConfig.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1LicenseConfig"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/licenseConfigs/[^/]+$",
                      "description": "Required. Full resource name of LicenseConfig, such as `projects/{project}/locations/{location}/licenseConfigs/*`. If the caller does not have permission to access the LicenseConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested LicenseConfig does not exist, a NOT_FOUND error is returned."
                    }
                  },
                  "id": "discoveryengine.projects.locations.licenseConfigs.get"
                },
                "create": {
                  "id": "discoveryengine.projects.locations.licenseConfigs.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/licenseConfigs",
                  "path": "v1/{+parent}/licenseConfigs",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1LicenseConfig"
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1LicenseConfig"
                  },
                  "description": "Creates a LicenseConfig This method should only be used for creating NotebookLm licenses or Gemini Enterprise free trial licenses.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "licenseConfigId": {
                      "description": "Optional. The ID to use for the LicenseConfig, which will become the final component of the LicenseConfig's resource name. We are using the tier (product edition) name as the license config id such as `search` or `search_and_assistant`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "id": "discoveryengine.projects.locations.licenseConfigs.patch",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1LicenseConfig"
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1LicenseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/licenseConfigs/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Indicates which fields in the provided LicenseConfig to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/licenseConfigs/{licenseConfigsId}",
                  "description": "Updates the LicenseConfig",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "collections": {
              "resources": {
                "dataConnector": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataConnector.operations.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector/operations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector/operations/{operationsId}"
                        },
                        "list": {
                          "path": "v1/{+name}/operations",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list page token."
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "The standard list filter."
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "The standard list page size.",
                              "type": "integer",
                              "location": "query"
                            },
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                              "type": "string",
                              "description": "The name of the operation's parent resource."
                            },
                            "returnPartialSuccess": {
                              "location": "query",
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "type": "boolean"
                            }
                          },
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataConnector.operations.list",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "get": {
                      "id": "discoveryengine.projects.locations.collections.operations.get",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations/{operationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list filter."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The standard list page size."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.operations.list",
                      "httpMethod": "GET"
                    }
                  }
                },
                "dataStores": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to delete the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the DataStore to delete does not exist, a NOT_FOUND error is returned.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "description": "Deletes a DataStore.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "disableCmek": {
                          "location": "query",
                          "type": "boolean",
                          "description": "DataStore without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well."
                        },
                        "dataStoreId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the DataStore, which will become the final component of the DataStore's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned."
                        },
                        "skipDefaultSchemaCreation": {
                          "location": "query",
                          "type": "boolean",
                          "description": "A boolean flag indicating whether to skip the default schema creation for the data store. Only enable this flag if you are certain that the default schema is incompatible with your use case. If set to true, you must manually create a schema for the data store before any documents can be ingested. This flag cannot be specified if `data_store.starting_schema` is specified."
                        },
                        "cmekConfigName": {
                          "location": "query",
                          "type": "string",
                          "description": "Resource name of the CmekConfig to use for protecting this DataStore."
                        },
                        "createAdvancedSiteSearch": {
                          "location": "query",
                          "type": "boolean",
                          "description": "A boolean flag indicating whether user want to directly create an advanced data store for site search. If the data store is not configured as site search (GENERIC vertical and PUBLIC_WEBSITE content_config), this flag will be ignored."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$"
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.create",
                      "description": "Creates a DataStore. DataStore is for storing Documents. To serve these documents for Search, or Recommendation use case, an Engine needs to be created separately.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores",
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/dataStores",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "trainCustomModel": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "path": "v1/{+dataStore}:trainCustomModel",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}:trainCustomModel",
                      "description": "Trains a custom model.",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1TrainCustomModelRequest"
                      },
                      "parameters": {
                        "dataStore": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the Data Store, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`. This field is used to identify the data store where to train the models."
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.trainCustomModel",
                      "parameterOrder": [
                        "dataStore"
                      ]
                    },
                    "getSiteSearchEngine": {
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1SiteSearchEngine"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/siteSearchEngine$",
                          "required": true,
                          "description": "Required. Resource name of SiteSearchEngine, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. If the caller does not have permission to access the [SiteSearchEngine], regardless of whether or not it exists, a PERMISSION_DENIED error is returned."
                        }
                      },
                      "httpMethod": "GET",
                      "id": "discoveryengine.projects.locations.collections.dataStores.getSiteSearchEngine",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/siteSearchEngine",
                      "path": "v1/{+name}",
                      "description": "Gets the SiteSearchEngine."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "description": "Gets a DataStore.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.dataStores.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "path": "v1/{+name}"
                    },
                    "list": {
                      "description": "Lists all the DataStores associated with the project.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "id": "discoveryengine.projects.locations.collections.dataStores.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1ListDataStoresResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection_id}`. If the caller does not have permission to list DataStores under this location, regardless of whether or not this data store exists, a PERMISSION_DENIED error is returned.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token ListDataStoresResponse.next_page_token, received from a previous DataStoreService.ListDataStores call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DataStoreService.ListDataStores must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Maximum number of DataStores to return. If unspecified, defaults to 10. The maximum allowed value is 50. Values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT is returned.",
                          "format": "int32",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Filter by solution type . For example: `filter = 'solution_type:SOLUTION_TYPE_SEARCH'`",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/dataStores"
                    },
                    "completeQuery": {
                      "description": "Completes the specified user input with keyword suggestions.",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1CompleteQueryResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}:completeQuery",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "dataStore"
                      ],
                      "parameters": {
                        "query": {
                          "location": "query",
                          "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters.",
                          "type": "string"
                        },
                        "includeTailSuggestions": {
                          "location": "query",
                          "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.",
                          "type": "boolean"
                        },
                        "dataStore": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "required": true,
                          "description": "Required. The parent data store resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`.",
                          "type": "string"
                        },
                        "userPseudoId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
                        },
                        "queryModel": {
                          "location": "query",
                          "type": "string",
                          "description": "Specifies the autocomplete data model. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "id": "discoveryengine.projects.locations.collections.dataStores.completeQuery",
                      "path": "v1/{+dataStore}:completeQuery"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite"
                      ],
                      "description": "Updates a DataStore",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1DataStore"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}",
                      "httpMethod": "PATCH",
                      "id": "discoveryengine.projects.locations.collections.dataStores.patch",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Indicates which fields in the provided DataStore to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  },
                  "resources": {
                    "widgetConfigs": {
                      "methods": {
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/widgetConfigs/{widgetConfigsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfig"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.widgetConfigs.get",
                          "parameters": {
                            "acceptCache": {
                              "type": "boolean",
                              "description": "Optional. Whether it's acceptable to load the widget config from cache. If set to true, recent changes on widget configs may take a few minutes to reflect on the end user's view. It's recommended to set to true for maturely developed widgets, as it improves widget performance. Set to false to see changes reflected in prod right away, if your widget is under development.",
                              "location": "query"
                            },
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. Full WidgetConfig resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/widgetConfigs/{widget_config_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/widgetConfigs/[^/]+$"
                            },
                            "getWidgetConfigRequestOption.turnOffCollectionComponents": {
                              "location": "query",
                              "type": "boolean",
                              "description": "Optional. Whether to turn off collection_components in WidgetConfig to reduce latency and data transmission."
                            }
                          },
                          "httpMethod": "GET",
                          "description": "Gets a WidgetConfig.",
                          "path": "v1/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ]
                        },
                        "patch": {
                          "description": "Update a WidgetConfig.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfig"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.widgetConfigs.patch",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/widgetConfigs/{widgetConfigsId}",
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfig"
                          },
                          "parameters": {
                            "name": {
                              "description": "Immutable. The full resource name of the widget config. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/widgetConfigs/{widget_config_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/widgetConfigs/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "Indicates which fields in the provided WidgetConfig to update. The following are the only supported fields: * WidgetConfig.enable_autocomplete If not set, all supported fields are updated.",
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}"
                        }
                      }
                    },
                    "servingConfigs": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The resource name of the ServingConfig to get. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets a ServingConfig. Returns a NotFound error if the ServingConfig does not exist.",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ]
                        },
                        "search": {
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "path": "v1/{+servingConfig}:search",
                          "parameters": {
                            "servingConfig": {
                              "required": true,
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:search",
                          "httpMethod": "POST",
                          "description": "Performs a search.",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchResponse"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.search",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchRequest"
                          }
                        },
                        "searchLite": {
                          "parameters": {
                            "servingConfig": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search."
                            }
                          },
                          "path": "v1/{+servingConfig}:searchLite",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "description": "Performs a search. Similar to the SearchService.Search method, but a lite version that allows API key for authentication, where OAuth and IAM checks are not required. Only public website search is supported by this method. If data stores and engines not associated with public website search are specified, a `FAILED_PRECONDITION` error is returned. This method can be used for easy onboarding without having to implement an authentication backend. However, it is strongly recommended to use SearchService.Search instead with required OAuth and IAM checks to provide better data security.",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchRequest"
                          },
                          "httpMethod": "POST",
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.searchLite",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:searchLite"
                        },
                        "answer": {
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "parameters": {
                            "servingConfig": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search."
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:answer",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.answer",
                          "description": "Answer query method.",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequest"
                          },
                          "httpMethod": "POST",
                          "path": "v1/{+servingConfig}:answer"
                        },
                        "recommend": {
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "parameters": {
                            "servingConfig": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. Full resource name of a ServingConfig: `projects/*/locations/global/collections/*/engines/*/servingConfigs/*`, or `projects/*/locations/global/collections/*/dataStores/*/servingConfigs/*` One default serving config is created along with your recommendation engine creation. The engine ID is used as the ID of the default serving config. For example, for Engine `projects/*/locations/global/collections/*/engines/my-engine`, you can use `projects/*/locations/global/collections/*/engines/my-engine/servingConfigs/my-engine` for your RecommendationService.Recommend requests."
                            }
                          },
                          "description": "Makes a recommendation, which requires a contextual user event.",
                          "httpMethod": "POST",
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.recommend",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1RecommendRequest"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:recommend",
                          "path": "v1/{+servingConfig}:recommend",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1RecommendResponse"
                          }
                        },
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.delete",
                          "description": "Deletes a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the ServingConfig to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "streamAnswer": {
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "parameters": {
                            "servingConfig": {
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "Answer query method (streaming). It takes one AnswerQueryRequest and returns multiple AnswerQueryResponse messages in a stream.",
                          "path": "v1/{+servingConfig}:streamAnswer",
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.streamAnswer",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:streamAnswer",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequest"
                          },
                          "parameterOrder": [
                            "servingConfig"
                          ]
                        },
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}",
                          "parameters": {
                            "updateMask": {
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query",
                              "description": "Indicates which fields in the provided ServingConfig to update. The following are NOT supported: * ServingConfig.name If not set, all supported fields are updated."
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`",
                              "type": "string",
                              "required": true
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.patch",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "PATCH",
                          "description": "Updates a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ]
                        },
                        "create": {
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "required": true,
                              "description": "Required. Full resource name of parent. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "type": "string",
                              "location": "path"
                            },
                            "servingConfigId": {
                              "location": "query",
                              "description": "Required. The ID to use for the ServingConfig, which will become the final component of the ServingConfig's resource name. This value should be 4-63 characters, and valid characters are /a-zA-Z0-9+/.",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a ServingConfig. Note: The Google Cloud console works only with the default serving config. Additional ServingConfigs can be created and managed only via the API. A maximum of 100 ServingConfigs are allowed in an Engine, otherwise a RESOURCE_EXHAUSTED error is returned.",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.create",
                          "path": "v1/{+parent}/servingConfigs",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          }
                        },
                        "list": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.list",
                          "description": "Lists all ServingConfigs linked to this dataStore.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ListServingConfigsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/servingConfigs",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. Maximum number of results to return. If unspecified, defaults to 100. If a value greater than 100 is provided, at most 100 results are returned.",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. Full resource name of the parent resource. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListServingConfigs` call. Provide this to retrieve the subsequent page.",
                              "type": "string",
                              "location": "query"
                            }
                          }
                        }
                      }
                    },
                    "completionSuggestions": {
                      "methods": {
                        "purge": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1/{+parent}/completionSuggestions:purge",
                          "id": "discoveryengine.projects.locations.collections.dataStores.completionSuggestions.purge",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/completionSuggestions:purge",
                          "description": "Permanently deletes all CompletionSuggestions for a DataStore.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsRequest"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "description": "Required. The parent data store resource name for which to purge completion suggestions. Follows pattern projects/*/locations/*/collections/*/dataStores/*."
                            }
                          }
                        },
                        "import": {
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The parent data store resource name for which to import customer autocomplete suggestions. Follows pattern `projects/*/locations/*/collections/*/dataStores/*`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.completionSuggestions.import",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/completionSuggestions:import",
                          "description": "Imports CompletionSuggestions for a DataStore.",
                          "path": "v1/{+parent}/completionSuggestions:import",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsRequest"
                          },
                          "httpMethod": "POST"
                        }
                      }
                    },
                    "schemas": {
                      "resources": {
                        "operations": {
                          "methods": {
                            "list": {
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite"
                              ],
                              "parameters": {
                                "returnPartialSuccess": {
                                  "location": "query",
                                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                                  "type": "boolean"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "description": "The standard list page token.",
                                  "location": "query"
                                },
                                "name": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/schemas/[^/]+$",
                                  "description": "The name of the operation's parent resource."
                                },
                                "pageSize": {
                                  "type": "integer",
                                  "location": "query",
                                  "description": "The standard list page size.",
                                  "format": "int32"
                                },
                                "filter": {
                                  "type": "string",
                                  "description": "The standard list filter.",
                                  "location": "query"
                                }
                              },
                              "id": "discoveryengine.projects.locations.collections.dataStores.schemas.operations.list",
                              "path": "v1/{+name}/operations",
                              "httpMethod": "GET",
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/schemas/{schemasId}/operations",
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              }
                            },
                            "get": {
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "id": "discoveryengine.projects.locations.collections.dataStores.schemas.operations.get",
                              "httpMethod": "GET",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/schemas/[^/]+/operations/[^/]+$",
                                  "location": "path",
                                  "description": "The name of the operation resource."
                                }
                              },
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/schemas/{schemasId}/operations/{operationsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "path": "v1/{+name}"
                            }
                          }
                        }
                      },
                      "methods": {
                        "patch": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1Schema"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Updates a Schema.",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "httpMethod": "PATCH",
[...]
