{
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "description": "Discovery Engine API.",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        }
      }
    }
  },
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "in"
    }
  ],
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "version": "v1alpha",
  "version_module": true,
  "canonicalName": "Discovery Engine",
  "basePath": "",
  "id": "discoveryengine:v1alpha",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse",
      "type": "object",
      "properties": {
        "metricUsages": {
          "description": "A list of metric usages, one for each requested resource type that has data in the requested time range.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponseMetricUsage"
          }
        }
      },
      "description": "Response for [ProjectService.QueryConfigurablePricingUsageStats] method."
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionError": {
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionError",
      "type": "object",
      "properties": {
        "languageDetectionFailed": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionErrorLanguageDetectionFailed",
          "description": "Could not detect language of the file (it may not be speech)."
        },
        "noAudioDetected": {
          "description": "No audio was detected in the input file (it may have been a video).",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionErrorNoAudioDetected"
        }
      },
      "description": "An audio file transcription specific error."
    },
    "GoogleCloudNotebooklmV1alphaShareNotebookRequest": {
      "description": "Request for NotebookService.ShareNotebook method.",
      "id": "GoogleCloudNotebooklmV1alphaShareNotebookRequest",
      "type": "object",
      "properties": {
        "accountAndRoles": {
          "items": {
            "$ref": "GoogleCloudNotebooklmV1alphaAccountAndRole"
          },
          "description": "Required. The list of accounts and roles to share the notebook with.",
          "type": "array"
        },
        "notifyViaEmail": {
          "description": "Required. Whether to notify the shared users via email.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteTargetSiteMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonIngestionError": {
      "description": "Indicates an error occurred while ingesting the source.",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonIngestionError",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics": {
      "description": "Standard characteristics of a video media view.",
      "id": "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics",
      "type": "object",
      "properties": {
        "audioCodecs": {
          "type": "array",
          "description": "Output only. Audio codecs used in the video.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "width": {
          "readOnly": true,
          "description": "Output only. Video width in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "Output only. Video height in pixels.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "frameRate": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Frame rate (frames per second)."
        },
        "videoBitrateKbps": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Bitrate of the video in kbps."
        },
        "audioBitrateKbps": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Bitrate of the audio in kbps.",
          "readOnly": true
        },
        "videoCodecs": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Video codecs used in the video."
        },
        "duration": {
          "readOnly": true,
          "description": "Output only. Video duration.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig": {
      "description": "Additional config specs for a Media Recommendation engine.",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig",
      "type": "object",
      "properties": {
        "trainingState": {
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before.",
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ]
        },
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`."
        },
        "optimizationObjectiveConfig": {
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5).",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason",
      "type": "object",
      "properties": {
        "quotaFailure": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReasonQuotaFailure",
          "description": "Failed due to insufficient quota."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpec": {
      "description": "Relevance filtering specification.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpec",
      "type": "object",
      "properties": {
        "semanticSearchThreshold": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
          "description": "Optional. Relevance filtering threshold specification for semantic search."
        },
        "keywordSearchThreshold": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
          "description": "Optional. Relevance filtering threshold specification for keyword search."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentAclInfoAccessRestriction": {
      "description": "AclRestriction to model complex inheritance restrictions. Example: Modeling a \"Both Permit\" inheritance, where to access a child document, user needs to have access to parent document. Document Hierarchy - Space_S --> Page_P. Readers: Space_S: group_1, user_1 Page_P: group_2, group_3, user_2 Space_S ACL Restriction - { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ] } ] } } Page_P ACL Restriction. { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_2\" }, { \"group_id\": \"group_3\" }, { \"user_id\": \"user_2\" } ], }, { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ], } ] } }",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentAclInfoAccessRestriction",
      "type": "object",
      "properties": {
        "idpWide": {
          "description": "All users within the Identity Provider.",
          "type": "boolean"
        },
        "principals": {
          "type": "array",
          "description": "List of principals.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaPrincipal"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "description": "Custom threshold for `cvr` optimization_objective.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "type": "object",
      "properties": {
        "targetFieldValueFloat": {
          "type": "number",
          "format": "float",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5)."
        },
        "targetField": {
          "type": "string",
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
      "type": "object",
      "properties": {
        "queryClassificationInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo"
          },
          "type": "array",
          "description": "Query classification information."
        }
      },
      "description": "Query understanding information."
    },
    "GoogleCloudDiscoveryengineV1alphaStreamAssistRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequest",
      "type": "object",
      "properties": {
        "query": {
          "description": "Optional. Current user query. Empty query is only supported if `file_ids` are provided. In this case, the answer will be generated based on those context files.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQuery"
        },
        "userMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistUserMetadata",
          "description": "Optional. Information about the user initiating the query."
        },
        "toolsSpec": {
          "description": "Optional. Specification of tools that are used to serve the request.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestToolsSpec"
        },
        "session": {
          "type": "string",
          "description": "Optional. The session to use for the request. If specified, the assistant has access to the session history, and the query and the answer are stored there. If `-` is specified as the session ID, or it is left empty, then a new session is created with an automatically generated ID. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}`"
        },
        "actionSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestActionSpec",
          "description": "Optional. Specification of actions for the request."
        },
        "generationSpec": {
          "description": "Optional. Specification of the generation configuration for the request.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestGenerationSpec"
        }
      },
      "description": "Request for the AssistantService.StreamAssist method."
    },
    "GoogleCloudDiscoveryengineV1alphaListFilesResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListFilesResponse",
      "type": "object",
      "properties": {
        "files": {
          "type": "array",
          "description": "The FileMetadatas.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFileMetadata"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in the ListFilesRequest.page_token field in the subsequent call to `ListFiles` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for SessionService.ListFiles method."
    },
    "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponse",
      "type": "object",
      "properties": {
        "sitemapsMetadata": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponseSitemapMetadata"
          },
          "type": "array",
          "description": "List of Sitemaps fetched."
        }
      },
      "description": "Response message for SiteSearchEngineService.FetchSitemaps method."
    },
    "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigResponse": {
      "description": "Response message for LicenseConfigService.RetractLicenseConfig method.",
      "id": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigResponse",
      "type": "object",
      "properties": {
        "licenseConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig",
          "description": "The updated LicenseConfig."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRankingRecord": {
      "id": "GoogleCloudDiscoveryengineV1alphaRankingRecord",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the record. Empty by default. At least one of title or content should be set otherwise an INVALID_ARGUMENT error is thrown."
        },
        "id": {
          "type": "string",
          "description": "The unique ID to represent the record."
        },
        "title": {
          "description": "The title of the record. Empty by default. At least one of title or content should be set otherwise an INVALID_ARGUMENT error is thrown.",
          "type": "string"
        },
        "score": {
          "description": "The score of this record based on the given query and selected model. The score will be rounded to 2 decimal places. If the score is close to 0, it will be rounded to 0.0001 to avoid returning unset.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Record message for RankService.Rank method."
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfig",
      "type": "object",
      "properties": {
        "realtimeSyncSecret": {
          "type": "string",
          "description": "Optional. The ID of the Secret Manager secret used for webhook secret."
        },
        "webhookUri": {
          "description": "Optional. Webhook url for the connector to specify additional params for realtime sync.",
          "type": "string"
        },
        "streamingError": {
          "description": "Optional. Streaming error details.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError"
        }
      },
      "description": "The configuration for realtime sync to store additional params for realtime sync."
    },
    "GoogleCloudDiscoveryengineV1alphaCondition": {
      "description": "Defines circumstances to be checked before allowing a behavior",
      "id": "GoogleCloudDiscoveryengineV1alphaCondition",
      "type": "object",
      "properties": {
        "queryTerms": {
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm"
          }
        },
        "activeTimeRange": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConditionTimeRange"
          },
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges.",
          "type": "array"
        },
        "queryRegex": {
          "type": "string",
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment": {
      "description": "The alert enrollment status.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment",
      "type": "object",
      "properties": {
        "alertId": {
          "type": "string",
          "description": "Immutable. The id of an alert."
        },
        "enrollState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Used for customers who have not responded to the alert policy.",
            "Customer is enrolled in this policy.",
            "Customer declined this policy."
          ],
          "description": "Required. The enrollment status of a customer.",
          "enum": [
            "ENROLL_STATE_UNSPECIFIED",
            "ENROLLED",
            "DECLINED"
          ]
        },
        "notificationParams": {
          "description": "Optional. Parameters used to instantiate a notification. Used for notifications that are triggered when registered. Not stored. * Gemini Business welcome emails. * Gemini Business user invitation emails.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig": {
      "id": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig",
      "type": "object",
      "properties": {
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor template for sanitizing assistant responses. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the assistant response.",
          "type": "string"
        },
        "failureMode": {
          "description": "Optional. Defines the failure mode for Model Armor sanitization.",
          "enum": [
            "FAILURE_MODE_UNSPECIFIED",
            "FAIL_OPEN",
            "FAIL_CLOSED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified failure mode, default behavior is `FAIL_CLOSED`.",
            "In case of a Model Armor processing failure, the request is allowed to proceed without any changes.",
            "In case of a Model Armor processing failure, the request is rejected."
          ]
        },
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor template for sanitizing user prompts. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        }
      },
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and assistant responses."
    },
    "GoogleCloudDiscoveryengineV1alphaTargetSite": {
      "description": "A target site for the SiteSearchEngine.",
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSite",
      "type": "object",
      "properties": {
        "failureReason": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason",
          "description": "Output only. Failure reason."
        },
        "exactMatch": {
          "type": "boolean",
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine."
        },
        "name": {
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated.",
          "type": "string",
          "readOnly": true
        },
        "rootDomainUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Root domain of the provided_uri_pattern."
        },
        "indexingStatus": {
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ],
          "description": "Output only. Indexing status.",
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "providedUriPattern": {
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated.",
          "type": "string"
        },
        "siteVerificationInfo": {
          "description": "Output only. Site ownership and validity verification status.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo",
          "readOnly": true
        },
        "generatedUriPattern": {
          "description": "Output only. This is system-generated based on the provided_uri_pattern.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ],
          "description": "The type of the target site, e.g., whether the site is to be included or excluded.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The target site's last updated time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec",
      "type": "object",
      "properties": {
        "imageSource": {
          "description": "Optional. Source of image returned in the answer.",
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ]
        }
      },
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision."
    },
    "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm": {
      "description": "Matcher for search request query",
      "id": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters."
        },
        "fullMatch": {
          "type": "boolean",
          "description": "Whether the search query needs to exactly match the query term."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata",
      "type": "object",
      "properties": {
        "failureCount": {
          "description": "Count of SampleQuerys that failed to be imported.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "description": "ImportSampleQueries operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of SampleQuerys successfully imported."
        },
        "totalCount": {
          "description": "Total count of SampleQuerys that were processed.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "description": "ImportSampleQueries operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the ImportSampleQueries operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaBigQuerySource": {
      "id": "GoogleCloudDiscoveryengineV1alphaBigQuerySource",
      "type": "object",
      "properties": {
        "partitionDate": {
          "$ref": "GoogleTypeDate",
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format."
        },
        "projectId": {
          "type": "string",
          "description": "The project ID or the project number that contains the BigQuery source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters."
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for user event imports: * `user_event` (default): One UserEvent per row. Supported values for document imports: * `document` (default): One Document format per row. Each document must have a valid Document.id and one of Document.json_data or Document.struct_data. * `custom`: One custom data per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical."
        },
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        }
      },
      "description": "BigQuery source import data from."
    },
    "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "description": "The layout parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "type": "object",
      "properties": {
        "enableLlmLayoutParsing": {
          "type": "boolean",
          "description": "Optional. If true, the pdf layout will be refined using an LLM."
        },
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "type": "array"
        },
        "excludeHtmlIds": {
          "type": "array",
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "excludeHtmlClasses": {
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "structuredContentTypes": {
          "type": "array",
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudNotebooklmV1alphaAccountAndRole": {
      "id": "GoogleCloudNotebooklmV1alphaAccountAndRole",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email address associated with the account.",
          "type": "string"
        },
        "role": {
          "description": "Required. The role in the notebook.",
          "enum": [
            "PROJECT_ROLE_UNKNOWN",
            "PROJECT_ROLE_OWNER",
            "PROJECT_ROLE_WRITER",
            "PROJECT_ROLE_READER",
            "PROJECT_ROLE_NOT_SHARED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown role.",
            "The user owns the project.",
            "The user has writer permissions on the project.",
            "The user has reader permissions on the project.",
            "The user has no access to the project."
          ]
        }
      },
      "description": "Account and role information."
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig": {
      "description": "The connector level alert config.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig",
      "type": "object",
      "properties": {
        "alertEnrollments": {
          "description": "Optional. The enrollment states of each alert.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment"
          }
        },
        "alertPolicyName": {
          "type": "string",
          "description": "Immutable. The fully qualified resource name of the AlertPolicy."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "type": "object",
      "properties": {
        "recommendedForYouConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
          "description": "Recommended for you engine feature config."
        },
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        }
      },
      "description": "More feature configs of the selected engine type."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSessionInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSessionInfo",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the session. If the auto-session mode is used (when SearchRequest.session ends with \"-\"), this field holds the newly generated session name."
        },
        "queryId": {
          "description": "Query ID that corresponds to this search API call. One session can have multiple turns, each with a unique query ID. By specifying the session name and this query ID in the Answer API call, the answer generation happens in the context of the search results from this search call.",
          "type": "string"
        }
      },
      "description": "Information about the session."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig": {
      "description": "Stores information for federated search.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig",
      "type": "object",
      "properties": {
        "alloyDbConfig": {
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfig"
        },
        "notebooklmConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig",
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise."
        },
        "thirdPartyOauthConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries",
      "type": "object",
      "properties": {
        "googleOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots."
        },
        "vertexAiOrganicCrawlRate": {
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        }
      },
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website."
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestEndUserSpecEndUserMetaData": {
      "description": "End user metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestEndUserSpecEndUserMetaData",
      "type": "object",
      "properties": {
        "chunkInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo",
          "description": "Chunk information."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary": {
      "description": "Summary of the top N search results specified by the summary spec.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary",
      "type": "object",
      "properties": {
        "safetyAttributes": {
          "description": "A collection of Safety Attribute categories and their associated confidence scores.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySafetyAttributes"
        },
        "summaryWithMetadata": {
          "description": "Summary with metadata information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata"
        },
        "summaryText": {
          "description": "The summary content.",
          "type": "string"
        },
        "summarySkippedReasons": {
          "items": {
            "enum": [
              "SUMMARY_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "LLM_ADDON_NOT_ENABLED",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_SUMMARY_SEEKING_QUERY_IGNORED_V2",
              "TIME_OUT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. The summary skipped reason is not specified.",
              "The adversarial query ignored case. Only used when SummarySpec.ignore_adversarial_query is set to `true`.",
              "The non-summary seeking query ignored case. Google skips the summary if the query is chit chat. Only used when SummarySpec.ignore_non_summary_seeking_query is set to `true`.",
              "The out-of-domain query ignored case. Google skips the summary if there are no high-relevance search results. For example, the data store contains facts about company A but the user query is asking questions about company B.",
              "The potential policy violation case. Google skips the summary if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The LLM addon not enabled case. Google skips the summary if the LLM addon is not enabled.",
              "The no relevant content case. Google skips the summary if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Only used when [SearchRequest.ContentSearchSpec.SummarySpec.ignore_jail_breaking_query] is set to `true`.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the summary if the query doesn't have clear intent. Only used when [SearchRequest.ContentSearchSpec.SummarySpec.ignore_non_answer_seeking_query] is set to `true`.",
              "The time out case. Google skips the summary if the time out."
            ]
          },
          "type": "array",
          "description": "Additional summary-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec": {
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec",
      "type": "object",
      "properties": {
        "numNextChunks": {
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "type": "integer",
          "format": "int32"
        },
        "numPreviousChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchLinkPromotion": {
      "id": "GoogleCloudDiscoveryengineV1SearchLinkPromotion",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title of the promotion. Maximum length: 160 characters."
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The promotion thumbnail image url."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only."
        },
        "document": {
          "type": "string",
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri."
        },
        "description": {
          "type": "string",
          "description": "Optional. The Promotion description. Maximum length: 200 characters."
        },
        "uri": {
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional.",
          "type": "string"
        }
      },
      "description": "Promotion proto includes uri and other helping information to display the promotion."
    },
    "GoogleCloudDiscoveryengineV1betaCreateEvaluationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaCreateEvaluationMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata for EvaluationService.CreateEvaluation method."
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
      "type": "object",
      "properties": {
        "searchRequest": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest",
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec"
        }
      },
      "description": "Describes the specification of the evaluation."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec",
      "type": "object",
      "properties": {
        "maxSnippetCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0."
        },
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "type": "boolean",
          "deprecated": true
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        }
      },
      "description": "A specification for configuring snippets in a search response."
    },
    "GoogleCloudDiscoveryengineV1alphaExportMetricsRequest": {
      "description": "Request message for the `ExportMetrics` method.",
      "id": "GoogleCloudDiscoveryengineV1alphaExportMetricsRequest",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaOutputConfig",
          "description": "Required. The output location of the data."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse",
      "type": "object",
      "properties": {
        "dataSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Data size in terms of bytes."
        },
        "documentCount": {
          "description": "Total number of documents.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Response of the EstimateDataSize request. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1alphaListAgentsResponse": {
      "description": "Response message for the AgentService.ListAgents method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListAgentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "agents": {
          "description": "The agents visible to the caller under the parent Assistant.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAgent"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlPromoteAction": {
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "id": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction",
      "type": "object",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Data store with which this promotion is attached to."
        },
        "searchLinkPromotion": {
          "description": "Required. Promotion attached to this action.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern",
      "type": "object",
      "properties": {
        "exactMatch": {
          "description": "Whether we infer the generated URI or use the exact provided one.",
          "type": "boolean"
        },
        "exclusive": {
          "description": "Whether the pattern is exclusive or not. If set to true, the pattern is considered exclusive. If unset or set to false, the pattern is considered inclusive by default.",
          "type": "boolean"
        },
        "providedUriPattern": {
          "description": "User provided URI pattern. For example, `foo.com/bar/*`.",
          "type": "string"
        }
      },
      "description": "URI patterns that we use to crawl."
    },
    "GoogleCloudDiscoveryengineV1alphaAgentFile": {
      "description": "Describes a file used internally by an agent as a context on each invocation.",
      "id": "GoogleCloudDiscoveryengineV1alphaAgentFile",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the file. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}/agents/{agent}/files/{file}`"
        },
        "fileName": {
          "type": "string",
          "description": "Required. The name of the file."
        },
        "mimeType": {
          "description": "Immutable. The content type of the file.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFirestoreSource": {
      "id": "GoogleCloudDiscoveryengineV1alphaFirestoreSource",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The project ID that the Cloud SQL source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "databaseId": {
          "type": "string",
          "description": "Required. The Firestore database to copy the data from with a length limit of 256 characters."
        },
        "collectionId": {
          "description": "Required. The Firestore collection (or entity) to copy the data from with a length limit of 1,500 characters.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the Firestore export to a specific Cloud Storage directory. Ensure that the Firestore service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory."
        }
      },
      "description": "Firestore source import data from."
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpec": {
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpec",
      "type": "object",
      "properties": {
        "attributeType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "controlPoints": {
          "type": "array",
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint"
          }
        },
        "fieldName": {
          "type": "string",
          "description": "Optional. The name of the field whose value will be used to determine the boost amount."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the response.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "readOnly": true
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec": {
      "description": "Boost specification to boost certain documents.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec"
          },
          "type": "array",
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFhirStoreSource": {
      "description": "Cloud FhirStore source import data from.",
      "id": "GoogleCloudDiscoveryengineV1alphaFhirStoreSource",
      "type": "object",
      "properties": {
        "fhirStore": {
          "description": "Required. The full resource name of the FHIR store to import data from, in the format of `projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}`.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the FhirStore export to a specific Cloud Storage directory."
        },
        "updateFromLatestPredefinedSchema": {
          "description": "Optional. Whether to update the DataStore schema to the latest predefined schema. If true, the DataStore schema will be updated to include any FHIR fields or resource types that have been added since the last import and corresponding FHIR resources will be imported from the FHIR store. Note this field cannot be used in conjunction with `resource_types`. It should be used after initial import.",
          "type": "boolean"
        },
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "The FHIR resource types to import. The resource types should be a subset of all [supported FHIR resource types](https://cloud.google.com/generative-ai-app-builder/docs/fhir-schema-reference#resource-level-specification). Default to all supported FHIR resource types if empty.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The Promotion description. Maximum length: 200 characters."
        },
        "uri": {
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional.",
          "type": "string"
        },
        "title": {
          "description": "Required. The title of the promotion. Maximum length: 160 characters.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The promotion thumbnail image url."
        },
        "enabled": {
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only.",
          "type": "boolean"
        },
        "document": {
          "type": "string",
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri."
        }
      },
      "description": "Promotion proto includes uri and other helping information to display the promotion."
    },
    "GoogleCloudDiscoveryengineV1alphaStartConnectorRunRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaStartConnectorRunRequest",
      "type": "object",
      "properties": {
        "syncIdentity": {
          "type": "boolean",
          "description": "If true, trigger Identity sync."
        },
        "healthcareFhirResourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "The FHIR resource types to import. The resource types should be a subset of all [supported FHIR resource types](https://cloud.google.com/generative-ai-app-builder/docs/fhir-schema-reference#resource-level-specification). Default to all supported FHIR resource types if empty.",
          "type": "array"
        },
        "entities": {
          "items": {
            "type": "string"
          },
          "description": "Specifies which Third Party Connector entities should be synced. If not specified, all entities will be synced.",
          "type": "array"
        },
        "forceRefreshContent": {
          "type": "boolean",
          "description": "Optional. Whether to force refresh the unstructured content of the documents. If set to `true`, the content part of the documents will be refreshed regardless of the update status of the referencing content."
        },
        "syncSinceTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp to indicate the point in time from which data should be synced for Streaming/Batch Data Connectors. This field is only utilized for Healthcare Connectors."
        }
      },
      "description": "Request message for DataConnectorService.StartConnectorRun method."
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaStreamAssistResponseSessionInfo": {
      "description": "Information about the session.",
      "id": "GoogleCloudDiscoveryengineV1alphaStreamAssistResponseSessionInfo",
      "type": "object",
      "properties": {
        "session": {
          "type": "string",
          "description": "Name of the newly generated or continued session. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBillingAccountLicenseConfig": {
      "description": "Information about license configs at billing account level.",
      "id": "GoogleCloudDiscoveryengineV1alphaBillingAccountLicenseConfig",
      "type": "object",
      "properties": {
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. The planed subscription end date."
        },
        "procurementEntitlementId": {
          "type": "string",
          "description": "The procurement entitlement id of the subscription."
        },
        "earlyTerminated": {
          "type": "boolean",
          "description": "Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3."
        },
        "licenseCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. The number of licenses purchased under this billing account license config."
        },
        "earlyTerminationDate": {
          "$ref": "GoogleTypeDate",
          "description": "The date when the subscription is terminated earlier than the expiration date."
        },
        "startDate": {
          "description": "Required. The subscription start date.",
          "$ref": "GoogleTypeDate"
        },
        "autoRenew": {
          "description": "Whether the BillingAccountLicenseConfig is auto renewed when it reaches the end date.",
          "type": "boolean"
        },
        "subscriptionName": {
          "type": "string",
          "description": "Output only. The corresponding SubV3 subscription name.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the billing account license config. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config}`."
        },
        "subscriptionDisplayName": {
          "type": "string",
          "description": "The subscription display name."
        },
        "state": {
          "description": "Output only. The state of the BillingAccountLicenseConfig.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "DEACTIVATING"
          ],
          "enumDescriptions": [
            "The BillingAccountLicenseConfig does not exist. Default value. Do not use.",
            "The BillingAccountLicenseConfig is active and being used.",
            "The BillingAccountLicenseConfig has expired.",
            "The BillingAccountLicenseConfig has not started yet, and its start date is in the future.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ],
          "readOnly": true,
          "type": "string"
        },
        "geminiBundle": {
          "description": "Whether the license config is for Gemini bundle.",
          "type": "boolean"
        },
        "subscriptionTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "description": "Required. The subscription tier.",
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ]
        },
        "subscriptionTerm": {
          "description": "Required. The subscription term.",
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ]
        },
        "licenseConfigDistributions": {
          "description": "A map of LicenseConfig names to the number of licenses distributed to each. The key is the full resource name of the LicenseConfig, such as `projects/{project}/locations/{location}/licenseConfigs/{license_config}`. The value is the count of licenses allocated to it.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTrainCustomModelRequest": {
      "description": "Request message for SearchTuningService.TrainCustomModel method.",
      "id": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelRequest",
      "type": "object",
      "properties": {
        "modelType": {
          "type": "string",
          "description": "Model to be trained. Supported values are: * **search-tuning**: Fine tuning the search system based on data provided."
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the data ingestion and training.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "gcsTrainingInput": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTrainCustomModelRequestGcsTrainingInput",
          "description": "Cloud Storage training input."
        },
        "modelId": {
          "type": "string",
          "description": "If not provided, a UUID will be generated."
        }
      }
    },
    "GoogleCloudNotebooklmV1alphaUserContentAgentspaceContent": {
      "description": "Agentspace content uploaded as source.",
      "id": "GoogleCloudNotebooklmV1alphaUserContentAgentspaceContent",
      "type": "object",
      "properties": {
        "documentName": {
          "description": "Optional. The full resource name of the Agentspace document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`.",
          "type": "string"
        },
        "engineName": {
          "type": "string",
          "description": "Optional. Engine to verify the permission of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`."
        },
        "ideaforgeIdeaName": {
          "description": "Optional. Resource name of the idea forge instance. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/ideaForgeInstances/{instance}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGenerationConfigSystemInstruction": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGenerationConfigSystemInstruction",
      "type": "object",
      "properties": {
        "additionalSystemInstruction": {
          "type": "string",
          "description": "Optional. Additional system instruction that will be added to the default system instruction."
        }
      },
      "description": "System instruction, also known as the prompt preamble for LLM calls."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec": {
      "description": "A facet specification to perform faceted search.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec",
      "type": "object",
      "properties": {
        "facetKey": {
          "description": "Required. The facet key specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey"
        },
        "limit": {
          "description": "Maximum facet values that are returned for this facet. If unspecified, defaults to 20. The maximum allowed value is 300. Values above 300 are coerced to 300. For aggregation in healthcare search, when the [FacetKey.key] is \"healthcare_aggregation_key\", the limit will be overridden to 10,000 internally, regardless of the value set here. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "excludedFilterKeys": {
          "type": "array",
          "description": "List of keys to exclude when faceting. By default, FacetKey.key is not excluded from the filter unless it is listed in this field. Listing a facet key in this field allows its values to appear as facet results, even when they are filtered out of search results. Using this field does not affect what search results are returned. For example, suppose there are 100 documents with the color facet \"Red\" and 200 documents with the color facet \"Blue\". A query containing the filter \"color:ANY(\"Red\")\" and having \"color\" as FacetKey.key would by default return only \"Red\" documents in the search results, and also return \"Red\" with count 100 as the only color facet. Although there are also blue documents available, \"Blue\" would not be shown as an available facet value. If \"color\" is listed in \"excludedFilterKeys\", then the query returns the facet values \"Red\" with count 100 and \"Blue\" with count 200, because the \"color\" key is now excluded from the filter. Because this field doesn't affect search results, the search results are still correctly filtered to return only \"Red\" documents. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "type": "string"
          }
        },
        "enableDynamicPosition": {
          "description": "Enables dynamic position for this facet. If set to true, the position of this facet among all facets in the response is determined automatically. If dynamic facets are enabled, it is ordered together. If set to false, the position of this facet in the response is the same as in the request, and it is ranked before the facets with dynamic position enable and all dynamic facets. For example, you may always want to have rating facet returned in the response, but it's not necessarily to always display the rating facet at the top. In that case, you can set enable_dynamic_position to true so that the position of rating facet in response is determined automatically. Another example, assuming you have the following facets in the request: * \"rating\", enable_dynamic_position = true * \"price\", enable_dynamic_position = false * \"brands\", enable_dynamic_position = false And also you have a dynamic facets enabled, which generates a facet `gender`. Then the final order of the facets in the response can be (\"price\", \"brands\", \"rating\", \"gender\") or (\"price\", \"brands\", \"gender\", \"rating\") depends on how API orders \"gender\" and \"rating\" facets. However, notice that \"price\" and \"brands\" are always ranked at first and second position because their enable_dynamic_position is false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryReferenceChunkContent": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryReferenceChunkContent",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        },
        "blobAttachmentIndexes": {
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Output only. Stores indexes of blobattachments linked to this chunk."
        }
      },
      "description": "Chunk content."
    },
    "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
      "type": "object",
      "properties": {
        "contextEventType": {
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`.",
          "type": "string"
        }
      },
      "description": "Additional feature configurations for creating a `recommended-for-you` engine."
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig": {
      "description": "Customer provided configurations.",
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig",
      "type": "object",
      "properties": {
        "notebooklmConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig",
          "description": "Optional. Configuration for NotebookLM settings."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListIdentityMappingsResponse": {
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1alphaListIdentityMappingsResponse",
      "type": "object",
      "properties": {
        "identityMappingEntries": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntry"
          },
          "description": "The Identity Mapping Entries.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Collection": {
      "id": "GoogleCloudDiscoveryengineV1Collection",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "displayName": {
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp the Collection was created at.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Collection is a container for configuring resources and access to a set of DataStores."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReference",
      "type": "object",
      "properties": {
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata",
          "description": "Document metadata."
        },
        "content": {
          "type": "string",
          "description": "Referenced text content."
        }
      },
      "description": "Referenced content and related document metadata."
    },
    "GoogleCloudDiscoveryengineV1alphaFactChunk": {
      "description": "Fact Chunk.",
      "id": "GoogleCloudDiscoveryengineV1alphaFactChunk",
      "type": "object",
      "properties": {
        "index": {
          "description": "The index of this chunk. Currently, only used for the streaming mode.",
          "type": "integer",
          "format": "int32"
        },
        "source": {
          "type": "string",
          "description": "Source from which this fact chunk was retrieved. If it was retrieved from the GroundingFacts provided in the request then this field will contain the index of the specific fact from which this chunk was retrieved."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the source."
        },
        "chunkText": {
          "description": "Text content of the fact chunk. Can be at most 10K characters long.",
          "type": "string"
        },
        "sourceMetadata": {
          "type": "object",
          "description": "More fine-grained information for the source reference.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "title": {
          "description": "The title of the source.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The domain of the source."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCompleteExternalIdentitiesResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaCompleteExternalIdentitiesResponse",
      "type": "object",
      "properties": {
        "externalIdentities": {
          "description": "The list of external identities that match the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaExternalIdentity"
          }
        }
      },
      "description": "Response message for CompletionService.CompleteExternalIdentities."
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse",
      "type": "object",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "userLicenses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          },
          "type": "array",
          "description": "UserLicenses successfully updated."
        }
      },
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method."
    },
    "GoogleCloudDiscoveryengineV1alphaListAssistantsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListAssistantsResponse",
      "type": "object",
      "properties": {
        "assistants": {
          "type": "array",
          "description": "All the customer's Assistants.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistant"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAssistantsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the AssistantService.ListAssistants method."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec": {
      "description": "Specifies features for display, like match highlighting.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec",
      "type": "object",
      "properties": {
        "matchHighlightingCondition": {
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "description": "The condition under which match highlighting should occur.",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineCommonConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineCommonConfig",
      "type": "object",
      "properties": {
        "companyName": {
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.",
          "type": "string"
        }
      },
      "description": "Common configurations for an Engine."
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequest": {
      "description": "Request message for EstimateBillingService.EstimateDataSize method",
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequest",
      "type": "object",
      "properties": {
        "websiteDataSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSource",
          "description": "Website data."
        },
        "fileDataSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestFileDataSource",
          "description": "Structured or unstructured data."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCompletionInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaCompletionInfo",
      "type": "object",
      "properties": {
        "selectedSuggestion": {
          "type": "string",
          "description": "End user selected CompleteQueryResponse.QuerySuggestion.suggestion."
        },
        "selectedPosition": {
          "type": "integer",
          "format": "int32",
          "description": "End user selected CompleteQueryResponse.QuerySuggestion.suggestion position, starting from 0."
        }
      },
      "description": "Detailed completion information including completion attribution token and clicked completion info."
    },
    "GoogleCloudDiscoveryengineV1alphaControlFilterAction": {
      "description": "Specified which products may be included in results. Uses same filter as boost.",
      "id": "GoogleCloudDiscoveryengineV1alphaControlFilterAction",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. A filter to apply on the matching condition results. Required Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be filtered by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpec",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition under which search as you type should occur. Default to Condition.DISABLED.",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "AUTO"
          ],
          "type": "string",
          "enumDescriptions": [
            "Server behavior defaults to Condition.DISABLED.",
            "Disables Search As You Type.",
            "Enables Search As You Type.",
            "Automatic switching between search-as-you-type and standard search modes, ideal for single-API implementations (e.g., debouncing)."
          ]
        }
      },
      "description": "Specification for search as you type in search requests."
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo": {
      "description": "Unstructured document information.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo",
      "type": "object",
      "properties": {
        "extractiveAnswers": {
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer"
          },
          "type": "array",
          "description": "Deprecated: This field is deprecated and will have no effect on the Answer generation. Please use document_contexts and extractive_segments fields. List of extractive answers."
        },
        "extractiveSegments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment"
          },
          "description": "List of extractive segments.",
          "type": "array"
        },
        "documentContexts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
          },
          "description": "List of document contexts. The content will be used for Answer Generation. This is supposed to be the main content of the document that can be long and comprehensive.",
          "type": "array"
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListCollectionsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListCollectionsResponse",
      "type": "object",
      "properties": {
        "collections": {
          "type": "array",
          "description": "The Collections.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCollection"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListCollectionsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for CollectionService.ListCollections method."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint": {
      "description": "Constraint expression of a string field.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
      "type": "object",
      "properties": {
        "values": {
          "description": "Values of the string field. The record will only be returned if the field value matches one of the values specified here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fieldName": {
          "type": "string",
          "description": "Name of the string field as defined in the schema."
        },
        "querySegment": {
          "type": "string",
          "description": "Identifies the keywords within the search query that match a filter."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentFile": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentFile",
      "type": "object",
      "properties": {
        "fileId": {
          "description": "Required. The file ID.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The media type (MIME type) of the file.",
          "type": "string"
        }
      },
      "description": "A file, e.g., an audio summary."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams": {
      "description": "Configuration parameters for the Custom Ranking feature.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams",
      "type": "object",
      "properties": {
        "expressionsToPrecompute": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec": {
      "description": "Describes the specification of the query set.",
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec",
      "type": "object",
      "properties": {
        "sampleQuerySet": {
          "type": "string",
[...]
