{
  "canonicalName": "Discovery Engine",
  "title": "Discovery Engine API",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "",
  "id": "discoveryengine:v1beta",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "discoveryengine",
  "revision": "20260418",
  "ownerName": "Google",
  "basePath": "",
  "description": "Discovery Engine API.",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaPurgeIdentityMappingsRequestInlineSource": {
      "properties": {
        "identityMappingEntries": {
          "description": "A maximum of 10000 entries can be purged at one time",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntry"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeIdentityMappingsRequestInlineSource",
      "description": "The inline source to purge identity mapping entries from.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation": {
      "description": "Estimation of data size per data store.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation",
      "properties": {
        "unstructuredDataUpdateTime": {
          "description": "Last updated timestamp for unstructured data.",
          "type": "string",
          "format": "google-datetime"
        },
        "structuredDataSize": {
          "description": "Data size for structured data in terms of bytes.",
          "type": "string",
          "format": "int64"
        },
        "websiteDataSize": {
          "description": "Data size for websites in terms of bytes.",
          "type": "string",
          "format": "int64"
        },
        "structuredDataUpdateTime": {
          "format": "google-datetime",
          "description": "Last updated timestamp for structured data.",
          "type": "string"
        },
        "websiteDataUpdateTime": {
          "description": "Last updated timestamp for websites.",
          "type": "string",
          "format": "google-datetime"
        },
        "unstructuredDataSize": {
          "format": "int64",
          "description": "Data size for unstructured data in terms of bytes.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "properties": {
        "attributeValue": {
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig": {
      "description": "Configuration data for advance site search.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig",
      "properties": {
        "disableInitialIndex": {
          "description": "If set true, initial indexing is disabled for the DataStore.",
          "type": "boolean"
        },
        "disableAutomaticRefresh": {
          "description": "If set true, automatic refresh is disabled for the DataStore.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec",
      "properties": {
        "maxCount": {
          "format": "int32",
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "type": "integer"
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ],
          "description": "Mode to use for documents that are crowded away.",
          "type": "string"
        },
        "field": {
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive.",
          "type": "string"
        }
      },
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec": {
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ],
          "description": "Mode to use for documents that are crowded away.",
          "type": "string"
        },
        "maxCount": {
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "type": "integer",
          "format": "int32"
        },
        "field": {
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec",
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultChunkInfo": {
      "description": "Chunk information.",
      "type": "object",
      "properties": {
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "relevanceScore": {
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "type": "number"
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultChunkInfo"
    },
    "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion": {
      "description": "Suggestions as search queries.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion",
      "properties": {
        "completableFieldPaths": {
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSessionTurn": {
      "description": "Represents a turn, including a query from the user and a answer from service.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSessionTurn",
      "properties": {
        "detailedAssistAnswer": {
          "readOnly": true,
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting assistant session.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswer"
        },
        "answer": {
          "description": "Optional. The resource name of the answer to the user query. Only set if the answer generation (/answer API call) happened in this turn.",
          "type": "string"
        },
        "query": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQuery",
          "description": "Optional. The user query. May not be set if this turn is merely regenerating an answer to a different turn"
        },
        "queryConfig": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Represents metadata related to the query config, for example LLM model and version used, model parameters (temperature, grounding parameters, etc.). The prefix \"google.\" is reserved for Google-developed functionality.",
          "type": "object"
        },
        "detailedAnswer": {
          "readOnly": true,
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting answer query session.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswer"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig": {
      "description": "Config to data store for `HEALTHCARE_FHIR` vertical.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaHealthcareFhirConfig",
      "properties": {
        "initialFilterGroups": {
          "description": "Optional. Names of the Group resources to use as a basis for the initial patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableConfigurableSchema": {
          "description": "Whether to enable configurable schema for `HEALTHCARE_FHIR` vertical. If set to `true`, the predefined healthcare fhir schema can be extended for more customized searching and filtering.",
          "type": "boolean"
        },
        "enableStaticIndexingForBatchIngestion": {
          "description": "Whether to enable static indexing for `HEALTHCARE_FHIR` batch ingestion. If set to `true`, the batch ingestion will be processed in a static indexing mode which is slower but more capable of handling larger volume.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse": {
      "properties": {
        "targetSites": {
          "description": "TargetSites created.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse",
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsResponse": {
      "description": "Response of the CompletionService.ImportCompletionSuggestions method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "The desired location of errors incurred during the Import."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfig": {
      "description": "Additional config specs for a Media Recommendation engine.",
      "type": "object",
      "properties": {
        "optimizationObjective": {
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`",
          "type": "string"
        },
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        },
        "type": {
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`.",
          "type": "string"
        },
        "optimizationObjectiveConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5)."
        },
        "trainingState": {
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ],
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfig"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitation": {
      "description": "Citation info for a segment.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitation",
      "properties": {
        "startIndex": {
          "description": "Index indicates the start of the segment, measured in bytes/unicode.",
          "type": "string",
          "format": "int64"
        },
        "endIndex": {
          "format": "int64",
          "description": "End of the attributed segment, exclusive.",
          "type": "string"
        },
        "sources": {
          "description": "Citation sources for the attributed segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitationSource"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries": {
      "description": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set.",
      "type": "object",
      "properties": {
        "userTriggeredCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users."
        },
        "autoRefreshCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "autoRefreshCrawlErrorRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's error rate time series of auto-refresh dedicated crawl."
        },
        "userTriggeredCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of user triggered dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries"
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateResponse",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Errors from service when handling the request."
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the response."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistRequest": {
      "description": "Request for the AssistantService.StreamAssist method.",
      "type": "object",
      "properties": {
        "query": {
          "description": "Optional. Current user query. Empty query is only supported if `file_ids` are provided. In this case, the answer will be generated based on those context files.",
          "$ref": "GoogleCloudDiscoveryengineV1betaQuery"
        },
        "userMetadata": {
          "description": "Optional. Information about the user initiating the query.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistUserMetadata"
        },
        "toolsSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpec",
          "description": "Optional. Specification of tools that are used to serve the request."
        },
        "session": {
          "description": "Optional. The session to use for the request. If specified, the assistant has access to the session history, and the query and the answer are stored there. If `-` is specified as the session ID, or it is left empty, then a new session is created with an automatically generated ID. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}`",
          "type": "string"
        },
        "generationSpec": {
          "description": "Optional. Specification of the generation configuration for the request.",
          "$ref": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestGenerationSpec"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig": {
      "properties": {
        "database": {
          "description": "Required. The AlloyDB database to connect to.",
          "type": "string"
        },
        "authMode": {
          "description": "Optional. Auth mode.",
          "type": "string",
          "enum": [
            "AUTH_MODE_UNSPECIFIED",
            "AUTH_MODE_SERVICE_ACCOUNT",
            "AUTH_MODE_END_USER_ACCOUNT"
          ],
          "enumDescriptions": [
            "",
            "Uses P4SA when VAIS talks to AlloyDB.",
            "Uses EUC when VAIS talks to AlloyDB."
          ]
        },
        "enablePsvs": {
          "description": "Optional. If true, enable PSVS for AlloyDB.",
          "type": "boolean"
        },
        "password": {
          "description": "Required. Database password. If auth_mode = END_USER_ACCOUNT, it can be unset. In that case, the password will be inferred on the AlloyDB side, based on the authenticated user.",
          "type": "string"
        },
        "user": {
          "description": "Required. Database user. If auth_mode = END_USER_ACCOUNT, it can be unset. In that case, the user will be inferred on the AlloyDB side, based on the authenticated user.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The AlloyDB instance to connect to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig",
      "description": "Configuration for connecting to AlloyDB.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata": {
      "description": "Metadata for DeleteSchema LRO.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSearchResultRankSignals": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSearchResultRankSignals",
      "properties": {
        "keywordSimilarityScore": {
          "format": "float",
          "description": "Optional. Keyword matching adjustment.",
          "type": "number"
        },
        "documentAge": {
          "format": "float",
          "description": "Optional. Age of the document in hours.",
          "type": "number"
        },
        "pctrRank": {
          "format": "float",
          "description": "Optional. Predicted conversion rate adjustment as a rank.",
          "type": "number"
        },
        "boostingFactor": {
          "description": "Optional. Combined custom boosts for a doc.",
          "type": "number",
          "format": "float"
        },
        "precomputedExpressionValues": {
          "description": "Optional. A list of precomputed expression results for a given document, in the same order as requested in `SearchRequest.custom_ranking_params.expressions_to_precompute`.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "defaultRank": {
          "description": "Optional. The default rank of the result.",
          "type": "number",
          "format": "float"
        },
        "customSignals": {
          "description": "Optional. A list of custom clearbox signals.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSearchResultRankSignalsCustomSignal"
          }
        },
        "relevanceScore": {
          "description": "Optional. Semantic relevance adjustment.",
          "type": "number",
          "format": "float"
        },
        "semanticSimilarityScore": {
          "format": "float",
          "description": "Optional. Semantic similarity adjustment.",
          "type": "number"
        },
        "topicalityRank": {
          "format": "float",
          "description": "Optional. Topicality adjustment as a rank.",
          "type": "number"
        }
      },
      "description": "A set of ranking signals.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec": {
      "description": "Describes the specification of the evaluation.",
      "type": "object",
      "properties": {
        "searchRequest": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest",
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec"
    },
    "GoogleCloudDiscoveryengineV1DataConnector": {
      "description": "Manages the connection to external data sources for all data stores grouped under a Collection. It's a singleton resource of Collection. The initialization is only supported through DataConnectorService.SetUpDataConnector method, which will create a new Collection and initialize its DataConnector.",
      "type": "object",
      "properties": {
        "connectorType": {
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "THIRD_PARTY",
            "GCP_FHIR",
            "BIG_QUERY",
            "GCS",
            "GOOGLE_MAIL",
            "GOOGLE_CALENDAR",
            "GOOGLE_DRIVE",
            "NATIVE_CLOUD_IDENTITY",
            "THIRD_PARTY_FEDERATED",
            "THIRD_PARTY_EUA",
            "GCNV",
            "GOOGLE_CHAT",
            "GOOGLE_SITES",
            "REMOTE_MCP"
          ],
          "description": "Output only. The type of connector. Each source can only map to one type. For example, salesforce, confluence and jira have THIRD_PARTY connector type. It is not mutable once set by system.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Third party connector to connector to third party application.",
            "Data connector connects between FHIR store and VAIS datastore.",
            "Big query connector.",
            "Google Cloud Storage connector.",
            "Gmail connector.",
            "Google Calendar connector.",
            "Google Drive connector.",
            "Native Cloud Identity connector for people search powered by People API.",
            "Federated connector, it is a third party connector that doesn't ingestion data, and search is powered by third party application's API.",
            "Connector utilized for End User Authentication features.",
            "Google Cloud NetApp Volumes connector.",
            "Google Chat connector.",
            "Google Sites connector.",
            "Remote MCP based connector."
          ],
          "type": "string"
        },
        "incrementalRefreshInterval": {
          "format": "google-duration",
          "description": "Optional. The refresh interval specifically for incremental data syncs. If unset, incremental syncs will use the default from env, set to 3hrs. The minimum is 30 minutes and maximum is 7 days. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. The errors from initialization or from the latest connector run.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "actionConfig": {
          "description": "Optional. Action configurations to make the connector support actions.",
          "$ref": "GoogleCloudDiscoveryengineV1ActionConfig"
        },
        "incrementalSyncDisabled": {
          "description": "Optional. Indicates whether incremental syncs are paused for this connector. This is independent of auto_run_disabled. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled, i.e. set to true.",
          "type": "boolean"
        },
        "federatedConfig": {
          "description": "Optional. Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode. This field should only be set if the connector is a hybrid connector and we want to enable FEDERATED mode.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig"
        },
        "vpcscEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the connector is created with VPC-SC enabled.",
          "type": "boolean"
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect the DataStores managed by this connector. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStores created by this connector will be protected by the KMS key.",
          "type": "string"
        },
        "identityRefreshInterval": {
          "description": "The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "deprecated": true,
          "type": "string",
          "format": "google-duration"
        },
        "identityScheduleConfig": {
          "description": "The configuration for the identity data synchronization runs. This contains the refresh interval to sync the Access Control List information for the documents ingested by this connector.",
          "$ref": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig"
        },
        "actionState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. State of the action connector. This reflects whether the action connector is initializing, active or has encountered errors.",
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "type": "string"
        },
        "createEuaSaas": {
          "description": "Optional. Whether the END USER AUTHENTICATION connector is created in SaaS.",
          "type": "boolean"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the connector.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ]
        },
        "createTime": {
          "description": "Output only. Timestamp the DataConnector was created at.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "connectorModes": {
          "description": "Optional. The modes enabled for this connector. Default state is CONNECTOR_MODE_UNSPECIFIED.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for actions.",
              "Connector utilized for federated search.",
              "Connector utilized for End User Authentication.",
              "Hybrid connector utilized for federated search and End User Authentication."
            ],
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "FEDERATED",
              "EUA",
              "FEDERATED_AND_EUA"
            ],
            "type": "string"
          }
        },
        "staticIpEnabled": {
          "description": "Optional. Whether customer has enabled static IP addresses for this connector.",
          "type": "boolean"
        },
        "hybridIngestionDisabled": {
          "description": "Optional. If the connector is a hybrid connector, determines whether ingestion is enabled and appropriate resources are provisioned during connector creation. If the connector is not a hybrid connector, this field is ignored.",
          "type": "boolean"
        },
        "alertPolicyConfigs": {
          "description": "Optional. The connector level alert config.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfig"
          }
        },
        "aclEnabled": {
          "description": "Optional. Whether the connector will be created with an ACL config. Currently this field only affects Cloud Storage and BigQuery connectors.",
          "type": "boolean"
        },
        "lastSyncTime": {
          "description": "Output only. For periodic connectors only, the last time a data sync was completed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "blockingReasons": {
          "description": "Output only. User actions that must be completed before the connector can start syncing data.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Connector requires customer to allowlist static IPs.",
              "Connector requires customer to allowlist our project in their service attachment.",
              "Connector requires customer to allowlist service account in their project."
            ],
            "enum": [
              "BLOCKING_REASON_UNSPECIFIED",
              "ALLOWLIST_STATIC_IP",
              "ALLOWLIST_IN_SERVICE_ATTACHMENT",
              "ALLOWLIST_SERVICE_ACCOUNT"
            ],
            "type": "string"
          },
          "readOnly": true
        },
        "jsonParams": {
          "description": "Required data connector parameters in json string format.",
          "type": "string"
        },
        "destinationConfigs": {
          "description": "Optional. Any target destinations used to connect to third-party services.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfig"
          }
        },
        "staticIpAddresses": {
          "readOnly": true,
          "description": "Output only. The static IP addresses used by this connector.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextSyncTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Defines the scheduled time for the next data synchronization. This field requires hour , minute, and time_zone from the [IANA Time Zone Database](https://www.iana.org/time-zones). This is utilized when the data connector has a refresh interval greater than 1 day. When the hours or minutes are not specified, we will assume a sync time of 0:00. The user must provide a time zone to avoid ambiguity."
        },
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required data connector parameters in structured json format.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
          "type": "string"
        },
        "autoRunDisabled": {
          "description": "Optional. Indicates whether the connector is disabled for auto run. It can be used to pause periodical and real time sync. Update: with the introduction of incremental_sync_disabled, auto_run_disabled is used to pause/disable only full syncs",
          "type": "boolean"
        },
        "removeParamKeys": {
          "description": "Optional. Specifies keys to be removed from the 'params' field. This is only active when 'params' is included in the 'update_mask' in an UpdateDataConnectorRequest. Deletion takes precedence if a key is both in 'remove_param_keys' and present in the 'params' field of the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endUserConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorEndUserConfig",
          "description": "Optional. Any params and credentials used specifically for EUA connectors."
        },
        "realtimeState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. real-time sync state",
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "type": "string"
        },
        "entities": {
          "description": "List of entities from the connected data source to ingest.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity"
          }
        },
        "latestPauseTime": {
          "description": "Output only. The most recent timestamp when this DataConnector was paused, affecting all functionalities such as data synchronization. Pausing a connector has the following effects: - All functionalities, including data synchronization, are halted. - Any ongoing data synchronization job will be canceled. - No future data synchronization runs will be scheduled nor can be triggered.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "bapConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfig",
          "description": "Optional. The configuration for establishing a BAP connection."
        },
        "realtimeSyncConfig": {
          "description": "Optional. The configuration for realtime sync.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig"
        },
        "updateTime": {
          "description": "Output only. Timestamp the DataConnector was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "syncMode": {
          "description": "The data synchronization mode supported by the data connector.",
          "type": "string",
          "enumDescriptions": [
            "The connector will sync data periodically based on the refresh_interval. Use it with auto_run_disabled to pause the periodic sync, or indicate a one-time sync.",
            "The data will be synced in real time.",
            "Connector that doesn't ingest data will have this value"
          ],
          "enum": [
            "PERIODIC",
            "STREAMING",
            "UNSPECIFIED"
          ]
        },
        "dynamicTools": {
          "description": "Output only. The dynamic tools fetched for this connector.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DynamicTool"
          },
          "readOnly": true
        },
        "dataSource": {
          "description": "Required. The identifier for the data source. This is a partial list of supported connectors. Please refer to the [documentation](https://docs.cloud.google.com/gemini/enterprise/docs/connectors/introduction-to-connectors-and-data-stores) for the full list of connectors. Supported first-party connectors include: * `gcs` * `bigquery` * `gcp_fhir` * `google_mail` * `google_drive` * `google_calendar` * `google_chat` Supported third-party connectors include: Generally available (GA) connectors: * `onedrive` * `outlook` * `confluence` * `jira` * `servicenow` * `sharepoint` Preview connectors: * `asana` * `azure_active_directory` * `box` * `canva` * `confluence_server` * `custom_connector` * `docusign` * `dropbox` * `dynamics365` * `github` * `gitlab` * `hubspot` * `jira_server` * `linear` * `native_cloud_identity` * `notion` * `okta` * `pagerduty` * `peoplesoft` * `salesforce` * `shopify` * `slack` * `snowflake` * `teams` * `trello` * `workday` * `zendesk`",
          "type": "string"
        },
        "cliConfig": {
          "description": "Optional. The configuration for establishing a CLI connection.",
          "$ref": "GoogleCloudDiscoveryengineV1CliConfig"
        },
        "refreshInterval": {
          "description": "Required. The refresh interval for data sync. If duration is set to 0, the data will be synced in real time. The streaming feature is not supported yet. The minimum is 30 minutes and maximum is 7 days. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "type": "string",
          "format": "google-duration"
        },
        "privateConnectivityProjectId": {
          "description": "Output only. The tenant project ID associated with private connectivity connectors. This project must be allowlisted by in order for the connector to function.",
          "type": "string",
          "readOnly": true
        },
        "egressFqdns": {
          "description": "Output only. The list of FQDNs of the data connector can egress to. This includes both FQDN derived from the customer provided instance URL and default per connector type FQDNs.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataConnector"
    },
    "GoogleCloudDiscoveryengineV1betaCheckGroundingSpec": {
      "description": "Specification for the grounding check.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCheckGroundingSpec",
      "properties": {
        "citationThreshold": {
          "description": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6.",
          "type": "number",
          "format": "double"
        },
        "enableClaimLevelScore": {
          "description": "The control flag that enables claim-level grounding score in the response.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaGcsSource": {
      "description": "Cloud Storage location for input content.",
      "type": "object",
      "properties": {
        "inputUris": {
          "description": "Required. Cloud Storage URIs to input files. Each URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files (or 100,000 files if `data_schema` is `content`). Each file can be up to 2 GB (or 100 MB if `data_schema` is `content`).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataSchema": {
          "description": "The schema to use when parsing the data from the source. Supported values for document imports: * `document` (default): One JSON Document per line. Each document must have a valid Document.id. * `content`: Unstructured data (e.g. PDF, HTML). Each file matched by `input_uris` becomes a document, with the ID set to the first 128 bits of SHA256(URI) encoded as a hex string. * `custom`: One custom data JSON per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical. * `csv`: A CSV file with header conforming to the defined Schema of the data store. Each entry after the header is imported as a Document. This can only be used by the GENERIC Data Store vertical. Supported values for user event imports: * `user_event` (default): One JSON UserEvent per line.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaGcsSource"
    },
    "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation": {
      "properties": {
        "point": {
          "description": "Optional. Location represented by a latitude/longitude point.",
          "$ref": "GoogleTypeLatLng"
        },
        "address": {
          "description": "Optional. Location represented by a natural language address. Will later be geocoded and converted to either a point or a polygon.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation",
      "description": "Precise location info with multiple representation options. Currently only latitude and longitude point is supported.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult",
      "properties": {
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "snippetInfo": {
          "description": "If citation_type is DOCUMENT_LEVEL_CITATION, populate document level snippets.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo"
          }
        },
        "structData": {
          "description": "Data representation. The structured JSON data for the document. It's populated from the struct data from the Document, or the Chunk in search result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "chunkInfo": {
          "description": "If citation_type is CHUNK_LEVEL_CITATION and chunk mode is on, populate chunk info.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultChunkInfo"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint": {
      "description": "Constraint expression of a string field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
      "properties": {
        "values": {
          "description": "Values of the string field. The record will only be returned if the field value matches one of the values specified here.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "querySegment": {
          "description": "Identifies the keywords within the search query that match a filter.",
          "type": "string"
        },
        "fieldName": {
          "description": "Name of the string field as defined in the schema.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Engine": {
      "id": "GoogleCloudDiscoveryengineV1Engine",
      "properties": {
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the Engine.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
        },
        "configurableBillingApproach": {
          "description": "Optional. Configuration for configurable billing approach.",
          "type": "string",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach. General pricing model.",
            "The billing approach follows configurations specified by customer."
          ],
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_BILLING_APPROACH_ENABLED"
          ]
        },
        "chatEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
          "description": "Configurations for the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT."
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig"
        },
        "modelConfigs": {
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "The model state is unspecified.",
              "The model is enabled by admin.",
              "The model is disabled by admin."
            ],
            "enum": [
              "MODEL_STATE_UNSPECIFIED",
              "MODEL_ENABLED",
              "MODEL_DISABLED"
            ]
          },
          "description": "Optional. Maps a model name to its specific configuration for this engine. This allows admin users to turn on/off individual models. This only stores models whose states are overridden by the admin. When the state is unspecified, or model_configs is empty for this model, the system will decide if this model should be available or not based on the default configuration. For example, a preview model should be disabled by default if the admin has not chosen to enable it.",
          "type": "object"
        },
        "name": {
          "description": "Immutable. Identifier. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "features": {
          "description": "Optional. Feature config for the engine to opt in or opt out of features. Supported keys: * `*`: all features, if it's present, all other feature state settings are ignored. * `agent-gallery` * `no-code-agent-builder` * `prompt-gallery` * `model-selector` * `notebook-lm` * `people-search` * `people-search-org-chart` * `bi-directional-audio` * `feedback` * `session-sharing` * `personalization-memory` * `personalization-suggested-highlights` * `disable-agent-sharing` * `disable-image-generation` * `disable-video-generation` * `disable-onedrive-upload` * `disable-talk-to-content` * `disable-google-drive-upload` * `disable-welcome-emails` * `disable-canvas` * `disable-canvas-workspace` * `disable-skills`",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "enum": [
              "FEATURE_STATE_UNSPECIFIED",
              "FEATURE_STATE_ON",
              "FEATURE_STATE_OFF"
            ],
            "enumDescriptions": [
              "The feature state is unspecified.",
              "The feature is turned on to be accessible.",
              "The feature is turned off to be inaccessible."
            ]
          }
        },
        "commonConfig": {
          "description": "Common config spec that specifies the metadata of the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineCommonConfig"
        },
        "disableAnalytics": {
          "description": "Optional. Whether to disable analytics for searches performed on this engine.",
          "type": "boolean"
        },
        "knowledgeGraphConfig": {
          "description": "Optional. Configurations for the Knowledge Graph. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig"
        },
        "agentGatewaySetting": {
          "description": "Optional. The agent gateway setting for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySetting"
        },
        "industryVertical": {
          "description": "Optional. The industry vertical that the engine registers. The restriction of the Engine industry vertical is based on DataStore: Vertical on Engine has to match vertical of the DataStore linked to the engine.",
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ]
        },
        "connectorTenantInfo": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Maps a connector ID (e.g., \"hybrid-github\", \"shopify\") to tenant-specific information required for that connector. The structure of the tenant information string is connector-dependent.",
          "type": "object"
        },
        "displayName": {
          "description": "Required. The display name of the engine. Should be human readable. UTF-8 encoded string with limit of 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the Recommendation Engine was created at.",
          "type": "string"
        },
        "marketplaceAgentVisibility": {
          "description": "Optional. The visibility of marketplace agents in the agent gallery.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to `MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED`.",
            "Only agents that are currently available for use by the user are visible.",
            "Show marketplace agents that the user does not yet have access to but are integrated into the engine. This level also includes all agents visible with `SHOW_AVAILABLE_AGENTS_ONLY`.",
            "Show all agents visible with `SHOW_AGENTS_ALREADY_INTEGRATED`, plus agents that have already been purchased by the project/organization, even if they are not currently integrated into the engine.",
            "All agents in the marketplace are visible, regardless of access or purchase status. This level encompasses all agents shown in the previous levels."
          ],
          "enum": [
            "MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED",
            "SHOW_AVAILABLE_AGENTS_ONLY",
            "SHOW_AGENTS_ALREADY_INTEGRATED",
            "SHOW_AGENTS_ALREADY_PURCHASED",
            "SHOW_ALL_AGENTS"
          ]
        },
        "solutionType": {
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "description": "Required. The solutions of the engine.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the Recommendation Engine was last updated.",
          "type": "string"
        },
        "searchEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig",
          "description": "Configurations for the Search Engine. Only applicable if solution_type is SOLUTION_TYPE_SEARCH."
        },
        "chatEngineMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
          "description": "Output only. Additional information of the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT.",
          "readOnly": true
        },
        "procurementContactEmails": {
          "description": "Optional. The emails of the procurement contacts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appType": {
          "description": "Optional. Immutable. This the application type which this engine resource represents. NOTE: this is a new concept independ of existing industry vertical or solution type.",
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP_TYPE_INTRANET"
          ],
          "enumDescriptions": [
            "All non specified apps.",
            "App type for intranet search and Agentspace."
          ]
        },
        "mediaRecommendationEngineConfig": {
          "description": "Configurations for the Media Engine. Only applicable on the data stores with solution_type SOLUTION_TYPE_RECOMMENDATION and IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig"
        },
        "dataStoreIds": {
          "description": "Optional. The data stores associated with this engine. For SOLUTION_TYPE_SEARCH and SOLUTION_TYPE_RECOMMENDATION type of engines, they can only associate with at most one data store. If solution_type is SOLUTION_TYPE_CHAT, multiple DataStores in the same Collection can be associated here. Note that when used in CreateEngineRequest, one DataStore id must be provided as the system will use it for necessary initializations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata that describes the training and serving parameters of an Engine.",
      "type": "object"
    },
    "GoogleApiDistribution": {
      "properties": {
        "sumOfSquaredDeviation": {
          "description": "The sum of squared deviations from the mean of the values in the population. For values x_i this is: Sum[i=1..n]((x_i - mean)^2) Knuth, \"The Art of Computer Programming\", Vol. 2, page 232, 3rd edition describes Welford's method for accumulating this sum in one pass. If `count` is zero then this field must be zero.",
          "type": "number",
          "format": "double"
        },
        "bucketCounts": {
          "description": "The number of values in each bucket of the histogram, as described in `bucket_options`. If the distribution does not have a histogram, then omit this field. If there is a histogram, then the sum of the values in `bucket_counts` must equal the value in the `count` field of the distribution. If present, `bucket_counts` should contain N values, where N is the number of buckets specified in `bucket_options`. If you supply fewer than N values, the remaining values are assumed to be 0. The order of the values in `bucket_counts` follows the bucket numbering schemes described for the three bucket types. The first value must be the count for the underflow bucket (number 0). The next N-2 values are the counts for the finite buckets (number 1 through N-2). The N'th value in `bucket_counts` is the count for the overflow bucket (number N-1).",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "mean": {
          "description": "The arithmetic mean of the values in the population. If `count` is zero then this field must be zero.",
          "type": "number",
          "format": "double"
        },
        "count": {
          "format": "int64",
          "description": "The number of values in the population. Must be non-negative. This value must equal the sum of the values in `bucket_counts` if a histogram is provided.",
          "type": "string"
        },
        "exemplars": {
          "description": "Must be in increasing order of `value` field.",
          "type": "array",
          "items": {
            "$ref": "GoogleApiDistributionExemplar"
          }
        },
        "range": {
          "description": "If specified, contains the range of the population values. The field must not be present if the `count` is zero.",
          "$ref": "GoogleApiDistributionRange"
        },
        "bucketOptions": {
          "$ref": "GoogleApiDistributionBucketOptions",
          "description": "Defines the histogram bucket boundaries. If the distribution does not contain a histogram, then omit this field."
        }
      },
      "id": "GoogleApiDistribution",
      "description": "`Distribution` contains summary statistics for a population of values. It optionally contains a histogram representing the distribution of those values across a set of buckets. The summary statistics are the count, mean, sum of the squared deviation from the mean, the minimum, and the maximum of the set of population of values. The histogram is based on a sequence of buckets and gives a count of values that fall into each bucket. The boundaries of the buckets are given either explicitly or by formulas for buckets of fixed or exponentially increasing widths. Although it is not forbidden, it is generally a bad idea to include non-finite values (infinities or NaNs) in the population of values, as this will render the `mean` and `sum_of_squared_deviation` fields meaningless.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResult": {
      "description": "Customer policy enforcement results. Contains the results of the various policy checks, like the banned phrases or the Model Armor checks.",
      "type": "object",
      "properties": {
        "policyResults": {
          "description": "Customer policy enforcement results. Populated only if the assist call was skipped due to a policy violation. It contains results from those filters that blocked the processing of the query.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult"
          }
        },
        "verdict": {
          "enumDescriptions": [
            "Unknown value.",
            "There was no policy violation.",
            "Processing was blocked by the customer policy."
          ],
          "enum": [
            "UNSPECIFIED",
            "ALLOW",
            "BLOCK"
          ],
          "description": "Final verdict of the customer policy enforcement. If only one policy blocked the processing, the verdict is BLOCK.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResult"
    },
    "GoogleCloudDiscoveryengineV1betaCondition": {
      "description": "Defines circumstances to be checked before allowing a behavior",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCondition",
      "properties": {
        "queryTerms": {
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConditionQueryTerm"
          }
        },
        "queryRegex": {
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls.",
          "type": "string"
        },
        "activeTimeRange": {
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConditionTimeRange"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelResponse": {
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "properties": {
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        },
        "metrics": {
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "description": "The metrics of the trained model.",
          "type": "object"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the data.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaListIdentityMappingStoresResponse": {
      "properties": {
        "identityMappingStores": {
          "description": "The Identity Mapping Stores.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingStore"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaListIdentityMappingStoresResponse",
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappingStores",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource",
      "properties": {
        "identityMappingEntries": {
          "description": "A maximum of 10000 entries can be imported at one time",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntry"
          }
        }
      },
      "description": "The inline source to import identity mapping entries from.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceStructuredDocumentInfo": {
      "properties": {
        "title": {
          "description": "Output only. The title of the document.",
          "type": "string",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. The URI of the document.",
          "type": "string"
        },
        "structData": {
          "description": "Structured search data.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceStructuredDocumentInfo",
      "description": "Structured search information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCitationMetadata": {
      "description": "A collection of source attributions for a piece of content.",
      "type": "object",
      "properties": {
        "citations": {
          "readOnly": true,
          "description": "Output only. List of citations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCitation"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCitationMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse",
      "properties": {
        "dedicatedCrawlRateTimeSeries": {
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string"
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "organicCrawlRateTimeSeries": {
          "description": "The historical organic crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries"
        }
      },
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineLoggingHttpRequestContext": {
      "description": "HTTP request data that is related to a reported error.",
      "type": "object",
      "properties": {
        "responseStatusCode": {
          "format": "int32",
          "description": "The HTTP response status code for the request.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDiscoveryengineLoggingHttpRequestContext"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateEngineMetadata": {
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCreateEngineMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig",
      "properties": {
        "companyName": {
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.",
          "type": "string"
        }
      },
      "description": "Common configurations for an Engine.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1TargetSite": {
      "properties": {
        "name": {
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The target site's last updated time.",
          "type": "string"
        },
        "generatedUriPattern": {
          "description": "Output only. This is system-generated based on the provided_uri_pattern.",
          "type": "string",
          "readOnly": true
        },
        "indexingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ],
          "readOnly": true,
          "description": "Output only. Indexing status.",
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ]
        },
        "type": {
          "description": "The type of the target site, e.g., whether the site is to be included or excluded.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ]
        },
        "failureReason": {
          "description": "Output only. Failure reason.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason"
        },
        "exactMatch": {
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine.",
          "type": "boolean"
        },
        "rootDomainUri": {
          "readOnly": true,
          "description": "Output only. Root domain of the provided_uri_pattern.",
          "type": "string"
        },
        "providedUriPattern": {
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated.",
          "type": "string"
        },
        "siteVerificationInfo": {
          "readOnly": true,
          "description": "Output only. Site ownership and validity verification status.",
          "$ref": "GoogleCloudDiscoveryengineV1SiteVerificationInfo"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TargetSite",
      "description": "A target site for the SiteSearchEngine.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "properties": {
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        },
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response.",
          "type": "string"
        }
      },
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfig",
      "properties": {
        "defaultModelId": {
          "description": "Optional. The default model to use for assistant.",
          "type": "string"
        },
        "allowedModelIds": {
          "description": "Optional. The list of models that are allowed to be used for assistant.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "systemInstruction": {
          "description": "System instruction, also known as the prompt preamble for LLM calls. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/prompts/system-instructions",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction"
        },
        "defaultLanguage": {
          "description": "The default language to use for the generation of the assistant response. Use an ISO 639-1 language code such as `en`. If not specified, the language will be automatically detected.",
          "type": "string"
        }
      },
      "description": "Configuration for the generation of the assistant response.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineLoggingServiceContext": {
      "properties": {
        "service": {
          "description": "An identifier of the service—for example, `discoveryengine.googleapis.com`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineLoggingServiceContext",
      "description": "Describes a running service that sends errors.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelRequest": {
      "properties": {
        "modelType": {
          "description": "Model to be trained. Supported values are: * **search-tuning**: Fine tuning the search system based on data provided.",
          "type": "string"
        },
        "modelId": {
          "description": "If not provided, a UUID will be generated.",
          "type": "string"
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the data ingestion and training.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "gcsTrainingInput": {
          "$ref": "GoogleCloudDiscoveryengineV1betaTrainCustomModelRequestGcsTrainingInput",
          "description": "Cloud Storage training input."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelRequest",
      "description": "Request message for SearchTuningService.TrainCustomModel method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression",
      "properties": {
        "expressions": {
          "description": "The expressions that were ORed together.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
          }
        }
      },
      "description": "Logical `Or` operator.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCompletionInfo": {
      "description": "Detailed completion information including completion attribution token and clicked completion info.",
      "type": "object",
      "properties": {
        "selectedSuggestion": {
          "description": "End user selected CompleteQueryResponse.QuerySuggestion.suggestion.",
          "type": "string"
        },
        "selectedPosition": {
          "description": "End user selected CompleteQueryResponse.QuerySuggestion.suggestion position, starting from 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCompletionInfo"
    },
    "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1CreateEngineMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleApiDistributionRange": {
      "description": "The range of the population values.",
      "type": "object",
      "id": "GoogleApiDistributionRange",
      "properties": {
        "min": {
          "format": "double",
          "description": "The minimum of the population values.",
          "type": "number"
        },
        "max": {
          "format": "double",
          "description": "The maximum of the population values.",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig": {
      "properties": {
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "agentCreationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfigAgentCreationConfig",
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        },
        "dialogflowAgentToLink": {
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig",
      "description": "Configurations for a Chat Engine.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaChunkDocumentMetadata": {
      "description": "Document metadata contains the information of the document of the current chunk.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Uri of the document.",
          "type": "string"
        },
        "title": {
          "description": "Title of the document.",
          "type": "string"
        },
        "mimeType": {
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        },
        "structData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Data representation. The structured JSON data for the document. It should conform to the registered Schema or an `INVALID_ARGUMENT` error is thrown.",
          "type": "object"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaChunkDocumentMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelMetadata",
      "description": "Metadata related to the progress of the TrainCustomModel operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata",
      "properties": {
        "uri": {
          "description": "Uri of the document.",
          "type": "string"
        },
        "title": {
          "description": "Title of the document.",
          "type": "string"
        }
      },
      "description": "Document metadata contains the information of the document of the current chunk.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataSegment": {
      "description": "Grounding information for a segment of the text.",
      "type": "object",
      "properties": {
        "endIndex": {
          "format": "int64",
          "description": "End of the segment, exclusive.",
          "type": "string"
        },
        "startIndex": {
          "format": "int64",
          "description": "Zero-based index indicating the start of the segment, measured in bytes of a UTF-8 string (i.e. characters encoded on multiple bytes have a length of more than one).",
          "type": "string"
        },
        "referenceIndices": {
          "description": "References for the segment.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "groundingScore": {
          "description": "Score for the segment.",
          "type": "number",
          "format": "float"
        },
        "text": {
          "description": "The text segment itself.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataSegment"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsResponse": {
      "properties": {
        "purgeCount": {
          "format": "int64",
          "description": "The total count of documents purged as a result of the operation.",
          "type": "string"
        },
        "purgeSample": {
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsResponse",
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestNaturalLanguageQueryUnderstandingSpec": {
      "description": "Specification to enable natural language understanding capabilities for search requests.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestNaturalLanguageQueryUnderstandingSpec",
      "properties": {
        "geoSearchQueryDetectionFieldNames": {
          "description": "Field names used for location-based filtering, where geolocation filters are detected in natural language search queries. Only valid when the FilterExtractionCondition is set to `ENABLED`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "extractedFilterBehavior": {
          "enum": [
            "EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED",
            "HARD_FILTER",
            "SOFT_BOOST"
          ],
          "enumDescriptions": [
            "`EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED` will use the default behavior for extracted filters. For single datastore search, the default is to apply as hard filters. For multi-datastore search, the default is to apply as soft boosts.",
            "Applies all extracted filters as hard filters on the results. Results that do not pass the extracted filters will not be returned in the result set.",
            "Applies all extracted filters as soft boosts. Results that pass the filters will be boosted up to higher ranks in the result set."
          ],
          "description": "Optional. Controls behavior of how extracted filters are applied to the search. The default behavior depends on the request. For single datastore structured search, the default is `HARD_FILTER`. For multi-datastore search, the default behavior is `SOFT_BOOST`. Location-based filters are always applied as hard filters, and the `SOFT_BOOST` setting will not affect them. This field is only used if SearchRequest.NaturalLanguageQueryUnderstandingSpec.FilterExtractionCondition is set to FilterExtractionCondition.ENABLED.",
          "type": "string"
        },
        "filterExtractionCondition": {
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Server behavior defaults to `DISABLED`.",
            "Disables NL filter extraction.",
            "Enables NL filter extraction."
          ],
[...]
