{
  "description": "Discovery Engine API.",
  "version": "v1beta",
  "title": "Discovery Engine API",
  "version_module": true,
  "discoveryVersion": "v1",
  "id": "discoveryengine:v1beta",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "revision": "20260322",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSitemapMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo": {
      "type": "object",
      "properties": {
        "blobAttachmentIndexes": {
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "readOnly": true
        },
        "relevanceScore": {
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "type": "number",
          "format": "float"
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Document metadata.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata"
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo",
      "description": "Chunk information."
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics": {
      "description": "Stores the metric values at specific top-k levels.",
      "properties": {
        "top10": {
          "type": "number",
          "description": "The top-10 value.",
          "format": "double"
        },
        "top1": {
          "type": "number",
          "format": "double",
          "description": "The top-1 value."
        },
        "top5": {
          "format": "double",
          "type": "number",
          "description": "The top-5 value."
        },
        "top3": {
          "format": "double",
          "type": "number",
          "description": "The top-3 value."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRun": {
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRun",
      "description": "A data sync run of DataConnector. After DataConnector is successfully initialized, data syncs are scheduled at DataConnector.refresh_interval. A ConnectorRun represents a data sync either in the past or onging that the moment. //",
      "type": "object",
      "properties": {
        "stateUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp at which the connector run sync state was last updated."
        },
        "trigger": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The trigger for this ConnectorRun.",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "SCHEDULER",
            "INITIALIZATION",
            "RESUME",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Default value.",
            "ConnectorRun triggered by scheduler if connector has PERIODIC sync mode.",
            "ConnectorRun auto triggered by connector initialization.",
            "ConnectorRun auto triggered by resuming connector.",
            "ConnectorRun triggered by user manually."
          ]
        },
        "entityRuns": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun"
          },
          "description": "Output only. The details of the entities synced at the ConnectorRun. Each ConnectorRun consists of syncing one or more entities.",
          "readOnly": true,
          "type": "array"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the connector run ended.",
          "format": "google-datetime"
        },
        "errors": {
          "description": "Contains info about errors incurred during the sync. Only exist if running into an error state. Contains error code and error message. Use with the `state` field.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "latestPauseTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the connector run was most recently paused.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the sync run.",
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the connector run started."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantToolList": {
      "description": "The enabled tools on a connector",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantToolList",
      "type": "object",
      "properties": {
        "toolInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantToolInfo"
          },
          "description": "The list of tools with corresponding tool information.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion": {
      "description": "Suggestions as search queries.",
      "id": "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion",
      "type": "object",
      "properties": {
        "completableFieldPaths": {
          "type": "array",
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "items": {
            "type": "string"
          }
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        }
      }
    },
    "GoogleApiDistributionBucketOptionsExplicit": {
      "description": "Specifies a set of buckets with arbitrary widths. There are `size(bounds) + 1` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): bounds[i] Lower bound (1 <= i < N); bounds[i - 1] The `bounds` field must contain at least one element. If `bounds` has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.",
      "properties": {
        "bounds": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "type": "array",
          "description": "The values must be monotonically increasing."
        }
      },
      "type": "object",
      "id": "GoogleApiDistributionBucketOptionsExplicit"
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        },
        "totalCount": {
          "description": "Total count of entries that were processed.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaSession": {
      "properties": {
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*`",
          "type": "string"
        },
        "state": {
          "description": "The state of the session.",
          "enumDescriptions": [
            "State is unspecified.",
            "The session is currently open."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS"
          ]
        },
        "labels": {
          "description": "Optional. The labels for the session. Can be set as filter in ListSessionsRequest.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Optional. The display name of the session. This field is used to identify the session in the UI. By default, the display name is the first turn query text in the session.",
          "type": "string"
        },
        "isPinned": {
          "type": "boolean",
          "description": "Optional. Whether the session is pinned, pinned session will be displayed on the top of the session list."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the session finished.",
          "readOnly": true
        },
        "turns": {
          "description": "Turns.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSessionTurn"
          },
          "type": "array"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time the session started.",
          "format": "google-datetime",
          "type": "string"
        },
        "userPseudoId": {
          "description": "A unique identifier for tracking users.",
          "type": "string"
        }
      },
      "description": "External session proto definition.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSession"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata",
      "type": "object",
      "description": "Document metadata.",
      "properties": {
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "structData": {
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlRedirectAction": {
      "description": "Redirects a shopper to the provided URI.",
      "type": "object",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlRedirectAction"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult": {
      "type": "object",
      "description": "Result of executing ExecutableCode.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult",
      "properties": {
        "outcome": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "type": "string",
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully.",
            "Code execution finished but with a failure. `stderr` should contain the reason.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial output present."
          ]
        },
        "output": {
          "type": "string",
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "type": "object",
      "properties": {
        "preamble": {
          "type": "string",
          "description": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide."
        }
      },
      "description": "Specification of the prompt to use with the model.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec"
    },
    "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "properties": {
        "targetFieldValueFloat": {
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "format": "float",
          "type": "number"
        },
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Custom threshold for `cvr` optimization_objective.",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata",
      "properties": {
        "dialogflowAgent": {
          "type": "string",
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`."
        }
      },
      "description": "Additional information of a Chat Engine. Fields in this message are output only."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec": {
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "properties": {
        "maxCount": {
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "format": "int32",
          "type": "integer"
        },
        "mode": {
          "description": "Mode to use for documents that are crowded away.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ],
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ]
        },
        "field": {
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata": {
      "properties": {
        "ignoredCount": {
          "type": "string",
          "description": "Count of entries that were ignored as entries were not found.",
          "format": "int64"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were deleted successfully."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUpdateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaUpdateTargetSiteMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlPromoteAction": {
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Data store with which this promotion is attached to."
        },
        "searchLinkPromotion": {
          "description": "Required. Promotion attached to this action.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion"
        }
      },
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "id": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      },
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse": {
      "properties": {
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        },
        "userLicenses": {
          "description": "UserLicenses successfully updated.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1UserLicense"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse"
    },
    "GoogleCloudDiscoveryengineV1betaCustomTuningModel": {
      "type": "object",
      "description": "Metadata that describes a custom tuned model.",
      "id": "GoogleCloudDiscoveryengineV1betaCustomTuningModel",
      "properties": {
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "description": "The metrics of the trained model."
        },
        "trainingStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp the model training was initiated."
        },
        "errorMessage": {
          "type": "string",
          "description": "Currently this is only populated if the model state is `INPUT_VALIDATION_FAILED`."
        },
        "modelVersion": {
          "description": "The version of the model.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: Timestamp the Model was created at.",
          "format": "google-datetime"
        },
        "modelState": {
          "enum": [
            "MODEL_STATE_UNSPECIFIED",
            "TRAINING_PAUSED",
            "TRAINING",
            "TRAINING_COMPLETE",
            "READY_FOR_SERVING",
            "TRAINING_FAILED",
            "NO_IMPROVEMENT",
            "INPUT_VALIDATION_FAILED"
          ],
          "description": "The state that the model is in (e.g.`TRAINING` or `TRAINING_FAILED`).",
          "enumDescriptions": [
            "Default value.",
            "The model is in a paused training state.",
            "The model is currently training.",
            "The model has successfully completed training.",
            "The model is ready for serving.",
            "The model training failed.",
            "The model training finished successfully but metrics did not improve.",
            "Input data validation failed. Model training didn't start."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the model.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The fully qualified resource name of the model. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/customTuningModels/{custom_tuning_model}`. Model must be an alpha-numerical string with limit of 40 characters."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics": {
      "properties": {
        "top10": {
          "description": "The top-10 value.",
          "format": "double",
          "type": "number"
        },
        "top5": {
          "format": "double",
          "type": "number",
          "description": "The top-5 value."
        },
        "top3": {
          "format": "double",
          "type": "number",
          "description": "The top-3 value."
        },
        "top1": {
          "format": "double",
          "type": "number",
          "description": "The top-1 value."
        }
      },
      "type": "object",
      "description": "Stores the metric values at specific top-k levels.",
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "properties": {
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        },
        "targetFieldValueFloat": {
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "description": "Custom threshold for `cvr` optimization_objective.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata",
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
      "description": "Configurations for a Chat Engine.",
      "properties": {
        "dialogflowAgentToLink": {
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created.",
          "type": "string"
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "agentCreationConfig": {
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfigAgentCreationConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTuneEngineRequest": {
      "description": "Request to manually start a tuning process now (instead of waiting for the periodically scheduled tuning to happen).",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaTuneEngineRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
      "type": "object",
      "properties": {
        "queryClassificationInfo": {
          "description": "Query classification information.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo"
          }
        }
      },
      "description": "Query understanding information."
    },
    "GoogleCloudDiscoveryengineV1Engine": {
      "properties": {
        "displayName": {
          "description": "Required. The display name of the engine. Should be human readable. UTF-8 encoded string with limit of 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp the Recommendation Engine was created at."
        },
        "connectorTenantInfo": {
          "description": "Optional. Maps a connector ID (e.g., \"hybrid-github\", \"shopify\") to tenant-specific information required for that connector. The structure of the tenant information string is connector-dependent.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "features": {
          "description": "Optional. Feature config for the engine to opt in or opt out of features. Supported keys: * `*`: all features, if it's present, all other feature state settings are ignored. * `agent-gallery` * `no-code-agent-builder` * `prompt-gallery` * `model-selector` * `notebook-lm` * `people-search` * `people-search-org-chart` * `bi-directional-audio` * `feedback` * `session-sharing` * `personalization-memory` * `personalization-suggested-highlights` * `disable-agent-sharing` * `disable-image-generation` * `disable-video-generation` * `disable-onedrive-upload` * `disable-talk-to-content` * `disable-google-drive-upload` * `disable-welcome-emails`",
          "type": "object",
          "additionalProperties": {
            "enum": [
              "FEATURE_STATE_UNSPECIFIED",
              "FEATURE_STATE_ON",
              "FEATURE_STATE_OFF"
            ],
            "type": "string",
            "enumDescriptions": [
              "The feature state is unspecified.",
              "The feature is turned on to be accessible.",
              "The feature is turned off to be inaccessible."
            ]
          }
        },
        "solutionType": {
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. The solutions of the engine.",
          "type": "string"
        },
        "agentGatewaySetting": {
          "description": "Optional. The agent gateway setting for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySetting"
        },
        "appType": {
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP_TYPE_INTRANET"
          ],
          "type": "string",
          "enumDescriptions": [
            "All non specified apps.",
            "App type for intranet search and Agentspace."
          ],
          "description": "Optional. Immutable. This the application type which this engine resource represents. NOTE: this is a new concept independ of existing industry vertical or solution type."
        },
        "procurementContactEmails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The emails of the procurement contacts."
        },
        "knowledgeGraphConfig": {
          "description": "Optional. Configurations for the Knowledge Graph. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig"
        },
        "chatEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
          "description": "Configurations for the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "cmekConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig",
          "readOnly": true,
          "description": "Output only. CMEK-related information for the Engine."
        },
        "marketplaceAgentVisibility": {
          "enum": [
            "MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED",
            "SHOW_AVAILABLE_AGENTS_ONLY",
            "SHOW_AGENTS_ALREADY_INTEGRATED",
            "SHOW_AGENTS_ALREADY_PURCHASED",
            "SHOW_ALL_AGENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to `MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED`.",
            "Only agents that are currently available for use by the user are visible.",
            "Show marketplace agents that the user does not yet have access to but are integrated into the engine. This level also includes all agents visible with `SHOW_AVAILABLE_AGENTS_ONLY`.",
            "Show all agents visible with `SHOW_AGENTS_ALREADY_INTEGRATED`, plus agents that have already been purchased by the project/organization, even if they are not currently integrated into the engine.",
            "All agents in the marketplace are visible, regardless of access or purchase status. This level encompasses all agents shown in the previous levels."
          ],
          "description": "Optional. The visibility of marketplace agents in the agent gallery."
        },
        "industryVertical": {
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "type": "string",
          "description": "Optional. The industry vertical that the engine registers. The restriction of the Engine industry vertical is based on DataStore: Vertical on Engine has to match vertical of the DataStore linked to the engine.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ]
        },
        "disableAnalytics": {
          "type": "boolean",
          "description": "Optional. Whether to disable analytics for searches performed on this engine."
        },
        "chatEngineMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
          "description": "Output only. Additional information of the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT."
        },
        "updateTime": {
          "description": "Output only. Timestamp the Recommendation Engine was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "configurableBillingApproach": {
          "type": "string",
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_BILLING_APPROACH_ENABLED"
          ],
          "description": "Optional. Configuration for configurable billing approach.",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach. General pricing model.",
            "The billing approach follows configurations specified by customer."
          ]
        },
        "searchEngineConfig": {
          "description": "Configurations for the Search Engine. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig"
        },
        "modelConfigs": {
          "additionalProperties": {
            "type": "string",
            "enum": [
              "MODEL_STATE_UNSPECIFIED",
              "MODEL_ENABLED",
              "MODEL_DISABLED"
            ],
            "enumDescriptions": [
              "The model state is unspecified.",
              "The model is enabled by admin.",
              "The model is disabled by admin."
            ]
          },
          "description": "Optional. Maps a model name to its specific configuration for this engine. This allows admin users to turn on/off individual models. This only stores models whose states are overridden by the admin. When the state is unspecified, or model_configs is empty for this model, the system will decide if this model should be available or not based on the default configuration. For example, a preview model should be disabled by default if the admin has not chosen to enable it.",
          "type": "object"
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig"
        },
        "dataStoreIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The data stores associated with this engine. For SOLUTION_TYPE_SEARCH and SOLUTION_TYPE_RECOMMENDATION type of engines, they can only associate with at most one data store. If solution_type is SOLUTION_TYPE_CHAT, multiple DataStores in the same Collection can be associated here. Note that when used in CreateEngineRequest, one DataStore id must be provided as the system will use it for necessary initializations.",
          "type": "array"
        },
        "commonConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineCommonConfig",
          "description": "Common config spec that specifies the metadata of the engine."
        },
        "mediaRecommendationEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig",
          "description": "Configurations for the Media Engine. Only applicable on the data stores with solution_type SOLUTION_TYPE_RECOMMENDATION and IndustryVertical.MEDIA vertical."
        }
      },
      "type": "object",
      "description": "Metadata that describes the training and serving parameters of an Engine.",
      "id": "GoogleCloudDiscoveryengineV1Engine"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequest": {
      "description": "Request message for SampleQueryService.ImportSampleQueries method.",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequest",
      "properties": {
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "bigquerySource": {
          "description": "BigQuery input source.",
          "$ref": "GoogleCloudDiscoveryengineV1betaBigQuerySource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaGcsSource",
          "description": "Cloud Storage location for the input content."
        },
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource",
          "description": "The Inline source for sample query entries."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig": {
      "description": "Stores information for federated search.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig",
      "type": "object",
      "properties": {
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig"
        },
        "thirdPartyOauthConfig": {
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig"
        },
        "alloyDbConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec": {
      "type": "object",
      "description": "The specification for returning the document relevance score.",
      "properties": {
        "returnRelevanceScore": {
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource": {
      "description": "The inline source for SampleQuerys.",
      "properties": {
        "sampleQueries": {
          "type": "array",
          "description": "Required. A list of SampleQuerys to import. Max of 1000 items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReference": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReference",
      "description": "Document reference.",
      "properties": {
        "chunkContents": {
          "description": "List of cited chunk contents derived from document content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReferenceChunkContent"
          },
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Title of the document."
        },
        "document": {
          "type": "string",
          "description": "Required. Document.name of the document. Full resource name of the referenced document, in the format `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`."
        },
        "uri": {
          "description": "Cloud Storage or HTTP uri for the document.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata": {
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "type": "object",
      "properties": {
        "successCount": {
          "type": "string",
          "description": "The number of IdentityMappingEntries that were successfully processed.",
          "format": "int64"
        },
        "totalCount": {
          "description": "The total number of IdentityMappingEntries that were processed.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "description": "The number of IdentityMappingEntries that failed to be processed.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata"
    },
    "GoogleCloudDiscoveryengineV1UserStore": {
      "properties": {
        "defaultLicenseConfig": {
          "type": "string",
          "description": "Optional. The default subscription LicenseConfig for the UserStore, if UserStore.enable_license_auto_register is true, new users will automatically register under the default subscription. If default LicenseConfig doesn't have remaining license seats left, new users will not be assigned with license and will be blocked for Vertex AI Search features. This is used if `license_assignment_tier_rules` is not configured."
        },
        "enableExpiredLicenseAutoUpdate": {
          "type": "boolean",
          "description": "Optional. Whether to enable license auto update for users in this User Store. If true, users with expired licenses will automatically be updated to use the default license config as long as the default license config has seats left."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the User Store."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "enableLicenseAutoRegister": {
          "type": "boolean",
          "description": "Optional. Whether to enable license auto register for users in this User Store. If true, new users will automatically register under the default license config as long as the default license config has seats left."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1UserStore",
      "type": "object",
      "description": "Configures metadata that is used for End User entities."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpec": {
      "type": "object",
      "description": "The specification that uses customized query embedding vector to do semantic document retrieval.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpec",
      "properties": {
        "embeddingVectors": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpecEmbeddingVector"
          },
          "description": "The embedding vector used for retrieval. Limit to 1.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesMetadata": {
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "failureCount": {
          "description": "Count of user licenses that failed to be updated.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user licenses successfully updated."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest",
      "description": "Request for UpdateSession method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Indicates which fields in the provided Session to update. The following are NOT supported: * Session.name If not set or empty, all supported fields are updated.",
          "format": "google-fieldmask"
        },
        "session": {
          "description": "Required. The Session to update.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSession"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSampleQueryQueryEntryTarget": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Expected uri of the target. This field must be a UTF-8 encoded string with a length limit of 2048 characters. Example of valid uris: `https://example.com/abc`, `gcs://example/example.pdf`."
        },
        "score": {
          "type": "number",
          "description": "Relevance score of the target.",
          "format": "double"
        },
        "pageNumbers": {
          "description": "Expected page numbers of the target. Each page number must be non negative.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSampleQueryQueryEntryTarget",
      "description": "Defines the parameters of the query's expected outcome.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportErrorConfig": {
      "description": "Configuration of destination for Import related errors.",
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent": {
      "properties": {
        "relevanceScore": {
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "type": "number",
          "format": "float"
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        },
        "blobAttachmentIndexes": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent",
      "type": "object",
      "description": "Chunk content."
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsRequestInlineSource": {
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCompletionSuggestion"
          },
          "description": "Required. A list of all denylist entries to import. Max of 1000 items.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsRequestInlineSource",
      "description": "The inline source for CompletionSuggestions."
    },
    "GoogleCloudDiscoveryengineV1UpdateSchemaMetadata": {
      "description": "Metadata for UpdateSchema LRO.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1UpdateSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypeSpec": {
      "properties": {
        "maxSuggestions": {
          "format": "int32",
          "description": "Optional. Maximum number of suggestions to return for each suggestion type.",
          "type": "integer"
        },
        "suggestionType": {
          "enumDescriptions": [
            "Default value.",
            "Returns query suggestions.",
            "Returns people suggestions.",
            "Returns content suggestions.",
            "Returns recent search suggestions.",
            "Returns Google Workspace suggestions."
          ],
          "enum": [
            "SUGGESTION_TYPE_UNSPECIFIED",
            "QUERY",
            "PEOPLE",
            "CONTENT",
            "RECENT_SEARCH",
            "GOOGLE_WORKSPACE"
          ],
          "type": "string",
          "description": "Optional. Suggestion type."
        }
      },
      "description": "Specification of each suggestion type.",
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestSuggestionTypeSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequestInlineSource",
      "type": "object",
      "description": "The inline source to import identity mapping entries from.",
      "properties": {
        "identityMappingEntries": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntry"
          },
          "type": "array",
          "description": "A maximum of 10000 entries can be imported at one time"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRankingRecord": {
      "id": "GoogleCloudDiscoveryengineV1betaRankingRecord",
      "type": "object",
      "description": "Record message for RankService.Rank method.",
      "properties": {
        "title": {
          "description": "The title of the record. Empty by default. At least one of title or content should be set otherwise an INVALID_ARGUMENT error is thrown.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The content of the record. Empty by default. At least one of title or content should be set otherwise an INVALID_ARGUMENT error is thrown."
        },
        "id": {
          "description": "The unique ID to represent the record.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "The score of this record based on the given query and selected model. The score will be rounded to 2 decimal places. If the score is close to 0, it will be rounded to 0.0001 to avoid returning unset."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "properties": {
        "nlConfigId": {
          "type": "string",
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty."
        }
      },
      "description": "Configuration for AlloyDB AI Natural Language.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig"
    },
    "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig",
      "properties": {
        "requiredSubscriptionTier": {
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "description": "Optional. The required subscription tier of this engine. They cannot be modified after engine creation. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine."
        },
        "searchTier": {
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ],
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ],
          "type": "string"
        },
        "searchAddOns": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ]
          },
          "description": "The add-on that this search engine enables.",
          "type": "array"
        }
      },
      "description": "Configurations for a Search Engine."
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReferenceChunkContent": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReferenceChunkContent",
      "properties": {
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "blobAttachmentIndexes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Stores indexes of blobattachments linked to this chunk."
        }
      },
      "description": "Chunk content.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DeleteSitemapMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DeleteSitemapMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfig": {
      "description": "Configurations for a Chat Engine.",
      "properties": {
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "dialogflowAgentToLink": {
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created.",
          "type": "string"
        },
        "agentCreationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig",
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfig": {
      "properties": {
        "alloydbConnectionConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig",
          "description": "Required. Configuration for connecting to AlloyDB."
        },
        "alloydbAiNlConfig": {
          "description": "Optional. Configuration for Magic.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig"
        },
        "returnedFields": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Fields to be returned in the search results. If empty, all fields will be returned.",
          "type": "array"
        }
      },
      "description": "Stores information for connecting to AlloyDB.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfo",
      "properties": {
        "blobAttachmentIndexes": {
          "type": "array",
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "relevanceScore": {
          "type": "number",
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation."
        },
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfoDocumentMetadata",
          "description": "Document metadata."
        }
      },
      "description": "Chunk information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply",
      "properties": {
        "groundedContent": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent",
          "description": "Possibly grounded response text or media from the assistant."
        },
        "replyId": {
          "type": "string",
          "description": "Output only. When set, uniquely identifies a reply within the `AssistAnswer` resource. During an AssistantService.StreamAssist call, multiple `Reply` messages with the same ID can occur within the response stream (across multiple StreamAssistResponse messages). These represent parts of a single `Reply` message in the final `AssistAnswer` resource.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "One part of the multi-part response of the assist call."
    },
    "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig": {
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED.",
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ]
        }
      },
      "type": "object",
      "description": "Configuration for Natural Language Query Understanding.",
      "id": "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig"
    },
    "GoogleCloudDiscoveryengineV1ControlRedirectAction": {
      "description": "Redirects a shopper to the provided URI.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ControlRedirectAction",
      "properties": {
        "redirectUri": {
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo": {
      "description": "Chunk information.",
      "type": "object",
      "properties": {
        "content": {
          "description": "Chunk textual content. It is limited to 8000 characters.",
          "type": "string"
        },
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata",
          "description": "Metadata of the document from the current chunk."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata": {
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequestInlineSource",
      "type": "object",
      "description": "The inline source for the input config for ImportUserEvents method.",
      "properties": {
        "userEvents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
          },
          "type": "array",
          "description": "Required. A list of user events to import. Recommended max of 10k items."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListEvaluationResultsResponseEvaluationResult": {
      "type": "object",
      "description": "Represents the results of an evaluation for a single SampleQuery.",
      "properties": {
        "qualityMetrics": {
          "description": "Output only. The metrics produced by the evaluation, for a given SampleQuery.",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetrics",
          "readOnly": true
        },
        "sampleQuery": {
          "description": "Output only. The SampleQuery that was evaluated.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaListEvaluationResultsResponseEvaluationResult"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecPromptSpec": {
      "description": "Answer generation prompt specification.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecPromptSpec",
      "properties": {
        "preamble": {
          "description": "Customized preamble.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultList": {
      "description": "Search result list.",
      "type": "object",
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResult"
          },
          "type": "array",
          "description": "Search results."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultList"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "description": "Specifies features for display, like match highlighting.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "type": "object",
      "properties": {
        "matchHighlightingCondition": {
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ],
          "description": "The condition under which match highlighting should occur.",
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponseDocumentMetadata": {
      "description": "The metadata of a Document.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponseDocumentMetadata",
      "properties": {
        "dataIngestionSource": {
          "type": "string",
          "description": "The data ingestion source of the Document. Allowed values are: * `batch`: Data ingested via Batch API, e.g., ImportDocuments. * `streaming` Data ingested via Streaming API, e.g., FHIR streaming."
        },
        "matcherValue": {
          "$ref": "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue",
          "description": "The value of the matcher that was used to match the Document."
        },
        "state": {
          "enumDescriptions": [
            "Should never be set.",
            "The Document is indexed.",
            "The Document is not indexed because its URI is not in the TargetSite.",
            "The Document is not indexed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INDEXED",
            "NOT_IN_TARGET_SITE",
            "NOT_IN_INDEX"
          ],
          "type": "string",
          "description": "The state of the document."
        },
        "lastRefreshedTime": {
          "format": "google-datetime",
          "description": "The timestamp of the last time the Document was last indexed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata": {
      "properties": {
        "structuredContent": {
          "description": "Output only. The structured content information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaChunkStructuredContent",
          "readOnly": true
        },
        "imageId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Image id is provided if the structured content is based on an image."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata",
      "description": "The annotation metadata includes structured content in the current chunk.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpecUserDefinedClassifierSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpecUserDefinedClassifierSpec",
      "properties": {
        "enableUserDefinedClassifier": {
          "description": "Optional. Whether or not to enable and include user defined classifier.",
          "type": "boolean"
        },
        "topK": {
          "type": "string",
          "description": "Optional. The top-k value to be used for the user defined classifier.",
          "format": "int64"
        },
        "modelId": {
          "description": "Optional. The model id to be used for the user defined classifier.",
          "type": "string"
        },
        "topP": {
          "type": "number",
          "description": "Optional. The top-p value to be used for the user defined classifier.",
          "format": "double"
        },
        "taskMarker": {
          "type": "string",
          "description": "Optional. The task marker to be used for the user defined classifier."
        },
        "preamble": {
          "description": "Optional. The preamble to be used for the user defined classifier.",
          "type": "string"
        },
        "temperature": {
          "description": "Optional. The temperature value to be used for the user defined classifier.",
          "type": "number",
          "format": "double"
        },
        "seed": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The seed value to be used for the user defined classifier."
        }
      },
      "description": "The specification for user defined classifier.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfig",
      "properties": {
        "ocrParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig",
          "description": "Configurations applied to OCR parser. Currently it only applies to PDFs."
        },
        "layoutParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
          "description": "Configurations applied to layout parser."
        },
        "digitalParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigDigitalParsingConfig",
          "description": "Configurations applied to digital parser."
        }
      },
      "description": "Related configurations applied to a specific type of document parser.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsResponse",
      "type": "object",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing Documents.",
          "type": "string",
          "format": "int64"
        },
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "type": "string",
          "format": "int64"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob": {
      "description": "Stores type and data of the blob.",
      "type": "object",
      "properties": {
        "data": {
          "readOnly": true,
          "format": "byte",
          "description": "Output only. Raw bytes.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Output only. The media type (MIME type) of the generated data.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob"
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec": {
      "type": "object",
      "properties": {
        "searchRequest": {
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequest"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec"
        }
      },
      "description": "Describes the specification of the evaluation.",
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec"
    },
    "GoogleCloudDiscoveryengineV1betaCheckGroundingResponseClaim": {
      "id": "GoogleCloudDiscoveryengineV1betaCheckGroundingResponseClaim",
      "description": "Text and citation info for a claim in the answer candidate.",
      "properties": {
        "endPos": {
          "type": "integer",
          "description": "Position indicating the end of the claim in the answer candidate, exclusive, in bytes. Note that this is not measured in characters and, therefore, must be rendered as such. For example, if the claim text contains non-ASCII characters, the start and end positions vary when measured in characters (programming-language-dependent) and when measured in bytes (programming-language-independent).",
          "format": "int32"
        },
        "startPos": {
          "type": "integer",
          "format": "int32",
          "description": "Position indicating the start of the claim in the answer candidate, measured in bytes. Note that this is not measured in characters and, therefore, must be rendered in the user interface keeping in mind that some characters may take more than one byte. For example, if the claim text contains non-ASCII characters, the start and end positions vary when measured in characters (programming-language-dependent) and when measured in bytes (programming-language-independent)."
        },
        "score": {
          "type": "number",
          "description": "Confidence score for the claim in the answer candidate, in the range of [0, 1]. This is set only when `CheckGroundingRequest.grounding_spec.enable_claim_level_score` is true.",
          "format": "double"
        },
        "groundingCheckRequired": {
          "type": "boolean",
          "description": "Indicates that this claim required grounding check. When the system decided this claim doesn't require attribution/grounding check, this field will be set to false. In that case, no grounding check was done for the claim and therefore citation_indices should not be returned."
        },
        "claimText": {
          "description": "Text for the claim in the answer candidate. Always provided regardless of whether citations or anti-citations are found.",
          "type": "string"
        },
        "citationIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A list of indices (into 'cited_chunks') specifying the citations associated with the claim. For instance [1,3,4] means that cited_chunks[1], cited_chunks[3], cited_chunks[4] are the facts cited supporting for the claim. A citation to a fact indicates that the claim is supported by the fact.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyBannedPhrase": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyBannedPhrase",
      "description": "Definition of a customer-defined banned phrase. A banned phrase is not allowed to appear in the user query or the LLM response, or else the answer will be refused.",
      "properties": {
        "phrase": {
          "type": "string",
          "description": "Required. The raw string content to be banned."
        },
        "ignoreDiacritics": {
          "type": "boolean",
          "description": "Optional. If true, diacritical marks (e.g., accents, umlauts) are ignored when matching banned phrases. For example, \"cafe\" would match \"café\"."
        },
        "matchType": {
          "enum": [
            "BANNED_PHRASE_MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH"
          ],
          "description": "Optional. Match type for the banned phrase.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to SIMPLE_STRING_MATCH.",
            "The banned phrase matches if it is found anywhere in the text as an exact substring.",
            "Banned phrase only matches if the pattern found in the text is surrounded by word delimiters. The phrase itself may still contain word delimiters."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentFile": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentFile",
      "description": "A file, e.g., an audio summary.",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The media type (MIME type) of the file."
        },
        "fileId": {
          "type": "string",
          "description": "Required. The file ID."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateResponse",
      "properties": {
        "state": {
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Errors from service when handling the request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest": {
      "type": "object",
      "properties": {
        "targetSite": {
          "description": "Required. The TargetSite to create.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
        },
        "parent": {
          "description": "Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest",
      "description": "Request message for SiteSearchEngineService.CreateTargetSite method."
    },
    "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.SetUriPatternDocumentData operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec",
      "properties": {
        "numPreviousChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned."
        },
        "numNextChunks": {
          "type": "integer",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS"
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetrics": {
      "properties": {
        "docRecall": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
          "description": "Recall per document, at various top-k cutoff levels. Recall is the fraction of relevant documents retrieved out of all relevant documents. Example (top-5): * For a single SampleQuery, If 3 out of 5 relevant documents are retrieved in the top-5, recall@5 = 3/5 = 0.6"
        },
        "pageNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per page, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved pages (P1, P2, P3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [P3 (0), P1 (1), P2 (1)] Ideal: [P1 (1), P2 (1), P3 (0)] Calculate NDCG@3 for SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "pageRecall": {
          "description": "Recall per page, at various top-k cutoff levels. Recall is the fraction of relevant pages retrieved out of all relevant pages. Example (top-5): * For a single SampleQuery, if 3 out of 5 relevant pages are retrieved in the top-5, recall@5 = 3/5 = 0.6",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "docPrecision": {
          "description": "Precision per document, at various top-k cutoff levels. Precision is the fraction of retrieved documents that are relevant. Example (top-5): * For a single SampleQuery, If 4 out of 5 retrieved documents in the top-5 are relevant, precision@5 = 4/5 = 0.8",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "docNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per document, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved documents (D1, D2, D3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [D3 (0), D1 (1), D2 (1)] Ideal: [D1 (1), D2 (1), D3 (0)] Calculate NDCG@3 for each SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetrics",
      "description": "Describes the metrics produced by the evaluation.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaRankRequest": {
      "type": "object",
      "properties": {
        "topN": {
          "type": "integer",
          "description": "The number of results to return. If this is unset or no bigger than zero, returns all results.",
          "format": "int32"
        },
        "records": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaRankingRecord"
          },
          "type": "array",
          "description": "Required. A list of records to rank."
        },
        "ignoreRecordDetailsInResponse": {
          "description": "If true, the response will contain only record ID and score. By default, it is false, the response will contain record details.",
          "type": "boolean"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "model": {
          "description": "The identifier of the model to use. It is one of: * `semantic-ranker-512@latest`: Semantic ranking model with maximum input token size 512. It is set to `semantic-ranker-512@latest` by default if unspecified.",
          "type": "string"
        },
        "query": {
          "description": "The query to use.",
          "type": "string"
        }
      },
      "description": "Request message for RankService.Rank method.",
      "id": "GoogleCloudDiscoveryengineV1betaRankRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReference": {
      "type": "object",
      "properties": {
        "chunkInfo": {
          "description": "Chunk information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfo"
        },
        "structuredDocumentInfo": {
          "description": "Structured document information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceStructuredDocumentInfo"
        },
        "unstructuredDocumentInfo": {
          "description": "Unstructured document information.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo"
        }
      },
[...]
