{
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "provision": {
          "path": "v1beta/{+name}:provision",
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "flatPath": "v1beta/projects/{projectsId}:provision",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProvisionProjectRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "discoveryengine.projects.provision",
          "parameters": {
            "name": {
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "httpMethod": "GET",
                  "id": "discoveryengine.projects.locations.operations.list",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}/operations",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "discoveryengine.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "collections": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "discoveryengine.projects.locations.collections.operations.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource."
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations/{operationsId}",
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer"
                        },
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        }
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "discoveryengine.projects.locations.collections.operations.list",
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      }
                    }
                  }
                },
                "dataConnector": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v1beta/{+name}/operations",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "The name of the operation's parent resource.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector$",
                              "type": "string"
                            },
                            "filter": {
                              "location": "query",
                              "description": "The standard list filter.",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "The standard list page size.",
                              "location": "query"
                            },
                            "returnPartialSuccess": {
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector/operations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "id": "discoveryengine.projects.locations.collections.dataConnector.operations.list"
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataConnector/operations/[^/]+$",
                              "description": "The name of the operation resource.",
                              "location": "path"
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataConnector.operations.get",
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataConnector/operations/{operationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        }
                      }
                    }
                  }
                },
                "dataStores": {
                  "resources": {
                    "completionConfig": {
                      "methods": {
                        "completeQuery": {
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud_search.query",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameterOrder": [
                            "completionConfig"
                          ],
                          "parameters": {
                            "completionConfig": {
                              "type": "string",
                              "description": "Required. The completion_config of the parent dataStore or engine resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/*/completionConfig` `projects/*/locations/global/collections/default_collection/engines/*/completionConfig`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/completionConfig$",
                              "location": "path"
                            }
                          },
                          "description": "Completes the user input with advanced keyword suggestions.",
                          "path": "v1beta/{+completionConfig}:completeQuery",
                          "id": "discoveryengine.projects.locations.collections.dataStores.completionConfig.completeQuery",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequest"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/completionConfig:completeQuery"
                        }
                      }
                    },
                    "suggestionDenyListEntries": {
                      "methods": {
                        "purge": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesRequest"
                          },
                          "description": "Permanently deletes all SuggestionDenyListEntry for a DataStore.",
                          "path": "v1beta/{+parent}/suggestionDenyListEntries:purge",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/suggestionDenyListEntries:purge",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent data store resource name for which to import denylist entries. Follows pattern projects/*/locations/*/collections/*/dataStores/*.",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.suggestionDenyListEntries.purge"
                        },
                        "import": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/suggestionDenyListEntries:import",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The parent data store resource name for which to import denylist entries. Follows pattern projects/*/locations/*/collections/*/dataStores/*.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.suggestionDenyListEntries.import",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Imports all SuggestionDenyListEntry for a DataStore.",
                          "path": "v1beta/{+parent}/suggestionDenyListEntries:import"
                        }
                      }
                    },
                    "models": {
                      "resources": {
                        "operations": {
                          "methods": {
                            "list": {
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "httpMethod": "GET",
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/models/{modelsId}/operations",
                              "path": "v1beta/{+name}/operations",
                              "id": "discoveryengine.projects.locations.collections.dataStores.models.operations.list",
                              "parameters": {
                                "pageSize": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The standard list page size.",
                                  "location": "query"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "description": "The standard list page token.",
                                  "location": "query"
                                },
                                "filter": {
                                  "type": "string",
                                  "description": "The standard list filter.",
                                  "location": "query"
                                },
                                "name": {
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/models/[^/]+$",
                                  "description": "The name of the operation's parent resource.",
                                  "type": "string",
                                  "location": "path"
                                },
                                "returnPartialSuccess": {
                                  "type": "boolean",
                                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                                  "location": "query"
                                }
                              }
                            },
                            "get": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "path": "v1beta/{+name}",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/models/{modelsId}/operations/{operationsId}",
                              "id": "discoveryengine.projects.locations.collections.dataStores.models.operations.get",
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/models/[^/]+/operations/[^/]+$",
                                  "description": "The name of the operation resource.",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "httpMethod": "GET"
                            }
                          }
                        }
                      }
                    },
                    "branches": {
                      "methods": {
                        "batchGetDocumentsMetadata": {
                          "description": "Gets index freshness metadata for Documents. Supported for website search only.",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponse"
                          },
                          "path": "v1beta/{+parent}/batchGetDocumentsMetadata",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.branches.batchGetDocumentsMetadata",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/batchGetDocumentsMetadata",
                          "parameters": {
                            "matcher.urisMatcher.uris": {
                              "location": "query",
                              "description": "The exact URIs to match by.",
                              "type": "string",
                              "repeated": true
                            },
                            "matcher.fhirMatcher.fhirResources": {
                              "location": "query",
                              "repeated": true,
                              "type": "string",
                              "description": "Required. The FHIR resources to match by. Format: projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}/fhir/{resource_type}/{fhir_resource_id}"
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$"
                            }
                          }
                        }
                      },
                      "resources": {
                        "operations": {
                          "methods": {
                            "list": {
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations",
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.operations.list",
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                              "path": "v1beta/{+name}/operations",
                              "parameters": {
                                "pageSize": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The standard list page size.",
                                  "location": "query"
                                },
                                "filter": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "The standard list filter."
                                },
                                "returnPartialSuccess": {
                                  "location": "query",
                                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                                  "type": "boolean"
                                },
                                "name": {
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "description": "The name of the operation's parent resource."
                                },
                                "pageToken": {
                                  "location": "query",
                                  "description": "The standard list page token.",
                                  "type": "string"
                                }
                              }
                            },
                            "get": {
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "required": true,
                                  "description": "The name of the operation resource.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/operations/[^/]+$"
                                }
                              },
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations/{operationsId}",
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "path": "v1beta/{+name}",
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.operations.get"
                            },
                            "cancel": {
                              "path": "v1beta/{+name}:cancel",
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "GoogleLongrunningCancelOperationRequest"
                              },
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/operations/[^/]+$",
                                  "description": "The name of the operation resource to be cancelled.",
                                  "required": true
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.operations.cancel",
                              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/operations/{operationsId}:cancel"
                            }
                          }
                        },
                        "documents": {
                          "methods": {
                            "purge": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`.",
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$"
                                }
                              },
                              "path": "v1beta/{+parent}/documents:purge",
                              "description": "Permanently deletes all selected Documents in a branch. This process is asynchronous. Depending on the number of Documents to be deleted, this operation can take hours to complete. Before the delete operation completes, some Documents might still be returned by DocumentService.GetDocument or DocumentService.ListDocuments. To get a list of the Documents to be deleted, set PurgeDocumentsRequest.force to false.",
                              "httpMethod": "POST",
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.purge",
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsRequest"
                              },
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents:purge",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              }
                            },
                            "list": {
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents",
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "parameterOrder": [
                                "parent"
                              ],
                              "description": "Gets a list of Documents.",
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.list",
                              "parameters": {
                                "parent": {
                                  "required": true,
                                  "type": "string",
                                  "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Use `default_branch` as the branch ID, to list documents under the default branch. If the caller does not have permission to list Documents under this branch, regardless of whether or not this branch exists, a `PERMISSION_DENIED` error is returned.",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "description": "A page token ListDocumentsResponse.next_page_token, received from a previous DocumentService.ListDocuments call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DocumentService.ListDocuments must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                                  "location": "query"
                                },
                                "pageSize": {
                                  "description": "Maximum number of Documents to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 are set to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                                  "format": "int32",
                                  "location": "query",
                                  "type": "integer"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaListDocumentsResponse"
                              },
                              "path": "v1beta/{+parent}/documents"
                            },
                            "delete": {
                              "path": "v1beta/{+name}",
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.delete",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                              "description": "Deletes a Document.",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "httpMethod": "DELETE",
                              "parameters": {
                                "name": {
                                  "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to delete the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the Document to delete does not exist, a `NOT_FOUND` error is returned.",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                                  "type": "string"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "patch": {
                              "description": "Updates a Document.",
                              "path": "v1beta/{+name}",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.patch",
                              "parameters": {
                                "updateMask": {
                                  "description": "Indicates which fields in the provided imported 'document' to update. If not set, by default updates all fields.",
                                  "location": "query",
                                  "format": "google-fieldmask",
                                  "type": "string"
                                },
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                                  "type": "string",
                                  "description": "Immutable. The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                                  "required": true,
                                  "location": "path"
                                },
                                "allowMissing": {
                                  "description": "If set to `true` and the Document is not found, a new Document is be created.",
                                  "location": "query",
                                  "type": "boolean"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "httpMethod": "PATCH"
                            },
                            "import": {
                              "httpMethod": "POST",
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Requires create/update permission.",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.import",
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v1beta/{+parent}/documents:import",
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaImportDocumentsRequest"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents:import",
                              "description": "Bulk import of multiple Documents. Request processing may be synchronous. Non-existing items are created. Note: It is possible for a subset of the Documents to be successfully updated."
                            },
                            "get": {
                              "parameterOrder": [
                                "name"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "path": "v1beta/{+name}",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents/{documentsId}",
                              "parameters": {
                                "name": {
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+/documents/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "description": "Required. Full resource name of Document, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`. If the caller does not have permission to access the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the requested Document does not exist, a `NOT_FOUND` error is returned."
                                }
                              },
                              "description": "Gets a Document.",
                              "httpMethod": "GET",
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.get",
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              }
                            },
                            "create": {
                              "id": "discoveryengine.projects.locations.collections.dataStores.branches.documents.create",
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/branches/{branchesId}/documents",
                              "description": "Creates a Document.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "path": "v1beta/{+parent}/documents",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/branches/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`."
                                },
                                "documentId": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Required. The ID to use for the Document, which becomes the final component of the Document.name. If the caller does not have permission to create the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. This field must be unique among all Documents with the same parent. Otherwise, an `ALREADY_EXISTS` error is returned. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
                                }
                              },
                              "request": {
                                "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "httpMethod": "POST"
                            }
                          }
                        }
                      }
                    },
                    "completionSuggestions": {
                      "methods": {
                        "purge": {
                          "description": "Permanently deletes all CompletionSuggestions for a DataStore.",
                          "httpMethod": "POST",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/completionSuggestions:purge",
                          "id": "discoveryengine.projects.locations.collections.dataStores.completionSuggestions.purge",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent data store resource name for which to purge completion suggestions. Follows pattern projects/*/locations/*/collections/*/dataStores/*.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v1beta/{+parent}/completionSuggestions:purge",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest"
                          }
                        },
                        "import": {
                          "path": "v1beta/{+parent}/completionSuggestions:import",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.completionSuggestions.import",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent data store resource name for which to import customer autocomplete suggestions. Follows pattern `projects/*/locations/*/collections/*/dataStores/*`",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$"
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/completionSuggestions:import",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Imports CompletionSuggestions for a DataStore."
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/operations/[^/]+$",
                              "required": true,
                              "description": "The name of the operation resource."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "GET",
                          "id": "discoveryengine.projects.locations.collections.dataStores.operations.get",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/operations/{operationsId}",
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                        },
                        "list": {
                          "httpMethod": "GET",
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "path": "v1beta/{+name}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "description": "The standard list page size.",
                              "type": "integer",
                              "location": "query"
                            },
                            "returnPartialSuccess": {
                              "type": "boolean",
                              "location": "query",
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                            },
                            "filter": {
                              "type": "string",
                              "description": "The standard list filter.",
                              "location": "query"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "required": true,
                              "description": "The name of the operation's parent resource.",
                              "type": "string",
                              "location": "path"
                            },
                            "pageToken": {
                              "description": "The standard list page token.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.operations.list",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/operations",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        }
                      }
                    },
                    "conversations": {
                      "methods": {
                        "create": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "description": "Required. Full resource name of parent data store. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}`",
                              "type": "string",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.create",
                          "description": "Creates a Conversation. If the Conversation to create already exists, an ALREADY_EXISTS error is returned.",
                          "httpMethod": "POST",
                          "path": "v1beta/{+parent}/conversations",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations"
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.get",
                          "description": "Gets a Conversation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations/{conversationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "GET",
                          "path": "v1beta/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/conversations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. The resource name of the Conversation to get. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`"
                            }
                          }
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "description": "Required. The resource name of the Conversation to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Deletes a Conversation. If the Conversation to delete does not exist, a NOT_FOUND error is returned.",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations/{conversationsId}",
                          "path": "v1beta/{+name}",
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.delete"
                        },
                        "list": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaListConversationsResponse"
                          },
                          "description": "Lists all Conversations by their parent DataStore.",
                          "parameters": {
                            "orderBy": {
                              "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `update_time` * `create_time` * `conversation_name` Example: \"update_time desc\" \"create_time\"",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. The data store resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A page token, received from a previous `ListConversations` call. Provide this to retrieve the subsequent page."
                            },
                            "pageSize": {
                              "description": "Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "A filter to apply on the list results. The supported features are: user_pseudo_id, state. Example: \"user_pseudo_id = some_id\""
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "GET",
                          "path": "v1beta/{+parent}/conversations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.list"
                        },
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "updateMask": {
                              "description": "Indicates which fields in the provided Conversation to update. The following are NOT supported: * Conversation.name If not set or empty, all supported fields are updated.",
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "name": {
                              "location": "path",
                              "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/dataStore/*/conversations/*` or `projects/{project}/locations/global/collections/{collection}/engines/*/conversations/*`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/conversations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
                          },
                          "description": "Updates a Conversation. Conversation action type cannot be changed. If the Conversation to update does not exist, a NOT_FOUND error is returned.",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations/{conversationsId}",
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.patch"
                        },
                        "converse": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaConverseConversationRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/conversations/[^/]+$",
                              "description": "Required. The resource name of the Conversation to get. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`. Use `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/-` to activate auto session mode, which automatically creates a new conversation inside a ConverseConversation session.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaConverseConversationResponse"
                          },
                          "path": "v1beta/{+name}:converse",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations/{conversationsId}:converse",
                          "httpMethod": "POST",
                          "description": "Converses a conversation.",
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.converse"
                        }
                      }
                    },
                    "servingConfigs": {
                      "methods": {
                        "streamAnswer": {
                          "description": "Answer query method (streaming). It takes one AnswerQueryRequest and returns multiple AnswerQueryResponse messages in a stream.",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest"
                          },
                          "parameters": {
                            "servingConfig": {
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. Or the resource name of the agent engine serving config, such as: `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_agent_answer`. (use when `enable_agent_invocation` set to true, and you have custom `AI_MODE` agent engine configured) This field is used to identify the serving configuration name, set of models used to make the search.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "required": true
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.streamAnswer",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:streamAnswer",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1beta/{+servingConfig}:streamAnswer",
                          "parameterOrder": [
                            "servingConfig"
                          ]
                        },
                        "searchLite": {
                          "description": "Performs a search. Similar to the SearchService.Search method, but a lite version that allows API key for authentication, where OAuth and IAM checks are not required. Only public website search is supported by this method. If data stores and engines not associated with public website search are specified, a `FAILED_PRECONDITION` error is returned. This method can be used for easy onboarding without having to implement an authentication backend. However, it is strongly recommended to use SearchService.Search instead with required OAuth and IAM checks to provide better data security.",
                          "path": "v1beta/{+servingConfig}:searchLite",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:searchLite",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponse"
                          },
                          "parameters": {
                            "servingConfig": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search."
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.searchLite"
                        },
                        "list": {
                          "path": "v1beta/{+parent}/servingConfigs",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs",
                          "description": "Lists all ServingConfigs linked to this dataStore.",
                          "httpMethod": "GET",
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaListServingConfigsResponse"
                          },
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListServingConfigs` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "Optional. Maximum number of results to return. If unspecified, defaults to 100. If a value greater than 100 is provided, at most 100 results are returned.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "parent": {
                              "description": "Required. Full resource name of the parent resource. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "answer": {
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest"
                          },
                          "description": "Answer query method.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "servingConfig": {
                              "required": true,
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. Or the resource name of the agent engine serving config, such as: `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_agent_answer`. (use when `enable_agent_invocation` set to true, and you have custom `AI_MODE` agent engine configured) This field is used to identify the serving configuration name, set of models used to make the search.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryResponse"
                          },
                          "path": "v1beta/{+servingConfig}:answer",
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.answer",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:answer",
                          "parameterOrder": [
                            "servingConfig"
                          ]
                        },
                        "search": {
                          "parameters": {
                            "servingConfig": {
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.search",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:search",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1beta/{+servingConfig}:search",
                          "description": "Performs a search.",
                          "parameterOrder": [
                            "servingConfig"
                          ]
                        },
                        "recommend": {
                          "httpMethod": "POST",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:recommend",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaRecommendResponse"
                          },
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "path": "v1beta/{+servingConfig}:recommend",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaRecommendRequest"
                          },
                          "parameters": {
                            "servingConfig": {
                              "location": "path",
                              "description": "Required. Full resource name of a ServingConfig: `projects/*/locations/global/collections/*/engines/*/servingConfigs/*`, or `projects/*/locations/global/collections/*/dataStores/*/servingConfigs/*` One default serving config is created along with your recommendation engine creation. The engine ID is used as the ID of the default serving config. For example, for Engine `projects/*/locations/global/collections/*/engines/my-engine`, you can use `projects/*/locations/global/collections/*/engines/my-engine/servingConfigs/my-engine` for your RecommendationService.Recommend requests.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "required": true
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.recommend",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Makes a recommendation, which requires a contextual user event."
                        },
                        "patch": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.patch",
                          "path": "v1beta/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`",
                              "type": "string",
                              "required": true
                            },
                            "updateMask": {
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Indicates which fields in the provided ServingConfig to update. The following are NOT supported: * ServingConfig.name If not set, all supported fields are updated."
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "description": "Updates a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist."
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "description": "Required. Full resource name of parent. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$"
                            },
                            "servingConfigId": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. The ID to use for the ServingConfig, which will become the final component of the ServingConfig's resource name. This value should be 4-63 characters, and valid characters are /a-zA-Z0-9+/."
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.create",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaServingConfig"
                          },
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1beta/{+parent}/servingConfigs",
                          "description": "Creates a ServingConfig. Note: The Google Cloud console works only with the default serving config. Additional ServingConfigs can be created and managed only via the API. A maximum of 100 ServingConfigs are allowed in an Engine, otherwise a RESOURCE_EXHAUSTED error is returned."
                        },
                        "get": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.get",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The resource name of the ServingConfig to get. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "required": true,
[...]
