{
  "basePath": "",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "discoveryengine",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "A2aV1AuthorizationCodeOAuthFlow": {
      "id": "A2aV1AuthorizationCodeOAuthFlow",
      "type": "object",
      "properties": {
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "authorizationUrl": {
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS",
          "type": "string"
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Title of the document."
        }
      },
      "description": "Document metadata contains the information of the document of the current chunk."
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec": {
      "description": "Describes the specification of the evaluation.",
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec",
      "type": "object",
      "properties": {
        "searchRequest": {
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequest"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelRequestGcsTrainingInput": {
      "description": "Cloud Storage training data input.",
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelRequestGcsTrainingInput",
      "type": "object",
      "properties": {
        "corpusDataPath": {
          "description": "The Cloud Storage corpus data which could be associated in train data. The data path format is `gs:///`. A newline delimited jsonl/ndjson file. For search-tuning model, each line should have the _id, title and text. Example: `{\"_id\": \"doc1\", title: \"relevant doc\", \"text\": \"relevant text\"}`",
          "type": "string"
        },
        "queryDataPath": {
          "type": "string",
          "description": "The gcs query data which could be associated in train data. The data path format is `gs:///`. A newline delimited jsonl/ndjson file. For search-tuning model, each line should have the _id and text. Example: {\"_id\": \"query1\", \"text\": \"example query\"}"
        },
        "testDataPath": {
          "type": "string",
          "description": "Cloud Storage test data. Same format as train_data_path. If not provided, a random 80/20 train/test split will be performed on train_data_path."
        },
        "trainDataPath": {
          "type": "string",
          "description": "Cloud Storage training data path whose format should be `gs:///`. The file should be in tsv format. Each line should have the doc_id and query_id and score (number). For search-tuning model, it should have the query-id corpus-id score as tsv file header. The score should be a number in `[0, inf+)`. The larger the number is, the more relevant the pair is. Example: * `query-id\\tcorpus-id\\tscore` * `query1\\tdoc1\\t1`"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse": {
      "id": "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse",
      "type": "object",
      "properties": {
        "targetSites": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
          },
          "description": "TargetSites created."
        }
      },
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method."
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineConfig": {
      "description": "Configurations for a Chat Engine.",
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
      "type": "object",
      "properties": {
        "agentCreationConfig": {
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfigAgentCreationConfig"
        },
        "dialogflowAgentToLink": {
          "type": "string",
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created."
        },
        "allowCrossRegion": {
          "type": "boolean",
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesResponse": {
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "id": "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesResponse",
      "type": "object",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
          },
          "description": "TargetSites created.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DestinationConfig": {
      "id": "GoogleCloudDiscoveryengineV1DestinationConfig",
      "type": "object",
      "properties": {
        "params": {
          "description": "Optional. Additional parameters for this destination config in structured json format.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "jsonParams": {
          "type": "string",
          "description": "Additional parameters for this destination config in json string format."
        },
        "key": {
          "type": "string",
          "description": "Optional. Unique destination identifier that is supported by the connector."
        },
        "destinations": {
          "description": "Optional. The destinations for the corresponding key.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfigDestination"
          },
          "type": "array"
        }
      },
      "description": "Defines target endpoints used to connect to third-party sources."
    },
    "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata",
      "type": "object",
      "properties": {},
      "description": "Metadata for DataConnectorService.SetUpDataConnector method."
    },
    "GoogleCloudDiscoveryengineV1SearchRequest": {
      "description": "Request message for SearchService.Search method.",
      "id": "GoogleCloudDiscoveryengineV1SearchRequest",
      "type": "object",
      "properties": {
        "canonicalFilter": {
          "type": "string",
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter."
        },
        "branch": {
          "type": "string",
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch."
        },
        "relevanceScoreSpec": {
          "description": "Optional. The specification for returning the relevance score.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestRelevanceScoreSpec"
        },
        "query": {
          "type": "string",
          "description": "Raw search query."
        },
        "numResultsPerDataStore": {
          "type": "integer",
          "description": "Optional. The maximum number of results to retrieve from each data store. If not specified, it will use the SearchRequest.DataStoreSpec.num_results if provided, otherwise there is no limit.",
          "format": "int32"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "customRankingParams": {
          "description": "Optional. Optional configuration for the Custom Ranking feature.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestCustomRankingParams"
        },
        "searchAsYouTypeSpec": {
          "description": "Search as you type configuration. Only supported for the IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSearchAsYouTypeSpec"
        },
        "dataStoreSpecs": {
          "type": "array",
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. For engines with a single data store, the specs directly under SearchRequest should be used.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDataStoreSpec"
          }
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering the website search results, see [Order web search results](https://cloud.google.com/generative-ai-app-builder/docs/order-web-search-results). For more information on ordering the healthcare search results, see [Order healthcare search results](https://cloud.google.com/generative-ai-app-builder/docs/order-hc-results). If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate.",
          "type": "string"
        },
        "entity": {
          "description": "Optional. The entity for customers that may run multiple different entities, domains, sites or regions, for example, \"Google US\", \"Google Ads\", \"Waymo\", \"google.com\", \"youtube.com\", etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity.",
          "type": "string"
        },
        "imageQuery": {
          "description": "Raw image query.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestImageQuery"
        },
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestQueryExpansionSpec"
        },
        "rankingExpressionBackend": {
          "type": "string",
          "enum": [
            "RANKING_EXPRESSION_BACKEND_UNSPECIFIED",
            "BYOE",
            "CLEARBOX",
            "RANK_BY_EMBEDDING",
            "RANK_BY_FORMULA"
          ],
          "description": "Optional. The backend to use for the ranking expression evaluation.",
          "enumDescriptions": [
            "Default option for unspecified/unknown values.",
            "Deprecated: Use `RANK_BY_EMBEDDING` instead. Ranking by custom embedding model, the default way to evaluate the ranking expression. Legacy enum option, `RANK_BY_EMBEDDING` should be used instead.",
            "Deprecated: Use `RANK_BY_FORMULA` instead. Ranking by custom formula. Legacy enum option, `RANK_BY_FORMULA` should be used instead.",
            "Ranking by custom embedding model, the default way to evaluate the ranking expression.",
            "Ranking by custom formula."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ]
        },
        "safeSearch": {
          "type": "boolean",
          "description": "Whether to turn on safe search. This is only supported for website search."
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. For example, `user_country_code: \"au\"` For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. For example, `search_type: 1`"
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "userInfo": {
          "description": "Information about the end user. Highly recommended for analytics and personalization. UserInfo.user_agent is used to deduce `device_type` for analytics.",
          "$ref": "GoogleCloudDiscoveryengineV1UserInfo"
        },
        "facetSpecs": {
          "type": "array",
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestFacetSpec"
          }
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "description": "Optional. Config for natural language query understanding capabilities, such as extracting structured field filters from the query. Refer to [this documentation](https://cloud.google.com/generative-ai-app-builder/docs/natural-language-queries) for more information. If `naturalLanguageQueryUnderstandingSpec` is not specified, no additional natural language query understanding will be done.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestNaturalLanguageQueryUnderstandingSpec"
        },
        "relevanceThreshold": {
          "type": "string",
          "description": "The global relevance threshold of the search results. Defaults to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information. If more granular relevance filtering is required, use the `relevance_filter_spec` instead. This feature is not supported for healthcare search.",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "pageSize": {
          "format": "int32",
          "description": "Maximum number of Documents to return. The maximum allowed value depends on the data type. Values above the maximum value are coerced to the maximum value. * Websites with basic indexing: Default `10`, Maximum `25`. * Websites with advanced indexing: Default `25`, Maximum `50`. * Other: Default `50`, Maximum `100`. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer"
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSpellCorrectionSpec"
        },
        "displaySpec": {
          "description": "Optional. Config for display feature, like match highlighting on search results.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDisplaySpec"
        },
        "crowdingSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestCrowdingSpec"
          },
          "description": "Optional. Crowding specifications for improving result diversity. If multiple CrowdingSpecs are specified, crowding will be evaluated on each unique combination of the `field` values, and max_count will be the maximum value of `max_count` across all CrowdingSpecs. For example, if the first CrowdingSpec has `field` = \"color\" and `max_count` = 3, and the second CrowdingSpec has `field` = \"size\" and `max_count` = 2, then after 3 documents that share the same color AND size have been returned, subsequent ones should be removed or demoted."
        },
        "userPseudoId": {
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "sessionSpec": {
          "description": "Session specification. Can be used only when `session` is set.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestSessionSpec"
        },
        "pageToken": {
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "contentSearchSpec": {
          "description": "A specification for configuring the behavior of content search.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec"
        },
        "session": {
          "description": "The session resource name. Optional. Session allows users to do multi-turn /search API calls or coordination between /search API calls and /answer API calls. Example #1 (multi-turn /search API calls): Call /search API with the session ID generated in the first call. Here, the previous search query gets considered in query standing. I.e., if the first query is \"How did Alphabet do in 2022?\" and the current query is \"How about 2023?\", the current query will be interpreted as \"How did Alphabet do in 2023?\". Example #2 (coordination between /search API calls and /answer API calls): Call /answer API with the session ID generated in the first call. Here, the answer generation happens in the context of the search results from the first search call.",
          "type": "string"
        },
        "offset": {
          "type": "integer",
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned. A large offset may be capped to a reasonable threshold.",
          "format": "int32"
        },
        "oneBoxPageSize": {
          "type": "integer",
          "description": "The maximum number of results to return for OneBox. This applies to each OneBox type individually. Default number is 10.",
          "format": "int32"
        },
        "pageCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as PageInfo.page_category. This field is the equivalent of the query for browse (navigation) queries. It's used by the browse model when the query is empty. If the field is empty, it will not be used by the browse model. If the field contains more than one element, only the first element will be used. To represent full path of a category, use '>' character to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, `Graphics Cards > RTX>4090 > Founders Edition` where \"RTX > 4090\" represents one level, can be rewritten as `Graphics Cards > RTX_4090 > Founders Edition`"
        },
        "rankingExpression": {
          "description": "Optional. The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The syntax and supported features depend on the `ranking_expression_backend` value. If `ranking_expression_backend` is not provided, it defaults to `RANK_BY_EMBEDDING`. If ranking_expression_backend is not provided or set to `RANK_BY_EMBEDDING`, it should be a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between `embedding_field_path` and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`. If ranking_expression_backend is set to `RANK_BY_FORMULA`, the following expression types (and combinations of those chained using + or * operators) are supported: * `double` * `signal` * `log(signal)` * `exp(signal)` * `rr(signal, double > 0)` -- reciprocal rank transformation with second argument being a denominator constant. * `is_nan(signal)` -- returns 0 if signal is NaN, 1 otherwise. * `fill_nan(signal1, signal2 | double)` -- if signal1 is NaN, returns signal2 | double, else returns signal1. Here are a few examples of ranking formulas that use the supported ranking expression types: - `0.2 * semantic_similarity_score + 0.8 * log(keyword_similarity_score)` -- mostly rank by the logarithm of `keyword_similarity_score` with slight `semantic_smilarity_score` adjustment. - `0.2 * exp(fill_nan(semantic_similarity_score, 0)) + 0.3 * is_nan(keyword_similarity_score)` -- rank by the exponent of `semantic_similarity_score` filling the value with 0 if it's NaN, also add constant 0.3 adjustment to the final score if `semantic_similarity_score` is NaN. - `0.2 * rr(semantic_similarity_score, 16) + 0.8 * rr(keyword_similarity_score, 16)` -- mostly rank by the reciprocal rank of `keyword_similarity_score` with slight adjustment of reciprocal rank of `semantic_smilarity_score`. The following signals are supported: * `semantic_similarity_score`: semantic similarity adjustment that is calculated using the embeddings generated by a proprietary Google model. This score determines how semantically similar a search query is to a document. * `keyword_similarity_score`: keyword match adjustment uses the Best Match 25 (BM25) ranking function. This score is calculated using a probabilistic model to estimate the probability that a document is relevant to a given query. * `relevance_score`: semantic relevance adjustment that uses a proprietary Google model to determine the meaning and intent behind a user's query in context with the content in the documents. * `pctr_rank`: predicted conversion rate adjustment as a rank use predicted Click-through rate (pCTR) to gauge the relevance and attractiveness of a search result from a user's perspective. A higher pCTR suggests that the result is more likely to satisfy the user's query and intent, making it a valuable signal for ranking. * `freshness_rank`: freshness adjustment as a rank * `document_age`: The time in hours elapsed since the document was last updated, a floating-point number (e.g., 0.25 means 15 minutes). * `topicality_rank`: topicality adjustment as a rank. Uses proprietary Google model to determine the keyword-based overlap between the query and the document. * `base_rank`: the default rank of the result",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference",
      "type": "object",
      "properties": {
        "displayPhotoUri": {
          "type": "string",
          "description": "The display photo url of the person."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the person."
        },
        "email": {
          "description": "The email of the person.",
          "type": "string"
        },
        "destinationUri": {
          "description": "The destination uri of the person.",
          "type": "string"
        },
        "personId": {
          "type": "string",
          "description": "The person id of the person."
        },
        "fileId": {
          "description": "Output only. The file id of the person data stored in the session context files.",
          "type": "string",
          "readOnly": true
        },
        "documentName": {
          "description": "The full resource name of the person. Format: `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`.",
          "type": "string"
        }
      },
      "description": "Represents a person reference."
    },
    "GoogleCloudDiscoveryengineV1RecommendRequest": {
      "id": "GoogleCloudDiscoveryengineV1RecommendRequest",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Filter for restricting recommendation results with a length limit of 5,000 characters. Currently, only filter expressions on the `filter_tags` attribute is supported. Examples: * `(filter_tags: ANY(\"Red\", \"Blue\") OR filter_tags: ANY(\"Hot\", \"Cold\"))` * `(filter_tags: ANY(\"Red\", \"Blue\")) AND NOT (filter_tags: ANY(\"Green\"))` If `attributeFilteringSyntax` is set to true under the `params` field, then attribute-based expressions are expected instead of the above described tag-based syntax. Examples: * (language: ANY(\"en\", \"es\")) AND NOT (categories: ANY(\"Movie\")) * (available: true) AND (language: ANY(\"en\", \"es\")) OR (categories: ANY(\"Movie\")) If your filter blocks all results, the API returns generic (unfiltered) popular Documents. If you only want results strictly matching the filters, set `strictFiltering` to `true` in RecommendRequest.params to receive empty results instead. Note that the API never returns Documents with `storageStatus` as `EXPIRED` or `DELETED` regardless of filter choices.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Use validate only mode for this recommendation query. If set to `true`, a fake model is used that returns arbitrary Document IDs. Note that the validate only mode should only be used for testing the API, or if the model is not ready.",
          "type": "boolean"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return. Set this property to the number of recommendation results needed. If zero, the service chooses a reasonable default. The maximum allowed value is 100. Values above 100 are set to 100."
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the Recommend request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserEvent.user_pseudo_id or UserEvent.user_info.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserEvent.user_pseudo_id to a random unique ID and leave UserEvent.user_info.user_id unset.",
          "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
        },
        "params": {
          "description": "Additional domain specific parameters for the recommendations. Allowed values: * `returnDocument`: Boolean. If set to `true`, the associated Document object is returned in RecommendResponse.RecommendationResult.document. * `returnScore`: Boolean. If set to true, the recommendation score corresponding to each returned Document is set in RecommendResponse.RecommendationResult.metadata. The given score indicates the probability of a Document conversion given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to `false`, the service returns generic (unfiltered) popular Documents instead of empty if your filter blocks all recommendation results. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` This gives request-level control and adjusts recommendation results based on Document category. * `attributeFilteringSyntax`: Boolean. False by default. If set to true, the `filter` field is interpreted according to the new, attribute-based syntax.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "description": "Request message for Recommend method."
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesMetadata": {
      "description": "Metadata related to the progress of the ImportSampleQueries operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesMetadata",
      "type": "object",
      "properties": {
        "successCount": {
          "format": "int64",
          "description": "Count of SampleQuerys successfully imported.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total count of SampleQuerys that were processed.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "description": "ImportSampleQueries operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "ImportSampleQueries operation last update time. If the operation is done, this is also the finish time."
        },
        "failureCount": {
          "description": "Count of SampleQuerys that failed to be imported.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse",
      "type": "object",
      "properties": {
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      },
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignals": {
      "description": "A set of ranking signals.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignals",
      "type": "object",
      "properties": {
        "pctrRank": {
          "type": "number",
          "format": "float",
          "description": "Optional. Predicted conversion rate adjustment as a rank."
        },
        "documentAge": {
          "type": "number",
          "description": "Optional. Age of the document in hours.",
          "format": "float"
        },
        "precomputedExpressionValues": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Optional. A list of precomputed expression results for a given document, in the same order as requested in `SearchRequest.custom_ranking_params.expressions_to_precompute`.",
          "type": "array"
        },
        "relevanceScore": {
          "type": "number",
          "format": "float",
          "description": "Optional. Semantic relevance adjustment."
        },
        "topicalityRank": {
          "type": "number",
          "format": "float",
          "description": "Optional. Topicality adjustment as a rank."
        },
        "defaultRank": {
          "format": "float",
          "description": "Optional. The default rank of the result.",
          "type": "number"
        },
        "customSignals": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignalsCustomSignal"
          },
          "description": "Optional. A list of custom clearbox signals.",
          "type": "array"
        },
        "keywordSimilarityScore": {
          "type": "number",
          "description": "Optional. Keyword matching adjustment.",
          "format": "float"
        },
        "semanticSimilarityScore": {
          "description": "Optional. Semantic similarity adjustment.",
          "format": "float",
          "type": "number"
        },
        "boostingFactor": {
          "description": "Optional. Combined custom boosts for a doc.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestCrowdingSpec": {
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestCrowdingSpec",
      "type": "object",
      "properties": {
        "field": {
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive.",
          "type": "string"
        },
        "maxCount": {
          "format": "int32",
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "type": "integer"
        },
        "mode": {
          "description": "Mode to use for documents that are crowded away.",
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest": {
      "description": "Request for DataStoreService.RemovePatientFilter method.",
      "id": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest",
      "type": "object",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned"
        },
        "filterGroups": {
          "description": "Required. Names of the Group resources to use as a basis for the list of patients to remove from the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the list of IDs to remove will be constructed from the direct members of the group which are Patient resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1RecrawlUrisRequest": {
      "description": "Request message for SiteSearchEngineService.RecrawlUris method.",
      "id": "GoogleCloudDiscoveryengineV1RecrawlUrisRequest",
      "type": "object",
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of URIs to crawl. At most 10K URIs are supported, otherwise an INVALID_ARGUMENT error is thrown. Each URI should match at least one TargetSite in `site_search_engine`.",
          "type": "array"
        },
        "siteCredential": {
          "type": "string",
          "description": "Optional. Credential id to use for crawling."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaConditionQueryTerm": {
      "id": "GoogleCloudDiscoveryengineV1betaConditionQueryTerm",
      "type": "object",
      "properties": {
        "value": {
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters.",
          "type": "string"
        },
        "fullMatch": {
          "type": "boolean",
          "description": "Whether the search query needs to exactly match the query term."
        }
      },
      "description": "Matcher for search request query"
    },
    "GoogleCloudDiscoveryengineV1CustomAttribute": {
      "description": "A custom attribute that is not explicitly modeled in a resource, e.g. UserEvent.",
      "id": "GoogleCloudDiscoveryengineV1CustomAttribute",
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "description": "The textual values of this custom attribute. For example, `[\"yellow\", \"green\"]` when the key is \"color\". Empty string is not allowed. Otherwise, an `INVALID_ARGUMENT` error is returned. Exactly one of CustomAttribute.text or CustomAttribute.numbers should be set. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "type": "string"
          }
        },
        "numbers": {
          "type": "array",
          "description": "The numerical values of this custom attribute. For example, `[2.3, 15.4]` when the key is \"lengths_cm\". Exactly one of CustomAttribute.text or CustomAttribute.numbers should be set. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ActionConfigScopeList": {
      "id": "GoogleCloudDiscoveryengineV1ActionConfigScopeList",
      "type": "object",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of scopes."
        }
      },
      "description": "Stores a list of scopes."
    },
    "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse",
      "type": "object",
      "properties": {
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore",
      "type": "object",
      "properties": {
        "disabledForServing": {
          "description": "Optional. If set true, the DataStore will not be available for serving search requests.",
          "type": "boolean"
        }
      },
      "description": "Stores information regarding the serving configurations at DataStore level."
    },
    "GoogleCloudDiscoveryengineV1StreamAssistResponse": {
      "id": "GoogleCloudDiscoveryengineV1StreamAssistResponse",
      "type": "object",
      "properties": {
        "answer": {
          "description": "Assist answer resource object containing parts of the assistant's final answer for the user's query. Not present if the current response doesn't add anything to previously sent AssistAnswer.replies. Observe AssistAnswer.state to see if more parts are to be expected. While the state is `IN_PROGRESS`, the AssistAnswer.replies field in each response will contain replies (reply fragments) to be appended to the ones received in previous responses. AssistAnswer.name won't be filled. If the state is `SUCCEEDED`, `FAILED` or `SKIPPED`, the response is the last response and AssistAnswer.name will have a value.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswer"
        },
        "assistToken": {
          "type": "string",
          "description": "A global unique ID that identifies the current pair of request and stream of responses. Used for feedback and support."
        },
        "sessionInfo": {
          "description": "Session information. Only included in the final StreamAssistResponse of the response stream.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistResponseSessionInfo"
        },
        "invocationTools": {
          "type": "array",
          "description": "The tool names of the tools that were invoked.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for the AssistantService.StreamAssist method."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey": {
      "description": "Specifies how a facet is computed.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey",
      "type": "object",
      "properties": {
        "intervals": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaInterval"
          },
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30.",
          "type": "array"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals."
        },
        "contains": {
          "description": "Only get facet values that contain the given strings. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action > 2022\" and \"Sci-Fi > 2022\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseInsensitive": {
          "type": "boolean",
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise."
        },
        "prefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action > 2022\" and \"Action > 2021\". Only supported on textual fields. Maximum is 10."
        },
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive.",
          "type": "string"
        },
        "restrictedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"restricted_values\" to \"Action > 2022\", the \"category\" facet only contains \"Action > 2022\". Only supported on textual fields. Maximum is 10."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec",
      "type": "object",
      "properties": {
        "maxCount": {
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "format": "int32",
          "type": "integer"
        },
        "mode": {
          "description": "Mode to use for documents that are crowded away.",
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ],
          "type": "string"
        },
        "field": {
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive.",
          "type": "string"
        }
      },
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswer": {
      "description": "AssistAnswer resource, main part of AssistResponse.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswer",
      "type": "object",
      "properties": {
        "assistSkippedReasons": {
          "description": "Reasons for not answering the assist call.",
          "items": {
            "enumDescriptions": [
              "Default value. Skip reason is not specified.",
              "The assistant ignored the query, because it did not appear to be answer-seeking.",
              "The assistant ignored the query or refused to answer because of a customer policy violation (e.g., the query or the answer contained a banned phrase)."
            ],
            "enum": [
              "ASSIST_SKIPPED_REASON_UNSPECIFIED",
              "NON_ASSIST_SEEKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "SKIPPED"
          ],
          "description": "State of the answer generation.",
          "enumDescriptions": [
            "Unknown.",
            "Assist operation is currently in progress.",
            "Assist operation has failed.",
            "Assist operation has succeeded.",
            "Assist operation has been skipped."
          ],
          "type": "string"
        },
        "replies": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply"
          },
          "description": "Replies of the assistant.",
          "type": "array"
        },
        "customerPolicyEnforcementResult": {
          "description": "Optional. The field contains information about the various policy checks' results like the banned phrases or the Model Armor checks. This field is populated only if the assist call was skipped due to a policy violation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Resource name of the `AssistAnswer`. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/assistAnswers/{assist_answer}` This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams": {
      "description": "Configuration parameters for the Custom Ranking feature.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams",
      "type": "object",
      "properties": {
        "expressionsToPrecompute": {
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineSimilarDocumentsEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineSimilarDocumentsEngineConfig",
      "type": "object",
      "properties": {},
      "description": "Additional config specs for a `similar-items` engine."
    },
    "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfoQueryClassificationInfo": {
      "description": "Query classification information.",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfoQueryClassificationInfo",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADVERSARIAL_QUERY",
            "NON_ANSWER_SEEKING_QUERY",
            "JAIL_BREAKING_QUERY",
            "NON_ANSWER_SEEKING_QUERY_V2",
            "USER_DEFINED_CLASSIFICATION_QUERY"
          ],
          "description": "Query classification type.",
          "enumDescriptions": [
            "Unspecified query classification type.",
            "Adversarial query classification type.",
            "Non-answer-seeking query classification type, for chit chat.",
            "Jail-breaking query classification type.",
            "Non-answer-seeking query classification type, for no clear intent.",
            "User defined query classification type."
          ],
          "type": "string"
        },
        "positive": {
          "type": "boolean",
          "description": "Classification output."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BAPConfig": {
      "id": "GoogleCloudDiscoveryengineV1BAPConfig",
      "type": "object",
      "properties": {
        "supportedConnectorModes": {
          "type": "array",
          "items": {
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ],
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ],
            "type": "string"
          },
          "description": "Required. The supported connector modes for the associated BAP connection."
        },
        "enabledActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The actions enabled on the associated BAP connection."
        }
      },
      "description": "The configuration for the BAP connector."
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfig": {
      "description": "Stores information for connecting to AlloyDB.",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfig",
      "type": "object",
      "properties": {
        "alloydbConnectionConfig": {
          "description": "Required. Configuration for connecting to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig"
        },
        "returnedFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Fields to be returned in the search results. If empty, all fields will be returned."
        },
        "alloydbAiNlConfig": {
          "description": "Optional. Configuration for Magic.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigImage": {
      "description": "Options to store an image.",
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigImage",
      "type": "object",
      "properties": {
        "url": {
          "description": "Image URL.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingServiceContext": {
      "id": "GoogleCloudDiscoveryengineLoggingServiceContext",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "An identifier of the service—for example, `discoveryengine.googleapis.com`."
        }
      },
      "description": "Describes a running service that sends errors."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig": {
      "description": "Configurations for a Search Engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig",
      "type": "object",
      "properties": {
        "requiredSubscriptionTier": {
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ],
          "description": "Optional. The required subscription tier of this engine. They cannot be modified after engine creation. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine.",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "type": "string"
        },
        "searchAddOns": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ]
          },
          "description": "The add-on that this search engine enables."
        },
        "searchTier": {
          "type": "string",
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ],
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig",
      "type": "object",
      "properties": {
        "searchTier": {
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ],
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ],
          "type": "string"
        },
        "requiredSubscriptionTier": {
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER"
          ],
          "description": "Optional. The required subscription tier of this engine. They cannot be modified after engine creation. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine.",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier."
          ],
          "type": "string"
        },
        "searchAddOns": {
          "description": "The add-on that this search engine enables.",
          "items": {
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ],
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Configurations for a Search Engine."
    },
    "GoogleCloudDiscoveryengineV1IdentityMappingEntry": {
      "id": "GoogleCloudDiscoveryengineV1IdentityMappingEntry",
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "Group identifier. For Google Workspace user account, group_id should be the google workspace group email. For non-google identity provider, group_id is the mapped group identifier configured during the workforcepool config."
        },
        "userId": {
          "type": "string",
          "description": "User identifier. For Google Workspace user account, user_id should be the google workspace user email. For non-google identity provider, user_id is the mapped user identifier configured during the workforcepool config."
        },
        "externalIdentity": {
          "type": "string",
          "description": "Required. Identity outside the customer identity provider. The length limit of external identity will be of 100 characters."
        },
        "externalIdentityName": {
          "type": "string",
          "description": "Optional. The name of the external identity."
        }
      },
      "description": "Identity Mapping Entry that maps an external identity to an internal identity."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "description": "Specification of the model.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models)."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntryOperationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntryOperationMetadata",
      "type": "object",
      "properties": {
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of IdentityMappingEntries that were successfully processed."
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of IdentityMappingEntries that failed to be processed."
        },
        "totalCount": {
          "type": "string",
          "description": "The total number of IdentityMappingEntries that were processed.",
          "format": "int64"
        }
      },
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig",
      "type": "object",
      "properties": {
        "authParams": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors."
        },
        "jsonAuthParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors in json string format.",
          "type": "string"
        },
        "additionalParams": {
          "description": "Optional. Any additional parameters needed for FEDERATED.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode."
    },
    "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction": {
      "id": "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction",
      "type": "object",
      "properties": {
        "synonyms": {
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms. Otherwise an INVALID ARGUMENT error is thrown.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Creates a set of terms that will act as synonyms of one another. Example: \"happy\" will also be considered as \"glad\", \"glad\" will also be considered as \"happy\"."
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequest": {
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequest",
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "The inline source for the input content for document embeddings.",
          "$ref": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesRequestInlineSource"
        },
        "deleteUnassignedUserLicenses": {
          "type": "boolean",
          "description": "Optional. If true, if user licenses removed associated license config, the user license will be deleted. By default which is false, the user license will be updated to unassigned state."
        }
      },
      "description": "Request message for UserLicenseService.BatchUpdateUserLicenses method."
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigFacetField": {
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigFacetField",
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "Required. Registered field name. The format is `field.abc`."
        },
        "displayName": {
          "description": "Optional. The field name that end users will see.",
          "type": "string"
        }
      },
      "description": "Facet fields that store the mapping of fields to end user widget appearance."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata": {
      "description": "Document metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "structData": {
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata",
      "type": "object",
      "properties": {
        "structuredContent": {
          "readOnly": true,
          "description": "Output only. The structured content information.",
          "$ref": "GoogleCloudDiscoveryengineV1ChunkStructuredContent"
        },
        "imageId": {
          "description": "Output only. Image id is provided if the structured content is based on an image.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The annotation metadata includes structured content in the current chunk."
    },
    "GoogleCloudDiscoveryengineV1AlloyDbSource": {
      "id": "GoogleCloudDiscoveryengineV1AlloyDbSource",
      "type": "object",
      "properties": {
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the AlloyDB export to a specific Cloud Storage directory. Ensure that the AlloyDB service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory."
        },
        "projectId": {
          "description": "The project ID that contains the AlloyDB source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "databaseId": {
          "type": "string",
          "description": "Required. The AlloyDB database to copy the data from with a length limit of 256 characters."
        },
        "tableId": {
          "description": "Required. The AlloyDB table to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "locationId": {
          "description": "Required. The AlloyDB location to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The AlloyDB cluster to copy the data from with a length limit of 256 characters."
        }
      },
      "description": "AlloyDB source import data from."
    },
    "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Domain name from the document URI. Note that the `uri` field may contain a URL that redirects to the actual website, in which case this will contain the domain name of the target site.",
          "type": "string"
        },
        "mimeType": {
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "uri": {
          "description": "URI for the document. It may contain a URL that redirects to the actual website.",
          "type": "string"
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        }
      },
      "description": "Document metadata."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression": {
      "description": "Logical `Or` operator.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression",
      "type": "object",
      "properties": {
        "expressions": {
          "type": "array",
          "description": "The expressions that were ORed together.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo",
      "type": "object",
      "properties": {
        "content": {
          "description": "Chunk textual content. It is limited to 8000 characters.",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata"
        }
      },
      "description": "Chunk information."
    },
    "GoogleCloudDiscoveryengineV1DistributeLicenseConfigResponse": {
      "id": "GoogleCloudDiscoveryengineV1DistributeLicenseConfigResponse",
      "type": "object",
      "properties": {
        "licenseConfig": {
          "description": "The updated or created LicenseConfig.",
          "$ref": "GoogleCloudDiscoveryengineV1LicenseConfig"
        }
      },
      "description": "Response message for LicenseConfigService.DistributeLicenseConfig method."
    },
    "A2aV1MutualTlsSecurityScheme": {
      "id": "A2aV1MutualTlsSecurityScheme",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation": {
      "description": "Estimation of data size per data store.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation",
      "type": "object",
      "properties": {
        "websiteDataSize": {
          "type": "string",
          "description": "Data size for websites in terms of bytes.",
          "format": "int64"
        },
        "unstructuredDataUpdateTime": {
          "description": "Last updated timestamp for unstructured data.",
          "format": "google-datetime",
          "type": "string"
        },
        "structuredDataUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last updated timestamp for structured data."
        },
        "websiteDataUpdateTime": {
          "type": "string",
          "description": "Last updated timestamp for websites.",
          "format": "google-datetime"
        },
        "structuredDataSize": {
          "type": "string",
          "description": "Data size for structured data in terms of bytes.",
          "format": "int64"
        },
        "unstructuredDataSize": {
          "type": "string",
          "format": "int64",
          "description": "Data size for unstructured data in terms of bytes."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "description": "Access Control Configuration.",
      "id": "GoogleCloudDiscoveryengineV1AclConfig",
      "type": "object",
      "properties": {
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig"
        },
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchLinkPromotion": {
      "description": "Promotion proto includes uri and other helping information to display the promotion.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchLinkPromotion",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional.",
          "type": "string"
        },
        "title": {
          "description": "Required. The title of the promotion. Maximum length: 160 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The Promotion description. Maximum length: 200 characters."
        },
        "imageUri": {
          "description": "Optional. The promotion thumbnail image url.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only.",
          "type": "boolean"
        },
        "document": {
          "type": "string",
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of CompletionSuggestions successfully imported.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of CompletionSuggestions that failed to be imported."
        }
      },
      "description": "Metadata related to the progress of the ImportCompletionSuggestions operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig",
      "type": "object",
      "properties": {
        "enablePrivateKnowledgeGraph": {
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "privateKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cloudKnowledgeGraphTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specify entity types to support."
        },
        "enableCloudKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified."
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig"
        }
      },
      "description": "Configuration message for the Knowledge Graph."
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchCreateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1BatchCreateTargetSiteMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
[...]
