{
  "kind": "discovery#restDescription",
  "canonicalName": "Display Video",
  "discoveryVersion": "v1",
  "schemas": {
    "BulkEditAssignedInventorySourcesResponse": {
      "description": "Response message for AssignedInventorySourceService.BulkEdit.",
      "type": "object",
      "id": "BulkEditAssignedInventorySourcesResponse",
      "properties": {
        "assignedInventorySources": {
          "description": "The list of assigned inventory sources that have been successfully created. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "AssignedInventorySource"
          }
        }
      }
    },
    "AlgorithmRulesSignal": {
      "description": "Signal used to evaluate rules.",
      "type": "object",
      "id": "AlgorithmRulesSignal",
      "properties": {
        "impressionSignal": {
          "enum": [
            "IMPRESSION_SIGNAL_UNSPECIFIED",
            "DAY_AND_TIME",
            "DEVICE_TYPE",
            "AD_POSITION",
            "OPERATING_SYSTEM_ID",
            "MOBILE_MODEL_ID",
            "EXCHANGE",
            "ENVIRONMENT",
            "COUNTRY_ID",
            "CITY_ID",
            "BROWSER_ID",
            "CREATIVE_DIMENSION",
            "VIDEO_CONTENT_DURATION_BUCKET",
            "VIDEO_DELIVERY_TYPE",
            "VIDEO_GENRE_ID"
          ],
          "enumDescriptions": [
            "Unknown signal.",
            "The day of the week and hour of day the impression was made using browser's local time zone. Value is stored in the dayAndTimeValue field of the comparison value.",
            "Device type. Value is stored in the deviceTypeValue field of the comparison value.",
            "Ad position. Value is stored in the onScreenPositionValue field of the comparison value.",
            "The operating system identifier. Value is stored in the int64Value field of the comparison value.",
            "The mobile model identifier. Value is stored in the int64Value field of the comparison value.",
            "Exchange. Value is stored in the exchangeValue field of the comparison value.",
            "Serving environment. Value is stored in the environmentValue field of the comparison value.",
            "The country or region identifier. Value is stored in the int64Value field of the comparison value.",
            "The city identifier. Value is stored in the int64Value field of the comparison value.",
            "The browser identifier. Value is stored in the int64Value field of the comparison value.",
            "Creative height and width in pixels. Value is stored in the creativeDimensionValue field of the comparison value.",
            "Video content duration. Value is stored in the contentDurationValue field of the comparison value. The comparisonOperator field must be set to `LIST_CONTAINS`.",
            "Video delivery type. Value is stored in the contentStreamTypeValue field of the comparison value. The comparisonOperator field must be set to `LIST_CONTAINS`.",
            "Video genre id. Value is stored in the contentGenreIdValue field of the comparison value. The comparisonOperator field must be set to `LIST_CONTAINS`."
          ],
          "description": "Signal based on impressions.",
          "type": "string"
        },
        "clickSignal": {
          "enum": [
            "CLICK_SIGNAL_UNSPECIFIED",
            "CLICK"
          ],
          "description": "Signal based on clicks. This field is only supported for allowlisted partners.",
          "type": "string",
          "enumDescriptions": [
            "Unknown signal.",
            "Whether the ad was clicked. Value is stored in the boolValue field of the comparison value."
          ]
        },
        "activeViewSignal": {
          "enum": [
            "ACTIVE_VIEW_SIGNAL_UNSPECIFIED",
            "ACTIVE_VIEW_VIEWED",
            "AUDIBLE",
            "VIDEO_COMPLETED",
            "TIME_ON_SCREEN",
            "VIDEO_PLAYER_SIZE",
            "COMPLETED_IN_VIEW_AUDIBLE"
          ],
          "enumDescriptions": [
            "Unknown signal.",
            "Whether Active View detects that your ad has been viewed. Value is stored in the boolValue field of the comparison value.",
            "Whether Active View detects that your ad was audible. Value is stored in the boolValue field of the comparison value.",
            "Whether the video was completed. Value is stored in the boolValue field of the comparison value.",
            "The time the ad was on screen in seconds. Value is stored in the int64Value field of the comparison value.",
            "The size of the video player displaying the ad. Value is stored in the videoPlayerSizeValue field of the comparison value.",
            "Whether the ad was completed in view and audible. Value is stored in the boolValue field of the comparison value."
          ],
          "description": "Signal based on active views. This field is only supported for allowlisted partners.",
          "type": "string"
        }
      }
    },
    "AlgorithmRulesSignalValue": {
      "properties": {
        "activeViewSignal": {
          "description": "Signal based on active views. Only `TIME_ON_SCREEN` is supported. This field is only supported for allowlisted partners.",
          "type": "string",
          "enumDescriptions": [
            "Unknown signal.",
            "Whether Active View detects that your ad has been viewed. Value is stored in the boolValue field of the comparison value.",
            "Whether Active View detects that your ad was audible. Value is stored in the boolValue field of the comparison value.",
            "Whether the video was completed. Value is stored in the boolValue field of the comparison value.",
            "The time the ad was on screen in seconds. Value is stored in the int64Value field of the comparison value.",
            "The size of the video player displaying the ad. Value is stored in the videoPlayerSizeValue field of the comparison value.",
            "Whether the ad was completed in view and audible. Value is stored in the boolValue field of the comparison value."
          ],
          "enum": [
            "ACTIVE_VIEW_SIGNAL_UNSPECIFIED",
            "ACTIVE_VIEW_VIEWED",
            "AUDIBLE",
            "VIDEO_COMPLETED",
            "TIME_ON_SCREEN",
            "VIDEO_PLAYER_SIZE",
            "COMPLETED_IN_VIEW_AUDIBLE"
          ]
        },
        "floodlightActivityConversionSignal": {
          "description": "Signal based on floodlight conversion events. This field is only supported for allowlisted partners.",
          "$ref": "AlgorithmRulesFloodlightActivityConversionSignal"
        },
        "number": {
          "description": "Value to use as result.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "AlgorithmRulesSignalValue",
      "description": "Adjusted value of the signal used for rule evaluation.",
      "type": "object"
    },
    "CarrierAndIspAssignedTargetingOptionDetails": {
      "id": "CarrierAndIspAssignedTargetingOptionDetails",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted. All assigned carrier and ISP targeting options on the same resource must have the same value for this field.",
          "type": "boolean"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name of the carrier or ISP.",
          "type": "string"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_CARRIER_AND_ISP`.",
          "type": "string"
        }
      },
      "description": "Details for assigned carrier and ISP targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`.",
      "type": "object"
    },
    "DoubleVerifyAppStarRating": {
      "properties": {
        "avoidedStarRating": {
          "description": "Avoid bidding on apps with the star ratings.",
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any app star rating options.",
            "Official Apps with rating < 1.5 Stars.",
            "Official Apps with rating < 2 Stars.",
            "Official Apps with rating < 2.5 Stars.",
            "Official Apps with rating < 3 Stars.",
            "Official Apps with rating < 3.5 Stars.",
            "Official Apps with rating < 4 Stars.",
            "Official Apps with rating < 4.5 Stars."
          ],
          "enum": [
            "APP_STAR_RATE_UNSPECIFIED",
            "APP_STAR_RATE_1_POINT_5_LESS",
            "APP_STAR_RATE_2_LESS",
            "APP_STAR_RATE_2_POINT_5_LESS",
            "APP_STAR_RATE_3_LESS",
            "APP_STAR_RATE_3_POINT_5_LESS",
            "APP_STAR_RATE_4_LESS",
            "APP_STAR_RATE_4_POINT_5_LESS"
          ]
        },
        "avoidInsufficientStarRating": {
          "description": "Avoid bidding on apps with insufficient star ratings.",
          "type": "boolean"
        }
      },
      "id": "DoubleVerifyAppStarRating",
      "description": "Details of DoubleVerify star ratings settings.",
      "type": "object"
    },
    "AdPolicyTopicEvidenceWebsiteList": {
      "description": "A list of websites that violated the policy.",
      "type": "object",
      "properties": {
        "websites": {
          "description": "Websites that caused the policy finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AdPolicyTopicEvidenceWebsiteList"
    },
    "ListInventorySourceGroupsResponse": {
      "properties": {
        "inventorySourceGroups": {
          "description": "The list of inventory source groups. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "InventorySourceGroup"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInventorySourceGroups` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListInventorySourceGroupsResponse",
      "description": "Response message for InventorySourceGroupService.ListInventorySourceGroups.",
      "type": "object"
    },
    "EditGuaranteedOrderReadAccessorsRequest": {
      "id": "EditGuaranteedOrderReadAccessorsRequest",
      "properties": {
        "readAccessInherited": {
          "description": "Whether to give all advertisers of the read/write accessor partner read access to the guaranteed order. Only applicable if read_write_partner_id is set in the guaranteed order.",
          "type": "boolean"
        },
        "partnerId": {
          "description": "Required. The partner context in which the change is being made.",
          "type": "string",
          "format": "int64"
        },
        "addedAdvertisers": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The advertisers to add as read accessors to the guaranteed order.",
          "type": "array"
        },
        "removedAdvertisers": {
          "description": "The advertisers to remove as read accessors to the guaranteed order.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Request message for GuaranteedOrderService.EditGuaranteedOrderReadAccessors.",
      "type": "object"
    },
    "EditCustomerMatchMembersResponse": {
      "id": "EditCustomerMatchMembersResponse",
      "properties": {
        "firstAndThirdPartyAudienceId": {
          "description": "Required. The ID of the updated Customer Match FirstAndThirdPartyAudience.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The response of FirstAndThirdPartyAudienceService.EditCustomerMatchMembers.",
      "type": "object"
    },
    "MaximizeSpendBidStrategy": {
      "properties": {
        "performanceGoalType": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Cost per action.",
            "Cost per click.",
            "Viewable CPM.",
            "Custom bidding algorithm.",
            "Completed inview and audible views.",
            "Inview time over 10 secs views.",
            "Viewable impressions."
          ],
          "description": "Required. The type of the performance goal that the bidding strategy tries to minimize while spending the full budget. `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM` is not supported for this strategy.",
          "type": "string",
          "enum": [
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_UNSPECIFIED",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED"
          ]
        },
        "maxAverageCpmBidAmountMicros": {
          "format": "int64",
          "description": "The maximum average CPM that may be bid, in micros of the advertiser's currency. Must be greater than or equal to a billable unit of the given currency. For example, 1500000 represents 1.5 standard units of the currency.",
          "type": "string"
        },
        "raiseBidForDeals": {
          "description": "Whether the strategy takes deal floor prices into account.",
          "type": "boolean"
        },
        "customBiddingAlgorithmId": {
          "format": "int64",
          "description": "The ID of the Custom Bidding Algorithm used by this strategy. Only applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`. Assigning a custom bidding algorithm that uses floodlight activities not identified in floodlightActivityConfigs will return an error.",
          "type": "string"
        }
      },
      "id": "MaximizeSpendBidStrategy",
      "description": "A strategy that automatically adjusts the bid to optimize a specified performance goal while spending the full budget.",
      "type": "object"
    },
    "DcmTrackingInfo": {
      "description": "Details on the DCM tracking.",
      "type": "object",
      "id": "DcmTrackingInfo",
      "properties": {
        "creativeId": {
          "format": "int64",
          "description": "Required. The DCM creative id.",
          "type": "string"
        },
        "placementId": {
          "format": "int64",
          "description": "Required. The DCM placement id.",
          "type": "string"
        },
        "trackingAdId": {
          "format": "int64",
          "description": "Required. The DCM tracking ad id.",
          "type": "string"
        }
      }
    },
    "ListAdGroupsResponse": {
      "type": "object",
      "id": "ListAdGroupsResponse",
      "properties": {
        "adGroups": {
          "description": "The list of ad groups. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "AdGroup"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAdGroups` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "PublisherReviewStatus": {
      "properties": {
        "publisherName": {
          "description": "The publisher reviewing the creative.",
          "type": "string"
        },
        "status": {
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "description": "Status of the publisher review.",
          "type": "string"
        }
      },
      "id": "PublisherReviewStatus",
      "description": "Publisher review status for the creative.",
      "type": "object"
    },
    "BulkEditAdGroupAssignedTargetingOptionsRequest": {
      "description": "Request message for BulkEditAdGroupAssignedTargetingOptions.",
      "type": "object",
      "properties": {
        "adGroupIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Required. The IDs of the ad groups the assigned targeting options will belong to. A maximum of 25 ad group IDs can be specified.",
          "type": "array"
        },
        "deleteRequests": {
          "description": "Optional. The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
          "type": "array",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          }
        },
        "createRequests": {
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "description": "Optional. The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionRequest`. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
          "type": "array"
        }
      },
      "id": "BulkEditAdGroupAssignedTargetingOptionsRequest"
    },
    "AssignedTargetingOption": {
      "description": "A single assigned targeting option, which defines the state of a targeting option for an entity with targeting settings.",
      "type": "object",
      "id": "AssignedTargetingOption",
      "properties": {
        "genderDetails": {
          "description": "Gender details. This field will be populated when the targeting_type is `TARGETING_TYPE_GENDER`.",
          "$ref": "GenderAssignedTargetingOptionDetails"
        },
        "youtubeVideoDetails": {
          "$ref": "YoutubeVideoAssignedTargetingOptionDetails",
          "description": "YouTube video details. This field will be populated when the targeting_type is `TARGETING_TYPE_YOUTUBE_VIDEO`."
        },
        "contentOutstreamPositionDetails": {
          "$ref": "ContentOutstreamPositionAssignedTargetingOptionDetails",
          "description": "Content outstream position details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`."
        },
        "contentGenreDetails": {
          "description": "Content genre details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_GENRE`.",
          "$ref": "ContentGenreAssignedTargetingOptionDetails"
        },
        "contentDurationDetails": {
          "$ref": "ContentDurationAssignedTargetingOptionDetails",
          "description": "Content duration details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_DURATION`."
        },
        "poiDetails": {
          "$ref": "PoiAssignedTargetingOptionDetails",
          "description": "POI details. This field will be populated when the targeting_type is `TARGETING_TYPE_POI`."
        },
        "carrierAndIspDetails": {
          "description": "Carrier and ISP details. This field will be populated when the targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`.",
          "$ref": "CarrierAndIspAssignedTargetingOptionDetails"
        },
        "nativeContentPositionDetails": {
          "$ref": "NativeContentPositionAssignedTargetingOptionDetails",
          "description": "Native content position details. This field will be populated when the targeting_type is `TARGETING_TYPE_NATIVE_CONTENT_POSITION`."
        },
        "youtubeChannelDetails": {
          "$ref": "YoutubeChannelAssignedTargetingOptionDetails",
          "description": "YouTube channel details. This field will be populated when the targeting_type is `TARGETING_TYPE_YOUTUBE_CHANNEL`."
        },
        "negativeKeywordListDetails": {
          "$ref": "NegativeKeywordListAssignedTargetingOptionDetails",
          "description": "Keyword details. This field will be populated when the targeting_type is `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`. A maximum of 4 negative keyword lists can be assigned to a resource."
        },
        "name": {
          "description": "Output only. The resource name for this assigned targeting option.",
          "type": "string",
          "readOnly": true
        },
        "environmentDetails": {
          "$ref": "EnvironmentAssignedTargetingOptionDetails",
          "description": "Environment details. This field will be populated when the targeting_type is `TARGETING_TYPE_ENVIRONMENT`."
        },
        "targetingType": {
          "description": "Output only. Identifies the type of this assigned targeting option.",
          "type": "string",
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
          ],
          "readOnly": true,
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION",
            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
          ]
        },
        "channelDetails": {
          "$ref": "ChannelAssignedTargetingOptionDetails",
          "description": "Channel details. This field will be populated when the targeting_type is `TARGETING_TYPE_CHANNEL`."
        },
        "dayAndTimeDetails": {
          "description": "Day and time details. This field will be populated when the targeting_type is `TARGETING_TYPE_DAY_AND_TIME`.",
          "$ref": "DayAndTimeAssignedTargetingOptionDetails"
        },
        "videoPlayerSizeDetails": {
          "description": "Video player size details. This field will be populated when the targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`.",
          "$ref": "VideoPlayerSizeAssignedTargetingOptionDetails"
        },
        "proximityLocationListDetails": {
          "description": "Proximity location list details. This field will be populated when the targeting_type is `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`.",
          "$ref": "ProximityLocationListAssignedTargetingOptionDetails"
        },
        "thirdPartyVerifierDetails": {
          "description": "Third party verification details. This field will be populated when the targeting_type is `TARGETING_TYPE_THIRD_PARTY_VERIFIER`.",
          "$ref": "ThirdPartyVerifierAssignedTargetingOptionDetails"
        },
        "sensitiveCategoryExclusionDetails": {
          "$ref": "SensitiveCategoryAssignedTargetingOptionDetails",
          "description": "Sensitive category details. This field will be populated when the targeting_type is `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`. Sensitive categories are targeting exclusions. Advertiser level sensitive category exclusions, if set, are always applied in serving (even though they aren't visible in resource settings). Resource settings can exclude sensitive categories in addition to advertiser exclusions, but can't override them."
        },
        "ageRangeDetails": {
          "description": "Age range details. This field will be populated when the targeting_type is `TARGETING_TYPE_AGE_RANGE`.",
          "$ref": "AgeRangeAssignedTargetingOptionDetails"
        },
        "assignedTargetingOptionIdAlias": {
          "readOnly": true,
          "description": "Output only. An alias for the assigned_targeting_option_id. This value can be used in place of `assignedTargetingOptionId` when retrieving or deleting existing targeting. This field will only be supported for all assigned targeting options of the following targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY` This field is also supported for line item assigned targeting options of the following targeting types: * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`",
          "type": "string"
        },
        "deviceMakeModelDetails": {
          "description": "Device make and model details. This field will be populated when the targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`.",
          "$ref": "DeviceMakeModelAssignedTargetingOptionDetails"
        },
        "parentalStatusDetails": {
          "description": "Parental status details. This field will be populated when the targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`.",
          "$ref": "ParentalStatusAssignedTargetingOptionDetails"
        },
        "languageDetails": {
          "description": "Language details. This field will be populated when the targeting_type is `TARGETING_TYPE_LANGUAGE`.",
          "$ref": "LanguageAssignedTargetingOptionDetails"
        },
        "appDetails": {
          "$ref": "AppAssignedTargetingOptionDetails",
          "description": "App details. This field will be populated when the targeting_type is `TARGETING_TYPE_APP`."
        },
        "onScreenPositionDetails": {
          "description": "On screen position details. This field will be populated when the targeting_type is `TARGETING_TYPE_ON_SCREEN_POSITION`.",
          "$ref": "OnScreenPositionAssignedTargetingOptionDetails"
        },
        "appCategoryDetails": {
          "$ref": "AppCategoryAssignedTargetingOptionDetails",
          "description": "App category details. This field will be populated when the targeting_type is `TARGETING_TYPE_APP_CATEGORY`."
        },
        "omidDetails": {
          "$ref": "OmidAssignedTargetingOptionDetails",
          "description": "Open Measurement enabled inventory details. This field will be populated when the targeting_type is `TARGETING_TYPE_OMID`."
        },
        "inventorySourceGroupDetails": {
          "$ref": "InventorySourceGroupAssignedTargetingOptionDetails",
          "description": "Inventory source group details. This field will be populated when the targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`."
        },
        "geoRegionDetails": {
          "$ref": "GeoRegionAssignedTargetingOptionDetails",
          "description": "Geographic region details. This field will be populated when the targeting_type is `TARGETING_TYPE_GEO_REGION`."
        },
        "userRewardedContentDetails": {
          "description": "User rewarded content details. This field will be populated when the targeting_type is `TARGETING_TYPE_USER_REWARDED_CONTENT`.",
          "$ref": "UserRewardedContentAssignedTargetingOptionDetails"
        },
        "browserDetails": {
          "description": "Browser details. This field will be populated when the targeting_type is `TARGETING_TYPE_BROWSER`.",
          "$ref": "BrowserAssignedTargetingOptionDetails"
        },
        "contentStreamTypeDetails": {
          "description": "Content duration details. This field will be populated when the TargetingType is `TARGETING_TYPE_CONTENT_STREAM_TYPE`.",
          "$ref": "ContentStreamTypeAssignedTargetingOptionDetails"
        },
        "keywordDetails": {
          "$ref": "KeywordAssignedTargetingOptionDetails",
          "description": "Keyword details. This field will be populated when the targeting_type is `TARGETING_TYPE_KEYWORD`. A maximum of 5000 direct negative keywords can be assigned to a resource. No limit on number of positive keywords that can be assigned."
        },
        "exchangeDetails": {
          "$ref": "ExchangeAssignedTargetingOptionDetails",
          "description": "Exchange details. This field will be populated when the targeting_type is `TARGETING_TYPE_EXCHANGE`."
        },
        "deviceTypeDetails": {
          "description": "Device Type details. This field will be populated when the targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
          "$ref": "DeviceTypeAssignedTargetingOptionDetails"
        },
        "subExchangeDetails": {
          "$ref": "SubExchangeAssignedTargetingOptionDetails",
          "description": "Sub-exchange details. This field will be populated when the targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`."
        },
        "regionalLocationListDetails": {
          "$ref": "RegionalLocationListAssignedTargetingOptionDetails",
          "description": "Regional location list details. This field will be populated when the targeting_type is `TARGETING_TYPE_REGIONAL_LOCATION_LIST`."
        },
        "householdIncomeDetails": {
          "$ref": "HouseholdIncomeAssignedTargetingOptionDetails",
          "description": "Household income details. This field will be populated when the targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`."
        },
        "sessionPositionDetails": {
          "$ref": "SessionPositionAssignedTargetingOptionDetails",
          "description": "Session position details. This field will be populated when the targeting_type is `TARGETING_TYPE_SESSION_POSITION`."
        },
        "audienceGroupDetails": {
          "description": "Audience targeting details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUDIENCE_GROUP`. You can only target one audience group option per resource.",
          "$ref": "AudienceGroupAssignedTargetingOptionDetails"
        },
        "businessChainDetails": {
          "description": "Business chain details. This field will be populated when the targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
          "$ref": "BusinessChainAssignedTargetingOptionDetails"
        },
        "audioContentTypeDetails": {
          "$ref": "AudioContentTypeAssignedTargetingOptionDetails",
          "description": "Audio content type details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`."
        },
        "digitalContentLabelExclusionDetails": {
          "description": "Digital content label details. This field will be populated when the targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`. Digital content labels are targeting exclusions. Advertiser level digital content label exclusions, if set, are always applied in serving (even though they aren't visible in resource settings). Resource settings can exclude content labels in addition to advertiser exclusions, but can't override them. A line item won't serve if all the digital content labels are excluded.",
          "$ref": "DigitalContentLabelAssignedTargetingOptionDetails"
        },
        "inheritance": {
          "enumDescriptions": [
            "The inheritance is unspecified or unknown.",
            "The assigned targeting option is not inherited from higher level entity.",
            "The assigned targeting option is inherited from partner targeting settings.",
            "The assigned targeting option is inherited from advertiser targeting settings."
          ],
          "readOnly": true,
          "enum": [
            "INHERITANCE_UNSPECIFIED",
            "NOT_INHERITED",
            "INHERITED_FROM_PARTNER",
            "INHERITED_FROM_ADVERTISER"
          ],
          "description": "Output only. The inheritance status of the assigned targeting option.",
          "type": "string"
        },
        "contentThemeExclusionDetails": {
          "description": "Content theme details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`. Content theme are targeting exclusions. Advertiser level content theme exclusions, if set, are always applied in serving (even though they aren't visible in resource settings). Resource settings can exclude content theme in addition to advertiser exclusions.",
          "$ref": "ContentThemeAssignedTargetingOptionDetails"
        },
        "urlDetails": {
          "description": "URL details. This field will be populated when the targeting_type is `TARGETING_TYPE_URL`.",
          "$ref": "UrlAssignedTargetingOptionDetails"
        },
        "operatingSystemDetails": {
          "description": "Operating system details. This field will be populated when the targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
          "$ref": "OperatingSystemAssignedTargetingOptionDetails"
        },
        "assignedTargetingOptionId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the assigned targeting option. The ID is only unique within a given resource and targeting type. It may be reused in other contexts.",
          "type": "string"
        },
        "contentInstreamPositionDetails": {
          "$ref": "ContentInstreamPositionAssignedTargetingOptionDetails",
          "description": "Content instream position details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`."
        },
        "categoryDetails": {
          "$ref": "CategoryAssignedTargetingOptionDetails",
          "description": "Category details. This field will be populated when the targeting_type is `TARGETING_TYPE_CATEGORY`. Targeting a category will also target its subcategories. If a category is excluded from targeting and a subcategory is included, the exclusion will take precedence."
        },
        "inventorySourceDetails": {
          "description": "Inventory source details. This field will be populated when the targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`.",
          "$ref": "InventorySourceAssignedTargetingOptionDetails"
        },
        "viewabilityDetails": {
          "description": "Viewability details. This field will be populated when the targeting_type is `TARGETING_TYPE_VIEWABILITY`. You can only target one viewability option per resource.",
          "$ref": "ViewabilityAssignedTargetingOptionDetails"
        },
        "authorizedSellerStatusDetails": {
          "$ref": "AuthorizedSellerStatusAssignedTargetingOptionDetails",
          "description": "Authorized seller status details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. You can only target one authorized seller status option per resource. If a resource doesn't have an authorized seller status option, all authorized sellers indicated as DIRECT or RESELLER in the ads.txt file are targeted by default."
        }
      }
    },
    "CustomBiddingAlgorithmRulesRef": {
      "description": "The reference to the uploaded AlgorithmRules file. Retrieve the location to upload new AlgorithmRules file to using customBiddingAlgorithms.uploadRules.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "A resource name to be used in media.download to download the rules files. Or media.upload to upload the rules files. Resource names have the format `customBiddingAlgorithms/{custom_bidding_algorithm_id}/rulesRef/{ref_id}`.",
          "type": "string"
        }
      },
      "id": "CustomBiddingAlgorithmRulesRef"
    },
    "Partner": {
      "id": "Partner",
      "properties": {
        "adServerConfig": {
          "description": "Ad server related settings of the partner.",
          "$ref": "PartnerAdServerConfig"
        },
        "entityStatus": {
          "description": "Output only. The status of the partner.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the partner.",
          "type": "string"
        },
        "generalConfig": {
          "description": "General settings of the partner.",
          "$ref": "PartnerGeneralConfig"
        },
        "exchangeConfig": {
          "$ref": "ExchangeConfig",
          "description": "Settings that control which exchanges are enabled for the partner."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the partner was last updated. Assigned by the system.",
          "type": "string"
        },
        "billingConfig": {
          "description": "Billing related settings of the partner.",
          "$ref": "PartnerBillingConfig"
        },
        "partnerId": {
          "description": "Output only. The unique ID of the partner. Assigned by the system.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "dataAccessConfig": {
          "$ref": "PartnerDataAccessConfig",
          "description": "Settings that control how partner data may be accessed."
        },
        "displayName": {
          "description": "The display name of the partner. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        }
      },
      "description": "A single partner in Display & Video 360 (DV360).",
      "type": "object"
    },
    "CustomLabel": {
      "description": "The key and value of a custom label.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key of the label.",
          "type": "string",
          "enumDescriptions": [
            "Not specified or unknown.",
            "Key index 0.",
            "Key index 1.",
            "Key index 2.",
            "Key index 3.",
            "Key index 4."
          ],
          "enum": [
            "CUSTOM_LABEL_KEY_UNSPECIFIED",
            "CUSTOM_LABEL_KEY_0",
            "CUSTOM_LABEL_KEY_1",
            "CUSTOM_LABEL_KEY_2",
            "CUSTOM_LABEL_KEY_3",
            "CUSTOM_LABEL_KEY_4"
          ]
        },
        "value": {
          "description": "The value of the label.",
          "type": "string"
        }
      },
      "id": "CustomLabel"
    },
    "Site": {
      "description": "A single site. Sites are apps or websites belonging to a channel.",
      "type": "object",
      "properties": {
        "urlOrAppId": {
          "description": "Required. The app ID or URL of the site. Must be UTF-8 encoded with a maximum length of 240 bytes.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the site.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Site"
    },
    "DeviceTypeTargetingOptionDetails": {
      "id": "DeviceTypeTargetingOptionDetails",
      "properties": {
        "deviceType": {
          "description": "Output only. The device type that is used to be targeted.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET",
            "DEVICE_TYPE_CONNECTED_DEVICE"
          ],
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "Computer.",
            "Connected TV.",
            "Smart phone.",
            "Tablet.",
            "Connected device."
          ]
        }
      },
      "description": "Represents a targetable device type. This will be populated in the device_type_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
      "type": "object"
    },
    "ContactInfoList": {
      "properties": {
        "contactInfos": {
          "description": "A list of ContactInfo objects defining Customer Match audience members. The size of members after splitting the contact_infos mustn't be greater than 500,000.",
          "type": "array",
          "items": {
            "$ref": "ContactInfo"
          }
        },
        "consent": {
          "$ref": "Consent",
          "description": "Input only. The consent setting for the users in contact_infos. Leaving this field unset indicates that consent is not specified. If ad_user_data or ad_personalization fields are set to `CONSENT_STATUS_DENIED`, the request will return an error."
        }
      },
      "id": "ContactInfoList",
      "description": "Wrapper message for a list of contact information defining Customer Match audience members.",
      "type": "object"
    },
    "ListInsertionOrdersResponse": {
      "properties": {
        "insertionOrders": {
          "items": {
            "$ref": "InsertionOrder"
          },
          "description": "The list of insertion orders. This list will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListInsertionOrders` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListInsertionOrdersResponse",
      "type": "object"
    },
    "Transcode": {
      "properties": {
        "dimensions": {
          "description": "Optional. The dimensions of the transcoded video.",
          "$ref": "Dimensions"
        },
        "name": {
          "description": "Optional. The name of the transcoded file.",
          "type": "string"
        },
        "fileSizeBytes": {
          "description": "Optional. The size of the transcoded file, in bytes.",
          "type": "string",
          "format": "int64"
        },
        "frameRate": {
          "description": "Optional. The frame rate of the transcoded video, in frames per second.",
          "type": "number",
          "format": "float"
        },
        "transcoded": {
          "description": "Optional. Indicates if the transcoding was successful.",
          "type": "boolean"
        },
        "mimeType": {
          "description": "Optional. The MIME type of the transcoded file.",
          "type": "string"
        },
        "audioSampleRateHz": {
          "description": "Optional. The sample rate for the audio stream of the transcoded video, or the sample rate for the transcoded audio, in hertz.",
          "type": "string",
          "format": "int64"
        },
        "bitRateKbps": {
          "description": "Optional. The transcoding bit rate of the transcoded video, in kilobits per second.",
          "type": "string",
          "format": "int64"
        },
        "audioBitRateKbps": {
          "description": "Optional. The bit rate for the audio stream of the transcoded video, or the bit rate for the transcoded audio, in kilobits per second.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Transcode",
      "description": "Represents information about the transcoded audio or video file.",
      "type": "object"
    },
    "BulkEditSitesResponse": {
      "description": "Response message for SiteService.BulkEditSites.",
      "type": "object",
      "id": "BulkEditSitesResponse",
      "properties": {
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The list of sites that have been successfully created. This list will be absent if empty.",
          "type": "array"
        }
      }
    },
    "SubExchangeAssignedTargetingOptionDetails": {
      "description": "Details for assigned sub-exchange targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`.",
      "type": "object",
      "properties": {
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_SUB_EXCHANGE`.",
          "type": "string"
        }
      },
      "id": "SubExchangeAssignedTargetingOptionDetails"
    },
    "AdvertiserTargetingConfig": {
      "description": "Targeting settings related to ad serving of an advertiser.",
      "type": "object",
      "id": "AdvertiserTargetingConfig",
      "properties": {
        "exemptTvFromViewabilityTargeting": {
          "description": "Whether or not connected TV devices are exempt from viewability targeting for all video line items under the advertiser.",
          "type": "boolean"
        }
      }
    },
    "DuplicateLineItemRequest": {
      "id": "DuplicateLineItemRequest",
      "properties": {
        "targetDisplayName": {
          "description": "The display name of the new line item. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "containsEuPoliticalAds": {
          "description": "Whether this line item will serve European Union political ads. If contains_eu_political_ads has been set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` in the parent advertiser, then this field will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. This field can then be updated using the UI, API, or Structured Data Files. This field must be assigned when creating a new line item. Otherwise, **the `advertisers.lineItems.create` request will fail**.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ]
        }
      },
      "description": "Request message for LineItemService.DuplicateLineItem.",
      "type": "object"
    },
    "BulkEditSitesRequest": {
      "properties": {
        "advertiserId": {
          "description": "The ID of the advertiser that owns the parent channel.",
          "type": "string",
          "format": "int64"
        },
        "createdSites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The sites to create in batch, specified as a list of Sites.",
          "type": "array"
        },
        "partnerId": {
          "format": "int64",
          "description": "The ID of the partner that owns the parent channel.",
          "type": "string"
        },
        "deletedSites": {
          "items": {
            "type": "string"
          },
          "description": "The sites to delete in batch, specified as a list of site url_or_app_ids.",
          "type": "array"
        }
      },
      "id": "BulkEditSitesRequest",
      "description": "Request message for SiteService.BulkEditSites.",
      "type": "object"
    },
    "AdPolicyCriterionRestriction": {
      "description": "Represents a country restriction.",
      "type": "object",
      "id": "AdPolicyCriterionRestriction",
      "properties": {
        "countryLabel": {
          "description": "Localized name for the country. May be empty.",
          "type": "string"
        },
        "countryCriterionId": {
          "format": "int64",
          "description": "The country criterion id.",
          "type": "string"
        }
      }
    },
    "VideoAdSequenceSettings": {
      "properties": {
        "minimumDuration": {
          "enum": [
            "VIDEO_AD_SEQUENCE_MINIMUM_DURATION_UNSPECIFIED",
            "VIDEO_AD_SEQUENCE_MINIMUM_DURATION_WEEK",
            "VIDEO_AD_SEQUENCE_MINIMUM_DURATION_MONTH"
          ],
          "enumDescriptions": [
            "Unspecified or unknown.",
            "7 days.",
            "30 days."
          ],
          "description": "The minimum time interval before the same user sees this sequence again.",
          "type": "string"
        },
        "steps": {
          "description": "The steps of which the sequence consists.",
          "type": "array",
          "items": {
            "$ref": "VideoAdSequenceStep"
          }
        }
      },
      "id": "VideoAdSequenceSettings",
      "description": "Settings related to VideoAdSequence.",
      "type": "object"
    },
    "DemandGenProductAd": {
      "properties": {
        "logo": {
          "description": "Required. The logo image used by this ad.",
          "$ref": "ImageAsset"
        },
        "trackingUrl": {
          "description": "Output only. The URL address loaded in the background for tracking purposes.",
          "type": "string",
          "readOnly": true
        },
        "displayUrlBreadcrumb1": {
          "description": "Optional. The first piece after the domain in the display URL.",
          "type": "string"
        },
        "callToAction": {
          "enum": [
            "CALL_TO_ACTION_UNSPECIFIED",
            "AUTOMATED",
            "LEARN_MORE",
            "GET_QUOTE",
            "APPLY_NOW",
            "SIGN_UP",
            "CONTACT_US",
            "SUBSCRIBE",
            "DOWNLOAD",
            "BOOK_NOW",
            "SHOP_NOW",
            "BUY_NOW",
            "DONATE_NOW",
            "ORDER_NOW",
            "PLAY_NOW",
            "SEE_MORE",
            "START_NOW",
            "VISIT_SITE",
            "WATCH_NOW"
          ],
          "enumDescriptions": [
            "Not specified or unknown.",
            "Automated.",
            "Learn more.",
            "Get quote.",
            "Apply now.",
            "Sign up.",
            "Contact us.",
            "Subscribe.",
            "Download.",
            "Book now.",
            "Shop now.",
            "Buy now.",
            "Donate now.",
            "Order now.",
            "Play now.",
            "See more.",
            "Start now.",
            "Visit site.",
            "Watch now."
          ],
          "description": "Required. The call-to-action button shown on the ad. The supported values are: * `AUTOMATED` * `APPLY_NOW` * `BOOK_NOW` * `CONTACT_US` * `DOWNLOAD` * `GET_QUOTE` * `LEARN_MORE` * `SHOP_NOW` * `SIGN_UP` * `SUBSCRIBE`",
          "type": "string"
        },
        "userSpecifiedTrackingUrl": {
          "description": "Optional. The tracking URL specified by the user manually.",
          "type": "string"
        },
        "finalUrlSuffix": {
          "description": "Optional. The suffix to append to landing page URLs.",
          "type": "string"
        },
        "businessName": {
          "description": "Required. The business name shown on the ad.",
          "type": "string"
        },
        "customParameters": {
          "description": "Optional. The custom parameters and accompanying values to add to the tracking URL.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "finalUrl": {
          "description": "Required. The URL address of the webpage that people reach after they click the ad.",
          "type": "string"
        },
        "headline": {
          "description": "Required. The headline of the ad.",
          "type": "string"
        },
        "displayUrlBreadcrumb2": {
          "description": "Optional. The second piece after the domain in the display URL.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the ad.",
          "type": "string"
        }
      },
      "id": "DemandGenProductAd",
      "description": "Details for a Demand Gen product ad.",
      "type": "object"
    },
    "GoogleAudienceGroup": {
      "properties": {
        "settings": {
          "items": {
            "$ref": "GoogleAudienceTargetingSetting"
          },
          "description": "Required. All Google audience targeting settings in Google audience group. Repeated settings with the same id will be ignored.",
          "type": "array"
        }
      },
      "id": "GoogleAudienceGroup",
      "description": "Details of Google audience group. All Google audience targeting settings are logically ‘OR’ of each other.",
      "type": "object"
    },
    "CmTrackingAd": {
      "properties": {
        "cmPlacementId": {
          "description": "Optional. The placement ID of the campaign manager 360 tracking Ad.",
          "type": "string",
          "format": "int64"
        },
        "cmCreativeId": {
          "format": "int64",
          "description": "Optional. The creative ID of the campaign manager 360 tracking Ad.",
          "type": "string"
        },
        "cmAdId": {
          "description": "Optional. The ad ID of the campaign manager 360 tracking Ad.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CmTrackingAd",
      "description": "A Campaign Manager 360 tracking ad.",
      "type": "object"
    },
    "DigitalContentLabelAssignedTargetingOptionDetails": {
      "description": "Targeting details for digital content label. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.",
      "type": "object",
      "id": "DigitalContentLabelAssignedTargetingOptionDetails",
      "properties": {
        "excludedContentRatingTier": {
          "enum": [
            "CONTENT_RATING_TIER_UNSPECIFIED",
            "CONTENT_RATING_TIER_UNRATED",
            "CONTENT_RATING_TIER_GENERAL",
            "CONTENT_RATING_TIER_PARENTAL_GUIDANCE",
            "CONTENT_RATING_TIER_TEENS",
            "CONTENT_RATING_TIER_MATURE",
            "CONTENT_RATING_TIER_FAMILIES"
          ],
          "enumDescriptions": [
            "Content label is not specified in this version. This enum is a place holder for a default value and does not represent a real content rating.",
            "Content that has not been labeled.",
            "Content suitable for general audiences.",
            "Content suitable for most audiences with parental guidance.",
            "Content suitable for teen and older audiences.",
            "Content suitable only for mature audiences.",
            "Content suitable for family audiences. It is a subset of CONTENT_RATING_TIER_GENERAL. Only applicable to YouTube and Partners line items."
          ],
          "description": "Required. The display name of the digital content label rating tier to be EXCLUDED.",
          "type": "string"
        }
      }
    },
    "BulkEditAssignedUserRolesResponse": {
      "id": "BulkEditAssignedUserRolesResponse",
      "properties": {
        "createdAssignedUserRoles": {
          "items": {
            "$ref": "AssignedUserRole"
          },
          "description": "The list of assigned user roles that have been successfully created. This list will be absent if empty.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "PoiAssignedTargetingOptionDetails": {
      "id": "PoiAssignedTargetingOptionDetails",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of a POI, e.g. \"Times Square\", \"Space Needle\", followed by its full address if available.",
          "type": "string",
          "readOnly": true
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_POI`. Accepted POI targeting option IDs can be retrieved using `targetingTypes.targetingOptions.search`. If targeting a specific latitude/longitude coordinate removed from an address or POI name, you can generate the necessary targeting option ID by rounding the desired coordinate values to the 6th decimal place, removing the decimals, and concatenating the string values separated by a semicolon. For example, you can target the latitude/longitude pair of 40.7414691, -74.003387 using the targeting option ID \"40741469;-74003387\". **Upon** **creation, this field value will be updated to append a semicolon and** **alphanumerical hash value if only latitude/longitude coordinates are** **provided.**",
          "type": "string"
        },
        "longitude": {
          "format": "double",
          "readOnly": true,
          "description": "Output only. Longitude of the POI rounding to 6th decimal place.",
          "type": "number"
        },
        "proximityRadiusUnit": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "type": "string",
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        },
        "latitude": {
          "description": "Output only. Latitude of the POI rounding to 6th decimal place.",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "proximityRadiusAmount": {
          "description": "Required. The radius of the area around the POI that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Details for assigned POI targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_POI`.",
      "type": "object"
    },
    "BulkEditAssignedLocationsRequest": {
      "id": "BulkEditAssignedLocationsRequest",
      "properties": {
        "deletedAssignedLocations": {
          "description": "The IDs of the assigned locations to delete in bulk, specified as a list of assignedLocationId values.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "createdAssignedLocations": {
          "items": {
            "$ref": "AssignedLocation"
          },
          "description": "The assigned locations to create in bulk, specified as a list of AssignedLocation resources.",
          "type": "array"
        }
      },
      "description": "Request message for AssignedLocationService.BulkEditAssignedLocations.",
      "type": "object"
    },
    "GenderTargetingOptionDetails": {
      "properties": {
        "gender": {
          "description": "Output only. The gender of an audience.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_MALE",
            "GENDER_FEMALE",
            "GENDER_UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value when gender is not specified in this version. This enum is a place holder for default value and does not represent a real gender option.",
            "The audience gender is male.",
            "The audience gender is female.",
            "The audience gender is unknown."
          ]
        }
      },
      "id": "GenderTargetingOptionDetails",
      "description": "Represents a targetable gender. This will be populated in the gender_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_GENDER`.",
      "type": "object"
    },
    "BulkListAdGroupAssignedTargetingOptionsResponse": {
      "id": "BulkListAdGroupAssignedTargetingOptionsResponse",
      "properties": {
        "adGroupAssignedTargetingOptions": {
          "items": {
            "$ref": "AdGroupAssignedTargetingOption"
          },
          "description": "The list of wrapper objects, each providing an assigned targeting option and the ad group it is assigned to. This list will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAdGroupAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more AdGroupAssignedTargetingOption resources to return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AudioContentTypeTargetingOptionDetails": {
      "description": "Represents a targetable audio content type. This will be populated in the audio_content_type_details field when targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`.",
      "type": "object",
      "properties": {
        "audioContentType": {
          "description": "Output only. The audio content type.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "AUDIO_CONTENT_TYPE_UNSPECIFIED",
            "AUDIO_CONTENT_TYPE_UNKNOWN",
            "AUDIO_CONTENT_TYPE_MUSIC",
            "AUDIO_CONTENT_TYPE_BROADCAST",
            "AUDIO_CONTENT_TYPE_PODCAST"
          ],
          "enumDescriptions": [
            "Audio content type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The audio content type is unknown.",
            "The audio content type is music.",
            "The audio content type is broadcast.",
            "The audio content type is podcast."
          ]
        }
      },
      "id": "AudioContentTypeTargetingOptionDetails"
    },
    "CustomListGroup": {
      "id": "CustomListGroup",
      "properties": {
        "settings": {
          "description": "Required. All custom list targeting settings in custom list group. Repeated settings with the same id will be ignored.",
          "type": "array",
          "items": {
            "$ref": "CustomListTargetingSetting"
          }
        }
      },
      "description": "Details of custom list group. All custom list targeting settings are logically ‘OR’ of each other.",
      "type": "object"
    },
    "ListPartnersResponse": {
      "type": "object",
      "id": "ListPartnersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListPartners` method to retrieve the next page of results.",
          "type": "string"
        },
        "partners": {
          "description": "The list of partners. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Partner"
          }
        }
      }
    },
    "IntegrationDetails": {
      "properties": {
        "integrationCode": {
          "description": "An external identifier to be associated with the entry. The integration code will show up together with the entry in many places in the system, for example, reporting. Must be UTF-8 encoded with a length of no more than 500 characters.",
          "type": "string"
        },
        "details": {
          "description": "Additional details of the entry in string format. Must be UTF-8 encoded with a length of no more than 1000 characters.",
          "type": "string"
        }
      },
      "id": "IntegrationDetails",
      "description": "Integration details of an entry.",
      "type": "object"
    },
    "AdvertiserCreativeConfig": {
      "properties": {
        "obaComplianceDisabled": {
          "description": "Whether or not to disable Google's About this Ad feature that adds badging (to identify the content as an ad) and transparency information (on interaction with About this Ad) to your ads for Online Behavioral Advertising (OBA) and regulatory requirements. About this Ad gives users greater control over the ads they see and helps you explain why they're seeing your ad. [Learn more](//support.google.com/displayvideo/answer/14315795). If you choose to set this field to `true`, note that ads served through Display & Video 360 must comply to the following: * Be Online Behavioral Advertising (OBA) compliant, as per your contract with Google Marketing Platform. * In the European Economic Area (EEA), include transparency information and a mechanism for users to report illegal content in ads. If using an alternative ad badging, transparency, and reporting solution, you must ensure it includes the required transparency information and illegal content flagging mechanism and that you notify Google of any illegal content reports using the appropriate [form](//support.google.com/legal/troubleshooter/1114905?sjid=6787484030557261960-EU#ts=2981967%2C2982031%2C12980091).",
          "type": "boolean"
        },
        "iasClientId": {
          "format": "int64",
          "description": "An ID for configuring campaign monitoring provided by Integral Ad Service (IAS). The DV360 system will append an IAS \"Campaign Monitor\" tag containing this ID to the creative tag.",
          "type": "string"
        },
        "dynamicCreativeEnabled": {
          "description": "Whether or not the advertiser is enabled for dynamic creatives.",
          "type": "boolean"
        },
        "videoCreativeDataSharingAuthorized": {
          "description": "By setting this field to `true`, you, on behalf of your company, authorize Google to use video creatives associated with this Display & Video 360 advertiser to provide reporting and features related to the advertiser's television campaigns. Applicable only when the advertiser has a CM360 hybrid ad server configuration.",
          "type": "boolean"
        }
      },
      "id": "AdvertiserCreativeConfig",
      "description": "Creatives related settings of an advertiser.",
      "type": "object"
    },
    "DemandGenBiddingStrategy": {
      "description": "Settings that control the bid strategy for Demand Gen resources.",
      "type": "object",
      "properties": {
        "effectiveBiddingValue": {
          "description": "Output only. The value effectively used by the bidding strategy. This field will be the same as value if set. If value is not set and the strategy is assigned to an ad group, this field will be inherited from the line item's bidding strategy. If type is not `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA` or `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS`, this field will be 0.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "effectiveBiddingValueSource": {
          "description": "Output only. Source of the effective bidding value.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "BIDDING_SOURCE_UNSPECIFIED",
            "BIDDING_SOURCE_LINE_ITEM",
            "BIDDING_SOURCE_AD_GROUP"
          ],
          "enumDescriptions": [
            "Bidding source is not specified or unknown.",
            "Bidding value is inherited from the line item.",
            "Bidding value is defined in the ad group."
          ]
        },
        "type": {
          "enum": [
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_UNSPECIFIED",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSIONS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSION_VALUE",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CLICKS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPC"
          ],
          "description": "Optional. The type of the bidding strategy. This can only be set when assigned to a line item. Ad groups will inherit this value from their line item.",
          "type": "string",
          "enumDescriptions": [
            "Type is not specified or unknown.",
            "A bidding strategy that automatically optimizes conversions per dollar.",
            "A bidding strategy that automatically maximizes revenue while averaging a specific target Return On Ad Spend (ROAS).",
            "A bidding strategy that automatically maximizes number of conversions",
            "A bidding strategy that automatically maximizes revenue while spending your budget.",
            "A bidding strategy that automatically maximizes clicks within a given budget.",
            "A bidding strategy that automatically optimizes cost per click."
          ]
        },
        "value": {
          "description": "Optional. The value used by the bidding strategy. This can be set when assigned to line items or ad groups. This field is only applicable for the following strategy types: * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPC` * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS` Value of this field is in micros of the advertiser's currency or ROAS value. For example, 1000000 represents 1.0 standard units of the currency or 100% ROAS value. If not using an applicable strategy, the value of this field will be 0.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DemandGenBiddingStrategy"
    },
    "ConversionCountingConfig": {
      "description": "Settings that control how conversions are counted. All post-click conversions will be counted. A percentage value can be set for post-view conversions counting.",
      "type": "object",
      "properties": {
        "postViewCountPercentageMillis": {
          "description": "The percentage of post-view conversions to count, in millis (1/1000 of a percent). Must be between 0 and 100000 inclusive. For example, to track 50% of the post-click conversions, set a value of 50000.",
          "type": "string",
          "format": "int64"
        },
        "floodlightActivityConfigs": {
          "items": {
            "$ref": "TrackingFloodlightActivityConfig"
          },
          "description": "The Floodlight activity configs used to track conversions. The number of conversions counted is the sum of all of the conversions counted by all of the Floodlight activity IDs specified in this field. This field can't be updated if a custom bidding algorithm is assigned to the line item. If you set this field and assign a custom bidding algorithm in the same request, the floodlight activities must match the ones used by the custom bidding algorithm.",
          "type": "array"
        },
        "primaryAttributionModelId": {
          "format": "int64",
          "description": "Optional. The attribution model to use for conversion measurement. This attribution model will determine how conversions are counted. The Primary model can be set by you for a floodlight config or group. More details [here](https://support.google.com/displayvideo/answer/7409983). Only applicable to Demand Gen line items. Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users.",
          "type": "string"
        }
      },
      "id": "ConversionCountingConfig"
    },
    "BumperAd": {
      "properties": {
        "commonInStreamAttribute": {
          "description": "Common ad attributes.",
          "$ref": "CommonInStreamAttribute"
        }
      },
      "id": "BumperAd",
      "description": "Details for a bumper ad.",
      "type": "object"
    },
    "ThirdPartyOnlyConfig": {
      "id": "ThirdPartyOnlyConfig",
      "properties": {
        "pixelOrderIdReportingEnabled": {
          "description": "Whether or not order ID reporting for pixels is enabled. This value cannot be changed once set to `true`.",
          "type": "boolean"
        }
      },
      "description": "Settings for advertisers that use third-party ad servers only.",
      "type": "object"
    },
    "ContactInfo": {
      "description": "Contact information defining a Customer Match audience member.",
      "type": "object",
      "id": "ContactInfo",
      "properties": {
        "hashedPhoneNumbers": {
          "items": {
            "type": "string"
          },
          "description": "A list of SHA256 hashed phone numbers of the member. Before hashing, all phone numbers must be formatted using the [E.164 format](//en.wikipedia.org/wiki/E.164) and include the country calling code.",
          "type": "array"
        },
        "hashedFirstName": {
          "description": "SHA256 hashed first name of the member. Before hashing, remove all whitespace and make sure the string is all lowercase. Must also be set with the following fields: * country_code * hashed_last_name * zip_codes",
          "type": "string"
        },
        "hashedEmails": {
          "description": "A list of SHA256 hashed email of the member. Before hashing, remove all whitespace and make sure the string is all lowercase.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "zipCodes": {
          "description": "A list of zip codes of the member. Must also be set with the following fields: * country_code * hashed_first_name * hashed_last_name",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hashedLastName": {
          "description": "SHA256 hashed last name of the member. Before hashing, remove all whitespace and make sure the string is all lowercase. Must also be set with the following fields: * country_code * hashed_first_name * zip_codes",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code of the member. Must also be set with the following fields: * hashed_first_name * hashed_last_name * zip_codes",
          "type": "string"
        }
      }
    },
    "PartnerGeneralConfig": {
      "description": "General settings of a partner.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Immutable. The standard TZ database name of the partner's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones",
          "type": "string"
        },
        "currencyCode": {
          "description": "Immutable. Partner's currency in ISO 4217 format.",
          "type": "string"
        }
      },
      "id": "PartnerGeneralConfig"
    },
    "DeleteAssignedTargetingOptionsRequest": {
      "description": "A request listing which assigned targeting options of a given targeting type should be deleted.",
      "type": "object",
      "properties": {
        "targetingType": {
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION",
            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
          ],
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
          ],
          "description": "Required. Identifies the type of this assigned targeting option.",
          "type": "string"
        },
        "assignedTargetingOptionIds": {
          "description": "Required. The assigned targeting option IDs to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DeleteAssignedTargetingOptionsRequest"
    },
    "ObaIcon": {
      "description": "OBA Icon for a Creative",
      "type": "object",
      "id": "ObaIcon",
      "properties": {
        "dimensions": {
          "description": "Optional. The dimensions of the OBA icon.",
          "$ref": "Dimensions"
        },
        "landingPageUrl": {
          "description": "Required. The landing page URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        },
        "clickTrackingUrl": {
          "description": "Required. The click tracking URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        },
        "resourceMimeType": {
          "description": "Optional. The MIME type of the OBA icon resource.",
          "type": "string"
        },
        "program": {
          "description": "Optional. The program of the OBA icon. For example: “AdChoices”.",
          "type": "string"
        },
        "position": {
          "enum": [
            "OBA_ICON_POSITION_UNSPECIFIED",
            "OBA_ICON_POSITION_UPPER_RIGHT",
            "OBA_ICON_POSITION_UPPER_LEFT",
            "OBA_ICON_POSITION_LOWER_RIGHT",
            "OBA_ICON_POSITION_LOWER_LEFT"
          ],
          "enumDescriptions": [
            "The OBA icon position is not specified.",
            "At the upper right side of the creative.",
            "At the upper left side of the creative.",
            "At the lower right side of the creative.",
            "At the lower left side of the creative."
          ],
          "description": "Optional. The position of the OBA icon on the creative.",
          "type": "string"
        },
        "viewTrackingUrl": {
          "description": "Required. The view tracking URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        },
        "resourceUrl": {
          "description": "Optional. The URL of the OBA icon resource.",
          "type": "string"
        }
      }
    },
    "EnvironmentTargetingOptionDetails": {
      "description": "Represents a targetable environment. This will be populated in the environment_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
      "type": "object",
      "id": "EnvironmentTargetingOptionDetails",
      "properties": {
        "environment": {
          "readOnly": true,
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ],
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ],
          "description": "Output only. The serving environment.",
          "type": "string"
        }
      }
    },
    "AdvertiserBillingConfig": {
      "description": "Billing related settings of an advertiser.",
      "type": "object",
      "id": "AdvertiserBillingConfig",
      "properties": {
        "billingProfileId": {
          "description": "Required. The ID of a billing profile assigned to the advertiser.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "AdPolicyTopicEvidenceLegalRemovalDmca": {
      "description": "DMCA complaint details.",
      "type": "object",
      "properties": {
        "complainant": {
          "description": "The entity who made the legal complaint.",
          "type": "string"
        }
      },
      "id": "AdPolicyTopicEvidenceLegalRemovalDmca"
    },
    "CustomBiddingScriptRef": {
      "description": "The reference to the uploaded custom bidding script file.",
      "type": "object",
      "id": "CustomBiddingScriptRef",
      "properties": {
        "resourceName": {
          "description": "A resource name to be used in media.download to Download the script files. Or media.upload to Upload the script files. Resource names have the format `customBiddingAlgorithms/{custom_bidding_algorithm_id}/scriptRef/{ref_id}`.",
          "type": "string"
        }
      }
    },
    "YoutubeAndPartnersSettings": {
      "id": "YoutubeAndPartnersSettings",
      "properties": {
        "videoAdInventoryControl": {
          "$ref": "VideoAdInventoryControl",
          "description": "Optional. The settings to control which inventory is allowed for this line item."
        },
        "videoAdSequenceSettings": {
          "description": "Optional. The settings related to VideoAdSequence.",
          "$ref": "VideoAdSequenceSettings"
        },
        "effectiveContentCategory": {
          "description": "Output only. The content category which takes effect when serving the line item. When content category is set in both line item and advertiser, the stricter one will take effect when serving the line item. New line items will only inherit the advertiser level setting.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_UNSPECIFIED",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_STANDARD",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_EXPANDED",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_LIMITED"
          ],
          "enumDescriptions": [
            "Content category is not specified or is unknown in this version.",
            "A category consisting of a wide range of content appropriate for most brands. The content is based off of YouTube's [advertiser-friendly content guidelines](https://support.google.com/youtube/answer/6162278).",
            "A category including all content across YouTube and video partners that meets standards for monetization.",
            "A category consisting of a reduced range of content that meets heightened requirements, especially regarding inappropriate language and sexual suggestiveness."
          ]
        },
        "leadFormId": {
          "description": "Optional. The ID of the form to generate leads.",
          "type": "string",
          "format": "int64"
        },
        "thirdPartyMeasurementConfigs": {
          "$ref": "ThirdPartyMeasurementConfigs",
          "description": "Optional. The third-party measurement configs of the line item."
        },
        "linkedMerchantId": {
          "description": "Optional. The ID of the Merchant Center account used to provide a product feed. This Merchant Center account must already be linked to the advertiser.",
          "type": "string",
          "format": "int64"
        },
        "inventorySourceSettings": {
          "description": "Settings that control what YouTube and Partners inventories the line item will target.",
          "$ref": "YoutubeAndPartnersInventorySourceConfig"
        },
        "contentCategory": {
          "description": "Output only. The kind of content on which the YouTube and Partners ads will be shown. *Warning*: This field will be removed in the near future. Use effective_content_category instead.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_UNSPECIFIED",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_STANDARD",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_EXPANDED",
            "YOUTUBE_AND_PARTNERS_CONTENT_CATEGORY_LIMITED"
          ],
          "enumDescriptions": [
            "Content category is not specified or is unknown in this version.",
            "A category consisting of a wide range of content appropriate for most brands. The content is based off of YouTube's [advertiser-friendly content guidelines](https://support.google.com/youtube/answer/6162278).",
[...]
