{
  "documentationLink": "https://developers.google.com/display-video/",
  "ownerName": "Google",
  "title": "Display & Video 360 API",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "resources": {
    "sdfdownloadtasks": {
      "methods": {
        "create": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/sdfdownloadtasks",
          "response": {
            "$ref": "Operation"
          },
          "id": "displayvideo.sdfdownloadtasks.create",
          "parameterOrder": [],
          "flatPath": "v2/sdfdownloadtasks",
          "httpMethod": "POST",
          "description": "Creates an SDF Download Task. Returns an Operation. An SDF Download Task is a long-running, asynchronous operation. The metadata type of this operation is SdfDownloadTaskMetadata. If the request is successful, the response type of the operation is SdfDownloadTask. The response will not include the download files, which must be retrieved with media.download. The state of operation can be retrieved with `sdfdownloadtasks.operations.get`. Any errors can be found in the error.message. Note that error.details is expected to be empty.",
          "request": {
            "$ref": "CreateSdfDownloadTaskRequest"
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "path": "v2/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "pattern": "^sdfdownloadtasks/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "flatPath": "v2/sdfdownloadtasks/operations/{operationsId}",
              "httpMethod": "GET",
              "description": "Gets the latest state of an asynchronous SDF download task operation. Clients should poll this method at intervals of 30 seconds.",
              "id": "displayvideo.sdfdownloadtasks.operations.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "customLists": {
      "methods": {
        "get": {
          "flatPath": "v2/customLists/{customListsId}",
          "httpMethod": "GET",
          "description": "Gets a custom list.",
          "id": "displayvideo.customLists.get",
          "parameterOrder": [
            "customListId"
          ],
          "path": "v2/customLists/{+customListId}",
          "response": {
            "$ref": "CustomList"
          },
          "parameters": {
            "customListId": {
              "format": "int64",
              "description": "Required. The ID of the custom list to fetch.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "list": {
          "flatPath": "v2/customLists",
          "httpMethod": "GET",
          "description": "Lists custom lists. The order is defined by the order_by parameter.",
          "id": "displayvideo.customLists.list",
          "parameterOrder": [],
          "path": "v2/customLists",
          "response": {
            "$ref": "ListCustomListsResponse"
          },
          "parameters": {
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomLists` method. If not specified, the first page of results will be returned.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Allows filtering by custom list fields. Supported syntax: * Filter expressions for custom lists can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All custom lists for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `customListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      }
    },
    "customBiddingAlgorithms": {
      "methods": {
        "list": {
          "flatPath": "v2/customBiddingAlgorithms",
          "httpMethod": "GET",
          "description": "Lists custom bidding algorithms that are accessible to the current user and can be used in bidding stratgies. The order is defined by the order_by parameter.",
          "id": "displayvideo.customBiddingAlgorithms.list",
          "parameterOrder": [],
          "path": "v2/customBiddingAlgorithms",
          "response": {
            "$ref": "ListCustomBiddingAlgorithmsResponse"
          },
          "parameters": {
            "partnerId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "orderBy": {
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Allows filtering by custom bidding algorithm fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `customBiddingAlgorithmType` field must use the `EQUALS (=)` operator. * The `displayName` field must use the `HAS (:)` operator. Supported fields: * `customBiddingAlgorithmType` * `displayName` Examples: * All custom bidding algorithms for which the display name contains \"politics\": `displayName:\"politics\"`. * All custom bidding algorithms for which the type is \"SCRIPT_BASED\": `customBiddingAlgorithmType=SCRIPT_BASED` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the DV360 advertiser that has access to the custom bidding algorithm."
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithms` method. If not specified, the first page of results will be returned.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "patch": {
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameters": {
            "customBiddingAlgorithmId": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
              "format": "int64"
            },
            "updateMask": {
              "type": "string",
              "description": "Required. The mask to control which fields to update.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "id": "displayvideo.customBiddingAlgorithms.patch",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "httpMethod": "PATCH",
          "description": "Updates an existing custom bidding algorithm. Returns the updated custom bidding algorithm if successful. Requests updating a custom bidding algorithm assigned to a line item will return an error."
        },
        "create": {
          "id": "displayvideo.customBiddingAlgorithms.create",
          "parameterOrder": [],
          "flatPath": "v2/customBiddingAlgorithms",
          "httpMethod": "POST",
          "description": "Creates a new custom bidding algorithm. Returns the newly created custom bidding algorithm if successful.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/customBiddingAlgorithms",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          }
        },
        "get": {
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameters": {
            "customBiddingAlgorithmId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the custom bidding algorithm to fetch."
            },
            "partnerId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "httpMethod": "GET",
          "description": "Gets a custom bidding algorithm.",
          "id": "displayvideo.customBiddingAlgorithms.get",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ]
        },
        "uploadScript": {
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadScript",
          "httpMethod": "GET",
          "description": "Creates a custom bidding script reference object for a script file. The resulting reference object provides a resource path to which the script file should be uploaded. This reference object should be included in when creating a new custom bidding script object.",
          "id": "displayvideo.customBiddingAlgorithms.uploadScript",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadScript",
          "response": {
            "$ref": "CustomBiddingScriptRef"
          },
          "parameters": {
            "customBiddingAlgorithmId": {
              "format": "int64",
              "description": "Required. The ID of the custom bidding algorithm owns the script.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "partnerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script."
            },
            "advertiserId": {
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      },
      "resources": {
        "scripts": {
          "methods": {
            "create": {
              "request": {
                "$ref": "CustomBiddingScript"
              },
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "httpMethod": "POST",
              "description": "Creates a new custom bidding script. Returns the newly created script if successful. Requests creating a custom bidding script under an algorithm assigned to a line item will return an error.",
              "id": "displayvideo.customBiddingAlgorithms.scripts.create",
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameters": {
                "customBiddingAlgorithmId": {
                  "description": "Required. The ID of the custom bidding algorithm that owns the script.",
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                },
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "response": {
                "$ref": "ListCustomBiddingScriptsResponse"
              },
              "parameters": {
                "customBiddingAlgorithmId": {
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingScripts` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "type": "string"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "httpMethod": "GET",
              "description": "Lists custom bidding scripts that belong to the given algorithm. The order is defined by the order_by parameter.",
              "id": "displayvideo.customBiddingAlgorithms.scripts.list",
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ]
            },
            "get": {
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts/{+customBiddingScriptId}",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameters": {
                "customBiddingAlgorithmId": {
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "partnerId": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script."
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                },
                "customBiddingScriptId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding script to fetch.",
                  "format": "int64"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts/{scriptsId}",
              "httpMethod": "GET",
              "description": "Gets a custom bidding script.",
              "id": "displayvideo.customBiddingAlgorithms.scripts.get",
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingScriptId"
              ]
            }
          }
        }
      }
    },
    "partners": {
      "methods": {
        "get": {
          "id": "displayvideo.partners.get",
          "parameterOrder": [
            "partnerId"
          ],
          "flatPath": "v2/partners/{partnersId}",
          "httpMethod": "GET",
          "description": "Gets a partner.",
          "parameters": {
            "partnerId": {
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the partner to fetch."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/partners/{+partnerId}",
          "response": {
            "$ref": "Partner"
          }
        },
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartners` method. If not specified, the first page of results will be returned.",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string"
            },
            "filter": {
              "description": "Allows filtering by partner fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `entityStatus` Examples: * All active partners: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/partners",
          "response": {
            "$ref": "ListPartnersResponse"
          },
          "id": "displayvideo.partners.list",
          "parameterOrder": [],
          "flatPath": "v2/partners",
          "httpMethod": "GET",
          "description": "Lists partners that are accessible to the current user. The order is defined by the order_by parameter."
        },
        "editAssignedTargetingOptions": {
          "request": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsRequest"
          },
          "parameters": {
            "partnerId": {
              "description": "Required. The ID of the partner.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/partners/{+partnerId}:editAssignedTargetingOptions",
          "response": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsResponse"
          },
          "id": "displayvideo.partners.editAssignedTargetingOptions",
          "parameterOrder": [
            "partnerId"
          ],
          "flatPath": "v2/partners/{partnersId}:editAssignedTargetingOptions",
          "httpMethod": "POST",
          "description": "Edits targeting options under a single partner. The operation will delete the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.deleteRequests and then create the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.createRequests ."
        }
      },
      "resources": {
        "channels": {
          "methods": {
            "list": {
              "path": "v2/partners/{+partnerId}/channels",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the channels.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string"
                },
                "partnerId": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "description": "The ID of the partner that owns the channels."
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/partners/{partnersId}/channels",
              "httpMethod": "GET",
              "description": "Lists channels for a partner or advertiser.",
              "id": "displayvideo.partners.channels.list",
              "parameterOrder": [
                "partnerId"
              ]
            },
            "patch": {
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the partner that owns the created channel.",
                  "format": "int64"
                },
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the created channel."
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The mask to control which fields to update."
                },
                "channelId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Output only. The unique ID of the channel. Assigned by the system.",
                  "format": "int64"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v2/partners/{+partnerId}/channels/{channelId}",
              "response": {
                "$ref": "Channel"
              },
              "id": "displayvideo.partners.channels.patch",
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "flatPath": "v2/partners/{partnersId}/channels/{channelId}",
              "httpMethod": "PATCH",
              "description": "Updates a channel. Returns the updated channel if successful.",
              "request": {
                "$ref": "Channel"
              }
            },
            "get": {
              "id": "displayvideo.partners.channels.get",
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "flatPath": "v2/partners/{partnersId}/channels/{channelsId}",
              "httpMethod": "GET",
              "description": "Gets a channel for a partner or advertiser.",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the partner that owns the fetched channel.",
                  "format": "int64"
                },
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the fetched channel."
                },
                "channelId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the channel to fetch."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v2/partners/{+partnerId}/channels/{+channelId}",
              "response": {
                "$ref": "Channel"
              }
            },
            "create": {
              "path": "v2/partners/{+partnerId}/channels",
              "response": {
                "$ref": "Channel"
              },
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the partner that owns the created channel."
                },
                "advertiserId": {
                  "location": "query",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the created channel."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/partners/{partnersId}/channels",
              "httpMethod": "POST",
              "description": "Creates a new channel. Returns the newly created channel if successful.",
              "id": "displayvideo.partners.channels.create",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "Channel"
              }
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Site"
                  },
                  "id": "displayvideo.partners.channels.sites.create",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites",
                  "httpMethod": "POST",
                  "description": "Creates a site in a channel.",
                  "parameters": {
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "type": "string",
                      "location": "query",
                      "format": "int64"
                    },
                    "channelId": {
                      "format": "int64",
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites",
                  "response": {
                    "$ref": "Site"
                  }
                },
                "replace": {
                  "request": {
                    "$ref": "ReplaceSitesRequest"
                  },
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites:replace",
                  "response": {
                    "$ref": "ReplaceSitesResponse"
                  },
                  "parameters": {
                    "channelId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The ID of the parent channel whose sites will be replaced.",
                      "format": "int64"
                    },
                    "partnerId": {
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites:replace",
                  "httpMethod": "POST",
                  "description": "Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.",
                  "id": "displayvideo.partners.channels.sites.replace",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ]
                },
                "list": {
                  "path": "v2/partners/{+partnerId}/channels/{+channelId}/sites",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameters": {
                    "advertiserId": {
                      "location": "query",
                      "format": "int64",
                      "type": "string",
                      "description": "The ID of the advertiser that owns the parent channel."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned."
                    },
                    "channelId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "format": "int64",
                      "description": "Required. The ID of the parent channel to which the requested sites belong."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site retrieval can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`.",
                      "type": "string",
                      "location": "query"
                    },
                    "partnerId": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnersId}/channels/{channelsId}/sites",
                  "httpMethod": "GET",
                  "description": "Lists sites in a channel.",
                  "id": "displayvideo.partners.channels.sites.list",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ]
                },
                "delete": {
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites/{sitesId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a site from a channel.",
                  "id": "displayvideo.partners.channels.sites.delete",
                  "parameterOrder": [
                    "partnerId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "advertiserId": {
                      "type": "string",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "location": "query",
                      "format": "int64"
                    },
                    "channelId": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "format": "int64",
                      "description": "Required. The ID of the parent channel to which the site belongs."
                    },
                    "urlOrAppId": {
                      "description": "Required. The URL or app ID of the site to delete.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "bulkEdit": {
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites:bulkEdit",
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "parameters": {
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "format": "int64",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "partnerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites:bulkEdit",
                  "httpMethod": "POST",
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "id": "displayvideo.partners.channels.sites.bulkEdit",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ]
                }
              }
            }
          }
        },
        "targetingTypes": {
          "resources": {
            "assignedTargetingOptions": {
              "methods": {
                "get": {
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "parameters": {
                    "assignedTargetingOptionId": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. An identifier unique to the targeting type in this partner that identifies the assigned targeting option being requested."
                    },
                    "partnerId": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "format": "int64",
                      "description": "Required. The ID of the partner."
                    },
                    "targetingType": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ]
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "httpMethod": "GET",
                  "description": "Gets a single targeting option assigned to a partner.",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.get",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ]
                },
                "delete": {
                  "parameters": {
                    "partnerId": {
                      "description": "Required. The ID of the partner.",
                      "format": "int64",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "assignedTargetingOptionId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the assigned targeting option to delete."
                    },
                    "targetingType": {
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.delete",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes an assigned targeting option from a partner."
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `assignedTargetingOptionId desc`."
                    },
                    "partnerId": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "format": "int64",
                      "description": "Required. The ID of the partner."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartnerAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
                      "location": "query"
                    },
                    "targetingType": {
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId` Examples: * `AssignedTargetingOption` resource with ID 123456: `assignedTargetingOptionId=\"123456\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "response": {
                    "$ref": "ListPartnerAssignedTargetingOptionsResponse"
                  },
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.list",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "httpMethod": "GET",
                  "description": "Lists the targeting options assigned to a partner."
                },
                "create": {
                  "request": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.create",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "flatPath": "v2/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "httpMethod": "POST",
                  "description": "Assigns a targeting option to a partner. Returns the assigned targeting option if successful.",
                  "parameters": {
                    "partnerId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The ID of the partner.",
                      "format": "int64"
                    },
                    "targetingType": {
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION"
                      ],
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v2/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  }
                }
              }
            }
          }
        }
      }
    },
    "combinedAudiences": {
      "methods": {
        "get": {
          "path": "v2/combinedAudiences/{+combinedAudienceId}",
          "response": {
            "$ref": "CombinedAudience"
          },
          "parameters": {
            "combinedAudienceId": {
              "format": "int64",
              "description": "Required. The ID of the combined audience to fetch.",
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "partnerId": {
              "type": "string",
              "description": "The ID of the partner that has access to the fetched combined audience.",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the advertiser that has access to the fetched combined audience."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/combinedAudiences/{combinedAudiencesId}",
          "httpMethod": "GET",
          "description": "Gets a combined audience.",
          "id": "displayvideo.combinedAudiences.get",
          "parameterOrder": [
            "combinedAudienceId"
          ]
        },
        "list": {
          "path": "v2/combinedAudiences",
          "response": {
            "$ref": "ListCombinedAudiencesResponse"
          },
          "parameters": {
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `combinedAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`."
            },
            "partnerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the partner that has access to the fetched combined audiences."
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the advertiser that has access to the fetched combined audiences."
            },
            "pageSize": {
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCombinedAudiences` method. If not specified, the first page of results will be returned.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by combined audience fields. Supported syntax: * Filter expressions for combined audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All combined audiences for which the display name contains \"Google\": `displayName : \"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/combinedAudiences",
          "httpMethod": "GET",
          "description": "Lists combined audiences. The order is defined by the order_by parameter.",
          "id": "displayvideo.combinedAudiences.list",
          "parameterOrder": []
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "flatPath": "media/{mediaId}",
          "httpMethod": "POST",
          "description": "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string.",
          "id": "displayvideo.media.upload",
          "parameterOrder": [
            "resourceName"
          ],
          "path": "media/{+resourceName}",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/media/{+resourceName}"
              }
            }
          },
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "parameters": {
            "resourceName": {
              "location": "path",
              "pattern": "^.*$",
              "required": true,
              "type": "string",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "request": {
            "$ref": "GoogleBytestreamMedia"
          }
        },
        "download": {
          "path": "download/{+resourceName}",
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "parameters": {
            "resourceName": {
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "type": "string",
              "pattern": "^.*$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "flatPath": "download/{downloadId}",
          "httpMethod": "GET",
          "description": "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string.",
          "id": "displayvideo.media.download",
          "parameterOrder": [
            "resourceName"
          ],
          "supportsMediaDownload": true
        }
      }
    },
    "guaranteedOrders": {
      "methods": {
        "create": {
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "flatPath": "v2/guaranteedOrders",
          "httpMethod": "POST",
          "description": "Creates a new guaranteed order. Returns the newly created guaranteed order if successful.",
          "id": "displayvideo.guaranteedOrders.create",
          "parameterOrder": [],
          "path": "v2/guaranteedOrders",
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "parameters": {
            "partnerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the partner that the request is being made within."
            },
            "advertiserId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the advertiser that the request is being made within.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "list": {
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Allows filtering by guaranteed order fields. * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `guaranteed_order_id` * `exchange` * `display_name` * `status.entityStatus` Examples: * All active guaranteed orders: `status.entityStatus=\"ENTITY_STATUS_ACTIVE\"` * Guaranteed orders belonging to Google Ad Manager or Rubicon exchanges: `exchange=\"EXCHANGE_GOOGLE_AD_MANAGER\" OR exchange=\"EXCHANGE_RUBICON\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
[...]
