{
  "id": "displayvideo:v2",
  "fullyEncodeReservedExpansion": true,
  "version": "v2",
  "canonicalName": "Display Video",
  "revision": "20260305",
  "basePath": "",
  "name": "displayvideo",
  "batchPath": "batch",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "documentationLink": "https://developers.google.com/display-video/",
  "title": "Display & Video 360 API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        }
      }
    }
  },
  "schemas": {
    "CombinedAudienceGroup": {
      "description": "Details of combined audience group. All combined audience targeting settings are logically ‘OR’ of each other.",
      "properties": {
        "settings": {
          "description": "Required. All combined audience targeting settings in combined audience group. Repeated settings with the same id will be ignored. The number of combined audience settings should be no more than five, error will be thrown otherwise.",
          "items": {
            "$ref": "CombinedAudienceTargetingSetting"
          },
          "type": "array"
        }
      },
      "id": "CombinedAudienceGroup",
      "type": "object"
    },
    "SubExchangeTargetingOptionDetails": {
      "type": "object",
      "id": "SubExchangeTargetingOptionDetails",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the sub-exchange.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a targetable sub-exchange. This will be populated in the sub_exchange_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`."
    },
    "AssignedInventorySource": {
      "id": "AssignedInventorySource",
      "type": "object",
      "description": "An assignment between a targetable inventory source and an inventory source group.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the assigned inventory source.",
          "readOnly": true
        },
        "inventorySourceId": {
          "type": "string",
          "description": "Required. The ID of the inventory source entity being targeted."
        },
        "assignedInventorySourceId": {
          "description": "Output only. The unique ID of the assigned inventory source. The ID is only unique within a given inventory source group. It may be reused in other contexts.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListTargetingOptionsResponse": {
      "id": "ListTargetingOptionsResponse",
      "type": "object",
      "description": "Response message for ListTargetingOptions.",
      "properties": {
        "targetingOptions": {
          "type": "array",
          "items": {
            "$ref": "TargetingOption"
          },
          "description": "The list of targeting options. This list will be absent if empty."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListTargetingOptions` method to retrieve the next page of results."
        }
      }
    },
    "CombinedAudience": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of the combined audience.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the combined audience. .",
          "readOnly": true
        },
        "combinedAudienceId": {
          "format": "int64",
          "description": "Output only. The unique ID of the combined audience. Assigned by the system.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Describes a combined audience resource.",
      "type": "object",
      "id": "CombinedAudience"
    },
    "ScriptError": {
      "description": "An error message for a custom bidding script.",
      "properties": {
        "column": {
          "description": "The column number in the script where the error was thrown.",
          "format": "int64",
          "type": "string"
        },
        "errorCode": {
          "description": "The type of error.",
          "enumDescriptions": [
            "The script error is not specified or is unknown in this version.",
            "The script has a syntax error.",
            "The script uses deprecated syntax.",
            "Internal errors were thrown while processing the script."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "SYNTAX_ERROR",
            "DEPRECATED_SYNTAX",
            "INTERNAL_ERROR"
          ],
          "type": "string"
        },
        "errorMessage": {
          "description": "The detailed error message.",
          "type": "string"
        },
        "line": {
          "description": "The line number in the script where the error was thrown.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ScriptError",
      "type": "object"
    },
    "ContentGenreAssignedTargetingOptionDetails": {
      "id": "ContentGenreAssignedTargetingOptionDetails",
      "type": "object",
      "description": "Details for content genre assigned targeting option. This will be populated in the content_genre_details field when targeting_type is `TARGETING_TYPE_CONTENT_GENRE`. Explicitly targeting all options is not supported. Remove all content genre targeting options to achieve this effect.",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_GENRE`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the content genre.",
          "readOnly": true
        }
      }
    },
    "ListPartnerAssignedTargetingOptionsResponse": {
      "properties": {
        "assignedTargetingOptions": {
          "type": "array",
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "description": "The list of assigned targeting options. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListPartnerAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListPartnerAssignedTargetingOptionsResponse"
    },
    "FixedBidStrategy": {
      "type": "object",
      "id": "FixedBidStrategy",
      "properties": {
        "bidAmountMicros": {
          "format": "int64",
          "description": "The fixed bid amount, in micros of the advertiser's currency. For insertion order entity, bid_amount_micros should be set as 0. For line item entity, bid_amount_micros must be greater than or equal to billable unit of the given currency and smaller than or equal to the upper limit 1000000000. For example, 1500000 represents 1.5 standard units of the currency.",
          "type": "string"
        }
      },
      "description": "A strategy that uses a fixed bidding price."
    },
    "BulkEditNegativeKeywordsResponse": {
      "description": "Response message for NegativeKeywordService.BulkEditNegativeKeywords.",
      "properties": {
        "negativeKeywords": {
          "type": "array",
          "items": {
            "$ref": "NegativeKeyword"
          },
          "description": "The list of negative keywords that have been successfully created. This list will be absent if empty."
        }
      },
      "id": "BulkEditNegativeKeywordsResponse",
      "type": "object"
    },
    "Advertiser": {
      "type": "object",
      "id": "Advertiser",
      "properties": {
        "dataAccessConfig": {
          "description": "Settings that control how advertiser data may be accessed.",
          "$ref": "AdvertiserDataAccessConfig"
        },
        "partnerId": {
          "description": "Required. Immutable. The unique ID of the partner that the advertiser belongs to.",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the advertiser was last updated. Assigned by the system.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "adServerConfig": {
          "description": "Required. Immutable. Ad server related settings of the advertiser.",
          "$ref": "AdvertiserAdServerConfig"
        },
        "entityStatus": {
          "description": "Required. Controls whether or not insertion orders and line items of the advertiser can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_PAUSED` and `ENTITY_STATUS_SCHEDULED_FOR_DELETION`. * If set to `ENTITY_STATUS_SCHEDULED_FOR_DELETION`, the advertiser will be deleted 30 days from when it was first scheduled for deletion.",
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the advertiser.",
          "readOnly": true
        },
        "prismaEnabled": {
          "type": "boolean",
          "description": "Whether integration with Mediaocean (Prisma) is enabled. By enabling this, you agree to the following: On behalf of my company, I authorize Mediaocean (Prisma) to send budget segment plans to Google, and I authorize Google to send corresponding reporting and invoices from DV360 to Mediaocean for the purposes of budget planning, billing, and reconciliation for this advertiser."
        },
        "creativeConfig": {
          "description": "Required. Creative related settings of the advertiser.",
          "$ref": "AdvertiserCreativeConfig"
        },
        "generalConfig": {
          "description": "Required. General settings of the advertiser.",
          "$ref": "AdvertiserGeneralConfig"
        },
        "containsEuPoliticalAds": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ],
          "description": "Optional. Whether this advertiser contains line items that serve European Union political ads. If this field is set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING`, then the following will happen: * Any new line items created under this advertiser will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. * Any existing line items under this advertiser that do not have a set value be updated to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` within a day."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
          "readOnly": true
        },
        "integrationDetails": {
          "description": "Integration details of the advertiser. Only integrationCode is currently applicable to advertiser. Other fields of IntegrationDetails are not supported and will be ignored if provided.",
          "$ref": "IntegrationDetails"
        },
        "displayName": {
          "description": "Required. The display name of the advertiser. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "servingConfig": {
          "description": "Targeting settings related to ad serving of the advertiser.",
          "$ref": "AdvertiserTargetingConfig"
        }
      },
      "description": "A single advertiser in Display & Video 360 (DV360)."
    },
    "AdvertiserDataAccessConfig": {
      "description": "Settings that control how advertiser related data may be accessed.",
      "properties": {
        "sdfConfig": {
          "description": "Structured Data Files (SDF) settings for the advertiser. If not specified, the SDF settings of the parent partner are used.",
          "$ref": "AdvertiserSdfConfig"
        }
      },
      "id": "AdvertiserDataAccessConfig",
      "type": "object"
    },
    "BulkEditAssignedUserRolesRequest": {
      "id": "BulkEditAssignedUserRolesRequest",
      "type": "object",
      "description": "Request message for BulkEditAssignedUserRoles.",
      "properties": {
        "deletedAssignedUserRoles": {
          "description": "The assigned user roles to delete in batch, specified as a list of assigned_user_role_ids. The format of assigned_user_role_id is `entityType-entityid`, for example `partner-123`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAssignedUserRoles": {
          "items": {
            "$ref": "AssignedUserRole"
          },
          "type": "array",
          "description": "The assigned user roles to create in batch, specified as a list of AssignedUserRoles."
        }
      }
    },
    "ProductMatchDimension": {
      "description": "A dimension used to match products.",
      "properties": {
        "productOfferId": {
          "description": "The ID of the product offer to match with a product with the same offer ID.",
          "type": "string"
        },
        "customLabel": {
          "description": "The custom label to match all the products with the label.",
          "$ref": "CustomLabel"
        }
      },
      "id": "ProductMatchDimension",
      "type": "object"
    },
    "DuplicateLineItemResponse": {
      "type": "object",
      "id": "DuplicateLineItemResponse",
      "properties": {
        "duplicateLineItemId": {
          "format": "int64",
          "description": "The ID of the created line item.",
          "type": "string"
        }
      }
    },
    "VideoPerformanceAd": {
      "properties": {
        "videos": {
          "type": "array",
          "items": {
            "$ref": "YoutubeVideoDetails"
          },
          "description": "The list of YouTube video assets used by this ad."
        },
        "finalUrl": {
          "description": "The URL address of the webpage that people reach after they click the ad.",
          "type": "string"
        },
        "displayUrlBreadcrumb2": {
          "type": "string",
          "description": "The second piece after the domain in the display URL."
        },
        "descriptions": {
          "description": "The list of descriptions shown on the call-to-action banner.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "domain": {
          "description": "The domain of the display URL.",
          "type": "string"
        },
        "companionBanners": {
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The list of companion banners used by this ad."
        },
        "trackingUrl": {
          "description": "The URL address loaded in the background for tracking purposes.",
          "type": "string"
        },
        "actionButtonLabels": {
          "description": "The list of text assets shown on the call-to-action button.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "longHeadlines": {
          "description": "The list of lone headlines shown on the call-to-action banner.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customParameters": {
          "description": "The custom parameters to pass custom values to tracking URL template.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayUrlBreadcrumb1": {
          "type": "string",
          "description": "The first piece after the domain in the display URL."
        },
        "headlines": {
          "description": "The list of headlines shown on the call-to-action banner.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Details for a video performance ad.",
      "type": "object",
      "id": "VideoPerformanceAd"
    },
    "AssignedTargetingOption": {
      "properties": {
        "sensitiveCategoryExclusionDetails": {
          "description": "Sensitive category details. This field will be populated when the targeting_type is `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION`. Sensitive categories are targeting exclusions. Advertiser level sensitive category exclusions, if set, are always applied in serving (even though they aren't visible in resource settings). Resource settings can exclude sensitive categories in addition to advertiser exclusions, but can't override them.",
          "$ref": "SensitiveCategoryAssignedTargetingOptionDetails"
        },
        "inventorySourceDetails": {
          "description": "Inventory source details. This field will be populated when the targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`.",
          "$ref": "InventorySourceAssignedTargetingOptionDetails"
        },
        "thirdPartyVerifierDetails": {
          "description": "Third party verification details. This field will be populated when the targeting_type is `TARGETING_TYPE_THIRD_PARTY_VERIFIER`.",
          "$ref": "ThirdPartyVerifierAssignedTargetingOptionDetails"
        },
        "youtubeChannelDetails": {
          "description": "YouTube channel details. This field will be populated when the targeting_type is `TARGETING_TYPE_YOUTUBE_CHANNEL`.",
          "$ref": "YoutubeChannelAssignedTargetingOptionDetails"
        },
        "deviceMakeModelDetails": {
          "description": "Device make and model details. This field will be populated when the targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`.",
          "$ref": "DeviceMakeModelAssignedTargetingOptionDetails"
        },
        "subExchangeDetails": {
          "description": "Sub-exchange details. This field will be populated when the targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`.",
          "$ref": "SubExchangeAssignedTargetingOptionDetails"
        },
        "browserDetails": {
          "description": "Browser details. This field will be populated when the targeting_type is `TARGETING_TYPE_BROWSER`.",
          "$ref": "BrowserAssignedTargetingOptionDetails"
        },
        "contentInstreamPositionDetails": {
          "description": "Content instream position details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_INSTREAM_POSITION`.",
          "$ref": "ContentInstreamPositionAssignedTargetingOptionDetails"
        },
        "viewabilityDetails": {
          "description": "Viewability details. This field will be populated when the targeting_type is `TARGETING_TYPE_VIEWABILITY`. You can only target one viewability option per resource.",
          "$ref": "ViewabilityAssignedTargetingOptionDetails"
        },
        "contentOutstreamPositionDetails": {
          "description": "Content outstream position details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
          "$ref": "ContentOutstreamPositionAssignedTargetingOptionDetails"
        },
        "poiDetails": {
          "description": "POI details. This field will be populated when the targeting_type is `TARGETING_TYPE_POI`.",
          "$ref": "PoiAssignedTargetingOptionDetails"
        },
        "urlDetails": {
          "description": "URL details. This field will be populated when the targeting_type is `TARGETING_TYPE_URL`.",
          "$ref": "UrlAssignedTargetingOptionDetails"
        },
        "contentDurationDetails": {
          "description": "Content duration details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_DURATION`.",
          "$ref": "ContentDurationAssignedTargetingOptionDetails"
        },
        "channelDetails": {
          "description": "Channel details. This field will be populated when the targeting_type is `TARGETING_TYPE_CHANNEL`.",
          "$ref": "ChannelAssignedTargetingOptionDetails"
        },
        "userRewardedContentDetails": {
          "description": "User rewarded content details. This field will be populated when the targeting_type is `TARGETING_TYPE_USER_REWARDED_CONTENT`.",
          "$ref": "UserRewardedContentAssignedTargetingOptionDetails"
        },
        "digitalContentLabelExclusionDetails": {
          "description": "Digital content label details. This field will be populated when the targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`. Digital content labels are targeting exclusions. Advertiser level digital content label exclusions, if set, are always applied in serving (even though they aren't visible in resource settings). Resource settings can exclude content labels in addition to advertiser exclusions, but can't override them. A line item won't serve if all the digital content labels are excluded.",
          "$ref": "DigitalContentLabelAssignedTargetingOptionDetails"
        },
        "businessChainDetails": {
          "description": "Business chain details. This field will be populated when the targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
          "$ref": "BusinessChainAssignedTargetingOptionDetails"
        },
        "assignedTargetingOptionId": {
          "description": "Output only. The unique ID of the assigned targeting option. The ID is only unique within a given resource and targeting type. It may be reused in other contexts.",
          "readOnly": true,
          "type": "string"
        },
        "genderDetails": {
          "description": "Gender details. This field will be populated when the targeting_type is `TARGETING_TYPE_GENDER`.",
          "$ref": "GenderAssignedTargetingOptionDetails"
        },
        "youtubeVideoDetails": {
          "description": "YouTube video details. This field will be populated when the targeting_type is `TARGETING_TYPE_YOUTUBE_VIDEO`.",
          "$ref": "YoutubeVideoAssignedTargetingOptionDetails"
        },
        "onScreenPositionDetails": {
          "description": "On screen position details. This field will be populated when the targeting_type is `TARGETING_TYPE_ON_SCREEN_POSITION`.",
          "$ref": "OnScreenPositionAssignedTargetingOptionDetails"
        },
        "parentalStatusDetails": {
          "description": "Parental status details. This field will be populated when the targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`.",
          "$ref": "ParentalStatusAssignedTargetingOptionDetails"
        },
        "ageRangeDetails": {
          "description": "Age range details. This field will be populated when the targeting_type is `TARGETING_TYPE_AGE_RANGE`.",
          "$ref": "AgeRangeAssignedTargetingOptionDetails"
        },
        "appCategoryDetails": {
          "description": "App category details. This field will be populated when the targeting_type is `TARGETING_TYPE_APP_CATEGORY`.",
          "$ref": "AppCategoryAssignedTargetingOptionDetails"
        },
        "languageDetails": {
          "description": "Language details. This field will be populated when the targeting_type is `TARGETING_TYPE_LANGUAGE`.",
          "$ref": "LanguageAssignedTargetingOptionDetails"
        },
        "keywordDetails": {
          "description": "Keyword details. This field will be populated when the targeting_type is `TARGETING_TYPE_KEYWORD`. A maximum of 5000 direct negative keywords can be assigned to a resource. No limit on number of positive keywords that can be assigned.",
          "$ref": "KeywordAssignedTargetingOptionDetails"
        },
        "sessionPositionDetails": {
          "description": "Session position details. This field will be populated when the targeting_type is `TARGETING_TYPE_SESSION_POSITION`.",
          "$ref": "SessionPositionAssignedTargetingOptionDetails"
        },
        "exchangeDetails": {
          "description": "Exchange details. This field will be populated when the targeting_type is `TARGETING_TYPE_EXCHANGE`.",
          "$ref": "ExchangeAssignedTargetingOptionDetails"
        },
        "contentStreamTypeDetails": {
          "description": "Content duration details. This field will be populated when the TargetingType is `TARGETING_TYPE_CONTENT_STREAM_TYPE`.",
          "$ref": "ContentStreamTypeAssignedTargetingOptionDetails"
        },
        "proximityLocationListDetails": {
          "description": "Proximity location list details. This field will be populated when the targeting_type is `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`.",
          "$ref": "ProximityLocationListAssignedTargetingOptionDetails"
        },
        "categoryDetails": {
          "description": "Category details. This field will be populated when the targeting_type is `TARGETING_TYPE_CATEGORY`. Targeting a category will also target its subcategories. If a category is excluded from targeting and a subcategory is included, the exclusion will take precedence.",
          "$ref": "CategoryAssignedTargetingOptionDetails"
        },
        "videoPlayerSizeDetails": {
          "description": "Video player size details. This field will be populated when the targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`.",
          "$ref": "VideoPlayerSizeAssignedTargetingOptionDetails"
        },
        "audienceGroupDetails": {
          "description": "Audience targeting details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUDIENCE_GROUP`. You can only target one audience group option per resource.",
          "$ref": "AudienceGroupAssignedTargetingOptionDetails"
        },
        "inheritance": {
          "type": "string",
          "enum": [
            "INHERITANCE_UNSPECIFIED",
            "NOT_INHERITED",
            "INHERITED_FROM_PARTNER",
            "INHERITED_FROM_ADVERTISER"
          ],
          "enumDescriptions": [
            "The inheritance is unspecified or unknown.",
            "The assigned targeting option is not inherited from higher level entity.",
            "The assigned targeting option is inherited from partner targeting settings.",
            "The assigned targeting option is inherited from advertiser targeting settings."
          ],
          "description": "Output only. The inheritance status of the assigned targeting option.",
          "readOnly": true
        },
        "deviceTypeDetails": {
          "description": "Device Type details. This field will be populated when the targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
          "$ref": "DeviceTypeAssignedTargetingOptionDetails"
        },
        "contentGenreDetails": {
          "description": "Content genre details. This field will be populated when the targeting_type is `TARGETING_TYPE_CONTENT_GENRE`.",
          "$ref": "ContentGenreAssignedTargetingOptionDetails"
        },
        "dayAndTimeDetails": {
          "description": "Day and time details. This field will be populated when the targeting_type is `TARGETING_TYPE_DAY_AND_TIME`.",
          "$ref": "DayAndTimeAssignedTargetingOptionDetails"
        },
        "nativeContentPositionDetails": {
          "description": "Native content position details. This field will be populated when the targeting_type is `TARGETING_TYPE_NATIVE_CONTENT_POSITION`.",
          "$ref": "NativeContentPositionAssignedTargetingOptionDetails"
        },
        "assignedTargetingOptionIdAlias": {
          "type": "string",
          "description": "Output only. An alias for the assigned_targeting_option_id. This value can be used in place of `assignedTargetingOptionId` when retrieving or deleting existing targeting. This field will only be supported for all assigned targeting options of the following targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY` This field is also supported for line item assigned targeting options of the following targeting types: * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`",
          "readOnly": true
        },
        "geoRegionDetails": {
          "description": "Geographic region details. This field will be populated when the targeting_type is `TARGETING_TYPE_GEO_REGION`.",
          "$ref": "GeoRegionAssignedTargetingOptionDetails"
        },
        "negativeKeywordListDetails": {
          "description": "Keyword details. This field will be populated when the targeting_type is `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`. A maximum of 4 negative keyword lists can be assigned to a resource.",
          "$ref": "NegativeKeywordListAssignedTargetingOptionDetails"
        },
        "authorizedSellerStatusDetails": {
          "description": "Authorized seller status details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. You can only target one authorized seller status option per resource. If a resource doesn't have an authorized seller status option, all authorized sellers indicated as DIRECT or RESELLER in the ads.txt file are targeted by default.",
          "$ref": "AuthorizedSellerStatusAssignedTargetingOptionDetails"
        },
        "regionalLocationListDetails": {
          "description": "Regional location list details. This field will be populated when the targeting_type is `TARGETING_TYPE_REGIONAL_LOCATION_LIST`.",
          "$ref": "RegionalLocationListAssignedTargetingOptionDetails"
        },
        "carrierAndIspDetails": {
          "description": "Carrier and ISP details. This field will be populated when the targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`.",
          "$ref": "CarrierAndIspAssignedTargetingOptionDetails"
        },
        "appDetails": {
          "description": "App details. This field will be populated when the targeting_type is `TARGETING_TYPE_APP`.",
          "$ref": "AppAssignedTargetingOptionDetails"
        },
        "inventorySourceGroupDetails": {
          "description": "Inventory source group details. This field will be populated when the targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE_GROUP`.",
          "$ref": "InventorySourceGroupAssignedTargetingOptionDetails"
        },
        "audioContentTypeDetails": {
          "description": "Audio content type details. This field will be populated when the targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`.",
          "$ref": "AudioContentTypeAssignedTargetingOptionDetails"
        },
        "omidDetails": {
          "description": "Open Measurement enabled inventory details. This field will be populated when the targeting_type is `TARGETING_TYPE_OMID`.",
          "$ref": "OmidAssignedTargetingOptionDetails"
        },
        "environmentDetails": {
          "description": "Environment details. This field will be populated when the targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
          "$ref": "EnvironmentAssignedTargetingOptionDetails"
        },
        "operatingSystemDetails": {
          "description": "Operating system details. This field will be populated when the targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
          "$ref": "OperatingSystemAssignedTargetingOptionDetails"
        },
        "householdIncomeDetails": {
          "description": "Household income details. This field will be populated when the targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`.",
          "$ref": "HouseholdIncomeAssignedTargetingOptionDetails"
        },
        "name": {
          "description": "Output only. The resource name for this assigned targeting option.",
          "readOnly": true,
          "type": "string"
        },
        "targetingType": {
          "type": "string",
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION"
          ],
          "description": "Output only. Identifies the type of this assigned targeting option.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API."
          ]
        }
      },
      "description": "A single assigned targeting option, which defines the state of a targeting option for an entity with targeting settings.",
      "type": "object",
      "id": "AssignedTargetingOption"
    },
    "AuthorizedSellerStatusTargetingOptionDetails": {
      "id": "AuthorizedSellerStatusTargetingOptionDetails",
      "type": "object",
      "description": "Represents a targetable authorized seller status. This will be populated in the authorized_seller_status_details field when targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`.",
      "properties": {
        "authorizedSellerStatus": {
          "type": "string",
          "enum": [
            "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_DIRECT_SELLERS_ONLY",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_AND_NON_PARTICIPATING_PUBLISHERS"
          ],
          "description": "Output only. The authorized seller status.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when authorized seller status is not specified in this version. This enum is a placeholder for the default value, or \"Authorized Direct Sellers and Resellers\" in the UI.",
            "Only authorized sellers that directly own the inventory being monetized, as indicated by a DIRECT declaration in the ads.txt file. This value is equivalent to \"Authorized Direct Sellers\" in the UI.",
            "All authorized sellers, including publishers that have not posted an ads.txt file. Display & Video 360 automatically disallows unauthorized sellers. This value is equivalent to \"Authorized and Non-Participating Publishers\" in the UI."
          ]
        }
      }
    },
    "ListCombinedAudiencesResponse": {
      "type": "object",
      "id": "ListCombinedAudiencesResponse",
      "properties": {
        "combinedAudiences": {
          "description": "The list of combined audiences. This list will be absent if empty.",
          "items": {
            "$ref": "CombinedAudience"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCombinedAudiences` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "VideoAdSequenceStep": {
      "description": "The detail of a single step in a VideoAdSequence.",
      "properties": {
        "stepId": {
          "description": "The ID of the step.",
          "format": "int64",
          "type": "string"
        },
        "previousStepId": {
          "format": "int64",
          "description": "The ID of the previous step. The first step does not have previous step.",
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "description": "The ID of the corresponding ad group of the step.",
          "format": "int64"
        },
        "interactionType": {
          "enumDescriptions": [
            "Unspecified or unknown",
            "A paid view.",
            "Skipped by the viewer.",
            "A (viewed) ad impression.",
            "An ad impression that was not immediately skipped by the viewer, but didn't reach the billable event either."
          ],
          "enum": [
            "INTERACTION_TYPE_UNSPECIFIED",
            "INTERACTION_TYPE_PAID_VIEW",
            "INTERACTION_TYPE_SKIP",
            "INTERACTION_TYPE_IMPRESSION",
            "INTERACTION_TYPE_ENGAGED_IMPRESSION"
          ],
          "type": "string",
          "description": "The interaction on the previous step that will lead the viewer to this step. The first step does not have interaction_type."
        }
      },
      "id": "VideoAdSequenceStep",
      "type": "object"
    },
    "GoogleAudienceTargetingSetting": {
      "description": "Details of Google audience targeting setting.",
      "properties": {
        "googleAudienceId": {
          "type": "string",
          "description": "Required. Google audience id of the Google audience targeting setting. This id is google_audience_id.",
          "format": "int64"
        }
      },
      "id": "GoogleAudienceTargetingSetting",
      "type": "object"
    },
    "PartnerGeneralConfig": {
      "id": "PartnerGeneralConfig",
      "type": "object",
      "description": "General settings of a partner.",
      "properties": {
        "currencyCode": {
          "description": "Immutable. Partner's currency in ISO 4217 format.",
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Immutable. The standard TZ database name of the partner's time zone. For example, `America/New_York`. See more at: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
        }
      }
    },
    "OperatingSystemAssignedTargetingOptionDetails": {
      "description": "Assigned operating system targeting option details. This will be populated in the operating_system_details field when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the operating system.",
          "readOnly": true
        },
        "targetingOptionId": {
          "description": "Required. The targeting option ID populated in targeting_option_id field when targeting_type is `TARGETING_TYPE_OPERATING_SYSTEM`.",
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        }
      },
      "id": "OperatingSystemAssignedTargetingOptionDetails",
      "type": "object"
    },
    "LineItemAssignedTargetingOption": {
      "properties": {
        "lineItemId": {
          "description": "The ID of the line item the assigned targeting option is assigned to.",
          "format": "int64",
          "type": "string"
        },
        "assignedTargetingOption": {
          "description": "The assigned targeting option resource.",
          "$ref": "AssignedTargetingOption"
        }
      },
      "description": "Wrapper object associating an assigned_targeting_option resource and the line item it is assigned to.",
      "type": "object",
      "id": "LineItemAssignedTargetingOption"
    },
    "ReplaceSitesResponse": {
      "description": "Response message for SiteService.ReplaceSites.",
      "properties": {
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "type": "array",
          "description": "The list of sites in the channel after replacing."
        }
      },
      "id": "ReplaceSitesResponse",
      "type": "object"
    },
    "CustomBiddingAlgorithm": {
      "type": "object",
      "id": "CustomBiddingAlgorithm",
      "properties": {
        "partnerId": {
          "type": "string",
          "description": "Immutable. The unique ID of the partner that owns the custom bidding algorithm.",
          "format": "int64"
        },
        "modelDetails": {
          "items": {
            "$ref": "CustomBiddingModelDetails"
          },
          "type": "array",
          "description": "Output only. The details of custom bidding models for each advertiser who has access. This field may only include the details of the queried advertiser if the algorithm [`owner`](/display-video/api/reference/rest/v1/customBiddingAlgorithms#CustomBiddingAlgorithm.FIELDS.oneof_owner) is a partner and is being retrieved using an advertiser [`accessor`](/display-video/api/reference/rest/v1/customBiddingAlgorithms/list#body.QUERY_PARAMETERS.oneof_accessor).",
          "readOnly": true
        },
        "sharedAdvertiserIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The IDs of the advertisers who have access to this algorithm. If advertiser_id is set, this field will only consist of that value. This field will not be set if the algorithm [`owner`](/display-video/api/reference/rest/v1/customBiddingAlgorithms#CustomBiddingAlgorithm.FIELDS.oneof_owner) is a partner and is being retrieved using an advertiser [`accessor`](/display-video/api/reference/rest/v1/customBiddingAlgorithms/list#body.QUERY_PARAMETERS.oneof_accessor)."
        },
        "advertiserId": {
          "format": "int64",
          "description": "Immutable. The unique ID of the advertiser that owns the custom bidding algorithm.",
          "type": "string"
        },
        "customBiddingAlgorithmType": {
          "description": "Required. Immutable. The type of custom bidding algorithm.",
          "type": "string",
          "enumDescriptions": [
            "Algorithm type is not specified or is unknown in this version.",
            "Algorithm generated through customer-uploaded custom bidding script files."
          ],
          "enum": [
            "CUSTOM_BIDDING_ALGORITHM_TYPE_UNSPECIFIED",
            "SCRIPT_BASED"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the custom bidding algorithm. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "entityStatus": {
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "type": "string",
          "description": "Controls whether or not the custom bidding algorithm can be used as a bidding strategy. Accepted values are: * `ENTITY_STATUS_ACTIVE` * `ENTITY_STATUS_ARCHIVED`"
        },
        "customBiddingAlgorithmId": {
          "format": "int64",
          "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the custom bidding algorithm.",
          "readOnly": true
        }
      },
      "description": "A single custom bidding algorithm."
    },
    "SearchTargetingOptionsRequest": {
      "properties": {
        "advertiserId": {
          "description": "Required. The Advertiser this request is being made in the context of.",
          "format": "int64",
          "type": "string"
        },
        "pageToken": {
          "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `SearchTargetingOptions` method. If not specified, the first page of results will be returned.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
          "type": "integer"
        },
        "businessChainSearchTerms": {
          "description": "Search terms for Business Chain targeting options. Can only be used when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
          "$ref": "BusinessChainSearchTerms"
        },
        "geoRegionSearchTerms": {
          "description": "Search terms for geo region targeting options. Can only be used when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
          "$ref": "GeoRegionSearchTerms"
        },
        "poiSearchTerms": {
          "description": "Search terms for POI targeting options. Can only be used when targeting_type is `TARGETING_TYPE_POI`.",
          "$ref": "PoiSearchTerms"
        }
      },
      "description": "Request message for SearchTargetingOptions.",
      "type": "object",
      "id": "SearchTargetingOptionsRequest"
    },
    "ChannelAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "ChannelAssignedTargetingOptionDetails",
      "properties": {
        "channelId": {
          "type": "string",
          "format": "int64",
          "description": "Required. ID of the channel. Should refer to the channel ID field on a [Partner-owned channel](partners.channels#Channel.FIELDS.channel_id) or [advertiser-owned channel](advertisers.channels#Channel.FIELDS.channel_id) resource."
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted. For advertiser level assigned targeting option, this field must be true.",
          "type": "boolean"
        }
      },
      "description": "Details for assigned channel targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CHANNEL`."
    },
    "RateDetails": {
      "description": "The rate related settings of the inventory source.",
      "properties": {
        "rate": {
          "description": "The rate for the inventory source.",
          "$ref": "Money"
        },
        "unitsPurchased": {
          "type": "string",
          "format": "int64",
          "description": "Required for guaranteed inventory sources. The number of impressions guaranteed by the seller."
        },
        "inventorySourceRateType": {
          "description": "The rate type. Acceptable values are `INVENTORY_SOURCE_RATE_TYPE_CPM_FIXED`, `INVENTORY_SOURCE_RATE_TYPE_CPM_FLOOR`, and `INVENTORY_SOURCE_RATE_TYPE_CPD`.",
          "enumDescriptions": [
            "The rate type is not specified or is unknown in this version.",
            "The rate type is CPM (Fixed).",
            "The rate type is CPM (Floor).",
            "The rate type is Cost per Day.",
            "The rate type is Cost per Hour.",
            "The rate type is Flat."
          ],
          "enum": [
            "INVENTORY_SOURCE_RATE_TYPE_UNSPECIFIED",
            "INVENTORY_SOURCE_RATE_TYPE_CPM_FIXED",
            "INVENTORY_SOURCE_RATE_TYPE_CPM_FLOOR",
            "INVENTORY_SOURCE_RATE_TYPE_CPD",
            "INVENTORY_SOURCE_RATE_TYPE_CPH",
            "INVENTORY_SOURCE_RATE_TYPE_FLAT"
          ],
          "type": "string"
        },
        "minimumSpend": {
          "$ref": "Money",
          "description": "Output only. The amount that the buyer has committed to spending on the inventory source up front. Only applicable for guaranteed inventory sources.",
          "readOnly": true
        }
      },
      "id": "RateDetails",
      "type": "object"
    },
    "ListYoutubeAdGroupsResponse": {
      "properties": {
        "youtubeAdGroups": {
          "description": "The list of ad groups. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "YoutubeAdGroup"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListYoutubeAdGroups` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListYoutubeAdGroupsResponse",
      "type": "object"
    },
    "CreativeConfig": {
      "type": "object",
      "id": "CreativeConfig",
      "properties": {
        "displayCreativeConfig": {
          "description": "The configuration for display creatives. Applicable when creative_type is `CREATIVE_TYPE_STANDARD`.",
          "$ref": "InventorySourceDisplayCreativeConfig"
        },
        "creativeType": {
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Standard display creative. Create and update methods are supported for this creative type if the hosting_source is one of the following: * `HOSTING_SOURCE_HOSTED` * `HOSTING_SOURCE_THIRD_PARTY`",
            "Expandable creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_THIRD_PARTY`",
            "Video creative. Create and update methods are supported for this creative type if the hosting_source is one of the following: * `HOSTING_SOURCE_HOSTED` * `HOSTING_SOURCE_THIRD_PARTY`",
            "Native creative rendered by publishers with assets from advertiser. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`",
            "Templated app install mobile creative (banner). Create and update methods are **not** supported for this creative type.",
            "Square native creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`",
            "Interstitial creative including both display and video. Create and update methods are **not** supported for this creative type.",
            "Responsive and expandable Lightbox creative. Create and update methods are **not** supported for this creative type.",
            "Native app install creative. Create and update methods are **not** supported for this creative type.",
            "Square native app install creative. Create and update methods are **not** supported for this creative type.",
            "Audio creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`",
            "Publisher hosted creative. Create and update methods are **not** supported for this creative type.",
            "Native video creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`",
            "Templated app install mobile video creative. Create and update methods are **not** supported for this creative type.",
            "Asset-based creative. Create and update methods are supported for this creative type if the hosting_source is `HOSTING_SOURCE_HOSTED`."
          ],
          "enum": [
            "CREATIVE_TYPE_UNSPECIFIED",
            "CREATIVE_TYPE_STANDARD",
            "CREATIVE_TYPE_EXPANDABLE",
            "CREATIVE_TYPE_VIDEO",
            "CREATIVE_TYPE_NATIVE",
            "CREATIVE_TYPE_TEMPLATED_APP_INSTALL",
            "CREATIVE_TYPE_NATIVE_SITE_SQUARE",
            "CREATIVE_TYPE_TEMPLATED_APP_INSTALL_INTERSTITIAL",
            "CREATIVE_TYPE_LIGHTBOX",
            "CREATIVE_TYPE_NATIVE_APP_INSTALL",
            "CREATIVE_TYPE_NATIVE_APP_INSTALL_SQUARE",
            "CREATIVE_TYPE_AUDIO",
            "CREATIVE_TYPE_PUBLISHER_HOSTED",
            "CREATIVE_TYPE_NATIVE_VIDEO",
            "CREATIVE_TYPE_TEMPLATED_APP_INSTALL_VIDEO",
            "CREATIVE_TYPE_ASSET_BASED_CREATIVE"
          ],
          "description": "The type of creative that can be assigned to the inventory source. Only the following types are supported: * `CREATIVE_TYPE_STANDARD` * `CREATIVE_TYPE_VIDEO`"
        },
        "videoCreativeConfig": {
          "description": "The configuration for video creatives. Applicable when creative_type is `CREATIVE_TYPE_VIDEO`.",
          "$ref": "InventorySourceVideoCreativeConfig"
        }
      },
      "description": "Creative requirements configuration for the inventory source."
    },
    "AuditAdvertiserResponse": {
      "type": "object",
      "id": "AuditAdvertiserResponse",
      "properties": {
        "usedLineItemsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of ACTIVE, PAUSED, and DRAFT line items under this advertiser. These line items count towards the limit of 9999 line items per advertiser."
        },
        "usedInsertionOrdersCount": {
          "format": "int64",
          "description": "The number of ACTIVE, PAUSED and DRAFT insertion orders under this advertiser. These insertion orders count towards the limit of 9999 insertion orders per advertiser.",
          "type": "string"
        },
        "negativeKeywordListsCount": {
          "format": "int64",
          "description": "The number of negative keyword lists created under this advertiser. These negative keyword lists count towards the limit of 20 negative keyword lists per advertiser.",
          "type": "string"
        },
        "channelsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of channels created under this advertiser. These channels count towards the limit of 1000 channels per advertiser."
        },
        "negativelyTargetedChannelsCount": {
          "format": "int64",
          "description": "The number of negatively targeted channels created under this advertiser. These negatively targeted channels count towards the limit of 5 negatively targeted channels per advertiser.",
          "type": "string"
        },
        "adGroupCriteriaCount": {
          "type": "string",
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 4500000 ad group targeting options per advertiser. Qualifying Targeting types: * Channels, URLs, apps, and collections * Demographic * Google Audiences, including Affinity, Custom Affinity, and In-market audiences * Inventory source * Keyword * Mobile app category * User lists * Video targeting * Viewability",
          "format": "int64"
        },
        "campaignCriteriaCount": {
          "type": "string",
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 900000 campaign targeting options per advertiser. Qualifying Targeting types: * Position * Browser * Connection speed * Day and time * Device and operating system * Digital content label * Sensitive categories * Environment * Geography, including business chains and proximity * ISP * Language * Third-party verification",
          "format": "int64"
        },
        "usedCampaignsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of ACTIVE and PAUSED campaigns under this advertiser. These campaigns count towards the limit of 9999 campaigns per advertiser."
        }
      },
      "description": "Response message for AdvertiserService.AuditAdvertiser."
    },
    "LookbackWindow": {
      "id": "LookbackWindow",
      "type": "object",
      "description": "Specifies how many days into the past to look when determining whether to record a conversion.",
      "properties": {
        "clickDays": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads.",
          "type": "integer"
        },
        "impressionDays": {
          "format": "int32",
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads.",
          "type": "integer"
        }
      }
    },
    "ManualTrigger": {
      "description": "A single manual trigger in Display & Video 360. **Warning:** Line Items using manual triggers no longer serve in Display & Video 360. This resource will sunset on August 1, 2023. Read our [feature deprecation announcement](/display-video/api/deprecations#features.manual_triggers) for more information.",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the manual trigger. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "latestActivationTime": {
          "type": "string",
          "description": "Output only. The timestamp of the trigger's latest activation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "activationDurationMinutes": {
          "format": "int64",
          "description": "Required. The maximum duration of each activation in minutes. Must be between 1 and 360 inclusive. After this duration, the trigger will be automatically deactivated.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "Required. Immutable. The unique ID of the advertiser that the manual trigger belongs to.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the manual trigger.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ],
          "type": "string",
          "description": "Output only. The state of the manual trigger. Will be set to the `INACTIVE` state upon creation.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The trigger is currently inactive and ready to be activated.",
            "The trigger is currently active (activated)."
          ]
        },
        "triggerId": {
          "description": "Output only. The unique ID of the manual trigger.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ManualTrigger",
      "type": "object"
    },
    "Site": {
      "id": "Site",
      "type": "object",
      "description": "A single site. Sites are apps or websites belonging to a channel.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the site.",
          "readOnly": true
        },
        "urlOrAppId": {
          "description": "Required. The app ID or URL of the site. Must be UTF-8 encoded with a maximum length of 240 bytes.",
          "type": "string"
        }
      }
    },
    "InventorySourceFilter": {
      "properties": {
        "inventorySourceIds": {
          "description": "Inventory Sources to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest. Leave empty to download all Inventory Sources for the selected Advertiser or Partner.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "A filtering option for filtering on Inventory Source entities.",
      "type": "object",
      "id": "InventorySourceFilter"
    },
    "DayAndTimeAssignedTargetingOptionDetails": {
      "description": "Representation of a segment of time defined on a specific day of the week and with a start and end time. The time represented by `start_hour` must be before the time represented by `end_hour`.",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "description": "Required. The day of the week for this day and time targeting setting."
        },
        "endHour": {
          "type": "integer",
          "description": "Required. The end hour for day and time targeting. Must be between 1 (1 hour after start of day) and 24 (end of day).",
          "format": "int32"
        },
        "startHour": {
          "format": "int32",
          "description": "Required. The start hour for day and time targeting. Must be between 0 (start of day) and 23 (1 hour before end of day).",
          "type": "integer"
        },
        "timeZoneResolution": {
          "type": "string",
          "enumDescriptions": [
            "Time zone resolution is either unspecific or unknown.",
            "Times are resolved in the time zone of the user that saw the ad.",
            "Times are resolved in the time zone of the advertiser that served the ad."
          ],
          "enum": [
            "TIME_ZONE_RESOLUTION_UNSPECIFIED",
            "TIME_ZONE_RESOLUTION_END_USER",
            "TIME_ZONE_RESOLUTION_ADVERTISER"
          ],
          "description": "Required. The mechanism used to determine which timezone to use for this day and time targeting setting. For demand gen line items, this field is always TIME_ZONE_RESOLUTION_ADVERTISER."
        }
      },
      "id": "DayAndTimeAssignedTargetingOptionDetails",
      "type": "object"
    },
    "SdfDownloadTask": {
      "type": "object",
      "id": "SdfDownloadTask",
      "properties": {
        "resourceName": {
          "description": "A resource name to be used in media.download to Download the prepared files. Resource names have the format `download/sdfdownloadtasks/media/{media_id}`. `media_id` will be made available by the long running operation service once the task status is done.",
          "type": "string"
        }
      },
      "description": "Type for the response returned by SdfDownloadTaskService.CreateSdfDownloadTask."
    },
    "InventorySourceAssignedTargetingOptionDetails": {
      "id": "InventorySourceAssignedTargetingOptionDetails",
      "type": "object",
      "description": "Targeting details for inventory source. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`.",
      "properties": {
        "inventorySourceId": {
          "format": "int64",
          "description": "Required. ID of the inventory source. Should refer to the inventory_source_id field of an InventorySource resource.",
          "type": "string"
        }
      }
    },
    "PublisherReviewStatus": {
      "properties": {
        "publisherName": {
          "type": "string",
          "description": "The publisher reviewing the creative."
        },
        "status": {
          "description": "Status of the publisher review.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The creative is approved.",
            "The creative is rejected.",
            "The creative is pending review."
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "REVIEW_STATUS_APPROVED",
            "REVIEW_STATUS_REJECTED",
            "REVIEW_STATUS_PENDING"
          ],
          "type": "string"
        }
      },
      "description": "Publisher review status for the creative.",
      "type": "object",
      "id": "PublisherReviewStatus"
    },
    "BusinessChainSearchTerms": {
      "properties": {
        "businessChainQuery": {
          "type": "string",
          "description": "The search query for the desired business chain. The query must be the full name of the business, e.g. \"KFC\", \"mercedes-benz\"."
        },
        "regionQuery": {
          "type": "string",
          "description": "The search query for the desired geo region, e.g. \"Seattle\", \"United State\"."
        }
      },
      "description": "Search terms for Business Chain targeting options. At least one of the field should be populated.",
      "type": "object",
      "id": "BusinessChainSearchTerms"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      },
      "id": "Money",
      "type": "object"
    },
    "IntegrationDetails": {
      "type": "object",
      "id": "IntegrationDetails",
      "properties": {
        "details": {
          "description": "Additional details of the entry in string format. Must be UTF-8 encoded with a length of no more than 1000 characters.",
          "type": "string"
        },
        "integrationCode": {
          "type": "string",
          "description": "An external identifier to be associated with the entry. The integration code will show up together with the entry in many places in the system, for example, reporting. Must be UTF-8 encoded with a length of no more than 500 characters."
        }
      },
      "description": "Integration details of an entry."
    },
    "BumperAd": {
      "description": "Details for a bumper ad.",
      "properties": {
        "commonInStreamAttribute": {
          "description": "Common ad attributes.",
          "$ref": "CommonInStreamAttribute"
        }
      },
      "id": "BumperAd",
      "type": "object"
    },
    "ListCustomBiddingAlgorithmsResponse": {
      "properties": {
        "customBiddingAlgorithms": {
          "description": "The list of custom bidding algorithms. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "CustomBiddingAlgorithm"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCustomBiddingAlgorithmsRequest` method to retrieve the next page of results. If this field is null, it means this is the last page.",
          "type": "string"
        }
      },
      "id": "ListCustomBiddingAlgorithmsResponse",
      "type": "object"
    },
    "BulkEditAssignedTargetingOptionsRequest": {
      "id": "BulkEditAssignedTargetingOptionsRequest",
      "type": "object",
      "description": "Request message for BulkEditLineItemsAssignedTargetingOptions.",
      "properties": {
        "lineItemIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Required. The ID of the line items whose targeting is being updated."
        },
        "deleteRequests": {
          "type": "array",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to delete in batch, specified as a list of DeleteAssignedTargetingOptionsRequest. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`"
        },
        "createRequests": {
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "type": "array",
          "description": "The assigned targeting options to create in batch, specified as a list of CreateAssignedTargetingOptionsRequest. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`"
        }
      }
    },
    "BulkEditAdvertiserAssignedTargetingOptionsRequest": {
      "description": "Request message for BulkEditAdvertiserAssignedTargetingOptions.",
      "properties": {
        "deleteRequests": {
          "type": "array",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_INVENTORY_MODE`"
        },
        "createRequests": {
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_INVENTORY_MODE`",
          "type": "array",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          }
        }
      },
      "id": "BulkEditAdvertiserAssignedTargetingOptionsRequest",
      "type": "object"
    },
    "VideoPlayerSizeAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "VideoPlayerSizeAssignedTargetingOptionDetails",
      "properties": {
        "videoPlayerSize": {
          "type": "string",
          "enumDescriptions": [
            "Video player size is not specified in this version. This enum is a place holder for a default value and does not represent a real video player size.",
            "The dimensions of the video player are less than 400×300 (desktop), or up to 20% of screen covered (mobile).",
            "The dimensions of the video player are between 400x300 and 1280x720 pixels (desktop), or 20% to 90% of the screen covered (mobile).",
            "The dimensions of the video player are 1280×720 or greater (desktop), or over 90% of the screen covered (mobile).",
            "The dimensions of the video player are unknown."
          ],
          "enum": [
            "VIDEO_PLAYER_SIZE_UNSPECIFIED",
            "VIDEO_PLAYER_SIZE_SMALL",
            "VIDEO_PLAYER_SIZE_LARGE",
            "VIDEO_PLAYER_SIZE_HD",
            "VIDEO_PLAYER_SIZE_UNKNOWN"
          ],
          "description": "Required. The video player size."
        }
      },
      "description": "Video player size targeting option details. This will be populated in the video_player_size_details field when targeting_type is `TARGETING_TYPE_VIDEO_PLAYER_SIZE`. Explicitly targeting all options is not supported. Remove all video player size targeting options to achieve this effect."
    },
    "GoogleAudienceGroup": {
      "properties": {
        "settings": {
          "description": "Required. All Google audience targeting settings in Google audience group. Repeated settings with the same id will be ignored.",
          "items": {
            "$ref": "GoogleAudienceTargetingSetting"
          },
          "type": "array"
        }
      },
      "description": "Details of Google audience group. All Google audience targeting settings are logically ‘OR’ of each other.",
      "type": "object",
      "id": "GoogleAudienceGroup"
    },
    "CreateAssetRequest": {
      "description": "A request message for CreateAsset.",
      "properties": {
        "filename": {
          "type": "string",
          "description": "Required. The filename of the asset, including the file extension. The filename must be UTF-8 encoded with a maximum size of 240 bytes."
        }
      },
      "id": "CreateAssetRequest",
      "type": "object"
    },
    "DeviceTypeTargetingOptionDetails": {
      "type": "object",
      "id": "DeviceTypeTargetingOptionDetails",
      "properties": {
        "deviceType": {
          "description": "Output only. The device type that is used to be targeted.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "Computer.",
            "Connected TV.",
            "Smart phone.",
            "Tablet.",
            "Connected device."
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET",
            "DEVICE_TYPE_CONNECTED_DEVICE"
          ]
        }
      },
      "description": "Represents a targetable device type. This will be populated in the device_type_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`."
    },
    "BusinessChainAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "BusinessChainAssignedTargetingOptionDetails",
      "properties": {
        "proximityRadiusUnit": {
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of a business chain, e.g. \"KFC\", \"Chase Bank\".",
          "readOnly": true
        },
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_BUSINESS_CHAIN`. Accepted business chain targeting option IDs can be retrieved using SearchTargetingOptions."
        },
        "proximityRadiusAmount": {
          "type": "number",
          "format": "double",
          "description": "Required. The radius of the area around the business chain that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`. The minimum increment for both cases is 0.1. Inputs will be rounded to the nearest acceptable value if it is too granular, e.g. 15.57 will become 15.6."
        }
      },
      "description": "Details for assigned Business chain targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`."
    },
    "ListGoogleAudiencesResponse": {
      "id": "ListGoogleAudiencesResponse",
      "type": "object",
      "properties": {
        "googleAudiences": {
          "items": {
            "$ref": "GoogleAudience"
          },
          "type": "array",
          "description": "The list of Google audiences. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListGoogleAudiences` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "AssetAssociation": {
      "type": "object",
      "id": "AssetAssociation",
      "properties": {
        "role": {
          "enumDescriptions": [
            "Asset role is not specified or is unknown in this version.",
            "The asset is the main asset of the creative.",
            "The asset is a backup asset of the creative.",
            "The asset is a polite load asset of the creative.",
            "Headline of a native creative. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long headline of a native creative. The content must be UTF-8 encoded with a length of no more than 50 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Body text of a native creative. The content must be UTF-8 encoded with a length of no more than 90 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "Long body text of a native creative. The content must be UTF-8 encoded with a length of no more than 150 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "A short, friendly version of the landing page URL to show in the creative. This URL gives people an idea of where they'll arrive after they click on the creative. The content must be UTF-8 encoded with a length of no more than 30 characters. For example, if the landing page URL is 'http://www.example.com/page', the caption URL can be 'example.com'. The protocol (http://) is optional, but the URL can't contain spaces or special characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text to use on the call-to-action button of a native creative. The content must be UTF-8 encoded with a length of no more than 15 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The text that identifies the advertiser or brand name. The content must be UTF-8 encoded with a length of no more than 25 characters. This role is only supported in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE` * `CREATIVE_TYPE_NATIVE_VIDEO`",
            "The purchase price of your app in the Google play store or iOS app store (for example, $5.99). Note that this value is not automatically synced with the actual value listed in the store. It will always be the one provided when save the creative. The content must be UTF-8 encoded with a length of no more than 15 characters. Assets of this role are read-only.",
            "The ID of an Android app in the Google play store. You can find this ID in the App’s Google Play Store URL after ‘id’. For example, in `https://play.google.com/store/apps/details?id=com.company.appname` the identifier is com.company.appname. Assets of this role are read-only.",
            "The ID of an iOS app in the Apple app store. This ID number can be found in the Apple App Store URL as the string of numbers directly after \"id\". For example, in `https://apps.apple.com/us/app/gmail-email-by-google/id422689480` the ID is 422689480. Assets of this role are read-only.",
            "The rating of an app in the Google play store or iOS app store. Note that this value is not automatically synced with the actual rating in the store. It will always be the one provided when save the creative. Assets of this role are read-only.",
            "The icon of a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_NATIVE` * `CREATIVE_TYPE_NATIVE_SITE_SQUARE`",
            "The cover image of a native video creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_VIDEO`",
            "The main color to use in a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "The accent color to use in a creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether the creative must use a logo asset. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether the creative must use an image asset. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`",
            "Whether asset enhancements can be applied to the creative. This role is only supported and required in the following creative_type: * `CREATIVE_TYPE_ASSET_BASED_CREATIVE`"
          ],
          "enum": [
            "ASSET_ROLE_UNSPECIFIED",
            "ASSET_ROLE_MAIN",
            "ASSET_ROLE_BACKUP",
            "ASSET_ROLE_POLITE_LOAD",
            "ASSET_ROLE_HEADLINE",
            "ASSET_ROLE_LONG_HEADLINE",
            "ASSET_ROLE_BODY",
            "ASSET_ROLE_LONG_BODY",
            "ASSET_ROLE_CAPTION_URL",
            "ASSET_ROLE_CALL_TO_ACTION",
            "ASSET_ROLE_ADVERTISER_NAME",
            "ASSET_ROLE_PRICE",
            "ASSET_ROLE_ANDROID_APP_ID",
            "ASSET_ROLE_IOS_APP_ID",
            "ASSET_ROLE_RATING",
            "ASSET_ROLE_ICON",
            "ASSET_ROLE_COVER_IMAGE",
            "ASSET_ROLE_BACKGROUND_COLOR",
            "ASSET_ROLE_ACCENT_COLOR",
            "ASSET_ROLE_REQUIRE_LOGO",
            "ASSET_ROLE_REQUIRE_IMAGE",
            "ASSET_ROLE_ENABLE_ASSET_ENHANCEMENTS"
          ],
          "type": "string",
          "description": "Optional. The role of this asset for the creative."
        },
        "asset": {
          "description": "Optional. The associated asset.",
          "$ref": "Asset"
        }
      },
      "description": "Asset association for the creative."
    },
    "ThirdPartyVendorConfig": {
      "type": "object",
      "id": "ThirdPartyVendorConfig",
      "properties": {
        "vendor": {
          "description": "The third-party measurement vendor.",
          "enumDescriptions": [
            "Unknown third-party vendor.",
            "Moat.",
            "DoubleVerify.",
            "Integral Ad Science.",
            "Comscore.",
            "Telemetry.",
            "Meetrics.",
            "ZEFR.",
            "Nielsen.",
            "Kantar.",
            "Dynata.",
            "Transunion.",
            "Origin.",
            "Gemius.",
            "MediaScope.",
            "Audience Project.",
            "Video Amp.",
            "Ispot TV.",
            "Intage.",
            "Macromill.",
            "Video Research."
          ],
          "enum": [
            "THIRD_PARTY_VENDOR_UNSPECIFIED",
            "THIRD_PARTY_VENDOR_MOAT",
            "THIRD_PARTY_VENDOR_DOUBLE_VERIFY",
            "THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE",
            "THIRD_PARTY_VENDOR_COMSCORE",
            "THIRD_PARTY_VENDOR_TELEMETRY",
            "THIRD_PARTY_VENDOR_MEETRICS",
            "THIRD_PARTY_VENDOR_ZEFR",
            "THIRD_PARTY_VENDOR_NIELSEN",
            "THIRD_PARTY_VENDOR_KANTAR",
            "THIRD_PARTY_VENDOR_DYNATA",
            "THIRD_PARTY_VENDOR_TRANSUNION",
            "THIRD_PARTY_VENDOR_ORIGIN",
            "THIRD_PARTY_VENDOR_GEMIUS",
            "THIRD_PARTY_VENDOR_MEDIA_SCOPE",
            "THIRD_PARTY_VENDOR_AUDIENCE_PROJECT",
            "THIRD_PARTY_VENDOR_VIDEO_AMP",
            "THIRD_PARTY_VENDOR_ISPOT_TV",
            "THIRD_PARTY_VENDOR_INTAGE",
            "THIRD_PARTY_VENDOR_MACROMILL",
            "THIRD_PARTY_VENDOR_VIDEO_RESEARCH"
          ],
          "type": "string"
        },
        "placementId": {
          "description": "The ID used by the platform of the third-party vendor to identify the line item.",
          "type": "string"
        }
      },
      "description": "Settings that control how third-party measurement vendors are configured."
    },
    "NonSkippableAd": {
      "description": "Details for a non-skippable ad.",
      "properties": {
        "commonInStreamAttribute": {
          "description": "Common ad attributes.",
          "$ref": "CommonInStreamAttribute"
        },
        "customParameters": {
          "type": "object",
[...]
