{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerName": "Google",
  "canonicalName": "Display Video",
  "name": "displayvideo",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "documentationLink": "https://developers.google.com/display-video/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "id": "displayvideo:v4",
  "title": "Display & Video 360 API",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "version_module": true,
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        }
      }
    }
  },
  "revision": "20260412",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "basePath": "",
  "schemas": {
    "PoiSearchTerms": {
      "description": "Search terms for POI targeting options.",
      "type": "object",
      "properties": {
        "poiQuery": {
          "description": "The search query for the desired POI name, street address, or coordinate of the desired POI. The query can be a prefix, e.g. \"Times squar\", \"40.7505045,-73.99562\", \"315 W 44th St\", etc.",
          "type": "string"
        }
      },
      "id": "PoiSearchTerms"
    },
    "CreateAssetResponse": {
      "id": "CreateAssetResponse",
      "type": "object",
      "properties": {
        "asset": {
          "description": "The uploaded asset, if successful.",
          "$ref": "Asset"
        }
      },
      "description": "A response message for CreateAsset."
    },
    "YoutubeAndPartnersInventorySourceConfig": {
      "description": "Settings that control what YouTube related inventories the YouTube and Partners line item will target.",
      "type": "object",
      "properties": {
        "includeYoutube": {
          "description": "Optional. Whether to target inventory on YouTube. This includes both search, channels and videos.",
          "type": "boolean"
        },
        "includeGoogleTv": {
          "description": "Optional. Whether to target inventory in video apps available with Google TV.",
          "type": "boolean"
        },
        "includeYoutubeVideoPartners": {
          "description": "Whether to target inventory on a collection of partner sites and apps that follow the same brand safety standards as YouTube.",
          "type": "boolean"
        }
      },
      "id": "YoutubeAndPartnersInventorySourceConfig"
    },
    "CampaignGoal": {
      "description": "Settings that control the goal of a campaign.",
      "id": "CampaignGoal",
      "type": "object",
      "properties": {
        "campaignGoalType": {
          "type": "string",
          "enumDescriptions": [
            "Goal value is not specified or unknown in this version.",
            "Drive app installs or engagements.",
            "Raise awareness of a brand or product.",
            "Drive offline or in-store sales.",
            "Drive online action or visits."
          ],
          "enum": [
            "CAMPAIGN_GOAL_TYPE_UNSPECIFIED",
            "CAMPAIGN_GOAL_TYPE_APP_INSTALL",
            "CAMPAIGN_GOAL_TYPE_BRAND_AWARENESS",
            "CAMPAIGN_GOAL_TYPE_OFFLINE_ACTION",
            "CAMPAIGN_GOAL_TYPE_ONLINE_ACTION"
          ],
          "description": "Required. The type of the campaign goal."
        },
        "performanceGoal": {
          "description": "Required. The performance goal of the campaign. Acceptable values for performance_goal_type are: * `PERFORMANCE_GOAL_TYPE_CPM` * `PERFORMANCE_GOAL_TYPE_CPC` * `PERFORMANCE_GOAL_TYPE_CPA` * `PERFORMANCE_GOAL_TYPE_CPIAVC` * `PERFORMANCE_GOAL_TYPE_CTR` * `PERFORMANCE_GOAL_TYPE_VIEWABILITY` * `PERFORMANCE_GOAL_TYPE_OTHER`",
          "$ref": "PerformanceGoal"
        }
      }
    },
    "NegativeKeywordList": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the negative keyword list. Must be UTF-8 encoded with a maximum size of 255 bytes.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the negative keyword list.",
          "readOnly": true,
          "type": "string"
        },
        "negativeKeywordListId": {
          "type": "string",
          "description": "Output only. The unique ID of the negative keyword list. Assigned by the system.",
          "readOnly": true,
          "format": "int64"
        },
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser the negative keyword list belongs to.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "targetedLineItemCount": {
          "type": "string",
          "description": "Output only. Number of line items that are directly targeting this negative keyword list.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "NegativeKeywordList",
      "description": "A list of negative keywords used for targeting."
    },
    "Advertiser": {
      "type": "object",
      "properties": {
        "dataAccessConfig": {
          "description": "Settings that control how advertiser data may be accessed.",
          "$ref": "AdvertiserDataAccessConfig"
        },
        "advertiserId": {
          "type": "string",
          "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
          "readOnly": true,
          "format": "int64"
        },
        "displayName": {
          "description": "Required. The display name of the advertiser. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "containsEuPoliticalAds": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ],
          "description": "Optional. Whether this advertiser contains line items that serve European Union political ads. If this field is set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING`, then the following will happen: * Any new line items created under this advertiser will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. * Any existing line items under this advertiser that do not have a set value be updated to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` within a day."
        },
        "creativeConfig": {
          "description": "Required. Creative related settings of the advertiser.",
          "$ref": "AdvertiserCreativeConfig"
        },
        "servingConfig": {
          "description": "Targeting settings related to ad serving of the advertiser.",
          "$ref": "AdvertiserTargetingConfig"
        },
        "partnerId": {
          "description": "Required. Immutable. The unique ID of the partner that the advertiser belongs to.",
          "format": "int64",
          "type": "string"
        },
        "adServerConfig": {
          "description": "Required. Immutable. Ad server related settings of the advertiser.",
          "$ref": "AdvertiserAdServerConfig"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the advertiser was last updated. Assigned by the system.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "entityStatus": {
          "description": "Required. Controls whether or not insertion orders and line items of the advertiser can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_PAUSED` and `ENTITY_STATUS_SCHEDULED_FOR_DELETION`. * If set to `ENTITY_STATUS_SCHEDULED_FOR_DELETION`, the advertiser will be deleted 30 days from when it was first scheduled for deletion.",
          "type": "string",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "generalConfig": {
          "description": "Required. General settings of the advertiser.",
          "$ref": "AdvertiserGeneralConfig"
        },
        "name": {
          "description": "Output only. The resource name of the advertiser.",
          "readOnly": true,
          "type": "string"
        },
        "integrationDetails": {
          "description": "Integration details of the advertiser. Only integrationCode is currently applicable to advertiser. Other fields of IntegrationDetails are not supported and will be ignored if provided.",
          "$ref": "IntegrationDetails"
        },
        "prismaEnabled": {
          "description": "Whether integration with Mediaocean (Prisma) is enabled. By enabling this, you agree to the following: On behalf of my company, I authorize Mediaocean (Prisma) to send budget segment plans to Google, and I authorize Google to send corresponding reporting and invoices from DV360 to Mediaocean for the purposes of budget planning, billing, and reconciliation for this advertiser.",
          "type": "boolean"
        },
        "billingConfig": {
          "description": "Required. Billing related settings of the advertiser.",
          "$ref": "AdvertiserBillingConfig"
        }
      },
      "id": "Advertiser",
      "description": "A single advertiser in Display & Video 360 (DV360)."
    },
    "LanguageTargetingOptionDetails": {
      "id": "LanguageTargetingOptionDetails",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the language (e.g., \"French\").",
          "readOnly": true
        }
      },
      "description": "Represents a targetable language. This will be populated in the language_details field when targeting_type is `TARGETING_TYPE_LANGUAGE`."
    },
    "CarrierAndIspAssignedTargetingOptionDetails": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the carrier or ISP.",
          "readOnly": true
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_CARRIER_AND_ISP`.",
          "type": "string"
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted. All assigned carrier and ISP targeting options on the same resource must have the same value for this field.",
          "type": "boolean"
        }
      },
      "id": "CarrierAndIspAssignedTargetingOptionDetails",
      "description": "Details for assigned carrier and ISP targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`."
    },
    "BulkEditAssignedLocationsRequest": {
      "description": "Request message for AssignedLocationService.BulkEditAssignedLocations.",
      "type": "object",
      "properties": {
        "deletedAssignedLocations": {
          "description": "The IDs of the assigned locations to delete in bulk, specified as a list of assignedLocationId values.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "createdAssignedLocations": {
          "type": "array",
          "items": {
            "$ref": "AssignedLocation"
          },
          "description": "The assigned locations to create in bulk, specified as a list of AssignedLocation resources."
        }
      },
      "id": "BulkEditAssignedLocationsRequest"
    },
    "AdPolicyTopicConstraintAdPolicyGlobalCertificateMissingConstraint": {
      "id": "AdPolicyTopicConstraintAdPolicyGlobalCertificateMissingConstraint",
      "type": "object",
      "properties": {},
      "description": "Certificate is required to serve in any country."
    },
    "ProductMatchDimension": {
      "description": "A dimension used to match products.",
      "type": "object",
      "properties": {
        "customLabel": {
          "description": "The custom label to match all the products with the label.",
          "$ref": "CustomLabel"
        },
        "productOfferId": {
          "description": "The ID of the product offer to match with a product with the same offer ID.",
          "type": "string"
        }
      },
      "id": "ProductMatchDimension"
    },
    "CustomBiddingAlgorithmRulesRef": {
      "description": "The reference to the uploaded AlgorithmRules file. Retrieve the location to upload new AlgorithmRules file to using customBiddingAlgorithms.uploadRules.",
      "id": "CustomBiddingAlgorithmRulesRef",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "A resource name to be used in media.download to download the rules files. Or media.upload to upload the rules files. Resource names have the format `customBiddingAlgorithms/{custom_bidding_algorithm_id}/rulesRef/{ref_id}`.",
          "type": "string"
        }
      }
    },
    "InsertionOrderBudgetSegment": {
      "type": "object",
      "properties": {
        "dateRange": {
          "description": "Required. The start and end date settings of the budget segment. They are resolved relative to the parent advertiser's time zone. * When creating a new budget segment, both `start_date` and `end_date` must be in the future. * An existing budget segment with a `start_date` in the past has a mutable `end_date` but an immutable `start_date`. * `end_date` must be the `start_date` or later, both before the year 2037.",
          "$ref": "DateRange"
        },
        "budgetAmountMicros": {
          "type": "string",
          "description": "Required. The budget amount the insertion order will spend for the given date_range. The amount is in micros. Must be greater than 0. For example, 500000000 represents 500 standard units of the currency.",
          "format": "int64"
        },
        "description": {
          "description": "Optional. The budget segment description. It can be used to enter Purchase Order information for each budget segment and have that information printed on the invoices. Must be UTF-8 encoded.",
          "type": "string"
        },
        "campaignBudgetId": {
          "description": "Optional. The budget_id of the campaign budget that this insertion order budget segment is a part of.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "InsertionOrderBudgetSegment",
      "description": "Settings that control the budget of a single budget segment."
    },
    "VideoAdInventoryControl": {
      "description": "The video ad inventory control used in certain YouTube line item types.",
      "id": "VideoAdInventoryControl",
      "type": "object",
      "properties": {
        "allowInFeed": {
          "description": "Optional. Whether ads can serve as in-feed format.",
          "type": "boolean"
        },
        "allowShorts": {
          "description": "Optional. Whether ads can serve as shorts format.",
          "type": "boolean"
        },
        "allowInStream": {
          "description": "Optional. Whether ads can serve as in-stream format.",
          "type": "boolean"
        }
      }
    },
    "LocationList": {
      "description": "A list of locations used for targeting.",
      "id": "LocationList",
      "type": "object",
      "properties": {
        "locationListId": {
          "type": "string",
          "description": "Output only. The unique ID of the location list. Assigned by the system.",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "description": "Output only. The resource name of the location list.",
          "readOnly": true,
          "type": "string"
        },
        "advertiserId": {
          "description": "Required. Immutable. The unique ID of the advertiser the location list belongs to.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the location list. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "locationType": {
          "type": "string",
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "The type for proximity geo location.",
            "The type for regional geo location."
          ],
          "enum": [
            "TARGETING_LOCATION_TYPE_UNSPECIFIED",
            "TARGETING_LOCATION_TYPE_PROXIMITY",
            "TARGETING_LOCATION_TYPE_REGIONAL"
          ],
          "description": "Required. Immutable. The type of location. All locations in the list will share this type."
        }
      }
    },
    "GoogleAudience": {
      "description": "Describes a Google audience resource. Includes Google audience lists.",
      "id": "GoogleAudience",
      "type": "object",
      "properties": {
        "googleAudienceId": {
          "description": "Output only. The unique ID of the Google audience. Assigned by the system.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name of the Google audience. .",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the google audience.",
          "readOnly": true,
          "type": "string"
        },
        "googleAudienceType": {
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "GOOGLE_AUDIENCE_TYPE_UNSPECIFIED",
            "GOOGLE_AUDIENCE_TYPE_AFFINITY",
            "GOOGLE_AUDIENCE_TYPE_IN_MARKET",
            "GOOGLE_AUDIENCE_TYPE_INSTALLED_APPS",
            "GOOGLE_AUDIENCE_TYPE_NEW_MOBILE_DEVICES",
            "GOOGLE_AUDIENCE_TYPE_LIFE_EVENT",
            "GOOGLE_AUDIENCE_TYPE_EXTENDED_DEMOGRAPHIC"
          ],
          "description": "Output only. The type of Google audience. .",
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "Affinity type Google audience.",
            "In-Market type Google audience.",
            "Installed-Apps type Google audience.",
            "New-Mobile-Devices type Google audience.",
            "Life-Event type Google audience.",
            "Extended-Demographic type Google audience."
          ]
        }
      }
    },
    "LanguageAssignedTargetingOptionDetails": {
      "description": "Details for assigned language targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_LANGUAGE`.",
      "type": "object",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted. All assigned language targeting options on the same resource must have the same value for this field.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the language (e.g., \"French\").",
          "readOnly": true
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_LANGUAGE`.",
          "type": "string"
        }
      },
      "id": "LanguageAssignedTargetingOptionDetails"
    },
    "SearchTargetingOptionsRequest": {
      "type": "object",
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "Required. The Advertiser this request is being made in the context of.",
          "format": "int64"
        },
        "businessChainSearchTerms": {
          "description": "Search terms for Business Chain targeting options. Can only be used when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
          "$ref": "BusinessChainSearchTerms"
        },
        "geoRegionSearchTerms": {
          "description": "Search terms for geo region targeting options. Can only be used when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
          "$ref": "GeoRegionSearchTerms"
        },
        "pageToken": {
          "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `SearchTargetingOptions` method. If not specified, the first page of results will be returned.",
          "type": "string"
        },
        "poiSearchTerms": {
          "description": "Search terms for POI targeting options. Can only be used when targeting_type is `TARGETING_TYPE_POI`.",
          "$ref": "PoiSearchTerms"
        },
        "pageSize": {
          "type": "integer",
          "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
          "format": "int32"
        }
      },
      "id": "SearchTargetingOptionsRequest",
      "description": "Request message for SearchTargetingOptions."
    },
    "BiddingStrategy": {
      "description": "Settings that control the bid strategy. Bid strategy determines the bid price.",
      "id": "BiddingStrategy",
      "type": "object",
      "properties": {
        "maximizeSpendAutoBid": {
          "description": "A strategy that automatically adjusts the bid to optimize to your performance goal while spending the full budget. At insertion order level, the markup_type of line items cannot be set to `PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM`. In addition, the performance_goal_type value assigned to an insertion order determines the possible line_item_type values available for line items under that insertion order: * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA`, `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC`, and `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED` only allow for `LINE_ITEM_TYPE_DISPLAY_DEFAULT` or `LINE_ITEM_TYPE_VIDEO_DEFAULT` line items. * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA` and `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN` only allow for `LINE_ITEM_TYPE_VIDEO_DEFAULT` line items. * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_REACH` only allows for `LINE_ITEM_TYPE_VIDEO_OVER_THE_TOP` line items.",
          "$ref": "MaximizeSpendBidStrategy"
        },
        "fixedBid": {
          "description": "A strategy that uses a fixed bid price.",
          "$ref": "FixedBidStrategy"
        },
        "performanceGoalAutoBid": {
          "description": "A strategy that automatically adjusts the bid to meet or beat a specified performance goal. It is to be used only for a line item entity.",
          "$ref": "PerformanceGoalBidStrategy"
        },
        "youtubeAndPartnersBid": {
          "description": "A bid strategy used by YouTube and Partners resources. It can only be used for a YouTube and Partners line item or ad group entity.",
          "$ref": "YoutubeAndPartnersBiddingStrategy"
        },
        "demandGenBid": {
          "description": "A bid strategy used by Demand Gen resources. It can only be used for a Demand Gen line item or ad group entity.",
          "$ref": "DemandGenBiddingStrategy"
        }
      }
    },
    "AuthorizedSellerStatusAssignedTargetingOptionDetails": {
      "description": "Represents an assigned authorized seller status. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. If a resource does not have an `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` assigned targeting option, it is using the \"Authorized Direct Sellers and Resellers\" option.",
      "type": "object",
      "properties": {
        "authorizedSellerStatus": {
          "type": "string",
          "enum": [
            "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_DIRECT_SELLERS_ONLY",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_AND_NON_PARTICIPATING_PUBLISHERS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value when authorized seller status is not specified in this version. This enum is a placeholder for the default value, or \"Authorized Direct Sellers and Resellers\" in the UI.",
            "Only authorized sellers that directly own the inventory being monetized, as indicated by a DIRECT declaration in the ads.txt file. This value is equivalent to \"Authorized Direct Sellers\" in the UI.",
            "All authorized sellers, including publishers that have not posted an ads.txt file. Display & Video 360 automatically disallows unauthorized sellers. This value is equivalent to \"Authorized and Non-Participating Publishers\" in the UI."
          ],
          "description": "Output only. The authorized seller status to target."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`.",
          "type": "string"
        }
      },
      "id": "AuthorizedSellerStatusAssignedTargetingOptionDetails"
    },
    "EditCustomerMatchMembersRequest": {
      "description": "Request message for FirstAndThirdPartyAudienceService.EditCustomerMatchMembers.",
      "id": "EditCustomerMatchMembersRequest",
      "type": "object",
      "properties": {
        "addedMobileDeviceIdList": {
          "description": "Input only. A list of mobile device IDs to define the members to be added.",
          "$ref": "MobileDeviceIdList"
        },
        "removedMobileDeviceIdList": {
          "description": "Input only. A list of mobile device IDs to define the members to be removed.",
          "$ref": "MobileDeviceIdList"
        },
        "advertiserId": {
          "description": "Required. The ID of the owner advertiser of the updated Customer Match FirstAndThirdPartyAudience.",
          "format": "int64",
          "type": "string"
        },
        "removedContactInfoList": {
          "description": "Input only. A list of contact information to define the members to be removed.",
          "$ref": "ContactInfoList"
        },
        "addedContactInfoList": {
          "description": "Input only. A list of contact information to define the members to be added.",
          "$ref": "ContactInfoList"
        }
      }
    },
    "GeoRegionAssignedTargetingOptionDetails": {
      "description": "Details for assigned geographic region targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GEO_REGION`.",
      "type": "object",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. The display name of the geographic region (e.g., \"Ontario, Canada\").",
          "readOnly": true,
          "type": "string"
        },
        "geoRegionType": {
          "type": "string",
          "enum": [
            "GEO_REGION_TYPE_UNKNOWN",
            "GEO_REGION_TYPE_OTHER",
            "GEO_REGION_TYPE_COUNTRY",
            "GEO_REGION_TYPE_REGION",
            "GEO_REGION_TYPE_TERRITORY",
            "GEO_REGION_TYPE_PROVINCE",
            "GEO_REGION_TYPE_STATE",
            "GEO_REGION_TYPE_PREFECTURE",
            "GEO_REGION_TYPE_GOVERNORATE",
            "GEO_REGION_TYPE_CANTON",
            "GEO_REGION_TYPE_UNION_TERRITORY",
            "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY",
            "GEO_REGION_TYPE_DMA_REGION",
            "GEO_REGION_TYPE_METRO",
            "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT",
            "GEO_REGION_TYPE_COUNTY",
            "GEO_REGION_TYPE_MUNICIPALITY",
            "GEO_REGION_TYPE_CITY",
            "GEO_REGION_TYPE_POSTAL_CODE",
            "GEO_REGION_TYPE_DEPARTMENT",
            "GEO_REGION_TYPE_AIRPORT",
            "GEO_REGION_TYPE_TV_REGION",
            "GEO_REGION_TYPE_OKRUG",
            "GEO_REGION_TYPE_BOROUGH",
            "GEO_REGION_TYPE_CITY_REGION",
            "GEO_REGION_TYPE_ARRONDISSEMENT",
            "GEO_REGION_TYPE_NEIGHBORHOOD",
            "GEO_REGION_TYPE_UNIVERSITY",
            "GEO_REGION_TYPE_DISTRICT",
            "GEO_REGION_TYPE_NATIONAL_PARK",
            "GEO_REGION_TYPE_BARRIO",
            "GEO_REGION_TYPE_SUB_WARD",
            "GEO_REGION_TYPE_MUNICIPALITY_DISTRICT",
            "GEO_REGION_TYPE_SUB_DISTRICT",
            "GEO_REGION_TYPE_QUARTER",
            "GEO_REGION_TYPE_DIVISION",
            "GEO_REGION_TYPE_COMMUNE",
            "GEO_REGION_TYPE_COLLOQUIAL_AREA",
            "GEO_REGION_TYPE_POST_TOWN"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The geographic region type is unknown.",
            "The geographic region type is other.",
            "The geographic region is a country.",
            "The geographic region type is region.",
            "The geographic region is a territory.",
            "The geographic region is a province.",
            "The geographic region is a state.",
            "The geographic region is a prefecture.",
            "The geographic region is a governorate.",
            "The geographic region is a canton.",
            "The geographic region is a union territory.",
            "The geographic region is an autonomous community.",
            "The geographic region is a designated market area (DMA) region.",
            "The geographic region type is metro.",
            "The geographic region is a congressional district.",
            "The geographic region is a county.",
            "The geographic region is a municipality.",
            "The geographic region is a city.",
            "The geographic region targeting type is postal code.",
            "The geographic region targeting type is department.",
            "The geographic region is an airport.",
            "The geographic region is a TV region.",
            "The geographic region is an okrug.",
            "The geographic region is a borough.",
            "The geographic region is a city region.",
            "The geographic region is an arrondissement.",
            "The geographic region is a neighborhood.",
            "The geographic region is a university.",
            "The geographic region is a district.",
            "The geographic region is a national park.",
            "The geographic region is a barrio.",
            "The geographic region is a sub ward.",
            "The geographic region is a municipality district.",
            "The geographic region is a sub district.",
            "The geographic region is a quarter.",
            "The geographic region is a division.",
            "The geographic region is a commune.",
            "The geographic region is a colloquial area.",
            "The geographic region is a post town."
          ],
          "description": "Output only. The type of geographic region targeting."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_GEO_REGION`.",
          "type": "string"
        }
      },
      "id": "GeoRegionAssignedTargetingOptionDetails"
    },
    "LineItemBudget": {
      "id": "LineItemBudget",
      "type": "object",
      "properties": {
        "budgetUnit": {
          "type": "string",
          "enum": [
            "BUDGET_UNIT_UNSPECIFIED",
            "BUDGET_UNIT_CURRENCY",
            "BUDGET_UNIT_IMPRESSIONS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Budgeting in currency amounts.",
            "Budgeting in impression amounts."
          ],
          "description": "Output only. The budget unit specifies whether the budget is currency based or impression based. This value is inherited from the parent insertion order."
        },
        "budgetAllocationType": {
          "type": "string",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Automatic budget allocation is enabled for the line item.",
            "A fixed max budget amount is allocated for the line item.",
            "No budget limit is applied to the line item."
          ],
          "enum": [
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNSPECIFIED",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNLIMITED"
          ],
          "description": "Required. The type of the budget allocation. `LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC` is only applicable when automatic budget allocation is enabled for the parent insertion order. This field must be set to `LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED` for Demand Gen line items."
        },
        "maxAmount": {
          "type": "string",
          "description": "The maximum budget amount the line item will spend. Must be greater than 0. When budget_allocation_type is: * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC`, this field is immutable and is set by the system. * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED`, if budget_unit is: - `BUDGET_UNIT_CURRENCY`, this field represents maximum budget amount to spend, in micros of the advertiser's currency. For example, 1500000 represents 1.5 standard units of the currency. - `BUDGET_UNIT_IMPRESSIONS`, this field represents the maximum number of impressions to serve. * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNLIMITED`, this field is not applicable and will be ignored by the system.",
          "format": "int64"
        }
      },
      "description": "Settings that control how budget is allocated."
    },
    "CustomLabel": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "enumDescriptions": [
            "Not specified or unknown.",
            "Key index 0.",
            "Key index 1.",
            "Key index 2.",
            "Key index 3.",
            "Key index 4."
          ],
          "enum": [
            "CUSTOM_LABEL_KEY_UNSPECIFIED",
            "CUSTOM_LABEL_KEY_0",
            "CUSTOM_LABEL_KEY_1",
            "CUSTOM_LABEL_KEY_2",
            "CUSTOM_LABEL_KEY_3",
            "CUSTOM_LABEL_KEY_4"
          ],
          "description": "The key of the label."
        },
        "value": {
          "description": "The value of the label.",
          "type": "string"
        }
      },
      "id": "CustomLabel",
      "description": "The key and value of a custom label."
    },
    "YoutubeAssetAssociationLocationAssetFilter": {
      "id": "YoutubeAssetAssociationLocationAssetFilter",
      "type": "object",
      "properties": {
        "locationMatchingType": {
          "description": "Required. The matching type of this location asset filter.",
          "type": "string",
          "enumDescriptions": [
            "Location matching type is not specified or is unknown in this version.",
            "All available location assets are eligible for serving.",
            "The location assets that match a provided business name and/or label filters can serve.",
            "Only the selected location assets can serve.",
            "No location assets can serve."
          ],
          "enum": [
            "LOCATION_MATCHING_TYPE_UNSPECIFIED",
            "SELECT_ALL",
            "FILTER",
            "SELECTED_ASSETS",
            "DISABLED"
          ]
        },
        "locationMatchingFunction": {
          "description": "Optional. The matching function that determines how the location asset filter matches location assets. This field is required and can only be set for if location_matching_type is `FILTER` or `SELECTED_ASSETS`.",
          "$ref": "YoutubeAssetAssociationLocationAssetFilterLocationMatchingFunction"
        },
        "assetSetId": {
          "type": "string",
          "description": "Output only. The ID of the asset set that matches the location assets eligible for serving.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "An asset filter that matches eligible location assets for serving."
    },
    "InventorySourceDisplayCreativeConfig": {
      "id": "InventorySourceDisplayCreativeConfig",
      "type": "object",
      "properties": {
        "creativeSize": {
          "description": "The size requirements for display creatives that can be assigned to the inventory source.",
          "$ref": "Dimensions"
        }
      },
      "description": "The configuration for display creatives."
    },
    "SdfDownloadTaskMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "The time when the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "The SDF version used to execute this download task.",
          "enumDescriptions": [
            "SDF version value is not specified or is unknown in this version.",
            "SDF version 3.1",
            "SDF version 4",
            "SDF version 4.1",
            "SDF version 4.2",
            "SDF version 5.",
            "SDF version 5.1",
            "SDF version 5.2",
            "SDF version 5.3",
            "SDF version 5.4",
            "SDF version 5.5",
            "SDF version 6",
            "SDF version 7. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 7.1. Read the [v7 migration guide](/display-video/api/structured-data-file/v7-migration-guide) before migrating to this version.",
            "SDF version 8. Read the [v8 migration guide](/display-video/api/structured-data-file/v8-migration-guide) before migrating to this version.",
            "SDF version 8.1.",
            "SDF version 9. Read the [v9 migration guide](/display-video/api/structured-data-file/v9-migration-guide) before migrating to this version.",
            "SDF version 9.1.",
            "SDF version 9.2."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            true,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "SDF_VERSION_UNSPECIFIED",
            "SDF_VERSION_3_1",
            "SDF_VERSION_4",
            "SDF_VERSION_4_1",
            "SDF_VERSION_4_2",
            "SDF_VERSION_5",
            "SDF_VERSION_5_1",
            "SDF_VERSION_5_2",
            "SDF_VERSION_5_3",
            "SDF_VERSION_5_4",
            "SDF_VERSION_5_5",
            "SDF_VERSION_6",
            "SDF_VERSION_7",
            "SDF_VERSION_7_1",
            "SDF_VERSION_8",
            "SDF_VERSION_8_1",
            "SDF_VERSION_9",
            "SDF_VERSION_9_1",
            "SDF_VERSION_9_2"
          ]
        },
        "endTime": {
          "type": "string",
          "description": "The time when execution was completed.",
          "format": "google-datetime"
        }
      },
      "id": "SdfDownloadTaskMetadata",
      "description": "Type for the metadata returned by SdfDownloadTaskService.CreateSdfDownloadTask."
    },
    "SdfDownloadTask": {
      "description": "Type for the response returned by SdfDownloadTaskService.CreateSdfDownloadTask.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "A resource name to be used in media.download to Download the prepared files. Resource names have the format `download/sdfdownloadtasks/media/{media_id}`. `media_id` will be made available by the long running operation service once the task status is done.",
          "type": "string"
        }
      },
      "id": "SdfDownloadTask"
    },
    "BulkEditAdGroupAssignedTargetingOptionsRequest": {
      "description": "Request message for BulkEditAdGroupAssignedTargetingOptions.",
      "type": "object",
      "properties": {
        "deleteRequests": {
          "description": "Optional. The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "type": "array"
        },
        "adGroupIds": {
          "description": "Required. The IDs of the ad groups the assigned targeting options will belong to. A maximum of 25 ad group IDs can be specified.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "createRequests": {
          "type": "array",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "description": "Optional. The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionRequest`. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`"
        }
      },
      "id": "BulkEditAdGroupAssignedTargetingOptionsRequest"
    },
    "ScriptError": {
      "description": "An error message for a custom bidding script.",
      "type": "object",
      "properties": {
        "line": {
          "type": "string",
          "description": "The line number in the script where the error was thrown.",
          "format": "int64"
        },
        "column": {
          "description": "The column number in the script where the error was thrown.",
          "format": "int64",
          "type": "string"
        },
        "errorCode": {
          "description": "The type of error.",
          "type": "string",
          "enumDescriptions": [
            "The script error is not specified or is unknown in this version.",
            "The script has a syntax error.",
            "The script uses deprecated syntax.",
            "Internal errors were thrown while processing the script."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "SYNTAX_ERROR",
            "DEPRECATED_SYNTAX",
            "INTERNAL_ERROR"
          ]
        },
        "errorMessage": {
          "description": "The detailed error message.",
          "type": "string"
        }
      },
      "id": "ScriptError"
    },
    "GeoRegionSearchTerms": {
      "type": "object",
      "properties": {
        "geoRegionQuery": {
          "description": "The search query for the desired geo region. The query can be a prefix, e.g. \"New Yor\", \"Seattle\", \"USA\", etc.",
          "type": "string"
        }
      },
      "id": "GeoRegionSearchTerms",
      "description": "Search terms for geo region targeting options."
    },
    "BulkEditAdvertiserAssignedTargetingOptionsRequest": {
      "description": "Request message for BulkEditAdvertiserAssignedTargetingOptions.",
      "type": "object",
      "properties": {
        "deleteRequests": {
          "type": "array",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to delete in batch, specified as a list of `DeleteAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD`"
        },
        "createRequests": {
          "type": "array",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          },
          "description": "The assigned targeting options to create in batch, specified as a list of `CreateAssignedTargetingOptionsRequest`. Supported targeting types: * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_KEYWORD`"
        }
      },
      "id": "BulkEditAdvertiserAssignedTargetingOptionsRequest"
    },
    "BulkListAdGroupAssignedTargetingOptionsResponse": {
      "type": "object",
      "properties": {
        "adGroupAssignedTargetingOptions": {
          "items": {
            "$ref": "AdGroupAssignedTargetingOption"
          },
          "type": "array",
          "description": "The list of wrapper objects, each providing an assigned targeting option and the ad group it is assigned to. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAdGroupAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more AdGroupAssignedTargetingOption resources to return.",
          "type": "string"
        }
      },
      "id": "BulkListAdGroupAssignedTargetingOptionsResponse"
    },
    "LookbackWindow": {
      "description": "Specifies how many days into the past to look when determining whether to record a conversion.",
      "id": "LookbackWindow",
      "type": "object",
      "properties": {
        "clickDays": {
          "type": "integer",
          "description": "Lookback window, in days, from the last time a given user clicked on one of your ads.",
          "format": "int32"
        },
        "impressionDays": {
          "description": "Lookback window, in days, from the last time a given user viewed one of your ads.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "YoutubeAndPartnersBiddingStrategy": {
      "description": "Settings that control the bid strategy for YouTube and Partners resources.",
      "type": "object",
      "properties": {
        "adGroupEffectiveTargetCpaSource": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "BIDDING_SOURCE_UNSPECIFIED",
            "BIDDING_SOURCE_LINE_ITEM",
            "BIDDING_SOURCE_AD_GROUP"
          ],
          "description": "Output only. Source of the effective target CPA value for ad group.",
          "enumDescriptions": [
            "Bidding source is not specified or unknown.",
            "Bidding value is inherited from the line item.",
            "Bidding value is defined in the ad group."
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type is not specified or unknown.",
            "A bidding strategy that pays a configurable amount per video view.",
            "A bidding strategy that pays a configurable amount per impression.",
            "A bidding strategy that automatically optimizes conversions per dollar.",
            "A bidding strategy that pays a configurable amount per impression.",
            "A bidding strategy for YouTube Instant Reserve line items that pays a fixed amount per impression.",
            "An automated bidding strategy that sets bids to achieve maximum lift.",
            "A bidding strategy that automatically maximizes number of conversions given a daily budget.",
            "A bidding strategy that automatically optimizes cost per video view.",
            "A bidding strategy that automatically maximizes revenue while averaging a specific target Return On Ad Spend (ROAS).",
            "A bidding strategy that automatically sets bids to maximize revenue while spending your budget."
          ],
          "enum": [
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_UNSPECIFIED",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPV",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_RESERVE_CPM",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_LIFT",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSIONS",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPV",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS",
            "YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSION_VALUE"
          ],
          "description": "The type of the bidding strategy."
        },
        "value": {
          "description": "The value used by the bidding strategy. When the bidding strategy is assigned at the line item level, this field is only applicable for the following strategy types: * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_RESERVE_SHARE_OF_VOICE` When the bidding strategy is assigned at the ad group level, this field is only applicable for the following strategy types: * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_MANUAL_CPV` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_RESERVE_CPM` * `YOUTUBE_AND_PARTNERS_BIDDING_STRATEGY_TYPE_TARGET_ROAS` If not using an applicable strategy, the value of this field will be 0.",
          "format": "int64",
          "type": "string"
        },
        "adGroupEffectiveTargetCpaValue": {
          "type": "string",
          "description": "Output only. The effective target CPA for ad group, in micros of advertiser's currency.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "YoutubeAndPartnersBiddingStrategy"
    },
    "CampaignFlight": {
      "description": "Settings that track the planned spend and duration of a campaign.",
      "id": "CampaignFlight",
      "type": "object",
      "properties": {
        "plannedSpendAmountMicros": {
          "type": "string",
          "description": "The amount the campaign is expected to spend for its given planned_dates. This will not limit serving, but will be used for tracking spend in the DV360 UI. The amount is in micros. Must be greater than or equal to 0. For example, 500000000 represents 500 standard units of the currency.",
          "format": "int64"
        },
        "plannedDates": {
          "description": "Required. The dates that the campaign is expected to run. They are resolved relative to the parent advertiser's time zone. * The dates specified here will not affect serving. They are used to generate alerts and warnings. For example, if the flight date of any child insertion order is outside the range of these dates, the user interface will show a warning. * `start_date` is required and must be the current date or later. * `end_date` is optional. If specified, it must be the `start_date` or later. * Any specified date must be before the year 2037.",
          "$ref": "DateRange"
        }
      }
    },
    "YoutubeAssetAssociationSitelinkAsset": {
      "id": "YoutubeAssetAssociationSitelinkAsset",
      "type": "object",
      "properties": {
        "assetId": {
          "type": "string",
          "description": "Required. ID of the sitelink asset.",
          "format": "int64"
        }
      },
      "description": "A sitelink asset."
    },
    "AppCategoryTargetingOptionDetails": {
      "id": "AppCategoryTargetingOptionDetails",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The name of the app collection.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents a targetable collection of apps. A collection lets you target dynamic groups of related apps that are maintained by the platform, for example `All Apps/Google Play/Games`. This will be populated in the app_category_details field when targeting_type is `TARGETING_TYPE_APP_CATEGORY`."
    },
    "ParentalStatusTargetingOptionDetails": {
      "id": "ParentalStatusTargetingOptionDetails",
      "type": "object",
      "properties": {
        "parentalStatus": {
          "description": "Output only. The parental status of an audience.",
          "enumDescriptions": [
            "Default value when parental status is not specified in this version. This enum is a place holder for default value and does not represent a real parental status option.",
            "The audience is a parent.",
            "The audience is not a parent.",
            "The parental status of the audience is unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "PARENTAL_STATUS_UNSPECIFIED",
            "PARENTAL_STATUS_PARENT",
            "PARENTAL_STATUS_NOT_A_PARENT",
            "PARENTAL_STATUS_UNKNOWN"
          ]
        }
      },
      "description": "Represents a targetable parental status. This will be populated in the parental_status_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_PARENTAL_STATUS`."
    },
    "SubExchangeTargetingOptionDetails": {
      "description": "Represents a targetable sub-exchange. This will be populated in the sub_exchange_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the sub-exchange.",
          "readOnly": true
        }
      },
      "id": "SubExchangeTargetingOptionDetails"
    },
    "ThirdPartyVerifierAssignedTargetingOptionDetails": {
      "id": "ThirdPartyVerifierAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "doubleVerify": {
          "description": "Third party brand verifier -- DoubleVerify.",
          "$ref": "DoubleVerify"
        },
        "integralAdScience": {
          "description": "Third party brand verifier -- Integral Ad Science.",
          "$ref": "IntegralAdScience"
        },
        "adloox": {
          "description": "Third party brand verifier -- Scope3 (previously known as Adloox).",
          "$ref": "Adloox"
        }
      },
      "description": "Assigned third party verifier targeting option details. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_THIRD_PARTY_VERIFIER`."
    },
    "AdPolicyTopicConstraintAdPolicyCountryConstraintList": {
      "id": "AdPolicyTopicConstraintAdPolicyCountryConstraintList",
      "type": "object",
      "properties": {
        "countries": {
          "description": "Countries where the ad cannot serve.",
          "items": {
            "$ref": "AdPolicyCriterionRestriction"
          },
          "type": "array"
        }
      },
      "description": "A list of countries where the ad cannot serve due to policy constraints."
    },
    "InventorySourceAssignedTargetingOptionDetails": {
      "description": "Targeting details for inventory source. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`.",
      "id": "InventorySourceAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "inventorySourceId": {
          "type": "string",
          "description": "Required. ID of the inventory source. Should refer to the inventory_source_id field of an InventorySource resource.",
          "format": "int64"
        }
      }
    },
    "AdPolicy": {
      "id": "AdPolicy",
      "type": "object",
      "properties": {
        "adPolicyApprovalStatus": {
          "description": "The policy approval status of an ad, indicating the approval decision.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or not specified.",
            "Will not serve.",
            "Will serve with restrictions.",
            "Will serve without restrictions.",
            "Will not serve in targeted countries, but may serve for users who are searching for information about the targeted countries."
          ],
          "enum": [
            "AD_POLICY_APPROVAL_STATUS_UNKNOWN",
            "DISAPPROVED",
            "APPROVED_LIMITED",
            "APPROVED",
            "AREA_OF_INTEREST_ONLY"
          ]
        },
        "adPolicyReviewStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or not specified.",
            "Currently under review.",
            "Primary review complete. Other reviews may still be in progress.",
            "Resubmitted for approval or a policy decision has been appealed.",
            "Deemed eligible and may be serving. Further review could still follow."
          ],
          "enum": [
            "AD_POLICY_REVIEW_STATUS_UNKNOWN",
            "REVIEW_IN_PROGRESS",
            "REVIEWED",
            "UNDER_APPEAL",
            "ELIGIBLE_MAY_SERVE"
          ],
          "description": "The policy review status of an ad, indicating where in the review process the ad is currently."
        },
        "adPolicyTopicEntry": {
          "description": "The entries for each policy topic identified as relating to the ad. Each entry includes the topic, restriction level, and guidance on how to fix policy issues.",
          "items": {
            "$ref": "AdPolicyTopicEntry"
          },
          "type": "array"
        }
      },
      "description": "A single ad policy associated with an ad group ad."
    },
    "OmidTargetingOptionDetails": {
      "description": "Represents a targetable Open Measurement enabled inventory type. This will be populated in the omid_details field when targeting_type is `TARGETING_TYPE_OMID`.",
      "type": "object",
      "properties": {
        "omid": {
          "enumDescriptions": [
            "Default value when omid targeting is not specified in this version.",
            "Open Measurement enabled mobile display inventory."
          ],
          "description": "Output only. The type of Open Measurement enabled inventory.",
          "type": "string",
          "enum": [
            "OMID_UNSPECIFIED",
            "OMID_FOR_MOBILE_DISPLAY_ADS"
          ],
          "readOnly": true
        }
      },
      "id": "OmidTargetingOptionDetails"
    },
    "ActiveViewVideoViewabilityMetricConfig": {
      "id": "ActiveViewVideoViewabilityMetricConfig",
      "type": "object",
      "properties": {
        "minimumViewability": {
          "description": "Required. The minimum percentage of the video ad's pixels visible on the screen in order for an impression to be recorded.",
          "type": "string",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "0% viewable.",
            "25% viewable.",
            "50% viewable.",
            "75% viewable.",
            "100% viewable."
          ],
          "enum": [
            "VIEWABILITY_PERCENT_UNSPECIFIED",
            "VIEWABILITY_PERCENT_0",
            "VIEWABILITY_PERCENT_25",
            "VIEWABILITY_PERCENT_50",
            "VIEWABILITY_PERCENT_75",
            "VIEWABILITY_PERCENT_100"
          ]
        },
        "minimumVolume": {
          "description": "Required. The minimum percentage of the video ad's volume required in order for an impression to be recorded.",
          "type": "string",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "0% volume.",
            "10% volume."
          ],
          "enum": [
            "VIDEO_VOLUME_PERCENT_UNSPECIFIED",
            "VIDEO_VOLUME_PERCENT_0",
            "VIDEO_VOLUME_PERCENT_10"
          ]
        },
        "minimumDuration": {
          "description": "The minimum visible video duration required (in seconds) in order for an impression to be recorded. You must specify minimum_duration, minimum_quartile or both. If both are specified, an impression meets the metric criteria if either requirement is met (whichever happens first).",
          "type": "string",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "No duration value.",
            "0 seconds.",
            "1 second.",
            "2 seconds.",
            "3 seconds.",
            "4 seconds.",
            "5 seconds.",
            "6 seconds.",
            "7 seconds.",
            "8 seconds.",
            "9 seconds.",
            "10 seconds.",
            "11 seconds.",
            "12 seconds.",
            "13 seconds.",
            "14 seconds.",
            "15 seconds.",
            "30 seconds.",
            "45 seconds.",
            "60 seconds."
          ],
          "enum": [
            "VIDEO_DURATION_UNSPECIFIED",
            "VIDEO_DURATION_SECONDS_NONE",
            "VIDEO_DURATION_SECONDS_0",
            "VIDEO_DURATION_SECONDS_1",
            "VIDEO_DURATION_SECONDS_2",
            "VIDEO_DURATION_SECONDS_3",
            "VIDEO_DURATION_SECONDS_4",
            "VIDEO_DURATION_SECONDS_5",
            "VIDEO_DURATION_SECONDS_6",
            "VIDEO_DURATION_SECONDS_7",
            "VIDEO_DURATION_SECONDS_8",
            "VIDEO_DURATION_SECONDS_9",
            "VIDEO_DURATION_SECONDS_10",
            "VIDEO_DURATION_SECONDS_11",
            "VIDEO_DURATION_SECONDS_12",
            "VIDEO_DURATION_SECONDS_13",
            "VIDEO_DURATION_SECONDS_14",
            "VIDEO_DURATION_SECONDS_15",
            "VIDEO_DURATION_SECONDS_30",
            "VIDEO_DURATION_SECONDS_45",
            "VIDEO_DURATION_SECONDS_60"
          ]
        },
        "displayName": {
          "description": "Required. The display name of the custom metric.",
          "type": "string"
        },
        "minimumQuartile": {
          "type": "string",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "No quartile value.",
            "First quartile.",
            "Second quartile (midpoint).",
            "Third quartile.",
            "Fourth quartile (completion)."
          ],
          "enum": [
            "VIDEO_DURATION_QUARTILE_UNSPECIFIED",
            "VIDEO_DURATION_QUARTILE_NONE",
            "VIDEO_DURATION_QUARTILE_FIRST",
            "VIDEO_DURATION_QUARTILE_SECOND",
            "VIDEO_DURATION_QUARTILE_THIRD",
            "VIDEO_DURATION_QUARTILE_FOURTH"
          ],
          "description": "The minimum visible video duration required, based on the video quartiles, in order for an impression to be recorded. You must specify minimum_duration, minimum_quartile or both. If both are specified, an impression meets the metric criteria if either requirement is met (whichever happens first)."
        }
      },
      "description": "Configuration for custom Active View video viewability metrics."
    },
    "CommonInStreamAttribute": {
      "type": "object",
      "properties": {
        "actionHeadline": {
          "description": "The headline of the call-to-action banner.",
          "type": "string"
        },
        "video": {
          "description": "The YouTube video of the ad.",
          "$ref": "YoutubeVideoDetails"
        },
        "displayUrl": {
          "description": "The webpage address that appears with the ad.",
          "type": "string"
        },
        "finalUrl": {
          "description": "The URL address of the webpage that people reach after they click the ad.",
          "type": "string"
        },
        "trackingUrl": {
          "description": "The URL address loaded in the background for tracking purposes.",
          "type": "string"
        },
        "actionButtonLabel": {
          "description": "The text on the call-to-action button.",
          "type": "string"
        },
        "companionBanner": {
          "description": "The image which shows next to the video ad.",
          "$ref": "ImageAsset"
        }
      },
      "id": "CommonInStreamAttribute",
      "description": "Common attributes for in-stream, non-skippable and bumper ads."
    },
    "DeviceMakeModelAssignedTargetingOptionDetails": {
      "description": "Assigned device make and model targeting option details. This will be populated in the device_make_model_details field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`.",
      "type": "object",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Output only. The display name of the device make and model.",
          "readOnly": true,
          "type": "string"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_DEVICE_MAKE_MODEL`.",
          "type": "string"
        }
      },
      "id": "DeviceMakeModelAssignedTargetingOptionDetails"
    },
    "Asset": {
      "id": "Asset",
      "type": "object",
      "properties": {
        "mediaId": {
          "type": "string",
          "description": "Media ID of the uploaded asset. This is a unique identifier for the asset. This ID can be passed to other API calls, e.g. CreateCreative to associate the asset with a creative. The Media ID space updated on **April 5, 2023**. Update media IDs cached before **April 5, 2023** by retrieving the new media ID from associated creative resources or re-uploading the asset.",
          "format": "int64"
        },
        "content": {
          "description": "The asset content. For uploaded assets, the content is the serving path.",
          "type": "string"
        }
      },
      "description": "A single asset."
    },
    "AudienceGroupAssignedTargetingOptionDetails": {
      "description": "Assigned audience group targeting option details. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUDIENCE_GROUP`. The relation between each group is UNION, except for excluded_first_and_third_party_audience_group and excluded_google_audience_group, of which COMPLEMENT is used as an INTERSECTION with other groups.",
      "type": "object",
      "properties": {
        "includedGoogleAudienceGroup": {
          "description": "Optional. The Google audience ids of the included Google audience group. Contains Google audience ids only.",
          "$ref": "GoogleAudienceGroup"
        },
        "includedCustomListGroup": {
          "description": "Optional. The custom list ids of the included custom list group. Contains custom list ids only.",
          "$ref": "CustomListGroup"
        },
        "excludedFirstPartyAndPartnerAudienceGroup": {
          "description": "Optional. The first party and partner audience ids and recencies of the excluded first party and partner audience group. Used for negative targeting. The COMPLEMENT of the UNION of this group and other excluded audience groups is used as an INTERSECTION to any positive audience targeting. All items are logically ‘OR’ of each other.",
          "$ref": "FirstPartyAndPartnerAudienceGroup"
        },
        "includedCombinedAudienceGroup": {
          "description": "Optional. The combined audience ids of the included combined audience group. Contains combined audience ids only.",
          "$ref": "CombinedAudienceGroup"
        },
        "excludedGoogleAudienceGroup": {
          "description": "Optional. The Google audience ids of the excluded Google audience group. Used for negative targeting. The COMPLEMENT of the UNION of this group and other excluded audience groups is used as an INTERSECTION to any positive audience targeting. Only contains Affinity, In-market and Installed-apps type Google audiences. All items are logically ‘OR’ of each other.",
          "$ref": "GoogleAudienceGroup"
        },
        "includedFirstPartyAndPartnerAudienceGroups": {
          "items": {
            "$ref": "FirstPartyAndPartnerAudienceGroup"
          },
          "type": "array",
          "description": "Optional. The first party and partner audience ids and recencies of included first party and partner audience groups. Each first party and partner audience group contains first party and partner audience ids only. The relation between each first party and partner audience group is INTERSECTION, and the result is UNION'ed with other audience groups. Repeated groups with the same settings will be ignored."
        }
      },
      "id": "AudienceGroupAssignedTargetingOptionDetails"
    },
    "AlgorithmRulesSignalComparison": {
      "description": "A single comparison. The comparison compares the `signal` to the `comparisonValue`. The comparison of `siteId==123` is represented with the following field values: * `signal` has an `impressionSignal` of `SITE_ID`. * `comparisonOperator` is set to `EQUAL`. * `comparisonValue` is set to 123.",
      "type": "object",
      "properties": {
        "signal": {
          "description": "Signal to compare.",
          "$ref": "AlgorithmRulesSignal"
        },
        "comparisonOperator": {
          "description": "Operator used to compare the two values. In the resulting experession, the `signal` will be the first value and the `comparisonValue will be the second.",
          "type": "string",
          "enumDescriptions": [
            "Unknown operator.",
            "Values are equal.",
            "Signal value is greater than the comparison value.",
            "Signal value is less than the second.",
            "Signal value is greater than or equal to the second.",
            "Signal value is less than or equal to the comparison value.",
            "Signal value is a list and contains the comparison value."
          ],
          "enum": [
            "COMPARISON_OPERATOR_UNSPECIFIED",
            "EQUAL",
            "GREATER_THAN",
            "LESS_THAN",
            "GREATER_THAN_OR_EQUAL_TO",
            "LESS_THAN_OR_EQUAL_TO",
            "LIST_CONTAINS"
          ]
        },
        "comparisonValue": {
          "description": "Value to compare signal to.",
          "$ref": "AlgorithmRulesComparisonValue"
        }
      },
      "id": "AlgorithmRulesSignalComparison"
    },
    "TimeRange": {
      "id": "TimeRange",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Required. The upper bound of a time range, inclusive.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Required. The lower bound of a time range, inclusive.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A time range."
    },
    "NonSkippableAd": {
      "description": "Details for a non-skippable ad.",
      "type": "object",
      "properties": {
        "commonInStreamAttribute": {
          "description": "Common ad attributes.",
          "$ref": "CommonInStreamAttribute"
        },
        "customParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The custom parameters and accompanying values to add to the tracking URL."
        }
      },
      "id": "NonSkippableAd"
    },
    "YoutubeVideoAsset": {
      "description": "Data for a YouTube video ad asset.",
      "type": "object",
      "properties": {
        "youtubeVideoId": {
          "description": "Required. The YouTube video id of the asset. This is the 11 char string value used in the YouTube video URL.",
          "type": "string"
        }
      },
      "id": "YoutubeVideoAsset"
    },
    "PoiTargetingOptionDetails": {
      "description": "Represents a targetable point of interest(POI). This will be populated in the poi_details field when targeting_type is `TARGETING_TYPE_POI`.",
      "id": "PoiTargetingOptionDetails",
      "type": "object",
      "properties": {
        "longitude": {
          "type": "number",
          "description": "Output only. Longitude of the POI rounding to 6th decimal place.",
          "readOnly": true,
          "format": "double"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of a POI(e.g. \"Times Square\", \"Space Needle\"), followed by its full address if available.",
          "readOnly": true
        },
        "latitude": {
          "type": "number",
          "description": "Output only. Latitude of the POI rounding to 6th decimal place.",
          "readOnly": true,
          "format": "double"
        }
      }
    },
    "BulkListAssignedTargetingOptionsResponse": {
      "id": "BulkListAssignedTargetingOptionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more line_item_assigned_targeting_options to return.",
          "type": "string"
        },
        "lineItemAssignedTargetingOptions": {
          "description": "The list of wrapper objects, each providing an assigned targeting option and the line item it is assigned to. This list will be absent if empty.",
          "items": {
            "$ref": "LineItemAssignedTargetingOption"
          },
          "type": "array"
        }
      }
    },
    "ExchangeConfigEnabledExchange": {
      "description": "An enabled exchange in the partner.",
      "id": "ExchangeConfigEnabledExchange",
      "type": "object",
      "properties": {
        "googleAdManagerAgencyId": {
          "description": "Output only. Agency ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "readOnly": true,
          "type": "string"
        },
        "googleAdManagerBuyerNetworkId": {
          "type": "string",
          "description": "Output only. Network ID of Google Ad Manager. The field is only relevant when Google Ad Manager is the enabled exchange.",
          "readOnly": true
        },
        "seatId": {
          "type": "string",
          "description": "Output only. Seat ID of the enabled exchange.",
          "readOnly": true
        },
        "exchange": {
          "description": "The enabled exchange.",
          "type": "string",
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent."
          ],
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT"
          ]
        }
      }
    },
    "GenderAssignedTargetingOptionDetails": {
      "description": "Details for assigned gender targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GENDER`.",
      "type": "object",
      "properties": {
        "gender": {
          "type": "string",
          "enumDescriptions": [
            "Default value when gender is not specified in this version. This enum is a place holder for default value and does not represent a real gender option.",
            "The audience gender is male.",
            "The audience gender is female.",
            "The audience gender is unknown."
          ],
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_MALE",
            "GENDER_FEMALE",
            "GENDER_UNKNOWN"
          ],
          "description": "Required. The gender of the audience."
        }
      },
      "id": "GenderAssignedTargetingOptionDetails"
    },
    "ContentOutstreamPositionAssignedTargetingOptionDetails": {
      "description": "Assigned content outstream position targeting option details. This will be populated in the content_outstream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
      "id": "ContentOutstreamPositionAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "contentOutstreamPosition": {
          "description": "Required. The content outstream position.",
          "type": "string",
          "enumDescriptions": [
            "Content outstream position is not specified in this version. This enum is a place holder for a default value and does not represent a real content outstream position.",
            "The ad position is unknown in the content outstream.",
            "Ads that appear between the paragraphs of your pages.",
            "Ads that display on the top and the sides of a page.",
            "Ads that appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Ads shown before or between content loads."
          ],
          "enum": [
            "CONTENT_OUTSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_OUTSTREAM_POSITION_UNKNOWN",
            "CONTENT_OUTSTREAM_POSITION_IN_ARTICLE",
            "CONTENT_OUTSTREAM_POSITION_IN_BANNER",
            "CONTENT_OUTSTREAM_POSITION_IN_FEED",
            "CONTENT_OUTSTREAM_POSITION_INTERSTITIAL"
          ]
        },
        "adType": {
          "description": "Output only. The ad type to target. Only applicable to insertion order targeting and new line items supporting the specified ad type will inherit this targeting option by default. Possible values are: * `AD_TYPE_DISPLAY`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_DISPLAY_DEFAULT`. * `AD_TYPE_VIDEO`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_VIDEO_DEFAULT`.",
          "enumDescriptions": [
            "Ad type is not specified or is unknown in this version.",
            "Display creatives, e.g. image and HTML5.",
            "Video creatives, e.g. video ads that play during streaming content in video players.",
            "Audio creatives, e.g. audio ads that play during audio content."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_VIDEO",
            "AD_TYPE_AUDIO"
          ]
        }
      }
    },
    "AlgorithmRulesSignalValue": {
      "type": "object",
      "properties": {
        "activeViewSignal": {
          "type": "string",
          "enumDescriptions": [
            "Unknown signal.",
            "Whether Active View detects that your ad has been viewed. Value is stored in the boolValue field of the comparison value.",
            "Whether Active View detects that your ad was audible. Value is stored in the boolValue field of the comparison value.",
            "Whether the video was completed. Value is stored in the boolValue field of the comparison value.",
            "The time the ad was on screen in seconds. Value is stored in the int64Value field of the comparison value.",
            "The size of the video player displaying the ad. Value is stored in the videoPlayerSizeValue field of the comparison value.",
            "Whether the ad was completed in view and audible. Value is stored in the boolValue field of the comparison value."
          ],
          "enum": [
            "ACTIVE_VIEW_SIGNAL_UNSPECIFIED",
            "ACTIVE_VIEW_VIEWED",
            "AUDIBLE",
            "VIDEO_COMPLETED",
            "TIME_ON_SCREEN",
            "VIDEO_PLAYER_SIZE",
            "COMPLETED_IN_VIEW_AUDIBLE"
          ],
          "description": "Signal based on active views. Only `TIME_ON_SCREEN` is supported. This field is only supported for allowlisted partners."
        },
        "number": {
          "type": "number",
          "description": "Value to use as result.",
          "format": "double"
        },
        "floodlightActivityConversionSignal": {
          "description": "Signal based on floodlight conversion events. This field is only supported for allowlisted partners.",
          "$ref": "AlgorithmRulesFloodlightActivityConversionSignal"
        }
      },
      "id": "AlgorithmRulesSignalValue",
      "description": "Adjusted value of the signal used for rule evaluation."
    },
    "ContentDurationAssignedTargetingOptionDetails": {
      "description": "Details for content duration assigned targeting option. This will be populated in the content_duration_details field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`. Explicitly targeting all options is not supported. Remove all content duration targeting options to achieve this effect.",
      "id": "ContentDurationAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "contentDuration": {
          "type": "string",
          "enum": [
            "CONTENT_DURATION_UNSPECIFIED",
            "CONTENT_DURATION_UNKNOWN",
            "CONTENT_DURATION_0_TO_1_MIN",
            "CONTENT_DURATION_1_TO_5_MIN",
            "CONTENT_DURATION_5_TO_15_MIN",
            "CONTENT_DURATION_15_TO_30_MIN",
            "CONTENT_DURATION_30_TO_60_MIN",
            "CONTENT_DURATION_OVER_60_MIN"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Content duration is not specified in this version. This enum is a place holder for a default value and does not represent a real content duration.",
            "The content duration is unknown.",
            "Content is 0-1 minute long.",
            "Content is 1-5 minutes long.",
            "Content is 5-15 minutes long.",
            "Content is 15-30 minutes long.",
            "Content is 30-60 minutes long.",
            "Content is over 60 minutes long."
          ],
          "description": "Output only. The content duration."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_DURATION`.",
          "type": "string"
        }
      }
    },
    "PartnerRevenueModel": {
      "type": "object",
      "properties": {
        "markupType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "type": "string",
          "enum": [
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_UNSPECIFIED",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_MEDIA_COST_MARKUP",
            "PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP"
          ],
          "description": "Required. The markup type of the partner revenue model. This field must be set to `PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP` for Demand Gen line items.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Calculate the partner revenue based on a fixed CPM.",
            "Calculate the partner revenue based on a percentage surcharge of its media cost.",
            "Calculate the partner revenue based on a percentage surcharge of its total media cost, which includes all partner costs and data costs."
          ]
        },
        "markupAmount": {
          "description": "Required. The markup amount of the partner revenue model. Must be greater than or equal to 0. * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_CPM`, this field represents the CPM markup in micros of advertiser's currency. For example, 1500000 represents 1.5 standard units of the currency. * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_MEDIA_COST_MARKUP`, this field represents the media cost percent markup in millis. For example, 100 represents 0.1% (decimal 0.001). * When the markup_type is set to be `PARTNER_REVENUE_MODEL_MARKUP_TYPE_TOTAL_MEDIA_COST_MARKUP`, this field represents the total media cost percent markup in millis. For example, 100 represents 0.1% (decimal 0.001).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PartnerRevenueModel",
      "description": "Settings that control how partner revenue is calculated."
    },
    "UserRewardedContentAssignedTargetingOptionDetails": {
      "description": "User rewarded content targeting option details. This will be populated in the user_rewarded_content_details field when targeting_type is `TARGETING_TYPE_USER_REWARDED_CONTENT`.",
      "id": "UserRewardedContentAssignedTargetingOptionDetails",
      "type": "object",
      "properties": {
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_USER_REWARDED_CONTENT`.",
          "type": "string"
        },
        "userRewardedContent": {
          "description": "Output only. User rewarded content status for video ads.",
          "enumDescriptions": [
            "User rewarded content is not specified or is unknown in this version.",
            "Represents ads where the user will see a reward after viewing.",
            "Represents all other ads besides user-rewarded."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "USER_REWARDED_CONTENT_UNSPECIFIED",
            "USER_REWARDED_CONTENT_USER_REWARDED",
            "USER_REWARDED_CONTENT_NOT_USER_REWARDED"
          ]
        }
      }
    },
    "ViewabilityTargetingOptionDetails": {
      "description": "Represents a targetable viewability. This will be populated in the viewability_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_VIEWABILITY`.",
      "type": "object",
      "properties": {
        "viewability": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "VIEWABILITY_UNSPECIFIED",
            "VIEWABILITY_10_PERCENT_OR_MORE",
            "VIEWABILITY_20_PERCENT_OR_MORE",
            "VIEWABILITY_30_PERCENT_OR_MORE",
            "VIEWABILITY_40_PERCENT_OR_MORE",
            "VIEWABILITY_50_PERCENT_OR_MORE",
            "VIEWABILITY_60_PERCENT_OR_MORE",
            "VIEWABILITY_70_PERCENT_OR_MORE",
            "VIEWABILITY_80_PERCENT_OR_MORE",
            "VIEWABILITY_90_PERCENT_OR_MORE"
          ],
          "description": "Output only. The predicted viewability percentage.",
          "enumDescriptions": [
            "Default value when viewability is not specified in this version. This enum is a placeholder for default value and does not represent a real viewability option.",
            "Bid only on impressions that are at least 10% likely to be viewable.",
            "Bid only on impressions that are at least 20% likely to be viewable.",
            "Bid only on impressions that are at least 30% likely to be viewable.",
            "Bid only on impressions that are at least 40% likely to be viewable.",
            "Bid only on impressions that are at least 50% likely to be viewable.",
            "Bid only on impressions that are at least 60% likely to be viewable.",
            "Bid only on impressions that are at least 70% likely to be viewable.",
            "Bid only on impressions that are at least 80% likely to be viewable.",
            "Bid only on impressions that are at least 90% likely to be viewable."
          ]
        }
      },
      "id": "ViewabilityTargetingOptionDetails"
    },
    "AdGroupAd": {
      "description": "A single ad associated with an ad group.",
      "type": "object",
      "properties": {
        "videoPerformanceAd": {
          "description": "Output only. Details of an [ad used in a video action campaign](//support.google.com/google-ads/answer/10147229) to drive actions to the business, service or product.",
          "readOnly": true,
          "$ref": "VideoPerformanceAd"
        },
        "mastheadAd": {
          "description": "Output only. Details of an [ad served on the YouTube Home feed](//support.google.com/google-ads/answer/9709826).",
          "readOnly": true,
          "$ref": "MastheadAd"
        },
        "nonSkippableAd": {
          "description": "Output only. Details of a [non-skippable short in-stream video ad](//support.google.com/displayvideo/answer/6274216), between 6 and 15 seconds, used for reach marketing objectives.",
          "readOnly": true,
          "$ref": "NonSkippableAd"
        },
        "demandGenVideoAd": {
          "description": "Details of a [Demand Gen video ad](//support.google.com/displayvideo/answer/15598924?&sjid=11207068802760924844-NC#VideoAd). Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users.",
          "$ref": "DemandGenVideoAd"
        },
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser the ad belongs to.",
[...]
