{
  "baseUrl": "https://displayvideo.googleapis.com/",
  "canonicalName": "Display Video",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "title": "Display & Video 360 API",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "version_module": true,
  "version": "v4",
  "revision": "20260412",
  "protocol": "rest",
  "resources": {
    "inventorySourceGroups": {
      "methods": {
        "get": {
          "parameters": {
            "partnerId": {
              "location": "query",
              "description": "The ID of the partner that has access to the inventory source group. A partner cannot access an advertiser-owned inventory source group.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the inventory source group. If an inventory source group is partner-owned, only advertisers to which the group is explicitly shared can access the group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "inventorySourceGroupId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the inventory source group to fetch.",
              "pattern": "^[^/]+$"
            }
          },
          "id": "displayvideo.inventorySourceGroups.get",
          "path": "v4/inventorySourceGroups/{+inventorySourceGroupId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "description": "Gets an inventory source group.",
          "flatPath": "v4/inventorySourceGroups/{inventorySourceGroupsId}",
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "response": {
            "$ref": "InventorySourceGroup"
          }
        },
        "patch": {
          "response": {
            "$ref": "InventorySourceGroup"
          },
          "request": {
            "$ref": "InventorySourceGroup"
          },
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "flatPath": "v4/inventorySourceGroups/{inventorySourceGroupId}",
          "httpMethod": "PATCH",
          "description": "Updates an inventory source group. Returns the updated inventory source group if successful.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v4/inventorySourceGroups/{inventorySourceGroupId}",
          "id": "displayvideo.inventorySourceGroups.patch",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner does not have access to this group.",
              "format": "int64",
              "type": "string"
            },
            "partnerId": {
              "location": "query",
              "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to this group.",
              "format": "int64",
              "type": "string"
            },
            "inventorySourceGroupId": {
              "location": "path",
              "description": "Output only. The unique ID of the inventory source group. Assigned by the system.",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update.",
              "location": "query"
            }
          }
        },
        "create": {
          "parameters": {
            "partnerId": {
              "description": "The ID of the partner that owns the inventory source group. Only this partner will have write access to this group. Only advertisers to which this group is explicitly shared will have read access to this group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner will not have access to this group."
            }
          },
          "path": "v4/inventorySourceGroups",
          "id": "displayvideo.inventorySourceGroups.create",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/inventorySourceGroups",
          "httpMethod": "POST",
          "description": "Creates a new inventory source group. Returns the newly created inventory source group if successful.",
          "parameterOrder": [],
          "request": {
            "$ref": "InventorySourceGroup"
          },
          "response": {
            "$ref": "InventorySourceGroup"
          }
        },
        "delete": {
          "parameterOrder": [
            "inventorySourceGroupId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "displayvideo.inventorySourceGroups.delete",
          "path": "v4/inventorySourceGroups/{+inventorySourceGroupId}",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that owns the inventory source group. The parent partner does not have access to this group.",
              "format": "int64",
              "type": "string"
            },
            "partnerId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to this group."
            },
            "inventorySourceGroupId": {
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the inventory source group to delete.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes an inventory source group.",
          "flatPath": "v4/inventorySourceGroups/{inventorySourceGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "list": {
          "parameters": {
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the inventory source group. If an inventory source group is partner-owned, only advertisers to which the group is explicitly shared can access the group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListInventorySources` method. If not specified, the first page of results will be returned.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "format": "int32",
              "type": "integer"
            },
            "partnerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that has access to the inventory source group. A partner cannot access advertiser-owned inventory source groups.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `inventorySourceGroupId` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by inventory source group fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `inventorySourceGroupId` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            }
          },
          "id": "displayvideo.inventorySourceGroups.list",
          "path": "v4/inventorySourceGroups",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "description": "Lists inventory source groups that are accessible to the current user. The order is defined by the order_by parameter.",
          "flatPath": "v4/inventorySourceGroups",
          "parameterOrder": [],
          "response": {
            "$ref": "ListInventorySourceGroupsResponse"
          }
        }
      },
      "resources": {
        "assignedInventorySources": {
          "methods": {
            "list": {
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.list",
              "path": "v4/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources",
              "parameters": {
                "partnerId": {
                  "description": "The ID of the partner that has access to the assignment. If the parent inventory source group is advertiser-owned, the assignment cannot be accessed via a partner.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `assignedInventorySourceId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `assignedInventorySourceId desc`."
                },
                "filter": {
                  "type": "string",
                  "description": "Allows filtering by assigned inventory source fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR` logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedInventorySourceId` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "location": "query"
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the advertiser that has access to the assignment. If the parent inventory source group is partner-owned, only advertisers to which the parent group is explicitly shared can access the assigned inventory source.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAssignedInventorySources` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                },
                "inventorySourceGroupId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the inventory source group to which these assignments are assigned.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. Must be between `1` and `100`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "description": "Lists inventory sources assigned to an inventory source group.",
              "flatPath": "v4/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "response": {
                "$ref": "ListAssignedInventorySourcesResponse"
              }
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates an assignment between an inventory source and an inventory source group.",
              "flatPath": "v4/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.create",
              "path": "v4/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources",
              "parameters": {
                "inventorySourceGroupId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the inventory source group to which the assignment will be assigned.",
                  "pattern": "^[^/]+$",
                  "location": "path"
                },
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner will not have access to this assigned inventory source."
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the partner that owns the parent inventory source group. Only this partner will have write access to this assigned inventory source.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "AssignedInventorySource"
              },
              "request": {
                "$ref": "AssignedInventorySource"
              },
              "parameterOrder": [
                "inventorySourceGroupId"
              ]
            },
            "delete": {
              "parameters": {
                "assignedInventorySourceId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the assigned inventory source to delete.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "inventorySourceGroupId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the inventory source group to which this assignment is assigned.",
                  "pattern": "^[^/]+$"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent inventory source group. Only this partner has write access to this assigned inventory source.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner does not have access to this assigned inventory source.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                }
              },
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.delete",
              "path": "v4/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources/{+assignedInventorySourceId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes the assignment between an inventory source and an inventory source group.",
              "flatPath": "v4/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources/{assignedInventorySourcesId}",
              "parameterOrder": [
                "inventorySourceGroupId",
                "assignedInventorySourceId"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "bulkEdit": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/inventorySourceGroups/{inventorySourceGroupsId}/assignedInventorySources:bulkEdit",
              "httpMethod": "POST",
              "description": "Bulk edits multiple assignments between inventory sources and a single inventory source group. The operation will delete the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.deleted_assigned_inventory_sources and then create the assigned inventory sources provided in BulkEditAssignedInventorySourcesRequest.created_assigned_inventory_sources.",
              "parameters": {
                "inventorySourceGroupId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the inventory source group to which the assignments are assigned.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                }
              },
              "path": "v4/inventorySourceGroups/{+inventorySourceGroupId}/assignedInventorySources:bulkEdit",
              "id": "displayvideo.inventorySourceGroups.assignedInventorySources.bulkEdit",
              "response": {
                "$ref": "BulkEditAssignedInventorySourcesResponse"
              },
              "parameterOrder": [
                "inventorySourceGroupId"
              ],
              "request": {
                "$ref": "BulkEditAssignedInventorySourcesRequest"
              }
            }
          }
        }
      }
    },
    "googleAudiences": {
      "methods": {
        "get": {
          "parameters": {
            "googleAudienceId": {
              "type": "string",
              "description": "Required. The ID of the Google audience to fetch.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched Google audience.",
              "format": "int64",
              "type": "string"
            },
            "partnerId": {
              "location": "query",
              "description": "The ID of the partner that has access to the fetched Google audience.",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "displayvideo.googleAudiences.get",
          "path": "v4/googleAudiences/{+googleAudienceId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "description": "Gets a Google audience.",
          "flatPath": "v4/googleAudiences/{googleAudiencesId}",
          "parameterOrder": [
            "googleAudienceId"
          ],
          "response": {
            "$ref": "GoogleAudience"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/googleAudiences",
          "httpMethod": "GET",
          "description": "Lists Google audiences. The order is defined by the order_by parameter.",
          "parameters": {
            "partnerId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the partner that has access to the fetched Google audiences."
            },
            "orderBy": {
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `googleAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Allows filtering by Google audience fields. Supported syntax: * Filter expressions for Google audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All Google audiences for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the advertiser that has access to the fetched Google audiences.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGoogleAudiences` method. If not specified, the first page of results will be returned.",
              "location": "query"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "path": "v4/googleAudiences",
          "id": "displayvideo.googleAudiences.list",
          "response": {
            "$ref": "ListGoogleAudiencesResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListUsersResponse"
          },
          "path": "v4/users",
          "id": "displayvideo.users.list",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListUsers` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`."
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Allows filtering by user fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `displayName` and `email` fields must use the `HAS (:)` operator. * The `lastLoginTime` field must use either the `LESS THAN OR EQUAL TO (<=)` or `GREATER THAN OR EQUAL TO (>=)` operator. * All other fields must use the `EQUALS (=)` operator. Supported fields: * `assignedUserRole.advertiserId` * `assignedUserRole.entityType`: This is synthetic field of `AssignedUserRole` used for filtering. Identifies the type of entity to which the user role is assigned. Valid values are `Partner` and `Advertiser`. * `assignedUserRole.parentPartnerId`: This is a synthetic field of `AssignedUserRole` used for filtering. Identifies the parent partner of the entity to which the user role is assigned. * `assignedUserRole.partnerId` * `assignedUserRole.userRole` * `displayName` * `email` * `lastLoginTime` (input in ISO 8601 format, or `YYYY-MM-DDTHH:MM:SSZ`) Examples: * The user with `displayName` containing \"foo\": `displayName:\"foo\"` * The user with `email` containing \"bar\": `email:\"bar\"` * All users with standard user roles: `assignedUserRole.userRole=\"STANDARD\"` * All users with user roles for partner 123: `assignedUserRole.partnerId=\"123\"` * All users with user roles for advertiser 123: `assignedUserRole.advertiserId=\"123\"` * All users with partner level user roles: `entityType=\"PARTNER\"` * All users with user roles for partner 123 and advertisers under partner 123: `parentPartnerId=\"123\"` * All users that last logged in on or after 2023-01-01T00:00:00Z (format of ISO 8601): `lastLoginTime>=\"2023-01-01T00:00:00Z\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            }
          },
          "flatPath": "v4/users",
          "httpMethod": "GET",
          "description": "Lists users that are accessible to the current user. If two users have user roles on the same partner or advertiser, they can access each other. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ]
        },
        "create": {
          "flatPath": "v4/users",
          "httpMethod": "POST",
          "description": "Creates a new user. Returns the newly created user if successful. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "path": "v4/users",
          "id": "displayvideo.users.create",
          "parameters": {},
          "response": {
            "$ref": "User"
          },
          "request": {
            "$ref": "User"
          },
          "parameterOrder": []
        },
        "delete": {
          "flatPath": "v4/users/{usersId}",
          "httpMethod": "DELETE",
          "description": "Deletes a user. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "path": "v4/users/{+userId}",
          "id": "displayvideo.users.delete",
          "parameters": {
            "userId": {
              "description": "Required. The ID of the user to delete.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "userId"
          ]
        },
        "bulkEditAssignedUserRoles": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "httpMethod": "POST",
          "description": "Bulk edits user roles for a user. The operation will delete the assigned user roles provided in BulkEditAssignedUserRolesRequest.deletedAssignedUserRoles and then assign the user roles provided in BulkEditAssignedUserRolesRequest.createdAssignedUserRoles. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "flatPath": "v4/users/{usersId}:bulkEditAssignedUserRoles",
          "parameters": {
            "userId": {
              "type": "string",
              "description": "Required. The ID of the user to which the assigned user roles belong.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "id": "displayvideo.users.bulkEditAssignedUserRoles",
          "path": "v4/users/{+userId}:bulkEditAssignedUserRoles",
          "response": {
            "$ref": "BulkEditAssignedUserRolesResponse"
          },
          "parameterOrder": [
            "userId"
          ],
          "request": {
            "$ref": "BulkEditAssignedUserRolesRequest"
          }
        },
        "get": {
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "httpMethod": "GET",
          "description": "Gets a user. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "flatPath": "v4/users/{usersId}",
          "parameters": {
            "userId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the user to fetch.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "id": "displayvideo.users.get",
          "path": "v4/users/{+userId}"
        },
        "patch": {
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [
            "userId"
          ],
          "request": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "flatPath": "v4/users/{usersId}",
          "httpMethod": "PATCH",
          "description": "Updates an existing user. Returns the updated user if successful. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "parameters": {
            "userId": {
              "location": "path",
              "description": "Output only. The unique ID of the user. Assigned by the system.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. The mask to control which fields to update."
            }
          },
          "path": "v4/users/{+userId}",
          "id": "displayvideo.users.patch"
        }
      }
    },
    "customLists": {
      "methods": {
        "get": {
          "response": {
            "$ref": "CustomList"
          },
          "parameterOrder": [
            "customListId"
          ],
          "httpMethod": "GET",
          "description": "Gets a custom list.",
          "flatPath": "v4/customLists/{customListsId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customLists.get",
          "path": "v4/customLists/{+customListId}",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists."
            },
            "customListId": {
              "description": "Required. The ID of the custom list to fetch.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          }
        },
        "list": {
          "parameters": {
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `customListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`."
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by custom list fields. Supported syntax: * Filter expressions for custom lists can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All custom lists for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists."
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomLists` method. If not specified, the first page of results will be returned.",
              "location": "query"
            }
          },
          "id": "displayvideo.customLists.list",
          "path": "v4/customLists",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "description": "Lists custom lists. The order is defined by the order_by parameter.",
          "flatPath": "v4/customLists",
          "parameterOrder": [],
          "response": {
            "$ref": "ListCustomListsResponse"
          }
        }
      }
    },
    "firstPartyAndPartnerAudiences": {
      "methods": {
        "create": {
          "parameterOrder": [],
          "request": {
            "$ref": "FirstPartyAndPartnerAudience"
          },
          "response": {
            "$ref": "FirstPartyAndPartnerAudience"
          },
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "Required. The ID of the advertiser under whom the FirstPartyAndPartnerAudience will be created.",
              "format": "int64",
              "type": "string"
            }
          },
          "id": "displayvideo.firstPartyAndPartnerAudiences.create",
          "path": "v4/firstPartyAndPartnerAudiences",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "POST",
          "description": "Creates a FirstPartyAndPartnerAudience. Only supported for the following audience_type: * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`",
          "flatPath": "v4/firstPartyAndPartnerAudiences"
        },
        "list": {
          "response": {
            "$ref": "ListFirstPartyAndPartnerAudiencesResponse"
          },
          "parameterOrder": [],
          "flatPath": "v4/firstPartyAndPartnerAudiences",
          "httpMethod": "GET",
          "description": "Lists first party and partner audiences. The order is defined by the order_by parameter.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v4/firstPartyAndPartnerAudiences",
          "id": "displayvideo.firstPartyAndPartnerAudiences.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListFirstPartyAndPartnerAudiences` method. If not specified, the first page of results will be returned."
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. Requested page size. Must be between `1` and `5000`. If unspecified, this value defaults to `5000`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the advertiser that has access to the fetched first party and partner audiences.",
              "location": "query"
            },
            "filter": {
              "description": "Optional. Allows filtering by first party and partner audience fields. Supported syntax: * Filter expressions for first party and partner audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All first party and partner audiences for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query",
              "type": "string"
            },
            "partnerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that has access to the fetched first party and partner audiences.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. Field by which to sort the list. Acceptable values are: * `FirstPartyAndPartnerAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`."
            }
          }
        },
        "get": {
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched first party and partner audience.",
              "format": "int64",
              "type": "string"
            },
            "partnerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that has access to the fetched first party and partner audience.",
              "location": "query"
            },
            "firstPartyAndPartnerAudienceId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the first party and partner audience to fetch.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "path": "v4/firstPartyAndPartnerAudiences/{+firstPartyAndPartnerAudienceId}",
          "id": "displayvideo.firstPartyAndPartnerAudiences.get",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/firstPartyAndPartnerAudiences/{firstPartyAndPartnerAudiencesId}",
          "httpMethod": "GET",
          "description": "Gets a first party or partner audience.",
          "parameterOrder": [
            "firstPartyAndPartnerAudienceId"
          ],
          "response": {
            "$ref": "FirstPartyAndPartnerAudience"
          }
        },
        "patch": {
          "parameterOrder": [
            "firstPartyAndPartnerAudienceId"
          ],
          "request": {
            "$ref": "FirstPartyAndPartnerAudience"
          },
          "response": {
            "$ref": "FirstPartyAndPartnerAudience"
          },
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Required. The ID of the owner advertiser of the updated FirstPartyAndPartnerAudience."
            },
            "firstPartyAndPartnerAudienceId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Identifier. The unique ID of the first party and partner audience. Assigned by the system.",
              "pattern": "^[^/]+$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "description": "Required. The mask to control which fields to update. Updates are only supported for the following fields: * `displayName` * `description` * `membershipDurationDays`",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "id": "displayvideo.firstPartyAndPartnerAudiences.patch",
          "path": "v4/firstPartyAndPartnerAudiences/{+firstPartyAndPartnerAudienceId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing FirstPartyAndPartnerAudience. Only supported for the following audience_type: * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`",
          "flatPath": "v4/firstPartyAndPartnerAudiences/{firstPartyAndPartnerAudiencesId}"
        },
        "editCustomerMatchMembers": {
          "parameterOrder": [
            "firstPartyAndPartnerAudienceId"
          ],
          "request": {
            "$ref": "EditCustomerMatchMembersRequest"
          },
          "response": {
            "$ref": "EditCustomerMatchMembersResponse"
          },
          "parameters": {
            "firstPartyAndPartnerAudienceId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the Customer Match FirstPartyAndPartnerAudience whose members will be edited.",
              "pattern": "^[^/]+$",
              "location": "path"
            }
          },
          "id": "displayvideo.firstPartyAndPartnerAudiences.editCustomerMatchMembers",
          "path": "v4/firstPartyAndPartnerAudiences/{+firstPartyAndPartnerAudienceId}:editCustomerMatchMembers",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "POST",
          "description": "Updates the member list of a Customer Match audience. Only supported for the following audience_type: * `CUSTOMER_MATCH_CONTACT_INFO` * `CUSTOMER_MATCH_DEVICE_ID`",
          "flatPath": "v4/firstPartyAndPartnerAudiences/{firstPartyAndPartnerAudiencesId}:editCustomerMatchMembers"
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "GoogleBytestreamMedia"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "supportsMediaUpload": true,
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "id": "displayvideo.media.upload",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/media/{+resourceName}"
              }
            }
          },
          "path": "media/{+resourceName}",
          "parameters": {
            "resourceName": {
              "required": true,
              "location": "path",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string.",
          "flatPath": "media/{mediaId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "download": {
          "path": "download/{+resourceName}",
          "id": "displayvideo.media.download",
          "parameters": {
            "resourceName": {
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "pattern": "^.*$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "download/{downloadId}",
          "httpMethod": "GET",
          "description": "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string.",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "GoogleBytestreamMedia"
          }
        }
      }
    },
    "customBiddingAlgorithms": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Lists custom bidding algorithms that are accessible to the current user and can be used in bidding stratgies. The order is defined by the order_by parameter.",
          "flatPath": "v4/customBiddingAlgorithms",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.list",
          "path": "v4/customBiddingAlgorithms",
          "parameters": {
            "partnerId": {
              "location": "query",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "format": "int64",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "Allows filtering by custom bidding algorithm fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `customBiddingAlgorithmType` field must use the `EQUALS (=)` operator. * The `displayName` field must use the `HAS (:)` operator. Supported fields: * `customBiddingAlgorithmType` * `displayName` Examples: * All custom bidding algorithms for which the display name contains \"politics\": `displayName:\"politics\"`. * All custom bidding algorithms for which the type is \"SCRIPT_BASED\": `customBiddingAlgorithmType=SCRIPT_BASED` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the DV360 advertiser that has access to the custom bidding algorithm.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithms` method. If not specified, the first page of results will be returned.",
              "location": "query"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "ListCustomBiddingAlgorithmsResponse"
          },
          "parameterOrder": []
        },
        "create": {
          "httpMethod": "POST",
          "description": "Creates a new custom bidding algorithm. Returns the newly created custom bidding algorithm if successful.",
          "flatPath": "v4/customBiddingAlgorithms",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.create",
          "path": "v4/customBiddingAlgorithms",
          "parameters": {},
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameterOrder": []
        },
        "uploadScript": {
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "response": {
            "$ref": "CustomBiddingScriptRef"
          },
          "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadScript",
          "id": "displayvideo.customBiddingAlgorithms.uploadScript",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "location": "query"
            },
            "customBiddingAlgorithmId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the custom bidding algorithm owns the script.",
              "pattern": "^[^/]+$"
            },
            "partnerId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script."
            }
          },
          "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadScript",
          "httpMethod": "GET",
          "description": "Creates a custom bidding script reference object for a script file. The resulting reference object provides a resource path to which the script file should be uploaded. This reference object should be included in when creating a new custom bidding script object.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "uploadRules": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadRules",
          "httpMethod": "GET",
          "description": "Creates a rules reference object for an AlgorithmRules file. The resulting reference object provides a resource path where the AlgorithmRules file should be uploaded. This reference object should be included when creating a new CustomBiddingAlgorithmRules resource.",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "format": "int64",
              "type": "string"
            },
            "customBiddingAlgorithmId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
              "pattern": "^[^/]+$"
            },
            "partnerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that owns the parent custom bidding algorithm.",
              "location": "query"
            }
          },
          "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadRules",
          "id": "displayvideo.customBiddingAlgorithms.uploadRules",
          "response": {
            "$ref": "CustomBiddingAlgorithmRulesRef"
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ]
        },
        "get": {
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "description": "Gets a custom bidding algorithm.",
          "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "parameters": {
            "customBiddingAlgorithmId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the custom bidding algorithm to fetch.",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "partnerId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "location": "query"
            }
          },
          "id": "displayvideo.customBiddingAlgorithms.get",
          "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}"
        },
        "patch": {
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing custom bidding algorithm. Returns the updated custom bidding algorithm if successful. Requests updating a custom bidding algorithm assigned to a line item will return an error.",
          "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "parameters": {
            "customBiddingAlgorithmId": {
              "type": "string",
              "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update.",
              "location": "query"
            }
          },
          "id": "displayvideo.customBiddingAlgorithms.patch",
          "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}"
        }
      },
      "resources": {
        "rules": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "description": "Creates a new rules resource. Returns the newly created rules resource if successful. Requests creating a custom bidding rules resource under an algorithm assigned to a line item will return an error.",
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.customBiddingAlgorithms.rules.create",
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "partnerId": {
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this rules resource.",
                  "format": "int64",
                  "type": "string"
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "request": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ]
            },
            "get": {
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingAlgorithmRulesId"
              ],
              "response": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "id": "displayvideo.customBiddingAlgorithms.rules.get",
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules/{+customBiddingAlgorithmRulesId}",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                },
                "customBiddingAlgorithmId": {
                  "type": "string",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                },
                "partnerId": {
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "type": "string"
                },
                "customBiddingAlgorithmRulesId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the rules resource to fetch.",
                  "pattern": "^[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "description": "Retrieves a rules resource.",
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules/{rulesId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "parameters": {
                "partnerId": {
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithmRules` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                },
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                },
                "customBiddingAlgorithmId": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "pattern": "^[^/]+$"
                }
              },
              "id": "displayvideo.customBiddingAlgorithms.rules.list",
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "GET",
              "description": "Lists rules resources that belong to the given algorithm. The order is defined by the order_by parameter.",
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules",
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "response": {
                "$ref": "ListCustomBiddingAlgorithmRulesResponse"
              }
            }
          }
        },
        "scripts": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts/{scriptsId}",
              "httpMethod": "GET",
              "description": "Gets a custom bidding script.",
              "parameters": {
                "customBiddingScriptId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding script to fetch.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "location": "query"
                }
              },
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts/{+customBiddingScriptId}",
              "id": "displayvideo.customBiddingAlgorithms.scripts.get",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingScriptId"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListCustomBiddingScriptsResponse"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "httpMethod": "GET",
              "description": "Lists custom bidding scripts that belong to the given algorithm. The order is defined by the order_by parameter.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "id": "displayvideo.customBiddingAlgorithms.scripts.list",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                },
                "customBiddingAlgorithmId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingScripts` method. If not specified, the first page of results will be returned.",
                  "type": "string"
                },
                "partnerId": {
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "format": "int64",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "type": "string"
                }
              }
            },
            "create": {
              "request": {
                "$ref": "CustomBiddingScript"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "path": "v4/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "id": "displayvideo.customBiddingAlgorithms.scripts.create",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm that owns the script.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script."
                }
              },
              "flatPath": "v4/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "httpMethod": "POST",
              "description": "Creates a new custom bidding script. Returns the newly created script if successful. Requests creating a custom bidding script under an algorithm assigned to a line item will return an error.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            }
          }
        }
      }
    },
    "sdfdownloadtasks": {
      "methods": {
        "create": {
          "path": "v4/sdfdownloadtasks",
          "id": "displayvideo.sdfdownloadtasks.create",
          "parameters": {},
          "flatPath": "v4/sdfdownloadtasks",
          "httpMethod": "POST",
          "description": "Creates an SDF Download Task. Returns an Operation. An SDF Download Task is a long-running, asynchronous operation. The metadata type of this operation is SdfDownloadTaskMetadata. If the request is successful, the response type of the operation is SdfDownloadTask. The response will not include the download files, which must be retrieved with media.download. The state of operation can be retrieved with `sdfdownloadtasks.operations.get`. Any errors can be found in the error.message. Note that error.details is expected to be empty.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "request": {
            "$ref": "CreateSdfDownloadTaskRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "displayvideo.sdfdownloadtasks.operations.get",
              "path": "v4/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "pattern": "^sdfdownloadtasks/operations/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "description": "Gets the latest state of an asynchronous SDF download task operation. Clients should poll this method at intervals of 30 seconds.",
              "flatPath": "v4/sdfdownloadtasks/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ]
            }
          }
        }
      }
    },
    "sdfuploadtasks": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "displayvideo.sdfuploadtasks.operations.get",
              "path": "v4/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource.",
                  "pattern": "^sdfuploadtasks/operations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Gets the latest state of an asynchronous SDF download task operation. Clients should poll this method at intervals of 30 seconds.",
              "flatPath": "v4/sdfuploadtasks/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ]
            }
          }
        }
      }
    },
    "combinedAudiences": {
      "methods": {
        "get": {
          "parameterOrder": [
            "combinedAudienceId"
          ],
          "response": {
            "$ref": "CombinedAudience"
          },
          "id": "displayvideo.combinedAudiences.get",
          "path": "v4/combinedAudiences/{+combinedAudienceId}",
          "parameters": {
            "combinedAudienceId": {
              "description": "Required. The ID of the combined audience to fetch.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "partnerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that has access to the fetched combined audience.",
              "location": "query"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the fetched combined audience.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "description": "Gets a combined audience.",
          "flatPath": "v4/combinedAudiences/{combinedAudiencesId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists combined audiences. The order is defined by the order_by parameter.",
          "flatPath": "v4/combinedAudiences",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.combinedAudiences.list",
          "path": "v4/combinedAudiences",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the advertiser that has access to the fetched combined audiences.",
              "location": "query"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCombinedAudiences` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "location": "query"
            },
            "partnerId": {
              "description": "The ID of the partner that has access to the fetched combined audiences.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `combinedAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "Allows filtering by combined audience fields. Supported syntax: * Filter expressions for combined audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All combined audiences for which the display name contains \"Google\": `displayName : \"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListCombinedAudiencesResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "guaranteedOrders": {
      "methods": {
        "list": {
          "id": "displayvideo.guaranteedOrders.list",
          "path": "v4/guaranteedOrders",
          "parameters": {
            "partnerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that has access to the guaranteed order.",
              "location": "query"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Allows filtering by guaranteed order fields. * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `guaranteed_order_id` * `exchange` * `display_name` * `status.entityStatus` Examples: * All active guaranteed orders: `status.entityStatus=\"ENTITY_STATUS_ACTIVE\"` * Guaranteed orders belonging to Google Ad Manager or Rubicon exchanges: `exchange=\"EXCHANGE_GOOGLE_AD_MANAGER\" OR exchange=\"EXCHANGE_RUBICON\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that has access to the guaranteed order.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGuaranteedOrders` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "description": "Lists guaranteed orders that are accessible to the current user. The order is defined by the order_by parameter. If a filter by entity_status is not specified, guaranteed orders with entity status `ENTITY_STATUS_ARCHIVED` will not be included in the results.",
          "flatPath": "v4/guaranteedOrders",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "ListGuaranteedOrdersResponse"
          }
        },
        "create": {
          "httpMethod": "POST",
          "description": "Creates a new guaranteed order. Returns the newly created guaranteed order if successful.",
          "flatPath": "v4/guaranteedOrders",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.guaranteedOrders.create",
          "path": "v4/guaranteedOrders",
          "parameters": {
            "advertiserId": {
              "description": "The ID of the advertiser that the request is being made within.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "partnerId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the partner that the request is being made within."
            }
          },
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "parameterOrder": []
        },
        "editGuaranteedOrderReadAccessors": {
          "request": {
            "$ref": "EditGuaranteedOrderReadAccessorsRequest"
          },
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "response": {
            "$ref": "EditGuaranteedOrderReadAccessorsResponse"
          },
          "id": "displayvideo.guaranteedOrders.editGuaranteedOrderReadAccessors",
          "path": "v4/guaranteedOrders/{+guaranteedOrderId}:editGuaranteedOrderReadAccessors",
          "parameters": {
            "guaranteedOrderId": {
              "location": "path",
              "description": "Required. The ID of the guaranteed order to edit. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Edits read advertisers of a guaranteed order.",
          "flatPath": "v4/guaranteedOrders/{guaranteedOrdersId}:editGuaranteedOrderReadAccessors",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "get": {
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "parameters": {
            "guaranteedOrderId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the guaranteed order to fetch. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`",
              "pattern": "^[^/]+$",
              "required": true
            },
            "partnerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the partner that has access to the guaranteed order.",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the advertiser that has access to the guaranteed order.",
              "location": "query"
            }
          },
          "path": "v4/guaranteedOrders/{+guaranteedOrderId}",
          "id": "displayvideo.guaranteedOrders.get",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/guaranteedOrders/{guaranteedOrdersId}",
          "httpMethod": "GET",
          "description": "Gets a guaranteed order."
        },
        "patch": {
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/guaranteedOrders/{guaranteedOrdersId}",
          "httpMethod": "PATCH",
          "description": "Updates an existing guaranteed order. Returns the updated guaranteed order if successful.",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that the request is being made within."
            },
            "guaranteedOrderId": {
              "location": "path",
              "description": "Output only. The unique identifier of the guaranteed order. The guaranteed order IDs have the format `{exchange}-{legacy_guaranteed_order_id}`.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            },
            "partnerId": {
              "description": "The ID of the partner that the request is being made within.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "updateMask": {
              "location": "query",
              "description": "Required. The mask to control which fields to update.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "path": "v4/guaranteedOrders/{+guaranteedOrderId}",
          "id": "displayvideo.guaranteedOrders.patch"
        }
      }
    },
    "partners": {
      "methods": {
        "editAssignedTargetingOptions": {
          "httpMethod": "POST",
          "description": "Edits targeting options under a single partner. The operation will delete the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.deleteRequests and then create the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.createRequests .",
          "flatPath": "v4/partners/{partnersId}:editAssignedTargetingOptions",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.partners.editAssignedTargetingOptions",
          "path": "v4/partners/{+partnerId}:editAssignedTargetingOptions",
          "parameters": {
            "partnerId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the partner.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsResponse"
          },
          "request": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsRequest"
          },
          "parameterOrder": [
            "partnerId"
          ]
        },
        "get": {
          "response": {
            "$ref": "Partner"
          },
          "parameterOrder": [
            "partnerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "description": "Gets a partner.",
          "flatPath": "v4/partners/{partnersId}",
          "parameters": {
            "partnerId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the partner to fetch.",
              "pattern": "^[^/]+$",
              "required": true,
              "format": "int64"
            }
          },
          "id": "displayvideo.partners.get",
          "path": "v4/partners/{+partnerId}"
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListPartnersResponse"
          },
          "id": "displayvideo.partners.list",
          "path": "v4/partners",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`."
            },
            "filter": {
              "description": "Allows filtering by partner fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `entityStatus` Examples: * All active partners: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartners` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists partners that are accessible to the current user. The order is defined by the order_by parameter.",
          "flatPath": "v4/partners",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      },
      "resources": {
        "channels": {
          "methods": {
            "create": {
              "flatPath": "v4/partners/{partnersId}/channels",
              "httpMethod": "POST",
              "description": "Creates a new channel. Returns the newly created channel if successful.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v4/partners/{+partnerId}/channels",
              "id": "displayvideo.partners.channels.create",
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the created channel."
                },
                "partnerId": {
                  "required": true,
                  "format": "int64",
                  "description": "The ID of the partner that owns the created channel.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Channel"
              },
              "request": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "get": {
              "parameters": {
                "channelId": {
                  "type": "string",
                  "description": "Required. The ID of the channel to fetch.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                },
                "advertiserId": {
                  "location": "query",
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "format": "int64",
                  "type": "string"
                },
                "partnerId": {
                  "type": "string",
                  "description": "The ID of the partner that owns the fetched channel.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                }
              },
              "path": "v4/partners/{+partnerId}/channels/{+channelId}",
              "id": "displayvideo.partners.channels.get",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/partners/{partnersId}/channels/{channelsId}",
              "httpMethod": "GET",
              "description": "Gets a channel for a partner or advertiser.",
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "response": {
                "$ref": "Channel"
              }
            },
            "list": {
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "path": "v4/partners/{+partnerId}/channels",
              "id": "displayvideo.partners.channels.list",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "The ID of the partner that owns the channels.",
                  "pattern": "^[^/]+$",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string"
                },
                "advertiserId": {
                  "location": "query",
                  "description": "The ID of the advertiser that owns the channels.",
                  "format": "int64",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
[...]
