{
  "discoveryVersion": "v1",
  "resources": {
    "targetingTypes": {
      "resources": {
        "targetingOptions": {
          "methods": {
            "search": {
              "description": "Searches for targeting options of a given type based on the given search terms.",
              "response": {
                "$ref": "SearchTargetingOptionsResponse"
              },
              "parameters": {
                "targetingType": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                  ],
                  "pattern": "^[^/]+$",
                  "description": "Required. The type of targeting options to retrieve. Accepted values are: * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_BUSINESS_CHAIN`",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
                  ]
                }
              },
              "id": "displayvideo.targetingTypes.targetingOptions.search",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "targetingType"
              ],
              "flatPath": "v4/targetingTypes/{targetingTypesId}/targetingOptions:search",
              "request": {
                "$ref": "SearchTargetingOptionsRequest"
              },
              "path": "v4/targetingTypes/{+targetingType}/targetingOptions:search"
            },
            "get": {
              "description": "Gets a single targeting option.",
              "response": {
                "$ref": "TargetingOption"
              },
              "id": "displayvideo.targetingTypes.targetingOptions.get",
              "parameters": {
                "targetingType": {
                  "description": "Required. The type of targeting option to retrieve. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
                  ],
                  "pattern": "^[^/]+$",
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                  ],
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "targetingOptionId": {
                  "description": "Required. The ID of the of targeting option to retrieve.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "advertiserId": {
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "type": "string",
                  "format": "int64",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "targetingType",
                "targetingOptionId"
              ],
              "flatPath": "v4/targetingTypes/{targetingTypesId}/targetingOptions/{targetingOptionsId}",
              "path": "v4/targetingTypes/{+targetingType}/targetingOptions/{+targetingOptionId}"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "targetingType"
              ],
              "path": "v4/targetingTypes/{+targetingType}/targetingOptions",
              "flatPath": "v4/targetingTypes/{targetingTypesId}/targetingOptions",
              "response": {
                "$ref": "ListTargetingOptionsResponse"
              },
              "description": "Lists targeting options of a given type.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.targetingTypes.targetingOptions.list",
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "type": "string",
                  "format": "int64"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `targetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingOptionId desc`.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Allows filtering by targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `carrierAndIspDetails.type` * `geoRegionDetails.geoRegionType` * `targetingOptionId` Examples: * All `GEO REGION` targeting options that belong to sub type `GEO_REGION_TYPE_COUNTRY` or `GEO_REGION_TYPE_STATE`: `geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_COUNTRY\" OR geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_STATE\"` * All `CARRIER AND ISP` targeting options that belong to sub type `CARRIER_AND_ISP_TYPE_CARRIER`: `carrierAndIspDetails.type=\"CARRIER_AND_ISP_TYPE_CARRIER\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "format": "int32"
                },
                "targetingType": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The type of targeting option to be listed. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
                  ],
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                  ],
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListTargetingOptions` method. If not specified, the first page of results will be returned.",
                  "type": "string",
                  "location": "query"
                }
              }
            }
          }
        }
      }
    },
    "sdfuploadtasks": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v4/sdfuploadtasks/operations/{operationsId}",
              "path": "v4/{+name}",
              "description": "Gets the latest state of an asynchronous SDF download task operation. Clients should poll this method at intervals of 30 seconds.",
              "response": {
                "$ref": "Operation"
              },
              "id": "displayvideo.sdfuploadtasks.operations.get",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "pattern": "^sdfuploadtasks/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ]
            }
          }
        }
      }
    },
    "customLists": {
      "methods": {
        "get": {
          "flatPath": "v4/customLists/{customListsId}",
          "path": "v4/customLists/{+customListId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "customListId"
          ],
          "parameters": {
            "customListId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the custom list to fetch.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "id": "displayvideo.customLists.get",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Gets a custom list.",
          "response": {
            "$ref": "CustomList"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customLists.list",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "type": "string",
              "format": "int64"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `customListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by custom list fields. Supported syntax: * Filter expressions for custom lists can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All custom lists for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomLists` method. If not specified, the first page of results will be returned.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListCustomListsResponse"
          },
          "description": "Lists custom lists. The order is defined by the order_by parameter.",
          "path": "v4/customLists",
          "flatPath": "v4/customLists",
          "httpMethod": "GET",
          "parameterOrder": []
        }
      }
    },
    "floodlightGroups": {
      "methods": {
        "get": {
          "description": "Gets a Floodlight group.",
          "response": {
            "$ref": "FloodlightGroup"
          },
          "parameters": {
            "floodlightGroupId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the Floodlight group to fetch.",
              "format": "int64"
            },
            "partnerId": {
              "description": "Required. The partner context by which the Floodlight group is being accessed.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "id": "displayvideo.floodlightGroups.get",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "floodlightGroupId"
          ],
          "flatPath": "v4/floodlightGroups/{floodlightGroupsId}",
          "path": "v4/floodlightGroups/{+floodlightGroupId}"
        },
        "patch": {
          "description": "Updates an existing Floodlight group. Returns the updated Floodlight group if successful.",
          "response": {
            "$ref": "FloodlightGroup"
          },
          "id": "displayvideo.floodlightGroups.patch",
          "parameters": {
            "partnerId": {
              "location": "query",
              "description": "Required. The partner context by which the Floodlight group is being accessed.",
              "type": "string",
              "format": "int64"
            },
            "updateMask": {
              "location": "query",
              "description": "Required. The mask to control which fields to update.",
              "type": "string",
              "format": "google-fieldmask"
            },
            "floodlightGroupId": {
              "description": "Output only. The unique ID of the Floodlight group. Assigned by the system.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "floodlightGroupId"
          ],
          "flatPath": "v4/floodlightGroups/{floodlightGroupId}",
          "request": {
            "$ref": "FloodlightGroup"
          },
          "path": "v4/floodlightGroups/{floodlightGroupId}"
        }
      },
      "resources": {
        "floodlightActivities": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "floodlightGroupId",
                "floodlightActivityId"
              ],
              "flatPath": "v4/floodlightGroups/{floodlightGroupsId}/floodlightActivities/{floodlightActivitiesId}",
              "path": "v4/floodlightGroups/{+floodlightGroupId}/floodlightActivities/{+floodlightActivityId}",
              "description": "Gets a Floodlight activity.",
              "response": {
                "$ref": "FloodlightActivity"
              },
              "id": "displayvideo.floodlightGroups.floodlightActivities.get",
              "parameters": {
                "partnerId": {
                  "location": "query",
                  "description": "Required. The ID of the partner through which the Floodlight activity is being accessed.",
                  "type": "string",
                  "format": "int64"
                },
                "floodlightActivityId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the Floodlight activity to fetch.",
                  "format": "int64"
                },
                "floodlightGroupId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the parent Floodlight group to which the requested Floodlight activity belongs.",
                  "format": "int64"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "id": "displayvideo.floodlightGroups.floodlightActivities.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListFloodlightActivities` method. If not specified, the first page of results will be returned.",
                  "type": "string"
                },
                "floodlightGroupId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the parent Floodlight group to which the requested Floodlight activities belong.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Field by which to sort the list. Acceptable values are: * `displayName` (default) * `floodlightActivityId` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
                  "type": "string"
                },
                "partnerId": {
                  "location": "query",
                  "description": "Required. The ID of the partner through which the Floodlight activities are being accessed.",
                  "type": "string",
                  "format": "int64"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Lists Floodlight activities in a Floodlight group.",
              "response": {
                "$ref": "ListFloodlightActivitiesResponse"
              },
              "flatPath": "v4/floodlightGroups/{floodlightGroupsId}/floodlightActivities",
              "path": "v4/floodlightGroups/{+floodlightGroupId}/floodlightActivities",
              "httpMethod": "GET",
              "parameterOrder": [
                "floodlightGroupId"
              ]
            }
          }
        }
      }
    },
    "advertisers": {
      "methods": {
        "listAssignedTargetingOptions": {
          "path": "v4/advertisers/{+advertiserId}:listAssignedTargetingOptions",
          "flatPath": "v4/advertisers/{advertisersId}:listAssignedTargetingOptions",
          "httpMethod": "GET",
          "parameterOrder": [
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "pageSize": {
              "description": "Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is '5000'. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "advertiserId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the advertiser the line item belongs to.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `targetingType` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingType desc`.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the `OR` logical operator. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=) operator`. Supported fields: * `targetingType` Examples: * targetingType with value TARGETING_TYPE_CHANNEL `targetingType=\"TARGETING_TYPE_CHANNEL\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to `BulkListAdvertiserAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
              "type": "string"
            }
          },
          "id": "displayvideo.advertisers.listAssignedTargetingOptions",
          "response": {
            "$ref": "BulkListAdvertiserAssignedTargetingOptionsResponse"
          },
          "description": "Lists assigned targeting options of an advertiser across targeting types."
        },
        "create": {
          "id": "displayvideo.advertisers.create",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Creates a new advertiser. Returns the newly created advertiser if successful. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.",
          "response": {
            "$ref": "Advertiser"
          },
          "flatPath": "v4/advertisers",
          "request": {
            "$ref": "Advertiser"
          },
          "path": "v4/advertisers",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "audit": {
          "httpMethod": "GET",
          "parameterOrder": [
            "advertiserId"
          ],
          "path": "v4/advertisers/{+advertiserId}:audit",
          "flatPath": "v4/advertisers/{advertisersId}:audit",
          "response": {
            "$ref": "AuditAdvertiserResponse"
          },
          "description": "Audits an advertiser. Returns the counts of used entities per resource type under the advertiser provided. Used entities count towards their respective resource limit. See https://support.google.com/displayvideo/answer/6071450.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "advertiserId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the advertiser to audit.",
              "format": "int64",
              "pattern": "^[^/]+$"
            },
            "readMask": {
              "description": "Optional. The specific fields to return. If no mask is specified, all fields in the response proto will be filled. Valid values are: * usedLineItemsCount * usedInsertionOrdersCount * usedCampaignsCount * channelsCount * negativelyTargetedChannelsCount * negativeKeywordListsCount * adGroupCriteriaCount * campaignCriteriaCount",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "id": "displayvideo.advertisers.audit"
        },
        "delete": {
          "description": "Deletes an advertiser. Deleting an advertiser will delete all of its child resources, for example, campaigns, insertion orders and line items. A deleted advertiser cannot be recovered.",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "advertiserId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "description": "The ID of the advertiser we need to delete.",
              "format": "int64"
            }
          },
          "id": "displayvideo.advertisers.delete",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "advertiserId"
          ],
          "flatPath": "v4/advertisers/{advertisersId}",
          "path": "v4/advertisers/{+advertiserId}"
        },
        "editAssignedTargetingOptions": {
          "httpMethod": "POST",
          "parameterOrder": [
            "advertiserId"
          ],
          "flatPath": "v4/advertisers/{advertisersId}:editAssignedTargetingOptions",
          "request": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsRequest"
          },
          "path": "v4/advertisers/{+advertiserId}:editAssignedTargetingOptions",
          "description": "Edits targeting options under a single advertiser. The operation will delete the assigned targeting options provided in BulkEditAdvertiserAssignedTargetingOptionsRequest.delete_requests and then create the assigned targeting options provided in BulkEditAdvertiserAssignedTargetingOptionsRequest.create_requests .",
          "response": {
            "$ref": "BulkEditAdvertiserAssignedTargetingOptionsResponse"
          },
          "parameters": {
            "advertiserId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the advertiser.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "displayvideo.advertisers.editAssignedTargetingOptions",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "get": {
          "parameters": {
            "advertiserId": {
              "description": "Required. The ID of the advertiser to fetch.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "displayvideo.advertisers.get",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Gets an advertiser.",
          "response": {
            "$ref": "Advertiser"
          },
          "flatPath": "v4/advertisers/{advertisersId}",
          "path": "v4/advertisers/{+advertiserId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "advertiserId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "partnerId": {
              "description": "Required. The ID of the partner that the fetched advertisers should all belong to. The system only supports listing advertisers for one partner at a time.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "type": "integer",
              "format": "int32"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `advertiserId` (default) * `displayName` * `entityStatus` * `updateTime` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "Allows filtering by advertiser fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * The `updateTime` field must use the `GREATER THAN OR EQUAL TO (>=)` or `LESS THAN OR EQUAL TO (<=)` operators. * All other fields must use the `EQUALS (=)` operator. Supported fields: * `advertiserId` * `displayName` * `entityStatus` * `updateTime` (input in ISO 8601 format, or `YYYY-MM-DDTHH:MM:SSZ`) Examples: * All active advertisers under a partner: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` * All advertisers with an update time less than or equal to 2020-11-04T18:54:47Z (format of ISO 8601): `updateTime<=\"2020-11-04T18:54:47Z\"` * All advertisers with an update time greater than or equal to 2020-11-04T18:54:47Z (format of ISO 8601): `updateTime>=\"2020-11-04T18:54:47Z\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdvertisers` method. If not specified, the first page of results will be returned.",
              "type": "string"
            }
          },
          "id": "displayvideo.advertisers.list",
          "response": {
            "$ref": "ListAdvertisersResponse"
          },
          "description": "Lists advertisers that are accessible to the current user. The order is defined by the order_by parameter. A single partner_id is required. Cross-partner listing is not supported.",
          "path": "v4/advertisers",
          "flatPath": "v4/advertisers",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "advertiserId": {
              "description": "Output only. The unique ID of the advertiser. Assigned by the system.",
              "format": "int64",
              "pattern": "^[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "description": "Required. The mask to control which fields to update.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "id": "displayvideo.advertisers.patch",
          "response": {
            "$ref": "Advertiser"
          },
          "description": "Updates an existing advertiser. Returns the updated advertiser if successful.",
          "path": "v4/advertisers/{+advertiserId}",
          "flatPath": "v4/advertisers/{advertisersId}",
          "request": {
            "$ref": "Advertiser"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "advertiserId"
          ]
        }
      },
      "resources": {
        "adGroups": {
          "methods": {
            "bulkListAssignedTargetingOptions": {
              "httpMethod": "GET",
              "parameterOrder": [
                "advertiserId"
              ],
              "path": "v4/advertisers/{+advertiserId}/adGroups:bulkListAssignedTargetingOptions",
              "flatPath": "v4/advertisers/{advertisersId}/adGroups:bulkListAssignedTargetingOptions",
              "response": {
                "$ref": "BulkListAdGroupAssignedTargetingOptionsResponse"
              },
              "description": "Lists assigned targeting options for multiple ad groups across targeting types. Inherited assigned targeting options are not included.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.adGroups.bulkListAssignedTargetingOptions",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token that lets the client fetch the next page of results. Typically, this is the value of next_page_token returned from the previous call to the `BulkListAdGroupAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "adGroupIds": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The IDs of the ad groups to list assigned targeting options for.",
                  "format": "int64",
                  "repeated": true
                },
                "pageSize": {
                  "description": "Optional. Requested page size. The size must be an integer between `1` and `5000`. If unspecified, the default is `5000`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "advertiserId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the advertiser the line items belongs to.",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Field by which to sort the list. Acceptable values are: * `adGroupId` (default) * `assignedTargetingOption.targetingType` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingType desc`.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `targetingType` Examples: * `AssignedTargetingOption` resources of targeting type `TARGETING_TYPE_YOUTUBE_VIDEO` or `TARGETING_TYPE_YOUTUBE_CHANNEL`: `targetingType=\"TARGETING_TYPE_YOUTUBE_VIDEO\" OR targetingType=\"TARGETING_TYPE_YOUTUBE_CHANNEL\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "advertiserId"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/adGroups",
              "request": {
                "$ref": "AdGroup"
              },
              "path": "v4/advertisers/{+advertiserId}/adGroups",
              "description": "Creates a new ad group. Returns the newly created ad group if successful.",
              "response": {
                "$ref": "AdGroup"
              },
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The unique ID of the advertiser the ad group belongs to.",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                }
              },
              "id": "displayvideo.advertisers.adGroups.create",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "bulkEditAssignedTargetingOptions": {
              "httpMethod": "POST",
              "parameterOrder": [
                "advertiserId"
              ],
              "flatPath": "v4/advertisers/{advertisersId}/adGroups:bulkEditAssignedTargetingOptions",
              "request": {
                "$ref": "BulkEditAdGroupAssignedTargetingOptionsRequest"
              },
              "path": "v4/advertisers/{+advertiserId}/adGroups:bulkEditAssignedTargetingOptions",
              "description": "Bulk edits targeting options for multiple ad groups. The same set of delete and create requests will be applied to all specified ad groups. Specifically, the operation will delete the assigned targeting options provided in BulkEditAdGroupAssignedTargetingOptionsRequest.delete_requests from each ad group, and then create the assigned targeting options provided in BulkEditAdGroupAssignedTargetingOptionsRequest.create_requests. Only ad groups under a line item of line_item_type `LINE_ITEM_TYPE_DEMAND_GEN` are supported for this method.",
              "response": {
                "$ref": "BulkEditAdGroupAssignedTargetingOptionsResponse"
              },
              "id": "displayvideo.advertisers.adGroups.bulkEditAssignedTargetingOptions",
              "parameters": {
                "advertiserId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the advertiser the ad groups belong to.",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "get": {
              "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}",
              "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "advertiserId",
                "adGroupId"
              ],
              "id": "displayvideo.advertisers.adGroups.get",
              "parameters": {
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the advertiser this ad group belongs to.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "adGroupId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the ad group to fetch.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Gets an ad group.",
              "response": {
                "$ref": "AdGroup"
              }
            },
            "list": {
              "response": {
                "$ref": "ListAdGroupsResponse"
              },
              "description": "Lists ad groups.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "advertiserId": {
                  "description": "Required. The ID of the advertiser the ad groups belongs to.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Field by which to sort the list. Acceptable values are: * `displayName` (default) * `entityStatus` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Allows filtering by custom ad group fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` and `OR`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported properties: * `adGroupId` * `displayName` * `entityStatus` * `lineItemId` * `adGroupFormat` Examples: * All ad groups under an line item: `lineItemId=\"1234\"` * All `ENTITY_STATUS_ACTIVE` or `ENTITY_STATUS_PAUSED` `AD_GROUP_FORMAT_IN_STREAM` ad groups under an advertiser: `(entityStatus=\"ENTITY_STATUS_ACTIVE\" OR entityStatus=\"ENTITY_STATUS_PAUSED\") AND adGroupFormat=\"AD_GROUP_FORMAT_IN_STREAM\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListAdGroups` method. If not specified, the first page of results will be returned.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "displayvideo.advertisers.adGroups.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "advertiserId"
              ],
              "path": "v4/advertisers/{+advertiserId}/adGroups",
              "flatPath": "v4/advertisers/{advertisersId}/adGroups"
            },
            "patch": {
              "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}",
              "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}",
              "request": {
                "$ref": "AdGroup"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "advertiserId",
                "adGroupId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.advertisers.adGroups.patch",
              "parameters": {
                "advertiserId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Output only. The unique ID of the advertiser the ad group belongs to.",
                  "format": "int64"
                },
                "adGroupId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The unique ID of the ad group. Assigned by the system.",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "AdGroup"
              },
              "description": "Updates an existing ad group. Returns the updated ad group if successful."
            },
            "delete": {
              "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}",
              "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "advertiserId",
                "adGroupId"
              ],
              "id": "displayvideo.advertisers.adGroups.delete",
              "parameters": {
                "advertiserId": {
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the advertiser this ad group belongs to.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "adGroupId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the ad group to delete.",
                  "format": "int64"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Deletes a AdGroup. Returns error code `NOT_FOUND` if the ad group does not exist.",
              "response": {
                "$ref": "Empty"
              }
            }
          },
          "resources": {
            "targetingTypes": {
              "resources": {
                "assignedTargetingOptions": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "advertiserId",
                        "adGroupId",
                        "targetingType",
                        "assignedTargetingOptionId"
                      ],
                      "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                      "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes an assigned targeting option from an ad group. Only ad groups under a line item of line_item_type `LINE_ITEM_TYPE_DEMAND_GEN` are supported for this method.",
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ],
                      "parameters": {
                        "advertiserId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^[^/]+$",
                          "description": "Required. The ID of the advertiser the ad group belongs to.",
                          "format": "int64"
                        },
                        "adGroupId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^[^/]+$",
                          "description": "Required. The ID of the ad group the assigned targeting option belongs to.",
                          "format": "int64"
                        },
                        "assignedTargetingOptionId": {
                          "pattern": "^[^/]+$",
                          "description": "Required. The ID of the assigned targeting option to delete.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "targetingType": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^[^/]+$",
                          "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SESSION_POSITION` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
                          "enumDescriptions": [
                            "Default value when type is not specified or is unknown in this version.",
                            "Target a channel (a custom group of related websites or apps).",
                            "Target an app category (for example, education or puzzle games).",
                            "Target a specific app (for example, Angry Birds).",
                            "Target a specific url (for example, quora.com).",
                            "Target ads during a chosen time period on a specific day.",
                            "Target ads to a specific age range (for example, 18-24).",
                            "Target ads to the specified regions on a regional location list.",
                            "Target ads to the specified points of interest on a proximity location list.",
                            "Target ads to a specific gender (for example, female or male).",
                            "Target a specific video player size for video ads.",
                            "Target user rewarded content for video ads.",
                            "Target ads to a specific parental status (for example, parent or not a parent).",
                            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                            "Target ads in a specific content outstream position.",
                            "Target ads to a specific device type (for example, tablet or connected TV).",
                            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                            "Target ads to specific web browsers (for example, Chrome).",
                            "Target ads to a specific household income range (for example, top 10%).",
                            "Target ads in a specific on screen position.",
                            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                            "Filter website content by sensitive categories (for example, adult).",
                            "Target ads to a specific environment (for example, web or app).",
                            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                            "Target ads to a specific operating system (for example, macOS).",
                            "Target ads to a specific device make or model (for example, Roku or Samsung).",
                            "Target ads to a specific keyword (for example, dog or retriever).",
                            "Target ads to a specific negative keyword list.",
                            "Target ads to a specific viewability (for example, 80% viewable).",
                            "Target ads to a specific content category (for example, arts & entertainment).",
                            "Purchase impressions from specific deals and auction packages.",
                            "Target ads to a specific language (for example, English or Japanese).",
                            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                            "Target ads to a specific regional location (for example, a city or state).",
                            "Purchase impressions from a group of deals and auction packages.",
                            "Purchase impressions from specific exchanges.",
                            "Purchase impressions from specific sub-exchanges.",
                            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                            "Target ads around locations of a business chain within a specific geo region.",
                            "Target ads to a specific video content duration.",
                            "Target ads to a specific video content stream type.",
                            "Target ads to a specific native content position.",
                            "Target ads in an Open Measurement enabled inventory.",
                            "Target ads to a specific audio content type.",
                            "Target ads to a specific content genre.",
                            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
                          ],
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE",
                            "TARGETING_TYPE_POI",
                            "TARGETING_TYPE_BUSINESS_CHAIN",
                            "TARGETING_TYPE_CONTENT_DURATION",
                            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                            "TARGETING_TYPE_OMID",
                            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                            "TARGETING_TYPE_CONTENT_GENRE",
                            "TARGETING_TYPE_YOUTUBE_VIDEO",
                            "TARGETING_TYPE_YOUTUBE_CHANNEL",
                            "TARGETING_TYPE_SESSION_POSITION",
                            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                          ]
                        }
                      },
                      "id": "displayvideo.advertisers.adGroups.targetingTypes.assignedTargetingOptions.delete"
                    },
                    "get": {
                      "flatPath": "v4/advertisers/{advertisersId}/adGroups/{adGroupsId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                      "path": "v4/advertisers/{+advertiserId}/adGroups/{+adGroupId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "advertiserId",
                        "adGroupId",
                        "targetingType",
                        "assignedTargetingOptionId"
                      ],
                      "parameters": {
                        "targetingType": {
                          "pattern": "^[^/]+$",
                          "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SESSION_POSITION` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
                          "enumDescriptions": [
                            "Default value when type is not specified or is unknown in this version.",
                            "Target a channel (a custom group of related websites or apps).",
                            "Target an app category (for example, education or puzzle games).",
                            "Target a specific app (for example, Angry Birds).",
                            "Target a specific url (for example, quora.com).",
                            "Target ads during a chosen time period on a specific day.",
                            "Target ads to a specific age range (for example, 18-24).",
                            "Target ads to the specified regions on a regional location list.",
                            "Target ads to the specified points of interest on a proximity location list.",
                            "Target ads to a specific gender (for example, female or male).",
                            "Target a specific video player size for video ads.",
                            "Target user rewarded content for video ads.",
                            "Target ads to a specific parental status (for example, parent or not a parent).",
                            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                            "Target ads in a specific content outstream position.",
                            "Target ads to a specific device type (for example, tablet or connected TV).",
                            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                            "Target ads to specific web browsers (for example, Chrome).",
                            "Target ads to a specific household income range (for example, top 10%).",
                            "Target ads in a specific on screen position.",
                            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                            "Filter website content by sensitive categories (for example, adult).",
                            "Target ads to a specific environment (for example, web or app).",
                            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                            "Target ads to a specific operating system (for example, macOS).",
                            "Target ads to a specific device make or model (for example, Roku or Samsung).",
                            "Target ads to a specific keyword (for example, dog or retriever).",
                            "Target ads to a specific negative keyword list.",
                            "Target ads to a specific viewability (for example, 80% viewable).",
                            "Target ads to a specific content category (for example, arts & entertainment).",
                            "Purchase impressions from specific deals and auction packages.",
                            "Target ads to a specific language (for example, English or Japanese).",
                            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                            "Target ads to a specific regional location (for example, a city or state).",
                            "Purchase impressions from a group of deals and auction packages.",
                            "Purchase impressions from specific exchanges.",
                            "Purchase impressions from specific sub-exchanges.",
                            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                            "Target ads around locations of a business chain within a specific geo region.",
                            "Target ads to a specific video content duration.",
                            "Target ads to a specific video content stream type.",
                            "Target ads to a specific native content position.",
                            "Target ads in an Open Measurement enabled inventory.",
                            "Target ads to a specific audio content type.",
                            "Target ads to a specific content genre.",
                            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
                          ],
                          "enum": [
                            "TARGETING_TYPE_UNSPECIFIED",
                            "TARGETING_TYPE_CHANNEL",
                            "TARGETING_TYPE_APP_CATEGORY",
                            "TARGETING_TYPE_APP",
                            "TARGETING_TYPE_URL",
                            "TARGETING_TYPE_DAY_AND_TIME",
                            "TARGETING_TYPE_AGE_RANGE",
                            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                            "TARGETING_TYPE_GENDER",
                            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                            "TARGETING_TYPE_USER_REWARDED_CONTENT",
                            "TARGETING_TYPE_PARENTAL_STATUS",
                            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                            "TARGETING_TYPE_DEVICE_TYPE",
                            "TARGETING_TYPE_AUDIENCE_GROUP",
                            "TARGETING_TYPE_BROWSER",
                            "TARGETING_TYPE_HOUSEHOLD_INCOME",
                            "TARGETING_TYPE_ON_SCREEN_POSITION",
                            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                            "TARGETING_TYPE_ENVIRONMENT",
                            "TARGETING_TYPE_CARRIER_AND_ISP",
                            "TARGETING_TYPE_OPERATING_SYSTEM",
                            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                            "TARGETING_TYPE_KEYWORD",
                            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                            "TARGETING_TYPE_VIEWABILITY",
                            "TARGETING_TYPE_CATEGORY",
                            "TARGETING_TYPE_INVENTORY_SOURCE",
                            "TARGETING_TYPE_LANGUAGE",
                            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                            "TARGETING_TYPE_GEO_REGION",
                            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                            "TARGETING_TYPE_EXCHANGE",
                            "TARGETING_TYPE_SUB_EXCHANGE",
                            "TARGETING_TYPE_POI",
                            "TARGETING_TYPE_BUSINESS_CHAIN",
                            "TARGETING_TYPE_CONTENT_DURATION",
                            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                            "TARGETING_TYPE_OMID",
                            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                            "TARGETING_TYPE_CONTENT_GENRE",
                            "TARGETING_TYPE_YOUTUBE_VIDEO",
                            "TARGETING_TYPE_YOUTUBE_CHANNEL",
                            "TARGETING_TYPE_SESSION_POSITION",
                            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                          ],
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "advertiserId": {
                          "description": "Required. The ID of the advertiser the ad group belongs to.",
                          "format": "int64",
                          "pattern": "^[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "adGroupId": {
                          "description": "Required. The ID of the ad group the assigned targeting option belongs to.",
                          "format": "int64",
                          "pattern": "^[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "assignedTargetingOptionId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. An identifier unique to the targeting type in this line item that identifies the assigned targeting option being requested.",
                          "pattern": "^[^/]+$"
                        }
                      },
                      "id": "displayvideo.advertisers.adGroups.targetingTypes.assignedTargetingOptions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/display-video"
                      ],
                      "description": "Gets a single targeting option assigned to an ad group. Inherited assigned targeting options are not included.",
                      "response": {
                        "$ref": "AssignedTargetingOption"
                      }
                    },
                    "list": {
                      "id": "displayvideo.advertisers.adGroups.targetingTypes.assignedTargetingOptions.list",
                      "parameters": {
                        "targetingType": {
                          "pattern": "^[^/]+$",
                          "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_SESSION_POSITION` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_YOUTUBE_CHANNEL` * `TARGETING_TYPE_YOUTUBE_VIDEO`",
                          "enumDescriptions": [
                            "Default value when type is not specified or is unknown in this version.",
                            "Target a channel (a custom group of related websites or apps).",
                            "Target an app category (for example, education or puzzle games).",
                            "Target a specific app (for example, Angry Birds).",
                            "Target a specific url (for example, quora.com).",
                            "Target ads during a chosen time period on a specific day.",
                            "Target ads to a specific age range (for example, 18-24).",
                            "Target ads to the specified regions on a regional location list.",
                            "Target ads to the specified points of interest on a proximity location list.",
                            "Target ads to a specific gender (for example, female or male).",
                            "Target a specific video player size for video ads.",
                            "Target user rewarded content for video ads.",
                            "Target ads to a specific parental status (for example, parent or not a parent).",
                            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                            "Target ads in a specific content outstream position.",
                            "Target ads to a specific device type (for example, tablet or connected TV).",
                            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                            "Target ads to specific web browsers (for example, Chrome).",
                            "Target ads to a specific household income range (for example, top 10%).",
[...]
