{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Display & Video 360 API",
  "discoveryVersion": "v1",
  "basePath": "",
  "name": "displayvideo",
  "revision": "20260310",
  "id": "displayvideo:v3",
  "resources": {
    "customLists": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "customListId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the custom list to fetch.",
              "location": "path",
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "format": "int64",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v3/customLists/{+customListId}",
          "flatPath": "v3/customLists/{customListsId}",
          "description": "Gets a custom list.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customLists.get",
          "response": {
            "$ref": "CustomList"
          },
          "parameterOrder": [
            "customListId"
          ]
        },
        "list": {
          "description": "Lists custom lists. The order is defined by the order_by parameter.",
          "flatPath": "v3/customLists",
          "path": "v3/customLists",
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "format": "int64"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomLists` method. If not specified, the first page of results will be returned."
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `customListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Allows filtering by custom list fields. Supported syntax: * Filter expressions for custom lists can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All custom lists for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListCustomListsResponse"
          },
          "id": "displayvideo.customLists.list",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      }
    },
    "combinedAudiences": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the partner that has access to the fetched combined audience.",
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the advertiser that has access to the fetched combined audience.",
              "format": "int64"
            },
            "combinedAudienceId": {
              "description": "Required. The ID of the combined audience to fetch.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "path": "v3/combinedAudiences/{+combinedAudienceId}",
          "flatPath": "v3/combinedAudiences/{combinedAudiencesId}",
          "description": "Gets a combined audience.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.combinedAudiences.get",
          "response": {
            "$ref": "CombinedAudience"
          },
          "parameterOrder": [
            "combinedAudienceId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.combinedAudiences.list",
          "response": {
            "$ref": "ListCombinedAudiencesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the partner that has access to the fetched combined audiences.",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCombinedAudiences` method. If not specified, the first page of results will be returned."
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `combinedAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`."
            },
            "filter": {
              "description": "Allows filtering by combined audience fields. Supported syntax: * Filter expressions for combined audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All combined audiences for which the display name contains \"Google\": `displayName : \"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the advertiser that has access to the fetched combined audiences.",
              "format": "int64"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "v3/combinedAudiences",
          "flatPath": "v3/combinedAudiences",
          "description": "Lists combined audiences. The order is defined by the order_by parameter."
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "flatPath": "download/{downloadId}",
          "description": "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string.",
          "httpMethod": "GET",
          "parameters": {
            "resourceName": {
              "pattern": "^.*$",
              "required": true,
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "download/{+resourceName}",
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "displayvideo.media.download",
          "supportsMediaDownload": true
        },
        "upload": {
          "request": {
            "$ref": "GoogleBytestreamMedia"
          },
          "id": "displayvideo.media.upload",
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "supportsMediaUpload": true,
          "path": "media/{+resourceName}",
          "httpMethod": "POST",
          "parameters": {
            "resourceName": {
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^.*$"
            }
          },
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/media/{+resourceName}"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "description": "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string.",
          "flatPath": "media/{mediaId}"
        }
      }
    },
    "customBiddingAlgorithms": {
      "methods": {
        "get": {
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.get",
          "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "description": "Gets a custom bidding algorithm.",
          "httpMethod": "GET",
          "parameters": {
            "customBiddingAlgorithmId": {
              "description": "Required. The ID of the custom bidding algorithm to fetch.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "format": "int64"
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "format": "int64"
            }
          },
          "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}"
        },
        "uploadRules": {
          "description": "Creates a rules reference object for an AlgorithmRules file. The resulting reference object provides a resource path where the AlgorithmRules file should be uploaded. This reference object should be included when creating a new CustomBiddingAlgorithmRules resource.",
          "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadRules",
          "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadRules",
          "httpMethod": "GET",
          "parameters": {
            "customBiddingAlgorithmId": {
              "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "advertiserId": {
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the partner that owns the parent custom bidding algorithm.",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "response": {
            "$ref": "CustomBiddingAlgorithmRulesRef"
          },
          "id": "displayvideo.customBiddingAlgorithms.uploadRules",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "create": {
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "id": "displayvideo.customBiddingAlgorithms.create",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "path": "v3/customBiddingAlgorithms",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Creates a new custom bidding algorithm. Returns the newly created custom bidding algorithm if successful.",
          "flatPath": "v3/customBiddingAlgorithms"
        },
        "uploadScript": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.uploadScript",
          "response": {
            "$ref": "CustomBiddingScriptRef"
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "customBiddingAlgorithmId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the custom bidding algorithm owns the script."
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "format": "int64"
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
              "format": "int64"
            }
          },
          "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadScript",
          "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadScript",
          "description": "Creates a custom bidding script reference object for a script file. The resulting reference object provides a resource path to which the script file should be uploaded. This reference object should be included in when creating a new custom bidding script object."
        },
        "list": {
          "flatPath": "v3/customBiddingAlgorithms",
          "description": "Lists custom bidding algorithms that are accessible to the current user and can be used in bidding stratgies. The order is defined by the order_by parameter.",
          "httpMethod": "GET",
          "parameters": {
            "partnerId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithms` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`."
            },
            "filter": {
              "description": "Allows filtering by custom bidding algorithm fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `customBiddingAlgorithmType` field must use the `EQUALS (=)` operator. * The `displayName` field must use the `HAS (:)` operator. Supported fields: * `customBiddingAlgorithmType` * `displayName` Examples: * All custom bidding algorithms for which the display name contains \"politics\": `displayName:\"politics\"`. * All custom bidding algorithms for which the type is \"SCRIPT_BASED\": `customBiddingAlgorithmType=SCRIPT_BASED` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the DV360 advertiser that has access to the custom bidding algorithm.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "v3/customBiddingAlgorithms",
          "response": {
            "$ref": "ListCustomBiddingAlgorithmsResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.list"
        },
        "patch": {
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.patch",
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "description": "Updates an existing custom bidding algorithm. Returns the updated custom bidding algorithm if successful. Requests updating a custom bidding algorithm assigned to a line item will return an error.",
          "httpMethod": "PATCH",
          "parameters": {
            "customBiddingAlgorithmId": {
              "location": "path",
              "type": "string",
              "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The mask to control which fields to update.",
              "format": "google-fieldmask"
            }
          },
          "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}"
        }
      },
      "resources": {
        "scripts": {
          "methods": {
            "create": {
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "request": {
                "$ref": "CustomBiddingScript"
              },
              "id": "displayvideo.customBiddingAlgorithms.scripts.create",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Creates a new custom bidding script. Returns the newly created script if successful. Requests creating a custom bidding script under an algorithm assigned to a line item will return an error.",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "httpMethod": "POST",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm that owns the script.",
                  "location": "path",
                  "type": "string"
                },
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64"
                },
                "partnerId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "format": "int64"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingScriptId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.customBiddingAlgorithms.scripts.get",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts/{scriptsId}",
              "description": "Gets a custom bidding script.",
              "httpMethod": "GET",
              "parameters": {
                "customBiddingScriptId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the custom bidding script to fetch.",
                  "location": "path",
                  "type": "string"
                },
                "customBiddingAlgorithmId": {
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "partnerId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "format": "int64"
                }
              },
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts/{+customBiddingScriptId}"
            },
            "list": {
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "response": {
                "$ref": "ListCustomBiddingScriptsResponse"
              },
              "id": "displayvideo.customBiddingAlgorithms.scripts.list",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Lists custom bidding scripts that belong to the given algorithm. The order is defined by the order_by parameter.",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "httpMethod": "GET",
              "parameters": {
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingScripts` method. If not specified, the first page of results will be returned."
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "location": "query",
                  "type": "string"
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the custom bidding algorithm owns the script."
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32"
                }
              },
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts"
            }
          }
        },
        "rules": {
          "methods": {
            "list": {
              "id": "displayvideo.customBiddingAlgorithms.rules.list",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "response": {
                "$ref": "ListCustomBiddingAlgorithmRulesResponse"
              },
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules",
              "httpMethod": "GET",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource."
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithmRules` method. If not specified, the first page of results will be returned."
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists rules resources that belong to the given algorithm. The order is defined by the order_by parameter.",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules"
            },
            "create": {
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules",
              "description": "Creates a new rules resource. Returns the newly created rules resource if successful. Requests creating a custom bidding rules resource under an algorithm assigned to a line item will return an error.",
              "httpMethod": "POST",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true
                },
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64"
                },
                "partnerId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this rules resource.",
                  "format": "int64"
                }
              },
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules",
              "response": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.customBiddingAlgorithms.rules.create",
              "request": {
                "$ref": "CustomBiddingAlgorithmRules"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "customBiddingAlgorithmId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the custom bidding algorithm that owns the rules resource.",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true
                },
                "customBiddingAlgorithmRulesId": {
                  "description": "Required. The ID of the rules resource to fetch.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                },
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64"
                }
              },
              "path": "v3/customBiddingAlgorithms/{+customBiddingAlgorithmId}/rules/{+customBiddingAlgorithmRulesId}",
              "flatPath": "v3/customBiddingAlgorithms/{customBiddingAlgorithmsId}/rules/{rulesId}",
              "description": "Retrieves a rules resource.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.customBiddingAlgorithms.rules.get",
              "response": {
                "$ref": "CustomBiddingAlgorithmRules"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingAlgorithmRulesId"
              ]
            }
          }
        }
      }
    },
    "partners": {
      "methods": {
        "editAssignedTargetingOptions": {
          "request": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.partners.editAssignedTargetingOptions",
          "response": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsResponse"
          },
          "parameterOrder": [
            "partnerId"
          ],
          "path": "v3/partners/{+partnerId}:editAssignedTargetingOptions",
          "httpMethod": "POST",
          "parameters": {
            "partnerId": {
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the partner.",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "v3/partners/{partnersId}:editAssignedTargetingOptions",
          "description": "Edits targeting options under a single partner. The operation will delete the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.deleteRequests and then create the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.createRequests ."
        },
        "get": {
          "parameterOrder": [
            "partnerId"
          ],
          "response": {
            "$ref": "Partner"
          },
          "id": "displayvideo.partners.get",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Gets a partner.",
          "flatPath": "v3/partners/{partnersId}",
          "httpMethod": "GET",
          "parameters": {
            "partnerId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "description": "Required. The ID of the partner to fetch.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "v3/partners/{+partnerId}"
        },
        "list": {
          "response": {
            "$ref": "ListPartnersResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.partners.list",
          "flatPath": "v3/partners",
          "description": "Lists partners that are accessible to the current user. The order is defined by the order_by parameter.",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "format": "int32"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Allows filtering by partner fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `entityStatus` Examples: * All active partners: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartners` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v3/partners"
        }
      },
      "resources": {
        "channels": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the channels.",
                  "format": "int64"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                },
                "partnerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the partner that owns the channels."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`."
                }
              },
              "path": "v3/partners/{+partnerId}/channels",
              "description": "Lists channels for a partner or advertiser.",
              "flatPath": "v3/partners/{partnersId}/channels",
              "id": "displayvideo.partners.channels.list",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "ListChannelsResponse"
              }
            },
            "patch": {
              "flatPath": "v3/partners/{partnersId}/channels/{channelId}",
              "description": "Updates a channel. Returns the updated channel if successful.",
              "httpMethod": "PATCH",
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64"
                },
                "channelId": {
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The unique ID of the channel. Assigned by the system.",
                  "format": "int64",
                  "required": true
                },
                "partnerId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the partner that owns the created channel.",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask"
                }
              },
              "path": "v3/partners/{+partnerId}/channels/{channelId}",
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.partners.channels.patch",
              "request": {
                "$ref": "Channel"
              }
            },
            "get": {
              "id": "displayvideo.partners.channels.get",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "response": {
                "$ref": "Channel"
              },
              "httpMethod": "GET",
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "format": "int64"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the fetched channel.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                },
                "channelId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the channel to fetch.",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true
                }
              },
              "path": "v3/partners/{+partnerId}/channels/{+channelId}",
              "description": "Gets a channel for a partner or advertiser.",
              "flatPath": "v3/partners/{partnersId}/channels/{channelsId}"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.partners.channels.create",
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64"
                },
                "partnerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the partner that owns the created channel."
                }
              },
              "path": "v3/partners/{+partnerId}/channels",
              "flatPath": "v3/partners/{partnersId}/channels",
              "description": "Creates a new channel. Returns the newly created channel if successful."
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "list": {
                  "flatPath": "v3/partners/{partnersId}/channels/{channelsId}/sites",
                  "description": "Lists sites in a channel.",
                  "path": "v3/partners/{+partnerId}/channels/{+channelId}/sites",
                  "httpMethod": "GET",
                  "parameters": {
                    "channelId": {
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the parent channel to which the requested sites belong."
                    },
                    "partnerId": {
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site retrieval can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                      "location": "query",
                      "type": "string"
                    },
                    "advertiserId": {
                      "location": "query",
                      "type": "string",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.channels.sites.list"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "channelId": {
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "description": "Required. The ID of the parent channel to which the site belongs.",
                      "location": "path",
                      "type": "string"
                    },
                    "partnerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel.",
                      "required": true,
                      "format": "int64"
                    },
                    "urlOrAppId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The URL or app ID of the site to delete."
                    },
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v3/partners/{partnerId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "flatPath": "v3/partners/{partnerId}/channels/{channelsId}/sites/{sitesId}",
                  "description": "Deletes a site from a channel.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.channels.sites.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId",
                    "urlOrAppId"
                  ]
                },
                "replace": {
                  "request": {
                    "$ref": "ReplaceSitesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.channels.sites.replace",
                  "response": {
                    "$ref": "ReplaceSitesResponse"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "path": "v3/partners/{partnerId}/channels/{+channelId}/sites:replace",
                  "httpMethod": "POST",
                  "parameters": {
                    "partnerId": {
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel."
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel whose sites will be replaced.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64"
                    }
                  },
                  "flatPath": "v3/partners/{partnerId}/channels/{channelsId}/sites:replace",
                  "description": "Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors."
                },
                "bulkEdit": {
                  "id": "displayvideo.partners.channels.sites.bulkEdit",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "partnerId": {
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel."
                    },
                    "channelId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64"
                    }
                  },
                  "path": "v3/partners/{partnerId}/channels/{+channelId}/sites:bulkEdit",
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "flatPath": "v3/partners/{partnerId}/channels/{channelsId}/sites:bulkEdit"
                },
                "create": {
                  "flatPath": "v3/partners/{partnerId}/channels/{channelsId}/sites",
                  "description": "Creates a site in a channel.",
                  "path": "v3/partners/{partnerId}/channels/{+channelId}/sites",
                  "httpMethod": "POST",
                  "parameters": {
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    },
                    "channelId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64"
                    },
                    "partnerId": {
                      "required": true,
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "request": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.channels.sites.create"
                }
              }
            }
          }
        },
        "targetingTypes": {
          "resources": {
            "assignedTargetingOptions": {
              "methods": {
                "delete": {
                  "flatPath": "v3/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "description": "Deletes an assigned targeting option from a partner.",
                  "path": "v3/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "targetingType": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "pattern": "^[^/]+$",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
                      ],
                      "required": true,
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                      ]
                    },
                    "partnerId": {
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the partner."
                    },
                    "assignedTargetingOptionId": {
                      "description": "Required. The ID of the assigned targeting option to delete.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.delete"
                },
                "list": {
                  "path": "v3/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "httpMethod": "GET",
                  "parameters": {
                    "targetingType": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "pattern": "^[^/]+$",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
                      ],
                      "required": true,
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                      ]
                    },
                    "pageSize": {
                      "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "partnerId": {
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the partner."
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartnerAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `assignedTargetingOptionId desc`.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId` Examples: * `AssignedTargetingOption` resource with ID 123456: `assignedTargetingOptionId=\"123456\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                    }
                  },
                  "flatPath": "v3/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "description": "Lists the targeting options assigned to a partner.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.list",
                  "response": {
                    "$ref": "ListPartnerAssignedTargetingOptionsResponse"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "request": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "description": "Assigns a targeting option to a partner. Returns the assigned targeting option if successful.",
                  "flatPath": "v3/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "path": "v3/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "httpMethod": "POST",
                  "parameters": {
                    "partnerId": {
                      "description": "Required. The ID of the partner.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "required": true
                    },
                    "targetingType": {
                      "required": true,
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                      ],
                      "pattern": "^[^/]+$",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.get",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "path": "v3/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "assignedTargetingOptionId": {
                      "description": "Required. An identifier unique to the targeting type in this partner that identifies the assigned targeting option being requested.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true
                    },
                    "partnerId": {
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "description": "Required. The ID of the partner.",
                      "location": "path",
                      "type": "string"
                    },
                    "targetingType": {
                      "required": true,
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
                      ],
                      "pattern": "^[^/]+$",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
[...]
