{
  "rootUrl": "https://displayvideo.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "revision": "20260505",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "canonicalName": "Display Video",
  "schemas": {
    "SelectedInventories": {
      "description": "The inventory control of the ad group.",
      "properties": {
        "allowYoutubeShorts": {
          "description": "Whether the ad group is opted-in to YouTube shorts inventory.",
          "type": "boolean"
        },
        "allowGmail": {
          "description": "Whether the ad group is opted-in to Gmail inventory.",
          "type": "boolean"
        },
        "allowDiscover": {
          "description": "Whether the ad group is opted-in to Discover inventory.",
          "type": "boolean"
        },
        "allowGoogleDisplayNetwork": {
          "description": "Whether the ad group is opted-in to Google Display Network inventory.",
          "type": "boolean"
        },
        "allowYoutubeStream": {
          "description": "Whether the ad group is opted-in to YouTube in-stream inventory.",
          "type": "boolean"
        },
        "allowYoutubeFeed": {
          "description": "Whether the ad group is opted-in to YouTube in-feed inventory.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SelectedInventories"
    },
    "ContentOutstreamPositionTargetingOptionDetails": {
      "type": "object",
      "id": "ContentOutstreamPositionTargetingOptionDetails",
      "description": "Represents a targetable content outstream position, which could be used by display and video ads. This will be populated in the content_outstream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
      "properties": {
        "contentOutstreamPosition": {
          "enumDescriptions": [
            "Content outstream position is not specified in this version. This enum is a place holder for a default value and does not represent a real content outstream position.",
            "The ad position is unknown in the content outstream.",
            "Ads that appear between the paragraphs of your pages.",
            "Ads that display on the top and the sides of a page.",
            "Ads that appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Ads shown before or between content loads."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The content outstream position.",
          "enum": [
            "CONTENT_OUTSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_OUTSTREAM_POSITION_UNKNOWN",
            "CONTENT_OUTSTREAM_POSITION_IN_ARTICLE",
            "CONTENT_OUTSTREAM_POSITION_IN_BANNER",
            "CONTENT_OUTSTREAM_POSITION_IN_FEED",
            "CONTENT_OUTSTREAM_POSITION_INTERSTITIAL"
          ]
        }
      }
    },
    "InventorySourceAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "InventorySourceAssignedTargetingOptionDetails",
      "description": "Targeting details for inventory source. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`.",
      "properties": {
        "inventorySourceId": {
          "type": "string",
          "format": "int64",
          "description": "Required. ID of the inventory source. Should refer to the inventory_source_id field of an InventorySource resource."
        }
      }
    },
    "DoubleVerifyFraudInvalidTraffic": {
      "description": "DoubleVerify Fraud & Invalid Traffic settings.",
      "properties": {
        "avoidedFraudOption": {
          "description": "Avoid Sites and Apps with historical Fraud & IVT.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any fraud and invalid traffic options.",
            "100% Fraud & IVT.",
            "50% or Higher Fraud & IVT.",
            "25% or Higher Fraud & IVT.",
            "10% or Higher Fraud & IVT.",
            "8% or Higher Fraud & IVT.",
            "6% or Higher Fraud & IVT.",
            "4% or Higher Fraud & IVT.",
            "2% or Higher Fraud & IVT."
          ],
          "type": "string",
          "enum": [
            "FRAUD_UNSPECIFIED",
            "AD_IMPRESSION_FRAUD_100",
            "AD_IMPRESSION_FRAUD_50",
            "AD_IMPRESSION_FRAUD_25",
            "AD_IMPRESSION_FRAUD_10",
            "AD_IMPRESSION_FRAUD_8",
            "AD_IMPRESSION_FRAUD_6",
            "AD_IMPRESSION_FRAUD_4",
            "AD_IMPRESSION_FRAUD_2"
          ]
        },
        "avoidInsufficientOption": {
          "description": "Insufficient Historical Fraud & IVT Stats.",
          "type": "boolean"
        }
      },
      "id": "DoubleVerifyFraudInvalidTraffic",
      "type": "object"
    },
    "EnvironmentAssignedTargetingOptionDetails": {
      "description": "Assigned environment targeting option details. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_ENVIRONMENT`.",
      "properties": {
        "environment": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_WEB_OPTIMIZED",
            "ENVIRONMENT_WEB_NOT_OPTIMIZED",
            "ENVIRONMENT_APP"
          ],
          "description": "Required. The serving environment.",
          "enumDescriptions": [
            "Default value when environment is not specified in this version. This enum is a placeholder for default value and does not represent a real environment option.",
            "Target inventory displayed in browsers. This includes inventory that was designed for the device it was viewed on, such as mobile websites viewed on a mobile device. ENVIRONMENT_WEB_NOT_OPTIMIZED, if targeted, should be deleted prior to the deletion of this targeting option.",
            "Target inventory displayed in browsers. This includes inventory that was not designed for the device but viewed on it, such as websites optimized for desktop but viewed on a mobile device. ENVIRONMENT_WEB_OPTIMIZED should be targeted prior to the addition of this targeting option.",
            "Target inventory displayed in apps."
          ]
        }
      },
      "id": "EnvironmentAssignedTargetingOptionDetails",
      "type": "object"
    },
    "CombinedAudienceGroup": {
      "id": "CombinedAudienceGroup",
      "type": "object",
      "description": "Details of combined audience group. All combined audience targeting settings are logically ‘OR’ of each other.",
      "properties": {
        "settings": {
          "type": "array",
          "items": {
            "$ref": "CombinedAudienceTargetingSetting"
          },
          "description": "Required. All combined audience targeting settings in combined audience group. Repeated settings with the same id will be ignored. The number of combined audience settings should be no more than five, error will be thrown otherwise."
        }
      }
    },
    "AuthorizedSellerStatusAssignedTargetingOptionDetails": {
      "id": "AuthorizedSellerStatusAssignedTargetingOptionDetails",
      "type": "object",
      "description": "Represents an assigned authorized seller status. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`. If a resource does not have an `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` assigned targeting option, it is using the \"Authorized Direct Sellers and Resellers\" option.",
      "properties": {
        "authorizedSellerStatus": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value when authorized seller status is not specified in this version. This enum is a placeholder for the default value, or \"Authorized Direct Sellers and Resellers\" in the UI.",
            "Only authorized sellers that directly own the inventory being monetized, as indicated by a DIRECT declaration in the ads.txt file. This value is equivalent to \"Authorized Direct Sellers\" in the UI.",
            "All authorized sellers, including publishers that have not posted an ads.txt file. Display & Video 360 automatically disallows unauthorized sellers. This value is equivalent to \"Authorized and Non-Participating Publishers\" in the UI."
          ],
          "enum": [
            "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_DIRECT_SELLERS_ONLY",
            "AUTHORIZED_SELLER_STATUS_AUTHORIZED_AND_NON_PARTICIPATING_PUBLISHERS"
          ],
          "description": "Output only. The authorized seller status to target."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS`.",
          "type": "string"
        }
      }
    },
    "OmidTargetingOptionDetails": {
      "id": "OmidTargetingOptionDetails",
      "type": "object",
      "description": "Represents a targetable Open Measurement enabled inventory type. This will be populated in the omid_details field when targeting_type is `TARGETING_TYPE_OMID`.",
      "properties": {
        "omid": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value when omid targeting is not specified in this version.",
            "Open Measurement enabled mobile display inventory."
          ],
          "enum": [
            "OMID_UNSPECIFIED",
            "OMID_FOR_MOBILE_DISPLAY_ADS"
          ],
          "description": "Output only. The type of Open Measurement enabled inventory."
        }
      }
    },
    "VideoAdSequenceSettings": {
      "description": "Settings related to VideoAdSequence.",
      "properties": {
        "minimumDuration": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "7 days.",
            "30 days."
          ],
          "description": "The minimum time interval before the same user sees this sequence again.",
          "type": "string",
          "enum": [
            "VIDEO_AD_SEQUENCE_MINIMUM_DURATION_UNSPECIFIED",
            "VIDEO_AD_SEQUENCE_MINIMUM_DURATION_WEEK",
            "VIDEO_AD_SEQUENCE_MINIMUM_DURATION_MONTH"
          ]
        },
        "steps": {
          "description": "The steps of which the sequence consists.",
          "type": "array",
          "items": {
            "$ref": "VideoAdSequenceStep"
          }
        }
      },
      "type": "object",
      "id": "VideoAdSequenceSettings"
    },
    "NegativeKeyword": {
      "id": "NegativeKeyword",
      "type": "object",
      "description": "A negatively targeted keyword that belongs to a negative keyword list.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the negative keyword."
        },
        "keywordValue": {
          "description": "Required. Immutable. The negatively targeted keyword, for example `car insurance`. Must be UTF-8 encoded with a maximum size of 255 bytes. Maximum number of characters is 80. Maximum number of words is 10. Valid characters are restricted to ASCII characters only. The only URL-escaping permitted is for representing whitespace between words. Leading or trailing whitespace is ignored.",
          "type": "string"
        }
      }
    },
    "PartnerCost": {
      "type": "object",
      "id": "PartnerCost",
      "description": "Settings that control a partner cost. A partner cost is any type of expense involved in running a campaign, other than the costs of purchasing impressions (which is called the media cost) and using third-party audience segment data (data fee). Some examples of partner costs include the fees for using DV360, a third-party ad server, or a third-party ad serving verification service.",
      "properties": {
        "feeType": {
          "type": "string",
          "enum": [
            "PARTNER_COST_FEE_TYPE_UNSPECIFIED",
            "PARTNER_COST_FEE_TYPE_CPM_FEE",
            "PARTNER_COST_FEE_TYPE_MEDIA_FEE"
          ],
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "The partner cost is a fixed CPM fee. Not applicable when the partner cost cost_type is one of: * `PARTNER_COST_TYPE_MEDIA_COST_DATA` * `PARTNER_COST_TYPE_DV360_FEE`.",
            "The partner cost is a percentage surcharge based on the media cost. Not applicable when the partner cost_type is one of: * `PARTNER_COST_TYPE_SHOP_LOCAL` * `PARTNER_COST_TYPE_TRUST_METRICS` * `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO` * `PARTNER_COST_TYPE_MOAT_VIDEO`."
          ],
          "description": "Required. The fee type for this partner cost."
        },
        "feeAmount": {
          "format": "int64",
          "type": "string",
          "description": "The CPM fee amount in micros of advertiser's currency. Applicable when the fee_type is `PARTNER_FEE_TYPE_CPM_FEE`. Must be greater than or equal to 0. For example, for 1.5 standard unit of the advertiser's currency, set this field to 1500000."
        },
        "costType": {
          "description": "Required. The type of the partner cost.",
          "enum": [
            "PARTNER_COST_TYPE_UNSPECIFIED",
            "PARTNER_COST_TYPE_ADLOOX",
            "PARTNER_COST_TYPE_ADLOOX_PREBID",
            "PARTNER_COST_TYPE_ADSAFE",
            "PARTNER_COST_TYPE_ADXPOSE",
            "PARTNER_COST_TYPE_AGGREGATE_KNOWLEDGE",
            "PARTNER_COST_TYPE_AGENCY_TRADING_DESK",
            "PARTNER_COST_TYPE_DV360_FEE",
            "PARTNER_COST_TYPE_COMSCORE_VCE",
            "PARTNER_COST_TYPE_DATA_MANAGEMENT_PLATFORM",
            "PARTNER_COST_TYPE_DEFAULT",
            "PARTNER_COST_TYPE_DOUBLE_VERIFY",
            "PARTNER_COST_TYPE_DOUBLE_VERIFY_PREBID",
            "PARTNER_COST_TYPE_EVIDON",
            "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_VIDEO",
            "PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE_PREBID",
            "PARTNER_COST_TYPE_MEDIA_COST_DATA",
            "PARTNER_COST_TYPE_MOAT_VIDEO",
            "PARTNER_COST_TYPE_NIELSEN_DAR",
            "PARTNER_COST_TYPE_SHOP_LOCAL",
            "PARTNER_COST_TYPE_TERACENT",
            "PARTNER_COST_TYPE_THIRD_PARTY_AD_SERVER",
            "PARTNER_COST_TYPE_TRUST_METRICS",
            "PARTNER_COST_TYPE_VIZU",
            "PARTNER_COST_TYPE_ADLINGO_FEE",
            "PARTNER_COST_TYPE_CUSTOM_FEE_1",
            "PARTNER_COST_TYPE_CUSTOM_FEE_2",
            "PARTNER_COST_TYPE_CUSTOM_FEE_3",
            "PARTNER_COST_TYPE_CUSTOM_FEE_4",
            "PARTNER_COST_TYPE_CUSTOM_FEE_5",
            "PARTNER_COST_TYPE_SCIBIDS_FEE"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The cost is charged for using Scope3 (previously known as Adloox). Billed by the partner.",
            "The cost is charged for using Scope3 (previously known as Adloox) Pre-Bid. Billed through DV360.",
            "The cost is charged for using AdSafe. Billed by the partner.",
            "The cost is charged for using AdExpose. Billed by the partner.",
            "The cost is charged for using Aggregate Knowledge. Billed by the partner.",
            "The cost is charged for using an Agency Trading Desk. Billed by the partner.",
            "The cost is charged for using DV360. Billed through DV360.",
            "The cost is charged for using comScore vCE. Billed through DV360.",
            "The cost is charged for using a Data Management Platform. Billed by the partner.",
            "The default cost type. Billed by the partner.",
            "The cost is charged for using DoubleVerify. Billed by the partner.",
            "The cost is charged for using DoubleVerify Pre-Bid. Billed through DV360.",
            "The cost is charged for using Evidon. Billed by the partner.",
            "The cost is charged for using Integral Ad Science Video. Billed by the partner.",
            "The cost is charged for using Integral Ad Science Pre-Bid. Billed through DV360.",
            "The cost is charged for using media cost data. Billed by the partner.",
            "The cost is charged for using MOAT Video. Billed by the partner.",
            "The cost is charged for using Nielsen Digital Ad Ratings. Billed through DV360.",
            "The cost is charged for using ShopLocal. Billed by the partner.",
            "The cost is charged for using Teracent. Billed by the partner.",
            "The cost is charged for using a third-party ad server. Billed by the partner.",
            "The cost is charged for using TrustMetrics. Billed by the partner.",
            "The cost is charged for using Vizu. Billed by the partner.",
            "The cost is charged for using AdLingo. Billed through DV360.",
            "The cost is charged as custom fee 1. Billed by the partner.",
            "The cost is charged as custom fee 2. Billed by the partner.",
            "The cost is charged as custom fee 3. Billed by the partner.",
            "The cost is charged as custom fee 4. Billed by the partner.",
            "The cost is charged as custom fee 5. Billed by the partner.",
            "The cost is charged for using Scibids. Billed through DV360. This type is currently only available to certain customers. Other customers attempting to use this type will receive an error."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "feePercentageMillis": {
          "format": "int64",
          "type": "string",
          "description": "The media fee percentage in millis (1/1000 of a percent). Applicable when the fee_type is `PARTNER_FEE_TYPE_MEDIA_FEE`. Must be greater than or equal to 0. For example: 100 represents 0.1%."
        },
        "invoiceType": {
          "description": "The invoice type for this partner cost. * Required when cost_type is one of: - `PARTNER_COST_TYPE_ADLOOX` - `PARTNER_COST_TYPE_DOUBLE_VERIFY` - `PARTNER_COST_TYPE_INTEGRAL_AD_SCIENCE`. * Output only for other types.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Partner cost is billed through DV360.",
            "Partner cost is billed by the partner."
          ],
          "type": "string",
          "enum": [
            "PARTNER_COST_INVOICE_TYPE_UNSPECIFIED",
            "PARTNER_COST_INVOICE_TYPE_DV360",
            "PARTNER_COST_INVOICE_TYPE_PARTNER"
          ]
        }
      }
    },
    "EditCustomerMatchMembersResponse": {
      "description": "The response of FirstAndThirdPartyAudienceService.EditCustomerMatchMembers.",
      "properties": {
        "firstAndThirdPartyAudienceId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The ID of the updated Customer Match FirstAndThirdPartyAudience."
        }
      },
      "id": "EditCustomerMatchMembersResponse",
      "type": "object"
    },
    "LanguageTargetingOptionDetails": {
      "id": "LanguageTargetingOptionDetails",
      "type": "object",
      "description": "Represents a targetable language. This will be populated in the language_details field when targeting_type is `TARGETING_TYPE_LANGUAGE`.",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the language (e.g., \"French\")."
        }
      }
    },
    "AdPolicyTopicConstraint": {
      "type": "object",
      "id": "AdPolicyTopicConstraint",
      "description": "Details on ad serving constraints.",
      "properties": {
        "resellerConstraint": {
          "description": "Reseller constraint.",
          "$ref": "AdPolicyTopicConstraintAdPolicyResellerConstraint"
        },
        "globalCertificateDomainMismatch": {
          "description": "Certificate is required to serve in any country and the existing certificate does not cover the ad's domain.",
          "$ref": "AdPolicyTopicConstraintAdPolicyGlobalCertificateDomainMismatchConstraint"
        },
        "requestCertificateFormLink": {
          "description": "Link to the form to request a certificate for the constraint.",
          "type": "string"
        },
        "certificateMissingCountryList": {
          "$ref": "AdPolicyTopicConstraintAdPolicyCountryConstraintList",
          "description": "Countries where a certificate is required for serving."
        },
        "certificateDomainMismatchCountryList": {
          "$ref": "AdPolicyTopicConstraintAdPolicyCountryConstraintList",
          "description": "Countries where the resource's domain is not covered by the certificates associated with it."
        },
        "globalCertificateMissing": {
          "$ref": "AdPolicyTopicConstraintAdPolicyGlobalCertificateMissingConstraint",
          "description": "Certificate is required to serve in any country."
        },
        "countryConstraint": {
          "description": "Countries where the ad cannot serve.",
          "$ref": "AdPolicyTopicConstraintAdPolicyCountryConstraintList"
        }
      }
    },
    "CategoryTargetingOptionDetails": {
      "description": "Represents a targetable category. This will be populated in the category_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_CATEGORY`.",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the category.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "CategoryTargetingOptionDetails"
    },
    "SdfDownloadTask": {
      "type": "object",
      "id": "SdfDownloadTask",
      "description": "Type for the response returned by SdfDownloadTaskService.CreateSdfDownloadTask.",
      "properties": {
        "resourceName": {
          "description": "A resource name to be used in media.download to Download the prepared files. Resource names have the format `download/sdfdownloadtasks/media/{media_id}`. `media_id` will be made available by the long running operation service once the task status is done.",
          "type": "string"
        }
      }
    },
    "DoubleVerify": {
      "id": "DoubleVerify",
      "type": "object",
      "description": "Details of DoubleVerify settings.",
      "properties": {
        "fraudInvalidTraffic": {
          "$ref": "DoubleVerifyFraudInvalidTraffic",
          "description": "Avoid Sites and Apps with historical Fraud & IVT Rates."
        },
        "customSegmentId": {
          "type": "string",
          "format": "int64",
          "description": "The custom segment ID provided by DoubleVerify. The ID must start with \"51\" and consist of eight digits. Custom segment ID cannot be specified along with any of the following fields: * brand_safety_categories * avoided_age_ratings * app_star_rating * fraud_invalid_traffic"
        },
        "avoidedAgeRatings": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This enum is only a placeholder and it doesn't specify any age rating options.",
              "Apps with unknown age rating.",
              "Apps rated for Everyone (4+).",
              "Apps rated for Everyone (9+).",
              "Apps rated for Teens (12+).",
              "Apps rated for Mature (17+).",
              "Apps rated for Adults Only (18+)."
            ],
            "type": "string",
            "enum": [
              "AGE_RATING_UNSPECIFIED",
              "APP_AGE_RATE_UNKNOWN",
              "APP_AGE_RATE_4_PLUS",
              "APP_AGE_RATE_9_PLUS",
              "APP_AGE_RATE_12_PLUS",
              "APP_AGE_RATE_17_PLUS",
              "APP_AGE_RATE_18_PLUS"
            ]
          },
          "description": "Avoid bidding on apps with the age rating."
        },
        "appStarRating": {
          "description": "Avoid bidding on apps with the star ratings.",
          "$ref": "DoubleVerifyAppStarRating"
        },
        "videoViewability": {
          "description": "Video viewability settings (applicable to video line items only).",
          "$ref": "DoubleVerifyVideoViewability"
        },
        "brandSafetyCategories": {
          "description": "DV Brand Safety Controls.",
          "$ref": "DoubleVerifyBrandSafetyCategories"
        },
        "displayViewability": {
          "description": "Display viewability settings (applicable to display line items only).",
          "$ref": "DoubleVerifyDisplayViewability"
        }
      }
    },
    "CounterEvent": {
      "id": "CounterEvent",
      "type": "object",
      "description": "Counter event of the creative.",
      "properties": {
        "name": {
          "description": "Required. The name of the counter event.",
          "type": "string"
        },
        "reportingName": {
          "description": "Required. The name used to identify this counter event in reports.",
          "type": "string"
        }
      }
    },
    "ListLineItemsResponse": {
      "id": "ListLineItemsResponse",
      "type": "object",
      "properties": {
        "lineItems": {
          "description": "The list of line items. This list will be absent if empty.",
          "items": {
            "$ref": "LineItem"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListLineItems` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "AudioContentTypeTargetingOptionDetails": {
      "id": "AudioContentTypeTargetingOptionDetails",
      "type": "object",
      "description": "Represents a targetable audio content type. This will be populated in the audio_content_type_details field when targeting_type is `TARGETING_TYPE_AUDIO_CONTENT_TYPE`.",
      "properties": {
        "audioContentType": {
          "enum": [
            "AUDIO_CONTENT_TYPE_UNSPECIFIED",
            "AUDIO_CONTENT_TYPE_UNKNOWN",
            "AUDIO_CONTENT_TYPE_MUSIC",
            "AUDIO_CONTENT_TYPE_BROADCAST",
            "AUDIO_CONTENT_TYPE_PODCAST"
          ],
          "description": "Output only. The audio content type.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Audio content type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The audio content type is unknown.",
            "The audio content type is music.",
            "The audio content type is broadcast.",
            "The audio content type is podcast."
          ]
        }
      }
    },
    "LanguageAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "LanguageAssignedTargetingOptionDetails",
      "description": "Details for assigned language targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_LANGUAGE`.",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the language (e.g., \"French\").",
          "readOnly": true,
          "type": "string"
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted. All assigned language targeting options on the same resource must have the same value for this field.",
          "type": "boolean"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_LANGUAGE`.",
          "type": "string"
        }
      }
    },
    "MobileApp": {
      "description": "A mobile app promoted by a mobile app install line item.",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The app name."
        },
        "appId": {
          "description": "Required. The ID of the app provided by the platform store. Android apps are identified by the bundle ID used by Android's Play store, such as `com.google.android.gm`. iOS apps are identified by a nine-digit app ID used by Apple's App store, such as `422689480`.",
          "type": "string"
        },
        "platform": {
          "description": "Output only. The app platform.",
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "IOS",
            "ANDROID"
          ],
          "enumDescriptions": [
            "Platform is not specified.",
            "iOS platform.",
            "Android platform."
          ],
          "readOnly": true,
          "type": "string"
        },
        "publisher": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The app publisher."
        }
      },
      "id": "MobileApp",
      "type": "object"
    },
    "ListAdGroupAssignedTargetingOptionsResponse": {
      "description": "Response message for ListAdGroupAssignedTargetingOptions.",
      "properties": {
        "assignedTargetingOptions": {
          "description": "The list of assigned targeting options. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListAdGroupAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more AssignedTargetingOption resources to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAdGroupAssignedTargetingOptionsResponse"
    },
    "DoubleVerifyAppStarRating": {
      "description": "Details of DoubleVerify star ratings settings.",
      "properties": {
        "avoidedStarRating": {
          "type": "string",
          "enum": [
            "APP_STAR_RATE_UNSPECIFIED",
            "APP_STAR_RATE_1_POINT_5_LESS",
            "APP_STAR_RATE_2_LESS",
            "APP_STAR_RATE_2_POINT_5_LESS",
            "APP_STAR_RATE_3_LESS",
            "APP_STAR_RATE_3_POINT_5_LESS",
            "APP_STAR_RATE_4_LESS",
            "APP_STAR_RATE_4_POINT_5_LESS"
          ],
          "description": "Avoid bidding on apps with the star ratings.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any app star rating options.",
            "Official Apps with rating < 1.5 Stars.",
            "Official Apps with rating < 2 Stars.",
            "Official Apps with rating < 2.5 Stars.",
            "Official Apps with rating < 3 Stars.",
            "Official Apps with rating < 3.5 Stars.",
            "Official Apps with rating < 4 Stars.",
            "Official Apps with rating < 4.5 Stars."
          ]
        },
        "avoidInsufficientStarRating": {
          "description": "Avoid bidding on apps with insufficient star ratings.",
          "type": "boolean"
        }
      },
      "id": "DoubleVerifyAppStarRating",
      "type": "object"
    },
    "PartnerAdServerConfig": {
      "description": "Ad server related settings of a partner.",
      "properties": {
        "measurementConfig": {
          "$ref": "MeasurementConfig",
          "description": "Measurement settings of a partner."
        }
      },
      "id": "PartnerAdServerConfig",
      "type": "object"
    },
    "ListCustomBiddingScriptsResponse": {
      "type": "object",
      "id": "ListCustomBiddingScriptsResponse",
      "properties": {
        "customBiddingScripts": {
          "items": {
            "$ref": "CustomBiddingScript"
          },
          "type": "array",
          "description": "The list of custom bidding scripts. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCustomBiddingScriptsRequest` method to retrieve the next page of results. If this field is null, it means this is the last page.",
          "type": "string"
        }
      }
    },
    "SubExchangeAssignedTargetingOptionDetails": {
      "description": "Details for assigned sub-exchange targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`.",
      "properties": {
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_SUB_EXCHANGE`.",
          "type": "string"
        }
      },
      "id": "SubExchangeAssignedTargetingOptionDetails",
      "type": "object"
    },
    "BulkListAdGroupAssignedTargetingOptionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAdGroupAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more AdGroupAssignedTargetingOption resources to return.",
          "type": "string"
        },
        "adGroupAssignedTargetingOptions": {
          "description": "The list of wrapper objects, each providing an assigned targeting option and the ad group it is assigned to. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "AdGroupAssignedTargetingOption"
          }
        }
      },
      "type": "object",
      "id": "BulkListAdGroupAssignedTargetingOptionsResponse"
    },
    "ListPartnersResponse": {
      "type": "object",
      "id": "ListPartnersResponse",
      "properties": {
        "partners": {
          "type": "array",
          "items": {
            "$ref": "Partner"
          },
          "description": "The list of partners. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListPartners` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "BulkEditAssignedInventorySourcesRequest": {
      "type": "object",
      "id": "BulkEditAssignedInventorySourcesRequest",
      "description": "Request message for AssignedInventorySourceService.BulkEdit.",
      "properties": {
        "partnerId": {
          "description": "The ID of the partner that owns the inventory source group. Only this partner has write access to these assigned inventory sources.",
          "type": "string",
          "format": "int64"
        },
        "advertiserId": {
          "description": "The ID of the advertiser that owns the parent inventory source group. The parent partner does not have access to these assigned inventory sources.",
          "type": "string",
          "format": "int64"
        },
        "createdAssignedInventorySources": {
          "type": "array",
          "items": {
            "$ref": "AssignedInventorySource"
          },
          "description": "The assigned inventory sources to create in bulk, specified as a list of AssignedInventorySources."
        },
        "deletedAssignedInventorySources": {
          "description": "The IDs of the assigned inventory sources to delete in bulk, specified as a list of assigned_inventory_source_ids.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "InventorySourceFilter": {
      "description": "A filtering option for filtering on Inventory Source entities.",
      "properties": {
        "inventorySourceIds": {
          "description": "Inventory Sources to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest. Leave empty to download all Inventory Sources for the selected Advertiser or Partner.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "InventorySourceFilter"
    },
    "DoubleVerifyDisplayViewability": {
      "type": "object",
      "id": "DoubleVerifyDisplayViewability",
      "description": "Details of DoubleVerify display viewability settings.",
      "properties": {
        "iab": {
          "type": "string",
          "enum": [
            "IAB_VIEWED_RATE_UNSPECIFIED",
            "IAB_VIEWED_RATE_80_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_75_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_70_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_65_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_60_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_55_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_50_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_40_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_30_PERCENT_HIGHER"
          ],
          "description": "Target web and app inventory to maximize IAB viewable rate.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any IAB viewed rate options.",
            "Target web and app inventory to maximize IAB viewable rate 80% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 75% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 70% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 65% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 60% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 55% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 50% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 40% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 30% or higher."
          ]
        },
        "viewableDuring": {
          "description": "Target web and app inventory to maximize 100% viewable duration.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any average view duration options.",
            "Target web and app inventory to maximize 100% viewable duration 5 seconds or more.",
            "Target web and app inventory to maximize 100% viewable duration 10 seconds or more.",
            "Target web and app inventory to maximize 100% viewable duration 15 seconds or more."
          ],
          "type": "string",
          "enum": [
            "AVERAGE_VIEW_DURATION_UNSPECIFIED",
            "AVERAGE_VIEW_DURATION_5_SEC",
            "AVERAGE_VIEW_DURATION_10_SEC",
            "AVERAGE_VIEW_DURATION_15_SEC"
          ]
        }
      }
    },
    "ExchangeConfig": {
      "description": "Settings that control which exchanges are enabled for a partner.",
      "properties": {
        "enabledExchanges": {
          "items": {
            "$ref": "ExchangeConfigEnabledExchange"
          },
          "type": "array",
          "description": "All enabled exchanges in the partner. Duplicate enabled exchanges will be ignored."
        }
      },
      "type": "object",
      "id": "ExchangeConfig"
    },
    "AdPolicyTopicEvidence": {
      "description": "Evidence information used in the policy decision.",
      "properties": {
        "destinationTextList": {
          "description": "The text in the destination of the ad that is causing a policy violation.",
          "$ref": "AdPolicyTopicEvidenceDestinationTextList"
        },
        "trademark": {
          "$ref": "AdPolicyTopicEvidenceTrademark",
          "description": "Trademark terms that caused a policy violation."
        },
        "destinationMismatch": {
          "description": "A mismatch between the ad destination URLs.",
          "$ref": "AdPolicyTopicEvidenceDestinationMismatch"
        },
        "websiteList": {
          "$ref": "AdPolicyTopicEvidenceWebsiteList",
          "description": "List of websites linked with the ad."
        },
        "httpCode": {
          "type": "integer",
          "format": "int32",
          "description": "HTTP code returned when the final URL was crawled."
        },
        "destinationNotWorking": {
          "$ref": "AdPolicyTopicEvidenceDestinationNotWorking",
          "description": "Information on HTTP or DNS errors related to the ad destination."
        },
        "languageCode": {
          "description": "The language the ad was detected to be written in. This field uses IETF language tags, such as \"en-US\".",
          "type": "string"
        },
        "legalRemoval": {
          "description": "Legal related regulation enforcement that caused a policy violation.",
          "$ref": "AdPolicyTopicEvidenceLegalRemoval"
        },
        "textList": {
          "$ref": "AdPolicyTopicEvidenceTextList",
          "description": "List of evidence found in the text of the ad."
        },
        "regionalRequirements": {
          "$ref": "AdPolicyTopicEvidenceRegionalRequirements",
          "description": "T&S proactive enforcement that caused a policy violation."
        },
        "counterfeit": {
          "description": "Counterfeit enforcement that caused a policy violation.",
          "$ref": "AdPolicyTopicEvidenceCounterfeit"
        }
      },
      "id": "AdPolicyTopicEvidence",
      "type": "object"
    },
    "DeviceTypeTargetingOptionDetails": {
      "id": "DeviceTypeTargetingOptionDetails",
      "type": "object",
      "description": "Represents a targetable device type. This will be populated in the device_type_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
      "properties": {
        "deviceType": {
          "description": "Output only. The device type that is used to be targeted.",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET",
            "DEVICE_TYPE_CONNECTED_DEVICE"
          ],
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "Computer.",
            "Connected TV.",
            "Smart phone.",
            "Tablet.",
            "Connected device."
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ReplaceSitesResponse": {
      "description": "Response message for SiteService.ReplaceSites.",
      "properties": {
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "type": "array",
          "description": "The list of sites in the channel after replacing."
        }
      },
      "type": "object",
      "id": "ReplaceSitesResponse"
    },
    "CampaignBudget": {
      "description": "Settings that control how the campaign budget is allocated.",
      "properties": {
        "externalBudgetSource": {
          "description": "Required. The external source of the budget.",
          "enumDescriptions": [
            "External budget source value is not specified or unknown in this version.",
            "Budget has no external source.",
            "Budget source is Mediaocean."
          ],
          "type": "string",
          "enum": [
            "EXTERNAL_BUDGET_SOURCE_UNSPECIFIED",
            "EXTERNAL_BUDGET_SOURCE_NONE",
            "EXTERNAL_BUDGET_SOURCE_MEDIA_OCEAN"
          ]
        },
        "invoiceGroupingId": {
          "description": "Immutable. The ID used to group budgets to be included the same invoice. If this field is set and the invoice level of the corresponding billing profile is set to \"Budget invoice grouping ID\", all external_budget_id sharing the same invoice_grouping_id will be grouped in the same invoice.",
          "type": "string"
        },
        "prismaConfig": {
          "$ref": "PrismaConfig",
          "description": "Additional metadata for use by the Mediaocean Prisma tool. Required for Mediaocean budgets. Only applicable to prisma_enabled advertisers."
        },
        "budgetAmountMicros": {
          "type": "string",
          "format": "int64",
          "description": "Required. The total amount the linked insertion order segments can budget. The amount is in micros. Must be greater than 0. For example, 500000000 represents 500 standard units of the currency."
        },
        "budgetId": {
          "type": "string",
          "format": "int64",
          "description": "The unique ID of the campaign budget. Assigned by the system. Do not set for new budgets. Must be included when updating or adding budgets to campaign_budgets. Otherwise, a new ID will be generated and assigned."
        },
        "budgetUnit": {
          "type": "string",
          "enum": [
            "BUDGET_UNIT_UNSPECIFIED",
            "BUDGET_UNIT_CURRENCY",
            "BUDGET_UNIT_IMPRESSIONS"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Budgeting in currency amounts.",
            "Budgeting in impression amounts."
          ],
          "description": "Required. Immutable. Specifies whether the budget is measured in currency or impressions."
        },
        "displayName": {
          "description": "Required. The display name of the budget. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "dateRange": {
          "description": "Required. The date range for the campaign budget. Linked budget segments may have a different date range. They are resolved relative to the parent advertiser's time zone. Both `start_date` and `end_date` must be before the year 2037.",
          "$ref": "DateRange"
        },
        "externalBudgetId": {
          "description": "Immutable. The ID identifying this budget to the external source. If this field is set and the invoice detail level of the corresponding billing profile is set to \"Budget level PO\", all impressions served against this budget will include this ID on the invoice. Must be unique under the campaign.",
          "type": "string"
        }
      },
      "id": "CampaignBudget",
      "type": "object"
    },
    "TargetFrequency": {
      "description": "Setting that controls the average number of times the ads will show to the same person over a certain period of time.",
      "properties": {
        "targetCount": {
          "format": "int64",
          "type": "string",
          "description": "The target number of times, on average, the ads will be shown to the same person in the timespan dictated by time_unit and time_unit_count."
        },
        "timeUnitCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of time_unit the target frequency will last. The following restrictions apply based on the value of time_unit: * `TIME_UNIT_WEEKS` - must be 1"
        },
        "timeUnit": {
          "description": "The unit of time in which the target frequency will be applied. The following time unit is applicable: * `TIME_UNIT_WEEKS`",
          "enum": [
            "TIME_UNIT_UNSPECIFIED",
            "TIME_UNIT_LIFETIME",
            "TIME_UNIT_MONTHS",
            "TIME_UNIT_WEEKS",
            "TIME_UNIT_DAYS",
            "TIME_UNIT_HOURS",
            "TIME_UNIT_MINUTES"
          ],
          "enumDescriptions": [
            "Time unit value is not specified or is unknown in this version.",
            "The frequency cap will be applied to the whole life time of the line item.",
            "The frequency cap will be applied to a number of months.",
            "The frequency cap will be applied to a number of weeks.",
            "The frequency cap will be applied to a number of days.",
            "The frequency cap will be applied to a number of hours.",
            "The frequency cap will be applied to a number of minutes."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "TargetFrequency"
    },
    "SearchTargetingOptionsRequest": {
      "type": "object",
      "id": "SearchTargetingOptionsRequest",
      "description": "Request message for SearchTargetingOptions.",
      "properties": {
        "advertiserId": {
          "description": "Required. The Advertiser this request is being made in the context of.",
          "type": "string",
          "format": "int64"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
        },
        "pageToken": {
          "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `SearchTargetingOptions` method. If not specified, the first page of results will be returned.",
          "type": "string"
        },
        "geoRegionSearchTerms": {
          "$ref": "GeoRegionSearchTerms",
          "description": "Search terms for geo region targeting options. Can only be used when targeting_type is `TARGETING_TYPE_GEO_REGION`."
        },
        "poiSearchTerms": {
          "$ref": "PoiSearchTerms",
          "description": "Search terms for POI targeting options. Can only be used when targeting_type is `TARGETING_TYPE_POI`."
        },
        "businessChainSearchTerms": {
          "description": "Search terms for Business Chain targeting options. Can only be used when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
          "$ref": "BusinessChainSearchTerms"
        }
      }
    },
    "AudioAd": {
      "type": "object",
      "id": "AudioAd",
      "description": "Details for an audio ad.",
      "properties": {
        "trackingUrl": {
          "description": "The URL address loaded in the background for tracking purposes.",
          "type": "string"
        },
        "displayUrl": {
          "description": "The webpage address that appears with the ad.",
          "type": "string"
        },
        "finalUrl": {
          "description": "The URL address of the webpage that people reach after they click the ad.",
          "type": "string"
        },
        "video": {
          "$ref": "YoutubeVideoDetails",
          "description": "The YouTube video of the ad."
        }
      }
    },
    "ContentStreamTypeAssignedTargetingOptionDetails": {
      "type": "object",
      "id": "ContentStreamTypeAssignedTargetingOptionDetails",
      "description": "Details for content stream type assigned targeting option. This will be populated in the content_stream_type_details field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`. Explicitly targeting all options is not supported. Remove all content stream type targeting options to achieve this effect.",
      "properties": {
        "contentStreamType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Content stream type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The content is being live-streamed.",
            "The content is viewed on-demand."
          ],
          "enum": [
            "CONTENT_STREAM_TYPE_UNSPECIFIED",
            "CONTENT_LIVE_STREAM",
            "CONTENT_ON_DEMAND"
          ],
          "description": "Output only. The content stream type."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`.",
          "type": "string"
        }
      }
    },
    "InsertionOrder": {
      "description": "A single insertion order.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the insertion order."
        },
        "insertionOrderType": {
          "description": "Optional. The type of insertion order. If this field is unspecified in creation, the value defaults to `RTB`.",
          "enumDescriptions": [
            "Insertion order type is not specified or is unknown.",
            "Real-time bidding.",
            "Over-the-top."
          ],
          "type": "string",
          "enum": [
            "INSERTION_ORDER_TYPE_UNSPECIFIED",
            "RTB",
            "OVER_THE_TOP"
          ]
        },
        "budget": {
          "description": "Required. The budget allocation settings of the insertion order.",
          "$ref": "InsertionOrderBudget"
        },
        "reservationType": {
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "RESERVATION_TYPE_NOT_GUARANTEED",
            "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED",
            "RESERVATION_TYPE_TAG_GUARANTEED",
            "RESERVATION_TYPE_PETRA_VIRAL",
            "RESERVATION_TYPE_INSTANT_RESERVE"
          ],
          "description": "Output only. The reservation type of the insertion order.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Reservation type value is not specified or is unknown in this version.",
            "Not created through a guaranteed inventory source.",
            "Created through a programmatic guaranteed inventory source.",
            "Created through a tag guaranteed inventory source.",
            "Created through a Petra inventory source. Only applicable to YouTube and Partners line items.",
            "Created with an instant quote. Only applicable to YouTube and partners line items."
          ]
        },
        "partnerCosts": {
          "description": "Optional. The partner costs associated with the insertion order. If absent or empty in CreateInsertionOrder method, the newly created insertion order will inherit partner costs from the partner settings.",
          "items": {
            "$ref": "PartnerCost"
          },
          "type": "array"
        },
        "pacing": {
          "$ref": "Pacing",
          "description": "Required. The budget spending speed setting of the insertion order. pacing_type `PACING_TYPE_ASAP` is not compatible with pacing_period `PACING_PERIOD_FLIGHT`."
        },
        "displayName": {
          "description": "Required. The display name of the insertion order. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "optimizationObjective": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Prioritize impressions that increase sales and conversions.",
            "Prioritize impressions that increase website traffic, apps, app stores.",
            "Prioritize impressions of specific quality.",
            "Objective is defined by the assigned custom bidding algorithm.",
            "Objective is not defined. Any KPI or bidding strategy can be used."
          ],
          "description": "Optional. Required. The optimization objective of the insertion order.",
          "type": "string",
          "enum": [
            "OPTIMIZATION_OBJECTIVE_UNSPECIFIED",
            "CONVERSION",
            "CLICK",
            "BRAND_AWARENESS",
            "CUSTOM",
            "NO_OBJECTIVE"
          ]
        },
        "updateTime": {
          "description": "Output only. The timestamp when the insertion order was last updated. Assigned by the system.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "bidStrategy": {
          "$ref": "BiddingStrategy",
          "description": "Optional. The bidding strategy of the insertion order. By default, fixed_bid is set. If the budget field automationType is set to `INSERTION_ORDER_AUTOMATION_TYPE_BUDGET` or `INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET`, the insertion order will impose this bidding strategy on its line items. If an imposed bidding strategy is not compatible with a line item's enableOptimizedTargeting setting, the optimized targeting setting will be updated."
        },
        "frequencyCap": {
          "description": "Required. The frequency capping setting of the insertion order.",
          "$ref": "FrequencyCap"
        },
        "insertionOrderId": {
          "description": "Output only. The unique ID of the insertion order. Assigned by the system.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "kpi": {
          "$ref": "Kpi",
          "description": "Required. The key performance indicator (KPI) of the insertion order. This is represented as referred to as the \"Goal\" in the Display & Video 360 interface."
        },
        "integrationDetails": {
          "description": "Optional. Additional integration details of the insertion order.",
          "$ref": "IntegrationDetails"
        },
        "advertiserId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the advertiser the insertion order belongs to."
        },
        "campaignId": {
          "description": "Required. Immutable. The unique ID of the campaign that the insertion order belongs to.",
          "format": "int64",
          "type": "string"
        },
        "entityStatus": {
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "description": "Required. Controls whether or not the insertion order can spend its budget and bid on inventory. * For CreateInsertionOrder method, only `ENTITY_STATUS_DRAFT` is allowed. To activate an insertion order, use UpdateInsertionOrder method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * An insertion order cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * An insertion order cannot be set to `ENTITY_STATUS_ACTIVE` if its parent campaign is not active.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ]
        }
      },
      "type": "object",
      "id": "InsertionOrder"
    },
    "AdPolicyTopicEvidenceDestinationTextList": {
      "id": "AdPolicyTopicEvidenceDestinationTextList",
      "type": "object",
      "description": "A list of destination text that violated the policy.",
      "properties": {
        "destinationTexts": {
          "description": "Destination text that caused the policy finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationListsResponse": {
      "properties": {
        "locationLists": {
          "description": "The list of location lists. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "LocationList"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListLocationLists` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListLocationListsResponse",
      "type": "object"
    },
    "MeasurementConfig": {
      "description": "Measurement settings of a partner.",
      "properties": {
        "dv360ToCmDataSharingEnabled": {
          "description": "Whether or not to include DV360 data in CM360 data transfer reports.",
          "type": "boolean"
        },
        "dv360ToCmCostReportingEnabled": {
          "description": "Whether or not to report DV360 cost to CM360.",
          "type": "boolean"
        }
      },
      "id": "MeasurementConfig",
      "type": "object"
    },
    "PerformanceGoalBidStrategy": {
      "description": "A strategy that automatically adjusts the bid to meet or beat a specified performance goal.",
      "properties": {
        "maxAverageCpmBidAmountMicros": {
          "description": "The maximum average CPM that may be bid, in micros of the advertiser's currency. Must be greater than or equal to a billable unit of the given currency. Not applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`. For example, 1500000 represents 1.5 standard units of the currency.",
          "format": "int64",
          "type": "string"
        },
        "customBiddingAlgorithmId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the Custom Bidding Algorithm used by this strategy. Only applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`. Assigning a custom bidding algorithm that uses floodlight activities not identified in floodlightActivityConfigs will return an error."
        },
        "performanceGoalType": {
          "type": "string",
          "enum": [
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_UNSPECIFIED",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED"
          ],
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Cost per action.",
            "Cost per click.",
            "Viewable CPM.",
            "Custom bidding algorithm.",
            "Completed inview and audible views.",
            "Inview time over 10 secs views.",
            "Viewable impressions."
          ],
          "description": "Required. The type of the performance goal that the bidding strategy will try to meet or beat. For line item level usage, the value must be one of: * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`."
        },
        "performanceGoalAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Required. The performance goal the bidding strategy will attempt to meet or beat, in micros of the advertiser's currency or in micro of the ROAS (Return On Advertising Spend) value which is also based on advertiser's currency. Must be greater than or equal to a billable unit of the given currency and smaller or equal to upper bounds. Each performance_goal_type has its upper bound: * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA`, upper bound is 10000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC`, upper bound is 1000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`, upper bound is 1000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`, upper bound is 1000.00 and lower bound is 0.01. Example: If set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`, the bid price will be based on the probability that each available impression will be viewable. For example, if viewable CPM target is $2 and an impression is 40% likely to be viewable, the bid price will be $0.80 CPM (40% of $2). For example, 1500000 represents 1.5 standard units of the currency or ROAS value."
        }
      },
      "type": "object",
      "id": "PerformanceGoalBidStrategy"
    },
    "ThirdPartyOnlyConfig": {
      "description": "Settings for advertisers that use third-party ad servers only.",
      "properties": {
        "pixelOrderIdReportingEnabled": {
          "description": "Whether or not order ID reporting for pixels is enabled. This value cannot be changed once set to `true`.",
          "type": "boolean"
        }
      },
      "id": "ThirdPartyOnlyConfig",
      "type": "object"
    },
    "BulkListAssignedTargetingOptionsResponse": {
      "properties": {
        "lineItemAssignedTargetingOptions": {
          "items": {
            "$ref": "LineItemAssignedTargetingOption"
          },
          "type": "array",
          "description": "The list of wrapper objects, each providing an assigned targeting option and the line item it is assigned to. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more line_item_assigned_targeting_options to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BulkListAssignedTargetingOptionsResponse"
    },
    "LineItemFlight": {
      "id": "LineItemFlight",
      "type": "object",
      "description": "Settings that control the active duration of a line item.",
      "properties": {
        "dateRange": {
          "description": "The flight start and end dates of the line item. They are resolved relative to the parent advertiser's time zone. * Required when flight_date_type is `LINE_ITEM_FLIGHT_DATE_TYPE_CUSTOM`. Output only otherwise. * When creating a new flight, both `start_date` and `end_date` must be in the future. * An existing flight with a `start_date` in the past has a mutable `end_date` but an immutable `start_date`. * `end_date` must be the `start_date` or later, both before the year 2037.",
          "$ref": "DateRange"
        },
        "flightDateType": {
          "type": "string",
          "enum": [
            "LINE_ITEM_FLIGHT_DATE_TYPE_UNSPECIFIED",
            "LINE_ITEM_FLIGHT_DATE_TYPE_INHERITED",
            "LINE_ITEM_FLIGHT_DATE_TYPE_CUSTOM"
          ],
          "description": "Required. The type of the line item's flight dates.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "The line item's flight dates are inherited from its parent insertion order.",
            "The line item uses its own custom flight dates."
          ]
        }
      }
    },
    "DemandGenBiddingStrategy": {
      "type": "object",
      "id": "DemandGenBiddingStrategy",
      "description": "Settings that control the bid strategy for Demand Gen resources.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_UNSPECIFIED",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSIONS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CONVERSION_VALUE",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_MAXIMIZE_CLICKS",
            "DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPC"
          ],
          "description": "Optional. The type of the bidding strategy. This can only be set when assigned to a line item. Ad groups will inherit this value from their line item.",
          "enumDescriptions": [
            "Type is not specified or unknown.",
            "A bidding strategy that automatically optimizes conversions per dollar.",
            "A bidding strategy that automatically maximizes revenue while averaging a specific target Return On Ad Spend (ROAS).",
            "A bidding strategy that automatically maximizes number of conversions",
            "A bidding strategy that automatically maximizes revenue while spending your budget.",
            "A bidding strategy that automatically maximizes clicks within a given budget.",
            "A bidding strategy that automatically optimizes cost per click."
          ]
        },
        "effectiveBiddingValueSource": {
          "enumDescriptions": [
            "Bidding source is not specified or unknown.",
            "Bidding value is inherited from the line item.",
            "Bidding value is defined in the ad group."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the effective bidding value.",
          "enum": [
            "BIDDING_SOURCE_UNSPECIFIED",
            "BIDDING_SOURCE_LINE_ITEM",
            "BIDDING_SOURCE_AD_GROUP"
          ]
        },
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The value used by the bidding strategy. This can be set when assigned to line items or ad groups. This field is only applicable for the following strategy types: * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA` * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPC` * `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS` Value of this field is in micros of the advertiser's currency or ROAS value. For example, 1000000 represents 1.0 standard units of the currency or 100% ROAS value. If not using an applicable strategy, the value of this field will be 0."
        },
        "effectiveBiddingValue": {
          "description": "Output only. The value effectively used by the bidding strategy. This field will be the same as value if set. If value is not set and the strategy is assigned to an ad group, this field will be inherited from the line item's bidding strategy. If type is not `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_CPA` or `DEMAND_GEN_BIDDING_STRATEGY_TYPE_TARGET_ROAS`, this field will be 0.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "LocationList": {
      "description": "A list of locations used for targeting.",
      "properties": {
        "locationType": {
          "type": "string",
          "enum": [
            "TARGETING_LOCATION_TYPE_UNSPECIFIED",
            "TARGETING_LOCATION_TYPE_PROXIMITY",
            "TARGETING_LOCATION_TYPE_REGIONAL"
          ],
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "The type for proximity geo location.",
            "The type for regional geo location."
          ],
          "description": "Required. Immutable. The type of location. All locations in the list will share this type."
        },
        "name": {
          "description": "Output only. The resource name of the location list.",
          "type": "string",
          "readOnly": true
        },
        "locationListId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the location list. Assigned by the system."
        },
        "displayName": {
          "description": "Required. The display name of the location list. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "Required. Immutable. The unique ID of the advertiser the location list belongs to."
        }
      },
      "id": "LocationList",
      "type": "object"
    },
    "ContentStreamTypeTargetingOptionDetails": {
      "description": "Represents a targetable content stream type. This will be populated in the content_stream_type_details field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`.",
      "properties": {
        "contentStreamType": {
          "enum": [
            "CONTENT_STREAM_TYPE_UNSPECIFIED",
            "CONTENT_LIVE_STREAM",
            "CONTENT_ON_DEMAND"
          ],
          "description": "Output only. The content stream type.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Content stream type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The content is being live-streamed.",
            "The content is viewed on-demand."
          ]
        }
      },
      "id": "ContentStreamTypeTargetingOptionDetails",
      "type": "object"
    },
    "ThirdPartyMeasurementConfigs": {
      "description": "Settings that control what third-party vendors are measuring specific line item metrics.",
      "properties": {
        "brandSafetyVendorConfigs": {
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "type": "array",
          "description": "Optional. The third-party vendors measuring brand safety. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_ZEFR` * `THIRD_PARTY_VENDOR_DOUBLE_VERIFY` * `THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE`"
        },
        "viewabilityVendorConfigs": {
          "description": "Optional. The third-party vendors measuring viewability. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_MOAT` * `THIRD_PARTY_VENDOR_DOUBLE_VERIFY` * `THIRD_PARTY_VENDOR_INTEGRAL_AD_SCIENCE` * `THIRD_PARTY_VENDOR_COMSCORE` * `THIRD_PARTY_VENDOR_TELEMETRY` * `THIRD_PARTY_VENDOR_MEETRICS`",
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "type": "array"
        },
        "reachVendorConfigs": {
          "description": "Optional. The third-party vendors measuring reach. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_NIELSEN` * `THIRD_PARTY_VENDOR_COMSCORE` * `THIRD_PARTY_VENDOR_KANTAR` * `THIRD_PARTY_VENDOR_VIDEO_RESEARCH` * `THIRD_PARTY_VENDOR_MEDIA_SCOPE` * `THIRD_PARTY_VENDOR_AUDIENCE_PROJECT` * `THIRD_PARTY_VENDOR_VIDEO_AMP` * `THIRD_PARTY_VENDOR_ISPOT_TV` * `THIRD_PARTY_VENDOR_GEMIUS`",
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "type": "array"
        },
        "brandLiftVendorConfigs": {
          "description": "Optional. The third-party vendors measuring brand lift. The following third-party vendors are applicable: * `THIRD_PARTY_VENDOR_DYNATA` * `THIRD_PARTY_VENDOR_KANTAR` * `THIRD_PARTY_VENDOR_INTAGE` * `THIRD_PARTY_VENDOR_NIELSEN` * `THIRD_PARTY_VENDOR_MACROMILL`",
          "items": {
            "$ref": "ThirdPartyVendorConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ThirdPartyMeasurementConfigs"
    },
    "AdPolicyTopicConstraintAdPolicyGlobalCertificateMissingConstraint": {
      "id": "AdPolicyTopicConstraintAdPolicyGlobalCertificateMissingConstraint",
      "type": "object",
      "description": "Certificate is required to serve in any country.",
      "properties": {}
    },
    "ScriptError": {
      "id": "ScriptError",
      "type": "object",
      "description": "An error message for a custom bidding script.",
      "properties": {
        "errorCode": {
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "SYNTAX_ERROR",
            "DEPRECATED_SYNTAX",
            "INTERNAL_ERROR"
          ],
          "description": "The type of error.",
          "enumDescriptions": [
            "The script error is not specified or is unknown in this version.",
            "The script has a syntax error.",
            "The script uses deprecated syntax.",
            "Internal errors were thrown while processing the script."
          ]
        },
        "line": {
          "description": "The line number in the script where the error was thrown.",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "description": "The column number in the script where the error was thrown.",
          "format": "int64",
          "type": "string"
        },
        "errorMessage": {
          "description": "The detailed error message.",
          "type": "string"
        }
      }
    },
    "SearchTargetingOptionsResponse": {
      "description": "Response message for SearchTargetingOptions.",
      "properties": {
        "targetingOptions": {
          "items": {
            "$ref": "TargetingOption"
          },
          "type": "array",
          "description": "The list of targeting options that match the search criteria. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `SearchTargetingOptions` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "SearchTargetingOptionsResponse",
      "type": "object"
    },
    "AdGroupAd": {
      "description": "A single ad associated with an ad group.",
      "properties": {
        "nonSkippableAd": {
          "readOnly": true,
          "$ref": "NonSkippableAd",
          "description": "Output only. Details of a [non-skippable short in-stream video ad](//support.google.com/displayvideo/answer/6274216), between 6 and 15 seconds, used for reach marketing objectives."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the ad."
        },
        "demandGenVideoAd": {
          "$ref": "DemandGenVideoAd",
          "description": "Details of a [Demand Gen video ad](//support.google.com/displayvideo/answer/15598924?&sjid=11207068802760924844-NC#VideoAd). Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users."
        },
        "videoDiscoverAd": {
          "readOnly": true,
          "$ref": "VideoDiscoveryAd",
          "description": "Output only. Details of an [ad promoting a video](//support.google.com/displayvideo/answer/6274216) that shows in places of discovery."
        },
        "adGroupAdId": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the ad. Assigned by the system."
        },
        "bumperAd": {
          "description": "Output only. Details of a [non-skippable short video ad](//support.google.com/displayvideo/answer/6274216), equal to or less than 6 seconds, used for reach.",
          "readOnly": true,
          "$ref": "BumperAd"
        },
        "displayName": {
          "description": "Required. The display name of the ad. Must be UTF-8 encoded with a maximum size of 255 bytes.",
          "type": "string"
        },
        "mastheadAd": {
          "readOnly": true,
          "$ref": "MastheadAd",
          "description": "Output only. Details of an [ad served on the YouTube Home feed](//support.google.com/google-ads/answer/9709826)."
        },
        "adPolicy": {
          "readOnly": true,
          "$ref": "AdPolicy",
          "description": "Output only. The policy approval status of the ad."
        },
        "displayVideoSourceAd": {
          "description": "Output only. Details of an ad sourced from a Display & Video 360 creative.",
          "readOnly": true,
          "$ref": "DisplayVideoSourceAd"
        },
        "videoPerformanceAd": {
          "description": "Output only. Details of an [ad used in a video action campaign](//support.google.com/google-ads/answer/10147229) to drive actions to the business, service or product.",
          "readOnly": true,
          "$ref": "VideoPerformanceAd"
        },
        "adGroupId": {
          "description": "Required. Immutable. The unique ID of the ad group that the ad belongs to.",
          "type": "string",
          "format": "int64"
        },
        "demandGenImageAd": {
          "description": "Details of a [Demand Gen image ad](//support.google.com/displayvideo/answer/15598924?&sjid=11207068802760924844-NC#ImageAd). Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users.",
          "$ref": "DemandGenImageAd"
        },
        "audioAd": {
          "readOnly": true,
          "$ref": "AudioAd",
          "description": "Output only. Details of an [audio ad](//support.google.com/displayvideo/answer/6274216) used for reach marketing objectives."
        },
        "advertiserId": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the advertiser the ad belongs to."
        },
        "inStreamAd": {
          "description": "Output only. Details of an [in-stream ad skippable after 5 seconds](//support.google.com/displayvideo/answer/6274216), used for brand awareness or reach marketing objectives.",
          "readOnly": true,
          "$ref": "InStreamAd"
        },
        "dcmTrackingInfo": {
          "$ref": "DcmTrackingInfo",
          "description": "Optional. The DCM tracking ad info. Only valid for Demand Gen ads. To remove the DCM tracking ad info, please leave this field empty. Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users."
        },
        "entityStatus": {
          "type": "string",
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "description": "Required. The entity status of the ad."
        },
        "demandGenCarouselAd": {
          "$ref": "DemandGenCarouselAd",
          "description": "Details of a [Demand Gen carousel ad](//support.google.com/displayvideo/answer/15598924?&sjid=11207068802760924844-NC#CarouselAd). Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users."
        },
        "demandGenProductAd": {
          "$ref": "DemandGenProductAd",
          "description": "Details of a [Demand Gen product ad](//support.google.com/displayvideo/answer/15598924?&sjid=11207068802760924844-NC#Product-onlyAd). Retrieval and management of Demand Gen resources is currently in beta. This field is only available to allowlisted users."
        },
        "adUrls": {
          "readOnly": true,
          "items": {
            "$ref": "AdUrl"
          },
          "type": "array",
          "description": "Output only. List of URLs used by the ad."
        }
      },
      "id": "AdGroupAd",
      "type": "object"
    },
    "BulkEditAdvertiserAssignedTargetingOptionsResponse": {
      "properties": {
        "createdAssignedTargetingOptions": {
          "description": "The list of assigned targeting options that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BulkEditAdvertiserAssignedTargetingOptionsResponse"
    },
    "PartnerBillingConfig": {
      "type": "object",
      "id": "PartnerBillingConfig",
      "description": "Billing related settings of a partner.",
      "properties": {
        "billingProfileId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of a partner default billing profile."
        }
      }
    },
    "ListAssignedLocationsResponse": {
      "description": "Response message for AssignedLocationService.ListAssignedLocations.",
      "properties": {
        "assignedLocations": {
          "type": "array",
          "items": {
            "$ref": "AssignedLocation"
          },
          "description": "The list of assigned locations. This list will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAssignedLocations` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAssignedLocationsResponse"
    },
    "ProximityLocationListAssignedTargetingOptionDetails": {
      "description": "Targeting details for proximity location list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_PROXIMITY_LOCATION_LIST`.",
      "properties": {
        "proximityRadiusUnit": {
          "enumDescriptions": [
            "Default value when distance units is not specified in this version. This enum is a place holder for default value and does not represent a real distance unit.",
            "Radius distance unit in miles.",
            "Radius distance unit in kilometeres"
          ],
          "description": "Required. Radius distance units.",
          "type": "string",
          "enum": [
            "PROXIMITY_RADIUS_UNIT_UNSPECIFIED",
            "PROXIMITY_RADIUS_UNIT_MILES",
            "PROXIMITY_RADIUS_UNIT_KILOMETERS"
          ]
        },
        "proximityRadius": {
          "description": "Required. Radius expressed in the distance units set in proximity_radius_unit. This represents the size of the area around a chosen location that will be targeted. Radius should be between 1 and 500 miles or 800 kilometers.",
          "type": "number",
          "format": "double"
        },
        "proximityLocationListId": {
          "format": "int64",
          "type": "string",
          "description": "Required. ID of the proximity location list. Should refer to the location_list_id field of a LocationList resource whose type is `TARGETING_LOCATION_TYPE_PROXIMITY`."
        }
      },
      "type": "object",
      "id": "ProximityLocationListAssignedTargetingOptionDetails"
    },
    "TargetingOption": {
      "description": "Represents a single targeting option, which is a targetable concept in DV360.",
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A unique identifier for this targeting option. The tuple {`targeting_type`, `targeting_option_id`} will be unique."
        },
        "sensitiveCategoryDetails": {
          "description": "Sensitive Category details.",
          "$ref": "SensitiveCategoryTargetingOptionDetails"
        },
        "environmentDetails": {
          "description": "Environment details.",
          "$ref": "EnvironmentTargetingOptionDetails"
        },
        "browserDetails": {
          "description": "Browser details.",
          "$ref": "BrowserTargetingOptionDetails"
        },
        "targetingType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when type is not specified or is unknown in this version.",
            "Target a channel (a custom group of related websites or apps).",
            "Target an app category (for example, education or puzzle games).",
            "Target a specific app (for example, Angry Birds).",
            "Target a specific url (for example, quora.com).",
            "Target ads during a chosen time period on a specific day.",
            "Target ads to a specific age range (for example, 18-24).",
            "Target ads to the specified regions on a regional location list.",
            "Target ads to the specified points of interest on a proximity location list.",
            "Target ads to a specific gender (for example, female or male).",
            "Target a specific video player size for video ads.",
            "Target user rewarded content for video ads.",
            "Target ads to a specific parental status (for example, parent or not a parent).",
            "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
            "Target ads in a specific content outstream position.",
            "Target ads to a specific device type (for example, tablet or connected TV).",
            "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
            "Target ads to specific web browsers (for example, Chrome).",
            "Target ads to a specific household income range (for example, top 10%).",
            "Target ads in a specific on screen position.",
            "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
            "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
            "Filter website content by sensitive categories (for example, adult).",
            "Target ads to a specific environment (for example, web or app).",
            "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
            "Target ads to a specific operating system (for example, macOS).",
            "Target ads to a specific device make or model (for example, Roku or Samsung).",
            "Target ads to a specific keyword (for example, dog or retriever).",
            "Target ads to a specific negative keyword list.",
            "Target ads to a specific viewability (for example, 80% viewable).",
            "Target ads to a specific content category (for example, arts & entertainment).",
            "Purchase impressions from specific deals and auction packages.",
            "Target ads to a specific language (for example, English or Japanese).",
            "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
            "Target ads to a specific regional location (for example, a city or state).",
            "Purchase impressions from a group of deals and auction packages.",
            "Purchase impressions from specific exchanges.",
            "Purchase impressions from specific sub-exchanges.",
            "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
            "Target ads around locations of a business chain within a specific geo region.",
            "Target ads to a specific video content duration.",
            "Target ads to a specific video content stream type.",
            "Target ads to a specific native content position.",
            "Target ads in an Open Measurement enabled inventory.",
            "Target ads to a specific audio content type.",
            "Target ads to a specific content genre.",
            "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
            "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
            "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources."
          ],
          "enum": [
            "TARGETING_TYPE_UNSPECIFIED",
            "TARGETING_TYPE_CHANNEL",
            "TARGETING_TYPE_APP_CATEGORY",
            "TARGETING_TYPE_APP",
            "TARGETING_TYPE_URL",
            "TARGETING_TYPE_DAY_AND_TIME",
            "TARGETING_TYPE_AGE_RANGE",
            "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
            "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
            "TARGETING_TYPE_GENDER",
            "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
            "TARGETING_TYPE_USER_REWARDED_CONTENT",
            "TARGETING_TYPE_PARENTAL_STATUS",
            "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
            "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
            "TARGETING_TYPE_DEVICE_TYPE",
            "TARGETING_TYPE_AUDIENCE_GROUP",
            "TARGETING_TYPE_BROWSER",
            "TARGETING_TYPE_HOUSEHOLD_INCOME",
            "TARGETING_TYPE_ON_SCREEN_POSITION",
            "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
            "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
            "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
            "TARGETING_TYPE_ENVIRONMENT",
            "TARGETING_TYPE_CARRIER_AND_ISP",
            "TARGETING_TYPE_OPERATING_SYSTEM",
            "TARGETING_TYPE_DEVICE_MAKE_MODEL",
            "TARGETING_TYPE_KEYWORD",
            "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
            "TARGETING_TYPE_VIEWABILITY",
            "TARGETING_TYPE_CATEGORY",
            "TARGETING_TYPE_INVENTORY_SOURCE",
            "TARGETING_TYPE_LANGUAGE",
            "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
            "TARGETING_TYPE_GEO_REGION",
            "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
            "TARGETING_TYPE_EXCHANGE",
            "TARGETING_TYPE_SUB_EXCHANGE",
            "TARGETING_TYPE_POI",
            "TARGETING_TYPE_BUSINESS_CHAIN",
            "TARGETING_TYPE_CONTENT_DURATION",
            "TARGETING_TYPE_CONTENT_STREAM_TYPE",
            "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
            "TARGETING_TYPE_OMID",
            "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
            "TARGETING_TYPE_CONTENT_GENRE",
            "TARGETING_TYPE_YOUTUBE_VIDEO",
            "TARGETING_TYPE_YOUTUBE_CHANNEL",
            "TARGETING_TYPE_SESSION_POSITION",
            "TARGETING_TYPE_CONTENT_THEME_EXCLUSION"
          ],
          "description": "Output only. The type of this targeting option."
        },
        "contentOutstreamPositionDetails": {
          "description": "Content outstream position details.",
          "$ref": "ContentOutstreamPositionTargetingOptionDetails"
        },
        "subExchangeDetails": {
          "description": "Sub-exchange details.",
          "$ref": "SubExchangeTargetingOptionDetails"
        },
        "contentStreamTypeDetails": {
          "$ref": "ContentStreamTypeTargetingOptionDetails",
          "description": "Content stream type resource details."
        },
        "deviceMakeModelDetails": {
          "description": "Device make and model resource details.",
          "$ref": "DeviceMakeModelTargetingOptionDetails"
        },
        "ageRangeDetails": {
          "description": "Age range details.",
          "$ref": "AgeRangeTargetingOptionDetails"
        },
        "authorizedSellerStatusDetails": {
          "$ref": "AuthorizedSellerStatusTargetingOptionDetails",
          "description": "Authorized seller status resource details."
        },
        "businessChainDetails": {
          "$ref": "BusinessChainTargetingOptionDetails",
          "description": "Business chain resource details."
        },
        "deviceTypeDetails": {
          "description": "Device type details.",
          "$ref": "DeviceTypeTargetingOptionDetails"
        },
        "exchangeDetails": {
          "$ref": "ExchangeTargetingOptionDetails",
          "description": "Exchange details."
        },
        "onScreenPositionDetails": {
          "$ref": "OnScreenPositionTargetingOptionDetails",
          "description": "On screen position details."
        },
        "poiDetails": {
          "description": "POI resource details.",
          "$ref": "PoiTargetingOptionDetails"
        },
        "appCategoryDetails": {
          "description": "App category details.",
          "$ref": "AppCategoryTargetingOptionDetails"
        },
        "userRewardedContentDetails": {
          "$ref": "UserRewardedContentTargetingOptionDetails",
          "description": "User rewarded content details."
[...]
