{
  "title": "Display & Video 360 API",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "servicePath": "",
  "name": "displayvideo",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "ownerName": "Google",
  "basePath": "",
  "revision": "20260312",
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/display-video/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v4",
  "id": "displayvideo:v4",
  "ownerDomain": "google.com",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "schemas": {
    "GeoRegionSearchTerms": {
      "id": "GeoRegionSearchTerms",
      "properties": {
        "geoRegionQuery": {
          "description": "The search query for the desired geo region. The query can be a prefix, e.g. \"New Yor\", \"Seattle\", \"USA\", etc.",
          "type": "string"
        }
      },
      "description": "Search terms for geo region targeting options.",
      "type": "object"
    },
    "MeasurementConfig": {
      "id": "MeasurementConfig",
      "properties": {
        "dv360ToCmCostReportingEnabled": {
          "description": "Whether or not to report DV360 cost to CM360.",
          "type": "boolean"
        },
        "dv360ToCmDataSharingEnabled": {
          "description": "Whether or not to include DV360 data in CM360 data transfer reports.",
          "type": "boolean"
        }
      },
      "description": "Measurement settings of a partner.",
      "type": "object"
    },
    "DayAndTime": {
      "description": "Representation of time defined by day of the week and hour of the day.",
      "type": "object",
      "id": "DayAndTime",
      "properties": {
        "hourOfDay": {
          "type": "integer",
          "description": "Required. Hour of the day.",
          "format": "int32"
        },
        "timeZoneResolution": {
          "description": "Required. The mechanism used to determine the relevant timezone.",
          "enumDescriptions": [
            "Time zone resolution is either unspecific or unknown.",
            "Times are resolved in the time zone of the user that saw the ad.",
            "Times are resolved in the time zone of the advertiser that served the ad."
          ],
          "enum": [
            "TIME_ZONE_RESOLUTION_UNSPECIFIED",
            "TIME_ZONE_RESOLUTION_END_USER",
            "TIME_ZONE_RESOLUTION_ADVERTISER"
          ],
          "type": "string"
        },
        "dayOfWeek": {
          "description": "Required. Day of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        }
      }
    },
    "Site": {
      "type": "object",
      "description": "A single site. Sites are apps or websites belonging to a channel.",
      "id": "Site",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the site.",
          "type": "string",
          "readOnly": true
        },
        "urlOrAppId": {
          "type": "string",
          "description": "Required. The app ID or URL of the site. Must be UTF-8 encoded with a maximum length of 240 bytes."
        }
      }
    },
    "BulkEditAdGroupAssignedTargetingOptionsResponse": {
      "id": "BulkEditAdGroupAssignedTargetingOptionsResponse",
      "properties": {
        "failedAdGroupIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The IDs of the ad groups which failed to update.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "updatedAdGroupIds": {
          "type": "array",
          "description": "Output only. The IDs of the ad groups which were successfully updated.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true
        },
        "errors": {
          "description": "Output only. The error information for each ad group that failed to update.",
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for BulkEditAssignedTargetingOptions."
    },
    "EditCustomerMatchMembersResponse": {
      "description": "The response of FirstAndThirdPartyAudienceService.EditCustomerMatchMembers.",
      "type": "object",
      "id": "EditCustomerMatchMembersResponse",
      "properties": {
        "firstPartyAndPartnerAudienceId": {
          "format": "int64",
          "description": "Required. The ID of the updated Customer Match FirstPartyAndPartnerAudience.",
          "type": "string"
        }
      }
    },
    "EditGuaranteedOrderReadAccessorsResponse": {
      "type": "object",
      "id": "EditGuaranteedOrderReadAccessorsResponse",
      "properties": {
        "readAccessInherited": {
          "description": "Whether all advertisers of read_write_partner_id have read access to the guaranteed order.",
          "type": "boolean"
        },
        "readAdvertiserIds": {
          "description": "The IDs of advertisers with read access to the guaranteed order.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      }
    },
    "BulkEditAssignedLocationsResponse": {
      "id": "BulkEditAssignedLocationsResponse",
      "properties": {
        "assignedLocations": {
          "type": "array",
          "description": "The list of assigned locations that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedLocation"
          }
        }
      },
      "type": "object"
    },
    "AdPolicyTopicEntry": {
      "id": "AdPolicyTopicEntry",
      "properties": {
        "policyEnforcementMeans": {
          "description": "The policy enforcement means used in the policy review.",
          "enumDescriptions": [
            "Unknown or not specified.",
            "The enforcement process was fully automated.",
            "A human was partially or fully involved in the decision enforcement process."
          ],
          "enum": [
            "AD_POLICY_ENFORCEMENT_MEANS_UNKNOWN",
            "AUTOMATED",
            "HUMAN_REVIEW"
          ],
          "type": "string"
        },
        "policyTopic": {
          "type": "string",
          "description": "The policy topic. Examples include \"TRADEMARKS\", \"ALCOHOL\", etc."
        },
        "helpCenterLink": {
          "description": "Ad policy help center link for the policy topic.",
          "type": "string"
        },
        "policyLabel": {
          "type": "string",
          "description": "Localized label text for policy. Examples include \"Trademarks in text\", \"Contains Alcohol\", etc."
        },
        "appealInfo": {
          "$ref": "AdPolicyTopicAppealInfo",
          "description": "Information on how to appeal the policy decision."
        },
        "policyTopicType": {
          "type": "string",
          "description": "How ad serving will be affected due to the relation to the ad policy topic.",
          "enumDescriptions": [
            "Unknown or not specified.",
            "The resource will not serve.",
            "The resource will not serve in all targeted countries.",
            "The resource cannot serve in some countries.",
            "The resource can serve.",
            "The resource can serve, and may serve beyond normal coverage.",
            "The resource is constrained for all targeted countries, but may serve for users who are searching for information about the targeted countries."
          ],
          "enum": [
            "AD_POLICY_TOPIC_ENTRY_TYPE_UNKNOWN",
            "PROHIBITED",
            "FULLY_LIMITED",
            "LIMITED",
            "DESCRIPTIVE",
            "BROADENING",
            "AREA_OF_INTEREST_ONLY"
          ]
        },
        "policyDecisionType": {
          "description": "The source of the policy decision.",
          "enumDescriptions": [
            "Unknown or not specified.",
            "The decision is from a legal notice, court order, or trademark content owner complaint, etc.",
            "The decision is from a Google-owned investigation."
          ],
          "enum": [
            "AD_POLICY_DECISION_TYPE_UNKNOWN",
            "PURSUANT_TO_NOTICE",
            "GOOGLE_INVESTIGATION"
          ],
          "type": "string"
        },
        "policyTopicConstraints": {
          "type": "array",
          "description": "The serving constraints relevant to the policy decision.",
          "items": {
            "$ref": "AdPolicyTopicConstraint"
          }
        },
        "policyTopicDescription": {
          "description": "A short summary description of the policy topic.",
          "type": "string"
        },
        "policyTopicEvidences": {
          "description": "The evidence used in the policy decision.",
          "items": {
            "$ref": "AdPolicyTopicEvidence"
          },
          "type": "array"
        }
      },
      "description": "An entry describing how an ad has been identified as relating to an ad policy.",
      "type": "object"
    },
    "BulkEditAssignedUserRolesRequest": {
      "id": "BulkEditAssignedUserRolesRequest",
      "properties": {
        "deletedAssignedUserRoles": {
          "type": "array",
          "description": "The assigned user roles to delete in batch, specified as a list of assigned_user_role_ids. The format of assigned_user_role_id is `entityType-entityid`, for example `partner-123`.",
          "items": {
            "type": "string"
          }
        },
        "createdAssignedUserRoles": {
          "type": "array",
          "description": "The assigned user roles to create in batch, specified as a list of AssignedUserRoles.",
          "items": {
            "$ref": "AssignedUserRole"
          }
        }
      },
      "type": "object",
      "description": "Request message for BulkEditAssignedUserRoles."
    },
    "RegionalLocationListAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Targeting details for regional location list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_REGIONAL_LOCATION_LIST`.",
      "id": "RegionalLocationListAssignedTargetingOptionDetails",
      "properties": {
        "regionalLocationListId": {
          "format": "int64",
          "description": "Required. ID of the regional location list. Should refer to the location_list_id field of a LocationList resource whose type is `TARGETING_LOCATION_TYPE_REGIONAL`.",
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        }
      }
    },
    "AlgorithmRules": {
      "id": "AlgorithmRules",
      "properties": {
        "postImpressionSignalRuleset": {
          "description": "Rules for the post-impression signals. This field is only supported for allowlisted partners.",
          "$ref": "AlgorithmRulesRuleset"
        },
        "impressionSignalRuleset": {
          "description": "Rules for the impression signals.",
          "$ref": "AlgorithmRulesRuleset"
        },
        "attributionModelId": {
          "format": "int64",
          "description": "Attribution model for the algorithm. This field is only supported for allowlisted partners.",
          "type": "string"
        }
      },
      "description": "Rule-based algorithm.",
      "type": "object"
    },
    "VideoAdSequenceStep": {
      "description": "The detail of a single step in a VideoAdSequence.",
      "type": "object",
      "id": "VideoAdSequenceStep",
      "properties": {
        "stepId": {
          "type": "string",
          "description": "The ID of the step.",
          "format": "int64"
        },
        "interactionType": {
          "description": "The interaction on the previous step that will lead the viewer to this step. The first step does not have interaction_type.",
          "enumDescriptions": [
            "Unspecified or unknown",
            "A paid view.",
            "Skipped by the viewer.",
            "A (viewed) ad impression.",
            "An ad impression that was not immediately skipped by the viewer, but didn't reach the billable event either."
          ],
          "enum": [
            "INTERACTION_TYPE_UNSPECIFIED",
            "INTERACTION_TYPE_PAID_VIEW",
            "INTERACTION_TYPE_SKIP",
            "INTERACTION_TYPE_IMPRESSION",
            "INTERACTION_TYPE_ENGAGED_IMPRESSION"
          ],
          "type": "string"
        },
        "adGroupId": {
          "description": "The ID of the corresponding ad group of the step.",
          "type": "string",
          "format": "int64"
        },
        "previousStepId": {
          "type": "string",
          "description": "The ID of the previous step. The first step does not have previous step.",
          "format": "int64"
        }
      }
    },
    "ExitEvent": {
      "id": "ExitEvent",
      "properties": {
        "url": {
          "description": "Required. The click through URL of the exit event. This is required when type is: * `EXIT_EVENT_TYPE_DEFAULT` * `EXIT_EVENT_TYPE_BACKUP`",
          "type": "string"
        },
        "reportingName": {
          "type": "string",
          "description": "Optional. The name used to identify this event in reports. Leave it empty or unset for creatives containing image assets only."
        },
        "type": {
          "description": "Required. The type of the exit event.",
          "enumDescriptions": [
            "Exit event type is not specified or is unknown in this version.",
            "The exit event is the default one.",
            "The exit event is a backup exit event. There could be multiple backup exit events in a creative."
          ],
          "enum": [
            "EXIT_EVENT_TYPE_UNSPECIFIED",
            "EXIT_EVENT_TYPE_DEFAULT",
            "EXIT_EVENT_TYPE_BACKUP"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of the click tag of the exit event. The name must be unique within one creative. Leave it empty or unset for creatives containing image assets only."
        }
      },
      "description": "Exit event of the creative.",
      "type": "object"
    },
    "GenderAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Details for assigned gender targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GENDER`.",
      "id": "GenderAssignedTargetingOptionDetails",
      "properties": {
        "gender": {
          "type": "string",
          "description": "Required. The gender of the audience.",
          "enumDescriptions": [
            "Default value when gender is not specified in this version. This enum is a place holder for default value and does not represent a real gender option.",
            "The audience gender is male.",
            "The audience gender is female.",
            "The audience gender is unknown."
          ],
          "enum": [
            "GENDER_UNSPECIFIED",
            "GENDER_MALE",
            "GENDER_FEMALE",
            "GENDER_UNKNOWN"
          ]
        }
      }
    },
    "PoiAssignedTargetingOptionDetails": {
      "id": "PoiAssignedTargetingOptionDetails",
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_POI`. Accepted POI targeting option IDs can be retrieved using `targetingTypes.targetingOptions.search`. If targeting a specific latitude/longitude coordinate removed from an address or POI name, you can generate the necessary targeting option ID by rounding the desired coordinate values to the 6th decimal place, removing the decimals, and concatenating the string values separated by a semicolon. For example, you can target the latitude/longitude pair of 40.7414691, -74.003387 using the targeting option ID \"40741469;-74003387\". **Upon** **creation, this field value will be updated to append a semicolon and** **alphanumerical hash value if only latitude/longitude coordinates are** **provided.**"
        },
        "longitude": {
          "type": "number",
          "description": "Output only. Longitude of the POI rounding to 6th decimal place.",
          "format": "double",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of a POI, e.g. \"Times Square\", \"Space Needle\", followed by its full address if available."
        },
        "latitude": {
          "type": "number",
          "description": "Output only. Latitude of the POI rounding to 6th decimal place.",
          "format": "double",
          "readOnly": true
        },
        "proximityRadiusAmount": {
          "format": "double",
          "type": "number",
          "description": "Required. The radius of the area around the POI that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`."
        },
        "proximityRadiusUnit": {
          "type": "string",
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        }
      },
      "type": "object",
      "description": "Details for assigned POI targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_POI`."
    },
    "ListLineItemsResponse": {
      "id": "ListLineItemsResponse",
      "properties": {
        "lineItems": {
          "description": "The list of line items. This list will be absent if empty.",
          "items": {
            "$ref": "LineItem"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListLineItems` method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "CustomLabel": {
      "id": "CustomLabel",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the label.",
          "enumDescriptions": [
            "Not specified or unknown.",
            "Key index 0.",
            "Key index 1.",
            "Key index 2.",
            "Key index 3.",
            "Key index 4."
          ],
          "enum": [
            "CUSTOM_LABEL_KEY_UNSPECIFIED",
            "CUSTOM_LABEL_KEY_0",
            "CUSTOM_LABEL_KEY_1",
            "CUSTOM_LABEL_KEY_2",
            "CUSTOM_LABEL_KEY_3",
            "CUSTOM_LABEL_KEY_4"
          ]
        },
        "value": {
          "description": "The value of the label.",
          "type": "string"
        }
      },
      "description": "The key and value of a custom label.",
      "type": "object"
    },
    "PerformanceGoalBidStrategy": {
      "type": "object",
      "description": "A strategy that automatically adjusts the bid to meet or beat a specified performance goal.",
      "id": "PerformanceGoalBidStrategy",
      "properties": {
        "maxAverageCpmBidAmountMicros": {
          "description": "The maximum average CPM that may be bid, in micros of the advertiser's currency. Must be greater than or equal to a billable unit of the given currency. Not applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`. For example, 1500000 represents 1.5 standard units of the currency.",
          "type": "string",
          "format": "int64"
        },
        "customBiddingAlgorithmId": {
          "description": "The ID of the Custom Bidding Algorithm used by this strategy. Only applicable when performance_goal_type is set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`. Assigning a custom bidding algorithm that uses floodlight activities not identified in floodlightActivityConfigs will return an error.",
          "type": "string",
          "format": "int64"
        },
        "performanceGoalAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "Required. The performance goal the bidding strategy will attempt to meet or beat, in micros of the advertiser's currency or in micro of the ROAS (Return On Advertising Spend) value which is also based on advertiser's currency. Must be greater than or equal to a billable unit of the given currency and smaller or equal to upper bounds. Each performance_goal_type has its upper bound: * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA`, upper bound is 10000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC`, upper bound is 1000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`, upper bound is 1000.00 USD. * when performance_goal_type is `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`, upper bound is 1000.00 and lower bound is 0.01. Example: If set to `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM`, the bid price will be based on the probability that each available impression will be viewable. For example, if viewable CPM target is $2 and an impression is 40% likely to be viewable, the bid price will be $0.80 CPM (40% of $2). For example, 1500000 represents 1.5 standard units of the currency or ROAS value."
        },
        "performanceGoalType": {
          "description": "Required. The type of the performance goal that the bidding strategy will try to meet or beat. For line item level usage, the value must be one of: * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM` * `BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO`.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Cost per action.",
            "Cost per click.",
            "Viewable CPM.",
            "Custom bidding algorithm.",
            "Completed inview and audible views.",
            "Inview time over 10 secs views.",
            "Viewable impressions.",
            "Maximize reach."
          ],
          "enum": [
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_UNSPECIFIED",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CPC",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_VIEWABLE_CPM",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CUSTOM_ALGO",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_CIVA",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_IVO_TEN",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_AV_VIEWED",
            "BIDDING_STRATEGY_PERFORMANCE_GOAL_TYPE_REACH"
          ],
          "type": "string"
        }
      }
    },
    "InventorySourceAccessorsAdvertiserAccessors": {
      "id": "InventorySourceAccessorsAdvertiserAccessors",
      "properties": {
        "advertiserIds": {
          "type": "array",
          "description": "The IDs of the advertisers.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "description": "The advertisers with access to the inventory source."
    },
    "Campaign": {
      "description": "A single campaign.",
      "type": "object",
      "id": "Campaign",
      "properties": {
        "campaignGoal": {
          "description": "Required. The goal of the campaign.",
          "$ref": "CampaignGoal"
        },
        "advertiserId": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the advertiser the campaign belongs to."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the campaign was last updated. Assigned by the system.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the campaign.",
          "type": "string"
        },
        "campaignId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the campaign. Assigned by the system.",
          "type": "string"
        },
        "entityStatus": {
          "type": "string",
          "description": "Required. Controls whether or not the insertion orders under this campaign can spend their budgets and bid on inventory. * Accepted values are `ENTITY_STATUS_ACTIVE`, `ENTITY_STATUS_ARCHIVED`, and `ENTITY_STATUS_PAUSED`. * For CreateCampaign method, `ENTITY_STATUS_ARCHIVED` is not allowed.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "frequencyCap": {
          "$ref": "FrequencyCap",
          "description": "Required. The frequency cap setting of the campaign. *Warning*: On **February 28, 2025**, frequency cap time periods greater than 30 days will no longer be accepted. [Read more about this announced change](/display-video/api/deprecations#features.lifetime_frequency_cap)"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the campaign. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "campaignFlight": {
          "$ref": "CampaignFlight",
          "description": "Required. The planned spend and duration of the campaign."
        },
        "campaignBudgets": {
          "type": "array",
          "description": "The list of budgets available to this campaign. If this field is not set, the campaign uses an unlimited budget.",
          "items": {
            "$ref": "CampaignBudget"
          }
        }
      }
    },
    "FloodlightActivity": {
      "type": "object",
      "description": "A single Floodlight activity.",
      "id": "FloodlightActivity",
      "properties": {
        "displayName": {
          "description": "Required. The display name of the Floodlight activity.",
          "type": "string"
        },
        "servingStatus": {
          "description": "Optional. Whether the Floodlight activity is served.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Enabled.",
            "Disabled."
          ],
          "enum": [
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_UNSPECIFIED",
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_ENABLED",
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_DISABLED"
          ],
          "type": "string"
        },
        "remarketingConfigs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of configuration objects designating whether remarketing for this Floodlight Activity is enabled and available for a specifc advertiser. If enabled, this Floodlight Activity generates a remarketing user list that is able to be used in targeting under the advertiser.",
          "items": {
            "$ref": "RemarketingConfig"
          }
        },
        "sslRequired": {
          "type": "boolean",
          "description": "Output only. Whether tags are required to be compliant.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Floodlight activity."
        },
        "floodlightGroupId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Immutable. The ID of the parent Floodlight group."
        },
        "floodlightActivityId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the Floodlight activity. Assigned by the system.",
          "type": "string"
        },
        "advertiserIds": {
          "description": "Output only. IDs of the advertisers that have access to the parent Floodlight group. Only advertisers under the provided partner ID will be listed in this field.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "UniversalAdId": {
      "type": "object",
      "description": "A creative identifier provided by a registry that is unique across all platforms. This is part of the VAST 4.0 standard.",
      "id": "UniversalAdId",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The unique creative identifier."
        },
        "registry": {
          "description": "Optional. The registry provides unique creative identifiers.",
          "enumDescriptions": [
            "The Universal Ad registry is unspecified or is unknown in this version.",
            "Use a custom provider to provide the Universal Ad ID.",
            "Use Ad-ID to provide the Universal Ad ID.",
            "Use clearcast.co.uk to provide the Universal Ad ID.",
            "Use Display & Video 360 to provide the Universal Ad ID.",
            "Use Campaign Manager 360 to provide the Universal Ad ID."
          ],
          "enum": [
            "UNIVERSAL_AD_REGISTRY_UNSPECIFIED",
            "UNIVERSAL_AD_REGISTRY_OTHER",
            "UNIVERSAL_AD_REGISTRY_AD_ID",
            "UNIVERSAL_AD_REGISTRY_CLEARCAST",
            "UNIVERSAL_AD_REGISTRY_DV360",
            "UNIVERSAL_AD_REGISTRY_CM"
          ],
          "type": "string"
        }
      }
    },
    "InsertionOrder": {
      "id": "InsertionOrder",
      "properties": {
        "campaignId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Immutable. The unique ID of the campaign that the insertion order belongs to."
        },
        "bidStrategy": {
          "description": "Optional. The bidding strategy of the insertion order. By default, fixed_bid is set. If the budget field automationType is set to `INSERTION_ORDER_AUTOMATION_TYPE_BUDGET` or `INSERTION_ORDER_AUTOMATION_TYPE_BID_BUDGET`, the insertion order will impose this bidding strategy on its line items. If an imposed bidding strategy is not compatible with a line item's enableOptimizedTargeting setting, the optimized targeting setting will be updated.",
          "$ref": "BiddingStrategy"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the insertion order."
        },
        "budget": {
          "$ref": "InsertionOrderBudget",
          "description": "Required. The budget allocation settings of the insertion order."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the insertion order. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "frequencyCap": {
          "$ref": "FrequencyCap",
          "description": "Required. The frequency capping setting of the insertion order."
        },
        "partnerCosts": {
          "description": "Optional. The partner costs associated with the insertion order. If absent or empty in CreateInsertionOrder method, the newly created insertion order will inherit partner costs from the partner settings.",
          "items": {
            "$ref": "PartnerCost"
          },
          "type": "array"
        },
        "reservationType": {
          "readOnly": true,
          "description": "Output only. The reservation type of the insertion order.",
          "enumDescriptions": [
            "Reservation type value is not specified or is unknown in this version.",
            "Not created through a guaranteed inventory source.",
            "Created through a programmatic guaranteed inventory source.",
            "Created through a tag guaranteed inventory source.",
            "Created through a Petra inventory source. Only applicable to YouTube and Partners line items.",
            "Created with an instant quote. Only applicable to YouTube and partners line items."
          ],
          "type": "string",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "RESERVATION_TYPE_NOT_GUARANTEED",
            "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED",
            "RESERVATION_TYPE_TAG_GUARANTEED",
            "RESERVATION_TYPE_PETRA_VIRAL",
            "RESERVATION_TYPE_INSTANT_RESERVE"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the insertion order was last updated. Assigned by the system.",
          "format": "google-datetime",
          "readOnly": true
        },
        "entityStatus": {
          "description": "Required. Controls whether or not the insertion order can spend its budget and bid on inventory. * For CreateInsertionOrder method, only `ENTITY_STATUS_DRAFT` is allowed. To activate an insertion order, use UpdateInsertionOrder method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * An insertion order cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * An insertion order cannot be set to `ENTITY_STATUS_ACTIVE` if its parent campaign is not active.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ],
          "type": "string"
        },
        "insertionOrderType": {
          "description": "Optional. The type of insertion order. If this field is unspecified in creation, the value defaults to `RTB`.",
          "enumDescriptions": [
            "Insertion order type is not specified or is unknown.",
            "Real-time bidding.",
            "Over-the-top."
          ],
          "enum": [
            "INSERTION_ORDER_TYPE_UNSPECIFIED",
            "RTB",
            "OVER_THE_TOP"
          ],
          "type": "string"
        },
        "integrationDetails": {
          "$ref": "IntegrationDetails",
          "description": "Optional. Additional integration details of the insertion order."
        },
        "insertionOrderId": {
          "type": "string",
          "description": "Output only. The unique ID of the insertion order. Assigned by the system.",
          "format": "int64",
          "readOnly": true
        },
        "optimizationObjective": {
          "type": "string",
          "description": "Optional. Required. The optimization objective of the insertion order.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Prioritize impressions that increase sales and conversions.",
            "Prioritize impressions that increase website traffic, apps, app stores.",
            "Prioritize impressions of specific quality.",
            "Objective is defined by the assigned custom bidding algorithm.",
            "Objective is not defined. Any KPI or bidding strategy can be used."
          ],
          "enum": [
            "OPTIMIZATION_OBJECTIVE_UNSPECIFIED",
            "CONVERSION",
            "CLICK",
            "BRAND_AWARENESS",
            "CUSTOM",
            "NO_OBJECTIVE"
          ]
        },
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser the insertion order belongs to.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "kpi": {
          "description": "Required. The key performance indicator (KPI) of the insertion order. This is represented as referred to as the \"Goal\" in the Display & Video 360 interface.",
          "$ref": "Kpi"
        },
        "pacing": {
          "description": "Required. The budget spending speed setting of the insertion order. pacing_type `PACING_TYPE_ASAP` is not compatible with pacing_period `PACING_PERIOD_FLIGHT`.",
          "$ref": "Pacing"
        }
      },
      "description": "A single insertion order.",
      "type": "object"
    },
    "ReplaceNegativeKeywordsRequest": {
      "type": "object",
      "description": "Request message for NegativeKeywordService.ReplaceNegativeKeywords.",
      "id": "ReplaceNegativeKeywordsRequest",
      "properties": {
        "newNegativeKeywords": {
          "type": "array",
          "description": "The negative keywords that will replace the existing keywords in the negative keyword list, specified as a list of NegativeKeywords.",
          "items": {
            "$ref": "NegativeKeyword"
          }
        }
      }
    },
    "CustomBiddingAlgorithmRulesError": {
      "description": "An error message for a CustomBiddingAlgorithmRules resource.",
      "type": "object",
      "id": "CustomBiddingAlgorithmRulesError",
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "The type of error.",
          "enumDescriptions": [
            "The error is not specified or is unknown in this version.",
            "The rules have a syntax error.",
            "The rules have a constraint violation error.",
            "Internal errors were thrown while processing the rules."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "SYNTAX_ERROR",
            "CONSTRAINT_VIOLATION_ERROR",
            "INTERNAL_ERROR"
          ]
        }
      }
    },
    "DemandGenCarouselAd": {
      "description": "Details for a Demand Gen carousel ad.",
      "type": "object",
      "id": "DemandGenCarouselAd",
      "properties": {
        "headline": {
          "description": "Required. The headline of the ad.",
          "type": "string"
        },
        "businessName": {
          "description": "Required. The business name shown on the ad.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the ad.",
          "type": "string"
        },
        "cards": {
          "type": "array",
          "description": "Required. The list of cards shown on the ad.",
          "items": {
            "$ref": "CarouselCard"
          }
        },
        "userSpecifiedTrackingUrl": {
          "type": "string",
          "description": "Optional. The tracking URL specified by the user manually."
        },
        "finalUrlSuffix": {
          "type": "string",
          "description": "Optional. The suffix to append to landing page URLs."
        },
        "trackingUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL address loaded in the background for tracking purposes."
        },
        "logo": {
          "$ref": "ImageAsset",
          "description": "Required. The logo image used by this ad."
        },
        "finalUrl": {
          "description": "Required. The URL address of the webpage that people reach after they click the ad.",
          "type": "string"
        },
        "customParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The custom parameters to pass custom values to tracking URL template."
        }
      }
    },
    "ListAdvertiserAssignedTargetingOptionsResponse": {
      "description": "Response message for ListAdvertiserAssignedTargetingOptions.",
      "type": "object",
      "id": "ListAdvertiserAssignedTargetingOptionsResponse",
      "properties": {
        "assignedTargetingOptions": {
          "type": "array",
          "description": "The list of assigned targeting options. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedTargetingOption"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListAdvertiserAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
        }
      }
    },
    "BulkEditSitesResponse": {
      "id": "BulkEditSitesResponse",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The list of sites that have been successfully created. This list will be absent if empty.",
          "items": {
            "$ref": "Site"
          }
        }
      },
      "description": "Response message for SiteService.BulkEditSites.",
      "type": "object"
    },
    "AdPolicyTopicEvidenceLegalRemovalLocalLegal": {
      "id": "AdPolicyTopicEvidenceLegalRemovalLocalLegal",
      "properties": {
        "lawType": {
          "type": "string",
          "description": "Type of law for the legal notice."
        }
      },
      "description": "Local legal regulation details.",
      "type": "object"
    },
    "ListCustomBiddingAlgorithmRulesResponse": {
      "id": "ListCustomBiddingAlgorithmRulesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCustomBiddingAlgorithmRulesRequest` method to retrieve the next page of results. If this field is null, it means this is the last page."
        },
        "customBiddingRules": {
          "description": "The list of CustomBiddingAlgorithmRules resources. This list will be absent if empty.",
          "items": {
            "$ref": "CustomBiddingAlgorithmRules"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ThirdPartyUrl": {
      "id": "ThirdPartyUrl",
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. The type of interaction needs to be tracked by the tracking URL",
          "enumDescriptions": [
            "The type of third-party URL is unspecified or is unknown in this version.",
            "Used to count impressions of the creative after the audio or video buffering is complete.",
            "Used to track user clicks on the audio or video.",
            "Used to track the number of times a user starts the audio or video.",
            "Used to track the number of times the audio or video plays to 25% of its length.",
            "Used to track the number of times the audio or video plays to 50% of its length.",
            "Used to track the number of times the audio or video plays to 75% of its length.",
            "Used to track the number of times the audio or video plays to the end.",
            "Used to track the number of times a user mutes the audio or video.",
            "Used to track the number of times a user pauses the audio or video.",
            "Used to track the number of times a user replays the audio or video.",
            "Used to track the number of times a user expands the player to full-screen size.",
            "Used to track the number of times a user stops the audio or video.",
            "Used to track the number of times a user performs a custom click, such as clicking on a video hot spot.",
            "Used to track the number of times the audio or video was skipped.",
            "Used to track the number of times the audio or video plays to an offset determined by the progress_offset."
          ],
          "enum": [
            "THIRD_PARTY_URL_TYPE_UNSPECIFIED",
            "THIRD_PARTY_URL_TYPE_IMPRESSION",
            "THIRD_PARTY_URL_TYPE_CLICK_TRACKING",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_START",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FIRST_QUARTILE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MIDPOINT",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_THIRD_QUARTILE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_COMPLETE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_MUTE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PAUSE",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_REWIND",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_FULLSCREEN",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_STOP",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_CUSTOM",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_SKIP",
            "THIRD_PARTY_URL_TYPE_AUDIO_VIDEO_PROGRESS"
          ]
        },
        "url": {
          "type": "string",
          "description": "Optional. Tracking URL used to track the interaction. Provide a URL with optional path or query string, beginning with `https:`. For example, `https://www.example.com/path`"
        }
      },
      "type": "object",
      "description": "Tracking URLs from third parties to track interactions with an audio or a video creative."
    },
    "DuplicateLineItemResponse": {
      "id": "DuplicateLineItemResponse",
      "properties": {
        "duplicateLineItemId": {
          "format": "int64",
          "description": "The ID of the created line item.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PoiTargetingOptionDetails": {
      "description": "Represents a targetable point of interest(POI). This will be populated in the poi_details field when targeting_type is `TARGETING_TYPE_POI`.",
      "type": "object",
      "id": "PoiTargetingOptionDetails",
      "properties": {
        "longitude": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Longitude of the POI rounding to 6th decimal place."
        },
        "latitude": {
          "format": "double",
          "readOnly": true,
          "type": "number",
          "description": "Output only. Latitude of the POI rounding to 6th decimal place."
        },
        "displayName": {
          "description": "Output only. The display name of a POI(e.g. \"Times Square\", \"Space Needle\"), followed by its full address if available.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "LocationList": {
      "id": "LocationList",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the location list. Must be UTF-8 encoded with a maximum size of 240 bytes."
        },
        "locationType": {
          "type": "string",
          "description": "Required. Immutable. The type of location. All locations in the list will share this type.",
          "enumDescriptions": [
            "Default value when type is not specified or is unknown.",
            "The type for proximity geo location.",
            "The type for regional geo location."
          ],
          "enum": [
            "TARGETING_LOCATION_TYPE_UNSPECIFIED",
            "TARGETING_LOCATION_TYPE_PROXIMITY",
            "TARGETING_LOCATION_TYPE_REGIONAL"
          ]
        },
        "advertiserId": {
          "description": "Required. Immutable. The unique ID of the advertiser the location list belongs to.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the location list.",
          "type": "string"
        },
        "locationListId": {
          "description": "Output only. The unique ID of the location list. Assigned by the system.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A list of locations used for targeting."
    },
    "BulkListAdGroupAssignedTargetingOptionsResponse": {
      "type": "object",
      "id": "BulkListAdGroupAssignedTargetingOptionsResponse",
      "properties": {
        "adGroupAssignedTargetingOptions": {
          "description": "The list of wrapper objects, each providing an assigned targeting option and the ad group it is assigned to. This list will be absent if empty.",
          "items": {
            "$ref": "AdGroupAssignedTargetingOption"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent call to `BulkListAdGroupAssignedTargetingOptions` to fetch the next page of results. This token will be absent if there are no more AdGroupAssignedTargetingOption resources to return.",
          "type": "string"
        }
      }
    },
    "ListTargetingOptionsResponse": {
      "description": "Response message for ListTargetingOptions.",
      "type": "object",
      "id": "ListTargetingOptionsResponse",
      "properties": {
        "targetingOptions": {
          "type": "array",
          "description": "The list of targeting options. This list will be absent if empty.",
          "items": {
            "$ref": "TargetingOption"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListTargetingOptions` method to retrieve the next page of results."
        }
      }
    },
    "AlgorithmRulesFloodlightActivityConversionSignal": {
      "id": "AlgorithmRulesFloodlightActivityConversionSignal",
      "properties": {
        "conversionCounting": {
          "description": "Required. The type of conversions to be used in impression value computation, for example, post-click conversions.",
          "enumDescriptions": [
            "The action is not specified.",
            "All conversions.",
            "Post-click conversions.",
            "Post-view conversions."
          ],
          "enum": [
            "CONVERSION_COUNTING_UNSPECIFIED",
            "ALL_CONVERSIONS",
            "POST_CLICK",
            "POST_VIEW"
          ],
          "type": "string"
        },
        "countingMethod": {
          "type": "string",
          "description": "Required. The way to acquire value from the floodlight activity, for example, count of the conversion.",
          "enumDescriptions": [
            "The action is not specified.",
            "The count of conversions associated with the conversion activity.",
            "The number of sales items associated with the conversion activity.",
            "The sales revenue associated with the conversion activity.",
            "The count of unique conversions associated with the conversion activity. Only one conversion can be counted per impression."
          ],
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "CONVERSIONS_COUNT",
            "SALES_QUANTITY",
            "SALES_VALUE",
            "UNIQUE_COUNT"
          ]
        },
        "floodlightActivityId": {
          "format": "int64",
          "description": "Required. Id of the floodlight activity.",
          "type": "string"
        }
      },
      "description": "The rule to score impressions based on Floodlight conversion events.",
      "type": "object"
    },
    "GoogleAudienceGroup": {
      "id": "GoogleAudienceGroup",
      "properties": {
        "settings": {
          "description": "Required. All Google audience targeting settings in Google audience group. Repeated settings with the same id will be ignored.",
          "items": {
            "$ref": "GoogleAudienceTargetingSetting"
          },
          "type": "array"
        }
      },
      "description": "Details of Google audience group. All Google audience targeting settings are logically ‘OR’ of each other.",
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the channel."
        },
        "advertiserId": {
          "description": "The ID of the advertiser that owns the channel.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Required. The display name of the channel. Must be UTF-8 encoded with a maximum length of 240 bytes.",
          "type": "string"
        },
        "partnerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the partner that owns the channel."
        },
        "positivelyTargetedLineItemCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of line items that are directly targeting this channel positively.",
          "type": "string"
        },
        "channelId": {
          "description": "Output only. The unique ID of the channel. Assigned by the system.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "negativelyTargetedLineItemCount": {
          "description": "Output only. Number of line items that are directly targeting this channel negatively.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "A single channel. Channels are custom groups of related websites and apps.",
      "type": "object"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "Money",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      }
    },
    "BulkEditAssignedTargetingOptionsRequest": {
      "description": "Request message for BulkEditLineItemsAssignedTargetingOptions.",
      "type": "object",
      "id": "BulkEditAssignedTargetingOptionsRequest",
      "properties": {
        "lineItemIds": {
          "description": "Required. The ID of the line items whose targeting is being updated.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "deleteRequests": {
          "type": "array",
          "description": "The assigned targeting options to delete in batch, specified as a list of DeleteAssignedTargetingOptionsRequest. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`",
          "items": {
            "$ref": "DeleteAssignedTargetingOptionsRequest"
          }
        },
        "createRequests": {
          "type": "array",
          "description": "The assigned targeting options to create in batch, specified as a list of CreateAssignedTargetingOptionsRequest. Supported targeting types include: * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_APP` * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AUDIENCE_GROUP` * `TARGETING_TYPE_AUDIO_CONTENT_TYPE` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_BUSINESS_CHAIN` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_CHANNEL` * `TARGETING_TYPE_CONTENT_DURATION` * `TARGETING_TYPE_CONTENT_GENRE` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_STREAM_TYPE` * `TARGETING_TYPE_DAY_AND_TIME` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_INVENTORY_SOURCE` * `TARGETING_TYPE_INVENTORY_SOURCE_GROUP` * `TARGETING_TYPE_KEYWORD` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST` * `TARGETING_TYPE_OMID` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_PROXIMITY_LOCATION_LIST` * `TARGETING_TYPE_REGIONAL_LOCATION_LIST` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_THIRD_PARTY_VERIFIER` * `TARGETING_TYPE_URL` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_VIEWABILITY`",
          "items": {
            "$ref": "CreateAssignedTargetingOptionsRequest"
          }
        }
      }
    },
    "ListAdGroupsResponse": {
      "type": "object",
      "id": "ListAdGroupsResponse",
      "properties": {
        "adGroups": {
          "type": "array",
          "description": "The list of ad groups. This list will be absent if empty.",
          "items": {
            "$ref": "AdGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListAdGroups` method to retrieve the next page of results."
        }
      }
    },
    "GuaranteedOrder": {
      "id": "GuaranteedOrder",
      "properties": {
        "status": {
          "description": "The status settings of the guaranteed order.",
          "$ref": "GuaranteedOrderStatus"
        },
        "publisherName": {
          "description": "Required. The publisher name of the guaranteed order. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "defaultAdvertiserId": {
          "type": "string",
          "description": "Output only. The ID of default advertiser of the guaranteed order. The default advertiser is either the read_write_advertiser_id or, if that is not set, the first advertiser listed in read_advertiser_ids. Otherwise, there is no default advertiser.",
          "format": "int64",
          "readOnly": true
        },
        "defaultCampaignId": {
          "description": "The ID of the default campaign that is assigned to the guaranteed order. The default campaign must belong to the default advertiser.",
          "type": "string",
          "format": "int64"
        },
        "legacyGuaranteedOrderId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The legacy ID of the guaranteed order. Assigned by the original exchange. The legacy ID is unique within one exchange, but is not guaranteed to be unique across all guaranteed orders. This ID is used in SDF and UI."
        },
        "readAdvertiserIds": {
          "description": "The IDs of advertisers with read access to the guaranteed order. This field must not include the advertiser assigned to read_write_advertiser_id if it is set. All advertisers in this field must belong to read_write_partner_id or the same partner as read_write_advertiser_id.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "readAccessInherited": {
          "description": "Whether all advertisers of read_write_partner_id have read access to the guaranteed order. Only applicable if read_write_partner_id is set. If True, overrides read_advertiser_ids.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the guaranteed order."
        },
        "guaranteedOrderId": {
          "description": "Output only. The unique identifier of the guaranteed order. The guaranteed order IDs have the format `{exchange}-{legacy_guaranteed_order_id}`.",
          "type": "string",
          "readOnly": true
        },
        "readWriteAdvertiserId": {
          "format": "int64",
          "type": "string",
          "description": "The advertiser with read/write access to the guaranteed order. This is also the default advertiser of the guaranteed order."
        },
        "displayName": {
          "description": "Required. The display name of the guaranteed order. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "readWritePartnerId": {
          "type": "string",
          "description": "The partner with read/write access to the guaranteed order.",
          "format": "int64"
        },
        "exchange": {
          "type": "string",
          "description": "Required. Immutable. The exchange where the guaranteed order originated.",
          "enumDescriptions": [
            "Exchange is not specified or is unknown in this version.",
            "Google Ad Manager.",
            "AppNexus.",
            "BrightRoll Exchange for Video from Yahoo!.",
            "Adform.",
            "Admeta.",
            "Admixer.",
            "AdsMogo.",
            "AdsWizz.",
            "BidSwitch.",
            "BrightRoll Exchange for Display from Yahoo!.",
            "Cadreon.",
            "Dailymotion.",
            "Five.",
            "Fluct.",
            "FreeWheel SSP.",
            "Geniee.",
            "GumGum.",
            "i-mobile.",
            "iBILLBOARD.",
            "Improve Digital.",
            "Index Exchange.",
            "Kargo.",
            "MicroAd.",
            "MoPub.",
            "Nend.",
            "ONE by AOL: Display Market Place.",
            "ONE by AOL: Mobile.",
            "ONE by AOL: Video.",
            "Ooyala.",
            "OpenX.",
            "Permodo.",
            "Platform One.",
            "PlatformId.",
            "PubMatic.",
            "PulsePoint.",
            "RevenueMax.",
            "Rubicon.",
            "SmartClip.",
            "SmartRTB+.",
            "SmartstreamTv.",
            "Sovrn.",
            "SpotXchange.",
            "Ströer SSP.",
            "TeadsTv.",
            "Telaria.",
            "TVN.",
            "United.",
            "Yieldlab.",
            "Yieldmo.",
            "UnrulyX.",
            "Open8.",
            "Triton.",
            "TripleLift.",
            "Taboola.",
            "InMobi.",
            "Smaato.",
            "Aja.",
            "Supership.",
            "Nexstar Digital.",
            "Waze.",
            "SoundCast.",
            "Sharethrough.",
            "Fyber.",
            "Red For Publishers.",
            "Media.net.",
            "Tapjoy.",
            "Vistar.",
            "DAX.",
            "JCD.",
            "Place Exchange.",
            "AppLovin.",
            "Connatix.",
            "Reset Digital.",
            "Hivestack.",
            "Drax.",
            "AppLovin MAX.",
            "DT Fairbid.",
            "Unity LevelPlay.",
            "Chartboost Mediation.",
            "AdMost.",
            "TopOn.",
            "Netflix.",
            "Core.",
            "Commerce Grid.",
            "Spotify.",
            "Tubi.",
            "Snap.",
            "Cadent."
          ],
          "enum": [
            "EXCHANGE_UNSPECIFIED",
            "EXCHANGE_GOOGLE_AD_MANAGER",
            "EXCHANGE_APPNEXUS",
            "EXCHANGE_BRIGHTROLL",
            "EXCHANGE_ADFORM",
            "EXCHANGE_ADMETA",
            "EXCHANGE_ADMIXER",
            "EXCHANGE_ADSMOGO",
            "EXCHANGE_ADSWIZZ",
            "EXCHANGE_BIDSWITCH",
            "EXCHANGE_BRIGHTROLL_DISPLAY",
            "EXCHANGE_CADREON",
            "EXCHANGE_DAILYMOTION",
            "EXCHANGE_FIVE",
            "EXCHANGE_FLUCT",
            "EXCHANGE_FREEWHEEL",
            "EXCHANGE_GENIEE",
            "EXCHANGE_GUMGUM",
            "EXCHANGE_IMOBILE",
            "EXCHANGE_IBILLBOARD",
            "EXCHANGE_IMPROVE_DIGITAL",
            "EXCHANGE_INDEX",
            "EXCHANGE_KARGO",
            "EXCHANGE_MICROAD",
            "EXCHANGE_MOPUB",
            "EXCHANGE_NEND",
            "EXCHANGE_ONE_BY_AOL_DISPLAY",
            "EXCHANGE_ONE_BY_AOL_MOBILE",
            "EXCHANGE_ONE_BY_AOL_VIDEO",
            "EXCHANGE_OOYALA",
            "EXCHANGE_OPENX",
            "EXCHANGE_PERMODO",
            "EXCHANGE_PLATFORMONE",
            "EXCHANGE_PLATFORMID",
            "EXCHANGE_PUBMATIC",
            "EXCHANGE_PULSEPOINT",
            "EXCHANGE_REVENUEMAX",
            "EXCHANGE_RUBICON",
            "EXCHANGE_SMARTCLIP",
            "EXCHANGE_SMARTRTB",
            "EXCHANGE_SMARTSTREAMTV",
            "EXCHANGE_SOVRN",
            "EXCHANGE_SPOTXCHANGE",
            "EXCHANGE_STROER",
            "EXCHANGE_TEADSTV",
            "EXCHANGE_TELARIA",
            "EXCHANGE_TVN",
            "EXCHANGE_UNITED",
            "EXCHANGE_YIELDLAB",
            "EXCHANGE_YIELDMO",
            "EXCHANGE_UNRULYX",
            "EXCHANGE_OPEN8",
            "EXCHANGE_TRITON",
            "EXCHANGE_TRIPLELIFT",
            "EXCHANGE_TABOOLA",
            "EXCHANGE_INMOBI",
            "EXCHANGE_SMAATO",
            "EXCHANGE_AJA",
            "EXCHANGE_SUPERSHIP",
            "EXCHANGE_NEXSTAR_DIGITAL",
            "EXCHANGE_WAZE",
            "EXCHANGE_SOUNDCAST",
            "EXCHANGE_SHARETHROUGH",
            "EXCHANGE_FYBER",
            "EXCHANGE_RED_FOR_PUBLISHERS",
            "EXCHANGE_MEDIANET",
            "EXCHANGE_TAPJOY",
            "EXCHANGE_VISTAR",
            "EXCHANGE_DAX",
            "EXCHANGE_JCD",
            "EXCHANGE_PLACE_EXCHANGE",
            "EXCHANGE_APPLOVIN",
            "EXCHANGE_CONNATIX",
            "EXCHANGE_RESET_DIGITAL",
            "EXCHANGE_HIVESTACK",
            "EXCHANGE_DRAX",
            "EXCHANGE_APPLOVIN_GBID",
            "EXCHANGE_FYBER_GBID",
            "EXCHANGE_UNITY_GBID",
            "EXCHANGE_CHARTBOOST_GBID",
            "EXCHANGE_ADMOST_GBID",
            "EXCHANGE_TOPON_GBID",
            "EXCHANGE_NETFLIX",
            "EXCHANGE_CORE",
            "EXCHANGE_COMMERCE_GRID",
            "EXCHANGE_SPOTIFY",
            "EXCHANGE_TUBI",
            "EXCHANGE_SNAP",
            "EXCHANGE_CADENT"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the guaranteed order was last updated. Assigned by the system."
        }
      },
      "description": "A guaranteed order. Guaranteed orders are parent entity of guaranteed inventory sources. When creating a guaranteed inventory source, a guaranteed order ID must be assigned to the inventory source.",
      "type": "object"
    },
    "ReplaceNegativeKeywordsResponse": {
      "type": "object",
      "description": "Response message for NegativeKeywordService.ReplaceNegativeKeywords.",
      "id": "ReplaceNegativeKeywordsResponse",
      "properties": {
        "negativeKeywords": {
          "type": "array",
          "description": "The full list of negative keywords now present in the negative keyword list.",
          "items": {
            "$ref": "NegativeKeyword"
          }
        }
      }
    },
    "ContentThemeTargetingOptionDetails": {
      "id": "ContentThemeTargetingOptionDetails",
      "properties": {
        "contentTheme": {
          "enum": [
            "CONTENT_THEME_UNSPECIFIED",
            "CONTENT_THEME_FIGHTING_VIDEO_GAMES",
            "CONTENT_THEME_MATURE_GAMES",
            "CONTENT_THEME_NOT_YET_DETERMINED_HEALTH_SOURCES",
            "CONTENT_THEME_NOT_YET_DETERMINED_NEWS_SOURCES",
            "CONTENT_THEME_POLITICS",
            "CONTENT_THEME_RECENT_NEWS",
            "CONTENT_THEME_RELIGION",
            "CONTENT_THEME_UNPLEASANT_HEALTH_CONTENT",
            "CONTENT_THEME_UNPLEASANT_NEWS"
          ],
          "description": "Output only. An enum for the DV360 content theme content classifier.",
          "enumDescriptions": [
            "Content theme is not specified or is unknown in this version.",
            "Fighting video games.",
            "Mature games.",
            "Not yet determined health sources.",
            "Not yet determined news sources.",
            "Politics.",
            "Recent news.",
            "Religion.",
            "Unpleasant health content.",
            "Unpleasant news."
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a targetable content theme. This will be populated in the content_theme_details field of the TargetingOption when targeting_type is `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`."
    },
    "InventorySourceAssignedTargetingOptionDetails": {
      "id": "InventorySourceAssignedTargetingOptionDetails",
      "properties": {
        "inventorySourceId": {
          "type": "string",
          "description": "Required. ID of the inventory source. Should refer to the inventory_source_id field of an InventorySource resource.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Targeting details for inventory source. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_INVENTORY_SOURCE`."
    },
    "SelectedInventories": {
      "description": "The inventory control of the ad group.",
      "type": "object",
      "id": "SelectedInventories",
      "properties": {
        "allowYoutubeStream": {
          "description": "Whether the ad group is opted-in to YouTube in-stream.",
          "type": "boolean"
        },
        "allowYoutubeFeed": {
          "description": "Whether the ad group is opted-in to YouTube in-feed inventory.",
          "type": "boolean"
        },
        "allowDiscover": {
          "description": "Whether the ad group is opted-in to Discover inventory.",
          "type": "boolean"
        },
        "allowGmail": {
          "type": "boolean",
          "description": "Whether the ad group is opted-in to Gmail inventory."
        },
        "allowGoogleDisplayNetwork": {
          "description": "Whether the ad group is opted-in to Google Display Network inventory.",
          "type": "boolean"
        },
        "allowYoutubeShorts": {
          "type": "boolean",
          "description": "Whether the ad group is opted-in to YouTube shorts inventory."
        }
      }
    },
    "AdPolicyTopicEvidenceDestinationMismatch": {
      "type": "object",
      "description": "Details on a mismatch between destination URL types.",
      "id": "AdPolicyTopicEvidenceDestinationMismatch",
      "properties": {
        "uriTypes": {
          "type": "array",
          "description": "The set of URLs that do not match. The list can include single or multiple uri types. Example 1: [`DISPLAY_URL`, `FINAL_URL`] means ad display URL does not match with the ad final URL. Example 2: [`FINAL_URL`] means ad final URL did not match the crawled url, which is also considered as destination mismatch.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified or unknown.",
              "The display URL.",
              "The final URL.",
              "The final mobile URL.",
              "The tracking URL.",
              "The mobile tracking URL."
            ],
            "enum": [
              "AD_POLICY_TOPIC_EVIDENCE_DESTINATION_MISMATCH_URL_TYPE_UNKNOWN",
              "DISPLAY_URL",
              "FINAL_URL",
              "FINAL_MOBILE_URL",
              "TRACKING_URL",
              "MOBILE_TRACKING_URL"
            ]
          }
        }
      }
    },
    "SearchTargetingOptionsRequest": {
      "description": "Request message for SearchTargetingOptions.",
      "type": "object",
      "id": "SearchTargetingOptionsRequest",
      "properties": {
        "pageSize": {
          "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
          "type": "integer",
          "format": "int32"
        },
        "geoRegionSearchTerms": {
          "$ref": "GeoRegionSearchTerms",
          "description": "Search terms for geo region targeting options. Can only be used when targeting_type is `TARGETING_TYPE_GEO_REGION`."
        },
        "businessChainSearchTerms": {
          "description": "Search terms for Business Chain targeting options. Can only be used when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
          "$ref": "BusinessChainSearchTerms"
        },
        "pageToken": {
          "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `SearchTargetingOptions` method. If not specified, the first page of results will be returned.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "description": "Required. The Advertiser this request is being made in the context of.",
          "type": "string"
        },
        "poiSearchTerms": {
          "$ref": "PoiSearchTerms",
          "description": "Search terms for POI targeting options. Can only be used when targeting_type is `TARGETING_TYPE_POI`."
        }
      }
    },
    "ListLocationListsResponse": {
      "type": "object",
      "id": "ListLocationListsResponse",
      "properties": {
        "locationLists": {
          "type": "array",
          "description": "The list of location lists. This list will be absent if empty.",
          "items": {
            "$ref": "LocationList"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListLocationLists` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ContentOutstreamPositionAssignedTargetingOptionDetails": {
      "description": "Assigned content outstream position targeting option details. This will be populated in the content_outstream_position_details field when targeting_type is `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION`.",
      "type": "object",
      "id": "ContentOutstreamPositionAssignedTargetingOptionDetails",
      "properties": {
        "adType": {
          "enum": [
            "AD_TYPE_UNSPECIFIED",
            "AD_TYPE_DISPLAY",
            "AD_TYPE_VIDEO",
            "AD_TYPE_AUDIO"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ad type to target. Only applicable to insertion order targeting and new line items supporting the specified ad type will inherit this targeting option by default. Possible values are: * `AD_TYPE_DISPLAY`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_DISPLAY_DEFAULT`. * `AD_TYPE_VIDEO`, the setting will be inherited by new line item when line_item_type is `LINE_ITEM_TYPE_VIDEO_DEFAULT`.",
          "enumDescriptions": [
            "Ad type is not specified or is unknown in this version.",
            "Display creatives, e.g. image and HTML5.",
            "Video creatives, e.g. video ads that play during streaming content in video players.",
            "Audio creatives, e.g. audio ads that play during audio content."
          ]
        },
        "contentOutstreamPosition": {
          "type": "string",
          "description": "Required. The content outstream position.",
          "enumDescriptions": [
            "Content outstream position is not specified in this version. This enum is a place holder for a default value and does not represent a real content outstream position.",
            "The ad position is unknown in the content outstream.",
            "Ads that appear between the paragraphs of your pages.",
            "Ads that display on the top and the sides of a page.",
            "Ads that appear in a scrollable stream of content. A feed is typically editorial (e.g. a list of articles or news) or listings (e.g. a list of products or services).",
            "Ads shown before or between content loads."
          ],
          "enum": [
            "CONTENT_OUTSTREAM_POSITION_UNSPECIFIED",
            "CONTENT_OUTSTREAM_POSITION_UNKNOWN",
            "CONTENT_OUTSTREAM_POSITION_IN_ARTICLE",
            "CONTENT_OUTSTREAM_POSITION_IN_BANNER",
            "CONTENT_OUTSTREAM_POSITION_IN_FEED",
            "CONTENT_OUTSTREAM_POSITION_INTERSTITIAL"
          ]
        }
      }
    },
    "YoutubeAssetAssociationSitelinkAsset": {
      "id": "YoutubeAssetAssociationSitelinkAsset",
      "properties": {
        "assetId": {
          "format": "int64",
          "description": "Required. ID of the sitelink asset.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A sitelink asset."
    },
    "ObaIcon": {
      "type": "object",
      "description": "OBA Icon for a Creative",
      "id": "ObaIcon",
      "properties": {
        "landingPageUrl": {
          "description": "Required. The landing page URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        },
        "resourceMimeType": {
          "type": "string",
          "description": "Optional. The MIME type of the OBA icon resource."
        },
        "position": {
          "type": "string",
          "description": "Optional. The position of the OBA icon on the creative.",
          "enumDescriptions": [
            "The OBA icon position is not specified.",
            "At the upper right side of the creative.",
            "At the upper left side of the creative.",
            "At the lower right side of the creative.",
            "At the lower left side of the creative."
          ],
          "enum": [
            "OBA_ICON_POSITION_UNSPECIFIED",
            "OBA_ICON_POSITION_UPPER_RIGHT",
            "OBA_ICON_POSITION_UPPER_LEFT",
            "OBA_ICON_POSITION_LOWER_RIGHT",
            "OBA_ICON_POSITION_LOWER_LEFT"
          ]
        },
        "clickTrackingUrl": {
          "description": "Required. The click tracking URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`",
          "type": "string"
        },
        "resourceUrl": {
          "description": "Optional. The URL of the OBA icon resource.",
          "type": "string"
        },
        "viewTrackingUrl": {
          "type": "string",
          "description": "Required. The view tracking URL of the OBA icon. Only URLs of the following domains are allowed: * `https://info.evidon.com` * `https://l.betrad.com`"
        },
        "dimensions": {
          "description": "Optional. The dimensions of the OBA icon.",
          "$ref": "Dimensions"
        },
        "program": {
          "type": "string",
          "description": "Optional. The program of the OBA icon. For example: “AdChoices”."
        }
      }
    },
    "BrowserTargetingOptionDetails": {
      "type": "object",
      "description": "Represents a targetable browser. This will be populated in the browser_details field when targeting_type is `TARGETING_TYPE_BROWSER`.",
      "id": "BrowserTargetingOptionDetails",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the browser."
        }
      }
    },
    "DoubleVerifyDisplayViewability": {
      "description": "Details of DoubleVerify display viewability settings.",
      "type": "object",
      "id": "DoubleVerifyDisplayViewability",
      "properties": {
        "iab": {
          "type": "string",
          "description": "Target web and app inventory to maximize IAB viewable rate.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any IAB viewed rate options.",
            "Target web and app inventory to maximize IAB viewable rate 80% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 75% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 70% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 65% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 60% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 55% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 50% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 40% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 30% or higher."
          ],
          "enum": [
            "IAB_VIEWED_RATE_UNSPECIFIED",
            "IAB_VIEWED_RATE_80_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_75_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_70_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_65_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_60_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_55_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_50_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_40_PERCENT_HIGHER",
            "IAB_VIEWED_RATE_30_PERCENT_HIGHER"
          ]
        },
        "viewableDuring": {
          "description": "Target web and app inventory to maximize 100% viewable duration.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any average view duration options.",
            "Target web and app inventory to maximize 100% viewable duration 5 seconds or more.",
            "Target web and app inventory to maximize 100% viewable duration 10 seconds or more.",
            "Target web and app inventory to maximize 100% viewable duration 15 seconds or more."
          ],
          "enum": [
            "AVERAGE_VIEW_DURATION_UNSPECIFIED",
            "AVERAGE_VIEW_DURATION_5_SEC",
            "AVERAGE_VIEW_DURATION_10_SEC",
            "AVERAGE_VIEW_DURATION_15_SEC"
          ],
          "type": "string"
        }
      }
    },
    "FloodlightGroup": {
      "id": "FloodlightGroup",
      "properties": {
        "webTagType": {
          "type": "string",
          "description": "Required. The web tag type enabled for the Floodlight group.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "No tag type.",
            "Image tag.",
            "Dynamic tag."
          ],
          "enum": [
            "WEB_TAG_TYPE_UNSPECIFIED",
            "WEB_TAG_TYPE_NONE",
            "WEB_TAG_TYPE_IMAGE",
            "WEB_TAG_TYPE_DYNAMIC"
          ]
        },
        "floodlightGroupId": {
          "type": "string",
          "description": "Output only. The unique ID of the Floodlight group. Assigned by the system.",
          "format": "int64",
          "readOnly": true
        },
        "activeViewConfig": {
          "$ref": "ActiveViewVideoViewabilityMetricConfig",
          "description": "The Active View video viewability metric configuration for the Floodlight group."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the Floodlight group.",
          "readOnly": true
        },
        "customVariables": {
          "description": "User-defined custom variables owned by the Floodlight group. Use custom Floodlight variables to create reporting data that is tailored to your unique business needs. Custom Floodlight variables use the keys `U1=`, `U2=`, and so on, and can take any values that you choose to pass to them. You can use them to track virtually any type of data that you collect about your customers, such as the genre of movie that a customer purchases, the country to which the item is shipped, and so on. Custom Floodlight variables may not be used to pass any data that could be used or recognized as personally identifiable information (PII). Example: `custom_variables { fields { \"U1\": value { number_value: 123.4 }, \"U2\": value { string_value: \"MyVariable2\" }, \"U3\": value { string_value: \"MyVariable3\" } } }` Acceptable values for keys are \"U1\" through \"U100\", inclusive. String values must be less than 64 characters long, and cannot contain the following characters: `\"<>`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "lookbackWindow": {
          "$ref": "LookbackWindow",
          "description": "Required. The lookback window for the Floodlight group. Both click_days and impression_days are required. Acceptable values for both are `0` to `90`, inclusive."
        },
        "displayName": {
          "description": "Required. The display name of the Floodlight group.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single Floodlight group."
    },
    "KeywordAssignedTargetingOptionDetails": {
      "id": "KeywordAssignedTargetingOptionDetails",
      "properties": {
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        },
        "exemptedPolicyNames": {
          "description": "Optional. The policy names to exempt the keyword from. This field is only applicable for Demand Gen keywords, which are positively targeted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "keyword": {
          "description": "Required. The keyword, for example `car insurance`. Positive keyword cannot be offensive word. Must be UTF-8 encoded with a maximum size of 255 bytes. Maximum number of characters is 80. Maximum number of words is 10.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details for assigned keyword targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_KEYWORD`."
    },
    "AdPolicyTopicEvidenceDestinationTextList": {
      "id": "AdPolicyTopicEvidenceDestinationTextList",
      "properties": {
        "destinationTexts": {
          "type": "array",
          "description": "Destination text that caused the policy finding.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A list of destination text that violated the policy."
    },
    "BulkListAdvertiserAssignedTargetingOptionsResponse": {
      "id": "BulkListAdvertiserAssignedTargetingOptionsResponse",
      "properties": {
        "assignedTargetingOptions": {
          "type": "array",
          "description": "The list of assigned targeting options. This list will be absent if empty.",
          "items": {
            "$ref": "AssignedTargetingOption"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent BulkListAdvertiserAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return."
        }
      },
      "type": "object"
    },
    "ExchangeConfig": {
      "description": "Settings that control which exchanges are enabled for a partner.",
      "type": "object",
      "id": "ExchangeConfig",
      "properties": {
        "enabledExchanges": {
          "description": "All enabled exchanges in the partner. Duplicate enabled exchanges will be ignored.",
          "items": {
            "$ref": "ExchangeConfigEnabledExchange"
          },
          "type": "array"
        }
      }
    },
    "BusinessChainSearchTerms": {
      "description": "Search terms for Business Chain targeting options. At least one of the field should be populated.",
      "type": "object",
      "id": "BusinessChainSearchTerms",
      "properties": {
        "businessChainQuery": {
          "type": "string",
          "description": "The search query for the desired business chain. The query must be the full name of the business, e.g. \"KFC\", \"mercedes-benz\"."
        },
        "regionQuery": {
          "type": "string",
          "description": "The search query for the desired geo region, e.g. \"Seattle\", \"United State\"."
        }
      }
    },
    "PartnerDataAccessConfig": {
      "description": "Settings that control how partner related data may be accessed.",
      "type": "object",
      "id": "PartnerDataAccessConfig",
      "properties": {
        "sdfConfig": {
          "$ref": "SdfConfig",
          "description": "Structured Data Files (SDF) settings for the partner. The SDF configuration for the partner."
        }
      }
    },
    "CarrierAndIspAssignedTargetingOptionDetails": {
      "description": "Details for assigned carrier and ISP targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CARRIER_AND_ISP`.",
      "type": "object",
      "id": "CarrierAndIspAssignedTargetingOptionDetails",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the carrier or ISP.",
          "readOnly": true
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_CARRIER_AND_ISP`.",
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted. All assigned carrier and ISP targeting options on the same resource must have the same value for this field."
        }
      }
    },
    "Kpi": {
      "type": "object",
      "description": "Settings that control the key performance indicator, or KPI, of an insertion order.",
      "id": "Kpi",
      "properties": {
        "kpiAmountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The goal amount, in micros of the advertiser's currency. Applicable when kpi_type is one of: * `KPI_TYPE_CPM` * `KPI_TYPE_CPC` * `KPI_TYPE_CPA` * `KPI_TYPE_CPIAVC` * `KPI_TYPE_VCPM` For example: 1500000 represents 1.5 standard units of the currency."
        },
        "kpiType": {
          "description": "Required. The type of KPI.",
          "enumDescriptions": [
            "KPI type is not specified or is unknown in this version.",
            "The KPI is CPM (cost per mille).",
            "The KPI is CPC (cost per click).",
            "The KPI is CPA (cost per action).",
            "The KPI is CTR (click-through rate) percentage.",
            "The KPI is Viewability percentage.",
            "The KPI is CPIAVC (cost per impression audible and visible at completion).",
            "The KPI is CPE (cost per engagement).",
            "The KPI is set in CPV (cost per view).",
            "The KPI is click conversion rate (conversions per click) percentage.",
            "The KPI is impression conversion rate (conversions per impression) percentage.",
            "The KPI is VCPM (cost per thousand viewable impressions).",
            "The KPI is YouTube view rate (YouTube views per impression) percentage.",
            "The KPI is audio completion rate (complete audio listens per impression) percentage.",
            "The KPI is video completion rate (complete video views per impression) percentage.",
            "The KPI is set in CPCL (cost per complete audio listen).",
            "The KPI is set in CPCV (cost per complete video view).",
            "The KPI is set in rate of time on screen 10+ seconds (Percentage of measurable, non-skippable impressions that were on the screen for at least 10 seconds).",
            "The KPI is set to maximize brand impact while prioritizing spending the full budget.",
            "The KPI is set in custom impression value divided by cost.",
            "The KPI is some other value."
          ],
          "enum": [
            "KPI_TYPE_UNSPECIFIED",
            "KPI_TYPE_CPM",
            "KPI_TYPE_CPC",
            "KPI_TYPE_CPA",
            "KPI_TYPE_CTR",
            "KPI_TYPE_VIEWABILITY",
            "KPI_TYPE_CPIAVC",
            "KPI_TYPE_CPE",
            "KPI_TYPE_CPV",
            "KPI_TYPE_CLICK_CVR",
            "KPI_TYPE_IMPRESSION_CVR",
            "KPI_TYPE_VCPM",
            "KPI_TYPE_VTR",
            "KPI_TYPE_AUDIO_COMPLETION_RATE",
            "KPI_TYPE_VIDEO_COMPLETION_RATE",
            "KPI_TYPE_CPCL",
            "KPI_TYPE_CPCV",
            "KPI_TYPE_TOS10",
            "KPI_TYPE_MAXIMIZE_PACING",
            "KPI_TYPE_CUSTOM_IMPRESSION_VALUE_OVER_COST",
            "KPI_TYPE_OTHER"
          ],
          "type": "string"
        },
        "kpiAlgorithmId": {
          "type": "string",
          "description": "Optional. Custom Bidding Algorithm ID associated with KPI_CUSTOM_IMPRESSION_VALUE_OVER_COST. This field is ignored if the proper KPI is not selected.",
          "format": "int64"
        },
        "kpiString": {
          "description": "A KPI string, which can be empty. Must be UTF-8 encoded with a length of no more than 100 characters. Applicable when kpi_type is `KPI_TYPE_OTHER`.",
          "type": "string"
        },
        "kpiPercentageMicros": {
          "type": "string",
          "description": "The decimal representation of the goal percentage in micros. Applicable when kpi_type is one of: * `KPI_TYPE_CTR` * `KPI_TYPE_VIEWABILITY` * `KPI_TYPE_CLICK_CVR` * `KPI_TYPE_IMPRESSION_CVR` * `KPI_TYPE_VTR` * `KPI_TYPE_AUDIO_COMPLETION_RATE` * `KPI_TYPE_VIDEO_COMPLETION_RATE` For example: 70000 represents 7% (decimal 0.07).",
          "format": "int64"
        }
      }
    },
    "FixedBidStrategy": {
      "id": "FixedBidStrategy",
      "properties": {
        "bidAmountMicros": {
          "description": "The fixed bid amount, in micros of the advertiser's currency. For insertion order entity, bid_amount_micros should be set as 0. For line item entity, bid_amount_micros must be greater than or equal to billable unit of the given currency and smaller than or equal to the upper limit 1000000000. For example, 1500000 represents 1.5 standard units of the currency.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A strategy that uses a fixed bidding price.",
      "type": "object"
    },
    "CategoryAssignedTargetingOptionDetails": {
[...]
