{
  "version": "v2",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "name": "dlp",
  "description": "Discover and protect your sensitive data. A fully managed service designed to help you discover, classify, and protect your valuable data assets with ease.",
  "id": "dlp:v2",
  "title": "Sensitive Data Protection (DLP)",
  "mtlsRootUrl": "https://dlp.mtls.googleapis.com/",
  "canonicalName": "DLP",
  "resources": {
    "organizations": {
      "resources": {
        "storedInfoTypes": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
              },
              "id": "dlp.organizations.storedInfoTypes.list",
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes",
              "description": "Lists stored infoTypes. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                  "type": "integer"
                },
                "locationId": {
                  "location": "query",
                  "description": "Deprecated. This field has no effect.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc, display_name, create_time desc` Supported fields are: - `create_time`: corresponds to the time the most recent version of the resource was created. - `state`: corresponds to the state of the resource. - `name`: corresponds to resource name. - `display_name`: corresponds to info type's display name.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token to continue retrieval. Comes from the previous call to `ListStoredInfoTypes`.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v2/{+parent}/storedInfoTypes",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "id": "dlp.organizations.storedInfoTypes.create",
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
              },
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes",
              "description": "Creates a pre-built stored infoType to be used for inspection. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/storedInfoTypes",
              "httpMethod": "POST"
            },
            "get": {
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the organization and storedInfoType to be read, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
              "description": "Gets a stored infoType. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "id": "dlp.organizations.storedInfoTypes.get",
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of organization and storedInfoType to be updated, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
              },
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
              "description": "Updates the stored infoType by creating a new version. The existing version will continue to be used until the new version is ready. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "id": "dlp.organizations.storedInfoTypes.patch",
              "response": {
                "$ref": "GooglePrivacyDlpV2StoredInfoType"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "PATCH"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the organization and storedInfoType to be deleted, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/storedInfoTypes/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/organizations/{organizationsId}/storedInfoTypes/{storedInfoTypesId}",
              "description": "Deletes a stored infoType. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
              "id": "dlp.organizations.storedInfoTypes.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "DELETE"
            }
          }
        },
        "inspectTemplates": {
          "methods": {
            "delete": {
              "id": "dlp.organizations.inspectTemplates.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "description": "Deletes an InspectTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of organization and inspectTemplate to be updated, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
              },
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "description": "Updates the InspectTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "id": "dlp.organizations.inspectTemplates.patch",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "PATCH"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/inspectTemplates",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Page token to continue retrieval. Comes from the previous call to `ListInspectTemplates`.",
                  "type": "string",
                  "location": "query"
                },
                "locationId": {
                  "description": "Deprecated. This field has no effect.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string",
                  "location": "path"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates",
              "description": "Lists InspectTemplates. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "id": "dlp.organizations.inspectTemplates.list",
              "response": {
                "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
              }
            },
            "get": {
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              },
              "id": "dlp.organizations.inspectTemplates.get",
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates/{inspectTemplatesId}",
              "description": "Gets an InspectTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/inspectTemplates/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the organization and inspectTemplate to be read, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}"
            },
            "create": {
              "path": "v2/{+parent}/inspectTemplates",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/organizations/{organizationsId}/inspectTemplates",
              "description": "Creates an InspectTemplate for reusing frequently used configuration for inspecting content, images, and storage. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
              "id": "dlp.organizations.inspectTemplates.create",
              "response": {
                "$ref": "GooglePrivacyDlpV2InspectTemplate"
              }
            }
          }
        },
        "locations": {
          "resources": {
            "projectDataProfiles": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/projectDataProfiles",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/projectDataProfiles",
                  "description": "Lists project data profiles for an organization.",
                  "parameters": {
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: the Google Cloud project ID - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. organizations/{org_id}/locations/{loc_id}",
                      "type": "string",
                      "location": "path"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id` * `sensitivity_level desc` Supported fields: - `project_id`: Google Cloud project ID - `sensitivity_level`: How sensitive the data in a project is, at most - `data_risk_level`: How much risk is associated with this data - `profile_last_generated`: Date and time (in epoch seconds) the profile was last generated",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListProjectDataProfilesResponse"
                  },
                  "id": "dlp.organizations.locations.projectDataProfiles.list"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ProjectDataProfile"
                  },
                  "id": "dlp.organizations.locations.projectDataProfiles.get",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/projectDataProfiles/{projectDataProfilesId}",
                  "description": "Gets a project data profile.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/projectDataProfiles/53234423`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/projectDataProfiles/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "columnDataProfiles": {
              "methods": {
                "get": {
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/columnDataProfiles/{columnDataProfilesId}",
                  "description": "Gets a column data profile.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/columnDataProfiles/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/columnDataProfiles/53234423`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ColumnDataProfile"
                  },
                  "id": "dlp.organizations.locations.columnDataProfiles.get",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListColumnDataProfilesResponse"
                  },
                  "id": "dlp.organizations.locations.columnDataProfiles.list",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/columnDataProfiles",
                  "description": "Lists column data profiles for an organization.",
                  "parameters": {
                    "filter": {
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `table_data_profile_name`: The name of the related table data profile - `project_id`: The Google Cloud project ID (REQUIRED) - `dataset_id`: The BigQuery dataset ID (REQUIRED) - `table_id`: The BigQuery table ID (REQUIRED) - `field_id`: The ID of the BigQuery field - `info_type`: The infotype detected in the resource - `sensitivity_level`: HIGH|MEDIUM|LOW - `data_risk_level`: How much risk is associated with this data - `status_code`: An RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` for project_id, dataset_id, and table_id. Other filters also support `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * project_id = 12345 AND status_code = 1 * project_id = 12345 AND sensitivity_level = HIGH * project_id = 12345 AND info_type = STREET_ADDRESS * profile_last_generated < \"2025-01-01T00:00:00.000Z\" The length of this field should be no more than 500 characters.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `table_id` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `dataset_id`: The ID of a BigQuery dataset. - `table_id`: The ID of a BigQuery table. - `sensitivity_level`: How sensitive the data in a column is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/columnDataProfiles"
                }
              }
            },
            "discoveryConfigs": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/discoveryConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.discoveryConfigs.list",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDiscoveryConfigsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from the previous call to ListDiscoveryConfigs. `order_by` field must not change for subsequent calls.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Size of the page. This value can be limited by a server.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. Parent resource name. The format of this value is as follows: `projects/{project_id}/locations/{location_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Comma-separated list of config fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `last_run_time`: corresponds to the last time the DiscoveryConfig ran. - `name`: corresponds to the DiscoveryConfig's name. - `status`: corresponds to DiscoveryConfig's status.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/discoveryConfigs",
                  "description": "Lists discovery configurations."
                },
                "create": {
                  "path": "v2/{+parent}/discoveryConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "dlp.organizations.locations.discoveryConfigs.create",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDiscoveryConfigRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization): + Projects scope: `projects/{project_id}/locations/{location_id}` + Organizations scope: `organizations/{org_id}/locations/{location_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/discoveryConfigs",
                  "description": "Creates a config for discovery to scan and profile storage."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the project and the configuration, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "description": "Gets a discovery configuration.",
                  "id": "dlp.organizations.locations.discoveryConfigs.get",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET"
                },
                "patch": {
                  "id": "dlp.organizations.locations.discoveryConfigs.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
                  },
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDiscoveryConfigRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name of the project and the configuration, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "description": "Updates a discovery configuration.",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.organizations.locations.discoveryConfigs.delete",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/discoveryConfigs/{discoveryConfigsId}",
                  "description": "Deletes a discovery configuration.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/discoveryConfigs/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the project and the config, for example `projects/dlp-test-project/discoveryConfigs/53234423`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}"
                }
              }
            },
            "infoTypes": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/infoTypes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.infoTypes.list",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInfoTypesResponse"
                  },
                  "parameters": {
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "The parent resource name. The format of this value is as follows: `locations/{location_id}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "filter to only return infoTypes supported by certain parts of the API. Defaults to supported_by=INSPECT.",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "BCP-47 language code for localized infoType friendly names. If omitted, or if localized strings are not available, en-US strings will be returned.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/infoTypes",
                  "description": "Returns a list of the sensitive information types that the DLP API supports. See https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference to learn more."
                }
              }
            },
            "deidentifyTemplates": {
              "methods": {
                "patch": {
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "description": "Updates the DeidentifyTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "description": "Required. Resource name of organization and deidentify template to be updated, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "id": "dlp.organizations.locations.deidentifyTemplates.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the organization and deidentify template to be deleted, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "description": "Deletes a DeidentifyTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "id": "dlp.organizations.locations.deidentifyTemplates.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "create": {
                  "id": "dlp.organizations.locations.deidentifyTemplates.create",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest"
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates",
                  "description": "Creates a DeidentifyTemplate for reusing frequently used configuration for de-identifying content, images, and storage. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates/{deidentifyTemplatesId}",
                  "description": "Gets a DeidentifyTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and deidentify template to be read, for example `organizations/433245324/deidentifyTemplates/432452342` or projects/project-id/deidentifyTemplates/432452342.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/deidentifyTemplates/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
                  },
                  "id": "dlp.organizations.locations.deidentifyTemplates.get",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/deidentifyTemplates",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse"
                  },
                  "id": "dlp.organizations.locations.deidentifyTemplates.list",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/deidentifyTemplates",
                  "description": "Lists DeidentifyTemplates. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates-deid to learn more.",
                  "parameters": {
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from the previous call to `ListDeidentifyTemplates`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name.",
                      "type": "string",
                      "location": "query"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "connections": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "id": "dlp.organizations.locations.connections.get",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/connections/{connectionsId}",
                  "description": "Get a Connection by name.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "search": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/connections:search",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/connections:search",
                  "description": "Searches for Connections in a parent.",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the organization or project with a wildcard location, for example, `organizations/433245324/locations/-` or `projects/project-id/locations/-`.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Number of results per page, max 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Page token from a previous page to return the next set of results. If set, all other request fields must match the original request.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Supported field/value: - `state` - MISSING|AVAILABLE|ERROR The syntax is based on https://google.aip.dev/160.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2SearchConnectionsResponse"
                  },
                  "id": "dlp.organizations.locations.connections.search"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/connections",
                  "httpMethod": "POST",
                  "id": "dlp.organizations.locations.connections.create",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization): + Projects scope: `projects/{project_id}/locations/{location_id}` + Organizations scope: `organizations/{org_id}/locations/{location_id}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateConnectionRequest"
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/connections",
                  "description": "Create a Connection to an external data source."
                },
                "list": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListConnectionsResponse"
                  },
                  "id": "dlp.organizations.locations.connections.list",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/connections",
                  "description": "Lists Connections in a parent. Use SearchConnections to see all connections within an organization.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Supported field/value: `state` - MISSING|AVAILABLE|ERROR The syntax is based on https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token from a previous page to return the next set of results. If set, all other request fields must match the original request.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Number of results per page, max 1000.",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the organization or project, for example, `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/connections"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.organizations.locations.connections.delete",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/connections/{connectionsId}",
                  "description": "Delete a Connection.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name of the Connection to be deleted, in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "id": "dlp.organizations.locations.connections.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2Connection"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Resource name in the format: `projects/{project}/locations/{location}/connections/{connection}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/connections/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateConnectionRequest"
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/connections/{connectionsId}",
                  "description": "Update a Connection."
                }
              }
            },
            "storedInfoTypes": {
              "methods": {
                "patch": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of organization and storedInfoType to be updated, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "description": "Updates the stored infoType by creating a new version. The existing version will continue to be used until the new version is ready. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "id": "dlp.organizations.locations.storedInfoTypes.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  }
                },
                "delete": {
                  "id": "dlp.organizations.locations.storedInfoTypes.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the organization and storedInfoType to be deleted, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "description": "Deletes a stored infoType. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "id": "dlp.organizations.locations.storedInfoTypes.list",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListStoredInfoTypesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from the previous call to `ListStoredInfoTypes`.",
                      "type": "string",
                      "location": "query"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc, display_name, create_time desc` Supported fields are: - `create_time`: corresponds to the time the most recent version of the resource was created. - `state`: corresponds to the state of the resource. - `name`: corresponds to resource name. - `display_name`: corresponds to info type's display name.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes",
                  "description": "Lists stored infoTypes. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/storedInfoTypes",
                  "httpMethod": "GET"
                },
                "create": {
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes",
                  "description": "Creates a pre-built stored infoType to be used for inspection. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateStoredInfoTypeRequest"
                  },
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "id": "dlp.organizations.locations.storedInfoTypes.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/storedInfoTypes"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2StoredInfoType"
                  },
                  "id": "dlp.organizations.locations.storedInfoTypes.get",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/storedInfoTypes/{storedInfoTypesId}",
                  "description": "Gets a stored infoType. See https://cloud.google.com/sensitive-data-protection/docs/creating-stored-infotypes to learn more.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and storedInfoType to be read, for example `organizations/433245324/storedInfoTypes/432452342` or projects/project-id/storedInfoTypes/432452342.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/storedInfoTypes/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "tableDataProfiles": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/tableDataProfiles",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListTableDataProfilesResponse"
                  },
                  "id": "dlp.organizations.locations.tableDataProfiles.list",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/tableDataProfiles",
                  "description": "Lists table data profiles for an organization.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Page token to continue retrieval.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Resource name of the organization or project, for example `organizations/433245324/locations/europe` or `projects/project-id/locations/asia`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Only one order field at a time is allowed. Examples: * `project_id asc` * `table_id` * `sensitivity_level desc` Supported fields are: - `project_id`: The Google Cloud project ID. - `dataset_id`: The ID of a BigQuery dataset. - `table_id`: The ID of a BigQuery table. - `sensitivity_level`: How sensitive the data in a table is, at most. - `data_risk_level`: How much risk is associated with this data. - `profile_last_generated`: When the profile was last updated in epoch seconds. - `last_modified`: The last time the resource was modified. - `resource_visibility`: Visibility restriction for this resource. - `row_count`: Number of rows in this resource.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: The Google Cloud project ID - `dataset_id`: The BigQuery dataset ID - `table_id`: The ID of the BigQuery table - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `resource_visibility`: PUBLIC|RESTRICTED - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `project_id = 12345 AND resource_visibility = PUBLIC` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/tableDataProfiles/{tableDataProfilesId}",
                  "description": "Gets a table data profile.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/tableDataProfiles/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name, for example `organizations/12345/locations/us/tableDataProfiles/53234423`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2TableDataProfile"
                  },
                  "id": "dlp.organizations.locations.tableDataProfiles.get"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/tableDataProfiles/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the table data profile.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/tableDataProfiles/{tableDataProfilesId}",
                  "description": "Delete a TableDataProfile. Will not prevent the profile from being regenerated if the table is still included in a discovery configuration.",
                  "id": "dlp.organizations.locations.tableDataProfiles.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                }
              }
            },
            "jobTriggers": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListJobTriggersResponse"
                  },
                  "id": "dlp.organizations.locations.jobTriggers.list",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/jobTriggers",
                  "description": "Lists job triggers. See https://cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Page token to continue retrieval. Comes from the previous call to ListJobTriggers. `order_by` field must not change for subsequent calls.",
                      "type": "string"
                    },
                    "locationId": {
                      "location": "query",
                      "description": "Deprecated. This field has no effect.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Comma-separated list of triggeredJob fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the JobTrigger was created. - `update_time`: corresponds to the time the JobTrigger was last updated. - `last_run_time`: corresponds to the last time the JobTrigger ran. - `name`: corresponds to the JobTrigger's name. - `display_name`: corresponds to the JobTrigger's display name. - `status`: corresponds to JobTrigger's status.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields/values for inspect triggers: - `status` - HEALTHY|PAUSED|CANCELLED - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY - 'last_run_time` - RFC 3339 formatted timestamp, surrounded by quotation marks. Nanoseconds are ignored. - 'error_count' - Number of errors that have occurred while running. * The operator must be `=` or `!=` for status and inspected_storage. The syntax is based on https://google.aip.dev/160. Examples: * inspected_storage = cloud_storage AND status = HEALTHY * inspected_storage = cloud_storage OR inspected_storage = bigquery * inspected_storage = cloud_storage AND (state = PAUSED OR state = HEALTHY) * last_run_time > \\\"2017-12-12T00:00:00+00:00\\\" The length of this field should be no more than 500 characters.",
                      "type": "string"
                    },
                    "type": {
                      "enumDescriptions": [
                        "Defaults to INSPECT_JOB.",
                        "The job inspected Google Cloud for sensitive data.",
                        "The job executed a Risk Analysis computation."
                      ],
                      "enum": [
                        "DLP_JOB_TYPE_UNSPECIFIED",
                        "INSPECT_JOB",
                        "RISK_ANALYSIS_JOB"
                      ],
                      "description": "The type of jobs. Will use `DlpJobType.INSPECT` if not set.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Size of the page. This value can be limited by a server.",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/jobTriggers",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.jobTriggers.get",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "location": "path",
                      "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "description": "Gets a job trigger. See https://cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more."
                },
                "create": {
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "id": "dlp.organizations.locations.jobTriggers.create",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/jobTriggers",
                  "description": "Creates a job trigger to run DLP actions such as scanning storage for sensitive information on a set schedule. See https://cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateJobTriggerRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/jobTriggers",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/jobTriggers/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "description": "Deletes a job trigger. See https://cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more.",
                  "id": "dlp.organizations.locations.jobTriggers.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "id": "dlp.organizations.locations.jobTriggers.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2JobTrigger"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the project and the triggeredJob, for example `projects/dlp-test-project/jobTriggers/53234423`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/jobTriggers/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateJobTriggerRequest"
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/jobTriggers/{jobTriggersId}",
                  "description": "Updates a job trigger. See https://cloud.google.com/sensitive-data-protection/docs/creating-job-triggers to learn more."
                }
              }
            },
            "inspectTemplates": {
              "methods": {
                "patch": {
                  "request": {
                    "$ref": "GooglePrivacyDlpV2UpdateInspectTemplateRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of organization and inspectTemplate to be updated, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "description": "Updates the InspectTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "id": "dlp.organizations.locations.inspectTemplates.patch",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "description": "Deletes an InspectTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the organization and inspectTemplate to be deleted, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dlp.organizations.locations.inspectTemplates.delete"
                },
                "list": {
                  "id": "dlp.organizations.locations.inspectTemplates.list",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListInspectTemplatesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Size of the page. This value can be limited by the server. If zero server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Page token to continue retrieval. Comes from the previous call to `ListInspectTemplates`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Comma-separated list of fields to order by, followed by `asc` or `desc` postfix. This list is case insensitive. The default sorting order is ascending. Redundant space characters are insignificant. Example: `name asc,update_time, create_time desc` Supported fields are: - `create_time`: corresponds to the time the template was created. - `update_time`: corresponds to the time the template was last updated. - `name`: corresponds to the template's name. - `display_name`: corresponds to the template's display name.",
                      "type": "string",
                      "location": "query"
                    },
                    "locationId": {
                      "description": "Deprecated. This field has no effect.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates",
                  "description": "Lists InspectTemplates. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "path": "v2/{+parent}/inspectTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/inspectTemplates",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource name. The format of this value varies depending on the scope of the request (project or organization) and whether you have [specified a processing location](https://cloud.google.com/sensitive-data-protection/docs/specifying-location): + Projects scope, location specified: `projects/{project_id}/locations/{location_id}` + Projects scope, no location specified (defaults to global): `projects/{project_id}` + Organizations scope, location specified: `organizations/{org_id}/locations/{location_id}` + Organizations scope, no location specified (defaults to global): `organizations/{org_id}` The following example `parent` string specifies a parent project with the identifier `example-project`, and specifies the `europe-west3` location for processing data: parent=projects/example-project/locations/europe-west3",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GooglePrivacyDlpV2CreateInspectTemplateRequest"
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates",
                  "description": "Creates an InspectTemplate for reusing frequently used configuration for inspecting content, images, and storage. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more.",
                  "id": "dlp.organizations.locations.inspectTemplates.create",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "id": "dlp.organizations.locations.inspectTemplates.get",
                  "response": {
                    "$ref": "GooglePrivacyDlpV2InspectTemplate"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/inspectTemplates/[^/]+$",
                      "description": "Required. Resource name of the organization and inspectTemplate to be read, for example `organizations/433245324/inspectTemplates/432452342` or projects/project-id/inspectTemplates/432452342.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/inspectTemplates/{inspectTemplatesId}",
                  "description": "Gets an InspectTemplate. See https://cloud.google.com/sensitive-data-protection/docs/creating-templates to learn more."
                }
              }
            },
            "fileStoreDataProfiles": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/fileStoreDataProfiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GooglePrivacyDlpV2ListFileStoreDataProfilesResponse"
                  },
                  "id": "dlp.organizations.locations.fileStoreDataProfiles.list",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/fileStoreDataProfiles",
                  "description": "Lists file store data profiles for an organization.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Allows filtering. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * Supported fields: - `project_id`: The Google Cloud project ID - `account_id`: The AWS account ID - `file_store_path`: The path like \"gs://bucket\" - `data_source_type`: The profile's data source type, like \"google/storage/bucket\" - `data_storage_location`: The location where the file store's data is stored, like \"us-central1\" - `sensitivity_level`: HIGH|MODERATE|LOW - `data_risk_level`: HIGH|MODERATE|LOW - `resource_visibility`: PUBLIC|RESTRICTED - `status_code`: an RPC status code as defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto - `profile_last_generated`: Date and time the profile was last generated * The operator must be `=` or `!=`. The `profile_last_generated` filter also supports `<` and `>`. The syntax is based on https://google.aip.dev/160. Examples: * `project_id = 12345 AND status_code = 1` * `project_id = 12345 AND sensitivity_level = HIGH` * `project_id = 12345 AND resource_visibility = PUBLIC` * `file_store_path = \"gs://mybucket\"` * `profile_last_generated < \"2025-01-01T00:00:00.000Z\"` The length of this field should be no more than 500 characters.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Size of the page. This value can be limited by the server. If zero, server returns a page of max size 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
[...]
