{
  "baseUrl": "https://dlp.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20260307",
  "name": "dlp",
  "discoveryVersion": "v1",
  "schemas": {
    "GooglePrivacyDlpV2ByteContentItem": {
      "id": "GooglePrivacyDlpV2ByteContentItem",
      "type": "object",
      "description": "Container for bytes to inspect or redact.",
      "properties": {
        "type": {
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "POWERPOINT_DOCUMENT",
            "EXCEL_DOCUMENT",
            "AVRO",
            "CSV",
            "TSV",
            "AUDIO",
            "VIDEO",
            "EXECUTABLE",
            "AI_MODEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "pptx, pptm, potx, potm, pot",
            "xlsx, xlsm, xltx, xltm",
            "avro",
            "csv",
            "tsv",
            "Audio file types. Only used for profiling.",
            "Video file types. Only used for profiling.",
            "Executable file types. Only used for profiling.",
            "AI model file types. Only used for profiling."
          ]
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Content data to inspect or redact."
        }
      }
    },
    "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ReplaceWithInfoTypeConfig",
      "properties": {},
      "description": "Replace each matching finding with the name of the info_type."
    },
    "GooglePrivacyDlpV2Schedule": {
      "id": "GooglePrivacyDlpV2Schedule",
      "type": "object",
      "description": "Schedule for inspect job triggers.",
      "properties": {
        "recurrencePeriodDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "With this option a job is started on a regular periodic basis. For example: every day (86400 seconds). A scheduled start time will be skipped if the previous execution has not ended when its scheduled time occurs. This value must be set to a time duration greater than or equal to 1 day and can be no longer than 60 days."
        }
      }
    },
    "GooglePrivacyDlpV2DataProfileFinding": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DataProfileFinding",
      "properties": {
        "findingId": {
          "description": "A unique identifier for the finding.",
          "type": "string"
        },
        "fullResourceName": {
          "description": "The [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name) of the resource profiled for this finding.",
          "type": "string"
        },
        "resourceVisibility": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "May contain public items. For example, if a Cloud Storage bucket has uniform bucket level access disabled, some objects inside it may be public, but none are known yet.",
            "Visible only to specific users."
          ],
          "description": "How broadly a resource has been shared.",
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
            "RESOURCE_VISIBILITY_PUBLIC",
            "RESOURCE_VISIBILITY_INCONCLUSIVE",
            "RESOURCE_VISIBILITY_RESTRICTED"
          ]
        },
        "quote": {
          "description": "The content that was found. Even if the content is not textual, it may be converted to a textual representation here. If the finding exceeds 4096 bytes in length, the quote may be omitted.",
          "type": "string"
        },
        "infotype": {
          "description": "The [type of content](https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference) that might have been found.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "dataSourceType": {
          "description": "The type of the resource that was profiled.",
          "$ref": "GooglePrivacyDlpV2DataSourceType"
        },
        "quoteInfo": {
          "description": "Contains data parsed from quotes. Currently supported infoTypes: DATE, DATE_OF_BIRTH, and TIME.",
          "$ref": "GooglePrivacyDlpV2QuoteInfo"
        },
        "dataProfileResourceName": {
          "description": "Resource name of the data profile associated with the finding.",
          "type": "string"
        },
        "timestamp": {
          "description": "Timestamp when the finding was detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "location": {
          "description": "Where the content was found.",
          "$ref": "GooglePrivacyDlpV2DataProfileFindingLocation"
        }
      },
      "description": "Details about a piece of potentially sensitive information that was detected when the data resource was profiled."
    },
    "GooglePrivacyDlpV2QuasiIdField": {
      "type": "object",
      "id": "GooglePrivacyDlpV2QuasiIdField",
      "properties": {
        "field": {
          "description": "Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customTag": {
          "description": "A auxiliary field.",
          "type": "string"
        }
      },
      "description": "A quasi-identifier column has a custom_tag, used to know which column in the data corresponds to which column in the statistical model."
    },
    "GooglePrivacyDlpV2DataProfileFindingLocation": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DataProfileFindingLocation",
      "properties": {
        "containerName": {
          "description": "Name of the container where the finding is located. The top-level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}`",
          "type": "string"
        },
        "dataProfileFindingRecordLocation": {
          "description": "Location of a finding within a resource that produces a table data profile.",
          "$ref": "GooglePrivacyDlpV2DataProfileFindingRecordLocation"
        }
      },
      "description": "Location of a data profile finding within a resource."
    },
    "GooglePrivacyDlpV2CryptoDeterministicConfig": {
      "properties": {
        "cryptoKey": {
          "description": "The key used by the encryption function. For deterministic encryption using AES-SIV, the provided key is internally expanded to 64 bytes prior to use.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        },
        "surrogateInfoType": {
          "description": "The custom info type to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom info type followed by the number of characters comprising the surrogate. The following scheme defines the format: {info type name}({surrogate character count}):{surrogate} For example, if the name of custom info type is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom info type 'Surrogate'. This facilitates reversal of the surrogate when it occurs in free text. Note: For record transformations where the entire cell in a table is being transformed, surrogates are not mandatory. Surrogates are used to denote the location of the token and are necessary for re-identification in free form text. In order for inspection to work properly, the name of this info type must not occur naturally anywhere in your data; otherwise, inspection may either - reverse a surrogate that does not correspond to an actual identifier - be unable to parse the surrogate and result in an error Therefore, choose your custom info type name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "context": {
          "description": "A context may be used for higher security and maintaining referential integrity such that the same identifier in two different contexts will be given a distinct surrogate. The context is appended to plaintext value being encrypted. On decryption the provided context is validated against the value used during encryption. If a context was provided during encryption, same context must be provided during decryption as well. If the context is not set, plaintext would be used as is for encryption. If the context is set but: 1. there is no record present when transforming a given value or 2. the field is not present when transforming a given value, plaintext would be used as is for encryption. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and unstructured `ContentItem`s.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "description": "Pseudonymization method that generates deterministic encryption for the given input. Outputs a base64 encoded representation of the encrypted output. Uses AES-SIV based on the RFC https://tools.ietf.org/html/rfc5297.",
      "type": "object",
      "id": "GooglePrivacyDlpV2CryptoDeterministicConfig"
    },
    "GooglePrivacyDlpV2CreateInspectTemplateRequest": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CreateInspectTemplateRequest",
      "properties": {
        "inspectTemplate": {
          "description": "Required. The InspectTemplate to create.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        },
        "templateId": {
          "type": "string",
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      },
      "description": "Request message for CreateInspectTemplate."
    },
    "GooglePrivacyDlpV2CreateDiscoveryConfigRequest": {
      "description": "Request message for CreateDiscoveryConfig.",
      "properties": {
        "configId": {
          "description": "The config ID can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "discoveryConfig": {
          "description": "Required. The DiscoveryConfig to create.",
          "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
        }
      },
      "id": "GooglePrivacyDlpV2CreateDiscoveryConfigRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2ExclusionRule": {
      "id": "GooglePrivacyDlpV2ExclusionRule",
      "type": "object",
      "description": "The rule that specifies conditions when findings of infoTypes specified in `InspectionRuleSet` are removed from results.",
      "properties": {
        "matchingType": {
          "description": "How the rule is applied, see MatchingType documentation for details.",
          "enum": [
            "MATCHING_TYPE_UNSPECIFIED",
            "MATCHING_TYPE_FULL_MATCH",
            "MATCHING_TYPE_PARTIAL_MATCH",
            "MATCHING_TYPE_INVERSE_MATCH",
            "MATCHING_TYPE_RULE_SPECIFIC"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Full match. - Dictionary: join of Dictionary results matched the complete finding quote - Regex: all regex matches fill a finding quote from start to end - Exclude infoType: completely inside affecting infoTypes findings",
            "Partial match. - Dictionary: at least one of the tokens in the finding matches - Regex: substring of the finding matches - Exclude infoType: intersects with affecting infoTypes findings",
            "Inverse match. - Dictionary: no tokens in the finding match the dictionary - Regex: finding doesn't match the regex - Exclude infoType: no intersection with affecting infoTypes findings",
            "Rule-specific match. The matching logic is based on the specific rule being used. This is required for rules where the matching behavior is not a simple string comparison (e.g., image containment). This matching type can only be used with the `ExcludeByImageFindings` rule. - Exclude by image findings: The matching logic is defined within `ExcludeByImageFindings` based on spatial relationships between bounding boxes."
          ],
          "type": "string"
        },
        "dictionary": {
          "description": "Dictionary which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Dictionary"
        },
        "excludeByImageFindings": {
          "description": "Exclude findings based on image containment rules. For example, exclude an image finding if it overlaps with another image finding.",
          "$ref": "GooglePrivacyDlpV2ExcludeByImageFindings"
        },
        "excludeInfoTypes": {
          "description": "Set of infoTypes for which findings would affect this rule.",
          "$ref": "GooglePrivacyDlpV2ExcludeInfoTypes"
        },
        "regex": {
          "description": "Regular expression which defines the rule.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "excludeByHotword": {
          "description": "Drop if the hotword rule is contained in the proximate context. For tabular data, the context includes the column name.",
          "$ref": "GooglePrivacyDlpV2ExcludeByHotword"
        }
      }
    },
    "GooglePrivacyDlpV2TagCondition": {
      "id": "GooglePrivacyDlpV2TagCondition",
      "type": "object",
      "description": "The tag to attach to profiles matching the condition. At most one `TagCondition` can be specified per sensitivity level.",
      "properties": {
        "sensitivityScore": {
          "description": "Conditions attaching the tag to a resource on its profile having this sensitivity score.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "tag": {
          "description": "The tag value to attach to resources.",
          "$ref": "GooglePrivacyDlpV2TagValue"
        }
      }
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationResult": {
      "properties": {
        "deltaPresenceEstimationHistogram": {
          "description": "The intervals [min_probability, max_probability) do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_probability: 0, max_probability: 0.1, frequency: 17} {min_probability: 0.2, max_probability: 0.3, frequency: 42} {min_probability: 0.3, max_probability: 0.4, frequency: 99} mean that there are no record with an estimated probability in [0.1, 0.2) nor larger or equal to 0.4.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket"
          },
          "type": "array"
        }
      },
      "description": "Result of the δ-presence computation. Note that these results are an estimation, not exact values.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
    },
    "GooglePrivacyDlpV2DatastoreOptions": {
      "properties": {
        "partitionId": {
          "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        },
        "kind": {
          "description": "The kind to process.",
          "$ref": "GooglePrivacyDlpV2KindExpression"
        }
      },
      "description": "Options defining a data set within Google Cloud Datastore.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DatastoreOptions"
    },
    "GooglePrivacyDlpV2FullyInside": {
      "type": "object",
      "id": "GooglePrivacyDlpV2FullyInside",
      "properties": {},
      "description": "Defines a condition where one bounding box is fully inside another."
    },
    "GooglePrivacyDlpV2DocumentLocation": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DocumentLocation",
      "properties": {
        "fileOffset": {
          "type": "string",
          "format": "int64",
          "description": "Offset of the line, from the beginning of the file, where the finding is located."
        }
      },
      "description": "Location of a finding within a document."
    },
    "GooglePrivacyDlpV2EntityId": {
      "id": "GooglePrivacyDlpV2EntityId",
      "type": "object",
      "description": "An entity in a dataset is a field or set of fields that correspond to a single person. For example, in medical records the `EntityId` might be a patient identifier, or for financial records it might be an account identifier. This message is used when generalizations or analysis must take into account that multiple rows correspond to the same entity.",
      "properties": {
        "field": {
          "description": "Composite key indicating which field contains the entity identifier.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2DiscoveryOtherCloudFilter": {
      "id": "GooglePrivacyDlpV2DiscoveryOtherCloudFilter",
      "type": "object",
      "description": "Determines which resources from the other cloud will have profiles generated. Includes the ability to filter by resource names.",
      "properties": {
        "collection": {
          "description": "A collection of resources for this filter to apply to.",
          "$ref": "GooglePrivacyDlpV2OtherCloudResourceCollection"
        },
        "singleResource": {
          "description": "The resource to scan. Configs using this filter can only have one target (the target with this single resource reference).",
          "$ref": "GooglePrivacyDlpV2OtherCloudSingleResourceReference"
        },
        "others": {
          "description": "Optional. Catch-all. This should always be the last target in the list because anything above it will apply first. Should only appear once in a configuration. If none is specified, a default one will be added automatically.",
          "$ref": "GooglePrivacyDlpV2AllOtherResources"
        }
      }
    },
    "GooglePrivacyDlpV2InfoTypeLimit": {
      "type": "object",
      "id": "GooglePrivacyDlpV2InfoTypeLimit",
      "properties": {
        "infoType": {
          "description": "Type of information the findings limit applies to. Only one limit per info_type should be provided. If InfoTypeLimit does not have an info_type, the DLP API applies the limit against all info_types that are found but not specified in another InfoTypeLimit.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "maxFindings": {
          "description": "Max findings limit for the given infoType.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Max findings configuration per infoType, per content item or long running DlpJob."
    },
    "GooglePrivacyDlpV2StatisticalTable": {
      "id": "GooglePrivacyDlpV2StatisticalTable",
      "type": "object",
      "description": "An auxiliary table containing statistical information on the relative frequency of different quasi-identifiers values. It has one or several quasi-identifiers columns, and one column that indicates the relative frequency of each quasi-identifier tuple. If a tuple is present in the data but not in the auxiliary table, the corresponding relative frequency is assumed to be zero (and thus, the tuple is highly reidentifiable).",
      "properties": {
        "quasiIds": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2QuasiIdentifierField"
          },
          "description": "Required. Quasi-identifier columns."
        },
        "table": {
          "description": "Required. Auxiliary table location.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "relativeFrequency": {
          "description": "Required. The relative frequency column must contain a floating-point number between 0 and 1 (inclusive). Null values are assumed to be zero.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      }
    },
    "GooglePrivacyDlpV2FileClusterType": {
      "description": "Message used to identify file cluster type being profiled.",
      "properties": {
        "cluster": {
          "enumDescriptions": [
            "Unused.",
            "Unsupported files.",
            "Plain text.",
            "Structured data like CSV, TSV etc.",
            "Source code.",
            "Rich document like docx, xlsx etc.",
            "Images like jpeg, bmp.",
            "Archives and containers like .zip, .tar etc.",
            "Multimedia like .mp4, .avi etc.",
            "Executable files like .exe, .class, .apk etc.",
            "AI models like .tflite etc."
          ],
          "type": "string",
          "description": "Cluster type.",
          "enum": [
            "CLUSTER_UNSPECIFIED",
            "CLUSTER_UNKNOWN",
            "CLUSTER_TEXT",
            "CLUSTER_STRUCTURED_DATA",
            "CLUSTER_SOURCE_CODE",
            "CLUSTER_RICH_DOCUMENT",
            "CLUSTER_IMAGE",
            "CLUSTER_ARCHIVE",
            "CLUSTER_MULTIMEDIA",
            "CLUSTER_EXECUTABLE",
            "CLUSTER_AI_MODEL"
          ]
        }
      },
      "id": "GooglePrivacyDlpV2FileClusterType",
      "type": "object"
    },
    "UtilStatusProto": {
      "description": "Wire-format for a Status object",
      "properties": {
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "Proto2BridgeMessageSet"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        },
        "canonicalCode": {
          "type": "integer",
          "format": "int32",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
        },
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        }
      },
      "id": "UtilStatusProto",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListDiscoveryConfigsResponse": {
      "description": "Response message for ListDiscoveryConfigs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the next page is available then this value is the next page token to be used in the following ListDiscoveryConfigs request."
        },
        "discoveryConfigs": {
          "description": "List of configs, up to page_size in ListDiscoveryConfigsRequest.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
          },
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2ListDiscoveryConfigsResponse",
      "type": "object"
    },
    "GooglePrivacyDlpV2HybridInspectJobTriggerRequest": {
      "properties": {
        "hybridItem": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2HybridContentItem"
        }
      },
      "description": "Request to search for potentially sensitive info in a custom location.",
      "type": "object",
      "id": "GooglePrivacyDlpV2HybridInspectJobTriggerRequest"
    },
    "GooglePrivacyDlpV2DatabaseResourceReference": {
      "description": "Identifies a single database resource, like a table within a database.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. If within a project-level config, then this must match the config's project ID."
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance where this resource is located. For example: Cloud SQL instance ID."
        },
        "database": {
          "description": "Required. Name of a database within the instance.",
          "type": "string"
        },
        "databaseResource": {
          "type": "string",
          "description": "Required. Name of a database resource, for example, a table within the database."
        }
      },
      "id": "GooglePrivacyDlpV2DatabaseResourceReference",
      "type": "object"
    },
    "GooglePrivacyDlpV2Value": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Value",
      "properties": {
        "integerValue": {
          "type": "string",
          "format": "int64",
          "description": "integer"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "boolean"
        },
        "floatValue": {
          "description": "float",
          "type": "number",
          "format": "double"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "timestamp"
        },
        "dateValue": {
          "description": "date",
          "$ref": "GoogleTypeDate"
        },
        "stringValue": {
          "description": "string",
          "type": "string"
        },
        "timeValue": {
          "description": "time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "dayOfWeekValue": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "day of week",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "description": "Set of primitive values supported by the system. Note that for the purposes of inspection or transformation, the number of bytes considered to comprise a 'Value' is based on its representation as a UTF-8 encoded string. For example, if 'integer_value' is set to 123456789, the number of bytes would be counted as 9, even though an int64 only holds up to 8 bytes of data."
    },
    "GooglePrivacyDlpV2Disabled": {
      "properties": {},
      "description": "Do not profile the tables.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Disabled"
    },
    "GooglePrivacyDlpV2RecordSuppression": {
      "id": "GooglePrivacyDlpV2RecordSuppression",
      "type": "object",
      "description": "Configuration to suppress records whose suppression conditions evaluate to true.",
      "properties": {
        "condition": {
          "description": "A condition that when it evaluates to true will result in the record being evaluated to be suppressed from the transformed content.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        }
      }
    },
    "GooglePrivacyDlpV2AllInfoTypes": {
      "id": "GooglePrivacyDlpV2AllInfoTypes",
      "type": "object",
      "description": "Apply transformation to all findings.",
      "properties": {}
    },
    "GooglePrivacyDlpV2Manual": {
      "id": "GooglePrivacyDlpV2Manual",
      "type": "object",
      "description": "Job trigger option for hybrid jobs. Jobs must be manually created and finished.",
      "properties": {}
    },
    "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig": {
      "id": "GooglePrivacyDlpV2CryptoReplaceFfxFpeConfig",
      "type": "object",
      "description": "Replaces an identifier with a surrogate using Format Preserving Encryption (FPE) with the FFX mode of operation; however when used in the `ReidentifyContent` API method, it serves the opposite function by reversing the surrogate back into the original identifier. The identifier must be encoded as ASCII. For a given crypto key and context, the same identifier will be replaced with the same surrogate. Identifiers must be at least two characters long. In the case that the identifier is the empty string, it will be skipped. See https://cloud.google.com/sensitive-data-protection/docs/pseudonymization to learn more. Note: We recommend using CryptoDeterministicConfig for all use cases which do not require preserving the input alphabet space and size, plus warrant referential integrity. FPE incurs significant latency costs.",
      "properties": {
        "commonAlphabet": {
          "description": "Common alphabets.",
          "enum": [
            "FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED",
            "NUMERIC",
            "HEXADECIMAL",
            "UPPER_CASE_ALPHA_NUMERIC",
            "ALPHA_NUMERIC"
          ],
          "enumDescriptions": [
            "Unused.",
            "`[0-9]` (radix of 10)",
            "`[0-9A-F]` (radix of 16)",
            "`[0-9A-Z]` (radix of 36)",
            "`[0-9A-Za-z]` (radix of 62)"
          ],
          "type": "string"
        },
        "radix": {
          "description": "The native way to select the alphabet. Must be in the range [2, 95].",
          "type": "integer",
          "format": "int32"
        },
        "surrogateInfoType": {
          "description": "The custom infoType to annotate the surrogate with. This annotation will be applied to the surrogate by prefixing it with the name of the custom infoType followed by the number of characters comprising the surrogate. The following scheme defines the format: info_type_name(surrogate_character_count):surrogate For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and the surrogate is 'abc', the full replacement value will be: 'MY_TOKEN_INFO_TYPE(3):abc' This annotation identifies the surrogate when inspecting content using the custom infoType [`SurrogateType`](https://cloud.google.com/sensitive-data-protection/docs/reference/rest/v2/InspectConfig#surrogatetype). This facilitates reversal of the surrogate when it occurs in free text. In order for inspection to work properly, the name of this infoType must not occur naturally anywhere in your data; otherwise, inspection may find a surrogate that does not correspond to an actual identifier. Therefore, choose your custom infoType name carefully after considering what your data looks like. One way to select a name that has a high chance of yielding reliable detection is to include one or more unicode characters that are highly improbable to exist in your data. For example, assuming your data is entered from a regular ASCII keyboard, the symbol with the hex code point 29DD might be used like so: ⧝MY_TOKEN_TYPE",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "context": {
          "description": "The 'tweak', a context may be used for higher security since the same identifier in two different contexts won't be given the same surrogate. If the context is not set, a default tweak will be used. If the context is set but: 1. there is no record present when transforming a given value or 1. the field is not present when transforming a given value, a default tweak will be used. Note that case (1) is expected when an `InfoTypeTransformation` is applied to both structured and unstructured `ContentItem`s. Currently, the referenced field may be of value type integer or string. The tweak is constructed as a sequence of bytes in big endian byte order such that: - a 64 bit integer is encoded followed by a single byte of value 1 - a string is encoded in UTF-8 format followed by a single byte of value 2",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "customAlphabet": {
          "description": "This is supported by mapping these to the alphanumeric characters that the FFX mode natively supports. This happens before/after encryption/decryption. Each character listed must appear only once. Number of characters must be in the range [2, 95]. This must be encoded as ASCII. The order of characters does not matter. The full list of allowed characters is: ``0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz~`!@#$%^&*()_-+={[}]|\\:;\"'<,>.?/``",
          "type": "string"
        },
        "cryptoKey": {
          "description": "Required. The key used by the encryption algorithm.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2FieldTransformation": {
      "properties": {
        "infoTypeTransformations": {
          "description": "Treat the contents of the field as free text, and selectively transform content that matches an `InfoType`.",
          "$ref": "GooglePrivacyDlpV2InfoTypeTransformations"
        },
        "condition": {
          "description": "Only apply the transformation if the condition evaluates to true for the given `RecordCondition`. The conditions are allowed to reference fields that are not used in the actual transformation. Example Use Cases: - Apply a different bucket transformation to an age column if the zip code column for the same record is within a specific range. - Redact a field if the date of birth field is greater than 85.",
          "$ref": "GooglePrivacyDlpV2RecordCondition"
        },
        "primitiveTransformation": {
          "description": "Apply the transformation to the entire field.",
          "$ref": "GooglePrivacyDlpV2PrimitiveTransformation"
        },
        "fields": {
          "description": "Required. Input field(s) to apply the transformation to. When you have columns that reference their position within a list, omit the index from the FieldId. FieldId name matching ignores the index. For example, instead of \"contact.nums[0].type\", use \"contact.nums.type\".",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "description": "The transformation to apply to the field.",
      "type": "object",
      "id": "GooglePrivacyDlpV2FieldTransformation"
    },
    "GooglePrivacyDlpV2DateShiftConfig": {
      "id": "GooglePrivacyDlpV2DateShiftConfig",
      "type": "object",
      "description": "Shifts dates by random number of days, with option to be consistent for the same context. See https://cloud.google.com/sensitive-data-protection/docs/concepts-date-shifting to learn more.",
      "properties": {
        "upperBoundDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Range of shift in days. Actual shift will be selected at random within this range (inclusive ends). Negative means shift to earlier in time. Must not be more than 365250 days (1000 years) each direction. For example, 3 means shift date to at most 3 days into the future."
        },
        "lowerBoundDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. For example, -5 means shift date to at most 5 days back in the past."
        },
        "context": {
          "description": "Points to the field that contains the context, for example, an entity id. If set, must also set cryptoKey. If set, shift will be consistent for the given context.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "cryptoKey": {
          "description": "Causes the shift to be computed based on this key and the context. This results in the same shift for the same context and crypto_key. If set, must also set context. Can only be applied to table items.",
          "$ref": "GooglePrivacyDlpV2CryptoKey"
        }
      }
    },
    "GooglePrivacyDlpV2UpdateJobTriggerRequest": {
      "id": "GooglePrivacyDlpV2UpdateJobTriggerRequest",
      "type": "object",
      "description": "Request message for UpdateJobTrigger.",
      "properties": {
        "jobTrigger": {
          "description": "New JobTrigger value.",
          "$ref": "GooglePrivacyDlpV2JobTrigger"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated."
        }
      }
    },
    "GooglePrivacyDlpV2CloudStorageResourceReference": {
      "description": "Identifies a single Cloud Storage bucket.",
      "properties": {
        "bucketName": {
          "type": "string",
          "description": "Required. The bucket to scan."
        },
        "projectId": {
          "description": "Required. If within a project-level config, then this must match the config's project id.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageResourceReference",
      "type": "object"
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "properties": {
        "contentOptions": {
          "description": "Deprecated and unused.",
          "items": {
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ],
            "enumDescriptions": [
              "Includes entire content of a file or a data stream.",
              "Text content within the data, excluding any metadata.",
              "Images found in the data."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings. This is not used for data profiling.",
          "type": "boolean"
        },
        "infoTypes": {
          "description": "Restricts what info_types to look for. The values must correspond to InfoType values returned by ListInfoTypes or listed at https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference. When no InfoTypes or CustomInfoTypes are specified in a request, the system may automatically choose a default list of detectors to run, which may change over time. If you need precise control and predictability as to what detectors are run you should specify specific InfoTypes listed in the reference, otherwise a default list will be used, which may change over time.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          }
        },
        "minLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "description": "Only returns findings equal to or above this threshold. The default is POSSIBLE. In general, the highest likelihood setting yields the fewest findings in results and the lowest chance of a false positive. For more information, see [Match likelihood](https://cloud.google.com/sensitive-data-protection/docs/likelihood).",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "includeQuote": {
          "type": "boolean",
          "description": "When true, a contextual quote from the data that triggered a finding is included in the response; see Finding.quote. This is not used for data profiling."
        },
        "minLikelihoodPerInfoType": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLikelihood"
          },
          "type": "array",
          "description": "Minimum likelihood per infotype. For each infotype, a user can specify a minimum likelihood. The system only returns a finding if its likelihood is above this threshold. If this field is not set, the system uses the InspectConfig min_likelihood."
        },
        "customInfoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          },
          "type": "array",
          "description": "CustomInfoTypes provided by the user. See https://cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes to learn more."
        },
        "limits": {
          "description": "Configuration to control the number of findings returned. This is not used for data profiling. When redacting sensitive data from images, finding limits don't apply. They can cause unexpected or inconsistent results, where only some data is redacted. Don't include finding limits in RedactImage requests. Otherwise, Cloud DLP returns an error. When set within an InspectJobConfig, the specified maximum values aren't hard limits. If an inspection job reaches these limits, the job ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns can be multiple times higher than these maximum values.",
          "$ref": "GooglePrivacyDlpV2FindingLimits"
        },
        "ruleSet": {
          "description": "Set of rules to apply to the findings for this InspectConfig. Exclusion rules, contained in the set are executed in the end, other rules are executed in the order they are specified for each info type. Not supported for the `metadata_key_value_expression` CustomInfoType.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          },
          "type": "array"
        }
      },
      "description": "Configuration description of the scanning process. When used with redactContent only info_types and min_likelihood are currently used.",
      "type": "object",
      "id": "GooglePrivacyDlpV2InspectConfig"
    },
    "GooglePrivacyDlpV2TaggedField": {
      "type": "object",
      "id": "GooglePrivacyDlpV2TaggedField",
      "properties": {
        "inferred": {
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data",
          "$ref": "GoogleProtobufEmpty"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column.",
          "type": "string"
        },
        "field": {
          "description": "Required. Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "description": "A column with a semantic tag attached."
    },
    "GooglePrivacyDlpV2DiscoveryCloudSqlFilter": {
      "description": "Determines what tables will have profiles generated within an organization or project. Includes the ability to filter by regular expression patterns on project ID, location, instance, database, and database resource name.",
      "properties": {
        "collection": {
          "description": "A specific set of database resources for this filter to apply to.",
          "$ref": "GooglePrivacyDlpV2DatabaseResourceCollection"
        },
        "others": {
          "description": "Catch-all. This should always be the last target in the list because anything above it will apply first. Should only appear once in a configuration. If none is specified, a default one will be added automatically.",
          "$ref": "GooglePrivacyDlpV2AllOtherDatabaseResources"
        },
        "databaseResourceReference": {
          "description": "The database resource to scan. Targets including this can only include one target (the target with this database resource reference).",
          "$ref": "GooglePrivacyDlpV2DatabaseResourceReference"
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryCloudSqlFilter",
      "type": "object"
    },
    "GooglePrivacyDlpV2SelectedInfoTypes": {
      "type": "object",
      "id": "GooglePrivacyDlpV2SelectedInfoTypes",
      "properties": {
        "infoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "type": "array",
          "description": "Required. InfoTypes to apply the transformation to. Required. Provided InfoType must be unique within the ImageTransformations message."
        }
      },
      "description": "Apply transformation to the selected info_types."
    },
    "GooglePrivacyDlpV2DiscoveryTableModifiedCadence": {
      "type": "object",
      "id": "GooglePrivacyDlpV2DiscoveryTableModifiedCadence",
      "properties": {
        "types": {
          "description": "The type of events to consider when deciding if the table has been modified and should have the profile updated. Defaults to MODIFIED_TIMESTAMP.",
          "type": "array",
          "items": {
            "enum": [
              "TABLE_MODIFICATION_UNSPECIFIED",
              "TABLE_MODIFIED_TIMESTAMP"
            ],
            "enumDescriptions": [
              "Unused.",
              "A table will be considered modified when the last_modified_time from BigQuery has been updated."
            ],
            "type": "string"
          }
        },
        "frequency": {
          "description": "How frequently data profiles can be updated when tables are modified. Defaults to never.",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ]
        }
      },
      "description": "The cadence at which to update data profiles when a table is modified."
    },
    "GooglePrivacyDlpV2DatabaseResourceRegexes": {
      "description": "A collection of regular expressions to determine what database resources to match against.",
      "properties": {
        "patterns": {
          "description": "A group of regular expression patterns to match against one or more database resources. Maximum of 100 entries. The sum of all regular expression's length can't exceed 10 KiB.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DatabaseResourceRegex"
          },
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2DatabaseResourceRegexes",
      "type": "object"
    },
    "GooglePrivacyDlpV2Conditions": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Conditions",
      "properties": {
        "conditions": {
          "description": "A collection of conditions.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Condition"
          },
          "type": "array"
        }
      },
      "description": "A collection of conditions."
    },
    "GooglePrivacyDlpV2QuasiId": {
      "description": "A column with a semantic tag attached.",
      "properties": {
        "inferred": {
          "description": "If no semantic tag is indicated, we infer the statistical model from the distribution of values in the input data",
          "$ref": "GoogleProtobufEmpty"
        },
        "customTag": {
          "description": "A column can be tagged with a custom tag. In this case, the user must indicate an auxiliary table that contains statistical information on the possible values of this column.",
          "type": "string"
        },
        "field": {
          "description": "Required. Identifies the column.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        },
        "infoType": {
          "description": "A column can be tagged with a InfoType to use the relevant public dataset as a statistical model of population, if available. We currently support US ZIP codes, region codes, ages and genders. To programmatically obtain the list of supported InfoTypes, use ListInfoTypes with the supported_by=RISK_ANALYSIS filter.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "id": "GooglePrivacyDlpV2QuasiId",
      "type": "object"
    },
    "GooglePrivacyDlpV2VersionDescription": {
      "type": "object",
      "id": "GooglePrivacyDlpV2VersionDescription",
      "properties": {
        "version": {
          "description": "Name of the version",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the version."
        }
      },
      "description": "Details about each available version for an infotype."
    },
    "GooglePrivacyDlpV2DeidentifyDataSourceStats": {
      "properties": {
        "transformationCount": {
          "description": "Number of successfully applied transformations.",
          "type": "string",
          "format": "int64"
        },
        "transformationErrorCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of errors encountered while trying to apply transformations."
        },
        "transformedBytes": {
          "description": "Total size in bytes that were transformed in some way.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Summary of what was modified during a transformation.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeidentifyDataSourceStats"
    },
    "GooglePrivacyDlpV2Encloses": {
      "description": "Defines a condition where one bounding box encloses another.",
      "properties": {},
      "id": "GooglePrivacyDlpV2Encloses",
      "type": "object"
    },
    "GooglePrivacyDlpV2ListFileStoreDataProfilesResponse": {
      "properties": {
        "fileStoreDataProfiles": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FileStoreDataProfile"
          },
          "description": "List of data profiles."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        }
      },
      "description": "List of file store data profiles generated for a given organization or project.",
      "type": "object",
      "id": "GooglePrivacyDlpV2ListFileStoreDataProfilesResponse"
    },
    "GooglePrivacyDlpV2TransformationDetailsStorageConfig": {
      "properties": {
        "table": {
          "description": "The BigQuery table in which to store the output. This may be an existing table or in a new table in an existing dataset. If table_id is not set a new one will be generated for you with the following format: dlp_googleapis_transformation_details_yyyy_mm_dd_[dlp_job_id]. Pacific time zone will be used for generating the date details.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "description": "Config for storing transformation details.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationDetailsStorageConfig"
    },
    "GooglePrivacyDlpV2HotwordRule": {
      "id": "GooglePrivacyDlpV2HotwordRule",
      "type": "object",
      "description": "The rule that adjusts the likelihood of findings within a certain proximity of hotwords.",
      "properties": {
        "hotwordRegex": {
          "description": "Regular expression pattern defining what qualifies as a hotword.",
          "$ref": "GooglePrivacyDlpV2Regex"
        },
        "likelihoodAdjustment": {
          "description": "Likelihood adjustment to apply to all matching findings.",
          "$ref": "GooglePrivacyDlpV2LikelihoodAdjustment"
        },
        "proximity": {
          "description": "Range of characters within which the entire hotword must reside. The total length of the window cannot exceed 1000 characters. The finding itself will be included in the window, so that hotwords can be used to match substrings of the finding itself. Suppose you want Cloud DLP to promote the likelihood of the phone number regex \"\\(\\d{3}\\) \\d{3}-\\d{4}\" if the area code is known to be the area code of a company's office. In this case, use the hotword regex \"\\(xxx\\)\", where \"xxx\" is the area code in question. For tabular data, if you want to modify the likelihood of an entire column of findngs, see [Hotword example: Set the match likelihood of a table column] (https://cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes-likelihood#match-column-values).",
          "$ref": "GooglePrivacyDlpV2Proximity"
        }
      }
    },
    "GoogleTypeTimeOfDay": {
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "id": "GoogleTypeTimeOfDay"
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket": {
      "description": "A DeltaPresenceEstimationHistogramBucket message with the following values: min_probability: 0.1 max_probability: 0.2 frequency: 42 means that there are 42 records for which δ is in [0.1, 0.2). An important particular case is when min_probability = max_probability = 1: then, every individual who shares this quasi-identifier combination is in the dataset.",
      "properties": {
        "minProbability": {
          "description": "Between 0 and 1.",
          "type": "number",
          "format": "double"
        },
        "bucketValues": {
          "items": {
            "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
          },
          "type": "array",
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20."
        },
        "bucketValueCount": {
          "description": "Total number of distinct quasi-identifier tuple values in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "bucketSize": {
          "description": "Number of records within these probability bounds.",
          "type": "string",
          "format": "int64"
        },
        "maxProbability": {
          "description": "Always greater than or equal to min_probability.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationHistogramBucket",
      "type": "object"
    },
    "GooglePrivacyDlpV2RedactImageRequest": {
      "description": "Request to search for potentially sensitive info in an image and redact it by covering it with a colored rectangle.",
      "properties": {
        "inspectTemplate": {
          "type": "string",
          "description": "The full resource name of the inspection template to use. Settings in the main `inspect_config` field override the corresponding settings in this inspection template. The merge behavior is as follows: - Singular field: The main field's value replaces the value of the corresponding field in the template. - Repeated fields: The field values are appended to the list defined in the template. - Sub-messages and groups: The fields are recursively merged."
        },
        "byteItem": {
          "description": "The content must be PNG, JPEG, SVG or BMP.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        },
        "imageRedactionConfigs": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageRedactionConfig"
          },
          "description": "The configuration for specifying what content to redact from images."
        },
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "deidentifyTemplate": {
          "type": "string",
          "description": "The full resource name of the de-identification template to use. Settings in the main `image_redaction_configs` field override the corresponding settings in this de-identification template. The request fails if the type of the template's deidentify_config is not image_transformations."
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "includeFindings": {
          "description": "Whether the response should include findings along with the redacted image.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2RedactImageRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2ReplaceDictionaryConfig": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ReplaceDictionaryConfig",
      "properties": {
        "wordList": {
          "description": "A list of words to select from for random replacement. The [limits](https://cloud.google.com/sensitive-data-protection/limits) page contains details about the size limits of dictionaries.",
          "$ref": "GooglePrivacyDlpV2WordList"
        }
      },
      "description": "Replace each input value with a value randomly selected from the dictionary."
    },
    "GooglePrivacyDlpV2CategoricalStatsResult": {
      "description": "Result of the categorical stats computation.",
      "properties": {
        "valueFrequencyHistogramBuckets": {
          "items": {
            "$ref": "GooglePrivacyDlpV2CategoricalStatsHistogramBucket"
          },
          "type": "array",
          "description": "Histogram of value frequencies in the column."
        }
      },
      "id": "GooglePrivacyDlpV2CategoricalStatsResult",
      "type": "object"
    },
    "GooglePrivacyDlpV2Connection": {
      "type": "object",
      "id": "GooglePrivacyDlpV2Connection",
      "properties": {
        "state": {
          "description": "Required. The connection's state in its lifecycle.",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "MISSING_CREDENTIALS",
            "AVAILABLE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unused",
            "The DLP API automatically created this connection during an initial scan, and it is awaiting full configuration by a user.",
            "A configured connection that has not encountered any errors.",
            "A configured connection that encountered errors during its last use. It will not be used again until it is set to AVAILABLE. If the resolution requires external action, then the client must send a request to set the status to AVAILABLE when the connection is ready for use. If the resolution doesn't require external action, then any changes to the connection properties will automatically mark it as AVAILABLE."
          ],
          "type": "string"
        },
        "cloudSql": {
          "description": "Connect to a Cloud SQL instance.",
          "$ref": "GooglePrivacyDlpV2CloudSqlProperties"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the connection: `projects/{project}/locations/{location}/connections/{name}`."
        },
        "errors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GooglePrivacyDlpV2Error"
          },
          "description": "Output only. Set if status == ERROR, to provide additional details. Will store the last 10 errors sorted with the most recent first."
        }
      },
      "description": "A data connection to allow the DLP API to profile data in locations that require additional configuration."
    },
    "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues": {
      "properties": {
        "quasiIdsValues": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "description": "The quasi-identifier values."
        },
        "estimatedProbability": {
          "type": "number",
          "format": "double",
          "description": "The estimated probability that a given individual sharing these quasi-identifier values is in the dataset. This value, typically called δ, is the ratio between the number of records in the dataset with these quasi-identifier values, and the total number of individuals (inside *and* outside the dataset) with these quasi-identifier values. For example, if there are 15 individuals in the dataset who share the same quasi-identifier values, and an estimated 100 people in the entire population with these values, then δ is 0.15."
        }
      },
      "description": "A tuple of values for the quasi-identifier columns.",
      "type": "object",
      "id": "GooglePrivacyDlpV2DeltaPresenceEstimationQuasiIdValues"
    },
    "GooglePrivacyDlpV2Action": {
      "properties": {
        "pubSub": {
          "description": "Publish a notification to a Pub/Sub topic.",
          "$ref": "GooglePrivacyDlpV2PublishToPubSub"
        },
        "publishFindingsToDataplexCatalog": {
          "description": "Publish findings as an aspect to Dataplex Universal Catalog.",
          "$ref": "GooglePrivacyDlpV2PublishFindingsToDataplexCatalog"
        },
        "publishFindingsToCloudDataCatalog": {
          "description": "Deprecated because Data Catalog is being turned down. Use publish_findings_to_dataplex_catalog to publish findings to Dataplex Universal Catalog.",
          "deprecated": true,
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog"
        },
        "publishSummaryToCscc": {
          "description": "Publish summary to Cloud Security Command Center (Alpha).",
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc"
        },
        "jobNotificationEmails": {
          "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://cloud.google.com/resource-manager/docs/managing-notification-contacts).",
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails"
        },
        "saveFindings": {
          "description": "Save resulting findings in a provided location.",
          "$ref": "GooglePrivacyDlpV2SaveFindings"
        },
        "deidentify": {
          "description": "Create a de-identified copy of the input data.",
          "$ref": "GooglePrivacyDlpV2Deidentify"
        },
        "publishToStackdriver": {
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count.",
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver"
        }
      },
      "description": "A task to execute on the completion of a job. See https://cloud.google.com/sensitive-data-protection/docs/concepts-actions to learn more.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Action"
    },
    "GooglePrivacyDlpV2TransformationLocation": {
      "properties": {
        "findingId": {
          "type": "string",
          "description": "For infotype transformations, link to the corresponding findings ID so that location information does not need to be duplicated. Each findings ID correlates to an entry in the findings output table, this table only gets created when users specify to save findings (add the save findings action to the request)."
        },
        "containerType": {
          "description": "Information about the functionality of the container where this finding occurred, if available.",
          "enum": [
            "TRANSFORM_UNKNOWN_CONTAINER",
            "TRANSFORM_BODY",
            "TRANSFORM_METADATA",
            "TRANSFORM_TABLE"
          ],
          "enumDescriptions": [
            "Unused.",
            "Body of a file.",
            "Metadata for a file.",
            "A table."
          ],
          "type": "string"
        },
        "recordTransformation": {
          "description": "For record transformations, provide a field and container information.",
          "$ref": "GooglePrivacyDlpV2RecordTransformation"
        }
      },
      "description": "Specifies the location of a transformation.",
      "type": "object",
      "id": "GooglePrivacyDlpV2TransformationLocation"
    },
    "GooglePrivacyDlpV2OtherCloudResourceRegexes": {
      "properties": {
        "patterns": {
          "description": "A group of regular expression patterns to match against one or more resources. Maximum of 100 entries. The sum of all regular expression's length can't exceed 10 KiB.",
          "items": {
            "$ref": "GooglePrivacyDlpV2OtherCloudResourceRegex"
          },
          "type": "array"
        }
      },
      "description": "A collection of regular expressions to determine what resources to match against.",
      "type": "object",
      "id": "GooglePrivacyDlpV2OtherCloudResourceRegexes"
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ValueFrequency",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "How many times the value is contained in the field."
        },
        "value": {
          "description": "A value contained in the field in question.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      },
      "description": "A value of a field, including its frequency."
    },
    "GooglePrivacyDlpV2OtherCloudDiscoveryTarget": {
      "properties": {
        "conditions": {
          "description": "Optional. In addition to matching the filter, these conditions must be true before a profile is generated.",
          "$ref": "GooglePrivacyDlpV2DiscoveryOtherCloudConditions"
        },
        "disabled": {
          "description": "Disable profiling for resources that match this filter.",
          "$ref": "GooglePrivacyDlpV2Disabled"
        },
        "filter": {
          "description": "Required. The resources that the discovery cadence applies to. The first target with a matching filter will be the one to apply to a resource.",
          "$ref": "GooglePrivacyDlpV2DiscoveryOtherCloudFilter"
        },
        "dataSourceType": {
          "description": "Required. The type of data profiles generated by this discovery target. Supported values are: * aws/s3/bucket",
          "$ref": "GooglePrivacyDlpV2DataSourceType"
        },
        "generationCadence": {
          "description": "How often and when to update data profiles. New resources that match both the filter and conditions are scanned as quickly as possible depending on system capacity.",
          "$ref": "GooglePrivacyDlpV2DiscoveryOtherCloudGenerationCadence"
        }
      },
      "description": "Target used to match against for discovery of resources from other clouds. An [AWS connector in Security Command Center (Enterprise](https://cloud.google.com/security-command-center/docs/connect-scc-to-aws) is required to use this feature.",
      "type": "object",
      "id": "GooglePrivacyDlpV2OtherCloudDiscoveryTarget"
    },
    "GooglePrivacyDlpV2ExcludeByImageFindings": {
      "type": "object",
      "id": "GooglePrivacyDlpV2ExcludeByImageFindings",
      "properties": {
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "description": "A list of image-supported infoTypes—excluding [document infoTypes](https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference#documents)—to be used as context for the exclusion rule. A finding is excluded if its bounding box has the specified spatial relationship (defined by `image_containment_type`) with a finding of an infoType in this list. For example, if `InspectionRuleSet.info_types` includes `OBJECT_TYPE/PERSON` and this `exclusion_rule` specifies `info_types` as `OBJECT_TYPE/PERSON/PASSPORT` with `image_containment_type` set to `encloses`, then `OBJECT_TYPE/PERSON` findings will be excluded if they are fully contained within the bounding box of an `OBJECT_TYPE/PERSON/PASSPORT` finding."
        },
        "imageContainmentType": {
          "description": "Specifies the required spatial relationship between the bounding boxes of the target finding and the context infoType findings.",
          "$ref": "GooglePrivacyDlpV2ImageContainmentType"
        }
      },
      "description": "The rule to exclude image findings based on spatial relationships with other image findings. For example, exclude an image finding if it overlaps with another image finding. This rule is silently ignored if the content being inspected is not an image."
    },
    "GooglePrivacyDlpV2Color": {
      "description": "Represents a color in the RGB color space.",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GooglePrivacyDlpV2Color",
      "type": "object"
    },
    "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest": {
      "description": "Request message for UpdateStoredInfoType.",
      "properties": {
        "config": {
          "description": "Updated configuration for the storedInfoType. If not provided, a new version of the storedInfoType will be created with the existing configuration.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeConfig"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated."
        }
      },
      "id": "GooglePrivacyDlpV2UpdateStoredInfoTypeRequest",
      "type": "object"
    },
    "GooglePrivacyDlpV2DataSourceType": {
      "id": "GooglePrivacyDlpV2DataSourceType",
      "type": "object",
      "description": "Message used to identify the type of resource being profiled.",
      "properties": {
        "dataSource": {
          "type": "string",
          "description": "A string that identifies the type of resource being profiled. Current values: * google/bigquery/table * google/project * google/sql/table * google/gcs/bucket"
        }
      }
    },
    "GooglePrivacyDlpV2DataProfileConfigSnapshot": {
      "id": "GooglePrivacyDlpV2DataProfileConfigSnapshot",
      "type": "object",
      "description": "Snapshot of the configurations used to generate the profile.",
      "properties": {
        "discoveryConfig": {
          "description": "A copy of the configuration used to generate this profile.",
          "$ref": "GooglePrivacyDlpV2DiscoveryConfig"
        },
        "inspectTemplateName": {
          "type": "string",
          "description": "Name of the inspection template used to generate this profile"
        },
        "inspectTemplateModifiedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the template was modified"
        },
        "dataProfileJob": {
          "description": "A copy of the configuration used to generate this profile. This is deprecated, and the DiscoveryConfig field is preferred moving forward. DataProfileJobConfig will still be written here for Discovery in BigQuery for backwards compatibility, but will not be updated with new fields, while DiscoveryConfig will.",
          "$ref": "GooglePrivacyDlpV2DataProfileJobConfig",
          "deprecated": true
        },
        "inspectConfig": {
          "description": "A copy of the inspection config used to generate this profile. This is a copy of the inspect_template specified in `DataProfileJobConfig`.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        }
      }
    },
    "GooglePrivacyDlpV2RequestedOptions": {
      "description": "Snapshot of the inspection configuration.",
      "properties": {
        "jobConfig": {
          "description": "Inspect config.",
          "$ref": "GooglePrivacyDlpV2InspectJobConfig"
        },
        "snapshotInspectTemplate": {
          "description": "If run with an InspectTemplate, a snapshot of its state at the time of this run.",
          "$ref": "GooglePrivacyDlpV2InspectTemplate"
        }
      },
      "id": "GooglePrivacyDlpV2RequestedOptions",
      "type": "object"
    },
    "GooglePrivacyDlpV2AmazonS3BucketRegex": {
      "type": "object",
      "id": "GooglePrivacyDlpV2AmazonS3BucketRegex",
      "properties": {
        "awsAccountRegex": {
          "description": "The AWS account regex.",
          "$ref": "GooglePrivacyDlpV2AwsAccountRegex"
        },
        "bucketNameRegex": {
          "description": "Optional. Regex to test the bucket name against. If empty, all buckets match.",
          "type": "string"
        }
      },
      "description": "Amazon S3 bucket regex."
    },
    "GooglePrivacyDlpV2SecretManagerCredential": {
      "description": "A credential consisting of a username and password, where the password is stored in a Secret Manager resource. Note: Secret Manager [charges apply](https://cloud.google.com/secret-manager/pricing).",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. The username."
        },
        "passwordSecretVersionName": {
          "description": "Required. The name of the Secret Manager resource that stores the password, in the form `projects/project-id/secrets/secret-name/versions/version`.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2SecretManagerCredential",
      "type": "object"
    },
    "GooglePrivacyDlpV2SecretsDiscoveryTarget": {
      "type": "object",
      "id": "GooglePrivacyDlpV2SecretsDiscoveryTarget",
      "properties": {},
      "description": "Discovery target for credentials and secrets in cloud resource metadata. This target does not include any filtering or frequency controls. Cloud DLP will scan cloud resource metadata for secrets daily. No inspect template should be included in the discovery config for a security benchmarks scan. Instead, the built-in list of secrets and credentials infoTypes will be used (see https://cloud.google.com/sensitive-data-protection/docs/infotypes-reference#credentials_and_secrets). Credentials and secrets discovered will be reported as vulnerabilities to Security Command Center."
    },
    "GooglePrivacyDlpV2Expressions": {
      "description": "An expression, consisting of an operator and conditions.",
      "properties": {
        "logicalOperator": {
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ],
          "type": "string"
        },
        "conditions": {
          "description": "Conditions to apply to the expression.",
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      },
      "id": "GooglePrivacyDlpV2Expressions",
      "type": "object"
    },
    "GooglePrivacyDlpV2ProcessingLocation": {
      "id": "GooglePrivacyDlpV2ProcessingLocation",
      "type": "object",
      "description": "Configure processing location for discovery and inspection. For example, image OCR is only provided in limited regions but configuring ProcessingLocation will redirect OCR to a location where OCR is provided.",
      "properties": {
        "imageFallbackLocation": {
          "description": "Image processing falls back using this configuration.",
          "$ref": "GooglePrivacyDlpV2ImageFallbackLocation"
        },
        "documentFallbackLocation": {
          "description": "Document processing falls back using this configuration.",
          "$ref": "GooglePrivacyDlpV2DocumentFallbackLocation"
        }
      }
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "id": "GooglePrivacyDlpV2ContentLocation",
      "type": "object",
      "description": "Precise location of the finding within a document, record, image, or metadata container.",
      "properties": {
        "documentLocation": {
          "description": "Location data for document files.",
          "$ref": "GooglePrivacyDlpV2DocumentLocation"
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "containerName": {
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for example, an image contained within a document).",
          "type": "string"
        },
        "containerVersion": {
          "type": "string",
          "description": "Finding container version, if available (\"generation\" for Cloud Storage)."
        },
        "recordLocation": {
          "description": "Location within a row or record of a database table.",
          "$ref": "GooglePrivacyDlpV2RecordLocation"
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "containerTimestamp": {
          "description": "Finding container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GooglePrivacyDlpV2PubSubNotification": {
      "type": "object",
      "id": "GooglePrivacyDlpV2PubSubNotification",
      "properties": {
        "event": {
          "enumDescriptions": [
            "Unused.",
            "New profile (not a re-profile).",
            "One of the following profile metrics changed: Data risk score, Sensitivity score, Resource visibility, Encryption type, Predicted infoTypes, Other infoTypes",
            "Table data risk score or sensitivity score increased.",
            "A user (non-internal) error occurred."
          ],
          "type": "string",
          "description": "The type of event that triggers a Pub/Sub. At most one `PubSubNotification` per EventType is permitted.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "NEW_PROFILE",
            "CHANGED_PROFILE",
            "SCORE_INCREASED",
            "ERROR_CHANGED"
          ]
        },
        "pubsubCondition": {
          "description": "Conditions (e.g., data risk or sensitivity level) for triggering a Pub/Sub.",
          "$ref": "GooglePrivacyDlpV2DataProfilePubSubCondition"
        },
        "detailOfMessage": {
          "description": "How much data to include in the Pub/Sub message. If the user wishes to limit the size of the message, they can use resource_name and fetch the profile fields they wish to. Per table profile (not per column).",
          "enum": [
            "DETAIL_LEVEL_UNSPECIFIED",
            "TABLE_PROFILE",
            "RESOURCE_NAME",
            "FILE_STORE_PROFILE"
          ],
          "enumDescriptions": [
            "Unused.",
            "The full table data profile.",
            "The name of the profiled resource.",
            "The full file store data profile."
          ],
          "type": "string"
        },
        "topic": {
          "type": "string",
          "description": "Cloud Pub/Sub topic to send notifications to. Format is projects/{project}/topics/{topic}."
        }
      },
      "description": "Send a Pub/Sub message into the given Pub/Sub topic to connect other systems to data profile generation. The message payload data will be the byte serialization of `DataProfilePubSubMessage`."
    },
    "GooglePrivacyDlpV2KMapEstimationHistogramBucket": {
      "id": "GooglePrivacyDlpV2KMapEstimationHistogramBucket",
      "type": "object",
      "description": "A KMapEstimationHistogramBucket message with the following values: min_anonymity: 3 max_anonymity: 5 frequency: 42 means that there are 42 records whose quasi-identifier values correspond to 3, 4 or 5 people in the overlying population. An important particular case is when min_anonymity = max_anonymity = 1: the frequency field then corresponds to the number of uniquely identifiable records.",
      "properties": {
        "minAnonymity": {
          "type": "string",
          "format": "int64",
          "description": "Always positive."
        },
        "bucketValues": {
          "description": "Sample of quasi-identifier tuple values in this bucket. The total number of classes returned per bucket is capped at 20.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationQuasiIdValues"
          }
        },
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Number of records within these anonymity bounds."
        },
        "maxAnonymity": {
          "type": "string",
          "format": "int64",
          "description": "Always greater than or equal to min_anonymity."
        },
        "bucketValueCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of distinct quasi-identifier tuple values in this bucket."
        }
      }
    },
    "GooglePrivacyDlpV2AllOtherResources": {
      "properties": {},
      "description": "Match discovery resources not covered by any other filter.",
      "type": "object",
      "id": "GooglePrivacyDlpV2AllOtherResources"
    },
    "GooglePrivacyDlpV2OtherInfoTypeSummary": {
      "type": "object",
      "id": "GooglePrivacyDlpV2OtherInfoTypeSummary",
      "properties": {
        "estimatedPrevalence": {
          "type": "integer",
          "format": "int32",
          "description": "Approximate percentage of non-null rows that contained data detected by this infotype."
        },
        "infoType": {
          "description": "The other infoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "excludedFromAnalysis": {
          "description": "Whether this infoType was excluded from sensitivity and risk analysis due to factors such as low prevalence (subject to change).",
          "type": "boolean"
        }
      },
      "description": "Infotype details for other infoTypes found within a column."
    },
    "GooglePrivacyDlpV2FileSet": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The Cloud Storage url of the file(s) to scan, in the format `gs:///`. Trailing wildcard in the path is allowed. If the url ends in a trailing slash, the bucket or directory represented by the url will be scanned non-recursively (content in sub-directories will not be scanned). This means that `gs://mybucket/` is equivalent to `gs://mybucket/*`, and `gs://mybucket/directory/` is equivalent to `gs://mybucket/directory/*`. Exactly one of `url` or `regex_file_set` must be set."
        },
        "regexFileSet": {
          "description": "The regex-filtered set of files to scan. Exactly one of `url` or `regex_file_set` must be set.",
          "$ref": "GooglePrivacyDlpV2CloudStorageRegexFileSet"
        }
      },
      "description": "Set of files to scan.",
      "type": "object",
      "id": "GooglePrivacyDlpV2FileSet"
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data to be detected) to be used anywhere you otherwise would normally specify InspectConfig. See https://cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more.",
      "properties": {
        "inspectConfig": {
          "description": "The core content of the template. Configuration of the scanning process.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`;"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "type": "object"
    },
    "GooglePrivacyDlpV2PublishToSecurityCommandCenter": {
      "description": "If set, a summary finding will be created or updated in Security Command Center for each profile.",
      "properties": {},
      "id": "GooglePrivacyDlpV2PublishToSecurityCommandCenter",
      "type": "object"
    },
    "GooglePrivacyDlpV2MultiRegionProcessing": {
      "type": "object",
      "id": "GooglePrivacyDlpV2MultiRegionProcessing",
      "properties": {},
      "description": "Processing occurs in a multi-region that contains the current region if available."
    },
    "GooglePrivacyDlpV2Key": {
      "description": "A unique identifier for a Datastore entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition.",
          "$ref": "GooglePrivacyDlpV2PartitionId"
        },
        "path": {
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. A path can never be empty, and a path can have at most 100 elements.",
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2PathElement"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Key",
      "type": "object"
    },
    "GooglePrivacyDlpV2CloudSqlDiscoveryTarget": {
      "type": "object",
      "id": "GooglePrivacyDlpV2CloudSqlDiscoveryTarget",
      "properties": {
        "conditions": {
          "description": "In addition to matching the filter, these conditions must be true before a profile is generated.",
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlConditions"
        },
        "disabled": {
          "description": "Disable profiling for database resources that match this filter.",
          "$ref": "GooglePrivacyDlpV2Disabled"
        },
        "generationCadence": {
          "description": "How often and when to update profiles. New tables that match both the filter and conditions are scanned as quickly as possible depending on system capacity.",
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence"
        },
        "filter": {
          "description": "Required. The tables the discovery cadence applies to. The first target with a matching filter will be the one to apply to a table.",
          "$ref": "GooglePrivacyDlpV2DiscoveryCloudSqlFilter"
        }
      },
      "description": "Target used to match against for discovery with Cloud SQL tables."
    },
    "GooglePrivacyDlpV2OtherCloudResourceCollection": {
      "type": "object",
      "id": "GooglePrivacyDlpV2OtherCloudResourceCollection",
      "properties": {
        "includeRegexes": {
          "description": "A collection of regular expressions to match a resource against.",
          "$ref": "GooglePrivacyDlpV2OtherCloudResourceRegexes"
        }
      },
      "description": "Match resources using regex filters."
    },
    "GooglePrivacyDlpV2Dictionary": {
      "properties": {
        "wordList": {
          "description": "List of words or phrases to search for.",
          "$ref": "GooglePrivacyDlpV2WordList"
        },
        "cloudStoragePath": {
          "description": "Newline-delimited file of words in Cloud Storage. Only a single file is accepted.",
          "$ref": "GooglePrivacyDlpV2CloudStoragePath"
        }
      },
      "description": "Custom information type based on a dictionary of words or phrases. This can be used to match sensitive information specific to the data, such as a list of employee IDs or job titles. Dictionary words are case-insensitive and all characters other than letters and digits in the unicode [Basic Multilingual Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane) will be replaced with whitespace when scanning for matches, so the dictionary phrase \"Sam Johnson\" will match all three phrases \"sam johnson\", \"Sam, Johnson\", and \"Sam (Johnson)\". Additionally, the characters surrounding any match must be of a different type than the adjacent characters within the word, so letters must be next to non-letters and digits next to non-digits. For example, the dictionary word \"jen\" will match the first three letters of the text \"jen123\" but will return no matches for \"jennifer\". Dictionary words containing a large number of characters that are not letters or digits may result in unexpected findings because such characters are treated as whitespace. The [limits](https://cloud.google.com/sensitive-data-protection/limits) page contains details about the size limits of dictionaries. For dictionaries that do not fit within these constraints, consider using `LargeCustomDictionaryConfig` in the `StoredInfoType` API.",
      "type": "object",
      "id": "GooglePrivacyDlpV2Dictionary"
    },
    "GooglePrivacyDlpV2BigQueryTableTypes": {
      "type": "object",
      "id": "GooglePrivacyDlpV2BigQueryTableTypes",
      "properties": {
        "types": {
          "description": "A set of BigQuery table types.",
          "items": {
            "enum": [
              "BIG_QUERY_TABLE_TYPE_UNSPECIFIED",
              "BIG_QUERY_TABLE_TYPE_TABLE",
              "BIG_QUERY_TABLE_TYPE_EXTERNAL_BIG_LAKE",
              "BIG_QUERY_TABLE_TYPE_SNAPSHOT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "A normal BigQuery table.",
              "A table that references data stored in Cloud Storage.",
              "A snapshot of a BigQuery table."
            ]
          },
          "type": "array"
        }
      },
      "description": "The types of BigQuery tables supported by Cloud DLP."
    },
    "GooglePrivacyDlpV2QuoteInfo": {
      "description": "Message for infoType-dependent details parsed from quote.",
      "properties": {
        "dateTime": {
          "description": "The date time indicated by the quote.",
          "$ref": "GooglePrivacyDlpV2DateTime"
        }
      },
      "id": "GooglePrivacyDlpV2QuoteInfo",
      "type": "object"
    },
    "GooglePrivacyDlpV2RequestedDeidentifyOptions": {
      "description": "De-identification options.",
      "properties": {
        "snapshotDeidentifyTemplate": {
          "description": "Snapshot of the state of the `DeidentifyTemplate` from the Deidentify action at the time this job was run.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        },
        "snapshotImageRedactTemplate": {
          "description": "Snapshot of the state of the image transformation `DeidentifyTemplate` from the `Deidentify` action at the time this job was run.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        },
        "snapshotStructuredDeidentifyTemplate": {
          "description": "Snapshot of the state of the structured `DeidentifyTemplate` from the `Deidentify` action at the time this job was run.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        }
      },
      "id": "GooglePrivacyDlpV2RequestedDeidentifyOptions",
      "type": "object"
    },
    "GooglePrivacyDlpV2BigQueryRegex": {
      "id": "GooglePrivacyDlpV2BigQueryRegex",
      "type": "object",
      "description": "A pattern to match against one or more tables, datasets, or projects that contain BigQuery tables. At least one pattern must be specified. Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
      "properties": {
        "projectIdRegex": {
          "description": "For organizations, if unset, will match all projects. Has no effect for data profile configurations created within a project.",
          "type": "string"
        },
        "tableIdRegex": {
          "description": "If unset, this property matches all tables.",
          "type": "string"
        },
        "datasetIdRegex": {
          "description": "If unset, this property matches all datasets.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2FileStoreInfoTypeSummary": {
      "properties": {
        "infoType": {
          "description": "The InfoType seen.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        }
      },
      "description": "Information regarding the discovered InfoType.",
      "type": "object",
      "id": "GooglePrivacyDlpV2FileStoreInfoTypeSummary"
    },
    "GooglePrivacyDlpV2InfoTypeDescription": {
      "properties": {
        "launchStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "InfoType is generally available.",
            "InfoType is in public preview.",
            "InfoType is in private preview."
          ],
          "description": "The launch status of the infoType.",
          "enum": [
            "INFO_TYPE_LAUNCH_STATUS_UNSPECIFIED",
            "GENERAL_AVAILABILITY",
            "PUBLIC_PREVIEW",
            "PRIVATE_PREVIEW"
          ]
        },
        "specificInfoTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If this field is set, this infoType is a general infoType and these specific infoTypes are contained within it. General infoTypes are infoTypes that encompass multiple specific infoTypes. For example, the \"GEOGRAPHIC_DATA\" general infoType would have set for this field \"LOCATION\", \"LOCATION_COORDINATES\", and \"STREET_ADDRESS\"."
        },
        "description": {
          "type": "string",
          "description": "Description of the infotype. Translated when language is provided in the request."
        },
        "example": {
          "type": "string",
          "description": "A sample that is a true positive for this infoType."
        },
        "name": {
          "type": "string",
          "description": "Internal name of the infoType."
        },
        "versions": {
          "items": {
            "$ref": "GooglePrivacyDlpV2VersionDescription"
          },
          "type": "array",
          "description": "A list of available versions for the infotype."
        },
        "displayName": {
          "description": "Human readable form of the infoType name.",
          "type": "string"
        },
        "categories": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeCategory"
          },
          "type": "array",
          "description": "The category of the infoType."
        },
        "sensitivityScore": {
          "description": "The default sensitivity of the infoType.",
          "$ref": "GooglePrivacyDlpV2SensitivityScore"
        },
        "supportedBy": {
          "description": "Which parts of the API supports this InfoType.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unused.",
              "Supported by the inspect operations.",
              "Supported by the risk analysis operations."
            ],
            "type": "string",
[...]
