{
  "basePath": "",
  "batchPath": "batch",
  "canonicalName": "Dns",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "rootUrl": "https://dns.googleapis.com/",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "resources": {
    "changes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerates Changes to a ResourceRecordSet collection.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ChangesListResponse"
          },
          "id": "dns.changes.list",
          "parameters": {
            "sortBy": {
              "type": "string",
              "description": "Sorting criterion. The only supported value is change sequence.",
              "location": "query",
              "enumDescriptions": [
                ""
              ],
              "enum": [
                "changeSequence"
              ],
              "default": "changeSequence"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32"
            },
            "sortOrder": {
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes"
        },
        "create": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Atomically updates the ResourceRecordSet collection.",
          "response": {
            "$ref": "Change"
          },
          "id": "dns.changes.create",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Change"
          }
        },
        "get": {
          "response": {
            "$ref": "Change"
          },
          "id": "dns.changes.get",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "changeId": {
              "required": true,
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "description": "Fetches the representation of an existing Change."
        }
      }
    },
    "managedZones": {
      "methods": {
        "delete": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Deletes a previously created ManagedZone.",
          "id": "dns.managedZones.delete",
          "httpMethod": "DELETE"
        },
        "get": {
          "id": "dns.managedZones.get",
          "response": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Fetches the representation of an existing ManagedZone."
        },
        "list": {
          "parameterOrder": [
            "project"
          ],
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "dnsName": {
              "type": "string",
              "description": "Restricts the list to return only zones with this domain name.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "path": "dns/v1/projects/{project}/managedZones",
          "id": "dns.managedZones.list",
          "response": {
            "$ref": "ManagedZonesListResponse"
          }
        },
        "create": {
          "id": "dns.managedZones.create",
          "response": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "path": "dns/v1/projects/{project}/managedZones",
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new ManagedZone."
        },
        "update": {
          "id": "dns.managedZones.update",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Updates an existing ManagedZone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "setIamPolicy": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "resource"
          ],
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "id": "dns.managedZones.setIamPolicy",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "path": "dns/v1/{+resource}:setIamPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          }
        },
        "getIamPolicy": {
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "id": "dns.managedZones.getIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "path": "dns/v1/{+resource}:getIamPolicy",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "id": "dns.managedZones.patch",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Applies a partial update to an existing ManagedZone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "testIamPermissions": {
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          },
          "id": "dns.managedZones.testIamPermissions",
          "path": "dns/v1/{+resource}:testIamPermissions",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "resource"
          ],
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this returns an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "get": {
          "parameters": {
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "operation": {
              "required": true,
              "type": "string",
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "location": "path"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "id": "dns.managedZoneOperations.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "description": "Fetches the representation of an existing Operation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET"
        },
        "list": {
          "id": "dns.managedZoneOperations.list",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "parameters": {
            "sortBy": {
              "enum": [
                "startTime",
                "id"
              ],
              "default": "startTime",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string",
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerates Operations for the given ManagedZone.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "description": "Deletes a previously created ResourceRecordSet.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "name": {
              "required": true,
              "type": "string",
              "description": "Fully qualified domain name.",
              "location": "path"
            },
            "type": {
              "description": "RRSet type.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "response": {
            "$ref": "ResourceRecordSetsDeleteResponse"
          },
          "id": "dns.resourceRecordSets.delete"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Creates a new ResourceRecordSet.",
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.create",
          "response": {
            "$ref": "ResourceRecordSet"
          }
        },
        "get": {
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.get",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "name": {
              "type": "string",
              "description": "Fully qualified domain name.",
              "location": "path",
              "required": true
            },
            "type": {
              "type": "string",
              "description": "RRSet type.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.patch",
          "parameters": {
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "name": {
              "required": true,
              "description": "Fully qualified domain name.",
              "location": "path",
              "type": "string"
            },
            "type": {
              "description": "RRSet type.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}"
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "id": "dns.resourceRecordSets.list",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Specify a fully qualified domain name to view only those records. The `name` parameter is not supported and must be omitted when you use `filter`.",
              "location": "query",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Specify a record type to view only those records. You must also specify the `name` parameter. The `type` parameter is not supported and must be omitted when you use `filter`.",
              "location": "query"
            },
            "filter": {
              "description": "Specify a filter expression to view records that exactly match the specified domain. Both the `name` and `type` parameters are not supported and must be omitted when you use `filter`. Your `filter` expression must conform to AIP-160 and you must specify a domain in the `name` field. Optionally, you can include the `type` field to filter records by type. You can also include the `has_suffix` function to view records that match by domain suffix. Examples: * `name`=\"example.com.\" * `name`=\"example.com.\" AND type=\"A\" * `name`=`has_suffix`(\"example.com.\") * `name`=`has_suffix`(\"example.com.\") AND type=\"A\"",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameters": {
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.get"
        },
        "patch": {
          "id": "dns.responsePolicyRules.patch",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "id": "dns.responsePolicyRules.list",
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy to list.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "dns.responsePolicyRules.delete",
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "description": "Deletes a previously created Response Policy Rule.",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "create": {
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.create",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Creates a new Response Policy Rule."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "description": "Updates an existing Response Policy Rule.",
          "httpMethod": "PUT",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.update",
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          }
        }
      }
    },
    "policies": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "id": "dns.policies.delete",
          "parameters": {
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "description": "Deletes a previously created policy. Fails if the policy is still being referenced by a network.",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "create": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Policy"
          },
          "id": "dns.policies.create",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Policy"
          },
          "path": "dns/v1/projects/{project}/policies",
          "flatPath": "dns/v1/projects/{project}/policies"
        },
        "update": {
          "parameterOrder": [
            "project",
            "policy"
          ],
          "description": "Updates an existing policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.update",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "policy"
          ],
          "description": "Fetches the representation of an existing policy.",
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Policy"
          },
          "id": "dns.policies.get"
        },
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "policy"
          ],
          "description": "Applies a partial update to an existing policy.",
          "id": "dns.policies.patch",
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "policy": {
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "Policy"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "description": "Enumerates all policies associated with a project.",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/policies",
          "path": "dns/v1/projects/{project}/policies",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "id": "dns.policies.list",
          "response": {
            "$ref": "PoliciesListResponse"
          }
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "parameters": {
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32"
            },
            "digestType": {
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "id": "dns.dnsKeys.list"
        },
        "get": {
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "dnsKeyId": {
              "type": "string",
              "description": "The identifier of the requested DnsKey.",
              "location": "path",
              "required": true
            },
            "digestType": {
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "response": {
            "$ref": "DnsKey"
          },
          "id": "dns.dnsKeys.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "description": "Fetches the representation of an existing DnsKey.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "flatPath": "dns/v1/projects/{project}",
          "path": "dns/v1/projects/{project}",
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "id": "dns.projects.get",
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "description": "Fetches the representation of an existing Project.",
          "httpMethod": "GET"
        }
      }
    },
    "responsePolicies": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "description": "Enumerates all Response Policies associated with a project.",
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "id": "dns.responsePolicies.list",
          "path": "dns/v1/projects/{project}/responsePolicies",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Fetches the representation of an existing Response Policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.get",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path"
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Applies a partial update to an existing Response Policy.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.responsePolicies.patch",
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "parameters": {
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the response policy addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ResponsePolicy"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "dns.responsePolicies.delete",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Updates an existing Response Policy.",
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "id": "dns.responsePolicies.update",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ResponsePolicy"
          }
        },
        "create": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new Response Policy",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.create",
          "path": "dns/v1/projects/{project}/responsePolicies",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ResponsePolicy"
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dns",
  "description": "",
  "id": "dns:v1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "revision": "20260402",
  "ownerDomain": "google.com",
  "baseUrl": "https://dns.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "title": "Cloud DNS API",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/dns/docs",
  "schemas": {
    "ResourceRecordSetsListResponse": {
      "type": "object",
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "rrsets": {
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "The resource record set resources."
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "dns#resourceRecordSetsListResponse"
        }
      }
    },
    "DnsKey": {
      "type": "object",
      "description": "A DNSSEC key pair.",
      "id": "DnsKey",
      "properties": {
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.",
          "type": "string"
        },
        "digests": {
          "type": "array",
          "items": {
            "$ref": "DnsKeyDigest"
          },
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only."
        },
        "algorithm": {
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "publicKey": {
          "type": "string",
          "description": "Base64 encoded public half of this key. Output only."
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only."
        },
        "isActive": {
          "description": "Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures.",
          "type": "boolean"
        },
        "type": {
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "keyLength": {
          "description": "Length of the key in bits. Specified at creation time, and then immutable.",
          "format": "uint32",
          "type": "integer"
        },
        "keyTag": {
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "kind": {
          "default": "dns#dnsKey",
          "type": "string"
        }
      }
    },
    "Quota": {
      "description": "Limits associated with a Project.",
      "type": "object",
      "id": "Quota",
      "properties": {
        "networksPerManagedZone": {
          "type": "integer",
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached.",
          "format": "int32"
        },
        "rrsetAdditionsPerChange": {
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.",
          "format": "int32"
        },
        "managedZonesPerGkeCluster": {
          "type": "integer",
          "description": "Maximum allowed number of managed zones which can be attached to a GKE cluster.",
          "format": "int32"
        },
        "networksPerResponsePolicy": {
          "type": "integer",
          "description": "Maximum allowed number of networks per response policy.",
          "format": "int32"
        },
        "rrsetsPerManagedZone": {
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project.",
          "format": "int32",
          "type": "integer"
        },
        "policies": {
          "type": "integer",
          "description": "Maximum allowed number of policies per project.",
          "format": "int32"
        },
        "whitelistedKeySpecs": {
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys.",
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          }
        },
        "managedZonesPerNetwork": {
          "type": "integer",
          "description": "Maximum allowed number of managed zones which can be attached to a network.",
          "format": "int32"
        },
        "rrsetDeletionsPerChange": {
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "format": "int32"
        },
        "targetNameServersPerManagedZone": {
          "description": "Maximum allowed number of target name servers per managed forwarding zone.",
          "format": "int32",
          "type": "integer"
        },
        "dnsKeysPerManagedZone": {
          "type": "integer",
          "description": "Maximum allowed number of DnsKeys per ManagedZone.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "default": "dns#quota"
        },
        "managedZones": {
          "type": "integer",
          "description": "Maximum allowed number of managed zones in the project.",
          "format": "int32"
        },
        "targetNameServersPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of alternative target name servers per policy.",
          "format": "int32"
        },
        "resourceRecordsPerRrset": {
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet.",
          "format": "int32"
        },
        "gkeClustersPerManagedZone": {
          "description": "Maximum allowed number of GKE clusters to which a privately scoped zone can be attached.",
          "format": "int32",
          "type": "integer"
        },
        "gkeClustersPerPolicy": {
          "description": "Maximum allowed number of GKE clusters per policy.",
          "format": "int32",
          "type": "integer"
        },
        "peeringZonesPerTargetNetwork": {
          "type": "integer",
          "description": "Maximum allowed number of consumer peering zones per target network owned by this producer project",
          "format": "int32"
        },
        "nameserversPerDelegation": {
          "type": "integer",
          "description": "Maximum number of nameservers per delegation, meant to prevent abuse",
          "format": "int32"
        },
        "responsePolicyRulesPerResponsePolicy": {
          "description": "Maximum allowed number of rules per response policy.",
          "format": "int32",
          "type": "integer"
        },
        "itemsPerRoutingPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of items per routing policy.",
          "format": "int32"
        },
        "gkeClustersPerResponsePolicy": {
          "type": "integer",
          "description": "Maximum allowed number of GKE clusters per response policy.",
          "format": "int32"
        },
        "internetHealthChecksPerManagedZone": {
          "format": "int32",
          "type": "integer"
        },
        "totalRrdataSizePerChange": {
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.",
          "format": "int32",
          "type": "integer"
        },
        "responsePolicies": {
          "description": "Maximum allowed number of response policies per project.",
          "format": "int32",
          "type": "integer"
        },
        "networksPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of networks per policy.",
          "format": "int32"
        }
      }
    },
    "GoogleIamV1GetPolicyOptions": {
      "id": "GoogleIamV1GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "description": "A routing block which contains the routing information for one WRR item.",
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "properties": {
        "signatureRrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "healthCheckedTargets": {
          "description": "Endpoints that are health checked before making the routing decision. The unhealthy endpoints are omitted from the result. If all endpoints within a bucket are unhealthy, we choose a different bucket (sampled with respect to its weight) for responding. If DNSSEC is enabled for this zone, only one of `rrdata` or `health_checked_targets` can be set.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "weight": {
          "description": "The weight corresponding to this `WrrPolicyItem` object. When multiple `WrrPolicyItem` objects are configured, the probability of returning an `WrrPolicyItem` object's data is proportional to its weight relative to the sum of weights configured for all items. This weight must be non-negative.",
          "format": "double",
          "type": "number"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem",
          "type": "string"
        }
      }
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "description": "The configuration for an individual load balancer to health check.",
      "type": "object",
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "properties": {
        "port": {
          "type": "string",
          "description": "The configured port of the load balancer."
        },
        "networkUrl": {
          "description": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget"
        },
        "loadBalancerType": {
          "enum": [
            "none",
            "globalL7ilb",
            "regionalL4ilb",
            "regionalL7ilb"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is a Cross-Region Application Load Balancer.",
            "Indicates the load balancer is a Regional Network Passthrough Load Balancer.",
            "Indicates the load balancer is a Regional Application Load Balancer."
          ],
          "description": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. "
        },
        "project": {
          "description": "The project ID in which the load balancer is located.",
          "type": "string"
        },
        "region": {
          "description": "The region in which the load balancer is located.",
          "type": "string"
        },
        "ipAddress": {
          "description": "The frontend IP address of the load balancer to health check.",
          "type": "string"
        },
        "ipProtocol": {
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is accessible via TCP.",
            "Indicates the load balancer is accessible via UDP."
          ],
          "description": "The protocol of the load balancer to health check."
        }
      }
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "PolicyDns64ConfigScope": {
      "type": "object",
      "id": "PolicyDns64ConfigScope",
      "properties": {
        "allQueries": {
          "description": "Controls whether DNS64 is enabled globally for all networks bound to the policy.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyDns64ConfigScope"
        }
      }
    },
    "ResponsePoliciesPatchResponse": {
      "id": "ResponsePoliciesPatchResponse",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfigNetwork"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRulesPatchResponse": {
      "id": "ResponsePolicyRulesPatchResponse",
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "type": "object"
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
        },
        "healthCheckedTargets": {
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with `rrdata` within this item.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatureRrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
        }
      },
      "type": "object",
      "description": "ResourceRecordSet data for one geo location."
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion.",
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicy",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        }
      }
    },
    "ResponsePolicyRulesUpdateResponse": {
      "id": "ResponsePolicyRulesUpdateResponse",
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "type": "object"
    },
    "PolicyNetwork": {
      "type": "object",
      "id": "PolicyNetwork",
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyNetwork"
        }
      }
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "properties": {
        "deactivateTime": {
          "type": "string",
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfigTargetNetwork"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enum": [
            "pending",
            "done"
          ]
        },
        "type": {
          "type": "string",
          "description": "Type of the operation. Operations include insert, update, and delete (output only)."
        },
        "dnsKeyContext": {
          "description": "Only populated if the operation targeted a DnsKey (output only).",
[...]
