{
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/dns/docs",
  "protocol": "rest",
  "servicePath": "",
  "baseUrl": "https://dns.googleapis.com/",
  "description": "",
  "revision": "20260310",
  "name": "dns",
  "ownerName": "Google",
  "title": "Cloud DNS API",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "rootUrl": "https://dns.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "managedZoneOperations": {
      "methods": {
        "get": {
          "description": "Fetches the representation of an existing Operation.",
          "id": "dns.managedZoneOperations.get",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "operation": {
              "location": "path",
              "required": true,
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET"
        },
        "list": {
          "description": "Enumerates Operations for the given ManagedZone.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "id": "dns.managedZoneOperations.list",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "sortBy": {
              "enumDescriptions": [
                "",
                ""
              ],
              "default": "startTime",
              "enum": [
                "startTime",
                "id"
              ],
              "location": "query",
              "type": "string",
              "description": "Sorting criterion. The only supported values are START_TIME and ID."
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "policies": {
      "methods": {
        "list": {
          "description": "Enumerates all policies associated with a project.",
          "path": "dns/v1/projects/{project}/policies",
          "id": "dns.policies.list",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/policies",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "description": "Applies a partial update to an existing policy.",
          "request": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "policy"
          ],
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.patch"
        },
        "create": {
          "request": {
            "$ref": "Policy"
          },
          "description": "Creates a new policy.",
          "id": "dns.policies.create",
          "path": "dns/v1/projects/{project}/policies",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1/projects/{project}/policies",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "POST"
        },
        "delete": {
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.delete",
          "httpMethod": "DELETE",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "parameters": {
            "policy": {
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Deletes a previously created policy. Fails if the policy is still being referenced by a network."
        },
        "update": {
          "request": {
            "$ref": "Policy"
          },
          "description": "Updates an existing policy.",
          "id": "dns.policies.update",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "policy": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PUT",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "PoliciesUpdateResponse"
          }
        },
        "get": {
          "description": "Fetches the representation of an existing policy.",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "policy": {
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "policy"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "Policy"
          },
          "httpMethod": "GET",
          "id": "dns.policies.get",
          "path": "dns/v1/projects/{project}/policies/{policy}"
        }
      }
    },
    "changes": {
      "methods": {
        "create": {
          "request": {
            "$ref": "Change"
          },
          "description": "Atomically updates the ResourceRecordSet collection.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "id": "dns.changes.create",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "get": {
          "description": "Fetches the representation of an existing Change.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "changeId": {
              "type": "string",
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "required": true,
              "location": "path"
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "id": "dns.changes.get"
        },
        "list": {
          "description": "Enumerates Changes to a ResourceRecordSet collection.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "id": "dns.changes.list",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "location": "query"
            },
            "sortBy": {
              "type": "string",
              "description": "Sorting criterion. The only supported value is change sequence.",
              "default": "changeSequence",
              "enum": [
                "changeSequence"
              ],
              "location": "query",
              "enumDescriptions": [
                ""
              ]
            },
            "sortOrder": {
              "location": "query",
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "type": "string"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "get": {
          "description": "Fetches the representation of an existing DnsKey.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "id": "dns.dnsKeys.get",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "response": {
            "$ref": "DnsKey"
          },
          "httpMethod": "GET",
          "parameters": {
            "digestType": {
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query"
            },
            "dnsKeyId": {
              "description": "The identifier of the requested DnsKey.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ]
        },
        "list": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "digestType": {
              "location": "query",
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "id": "dns.dnsKeys.list",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection."
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "delete": {
          "id": "dns.responsePolicyRules.delete",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "required": true,
              "location": "path"
            },
            "responsePolicyRule": {
              "location": "path",
              "required": true,
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Deletes a previously created Response Policy Rule.",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "DELETE"
        },
        "update": {
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "id": "dns.responsePolicyRules.update",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "httpMethod": "PUT",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "description": "Updates an existing Response Policy Rule."
        },
        "get": {
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicyRule": {
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.get",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Fetches the representation of an existing Response Policy Rule."
        },
        "patch": {
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PATCH",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "id": "dns.responsePolicyRules.patch",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}"
        },
        "create": {
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "description": "Creates a new Response Policy Rule.",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "id": "dns.responsePolicyRules.create",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "httpMethod": "POST",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ]
        },
        "list": {
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "id": "dns.responsePolicyRules.list",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy to list.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          }
        }
      }
    },
    "responsePolicies": {
      "methods": {
        "get": {
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.get",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "httpMethod": "GET",
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Fetches the representation of an existing Response Policy."
        },
        "delete": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.delete"
        },
        "update": {
          "id": "dns.responsePolicies.update",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PUT",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "request": {
            "$ref": "ResponsePolicy"
          },
          "description": "Updates an existing Response Policy."
        },
        "create": {
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies",
          "id": "dns.responsePolicies.create",
          "description": "Creates a new Response Policy",
          "request": {
            "$ref": "ResponsePolicy"
          }
        },
        "patch": {
          "description": "Applies a partial update to an existing Response Policy.",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "responsePolicy": {
              "type": "string",
              "description": "User assigned name of the response policy addressed by this request.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "httpMethod": "PATCH",
          "id": "dns.responsePolicies.patch",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}"
        },
        "list": {
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "location": "query"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "id": "dns.responsePolicies.list",
          "path": "dns/v1/projects/{project}/responsePolicies",
          "description": "Enumerates all Response Policies associated with a project."
        }
      }
    },
    "managedZones": {
      "methods": {
        "list": {
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "maxResults": {
              "location": "query",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "type": "integer"
            },
            "dnsName": {
              "type": "string",
              "description": "Restricts the list to return only zones with this domain name.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones",
          "id": "dns.managedZones.list"
        },
        "patch": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "id": "dns.managedZones.patch",
          "description": "Applies a partial update to an existing ManagedZone.",
          "request": {
            "$ref": "ManagedZone"
          }
        },
        "create": {
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "response": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "POST",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1/projects/{project}/managedZones",
          "id": "dns.managedZones.create",
          "description": "Creates a new ManagedZone.",
          "request": {
            "$ref": "ManagedZone"
          }
        },
        "setIamPolicy": {
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "httpMethod": "POST",
          "id": "dns.managedZones.setIamPolicy",
          "path": "dns/v1/{+resource}:setIamPolicy"
        },
        "get": {
          "parameters": {
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "GET",
          "id": "dns.managedZones.get",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Fetches the representation of an existing ManagedZone."
        },
        "testIamPermissions": {
          "id": "dns.managedZones.testIamPermissions",
          "path": "dns/v1/{+resource}:testIamPermissions",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this returns an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
        },
        "delete": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "id": "dns.managedZones.delete",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "DELETE",
          "parameters": {
            "managedZone": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Deletes a previously created ManagedZone.",
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "update": {
          "description": "Updates an existing ManagedZone.",
          "request": {
            "$ref": "ManagedZone"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PUT",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "Operation"
          },
          "id": "dns.managedZones.update",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}"
        },
        "getIamPolicy": {
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "id": "dns.managedZones.getIamPolicy",
          "path": "dns/v1/{+resource}:getIamPolicy",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "type": "string",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "httpMethod": "POST"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "description": "Fetches the representation of an existing Project.",
          "path": "dns/v1/projects/{project}",
          "id": "dns.projects.get",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}",
          "response": {
            "$ref": "Project"
          },
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "get": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "id": "dns.resourceRecordSets.get",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Fully qualified domain name.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "type": {
              "location": "path",
              "required": true,
              "description": "RRSet type.",
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "description": "Fetches the representation of an existing ResourceRecordSet."
        },
        "delete": {
          "description": "Deletes a previously created ResourceRecordSet.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "response": {
            "$ref": "ResourceRecordSetsDeleteResponse"
          },
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Fully qualified domain name."
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "type": {
              "description": "RRSet type.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "id": "dns.resourceRecordSets.delete"
        },
        "create": {
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Creates a new ResourceRecordSet.",
          "id": "dns.resourceRecordSets.create",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "response": {
            "$ref": "ResourceRecordSet"
          }
        },
        "patch": {
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "httpMethod": "PATCH",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "RRSet type.",
              "required": true,
              "location": "path"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Fully qualified domain name.",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "id": "dns.resourceRecordSets.patch"
        },
        "list": {
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "id": "dns.resourceRecordSets.list",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameters": {
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "format": "int32",
              "location": "query"
            },
            "name": {
              "type": "string",
              "description": "Specify a fully qualified domain name to view only those records. The name parameter is not supported and must be omitted when you use filter.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "type": {
              "location": "query",
              "type": "string",
              "description": "Specify a record type to view only those records. You must also specify the name parameter. The type parameter is not supported and must be omitted when you use filter."
            },
            "filter": {
              "type": "string",
              "description": "Specify a filter expression to view records that exactly match the specified domain. Both the name and type parameters are not supported when you use filter and must be omitted. Your filter expression must conform to AIP-160 and you must specify a domain in the name field. Optionally, you can include the type field to filter records by type. You can also include the has_suffix function to view records that match by domain suffix. Examples: - name=\"example.com.\" - name=\"example.com.\" AND type=\"A\" - name=has_suffix(\"example.com.\") - name=has_suffix(\"example.com.\") AND type=\"A\" ",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "id": "dns:v1",
  "canonicalName": "Dns",
  "ownerDomain": "google.com",
  "version": "v1",
  "schemas": {
    "DnsKeySpec": {
      "type": "object",
      "id": "DnsKeySpec",
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "properties": {
        "keyType": {
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "algorithm": {
          "description": "String mnemonic specifying the DNSSEC algorithm of this key.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ]
        },
        "keyLength": {
          "type": "integer",
          "description": "Length of the keys in bits.",
          "format": "uint32"
        },
        "kind": {
          "default": "dns#dnsKeySpec",
          "type": "string"
        }
      }
    },
    "PoliciesPatchResponse": {
      "type": "object",
      "id": "PoliciesPatchResponse",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "PolicyAlternativeNameServerConfig": {
      "type": "object",
      "id": "PolicyAlternativeNameServerConfig",
      "properties": {
        "kind": {
          "default": "dns#policyAlternativeNameServerConfig",
          "type": "string"
        },
        "targetNameServers": {
          "type": "array",
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          }
        }
      }
    },
    "ResourceRecordSet": {
      "type": "object",
      "id": "ResourceRecordSet",
      "description": "A unit of data that is returned by the DNS servers.",
      "properties": {
        "ttl": {
          "description": "Number of seconds that this `ResourceRecordSet` can be cached by resolvers.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "For example, www.example.com."
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
        },
        "type": {
          "type": "string",
          "description": "The identifier of a supported record type. See the list of Supported DNS record types."
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "description": "As defined in RFC 4034 (section 3.2).",
          "type": "array"
        },
        "kind": {
          "default": "dns#resourceRecordSet",
          "type": "string"
        },
        "routingPolicy": {
          "description": "Configures dynamic query responses based on either the geo location of the querying user or a weighted round robin based routing policy. A valid `ResourceRecordSet` contains only `rrdata` (for static resolution) or a `routing_policy` (for dynamic resolution).",
          "$ref": "RRSetRoutingPolicy"
        }
      }
    },
    "ResponsePolicyRulesListResponse": {
      "type": "object",
      "id": "ResponsePolicyRulesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "responsePolicyRules": {
          "type": "array",
          "description": "The Response Policy Rule resources.",
          "items": {
            "$ref": "ResponsePolicyRule"
          }
        }
      }
    },
    "ResourceRecordSetsListResponse": {
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "rrsets": {
          "description": "The resource record set resources.",
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "kind": {
          "type": "string",
          "description": "Type of resource.",
          "default": "dns#resourceRecordSetsListResponse"
        }
      },
      "type": "object"
    },
    "PoliciesUpdateResponse": {
      "type": "object",
      "id": "PoliciesUpdateResponse",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      }
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "id": "RRSetRoutingPolicyWrrPolicy",
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyDns64Config": {
      "id": "PolicyDns64Config",
      "description": "DNS64 policies",
      "properties": {
        "scope": {
          "description": "The scope to which DNS64 config will be applied to.",
          "$ref": "PolicyDns64ConfigScope"
        },
        "kind": {
          "default": "dns#policyDns64Config",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "properties": {
        "name": {
          "description": "User-assigned name for this policy.",
          "type": "string"
        },
        "alternativeNameServerConfig": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "$ref": "PolicyAlternativeNameServerConfig"
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function.",
          "type": "string"
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "enableInboundForwarding": {
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy.",
          "type": "boolean"
        },
        "networks": {
          "items": {
            "$ref": "PolicyNetwork"
          },
          "type": "array",
          "description": "List of network names specifying networks to which this policy is applied."
        },
        "dns64Config": {
          "description": "Configurations related to DNS64 for this policy.",
          "$ref": "PolicyDns64Config"
        },
        "kind": {
          "default": "dns#policy",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "uint64"
        }
      }
    },
    "Change": {
      "id": "Change",
      "description": "A Change represents a set of `ResourceRecordSet` additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the `ResourceRecordSets` in a `ManagedZone`. The current state of the `ManagedZone` is the sum effect of applying all `Change` elements in the `Changes` collection in sequence.",
      "properties": {
        "deletions": {
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "additions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array",
          "description": "Which ResourceRecordSets to add?"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "status": {
          "type": "string",
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format."
        },
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        },
        "kind": {
          "default": "dns#change",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChangesListResponse": {
      "id": "ChangesListResponse",
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection.",
      "properties": {
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "default": "dns#changesListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "changes": {
          "items": {
            "$ref": "Change"
          },
          "description": "The requested changes.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ManagedZone": {
      "type": "object",
      "id": "ManagedZone",
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.",
      "properties": {
        "cloudLoggingConfig": {
          "$ref": "ManagedZoneCloudLoggingConfig"
        },
        "dnsName": {
          "type": "string",
          "description": "The DNS name of this managed zone, for instance \"example.com.\"."
        },
        "reverseLookupConfig": {
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config.",
          "$ref": "ManagedZoneReverseLookupConfig"
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "format": "uint64"
        },
        "creationTime": {
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only.",
          "type": "string"
        },
        "labels": {
          "description": "User labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceDirectoryConfig": {
          "description": "This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones.",
          "$ref": "ManagedZoneServiceDirectoryConfig"
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
        },
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team.",
          "type": "string"
        },
        "dnssecConfig": {
          "description": "DNSSEC configuration.",
          "$ref": "ManagedZoneDnsSecConfig"
        },
        "privateVisibilityConfig": {
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.",
          "$ref": "ManagedZonePrivateVisibilityConfig"
        },
        "peeringConfig": {
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with.",
          "$ref": "ManagedZonePeeringConfig"
        },
        "kind": {
          "default": "dns#managedZone",
          "type": "string"
        },
        "forwardingConfig": {
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.",
          "$ref": "ManagedZoneForwardingConfig"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
        },
        "nameServers": {
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "visibility": {
          "enum": [
            "public",
            "private"
          ],
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enumDescriptions": [
            "Indicates that records in this zone can be queried from the public internet.",
            "Indicates that records in this zone cannot be queried from the public internet. Access to private zones depends on the zone configuration."
          ],
          "type": "string"
        }
      }
    },
    "ResponsePoliciesListResponse": {
      "type": "object",
      "id": "ResponsePoliciesListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "responsePolicies": {
          "type": "array",
          "description": "The Response Policy resources.",
          "items": {
            "$ref": "ResponsePolicy"
          }
        }
      }
    },
    "OperationManagedZoneContext": {
      "type": "object",
      "id": "OperationManagedZoneContext",
      "properties": {
        "oldValue": {
          "description": "The pre-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        }
      }
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "type": "object",
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "description": "The configuration for an individual load balancer to health check.",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "The frontend IP address of the load balancer to health check."
        },
        "project": {
          "description": "The project ID in which the load balancer is located.",
          "type": "string"
        },
        "loadBalancerType": {
          "description": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. ",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is a Cross-Region Application Load Balancer.",
            "Indicates the load balancer is a Regional Network Passthrough Load Balancer.",
            "Indicates the load balancer is a Regional Application Load Balancer."
          ],
          "type": "string",
          "enum": [
            "none",
            "globalL7ilb",
            "regionalL4ilb",
            "regionalL7ilb"
          ]
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`."
        },
        "region": {
          "type": "string",
          "description": "The region in which the load balancer is located."
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget",
          "type": "string"
        },
        "port": {
          "type": "string",
          "description": "The configured port of the load balancer."
        },
        "ipProtocol": {
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ],
          "description": "The protocol of the load balancer to health check.",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is accessible via TCP.",
            "Indicates the load balancer is accessible via UDP."
          ],
          "type": "string"
        }
      }
    },
    "PoliciesListResponse": {
      "type": "object",
      "id": "PoliciesListResponse",
      "properties": {
        "policies": {
          "items": {
            "$ref": "Policy"
          },
          "description": "The policy resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of resource.",
          "default": "dns#policiesListResponse"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only)."
        },
        "dnsKeyContext": {
          "description": "Only populated if the operation targeted a DnsKey (output only).",
          "$ref": "OperationDnsKeyContext"
        },
        "kind": {
          "default": "dns#operation",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)",
          "type": "string"
        },
        "status": {
          "enum": [
            "pending",
            "done"
          ],
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
        },
        "zoneContext": {
          "description": "Only populated if the operation targeted a ManagedZone (output only).",
          "$ref": "OperationManagedZoneContext"
        },
        "type": {
          "type": "string",
          "description": "Type of the operation. Operations include insert, update, and delete (output only)."
        }
      },
      "type": "object"
    },
    "ManagedZoneForwardingConfig": {
      "type": "object",
      "id": "ManagedZoneForwardingConfig",
      "properties": {
        "kind": {
          "default": "dns#managedZoneForwardingConfig",
          "type": "string"
        },
        "targetNameServers": {
          "type": "array",
          "description": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given.",
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          }
        }
      }
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "properties": {
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigNetwork",
          "type": "string"
        }
      }
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
[...]
